%h1.control-legend{data: {toggle: "collapse", target: "#mode"}}
  Mode

#mode.in.collapse
  = f.label :ailab_mode, 'Mode JSON'
  = f.text_area :mode, placeholder: 'Insert JSON Data', rows: 10, style: 'width: 50%', value: @level.mode
