%h1.control-legend{data: {toggle: "collapse", target: "#blockPools"}}
  Block Pools

#blockPools.in.collapse

  %p
    Select from the available Blockly pools. Note that currently used pools are listed at the top.
  %p
    Select
    %a.select_all{href: '#'} all
    \/
    %a.select_none{href: '#'} none
    (shift-click or cmd-click to select multiple).
  = f.select :block_pools, ((@level.block_pools || []) + Block.all_pool_names.sort_by(&:downcase)).uniq, {}, {size: 12, multiple: true}

  %p Block pools currently used  (does not update until level is saved):
  = @block_pools = @level.block_pools

