- content_for :body_scripts do
  %script{src: webpack_asset_path('js/levels/editors/fields/_callouts.js')}

%h1.control-legend{data: {toggle: "collapse", target: "#callout_editor"}}
  Callouts

%p
  Need help? Have questions? Learn how to create callouts
  =link_to 'here', 'https://github.com/code-dot-org/code-dot-org/wiki/%5BLevelbuilder%5D-Creating-a-Callout', target:'_blank'

#callout_editor.in.collapse
  .json_editor
    .json_template
      .callout_space
        %label Callout
        %table
          %tr
            %td.required Element ID
            %td.required{colspan: 2} Localization Key
            %td.required{colspan: 5} Callout text
          %tr
            %td
              %input.element_id{type: 'text', placeholder: '#runButton'}
            %td{colspan: 2}
              %input.localization_key{type: 'text', placeholder: 'level_name_callout1', style: 'width: 96%'}
            %td{colspan: 5}
              %input.callout_text{type: 'text', placeholder: 'Text of callout', style: 'width: 97%'}
          %tr
            %td Qtip on callout
            %td Qtip points to
            %td Show when
            %td X dist
            %td Y dist
            %td Classes
            %td Reappear
            %td Palette Category
          %tr
            %td
              %select.my
                %option{value: 'top left'} Top left
                %option{value: 'top center'} Top center
                %option{value: 'top right'} Top right
                %option{value: 'right top'} Right top
                %option{value: 'right center'} Right center
                %option{value: 'right bottom'} Right bottom
                %option{value: 'bottom right'} Bottom right
                %option{value: 'bottom center'} Bottom center
                %option{value: 'bottom left'} Bottom left
                %option{value: 'left bottom'} Left bottom
                %option{value: 'left center'} Left center
                %option{value: 'left top'} Left top
            %td
              %select.at{style: 'width: 140px;'}
                %option{value: 'top left'} Top left
                %option{value: 'top center'} Top center
                %option{value: 'top right'} Top right
                %option{value: 'right top'} Right top
                %option{value: 'right center'} Right center
                %option{value: 'right bottom'} Right bottom
                %option{value: 'bottom right'} Bottom right
                %option{value: 'bottom center'} Bottom center
                %option{value: 'bottom left'} Bottom left
                %option{value: 'left bottom'} Left bottom
                %option{value: 'left center'} Left center
                %option{value: 'left top'} Left top
            %td
              %input.on{type: 'text', style: 'width: 160px;', placeholder: 'function_editor_opened'}
            %td
              %input.x{type: 'number', style: 'width: 40px;'}
            %td
              %input.y{type: 'number', style: 'width: 40px;'}
            %td
              %input.classes{type: 'text', placeholder: 'no-tip', style: 'width: 80px;'}
            %td
              %input.canReappear{type: 'checkbox', placeholder: 'false', style: 'width: 50px;'}
            %td
              %input.dropletPaletteCategory{type: 'text', placeholder: 'math', style: 'width: 100px;'}
          %tr
        %button.remove_callout{type: 'button'}
          %i.icon-trash
        %hr
    #all_callouts_editor
    %button#add_callout{type: 'button'} Add a callout

  .field
    = f.label :callout_json
    %div{style: '-webkit-user-select: text'}
    ~ f.text_area :callout_json, rows: 4
