%h1.control-legend{data: {toggle: "collapse", target: "#csa_features"}}
  CSA Features

#csa_features.in.collapse
  = render partial: 'levels/editors/fields/checkboxes', locals: {f: f, field_name: :csa_view_mode, description: "Select either Neighborhood, Theater, or Console View"}

