%legend.control-legend.collapsed{data: {toggle: "collapse", target: "#display-area"}}
  Display Area
#display-area.in.collapse
  - if @level.is_a?(Applab)
    = render partial: 'levels/editors/fields/applab_design_mode', locals: {f: f}
    = render partial: 'levels/editors/fields/applab_data', locals: {f: f}

  - if @level.is_a?(Gamelab) && !@level.is_a?(GamelabJr)
    = render partial: 'levels/editors/fields/control_buttons', locals: {f: f}
    = render partial: 'levels/editors/fields/animation', locals: {f: f}
