%h1.control-legend{data: {toggle: "collapse", target: "#helperLibraries"}}
  Helper Libraries

#helperLibraries.in.collapse

  %p
    Select
    %a.select_all{href: '#'} all
    \/
    %a.select_none{href: '#'} none
    (shift-click or cmd-click to select multiple).
  = f.select :helper_libraries, ((@level.helper_libraries || ["NativeSpriteLab"]) + Library.distinct.pluck(:name).sort_by(&:downcase)).uniq, {}, {size: 12, multiple: true}

  %p Libraries currently used:
  = @libraries = @level.helper_libraries
