%h1.control-legend{data: {toggle: "collapse", target: "#javalab_files"}}
  Source Files

#javalab_files.in.collapse
  %table.javalab_file_table
    %tr
      %th File
      %th Type
      %th Actions
    - @level.start_sources.keys.map{|key| key.to_s}.each do |filename|
      %tr
        %td
          = filename
        %td
          -# %select{name: "level[visible[#{filename}]]"}
          -#   %option{value: false, selected: !@level.start_sources[filename]["visible"]}= "Support"
          -#   %option{value: true, selected: @level.start_sources[filename]["visible"]}= "Starter"
          = f.select "visible[#{filename}]", options_for_select([["Support", false], ["Starter", true]], @level.start_sources[filename]["visible"]), {selected: @level.start_sources[filename]["visible"]}
        %td TBD
