%h1.control-legend{data: {toggle: "collapse", target: "#music-level-data-container"}}
  Music Level Data

#music-level-data-container.in.collapse

- content_for :body_scripts do
  %script{src: webpack_asset_path('js/levels/editors/fields/_music_level_data.js'),
        data: {musicleveldata: (@level.properties['level_data'] || {}).to_json}}
