%h1.control-legend{data: {toggle: "collapse", target: "#special_vars_area"}}
  Special Variables

#special_vars_area.in.collapse
  - if @level.respond_to? :neighborhood_enabled
    = render partial: 'levels/editors/fields/checkboxes', locals: {f: f, field_name: :neighborhood_enabled, description: "Display Neighborhood visualization"}
    %p If set, this level will display the neighborhood visualization area
