%h1.control-legend{data: {toggle: "collapse", target: "#play_space"}}
  Play Space

#play_space.in.collapse
  %p
    This feature is experimental and should be manually tested on the designated levels where it is enabled.
  = render partial: 'levels/editors/fields/checkboxes', locals: {f: f, field_name: :enable_big_playspace, description: "Enable Big Playspace"}
