= f.label :default_poem, 'Default Poem'
= f.select :default_poem, options_for_select(poems, @level.default_poem)

= f.label :dropdown_poems, 'Available Poems'
%p If you would like to customize the available poems in the level, select poems here. Otherwise, all poems will be available.
%p
  Select
  %a.select_all{href: '#'} all
  \/
  %a.select_none{href: '#'} no
  (shift-click or cmd-click to select multiple).
= f.select :dropdown_poems, (poems), {}, {multiple: true}
