%h1.control-legend{data: {toggle: "collapse", target: "#songSelection"}}
  Limit Song Selection

#songSelection.in.collapse
  %p
    Click to
    %a.select_none{href: '#'} not limit song selection
  %p (shift-click or cmd-click to select multiple).
  = f.select :song_selection, @level.class.hoc_songs, {}, {size: 12, multiple: true}
