.field
  = render partial: 'levels/editors/fields/checkboxes', locals: {f: f, field_name: :show_debug_watch, description: "Show Watchers UI in Debug Area"}
.field
  = f.label 'Pre-populated Watchers'
  %pre
    = preserve do
      :escaped
        Example:
        ["Game.mouseX", "Game.mouseY", "Game.width"]
  = f.text_area 'watchers_prepopulated', placeholder: 'Insert JSON array', rows: 4, value: @level.watchers_prepopulated or ''
  :javascript
    levelbuilder.initializeCodeMirror('level_watchers_prepopulated', 'javascript');
