@import "color";

// Using button to increase specificity of this class
// (this allows it to take precedence over the component library button styles)
button.extraLinksButton {
  position: fixed;
  bottom: 44px; /* just above small footer */
  left: 0;
  margin-left: 14px;
  z-index: 1000;
}

button.buttonRightOfFooter {
  position: fixed;
  left: 160px;
  bottom: 10px;
}

.errorMessage {
  color: $red;
}

// Using button to increase specificity of this class
// (this allows it to take precedence over the component library button styles)
button.bottomButton {
  margin-top: 8px;
  margin-bottom: 8px;
}

