@import 'color.scss';
@import 'style-constants';

.lessonMaterialsPageHeader {
  display: flex;
  justify-content: space-between;
}

.lessonMaterialsDropdowns {
  display: flex;
  gap: 16px;
  margin-right: 16px;
}

.rowContainer {
  display: flex;
  height: 48px;
  padding: 0 16px;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--borders-neutral-primary);
}

.headerText {
  margin-bottom: 0 !important;
}

.topRowForResourcesTable {
  height: 40px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  border-radius: 4px 4px 0 0;
  background-color: var(--background-neutral-secondary);
}

.resourcesTable {
  border: 1px solid var(--borders-neutral-primary);
  border-radius: 4px;
}

.resourceIconContainer {
  height: 32px;
  width: 32px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  display: flex;
}

.iconAndName {
  display: flex;
  align-items: center;
  gap: 16px;
}

.resourceLabel {
  margin-bottom: 0 !important;
  a {
    color: var(--text-neutral-primary);
  }
}

.icon {
  text-align: center;
  font-size: 16px;
}

.slides {
  background-color: var(--sentiment-warning-20);
  color: var(--sentiment-warning-60);
}

.video {
  background-color: var(--sentiment-success-10);
  color: var(--sentiment-success-50);
}

.lessonPlan {
  background-color: var(--background-brand-purple-extra-light);
  color: var(--text-brand-purple-primary);
}

.link {
  background-color: var(--accent-strawberry-10, #ffe3e3);
  color: var(--accent-strawberry-50, #ed6060);
}

.files {
  background-color: var(--sentiment-information-10);
  color: var(--sentiment-information-50);
}

.noUnitContainer {
  margin-top: 60px;
  text-align: center;
  max-width: 594px;
}

.noUnitImage {
  margin-bottom: 16px;
}

.centerContent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.viewOptionsDropdown {
  margin-left: 16px;

  & li {
    min-width: 200px;
  }
}

.lessonContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
}

.lessonMaterialsContainer, .lessonSummaryContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.lessonMaterialsContainer {
  flex: 1;
}

.lessonSummaryContainer {
  flex: 0 0 20rem;
}

.lessonSummarySection {
  display: flex;
  flex-direction: column;
  padding: 0.625rem 0.75rem;
  border: 2px solid var(--borders-brand-aqua-primary);
  border-radius: 4px;
  gap: 0.75rem;

  p {
    margin-bottom: 0;
  }
}

.lessonSummarySectionHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.lessonSummarySectionTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;

  i {
    font-size: 1rem;
  }

  p {
    font-weight: 600;
    margin-bottom: 0;
  }
}

.openTranscriptButton {
  border: none !important;

  span {
    color: var(--text-neutral-tertiary);
    font-weight: 600;
    text-decoration: underline;
  }
}

.transcriptDialog {
  max-width: 736px;
  gap: 1rem;
  padding: 1.5rem 2rem;

  > div:first-of-type {
    align-items: flex-start;
    gap: 1rem;
  }

  > div:last-of-type {
    align-self: flex-end;
  }
}

.transcriptDialogContent {
  max-height: 15rem;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding: 1rem 0;
  border-top: 1px solid var(--borders-neutral-primary);
  border-bottom: 1px solid var(--borders-neutral-primary);
}

.transcriptLine {
  display: flex;
  flex-direction: row;
  gap: 0.875rem;
  justify-content: flex-start;
  align-items: flex-start;

  .transcriptLineTimeStamp {
    color: var(--text-neutral-tertiary);
  }
}

.audioPlayerContainer {
  display: flex;
  flex-direction: row;
  align-items: center;

  i {
    margin-top: 1px;
    color: var(--background-success-primary);
  }
}

.audioPlayer {
  width: 90%;
  height: 2rem;
}

audio::-webkit-media-controls-panel {
  background-color: var(--background-neutral-true-base);
}

audio::-webkit-media-controls-current-time-display {
  font-size: 12px;
  color: var(--text-neutral-black-fixed);
}

audio::-webkit-media-controls-time-remaining-display {
  font-size: 12px;
  color: var(--text-neutral-black-fixed);
}

.lessonSummaryInfo {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.lessonSummaryInfoBlock {
  > p:first-of-type{
    font-weight: 600;
  }

  ol, ul {
    margin-bottom: 0;
  }
}

.askAITAButton > span {
  font-size: 14px;
}

.personalizationQuizSection {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;

  p {
    margin-bottom: 0;
  }
}

.horizontalLine {
  height: 1px;
  background-color: var(--neutral-gray-30);
  margin-top: 0.25rem;
}

.personalizationQuizPrompt {
  justify-content: center;

  p, a {
    color: var(--text-neutral-tertiary);
  }

  a > p {
    font-weight: 600;
    text-decoration: underline;
  }
}

.poweredByAITANote {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;

  img {
    height: 25px;
  }

  p {
    margin-bottom: 0;
  }
}

.skeletonDropdown {
  width: 250px;
  border-radius: 0.25rem;
  height: 2rem;
  margin-inline-start: 8px;
}

.unitSelector{
  max-width: 400px;
}
