.policy_logos
  %a.studentprivacypledge{href: "https://studentprivacypledge.org/privacy-pledge/", target: "_blank"}
    %img.studentprivacypledgeimage{src: "/shared/images/student_privacy_pledge.png"}

  %a.commonsense{href: "https://www.commonsense.org/education/website/codeorg", target: "_blank"}
    %img.commonsenseimage{src: "/shared/images/student_privacy_common_sense.png"}
