.policy_logos
  %a.studentprivacypledge{href: "https://studentprivacypledge.org/privacy-pledge/", target: "_blank"}
    %img.studentprivacypledgeimage{src: "/assets/auth/studentprivacypledge_logo.svg"}

  %a.commonsense{href: "https://www.commonsense.org/education/website/codeorg", target: "_blank"}
    %img.commonsenseimage{src: "/assets/auth/commonsense_logo.png"}
