@import 'breakpoints', 'action-blocks', 'video-responsive';

html {
  font-size: 16px;
}

h2 {
  font-size: 2rem;
  font-family: var(--main-font);
  font-weight: var(--bold-font-weight);
  margin: 0 0 1rem;
  line-height: 1.2;
}

hr {
  margin: 4rem 0;
}

div.section-intro{
  width: 80%;
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: $width-md) {
    width: 100%;
  }
}

section.banner {
  padding: 0;

  .wrapper {
    max-width: 690px;

    p:last-child {
      margin-bottom: 1rem;
    }
  }
}

section.activities {
  margin-bottom: -4rem;

  .section-intro {
    width: 100%;
  }

  .flex-container {
    margin: 3rem auto;
    place-content: center;
    flex-wrap: wrap;
    gap: 1rem;

    img {
      max-width: 175px;
      border-radius: var(--border-radius);

      @media screen and (max-width: $width-md) {
        max-width: 125px;
      }
    }
  }
}
