@import 'breakpoints', 'action-blocks', 'video-responsive';

$border-radius: 4px;

@mixin reset-spacing {
  margin: 0;
  padding: 0;
}

@mixin reset-list-item-spacing {
  text-indent: 0;
  padding: 0;
}

@mixin remove-list-dot {
  content: "";
}

html {
  font-size: 16px;
}

h2 {
  font-size: 2rem;
  font-family: var(--main-font);
  font-weight: var(--bold-font-weight);
  margin: 0 0 1rem;
  line-height: 1.2;
}

.button-wrapper {
  margin: 2rem 0 0;
  display: flex;
  justify-content: start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 1em;
}

section.banner {
  padding: 0;

  .wrapper {
    padding: 2rem 0px 11rem;
  }

  h1 {
    margin-bottom: 1rem;
    font-size: 3rem;
    color: var(--neutral_white);
  }

  .show-overflow {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 3rem;
    padding: 0 1rem;
    width: 100%;
  }

  .flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
  }

  ul.how-to-nav {
    min-width: 230px;
    position: relative;
    list-style: none;
    @include reset-spacing;

    li {
      font-family: var(--main-font);
      font-weight: var(--semi-bold-font-weight);
      color: var(--neutral_dark);
      @include reset-list-item-spacing;

      &::before {
        @include remove-list-dot;
      }

      button {
        background-color: var(--neutral_light);
        border: none;
        border-radius: $border-radius;
        font-family: inherit;
        width: 100%;
        text-align: initial;
        text-overflow: ellipsis;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
        gap: 0.5rem;

        @media screen and (max-width: $width-sm) {
          max-width: 320px;
        }

        span {
          pointer-events: none;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        &::after {
          content: url('/images/angle-down.svg');
          line-height: 1;
        }
      }

      button.rotate::after {
        transform: rotate(180deg);
        margin-top: 2px;
      }

      a, button {
        color: var(--neutral_dark);
        text-decoration: none;
        font-size: 18px;
        padding: 14px 12px 14px 16px;
      }

      a {
        display: block;
      }

      ul.menu-list {
        position: absolute;
        top: calc(100% - 4px);
        padding-top: 6px;
        margin: 0;
        background-color: var(--neutral_light);
        border-radius: 0 0 4px 4px;
        border-bottom: 2px solid var(--neutral_dark20);
        width: 100%;
        text-align: initial;

        li {
          border-radius: 0;

          &:hover {
            background-color: var(--neutral_dark10);
          }

          &:last-child {
            border-radius: 0 0 4px 4px;
            padding-bottom: 2px;
          }
        }
      }
    }
  }
}

section.intro {

  p {
    max-width: 810px;
    margin: 0 auto
  }

  hr {
    margin: 4rem 0 0;
  }
}

section.steps {
  position: relative;
  padding: 4rem 2rem 5rem;

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 3rem;
  }

  p.tag {
    background: var(--brand_primary_light);
    color: var(--brand_primary_dark);
    padding: 2px 6px;
    border-radius: $border-radius;
    font-family: var(--main-font);
    font-weight: var(--semi-bold-font-weight);
    font-size: 0.65rem;
    line-height: 1.6;
    text-transform: uppercase;
    display: inline-block;
  }

  nav.steps-nav {
    width: 28%;
    position: sticky;
    top: 4rem;
    border-right: 1px solid var(--neutral_dark20);

    html[dir="rtl"] & {
      border-left: 1px solid var(--neutral_dark20);
      border-right: 0;
    }

    @media screen and (max-width: $width-md) {
      display: none;
    }

    p.tag {
      margin: 10px 0 10px 10px !important;

      &:first-child {
        margin-top: 0 !important;
      }
    }

    ul {
      @include reset-spacing;

      a {
        display: block;
        font-family: unset;
        text-decoration: none;
        color: var(--neutral_dark);
        padding: 12px 0 12px 12px;
        margin-bottom: 0.5rem;

        &:hover {
          background-color: var(--neutral_light);
        }

        &:last-child {
          margin-bottom: 0;
        }
      }

      li {
        @include reset-list-item-spacing;

        &::before {
          @include remove-list-dot;
        }

        &.active {
          border-right: 2px solid var(--brand_primary_default);

          html[dir="rtl"] & {
            border-left: 2px solid var(--brand_primary_default);
            border-right: 0;
          }

          p.body-two {
            font-family: var(--main-font);
            font-weight: var(--semi-bold-font-weight);
          }
        }

        p {
          margin-bottom: 0;
          line-height: 1.4;

          &.overline-one {
            margin-bottom: 0.25rem;
          }

          &.body-two {
            width: 90%;
            font-weight: var(--regular-font-weight);
          }
        }
      }
    }
  }

  div.steps-wrapper {
    width: 70%;

    @media screen and (max-width: $width-md) {
      width: 100%;
    }

    .step {
      padding: 4rem 0;
      border-top: 1px solid var(--neutral_dark20);
      display: flex;
      align-items: start;
      gap: 1rem;
      position: relative;
      scroll-margin-top: -2px;

      &.divider-accent {
        border-top: 2px solid var(--brand_primary_light);
        scroll-margin-top: 4.5rem;
      }

      &:first-child {
        margin-top: 12px;
      }

      &:last-child {
        padding-bottom: 0.25rem;
        margin-bottom: 0;
      }
    }

    p.tag {
      position: absolute;
      top: -14px;
      left: 0;
      font-size: 0.75rem;
      padding: 4px 12px 4px 10px;
      border-radius: 4px 16px 16px 4px;

      html[dir="rtl"] & {
        left: unset;
        right: 0;
        padding: 4px 10px 4px 12px;
        border-radius: 16px 4px 4px 16px;
      }
    }

    span {
      background: var(--brand_primary_default);
      color: var(--neutral_white);
      display: block;
      width: 2rem;
      height: 2rem;
      border-radius: 100%;
      font-size: 1rem;
      text-align: center;
      line-height: 2.1;
      font-family: var(--main-font);
      font-weight: var(--semi-bold-font-weight);
    }

    h3 {
      margin-top: 0;
    }

    img {
      border-radius: $border-radius;
      width: 100%;
    }

    ul li {
      margin-bottom: 1rem;
    }
  }
}

section.faq {

  .flex-container {
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;

    @media screen and (max-width: $width-sm) {
      justify-content: center;
    }
  }

  h2 {
    margin-top: 4px;
  }

  details {
    margin-top: 1.5rem;

    summary {
      font-size: 1.15rem;
    }
  }

  ul li {
    margin-bottom: 1rem;
  }

  @media screen and (max-width: $width-sm) {
    h2 {
      text-align: center;
    }
    a.link-button {
      margin: 1rem auto;
    }
  }
}
