@import 'breakpoints', 'action-blocks', 'video-responsive';

$border-radius: 4px;

@mixin reset-spacing {
  margin: 0;
  padding: 0;
}

@mixin reset-list-item-spacing {
  text-indent: 0;
  padding: 0;
}

@mixin remove-list-dot {
  content: "";
}

section.banner {
  padding: 0;

  h1 {
    margin-bottom: 1rem;
    font-size: 3rem;
    color: var(--neutral_white);
  }

  .show-overflow {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 3rem;
    padding: 0 1rem;
    width: 100%;
  }

  .flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
  }

  // TODO clean up all of these banner styles after soon-hoc launch
  &.hoc-2024 {
    color: var(--neutral_dark);

    h1 {
      color: var(--neutral_dark);
    }
  }
}

nav.choose-guide {
  margin-top: 2rem;

  .button-wrapper {
    justify-content: center;
  }

  a {
    min-width: 132px;
    color: var(--neutral_white);
    border: 2px solid var(--neutral_white);
    border-radius: 4px;
    padding: 1rem 1rem 0.875rem;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    i {
      font-size: 1.5rem;
    }

    &.active {
      color: var(--neutral_dark);
      background: var(--neutral_white);
      border-color: var(--neutral_white);
    }
  }

  // TODO clean this up after soon-hoc launch
  &.hoc-2024 {
    a {
      color: var(--neutral_dark);
      border-color: var(--neutral_dark);

      &.active {
        color: var(--neutral_white);
        background: var(--neutral_dark);
        border-color: var(--neutral_dark);
      }
    }
  }
}

section.steps {
  position: relative;
  padding: 4rem 2rem 5rem;

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 3rem;
  }

  p.tag {
    background: var(--brand_primary_light);
    color: var(--brand_primary_dark);
    padding: 2px 6px;
    border-radius: $border-radius;
    font-family: var(--main-font);
    font-weight: var(--semi-bold-font-weight);
    font-size: 0.65rem;
    line-height: 1.6;
    text-transform: uppercase;
    display: inline-block;
  }

  nav.steps-nav {
    width: 28%;
    position: sticky;
    top: 4rem;
    border-right: 1px solid var(--neutral_dark20);

    html[dir="rtl"] & {
      border-left: 1px solid var(--neutral_dark20);
      border-right: 0;
    }

    @media screen and (max-width: $width-md) {
      display: none;
    }

    p.tag {
      margin: 10px 0 10px 10px !important;

      &:first-child {
        margin-top: 0 !important;
      }
    }

    ul {
      @include reset-spacing;

      a {
        display: block;
        font-family: unset;
        text-decoration: none;
        color: var(--neutral_dark);
        padding: 12px 0 12px 12px;
        margin-bottom: 0.5rem;

        &:hover {
          background-color: var(--neutral_light);
        }

        &:last-child {
          margin-bottom: 0;
        }
      }

      li {
        @include reset-list-item-spacing;

        &::before {
          @include remove-list-dot;
        }

        &.active {
          border-right: 2px solid var(--brand_primary_default);

          html[dir="rtl"] & {
            border-left: 2px solid var(--brand_primary_default);
            border-right: 0;
          }

          p.body-two {
            font-family: var(--main-font);
            font-weight: var(--semi-bold-font-weight);
          }
        }

        p {
          margin-bottom: 0;
          line-height: 1.4;

          &.overline-one {
            margin-bottom: 0.25rem;
          }

          &.body-two {
            width: 90%;
            font-weight: var(--regular-font-weight);
          }
        }
      }
    }
  }

  div.steps-wrapper {
    width: 70%;

    @media screen and (max-width: $width-md) {
      width: 100%;
    }

    .step {
      padding: 4rem 0;
      border-top: 1px solid var(--neutral_dark20);
      display: flex;
      align-items: start;
      gap: 1rem;
      position: relative;
      scroll-margin-top: -2px;

      &.divider-accent {
        border-top: 2px solid var(--brand_primary_light);
        scroll-margin-top: 4.5rem;
      }

      &:first-child {
        margin-top: 12px;
      }

      &:last-child {
        padding-bottom: 0.25rem;
        margin-bottom: 0;
      }
    }

    p.tag {
      position: absolute;
      top: -14px;
      left: 0;
      font-size: 0.75rem;
      padding: 4px 12px 4px 10px;
      border-radius: 4px 16px 16px 4px;

      html[dir="rtl"] & {
        left: unset;
        right: 0;
        padding: 4px 10px 4px 12px;
        border-radius: 16px 4px 4px 16px;
      }
    }

    span {
      background: var(--brand_primary_default);
      color: var(--neutral_white);
      display: block;
      width: 2rem;
      height: 2rem;
      border-radius: 100%;
      font-size: 1rem;
      text-align: center;
      line-height: 2.1;
      font-family: var(--main-font);
      font-weight: var(--semi-bold-font-weight);
    }

    h3 {
      margin-top: 0;
    }

    img {
      border-radius: $border-radius;
      width: 100%;
      margin-bottom: 1rem;
    }

    ul li {
      margin-bottom: 1rem;
    }
  }
}
