@import '../../../mixins.scss';
@import 'color.scss';

@keyframes tab-fade-in-out {
  0%, 100% {
    background-color: initial;
  }
  50% {
    background-color: var(--background-neutral-quaternary);
  }
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.tabSwitcher {
  display: flex;
  background-color: var(--background-neutral-secondary);
  padding: 4px;
  border-bottom: 1px solid var(--borders-neutral-primary);
  gap: 20px;
}

.button {
  @include remove-button-styles;
  padding: 4px;
  flex: 1;
  border-radius: 8px;
  transition: background-color 0.2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  gap: 9px;
  color: var(--text-neutral-primary);
  height: 30px;

  &:not(.locked):hover {
    background-color: var(--background-neutral-quinary);
  }

  &:not(.locked) {
    animation: tab-fade-in-out 1.5s;
  }

  &.selected {
    background-color: var(--background-neutral-primary-inverse) !important;
    color: var(--text-neutral-inverse);
  }

  &.locked {
    cursor: not-allowed;
    color: var(--text-neutral-disabled);
  }
}

.tabSwitcher > .button:nth-child(1) {
  animation-delay: 1s;
}
.tabSwitcher > .button:nth-child(2) {
  animation-delay: 2s;
}
.tabSwitcher > .button:nth-child(3) {
  animation-delay: 3s;
}

.tabIcon {
  height: 20px;
  opacity: 1;

  &Unselected {
    filter: invert(1);
  }
}

.labsContainer {
  flex: 1;
  overflow: hidden;
  position: relative;
}

.labContainer {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s ease-in-out;

  &.hidden {
    opacity: 0;
    pointer-events: none;
  }
}
