@import '../../../mixins.scss';
@import 'color.scss';

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.tabSwitcher {
  display: flex;
  background-color: var(--background-neutral-secondary);
  padding: 4px;
  border-bottom: 1px solid var(--borders-neutral-primary);
}

.button {
  @include remove-button-styles;
  padding: 4px;
  flex: 1;

  > p {
    margin: 0;
  }

  &.selected {
    background-color: var(--background-neutral-primary-inverse);
    font-weight: bold;
    border-radius: 20px;
    padding: 4px;

    > p {
      color: var(--text-neutral-primary-inverse);
    }
  }

  &.locked {
    cursor: not-allowed;
    > p {
      color: var(--text-neutral-disabled);
      > i {
        margin-right: 8px;
      }
    }
  }
}

.labsContainer {
  flex: 1;
  overflow: hidden;
  position: relative;
}

.labContainer {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s ease-in-out;

  &.hidden {
    opacity: 0;
    pointer-events: none;
  }
}
