.audioPlayer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 16px;
  background-color: var(--background-neutral-primary);
  color: var(--text-neutral-primary);
}

.details {
  display: flex;
  flex-direction: column;
  min-width: 0;
}

.elapsedTime {
  color: var(--text-neutral-secondary);
  font-variant-numeric: tabular-nums;
}

.errorMessage {
  color: var(--text-error-primary);
}
