<div id="netsim_log_widget_<%= logInstanceID %>"
     class="netsim_panel netsim_log_widget">
  <h1>
    <span class="minimizer">
      <i class="fa fa-minus-square"></i>
      <%= logTitle %>
    </span>
    <div class="panel_controls">
      <span class="netsim_button clear_button">Clear</span>
    </div>
  </h1>
  <div class="panel_body">
    <div class="log_body">
      <div class="scroll_area">
      </div>
    </div>
  </div>
</div>