<div id="netsim_router_panel">
  <span id="not_connected">No router connected.</span>
  <span id="connected">
    <h1>My network</h1>
    <table id="netsim_router_network_table">
      <tr>
        <th>Name</th>
        <th>Address</th>
      </tr>
    </table>
  </span>
</div>