<div class="netsim-my-device-tab">

  <% if (locals.level.showMetronome) { %>
    <div class="metronome"></div>
  <% } %>

  <% if (locals.level.showPulseRateSlider) { %>
    <h1>Pulse rate</h1>
    <div class="pulse-rate"></div>
  <% } %>

  <% if (locals.level.showBitRateControl) { %>
    <h1>Bitrate</h1>
    <div class="bitrate"></div>
  <% } %>

  <% if (locals.level.showChunkSizeControl) { %>
    <h1>Chunk size</h1>
    <div class="chunk-size"></div>
  <% } %>

  <% if (locals.level.showEncodingControls.length > 0) { %>
    <div class="encoding"></div>
  <% } %>

</div>
