<div class="netsim-dns-tab">
  <% if (locals.level.showDnsModeControl) { %>
  <div class="dns_mode"></div>
  <% } %>
  <div class="dns_manual_control"></div>
  <div class="dns_table"></div>
  <div class="dns-notes">
    <h1>Notes</h1>
    <div>
      <textarea></textarea>
    </div>
  </div>
</div>
