<div id="netsim_router_panel">
  <span id="not_connected">No router connected.</span>
  <span id="connected">
    <div id="dns_mode_control">
      <h1>DNS Mode</h1>
      <input id="dns_mode_none" type="radio" name="dns_mode" value="none" /><label for="dns_mode_none">None</label>
      <br/><input id="dns_mode_manual" type="radio" name="dns_mode" value="manual" /><label for="dns_mode_manual">Manual</label>
      <br/><input id="dns_mode_automatic" type="radio" name="dns_mode" value="automatic" /><label for="dns_mode_automatic">Automatic</label>
    </div>
    <div id="dns_mode_manual_controls">
      <input id="become_dns_button" type="button" value="Become DNS" />
    </div>
    <div id="network_table">
      <h1>My network</h1>
      <table id="netsim_router_network_table">
        <thead>
          <tr>
            <th>Hostname</th>
            <th>Address</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
    <div id="router_log">
      <h1>Router log</h1>
      <table id="netsim_router_log_table">
        <thead>
          <tr>
            <th>Message</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  </span>
</div>