<div id="netsim_log_widget_<%= logInstanceID %>"
     class="netsim_panel netsim_log_widget">
  <h1><%= logTitle %>
    <div class="panel_controls">
      <span class="panel_button clear_button">Clear</span>
      <span class="panel_button hide_button">Hide</span>
    </div>
  </h1>
  <div class="panel_body">
    <div class="log_body">
      <div class="scroll_area">
      </div>
    </div>
  </div>
</div>