<div class="netsim_chunk_size_control">
  <label for="chunk_size_slider"><span class="chunk_size_value"></span> bits per <span class="unit_label"></span></label>
  <div class="chunk_size_slider"></div>
</div>
