<div id="netsim_encoding_selector_<%= instanceID %>" class="netsim_encoding_selector">
  <label for="encoding_selector_<%= instanceID %>">Encoding:</label>
  <select id="encoding_selector_<%= instanceID %>">
    <option value="all" selected>All</option>
    <option value="binary">Binary</option>
    <option value="hexadecimal">Hexadecimal</option>
    <option value="decimal">Decimal</option>
    <option value="ascii">ASCII</option>
  </select>
</div>