<%
  var i18n = require('../../locale/current/netsim');
  var MessageGranularity = require('./netsimConstants').MessageGranularity;
%>
<div class="send-widget-packets"></div>
<div class="send-widget-footer">
  <div class="right-side-controls">
    <% if (level.showAddPacketButton) { %>
      <span class="netsim-button" id="add-packet-button"><%= i18n.addPacket() %></span>
    <% } %>
    <% if (level.messageGranularity === MessageGranularity.PACKETS) { %>
      <span class="netsim-button" id="send-button"><%= i18n.send() %></span>
    <% } else if (level.messageGranularity === MessageGranularity.BITS) { %>
      <span class="netsim-button" id="set-wire-button"><%= i18n.setWire() %></span>
    <% } %>
  </div>
  <div class="packet-size"></div>
</div>
