<%
/**
 * This block destructures the local variables for use within this ejs template.
 */
var instanceID = locals.instanceID;
var minValue = locals.minValue;
var maxValue = locals.maxValue;
%>
<div id="netsim_slider_<%= instanceID %>" class="netsim-slider">
  <div class="slider-inline-wrap">
    <div class="slider"></div>
    <div class="slider-labels">
      <div class="max-value"><%= maxValue %></div>
      <div class="min-value"><%= minValue %></div>
      <div class="current-value">
        <label><span class="slider-value"></span></label>
      </div>
    </div>
  </div>
</div>
