<div class="netsim_router_tab not_connected">
  No router connected.
</div>
<div class="netsim_router_tab connected">
  <div id="dns_mode_manual_controls">
    <input id="become_dns_button" type="button" value="Become DNS" />
  </div>
  <div id="network_table">
    <h1>My network</h1>
    <table id="netsim_router_network_table">
      <thead>
        <tr>
          <th>Hostname</th>
          <th>Address</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
  <div id="router_log">
    <h1>Router log</h1>
    <table id="netsim_router_log_table">
      <thead>
        <tr>
          <th>Message</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</div>