<div class="netsim-my-device-tab">
  <h1>Pulse rate</h1>
  <div class="pulse-rate"></div>
  <div class="metronome"></div>
  <div class="encoding"></div>
  <h1>Chunk size</h1>
  <div class="chunk-size"></div>
</div>
