<div class="netsim_encoding_selector">
  <label for="encoding_selector">Encoding:</label>
  <select id="encoding_selector">
    <option value="all" selected>All</option>
    <option value="binary">Binary</option>
    <option value="hexadecimal">Hexadecimal</option>
    <option value="decimal">Decimal</option>
    <option value="ascii">ASCII</option>
  </select>
</div>