<div id="netsim_send_widget" class="netsim_send_widget">
  <h1>Send a Message</h1>
  <div class="netsim_packet">
    <div class="packet_header">
      <label for="to_address">To:</label>
      <input id="to_address" type="text" />
      <label for="from_address">From:</label>
      <input id="from_address" type="text" disabled />
      <label for="packet_index">Packet</label>
      <input id="packet_index" type="text" disabled />
      <label for="packet_count">of</label>
      <input id="packet_count" type="text" disabled />
    </div>
    <div class="packet_body">
      <div id="ascii_payload_wrap">
        <h2>Ascii</h2>
        <textarea id="ascii_payload"></textarea>
      </div>
      <div id="binary_payload_wrap">
        <h2>Binary
          <span id="bit_counter">160/100 bits</span>
        </h2>
        <textarea id="binary_payload"></textarea>
      </div>
    </div>
  </div>
  <div class="send_widget_footer">
    <!-- Packet size slider -->
    <!-- Add packet button -->
    <input type="button" id="send_button" value="Send" />
  </div>
</div>