<div class="netsim_tabs">
  <ul>
    <% if (level.showInstructionsTab) { %>
    <li><a href="#tab_instructions">Instructions</a></li>
    <% } %>
    <% if (level.showMyDeviceTab) { %>
      <li><a href="#tab_my_device">My Device</a></li>
    <% } %>
    <% if (level.showRouterTab) { %>
      <li><a href="#tab_router">Router</a></li>
    <% } %>
    <% if (level.showDnsTab) { %>
      <li><a href="#tab_dns">DNS</a></li>
    <% } %>
  </ul>
  <% if (level.showInstructionsTab) { %>
    <div id="tab_instructions">
      <p>In this activity, you and your group will still be acting as
      nodes connected to a router.  But this time, the addresses of the
      nodes are not visible to you.  Pick one member of your group to be
      the DNS node.  To get the addresses of the other nodes, you must
      send a message to the DNS node asking for the address of a particular
      hostname.</p>
      <p>If you are the DNS node: Go to the DNS tab and click "Take over
      as DNS."</p>
    </div>
  <% } %>
  <% if (level.showMyDeviceTab) { %>
    <div id="tab_my_device"></div>
  <% } %>
  <% if (level.showRouterTab) { %>
    <div id="tab_router"></div>
  <% } %>
  <% if (level.showDnsTab) { %>
    <div id="tab_dns"></div>
  <% } %>
</div>