<%
  var i18n = require('@cdo/netsim/locale');

  var shouldShowTab = require('./NetSimUtils').shouldShowTab;
  var NetSimTabType = require('./NetSimConstants').NetSimTabType;

  /**
   * This block destructures the local variables for use within this ejs template.
   */
  var level = locals.level;

  var showInstructions = shouldShowTab(level, NetSimTabType.INSTRUCTIONS);
  var showMyDevice = shouldShowTab(level, NetSimTabType.MY_DEVICE);
  var showRouter = shouldShowTab(level, NetSimTabType.ROUTER);
  var showDns = shouldShowTab(level, NetSimTabType.DNS);
%>
<div class="netsim-tabs">
  <ul>
    <% if (showInstructions) { %>
    <li><a href="#tab_instructions"><%= i18n.instructions() %></a></li>
    <% } %>
    <% if (showMyDevice) { %>
      <li><a href="#tab_my_device"><%= i18n.myDevice() %></a></li>
    <% } %>
    <% if (showRouter) { %>
      <li><a href="#tab_router"><%= i18n.router() %></a></li>
    <% } %>
    <% if (showDns) { %>
      <li><a href="#tab_dns"><%= i18n.dns() %></a></li>
    <% } %>
  </ul>
  <% if (showInstructions) { %>
    <div id="tab_instructions"></div>
  <% } %>
  <% if (showMyDevice) { %>
    <div id="tab_my_device"></div>
  <% } %>
  <% if (showRouter) { %>
    <div id="tab_router"></div>
  <% } %>
  <% if (showDns) { %>
    <div id="tab_dns"></div>
  <% } %>
</div>
