<div id="netsim_panel_<%= instanceID %>"
     class="netsim-panel <%= className %>">
  <h1>
    <span class="minimizer">
      <% if (canMinimize) { %>
      <i class="fa fa-minus-square"></i>
      <% } %>
      <%= panelTitle %>
    </span>
    <div class="panel_controls">
    </div>
  </h1>
  <div class="panel-body">
  </div>
</div>
