<%
var i18n = require('appLocale');
%>
<div class="netsim-bandwidth-control netsim-slider">
  <div class="slider-inline-wrap">
    <div class="slider"></div>
    <div class="slider-labels">
      <div class="max-value"><%= maxValue %></div>
      <div class="min-value"><%= minValue %></div>
      <div class="current-value">
        <label for="packet-size-slider"><span class="packet_size_value"></span></label>
      </div>
    </div>
  </div>
</div>
