<div id="netsim_send_widget" class="netsim_send_widget">
  <h1>Send a Message</h1>
  <label for="to_address">To:</label>
  <input id="to_address" type="text" />
  <label for="payload">Payload</label>
  <textarea id="payload"></textarea>
  <input type="button" id="send_button" value="Send" />
</div>