<div class="netsim_tabs">
  <ul>
    <li><a href="#tab_instructions">Instructions</a></li>
    <li><a href="#tab_my_device">My Device</a></li>
    <li><a href="#tab_router">Router</a></li>
    <li><a href="#tab_dns">DNS</a></li>
  </ul>
  <div id="tab_instructions"></div>
  <div id="tab_my_device"></div>
  <div id="tab_router"></div>
  <div id="tab_dns"></div>
</div>