<div id="netsim_lobby">
  <label for="netsim_section_select">My Section:</label>
  <select id="netsim_section_select">
    <option selected value="-1">Loading...</option>
  </select>
  <input id="netsim_refresh_button" type="button" value="Refresh" />
  <ul id="netsim_lobby_list"></ul>
</div>
