<div id="netsim_my_device_panel_<%= instanceID %>" class="netsim_my_device_panel">
  <h1>My device</h1>
  <label for="chunk_size_slider">Chunk size: <span class="chunk_size_value"></span></label>
  <div class="chunk_size_slider"></div>
</div>
