<div id="netsim_log_widget_<%= logInstanceID %>"
     class="netsim_panel netsim_log_widget">
  <h1><%= logTitle %>
    <div class="panel_controls">
      <input type="button" class="hide_button" value="Hide" />
      <input type="button" class="clear_button" value="Clear" />
    </div>
  </h1>
  <div class="panel_body">
    <div class="log_body">
      <div class="scroll_area">
      </div>
    </div>
  </div>
</div>