<div id="netsim_lobby_open" class="netsim-panel netsim-lobby">
  <h1>Lobby</h1>
  <div class="panel-body">
    <% if (level.showAddRouterButton) { %>
      <input type="button" id="netsim_lobby_add_router" value="Add Router" />
    <% } %>
    <ul id="netsim_lobby_list"></ul>
    <input type="button" id="netsim_lobby_connect" value="Connect" />
  </div>
</div>
