<div class="netsim_router_tab not_connected">
  No router connected.
</div>
<div class="netsim_router_tab connected">
  <div id="router_log">
    <h1>Router log</h1>
    <table id="netsim_router_log_table">
      <thead>
        <tr>
          <th>Message</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</div>