<%
var NetSimRouterNode = require('./NetSimRouterNode');
var DnsMode = NetSimRouterNode.DnsMode;
%>
<div class="netsim_router_log">
  <h1>Router Traffic</h1>
  <table>
    <thead>
    <tr>
      <th>To</th>
      <th>From</th>
      <th>Packet</th>
      <th>Message</th>
      <th>Bytes</th>
    </tr>
    </thead>
    <tbody>
    <%
    // Sort: Most recent first
    tableData.sort(function (a, b) {
      return a.timestamp > b.timestamp ? -1 : 1;
    });

    // Create rows
    tableData.forEach(function (row) {
      var rowClasses = [];
    %>
    <tr class="<%= rowClasses.join(' ') %>">
      <td></td>
      <td></td>
      <td></td>
      <td><%= row.logText %></td>
      <td></td>
    </tr>
    <%
    });
    %>
    </tbody>
  </table>
</div>