<div class="tab-wrapper">
  <ul>
    <li><a href="#tab_instructions">Instructions</a></li>
    <li><a href="#tab_my_device">My Device</a></li>
    <li><a href="#tab_router">Router</a></li>
    <li><a href="#tab_dns">DNS</a></li>
  </ul>
  <div id="tab_instructions">inst</div>
  <div id="tab_my_device">my_dev</div>
  <div id="tab_router">rtr</div>
  <div id="tab_dns">dns</div>
</div>