<div class="netsim-router-tab">
  <% if (level.showRouterBandwidthControl) { %>
    <h1>Bandwidth</h1>
    <div class="bandwidth-control"></div>
  <% } %>
  <% if (level.showRouterMemoryControl) { %>
    <h1>Memory</h1>
    <div class="memory-control"></div>
  <% } %>
  <div class="router_log_table"></div>
</div>
