<div id="netsim_panel_<%= instanceID %>"
     class="netsim_panel <%= className %>">
  <h1>
    <span class="minimizer">
      <i class="fa fa-minus-square"></i>
      <%= panelTitle %>
    </span>
    <div class="panel_controls">
    </div>
  </h1>
  <div class="panel_body">
  </div>
</div>
