<%
/**
 * This block destructures the local variables for use within this ejs template.
 */
var instanceID = locals.instanceID;
var className = locals.className;
var panelTitle = locals.panelTitle;
var userToggleable = locals.userToggleable;
%>
<div id="netsim-panel-<%= instanceID %>"
     class="netsim-panel <%= className %>">
  <h1>
    <div class="panel-controls"></div>
    <div class="single-line-with-ellipsis pad-left<% if (userToggleable) { %> minimizer<% } %>">
      <% if (userToggleable) { %>
        <i class="fa fa-minus-square"></i>
      <% } %>
      <span class="title-text"><%= panelTitle %></span>
    </div>
  </h1>
  <div class="panel-body">
  </div>
</div>
