<table>
  <tbody>
    <tr>
      <th>Data transferred</th>
      <td>900B / 1000B (90%)</td>
    </tr>
    <tr>
      <th>Packets</th>
      <td>22 / 25 (88%)</td>
    </tr>
    <tr>
      <th>Data rate</th>
      <td>1Kbps</td>
    </tr>
    <tr>
      <th>Memory</th>
      <td>8B / 16KB (5%)</td>
    </tr>
  </tbody>
</table>
