@mixin focus-styles($outline-offset, $border-radius) {
  outline: var(--borders-brand-teal-primary) solid 2px;
  outline-offset: $outline-offset;
  border-radius: $border-radius;
}

.popup-button-menu {
  position: absolute;
  cursor: pointer;
  border: 1px solid var(--borders-neutral-primary);
  border-radius: 4px;
  padding: 0.25rem 0;
  background-color: var(--background-neutral-primary);
  box-shadow: rgba(0 0 0 / 0.1) 0 10px 15px -3px,
    rgba(0 0 0 / 0.05) 0 4px 6px -2px;
  color: var(--text-neutral-primary);
  min-width: 100px;
  text-align: left;
  vertical-align: top;
  z-index: 1000;

  &:focus-visible {
    @include focus-styles(2px, 0.25rem);
  }
  // Apply focus-visible styles to all child elements
  *:focus-visible {
    @include focus-styles(-1px, 0);
  }
}

// We need !important because of css specificity- this would be overriden
// by display: none otherwise.
button.active {
  opacity: 1 !important;
}
