@import 'color.scss';

.popup-button-menu {
  position: absolute;
  cursor: pointer;
  border: 1px solid #54595E;
  background-color: $light_gray_950;
  color: $white;
  min-width: 100px;
  text-align: left;
  vertical-align: top;
  z-index: 1000;
}
