#codeWorkspace {
  border: none !important;
}

button {
  background-color: white;
  font-size: 120%;
  border-radius: 5px;
  border: none;
  width: 17%;
  padding: 1.5% 3%;

  &:focus {
    outline: white auto 5px;
  }

  &:active {
    border: none !important;
  }
}

#container-react {
  font-size: 18px;
}

@media screen {
  #container { max-width: 770px; }
  #container-react { font-size: calc(18px * 770 / 930); }
}
@media screen and (min-width: 1024px) and (min-height: 576px) {
  #container { max-width: 930px; }
  #container-react { font-size: calc(18px * 930 / 930); }
}
@media screen and (min-width: 1280px) and (min-height: 720px) {
  #container { max-width: 1024px; }
  #container-react { font-size: calc(18px * 1024 / 930); }
}
@media screen and (min-width: 1440px) and (min-height: 810px) {
  #container { max-width: 1280px; }
  #container-react { font-size: calc(18px * 1280 / 930); }
}
