---
title: Învață
theme: responsive
social:
  'og:title' : ‘Hour of Code România se apropie'
  'og:description' : "Oricine poate învăța. Află cât de distractiv este să înveți programare în doar o oră, 8-14 Decembrie."
  'og:image' : ""
  'og:image:width' : ""
  'og:image:height' : ""
  "og:video": ""
  "og:video:width": ""
  "og:video:height": ""
  "og:video:type": ""
---

%link{href: "/css/learn_tabs.css", rel: "stylesheet"}

= view :learn_carousels, variation:'learn'
