- extra_links = []


- if current_user.workshop_admin? || current_user.admin?
  - extra_links << {text: 'Manage Applications', url: pd_application_dashboard_path} if can?(:read, Pd::Application::ApplicationBase)
  - extra_links << {text: 'Manage PD Workshops', url: pd_workshop_dashboard_path} if can?(:read, Pd::Workshop)
  - extra_links << {text: 'Directory for Workshop Admins', url: pd_workshop_admins_path} if current_user.workshop_admin?
  - extra_links << {text: 'See all Regional Partners', url: regional_partners_path} if can?(:index, RegionalPartner)
  - extra_links << {text: "Create a new Regional Partner", url: new_regional_partner_path} if can?(:create, RegionalPartner)
  - extra_links << {text: "Facilitator Course Permissions", url: pd_facilitator_courses_path} if can?(:pd_facilitator_courses_form, :pd_workshop_user_management)
  - extra_links << {text: "PLC Admin Page", url: plc_root_path} if can?(:manage, Plc::Course)

- if extra_links.any?
  = render layout: 'shared/extra_links' do
    %ul
      - extra_links.map do |link|
        %li= link_to link[:text], link[:url]
