- @page_title = 'Professional Learning'
- content_for(:head) do
  = stylesheet_link_tag 'css/pd', media: 'all'

#pl-landing-page-container
%script{src: webpack_asset_path('js/pd/professional_learning_landing/index.js'), data: {landingPageData: @landing_page_data.to_json}}

= render partial: 'pl_extra_links'
