- @page_title = 'Professional Learning'

%script{src: webpack_asset_path('js/pd/professional_learning_landing/index.js'), data: {landingPageData: @landing_page_data.to_json}}
#pl-landing-page-container
