- @page_title = 'Teacher Landing Page'
- content_for(:head) do
  = stylesheet_link_tag 'css/pd', media: 'all'

%div#landing-page-container
%script{src: webpack_asset_path('js/pd/professional_learning_landing/index.js'), data: {landingPageData: @landing_page_data.to_json}}
