%html{spellcheck: 'false'}
  %head
  %body{style: 'margin: 0'}
    %div{style: 'height: 20px'}
    #bramble{style: 'height: 100vh;overflow: hidden;'}
    %script{src: asset_path('js/bramble/thirdparty/require.min.js'), 'data-main': asset_path('js/brambleHost.js')}
