%html{spellcheck: 'false'}
  %head
    = javascript_include_tag 'application'
  %body{style: 'margin: 0'}
    #bramble{style: 'height: 100vh;overflow: hidden;'}
    -# webpack-runtime.js must appear exactly once on any page containing webpack entries
    %script{src: asset_path('js/webpack-runtime.js')}
    %script{src: asset_path('js/bramble/thirdparty/require.min.js'), 'data-main': minifiable_asset_path('js/brambleHost.js')}
    =# DEVMODE: %script{src: asset_path('http://127.0.0.1:8000/src/thirdparty/require.min.js'), 'data-main': minifiable_asset_path('js/brambleHost.js')}
