---
title: Go Beyond One Hour
theme: responsive
social:
  'og:title' : 'The EU Hour of Code is coming'
  'og:description' : "For every student: learn how fun coding is in just one hour, October 11-17."
  'og:image' : ""
  'og:image:width' : ""
  'og:image:height' : ""
  "og:video": ""
  "og:video:width": ""
  "og:video:height": ""
  "og:video:type": ""
---

%link{href: "/css/learn_tabs.css", rel: "stylesheet"}

= view :learn_carousels, variation:'beyond'
