- script_data = {}
- script_data[:lti_section_sync_result] = @lti_section_sync_result
- script_data[:lms_name] = @lms_name
- script_data[:current_user_id] = current_user.id
- script_data[:current_username] = current_user.username

- content_for(:head) do
  %script{src: webpack_asset_path('js/lti/v1/sync_course.js'), data: {ltiSectionSyncDialog: script_data.to_json}}
