%p
  Check your online professional learning progress on Code Studio
  = link_to @online_url, @online_url
  to make sure you’re ready for this workshop.
  You’ll need to finish Parts 1 through 5 of your online work before the in-person workshop.
