%ol
  %li
    Sign up for a
    = link_to 'teacher account', 'http://learn.code.org/users/sign_up?user%5Buser_type%5D=teacher'
    at Code.org if you don’t already have one.

  %li
    Update your name in your Code Studio account settings to be the name you want to appear on your PD completion certificate.
    %br
    To do so:
    %ul
      %li Log into your account
      %li Click the orange block in the upper right hand corner that says "Hi [Your Name]"
      %li Select "My account"
      %li Change your "Display name"
      %li Click "Update"
