%ol
  - if @workshop.subject == Pd::Workshop::SUBJECT_CSF_101
    %li
      Sign up for a
      = link_to 'teacher account', 'https://studio.code.org/users/sign_up?user%5Buser_type%5D=teacher'
      at Code.org if you don't already have one.

  %li
    Update your name in your Code.org account settings to be the name you want to appear on your professional development completion certificate.
    %br
    To do so:
    %ul
      %li Log into your account
      %li Click the block in the upper right hand corner that says your name
      %li Select "Account settings"
      %li Change your "Display name"
      %li Click "Update Account"
