%p
  Check your online modules on Code Studio
  = link_to @online_url, @online_url
  to make sure you’re on track with your online professional learning.
  You should complete each module before you implement the respective unit of ECS.

= render partial: 'ecs_tech_requirements'
