%p
  Check your online modules on Code Studio
  = link_to @online_url, @online_url
  to make sure you’re on track with your online professional learning.
  You should complete each module before you implement the respective unit of ECS.

%p
  Make sure to bring a robotics kit to your workshop.
  If you don't have robotics kits, you should still plan to attend!
  The workshop is designed to give you the space and support you need to think about a final project for your students.

= render partial: 'ecs_tech_requirements'
