%p
  Check your online modules on Code Studio
  = link_to @online_url, @online_url
  to make sure you’re on track with your online professional learning.
  You should complete each module before you implement the respective unit of ECS.

%p
  You’ll need to complete a food journal for the 3 days leading up to your upcoming workshop.
  Generate a collection of data related to when you eat each day.
  The data should be recorded in whatever way you think is appropriate.
  It should include:
  %ul
    %li Day
    %li Time
    %li Location of where you ate
    %li Happiness when you ate

%p
  Download the
  = link_to 'Unit 5 Data Files (ZIP 26 MB)', 'https://ucla.box.com/shared/static/7w1jem1e3kj6b64z5bokj89552q5562g.zip'
  and
  = link_to 'Unit 5 Potential Final Projects Data Files (ZIP 345 KB).', 'https://ucla.box.com/shared/static/8cr4cf66nbiauglpmm7rnxdosg6m7g1s.zip'
  (Make sure you have a laptop with access to Microsoft Excel or Google Sheets for the upcoming PD workshop.)

%p
  Look over the first few lessons in Unit 5.
  No need to memorize or make lesson plans, but we encourage you to review the material.

= render partial: 'ecs_tech_requirements'
