%p
  You’ll need to complete an online module, Phase 1: Online Introduction, before your summer workshop.
  This module will be available after May 1 and you will receive an e-mail when it is ready.
  = link_to @online_url, @online_url
