---
title: Update Email Preferences
nav: blank
rightbar: blank
---
%script{type: "text/javascript", src: "/js/volunteer-unsubscribe.js"}

- dont_cache
- params = request.path_info.split('/').last(2)
- unsubscribe_status = params[0]
- secret = params[1]
- pass unless form = Form2.from_row(DB[:forms].where(kind:'VolunteerEngineerSubmission2015', secret:secret).first)
- unsubscribed = form.data['unsubscribed_s']

%h1 Unsubscribe from teacher requests

- if unsubscribed == 'until2016'
  You've already unsubscribed from teacher requests this year.
- elsif unsubscribed == 'forever'
  You've already unsubscribed from all teacher requests for forever.
- else
  %form#unsubscribe-volunteer-form{role: "form", onsubmit: "event.preventDefault(); unsubscribeVolunteerList();"}
    #error-message{style: 'display: none'}
    %p Please click confirm to update your email preferences.

    %input#unsubscribe-volunteer-name{name:'unsubscribed_s', type:'hidden', required: true, value: unsubscribe_status}
    %input#unsubscribe-volunteer-name{name:'name_s', type:'hidden', required: true, value: form.data['name_s']}
    %input#unsubscribe-volunteer-company{name:'company_s', type:'hidden', required: true, value: form.data['company_s']}
    %input#unsubscribe-volunteer-experience{name:'experience_s', type:'hidden', required: true, value: form.data['experience_s']}
    %input#unsubscribe-volunteer-location{name:'location_s', type:'hidden', required: true, value: form.data['location_s']}
    %input#unsubscribe-volunteer-location-flexibility{name:'location_flexibility_ss', type:'hidden', required: true, value: form.data['location_flexibility_ss']}
    %input#unsubscribe-volunteer-volunteer-after-hoc{name:'volunteer_after_hoc_b', type:'hidden', required: true, value: form.data['volunteer_after_hoc_b']}
    %input#unsubscribe-volunteer-time-commitment{name:'time_commitment_s', type:'hidden', required: true, value: form.data['time_commitment_s']}
    %input#unsubscribe-volunteer-linkedin{name:'linkedin_s', type:'hidden', required: true, value: form.data['linkedin_s']}
    %input#unsubscribe-volunteer-facebook{name:'facebook_s', type:'hidden', required: true, value: form.data['facebook_s']}
    %input#unsubscribe-volunteer-description{name:'description_s', type:'hidden', required: true, value: form.data['description_s']}
    %input#unsubscribe-volunteer-email{name:'email_s', type:'hidden', required: true, value: form.data['email_s']}
    %input#unsubscribe-volunteer-allow-contact{name:'allow_contact_b', type:'hidden', required: true, value: form.data['allow_contact_b']}
    #volunteer-secret{style: 'display: none'}= secret

    %button.btn-submit Confirm

  #thanks{:style=>"display: none;"} You have successfully unsubscribed.
