---
title: Hour of Code Organizer Survey
nav: blank
rightbar: blank
---

-code = File.basename(request.path_info)

:ruby
  email = Poste.decrypt(code) rescue nil
  signup = DB[:forms].where(kind: 'HocSignup2015', email: email).first
  not_found! unless signup
  processed_data = JSON.load signup[:processed_data]
  country = processed_data['location_country_s']

%script{type: "text/javascript", src: "/js/sifter.min.js"}
%script{type: "text/javascript", src: "/js/microplugin.min.js"}
%script{type: "text/javascript", src: "/js/selectize.min.js"}
%script{type: "text/javascript", src: "/js/selectize-fast-click.js"}
%script{type: "text/javascript", src: "/js/hoc-survey-2015.js"}
%link{rel: "stylesheet", type: "text/css", href: "/css/selectize.bootstrap3.css"}/

/[if lt IE 9]
  %script{src: "/js/es5-shim.min.js"}

%h1 Hour of Code Organizer Survey

%div
%div
  The deadline to complete the survey was January 15, 2016.
  We are no longer accepting surveys or offering thank-you gifts.
  Thank you for participating and supporting the campaign!
