!!!
%html
  %body
    %h2 Pegasus
    %table
      %tr
        %td
          %iframe{frameborder: "no", height: "300", scrolling: "no", src: "https://rpm.newrelic.com/public/charts/ckiyakkccHg", width: "500"}
        %td
          <iframe src="https://rpm.newrelic.com/public/charts/fr8MJnXNAsO" width="500" height="300" scrolling="no" frameborder="no"></iframe>
      %tr
        %td{colspan: "2"}
          %p
            <iframe src="https://rpm.newrelic.com/public/charts/3cG0ysh0pA5" width="1000" height="300" scrolling="no" frameborder="no"></iframe>
          %p
            <iframe src="https://rpm.newrelic.com/public/charts/97qJz9ngga7" width="1000" height="300" scrolling="no" frameborder="no"></iframe>

    %h2 Dashboard
    %table
      %tr
        %td
          %iframe{frameborder: "no", height: "300", scrolling: "no", src: "https://rpm.newrelic.com/public/charts/5kjI4tRdgt9", width: "500"}
        %td
          <iframe src="https://rpm.newrelic.com/public/charts/dIDNujJJG6H" width="500" height="300" scrolling="no" frameborder="no"></iframe>
      %tr
        %td{colspan: "2"}
          %p
            <iframe src="https://rpm.newrelic.com/public/charts/bcVx2g9pVA0" width="1000" height="300" scrolling="no" frameborder="no"></iframe>
          %p
            <iframe src="https://rpm.newrelic.com/public/charts/d8esRNwYS6h" width="1000" height="300" scrolling="no" frameborder="no"></iframe>

    %h2 Load Balancers
    %table
      %tr
        %td{colspan: "2"}
          %h2
          %p
            %iframe{frameborder: "no", height: "300", scrolling: "no", src: "https://rpm.newrelic.com/public/charts/lEWtOzQms6V", width: "1000"}
          %p
            %iframe{frameborder: "no", height: "300", scrolling: "no", src: "https://rpm.newrelic.com/public/charts/5ZSAuTTW4Ei", width: "1000"}
          %p
            %iframe{frameborder: "no", height: "300", scrolling: "no", src: "https://rpm.newrelic.com/public/charts/eJn1AAUTk8K", width: "1000"}
          %p
            %iframe{frameborder: "no", height: "300", scrolling: "no", src: "https://rpm.newrelic.com/public/charts/feNMET3bbTR", width: "1000"}
          %p
            %iframe{frameborder: "no", height: "300", scrolling: "no", src: "https://rpm.newrelic.com/public/charts/7XBvsEusC56", width: "1000"}
          %p
            %iframe{frameborder: "no", height: "300", scrolling: "no", src: "https://rpm.newrelic.com/public/charts/1drskPnpx89", width: "1000"}

    %h2 Servers
    %table
      %tr
        %td
          %p
            <iframe src="https://rpm.newrelic.com/public/charts/hZYjekLhJds" width="500" height="300" scrolling="no" frameborder="no"></iframe>
          %p
            <iframe src="https://rpm.newrelic.com/public/charts/dOfZDG6wfq4" width="500" height="300" scrolling="no" frameborder="no"></iframe>
          %p
            <iframe src="https://rpm.newrelic.com/public/charts/5RMvwaiO5CX" width="500" height="300" scrolling="no" frameborder="no"></iframe>
        %td
          %p
            <iframe src="https://rpm.newrelic.com/public/charts/9T4Nw0Pereo" width="500" height="300" scrolling="no" frameborder="no"></iframe>
          %p
            <iframe src="https://rpm.newrelic.com/public/charts/5CaMHdshE1k" width="500" height="300" scrolling="no" frameborder="no"></iframe>
          %p
            <iframe src="https://rpm.newrelic.com/public/charts/8lZOVxtHDgr" width="500" height="300" scrolling="no" frameborder="no"></iframe>
      %tr
        %td
          %p
            <iframe src="https://rpm.newrelic.com/public/charts/eNxPR0FJWFU" width="500" height="300" scrolling="no" frameborder="no"></iframe>
          %p
            <iframe src="https://rpm.newrelic.com/public/charts/gUPgjuHKbK" width="500" height="300" scrolling="no" frameborder="no"></iframe>
          %p
            <iframe src="https://rpm.newrelic.com/public/charts/chk3u9N4Fm1" width="500" height="300" scrolling="no" frameborder="no"></iframe>
        %td

    %h2 Database
    %table
      %tr{colspan: "2"}
        %td
          %p
            <iframe src="https://rpm.newrelic.com/public/charts/74DaVBkqUY6" width="1000" height="300" scrolling="no" frameborder="no"></iframe>
          %p
            <iframe src="https://rpm.newrelic.com/public/charts/fERK0ahx46y" width="1000" height="300" scrolling="no" frameborder="no"></iframe>
          %p
            <iframe src="https://rpm.newrelic.com/public/charts/lMsfmjEbvSo" width="1000" height="300" scrolling="no" frameborder="no"></iframe>
