-if request.request_method == 'POST'
  -@email = request.params['email_s']
  -@type = request.params['type_s']
  -@code = claim_prize_code(@type, @email)
  %h2= @email
  %ul
    %li
      Type:
      %b= @type
    %li
      Code:
      %code= @code
-else
  %form{method:'POST'}
    %input{type:'text', name:'email_s'}
    %select{name:'type_s'}
      %option dropbox
      %option skype
    %input{type:'submit'}
