!!!
%html{lang: "en"}
  %body
    %h1 Welcome to Code.org!
    %p Looks like this is your first time logging in from Canvas. Seclect one of the options below to continue.
    %a.btn.btn-primary{href: new_user_registration_url} I am new to Code.org
    %a.btn.btn-primary{href: lti_v1_account_linking_existing_account_path} I have an existing Code.org account
