- content_for(:head) do
  :ruby
    script_data = {}
    script_data[:lti_provider] = lti_provider
    script_data[:lti_provider_name] = Policies::Lti::LMS_PLATFORMS[lti_provider.to_sym][:name]
    script_data[:new_account_url] = new_user_registration_url
    script_data[:existing_account_url] = CDO.studio_url(user_session_path, CDO.default_scheme)
    script_data[:email] = email

  %script{src: webpack_asset_path('js/lti/v1/account_linking/landing.js'), data: {json: script_data.to_json}}}
%body
  %div{id: 'mount-point'}
