-dont_cache

-encrypted_app_id = request.splat_path_info[1..-1]
-app_id = storage_decrypt_app_id(encrypted_app_id).last.to_s
-properties = DB[:app_properties].where(app_id:app_id, storage_id:nil)

%h2
  Key/value pairs
%table
  %tr
    %th
      key
    %th
      value
  -properties.each do |property|
    %tr
      %td
        "#{property[:name]}"
      %td
        #{property[:value]}
