@import 'animations';
@import 'color';
@import 'font';


.comingSoonBanner {
  align-items: flex-start;
  background-color: $light_secondary_100;
  border: 0;
  color: $light_gray_700;
  display: flex;
  line-height: 2rem;

  & .icon {
    display: inline-block;
    margin-inline-end: 1rem;

    @include wave-animation;
    animation-iteration-count: 2;

    & .megaphone {
      vertical-align: middle;

      &:hover {
        @include wave-animation;
      }
    }
  }

  & .bannerText {
    flex-grow: 1;
    font-size: 16px;
    height: 100%;
    line-height: 2rem;
    display: inline-block;
  }

  & i {
    color:  $light_black;
    font-size: 1.3rem;
  }

  & b {
    color: $light_black;
  }

  & :global(button.close) {
    border: unset !important;
    box-shadow: none;
    font-size: 1.6rem;
    font-weight: normal;
    line-height: unset;
    margin: 0;
    order: 2;
    top: 0;
  }
}
