@import "color.scss";

.progressTableV2 {
  width: 100%;
  font-size: 16px;
  margin-bottom: 76px;
  display: flex;
  flex-direction: row;
}

.table {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  flex-direction: row;

  :first-child {
    margin-inline-start: 0;
  }
  :last-child {
    margin-inline-end: 0;
  }
}

.gridBox {
  border-top: 1px solid $light_gray_200;
  border-left: 1px solid $light_gray_200;

  &Student {
    height: 47px;
    line-height: 47px;
    padding-left: 12px;
  }

  &Lesson {
    text-align: center;
    min-width: 80px;
    max-width: 80px;  
    height: 47px;
    line-height: 47px;
  }

  &Skeleton {
    vertical-align: middle;
  }
}

.grid {
  border-bottom: 1px solid $light_gray_200;
  border-right: 1px solid $light_gray_200;
}

.title {
  height: 32px;
  margin-bottom: 12px;
  display: flex;
  flex-direction: row;

  &Students {
    height: 100%;
    min-width: 195px;
    margin-right: 12px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  
  &UnitSelector {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}

.lesson {
  &Column {
    display: flex;
    flex-direction: column;
    margin-right: -1px;
  }

  &HeaderCell {
    height: 42px;
    line-height: 42px;
    min-width: 80px;
    border-bottom: 1px solid $light_gray_200;
    border-right: 1px solid $light_gray_200;
    margin-bottom: 32px;
  }

  &DataColumn {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid $light_gray_200;
    border-right: 1px solid $light_gray_200;
  }
}

.expanded {
  &Header {
    min-width: 80px;

    &LessonCell {
      height: 42px;
      line-height: 42px;
      min-width: 80px;
      border-bottom: 1px solid $light_gray_200;
      border-right: 1px solid $light_gray_200;
    }

    &SecondRow {
      display: flex;
      flex-direction: row;
      width: fit-content;
      border-right: 1px solid $light_gray_200;
    }

    &LevelCell {
      min-width: 52px;
      text-align: center;
      height: 32px;
      line-height: 32px;
      border-top: 0;
    }
  }
  &Column {
    // This is one more to compensate for the -1px margin-right on the lesson column
    margin-left: 9px;
    margin-right: 8px;
  }

  &Column + &Column {
    margin-left: 0;
  }
}

.sortDropdown {
  height: 76px;
  overflow-x: hidden;
}


.studentColumn {
  width: 195px;
  min-width: 195px;
  margin-right: 12px;
}
