@import "color.scss";
@import "./theme/tokens-dark";
@import "./music-view.module.scss";

.container {
  background-color: $neutral_dark80;
  color: $neutral_light;
  display: flex;
  flex-direction: column;
  border: $neutral_dark80 solid;
  border-radius: $default-border-radius;
}

.labelContainer {
  display: flex;
  flex-direction: row;
  margin: 2px 5px;
}

.label {
  font-size: 13px;
  flex: 1;
  margin-bottom: 5px;
}

.closeIcon {
  cursor: pointer;
}

.triggersContainer {
  width: 200px;
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: $neutral_dark90;
  padding: 10px;
}

.triggerButtonRow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 5px 0;
  align-items: flex-end;
}

$hover-opacity: 0.5;

@mixin enabled-trigger($color) {
  cursor: pointer;
  border-color: $color;
  color: $neutral_light;
  &:hover {
    background-color: rgba($color, $hover-opacity);
  }

  &:active {
    background-color: $color;
    border-width: 2px;
    color: $neutral_dark90;
    border-color: $neutral_light;
    box-shadow: 0 0 5px $neutral_light;
  }
}

.triggerButton {
  font-size: 20px;
  border-radius: 8px;
  border-width: 2px 2px 4px 2px;
  border-style: solid;
  color: $neutral_dark70;
  background-color: $neutral_dark90;
  text-align: center;
  max-width: 40px;
  height: 40px;
  line-height: 40px;
  flex: 1;

  &.purple {
    @include enabled-trigger($purple);
  }

  &.strawberry {
    @include enabled-trigger($strawberry);
  }

  &.orange {
    @include enabled-trigger($light-orange);
  }

  &.yellow {
    @include enabled-trigger($yellow);
  }

  &.green {
    @include enabled-trigger($green);
  }

  &.teal {
    @include enabled-trigger($teal);
  }
}
