@import 'color.scss';
@import './theme/tokens-dark';
@import './music-view.module.scss';

.container {
  background-color: $neutral_dark90;
  color: $neutral_light;
  display: flex;
  flex-direction: column;
  border: $neutral_dark90 solid;
  border-radius: $default-border-radius;
  height: 35px;
}

.labelContainer {
  display: flex;
  flex-direction: row;
  margin: 2px 5px;
}

.label {
  font-size: 13px;
  flex: 1;
  margin-bottom: 5px;
  user-select: none;
}

.closeIcon {
  cursor: pointer;
}

.triggersContainer {
  width: 200px;
  display: flex;
  flex-direction: row;
  padding-right: 20px;
  right: 0;
  top: 3px;
  height: 35px;
}

.triggerButtonRow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 5px 0;
  align-items: flex-end;
}

$hover-opacity: 0.5;

@mixin enabled-trigger($color) {
  cursor: pointer;
  border-color: $color;
  color: $neutral_light;
  &:hover {
    background-color: rgba($color, $hover-opacity);
  }

  &:active {
    background-color: $color;
    border-width: 2px;
    color: $neutral_dark;
    border-color: $neutral_light;
    box-shadow: 0 0 5px $neutral_light;
  }
}

.triggerButton {
  font-size: 20px;
  border-radius: 8px;
  border-style: solid;
  color: $neutral_dark80;
  background-color: $neutral_dark;
  text-align: center;
  max-width: 32px;
  height: 32px;
  line-height: 32px;
  flex: 1;
  margin-right: 10px;
  border-width: 3px;

  &.greenTrigger {
    cursor: pointer;
    border-color: #00bc3e;
    background-color: #00bc3e;
    color: white;
  }

  &.purple {
    @include enabled-trigger($purple);
  }

  &.selected {
    border-color: #fc3;
  }

  &.strawberry {
    @include enabled-trigger($strawberry);
  }

  &.orange {
    @include enabled-trigger($light-orange);
  }

  &.yellow {
    @include enabled-trigger($yellow);
  }

  &.green {
    @include enabled-trigger($green);
  }

  &.teal {
    @include enabled-trigger($teal);
  }
}
