@import 'color.scss';
@import '../../mixins.scss';

.triggersContainer {
  width: 200px;
  display: flex;
  flex-direction: row;
  padding-right: 20px;
  height: 35px;
}

.triggerButton {
  @include remove-button-styles;
  font-size: 20px;
  border: 3px solid $neutral_dark40;
  border-radius: 8px;
  color: $neutral_white;
  width: 38px;
  height: 38px;
  line-height: 32px;
  margin-right: 10px;
  opacity: 75%;
  background-color: $neutral_dark40;
  cursor: default;
  
  &Active {
    cursor: pointer;
    border-color: #00bc3e;
    background-color: #00bc3e;
    color: white;
  }

  &Selected {
    border-color: #fc3;
  }
}
