@import "color.scss";

$scale-keybed: 0.5;

.chordPanelContainer {
  background-color: $neutral_dark90;
  align-items: center;
  padding: 5px;

  .optionsRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;

    .dropdown {
      width: 48%;
      font-size: 12px;
    }
  }

  .keybed {
    display: flex;
    flex-direction: row;

    .key {
      border-style: solid;
      border-color: black;
      border-radius: 0 0 4px 4px;
      box-sizing: border-box;
      transition: background-color 0.1s ease;
      cursor: pointer;
      position: relative;

      &.whiteKey {
        border-width: 2px 1px;
        width: 30px * $scale-keybed;
        height: 120px * $scale-keybed;
        background-color: white;
      }

      &.blackKey {
        border-width: 2px 2px;
        z-index: 10;
        width: 20px * $scale-keybed;
        height: 90px * $scale-keybed;
        background-color: black;
        margin: 0 -10px * $scale-keybed;
      }

      &.disabled {
        background-color: $neutral_dark60;
        cursor: not-allowed;

        &:hover {
          background-color: $neutral_dark60;
        }
      }

      &.selected {
        background-color: $light_cyan;
        cursor: pointer;
      }

      .noteLabel {
        bottom: 2px;
        position: absolute;
        width: 13px;
        text-align: center;
        color: $neutral_dark60;
        font-size: 8px;
        user-select: none;
        height: 8px;
        line-height: 1em;
      }

      &:hover {
        background-color: $lighter_cyan;
      }
    }
  }

  .noteGridContainer {
    position: relative;
    width: 315px;
    margin: 10px 0;
    height: 110px;
    border-radius: 4px;
    background-color: $neutral_dark80;

    .gridNote {
      position: absolute;
      width: calc(315px / 16);
      height: calc(105px / 12);
      background-color: $light_cyan;
      border-radius: 3px;
    }
  }

  .controlsRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-around;

    .previewButton {
      font-size: 20px;
      cursor: pointer;
      transition: color 0.1s ease;

      &:hover {
        color: $lighter_cyan;
      }

      &Disabled {
        color: $neutral_dark40;
        cursor: not-allowed;

        &:hover {
          color: $neutral_dark40;
        }
      }
    }

    .clearButton {
      font-size: 12px;
      padding: 5px;
      width: 100%;
    }
  }
}
