@import "color.scss";

.chordPanelContainer {
  background-color: $neutral_dark;
  align-items: center;
  padding: 5px;
  user-select: none;

  .optionsRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;

    .dropdown {
      width: 48%;
      font-size: 12px;
    }
  }

  .keybed {
    display: flex;
    flex-direction: row;

    .key {
      border-style: solid;
      border-color: black;
      border-radius: 0 0 4px 4px;
      box-sizing: border-box;
      transition: background-color 0.1s ease;
      cursor: pointer;
      position: relative;

      &.whiteKey {
        border-width: 2px 1px;
        width: 15px;
        height: 40px;
        background-color: white;
      }

      &.blackKey {
        border-width: 2px 2px;
        z-index: 10;
        width: 10px;
        height: 23px;
        background-color: black;
        margin: 0 -5px;
      }

      &.disabled {
        background-color: $neutral_dark50;

        &:hover {
          background-color: $neutral_dark50;
        }
      }

      &.selected {
        background-color: $light_cyan;
        cursor: pointer;

        &:hover {
          background-color: $lighter_cyan;
        }
      }

      .noteLabel {
        bottom: 2px;
        position: absolute;
        width: 13px;
        text-align: center;
        color: $neutral_dark60;
        font-size: 8px;
        height: 8px;
        line-height: 1em;
      }

      &:hover {
        background-color: $lightest_cyan;
      }
    }
  }

  .noteGridContainer {
    position: relative;
    width: 315px;
    margin: 10px 0;
    height: 110px;
    border-radius: 4px;
    background-color: $neutral_dark90;

    .gridNote {
      position: absolute;
      background-color: $light_cyan;
      border-radius: 3px;
    }
  }

  .controlsRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-around;

    .dropdown {
      width: 100%;
      font-size: 12px;
      margin: 0 30px;
    }
  }
}
