@import "color.scss";
@import "./theme/tokens-dark";
@import "./music-view.module.scss";

.controlsContainer {
  display: flex;
  justify-content: center;
  background-color: $gray-800;
  z-index: 70;
  border-radius: $default-border-radius;
  margin: $default-spacing 0;
  position: relative;
}

.controlButtons {
  color: $white;
  margin: 5px 15px;
  text-align: center;

  &.center {
    flex: 1;
  }

  &.side {
    flex: 0;
  }

  &.hide {
    opacity: 0;
    pointer-events: none;
  }
}

.iconButton {
  cursor: pointer;
  font-size: 30px;

  &Link {
    color: white;
  }
}

.startOverButton {
  background-color: rgba(0 0 0 / 0);
  color: $white;
  font-size: 14px;
  padding: 0 8px;
}
