@import "color.scss";
@import "./theme/tokens-dark";
@import "./music-view.module.scss";
@import "../../mixins.scss";

.controlsContainer {
  display: flex;
  background-color: $neutral_dark90;
  z-index: 70;
  border-radius: $default-border-radius;
  margin: 0 $default-spacing 0 0;
  position: relative;
  padding: 10px;
  flex-direction: column;
}

.section {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.controlButton {
  text-align: center;
  color: $neutral_light;
  width: 100%;
  display: flex;
  justify-content: center;
  border: initial;
  margin: 0;

  &:active {
    border: initial !important;
  }

  &Run {
    display: flex;
    align-items: center;
    font-size: 14px;
    padding: 5px 10px;
    background-color: #fca401;
    border-radius: 8px;
    height: 38px;

    .text {
      padding-left: 10px;
    }
  }

  &Icon {
    @include remove-button-styles;
    margin: 5px 15px;
  }

  &Hide {
    opacity: 0;
    pointer-events: none;
  }
}

.icon {
  font-size: 30px;
}

.feedbackIcon {
  color: $neutral_light;
}

.startOverButton {
  background-color: rgba(0 0 0 / 0);
  color: $neutral_light;
  font-size: 14px;
  padding: 0 8px;
}
