.heading {
  margin-bottom: 0;
}

.textArea {
  font-size: 20px;
  line-height: 1.5;
  width: 100%;
  height: 40%;
  padding: 10px 20px;
  margin: 0;
  box-sizing: border-box;
  color: white;
  background-color: rgba(26 11 76 / 0.6);
  border: none;
  resize: vertical;
  border-radius: 10px;

  &Small {
    font-size: 14px;
  }
}
