@import "color.scss";
@import "./music-view.module.scss";

.instructions {
  background-color: $neutral_dark;
  width: 100%;
  height: 100%;
  border-radius: $default-border-radius;
  background-size: 100% 200%;
  padding: 10px;
  box-sizing: border-box;
  position: relative;
  font-size: 14px;
  line-height: 1.5;
  display: flex;
  overflow: hidden;

  &.vertical {
    flex-direction: column;
  }

  .item {
    display: flex;
    pointer-events: auto;
    flex: 1;
    opacity: 1;

    &.itemVertical {
      flex-direction: column;
      overflow: auto;
    }

    .itemTitle {
      font-size: 18px;
      text-align: left;
      overflow-wrap: break-word;
      padding: 5px;

      &Horizontal {
        max-width: 140px;
      }
    }

    .imageContainer {
      text-align: center;

      &.horizontal {
        text-align: left;
        width: 140px;
      }

      .image {
        cursor: pointer;
        max-height: 120px;

        &.fixedHeight {
          height: 70px;
        }
      }

      .bigImage {
        position: absolute;
        width: 440px;
        text-align: left;
        top: 0;
        left: 0;

        &.bigImageRight {
          left: auto;
          right: 0;
        }

        img {
          width: 100%;
          position: absolute;
          border: 10px $dark_black solid;
          border-radius: $default-border-radius;
          z-index: 80;
          cursor: pointer;
        }
      }
    }

    .text {
      overflow-y: auto;
      white-space: pre-wrap;
      flex: 1;
    }

    .markdownText {
      line-height: 0;

      h1 {
        margin: 0 0 10px 0;
        line-height: 1.2em;
        color: white;
      }

      h2 {
        margin: 0 0 10px 0;
      }

      ol {
        line-height: 0
      }

      li {
        margin-bottom: 10px;
      }
    }

    .feedback {
      .message {
        margin-top: 10px;
        color: #ffa400;

        p {
          margin-bottom: 0;
        }
      }

      .buttonNext {
        font-size: 14px;
        background-color: $brand_secondary_default;
        border-color: $brand_secondary_default;
        color: white;
        width: 100%;
        padding: 5px 10px;
        border-radius: 8px;
        height: 38px;
        margin: 10px 0 0 0;
      }
    }
  }
}
