@import 'color';

.musicPlayViewContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: $light_black;

  .musicPlayViewCard {
    display: flex;
    flex-direction: column;
    max-width: 350px;
    background-color: $light_gray_900;
    gap: .5rem;
    padding: 2rem;
    border-radius: 0.5rem;

    img {
      width: 56px;
      align-self: center;
    }

    h2, p, a {
      color: $light_white;
      margin-bottom: 0;
    }

    .musicPlayViewPlaySection {
      input[type="range"] {
        -webkit-appearance: none;
        appearance: none;
        background-color: transparent;
        cursor: pointer;
        width: 15rem;
      }

      /***** Track Styles *****/

      /***** Chrome, Safari, Opera, and Edge Chromium *****/
      input[type="range"]::-webkit-slider-runnable-track {
        background: #053a5f;
        height: 0.5rem;
      }

      /******** Firefox ********/
      input[type="range"]::-moz-range-track {
        background: #053a5f;
        height: 0.5rem;
      }

      /***** Thumb Styles *****/

      /***** Chrome, Safari, Opera, and Edge Chromium *****/
      input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none; /* Override default look */
        appearance: none;
        margin-top: -12px; /* Centers thumb on the track */
        background-color: #5cd5eb;
        height: 2rem;
        width: 1rem;
      }

      /***** Firefox *****/
      input[type="range"]::-moz-range-thumb {
        border: none; /* Removes extra border that FF applies */
        border-radius: 0; /* Removes default border-radius that FF applies */
        background-color: #5cd5eb;
        height: 2rem;
        width: 1rem;
      }
    }

    .musicPlayViewButtonsSection {
      display: flex;
      gap: .5rem;
      justify-content: center;
    }
  }
}
