@import 'color';
@import '../../mixins.scss';

.musicPlayViewContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: $light_black;
  border-radius: 4px;


  .musicPlayViewCardContainer {
    max-width: 360px;
    border-radius: 4px;
    box-shadow: 3px 3px 6px black;
  }

  .musicPlayViewImage {
    align-self: center;
    display: flex;
    flex-direction: column;
    max-width: 350px;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-radius: 4px;
  }

  .musicPlayViewCard {
    display: flex;
    flex-direction: column;
    max-width: 350px;
    background-color: $light_gray_900;
    gap: .5rem;
    padding: 1.5rem;
    border-radius: 4px;

    .musicPlayViewInfoSection {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      .musicPlayViewInfoText {
        color: $light_white;
        margin-bottom: 0;
      }
    }

    .musicPlayViewPlaySection {
      display: flex;
      align-items: center;
      gap: 1rem;
      background: $neutral_dark;
      padding: 10px;
      border-width: 1px;
      border-style: solid;
      border-color: $light_gray_700;
      border-radius: 4px;

      .musicPlayViewButton {
        border-color: transparent;
      }

      input[type=range] {
        -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
        width: 100%; /* Specific width is required for Firefox. */
        background: transparent; /* Otherwise white in Chrome */
      }
      
      input[type=range]::-ms-track {
        width: 100%;      
        /* Hides the slider so custom styles can be added */
        background: transparent; 
        border-color: transparent;
        color: transparent;
      }

      input[type=range]::-webkit-slider-thumb {
        -webkit-appearance: none;
        @include slider-thumb;
        margin-top: -8px; /* You need to specify a margin in Chrome, but in Firefox it is automatic */
      }

      /* Firefox */
      input[type=range]::-moz-range-thumb {
        @include slider-thumb;
      }

      input[type=range]::-webkit-slider-runnable-track{
        @include slider-track;
      }

      /* Firefox */
      input[type=range]::-moz-range-track {
        @include slider-track;
      }    
    }

    .musicPlayViewButtonsSection {
      display: flex;
      justify-content: space-between;
      margin-top: 10px;
    }
  }
}