@import 'color';

.musicPlayViewContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: $light_black;


  .musicPlayViewCardContainer {
    max-width: 360px;
    border-color: $neutral_dark60;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
  }

  .musicPlayViewImage {
    align-self: center;
    display: flex;
    flex-direction: column;
    max-width: 350px;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }

  .musicPlayViewCard {
    display: flex;
    flex-direction: column;
    max-width: 350px;
    background-color: $light_gray_900;
    gap: .5rem;
    padding: 1.5rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;

    .musicPlayViewInfoSection {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      .musicPlayViewInfoText {
        color: $light_white;
        margin-bottom: 0;
      }
    }

    .musicPlayViewPlaySection {
      display: flex;
      align-items: center;
      gap: 1rem;

      input[type='range'] {
        overflow: hidden;
        width: 100%;
        accent-color: yellow;

        background-color: $light_gray_800;
        color: $light_gray_800;
      }
    }

    .musicPlayViewButtonsSection {
      display: flex;
      gap: 1rem;
      justify-content: center;

      .musicPlayViewShareButton {
        margin-top: 5px;
        width: 10rem;
      }
    }
  }
}
