@import "./theme/tokens-dark";

// Constants
$timeline-area-height: 200px;
$default-border-radius: 4px;
$default-spacing: 5px;

.container {
  position: relative;
  background-color: black;
  color: white;
  width: 100%;
  height: 100%;
  padding: 0;
  box-sizing: border-box;
  border-radius: $default-border-radius;
  overflow: hidden;
  user-select: none;
  display: flex;
  flex-direction: column;
}

.instructionsArea {
  display: flex;
  color: white;
  background-color: black;
  border-radius: $default-border-radius;
  padding: 0;
  box-sizing: border-box;

  &.instructionsTop {
    flex-direction: row;
    height: 90px;
    margin-bottom: $default-spacing;
    width: 100%;
  }

  &.instructionsSide {
    flex-direction: column;
    height: 100%;
    width: 20%;

    &.instructionsLeft {
      margin-right: $default-spacing;
    }

    &.instructionsRight {
      margin-left: $default-spacing;
    }
  }
}

.shareArea {
  &.shareTop {
    margin-left: $default-spacing * 2;
  }
}

.middleArea {
  flex: 1;
  display: flex;
  flex-direction: row;
  max-height: calc(100% - $timeline-area-height);

  .topButtonsContainer {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 10;
  }
}

.blocklyArea {
  border-radius: $default-border-radius;
  overflow: hidden;
  flex: 1;
  position: relative;
}

.timelineArea {
  width: 100%;
  height: $timeline-area-height;
  box-sizing: border-box;
  display: flex;

  &.timelineBottom {
    flex-direction: column;
  }

  &.timelineTop {
    flex-direction: column-reverse;
  }
}
