@import 'color.scss';

// Constants
$timeline-area-height: 200px;
$default-border-radius: 0;
$default-spacing: 2px;

.musicLab {
  position: relative;
  background-color: $dark_black;
  width: 100%;
  height: 100%;
  padding: 0;
  box-sizing: border-box;
  border-radius: $default-border-radius;
  overflow: hidden;
  user-select: none;
  display: flex;
  flex-direction: column;
  gap: $default-spacing;
}

.workArea {
  flex: 1;
  display: flex;
  flex-direction: row;
  max-height: calc(100% - $timeline-area-height);
  gap: $default-spacing;
}

.playArea {
  width: 100%;
  height: $timeline-area-height;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  gap: $default-spacing;

  .controlsArea {
    width: 220px;
    height: 100%;
  }

  .timelineArea {
    width: calc(100% - 220px);
    height: 100%;
  }
}

.instructionsArea {
  display: flex;
  color: $neutral_light;
  background-color: $dark_black;
  border-radius: $default-border-radius;
  padding: 0;
  box-sizing: border-box;

  &.instructionsTop {
    flex-direction: row;
    height: 90px;
    width: 100%;
  }

  &.instructionsSide {
    flex-direction: column;
    height: 100%;
    width: 20%;
  }
}

.shareArea {
  &.shareTop {
    margin-left: $default-spacing * 2;
  }
}

.blocklyArea {
  border-radius: $default-border-radius;
  overflow: hidden;
  flex: 1;
  position: relative;
}
