@import 'color.scss';

// A translucent overlay that covers the entire container.
%full-container-overlay {
  background-color: rgba(0 0 0 / 0.5);
  color: $neutral_dark;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  z-index: 80;
}

%dialog {
  background-color: $neutral_light;
  border-radius: 5px;
  padding: 7px 20px;
  width: calc(100% - 120px);
  max-height: calc(100% - 84px);
}

.focusLock {
  position: absolute;
  width: 100%;
  height: 100%;
}

.dialogContainer {
  @extend %full-container-overlay;

  .packDialog {
    @extend %dialog;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: $neutral_dark90;
    color: $neutral_light;
    border: solid 1px $neutral_dark60;
    top: -15px;

    .heading {
      color: $neutral_light;
      margin: 0 0 7px 0;
    }

    .footer {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: 7px;

      .body {
        //margin-bottom: 14px;
      }
    }

    .packsContainer {
      width: 100%;
      height: 100%;
      overflow-y: auto;
      flex: 1;
      background-color: $neutral_dark;
      border: solid $neutral_dark 2px;
      box-sizing: border-box;
      border-radius: 5px;

      .packsThin {
        display: grid;
        grid-template-columns: repeat(auto-fill, 350px);
        grid-gap: 4px;
        justify-content: space-around;

        .pack {
          box-sizing: border-box;
          cursor: pointer;
          width: 350px;
          padding: 8px;
          display: flex;
          gap: 10px;

          &Hero {
            grid-column: 1 / 3;
            grid-row: 1 / 3;
            width: 700px;

            .content {
              width: 100%;
              border-radius: 5px;
              //background-position: 40% 45%;
              //background-size: cover;
              background-size: 130%;
              background-position: 0% 22%;
              padding: 7px 12px;
              height: 130px;
            }
          }

          &Selected {
            background-color: $dark_black;
            border-radius: 5px;
          }

          &ImageContainer {
            width: 60px;
            transform: scale(1, 1);
            transition: 0.1s ease-in-out;

            &:hover, &Selected {
              transform: scale(1.03, 1.03);
              transition: 0.1s ease-in-out;
            }
          }

          &Image {
            border-radius: 5px;

            &Attribution {
              transform: rotate(270deg) translate(0, 0);
              position: absolute;
              top: 6px;
              right: 18px;
              transform-origin: top right;
              font-size: 8px;
              opacity: 0.3;

              &Left {
                top: -10px;
                right: initial;
                transform: translate(-100%, 100%) rotate(270deg);
              }
            }
          }

          &Footer {
            margin-top: 0;
            display: flex;
            justify-content: space-between;

            &Hero {
              //color: $dark_black;
            }

            &Name {
              font-size: 18px;
              font-weight: 600;
              line-height: 1.3;
            }

            &Artist {
              font-size: 11px;
            }

            &Preview {
              margin: 3px 6px 0 3px;
              font-size: 18px;

              .preview {
                color: $neutral_dark40;
              }
            }
          }
        }
      }

      .packs {
        display: grid;
        grid-template-columns: repeat(auto-fill, 232px);
        grid-gap: 4px;
        justify-content: space-around;

        .pack {
          box-sizing: border-box;
          cursor: pointer;
          width: 232px;
          padding: 16px;

          &Selected {
            background-color: $dark_black;
            border-radius: 5px;
          }

          &ImageContainer {
            width: 100%;
            transform: scale(1, 1);
            transition: 0.1s ease-in-out;

            &:hover, &Selected {
              transform: scale(1.03, 1.03);
              transition: 0.1s ease-in-out;
            }
          }

          &Image {
            border-radius: 5px;

            &Attribution {
              transform: rotate(270deg) translate(0, 0);
              position: absolute;
              top: 6px;
              right: 18px;
              transform-origin: top right;
              font-size: 8px;
              opacity: 0.3;

              &Left {
                top: -10px;
                right: initial;
                transform: translate(-100%, 100%) rotate(270deg);
              }
            }
          }

          &Footer {
            margin-top: 8px;
            display: flex;
            justify-content: space-between;

            &Name {
              font-size: 18px;
              font-weight: 600;
              line-height: 1.3;
            }

            &Artist {
              font-size: 11px;
            }

            &Preview {
              margin: 3px 6px 0 3px;
              font-size: 18px;

              .preview {
                color: $neutral_dark40;
              }
            }
          }
        }
      }
    }
  }
}

%button {
  border: 2px solid;
  transition: background-color 0.1s ease;

  &:hover, &:active {
    box-shadow: none;
    border: 2px solid !important;
  }
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: auto;
  //margin-top: 7px;

  .skip {
    @extend %button;
    background-color: initial;
    color: $neutral_light;
    border-color: $neutral_light;
    margin-left: auto;

    &:hover, &:active {
      background-color: $neutral_dark70;
      border-color: $neutral_light !important;
    }
  }

  .continue {
    @extend %button;
    background-color: $neutral_light;
    border-color: $neutral_light;
    color: $neutral_dark;

    &:hover {
      background-color: $neutral_light;
      border-color: $neutral_light !important;
    }

    &Disabled {
      opacity: 30%;
      cursor: default;
    }
  }
}
