@import 'color.scss';

// A translucent overlay that covers the entire container.
%full-container-overlay {
  background-color: rgba(0 0 0 / 0.5);
  color: $neutral_dark;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  z-index: 80;
}

%dialog {
  background-color: $neutral_light;
  border-radius: 5px;
  padding: 20px 50px;
  width: 80%;
  max-height: 80%;
}

.focusLock {
  position: absolute;
  width: 100%;
  height: 100%;
}

.dialogContainer {
  @extend %full-container-overlay;

  .packDialog {
    @extend %dialog;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: $neutral_dark90;
    color: $neutral_light;
    border: solid 1px $neutral_dark60;

    .heading {
      color: $neutral_light;
    }

    .packs {
      width: 100%;
      height: 100%;
      overflow-y: auto;
      flex: 1;
      display: grid;
      grid-template-columns: 25% 25% 25% 25%;

      background-color: $neutral_dark;
      border: solid $neutral_dark 2px;
      box-sizing: border-box;
      border-radius: 5px;

      .pack {
        box-sizing: border-box;
        padding: 16px;
        cursor: pointer;

        &Selected {
          background-color: $dark_black;
          border-radius: 5px;
        }

        &Image {
          width: 100%;
          transform: scale(1, 1);
          transition: 0.1s ease-in-out;

          &:hover, &Selected {
            transform: scale(1.03, 1.03);
            transition: 0.1s ease-in-out;
          }
        }

        &Footer {
          margin-top: 10px;
          display: flex;
          justify-content: space-between;
          align-items: center;

          &Name {
            font-size: 16px;
          }

          &Artist {
            font-size: 11px;
          }

          &Preview {
            margin-right: 10px;

            .preview {
              color: $neutral_dark40;

              &Playing {
                color: $neutral_dark70;
                cursor: default;
              }
            }
          }
        }
      }
    }
  }
}

%button {
  border: 2px solid;
  transition: background-color 0.1s ease;

  &:hover, &:active {
    box-shadow: none;
    border: 2px solid !important;
  }
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;

  .skip {
    @extend %button;
    background-color: initial;
    color: $neutral_light;
    border-color: $neutral_light;
    margin-left: auto;

    &:hover, &:active {
      background-color: $neutral_dark70;
      border-color: $neutral_light !important;
    }
  }

  .continue {
    @extend %button;
    background-color: $neutral_light;
    border-color: $neutral_light;
    color: $neutral_dark;

    &:hover {
      background-color: $neutral_light;
      border-color: $neutral_light !important;
    }

    &Disabled {
      opacity: 30%;
      cursor: default;
    }
  }
}
