@import "color.scss";
@import "./music-view.module.scss";

.panelContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;

  .panelContainerHeader {
    min-height: 26px;

    .panelContainerHeaderBackground {
      position: absolute;
      background-color: $neutral_dark80;
      border-bottom: solid $default-spacing $dark_black;
      width: 100%;
      height: 24px;
    }

    .panelContainerHeaderText {
      position: absolute;
      color: $neutral_light;
      width: 100%;
      text-align: center;
      top: 3px;
    }
  }
}
