@import "color.scss";

// Move the arrow up and down.
@keyframes up-down {
  0%, 100% {
    top: 10px;
  }
  50% {
    top: 0;
  }
}

// Move the arrow left and right.
@keyframes left-right {
  0%, 100% {
    left: 10px;
  }
  50% {
    left: 0;
  }
}

.patternPanel {
  font-size: 13px;
  user-select: none;
}

.body {
  display: flex;
  justify-content: space-around;
}

.leftArea {
  width: 744px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.row {
  display: flex;
  align-items: center;

  &:hover {
    background-color: rgba($background_gray, 0.2);
  }
}

.nameContainer {
  display: inline-block;
  width: 100px;
  vertical-align: middle;
  padding-left: 3px;

  .name {
    cursor: pointer;
    user-select: none;
  }
}

.outerCell {
  display: inline-block;
  padding: 5px 3px;
  box-sizing: border-box;
  cursor: pointer;

  &Playing {
    background-color: $light-gray;
  }
}

.rightArea {
  width: 100px;
}

.botArea {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  opacity: 0;
  transition: 0.1s ease-in-out;

  &Visible {
    opacity: 1;
  }
}

.temperatureInput {
  width: 100px;
  height: 5px;
}

.temperatureText {
  text-align: center;
}

.aiBot {
  width: 80px;
  transition: 0.1s ease-in-out;
  cursor: pointer;

  &:hover{
    transform: scale(1.05, 1.05);
    transition: 0.1s ease-in-out;
  }
}

.cell {
  padding: 2px;
  width: 10px;
  height: 10px;

  border-radius: 50%;
  transition: 0.1s ease-in-out;

  &:hover{
    transform: scale(1.4, 1.4);
    transition: 0.1s ease-in-out;
  }

  &Playing {
    transform: scale(1.8, 1.8);
    transition: 0.01s ease-in-out;
  }

  &Seed {
    &Default {
      background-color: #05343c;
    }

    &Highlighted {
      background-color: #074a55;
    }

    &Active {
      background-color: #fca401;
    }
  }

  &Generated {
    &Invisible {
      opacity: 0;
      pointer-events: none;
    }

    &Default {
      background-color: #222;
    }

    &Highlighted {
      background-color: #222;
    }

    &Active {
      background-color: white;
    }
  }
}

.helpContainer {
  display: contents;
}

.help {
  position: absolute;
  font-size: 14px;
  background-color: white;
  color: black;
  padding: 14px;
  border-radius: 4px;
  max-width: 300px;

  &DrawDrums {
    left: 370px;
    top: 80px;
  }

  &Generate {
    top: 120px;
    right: 190px;
  }
}

.arrowContainer {
  position: absolute;

  &DrawDrums {
    left: 310px;
    top: 90px;
  }

  &Generate {
    right: 170px;
    top: 135px;
  }
}

.arrow {
  position: absolute;
  width: 32px;

  &Left {
    transform: rotate(270deg);
    animation: left-right 0.75s infinite;
  }

  &Right {
    transform: rotate(90deg);
    animation: left-right 0.75s infinite;
  }
}
