@import "color.scss";

// Move the arrow left and right.
@keyframes left-right {
  0%, 100% {
    left: 10px;
  }
  50% {
    left: 0;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slidein {
  from {
    opacity: 0;
    margin-top: 20px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}

.patternPanel {
  font-size: 13px;
  user-select: none;
  height: 100%;
  //background-color: $light_gray_950;
}

.body {
  display: flex;
  justify-content: space-around;
  height: 100%;
}

.leftArea {
  width: 744px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;

  .topRow {
    width: 100%;
    display: flex;
    align-items: center;
  }
}

.select {
  margin-bottom: 0;
}

.row {
  display: flex;
  align-items: center;

  &:hover {
    background-color: rgba($light_gray_950, 0.2);
    border-radius: 4px;
  }
}

.nameContainer {
  display: inline-block;
  width: 120px;
  vertical-align: middle;
  padding-left: 3px;

  .name {
    cursor: pointer;
    user-select: none;
  }
}

.outerCell {
  display: inline-block;
  padding: 4px 2px;
  box-sizing: border-box;
  cursor: pointer;
  transition: background-color 0s;

  &Playing {
    background-color: $neutral_dark20;
  }

  &Scanning {
    background-color: $ai_rubric_cyan;
  }

  &SlowFade {
    transition: background-color 0.25s;
  }

  &Fourth {
    padding-right: 5px;
  }
}

.rightArea {
  width: 120px;
  height: 100%;
}

.botArea {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  opacity: 0;
  transition: 0.1s ease-in-out;
  justify-content: center;
  height: 100%;

  &Gap {
    gap: 30px;
  }

  &Visible {
    opacity: 1;
  }
}

.button {
  background-color: $ai_rubric_cyan !important;
  span {
    user-select: none;
  }
}

.temperatureInput {
  width: 100px;
  height: 5px;
}

.temperatureText {
  text-align: center;
}

.temperatureRow {
  display: flex;
  align-items: center;
}

.temperatureButton {
  display: flex;
  padding: 4px;
  cursor: pointer;
}

.aiBot {
  transition: 0.1s ease-in-out;
  width: 100px;

  &:hover{
    transform: scale(1.05, 1.05);
    transition: 0.1s ease-in-out;
  }
}

.cell {
  padding: 2px;
  width: 10px;
  height: 13px;

  border-radius: 2px; // 50%;
  transition: 0.1s ease-in-out;
  animation: 0.5s fade-in;

  &:hover{
    transform: scale(1.4, 1.4);
    transition: 0.1s ease-in-out;
  }

  &Playing {
    transform: scale(1.8, 1.8);
    transition: 0.01s ease-in-out;
  }

  &Seed {
    &Default {
      background-color: #05343c;
    }

    &Highlighted {
      background-color: #074a55;
    }

    &Active {
      background-color: #fca401;
    }
  }

  &Generated {
    &Invisible {
      opacity: 0;
      pointer-events: none;
    }

    &Default {
      background-color: #222;
    }

    &Highlighted {
      background-color: #363636;
    }

    &Active {
      background-color: $ai_rubric_cyan;
    }
  }
}

.helpContainer {
  display: contents;
}

.help {
  position: absolute;
  font-size: 14px;
  background-color: white;
  color: black;
  padding: 14px;
  border-radius: 4px;
  max-width: 300px;
  white-space: pre-line;
  animation: slidein 0.5s;

  &DrawDrums {
    left: 370px;
    top: 80px;
  }

  &Temperature {
    top: 170px;
    right: 214px;
  }

  &Generate {
    top: 205px;
    right: 216px;
  }

  &Generating {
    left: 370px;
    top: 80px;
  }

  &Error {
    left: 370px;
    top: 80px;
  }
}

.arrowContainer {
  position: absolute;

  &DrawDrums {
    left: 310px;
    top: 90px;
  }

  &Temperature {
    right: 192px;
    top: 177px;
  }

  &Generate {
    right: 196px;
    top: 221px;
  }
}

.arrow {
  position: absolute;
  width: 32px;

  &Left {
    transform: rotate(270deg);
    animation: left-right 0.75s infinite;
  }

  &Right {
    transform: rotate(90deg);
    animation: left-right 0.75s infinite;
  }
}

.errorMessage {
  color: $product_negative_default;
}
