@import 'color';

$slider-width: 200px;

.slider {
  position: relative;
  width: $slider-width;
  height: 6px;
  border-radius: 10px;
  background-color: $light_gray_700;
}

.progressBar {
  position: absolute;
  top: 0;
  left: 0;
  height: 6px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: $light_gray_100;
}

.playhead {
  position: absolute;
  top: -7px;
  height: 20px;
  width: 3px;
  border-radius: 1px;
  background-color: white;
  box-shadow: 1px 1px $neutral_dark80;
}

:export {
  sliderWidth: $slider-width;
}