@import 'color';

$slider-width: 300px;

.slider {
  position: relative;
  width: 100%;
  height: 4px;
  border-radius: 10px;
  background-color: $light_gray_100;
}

.progressBar {
  position: absolute;
  top: 0;
  left: 0;
  height: 4px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: $light_gray_700;
}

.playhead {
  position: absolute;
  top: -4px;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  border: 1px solid $light_gray_700;
  background-color: $white;
  // box-shadow: 1px 1px $neutral_dark80;
}

:export {
  sliderWidth: $slider-width;
}