@import "color.scss";

.soundsPanel {
  user-select: none;
}

.folder {
  background-color: $neutral_dark90;
  overflow: hidden;
  border-radius: 4px;
  padding: 6px;
  &:first-child {
    margin-top: 0;
  }
  &:not(:first-child) {
    margin-top: 6px;
  }
}

.folderName {
  font-size: 18px;
  padding: 6px 0;
  margin-bottom: 6px;
  border-bottom: solid 1px $neutral_dark80;
  margin-right: 12px;
}

.soundRow {
  overflow: hidden;
  padding: 4px 0;
  &:hover {
    background-color: $neutral_dark80;
  }
  &Selected {
    background-color: $neutral_dark70;
  }
}

.soundRowLeft {
  width: 15px;
  margin: 0 4px;
  float: left;
}

.icon-beat {
  color: #fc55ff;
}

.icon-bass {
  color: #00c0ff;
}

.icon-lead {
  color: #00ff02;
}

.icon-fx {
  color: #ff0;
}

.soundRowMiddle {
  width: calc(100% - 23px - 55px);
  float: left;
}

.soundRowRight {
  float: right;
  width: 40px;
  margin-right: 15px;

  .length {
    display: inline-block;
    font-size: 13px;
    width: 15px;
    margin-right: 10px;
    color: $neutral_dark40;
    text-align: right;
  }

  .previewContainer {
    display: inline-block;
    font-size: 16px;
  }
}

.preview {
  color: $neutral_dark30;

  &Playing {
    color: $neutral_dark60;
    cursor: default;
  }
}
