@import "color.scss";

.soundsPanel {
  user-select: none;
  width: 600px;
  height: 340px;
  display: flex;
  flex-direction: column;
  gap: 5px;

  &Top {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;

    .segmentedButtons {
      span {
        font-size: 12px !important;
      }
    }
  }

  &Body {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    flex: 1;
    gap: 5px;

    .leftColumn {
      background-color: $neutral_dark;
      flex: 1;
      overflow-y: scroll;
    }

    .rightColumn {
      background-color: $neutral_dark;
      flex: 1;
      overflow-y: scroll;
    }
  }

  .folderRow {
    padding: 6px 0;
    margin: 1px 1px 6px 1px;
    overflow: hidden;
    cursor: pointer;

    &:hover {
      background-color: $neutral_dark90;
    }

    &:focus-visible {
      outline: $neutral_light solid 1px;
    }

    &Selected {
      background-color: $neutral_dark80;
    }

    &:first-child {
      margin-top: 1px;
    }
    &:not(:first-child) {
      margin-top: 14px;
    }

    &Left {
      width: 55px;
      height: 55px;
      margin: 0 6px 0 4px;
      float: left;
    }

    &Middle {
      width: calc(100% - 75px - 58px);
      float: left;

      &Name {
        font-size: 16px;
      }

      &SubTitle {
        font-size: 11px;
        line-height: 2em;
      }
    }

    &Right {
      float: right;
      width: 43px;
      margin-right: 15px;
    }
  }

  .soundRow {
    overflow: hidden;
    font-size: 14px;
    margin: 1px;
    padding: 6px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    &:hover {
      background-color: $neutral_dark90;
    }

    &:focus-visible {
      outline: $neutral_light solid 1px;
    }

    &Selected {
      background-color: $neutral_dark80;
    }

    &Left {
      display: flex;
      align-items: center;
      width: 200px;

      .typeIcon {
        margin-right: 6px;
        margin-left: 4px;
        width: 24px;
        text-align: center;
      }

      .name {
        font-size: 14px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &Vocal {
          font-style: italic;
        }
      }
    }

    &Middle {
      font-size: 11px;
    }

    &Right {
      display: flex;
      margin-right: 15px;
    }
  }

  .length {
    display: inline-block;
    font-size: 13px;
    width: 15px;
    margin-right: 10px;
    color: $neutral_dark50;
    text-align: right;

    &NoMarginRight {
      margin-right: 0;
    }
  }

  .previewContainer {
    display: inline-block;
    font-size: 16px;
  }

  .preview {
    color: $neutral_dark40;

    &Playing {
      color: $neutral_dark70;
      cursor: default;
    }
  }
}
