@import 'color.scss';

.sound {
  &Beat {
    &Color {
      color: #FC55FF;
    }
    &Fill {
      fill: #FC55FF;
    }
    &Background {
      background-color: #89308a;
    }
    &Border {
      border-color: #FC55FF;
    }
  }

  &Bass {
    &Color {
      color: #00C0FF;
    }
    &Fill {
      fill: #00C0FF;
    }
    &Background {
      background-color: #03789e;
    }
    &Border {
      border-color: #00C0FF;
    }
  }

  &Lead {
    &Color {
      color: #23C347;
    }
    &Fill {
      fill: #23C347;
    }
    &Background {
      background-color: #14742a;
    }
    &Border {
      border-color: #23C347;
    }
  }

  &Fx {
    &Color {
      color: #E3CB0C;
    }
    &Fill {
      fill: #E3CB0C;
    }
    &Background {
      background-color: #928308;
    }
    &Border {
      border-color: #E3CB0C;
    }
  }

  &Vocal {
    &Color {
      color: #ff8c00;
    }
    &Fill {
      fill: #ff8c00;
    }
    &Background {
      background-color: #a35a02;
    }
    &Border {
      border-color: #ff8c00;
    }
  }

  &Pattern {
    &Color {
      color: black;
    }
    &Fill {
      fill: black;
    }
    &Background {
      background-color: black;
    }
    &Border {
      border-color: $neutral_light;
    }
  }

  &Chord {
    &Color {
      color: $light_cyan;
    }
    &Fill {
      fill: $light_cyan;
    }
    &Background {
      background-color: $light_cyan;
    }
    &Border {
      border-color: $neutral_dark80;
    }
  }
}
