@import "./theme/tokens-dark";
@import "./music.module.scss";

.buttonRow {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  max-width: 130px;

  .button {
    background-color: $gray-900;
    color: $gray;
    font-size: 13px;
    padding: 5px 10px;
    border-radius: 10px;
    border: solid 1px $gray-200;
    cursor: pointer;
    transition: background-color 0.1s ease;
    position: relative;

    &:hover {
      background-color: $gray-800;
    }
  }
}

.shareComingSoon {
  position: absolute;
  top: 90px;
  right: 0;
  width: 150px;
  background-color: $gray-800;
  border-radius: $default-border-radius;
  padding: 5px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.1s ease;

  &Show {
    opacity: 1;
    pointer-events: auto;
  }
}
