@import "color.scss";
@import "./music-view.module.scss";

.buttonRow {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  max-width: 130px;

  .button {
    background-color: $neutral_dark;
    color: $neutral_light;
    font-size: 13px;
    padding: 5px 10px;
    border-radius: 10px;
    border: solid 1px $neutral_dark20;
    cursor: pointer;
    transition: background-color 0.1s ease;
    position: relative;

    &:hover {
      background-color: $neutral_dark80;
    }
  }
}

.saveMessageContainer {
  position: relative;
}

.saveMessage {
  position: absolute;
  top: 0;
  right: 0;
  width: 150px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 5px;

  &Saving {
    color: $neutral-white;
  }

  &Error {
    color: $lightest_red;
  }

  &Text {
    padding-left: 5px;
    text-align: right;
  }

  opacity: 0;
  transition: opacity 0.1s ease;

  &Show {
    opacity: 1;
  }
}

.shareComingSoon {
  position: absolute;
  top: 110px;
  right: 0;
  width: 150px;
  background-color: $neutral_dark90;
  border-radius: $default-border-radius;
  padding: 5px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.1s ease;

  &Show {
    opacity: 1;
    pointer-events: auto;
  }
}
