@import "color.scss";
@import "./music-view.module.scss";

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

.container {
  background-color: rgba(0 0 0 / 0.5);
  position: absolute;
  z-index: 75;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fadein 1s;
  width: 100%;
  height: 100%;
}

.inner {
  margin: 0 auto;
  width: calc(100% - 40px);
  height: calc(100% - 40px);

  position: relative;
}

.video {
  border-radius: 15px;
  overflow: hidden;
  width: 100%;
  height: 100%;
  border: solid 2px $neutral_light;
  box-sizing: border-box;
  background-color: $dark_black;
}

.closeContainer {
  position: absolute;
  right: -20px;
  top: -15px;
  width: 40px;
  height: 40px;
  background-color: $dark_black;
  color: $neutral_light;
  border-radius: 50%;
  border: solid 2px $neutral_light;
  z-index: 20;
  cursor: pointer;
}

.closeIcon {
  position: absolute;
  font-size: 35px;
  left: 7px;
  top: 2px;
}
