- teacherview ||= nil
- if teacherview
  .courseblock-span6.courseblock-wide-large{style: "height: 200px; width: 350px; margin: 20px 80px 0 80px;"}
    %a{href: url}
      .courseblock-span2.imgspan
        %img{src: image}
      .courseblock-span4.heading
        %h3= title
        .smalltext= description
      .bottombar.smalltext.trynow Try now!
  .clear{style: "margin-bottom: 20px; margin-right: 20px;"}
- else
  .courseblock-span10.courseblock-wide-large{style: "height: 200px; margin: 20px 80px 0 80px;"}
    %a{href: url}
      .courseblock-span4.imgspan
        %img{src: image}
      .courseblock-span6.heading
        %h3= title
        .smalltext= description
      .bottombar.smalltext.trynow Try now!
  .clear{style: "margin-bottom: 20px;"}
