!!! 5
%html
  %head
    %title= 'Lesson coming soon'

    %link{href: "/css/curriculum.css", rel: "stylesheet"}

    %link{:rel=>'stylesheet', :type=>'text/css', :href=>'//cloud.typography.com/7425452/678642/css/fonts.css', :media=>'all'}

  %body
    .container_nonresponsive{:style=>'width:100%'}
      %center
        %h1 Lesson plan coming soon

