!!! 5
%html
  %head
    %title= header['title'] || 'Lesson'

    %link{href: "/css/curriculum.css", rel: "stylesheet"}

    %script{src:'/js/jquery.min.js'}
    - if params['pdf_version']
      -# Auto-open <details> tags when rendering PDF
      %script{src:'/js/curriculum-pdf.js'}
    - else
      -# Polyfill <details> tags
      %link{rel:'stylesheet', type:'text/css', href:'/shared/css/details-polyfill.css'}
      %script{src:'/shared/js/details-polyfill/jquery.details.min.js'}
      %script{src:'/shared/js/details-polyfill/details-polyfill.js'}

  %body
    .container_nonresponsive{:style=>'width:100%'}
      = body

    .container_nonresponsive{:style=>'width: 100%'}
      .license_footer{style: "font-size: 13px"}
        .license-image{style: "float: left; margin-right: 15px; margin-top: 5px;"}
          %a{href: "http://creativecommons.org/", target: "_blank", style: "text-decoration: none"}
            %img{src: "/images/curriculum/cc-license-88x31.png"}
        .license-text{style: "float: left"}
          %a{href: "http://creativecommons.org/", target: "_blank", style: "text-decoration: none"}>
            This curriculum is available under a Creative Commons License (CC BY-NC-SA 4.0)
          %br/
          If you are interested in licensing
          %a{href: "/"} Code.org
          materials for commercial purposes, contact us:
          %a{href: "/contact"} https://code.org/contact
