#pageheader-wrapper{style: "background-color: #00adbc"}
  #pageheader{style: "height: 50px"}
    .content{style: "padding-left: 10px"}
      #left
        %a{:href=>"/"}
          %img#logo{:src=>'/images/logo.svg', style: "height: 42px; padding-left: 16px; padding-top: 4px; box-sizing: content-box"}
    #clear{:style=>'clear:both'}

:javascript
  $ = jQuery;
  $(document).ready(function() {
    $.ajax({
      type: "GET",
      url: '/dashboardapi/user_menu',
      //data: "id=" + id, // appears as $_GET['id'] @ ur backend side
      success: function(data) {
        // data is ur summary
        $('#sign_in_or_user').html(data);
      }
    });
  });
