!!! 5
%html
  %head
    = head.to_s

    %link{:rel=>'stylesheet', :type=>'text/css', :href=>'/css/theme.css'}
    %link{:rel=>'stylesheet', :type=>'text/css', :href=>'/css/generated/font-awesome.min.css'}
    %link{rel:'stylesheet', type:'text/css', href:'/shared/css/user-menu.css'}

  %body{:class=>classes}
    = partial('page_header')
    = body
    = partial('page_footer')
    %script{src: webpack_asset_path("js/code.org/views/theme_google_analytics.js")}
