---
title: Curriculum for Course 3
---

%h1 Curriculum for Course 3

-content = Course.new("course3")
-content.get_lessons.each do |lesson|
  %a{:href=>lesson.url}
    Lesson #{lesson.number}: #{lesson.title}
    %br
