---
title: AP CSP for Teachers
video_player: true
theme: responsive
style_min: true
---

<link href="/shared/css/course-blocks.css", type="text/css", rel="stylesheet"></link>

# Help your students sign up for the AP CS Principles Exam

<img src="/images/csp-hof-2.png" width="100%"/>

AP CS Principles is all about changing the face of computer science. With an explicit emphasis on broadening participation by girls and students of color, the course has done just that with <a href="https://www.collegeboard.org/releases/2019/participation-csp-nearly-doubles", target=_"blank">record setting growth</a> since its lauch in 2017!

But did you know that girls and students of color are less likely to take the AP exam? While the total number of women and students from historically underrepresented minorites in AP computer science has grown ten-fold since 2013, many students won’t get credit for their work at the college level because they don’t take the exam.  

**That's where YOU come in.** Teachers and parents are key to motivating students to try the exam. Join the 350+ teachers at schools in our [AP CS Principles Hall of Fame](/educate/csp/hall-of-fame) who have helped lead record-breaking change in computer science by encouraging girls and underrepresented minorities in their classrooms.

# So, how can you get your students to sign up?

Consider trying one of these techniques from our Hall of Fame teachers to encourage the students in your class:

## 1. Play this video in your class</h2>

<div class="col-50", style="padding-right:20px;">

<%=view :display_video_thumbnail, id: "ap_students", video_code: "-v7XswGX1vM", play_button: 'center', letterbox: 'false' %>

</div>

[col-50]

[/col-50]

<div style="clear: both;"></div>

## 2. Talk to your students 1:1 or send personalized emails encouraging them to take the exam 

This can be especially valuable with the girls or underrepresented minorities in your class. They are less likely to be given personal encouragement by teachers and parents, and <a href="https://www.forbes.com/sites/traceywelsonrossman/2019/08/26/new-ncwit-study-outlines-roadmap-for-bringing-more-girls-into-tech/#3ff70bd665a3", target=_"blank">your support is vital</a> to boosting their confidence. 

Interested in more strategies for recruiting girls? [Check out our tips and resources!](http://code.org/girls)

## 3. Send home this flyer 

Or tell your students to <a href="https://code.org/educate/csp/ap-students", target=_"blank">check out this website</a>.

<a href="https://code.org/files/ap-student-flyer.pdf", target=_"blank"><img src="/images/ap-student-flyer.png" width="25%"/></a>

## 4. Ask your students to help spread the word

Have some of your students already signed up? Encourage them to tell other students in the class that they are taking the exam and inspire their friends (on social media or in the class).

## 5. Give them the facts

Taking the exam can save your students money in college credits, help strengthen their college applications, and <a href="https://files.eric.ed.gov/fulltext/ED519365.pdf", target=_"blank">students who take the AP Exam are more likely to graduate from college</a> than their counterparts who don’t — whether or not they pass.


# Do your students need help paying for the exam?

There is federal and state-level AP exam fee assistance available for low income students! 

For more information about the funding options in your state, please talk to your school's AP coordinator and check out the College Board's resources for <a href="https://apcentral.collegeboard.org/ap-coordinators/exam-ordering-fees/exam-fees/federal-state-assistance", target=_"blank">Federal and State AP Exam Fee Assistance</a>. 


