---
title: Computer Science Principles

---

# CS Principles Monthly Status Updates

Sign up below to receive monthly email updates on  Code.org’s Computer Science Principles. These mails are intended to be shared with members of the Computer Science education community who are interested in peeking under the hood as we continue to polish and refine the curriculum and tools for the course. You'll be able to unsubscribe at any time from the emails.

## Sign-up information

<iframe src="http://go.pardot.com/l/153401/2017-08-24/jjjm14" width="100%" height="380" type="text/html" frameborder="0" allowTransparency="true" style="border: 0"></iframe>

## <a name="previous"></a>Previous updates

### 2020-21

- <a href="http://go.pardot.com/webmail/153401/667278182/f7e01395f2e5bb7f0cc319f4106346c043330c5b5b064af9cd862fed315c3da9", target=_"blank">Back-to-School 2020</a>
- <a href="http://go.pardot.com/webmail/153401/673024532/f7e01395f2e5bb7f0cc319f4106346c043330c5b5b064af9cd862fed315c3da9", target=_"blank">September 2020</a>

### 2019-21

- <a href="http://go.pardot.com/webmail/153401/570061805/f7e01395f2e5bb7f0cc319f4106346c043330c5b5b064af9cd862fed315c3da9", target=_"blank">Back-to-School 2019</a>
- <a href="http://go.pardot.com/webmail/153401/575189199/f7e01395f2e5bb7f0cc319f4106346c043330c5b5b064af9cd862fed315c3da9", target=_"blank">September 2019</a>
- <a href="http://go.pardot.com/webmail/153401/580015571/f7e01395f2e5bb7f0cc319f4106346c043330c5b5b064af9cd862fed315c3da9", target=_"blank">October 2019</a>
- <a href="http://go.pardot.com/webmail/153401/589696099/f7e01395f2e5bb7f0cc319f4106346c043330c5b5b064af9cd862fed315c3da9", target=_"blank">November 2019</a>
- <a href="http://go.pardot.com/webmail/153401/596417267/f7e01395f2e5bb7f0cc319f4106346c043330c5b5b064af9cd862fed315c3da9", target=_"blank">December 2019</a>
- <a href="http://go.pardot.com/webmail/153401/605641171/f7e01395f2e5bb7f0cc319f4106346c043330c5b5b064af9cd862fed315c3da9", target=_"blank">January 2020</a>
- <a href="http://go.pardot.com/webmail/153401/608976029/f7e01395f2e5bb7f0cc319f4106346c043330c5b5b064af9cd862fed315c3da9", target=_"blank">February 2020</a>
- <a href="http://go.pardot.com/webmail/153401/615263946/f7e01395f2e5bb7f0cc319f4106346c043330c5b5b064af9cd862fed315c3da9", target=_"blank">March 2020</a>
- <a href="http://go.pardot.com/webmail/153401/627410549/f7e01395f2e5bb7f0cc319f4106346c043330c5b5b064af9cd862fed315c3da9", target=_"blank">April 2020</a>
- <a href="http://go.pardot.com/webmail/153401/640402622/f7e01395f2e5bb7f0cc319f4106346c043330c5b5b064af9cd862fed315c3da9", target=_"blank">May 2020</a>
- <a href="http://go.pardot.com/webmail/153401/649359832/f7e01395f2e5bb7f0cc319f4106346c043330c5b5b064af9cd862fed315c3da9", target=_"blank">June 2020</a>

### 2018-19

- <a href="http://go.pardot.com/webmail/153401/442404437/f7e01395f2e5bb7f0cc319f4106346c043330c5b5b064af9cd862fed315c3da9", target=_"blank">Back-to-School 2018</a>
- <a href="http://go.pardot.com/webmail/153401/456438397/f7e01395f2e5bb7f0cc319f4106346c043330c5b5b064af9cd862fed315c3da9", target=_"blank">September 2018</a>
- <a href="http://go.pardot.com/webmail/153401/473286789/f7e01395f2e5bb7f0cc319f4106346c043330c5b5b064af9cd862fed315c3da9", target=_"blank">October 2018</a>
- <a href="http://go.pardot.com/webmail/153401/495083220/f7e01395f2e5bb7f0cc319f4106346c043330c5b5b064af9cd862fed315c3da9", target=_"blank">November 2018</a>
- <a href="http://go.pardot.com/webmail/153401/508584630/f7e01395f2e5bb7f0cc319f4106346c043330c5b5b064af9cd862fed315c3da9", target=_"blank">December 2018</a>
- <a href="http://go.pardot.com/webmail/153401/518258898/f7e01395f2e5bb7f0cc319f4106346c043330c5b5b064af9cd862fed315c3da9", target=_"blank">January 2019</a>
- <a href="http://go.pardot.com/webmail/153401/529939174/f7e01395f2e5bb7f0cc319f4106346c043330c5b5b064af9cd862fed315c3da9", target=_"blank">February 2019</a>
- <a href="http://go.pardot.com/webmail/153401/536632288/f7e01395f2e5bb7f0cc319f4106346c043330c5b5b064af9cd862fed315c3da9", target=_"blank">March 2019</a>
- <a href="http://go.pardot.com/webmail/153401/542955482/f7e01395f2e5bb7f0cc319f4106346c043330c5b5b064af9cd862fed315c3da9", target=_"blank">April 2019</a>
- <a href="http://go.pardot.com/webmail/153401/550669000/f7e01395f2e5bb7f0cc319f4106346c043330c5b5b064af9cd862fed315c3da9", target=_"blank">May 2019</a>
- <a href="http://go.pardot.com/webmail/153401/555900671/f7e01395f2e5bb7f0cc319f4106346c043330c5b5b064af9cd862fed315c3da9", target=_"blank">June 2019</a>

### 2017-18
- <a href="http://go.pardot.com/webmail/153401/261565769/f7e01395f2e5bb7f0cc319f4106346c043330c5b5b064af9cd862fed315c3da9", target=_"blank">Back-to-School 2017</a>
- <a href="http://go.pardot.com/webmail/153401/282686815/f7e01395f2e5bb7f0cc319f4106346c043330c5b5b064af9cd862fed315c3da9", target=_"blank">October 2017</a>
- <a href="http://go.pardot.com/webmail/153401/302017753/e46ae3ec91ad4014b64fb4078ff8739e65c753bc5464d16656455ab2891a49bd", target=_"blank">November 2017</a>
- <a href="http://go.pardot.com/webmail/153401/325181280/f7e01395f2e5bb7f0cc319f4106346c043330c5b5b064af9cd862fed315c3da9", target=_"blank">December 2017</a>
- <a href="http://go.pardot.com/webmail/153401/341387822/e46ae3ec91ad4014b64fb4078ff8739e65c753bc5464d16656455ab2891a49bd", target=_"blank">January 2018</a>
- <a href="http://go.pardot.com/webmail/153401/355957340/e46ae3ec91ad4014b64fb4078ff8739e65c753bc5464d16656455ab2891a49bd", target=_"blank">February 2018</a>
- <a href="http://go.pardot.com/webmail/153401/363398242/f7e01395f2e5bb7f0cc319f4106346c043330c5b5b064af9cd862fed315c3da9", target=_"blank">March 2018</a>
- <a href="http://go.pardot.com/webmail/153401/376069862/f7e01395f2e5bb7f0cc319f4106346c043330c5b5b064af9cd862fed315c3da9", target=_"blank">April 2018</a>
- <a href="http://go.pardot.com/webmail/153401/389789478/f7e01395f2e5bb7f0cc319f4106346c043330c5b5b064af9cd862fed315c3da9", target=_"blank">May 2018</a>
- <a href="http://go.pardot.com/webmail/153401/413548860/f7e01395f2e5bb7f0cc319f4106346c043330c5b5b064af9cd862fed315c3da9", target=_"blank">June 2018</a>

### 2016-17

- <a href="http://go.pardot.com/webmail/153401/166317323/f7e01395f2e5bb7f0cc319f4106346c043330c5b5b064af9cd862fed315c3da9", target=_"blank">April 2017</a>
- <a href="http://go.pardot.com/webmail/153401/261880590/f7e01395f2e5bb7f0cc319f4106346c043330c5b5b064af9cd862fed315c3da9", target=_"blank">May 2017</a>






<!--

2017
- <a href="http://us6.campaign-archive2.com/?u=cabadc8d10a257f2cd70c583e&id=d44de6c436", target=_"blank">January 2017</a>
- <a href="http://us6.campaign-archive1.com/?u=cabadc8d10a257f2cd70c583e&id=03a4b7bf23", target=_"blank">February 2017</a>

### 2016

- <a href="http://us6.campaign-archive1.com/?u=cabadc8d10a257f2cd70c583e&id=7d46524a2c&e=dd2cbbaf3e", target=_"blank">January/February 2016</a>
- <a href="http://us6.campaign-archive1.com/?u=cabadc8d10a257f2cd70c583e&id=ad752a9417&e=dd2cbbaf3e", target=_"blank">March 2016</a>
- <a href="http://us6.campaign-archive1.com/?u=cabadc8d10a257f2cd70c583e&id=d5cd904136&e=dd2cbbaf3e", target=_"blank">April 2016</a>
- <a href="http://us6.campaign-archive1.com/?u=cabadc8d10a257f2cd70c583e&id=fca247c5f8&e=dd2cbbaf3e", target=_"blank">May 2016</a>
- <a href="http://us6.campaign-archive2.com/?u=cabadc8d10a257f2cd70c583e&id=b26e4aaae2&e=dd2cbbaf3e", target=_"blank">June 2016</a>
- <a href="http://us6.campaign-archive2.com/?u=cabadc8d10a257f2cd70c583e&id=e806fe0272&e=dd2cbbaf3e", target=_"blank">Back-to-School 2016</a>
- <a href="http://us6.campaign-archive2.com/?u=cabadc8d10a257f2cd70c583e&id=59d5dc9e29", target=_"blank">September 2016</a>
- <a href="http://us6.campaign-archive1.com/?u=cabadc8d10a257f2cd70c583e&id=8c31f6f276&e=879c07b354", target=_"blank">October 2016</a>
- <a href="http://us6.campaign-archive2.com/?u=cabadc8d10a257f2cd70c583e&id=948c1fbff6", target=_"blank">November 2016</a>
- <a href="http://us6.campaign-archive1.com/?u=cabadc8d10a257f2cd70c583e&id=349a589e2e", target=_"blank">December 2016</a>

 

### 2015

- <a href="http://us6.campaign-archive1.com/?u=cabadc8d10a257f2cd70c583e&id=a6f6a7e503&e=7436789f56", target=_"blank">February 2015</a>
- <a href="http://us6.campaign-archive1.com/?u=cabadc8d10a257f2cd70c583e&id=a43e8f359f&e=dd2cbbaf3e", target=_"blank">March 2015</a>
- <a href="http://us6.campaign-archive2.com/?u=cabadc8d10a257f2cd70c583e&id=7e1b6618fe&e=dd2cbbaf3e", target=_"blank">April 2015</a>
- <a href="http://us6.campaign-archive1.com/?u=cabadc8d10a257f2cd70c583e&id=52b20ca9ca&e=185c3df76e", target=_"blank">May 2015</a>
- <a href="http://us6.campaign-archive2.com/?u=cabadc8d10a257f2cd70c583e&id=4b3781b7d9", target=_"blank">June 2015</a>
- <a href="http://us6.campaign-archive2.com/?u=cabadc8d10a257f2cd70c583e&id=7366bad11c&e=dd2cbbaf3e", target=_"blank">July 2015</a>
- <a href="http://us6.campaign-archive1.com/?u=cabadc8d10a257f2cd70c583e&id=9bd666e576&e=dd2cbbaf3e", target=_"blank">August 2015</a>
- <a href="http://us6.campaign-archive2.com/?u=cabadc8d10a257f2cd70c583e&id=af1584b353&e=dd2cbbaf3e", target=_"blank">September 2015</a>
- <a href="http://us6.campaign-archive2.com/?u=cabadc8d10a257f2cd70c583e&id=f193a1f80f&e=dd2cbbaf3e", target=_"blank">October 2015</a>
- <a href="http://us6.campaign-archive1.com/?u=cabadc8d10a257f2cd70c583e&id=a59a55d047&e=dd2cbbaf3e", target=_"blank">November 2015</a>

-->