---
title: AP CSP for Students
video_player: true
theme: responsive
---

<div class="col-50" style="padding-right: 20px;">

<%=view :display_video_thumbnail, id: "ap_students", video_code: "-v7XswGX1vM", play_button: 'center', letterbox: 'false' %>

</div>

<div class="col-50" style="padding-right: 20px;">

<h1> Why should you take the AP CS Principles Exam?</h1>

You're more prepared than you think. Over 70% of students pass the AP CS Principles Exam!

</div>

<div style="clear: both;"></div>

## Count Me In!

When you pledge to take the AP Computer Science Principles exam in the spring of 2020, we'll count you toward making history as we aim to make this the **biggest AP test ever taken**, but also as we aim to dramatically increase the number of young women who are taking the exam and mastering computer science. *Already signed up? Submit your pledge today!*

* Make the pledge by **November 15th, 2019**
* Add your school to the map
* Join with thousands of students across the country who are also making history!    

<center><iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfe_-u1doQS0Lx0FRaOozn0S4dcqhKUhZBH0cRrAXr4C6hE6Q/viewform?embedded=true" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe></center>

<center><iframe src="https://www.google.com/maps/d/u/0/embed?mid=1b5TY_pIddy3UKUbJQmbebIH1bouVPnwJ" width="640" height="480"></iframe></center>

<hr/>

<table style="border-style:hidden">
  <tr>
    <td colspan="10" style="background-color:#0094ca; color:white; text-align:left; font-style:bold; border-style:hidden; padding:30px">If you haven't already signed up, here are three easy steps <strong>YOU</strong> can take today:
<ol> 
 <li>Talk to your school's AP coordinator.</li>
 <li>Ask about sign up deadlines and financial assistance options in your district.</li>
 <li>Register to take the exam (Or find out your school's deadline today!)</li>
</ol>
</td>
</tr>
</table>


## Save on college tuition!

Many universities now count <strong>passing the AP CS Principles exam for course credit.</strong>

## Got your major picked out?

Passing an AP Exam can help you <strong>skip introductory courses</strong> so you can move to upper-level classes and focus on the work you're most interested in.

## No idea what your major will be?

Passing an AP Exam can help you **complete your college's general education requirements**, opening up more time for you to explore what you want to pursue.

## Worried you won't pass?

That's fine! **You don't need to report your test scores** to the colleges you apply to. Research shows that <a href="https://files.eric.ed.gov/fulltext/ED519365.pdf", target=_"blank">students who take an AP exam are more likely to graduate college</a>, even if they don't pass!

## Be a part of history!

Did you know that AP CS Principles is <a href="https://www.collegeboard.org/membership/all-access/counseling-admissions-academic/ap-computer-science-principles-participation", target=_"blank">one of the fastest growing AP exams</a> ever? And, the total number of young women and students from historically underrepresented minorities in AP computer science has grown ten-fold since 2013. **Be a part of this incredible movement - take the exam!**

## Need help paying for the exam?

Financial obligations shouldn't prevent you from taking an AP Exam. Talk with your teacher or your school's AP coordinator to learn about **financial assistance**.

<br>

<img src="/images/csp-students.jpg" width="100%"/>

<!--

<center><iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfe_-u1doQS0Lx0FRaOozn0S4dcqhKUhZBH0cRrAXr4C6hE6Q/viewform?embedded=true" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe></center>

<center><iframe src="https://www.google.com/maps/d/u/0/embed?mid=1b5TY_pIddy3UKUbJQmbebIH1bouVPnwJ" width="640" height="480"></iframe></center>

-->

