---
title: "Find a local volunteer"
theme: responsive
---
%script{type: "text/javascript", src: "/js/sifter.min.js"}
%script{type: "text/javascript", src: "/js/microplugin.min.js"}
%script{type: "text/javascript", src: "/js/selectize.min.js"}
%script{type: "text/javascript", src: "https://maps.googleapis.com/maps/api/js?client=#{CDO.google_maps_client_id}&sensor=true&libraries=places,geometry&v=3.37"}
%script{type: "text/javascript", src: "/js/maplace.min.js"}
%script{type: "text/javascript", src: "/js/jquery.geocomplete.min.js"}
%script{type: "text/javascript", src: "/js/jquery.colorbox-min.js"}
%script{type: "text/javascript", src: "/js/jquery.sticky.js"}
%script{type: "text/javascript", src: "/js/volunteer-local.js"}
%link{rel: "stylesheet", type: "text/css", href: "/css/selectize.bootstrap3.css"}/
%link{rel: "stylesheet", type: "text/css", href: "/css/colorbox.css"}/
%link{rel: "stylesheet", type: "text/css", href: "/css/volunteer-local.css"}/

/[if lt IE 9]
  %script{src: "/js/es5-shim.min.js"}

#volunteer-map
  %a{id: "volunteer-map"}
  = view :volunteer_map

#volunteer-contact{:style=>"display: none;"}
  %a{id: "volunteer-contact"}
  = view :volunteer_contact
