%details
  %summary=hoc_s("gen_ai_page.faq.how_to_fit_existing_curriculum.question")
  %p=hoc_s("gen_ai_page.faq.how_to_fit_existing_curriculum.answer.overview", markdown: :inline, locals: {essential_literacy_url: "https://www.teachai.org/media/what-is-ai?page=%2Fpolicy&contentGrid=widget_P4nnc1XII"})
  %ul
    %li
      %strong
        =hoc_s("gen_ai_page.faq.how_to_fit_existing_curriculum.answer.full_course.label")
      =hoc_s("gen_ai_page.faq.how_to_fit_existing_curriculum.answer.full_course.desc")
    %li
      %strong
        =hoc_s("gen_ai_page.faq.how_to_fit_existing_curriculum.answer.individual_units.label")
      =hoc_s("gen_ai_page.faq.how_to_fit_existing_curriculum.answer.individual_units.desc")
  %p=hoc_s("gen_ai_page.faq.how_to_fit_existing_curriculum.answer.conclusion")
%details
  %summary=hoc_s("gen_ai_page.faq.address_ethical_considerations.question")
  %p=hoc_s("gen_ai_page.faq.address_ethical_considerations.answer", markdown: :inline, locals: {teachers_guide_url: "https://docs.google.com/document/u/0/d/1ztq07VnPY-KfuA1dQEeHjCa5yd4Y-E6qc9RdUIl6vDI/edit"})
%details
  %summary=hoc_s("gen_ai_page.faq.tools_and_setup.question")
  %p=hoc_s("gen_ai_page.faq.tools_and_setup.answer", markdown: :inline, locals: {it_requirements_url: "/educate/it", technical_support_url: ""})
%details
  %summary=hoc_s("gen_ai_page.faq.projects_and_activities.question")
  %p=hoc_s("gen_ai_page.faq.projects_and_activities.answer.overview")
  %ul
    %li=hoc_s("gen_ai_page.faq.projects_and_activities.answer.li_1")
    %li=hoc_s("gen_ai_page.faq.projects_and_activities.answer.li_2")
    %li=hoc_s("gen_ai_page.faq.projects_and_activities.answer.li_3")
    %li=hoc_s("gen_ai_page.faq.projects_and_activities.answer.li_4")
%details
  %summary=hoc_s("gen_ai_page.faq.mapped_to_standards.question")
  %p=hoc_s("gen_ai_page.faq.mapped_to_standards.answer", markdown: :inline, locals: {csta_standards_url: "https://csteachers.org/k12standards/interactive", ai_guidelines_url: "https://ai4k12.org/", mapping_standards_url: "https://docs.google.com/spreadsheets/d/1YuvIyOFDkF8DMgPzv16f7rclVkhQ7asCD3zDBPiOWKw/edit", learning_framework_url: "https://docs.google.com/spreadsheets/d/18JCfzIn8XbAHgjcSqY_TkzUC0fNCmJoj-_ql8M8H1S4/edit"})
%details
  %summary=hoc_s("gen_ai_page.faq.ai_chat_lab.question")
  %p=hoc_s("gen_ai_page.faq.ai_chat_lab.answer", markdown: :inline, locals: {technical_support_url: ""})
