---
title: App Lab Docs
embedded_layout: simple_embedded
---

[name]

## arcRight(angle, radius)

[/name]


[category]

Category: Turtle

[/category]

[description]

[short_description]

Moves the turtle forward and to the right in a smooth circular arc.

[/short_description]

The turtle is not limited to only moving in a straight line. arcRight(angle,radius) moves the turtle clockwise along an *angle* degree arc of a *radius* sized circle. The center of the circle is *radius* pixels to the right of the starting turtle position and direction.

[/description]

### Examples
____________________________________________________

[example]

```
// Draw a quarter circle clockwise.
arcRight(90, 25);
```

[/example]

____________________________________________________

[example]

**Example: Frown** Draw a frown to the right.

```
// Draw a frown to the right.
penWidth(10);
arcRight(180, 50);
```

[/example]

____________________________________________________

[example]

**Example: U-Turn** Smoothly turn the turtle around.

```
// Smoothly turn the turtle around.
arcLeft(60, 25);    // Turn left a bit
arcRight(300, 25);  // Turn almost all the way
arcLeft(60, 25);    // Straighten out
```

[/example]

____________________________________________________

[example]

**Example: Radioactive** Draw the radioactive symbol by coloring in segments of a circle using arcRight and small changes in radius.

<table>
<tr>
<td style="border-style:none; width:90%; padding:0px">
<pre>
// Draw the radioactive symbol by coloring in segments of a circle using arcRight and small changes in radius.
hide();
penWidth(1);
for (var radius=50; radius&gt;0; radius=radius-1) {
  for (var count=1; count&lt;=3; count++) {
    penColor("yellow");
    arcRight(60, radius);
    penColor("black");
    arcRight(60, radius);
  }
  move(1,0);
}
penColor("yellow");
dot(15);
penColor("black");
dot(10);
</pre>
</td>
<td style="border-style:none; width:10%; padding:0px">
<img src='https://images.code.org/7aa1419b6fc7ddbb88401f5fe311d0db-image-1445812311891.gif'>
</td>
</tr>
</table>

[/example]

____________________________________________________

[syntax]

### Syntax

```
arcRight(angle, radius);
```

[/syntax]

[parameters]

### Parameters

| Name  | Type | Required? | Description |
|-----------------|------|-----------|-------------|
| angle | number | Yes | The angle degree arc to move the turtle clockwise in a circle.  |
| radius | number | Yes | The radius of the circle that is placed right of the turtle. radius must be >= 0.  |

[/parameters]

[returns]

### Returns
No return value. Moves turtle only.

[/returns]

[tips]

### Tips
- Use [penUp()](/applab/docs/penUp) before calling arcLeft() to have the turtle not draw as it moves.
- You can specify a radius of 0, which makes arcRight() act the same as [turnRight()](/applab/docs/turnRight).
- Use alternating with [arcLeft()](/applab/docs/arcLeft) to make wavy lines.

[/tips]

[bug]

Found a bug in the documentation? Let us know at documentation@code.org

[/bug]

<%= view :applab_docs_common %>
