-# Expected params: form, items: array of [name, label]

%div.agree-scale
  %table.table.table-bordered.table-hover
    %thead
      %td
      - form.agree_scale_options.map do |option|
        %td
          = option
    %tbody
      - items.map do |item|
        %tr.form-group
          %td
            %label.control-label{for: item[:name]}
              = item[:label]
          - form.agree_scale_options.map do |option|
            %td
              %label{title: option, style: 'cursor:pointer; width:100%; height:100%;'}
                %input{type: 'radio', name: item[:name], value: option, style: 'cursor:pointer'}
