-# Expected params: name, label, form, required (default: true)

-required = true unless locals.key? :required

%div.form-group{for: name}
  %label.control-label{for: name}
    = label
    -if required
      %span.form-required-field *
  - form.options_for(name).map do |option|
    .checkbox
      %label{style: 'font-family: inherit'}
        %input{name: name, type: 'checkbox', value: option}
        = option
