-# Expected params: name, label

%label.control-label{for: name}
  = label
  %span.form-required-field *
%div
  %label.radio-inline{style: 'font-family: inherit'}
    %input{type: 'radio', name: name, value: '1'}
      Yes
  %label.radio-inline{style: 'font-family: inherit'}
    %input{type: 'radio', name: name, value: '0'}
      No
