@use '@code-dot-org/component-library-styles/mixins.scss' as mixins;

.tabList {
  ul {
    width: 100%;
  }
}

.categorySelectionContainer {
  display: inline-flex;
  flex-direction: column;
  gap: 0.125rem;

  span {
    @include mixins.label-three;
    margin-bottom: 0;
  }

  button {
    max-height: 2rem;
  }
}
