#divApplab, #designModeViz, .draggingParent {
  overflow: hidden;
  outline: none;
  position: relative;
  z-index: 1;
  background-color: white;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  #divApplab canvas, #designModeViz canvas, .draggingParent canvas {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: -1; }
  #divApplab img, #designModeViz img, .draggingParent img {
    opacity: 1.0;
    max-width: none; }
  #divApplab label, #designModeViz label, .draggingParent label {
    display: inline-block; }
  #divApplab div, #designModeViz div, .draggingParent div {
    overflow: hidden; }
  #divApplab div.textArea, #designModeViz div.textArea, .draggingParent div.textArea {
    overflow: auto;
    word-wrap: break-word;
    /* needed by Firefox */
    -moz-user-select: text; }
  #divApplab button, #designModeViz button, .draggingParent button {
    padding: 7px 12px;
    margin: 2px;
    font-size: 14px; }
  #divApplab input, #divApplab div.textArea, #divApplab button, #divApplab select, #divApplab img, #divApplab label, #designModeViz input, #designModeViz div.textArea, #designModeViz button, #designModeViz select, #designModeViz img, #designModeViz label, .draggingParent input, .draggingParent div.textArea, .draggingParent button, .draggingParent select, .draggingParent img, .draggingParent label {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    line-height: 1.2em;
    margin: 5px; }
    #divApplab input p, #divApplab div.textArea p, #divApplab button p, #divApplab select p, #divApplab img p, #divApplab label p, #designModeViz input p, #designModeViz div.textArea p, #designModeViz button p, #designModeViz select p, #designModeViz img p, #designModeViz label p, .draggingParent input p, .draggingParent div.textArea p, .draggingParent button p, .draggingParent select p, .draggingParent img p, .draggingParent label p {
      line-height: inherit; }
  #divApplab .chart, #designModeViz .chart, .draggingParent .chart {
    position: absolute;
    display: block;
    overflow: hidden; }
    #divApplab .chart .loading, #designModeViz .chart .loading, .draggingParent .chart .loading {
      background: url("/blockly/media/applab/spinner-big.gif") no-repeat center center; }
  #divApplab .design-mode-hidden, #designModeViz .design-mode-hidden, .draggingParent .design-mode-hidden {
    visibility: hidden; }

#designModeViz canvas, .draggingParent canvas {
  background-color: #eee; }

#designModeViz .chart, .draggingParent .chart {
  background-color: #eee; }

#designModeViz .design-mode-hidden, .draggingParent .design-mode-hidden {
  visibility: visible;
  opacity: 0.3; }

#divApplab.appModern, #designModeViz.appModern, .draggingParent {
  color: #333; }
  #divApplab.appModern button, #designModeViz.appModern button, .draggingParent button {
    border: 0;
    border-radius: 0; }
    #divApplab.appModern button:hover, #designModeViz.appModern button:hover, .draggingParent button:hover {
      background-image: url("/blockly/media/applab/brighter.png");
      box-shadow: none; }
    #divApplab.appModern button:active, #designModeViz.appModern button:active, .draggingParent button:active {
      background-image: url("/blockly/media/applab/darker.png");
      border: 0 !important; }
  #divApplab.appModern input[type=text], #divApplab.appModern input:not([type]), #divApplab.appModern div.textArea, #designModeViz.appModern input[type=text], #designModeViz.appModern input:not([type]), #designModeViz.appModern div.textArea, .draggingParent input[type=text], .draggingParent input:not([type]), .draggingParent div.textArea {
    border: 1px solid #999;
    padding: 5px;
    /* padding clips text in text inputs in Firefox */ }
  #divApplab.appModern select, #designModeViz.appModern select, .draggingParent select {
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 0;
    border-radius: 0;
    padding: 0 30px 0 10px;
    color: #fff;
    background: url("/blockly/media/applab/dropdown.png") no-repeat center right; }
    #divApplab.appModern select::-ms-expand, #designModeViz.appModern select::-ms-expand, .draggingParent select::-ms-expand {
      display: none; }
    #divApplab.appModern select:hover, #designModeViz.appModern select:hover, .draggingParent select:hover {
      background: url("/blockly/media/applab/dropdown.png") no-repeat center right, url("/blockly/media/applab/brighter.png"); }
  #divApplab.appModern button, #divApplab.appModern select, #divApplab.appModern input, #divApplab.appModern .textArea, #designModeViz.appModern button, #designModeViz.appModern select, #designModeViz.appModern input, #designModeViz.appModern .textArea, .draggingParent button, .draggingParent select, .draggingParent input, .draggingParent .textArea {
    outline: 0; }
  #divApplab.appModern img[src=''], #designModeViz.appModern img[src=''], .draggingParent img[src=''] {
    display: none; }
  #divApplab.appModern .screen, #designModeViz.appModern .screen, .draggingParent .screen {
    outline: 0; }

#designModeViz.appModern img[src=''], #designModeViz.appModern canvas, #designModeViz.appModern .chart, .draggingParent img[src=''], .draggingParent canvas, .draggingParent .chart {
  border: 5px solid #fff;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: 1px solid #bdc3c7;
  outline-offset: -1px; }

#designModeViz.appModern img[src=''], .draggingParent img[src=''] {
  display: block;
  background: #bdc3c7 url("/blockly/media/applab/placeholder_img.png") center center no-repeat; }

#designModeViz.appModern canvas, .draggingParent canvas {
  background: #bdc3c7 url("/blockly/media/applab/placeholder_canvas.png") center center no-repeat; }

#designModeViz.appModern .chart, .draggingParent .chart {
  background: #bdc3c7 url("/blockly/media/applab/placeholder_chart.png") center center no-repeat; }

div#visualization {
  height: 400px;
  width: 400px; }

div#visualization.with_padding {
  border: 1px solid #ddd; }

div#visualizationResizeBar {
  top: 30px; }

#designToggleRow > div {
  height: 30px; }

/* Shrink the visualization area on small displays. */
@media screen and (min-width: 1151px), screen and (min-height: 601px) {
  div#visualization.responsive {
    max-height: 400px;
    max-width: 400px; }
  div#visualizationColumn.responsive {
    max-width: 400px; }
  div#visualizationColumn.responsive.with_padding {
    max-width: 402px; }
  .small-footer-base.responsive {
    max-width: 400px; }
  div#codeWorkspace {
    left: 400px; }
  html[dir='rtl'] div#codeWorkspace {
    right: 400px; }
  div#visualizationResizeBar {
    left: 400px;
    line-height: 400px; }
  html[dir='rtl'] div#visualizationResizeBar {
    right: 400px; }
  div#visualization.responsive > * {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); } }

@media screen and (min-width: 1101px) and (max-width: 1150px), screen and (min-height: 551px) and (max-height: 600px) {
  div#visualization.responsive {
    max-height: 350px;
    max-width: 350px; }
  div#visualizationColumn.responsive {
    max-width: 350px; }
  div#visualizationColumn.responsive.with_padding {
    max-width: 352px; }
  .small-footer-base.responsive {
    max-width: 350px; }
  div#codeWorkspace {
    left: 350px; }
  html[dir='rtl'] div#codeWorkspace {
    right: 350px; }
  div#visualizationResizeBar {
    left: 350px;
    line-height: 350px; }
  html[dir='rtl'] div#visualizationResizeBar {
    right: 350px; }
  div#visualization.responsive > * {
    -webkit-transform: scale(0.875);
    -ms-transform: scale(0.875);
    transform: scale(0.875); } }

@media screen and (min-width: 1051px) and (max-width: 1100px), screen and (min-height: 501px) and (max-height: 550px) {
  div#visualization.responsive {
    max-height: 300px;
    max-width: 300px; }
  div#visualizationColumn.responsive {
    max-width: 300px; }
  div#visualizationColumn.responsive.with_padding {
    max-width: 302px; }
  .small-footer-base.responsive {
    max-width: 300px; }
  div#codeWorkspace {
    left: 300px; }
  html[dir='rtl'] div#codeWorkspace {
    right: 300px; }
  div#visualizationResizeBar {
    left: 300px;
    line-height: 300px; }
  html[dir='rtl'] div#visualizationResizeBar {
    right: 300px; }
  div#visualization.responsive > * {
    -webkit-transform: scale(0.75);
    -ms-transform: scale(0.75);
    transform: scale(0.75); } }

@media screen and (min-width: 1001px) and (max-width: 1050px), screen and (min-height: 451px) and (max-height: 500px) {
  div#visualization.responsive {
    max-height: 250px;
    max-width: 250px; }
  div#visualizationColumn.responsive {
    max-width: 250px; }
  div#visualizationColumn.responsive.with_padding {
    max-width: 252px; }
  .small-footer-base.responsive {
    max-width: 250px; }
  div#codeWorkspace {
    left: 250px; }
  html[dir='rtl'] div#codeWorkspace {
    right: 250px; }
  div#visualizationResizeBar {
    left: 250px;
    line-height: 250px; }
  html[dir='rtl'] div#visualizationResizeBar {
    right: 250px; }
  div#visualization.responsive > * {
    -webkit-transform: scale(0.625);
    -ms-transform: scale(0.625);
    transform: scale(0.625); } }

@media screen and (max-width: 1000px), screen and (max-height: 450px) {
  div#visualization.responsive {
    max-height: 200px;
    max-width: 200px; }
  div#visualizationColumn.responsive {
    max-width: 200px; }
  div#visualizationColumn.responsive.with_padding {
    max-width: 202px; }
  .small-footer-base.responsive {
    max-width: 200px; }
  div#codeWorkspace {
    left: 200px; }
  html[dir='rtl'] div#codeWorkspace {
    right: 200px; }
  div#visualizationResizeBar {
    left: 200px;
    line-height: 200px; }
  html[dir='rtl'] div#visualizationResizeBar {
    right: 200px; }
  div#visualization.responsive > * {
    -webkit-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5); } }

#visualizationColumn.wireframeShare {
  background: url("/blockly/media/applab/phone_wireframe.png") center center no-repeat;
  max-width: none !important;
  width: 352px;
  height: 612px;
  margin: 0 auto;
  padding: 20px 0; }
  #visualizationColumn.wireframeShare #designToggleRow, #visualizationColumn.wireframeShare #gameButtons {
    display: none; }
  #visualizationColumn.wireframeShare #visualization {
    top: 68px;
    left: 16px;
    border: 0; }

#wireframeSendToPhone {
  position: absolute;
  bottom: 10px;
  right: 10px;
  text-align: right;
  text-shadow: #000 -1px -1px 0; }
  #wireframeSendToPhone, #wireframeSendToPhone .sharing label {
    font: 12pt "Gotham 5r", sans-serif;
    color: #8F9499; }
  #wireframeSendToPhone i {
    font-size: 1.5em; }
  #wireframeSendToPhone .sharing div {
    margin: 0; }

#visualizationColumn.chromelessShare #designToggleRow, #visualizationColumn.chromelessShare #gameButtons {
  display: none; }

#divApplab, #designModeViz, #visualizationOverlay {
  overflow: hidden;
  outline: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  user-select: none; }

#divApplab {
  position: relative;
  z-index: 1;
  background-color: white; }

#visualizationOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  pointer-events: none;
  filter: progid:DXImageTransform.Microsoft.Blur(pixelradius=0); }

.crosshair-overlay line {
  stroke: #aaa;
  stroke-width: 1.8px;
  stroke-dasharray: 6.5px; }

.crosshair-overlay rect {
  stroke: #bdc3c7;
  stroke-width: 2px;
  fill: rgba(255, 255, 255, 0.8); }

.crosshair-overlay text {
  text-anchor: middle; }

#divApplab canvas, #designModeViz canvas {
  position: absolute;
  overflow: hidden;
  top: 0px;
  left: 0px;
  z-index: -1; }

/* When not running, show default arrow cursor for all UI elements
   so that they do not look active. */
#divApplab.notRunning button, #divApplab.notRunning label, #divApplab.notRunning select, #divApplab.notRunning input, #divApplab.notRunning img, #divApplab.notRunning div.chart, #divApplab.notRunning canvas, #divApplab.notRunning div[contenteditable=true] {
  cursor: default; }

#divApplab.notRunning.withCrosshair {
  cursor: crosshair; }
  #divApplab.notRunning.withCrosshair button, #divApplab.notRunning.withCrosshair label, #divApplab.notRunning.withCrosshair select, #divApplab.notRunning.withCrosshair input, #divApplab.notRunning.withCrosshair img, #divApplab.notRunning.withCrosshair div.chart, #divApplab.notRunning.withCrosshair canvas, #divApplab.notRunning.withCrosshair div[contenteditable=true] {
    cursor: crosshair; }

/* In design mode, show grab/grabbing cursor for all UI elements
 * so that they look draggable. */
#designModeViz button, #designModeViz label, #designModeViz select, #designModeViz input, #designModeViz img, #designModeViz div.chart, #designModeViz canvas, #designModeViz div[contenteditable=true] {
  cursor: move;
  /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab; }
  #designModeViz button:active, #designModeViz label:active, #designModeViz select:active, #designModeViz input:active, #designModeViz img:active, #designModeViz div.chart:active, #designModeViz canvas:active, #designModeViz div[contenteditable=true]:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing; }

#designModeViz.withCrosshair {
  cursor: crosshair; }

#visualizationResizeBar {
  margin-left: 2px;
  width: 13px; }

#debugResizeBar {
  width: 100%;
  height: 13px;
  line-height: 13px;
  color: #c6cacd;
  font-size: 24px;
  text-align: center;
  cursor: ns-resize;
  white-space: nowrap; }

#debug-buttons {
  display: inline;
  white-space: normal; }

#runButton, #resetButton {
  margin-right: 0;
  outline-style: none; }

img#turtleImage {
  position: absolute;
  height: 24px;
  margin: 0px; }

.debugger_button {
  border: 1px solid #0094ca;
  background-color: #0094ca;
  color: #fff;
  margin-left: 0px;
  margin-right: 3px;
  padding: 3px 6px;
  font-size: 14px;
  min-width: 120px; }

#continueButton {
  border-color: #ffa400;
  background-color: #ffa400; }

.debugger_button:focus {
  outline-style: none; }

.debugger_button > img {
  float: left;
  opacity: 1; }

#debug-area {
  position: absolute;
  bottom: 0;
  height: 120px;
  left: 0;
  right: 0;
  max-height: calc(50% - 16px) !important; }

#codeTextbox.pin_bottom {
  bottom: 120px; }

#debug-area-header {
  position: absolute;
  top: 13px;
  height: 30px;
  left: 0;
  right: 0;
  background-color: #cfc9de;
  text-align: center; }
  #debug-area-header > span {
    line-height: 30px; }
  #debug-area-header > span, #debug-area-header .workspace-header {
    color: #4d575f; }
  #debug-area-header .workspace-header-button {
    background-color: #ebe8f1;
    color: #5b6770; }
    #debug-area-header .workspace-header-button:hover {
      background-color: #0094ca;
      color: white; }
  #debug-area-header span {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  #debug-area-header #show-hide-debug-icon {
    position: absolute;
    top: 0;
    left: 8px;
    margin: 0;
    line-height: 30px;
    font-size: 18px; }
    #debug-area-header #show-hide-debug-icon:hover {
      cursor: pointer;
      color: white; }

#debug-commands-header {
  width: 270px;
  float: left;
  border-right: 1px solid gray; }
  #debug-commands-header .fa {
    margin: 0 0.25em; }

.debug-commands, .debug-console {
  display: block;
  background-color: white;
  border: 1px solid #ddd;
  position: absolute;
  top: 43px;
  bottom: 0; }

.debug-commands {
  left: 0;
  width: 270px;
  text-align: center; }

.debug-console {
  left: 270px;
  right: 0; }
  .debug-console.full {
    left: 0; }

.debug-console * {
  font-family: monospace;
  font-size: 12px; }

.debug-input-prompt {
  position: absolute;
  bottom: 0;
  height: 16px;
  display: block;
  left: 3px;
  width: 15px; }

.debug-input, .debug-output {
  position: absolute;
  border-width: 0px;
  padding: 0px;
  outline: none;
  -moz-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text; }

.debug-output {
  top: 0;
  bottom: 16px;
  left: 3px;
  right: 0;
  overflow: auto;
  line-height: normal;
  cursor: text;
  white-space: pre-wrap; }

.debug-input {
  bottom: 0;
  max-height: 16px;
  height: 16px;
  left: 18px;
  right: 0;
  margin-top: -3px; }

#slider-cell {
  float: left;
  cursor: default; }

/* Slider. */
.sliderContainer {
  float: left; }

.sliderTrack {
  stroke: #ebe8f1;
  stroke-width: 4px;
  stroke-linecap: round; }

.sliderKnob {
  fill: #ddd;
  stroke: #bbc;
  stroke-width: 1px;
  stroke-linejoin: round; }

.sliderKnob:hover {
  fill: #eee; }

/* Sprited icons. */
.icon21 {
  height: 21px;
  width: 21px;
  background-image: url("/blockly/media/applab/icons.png");
  background-size: 42px 147px;
  margin-bottom: -3px; }

.code {
  background-position: -21px 0px; }

.link {
  background-position: 0px 0px; }

.run {
  background-position: 0px -21px;
  margin-right: 3px; }

.stop {
  background-position: -21px -21px;
  margin-right: 3px; }

.left-btn {
  background-position: -21px -42px;
  margin-right: 3px; }

.right-btn {
  background-position: -21px -63px;
  margin-right: 3px; }

.up-btn {
  background-position: 0px -63px;
  margin-right: 3px; }

.down-btn {
  background-position: 0px -42px;
  margin-right: 3px; }

.pause-btn {
  background-position: 0px -84px;
  margin-right: 3px; }

.continue-btn {
  background-position: -21px -84px;
  margin-right: 3px; }

.step-in-btn {
  background-position: 0px -105px;
  margin-right: 3px; }

.step-out-btn {
  background-position: -21px -105px;
  margin-right: 3px; }

.step-over-btn {
  background-position: 0px 21px;
  margin-right: 3px; }

#share-cell {
  display: inline-block;
  vertical-align: top; }
  #share-cell.share-cell-none {
    display: none; }

#submitButton {
  border-color: #7665a0;
  background-color: #7665a0;
  color: white; }

#unsubmitButton {
  border-color: #a69bc1;
  background-color: #a69bc1;
  color: white; }

#manageAssetsModal {
  width: 800px;
  margin-left: -400px; }

.assetRow {
  border-bottom: 1px solid #999; }

.assetRow:last-child {
  border-bottom: none; }

.assetRow:hover {
  background: #cfc9de; }

.no-outline:focus {
  outline: none; }

.justify-contents {
  text-align: justify;
  line-height: 0; }
  .justify-contents:after {
    content: '';
    width: 100%;
    display: inline-block; }

.rightalign-contents {
  text-align: right;
  line-height: 0; }
  .rightalign-contents:after {
    content: '';
    width: 100%;
    display: inline-block; }

.hover-pointer:hover {
  cursor: pointer; }

.chooseAssetDropdownOption {
  color: #0596CE;
  text-decoration: underline; }

.droplet-dropdown {
  z-index: 500 !important; }

*[contenteditable] {
  -webkit-user-select: auto !important; }

.design-element-image {
  width: 72px; }

.rainbow-gradient {
  background: -webkit-linear-gradient(to bottom right, red, orange, yellow, green, blue);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(to bottom right, red, orange, yellow, green, blue);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(to bottom right, red, orange, yellow, green, blue);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, red, orange, yellow, green, blue);
  /* Standard syntax */ }
