#visualization {
  background-color: #fff; }

/* Sprited icons. */
.icon21 {
  height: 21px;
  width: 21px;
  background-image: url("/blockly/media/turtle/icons.png"); }

.code {
  background-position: -42px 0px; }

.link {
  background-position: -21px 0px; }

.run {
  background-position: -63px -21px;
  margin-right: 3px; }

.stop {
  background-position: -63px 0px;
  margin-right: 3px; }

.calcHeader {
  font-size: 25px; }

.markedToken {
  fill: white; }

.errorToken {
  fill: #f24118; }

.expr {
  font-size: 20px; }

#answerExpression {
  fill: #3c3c3c; }
