#debugResizeBar {
  width: 100%;
  height: 13px;
  line-height: 13px;
  color: #c6cacd;
  font-size: 24px;
  text-align: center;
  cursor: ns-resize;
  white-space: nowrap; }

#debug-buttons {
  display: inline;
  white-space: normal; }

img#turtleImage {
  position: absolute;
  height: 24px;
  margin: 0px; }

.debugger_button {
  border: 1px solid #0094ca;
  background-color: #0094ca;
  color: #fff;
  margin-left: 0px;
  margin-right: 3px;
  padding: 3px 6px;
  font-size: 14px;
  min-width: 120px; }

#continueButton {
  border-color: #ffa400;
  background-color: #ffa400; }

.debugger_button:focus {
  outline-style: none; }

.debugger_button > img {
  float: left;
  opacity: 1; }

#debug-area {
  position: absolute;
  bottom: 0;
  height: 120px;
  left: 0;
  right: 0;
  max-height: calc(50% - 16px) !important; }

#codeTextbox.pin_bottom {
  bottom: 120px; }

#debug-area-header {
  position: absolute;
  top: 13px;
  height: 30px;
  left: 0;
  right: 0;
  background-color: #cfc9de;
  text-align: center; }
  #debug-area-header > span {
    line-height: 30px; }
  #debug-area-header > span, #debug-area-header .workspace-header {
    color: #4d575f; }
  #debug-area-header .workspace-header-button {
    background-color: #ebe8f1;
    color: #5b6770; }
    #debug-area-header .workspace-header-button:hover {
      background-color: #0094ca;
      color: white; }
  #debug-area-header span {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  #debug-area-header #show-hide-debug-icon {
    position: absolute;
    top: 0;
    left: 8px;
    margin: 0;
    line-height: 30px;
    font-size: 18px; }
    #debug-area-header #show-hide-debug-icon:hover {
      cursor: pointer;
      color: white; }

#debug-commands-header {
  width: 270px;
  float: left;
  border-right: 1px solid gray; }
  #debug-commands-header .fa {
    margin: 0 0.25em; }

.debug-commands, .debug-console {
  display: block;
  background-color: white;
  border: 1px solid #ddd;
  position: absolute;
  top: 43px;
  bottom: 0; }

.debug-commands {
  left: 0;
  width: 270px;
  text-align: center; }

.debug-console {
  left: 270px;
  right: 0; }
  .debug-console.full {
    left: 0; }

.debug-console * {
  font-family: monospace;
  font-size: 12px; }

.debug-input-prompt {
  position: absolute;
  bottom: 0;
  height: 16px;
  display: block;
  left: 3px;
  width: 15px; }

.debug-input, .debug-output {
  position: absolute;
  border-width: 0px;
  padding: 0px;
  outline: none;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text; }

.debug-output {
  top: 0;
  bottom: 16px;
  left: 3px;
  right: 0;
  overflow: auto;
  line-height: normal;
  cursor: text;
  white-space: pre-wrap; }

.debug-input {
  bottom: 0;
  max-height: 16px;
  height: 16px;
  left: 18px;
  right: 0;
  margin-top: -3px; }

#slider-cell {
  float: left;
  cursor: default; }

/* Slider. */
.sliderContainer {
  float: left; }

.sliderTrack {
  stroke: #ebe8f1;
  stroke-width: 4px;
  stroke-linecap: round; }

.sliderKnob {
  fill: #ddd;
  stroke: #bbc;
  stroke-width: 1px;
  stroke-linejoin: round; }

.sliderKnob:hover {
  fill: #eee; }

/* Sprited icons. */
.pause-btn {
  background-position: 0px -84px;
  margin-right: 3px; }

.continue-btn {
  background-position: -21px -84px;
  margin-right: 3px; }

.step-in-btn {
  background-position: 0px -105px;
  margin-right: 3px; }

.step-out-btn {
  background-position: -21px -105px;
  margin-right: 3px; }

.step-over-btn {
  background-position: 0px 21px;
  margin-right: 3px; }

#divGameLab {
  overflow: hidden;
  outline: none;
  -webkit-touch-callout: none;
  position: relative;
  z-index: 1;
  background-color: white;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

/* Sprited icons. */
.icon21 {
  height: 21px;
  width: 21px;
  background-image: url("/blockly/media/gamelab/icons.png");
  background-size: 42px 147px;
  margin-bottom: -3px; }

.code {
  background-position: -21px 0px; }

.link {
  background-position: 0px 0px; }

.run {
  background-position: 0px -21px;
  margin-right: 3px; }

.stop {
  background-position: -21px -21px;
  margin-right: 3px; }

.left-btn {
  background-position: -21px -42px;
  margin-right: 3px; }

.right-btn {
  background-position: -21px -63px;
  margin-right: 3px; }

.up-btn {
  background-position: 0px -63px;
  margin-right: 3px; }

.down-btn {
  background-position: 0px -42px;
  margin-right: 3px; }

#share-cell {
  display: inline-block;
  vertical-align: top; }
  #share-cell.share-cell-none {
    display: none; }
