#visualization {
  background-color: #fff; }

/* Sprited icons. */
.icon21 {
  height: 21px;
  width: 21px;
  background-image: url("/blockly/media/turtle/icons.png"); }

.code {
  background-position: -42px 0px; }

.link {
  background-position: -21px 0px; }

.run {
  background-position: -63px -21px;
  margin-right: 3px; }

.stop {
  background-position: -63px 0px;
  margin-right: 3px; }

.calcHeader {
  font-size: 25px; }

.markedToken {
  fill: white; }

.errorToken {
  fill: red; }

.expr {
  font-size: 20px; }

#netsim_rightcol {
  float: right;
  width: 300px; }
  #netsim_rightcol #netsim_visualization img {
    width: 100%; }

#netsim_leftcol {
  margin-right: 320px; }

#netsim_lobby_list {
  background-color: white;
  padding: 0.5em;
  border: inset darkslategray thin;
  list-style: none; }
  #netsim_lobby_list li {
    background-color: white;
    padding: 0.3em; }
  #netsim_lobby_list .own_row {
    font-weight: bold;
    background-color: lightcyan; }
  #netsim_lobby_list .router_row {
    cursor: pointer; }
  #netsim_lobby_list .router_row:hover {
    color: black;
    background-color: rgba(255, 140, 0, 0.21); }
  #netsim_lobby_list .selected_row {
    color: white;
    background-color: darkorange; }
  #netsim_lobby_list .selected_row:hover {
    background-color: darkorange; }

.netsim_log_widget {
  border: solid darkgray thin;
  margin: 0.5em;
  padding: 10px; }
  .netsim_log_widget h1 {
    margin: -10px -10px 10px -10px;
    padding: 0.5em;
    font-size: 120%;
    line-height: 20px;
    background-color: #7665A0;
    color: whitesmoke; }
  .netsim_log_widget #scroll_area {
    border: inset darkgray 2px;
    background-color: white;
    height: 100px;
    width: 400px;
    overflow-y: scroll; }

.netsim_send_widget {
  border: solid darkgray thin;
  margin: 0.5em;
  padding: 10px; }
  .netsim_send_widget h1 {
    margin: -10px -10px 10px -10px;
    padding: 0.5em;
    font-size: 120%;
    line-height: 20px;
    background-color: #7665A0;
    color: whitesmoke; }
  .netsim_send_widget .netsim_packet {
    border: solid darkgray thin;
    background-color: lightgray;
    padding: 0.5em;
    border-radius: 0.5em; }
    .netsim_send_widget .netsim_packet .packet_header label {
      display: inline; }
    .netsim_send_widget .netsim_packet .packet_header label[for="from_address"] {
      margin-left: 1em; }
    .netsim_send_widget .netsim_packet .packet_header label[for="packet_index"] {
      margin-left: 1em; }
    .netsim_send_widget .netsim_packet .packet_header input[type="text"] {
      width: 2em;
      text-align: center; }
    .netsim_send_widget .netsim_packet .packet_body div {
      display: inline-block; }
      .netsim_send_widget .netsim_packet .packet_body div h2 {
        line-height: 11pt;
        font-size: 11pt; }
      .netsim_send_widget .netsim_packet .packet_body div #bit_counter {
        float: right;
        line-height: 11pt;
        font-size: 9pt;
        color: darkgray; }
      .netsim_send_widget .netsim_packet .packet_body div textarea {
        font-family: monospace; }
  .netsim_send_widget .send_widget_footer {
    text-align: right;
    margin-top: 0.5em; }

#netsim_router_panel #dns_mode_control input[type="radio"] {
  vertical-align: middle;
  margin: 0; }
#netsim_router_panel #dns_mode_control label {
  display: inline;
  margin-left: 1em; }
#netsim_router_panel #netsim_router_network_table .localNode {
  font-weight: bold;
  background-color: lightcyan; }
#netsim_router_panel #netsim_router_network_table .dnsNode {
  color: white;
  background-color: darkorange; }
#netsim_router_panel #netsim_router_log_table {
  display: block;
  max-height: 200px;
  overflow-y: scroll; }
