#svgStudio {
  overflow: hidden; }

/* Sprited icons. */
.icon21 {
  height: 21px;
  width: 21px;
  background-image: url("/blockly/media/studio/icons.png"); }

.code {
  background-position: -21px 0px; }

.link {
  background-position: 0px 0px; }

.run {
  background-position: 0px -21px;
  margin-right: 3px; }

.stop {
  background-position: -21px -21px;
  margin-right: 3px; }

.left-btn {
  background-position: -21px -42px;
  margin-right: 3px; }

.right-btn {
  background-position: -21px -63px;
  margin-right: 3px; }

.up-btn {
  background-position: 0px -63px;
  margin-right: 3px; }

.down-btn {
  background-position: 0px -42px;
  margin-right: 3px; }

#share-cell {
  display: inline-block;
  vertical-align: top; }
  #share-cell.share-cell-none {
    display: none; }

.studio-speech-bubble {
  fill: black;
  font-size: 16px;
  text-anchor: middle;
  cursor: default; }

.studio-speech-bubble-path {
  fill: white;
  stroke: black;
  stroke-width: 3;
  opacity: 0.9; }

.studio-score,
.studio-victory-text,
.studio-reset-text,
.studio-floating-score {
  text-anchor: middle;
  font-family: "Gotham 7r", sans-serif;
  fill: white;
  stroke: black;
  cursor: default; }

.studio-score,
.studio-reset-text,
.studio-floating-score {
  font-size: x-large;
  stroke-width: 1; }

.studio-victory-text {
  font-size: xx-large;
  stroke-width: 2; }

.studio-ts-title {
  text-anchor: middle;
  font-size: xx-large;
  font-family: "Gotham 7r", sans-serif;
  fill: white;
  stroke: black;
  stroke-width: 2;
  cursor: default; }

.studio-ts-text {
  text-anchor: middle;
  font-size: 20px;
  font-family: "Gotham 7r", sans-serif;
  fill: white;
  stroke: black;
  stroke-width: 1;
  cursor: default; }

.studio-ts-text-rect {
  stroke: white;
  stroke-width: 3;
  fill: none; }

.wall-letter {
  line-height: 120%;
  cursor: default; }

.instructions-markdown.classic-margins {
  padding-top: 0;
  margin-left: 90px; }

.instructions-markdown .character-text {
  line-height: 27px;
  font-size: 24px;
  color: #7665a0; }

.instructions-markdown details.hoc2015 > summary {
  margin: 1em 0; }
  .instructions-markdown details.hoc2015 > summary:focus {
    outline: none; }

.instructions-markdown details.hoc2015 > p {
  color: #5b6770;
  margin-left: 1em; }

.instructions-markdown .instructionsImageContainer {
  width: 67px;
  text-align: center;
  display: inline-block; }
  .instructions-markdown .instructionsImageContainer .instructionsImage {
    height: 35px;
    vertical-align: text-bottom; }
