---
title: LMS
theme: responsive_full_width
---

%link{href: "/css/generated/design-system-pegasus.css", rel: "stylesheet"}
%link{href: "/css/generated/page/lms-styles.css", rel: "stylesheet"}

%section.alternating-rows
  =view :"lms/lms_alternating_rows", provider: "Schoology"

%section.bg-neutral-light
  .wrapper
    %h2.centered
      =hoc_s("lms_partner_page.ready.heading", locals: {website: "Schoology"})
    = view :"lms/lms_integration", provider: "Schoology"

%section
  .wrapper
    %h2.centered
      =hoc_s("lms_page.additional_resources.heading")
    %p.centered
      =hoc_s("lms_page.additional_resources.desc")
    = view :"lms/lms_additional_resources"

= view :analytics_event_log_helper, event_name: AnalyticsConstants::SCHOOLOGY_PAGE_VISITED_EVENT