%p
  Hi
  = @registration.sanitize_form_data_hash[:preferred_first_name] + ','

%p
  Thank you for submitting your TeacherCon registration form.

- if @registration.accepted?
  %p
    We look forward to seeing you this summer! You will receive more information about
    travel approximately six weeks before TeacherCon. In the meantime, please
    %strong
      do not
    book your flight, and make sure to contact
    = link_to("facilitators@code.org", "mailto:facilitators@code.org")
    with any questions
- else
  %p
    We noticed you responded that you are not able to attend Teachercon this year.
    Please contact
    = link_to("facilitators@code.org", "mailto:facilitators@code.org")
    as soon as possible so that we may assist you.

%p
  Thank you,
  %br
  Sarah
%p
  Sarah Fairweather
  %br
  Education Team Program Manager
  %br
  Code.org
