%p
  Hi
  = @registration.sanitize_form_data_hash[:preferred_first_name] + ','

- if @registration.accepted?
  %p
    Thank you for submitting your TeacherCon registration form! We look forward to seeing
    you this summer! You will receive more information about travel approximately six
    weeks before TeacherCon.
- else
  %p
    Thank you for submitting your TeacherCon registration form. You responded that you
    are not able to attend your assigned TeacherCon dates. Please contact your Regional
    Manager as soon as possible so that we may assist you.
%p
  Thank you,
  %br
  Sarah
%p
  Sarah Fairweather
  %br
  Education Team Program Manager
  %br
  Code.org
