%p
  Hi
  = @registration.regional_partner.contact.name + ','

%p
  Thank you for submitting your TeacherCon registration form! You will receive more
  information about travel approximately six weeks before TeacherCon.

%p
  If you responded that you are not able to attend your assigned TeacherCon dates, please
  contact your Outreach Regional Manager as soon as possible so that we may assist you.

%p
  Thank you,
  %br
  Sarah
%p
  Sarah Fairweather
  %br
  Education Team Program Manager
  %br
  Code.org
