$bot-container-size: 32px;

@keyframes slidein {
  from {
    opacity: 0;
    margin-top: 20px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}

.container {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.botIconContainer {
  flex: 0 0 $bot-container-size;
  height: $bot-container-size;
  width: $bot-container-size;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}

.bubble {
  padding: 12px;
  border-radius: 4px;
  animation: slidein 0.5s;
  background-color: var(--background-neutral-secondary);
  color: var(--text-neutral-primary);
}
