@import 'color.scss';
@import 'font.scss';

@keyframes slidein {
  from {
    opacity: 0;
    margin-top: 20px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}

%instructions {
  width: 100%;
  height: 100%;
  background-size: 100% 200%;
  padding: 10px;
  box-sizing: border-box;
  position: relative;
  font-size: 14px;
  line-height: 1.5;
  display: flex;
  overflow: hidden;

  &.vertical {
    flex-direction: column;
  }
}

.instructions-Dark {
  @extend %instructions;
  background-color: $neutral_dark;
}

.instructions-Light {
  @extend %instructions;
  background-color: $light_white;
}

.item {
  display: flex;
  pointer-events: auto;
  flex: 1;
  opacity: 1;
  height: 100%;

  &.itemVertical {
    flex-direction: column;
  }
}

.itemTitle {
  font-size: 18px;
  text-align: left;
  overflow-wrap: break-word;
  padding: 5px;

  &Horizontal {
    max-width: 140px;
  }
}

.imageContainer {
  text-align: center;

  &.horizontal {
    text-align: left;
    width: 140px;
  }

  .image {
    cursor: pointer;
    max-height: 120px;

    &.fixedHeight {
      height: 70px;
    }
  }

  .bigImage {
    position: absolute;
    width: 440px;
    text-align: left;
    top: 0;
    left: 0;

    &Left {
      left: auto;
      right: 0;
    }

    img {
      width: 100%;
      position: absolute;
      border: 10px $dark_black solid;
      z-index: 80;
      cursor: pointer;
    }
  }
}

.feedback {
  &Bottom {
    margin-top: auto;
  }
}

%text {
  position: relative;
  white-space: normal;
  border-radius: 4px;
  margin-bottom: 10px;
  animation: slidein 0.5s;
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.text-Dark {
  @extend %text;
  background-color: $neutral_light;
  color: $neutral_dark;
}

.text-Light {
  @extend %text;
  background-color: $light_white;
  color: $neutral_dark;
}

.textContent {
  overflow: hidden;
  gap: 8px;
  padding: 15px 0 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.ttsContainer {
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
}

%scrolling-content {
  flex: 1;
  overflow-y: auto;
  min-height: 70px;
  padding: 0 10px;
}

.scrollingContent {
  @extend %scrolling-content;
}

%message {
  position: relative;
  padding: 15px 20px;
  border-radius: 4px;
  animation: slidein 0.5s;
}

.message-Dark {
  @extend %message;
  background-color: $neutral_light;
  color: $neutral_dark;
}

.message-Light {
  @extend %message;
  background-color: $light_gray_50;
  color: $neutral_dark;
}

.predictSummary {
  padding: 0;
  margin-top: 8px;
  margin-bottom: 6px;
}

.buttonInstruction {
  width: 100%;
  height: 38px;
}

.markdownText {
  line-height: 0;

  h1,
  h2,
  h3,
  h4 {
    margin: 0 0 10px 0;
    font-size: 1.75em;
    line-height: 1.2em;

    &, em, strong {
      font-family: $barlowSemiCondensed-semibold;
    }
  }

  ol,
  ul {
    font-size: 14px;
    line-height: 0;
    margin: 0 0 10px 20px;
  }

  li {
    margin-bottom: 10px;
    line-height: 1.4em;
  }

  code {
    color: $light_primary_700;
  }

  p {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.4em;
  }

  details {
    line-height: 1.2;
    summary {
      margin: 4px 0;
    }
  }
}

.bottomComponent {
  overflow: hidden;
}

.noAnimation {
  animation: none;
}
