@import 'color.scss';

@keyframes slidein {
  from {
    opacity: 0;
    margin-top: 20px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}

%instructions {
  width: 100%;
  height: 100%;
  background-size: 100% 200%;
  padding: 10px;
  box-sizing: border-box;
  position: relative;
  font-size: 14px;
  line-height: 1.5;
  display: flex;
  overflow: hidden;

  &.vertical {
    flex-direction: column;
  }
}

.instructions-dark {
  @extend %instructions;
  background-color: $neutral_dark;
}

.instructions-light {
  @extend %instructions;
  background-color: $neutral_dark10;
}

.item {
  display: flex;
  pointer-events: auto;
  flex: 1;
  opacity: 1;

  &.itemVertical {
    flex-direction: column;
    overflow: auto;
  }
}

.itemTitle {
  font-size: 18px;
  text-align: left;
  overflow-wrap: break-word;
  padding: 5px;

  &Horizontal {
    max-width: 140px;
  }
}

.imageContainer {
  text-align: center;

  &.horizontal {
    text-align: left;
    width: 140px;
  }

  .image {
    cursor: pointer;
    max-height: 120px;

    &.fixedHeight {
      height: 70px;
    }
  }

  .bigImage {
    position: absolute;
    width: 440px;
    text-align: left;
    top: 0;
    left: 0;

    &Left {
      left: auto;
      right: 0;
    }

    img {
      width: 100%;
      position: absolute;
      border: 10px $dark_black solid;
      z-index: 80;
      cursor: pointer;
    }
  }
}

%text {
  overflow-y: auto;
  white-space: pre-wrap;

  padding: 15px 20px 5px 20px;
  border-radius: 4px;

  margin-bottom: 10px;
  animation: slidein 0.5s;
}

.text-dark {
  @extend %text;
  background-color: $neutral_light;
  color: $neutral_dark;
}

.text-light {
  @extend %text;
  background-color: $neutral_white;
  color: $neutral_dark;
}

%message {
  padding: 15px 20px 5px 20px;
  border-radius: 4px;
  border: dashed $neutral_dark 2px;
  animation: slidein 0.5s;
}

.message-dark {
  @extend %message;
  background-color: $neutral_light;
  color: $neutral_dark;
  border: dashed $neutral_light 2px;
}

.message-light {
  @extend %message;
  background-color: $neutral_white;
  color: $neutral_dark;
  border: dashed $neutral_white 2px;
}

.buttonNext {
  font-size: 14px;
  background-color: $brand_secondary_default;
  border-color: $brand_secondary_default;
  color: $neutral_light;
  width: 100%;
  padding: 5px 10px;
  border-radius: 4px;
  height: 38px;
  margin: 0 0 10px 0;
}

.markdownText {
  line-height: 0;

  h1,
  h2 {
    margin: 0 0 10px 0;
    line-height: 1.2em;
  }

  ol {
    line-height: 0;
  }

  li {
    margin-bottom: 10px;
  }

  code {
    color: $neutral_light;
  }

  p {
    font-size: 14px;
  }
}
