@import 'color.scss';

// Constants
$default-spacing: 2px;

.panelContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;

  .panelContainerHeader {
    min-height: 30px;
    background-color: $neutral_dark80;
    border-bottom: solid $default-spacing $dark_black;
    position: relative;

    .panelContainerHeaderItem {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);

      &Text {
        color: $neutral_light;
        width: 100%;
        text-align: center;
      }

      &Right {
        right: 4px;
      }

      &Left {
        left: 4px;
      }
    }
  }
}
