@import 'color.scss';

.multipleChoiceContainer {
  display: flex;
  align-items: start;
  input {
    margin: 4px 4px 0 0;
  }
}

.multipleChoiceLetter {
  font-weight: bold;
  margin-left: 4px;
}

.multipleChoiceLabel {
  margin-left: 6px;
}

.freeResponse {
  width: 100%;
  box-sizing: border-box;
}

.predictQuestionContainer {
  margin-bottom: 8px;
}

.predictSolutionContainer {
  margin: 10px;
  padding: 5px;
  background-color: $light_white;
  border-radius: 5px;
}

.resetError {
  margin-top: 15px;
  margin-bottom: 10px;
}

.resetButton {
  flex-grow: 1;
  // We use important here because the disabled styles used by Button
  // are more specific than a single class.
  &:disabled {
    background-color: $light_black !important;
    color: $light_gray_800 !important;
    border: none;
  }
}

.resetButtonRow {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 8px;
}

.resetButtonRowSpace {
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: right;
}
