@import 'color.scss';

.predictSummaryContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.responses {
  display: flex;
}

.responseIcon {
  padding-right: 4px;

  :global(.fa) {
    vertical-align: middle;
    font-size: 24px;
    color: $brand_primary_default;
  }
}

.responseCount {
  font-weight: bold;
  font-size: 12px;
  line-height: 12px;
  display: block;
}

.responseLabel {
  display: block;
  font-size: 14px;
  line-height: 14px;
}

.studentResponsesButton {
  width: 100%;
}