@import 'color.scss';
@import '../../../mixins.scss';

.playButton {
  @include remove-button-styles;
  display: flex;
  position: absolute;
  bottom: 7px;
  inset-inline-end: 7px;
  opacity: 35%;
  cursor: pointer;
  transition: opacity 0.2s ease;
  color: $neutral_dark;

  &Playing {
    opacity: 100%;
  }

  &:hover {
    opacity: 100%;
  }
}

.icon {
  font-size: 15px;
}
