<p>Join <%= @teacher.name %>'s class at Code.org!</p>

<p>You've been invited to Code.org!</p>

<p><a href="<%= follower_accept_url(@teacher) %>">Join <%= @teacher.name %>'s class</a>.</p>

<p>Thanks,<br/>
The Code.org Team</p>
