Join #{@teacher.name}'s class at Code.org!
\
You've been invited to Code.org!
\
= follower_accept_url(@teacher)
\
Join #{@teacher.name}'s class
\
If you already have a Code.org account, you can add #{@teacher.email} as a teacher from your profile page.
\
Thanks
The Code.org Team

