Hi #{@teacher.name},
\
#{@student.name} has removed your association as your student on Code.org.
\
If you believe this was done in error, you can send #{@student.name} a new invitation using the link below.
\
#{manage_followers_url}#add_students
\
Thanks
The Code.org Team
