Hi #{@teacher.name},
\
#{@student.name} has removed your association as your student on Code.org.
\
If you believe this was done in error, #{@student.name} should rejoin your section using the /join url.
\
Thanks
The Code.org Team
