<p>Hi <%= @teacher.name %>,

<p><%= @student.name %> has removed your association as your student on Code.org.</p>

<p>If you believe this was done in error, <%= @student.name %> should rejoin your section using the /join url.</p>

<p>Thanks<br/>
The Code.org Team</p>
