Hi #{@student.name},
\
#{@teacher.name} has removed your association as your teacher on Code.org.
\
If you believe this was done in error, you can add #{@teacher.email} as a teacher once again from your profile page or enter the teacher's section code using the link below.
\
http://code.org/join
\
Thanks
The Code.org Team
