<p>Hi <%= @student.name %>,</p>

<p><%= @teacher.name %> has removed your association as your teacher on Code.org.</p>

<p>If you believe this was done in error, you can add <%= @teacher.email %> as a teacher once
  again from your profile page or enter the teacher's section code using the link below.</p>

<p><a href="http://code.org/join">http://code.org/join</a></p>

<p>Thanks<br/>
The Code.org Team</p>
