@mixin toolbar-base {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 6px;
  pointer-events: all;
  background-color: var(--background-neutral-primary);
}

.toolbar {
  @include toolbar-base;
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  z-index: 10;
}

.canvasControls {
  @include toolbar-base;
  border: 1px solid var(--borders-neutral-primary);
}

.divider {
  border-color: var(--borders-neutral-primary);
  margin: 0 -6px;
}
