= stylesheet_link_tag 'css/pd', media: 'all'
%script{src: webpack_asset_path('js/pd/fit_weekend_registration/new.js'), data: @unit_data}

%h1
  2019-20 FiT Workshop Registration

#application-container
  -# populated by React
