= stylesheet_link_tag 'css/pd', media: 'all'
%script{src: minifiable_asset_path('js/pd/fit_weekend_registration/new.js'), data: @script_data}

%h1
  2019-20 FiT Weekend Registration

#application-container
  -# populated by React
