---
title: No YouTube?
---

%h1 No YouTube?

%p Choose a version of the Code.org film to play or download below.

%p Note: these works are copyrighted and can only be used for education, not for endorsement, and not manipulated or changed.

.show-film
  .show-film-content
    %h3 View the 1-minute version
    .show-film-links
      %a.btn.btn-default{href: "https://www.dropbox.com/sh/6sdjczibjih6x8s/_0RSOSY8oW/Code-1-min.mov"}
        Play
      %a.btn.btn-default{href: "https://dl.dropbox.com/sh/6sdjczibjih6x8s/_0RSOSY8oW/Code-1-min.mov?dl=1"}
        Download
  .show-film-content
    %h3 View the 5-minute version
    .show-film-links
      %a.btn.btn-default{href: "https://www.dropbox.com/sh/6sdjczibjih6x8s/Rjs8XgYNzr/Code-5-minute.mov"}
        Play
      %a.btn.btn-default{href: "https://dl.dropbox.com/sh/6sdjczibjih6x8s/Rjs8XgYNzr/Code-5-minute.mov?dl=1"}
        Download
  .show-film-content.last
    %h3 View the 9-minute version
    .show-film-links
      %a.btn.btn-default{href: "https://www.dropbox.com/sh/6sdjczibjih6x8s/lEUzljmYI4/Code-9-min.mov"}
        Play
      %a.btn.btn-default{href: "https://dl.dropbox.com/sh/6sdjczibjih6x8s/lEUzljmYI4/Code-9-min.mov?dl=1"}
        Download
