%div{:style=>"width: 100%; background-color: rgba(255,255,0,1)"}
  %div{:style=>'width: 970px; margin: 0 auto; overflow: hidden'}
    %div{:style=>'width: 530px; float: left; padding-top: 14px; padding-bottom: 10px'}
      %br
      %a{:href=>"/", :style=>"text-decoration:none"}
        Code.org Advocacy Coalition

      &mdash;

      %a{:href=>CDO.code_org_url("/")}
        Back to Code.org

