- case workshop.program_type.to_i
  - when 1
    %a{href:"https://docs.google.com/a/code.org/forms/d/1QG9eCbKJD26UNvTC0C9ZZyrp63WjzQSK5gQPP4lsZ2c/viewform"}
      #{link_text}
  - when 2
    %a{href:"https://docs.google.com/a/code.org/forms/d/1kEkyOk-Y4MsWVVjmkaw-UDfCE4Wl2Ol3MTrCw4IW8vw/viewform"}
      #{link_text}
  - when 3
    %a{href:"https://docs.google.com/a/code.org/forms/d/12-HzFgPn6vP-D5P1XCkYxg_Dv3_DWM0B-xh1VDBuhNo/viewform"}
      #{link_text}
  - when 4
    %a{href:"https://docs.google.com/a/code.org/forms/d/1lvvH5JCh6L40pFDqT9UaibyNtYUIwAEJQg2ulXIv6WQ/viewform"}
      #{link_text}