%p
  Dear #{@recipient.ops_first_name},
%p
  Thanks for attending your #{@workshop.phase_long_name} in-person workshop.
  - if @workshop.exit_survey_url
    %p
      We appreciate any feedback you have. Please take a moment to complete this
      = link_to "short survey", @workshop.exit_survey_url
      about your Code.org workshop experience.
- if @workshop.phase_short_name == 'Phase 2'
  %p
    %strong
      Phase 2: Blended Summer Study:
  %p
    You’ll receive access to the online portion of Phase 2 on Monday. You must complete this before September 7th. For online PD troubleshooting, visit the FAQ.
- elsif @workshop.phase_short_name == 'Phase 4'
  %h2
    How to stay involved in the Code.org community:
  %p
    Now that you’ve finished your first year teaching ECS, we hope you’re as excited as we are to keep the momentum going locally! Please
    %a
      complete this survey to update your contact info
    and tell us how you’d like to be involved in the future.
    %a
      Check out this PDF
    for the many ways you can stay in touch with this community.
%p
  The Code.org PD team
