%h2
  Exploring Computer Science (ECS)
%h3
  It's time to finish Phase 1 and RSVP for your Phase 2 in-person workshop!
%p
  Dear #{@recipient[:name]},

%p
  It's time to complete ECS Phase 1: Online Introduction and RSVP for your Phase 2: Blended Summer Study in-person workshop on Monday, June 22 through Friday, June 26 at the Applications Research Laboratory.

%h3
  RSVP for in-person Phase 2: Blended Summer Study workshop
%p
  Please RSVP here. Your RSVP allows us to properly prepare catering and other workshop logistics. If you cannot make it to part of your PD, please note the date, time, and reason in your RSVP response in the free text field. This is important and affects PD activities throughout the week. Thank you in advance!

%h3
  Completing Phase 1: Online Introduction
%p
  To successfully complete Phase 1 professional development, please refer back to the email "Important: Your Code.org enrollment and program information." Please note that you must complete Phase 1 prior to attending the Phase 2 workshop. In order to be paid for Phase 1, make sure that the progress circles in your Code Studio ECS progress bar are green.

%em
  In the following example, you'll notice that levels 1 & 2 in Stage 1 are incomplete. The green circle with the check mark is the indicator that you have completed the level and it will count towards payment.


%h3
  Workshops Details
%p
  See below or visit code.org/pd for your in-person workshop details and bookmark for future use!
%table
  %tr
    %th
      Date and Time
    %th
      Location
    %th
  %tr
    %td
      %ul
        %li
          Monday, June 22, 2015 - Friday, June 26, 2015
        %li
          Mon - Thurs: 8:30am - 3:30pm
        %li
          Friday: 8:30am - 1:30pm
        %li
          Breakfast and lunch will be served.
    %td
      %ul
        %li
          Applications and Research Laboratory (ARL)
        %li
          10920 Clarksville Pike
        %li
          Ellicott City, MD 21042
    %tr
      %td
        %ul
          %li
            Water bottle
          %li
            Snacks
          %li
            Laptop (Optional)

%p
  Have questions or concerns? Check out the Exploring Computer Science Welcome Kit at code.org/pd or feel free to reach out to pd@code.org at any time.

%p
  We look forward to working with you to increase the presence of Computer Science education in your school!

%p
  See you soon,
%p
  Your Code.org PD team