@import '@cdo/apps/mixins.scss';
@import 'color';
@import 'style-constants';

.collapsibleEditorSectionHeader {
  border-bottom: 1px solid $bootstrap-border-color;
}

.collapsibleEditorSectionIcon {
  margin-right: 10px;
}

.collapsibleEditorSectionEditors {
  padding: 10px;

  .nonFullWidth {
    width: $content-width;
  }
}

p.collapsibleEditorSectionTitle {
  font-size: 20px;
}

.headerButton {
  @include remove-button-styles;
  font: inherit;
  color: $teal;
  font-size: 20px;
}
