/*
  Variables are duplicated from shared/css/color.scss
  and shared/css/font.scss

  See shared/css/typography.scss for more info on how
  typography styles are used.
*/

:root {
  /* Colors */
  --brand_primary_light: #abdfe5;
  --brand_primary_medium: #7bc6cf;
  --brand_primary_default: #0093a4;
  --brand_primary_dark: #008291;
  --brand_secondary_light: #e0d1ec;
  --brand_secondary_default: #8c52ba;
  --brand_secondary_dark: #6f488e;
  --brand_accent_default: #ed6060;
  --light_gray200: #d1d4d8;
  --neutral_white: #ffffff;
  --neutral_light: #f7f8fa;
  --neutral_dark10: #eaebeb;
  --neutral_dark20: #d4d5d7;
  --neutral_dark30: #bfc1c3;
  --neutral_dark40: #a9acaf;
  --neutral_dark50: #94979b;
  --neutral_dark60: #7f8286;
  --neutral_dark70: #6a6e73;
  --neutral_dark80: #54595e;
  --neutral_dark90: #3f444b;
  --neutral_dark: #292f36;
  --orange: #ffa400; /* legacy color */
  /* Typography */
  --barlowSemiCondensed-semibold: "Barlow Semi Condensed Semibold", sans-serif;
  --barlowSemiCondensed-medium: "Barlow Semi Condensed Medium", sans-serif;
  --main-font: 'Metropolis', 'Noto Sans', 'Noto Sans Arabic', 'Noto Sans Armenian', 'Noto Sans Bengali', 'Noto Sans SC',
               'Noto Sans TC', 'Noto Sans Devanagari', 'Noto Sans Georgian', 'Noto Sans Hebrew', 'Noto Sans JP',
               'Noto Sans Kannada', 'Noto Sans Khmer', 'Noto Sans KR', 'Noto Sans Myanmar', 'Noto Sans Sinhala',
               'Noto Sans Tamil', 'Noto Sans Telugu', 'Noto Sans Thai', 'Noto Sans Thaana', sans-serif;
  --thin-font-weight: 100;
  --extra-light-font-weight: 200;
  --light-font-weight: 300;
  --regular-font-weight: 400;
  --medium-font-weight: 500;
  --semi-bold-font-weight: 600;
  --bold-font-weight: 700;
  --extra-bold-font-weight: 800;
  --black-font-weight: 900;
  /* Swiper carousel styles */
  --swiper-pagination-color: var(--brand_primary_default);
  --swiper-pagination-bullet-size: 1rem;
  --swiper-pagination-bullet-inactive-color: var(--brand_primary_light);
  --swiper-pagination-bullet-inactive-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 0.5rem;
}

html {
  height: 100%;
  font-size: 100%;
  scroll-behavior: smooth;
}

body {
  background-color: var(--neutral_white);
  height: 100%;
  font-family: var(--main-font);
  font-weight: var(--regular-font-weight);
  font-style: normal;
  font-size: 14px;
  color: var(--neutral_dark);
  margin: 0;
}

h1,
.heading-xxl {
  font-family: var(--barlowSemiCondensed-semibold);
  font-size: 3rem;
  line-height: 1.16;
  margin: 1em 0 0.5em 0;
}

h2,
.heading-xl {
  font-family: var(--barlowSemiCondensed-semibold);
  font-size: 2.125rem;
  line-height: 1.24;
  margin: 1em 0 0.5em 0;
}

h3,
.heading-lg {
  font-family: var(--barlowSemiCondensed-semibold);
  font-size: 1.75rem;
  line-height: 1.28;
  margin-bottom: 0.5em;
}

h4,
.heading-md {
  font-family: var(--barlowSemiCondensed-medium);
  font-size: 1.5rem;
  line-height: 1.32;
  margin-bottom: 0.5em;
}

h5,
.heading-sm {
  font-family: var(--main-font);
  font-weight: var(--semi-bold-font-weight);
  font-size: 1.25rem;
  line-height: 1.4;
  margin-bottom: 0.5em;
}

h6,
.heading-xs {
  font-family: var(--main-font);
  font-weight: var(--semi-bold-font-weight);
  font-size: 1rem;
  line-height: 1.48;
  margin-bottom: 0.5em;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/* Use this class on text elements to turn them white */
h1, h2, h3, h4, h5, h6, p, figcaption, span, a:not(.link-button) {
  &.white {
    color: var(--neutral_white) !important;
  }
}

p {
  line-height: 1.48;
  margin-bottom: 1em;
}

.body-one {
  font-size: 1.25rem;
  line-height: 1.4;
  margin-bottom: 1em;
}

.body-two {
  font-size: 1rem;
  line-height: 1.48;
  margin-bottom: 1em;
}

.body-three {
  font-size: 0.875rem;
  line-height: 1.54;
  margin-bottom: 1em;
}

.body-four {
  font-size: 0.75rem;
  line-height: 1.64;
  margin-bottom: 1em;
}

figcaption,
.video_caption_link {
  font-family: var(--main-font);
  font-weight: var(--semi-bold-font-weight);
  font-size: 0.875rem;
  margin: 0.5em 0 1em;
  line-height: 1.4;
}

.overline-one {
  font-family: var(--main-font);
  font-weight: var(--semi-bold-font-weight);
  text-transform: uppercase;
  letter-spacing: 0.04rem;
  font-size: 0.875rem;
  line-height: 1.6;
  color: var(--brand_primary_default);
}

.overline-two {
  font-family: var(--main-font);
  font-weight: var(--semi-bold-font-weight);
  text-transform: uppercase;
  letter-spacing: 0.04rem;
  font-size: 0.75rem;
  line-height: 1.64;
  color: var(--brand_primary_default);
}

.overline-three {
  font-family: var(--main-font);
  font-weight: var(--semi-bold-font-weight);
  text-transform: uppercase;
  letter-spacing: 0.04rem;
  font-size: 0.625rem;
  line-height: 1.76;
  color: var(--brand_primary_default);
}

strong {
  font-family: var(--main-font);
  font-weight: var(--bold-font-weight);
}

em {
  font-family: var(--main-font);
  font-style: italic;
}

/* Text link styles */
a:any-link {
  font-family: var(--main-font);
  font-weight: var(--semi-bold-font-weight);
  color: var(--brand_secondary_default);
  text-decoration: underline;
  transition: color ease-in-out 0.2s;
}

a:is(:hover, :active) {
  color: var(--brand_secondary_dark);
}

a:link:has(*) {
  text-decoration: none;
}

/* Button styles */
/* For call to action links that look like buttons
  use the .link-button class on an <a> tag instead
  of a <button> element */
a.link-button,
button,
.btn,
input[type="submit"] {
  display: inline-block;
  color: var(--neutral_white);
  background: var(--brand_secondary_default);
  border: 2px solid var(--brand_secondary_default);
  border-radius: 4px;
  padding: 0.75rem 1rem;
  margin: 0.5rem 0;
  font-size: 1rem;
  font-family: var(--main-font);
  font-weight: var(--semi-bold-font-weight);
  line-height: 1;
  text-decoration: none;
  text-align: center;
  transition: all ease-in-out 0.2s;

  /* Hover styles */
  &:hover {
    background: var(--brand_secondary_dark);
    border-color: var(--brand_secondary_dark);
    color: var(--neutral_white);
    text-decoration: none;
    cursor: pointer;
  }

  /* Focus styles */
  &:focus {
    outline: var(--brand_primary_default) solid 2px;
    outline-offset: 2px;

    &:not(:focus-visible) {
      outline: none;
    }
  }

  /* Secondary button styles */
  &.secondary {
    background: none;
    border-color: var(--neutral_dark);
    color: var(--neutral_dark);

    &:hover {
      background: var(--neutral_dark10);
    }

    &.white {
      background: none;
      border-color: var(--neutral_white);
      color: var(--neutral_white);

      &:hover {
        background: var(--neutral_dark90);
      }
    }
  }

  /* White button styles */
  &.white {
    background: var(--neutral_white);
    border-color: var(--neutral_white);
    color: var(--neutral_dark);

    &:hover {
      background: var(--neutral_dark10);
      border-color: var(--neutral_dark10);
    }
  }

  /* Icon button styles */
  &.has-icon {
    .flex-wrapper {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }

    &.has-external-link {
      display: inline-flex;
      gap: 0.25rem;

      &::after {
        margin-top: 2px;
      }
    }
  }

  /* Disabled button styles */
  &:disabled,
  &.disabled {
    cursor: default;
    background: var(--neutral_dark20);
    border: 2px solid var(--neutral_dark20);
    color: var(--neutral_dark70);
  }

  /* Big button styles
    - this can be used in combination
    with the other classes */
  &.big {
    font-size: 1.25rem;
    padding-inline: 1.25rem;
  }

  /* Small button styles
    - this can be used in combination
    with the other classes */
  &.small {
    font-size: 0.875rem;
    padding: 0.5rem 0.75rem;
  }

  /* Increases line height on mobile
    if button text goes to 2+ lines */
  @media (max-width: 640px) {
    line-height: 1.2;
  }
}

/* Modals */
.modal-header {
  & button.close {
    min-width: unset;
    margin-top: 2px;

    &:hover {
      background: none;
      border: none;
    }
  }
}

/* Adds an icon to external links
  - apply this class to container elements or directly onto
  an "a" tag when a link opens in a new tab or window */
.has-external-link a::after,
a.has-external-link::after {
  display: inline-block;
  font: var(--fa-font-solid);
  content: "\f08e";
  font-size: 0.875em;
  margin-inline: 4px 2px;
}

.has-external-link a.link-button::after,
a.link-button.has-external-link::after {
  margin-inline: 4px 0;
}

html[dir="rtl"] .has-external-link a::after,
html[dir="rtl"] a.has-external-link::after {
  transform: scaleX(-1);
}

li > ul {
  margin-top: 10px;
  margin-bottom: 10px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 20px;
}

ul li {
  padding-left: 1em;
  text-indent: -0.7em;
}

ul li:before {
  content: "• ";
  color: var(--neutral_dark);
}

.invisiblelist li:before {
  content: "";
}

img {
  border: none;
}

th {
  background-color: var(--brand_primary_default);
  color: var(--neutral_white);
  padding: 15px;
  border-color: var(--neutral_white);
  border-width: 1px;
  border-style: solid;

  border-top-color: var(--brand_primary_default);
  border-left-color: var(--brand_primary_default);
  border-right-color: var(--brand_primary_default);
}

td {
  border-width: 1px;
  border-color: rgb(141, 138, 138);
  border-style: solid;
  padding: 15px;
}

/* Centers a block-level element */
.centered {
  text-align: center !important;
}

/* Applies text-wrap: balance to an element */
.wrap-balance {
  text-wrap: balance;
}

/* Applies text-wrap: pretty to an element */
.wrap-pretty {
  text-wrap: pretty;
}

/* Removes border from an element */
.no-border {
  border: none !important;
}

/* Styles for the "OR" divider line between paragraphs
  - see code.org/afe for an example */
.or-divider-line {
  position: relative;
  text-align: center;
  margin: 0.75rem 0;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 1px;
    background: var(--neutral_dark20);
    z-index: 0;
  }

  & > p {
    position: relative;
    display: inline-block;
    font-weight: 500;
    font-size: 0.625rem;
    text-transform: uppercase;
    margin: 0 4px 0;
    padding: 5px 5px 4px;
    background: var(--neutral_white);
    border: 1px solid var(--neutral_dark20);
    border-radius: 50%;
    outline: 4px solid var(--neutral_white);
    z-index: 1;
  }
}

/* Start top navigation bar styles ------------------------ */
nav.main {
  background-color: var(--brand_primary_default);
  margin: 0;
  padding: 0.25rem 1rem;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}

nav .left,
nav .right {
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav .left {
  gap: 2rem;
}

nav .right {
  gap: 0.5rem;
  justify-content: end;
}

nav.main ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: start;
  gap: 2rem;
}

nav.main ul li {
  padding: 0;
  text-indent: 0;
  list-style: none;
  color: var(--neutral_white);
}

nav.main ul li::before {
  content: "";
}

nav.main ul li a {
  color: var(--neutral_white);
  text-decoration: none;
  font-weight: var(--regular-font-weight);
  cursor: pointer;
}

nav.main ul li a:hover {
  padding-bottom: 2px;
  border-bottom: 2px solid var(--orange);
}

nav.main img.logo {
  width: 42px;
}

nav.main i.fa-fw {
  line-height: 1;
}

nav.main .create_menu,
nav.main .user_menu,
nav.main .button-signin,
nav.main .button-create-account {
  border: 2px solid var(--neutral_white);
  border-radius: 4px;
  color: var(--neutral_white);
  font-size: 0.875rem;
  font-weight: var(--regular-font-weight);
  text-decoration: none;
  padding: 7px 12px;
  margin: 0;
}

nav.main .button-create-account {
  background-color: var(--neutral_white);
  color: var(--brand_primary_default);
  font-weight: var(--semi-bold-font-weight);
}

nav.main .create_menu,
nav.main .user_menu {
  border: 2px solid;
  margin: 0;
  display: flex;
  gap: 2px;
  cursor: pointer;
}

nav.main .create_menu i,
nav.main .user_menu i {
  font-size: 1.5rem;
  width: auto;
}

nav.main .create_menu i.create_menu_arrow_down,
nav.main .user_menu i.user_menu_arrow_down {
  margin-top: -4px;
}

nav.main .create_menu i.create_menu_arrow_up,
nav.main .user_menu i.user_menu_arrow_up {
  margin-top: -1px;
}

nav.main .help_button {
  padding: 0;
  height: unset;
  margin-inline-end: -6px;
}

nav.main .help_button .help_icon {
  padding: 0;
  height: unset;
}

nav.main .help_button .help_contents {
  top: 44px;
}

nav.main #hamburger #hamburger-icon {
  margin-top: -2px;
  margin-inline-start: 6px;
}

nav.main #hamburger #hamburger-contents {
  top: 51px;
  right: -3px;
}

/* Show the hamburger on small desktop
  with appropriate links hidden */
@media (min-width: 1024px) and (max-width: 1268px) {
  nav.main .left ul li:nth-child(n+4),
  nav.main #hamburger-contents > div:nth-child(-n+5) {
    display: none !important;
  }
}

/* Hide the main list of links on mobile */
@media (max-width: 1023px) {
  nav.main .left ul {
    display: none;
  }
}

/* Start top skinny banner styles --------------- */
aside.top-skinny-banner {
  background: var(--neutral_dark);
  display: flex;

  &.light-theme {
    background: var(--neutral_dark10);

    & * {
      color: var(--neutral_dark) !important;
    }
  }

  & * {
    color: var(--neutral_white);
  }

  & .content-wrapper {
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    gap: 0.5rem;

    & > i {
      margin-top: 2px;
    }

    & > a {
      text-decoration: none;
      font-weight: var(--normal-font-weight);

      &:hover {
        text-decoration: underline;
      }
    }
  }

  & > button {
    all: unset;
    padding: 1rem 1.1rem;
    margin-top: 2px;
    cursor: pointer;
    text-align: center;
    align-self: start;
    opacity: 0.7;
    transition: opacity 0.2s ease-in-out;

    &:hover {
      opacity: 1;
    }

    &:focus {
      outline: 5px auto -webkit-focus-ring-color;

      &:not(:focus-visible) {
        outline: none;
      }
    }
  }
}

/* Start carousel styles ------------------------ */
.carousel-wrapper {
  position: relative;
  margin: 2rem 0 0;
}

/* Sets the font-family for text/image carousels */
.carousel-wrapper p {
  font-family: var(--barlowSemiCondensed-medium), sans-serif;
}

/* Sets the font-family for .action-block carousels */
.carousel-wrapper .action-block p {
  font-family: var(--main-font), sans-serif;
}

/* Swiper carousel library styles */
swiper-slide {
  display: flex;
  align-items: stretch;
  height: auto;
}

.carousel-wrapper .swiper-nav-prev,
.carousel-wrapper .swiper-nav-next {
  position: absolute;
  top: 40%;
  border: 0;
  height: 48px;
}

.carousel-wrapper .swiper-nav-prev {
  background: url("/images/carousel/prev.svg") no-repeat;
  left: -4rem;
  border: 0;
}

.carousel-wrapper .swiper-nav-next {
  background: url("/images/carousel/next.svg") no-repeat;
  right: -4rem;
}

.carousel-wrapper .swiper-button-disabled {
  opacity: 0.5;
}

@media screen and (max-width: 1024px) {
  .carousel-wrapper .swiper-nav-prev,
  .carousel-wrapper .swiper-nav-next {
    display: none;
  }
}

/* Video carousel styles */
.carousel-wrapper.video-carousel swiper-slide {
  display: block;
  text-align: left;
}

.carousel-wrapper.video-carousel .swiper-nav-prev,
.carousel-wrapper.video-carousel .swiper-nav-next {
  top: 28%;
}

/* Begin legacy styles ------------------------ */

/* for homepage 2.0.. */
#homepage .clear {
  clear: both;
}
/* ..end homepage 2.0 */

.narrow_hr {
  margin-top: 10px;
  margin-bottom: 10px;

  border: 0;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: var(--neutral_dark20);
}

.grey_input {
  font-size: 14px;
  height: 34px;
  background-color: rgb(226, 228, 227);
  border: none;
  padding: 5px;
  color: rgb(89, 89, 89);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

#petition_form a {
  font-family: var(--main-font);
}

#petition_form a:link,
#petition_form a:visited {
  color: #dcdcdc;
  text-decoration: none;
}

#petition_form a:hover,
#petition_form a:active {
  color: #fff;
  text-decoration: underline;
}

.listed_supporter {
  font-family: var(--main-font);
  font-weight: var(--bold-font-weight);
  font-weight: normal;
}

.greybox {
  background-color: var(--neutral_dark80);
  color: var(--neutral_white);
  padding: 20px;
  text-align: center;
  overflow: hidden;
}

#about_nav {
  margin: 3.5rem 0 0 0;
}

.about_list_item_selected {
  color: var(--brand_secondary_default);
  font-family: var(--main-font);
  font-weight: var(--bold-font-weight);
}

a.about_list_item {
  color: var(--neutral_dark60);
  font-family: var(--main-font);
  font-weight: var(--semi-bold-font-weight);
  text-decoration: none;
}

a.about_list_item:hover {
  color: var(--brand_secondary_default);
}

.dropdown {
  border-color: rgb(204, 204, 204);
  border-radius: 5px;
}

@media screen and (max-width: 450px) {
  #index .count h1 {
    font-size: 32px;
    line-height: 32px;
  }

  #index .count h2 {
    font-size: 40px;
    line-height: 40px;
  }

  #index .count h3 {
    font-size: 32px;
    line-height: 48px;
  }

  #index .count h4 {
    font-size: 16px;
    line-height: 16px;
  }
}

label {
  font-family: var(--main-font);
  font-weight: var(--semi-bold-font-weight);
  font-weight: normal;
}
