/* Uses color and typography variables from 050-theme.css */

/* for homepage 2.0.. */
#homepage .clear {
  clear: both;
}
/* ..end homepage 2.0 */

body {
  font-family: var(--gotham-regular);
  font-size: 14px;
  color: var(--neutral_dark);
  margin: 0;
}

h1,
.heading-xxl {
  font-family: var(--barlowSemiCondensed-semibold);
  font-size: 3rem;
  line-height: 1.16;
  margin: 1em 0 0.5em 0;
}

h2,
.heading-xl {
  font-family: var(--barlowSemiCondensed-semibold);
  font-size: 2.125rem;
  line-height: 1.24;
  margin: 1em 0 0.5em 0;
}

h3,
.heading-lg {
  font-family: var(--barlowSemiCondensed-semibold);
  font-size: 1.75rem;
  line-height: 1.28;
  margin-bottom: 0.5em;
}

h4,
.heading-md {
  font-family: var(--barlowSemiCondensed-medium);
  font-size: 1.5rem;
  line-height: 1.32;
  margin-bottom: 0.5em;
}

h5,
.heading-sm {
  font-family: var(--gotham-bold);
  font-size: 1.25rem;
  line-height: 1.40;
  margin-bottom: 0.5em;
}

h6,
.heading-xs {
  font-family: var(--gotham-bold);
  font-size: 1rem;
  line-height: 1.48;
  margin-bottom: 0.5em;
}

p {
  line-height: 1.48;
  margin-bottom: 1em;
}

.body-one {
  font-size: 1.25rem;
  line-height: 1.4;
  margin-bottom: 1em;
}

.body-two {
  font-size: 1rem;
  line-height: 1.48;
  margin-bottom: 1em;
}

.body-three {
  font-size: 0.875rem;
  line-height: 1.54;
  margin-bottom: 1em;
}

.body-four {
  font-size: 0.75rem;
  line-height: 1.64;
  margin-bottom: 1em;
}

figcaption,
.video_caption_link {
  font-family: var(--gotham-bold);
  font-size: 0.875rem;
  margin: 0.5em 0 1em;
  line-height: 1.64;
}

a,
a:link {
  font-family: var(--gotham-bold);
  color: var(--brand_secondary_default);
  text-decoration: underline;
  transition: color ease-in-out .2s;
}

a:visited {
  color: var(--brand_secondary_default);
}

a:hover,
a:active {
  color: var(--brand_secondary_dark);
}

a:link:has(*) {
  text-decoration: none;
}

strong {
  font-family: var(--gotham-bold);
}

em {
  font-family: var(--gotham-italics);
}

li > ul {
  margin-top: 10px;
  margin-bottom: 10px;
}

ul {
  list-style: none;
  padding:0;
  margin:20px;
}

ul li {
  padding-left: 1em;
  text-indent: -.7em;
}

ul li:before {
  content: "• ";
  color: var(--neutral_dark);
}

.invisiblelist li:before {
  content: "";
}

img {
  border: none;
}

th {
  background-color: var(--brand_primary_default);
  color: var(--neutral_white);
  padding: 15px;
  border-color: var(--neutral_white);
  border-width: 1px;
  border-style: solid;

  border-top-color: var(--brand_primary_default);
  border-left-color: var(--brand_primary_default);
  border-right-color: var(--brand_primary_default);
}

td {
  border-width: 1px;
  border-color: rgb(141, 138, 138);
  border-style: solid;
  padding: 15px;
}

.narrow_hr {
  margin-top: 10px;
  margin-bottom: 10px;

  border: 0;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: var(--neutral_dark20);
}

.grey_input {
  font-size: 14px;
  height:34px;
  background-color: rgb(226,228,227);
  border: none; padding: 5px;
  color: rgb(89,89,89);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

#petition_form a {
  font-family: var(--gotham-regular);
}

#petition_form a:link, #petition_form a:visited {
  color: #dcdcdc;
  text-decoration: none;
}

#petition_form a:hover, #petition_form a:active {
  color: #fff;
  text-decoration: underline;
}

.listed_supporter{
  font-family: var(--gotham-extra-bold);
  font-weight: normal;
}

.greybox {
  background-color: var(--neutral_dark80);
  color: var(--neutral_white);
  padding: 20px;
  text-align: center;
  overflow:hidden;
}

#about_nav {
  margin: 50px 0 0 0;
}

.about_list_item_selected {
  color: var(--brand_secondary_default);
  font-family: var(--gotham-extra-bold);
}

a.about_list_item {
  color: var(--neutral_dark60);
  font-family: var(--gotham-bold);
  text-decoration: none;
}

a.about_list_item:hover {
  color: var(--brand_secondary_default);
}

.button-color-share {
  background-color: var(--brand_secondary_default);
  border-color: var(--brand_secondary_default);
}

button {
  -webkit-appearance: none;
  -webkit-user-select: none;
  -webkit-writing-mode: horizontal-tb;
  align-items: flex-start;
  background-color: var(--brand_secondary_default);
  border-color: var(--brand_secondary_default);
  background-image: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-image-outset: 0px;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-style: solid;
  border-left-width: 1px;
  border-right-style: solid;
  border-right-width: 1px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-top-style: solid;
  border-top-width: 1px;
  box-sizing: border-box;
  color: var(--neutral_white);
  cursor: pointer;
  display: inline-block;
  font-family: var(--gotham-regular);
  font-size: 14px;
  font-weight: normal;
  height: 34px;
  letter-spacing: normal;
  line-height: 20px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  padding-bottom: 6px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 6px;
  text-align: center;
  text-indent: 0px;
  text-shadow: none;
  text-transform: none;
  vertical-align: middle;
  white-space: nowrap;
  word-spacing: 0px;
  writing-mode: lr-tb;
  transition: all ease-in-out .2s;
}

.btn-white:hover{
  background-color:#E6E6F3;
  border-color:#adadad;
}

.dropdown {
  border-color: rgb(204, 204, 204);
  border-radius: 5px;
}

#stats-carousel .slide-prev > span {
  border-right-color: #b9bf15;
}
#stats-carousel .slide-next > span {
  border-left-color: #b9bf15;
}
.carousel-wrapper .pagination a {
  background: var(--brand_primary_light);
}
.carousel-wrapper .pagination a.selected {
  background: var(--brand_primary_default);
}

@media screen and (max-width: 450px) {
  #index .count h1 {
    font-size: 32px;
    line-height: 32px;
  }

  #index .count h2 {
    font-size: 40px;
    line-height: 40px;
  }

  #index .count h3 {
    font-size: 32px;
    line-height: 48px;
  }

  #index .count h4 {
    font-size: 16px;
    line-height: 16px;
  }
}

label {
  font-family: var(--gotham-bold);
  font-weight: normal;
}
