/* for homepage 2.0.. */
#homepage .clear {
  clear: both;
}
/* ..end homepage 2.0 */

h1 {
  color: #7665a0;
  font-size: 32px;
  font-family: 'Gotham 7r', sans-serif;
  margin-top: 50px;
  margin-bottom: 30px;
  line-height: 1.2em;
}

h2 {
  color: #00adbc;
  font-size: 22px;
  font-family: 'Gotham 5r', sans-serif;
  margin-top:45px;
  margin-bottom:25px;
  line-height: 1.2em;
}

h3 {
  color: #5b6770;
  font-size: 18px;
  font-family: 'Gotham 4r', sans-serif;
  margin-top:25px;
  margin-bottom:12px;
  line-height: 1.2em;
}

h4 {
  color: #5b6770;
  font-size: 14px;
  font-family: 'Gotham 5r', sans-serif;
  line-height: 1.2em;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: normal;
}

a {
  font-family: 'Gotham 7r', sans-serif;
}

a:link {
  color: #7665a0;
  text-decoration: none;
}

a:visited {
  color: #7665a0;
  text-decoration: none;
}

a:hover, a:active {
  text-decoration: underline;
  color: #5b6770;
}

strong {
  font-family: 'Gotham 7r', sans-serif;
  font-weight: normal;
}

em {
  font-family: 'Gotham 4i', sans-serif;
  font-style: normal;
}

body {
  font-family: 'Gotham 4r', sans-serif;
  font-size: 14px;
  line-height: 22px;
  font-weight: normal;
  color: dimgray;
  margin: 0;
}

li > ul {
  margin-top: 10px;
  margin-bottom: 10px;
}

ul {
  list-style: none;
  padding:0;
  margin:20px;
}

ul li {
  padding-left: 1em;
  text-indent: -.7em;
}

ul li:before {
  content: "• ";
  color: rgb(0, 161, 230);
}

.invisiblelist li:before {
  content: "";
}

img {
  border: none;
}

th {
  background-color: rgb(0, 178, 192);
  color: white;
  padding: 15px;
  border-color: white;
  border-width: 1px;
  border-style: solid;

  border-top-color: rgb(0, 178, 192);
  border-left-color: rgb(0, 178, 192);
  border-right-color: rgb(0, 178, 192);
}

td {
  border-width: 1px;
  border-color: rgb(141, 138, 138);
  border-style: solid;
  padding: 15px;
}

.narrow_hr {
  margin-top: 10px;
  margin-bottom: 10px;

  border: 0;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #00adbc;
}

.grey_input {
  font-size: 14px;
  height:34px;
  background-color: rgb(226,228,227);
  border: none; padding: 5px;
  color: rgb(89,89,89);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

#petition_form a {
  font-family: 'Gotham 4r', sans-serif;
}

#petition_form a:link, #petition_form a:visited {
  color: #dcdcdc;
  text-decoration: none;
}
#petition_form a:hover, #petition_form a:active {
  color: #fff;
  text-decoration: underline;
}

.listed_supporter{
  font-family: 'Gotham 7r', sans-serif;
  font-weight: normal;
  color: #7665a0;
}

.greybox {
  background-color: rgb(88, 103, 113); color: white; padding: 20px; text-align: center; overflow:hidden;
}

#about_nav {
  margin: 50px 0 0 0;
}

.about_list_item_selected {
  color: #ff8a00;
  font-family: 'Gotham 7r', sans-serif;
}

a.about_list_item {
  color: #999c9f;
  font-family: 'Gotham 5r', sans-serif;
}


.button-color-share {
  background-color: rgb(126, 92, 162);
  border-color: rgb(126, 92, 162);
}

button {
  -webkit-appearance: none;
  -webkit-user-select: none;
  -webkit-writing-mode: horizontal-tb;
  align-items: flex-start;
  background-color: rgb(255, 164, 0) ;
  border-color: rgb(255, 164, 0) ;
  background-image: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-image-outset: 0px;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-style: solid;
  border-left-width: 1px;
  border-right-style: solid;
  border-right-width: 1px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-top-style: solid;
  border-top-width: 1px;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: inline-block;
  font-family: 'Gotham 4r', sans-serif;
  font-size: 14px;
  font-weight: normal;
  height: 34px;
  letter-spacing: normal;
  line-height: 20px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  padding-bottom: 6px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 6px;
  text-align: center;
  text-indent: 0px;
  text-shadow: none;
  text-transform: none;
  vertical-align: middle;
  white-space: nowrap;
  word-spacing: 0px;
  writing-mode: lr-tb;
}

.btn-white:hover{
  background-color:#E6E6F3;
  border-color:#adadad;
}


.dropdown {
  border-color: rgb(204, 204, 204);
  border-radius: 5px;
}

#stats-carousel .slide-prev > span {
  border-right-color: #b9bf15;
}
#stats-carousel .slide-next > span {
  border-left-color: #b9bf15;
}
.carousel-wrapper .pagination a {
  background: #7765a1;
}
.carousel-wrapper .pagination a.selected {
  background: #ffa401;
}

@media screen and (max-width: 450px) {
  #index .count h1 {
    font-size: 32px;
    line-height: 32px;
  }

  #index .count h2 {
    font-size: 40px;
    line-height: 40px;
  }

  #index .count h3 {
    font-size: 32px;
    line-height: 48px;
  }

  #index .count h4 {
    font-size: 16px;
    line-height: 16px;
  }
}

label {
  font-family: 'Gotham 5r', sans-serif;
  font-weight: normal;
}


.video_caption_link {
  font-family: 'Gotham 4r', sans-serif;
}
