/* Variables are duplicated from shared/css/color.scss */
:root {
  --brand_primary_light: #ABDFE5;
  --brand_primary_default: #009EB0;
  --brand_primary_dark: #008291;
  --brand_secondary_light: #E0D1EC;
  --brand_secondary_default: #9660BF;
  --brand_secondary_dark: #6F488E;
  --brand_accent_default: #ED6060;
  --neutral_white: #FFFFFF;
  --neutral_light: #F7F8FA;
  --neutral_dark10: #EAEBEB;
  --neutral_dark20: #D4D5D7;
  --neutral_dark30: #BFC1C3;
  --neutral_dark40: #A9ACAF;
  --neutral_dark50: #94979B;
  --neutral_dark60: #7F8286;
  --neutral_dark70: #6A6E73;
  --neutral_dark80: #54595E;
  --neutral_dark90: #3F444B;
  --neutral_dark: #292F36;
}

html {
  height: 100%;
}

body {
  background-color: var(--neutral_white);
  height: 100%;
}

.wrapper {
  min-height: 100%;
  margin-bottom: -80px;     /* This is the same as the height of .push. */
}

.push {
  height: 80px;             /* This is the same as the height of the footer once its padding is included. */
}

#pageheader-wrapper .headerlink:link,
#pageheader-wrapper .headerlink:visited {
  color: var(--neutral_white);
  text-decoration: none;
}

#pageheader-wrapper .headerlink:hover,
#pageheader-wrapper .headerlink:active {
  color: var(--neutral_white);
  border-bottom: solid 2px rgb(255, 164, 0);
}

#pageheader-wrapper .learnoption:hover {
  text-decoration: underline;
}

#pagefooter {
  width: 100%;
  height: 170px;
  padding: 20px;
  overflow: hidden;
  background-color: var(--neutral_dark);
  box-sizing: border-box;
}

#pagefooter .content {
  color: var(--neutral_white);
  font-size: 14px;
  font-weight: normal;
  width: 970px;
  margin: 0 auto;
}

#pagefooter .dim {
  display: inline-block;
  opacity: 0.8;
}

.powered-by-aws {
  width: 100%;
  margin-top: 12px;
}

.whitefooterlink:link {
  color: var(--neutral_white);
  font-size: 14px;
  font-family: 'Gotham 4r', sans-serif;
  text-decoration: none;
}

.whitefooterlink:hover {
  color: var(--neutral_white);
  font-size: 14px;
  font-family: 'Gotham 4r', sans-serif;
  text-decoration: underline;
}

.whitefooterlink:visited {
  color: var(--neutral_white);
  font-size: 14px;
  font-family: 'Gotham 4r', sans-serif;
}


/* styling for the embedded dashboard components... */

#sign_in_or_user {
  margin: .6875em 0 0 30px;
}

#sign_in_or_user .button-signin {
  text-decoration: none;
  -webkit-appearance: none;
  -webkit-user-select: none;
  -webkit-writing-mode: horizontal-tb;
  align-items: flex-start;
  background-color: rgb(255, 164, 0);
  border-color: rgb(255, 164, 0);
  background-image: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-image-outset: 0px;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-style: solid;
  border-left-width: 1px;
  border-right-style: solid;
  border-right-width: 1px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-top-style: solid;
  border-top-width: 1px;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: inline-block;
  font-family: 'Gotham 4r', sans-serif;
  font-size: 14px;
  font-weight: normal;
  height: 35px;
  letter-spacing: normal;
  line-height: 22px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: -6px;
  padding-bottom: 6px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 6px;
  text-align: center;
  text-indent: 0px;
  text-shadow: none;
  text-transform: none;
  vertical-align: middle;
  white-space: nowrap;
  word-spacing: 0px;
  writing-mode: lr-tb;
}
