@import "color.scss";
@import "font.scss";

.toolboxCategoryContainer {
  margin-top: 3px;
  margin-bottom: 3px;
}

.toolboxRow {
  cursor: pointer;
  padding-right: 15px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-left: 3px;
  margin-right: 3px;
  border-radius: 4px;
  &:hover {
    background-color: $light_gray;
  }
}

//.toolboxIcon {
//}

.toolboxLabel {
  font-family: $gotham-regular;
  font-size: 14px;
  padding: 0 5px;
  vertical-align: middle;
}
