---
title: Code.org celebrates 10 years!
theme: responsive_full_width
---

%link{href: '/css/generated/design-system-pegasus.css', rel: 'stylesheet'}

%section
  .wrapper
    %h1=hoc_s(:ten_years_top_heading)
    %p=hoc_s(:ten_years_top_desc)
    %img{src: "/images/cdo-10years-logo.svg", alt: ""}

%section
  .wrapper
    %h2 A decade of milestones

%section
  .wrapper
    %h2 See where it all began

%section
  .wrapper
    %h2 EMBED TWEETS HERE

%section
  .wrapper
    %h2 What people are saying
