---
title: Expanding computer science through partnerships
theme: responsive
social:
  "og:title": "Code.org announces 11 new partners to expand computer science"
  "og:description": "Each partner offers a different approach, but they all share one thing: a commitment to adding computer science into the formal curriculum in schools."
  "og:image": "http://code.org/images/student-tatiana.jpg"
  "og:image:width": 1200
  "og:image:height": 628
  "og:video": ""
  "og:video:width": ""
  "og:video:height": ""
  "og:video:type": ""
---

# Expanding computer science through partnerships



<div style="float: left;">
<% facebook = {:u=>'http://code.org/3rdparty-partners'} %>
<% twitter = {:url=>'http://code.org/3rdparty-partners', :related=>'codeorg', :text=>'Code.org announces 11 new partners to expand computer science'} %>
<%= view :share_buttons, facebook:facebook, twitter:twitter %>
</div>

<%= view "popup_window.js" %>

<br style="clear: both;">

<br />

[letter]

### June 3, 2015 

SEATTLE — Code.org announced today 11 new partnerships with computer science education organizations to help schools where Code.org it isn’t able to work directly. 

Code.org’s new partners are: Edhesive*, Beauty and Joy of Computing, Bootstrap, Codecademy, CodeHS, Globaloria, National Math and Science Initiative, Project Lead the Way, Technology Education And Literacy in Schools, ScratchEd, and Tynker.

This announcement follows Code.org’s recent partnerships with the National Science Foundation and the College Board, and helps educators choose the best learning resources to their students, in a space with so many options available.

Code.org has curated a list of options for schools that want to teach computer science. Each of these partners offers a different approach — some offer curriculum, some offer professional development, some offer a blend — but they all share one thing in common: a commitment to adding computer science into the formal curriculum in schools. 

As Code.org approaches school districts nationwide to establish computer science programs, it will also highlight these partnership alternatives to help educators and administrators find the best fit for their students. Code.org will also promote partners on its website and integrate select resources into its curriculum.

By integrating computer science into the course schedule in K-12 schools — where gender is usually evenly split and students of all ethnic and economic backgrounds are represented — we see an increase in diversity of students learning computer science, who may never try it otherwise. In addition, learning computer science in a classroom can help students progress faster and further than learning on their own.

“Code.org is dedicated to ensuring that every K-12 student has the opportunity to learn computer science,” said Hadi Partovi, founder and CEO of Code.org. “This is a community effort, and we’re proud to partner with some of the top organizations to bring this field into the K-12 curriculum, and to inspire students from all backgrounds to try computer science and re-shape their futures.”

Choose a CS partner and get started [http://code.org/educate/3rdparty](/educate/3rdparty).

Code.org welcomes new partners:<br />
[Edhesive](http://edhesive.com/), [BJC](http://bjc.berkeley.edu/), [Bootstrap](http://www.bootstrapworld.org/), [Codecademy](http://www.codecademy.com/), [CodeHS](https://codehs.com/), [Globaloria](http://globaloria.com/), [NMSI](https://www.nms.org/), [PLTW](https://www.pltw.org/), [TEALS](https://www.tealsk12.org/), [ScratchEd](http://scratched.gse.harvard.edu/guide/), [Tynker](https://www.tynker.com/).

*Edhesive was formally named Amplify Education.


<center>****</center>


**About Code.org**

Code.org is a 501c3 public nonprofit dedicated to expanding participation in computer science and increasing participation by women and underrepresented students of color. Its vision is that every student in every school should have the opportunity to learn computer programming. After launching in 2013, Code.org organized the Hour of Code campaign – which has introduced over 100 million students to computer science to date – and partnered with 70 public school districts nationwide to expand computer science programs. Code.org is supported by philanthropic donations from corporations, foundations and generous individuals, including Microsoft, Infosys Foundation, USA, The Ballmer Family Giving, Omidyar Network and others. For more information, visit [code.org](/).

For more information, contact <a href="mailto:press@code.org">press@code.org</a>
