---
title: 'Accessibility'
theme: responsive_full_width
---


%link{href: "/css/generated/design-system-pegasus.css", rel: "stylesheet"}
%link{href: "/css/generated/page/accessibility-styles.css", rel: "stylesheet"}


%section.hero-banner-basic
  .wrapper
    %div.flex-container
      %div.text-wrapper.col-66
        %h1{style: "color: white"} Become a Maker
        %p{style: "color: white"} Explore your creativity with physical computing.
      %div.col-30.flex-container.justify-end
        %img{src: "/images/accessibility/hero-image.png", alt: ""}
    .clear



%section.why-teach-cs.bg-neutral-light
  .wrapper
    %h2
      =hoc_s(:teach_page_why_teach_cs_heading)
    %p
      =hoc_s(:teach_page_why_teach_cs_heading)
    %div.grid-container
      %div.flex-container
        %figure
          %img{src: "/images/teach-page-why-cs-01.png", alt: ""}
        .text-wrapper
          %h3.heading-sm
            =hoc_s(:teach_page_why_teach_cs_block_heading_01)
          %p=hoc_s(:teach_page_why_teach_cs_block_desc_01)
      %div.flex-container
        %figure
          %img{src: "/images/teach-page-why-cs-02.png", alt: ""}
        .text-wrapper
          %h3.heading-sm
            =hoc_s(:teach_page_why_teach_cs_block_heading_02)
          %p=hoc_s(:teach_page_why_teach_cs_block_desc_02)
      %div.flex-container
        %figure
          %img{src: "/images/teach-page-why-cs-03.png", alt: ""}
        .text-wrapper
          %h3.heading-sm
            =hoc_s(:teach_page_why_teach_cs_block_heading_03)
          %p=hoc_s(:teach_page_why_teach_cs_block_desc_03)
      %div.flex-container
        %figure
          %img{src: "/images/teach-page-why-cs-04.png", alt: ""}
        .text-wrapper
          %h3.heading-sm
            =hoc_s(:teach_page_why_teach_cs_block_heading_04)
          %p=hoc_s(:teach_page_why_teach_cs_block_desc_04)
          %a{href: "/ai", target: "_blank", rel: "noopener noreferrer"}
            =hoc_s(:call_to_action_explore_ai_resources)
    %hr.dark
    %div.centered
      %h4=hoc_s(:teach_page_why_teach_cs_heading_02)
      %a.link-button{href: CDO.studio_url("/catalog")}
        =hoc_s(:call_to_action_explore_curriculum_catalog)


%section.bg-neutral-light
  .wrapper
    %h2=hoc_s(:ai_carousel_heading)
    .quotes-wrapper
      = view :ai_carousel


%section{id: "ai-curricula"}
  .wrapper
    %h2=hoc_s(:ai_curricula_heading)
    %p=hoc_s(:ai_curricula_desc)
    .action-block__wrapper.action-block__wrapper--three-col
      .action-block.action-block--one-col.flex-space-between
        .content-wrapper
          %p.overline=hoc_s(:ai_curriculum_grades_01)
          %h3=hoc_s(:ai_curriculum_title_01)
          %img{src: "/images/ai/ai-curriclum-machine-learning.png", alt: ""}
          %p=hoc_s(:ai_curriculum_desc_01)
          %p=hoc_s(:ai_curriculum_duration_01)
        .content-footer
          %a{href: CDO.studio_url("/s/aiml"), class: "link-button", aria:{label: hoc_s(:ai_curriculum_btn_aria_label_01)}}
            =hoc_s(:call_to_action_explore_unit)
      .action-block.action-block--one-col.flex-space-between
        .content-wrapper
          %p.overline=hoc_s(:ai_curriculum_grades_02)
          %h3=hoc_s(:ai_curriculum_title_02)
          %img{src: "/images/ai/ai-curriclum-ethics.png", alt: ""}
          %p=hoc_s(:ai_curriculum_desc_02)
          %p=hoc_s(:ai_curriculum_duration_02)
        .content-footer
          %a{href: CDO.studio_url("/s/ai-ethics-2021/lessons/1"), class: "link-button", aria:{label: hoc_s(:ai_curriculum_btn_aria_label_02)}}
            =hoc_s(:call_to_action_view_lesson_plan)
      .action-block.action-block--one-col.flex-space-between
        .content-wrapper
          %p.overline=hoc_s(:ai_curriculum_grades_03)
          %h3=hoc_s(:ai_curriculum_title_03)
          %img{src: "/images/ai/ai-curriclum-oceans.png", alt: ""}
          %p=hoc_s(:ai_curriculum_desc_03)
          %p=hoc_s(:ai_curriculum_duration_03)
        .content-footer
          %a{href: CDO.studio_url("/s/oceans"), class: "link-button", aria:{label: hoc_s(:ai_curriculum_btn_aria_label_03)}}
            =hoc_s(:call_to_action_try_activity)



%section{id: "ai-pl"}
  .wrapper
    %h2=hoc_s(:ai_pl_heading)
    .action-block.action-block--two-col
      .text-wrapper.col-50
        %h3.heading-sm=hoc_s(:ai_pl_subheading)
        %ul{style: "margin-top: 1.5em;"}
          %li=hoc_s(:ai_pl_list_01)
          %li=hoc_s(:ai_pl_list_02)
          %li=hoc_s(:ai_pl_list_03)
          %li=hoc_s(:ai_pl_list_04)
          %li=hoc_s(:ai_pl_list_05)
        %a{href: CDO.studio_url("/courses/self-paced-pl-aiml-2023"), class: "link-button"}
          =hoc_s(:call_to_action_self_paced_pl)
      %img{src: "/images/ai/ai-professional-learning.png", alt: "", class: "col-50"}
    .clear
