---
title: Computer science in your school or district
theme: responsive
video_player: true
---
<div class="col-100" style="background-color:#ebe8f1; border-radius:10px; padding:20px">  
  <h2 style="color:#7665a0; margin-top:0">Join us for a special conversation and info session featuring Arne Duncan, former U.S. Secretary of Education</h2>
  <h3>Thursday, April 15th, 10 am PST / 1 pm EST, Zoom webinar
  <p>Hear from former U.S. Secretary of Education Arne Duncan and Code.org founder Hadi Partovi about why it’s so important for students to learn computer science, and learn how you can expand computer science in your school without a major hit to your budget. Session also features an overview of the Code.org Professional Learning Program.</p>
  <button>Register now</button>
  <br>
  <br>
  <p><a href="#contactrp">I can't attend, but I would like to learn more about bringing computer science to my school/district.</a></p>
</div>

<h1>Bring computer science to your school or district with Code.org</h1>

<div class="col-40" style="padding-right: 20px; padding-bottom: 20px">
  <%= view :display_video_thumbnail, id: 'cs_district', video_code: 'POiMh0qISpI', play_button: 'center', letterbox: 'false' %>
</div>

<div class="col-60">
<p>School and district administrators have a critical role in ensuring all students have access to computer science. At Code.org, we’ve worked with more than 180 districts, and understand the challenges administrators face are often unique to each district or school. That’s why we’ve partnered with more than 60 universities, nonprofits, and other organizations around the US to help districts and schools implement CS courses in a way that makes sense for them.</p>
<p>Your <a href="#getstarted">local Regional Partner</a> can help guide your school or district on implementation, certification, funding, and more.</p>
</div>

<div style="clear:both"></div>

<br>

<div class="col-100" style="text-align:center">
  <a href="#whatcs">What is computer science?</a> | <a href="#whycs">Why computer science?</a> | <a href="#whycode">What Code.org offers</a> | <a href="#getstarted">How do I get started?</a> | <a href="#faqs">FAQs</a>
</div>

<br>
<br>

<a id="whatcs"></a>
<h2>What is computer science and who is it for?</h2>

<div class="col-60">
  <h3 style="margin-top: 10px">Computer science (CS) is much more than coding</h3>
  <p>The Computer Science Teachers Association defines computer science as “the study of computers and algorithmic processes, including their principles, their hardware and software designs, their implementation, and their impact on society.” Put simply, CS is about using technology to solve problems, make connections, or create art or games, often in collaborative and creative ways. Learning computer science, then, means learning skills essential to the workplace, like teamwork, problem-solving, creative and critical thinking, as well as content knowledge like programming.</p>
</div>

<div class="col-40" style="padding-left: 20px">
  <%= view :display_video_thumbnail, id: 'dontteach', video_code: 'nKIu9yen5nc', caption: "What most schools don't teach (5 min)", play_button: 'center', letterbox: 'false' %>
</div>

<div style="clear:both"></div>

<h3>Computer science is for everyone</h3>
<p>Anyone can learn computer science, and because it’s so integral to our society, used in nearly every field or industry, it’s incredibly important that <strong><i>everyone</i></strong> has the opportunity to do so.</p>
<p>Use the map below to see the percentage of schools offering computer science in your district and others near you. Use the dropdown to find your district, or simply hover over an area to view details.</p>
<br>

<div class='tableauPlaceholder' id='viz1611863822392' style='position: relative'>
  <noscript>
    <a href='#'>
      <img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Di&#47;DistrictsthatTeachCSpublic&#47;DistrictMap&#47;1_rss.png' style='border: none' />
    </a>
  </noscript>
  <object class='tableauViz'  style='display:none;'>
    <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
    <param name='embed_code_version' value='3' />
    <param name='site_root' value='' />
    <param name='name' value='DistrictsthatTeachCSpublic&#47;DistrictMap' />
    <param name='tabs' value='no' />
    <param name='toolbar' value='yes' />
    <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Di&#47;DistrictsthatTeachCSpublic&#47;DistrictMap&#47;1.png' />
    <param name='animate_transition' value='yes' />
    <param name='display_static_image' value='yes' />
    <param name='display_spinner' value='yes' />
    <param name='display_overlay' value='yes' />
    <param name='display_count' value='yes' />
    <param name='language' value='en' />
  </object>
</div>                
<script type='text/javascript'>                    
  var divElement = document.getElementById('viz1611863822392');                   
  var vizElement = divElement.getElementsByTagName('object')[0];                    
    if ( divElement.offsetWidth > 800 ) { vizElement.style.width='1000px';vizElement.style.height='827px';} else if ( divElement.offsetWidth > 500 ) { vizElement.style.width='1000px';vizElement.style.height='827px';} else { vizElement.style.width='100%';vizElement.style.height='727px';}                     
  var scriptElement = document.createElement('script');                    
  scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    
  vizElement.parentNode.insertBefore(scriptElement, vizElement);               
</script>

<a id="whycs"></a>
<h2>Why computer science?</h2>
<img style="width: 10%; float: left; margin-right: 2%" src="/images/administrators/human_mind.png">
<div style="width: 87%; float: left">
  <h3 style="margin-top:0">Computer sciences makes students better thinkers and problem solvers</h3>
  <p>Students who study computer science perform better in other subjects, excel at problem-solving, and are more likely to attend college, <a href="https://medium.com/@codeorg/cs-helps-students-outperform-in-school-college-and-workplace-66dd64a69536" target="_blank">according to recent research</a>.</p>
</div>
<div style="clear: both"></div>
<br>
<br>

<img style="width: 10%; float: left; margin-right: 2%" src="/images/administrators/developer.png">
<div style="width: 87%; float: left">
  <h3 style="margin-top:0">Computer science better prepares students for all careers</h3>
  <p>Studying computer science “prepares students for careers in government, law, the corporate sector, and graduate study,” <a href="https://exploredegrees.stanford.edu/schoolofengineering/computerscience/" target="_blank">according to Stanford University</a>. Computing occupations are now the <a href="http://www.rasmussen.edu/degrees/technology/blog/careers-in-computer-science-face-the-facts/" target="_blank">fastest-growing</a> segment of all professions, spanning all industries. Even in non-computing professions such as marketing or design, digital skills are in <a href="https://blogs.oracle.com/certification/five-job-categories-increasingly-requiring-computer-science-skills" target="_blank">hot demand</a>, as the majority of all U.S. occupations now involve <a href="https://www.brookings.edu/research/digitalization-and-the-american-workforce/" target="_blank">“moderately digital” skills</a>.</p>
</div>
<div style="clear: both"></div>
<br>
<br>

<img style="width: 10%; float: left; margin-right: 2%" src="/images/administrators/like.png">
<div style="width: 87%; float: left">
  <h3 style="margin-top:0">Parents want it, and students love it</h3>
  <p>More than 90% of parents want schools to teach computer science, <a href="https://csedu.gallup.com/home.aspx" target="_blank">according to a recent Gallup study</a>, and students rank CS as their third favorite subject behind the arts, according to a study by Change the Equation and C+R Research, with <a href="https://docs.google.com/spreadsheets/d/15c-xozSgav1s38KcmxfLbe1CrHw4BsJdQEU3HqOFIGI/edit#gid=1309171352" target="_blank">analysis completed by Code.org</a>.</p>
</div>
<div style="clear:both"></div>
<br>
<br>

<p>For more data on the state of CS education, view our <a href="/promote" target="_blank">Stats page</a>. Or see all the research <a href="/research" target="_blank">here</a>.</p>

<a id="whycode"></a>
<h2>What Code.org offers</h2>
<h3>It’s a complete, proven program</h3>
<p>Code.org provides a complete CS program combining <a href="https://studio.code.org/courses?view=teacher" target="_blank">open source K-12 curriculum</a> with <a href="https://code.org/educate/professional-learning" target="_blank">professional development</a>, which has gotten high ratings from more than 100,000 participating teachers. Learn more in our <a href="https://code.org/files/programs/codeorg-program-brochure.pdf" target="_blank">Program Brochure</a>.</p>
<p>Read more about our <a href="/educate/curriculum/values" target="_blank">curriculum values</a>.</p>

<br>

<table style="border-style:none;">
  <tbody><tr>
    <th style="background-color:#0094ca;color:white;border-style:none;">
      “Can I just say I <strong>LOVE</strong> Code.org? It's my first year teaching AP CS Principles (actually 1st year it is offered at our school) - and both the kids and I are having a blast.”<br>
      <i>Jennifer Douglass, CS Principles Teacher</i>
      </th>
    <th style="background-color:#0094ca;border-style:none;">
      <img src="/images/fit-125/csp/csp-jennifer-douglass.jpg">
      </th>
    </tr>
</tbody></table>

<br>

<h3>There’s no need to hire</h3>
<p>There is no need to hire specialists to teach CS. Our program is uniquely designed to support teachers new to CS while offering the flexibility to evolve lessons to fit student needs. In fact, most of the educators who’ve participated in our <a href="https://code.org/educate/professional-learning" target="_blank">professional development program</a> had no CS experience coming in.</p>
<p>Learn more about how Code.org <a href="https://medium.com/@codeorg/how-code-org-lowers-the-barriers-for-teachers-to-bring-computer-science-to-their-classrooms-47879b6bb60f" target="_blank">lowers the barriers</a> for schools and teachers to bring CS to their classrooms.</p>

<br>

<div class="col-60">
<h3>Our partners offer local knowledge and support</h3>
<p>Work with a local Code.org partner organization that understands your needs and community to bring CS to your school.</p>
<p>Your local Code.org Regional Partner can help guide your school or district on implementation, certification, funding, and more, and provides high quality Code.org professional learning to teachers.</p>

<a href="#getstarted"><button>Contact my Regional Partner</button></a>
</div>

<div class="col-40" style="padding-left: 20px">
  <a href="https://code.org/educate/regional-partner/partners" target="_blank"><img src="/images/administrators/rp-map.png" style="width: 85%; margin-top: 25px"></a>
  <figcaption style="text-align:left"><a href="https://code.org/educate/regional-partner/partners" target="_blank">View interactive map of Regional Partners</a></figcaption>
</div>

<div style="clear:both"></div>

<h3>Our program is effective in diverse districts</h3>
<p>The Code.org program has been proven effective in major urban school districts such as L.A. and Dallas and in small rural districts in Iowa. It is the leading K-12 CS curriculum in the U.S. Take a look at the case studies below to get a sense of how different districts bring CS to their students.</p>

<%= view :three_circles, circles: [
{img: '/images/fit-150/pair_students.jpg', text: 'Over 50k students in 3 years', subtext: 'Read Broward County\'s case study on how it increased computer science participation across the district.', link: 'https://docs.google.com/document/d/102y3-j0uZBqSnqWHTiTbo81LyDUX2sZITYF9aHnZ_yc/edit#heading=h.rf0l0zfkbqe4', link_text: 'Learn more'},
{img: '/images/fit-150/sotm34.jpg', text: '51% female students in intro course', subtext: 'See how graduation requirements affected diversity in Charles County\'s introductory computer science course.', link: 'https://docs.google.com/document/d/102y3-j0uZBqSnqWHTiTbo81LyDUX2sZITYF9aHnZ_yc/edit#heading=h.8xs8zt2iloy0', link_text: 'Learn more'},
{img: '/images/fit-150/pd1.jpg', text: 'Professional learning for all', subtext: 'Read how Eufaula City Schools, AL increased access to computer science to all students in their rural district.', link: 'https://docs.google.com/document/d/102y3-j0uZBqSnqWHTiTbo81LyDUX2sZITYF9aHnZ_yc/edit#heading=h.9ub4frvyuqiy', link_text: 'Learn more'}] %>

<br>

<a id="getstarted"></a>
<h2>How do I get started?</h2>
<p>The process for bringing computer science to your school or district will vary, but there are a few basic steps we recommend building into your implementation plan. Click each point below to expand into more detail.</p>

<details style="margin-left: 20px; margin-bottom: 10px">
  <summary><strong>Explore curriculum and course options</strong></summary>
  <p>
  <br>
The <a href="https://studio.code.org/courses?view=teacher" target="_blank">Code.org curriculum</a> is the most popular in K-12 computer science, with courses for every grade band. It's free of charge, and is also the highest-rated by teachers. If you want to consider alternatives to the Code.org courses, take a look at our recommendations of <a href="https://code.org/educate/curriculum/3rd-party" target="_blank">3rd party computer science curriculum</a>, and particularly our recommendations for <a href="https://code.org/educate/curriculum/apcsa" target="_blank">AP Computer Science A</a>.</p>
<br>
</details>

<details style="margin-left: 20px; margin-bottom: 10px">
  <summary><strong>Explore funding opportunities and plan for potential costs</strong></summary>
  <p>
  <br>
Code.org’s curriculum and platform will always be free to use, and we offer a number of scholarships and discounts for <a href="https://code.org/educate/professional-learning" target="_blank">professional development</a>. Be mindful of these and other costs, like computers and other classroom supplies, internet access, and administrative support, when you’re adding a new course.</p>
<br>
</details>

<details style="margin-left: 20px; margin-bottom: 10px">
  <summary><strong>Prepare teachers with professional development and determine any certification requirements</strong></summary>
  <p>
  <br>
We offer <a href="https://code.org/educate/professional-learning" target="_blank">professional development</a> for each of our three courses: CS Fundamentals, CS Discoveries, and CS Principles. Our workshops are designed for teachers new to computer science, and <a href="https://medium.com/@codeorg/when-teachers-succeed-students-succeed-how-code-org-pd-aligns-with-essa-59eac5148401" target="_blank">meet the six key criteria of the Every Student Succeeds Act (ESSA)</a>. More than 100,000 educators have taken our workshops, and more than 90% say they would recommend our program to another teacher!​</p>
<br>
​</details>

<details style="margin-left: 20px; margin-bottom: 10px">
  <summary><strong>Spread the word to students and parents</strong></summary>
  <p>
  <br>
Did you know the best way to encourage students to try CS is to tell them they’d be good at it? We’ve collected <a href="https://code.org/educate/resources/recruit" target="_blank">a number of other tips and resources</a> to help you get parents on board and students enrolled in your new CS course. These materials are all free to use.</p>
<br>
</details>

<br>

<p>You can learn more about these steps on our <a href="/roadmap" target="_blank">Roadmap for Administrators</a>. And your local Code.org Regional Partner can help you plan for each of these steps! Fill out the short form below to contact your local Regional Partner.</p>

<a id="contactrp"></a>
<%= view :professional_learning_regional_partner_mini_contact, source_page_id: "middle-high", notes: "Please tell me more about the professional learning program for grades 6-12!" %>

<br>

<a id="faqs"></a>
<h2>Frequently Asked Questions</h2>

<details>
	<summary style="font-size: 18px">What qualifications or certifications does a teacher need to teach computer science?</summary>
	<p>
	<br>
<p>The answer will vary by state - contact your Regional Partner for details specific to your state and district. You can also find an overview of state certification requirements <a href="https://docs.google.com/spreadsheets/d/1YtTVcpQXoZz0IchihwGOihaCNeqCz2HyLwaXYpyb2SQ/pubhtml#" target="_blank">here</a> (click on the “Certification” tab near the top).</p>
<br>
</details>

<br>

<details>
	<summary style="font-size: 18px">How much does it cost to offer computer science with Code.org?</summary>
	<p>
	<br>
<p>All Code.org course materials are free — now and forever. There may be a fee associated with professional development (varies by region), but <i>every</i> region offers scholarships and discounts that you may qualify for (<a href="https://code.org/educate/professional-learning" target="_blank">check here</a>). Other costs, like devices and other classroom supplies, internet access, and administrative support, will vary by region and class size. You can take a look at hardware and internet requirements for Code.org courses <a href="https://code.org/educate/it" target="_blank">here</a>.</p>
<br>
</details>

<br>

<details>
	<summary style="font-size: 18px">How can I pay for the professional development?</summary>
	<p>
	<br>
<p>Code.org offers a number of scholarships and discounts for teachers attending our professional development workshops. Other funding sources, like Perkins funds, may also be available to you. Contact your Regional Partner to learn more about the funding options available.</p>
<br>
</details>

<br>

<details>
	<summary style="font-size: 18px">Does Computer Science Principles count toward graduation?</summary>
	<p>
	<br>
<p><a href="https://docs.google.com/spreadsheets/d/1YtTVcpQXoZz0IchihwGOihaCNeqCz2HyLwaXYpyb2SQ/pubhtml#" target="_blank">Take a look here</a> to see if your state allows computer science courses to count toward graduation (click the “Count” tab near the top).</p>
<br>
</details>

<br>

<details>
	<summary style="font-size: 18px">How do I or my counselors recruit students to take the class?</summary>
	<p>
	<br>
<p>We have a number of suggestions and materials for encouraging students to take computer science. Find them all at <a href="https://code.org/educate/resources/recruit" target="_blank">code.org/recruit</a>.</p>
<br>
</details>

<br>

<details>
	<summary style="font-size: 18px">Can we teach it in separate blocks or years?</summary>
	<p>
	<br>
<p>The answer depends on the course.</p>
<p><a href="https://code.org/educate/csp" target="_blank">CS Principles</a> is designed to be taught as a full year course. It is possible to teach the course on a semester block schedule, though we highly recommend this implementation only be used in the fall semester. Since the AP Performance Tasks are due in late April and require 20 dedicated hours of class time to complete, most schools find there is not enough time to complete the course on a block schedule in the spring.</p>
<p><a href="https://code.org/educate/csd" target="_blank">CS Discoveries</a> consists of two semesters that build on each other. Schools can choose to teach a single semester, two sequential semesters, or a single, year-long course. Options are even available for less than one semester. See the <a href="https://docs.google.com/document/d/1mjfVL2JNFe2wkQirYvvIZiAVb0Z0gyVOND2pKjDKuL4/preview" target="_blank">CS Discoveries Guide to Implementation</a> for more details.</p>
<p><a href="https://code.org/educate/curriculum/elementary-school" target="_blank">CS Fundamentals</a> courses are flexibly designed for teachers new to CS who want to offer accessible and equitable introductory CS courses to their students. How you teach these courses is up to you - as part of your classroom schedule, weekly lab or library time, supporting lessons for math and language arts, or to make creative projects.</p>
<br>
</details>

<br>

<details>
	<summary style="font-size: 18px">Are Code.org’s courses aligned to any standards?</summary>
	<p>
	<br>
<p>Yes! Specifically, our courses were written using both the K-12 Framework for Computer Science and the 2017 CSTA standards. Additionally, CS Principles was written to AP standards. View standards alignment for each of our courses here: <a href="https://curriculum.code.org/csf-20/standards/" target="_blank">CSF</a>, <a href="https://studio.code.org/courses/csd-2021/standards/" target="_blank">CSD</a>, <a href="https://studio.code.org/courses/csp-2021/standards/" target="_blank">CSP</a>.</p>
<br>
</details>

<br>
<br>

<hr>

<p style="font-size:11px">“Human mind” icon made by <a href="https://smashicons.com/" title="Smashicons" target="_blank">Smashicons</a>, “Developer” icon made by <a href="https://www.flaticon.com/free-icon/developer_1508765?term=woman%20computer&page=2&position=60" title="mynamepong" target="_blank">mynamepong</a>, “Like” icon made by <a href="https://www.flaticon.com/authors/good-ware" title="Good Ware" target="_blank">Good Ware</a>. All icons sourced from <a href="https://www.flaticon.com/" title="Flaticon" target="_blank"> www.flaticon.com</a>.</p>

<!--
<details>
	<summary style="font-size: 18px">Are other schools in my district offering computer science?</summary>
	<p>
	<br>
<p>Use the map below to see the percentage of schools offering computer science in your district. You can filter by state and district, or simply hover over an area to view details.</p>
<br>

<div class='tableauPlaceholder' id='viz1605032486293' style='position: relative'>
  <noscript>
    <a href='#'>
      <img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Di&#47;DistrictsthatTeachCSpublic&#47;DistrictMap&#47;1_rss.png' style='border: none' />
    </a>
  </noscript>
  <object class='tableauViz' style='display:none;' width='100%' height='827'>
    <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
    <param name='embed_code_version' value='3' />
    <param name='site_root' value='' />
    <param name='name' value='DistrictsthatTeachCSpublic&#47;DistrictMap' />
    <param name='tabs' value='no' />
    <param name='toolbar' value='yes' />
    <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Di&#47;DistrictsthatTeachCSpublic&#47;DistrictMap&#47;1.png' /> 
    <param name='animate_transition' value='yes' />
    <param name='display_static_image' value='yes' />
    <param name='display_spinner' value='yes' />
    <param name='display_overlay' value='yes' />
    <param name='display_count' value='yes' />
    <param name='language' value='en' />
  </object>
</div>
<script type='text/javascript'>                   
  var divElement = document.getElementById('viz1605032803545');                    
  var vizElement = divElement.getElementsByTagName('object')[0];                    
  if ( divElement.offsetWidth > 800 ) { vizElement.style.width='1000px';vizElement.style.height='827px';} else if ( divElement.offsetWidth > 500 ) { vizElement.style.width='1000px';vizElement.style.height='827px';} else { vizElement.style.width='100%';vizElement.style.height='727px';};                     
  var scriptElement = document.createElement('script');                    
  scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    
  vizElement.parentNode.insertBefore(scriptElement, vizElement);                
</script>
</details>

<br>
-->