---
title: Administrators
theme: responsive_full_width
---

%link{href: "/css/generated/design-system-pegasus.css", rel: "stylesheet"}
%link{href: "/css/generated/page/admins-styles.css", rel: "stylesheet"}

%section.top
  .wrapper
    .text-wrapper.col-50
      %h1=hoc_s(:admins_page_top_heading)
      %p.heading-xs
        =hoc_s(:admins_page_top_subhead)
      %p.body-three
        =hoc_s(:admins_page_top_desc)
      %a.link-button{href: "/districts"}
        =hoc_s(:call_to_action_discover_district_program)
    %figure.col-45{style: "float: right; margin-top: 1.25rem;"}
      %img.rounded-corners.box-shadow-primary{src: "/images/admins-page-top.png", alt: "", style: "position: relative; width: 100%;"}
    .clear

= view :section_divider_line

%section.why-teach-cs
  .wrapper
    %h2.centered
      =hoc_s(:teach_page_why_teach_cs_heading)
    .editorial-cards-wrapper-2x2
      .flex-container
        %figure
          %img{src: "/images/admins-page-pathways.png", alt: ""}
        .text-wrapper
          %h3.heading-sm
            =hoc_s(:admins_page_elevate_title_01)
          %p=hoc_s(:admins_page_elevate_desc_01)
      .flex-container
        %figure
          %img{src: "/images/admins-page-superhero.png", alt: ""}
        .text-wrapper
          %h3.heading-sm
            =hoc_s(:admins_page_elevate_title_02)
          %p=hoc_s(:admins_page_elevate_desc_02)
      .flex-container
        %figure
          %img{src: "/images/admins-page-standards.png", alt: ""}
        .text-wrapper
          %h3.heading-sm
            =hoc_s(:admins_page_elevate_title_03)
          %p=hoc_s(:admins_page_elevate_desc_03)
      .flex-container
        %figure
          %img{src: "/images/admins-page-curriculum.png", alt: ""}
        .text-wrapper
          %h3.heading-sm
            =hoc_s(:admins_page_elevate_title_04)
          %p=hoc_s(:admins_page_elevate_desc_04)

%section.bg-pattern-dark
  .wrapper.centered
    %h2{style: "color: var(--neutral_white)"}
      =hoc_s(:admins_page_district_program_header)
    %p{style: "color: var(--neutral_white)"}
      =hoc_s(:admins_page_district_program_desc)
    .button-wrapper.centered
      %a.link-button{href: "/districts"}
        =hoc_s(:call_to_action_discover_district_program)
      -# TODO - show this once the distrcit partners page is live
      -# %a.link-button.secondary.white{href: "/districts"}
      -#   =hoc_s(:call_to_action_see_district_partners)

%section.driving-change.bg-neutral-light
  .wrapper
    %h2.centered
      =hoc_s(:admins_page_driving_change_heading)
    %p.centered{style: "margin-bottom: 3rem"}
      =hoc_s(:admins_page_driving_change_desc)
    .flex-container.justify-space-between.wrap.gap-2
      .stat-box
        %p.heading-xxl.no-margin-bottom 200%
        %p.heading-sm
          =hoc_s(:admins_page_driving_change_stat_desc_01)
        %p=hoc_s(:admins_page_driving_change_desc_01)
        %p.body-three.location Broward County <span>•</span> Florida
        %a.link-button.has-external-link{href: "", target: "_blank", rel: "noopener noreferrer"}
          =hoc_s(:call_to_action_read_full_story)
      .stat-box
        %p.heading-xxl.no-margin-bottom 150+
        %p.heading-sm
          =hoc_s(:admins_page_driving_change_stat_desc_02)
        %p=hoc_s(:admins_page_driving_change_desc_02)
        %p.body-three.location Charles County <span>•</span> Maryland
        %a.link-button.has-external-link{href: "", target: "_blank", rel: "noopener noreferrer"}
          =hoc_s(:call_to_action_read_full_story)

%section.pathways.bg-neutral-dark
  .wrapper
    %h2.centered{style: "color: var(--neutral_white)"}
      =hoc_s(:admins_page_pathway_heading)
    %p.centered{style: "color: var(--neutral_white); margin-bottom: 3rem"}
      =hoc_s(:admins_page_pathway_desc)
    PATHWAY GRID HERE
    %hr.light
    %div.centered
      %h3{style: "color: var(--neutral_white)"}
        =hoc_s(:teach_page_free_curriculum_heading_02)
      .button-wrapper.centered
        %a.link-button{href: "/educate/curriculum/elementary-school"}
          =hoc_s(:grade_level_label_elementary)
        %a.link-button{href: "/educate/curriculum/middle-school"}
          =hoc_s(:grade_level_label_middle)
        %a.link-button{href: "/educate/curriculum/high-school"}
          =hoc_s(:grade_level_label_high)

%section.admins-pl
  .wrapper
    %h2=hoc_s(:admins_page_pl_heading)
    %p=hoc_s(:admins_page_pl_desc)
    %div.content-wrapper.flex-container.justify-space-between.wrap-reverse.gap-2
      = view :"administrators/admins_pl"
      %figure.rounded-corners.col-33
    .clear
    %a.link-button{href: "/educate/professional-learning"}
      =hoc_s(:call_to_action_learn_about_pl)






