---
title: How Blockchain Works
theme: responsive_full_width
---

%link{href: "shared/css/design-system-pegasus.css", rel: "stylesheet"}
%link{href: "/css/generated/blockchain-styles.css", rel: "stylesheet"}

%section.hero-banner-basic.bg-neutral-dark{style: "display: block !important"}
  .wrapper
    .text-wrapper.col-60
      %h1{style: "color: white"} How Blockchain Works
      %p{style: "color: white"} Dive into the world of blockchain with “How Blockchain Works,” our new video series and accompanying lessons!
    %figure.col-33{style: "float: right"}
      %img{src: "shared/images/banners/blockchain-laptop-silver.png", alt: "", style: "position: relative; width: 100%;"}
    .clear

%section
  .wrapper
    %h2 See how blockchain works
    %p The video series, made in partnership with Coinbase, aims to demystify this technology. We believe understanding the technology behind blockchain will be crucial for the next generation of computer scientists.
    %div.col-50{style: "margin-bottom: 1em"}
      %p <strong>This series will:</strong>
      %ul
        %li Explain what blockchain is
        %li Explore why it's important
        %li Unpack its societal impacts — both good and bad
    %figure.col-45{style: "float:right; margin-top: 1.5em"}
      %img{src: "/images/blockchain-works-logo.png", alt: "", style: "width: 100%"}
    .clear
    .video-series
      %figure.video-responsive{style: "max-width: unset"}
        %div
          %iframe{src: "https://www.youtube-nocookie.com/embed/B8w9FHh6nUk", allowFullScreen: "true", frameborder: "0"}
      %figure.video-responsive{style: "max-width: unset"}
        %div
          %iframe{src: "https://www.youtube-nocookie.com/embed/B8w9FHh6nUk", allowFullScreen: "true", frameborder: "0"}
      %figure.video-responsive{style: "max-width: unset"}
        %div
          %iframe{src: "https://www.youtube-nocookie.com/embed/B8w9FHh6nUk", allowFullScreen: "true", frameborder: "0"}
      %figure.video-responsive{style: "max-width: unset"}
        %div
          %iframe{src: "https://www.youtube-nocookie.com/embed/B8w9FHh6nUk", allowFullScreen: "true", frameborder: "0"}
      %figure.video-responsive{style: "max-width: unset"}
        %div
          %iframe{src: "https://www.youtube-nocookie.com/embed/B8w9FHh6nUk", allowFullScreen: "true", frameborder: "0"}
      %figure.video-responsive{style: "max-width: unset"}
        %div
          %iframe{src: "https://www.youtube-nocookie.com/embed/B8w9FHh6nUk", allowFullScreen: "true", frameborder: "0"}
      %figure.video-responsive{style: "max-width: unset"}
        %div
          %iframe{src: "https://www.youtube-nocookie.com/embed/B8w9FHh6nUk", allowFullScreen: "true", frameborder: "0"}

%div.divider.no-margin-bottom
  %hr

%section.blockchain-lessons
  .wrapper
    %h2 Blockchain lessons for your class
    %p Bring blockchain to life in your classroom with lessons that correspond with the above videos! Each lesson is 45 minutes and can stand alone or as part of a "How Blockchain Works" series.
    .action-block__wrapper.action-block__wrapper--three-col
      .action-block.action-block--one-col
        %p.overline Grade 7-12
        %h3 Blockchain Overview
        %img{src: "/images/blockchain-lesson-01.png", alt: ""}
        %p{style: "height: 105px"} Students participate in a simulation of a marketplace to learn about the factors that motivated the creation of Blockchain technology
        %a{href: CDO.studio_url("/pd/application/teacher") , class: "link-button", target: "_blank", rel: "noopener noreferrer"} See lesson details
      .action-block.action-block--one-col
        %p.overline Intermediate
        %h3 Applied Blockchain & Bitcoin
        %img{src: "/images/blockchain-lesson-02.png", alt: ""}
        %p{style: "height: 75px"} Students learn how transactions work on a blockchain network, just like bitcoin
        %a{href: CDO.studio_url("/pd/application/teacher"), class: "link-button", target: "_blank", rel: "noopener noreferrer"} See lesson details
      .action-block.action-block--one-col
        %p.overline Intermediate
        %h3 Beyond Currencies
        %img{src: "/images/blockchain-lesson-03.png", alt: ""}
        %p{style: "height: 105px"} Students see how digital assets can be represented on the blockchain using an input, processing, storage, output model
        %a{href: CDO.studio_url("/pd/application/teacher"), class: "link-button", target: "_blank", rel: "noopener noreferrer"} See lesson details
      .action-block.action-block--one-col
        %p.overline Intermediate
        %h3 Value on the Blockchain
        %img{src: "/images/blockchain-lesson-04.png", alt: ""}
        %p{style: "height: 105px"} Students participate in a simulation where they can buy and sell different cryptocurrencies and commodities, and see how their investments change based on world events
        %a{href: CDO.studio_url("/pd/application/teacher"), class: "link-button", target: "_blank", rel: "noopener noreferrer"} See lesson details
      .action-block.action-block--one-col
        %p.overline Intermediate
        %h3 Societal Impact
        %img{src: "/images/blockchain-lesson-05.png", alt: ""}
        %p{style: "height: 105px"} Students explore current events related to blockchain and cryptocurrency and discuss the impacts of blockchain technology.
        %a{href: CDO.studio_url("/pd/application/teacher"), class: "link-button", target: "_blank", rel: "noopener noreferrer"} See lesson details

%div.divider.no-margin-bottom
  %hr

%section
  .wrapper
    %h2 Additional resources
    %p Interested in learning more about blockchain? Here are some additional resources that can help extend your students' learning.
    .action-block__wrapper.action-block__wrapper--three-col
      .action-block.action-block--one-col
        %h3 Coinbase Learn
        -# %img{src: "/images/marketing/fill-400x250/AFE-El-Paso-4.jpg", alt: ""}
        %p{style: "height: 120px"} Crypto questions answered, beginner guides, practical tips, and market updates for first-timers, experienced investors, and everyone in between.
        %a{href: "https://www.coinbase.com/learn", class: "link-button", target: "_blank", rel: "noopener noreferrer"} Learn more
      .action-block.action-block--one-col
        %h3 Whiteboard Crypto
        -# %img{src: "/images/marketing/fill-400x250/AFE-El-Paso-4.jpg", alt: ""}
        %p{style: "height: 120px"} Watch videos from Whiteboard Crypto’s YouTube channel to learn even more about blockchain technology.
        %a{href: "https://www.coinbase.com/learn", class: "link-button", target: "_blank", rel: "noopener noreferrer"} Watch now
      .action-block.action-block--one-col
        %h3 Hour of Code Activity
        -# %img{src: "/images/marketing/fill-400x250/AFE-El-Paso-4.jpg", alt: ""}
        %p{style: "height: 120px"} Try a crypto memory game created by Coinbase.
        %a{href: "https://coinbase.github.io/memorygame/story.html", class: "link-button", target: "_blank", rel: "noopener noreferrer"} See activity
