---
theme: none
view: none
---

<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
:css
  .ui-accordion .ui-accordion-content {
    padding: 0px;
  }

%link{href: '/css/bootstrap.min.css', rel: 'stylesheet', type: 'text/css'}

.div{style: "width:1024px; height:768px; background-color:#ddd"}
  .div{style: "width:100%; background-color:darkcyan; height:50px; margin-bottom:20px"}
  .div{style: "float:left; width:40%"}
    .div{style: "float:left; width: 360px"}
      %img{src: "images/mockup_birds.png", width:"100%"}
    %br/

    .div{style: "float:left; width: 360px; height:330px; overflow-y: scroll"}
      .div{style: "height:1400px"}
        #accordion
          %h3 Actions
          %div
            %img{src: "images/mockup_blocks.png", width:"100%"}
            %img{src: "images/mockup_blocks.png", width:"100%"}
          %h3 Functions
          %div
            %img{src: "images/mockup_blocks.png", width:"100%"}
          %h3 Logic
          %div
            %img{src: "images/mockup_blocks.png", width:"100%"}
            %img{src: "images/mockup_blocks.png", width:"100%"}

  .div{style: "float:left; width: 500px; height: 700px; overflow-y: scroll"}
    .div{style: "width:100%; background-color:darkgrey; height:50px; margin-bottom:20px; color:white; padding:5px"}
      Run | Reset | Help
    .div{style: "height: 1400px; width: 500px"}
      %img{src: "images/mockup_program.png", width:"100%"}
      %img{src: "images/mockup_program.png", width:"100%"}
      %img{src: "images/mockup_program.png", width:"100%"}
      %img{src: "images/mockup_program.png", width:"100%"}
      %img{src: "images/mockup_program.png", width:"100%"}
      %img{src: "images/mockup_program.png", width:"100%"}
      %img{src: "images/mockup_program.png", width:"100%"}
    
:javascript
  $(function() {
    $( "#accordion" ).accordion({
      heightStyle: "content"
    });
  });
