---
Title: Print Certificates
---
-personalized = (request.site == 'uk.code.org') ? 'personalised' : 'personalized'

-course = request.params['course'] || nil
-courseName = course == "20hours" ? "K-8 Intro to Computer Science Course" : "Hour of Code"
-smallCertificateImageUrl = course == "20hours" ? "/images/fit-240/20hours_certificate.jpg" : "/images/fit-240/hour_of_code_certificate.jpg"

%h1 Print a batch of certificates
%div.clear
  %div{:style=>"float: left; margin: 0 40px 0 0;"}<
    %img{:src=>smallCertificateImageUrl}
  %p{:style=>"float: left; width: 360px; margin-top: 20px;"}<
    Enter up to 30 names, <strong>one per line</strong>. A printable page with #{personalized} #{courseName} certificates will be generated.
%form{:method=>"post", :action=>'/printcertificates'}
  -if course
    %input{:type=>"hidden", :name=>'course', :value=>course}
  %textarea{:name=>'names', :rows=>"10", :cols=>"80"}
    -if request.params['names']
      - request.params['names'].each do |name|
        =CGI::unescape(name)
        ="&#x000A;"
  %br
  %br
  %p It is recommended that you choose <strong>Landscape</strong> when you print the certificates.
  %br
  %input{:type=>"submit", :value=>"Submit"}
