---
title: Join the Band Dance Party
theme: responsive
style_min: true
social:
  "og:title": "Join the Band Dance Party"
  "og:description": "Win tickets to see Band!"
  "og:image:width": '1920'
  "og:image:height": '1080'
  "twitter:card": "photo"
  "twitter:site": "@codeorg"
  "twitter:url": "https://code.org/band"
  "twitter:title": "Join the Band Dance Party"
  "twitter:description": "Win tickets to see Band!"
---

<%
  share_image = (DCDO.get('hoc_mode', CDO.default_hoc_mode) == 'soon-hoc') ? 'hoc-student-challenge.jpg' : 'celeb-challenge.jpg'
  @header["social"]["og:image"] = 'https://' + request.host + '/images/fit-1920/social-media/' + share_image
  @header["social"]["twitter:image:src"] = 'https://' + request.host + '/images/fit-1920/social-media/' + share_image
%>

# Join the Band Dance Party!

### Use Dance Party to create choreography for Band's song, "Song," and you could win tickets to see Band in concert or a classroom chat with the band!

## How to create your entry
<ol>
<li>Open <a href="https://studio.code.org/s/dance-2019/lessons/1/levels/1">Dance Party</a></li>
<li>Select song: Band - Song</li>
<li><a href="https://studio.code.org/s/dance-2019/lessons/1/levels/5">Set background effect</a>: Song</li>
<li>Use code to create an out-of-this-world dance party!</li>
<li>Get your project link to share by clicking "Finish" to receive a share link to post. You can also take a video of you or your students demo-ing their choreography and share that!</li>
</ol>
<em>Students under 13 must have parent or guardian permission to post on social media. Teachers must have parental permission to post videos of students.</em>


## How to enter
Entries in Costa Rica, the Dominican Republic, Mexico, and the United States must be posted or submitted by March 4, 2022, to be eligible to win. Entries in Europe and South America must be posted or submitted by June 10, 2022, to be eligible to win.
<p>
There are two ways to enter:
<p>
Post on social media:
<a href="#howtowin"><img src="/images/marketing/entry_graphic.png" style="max-width: 100%"></a>
<em>If you post to social media, make sure to follow Code.org so we can message you. Students under 13 must have parent or guardian permission to post on social media. Teachers must have parental permission to post videos of students.</em>
<p>
Submit your entry:
You can also submit <a href="https://docs.google.com/forms/d/e/1FAIpQLScEEkMIZfMiXtceBndz0cRbPVzLxbR2XcwmxY7qqSH6nP_0cA/viewform?usp=sf_link">via this form</a>. Please include your name, age, tour city, the URL of your Dance Party creation, AND (if applicable) the link to your social media post OR video.


## How to win tickets

Be creative and make "Song" choreography that really wows! Our panel will consider entries that show skill, as well as entries that get lots of likes/comments/favorites on social media.
<p>
<em>If you post to social media, make sure to follow Code.org so we can message you. Students under 13 must have parent or guardian permission to post on social media. Teachers must have parental permission to post videos of students.</em>

## How to win the classroom chat

Teachers or students: Do this activity with your classroom and enter as one to be eligible to win the classroom chat with Band. Submit your entry (see above), and if you are selected, we will work with you to set up a time when the band can call into your class for a 10-15 minute video chat.<p>

## How do I increase my chances of winning?
Code.org will select winners from the posted Dance Party projects on social media and submitted via the entry form. Increase your chances to win with photos or videos of yourself or your class.

The posts that have the most cool stuff will have a great chance of being selected, so include a link to the choreography you made with Dance Party, and/or a video of you dancing along with your creation. Have fun!

Posts with more likes, shares, and retweets will also have a higher likelihood of winning. 

And since you can post as many entries as you want, across Facebook, Twitter, Instagram, and Tiktok, feel free to make multiple posts to increase your chances. The idea isn't to spam the internet and annoy your friends, it's to celebrate computer science. So please try to make the content you post worthwhile for all of us.

## How do you get the project link to share?
When you're done with any of our activities, click "Finish" on the last level, and you'll receive a share link. You can also take a video of you or your students demo-ing their project and share that.

[col-50]

<img src="/images/fill-420x345/share-button.png">

[/col-50]

[col-50]

<%=view :display_video_thumbnail, id: "intro_csp", video_code: "mUl9Xn8efSE", play_button: 'center', letterbox: 'false' %>

[/col-50]

<div style="clear: both"></div>

## How will the chat work if we win?
We'll work with you to set up a time when the band can call into your class for a 10-15 minute video chat.

## More questions?
Email band@code.org.

# Terms and conditions

This challenge is open to classrooms, after-school clubs, and individual students, starting from February 17, 2022, until 5 p.m. on Friday, March 4.

You can submit and post as many times as you like.

Code.org can use your entry in marketing and promotional materials.

Code.org is not responsible for rescheduled or cancelled concerts.

Post on social media at your own risk and discretion.

