---
title: Join the Band Dance Party
theme: responsive
style_min: true
social:
  "og:title": "Join the Band Dance Party"
  "og:description": "Win tickets to see Band!"
  "og:image:width": '1920'
  "og:image:height": '1080'
  "twitter:card": "photo"
  "twitter:site": "@codeorg"
  "twitter:url": "https://code.org/band"
  "twitter:title": "Join the Band Dance Party"
  "twitter:description": "Win tickets to see Band!"
---

<%
  share_image = (DCDO.get('hoc_mode', CDO.default_hoc_mode) == 'soon-hoc') ? 'hoc-student-challenge.jpg' : 'celeb-challenge.jpg'
  @header["social"]["og:image"] = 'https://' + request.host + '/images/fit-1920/social-media/' + share_image
  @header["social"]["twitter:image:src"] = 'https://' + request.host + '/images/fit-1920/social-media/' + share_image
%>

# Join the Band Dance Party!

Coldplay and Code.org believe in the “Higher Power” of computer science education for every student, in every classroom around the world. That’s why we’re teaming up to get students everywhere to code and dance — let’s celebrate the magic of computer science and music! 

Join the party by using Code.org’s Dance Party activity to code your own choreography to Coldplay’s “Higher Power.” Get creative with classic moves, and have fun with a few new visuals and dancer formations!

Post or submit your creations for Coldplay and Code.org to see, and we’ll share the best ones on social media. Plus, you’ll get a chance to win tickets to see Coldplay on tour, or a chance for your classroom to video chat with the band.

We can’t wait to see and share what you create! 



## How to create your entry
<ol>
<li>Start <a href="https://code.org/dance">Dance Party</a></li>
<li>Learn to code your own dance in a short 10-step tutorial</li>
<li>On the final level, code an awesome dance to Coldplay’s song, “Higher Power.” (Don’t forget to try out the special “Higher Power” background effect!)</li>
<li>Click “Finish” to get a share link to your project.</li>
<li>For extra fun, make a video of yourself dancing along with your code!</li>
</ol>

## How to enter
Entries in Costa Rica, the Dominican Republic, Mexico, and the United States must be posted or submitted by March 4, 2022, to be eligible to win. Entries in Europe and South America must be posted or submitted by June 10, 2022, to be eligible to win.
<p>
There are two ways to enter:
<p>
### Post on social media:
<a href="#howtowin"><img src="/images/marketing/entry_graphic.png" style="max-width: 75%"></a>
<p>
<em>If you post to social media, make sure to follow Code.org so we can message you. In most countries, use of social media is not permitted for underage students. Do not post videos or photos of students without the permission of a parent or guardian.
</em>
<p>
### Submit your entry via form:
You can also submit <a href="https://docs.google.com/forms/d/e/1FAIpQLScEEkMIZfMiXtceBndz0cRbPVzLxbR2XcwmxY7qqSH6nP_0cA/viewform?usp=sf_link">via this form</a>. Please include your name, age, tour city, the URL of your Dance Party creation, AND (if applicable) the link to your social media post OR video.


## How to win tickets

Be creative and make "Song" choreography that really wows! Our panel will consider entries that show skill, as well as entries that get lots of likes/comments/favorites on social media.
<p>
<em>If you post to social media, make sure to follow Code.org so we can message you. Students under 13 must have parent or guardian permission to post on social media. Teachers must have parental permission to post videos of students.</em>

## How to win the classroom chat

Teachers or students: Do this activity with your classroom and enter as one to be eligible to win the classroom chat with Band. Submit your entry (see above), and if you are selected, we will work with you to set up a time when the band can call into your class for a 10-15 minute video chat.<p>

## How do I increase my chances of winning?
Code.org will select winners from the posted Dance Party projects on social media and submitted via the entry form. Increase your chances to win with photos or videos of yourself or your class.

The posts that have the most cool stuff will have a great chance of being selected, so include a link to the choreography you made with Dance Party, and/or a video of you dancing along with your creation. Have fun!

Posts with more likes, shares, and retweets will also have a higher likelihood of winning. 

And since you can post as many entries as you want, across Facebook, Twitter, Instagram, and Tiktok, feel free to make multiple posts to increase your chances. The idea isn't to spam the internet and annoy your friends, it's to celebrate computer science. So please try to make the content you post worthwhile for all of us.

## How do you get the project link to share?
When you're done with any of our activities, click "Finish" on the last level, and you'll receive a share link. You can also take a video of you or your students demo-ing their project and share that.

[col-50]

<img src="/images/fill-420x345/share-button.png">

[/col-50]

[col-50]

<%=view :display_video_thumbnail, id: "intro_csp", video_code: "mUl9Xn8efSE", play_button: 'center', letterbox: 'false' %>

[/col-50]

<div style="clear: both"></div>

## How will the chat work if we win?
We'll work with you to set up a time when the band can call into your class for a 10-15 minute video chat.

## More questions?
Email band@code.org.

# Terms and conditions
This competition is open to individuals and classrooms starting from February 17, 2022, until 5 p.m. on Friday, March 4, 2022 for entrants in Costa Rica, the Dominican Republic, Mexico, and the United States, and until June 10, 2022, for entrants in Europe and South America. 

The promoter is Code.org, whose registered office is at 1501 4th Ave, Seattle, WA 98101.

The competition is open to anyone except employees of Code.org and their close relatives and anyone otherwise connected with the organisation or judging of the competition.

There is no entry fee and no purchase necessary to enter this competition.

By entering this competition, an entrant is indicating his/her agreement to be bound by these terms and conditions.

Route to entry for the competition and details of how to enter are via https://code.org/codeplay. Entering the competition is possible via form submission at https://code.org/codeplay, as well as by posting using the #codeplay on Facebook, Twitter, Instagram, and Tiktok. Post on social media at your own risk and discretion.

Entries in Costa Rica, the Dominican Republic, Mexico, and the United States must be posted or submitted by March 4, 2022, to be eligible to win. Entries in Europe and South America must be posted or submitted by June 10, 2022, to be eligible to win. After these dates, no further entries to the competition will be permitted.

No responsibility can be accepted for entries not received for whatever reason.

The rules of the competition and how to enter are as follows:
1. Use the Code.org activity, Dance Party, to create choreography for the Band song, "Song"<br>
2a. Follow Code.org on social media and share your creation on social media, along with your preferred concert city and #codeplay<br>
2b. Or submit your entry via the form at https://code.org/codeplay 

The promoter reserves the right to cancel or amend the competition and these terms and conditions without notice in the event of a catastrophe, war, civil or military disturbance, act of God or any actual or anticipated breach of any applicable law or regulation or any other event outside of the promoter’s control. Any changes to the competition will be notified to entrants as soon as possible by the promoter. Code.org is not responsible for rescheduled or cancelled concerts. 


The promoter is not responsible for inaccurate prize details supplied to any entrant by any third party connected with this competition.

The prize is as follows:
- Two winners in each city on the tour will receive two tickets to the concert
- One or more classrooms will receive a video call with Band at a to-be-determined date

The prize is as stated and no cash or other alternatives will be offered. The prizes are not transferable. Prizes are subject to availability and we reserve the right to substitute any prize with another of equivalent value without giving notice.

In most countries, use of social media is not permitted for underage students. Do not post videos or photos of students without the permission of a parent or guardian.

Code.org will judge the competition and decide on the ticket winners from each city, as well as the winning classrooms for the class chat. Code.org‘s decision as to those able to take part and selection of winners is final. No correspondence relating to the competition will be entered into.

The winner will be notified by email and/or DM on social media and/or letter. The winner will only ever be contacted by an employee of Code.org. If the winner cannot be contacted or does not claim the prize within 7 days of notification, we reserve the right to withdraw the prize from the winner and pick a replacement winner. 

The promoter will notify the winner when and where the prize can be collected.

The promoter’s decision in respect of all matters to do with the competition will be final and no correspondence will be entered into.

By entering this competition, an entrant is indicating his/her agreement to be bound by these terms and conditions.

The competition and these terms and conditions will be governed by U.S. law and any disputes will be subject to the exclusive jurisdiction of the courts of the United States.

The winner agrees to the use of his/her name, image, Dance Party creation, and social media entry post in any publicity material. Any personal data relating to the winner or any other entrants will be used solely in accordance with current U.S. data protection legislation and will not be disclosed to a third party without the entrant’s prior consent.

The winner’s name will be available 28 days after closing date by emailing the following address: band@code.org 

Entry into the competition will be deemed as acceptance of these terms and conditions.

This promotion is in no way sponsored, endorsed or administered by, or associated with, Facebook, Twitter, Instagram, Tiktok, or any social network. You are providing your information to Code.org and not to any other party. The information provided will be used in conjunction with the following Privacy Policy found at https://code.org/privacy. 

Code.org shall have the right, at its sole discretion and at any time, to change or modify these terms and conditions, such change shall be effective immediately upon posting to this webpage.

Code.org also reserves the right to cancel the competition if circumstances arise outside of its control.

