---
title: The Circuit Playground
video_player: true
theme: responsive
---

# The Circuit Playground

<div class="col-33">
<center><img src="/images/animated-examples/circuitplayground.gif" style="width: 250px"></center>
</div>

<div class="col-66" style="margin-top: 50px;">

The Circuit Playground is family of small microcontroller boards with LEDs, buttons, and sensors built in. Designed specifically for novice programmers, the Circuit Playground enables students to get up and running quickly with physical computing without worrying about many of the traditional barriers to entry. Developed by our friends at <a href="//adafruit.com">Adafruit</a>, the Circuit Playground is the core tool used in Unit 6, Physical Computing in <a href="//studio.code.org/courses/csd">CS Discoveries</a>.

</div>

<div style="clear:both;"></div>

<div class="col-50", style="margin-top:20px">

<h2><a name="how"></a>Programming with the Circuit Playground</h2>

Code.org has developed a special set of commands for <a href="/applab/">App Lab</a>, our block-to-text app development environment, called the Maker Toolkit. Using App Lab and the Maker Toolkit, students can quickly build apps that communicate with external hardware using the same language and environment they've already become comfortable with.

</div>

<div class="col-50">
<center><img src="/images/cp_sensors_all.png" style="width: 300px; margin-top:30px"></center>

</div>

<div style="clear:both;"></div>


## <a name="requirements"></a>Software Requirements

One of our primary goals in integrating the Circuit Playground into CS Discoveries is to reduce the barriers that teachers often encounter attempting to teach physical computing. To that end, we've developed a system that requires only minimal software installation and wide platform compatibility. If using Chromebooks, we've provided a browser extension to install. For all other platforms, we've created a standalone app that allows the programming tools on our website to communicate with the Circuit Playground over USB. Visit the [Maker Toolkit setup page](//studio.code.org/maker/setup) for more details on how to get your computers set up.

### <a name="difference"></a>What’s the difference between App Lab, Circuit Playground, and Maker Toolkit?

**App Lab** is a web-based programming environment for building apps using Javascript with either blocks or text. App Lab features prominently in both CS Principles and CS Discoveries

The **Circuit Playground** is a series of circuit boards produced by Adafruit with a variety of sensors and ouputs built in. There are two variants of the Circuit Playground, both compatible with CS Discoveries:

* The Circuit Playground Classic - the first version of this board which can be programmed with either Maker Toolkit or the Arduino IDE
* The Circuit Playground Express - the newer version of this board which can be programmed with the Maker Toolkit, Microsoft Makecode, Scratch 3.0, Circuit Python, and more .

_Wondering which version you have? Check out [Adafruit's guide](https://learn.adafruit.com/introducing-circuit-playground/classic-vs-express)._

The **Maker Toolkit** is an additional set of commands in App Lab that allow you to communicate with and control a Circuit Playground plugged into USB. You can enable the Maker Toolkit in any App Lab project by clicking the settings gear above the toolbox and selecting "Enable Maker Toolkit."

The **Maker App** is a standalone app that allows the Circuit Playground to communicate with the App Lab and the Maker Toolkit.

## <a name="classroom"></a>Getting Circuit Playgrounds for your Classroom

<div class="col-66", style="margin-top:15px">

<p>Code.org has partnered with Adafruit to create a <a href="//www.adafruit.com/product/3399", target="_blank">classroom kit</a> of Circuit Playground boards and accessories necessary for implementing CS Discoveries Unit 6, Physical Computing. The kit contains 15 Circuit Playground boards, 15 Micro USB cables to connect the board to a computer, and a few other accessories. The curriculum is designed for a 2:1 student to board ratio, so a single classroom kit supports a classroom of 30 students.</p>
 
<p>For smaller classrooms, we recommend investing in a set of <a href="https://www.adafruit.com/product/3795", target=_"blank">Circuit Playground Individual Kits</a>. The individual kit is designed for a single student or share-pair and costs $29.96.</p>

 </div>

 <div class="col-33">
 <img src="/images/cp_class_pack.jpg" style="max-width: 90%; margin: 0 0 20px 20px;">
 </div>


### Budgeting for the Circuit Playground Educator Pack

The full cost of the Circuit Playground Educator Pack is $350. All educators receive a 10% discount when they apply the code **ADAEDU** at checkout, which reduces the price of the kit to approximately $315. *Note: The ADAEDU code only applies to orders of $250 or greater.* 

Many teachers are able to request funding from their school's technology budget to cover the full cost. 

However, we understand that the expense of the hardware can be a barrier to implementing the full course, especially in low-income schools. Code.org is able to fully subsidize a limited number of classroom kits for teachers in the CS Discoveries Professional Learning Program who are unable to secure funding. Please read below for the full eligiblility requirements for this subsidy.

### <a name="subsidy"></a> Subsidy program for Code.org Professional Learning Program participants

Subsidized Educator Packs were made available for teachers in the **2020-21 CS Discoveries Professional Learning Program** who received a scholarship to participate and are implementing the course in the 2020-21 school year. Additional information was shared with Regional Partners in January 2021.

If you participated in the 2019-20 CS Discoveries Professional Learning Program, implemented the full-year version of the course, and were not able to secure funding for the classroom kit locally, you may qualify for a subsidized Educator Pack. <a href="https://staging.code.org/circuitplayground-2019", target=_"blank">Click here</a> for more details. 


<!--

If you are a participant in the **2019-20 CS Discoveries Professional Learning Program**, are implementing the full-year version of the course, and are not able to secure funding for the classroom kit locally, we may be able to fully subsidize a single classroom kit for you. To qualify for a fully subsidized kit, you must meet **all** of the following requirements:

- Teach at a school with 50% or greater free/reduced price meals, according to data from the <a href="https://nces.ed.gov/", target=_"blank">National Center for Education Statistics</a>.
- Be a participant in the 2019-20 Code.org Professional Learning Program for CS Discoveries (i.e. attended a 5-day summer workshop for CS Discoveries), OR be a participant in the 2019-20 Facilitator development program as a novice CS Discoveries facilitator.
- Completed the first semester of the CS Discoveries course with at least one section of 10 or more students who have made measurable progress in Units 2 **and** 3 of CS Discoveries on Code.org. *Note: Content learned in Unit 3 is a prerequisite for Unit 6.*
- Committed to attending Academic Year Workshop 4, covering Unit 6 (for in-person Professional Learning Program participants) or the last two professional learning modules (for virtual Professional Learning Program participants).
- Will teach Unit 6 by the end of the **2020-21 school year**. 

In January 2020, teachers in the 2019-20 CS Discoveries Professional Learning Program received an email from us with more information about how to fill out a Unit 6 implementation plan and request a subsidy for the Adafruit Circuit Playground classroom kit on our website, if they are unable to secure funding and are otherwise qualified. 

Teachers should fill out their implementation plan in the semester they are teaching Unit 6. Our team will accept and review implementation plans from 2019-20 CS Discoveries Professional Learning Program participants through April 2021.

-->


