--- 
title: Circuit Playground Subsidy 2019-20
video_player: true
theme: responsive
---

## 2019-20 Subsidy Program: Circuit Playground Edcuator Pack

<div class="col-60">
<p>
If you are a participant in the <strong>2019-20 CS Discoveries Professional Learning Program</strong>, are implementing the full-year version of the course, and are not able to secure funding for the classroom kit locally, we may be able to fully subsidize a single classroom kit for you. To qualify for a fully subsidized kit, you must meet <b>all</b> of the following requirements:

 <ul>
  <li>Teach at a school with 50% or greater free/reduced price meals, according to data from the <a href="https://nces.ed.gov/", target=_"blank">National Center for Education Statistics</a>.</li>
  <li>Be a participant in the 2019-20 Code.org Professional Learning Program for CS Discoveries (i.e. attended a 5-day summer workshop for CS Discoveries), OR be a participant in the 2019-20 Facilitator development program as a novice CS Discoveries facilitator.</li>
  <li>Completed the first semester of the CS Discoveries course with at least one section of 10 or more students who have made measurable progress in Units 2 <strong>and</strong> 3 of CS Discoveries on Code.org. <i>Note: Content learned in Unit 3 is a prerequisite for Unit 6.</i></li>
  <li>Committed to attending Academic Year Workshop 4, covering Unit 6 (for in-person Professional Learning Program participants) or the last two professional learning modules (for virtual Professional Learning Program participants).</li>
  <li>Will teach Unit 6 by the end of the <b>2020-21 school year</b>. </li>
  
</ul>

</div>

<div class="col-40">
<img src="/images/cp_class_pack.jpg" style="max-width: 90%; margin: 0 0 20px 20px;">
</div>
 
<div style="clear: both;"></div>

In January 2020, teachers in the 2019-20 CS Discoveries Professional Learning Program received <a href="http://go.pardot.com/webmail/153401/606954305/f7e01395f2e5bb7f0cc319f4106346c043330c5b5b064af9cd862fed315c3da9", target=_"blank">this email</a> from us with more information about how to fill out a Unit 6 implementation plan and request a subsidy for the Adafruit Circuit Playground classroom kit on our website, if they are unable to secure funding and are otherwise qualified. 

Teachers should fill out their implementation plan in the semester they are teaching Unit 6. Our team will accept and review implementation plans from 2019-20 CS Discoveries Professional Learning Program participants through April 2021.