---
title: At Home Learning
theme: responsive
social:
  "og:title": "Code.org"
  "og:description": "Learn about free resources to support your students."
  "og:image": "http://code.org/images/teacherandstudents.jpg"
  "og:image:width": 850
  "og:image:height": 502
  "og:video": ""
  "og:video:width": ""
  "og:video:height": ""
  "og:video:type": ""
---
<h1>Placeholder Title</h1>

Do you know a teacher who loves learning? <a href="https://code.org/educate/professional-learning">Our workshops</a> will prepare teachers – even with no prior experience – to teach computer science (CS), to open opportunity for students. Code.org has prepared almost 100,000 educators to teach our courses, and they give our program rave reviews.

<br>

<h2>Get the latest tips and resources from Code.org</h2>

<iframe src="http://go.pardot.com/l/153401/2020-03-16/n7j6zc" width="100%" height="650" type="text/html" frameborder="0" allowTransparency="true" style="border: 100"></iframe>
