---
title: Take a Code Break
theme: responsive
social:
  "og:title": "Code.org Code Break"
  "og:description": "Learn CS with Hadi Partovi and the team at Code.org with a live weekly webcast and weekly challenges for students of all abilities"
  "og:image": "http://code.org/images/marketing/announcement_special2020.jpg"
  "og:image:width": 850
  "og:image:height": 502
  "og:video": ""
  "og:video:width": ""
  "og:video:height": ""
  "og:video:type": ""
---

<script>
// Set the date we're counting down to
// THIS CODE NEEDS TO CHANGE EACH WEEK
//var episode1 = new Date();
//episode1.setUTCFullYear(2020);
//episode1.setUTCMonth(3); // in javascript months start at 0
//episode1.setUTCDate(1);
//episode1.setUTCHours(16); // countdown until 9:58:00am PT, giving 2 min to launch zoom
//episode1.setUTCMinutes(58);
//episode1.setUTCSeconds(50);
//episode1.setUTCMilliseconds(0);

// SWAP THE //s IN THE LINE BELOW TO SWITCH FROM DEMO TO REAL
//var countDownDate = new Date(Date.now() + 10000).getTime(); // THIS IS FOR TESTING
//var countDownDate = episode1.getTime();  // THIS SETS THE REAL COUNTDOWN
//var countDownDate = new Date("Apr 1, 2020 09:58:00").getTime();
var countDownDate = new Date(Date.UTC(2020, 3, 1, 16, 58, 0)).getTime();
// Update the count down every 1 second
var x = setInterval(function() {

  // Get todays date and time
  var now = new Date().getTime();

  // Find the distance between now and the count down date
  var distance = countDownDate - now;

  // Time calculations for days, hours, minutes and seconds
  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);

  // Output the result in an element with id="demo"
//  document.getElementById("demo").innerHTML = days + " days | " + hours + " hours | " +
 //   minutes + " minutes | " + seconds + " seconds";
  document.getElementById("demo").innerHTML = "<span style='white-space: nowrap;'>" + days + " days | </span><span style='white-space: nowrap;'>" + hours + " hours |</span><span style='white-space: nowrap;'> " +
    minutes + " minutes |</span><span style='white-space: nowrap;'> " + seconds + " seconds</span>";
  // If the count down is over, write some text 
  if (distance < 0) {
    clearInterval(x);
    document.getElementById("demo").innerHTML = "<a href='https://codebreak.live/now'>Join the Code Break!</a>";
  }
}, 1000);
</script>

<h1>Stuck at Home? Take a Code Break!</h1>
<p>
<font color="00adbc"><b>Check back at this page right before the episode</b></font> for the link to participate: Wednesdays at 10am PT / 1pm ET, starting March 25. Recordings will also be available here after the episode has aired. 
</p>

<div style=" color:#00adbc; padding: 20px; ">
<p id="demo" class="countdown-live" style="text-align:center; font-size: 28px; font-weight: bold; line-height:1.2em; "></p>
</div>
<center>When the timer reaches zero, you will see the link to join the Code Break</center><br>
<h3><b>To prepare, download Zoom:</b></h3>
<ul>
<li><a href="https://zoom.us/download">Download</a> Zoom on your computer or smartphone in advance</li>
<li>Just before the episode, return here for the link join</li>
<li>Optional: pen + paper</li>
</ul>

<hr>
<h2>Past Episodes</h2>
Watch recordings of past episodes <a href="https://code.org/break#activities">here.</a><br><br>