---
title: Take a Code Break
theme: responsive
social:
  "og:title": "Code.org Code Break"
  "og:description": "Learn CS with Hadi Partovi and the team at Code.org with a live weekly webcast and weekly challenges for students of all abilities"
  "og:image": "http://code.org/images/marketing/announcement_special2020.jpg"
  "og:image:width": 850
  "og:image:height": 502
  "og:video": ""
  "og:video:width": ""
  "og:video:height": ""
  "og:video:type": ""
---

<p>
<font color="00adbc"><b>Check back at this page right before the episode</b></font> for the link to participate: Wednesdays at 10am PT / 1pm ET, starting March 25. Recordings will also be available here after the episode has aired.
</p>

<%= view :codebreak_counter %>

<center>When the timer reaches zero, you will see the link to join  Code Break</center><br>
<h3><b>To prepare, download Zoom:</b></h3>
<ul>
<li><a href="https://zoom.us/download">Download</a> Zoom on your computer or smartphone in advance</li>
<li>Just before the episode, return here for the link join</li>
<li>Optional: pen + paper</li>
</ul>

<hr>
<h2>Past Episodes</h2>
Watch recordings of past episodes <a href="https://code.org/break#activities">here.</a><br><br>
