---
title: College Board and Code.org alliance
theme: responsive
social:
  "og:title": "Code.org and College Board form alliance to improve diversity in computer science"
  "og:description": "New partnership provides instructional materials, training, and funding for school districts to expand computer science."
  "og:image": "http://code.org/images/student-tatiana.jpg"
  "og:image:width": 1200
  "og:image:height": 628
  "og:video": ""
  "og:video:width": ""
  "og:video:height": ""
  "og:video:type": ""
---

# College Board and Code.org announce a comprehensive effort to expand diversity in computer science


## New partnership provides instructional materials, training, and funding for school districts to expand access to Exploring Computer Science and AP® Computer Science Principles courses



<div style="float: left;">
<% facebook = {:u=>'http://code.org/college-board'} %>
<% twitter = {:url=>'http://code.org/college-board', :related=>'codeorg', :text=>'College Board and Code.org are working together to improve diversity in computer science'} %>
<%= view :share_buttons, facebook:facebook, twitter:twitter %>
</div>

<%= view "popup_window.js" %>

<br style="clear: both;">

<br />

[letter]

### May 14, 2015 

The College Board and Code.org today announced they are forming an alliance to expand access to and increase student diversity in computer science courses across America. The new partnership will make computing accessible for all students and empower them to develop skills critical to many 21st century careers

Jobs in computing-related fields are growing at four times the national average, and the 600,000 open computing jobs in the United States pay, on average, 85 percent more than the national median wage. Yet, less than 2.4 percent of college students graduate with computer science degrees, and underrepresented minorities and women continue to have a minimal presence in the field. Of the 2.1 million software professionals in the United States, only 26 percent are women. The College Board is actively seeking to identify and promote high quality resources from a range of organizations committed to addressing this diversity issue. 

Through the partnership between the College Board and Code.org, many schools will begin offering, for the first time, high-quality computer science courses that will expand the diversity of students who develop interest and readiness for critical 21st century careers that require computing skills. Specifically:

<ul>
<li>The College Board and Code.org will identify and help schools to adopt two specific computer science courses at the high school level:</li>
<ul style="margin:10px; margin-left:40px">
<li>Exploring Computer Science: A course accessible for all students, designed to stimulate interest in the field and instill the basic knowledge and skills essential for subsequent enrollment in related AP courses.</li>
<li>AP® Computer Science Principles: A new AP course that will debut in fall 2016, providing students with the chance to earn college credit for mastery of an array of computing principles and activities.</li></ul>
<li>The College Board and Code.org will co-fund Code.org’s professional development of new computer science teachers, and will recommend the Code.org computer science course pathway.</li>
<li>The College Board and Code.org will encourage schools to administer the new PSAT™ 8/9 assessment as a way of identifying more students, particularly those from traditionally under-represented groups, for enrollment in these new courses.</li> 
</ul>

  
Many underrepresented minority and female students never know of their potential for success in challenging computer science course work, and most schools do not offer these students access to college or career opportunities in computer science. Among the high school graduating class of 2014 who took the PSAT/NMSQT®, more than 165,000 female students demonstrated potential for success in AP Computer Science, but only 2.5 percent of these students gained access to the AP Computer Science A course and exam. Among black and Hispanic students, more than 33,000 students demonstrated potential for success in AP Computer Science, but only 4.7 percent of these students gained access.

“As a nation, we must do more to cultivate an interest in computer science among students of all backgrounds and ensure that they have the preparation to pursue the computing jobs that will help power future economic growth,” said David Coleman, College Board President and CEO. The College Board is committed to providing students who have worked hard, and who have proved their potential, with access to the opportunities they’ve earned and to challenging them to own their future.” 

The College Board plans to endorse Code.org’s instructional resources for AP Computer Science Principles, and in preparation for the debut of the new AP Computer Science Principles course in fall 2016, Code.org will help high schools across 35 of the largest school districts in the country to pilot its  Computer Science Principles curriculum this fall, particularly in urban public school districts such as New York City, Chicago, and Los Angeles. 

The partnership builds on the success of Code.org’s learning platform, Code Studio, for which 10 percent of all K-8 students in the United States have created accounts to learn the basics of computing. In Code Studio courses, 43 percent of students are girls and 37 percent are black or Hispanic. Code.org’s course sequence, starting with Code Studio in the early grades, and continuing through Exploring Computer Science and AP Computer Science Principles courses in high school, will teach students how to create their own technology and apps. 

“Before leaving high school, every student deserves the opportunity to learn computer science and understand how it can help them lead in any career, regardless of whether they want to be software engineers or not,” said co-founder and CEO of Code.org Hadi Partovi. “Code.org is excited to work with the College Board to extend this opportunity to students of all backgrounds and inspire more underrepresented students, especially women, to pursue bright futures using computer science.”

The College Board and Code.org will co-fund the expansion of computer science and professional development of new computer science teachers in schools and districts that commit to using the PSAT 8/9 equitably to identify students who have potential for success in computer science. 

The collaboration between these two organizations also includes research on student learning and coordinated efforts to support policy changes that support access to computer science.

Additionally, the College Board expects to announce in the coming weeks and months additional resources and supports for AP Computer Science Principles from a range of organizations. All such programs will be communicated to secondary schools across the United States in fall 2015 to ensure that educators are aware of an array of options as they prepare to implement this new AP course in fall 2016.

<center>****</center>

**About the College Board**

The College Board is a mission-driven not-for-profit organization that connects students to college success and opportunity. Founded in 1900, the College Board was created to expand access to higher education. Today, the membership association is made up of over 6,000 of the world's leading educational institutions and is dedicated to promoting excellence and equity in education. Each year, the College Board helps more than seven million students prepare for a successful transition to college through programs and services in college readiness and college success - including the SAT® and the Advanced Placement Program®. The organization also serves the education community through research and advocacy on behalf of students, educators, and schools. For further information, visit [collegeboard.org](https://www.collegeboard.org).

**About Code.org**

Code.org is a 501c3 public nonprofit dedicated to expanding participation in computer science and increasing participation by women and underrepresented students of color. Its vision is that every student in every school should have the opportunity to learn computer programming. After launching in 2013, Code.org organized the Hour of Code campaign – which has introduced over 100 million students to computer science to date – and partnered with 70 public school districts nationwide to expand computer science programs. Code.org is supported by philanthropic donations from corporations, foundations and generous individuals, including Microsoft, Infosys Foundation, USA, The Ballmer Family Giving, Omidyar Network and others. For more information, visit [code.org](/).

For more information, contact <a href="mailto:press@code.org">press@code.org</a>

## School districts
 
If you're a district administrator, [apply for a partnership](/educate/districts) to bring computer science to your entire district.


