---
title: Code a Dance Party!
theme: responsive_full_width
---

%script{src: webpack_asset_path('js/code.org/public/dance.js')}

%link{href: "/css/generated/design-system-pegasus.css", rel: "stylesheet"}
%link{href: "/css/generated/page/dance-styles.css", rel: "stylesheet"}

%section.hero-banner-basic.overlay
  .wrapper.flex-container.justify-space-between.align-items-center.wrap
    .text-wrapper
      %h1{style: "color: white"}
        =hoc_s(:dance_hero_heading)
    %figure
      %img{src: "/images/dance-hoc/dance-party-characters-banner.png", alt: ""}

%section.bg-neutral-light
  .wrapper.centered
    %h2=hoc_s(:dance_featuring_songs_by)
    = view :"dance/featured_artists"

%section
  .wrapper
    DANCE PARTY ACTIVITES

%section.bg-neutral-light
  .wrapper
    ARTISTS

%section
  .wrapper
    FEATURED PROJECTS

%section.bg-neutral-light
  .wrapper
    VIDEOS

%section
  .wrapper
    = view :afe_partnership_block
