---
title: Request District Partnership
nav: blank
rightbar: blank
---
%link{href: "css/datepicker3.css", rel: "stylesheet"}/
%link{href: "css/district-partner.css", rel: "stylesheet"}/

%h1 Request District Partnership
%form#district-partner-form{role: "form", onsubmit: "return districtPartnerFormSubmit()"}
  %p.form-intro-text Thank you for your interest in Code.org’s district partnerships. We are currently working to update our program model based on what we’ve learned from our pilot year, and will release an updated application process in April 2015 for the 2016-2017 school year. Please fill out this form to be updated when the application is ready.
  #error-message{style: 'display: none'}
  .main-section
    .subsection
      %h3 School district information
      .form-group
        %label.control-label{for: "district-name"} District name
        %div
          %input#district-name.form-control{name: "district_name_s", placeholder: "District name", type: "text", required: ""}/
      .form-group
        %label.control-label{for: "office-city"} City
        %div
          %input#office-city.form-control{name: "office_city_s", placeholder: "City", required: "", type: "text"}/
      .form-group
        %label.control-label{for: "office-state"} State
        %div
          %select#office-state.form-control{name: "office_state_s", required: ""}
            %option{selected: "selected", value: ""} -- Select --
            -DB[:geography_us_states].order(:name_s).each do |i|
              %option{value: i[:code_s]}= i[:name_s]
    .subsection
      %h3 Contact information
      .form-group
        %label.control-label{for: "user-first-name"} First Name
        %div
          %input.form-control{id: "user-first-name", name: "user_first_name_s", placeholder: "First name", required: "", type: "text"}/
      .form-group
        %label.control-label{for: "user-last-name"} Last Name
        %div
          %input.form-control{id: "user-last-name", name: "user_last_name_s", placeholder: "Last name", required: "", type: "text"}/
      .form-group
        %label.control-label{for: "user-phone"} Phone number
        %div
          %input.form-control{id: "user-phone", name: "user_phone_s", placeholder: "Phone number", required: "", type: "tel"}/
      .form-group
        %label.control-label{for: "user-email"} Email address
        %div
          %input.form-control{id: "user-email", name: "user_email_s", placeholder: "Email address", required: "", type: "email"}/
  .form-group
    %button#btn-submit.btn.btn-default{type: "submit"} Submit

#thanks{:style=>"display: none; margin-bottom: 360px;"}
  %p Thank you for your interest. We will follow up via email when our updated application materials become available.

%script{src: "js/bootstrap-datepicker.js"}

:javascript
  $(document).ready(function() {
    // Mark all required fields.
    $('.form-control[required]').parents('.form-group').find('label').append('<span class="required-field-marker">*</span>');
  });

  function processResponse(data)
  {
    $('#district-partner-form').hide();
    $('#thanks').show();
  }

  function processError(data)
  {
    $('.has-error').removeClass('has-error');

    errors = Object.keys(data.responseJSON);
    errors_count = errors.length;

    for (i = 0; i < errors_count; ++i) {
      error_id = '#' + errors[i].replace(/_/g, '-');
      error_id = error_id.replace(/-[sbi]s?$/, '');
      error_id = error_id.replace(/-dt$/, '');
      $(error_id).parents('.form-group').addClass('has-error');
    }

    $('#error-message').text('An error occurred. Please check to make sure all required fields have been filled out.').show();

    $('body').scrollTop(0);
    $("#btn-submit").removeAttr('disabled');
    $("#btn-submit").removeClass("button_disabled").addClass("button_enabled");
  }

  function districtPartnerFormSubmit()
  {
    $("#btn-submit").attr('disabled','disabled');
    $("#btn-submit").removeClass("button_enabled").addClass("button_disabled");

    $.ajax({
      url: "/forms/DistrictPartnerSubmission",
      type: "post",
      dataType: "json",
      data: $('#district-partner-form').serialize()
    }).done(processResponse).fail(processError);

    return false;
  }
