---
title: Diversity in K-12 Computer Science
theme: responsive
social:
  "og:title": "Code.org's Approach to Diversity & Equity in Computer Science"
  "og:description": "Code.org's approach to addressing gender and ethnic diversity in computer science in K-12 schools."
  "og:image": "http://code.org/images/student-tatiana.jpg"
  "og:image:width": 1200
  "og:image:height": 628
  "og:video": ""
  "og:video:width": ""
  "og:video:height": ""
  "og:video:type": ""
---

# Code.org's Approach to Diversity and Equity in Computer Science

The fields of software, computing, and computer science are plagued by stark underrepresentation by gender, race, ethnicity, geography, and family income. While 53% of U.S. high schools offer foundational computer science, disparities in access persist. Rural schools, urban schools, and schools with high percentages of economically disadvantaged students are less likely to offer computer science; and Black/African American students, Hispanic/Latino/Latina/Latinx students, and Native American/Alaskan students are less likely to attend a school that offers it.

This problem extends to university programs and to the software workplace, which suffer a similar lack of diversity. There are many issues to address to solve the entire problem of diversity in the tech workforce - from bias in hiring, retention, and promotion practices to capacity-building in university programs.

<br>

<center><img src="/images/fit-700/marketing/diversity-gender-workforce-graphic.png" style="max-width: 100%"/></center>
## Our focus: computer science in grades K-12
More important than the tech workforce pipeline, computer science is now a foundational subject for all 21st century careers, making access in K-12 to this knowledge an equity issue that must be addressed.

<a href="https://medium.com/@codeorg/cs-helps-students-outperform-in-school-college-and-workplace-66dd64a69536">Studies show</a> that children who study computer science perform better in other subjects, excel at problem-solving, and are 17% more likely to enroll in college. Among young women, those who try AP Computer Science in high school are 10 times more likely to major in computer science. Black and Hispanic/Latino students who try AP Computer Science in high school are 7-8 times more likely to major in computer science.

But access to computer science is unequal. A student’s opportunity should not be determined by the color of their skin, their family income, or the neighborhood they grow up in. But in the United States, the opposite is true when it comes to K-12 computer science:

<br>

<div class="col-33">
<center><img src="/images/marketing/diversity2022/year2022.png" style="max-width: 100%"/></center>
</div>

<div class="col-33">
<center><img src="/images/marketing/diversity2022/geo2022.png" style="max-width: 100%"/></center>
</div>

<div class="col-33">
<center><img src="/images/marketing/diversity2022/frl2022.png" style="max-width: 100%"/></center>
</div>
<center><img src="/images/fit-1000/marketing/diversity2022/race2022.png" style="max-width: 75%"/></center>
<center><img src="/images/fit-1000/marketing/diversity2022/axis.png" style="max-width: 75%"/></center>
<center><img src="/images/fit-1000/marketing/diversity2022/footnote.png" style="max-width: 75%"/></center>

<br/>

Our goal at Code.org is for every student in every school to have the opportunity to learn computer science, and to reach balanced representation in grades K-12. Working towards that goal, we use a holistic approach that spans marketing, curriculum, professional learning, and government policy to close gaps in participation and improve equity across gender, race, income, and geography. We measure our success not only by the total number of students learning computer science, but also by the participation of students from underrepresented groups.

## Diversity in AP Computer Science since Code.org launch in 2013
The charts below show participation in the AP Computer Science exam among young women and students from underrepresented racial and ethnic groups<a href="#URG">*</a> since 2011. Not only has overall participation grown, but the overall proportion of students from these traditionally marginalized groups has been increasing.

The improvements aren't the result of Code.org's work alone. There is a whole community of organizations working on diversity in CS, but the real credit belongs to the thousands of teachers who have worked for years to improve diversity in their classrooms. While things are moving in the right direction, we have a long way to go to reach a balanced population in computer science.

<div class="col-50">
<center><img src="/images/marketing/diversity2021/div_gender_number3.png" style="max-width: 100%"/></center>
</div>

<div class="col-50">
<center><img src="/images/marketing/diversity2021/div_gender_percent3.png" style="max-width: 100%"/></center>
</div>
<br>
<div class="col-50">
<center><img src="/images/marketing/diversity2021/div_race_number3.png" style="max-width: 100%"/></center>
</div>

<div class="col-50">
<center><img src="/images/marketing/diversity2021/div_race_percent3.png" style="max-width: 100%"/></center>
</div>

<div style="clear:both"></div>


<center><font size="1">"Two or More Groups" refers to multiracial (two or more races) students** who identify with one or more of the other
categories: Black/African American, Hispanic/Latino, Native American/Alaskan, and Native Hawaiian/Pacific Islander. <a href="https://code.org/promote/ap">See full  data on AP participation</a> by race/ethnicity, gender, and geography.</font></center>
<br/><br/>


<h2 style="margin-bottom:0">Diversity of students in Code.org courses across grades K-12</h2>
<div class="col-33">
<center><img src="/images/marketing/diversity2021/code_gender.png" style="max-width: 100%"/></center>
</div>

<div class="col-33">
<center><img src="/images/marketing/diversity2021/code_urg.png" style="max-width: 100%"/></center>
</div>

<div class="col-33">
<center><img src="/images/marketing/diversity2021/code_frl.png" style="max-width: 100%"/></center>
</div>

<div style="clear:both"></div>
<center><font size="3">Source: Code.org participation data from the 2020-2022 school year. <a href="https://code.org/promote/diversitydata">Click to see fully disaggregated data.</a></font></center>
<p>

Addressing diversity and equity issues is core to Code.org’s work, and is woven throughout our programs – from curriculum to teacher professional learning to advocacy to marketing. We focus not only on gender and socioeconomic diversity, but also on increasing participation among students from underrepresented racial and ethnic groups: Black, Hispanic/Latino, Native American, and Pacific Islander.

Because computer science is a foundational subject, Code.org courses are designed to enable every student to participate — with no prerequisite knowledge or background with technology. We also aim to introduce students to learning computer science at an early age, before stereotypes influence their decisions.

We increase diversity in computer science by reaching students of all backgrounds where they are — at their skill level, in their schools — and in ways that inspire them to keep learning. When our teachers integrate computer science into classrooms that all students attend, we have an immediate impact on diversity. (Details on how we measure student diversity in our courses are  [here](https://docs.google.com/document/u/2/d/1gySkItxiJn_vwb8HIIKNXqen184mRtzDX12cux0ZgZk/pub).)

### Underrepresentation by race/ethnicity isn't about lack of interest, it’s about access to quality CS programs
Because Black, Hispanic/Latino, Native American, and Pacific Islander students are dramatically underrepresented in university computer science departments (making up just 17 percent of CS majors) and in AP Computer Science exams, it may seem that they are less interested in studying computer science than their white or Asian peers. But their participation in Code.org courses suggests the opposite. When looking at middle-school and high-school classrooms studying CS Discoveries or CS Principles on Code.org, students from underrepresented racial and ethnic groups sign up for computer science classes at much higher rates than national AP data would suggest.

The chart below shows the data from hundreds of Code.org computer science classrooms in 2018. We compared the percent of students from underrepresented racial and ethnic groups at the school as a whole to the percent among students who enroll in our courses. The orange dots represent computer science classrooms that are more diverse than the school as a whole. The blue dots are those that are less diverse.

<center><img src="/images/infographics/fit-600/courses-diversity-scatterplot-2018-3.png" style="max-width: 100%"/></center>
<br>

Most Code.org classrooms are nearly evenly balanced. This shows that when educators and administrators offer a curriculum and program designed to support diversity and equity in computer science, participation by these underrepresented groups dramatically exceeds the nationwide numbers and the reality of the tech industry today.

## Code.org’s holistic approach spans curriculum, professional learning, policy, and marketing

Below are examples of the many tactics of Code.org to address diversity and equity in K-12 computer science.

### Curriculum materials designed to recruit, engage, and retain women and students from underrepresented racial and ethnic groups

From elementary school all the way to high school, Code.org courses are designed specifically with a focus on diverse and equitable participation by traditionally underrepresented students. This is factored into the curriculum itself. As just one example, our high school course sequencing begins with a unit on problem solving, instead of jumping directly into computer programming. This allows students to learn together on an even playing field, even if some students have already had the opportunity to learn some coding elsewhere, like at a summer camp or after-school program.

<br>

<center><img src="/images/fit-1000/marketing/diversity2021/diversitygraphic2021.png" style="max-width: 100%"/></center>
<br>

As another example, across all the [video tutorials](/educate/videos) we produce, we showcase a wide cast of presenters, featuring not only celebrities like Yara Shahidi and Serena Williams, but also computing professionals from underrepresented groups such as Paola Minaya (Latina engineer at Microsoft), Tess Winlock (female engineer at Google), Makinde Adeagbo (Nigerian-American engineer at Facebook and Pinterest), and Kate Starbird (former WNBA basketball player, current computer scientist and associate professor at University of Washington). By including an array of lecturers, diverse role models from different industries are part of our curriculum materials.

The outcomes speak for themselves:

|Code.org program                                  | Scale (students)  | % Female students  | % Black, Hispanic/Latino, Native American, Pacific Islander students|
|------------------------------------------------- | ----------------- | ----------| ---------------------------------------------------------------------------------------|
|Hour of Code                                      | Tens of millions  | 48%       | 34% (U.S.)                                                                             |
|CS Fundamentals for K-8                           | Millions          | 46%       | 51% (U.S.)
|CS Discoveries - middle & high school intro class | Hundreds of thousands | 41% (U.S.)| 49% (U.S.)                                                                             |
|CS Principles - high school AP class              | Tens of thousands | 34% (U.S.)| 42% (U.S.)                                                                             |

<center><font size="1">Source: Code.org surveys of students or participating educators</font></center>
## A focus on equity in the Code.org professional learning program and in local work with schools and teachers

The Code.org professional learning program enables new educators to teach computer science and helps schools establish new CS classrooms. The program is driven by a network of regional partners who prioritize reaching schools with underserved populations, particularly in urban or rural geographies. Code.org offers millions of dollars in professional learning scholarships to teachers from schools with low-income or racially diverse student populations, in order for our program to reach these students who typically lack access to computer science in school.

All Code.org professional learning workshops for teachers include a session on equity and access, to help teachers build awareness of their own stereotypes, and to give them tools to recruit or retain a diverse CS student population. We also hold workshops for district administrators and counselors, who play a critical role in helping students choose their fields of study, in order to guide them to build interest among diverse students for the new CS classes in their schools.

The results are evident throughout our work, but especially in our roll-out of the [CS Principles](https://code.org/educate/csp) course, which was designed from the ground up to broaden participation in computer science. Endorsed by the College Board, this course prepares students for the new AP exam in computer science. Code.org has helped expand access to this course in urban school districts such as New York City, Chicago, and Oakland, as well as in rural schools in Idaho and Alabama. As a result, there are more students from underrepresented racial and ethnic groups enrolled in Code.org CS Principles classrooms today than the number of all AP Computer Science exam takers in 2016!

<center><img width="70%" src="/images/2015AR/diversity.jpg" /></center>
## Changing state level policies to increase participation in CS

Our early advocacy efforts focused on allowing rigorous computer science courses to count towards math or science high school graduation requirements. Polling done by the Computer Science Teachers Association has shown that when young women or students from underrepresented racial and ethnic groups decide whether or not to study computer science, a key factor in their choice is whether it counts for graduation credit. In the states where computer science counts towards high school graduation, enrollment by students from underrepresented racial and ethnic groups is 37 percent higher than in the states where it does not. Our efforts have successfully implemented this policy in all 50 states and D.C.

Today, the Code.org Advocacy Coalition advances [nine policies](https://code.org/files/Making_CS_Fundamental.pdf) to make CS fundamental. Equity is a key component throughout these nine policies, and [a rubric](https://docs.google.com/document/d/1WZ3rITFXnI2gNKmk8Bv5qthbJViEIEPRiK-lx3nW4MM/edit?usp=sharing) has been adopted to further develop states’ abilities to provide equitable opportunities for all students, such as prioritizing funding for under-represented groups in computer science.

When states require and fund every school to offer computer science, increased access disproportionately boosts participation by historically underserved student groups. For example, by offering computer science in every school, in just one year [Arkansas experienced](http://amppob.com/nearly-4000-arkansas-students-enrolled-in-computer-science-in-fall-15/) a 300 percent increase in enrollment among young women, and a 600 percent increase among young Black women. Thanks to Code.org advocacy partners and local champions, many states have now similarly passed laws to require and fund schools to offer computer science. Today, AP Computer Science participation among young women and students from underrepresented racial and ethnic groups has grown over ten-fold since these efforts began.

Overall, there is a relationship between the number of computer science policies adopted by a state and the percentage of public high schools offering foundational computer science. States that adopt more of the policies have a greater percentage of high schools offering computer science.

<center><img src="/images/fit-1000/marketing/diversity2022/policies.png" style="max-width: 50%"/></center>
## Marketing to change culture and break stereotypes with the Hour of Code campaign

The Hour of Code is our campaign to encourage students and classrooms around the world to try computer science. Stereotypes and preconceptions are a major contributor to underrepresentation in computer science, especially among young women. The Hour of Code breaks these stereotypes and teaches through experience that anybody can enjoy learning computer science, and that any school can offer it.

A [recent study](/files/HourOfCodeImpactStudy_Jan2017.pdf) of students before and after participating in the Hour of Code showed that the program leads to significant improvements in attitudes and self-efficacy towards computer science, with the greatest gains among female students, especially in high school.

<center>

**A pre/post [study](https://code.org/files/HourOfCodeImpactStudy_Jan2017.pdf) shows attitudes changed after just an Hour of Code**:

|Statement                                  | All high school students  | Female high school students
|------------------------------------------------- | ----------------- | ----------|
|"I like computer science"                                     | 11% increase  | 20% increase                                                                             |
|"I am better at computer science than most kids"                         | 14% increase          | 16% increase                                                                             |

</center>

The Hour of Code has been offered in classrooms by teachers of all backgrounds and subjects, reaching students globally in over 180 countries.

The results speak for themselves: After over a billion “hours served” reaching almost a quarter of the students on the planet, and with nearly 50% of participants being female, the Hour of Code is the largest-scale effort to introduce computer science to girls.

<center><img src="/images/marketing/diversity2021/hoc-2021-graph.png" width="75%" /></center>
In addition to the Hour of Code, Code.org regularly produces new materials and programs to improve diversity in computer science. For example, we distribute [recruitment posters, videos, and other marketing materials](http://code.org/educate/inspire) to CS teachers to help them engage more young women and students from underrepresented groups in their classrooms. As another example, we have run campaigns that reward and recognize individual classroom teachers who set diversity records in their school AP computer science program. We also produced the following videos — the first featuring female voices and the second featuring Black voices — on the importance of learning computer science. (The second video garnered more than a million views across social platforms!)

<br>

<center><iframe style="max-width: 100%" width="560" height="315" src="https://www.youtube-nocookie.com/embed/mFPg96gdPkc" frameborder="0" allowfullscreen></iframe></center>
<br>
<center><iframe style="max-width: 100%" width="560" height="315" src="https://www.youtube-nocookie.com/embed/uhcA6K8rWp0" frameborder="0" allowfullscreen></iframe></center>
<br>

The sum of all these efforts — the curriculum design, the professional learning program, the Code.org Advocacy Coalition, the Hour of Code, and countless smaller efforts and initiatives — is how Code.org is holistically addressing the historical problems with diversity and equity in K-12 computer science.

<a id="team"></a>
## Our own team’s diversity

| Code.org team diversity                                                  | % female and nonbinary | % people of color\*\* | % Black | % Hispanic/Latino \*\*\* | % Native American/Pacific Islander \*\*\*\* |
|--------------------------------------------------------------------------| ---------------------- |--------------------|---------| ----------------------- | -------------- |
| Full time staff                                                          | 64%                    | 36%                | 7%      | 7%                      | 2%             |
| Our leadership team                                                      | 53%                    | 47%                | 7%      | 7%                     | 0%             |
| Our engineering team (software engineers only)                           | 57%                    | 29%                | 4%      | 0%                      | 0%             |
| Our technical staff (software engineers, product managers, CS educators) | 53%                    | 26%                | 3%      | 3%                      | 0%             |
| Our extended team of facilitators                                        | 67%                    | 15%                | 8%      | 6%                      | 2%             |
| Teachers attending our professional development workshops                | 86%                    | 24%                | 14%     | 8%                      | 2%             |
<br/>
<br/>
<hr>
<a name="URG">\*</a>URG or underrepresented racial/ethnic groups refers to students from marginalized racial/ethnic groups underrepresented in computer science including students who are Black/African American, Hispanic/Latino/Latina/Latinx, Native American/Alaskan, and Native Hawaiian/Pacific Islander. <a href="/images/marketing/diversity2021/urg_data.pdf">See how Code.org extrapolates this number from external data.</a> <br>
<a name="POC">\*\*</a>Two or more races include students from more than one racial/ethnic group. 79% of students who identified as multiracial are from more than one marginalized racial and ethnic groups underrepresented in computer science (Black/African American, Hispanic/Latino/Latina/Latinx, Native American/Alaskan, and Native Hawaiian/Pacific Islanders). <a href="/images/marketing/diversity2021/urg_data.pdf">See how Code.org extrapolates this number from external data.</a><br>
<a name="POC">\*\*\*</a>Anybody not identifying as white <br>

<br>
