---
title: Exploring the Ethics of AI panel
video_player: true
theme: responsive
style_min: true
social:
  "og:title": "Exploring the Ethics of AI panel"
  "og:description": "Join us to explore the ethics of AI on Tuesday, December 8!"
  "og:image": "https://code.org/images/ai/ai-ethics-lp.png"
  "og:image:width": 485
  "og:image:height": 235
  "og:video": ""
  "og:video:width": ""
  "og:video:height": ""
  "og:video:type": ""
---

<%
  show_tune_in_link = DCDO.get('show_2020_ethics_ai_panel_live_links', true)
%>

<h1>Join us to explore the ethics of AI on Tuesday, December 8!</h1>

<div class="col-40" style="padding-top: 10px; padding-right: 20px; padding-bottom: 20px">
    <img src="/images/ai/ai-ethics-lp.png" style="width:100%">
</div>

<div class="col-60">
    <p>AI and Machine Learning impact our entire world, changing how we live and how we work. That's why it’s critical for all of us to understand this increasingly important technology, including not just how it’s designed and applied, but also its societal and ethical implications.</p>
    <p>Join our panel of AI experts for a discussion of some of the cool ways that AI is used and important issues like algorithmic bias and the future of work. Appropriate for students in grade 8 and up. Pair it with our <a href="https://studio.code.org/s/oceans/stage/1/puzzle/1" target="_blank">AI for Oceans</a> tutorial and our new <a href="https://curriculum.code.org/hoc/unplugged/5/" target="_blank">AI & Ethics lesson plan</a> for a great introduction to the ethics of artificial intelligence!</p>
    <p>Join us <strong>10:30 - 11:15 am PST on December 8</strong>! <a href="https://www.addevent.com/event/by5617541" target="_blank">Add it to your calendar</a>, then tune in on Zoom or stream on <a href="https://youtu.be/3oqxjPXbynE" target="_blank">YouTube</a>.</p>
    <%== show_tune_in_link ?
      '<a href="https://code.zoom.us/j/95111270450?pwd=Mk1OMFlXL0dZQ3gwYzdMdmF4d1I0QT09" target="_blank"><button>Tune in</button></a>' : ''
    %>
</div>

<div style="clear:both"></div>

<h2>Featuring:</h2>

<div class="col-20" style="padding-right:20px; margin-bottom:20px; text-align:center">
    <img src="/images/avatars/amanda-askell.jpg" style="width:90%; border-radius:50%; border: 7px solid #a69bc1">
    <p style="text-align:center">
    <i>Panelist:</i>
    <br>
    <strong>Dr. Amanda Askell</strong>
    <br>
    Research Scientist in Policy, OpenAI
    </p>
</div>
<div class="col-20" style="padding-right:20px; margin-bottom:20px; text-align:center">
    <img src="/images/avatars/deb-raji-2.jpg" style="width:90%; border-radius:50%; border: 7px solid #a69bc1">
    <p style="text-align:center">
    <i>Panelist:</i>
    <br>
    <strong>Inioluwa Deborah Raji</strong>
    <br>
    AI Research Scientist & Mozilla Fellow
    </p>
</div>
<div class="col-20" style="padding-right:20px; margin-bottom:20px; text-align:center">
    <img src="/images/avatars/mehran-sahami.jpg" style="width:90%; border-radius:50%; border: 7px solid #a69bc1">
    <p style="text-align:center">
    <i>Panelist:</i>
    <br>
    <strong>Mehran Sahami</strong>
    <br>
    Professor and Associate Chair for Education in Computer Science, Stanford University
    </p>
</div>
<div class="col-20" style="padding-right:20px; margin-bottom:20px; text-align:center">
    <img src="/images/avatars/natasha-crampton.jpg" style="width:90%; border-radius:50%; border: 7px solid #a69bc1">
    <p style="text-align:center">
    <i>Panelist:</i>
    <br>
    <strong>Natasha Crampton</strong>
    <br>
    Chief Responsible AI Officer, Microsoft
    </p>
</div>
<div class="col-20" style="padding-right:20px; margin-bottom:20px; text-align:center">
    <img src="/images/avatars/pat-panel.png" style="width:90%; border-radius:50%; border: 7px solid #a69bc1">
    <p style="text-align:center">
    <i>Moderator:</i>
    <br>
    <strong>Pat Yongpradit</strong>
    <br>
    Chief Academic Officer, Code.org
    </p>
  </div>
  <div style="clear: both; margin-bottom: 20px"></div>
</div>

<style>
  .microsoft-partnership {
    font-size: 24px;
    text-align: center;
    margin-top: 40px;
  }

  .microsoft-thanks {
    font-size: 14px;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 80px;
    margin-left: 18%;
    margin-right: 18%;
  }
</style>

<div class="microsoft-partnership">
In partnership with
&nbsp;
<img src="images/fit-240/avatars/microsoft.png">
</div>
<div class="microsoft-thanks">
We thank Microsoft for supporting our vision and mission to ensure every child has the opportunity to learn computer science and the skills to succeed in the 21st century.
</div>

<!--

<div class="col-20" style="padding-right:20px; margin-bottom:20px; text-align:center">
    <img src="/images/avatars/amanda-askell.jpg" style="width:90%; border-radius:50%; border: 7px solid #a69bc1">
    <p style="text-align:center">
    <i>Panelist:</i>
    <strong>Dr. Amanda Askell</strong>
    <br>
    Research Scientist in Policy, OpenAI
    </p>
</div>
<div class="col-20" style="padding-right:20px; margin-bottom:20px; text-align:center">
    <img src="/images/avatars/deb-raji.jpg" style="width:90%; border-radius:50%; border: 7px solid #a69bc1">
    <p style="text-align:center">
    <i>Panelist:</i>
    <br>
    <strong>Inioluwa Deborah Raji</strong>
    <br>
    AI Research Scientist & Mozilla Fellow
    </p>
</div>
<div class="col-20" style="padding-right:20px; margin-bottom:20px; text-align:center">
    <img src="/images/avatars/mehran-sahami.jpg" style="width:90%; border-radius:50%; border: 7px solid #a69bc1">
    <p style="text-align:center">
    <i>Panelist:</i>
    <br>
    <strong>Mehran Sahami</strong>
    <br>
    Professor and Associate Chair for Education in Computer Science, Stanford University
    </p>
</div>
<div class="col-20" style="padding-right:20px; margin-bottom:20px; text-align:center">
    <img src="/images/avatars/natasha-crampton.jpg" style="width:90%; border-radius:50%; border: 7px solid #a69bc1">
    <p style="text-align:center">
    <i>Panelist:</i>
    <br>
    <strong>Natasha Crampton</strong>
    <br>
    Chief Responsible AI Officer, Microsoft
    </p>
</div>
<div class="col-20" style="padding-right:20px; margin-bottom:20px; text-align:center">
    <img src="/images/avatars/pat-panel.png" style="width:90%; border-radius:50%; border: 7px solid #a69bc1">
    <p style="text-align:center">
    <i>Moderator:</i>
    <br>
    <strong>Pat Yongpradit</strong>
    <br>
    Chief Academic Officer, Code.org
    </p>
  </div>
  <div style="clear: both; margin-bottom: 20px"></div>
</div>
-->
