---
title: Explore, Play, and Create with Computer Science
theme: responsive
---

%link{href: "/css/generated/student.css", rel: "stylesheet"}
%script{src: "https://kit.fontawesome.com/ea2d9d4413.js", crossorigin: "anonymous"}

-# FontAwesome icon
%i.fa-regular.fa-futbol
