---
title: Code.org in Farsi
theme: responsive_full_width
---

%link{href: "/css/generated/design-system-pegasus.css", rel: "stylesheet"}

%section
  .wrapper
    %h1=hoc_s(:farsi_page_top_heading)
    %h2.heading-lg
      =hoc_s(:farsi_page_top_heading_02)
    %p=hoc_s(:farsi_page_top_desc_01)
    %p=hoc_s(:farsi_page_top_desc_02)
    %a{href: 'https://donate.code.org/campaign/support-computer-science-education/c172233', class: "link-button"}
      =hoc_s(:call_to_action_support_farsi)

%section.bg-neutral-light
  .wrapper
    %p TIMELINE HERE

%section
  .wrapper
    %h2=hoc_s(:farsi_page_supporters_heading)
    %p.heading-sm
      =hoc_s(:farsi_page_supporters_desc)
    %ul.supporters-list
      %li
        Bita Daryabari
      %li
        Arash Ferdowsi
      %li
        Dara Khosrowshahi
      %li
        Shahrokh Mortazavi
      %li
        F. Francis Najafi
      %li
        Kate Nowrouzi
      %li
        Ali Partovi
      %li
        Anonymous (2)
    %hr
    %p=hoc_s(:farsi_page_supporters_desc_02)
    %a{href: 'https://donate.code.org/campaign/support-computer-science-education/c172233', class: "link-button"}
      =hoc_s(:call_to_action_support_farsi)

%section.bg-neutral-light
  .wrapper
    %h2=hoc_s(:farsi_page_founders_heading)
    .photo-carousel-wrapper
      = view :farsi_carousel

%section
  .wrapper
    %h2=hoc_s(:farsi_page_support_heading)
    %h3.heading-sm{style: "margin-bottom: 1em"}
      =hoc_s(:farsi_page_support_heading_02)
    %p=hoc_s(:farsi_page_support_get_updates, markdown: :inline, locals: {updates_url: "#"})
    %p=hoc_s(:farsi_page_support_contact_us, markdown: :inline, locals: {mailto_link: "mailto:sasha@code.org"})
    .btn-wrapper.flex-container.flex-wrap{style: "gap: 1em"}
      %a{href: 'https://donate.code.org/campaign/support-computer-science-education/c172233', class: "link-button"}
        =hoc_s(:call_to_action_donate_online)
      %a{href: '#', class: "link-button secondary"}
        =hoc_s(:call_to_action_get_updates)

= view :section_divider_line

%section
  .wrapper
    %h2.heading-sm
      =hoc_s(:farsi_page_compliance_heading)
    %p.body-two
      =hoc_s(:farsi_page_compliance_desc)
