---
title: Code.org in Farsi
theme: responsive_full_width
---

%link{href: "/css/generated/design-system-pegasus.css", rel: "stylesheet"}
%link{href: "/css/generated/farsi-styles.css", rel: "stylesheet"}

%section.hero-banner-basic.bg-neutral-dark
  .wrapper
    %h1{style: "color: white"}
      =hoc_s(:farsi_page_top_heading)
    %h2.heading-lg{style: "color: white"}
      =hoc_s(:farsi_page_top_heading_02)
    %p{style: "color: white"}
      =hoc_s(:farsi_page_top_desc)
    %a{href: 'https://donate.code.org/CodeDotOrgInFarsi', class: "link-button", target: "_blank", rel: "noopener noreferrer"}
      =hoc_s(:call_to_action_support_farsi)

%section
  .wrapper
    %h2=hoc_s(:farsi_timeline_heading)
    = view :farsi_timeline

%section.bg-neutral-light
  .wrapper
    %h2=hoc_s(:farsi_page_supporters_heading)
    %p.heading-sm
      =hoc_s(:farsi_page_supporters_desc)
    %ul.supporters-list
      %li
        Bita Daryabari
      %li
        Arash Ferdowsi
      %li
        Dara Khosrowshahi
      %li
        Shahrokh Mortazavi
      %li
        F. Francis Najafi
      %li
        Kate Nowrouzi
      %li
        Ali Partovi
      %li
        Anonymous (2)
    %hr.dark
    %p=hoc_s(:farsi_page_supporters_desc_02)
    %a{href: 'https://donate.code.org/CodeDotOrgInFarsi', class: "link-button", target: "_blank", rel: "noopener noreferrer"}
      =hoc_s(:call_to_action_support_farsi)

%section
  .wrapper
    %h2=hoc_s(:farsi_page_founders_heading)
    .photo-carousel-wrapper
      = view :farsi_carousel

%section.bg-neutral-light
  .wrapper
    %h2=hoc_s(:farsi_page_support_heading)
    %h3.heading-sm{style: "margin-bottom: 1em"}
      =hoc_s(:farsi_page_support_heading_02)
    %p=hoc_s(:farsi_page_support_get_updates, markdown: :inline, locals: {updates_url: "#"})
    %iframe.col-50{allowtransparency: "true", frameborder: "0", height: "350", scrolling: "yes", src: "http://go.pardot.com/l/153401/2022-05-31/pq1716", style: "overflow:hidden; float: none;", type: "text/html", width: "100%"}
    %p=hoc_s(:farsi_page_support_contact_us, markdown: :inline, locals: {contact_link: "https://forms.gle/fMb9z7Wy2Qrjrowb7"})
    %a{href: 'https://donate.code.org/CodeDotOrgInFarsi', class: "link-button", target: "_blank", rel: "noopener noreferrer"}
      =hoc_s(:call_to_action_donate_online)

%section
  .wrapper
    %h2.heading-sm
      =hoc_s(:farsi_page_compliance_heading)
    %p.body-two
      =hoc_s(:farsi_page_compliance_desc)
