---
title: Code.org in Farsi
theme: responsive_full_width
---

%link{href: "/css/generated/design-system-pegasus.css", rel: "stylesheet"}

%section
  .wrapper
    %h1=hoc_s(:farsi_page_top_heading)
    %h2.heading-lg
      =hoc_s(:farsi_page_top_heading_02)
    %p=hoc_s(:farsi_page_top_desc_01)
    %p=hoc_s(:farsi_page_top_desc_02)
    %a{href: 'https://donate.code.org/CodeDotOrgInFarsi', class: "link-button", target: "_blank", rel: "noopener noreferrer"}
      =hoc_s(:call_to_action_support_farsi)

%section.bg-neutral-light
  .wrapper
    %ul
      %li
        %h3 Elementary School
        .text-wrapper
          %ul
            %li
              %p Translate the CS Fundamentals curriculum, intended for primary school students.
            %li
              %p Translate two CS Fundamentals Express courses for students ages 8 to 18 and pre-readers.
            %li
              %p Translate 16 Hour of Code tutorials.
        %p Stage 1 includes more than 500,000 words and can take 6-9 months. We started this stage in late 2022.
      %li
        %h3 Localize Videos
        .text-wrapper
          %ul
            %li
              %p Subtitle 128 videos (75 videos for CS Fundamentals and 53 videos for Hour of Code).
            %li
              %p Dub 98 videos.
            %li
              %p Recreate 30 videos and hire native speakers in appropriate cultural dress to reshoot videos.
        %p Stage 2 can take one year to complete. We hope to start in mid 2023.
      %li
        %h3 Middle School
        .text-wrapper
          %ul
            %li
              %p Translate CS Discoveries, our middle school curriculum.
            %li
              %p Subtitle and dub 47 videos for CS Discoveries.
            %li
              %p Recreate 29 videos and hire native speakers in appropriate cultural dress to reshoot videos.
        %p Stage 3 can take one year to complete, likely to begin in early 2024.
      %li
        %h3 High School
        .text-wrapper
          %ul
            %li
              %p Translate CS Principles & AP Computer Science A, our high school curriculum.
            %li
              %p Subtitle and dub videos for CS Principles & AP Computer Science A.
            %li
              %p Recreate videos with native speakers, in appropriate cultural dress.
        %p Stage 4 can take one year to complete, likely to begin in late 2024.
      %li
        %h3 Additional Content
        .text-wrapper
          %ul
            %li
              %p Translate remaining curriculum, including CS Connections.
            %li
              %p Subtitle, dub, and reshoot any remaining videos from all courses.
        %p Stage 5 can take one year to complete, likely to begin in 2025.

%section
  .wrapper
    %h2=hoc_s(:farsi_page_supporters_heading)
    %p.heading-sm
      =hoc_s(:farsi_page_supporters_desc)
    %ul.supporters-list
      %li
        Bita Daryabari
      %li
        Arash Ferdowsi
      %li
        Dara Khosrowshahi
      %li
        Shahrokh Mortazavi
      %li
        F. Francis Najafi
      %li
        Kate Nowrouzi
      %li
        Ali Partovi
      %li
        Anonymous (2)
    %hr
    %p=hoc_s(:farsi_page_supporters_desc_02)
    %a{href: 'https://donate.code.org/CodeDotOrgInFarsi', class: "link-button", target: "_blank", rel: "noopener noreferrer"}
      =hoc_s(:call_to_action_support_farsi)

%section.bg-neutral-light
  .wrapper
    %h2=hoc_s(:farsi_page_founders_heading)
    .photo-carousel-wrapper
      = view :farsi_carousel

%section
  .wrapper
    %h2=hoc_s(:farsi_page_support_heading)
    %h3.heading-sm{style: "margin-bottom: 1em"}
      =hoc_s(:farsi_page_support_heading_02)
    %p=hoc_s(:farsi_page_support_get_updates, markdown: :inline, locals: {updates_url: "#"})
    %p=hoc_s(:farsi_page_support_contact_us, markdown: :inline, locals: {mailto_link: "mailto:sasha@code.org"})
    .btn-wrapper.flex-container.flex-wrap{style: "gap: 1em"}
      %a{href: 'https://donate.code.org/CodeDotOrgInFarsi', class: "link-button", target: "_blank", rel: "noopener noreferrer"}
        =hoc_s(:call_to_action_donate_online)
      %a{href: '#', class: "link-button secondary"}
        =hoc_s(:call_to_action_get_updates)

= view :section_divider_line

%section
  .wrapper
    %h2.heading-sm
      =hoc_s(:farsi_page_compliance_heading)
    %p.body-two
      =hoc_s(:farsi_page_compliance_desc)
