---
title: Code.org in Farsi
theme: responsive_full_width
---

%link{href: "/css/generated/design-system-pegasus.css", rel: "stylesheet"}

%section
  .wrapper
    %h1=hoc_s(:farsi_page_top_heading)
    %h2.heading-lg
      =hoc_s(:farsi_page_top_heading_02)
    %p=hoc_s(:farsi_page_top_desc_01)
    %p=hoc_s(:farsi_page_top_desc_02)
    %a{href: 'https://donate.code.org/CodeDotOrgInFarsi', class: "link-button", target: "_blank", rel: "noopener noreferrer"}
      =hoc_s(:call_to_action_support_farsi)

%section.bg-neutral-light
  .wrapper
    %ul
      %li
        %h3=hoc_s(:grade_level_label_elementary)
        .text-wrapper
          %ul
            %li
              %p=hoc_s(:farsi_timeline_stage_01_list_01)
            %li
              %p=hoc_s(:farsi_timeline_stage_01_list_02)
            %li
              %p=hoc_s(:farsi_timeline_stage_01_list_03)
        %p=hoc_s(:farsi_timeline_stage_01_desc)
      %li
        %h3=hoc_s(:farsi_timeline_stage_02_heading)
        .text-wrapper
          %ul
            %li
              %p=hoc_s(:farsi_timeline_stage_02_list_01)
            %li
              %p=hoc_s(:farsi_timeline_stage_02_list_02)
            %li
              %p=hoc_s(:farsi_timeline_stage_02_list_03)
        %p=hoc_s(:farsi_timeline_stage_02_desc)
      %li
        %h3=hoc_s(:grade_level_label_middle)
        .text-wrapper
          %ul
            %li
              %p=hoc_s(:farsi_timeline_stage_03_list_01)
            %li
              %p=hoc_s(:farsi_timeline_stage_03_list_02)
            %li
              %p=hoc_s(:farsi_timeline_stage_03_list_03)
        %p=hoc_s(:farsi_timeline_stage_03_desc)
      %li
        %h3=hoc_s(:grade_level_label_high)
        .text-wrapper
          %ul
            %li
              %p=hoc_s(:farsi_timeline_stage_04_list_01)
            %li
              %p=hoc_s(:farsi_timeline_stage_04_list_02)
            %li
              %p=hoc_s(:farsi_timeline_stage_04_list_03)
        %p=hoc_s(:farsi_timeline_stage_04_desc)
      %li
        %h3=hoc_s(:farsi_timeline_stage_05_heading)
        .text-wrapper
          %ul
            %li
              %p=hoc_s(:farsi_timeline_stage_05_list_01)
            %li
              %p=hoc_s(:farsi_timeline_stage_05_list_02)
        %p=hoc_s(:farsi_timeline_stage_05_desc)

%section
  .wrapper
    %h2=hoc_s(:farsi_page_supporters_heading)
    %p.heading-sm
      =hoc_s(:farsi_page_supporters_desc)
    %ul.supporters-list
      %li
        Bita Daryabari
      %li
        Arash Ferdowsi
      %li
        Dara Khosrowshahi
      %li
        Shahrokh Mortazavi
      %li
        F. Francis Najafi
      %li
        Kate Nowrouzi
      %li
        Ali Partovi
      %li
        Anonymous (2)
    %hr
    %p=hoc_s(:farsi_page_supporters_desc_02)
    %a{href: 'https://donate.code.org/CodeDotOrgInFarsi', class: "link-button", target: "_blank", rel: "noopener noreferrer"}
      =hoc_s(:call_to_action_support_farsi)

%section.bg-neutral-light
  .wrapper
    %h2=hoc_s(:farsi_page_founders_heading)
    .photo-carousel-wrapper
      = view :farsi_carousel

%section
  .wrapper
    %h2=hoc_s(:farsi_page_support_heading)
    %h3.heading-sm{style: "margin-bottom: 1em"}
      =hoc_s(:farsi_page_support_heading_02)
    %p=hoc_s(:farsi_page_support_get_updates, markdown: :inline, locals: {updates_url: "#"})
    %iframe.col-50{allowtransparency: "true", frameborder: "0", height: "350", scrolling: "yes", src: "http://go.pardot.com/l/153401/2022-05-31/pq1716", style: "overflow:hidden; float: none; margin-top: -3em;", type: "text/html", width: "100%"}
    %p=hoc_s(:farsi_page_support_contact_us, markdown: :inline, locals: {mailto_link: "mailto:sasha@code.org"})
    %a{href: 'https://donate.code.org/CodeDotOrgInFarsi', class: "link-button", target: "_blank", rel: "noopener noreferrer"}
      =hoc_s(:call_to_action_donate_online)

= view :section_divider_line

%section
  .wrapper
    %h2.heading-sm
      =hoc_s(:farsi_page_compliance_heading)
    %p.body-two
      =hoc_s(:farsi_page_compliance_desc)
