---
title: How to help
theme: responsive_full_width
---

%link{href: "/css/generated/design-system-pegasus.css", rel: "stylesheet"}
%link{href: "/css/generated/page/help-styles.css", rel: "stylesheet"}

%section
  .wrapper
    %h1=hoc_s(:help_page_top_heading)
    %p.body-one
      =hoc_s(:help_page_top_desc)
    %div.content-wrapper.flex-container.justify-space-between.wrap-reverse{style: "margin-top: 4rem"}
      %figure.col-45
        %img.rounded-corners{src: "/images/help-page-top.png", alt: "", style: "position: relative; width: 100%;"}
      .text-wrapper.col-50{style: "margin-top: -8px"}
        %h2=hoc_s(:help_page_top_subhead)
        %p=hoc_s(:help_page_top_desc_02)
        .button-wrapper{style: "margin-bottom: 1rem"}
          %a.link-button.has-external-link{href: "https://donate.code.org/campaign/support-computer-science-education/c172233", target: "_blank", rel: "noopener noreferrer"}
            =hoc_s(:call_to_action_make_a_donation)
          %a.link-button.secondary{href: "donate"}
            =hoc_s(:call_to_action_other_ways_to_give)

%section.bg-neutral-light
  .wrapper.centered
    %h2=hoc_s(:help_page_partners_heading)
    %p=hoc_s(:help_page_partners_desc)
    .button-wrapper.centered
      %a.link-button{href: "/educate/regional-partner"}
        =hoc_s(:call_to_action_become_partner_usa)
      %a.link-button{href: "/international/apply"}
        =hoc_s(:call_to_action_become_partner_intl)

%section.speak-for-cs.bg-neutral-dark
  .wrapper.centered
    %h2.white
      =hoc_s(:help_page_speak_for_cs_heading)
    %p.white
      =hoc_s(:help_page_speak_for_cs_desc)
    %a.link-button.has-external-link{href: "https://advocacy.code.org", target: "_blank", rel: "noopener noreferrer"}
      =hoc_s(:call_to_action_learn_about_advocacy)

%section
  .wrapper.centered
    %h2=hoc_s(:heading_bring_cs_to_students)
    = view :"help/help_page_bring_cs_to_school"

%section.shop.bg-neutral-dark
  .wrapper.centered.flex-container.justify-center.align-items-center.wrap.gap-2
    .flex-container.justify-space-between.gap-1
      %img{src: "/images/help-page-shop-01.png", alt: ""}
      %img{src: "/images/help-page-shop-02.png", alt: ""}
    .text-wrapper
      %h2.white
        =hoc_s(:shop_code_dot_org_heading)
      %p.white
        =hoc_s(:shop_code_dot_org_desc)
      %a.link-button.has-external-link{href: "https://store.code.org", target: "_blank", rel: "noopener noreferrer"}
        =hoc_s(:call_to_action_visit_store)
    .flex-container.justify-space-between.gap-1
      %img{src: "/images/help-page-shop-03.png", alt: ""}
      %img{src: "/images/help-page-shop-04.png", alt: ""}

%section.spread-the-word
  .wrapper
    %h2
      =hoc_s(:spread_the_word_heading)
    %p
      =hoc_s(:spread_the_word_desc)
    %div.content-wrapper.flex-container.justify-space-between.wrap-reverse
      = view :"help/help_page_spread_the_word"
      %figure.rounded-corners.col-33
    .clear

= view :analytics_event_log_helper, event_name: AnalyticsConstants::HELP_US_PAGE_VISITED_EVENT
