---
title: the Hour of Code is coming
---
%div{:style=>'width: 970px; padding: 0; margin: 0 auto;'}
  %div{:style=>'width: 630px; float: left; margin: 0; padding: 0'}= view :hourofcode_content
  %div{:style=>'width: 320px; float: right;'}= view :hourofcode_sidebar