---
title: the Hour of Code is coming
theme: responsive
---
%div{:class=>'col-66', :style=>'float: left; margin: 0; padding: 0 20px 0 0;'}= view :hourofcode_content
%div{:class=>'col-33', :style=>'float: right;'}= view :hourofcode_sidebar
