---
title: LMS
theme: responsive_full_width
---

%link{href: "/css/generated/design-system-pegasus.css", rel: "stylesheet"}
%link{href: "/css/generated/page/lms-styles.css", rel: "stylesheet"}

%section.top
  .wrapper
    .text-wrapper.col-50
      %h1=hoc_s("lms_page.heading")
      %p.body-two
        =hoc_s("lms_page.top_desc")
      %a.link-button{href: "#get-started"}
        =hoc_s(:call_to_action_get_started)
    %figure.col-45{style: "float: right; margin-top: 1.25rem;"}
      %img.rounded-corners{src: "/images/lms/LMSHeroAnimation.gif", alt: ""}
    .clear

%section.bg-neutral-light
  .wrapper
    .lms-systems
      %h2
        =hoc_s("lms_page.top_module.heading")
      %p.body-two
        =hoc_s("lms_page.top_module.desc")
      =view :"lms/lms_provider_cards"
    %hr
    .integrations
      %h3
        =hoc_s("lms_page.integrations.heading")
      %p.body-two
        =hoc_s("lms_page.integrations.desc", markdown: :inline, locals: {help_article_link: 'https://support.code.org/hc/en-us/articles/4403192755725-Can-I-single-sign-on-SSO-to-Code-org-using-a-third-party-authentication-provider-like-Google-or-Clever'})
      =view :"lms/lms_sso_cards"

%section.why-use-integrations
  .wrapper
    %h2.centered
      =hoc_s("lms_page.reasoning.heading")
    = view :"lms/lms_editorial_cards"

%section.quote.bg-neutral-dark
  .wrapper
    %div.quotes-wrapper
      %p.quote-text.large
        =hoc_s("lms_page.teacher_quote.text_01")
      %p.no-margin-bottom
        =hoc_s("lms_page.teacher_quote.role_01")
        %span •
        Indiana

%section#get-started.bg-neutral-light
  .wrapper
    %h2.centered
      =hoc_s("lms_page.get_started.heading")
    = view :"lms/lms_get_started"

%section
  .wrapper
    %h2.centered
      =hoc_s("lms_page.additional_resources.heading")
    %p.centered
      =hoc_s("lms_page.additional_resources.desc")
    = view :"lms/lms_additional_resources"

= view :analytics_event_log_helper, event_name: AnalyticsConstants::LMS_PAGE_VISITED_EVENT
