---
title: Matching Gifts
theme: responsive_full_width
---

:scss
  #dd-container {
    margin-top: 3em;
  }

:javascript
  var DDCONF = { API_KEY: "#{CDO.ddconf_api_key}" };
%script{src: "https://doublethedonation.com/api/js/ddplugin.js"}

%link{href: "/css/generated/design-system-pegasus.css", rel: "stylesheet"}

%section
  .wrapper
    %h1 Matching gifts
    = view :double_the_donation
