---
title: Matching Gifts
theme: responsive_full_width
---

:scss
  #dd-container {
    margin-top: 3em;
  }

%link{href: "/css/generated/design-system-pegasus.css", rel: "stylesheet"}

%section
  .wrapper
    %h1 Matching gifts
    = view :double_the_donation
