---
title: Minecraft
theme: responsive
social:
  "twitter:card": photo
  "twitter:site": "@codeorg"
  "twitter:url": "http://code.org/mc"
  "twitter:image:src" : "https://code.org/images/mc/mc_social.jpg"
  "twitter:title": "Minecraft Hour of Code"
  "twitter:description": "Use blocks of code to take Steve or Alex on an adventure through this Minecraft world"
  "og:title": "Minecraft Hour of Code"
  "og:description": "Use blocks of code to take Steve or Alex on an adventure through this Minecraft world"
  "og:image" : "https://code.org/images/mc/mc_social.jpg"
  "og:image:width": "1020"
  "og:image:height": "573"
  "og:video": ""
  "og:video:width": ""
  "og:video:height": ""
  "og:video:type": ""
---

%link{href: "/css/mc.css", rel: "stylesheet"}

%div{style: "clear:both"}

%div.mc-container
  %div.img-container
    %img.mc-img{src:"/images/mc/MC_Wide_V2.jpg"}
  %div.mc-heading
    %img.mc-logo{src: "/images/mc/MC_Logo_Small.png"}
  %h1.mc-h1 Hour of Code

  .mc-tutorial{style: "left: 430px;"}
    %div.tutorial-box
      %div.mc-tutorial-info
        %h1.mc-h1-second-box Minecraft Hour of Code
        %p.mc-tutorial-description Use blocks of code to take Steve or Alex on an adventure through this Minecraft world
        %p.mc-tutorial-specs Major languages | Modern browsers and tablets | Ages 6+
      %a{:href => CDO.studio_url('/s/mc/reset'), :target=>'_self'}
        %button= I18n.t(:starwars_javascript_start_button)

%div{style: "clear:both"}

%div.mc-videos{style: "clear: both;"}
  %h2= I18n.t(:starwars_watch_videos)
  =view :inspirational_videos, :mc=>true

%span= I18n.t(:starwars_speak_languages)
%a{href: "/translate"}= I18n.t(:starwars_help_translate)
