---
title: Minecraft
theme: responsive
social:
  "twitter:card": photo
  "twitter:site": "@codeorg"
  "twitter:url": "http://code.org/starwars"
  "twitter:image:src" : "https://code.org/images/star-wars-announcement.jpg"
  "twitter:title": "Star Wars: Building a Galaxy with Code"
  "twitter:description": "Learn to program droids, and create your own Star Wars game in a galaxy far, far away."
  "og:title": "Star Wars: Building a Galaxy with Code"
  "og:description": "Learn to program droids, and create your own Star Wars game in a galaxy far, far away."
  "og:image" : "https://code.org/images/star-wars-announcement.jpg"
  "og:image:width": "1020"
  "og:image:height": "573"
  "og:video": ""
  "og:video:width": ""
  "og:video:height": ""
  "og:video:type": ""
---

%link{href: "/css/minecraft.css", rel: "stylesheet"}

%div{style: "clear:both"}

%div.starwars-container
  %div.img-container
    %img.starwars-img{src:"/images/minecraft/MC_Wide_Mock.jpg"}
  %h1.starwars-heading{style: ""} Minecraft Hour of Code

  .col-50.starwars-tutorial{style: "left: 440px;"}
    %div.tutorial-box
      %div.sw-tutorial-info
        %p.sw-tutorial-description Navigate through Minecraft using drag and drop blocks of code.
        %p.sw-tutorial-specs Major languages | Modern browsers | Ages 6+
      %a{:href => CDO.studio_url('/s/starwars/reset'), :target=>'_self'}
        %button= I18n.t(:starwars_javascript_start_button)

%div{style: "clear:both"}

%div.starwars-videos{style: "clear: both;"}
  %h2= I18n.t(:starwars_watch_videos)
  =view :inspirational_videos

%span= I18n.t(:starwars_speak_languages)
%a{href: "/translate"}= I18n.t(:starwars_help_translate)
