---
title: Minecraft
theme: responsive
social:
  twitter:card: photo
  twitter:site: "@codeorg"
  twitter:url: http://code.org/minecraft
  twitter:image:src: https://code.org/images/mc/mc_social_2017.jpg
  twitter:title: Minecraft Hour of Code
  og:title: Minecraft Hour of Code
  og:image: https://code.org/images/mc/mc_social_2017.jpg
  og:image:width: '1200'
  og:image:height: '630'
  og:video: ''
  og:video:width: ''
  og:video:height: ''
  og:video:type: ''
video_player: true
style_min: true
---

:ruby
  @header["social"]["twitter:description"] = I18n.t(:minecraft_og_agent)
  @header["social"]["og:description"] = I18n.t(:minecraft_og_agent)

= view :minecraft_2019
