---
title: Native American and Indigenous Peoples Initiative
theme: responsive
video_player: true
---

<link href="/shared/css/course-blocks.css", type="text/css", rel="stylesheet"></link>

<style>
  details summary {
    cursor: pointer;
  }
</style>

<h1> Native American and Indigenous Peoples Initiative</h1>

<p>Native American communities have unique experiences, barriers, and challenges in offering and fully engaging in computer science (CS) education in their K-12 systems. Data gathered in the <a href="https://code.org/yourschool/about" target=_blank>K-12 Computer Science Access Report</a> shows that Native American students are far less likely to attend a school that offers computer science (59% as opposed to the next lowest access group, Black students at 73%). This is even more significant than it seems since many students attending schools with access are likely attending schools in or near urban centers. Therefore, the disparity is even larger for Native American students attending school within rural and majority native communities. </p>
<br>

<p align="center"><img src="/images/Disp_race2021.png" width="600" class="center">
<br><br>
<img src="/images/51HS20Res.png" width="500" class="center"><br>
<small>Source: 2021 State of CS Report, <a href="https://advocacy.code.org/stateofcs" target=_blank>advocacy.code.org/stateofcs</a></small></p>
<br>
<br>
<p>To close these access gaps, Code.org and others across the CS education landscape must: </p>

<ol>
<li> better understand the specific reasons why Native American schools and students do not have access to CS education, and </li>
<li> take strategic and intentional approaches to increase participation by Native American K-12 students and the engagement of their teachers.</li>
</ol>
<p>Code.org is actively learning from students, teachers, and administrators and developing new relationships to learn how to better support Native communities. As we learn more, Code.org will take on specific activities, programs, and partnerships to help make computer science more accessible in indigenous communities.<br>
<br>The gatherings and resources below represent a starting point for our ongoing collaboration with Native American and Indigenous communities.</p>


<h2> Indigenous Communities & K-12 CS Education Virtual Summit</h2>
November 4-5, 2021

<p>This summit brought together colleagues, administrators, teachers, policy makers, and advocates to discuss K-12 Computer Science Education in Native American communities.  Video recordings of two sessions will be added below.  More resources discussed at the summit to be shared soon.</p>

<p>This virtual event was held under three banners: <br>
<a href="https://nativesintech.org/" target=_blank>Natives in Tech</a> Annual Conference, <a href="http://Code.org" target=_blank>Code.org</a>, and <a href="https://www.csedcon.com/" target=_blank>CSEdCon</a> (The Global Computer Science Education Conference).</p>

<br>

<div class="col-40" style="padding-right: 20px; padding-bottom: 20px; padding-top: 30px">
  <%= view :display_video_thumbnail, id: 'naipi_kimball', video_code: 'yZDP8bI_DNY', play_button: 'center', letterbox: 'false' %>
</div>

<div class="col-60">
<h3>First Steps to CS Education in Our K-12 Schools: Solving Broadband</h3>
 <br>
Welcome:<br>
Andrea Delgado-Olson, Executive Director | Natives in Tech <br>
Jackie Smalls, Chief Programs Officer | Code.org<br>
<br>
Keynote: <strong>Kimball Sekaquaptewa</strong>, Chief Technology Officer | Sante Fe Indian School<br></div>
<div style="clear:both"></div>
<div class="col-40" style="padding-right: 20px; padding-bottom: 20px; padding-top: 40px">
  <%= view :display_video_thumbnail, id: 'naipi_panel2021', video_code: '1V68y0rjyLU', play_button: 'center', letterbox: 'false' %>
</div><div class="col-60">
  <h3>Panel: Indigenous Communities and K-12 Computer Science Education </h3>
 <br>
<u>Moderator:</u> <strong>Ian Her Many Horses</strong>, Assistant Teaching Professor | CU Boulder; Board Member | Natives in Tech<br>
<br>
<u>Panelists:</u><br>
<strong>Frieda McAlear</strong>, Senior Research Associate | Kapor Center<br>
<strong>Elisabeth Holm</strong>, Founder | Sisterhood of Native American Coders (SONAC)<br>
<strong>Jennifer Flanagan</strong>, President & CEO | Actua (Canada)<br>
<strong>Zoe Timbrell</strong>, Kaiwhakahaere | OMGTech (New Zealand)<br>
<br></p>
</div>
<div style="clear:both"></div>


<h2>Resources</h2>
<p>The following resources were shared among the community at the 2021 Indigenous Communities & K-12 CS Education Virtual Summit.<br>
More resources to come! Have resources to add? Email naipi@code.org.</p>

<p><strong>Sisterhood of Native American Coders</strong></p>
<ul><li>Programs for Native American girls ages 9-12!</li>
<li><a href="https://sisterhoodofnativeamericancoders.org/" target=_blank>https://sisterhoodofnativeamericancoders.org/</a></li></ul>

<p><strong>Indigenous Leadership in Technology (BC, Canada)</strong></p>
<ul><li>In January 2019, the First Nations Technology Council completed the initial phase of a first-of-its-kind, multi-year project entitled, Indigenous Leadership in Technology: Understanding Access and Opportunities in BC.</li>
<li>Digital equity; spectrum sovereignty</li>
<li><a href="https://www.technologycouncil.ca/our-work/" target=_blank>https://www.technologycouncil.ca/our-work/</a></li></ul>

<p><strong>Colouring In Your Virtual White Spaces (New Zealand)</strong></p>
<ul><li>Looking at "Critical, Culturally Sustaining, Virtual Spaces" in New Zealand</li>
<li>Maori Learning</li>
<li><a href="https://www.annmilne.co.nz/blog/colouring-in-your-virtual-white-spaces" target=_blank>https://www.annmilne.co.nz/blog/colouring-in-your-virtual-white-spaces</a></li></ul>

<p><strong>Free CS Curricula and PD</strong></p>
<ul><li><a href="https://www.csteachers.org/page/quality-pd" target=_blank>CSTA List of PD Opportunities</a></li>
<li><a href="https://scratch.mit.edu/" target=_blank>MIT SCRATCH</a></li>
<li><a href="https://appinventor.mit.edu/" target=_blank>MIT App Inventor</a></li>
<li><a href="https://www.exploringcs.org/" target=_blank>Exploring CS</a></li>
<li><a href="https://www.helloruby.com/" target=_blank>Hello Ruby</a></li>
<li><a href="https://www.csunplugged.org" target=_blank>CS Unplugged</a></li>
<li><a href="https://code.org/educate/curriculum/3rd-party" target=_blank>List of non-Code.org CS Resources</a></li>
</ul>


<h2>Get Involved</h2>
Are you a teacher?  Indigenous community leader?  Funder?  Curious about how to get involved?  <br>
Contact naipi@code.org to explore how we can work together.
