---
title: Native American and Indigenous Peoples Initiative
theme: responsive_full_width
---

%link{href: "/css/generated/design-system-pegasus.css", rel: "stylesheet"}
%link{href: "/css/generated/page/naipi-styles.css", rel: "stylesheet"}

%section.hero-banner-basic
  .wrapper.flex-container.justify-space-between.align-items-center.wrap
    .text-wrapper
      %h1{style: "color: white"}
        =hoc_s(:naipi_page_heading)

%section
  .wrapper
    %div.col-50{style: "margin: .5rem 0 1rem;"}
      = view :display_video_thumbnail, id: "naipi_intro", video_code: "DtCD203NCAk", play_button: 'center', letterbox: 'false', download_path: "//videos.code.org/naipi-intro.mp4"
    .text-wrapper.col-45{style: "float: right;"}
      %h2=hoc_s(:naipi_page_intro_heading)
      %p=hoc_s(:naipi_page_intro_desc)
  .clear

%section.bg-neutral-light
  .wrapper
    %h2.centered=hoc_s(:naipi_page_perspectives_heading)
    %p.centered=hoc_s(:naipi_page_perspectives_desc)
    = view :naipi_modules
    %hr
    %div.centered
      %h4=hoc_s(:teach_page_free_curriculum_heading_02)
      %p=hoc_s(:teach_page_free_curriculum_desc)
      .button-wrapper.centered
        %a.link-button.secondary{href: CDO.studio_url("/catalog?grade=grade_1&grade=grade_2&grade=grade_3&grade=grade_4&grade=grade_5&grade=kindergarten")}
          =hoc_s(:grade_level_label_elementary)
        %a.link-button.secondary{href: CDO.studio_url("/catalog?grade=grade_6&grade=grade_7&grade=grade_8")}
          =hoc_s(:grade_level_label_middle)
        %a.link-button.secondary{href: CDO.studio_url("/catalog?grade=grade_10&grade=grade_11&grade=grade_12&grade=grade_9")}
          =hoc_s(:grade_level_label_high)

%section.quote.bg-neutral-dark
  .wrapper
    %div.quotes-wrapper
      %p.quote-text.large
        =hoc_s(:naipi_page_quote_desc)
      %p.no-margin-bottom
        Richard Winn,
        =hoc_s(:naipi_page_quote_teacher_title)
        %span •
        Wyoming Indian High School

%section.no-padding-bottom
  .wrapper
    .flex-container.justify-space-between.align-items-center.wrap.gap-2
      %figure.col-47
        %img.rounded-corners{src: "/images/naipi/naipi-page-students-gap.png", alt: "", style: "width: 100%;"}
      .text-wrapper.col-47
        %h2=hoc_s(:naipi_page_gaps_heading)
        %p=hoc_s(:naipi_page_gaps_desc)
        %p.has-external-link
          %strong
            =hoc_s(:naipi_page_gaps_learn_more, markdown: :inline, locals: {state_of_cs_report_url: "https://advocacy.code.org/stateofcs"})
    .clear

%section
  .wrapper
    .flex-container.justify-space-between.align-items-center.wrap-reverse.gap-2
      .text-wrapper.col-47
        %h2=hoc_s(:naipi_page_support_heading)
        %p=hoc_s(:naipi_page_support_desc)
      %figure.col-47
        %img.rounded-corners{src: "/images/naipi/naipi-page-teacher-support.png", alt: "", style: "width: 100%;"}
    .clear

%section.bg-neutral-light
  .wrapper
    %h2.centered
      =hoc_s(:naipi_page_get_involved_heading)
    = view :"naipi/naipi_editorial_cards"

%section.partners
  .wrapper
    %h2=hoc_s(:naipi_page_engage_heading)
    .logos.flex-container.justify-start.wrap
      %a{href: "https://indigitize.org", target: "_blank", rel: "noopener noreferrer"}
        %img{src: "/images/avatars/indigitize.png", alt: hoc_s(:naipi_page_engage_alt_text_indigitize)}
      %a{href: "https://aises.org", target: "_blank", rel: "noopener noreferrer"}
        %img{src: "/images/avatars/aises.png", alt: hoc_s(:naipi_page_engage_alt_text_aises)}
    %p.no-margin-bottom.overline-one
      =hoc_s(:naipi_page_engage_regional_partners)
    = view :"naipi/naipi_regional_partners"
    %hr.light
    %h3=hoc_s(:naipi_page_engage_other_ways_heading)
    %p=hoc_s(:naipi_page_engage_other_ways_desc, markdown: :inline, locals: {email_url: "mailto:naipi@code.org"})
    %a.link-button{href: "mailto:naipi@code.org"}
      =hoc_s(:naipi_page_engage_other_ways_cta_label)
