---
title: Coding with Poetry
theme: responsive
set_dir: true
social:
  "og:title": "Coding with Poetry"
  "twitter:title": "Coding with Poetry"
  "og:description": "Students learn about computer science concepts and writing poetry in this CS Connections module."
  "twitter:description": "Students learn about computer science concepts and writing poetry in this CS Connections module."
  "og:image": "https://code.org/images/social-media/poetry-og-image-1200x630.png"
  "og:image:width": 1200
  "og:image:height": 630
  "twitter:card": "summary_large_image"
  "twitter:image:src": "https://code.org/images/social-media/poetry-og-image-1200x630.png"
---

%link{href: "/css/generated/page/poetry-styles.css", rel: "stylesheet"}

%p
  Test content

