---
title: Certificates
layout: page_print
allow_post: true
theme: none
---

-if ! request.params['course'].nil? && ! request.params['course'].empty?
  -course = request.params['course']
-else
  -course = ScriptConstants::HOC_NAME

%div.hide-print
  -case course
    -when ScriptConstants::TWENTY_HOUR_NAME
      %h1 K-8 Intro to Computer Science Course Certificates
    -when ScriptConstants::HOC_NAME
      %h1 Hour of Code Certificates
    -when ScriptConstants::ARTIST_NAME
      %h1 Artist Certificates
    -when ScriptConstants::COURSE1_NAME
      %h1 Course 1 Certificates
    -when ScriptConstants::COURSE2_NAME
      %h1 Course 2 Certificates
    -when ScriptConstants::COURSE3_NAME
      %h1 Course 3 Certificates
    -when ScriptConstants::COURSE4_NAME
      %h1 Course 4 Certificates
    -when ScriptConstants::FROZEN_NAME
      %h1 Frozen Certificates
    -when ScriptConstants::PLAYLAB_NAME
      %h1 Play Lab Certificates
    -when ScriptConstants::GUMBALL_NAME
      %h1 Gumball Play Lab Certificates
    -when ScriptConstants::ICEAGE_NAME
      %h1 Ice Age Play Lab Certificates
    -when ScriptConstants::FLAPPY_NAME
      %h1 Flappy Bird Certificates
    -when ScriptConstants::MINECRAFT_NAME
      %h1 Minecraft Certificates
    -when ScriptConstants::INFINITY_NAME
      %h1 Infinity Certificates
    -when ScriptConstants::ARTIST_NAME
      %h1 Artist Certificates
    -else
      %h1 Code.org Certificates

  %p Ready to print?
  %p Look at your certificates first to make sure they're correct before you waste a lot of paper.

  %p
    %b IMPORTANT:
    Make sure you print in Landscape orientation (sideways, not regular), so the certificates fill a full page.

  %p
    When you're ready...
    %button{:onclick=>"window.print(); return false;"} Print

  .page-break

-names = request.params['names']
-unless names.nil_or_empty?
  -count = 0
  -names.split("\n").reject{ |s| s.strip.empty? }.shift(30).each do |name|
    -unless count == 0
      .page-break
    -name.chomp!
    -encoded = Base64.urlsafe_encode64(name)
    %img{:src=>"/api/hour/certificate64/#{course}/#{encoded}.jpg", :width=>"100%"}
    -count += 1
  -slog(tag: 'print_certificates', course: course, count: count)
