---
title: Certificates
layout: page_print
theme: none
---
-course = request.params['course'] || 'hoc'

%div.hide-print
  -if course == "20hours"
    %h1 K-8 Intro to Computer Science Course Certificates
  -else
    %h1 Hour of Code Certificates
  %p Ready to print?
  %p Look at your certificates first to make sure they're correct before you waste a lot of paper.

  %p
    %b IMPORTANT:
    Make sure you print in Landscape orientation (sideways, not regular), so the certificates fill a full page.

  %p
    When you're ready...
    %button{:onclick=>"window.print(); return false;"} Print

  .page-break

-names = request.params['names']
-unless names.nil_or_empty?
  -count = 0
  -names.split("\n").shift(30).each do |name|
    -unless count == 0
      .page-break
    -name.chomp!
    -encoded = Base64.urlsafe_encode64(name)
    %img{:src=>"/api/hour/certificate64/#{course}/#{encoded}.jpg", :width=>"100%"}
    -count += 1
  -slog(tag: 'print_certificates', course: course, count: count)
