---
title: Leaders and trend-setters all agree on one thing
theme: responsive
---
-facebook = {:u=>'http://code.org/quotes'}
-twitter = {:url=>'http://code.org/quotes', :related=>'codeorg', :hashtags=>'hourofcode', :text=>'Leaders and trendsetters agree more students should learn computer science @codeorg'}

%h1 Leaders and trend-setters all agree on one thing
-i = 1
-DB[:cdo_quotes].each do |quote|
  -if i % 2 != 0
    .row{style: 'margin-bottom: 20px;'}
  #block.col-50.left{:style=>' width: 50%; margin-bottom: 10px;'}
    #headshot.col-18.left{:style=>'margin-bottom: 5px; margin-right: 15px;'}
      %img{:src=>quote[:image_url_s]}
    #text.col-66.left
      %h3{:style=> 'margin:0px;'}
        =quote[:name_s]
      %h4{:style=>'margin-top: 2px; margin-bottom: 5px; font-weight: 400; padding: 1px;'}
        -unless quote[:title_s].nil_or_empty?
          =quote[:title_s]
      %p{:style=>'padding-right:10px;'}
        =quote[:quote_t]
  -i += 1

#links{:style=>'clear:both;'}
  = view :share_buttons, facebook:facebook, twitter:twitter
