---
title: Thank you for reaching out!
theme: responsive_full_width
---

%link{href: 'shared/css/phase1-design-system.css', rel: 'stylesheet'}
%link{href: 'shared/css/phase1-design-system-supplement.css', rel: 'stylesheet'}

%section
  .wrapper.centered
    %h1 Thank you for reaching out!
    %p Thank you for your interest in using Code.org! We will be in touch soon with more information. In the meantime check out some of the amazing resources around our site.
    %img{src: "/images/thank-you-dance-party.png"}
