%script{:src => "https://www.google.com/recaptcha/api.js"}
:javascript
  function timestamp() { var response = document.getElementById("g-recaptcha-response"); if (response == null || response.value.trim() == "") {var elems = JSON.parse(document.getElementsByName("captcha_settings")[0].value);elems["ts"] = JSON.stringify(new Date().getTime());document.getElementsByName("captcha_settings")[0].value = JSON.stringify(elems); } } setInterval(timestamp, 500);
/ ----------------------------------------------------------------------
/ NOTE: Please add the following <FORM> element to your page.
/ ----------------------------------------------------------------------
%form{:action => "https://webto.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8", :method => "POST"}
  %input{:name => "captcha_settings", :type => "hidden", :value => "{\"keyname\":\"fixed\",\"fallback\":\"true\",\"orgId\":\"00Dj0000001sjyo\",\"ts\":\"\"}"}/
  %input{:name => "oid", :type => "hidden", :value => "00Dj0000001sjyo"}/
  %input{:name => "retURL", :type => "hidden", :value => "http://code.org/salesforce-form-thanks"}/
  / ----------------------------------------------------------------------
  / NOTE: These fields are optional debugging elements. Please uncomment
  / these lines if you wish to test in debug mode.
  / <input type="hidden" name="debug" value=1>
  / <input type="hidden" name="debugEmail" value="alek@code.org">
  / ----------------------------------------------------------------------
  %label{:for => "company"} Name of School District*
  %input#company{:maxlength => "40", :name => "company", :required => "", :size => "20", :type => "text"}/
  %label{:for => "city"} City*
  %input#city{:maxlength => "40", :name => "city", :required => "", :size => "20", :type => "text"}/
  %label{:for => "state"} State/Province*
  %input#state{:maxlength => "20", :name => "state", :required => "", :size => "20", :type => "text"}/
  %label{:for => "first_name"} First Name*
  %input#first_name{:maxlength => "40", :name => "first_name", :required => "", :size => "20", :type => "text"}/
  %label{:for => "last_name"} Last Name*
  %input#last_name{:maxlength => "80", :name => "last_name", :required => "", :size => "20", :type => "text"}/
  %label{:for => "title"} Title*
  %input#title{:maxlength => "40", :name => "title", :required => "", :size => "20", :type => "text"}/
  %label{:for => "email"} Email*
  %input#email{:maxlength => "80", :name => "email", :required => "", :size => "20", :type => "text"}/
  %label{:for => "00N5b00000DbmDP"} How did you learn about us?
  %select#00N5b00000DbmDP{:name => "00N5b00000DbmDP", :title => "How did you learn about us?"}
    %option{:value => ""} --None--
    %option{:value => "Code.org website"} Code.org website
    %option{:value => "Code.org email"} Code.org email
    %option{:value => "From a teacher"} From a teacher
    %option{:value => "From a local regional partner"} From a local regional partner
    %option{:value => "From another district"} From another district
    %option{:value => "From a state-level agency"} From a state-level agency
    %option{:value => "Conference"} Conference
    %option{:value => "Social media"} Social media
    %option{:value => "Other"} Other
  %input#lead_source{:name => "lead_source", :type => "hidden", :value => "Web Form - Administrators Page"}/
  .g-recaptcha{"data-sitekey" => "6LezdGMkAAAAADpS_8wn3yJV8of06uQcYiXHanEp"}
  %input{:name => "submit", :type => "submit"}/

