%script{:src => "https://www.google.com/recaptcha/api.js"}
:javascript
  function timestamp() { var response = document.getElementById("g-recaptcha-response"); if (response == null || response.value.trim() == "") {var elems = JSON.parse(document.getElementsByName("captcha_settings")[0].value);elems["ts"] = JSON.stringify(new Date().getTime());document.getElementsByName("captcha_settings")[0].value = JSON.stringify(elems); } } setInterval(timestamp, 500);
/ ----------------------------------------------------------------------
/ NOTE: Please add the following <FORM> element to your page.
/ ----------------------------------------------------------------------
%form{:action => "https://webto.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8", :method => "POST"}
  %input{:name => "captcha_settings", :type => "hidden", :value => "{\"keyname\":\"fixed\",\"fallback\":\"true\",\"orgId\":\"00Dj0000001sjyo\",\"ts\":\"\"}"}/
  %input{:name => "oid", :type => "hidden", :value => "00Dj0000001sjyo"}/
  %input{:name => "retURL", :type => "hidden", :value => "http://code.org"}/
  / ----------------------------------------------------------------------
  / NOTE: These fields are optional debugging elements. Please uncomment
  / these lines if you wish to test in debug mode.
  / <input type="hidden" name="debug" value=1>
  / <input type="hidden" name="debugEmail" value="alek@code.org">
  / ----------------------------------------------------------------------
  %label{:for => "first_name"} First Name
  %input#first_name{:maxlength => "40", :name => "first_name", :size => "20", :type => "text"}/
  %br/
  %label{:for => "last_name"} Last Name
  %input#last_name{:maxlength => "80", :name => "last_name", :size => "20", :type => "text"}/
  %br/
  %label{:for => "email"} Email
  %input#email{:maxlength => "80", :name => "email", :size => "20", :type => "text"}/
  %br/
  .g-recaptcha{"data-sitekey" => "6LezdGMkAAAAADpS_8wn3yJV8of06uQcYiXHanEp"}
  %br/
  %input{:name => "submit", :type => "submit"}/
