---
title: School Leadership Project Administrator Roadmap 
theme: responsive
video_player: true
---

<link href="/shared/css/course-blocks.css", type="text/css", rel="stylesheet"></link>

<link href="/css/educate.css" rel="stylesheet">

<style>
  details summary {
    cursor: pointer;
  }
</style>

<h1>How do I get started?</h1>

<div class="col-40" style="padding-right: 20px; padding-bottom: 20px">
  <%= view :display_video_thumbnail, id: 'cs_district', video_code: 'POiMh0qISpI', play_button: 'center', letterbox: 'false' %>
</div>

<div class="col-60">
The process for bringing computer science to your school or district will vary. We recommend building these 5 steps into your implementation plan.

<ul>
 <li><a href="#funding">Step 1: Allocate funding</a></li>
 <li><a href="#count">Step 2: Make computer science count</a></li>
 <li><a href="#schedule">Step 3: Add CS Principles to the school schedule</a></li>
 <li><a href="#prepare">Step 4: Select and prepare a teacher</a></li>
 <li><a href="#spread">Step 5: Spread the word</a></li>
</ul>
</div>

<div style="clear:both"></div>

<a id="funding"></a>
<h2> Step 1: Allocate funding</h2>

<h3>How much does it cost to offer AP CS Principles with the Code.org curriculum?</h3>

All Code.org curriculum materials are free — now and forever. Other costs, like devices and other classroom supplies, internet access, and administrative support, will vary by region and class size. We estimate classroom supplies costs to be less than $100 per 30 students.

<h3>What technology infrastructure will I need to run the class?</h3>

In order to teach our AP CS Principles course, students will need to be in a 1:1 computing environment. Check here to see if your school meets all the technical requirements for teaching Code.org.

<h3>How much does it cost to train a teacher?</h3>

There may be a fee associated with professional development (varies by region), but every region offers scholarships and discounts that your teacher or school may qualify for (<a href="https://code.org/educate/professional-learning", target=_"blank">check here</a>).

<h3>How can I afford to add another discipline and pay for an employee?
</h3>

A primary source of funding for CS is through a school or a district’s general fund and/or other statewide allocations. You may be able to leverage existing funding sources, such as grants in STEM, career pathways, CTE/Perkins, professional learning, etc., and direct them toward CS education. Other times, local PTAs or other parent organizations can help access funds, though parent engagement strategies will look different in different communities. Asking local industry to support is another way to garner additional funds. 

<center><img src="/images/slp/technology.jpg" style="width:70%"></center>

<a id="count"></a>
<h2>Step 2: Make computer science courses count</h2>

<h3>Is Code.org’s AP CS Principles course aligned to any standards?</h3>
Yes! Specifically, our course was written using both the K-12 Framework for Computer Science and the 2017 CSTA standards. Additionally, CS Principles was written to AP standards. View standards alignment for the course <a href="https://studio.code.org/courses/csp-2021/standards/", target=_"blank">here</a>.

<h3>Does computer science count toward a graduation requirement in my state?</h3>

<a href="https://docs.google.com/spreadsheets/d/1YtTVcpQXoZz0IchihwGOihaCNeqCz2HyLwaXYpyb2SQ/pubhtml#", target=_"blank">Take a look here</a> to see if your state allows computer science courses to count toward graduation (click the “Count” tab near the top).

<h3>What course code should I use for AP CS Principles?</h3>

Answer coming soon!

<h3>How can students earn college credit for taking AP CS Principles?</h3>

Students who take the AP CS Principles exam may qualify to earn college credit advanced college placement based on their exam score. Use the <a href="https://apstudents.collegeboard.org/getting-credit-placement/search-policies/course/42", target=_"blank">College Board AP Credit Policy Search tool</a> to learn more.

<a id="schedule"></a>
<h2>Step 3: Add CS Principles to the school schedule</h2>

<div class="col-50">

<h3>How much time should be allocated for the CS Principles class?</h3>

We recommend that CS Principles be taught as a full-year course, assuming that the class meets daily or nearly daily for 45 or more minutes each day. Full-year schedules where students are in class for a similar amount of time per week will also work.

<h3>Can AP CS Principles be taught as a semester course?</h3>

It is possible to teach the course on a semester block schedule, though we highly recommend this implementation only be used in the fall semester. Since the AP Performance Task is due in late April and requires 12 dedicated hours of class time to complete, most schools find there is not enough time to complete the course on a block schedule in the spring.

</div>

<div class="col-50">

<center><img src="/images/slp/students.jpg" style="width:90%; margin-top:40px"></center>

</div>

<div style="clear: both;"></div>

<a id="prepare"></a>
<h2>Step 4: Select and prepare a teacher</h2>

<div class="col-50">

<center><img src="/images/slp/teacher.jpg" style="width:90%; margin-top:10px"></center>

</div>

<div class="col-50">

<h3>Who should I hire to teach AP CS Principles?</h3>

There is no typical résumé for a CS teacher. While having a background in CS is useful, be sure to consider non-traditional candidates with past experience in technical or creative fields, like math or art. Hiring managers should prioritize pedagogical knowledge over CS content knowledge, or someone currently on staff could be the right person, which removes the additional challenge of onboarding a new hire. Code.org's courses are designed to be taught by teachers new to computer science. This means a strong teacher of any subject can become a successful CS teacher with the right mindset and support. 

</div>

<div style="clear: both;"></div>

<h3>What qualifications or certifications does a teacher need to teach AP CS Principles?</h3>

The answer will vary by state. You can find an overview of state certification requirements <a href="https://docs.google.com/spreadsheets/d/1YtTVcpQXoZz0IchihwGOihaCNeqCz2HyLwaXYpyb2SQ/pubhtml#", target=_"blank">here (click on the “Certification” tab near the top)</a>. 

<h3>What training will my teacher need?</h3>

We offer <a href="https://code.org/educate/professional-learning/middle-high", target=_"blank">professional development</a> for CS Principles. Our professional learning experiences are designed for teachers new to computer science, and <a href="https://medium.com/@codeorg/when-teachers-succeed-students-succeed-how-code-org-pd-aligns-with-essa-59eac5148401", target=_"blank">meet the six key criteria of the Every Student Succeeds Act (ESSA)</a>. 

<a id="spread"></a>
<h2>Step 5: Spread the word</h2>

<h3>Where can I find recruitment resources?</h3>

We have a number of suggestions and materials for encouraging students to take computer science. Find them all at <a href="https://code.org/educate/resources/recruit", target=_"blank">code.org/recruit</a>.

<div class="col-50" style="padding-right: 20px;">

<h4>Play this video</h4>

<%=view :display_video_thumbnail, id: "intro_csp", video_code: "jQm0z894CG0", play_button: 'center', letterbox: 'false' %>

[**YouTube**](http://www.youtube.com/watch?v=jQm0z894CG0) | 
[**Download**](https://videos.code.org/cs-principles/what-is-cs-principles.mp4)

<br>

</div>

<div class="col-50">

<h4>Hand out these fliers</h4>
<a href="https://code.org/files/programs/csp-student-flyer.pdf"><img src="https://code.org/images/csp/csp-student-flyer.png" style="width:203px"></a>
<a href="https://code.org/files/programs/csp-recruitment-poster.pdf"><img src="https://code.org/images/csp/csp-recruitment-poster.png" style="width:203px"></a>

</div>

<div style="clear:both"></div>

<h1>Want to learn more?</h1>

<i>[TBD structure - redirect to Regional Partner for local info]</i>

<br>









