---
title: Tools to Recruit Students
video_player: true
theme: responsive
---
# Encourage students to learn computer science!

<div class="col-50" style="padding-right: 20px;">

<img src="/images/2018-hoc-334-resized.jpg" style="width:90%; border-radius: 50%; border: 10px solid #59cad3">

</div>

<div class="col-50">

<h3> Here are our top five tips for recruiting students into your computer science class.</h3> 

<ol>
 <li> <a href="https://code.org/slp-counselors#outreach">Reach out to students personally.</a></li>
 <li> <a href="https://code.org/slp-counselors#videos">Show them how much fun they'll have in your class.</a></li>
 <li> <a href="https://code.org/slp-counselors#parents">Enlist the help of counselors and parents.</a></li>
 <li> <a href="https://code.org/slp-counselors#journeys">Explore the wide world of CS with students.</a></li>
 <li> <a href="https://code.org/slp-counselors#hoc">Run an Hour of Code.</a></li>
</ol>

</div>

<div style="clear: both;"></div>

<a id="outreach"></a>
## 1. Reach out to students personally.

The best way to recruit students into CS classes is by reaching out directly and **telling them you think they'd be good at it**. And, according to <a href="https://blog.google/outreach-initiatives/education/google-and-gallups-computer-science-education-research-six-things-know/", target=_"blank">Google's study</a>, students who have been encouraged by a teacher are 2.5 - 3 times more likely to be interested in learning CS. This is especially important when it comes to inspiring young women to try CS. 

### Send an encouraging email.

<details style="margin-left: 20px">
	<summary><strong>Click to expand our sample message, personalize, and send it!</strong></summary>
	<p>
	<br/>
Have you thought about taking computer science next year? I think you’d be great at it and I’m hoping you’ll sign up.

**CS Principles** is a collaborative course where you’ll be working together with your classmates to create your own apps, games, and programs. If you’re already into technology, that’s great, but you definitely don’t need any prior background with technology or computers to take this course. Just bring your creativity and interest in learning about how things work!

No matter what you want to do one day — whether it’s art, medicine, or history — computer science will help you make your ideas come to life. Watch this video to learn more about the things we'll do next year in [CS Principles](https://youtu.be/jQm0z894CG0)

Sign up for **CS Principles** today!

</details>

### Add a note to your student-facing school newsletter.

<details style="margin-left: 20px">
	<summary><strong>Click to expand sample text you can use.</strong></summary>
	<p>
	<br/>
Have you ever thought, *“I wish there was an app for that…”*? What if you got to use class time to *build* that app? You’re in luck. Next fall, **[SCHOOL NAME]** is offering computer science classes where you can learn how to go beyond just *using* computers. You’ll begin to *create* the games, apps, and programs you see a need for *today*. In **CS Principles** you can make a game, create an app, or build a webpage that your friends, family, and school can use! **You don’t need *any* experience to make awesome things in this class!** 

What else can you do with computer science? [Watch this inspiring video](https://youtu.be/QvyTEx1wyOY).

No matter what you want to do one day - whether it’s art, medicine, or history - computer science will help you make your ideas come to life. Sign up for **CS Principles** today!

</details>

### Hand out these fliers:

<a href="https://code.org/files/programs/csp-student-flyer.pdf"><img src="https://code.org/images/csp/csp-student-flyer.png" style="width:203px"></a>
<a href="https://code.org/files/programs/csp-recruitment-poster.pdf"><img src="https://code.org/images/csp/csp-recruitment-poster.png" style="width:203px"></a>

<br>

<a id="videos"></a>
## 2. Show them why it's important to learn CS.

<H3>Host an information session</H3>

Invite students to learn more about taking computer science.

<details style="margin-left: 20px">
	<summary><strong>Click to expand a 15-minute sample agenda you can use to grab their attention.</strong></summary>
	<p>
	<br/>
**2 minutes:** Welcome! 

* You’re here to learn about a class where you’ll explore the technology you use every day—and learn the foundations of how to create it! 
* You’ll gain skills that will help you in any career goal in the 21st century—business, art, engineering, policy, medicine, etc. 
* We have fun in this class. We solve problems, build things that you want to build, and learn how computers are changing the world. 

**3 minutes:** Show the CS Principles student recruitment video (see videos, above). </br>

**5 minutes:** Ask students to brainstorm apps they wish existed, or have them come up with questions about how something they use everyday actually works. Then, have them share out ideas or questions. Let them know they can start to tackle these problems in this computer science course. </br>

**5 minutes:** Answer questions from students about the course. </br>

Close by handing out recruitment flyers for [CS Principles](/files/programs/csp-student-flyer.pdf). 

If you have more time, run an Hour of Code activity to give students an idea of how fun and engaging this course will be. 

</details>

<H3>Play an inspirational video</H3>

Inspire your students to sign up by playing these videos, starring real-life CS Principles students who talk about the topics covered in each course and why your students should sign up. 

<div class="col-50" style="padding-right: 20px;">

<%=view :display_video_thumbnail, id: "intro_csp", video_code: "jQm0z894CG0", play_button: 'center' %>

[**YouTube**](http://www.youtube.com/watch?v=jQm0z894CG0) | 
[**Download**](https://videos.code.org/cs-principles/what-is-cs-principles.mp4)

</div>

<div class="col-50" style="padding-right: 20px;">

<%=view :display_video_thumbnail, id: "cs_changing_everything", video_code: "QvyTEx1wyOY", play_button: 'center' %>

[**YouTube**](https://www.youtube.com/watch?time_continue=1&v=QvyTEx1wyOY) |
[**Download**](https://videos.code.org/social/cs-is-everything.mp4)

</div>

<p style="clear:both">&nbsp;</p>

<a id="parents"></a>

## 3. Enlist the help of parents.

Did you know that <a href="https://docs.google.com/document/d/1gySkItxiJn_vwb8HIIKNXqen184mRtzDX12cux0ZgZk/pub#h.aqjcgz8ilft", target=_"blank">over 90% of parents want their children to learn CS</a>? Let parents know about the opportunity for their student to enroll in CS Principles.

<details style="margin-left: 20px">
	<summary><strong>Click to expand sample text you can use for a blurb in a parent-facing newsletter.</strong></summary>
	<p>
	<br/>
**[SCHOOL NAME]** is offering computer science classes this fall that will unlock an entirely new future for students. In our modern world, it’s no longer enough to learn how to *use* technology; it’s foundational to learn what goes into *building* technology. No matter what career a student wants to pursue, a background in computer science will be relevant. In **CS Principles**, students will begin to create programs, games, and apps that can help their communities today! Whether they build a game for a younger sibling, create an app that keeps track of a family schedule, or make a webpage to organize a community event, your child will learn the basics of the technology that’s changing the world. And we hope they'll be inspired to be major players in that change. 

**[SCHOOL NAME]** is offering these classes through regional partnerships with Code.org, a nonprofit dedicated to giving every K-12 student in the US the opportunity to learn computer science. This fall, we will offer **CS Principles** for students—**no computer science experience necessary**. Encourage your child(ren) to sign up. This is an opportunity that will open up collaboration, creativity, and passion as students learn and build together. 

Want to learn more? Contact **[TEACHER NAME]** at **[TEACHER EMAIL ADDRESS]** with questions.

</details>

<a id="journeys"></a>
## 4. Explore the wide world of CS with students.

Connecting what students can learn in CS Principles to the real world not only enables them to better understand concepts but also excites and inspires them to get started in CS.

We've created [easy-to-use resources](/csjourneys) designed to help you to excite, encourage, and empower your students to begin their CS journeys.

[<img src="/images/csjourneys/csjourneys.png" alt="CS Journeys" style="width:500px; max-width:100%; margin-top:35px">](/csjourneys)

<a id="hoc"></a>
## 5. Run an Hour of Code.

Get your students excited about computer science with an Hour of Code activity. Check out the dozens of activities created by Code.org and our partners at [HourofCode.com](https://hourofcode.com). 

[<img src="/images/tutorials/hoc2019/dance-2019.png">](/learn)

<a id="posters"></a>

## Additional Resources

- <a href="https://code.org/slp-administrators", target=_"blank">Work with your administrators to develop a plan</a> to bring CS Principles to your school/district.
- <a href="https://code.org/girls", target=_"blank">Inspire girls and young women</a> to try CS.
- <a href="https://code.org/inspire", target=_"blank">Play an inspirational video</a> featuring celebrities and role models.
- <a href="https://code.org/educate/resources/posters">Check out our full poster gallery!</a>

[![image](/images/fit-200/kieran_rory_CS_recruitment.png)](/files/programs/kieran_rory_CS_recruitment.pdf)
[![image](/images/fit-200/kulkarni_parker_CS_recruitment.png)](/files/programs/kulkarni_parker_CS_recruitment.pdf)
[![image](/images/fit-200/madison_maxey_CS_recruitment.png)](/files/programs/madison_maxey_CS_recruitment.pdf)
[![image](/images/fit-200/javier_aguera_CS_recruitment.png)](/files/programs/javier_aguera_CS_recruitment.pdf)


[![image](/images/fit-150/malala.png)](/files/malala-poster.pdf)
[![image](/images/fit-150/obama-new-old.png)](/files/obama-poster-new.pdf)
[![image](/images/fit-150/sheryl-sandberg.png)](/files/sheryl-poster.pdf)

<a id="info"></a>

<hr>

<a name="urg">*</a>Students who are Black / African American, Hispanic/Latino/Latina/Latinx, Native American/Alaskan, and Native Hawaiian/Pacific Islander

<!--

<a id="hoc"></a>
 
## Run an Hour of Code.

Get your students excited about computer science with an Hour of Code activity. Check out the dozens of activities created by Code.org and our partners at [HourofCode.com](https://hourofcode.com). 


<a id="blurbs"></a>

## Add blurbs about computer science courses in a student or parent newsletter.
Teachers, counselors, and administrators can add a blurb to a student or parent email, or feature it prominently in a newsletter. 

### **High School or Middle School**

* **For parents:** </br>

**[SCHOOL NAME]** is offering computer science classes this fall that will unlock an entirely new future for students. In our modern world, it’s no longer enough to learn how to *use* technology; it’s foundational to learn what goes into *building* technology. No matter what career a student wants to pursue, a background in computer science will be relevant. In our new classes, students will begin to create programs, games, and apps that can help their communities today! Whether they build a game for a younger sibling, create an app that keeps track of a family schedule, or make a webpage to organize a community event, your child will learn the basics of the technology that’s changing the world. And we hope they'll be inspired to be major players in that change. 

**[SCHOOL NAME]** is offering these classes through regional partnerships with Code.org, a nonprofit dedicated to giving every K-12 student in the US the opportunity to learn computer science. This fall, we will offer **[[Computer Science Discoveries](/csd) or [AP Computer Science Principles](/csp)]** for students—**no computer science experience necessary**. Encourage your child(ren) to sign up. This is an opportunity that will open up collaboration, creativity, and passion as students learn and build together. 

What’s this all about? [Watch this inspiring video](http://www.youtube.com/watch?v=nKIu9yen5nc).

* **For students (feature in student newspaper or email):** </br>

Have you ever thought, *“I wish there was an app for that…”*? What if you got to use class time to *build* that app? You’re in luck. Next fall, **[SCHOOL NAME]** is offering new classes unlike any you’ve taken before. You’ll learn how to go beyond just *using* computers—you’ll begin to *create* the games, apps, and programs you see a need for *today*. **[SCHOOL NAME]** is excited to offer you a class where you can make a game, create an app, or build a webpage that your friends, family, and school can use!. The best part is that **you don’t need *any* experience to make awesome things in this class**. 

What else can you do with computer science? [Watch this inspiring video](http://www.youtube.com/watch?v=nKIu9yen5nc).

No matter what you want to do one day—whether it’s art, medicine, or history—computer science will help you make your ideas come to life. Sign up for **[COURSE NAME]** today. 

-->

<br />
<br />