---
title: Nominate Student of the Month
nav: educate_nav
theme: responsive
---

# Inspirational students

<%= view :three_circles, circles: [
{img: '/images/fit-150/sotm36.jpg', text: '"Everyone should have a chance to try coding!" — Joshua'},
{img: '/images/fit-150/sotm35.jpg', text: '"Because of coding I can make something I\'m passionate about." — Lauren'},
{img: '/images/fit-150/sotm34.jpg', text: '"Even when I\'m stuck, I know I can find a way to make the code work." — Amy'}] %>

</br>
<a href="http://blog.code.org/tagged/SOTM"><button>See all</button></a>

<br />
<br />
[See inspirational teachers](/totm)
