---
title: Star Wars
theme: responsive
social:
  "twitter:card": photo
  "twitter:site": "@codeorg"
  "twitter:url": "http://code.org/starwars"
  "twitter:image:src" : "https://code.org/images/star-wars-announcement.jpg"
  "twitter:title": "Star Wars: Building a Galaxy with Code"
  "twitter:description": "Learn to program droids, and create your own Star Wars game in a galaxy far, far away."
  "og:title": "Star Wars: Building a Galaxy with Code"
  "og:description": "Learn to program droids, and create your own Star Wars game in a galaxy far, far away."
  "og:image" : "https://code.org/images/star-wars-announcement.jpg"
  "og:image:width": "1020"
  "og:image:height": "573"
  "og:video": ""
  "og:video:width": ""
  "og:video:height": ""
  "og:video:type": ""
---

%link{href: "/css/starwars.css", rel: "stylesheet"}

%div{style: "clear:both"}

%div.starwars-container
  %div.img-container
    %img.starwars-img{src:"/images/sw_landingpage.jpg"}
  %h1.starwars-heading Building a Galaxy with Code

  .col-25.starwars-tutorial{style: "right: 20px;"}
    %div.tutorial-box
      %h2.sw-h2 JavaScript
      %div.sw-tutorial-info
        %p.sw-tutorial-description
          Use drag-drop blocks and JavaScript.
        %p.sw-tutorial-specs
          English only | Modern browsers | Ages 11+
      %a{:href => CDO.studio_url('/s/starwars/reset'), :target=>'_self'}
        %button.sw-try-button Try now

  .col-25.starwars-tutorial{style: "right: 270px;"}
    %div.tutorial-box
      %h2.sw-h2 Blocks
      %div.sw-tutorial-info
        %p.sw-tutorial-description
          Use drag-drop blocks.
        %p.sw-tutorial-specs
          Many languages | Modern browsers, smartphones, tablets | Ages 6-10
      %a{:href => '#'}
        %button.disabled.sw-disabled{disabled:"disabled"} Coming soon

%div{style: "clear:both"}

%div.starwars-videos{style: "clear: both;"}
  %h2 Before you get started, watch one of these inspirational videos
  =view :inspirational_videos

Speak another language?
%a{href: "/translate"}
  Help us translate