---
title: Star Wars
theme: responsive
---

%link{href: "/css/starwars.css", rel: "stylesheet"}

%img.header-banner{src: "/images/starwars_banner.jpg"}

%h2.padded-header Star Wars tutorial available for download
.padded-smalltext
  If you have an internet connection in your classroom, we recommend the
  %a{href: CDO.code_org_url("/starwars")} online verison
  of the tutorial. But, if you have poor or no internet connectivity in your classroom, you can download an offline version of the tutorial and install it on your students' computers before the Hour of Code.

%h2.padded-header Steps:
%ol
  %li Choose your Operating System (only available for Mac and PC at this time)
  %li Choose your language
  %li Download the Zip file
  %li Copy it to each computer in the classroom
  %li Unzip and install the Hour of Code application

%h2.padded-header Would you rather do the Hour of Code without computers?
.padded-smalltext
  You can also try an unplugged lesson with your class. These can be done indoors or outdoors with any grade level and without any computers. Go to
  %a{href: CDO.code_org_url("/learn")} https://code.org/learn
  and scroll down to the "unplugged" category.
