---
title: Hour of Code with Star Wars
theme: responsive
social:
  "og:title": "Hour of Code tutorial features Star Wars: The Force Awakens"
  "og:description": "Build-your-own-game lesson Features Leia and Rey from Star Wars: The Force Awakens, as well as R2-D2, C-3PO and BB-8 in honor of the Hour of Code campaign coming in December."
  "og:image": "http://code.org/images/star-wars-announcement.jpg"
  "og:image:width": 1200
  "og:image:height": 628
  "og:video": ""
  "og:video:width": ""
  "og:video:height": ""
  "og:video:type": ""
---

# Code.org, Disney and Star Wars launch Hour of Code "build-your-own-game" tutorial to broaden computer science participation
## Lesson Features Leia and Rey from Star Wars: The Force Awakens, <br />as well as R2-D2, C-3PO and BB-8

<div style="float: left;">
<% facebook = {:u=>'http://code.org/star-wars-announcement'} %>
<% twitter = {:url=>'http://code.org/star-wars-announcement', :related=>'codeorg', :text=>'Code-your-own-game lesson features Star Wars: The Force Awakens @codeorg #HourOfCode'} %>
<%= view :share_buttons, facebook:facebook, twitter:twitter %>
</div>

<%= view "popup_window.js" %>

<br style="clear: both;">

[letter]

### November 9, 2015 

**SEATTLE, WA. and GLENDALE, CA. (Nov. 9, 2015)** – Today, Code.org unveiled a Star Wars-themed computer science tutorial featuring Princess Leia, C-3PO and R2-D2 as well as Rey and BB-8 from the upcoming film Star Wars: The Force Awakens. The online lesson kicks off the third-annual global [Hour of Code](https://hourofcode.com/) campaign, in honor of Computer Science Education Week, December 7-13, 2015.

Thanks to Disney and Star Wars, students will learn to write code that allows them to create fun challenges and games using Star Wars characters. Participants will join forces with Rey to guide BB-8 through a space mission, then team up with Princess Leia to build their own game featuring R2-D2 or C-3PO. Students will also be able to play their completed games on smartphones, and share them with friends and family through a unique link. 

“For generations, Star Wars has sparked kids’ curiosity and imagination, and we hope the appeal of characters like Princess Leia and Rey will help fuel greater participation in science and math, especially among girls, around the world,” said Kathleen Kennedy, President, Lucasfilm, a subsidiary of The Walt Disney Company. “Computer science has helped shape our legacy and changed the way movies are made, which is why programs like the Hour of Code are so important to us.”

This is the second year Disney has worked with Code.org on a coding tutorial featuring Disney characters. Last year’s tutorial — which President Obama participated in at the White House for the Hour of Code last December — has been completed more than 13 million times and tapped Anna and Elsa from Walt Disney Animation Studio’s blockbuster film “Frozen.” More than 100 million students across 180 countries have tried an Hour of Code tutorial, including one in three students in US schools, according to Code.org estimates.

Code.org’s new “Star Wars: Building a Galaxy with Code” lesson for the Hour of Code 2015 aims to nurture creativity and teach logic and problem solving through basic computer programming. There are two versions of the introductory tutorial: one introduces users to the coding language JavaScript for the first time in a Code.org lesson, and lets them create a game in their Internet browser using Code.org’s unique blocks-to-text programming environment. For beginner and younger students, a tablet-friendly drag-and-drop version will be available in the next few weeks. The tutorial will also be translated into more than 40 languages. The tutorial is supported by Star Wars: Force for Change, a philanthropic initiative that harnesses the strength of Star Wars and its global fandom to empower people to come together to make a positive impact on the world around them. 

In addition to the lesson, role models and technologists, including Lucasfilm President Kathleen Kennedy, Rachel Rose, a Senior R&D engineer working on Star Wars: The Force Awakens, and Charita Carter, Senior Creative Producer at Walt Disney Imagineering, have provided short video lectures to help students through the one-hour activity. 
 
“Millions of us have been transported to a galaxy far, far away thanks to the creativity of the team behind Star Wars. Every one of us, especially young boys and girls, should also have the chance to learn how to power our own creativity with computer science," said Hadi Partovi, co-founder and CEO of Code.org. "Code.org is honored to have the support of Disney and Star Wars on the Hour of Code, making it possible for students everywhere to experience firsthand how this foundational field opens new doors, and can be a lot of fun too."

“Disney is driven by storytelling and technology—and we know that kids introduced to computer science today will become the innovators and storytellers of tomorrow,” said Jimmy Pitaro, Co-Chairman, Disney Consumer Products and Interactive Media. “We are honored to be working with Code.org again this year to introduce millions of students to coding, which is becoming one of the most important languages of their generation.”

In addition to partnering with Code.org to make the “Star Wars: Building a Galaxy with Code” tutorial available for free in more than 180 countries, The Walt Disney Company is donating $100,000 to support Code.org’s efforts to bring computer science education to afterschool programs throughout the United States. One lucky classroom will win the grand prize – a trip to San Francisco, Calif. for an exclusive, behind-the-scenes “Making of Star Wars” experience with the visual effects team who worked on Star Wars: The Force Awakens. The grand prize is courtesy of [ILMxLAB](http://www.ilmxlab.com/), a new laboratory for immersive entertainment, combining the talents of Lucasfilm, Industrial Light & Magic and Skywalker Sound. Sphero, a company that participated in the 2014 Disney Accelerator, will also be gifting <a href="http://www.sphero.com/starwars">programmable BB-8&trade; droids</a> to 100 participating classrooms. HP Inc has also donated <a href="http://store.hp.com/us/en/ContentView?storeId=10151&langId=-1&catalogId=10051&eSpotName=Pavilion-special-edition">Star Wars&trade; Special Edition Notebook devices</a> to 10 participating teachers. And during Computer Science Education Week in December, Disney will host an Hour of Code event for local students at their Los Angeles office, and Disney VoluntEARS will support Hour of Code events around the world. 

The “Star Wars: Building a Galaxy with Code” tutorial is the newest addition to Code.org’s online learning platform, [Code Studio](https://studio.code.org/), which offers a suite of self-guided computer science activities and courses for students to learn the fundamentals of computer science, starting as early as kindergarten.

At a time when the majority of K-12 schools don’t offer computer science, more than 5 million students have enrolled on Code Studio since its 2014 launch, including 10 percent of all K-8 students in the United States. Additionally, 43 percent of Code Studio students are girls, and 37 percent are black or Hispanic.

This reach is substantial, considering women hold only 23% of computing jobs, just 18% of bachelor’s degrees in computer science are awarded to women, and only 22% of high school AP Computer Science exam takers are girls. Furthermore, only 18% of bachelor’s degrees in computer science are awarded to blacks and Latinos and, at the high school level, 9% of AP Computer Science exam takers are Hispanic, and just 4% are black.
 
Beyond the Hour of Code, Code.org has partnered with Disney on “Infinity Play Lab,” an environment where students code stories or games starring Disney Infinity versions of Anna and Elsa from “Frozen,” Hiro and Baymax from “Big Hero 6” and Rapunzel of “Tangled.” Code.org has also released Hour of Code tutorials with artwork from Rovio’s Angry Birds, PopCap Games’ Plants vs. Zombies and the acorn-crazed squirrel Scrat from the Twentieth Century Fox animated series “Ice Age.” 

[**Try a preview of the “Star Wars: Building a Galaxy with Code” tutorial now on Code Studio:**](/starwars). The experience will also be available on Disney.com soon.

And sign up to participate in December's Hour of Code event: [https://hourofcode.com](https://hourofcode.com)

<center>****</center>

**About Code.org**

Code.org is a 501c3 public nonprofit dedicated to expanding access to computer science and increasing participation by women and underrepresented students of color. Its vision is that every student in every school should have the opportunity to learn computer science. After launching in 2013, Code.org organized the Hour of Code campaign – which has introduced over 100 million students to computer science to date – and partnered with 70 public school districts nationwide to expand computer science programs. Code.org is supported by philanthropic donations from corporations, foundations and generous individuals, including Ballmer Family Giving, Google, Infosys Foundation USA, Microsoft, Omidyar Network and others.

 **About Disney Consumer Products and Interactive Media**

Disney Consumer Products and Interactive Media (DCPI) is the business segment of The Walt Disney Company (NYSE:DIS) that brings our Company's stories and characters to life through innovative and engaging physical products and digital experiences across more than 100 categories, from toys and t-shirts, to apps, books and console games. DCPI comprises two main lines of business: Disney Consumer Products (DCP), and Disney Interactive (DI). The combined segment is home to world class teams of app and game developers, licensing and retail experts, a leading retail business (Disney Store), artists and storytellers, and technologists who inspire imaginations around the world.

**About Lucasfilm**

Lucasfilm Ltd., a wholly owned subsidiary of The Walt Disney Company, is a global leader in film, television and digital entertainment production.  In addition to its motion-picture and television production, the company's activities include visual effects and audio post-production, cutting-edge digital animation and the management of the global merchandising activities for its entertainment properties including the legendary STAR WARS and INDIANA JONES franchises. Lucasfilm Ltd. is headquartered in northern California. 

Lucasfilm, the Lucasfilm logo, STAR WARS and related properties are trademarks and/or copyrights, in the United States and other countries, of Lucasfilm Ltd. and/or its affiliates. TM & © 2015 Lucasfilm Ltd. All rights reserved. All other trademarks and trade names are properties of their respective owners.

For more information, contact <a href="mailto:press@code.org">press@code.org</a>

