---
title: Statistics
theme: responsive
chart: true
style_min: true
---

# Code.org Statistics

We're on a mission to give every student the opportunity to learn computer science.

***

## Help us continue to make an impact!
Follow us [on Facebook](http://facebook.com/Code.org) or [on Twitter](http://twitter.com/codeorg) and re-share your favorite stats. Click each photo to retweet.

<br>

<div style="clear: both;"></div>

<div class="col-33" style="padding-right: 20px; margin-bottom: 20px;">

<a href="https://twitter.com/codeorg/status/1075805534681485312" target="_blank"><img src="/images/statistics/fit-250/2018-apstats.png"></a>

<br>

And, many of these test-takers were female or minority students.

</div>

<div class="col-33" style="padding-right: 20px; margin-bottom: 20px;">

<a href="https://twitter.com/codeorg/status/1093197136974544896" target="_blank"><img src="/images/statistics/fit-250/perception-vs-reality.png"></a>

<br>

Young women are 11% more likely to say the CS Principles programming units are too difficult for them, but they score just as high as male students!
</div>

<div class="col-33" style="padding-right: 20px; margin-bottom: 20px;">

<a href="https://twitter.com/codeorg/status/1109125088794890240" target="_blank"><img src="/images/statistics/fit-250/URM-CSaccess.png"></a>

<br>

There’s something wrong here: Schools reaching the most diverse student groups are far less likely to offer computer science. Students at these schools never even have the chance to learn.
</div>

<div style="clear: both;"></div>

<div class="col-33" style="padding-right: 20px; margin-bottom: 20px;">

<a href="https://twitter.com/codeorg/status/1058432567223967745" target="_blank"><img src="/images/statistics/fit-250/high-school-performance.png"></a>

<br>

Early results from teachers who shared their Professional Development experience suggest anyone can teach CS, and their students perform just as well!

</div>

<div class="col-33" style="padding-right: 20px; margin-bottom: 20px;">

<a href="https://twitter.com/codeorg/status/1055581173353594880" target="_blank"><img src="/images/statistics/fit-250/teacher-background.png"></a>

<br>

Teachers from any background can teach computer science.

</div>

<div class="col-33" style="padding-right: 20px; margin-bottom: 20px;">

<a href="https://twitter.com/codeorg/status/1079103772297740289" target="_blank"><img src="/images/statistics/fit-250/codeorg-growth.gif"></a>

<br>

Over the last 5 years, Code.org use in schools has expanded across the US. Here's a look at the growth in US schools from 2013-2018.
</div>

<br>

<div style="clear: both;"></div>

<div class="col-33" style="padding-right: 20px; margin-bottom: 20px;">

<a href="https://twitter.com/codeorg/status/1040633791017099264" target="_blank"><img src="/images/statistics/fit-250/third-us-students.png"></a>

<br>

Nearly one-third of all U.S. students are learning the curriculum of the future.

</div>

<div class="col-33" style="padding-right: 20px; margin-bottom: 20px;">

<a href="https://twitter.com/codeorg/status/1031304818630041603" target="_blank"><img src="/images/statistics/fit-250/world.png"></a>

<br>

Millions of students are learning computer science - here's a look at where Code.org is used the most (outside the US).

</div>

<div class="col-33" style="padding-right: 20px; margin-bottom: 20px;">

<a href="https://twitter.com/codeorg/status/1027955009755828224" target="_blank"><img src="/images/statistics/fit-250/garfield.png"></a>

<br>

According to Code.org's "fun-o-meter," turns out our students get a case of the Monday's too!

</div>

<br>
<br>
<br>

<div style="clear: both;"></div>

<div class="col-33" style="padding-right: 20px; margin-bottom: 20px;">

<a href="https://twitter.com/codeorg/status/1029080205262868482" target="_blank"><img src="/images/statistics/fit-250/increase-diversity.png"></a>

<br>

When teachers from underrepresented minority groups lead AP CSP classes, <a href="https://medium.com/@codeorg/one-way-to-increase-diversity-in-your-schools-computer-science-classes-2aa36ecaa5f7" target="_blank">their classrooms become more diverse</a>.

</div>

<div class="col-33" style="padding-right: 20px; margin-bottom: 20px;">

<a href="https://twitter.com/codeorg/status/959441286397751299" target="_blank"><img src="/images/statistics/fit-250/student-proficient.png"></a>

<br>

And over 800,000 of those students are female.

</div>

<div class="col-33" style="padding-right: 20px; margin-bottom: 20px;">

<a href="https://twitter.com/codeorg/status/964571108627300352" target="_blank"><img src="/images/statistics/fit-250/double-enrollment.png"></a>

<br>

And this double enrollment means more girls and underrepresented minorities are taking AP Computer Science than ever before!

</div>

<br>
<br>
<br>

<div style="clear: both;"></div>

<div class="col-33" style="padding-right: 20px; margin-bottom: 20px;">

<a href="https://twitter.com/codeorg/status/983763631711154177" target="_blank"><img src="/images/statistics/fit-250/balance.png"></a>

<br>

We're determined to <a href="https://medium.com/@codeorg/is-diversity-in-computing-jobs-improving-32f30068b7de" target="_blank">change this way before then</a>.

</div>

<div class="col-33" style="padding-right: 20px;">

</div>

<div class="col-33" style="padding-right: 20px; margin-bottom: 20px;">

<a href="https://twitter.com/codeorg/status/903629740640149505" target="_blank"><img src="/images/statistics/fit-250/less-cs.png"></a>

<br>

Universities aren't preparing nearly enough <a href="https://medium.com/@codeorg/universities-arent-preparing-enough-computer-science-teachers-dd5bc34a79aa" target="_blank">computer science teachers</a> to fill the growing demand.

</div>

<div class="col-33" style="padding-right: 20px; margin-bottom: 20px;">

<a href="https://twitter.com/codeorg/status/1073278358870507520" target="_blank"><img src="/images/statistics/fit-250/experienced-teachers.png"></a>

<br>

It's never too late to start teaching CS!

</div>

<div style="clear: both;"></div>

<div class="col-33" style="padding-right: 20px; margin-bottom: 20px;">

<a href="https://twitter.com/codeorg/status/1085626759146586112" target="_blank"><img src="/images/statistics/fit-250/where-teachers-came-from.png"></a>

<br>

Two-thirds of computing jobs are outside the tech sector, which is why we need teachers from diverse backgrounds. Teachers at our past workshops came with varied experience from all over the country!

</div>

<div class="col-33" style="padding-right: 20px; margin-bottom: 20px;">

<a href="https://twitter.com/codeorg/status/1100072807709343744" target="_blank"><img src="/images/statistics/fit-250/family-income.png"></a>

<br>

We have scholarships for <a href="https://code.org/educate/professional-learning">teacher professional learning</a> available to help us reach high needs schools so we can change this picture.
</div>

<div class="col-33" style="padding-right: 20px; margin-bottom: 20px;">

<a href="" target="_blank"><img src="/images/statistics/fit-250/girls-interactive-apps.png"></a>

<br>
Girls love building interactive apps! <a href="https://twitter.com/codeorg/status/1163537706279952386">Female students include 10% more interactive elements</a> (such as buttons, areas for input from users and multiple screens) on average in their <a href="https://code.org/educate/applab">App Lab projects</a> than boys do.

</div>

<div style="clear: both;"></div>

<div class="col-33" style="padding-right: 20px; margin-bottom: 20px;">

<a href="https://twitter.com/codeorg/status/1114173393715302400" target="_blank"><img src="/images/statistics/fit-250/teachers-enjoy-PD.png"></a>

<br>

Teachers shouldn’t have to teach computer science alone—professional learning is critical to creating teacher communities and support networks. <a href="https://code.org/educate/professional-learning">Apply for a workshop in your area here.</a>

</div>

<div class="col-33" style="padding-right: 20px; margin-bottom: 20px;">

<a href="https://twitter.com/codeorg/status/1116737248899293185" target="_blank"><img src="/images/statistics/fit-250/classroom-diversity.png"></a>

<br>

Schools with diverse student bodies are less likely to offer computer science courses, but when they do, the students sign up! Black, Latino and other underrepresented minorities want to take computer science. <a href="https://code.org/educate/professional-learning">Let’s give them that opportunity.</a>

</div>

<div class="col-33" style="padding-right: 20px; margin-bottom: 20px;">

<a href="https://twitter.com/codeorg/status/1120358082549149696" target="_blank"><img src="/images/statistics/fit-250/title-i-schools.png"></a>

<br>

Title 1 schools—which receive extra funding based on the number of students from low-income backgrounds—are less likely to teach computer science than schools not receiving additional funding. Help us change that by <a href="https://code.org/educate/professional-learning">applying to teach computer science in your school.</a>

</div>

<div style="clear: both;"></div>

<div class="col-33" style="padding-right: 20px; margin-bottom: 20px;">

<a href="https://twitter.com/codeorg/status/1122575212933836801" target="_blank"><img src="/images/statistics/fit-250/CSF-teachers-70.png"></a>

<br>

Our CS teachers are everywhere! More than 70% of counties in the US have trained CS Fundamentals teachers. Does your school teach CS? <a href="https://code.org/yourschool">Tell us here!</a> And if not, encourage a teacher to <a href="https://code.org/apply">apply for our professional development</a> to bring CS to your area. </a>

</div>

<div class="col-33" style="padding-right: 20px; margin-bottom: 20px;">

<a href="" target="_blank"><img src="/images/statistics/fit-250/student-app-designs1.png"></a>

<br>

Young women wanted to make apps about the weather and the young men wanted to make apps about billionaires. Check out our survey results from some high school students around which data sets (<a href="https://think.cs.vt.edu/corgis/csv/index.html">from CORGIS</a>) would make the best apps. <a href="https://twitter.com/TeachCode/status/1125430234705211393">What data do you think your students would want to use?</a>

</div>

<div class="col-33" style="padding-right: 20px; margin-bottom: 20px;">

<a href="https://twitter.com/codeorg/status/1130883455930327047" target="_blank"><img src="/images/statistics/fit-250/more-likely-to-share.png"></a>

<br>

Boys in our classes are 50% more likely to share the projects they create to <a href="https://studio.code.org/projects/public">Code.org's project gallery</a>. Yet, the best ambassadors for girls in CS are the other girls. How can we encourage them to share their projects and show their friends what they’ve made? What has worked for girls you’ve worked with?

</div>

<div style="clear: both;"></div>

<div class="col-33" style="padding-right: 20px; margin-bottom: 20px;">

<a href="https://twitter.com/codeorg/status/1138575644651077633" target="_blank"><img src="/images/statistics/fit-250/state-policies1.png"></a>

<br>

States across the country have passed more than 200 policies to support computer science! See how close your state is to passing all 9 policies our advocacy coalition recommends and join the movement: <a href="https://advocacy.code.org/">advocacy.code.org.</a>

</div>

<div class="col-33" style="padding-right: 20px; margin-bottom: 20px;">

<a href="" target="_blank"><img src="/images/statistics/fit-250/comic-sans.png"></a>

<br>

Designers beware: We tallied it up, the results are in! Comic Sans is the most popular font in student’s apps. Of projects where students used at least one font, the most common non-default font was Comic Sans. The second most common was Arial Black.

</div>

<div class="col-33" style="padding-right: 20px; margin-bottom: 20px;">

<a href="" target="_blank"><img src="/images/statistics/fit-250/failure-learning.png"></a>

<br>
Failure is natural.

And, letting students know that turns out to be <a href="https://twitter.com/codeorg/status/1154792744952455168">one of the top things teachers can do</a> to make their students feel more comfortable in our <a href="https://code.org/educate/csd">Computer Science Discoveries</a> classrooms!
</div>

<div style="clear: both;"></div>

<div class="col-33" style="padding-right: 20px; margin-bottom: 20px;">

<a href="https://twitter.com/TeachCode/status/1089885912362872835" target="_blank"><img src="/images/statistics/fit-250/teacher-experience.png"></a>

<br>

Don't be intimidated; almost half the teachers in our Professional Learning program have zero prior experience teaching computer science.

</div>

<div style="clear: both;"></div>

<br>

## Statistics at a glance
Code.org partners with researchers on a variety of studies. Want more? <a href="https://code.org/research" target=_"blank">View Code.org's in-depth research and data.</a>

### Teachers are taking on computer science
Over 1 million teachers have taken steps to bring computer science to their schools.
<%= view :display_chart, id: "chart1", type: "ColumnChart", query_url: "https://docs.google.com/spreadsheets/d/1zXQWidXlgOB38o5thwtgfiT_JGnhhH9GhHSdlRYfVfo/gviz/tq?gid=0&range=A2:B65&headers=1", width: 1000, height: 500 %>
Does your local school teach computer science? [Encourage them to start today](/yourschool)!

<br>

### The Hour of Code goes global
With over [200 partners](https://hourofcode.com/partners), since 2013, the [Hour of Code](https://hourofcode.com) has reached 15% of students around the world.
<%= view :display_chart, id: "chart2", type: "ColumnChart", query_url: "https://docs.google.com/spreadsheets/d/1zXQWidXlgOB38o5thwtgfiT_JGnhhH9GhHSdlRYfVfo/gviz/tq?gid=0&range=D2:E65&headers=1", width: 1000, height: 500 %>

## What we're doing
Tracking the work of thousands of teachers and millions of students.
<br>
<div class="solid-block-header">

<p>Code.org by the Numbers</p>

</div>
<table>
<thead>
<tr>
<th>Code.org Goal</th>
<th>End of 2013</th>
<th>End of 2014</th>
<th>End of 2015</th>
<th>End of 2016</th>
<th>End of 2017</th>
<th>End of 2018</th>
</tr>
</thead>
<tbody>
<tr>
<td>Inspire students and increase diversity with the Hour of Code</td>
<td>20 million served</td>
<td>90M, <br>48%<br> female</td>
<td>195M, <br>49%<br> female</td>
<td>344M, <br>49%<br> female</td>
<td>520M, <br>49%<br> female</td>
<td>720M, <br>50%<br> female</td>
</tr>
<tr>
<td>Engage classrooms and students in our CS courses. (Total # of accounts on Code Studio)</td>
<td>10,000 teachers,<br>500,000<br>students</td>
<td>90,000 teachers,<br>4M <br>students</td>
<td>250,000 teachers,<br>8M<br> students</td>
<td>495,000 teachers,<br>16M <br>students</td>
<td>750,000 teachers,<br>25M<br>students</td>
<td>1M teachers,<br>36M<br>students</td>
</tr>
<tr>
<td>Enable students to show “basic coding proficiency” with CS Fundamentals.</td>
<td>N/A</td>
<td>N/A</td>
<td>N/A</td>
<td>887,840 total,<br>365,842 female</td>
<td>2,061,449 total,<br>860,361 female</td>
<td>3,296,655 total,<br>1,394,208 female</td>
</tr>
<tr>
<td>Code.org students take and pass the AP CS Principles exam</td>
<td>N/A</td>
<td>N/A</td>
<td>N/A</td>
<td>N/A</td>
<td>11,975 total,<br>3,406 female,<br>2,268 URM*</td>
<td>19,409 total,<br>5,838 female,<br>4,009 URM*</td>
</tr>
<tr>
<td>Improve diversity in CS (survey of teachers on Code Studio)</td>
<td>N/A</td>
<td>43% female,<br>37% URM*</td>
<td>43% female,<br>37% URM*</td>
<td>45% female,<br>48% URM*,<br>47% in high needs schools</td>
<td>45% female,<br>48% URM*,<br>47% in high needs schools</td>
<td>46% female,<br>48% URM*,<br>47% in high needs schools</td>
</tr>
<tr>
<td>Help school districts implement CS curricula</td>
<td>10<br>district partners</td>
<td>60<br>district partners</td>
<td>100 district partners</td>
<td>41 regional partners<br>(120+ districts)</td>
<td>56 regional partners<br>(175+ districts)</td>
<td>64 regional partners</td>
</tr>
<tr>
<td>Prepare new CS teachers across grades K-12</td>
<td>N/A</td>
<td>4,000</td>
<td>20,000</td>
<td>52,000</td>
<td>72,000</td>
<td>86,565</td>
</tr>
<tr>
<td>Lead a coalition to set policies supporting CS.<br>Policies changed in:</td>
<td>5 states</td>
<td>16 states</td>
<td>17 states,<br>including $9M<br>in CS funding</td>
<td>31 states, <br>including $13M <br>in CS funding</td>
<td>40 states,<br>including $29M<br> in CS funding</td>
<td>
<a href="https://docs.google.com/document/d/1J3TbEQt3SmIWuha7ooBPvlWpiK-pNVIV5uuQEzNzdkE/edit">48 states</a>,<br>including $63M<br>in CS funding</td>
</tr>
<tr>
<td>Go global</td>
<td>30 languages supported</td>
<td>34 langs,<br>7 intl partners</td>
<td>46 langs,<br>70 intl partners</td>
<td>50 langs,<br>70 intl partners</td>
<td>62 langs,<br>84 intl partners</td>
<td>63 langs,<br>102 intl partners</td>
</tr>
<tr>
<td>Team size</td>
<td>14</td>
<td>38</td>
<td>54</td>
<td>59</td>
<td>69</td>
<td>80</td>
</tr>
</tbody>
</table>
