---
theme: responsive
---

%link{:href=>"/css/student.css", :rel=>"stylesheet"}

.full-resource-block
  %img.side-image.left.col-50{src: "/images/fit-485/student/hour_of_code.jpg"}
  .side-description-area.right.col-50{style: "margin-bottom: 5%;"}
    .description
      %h2.resource-title{style: "padding-bottom: 10px;"} Hour of Code
      Get started by choosing a tutorial from over 100 one hour computer science activities from Code.org and partners. Join 10% of the world's students; it's your turn to try!
    %a{href: "/learn"}
      %button.orange-button Start

.full-resource-block
  .side-description-area.left.col-50
    .description
      %h2.resource-title Courses on Code Studio
      Code Studio is the most popular coding platform in K-12 education. We offer fun introductory courses you can learn alone or in a classroom, all the way through full year computer science curriculum for middle or high school.
    %a{href: CDO.studio_url}
      %button.orange-button I'm a student
    &nbsp;&nbsp;
    %a{href: "/educate"}
      %button.gray-button I'm a teacher
  %img.side-image.right.col-50{style: "margin-bottom: 5%;", src: "/images/fit-485/student/courses.jpg"}

.full-resource-block
  %img.side-image.left.col-50{src: "/images/fit-485/student/highschool.jpg"}
  .side-description-area.right.col-50{style: "margin-bottom: 5%;"}
    .description
      %h2.resource-title{style: "padding-bottom: 10px;"} Courses from 3rd parties
      Check out some of the 3rd party online courses we recommend, or find a local workshop, school, or summer camp to learn in a classroom.
    %a{href: "/learn/beyond"}
      %button.orange-button Learn online
    &nbsp;&nbsp;
    %a{href: "/learn/local"}
      %button.gray-button Local classes
