:css

  .full-resource-block {
  	width: 100%;
  	margin-bottom: 30px;
  	height: 244px;
  }
  .description {
  	padding-bottom: 10px;
  	color: #fff;
  }
  .resource-title {
  	padding: 0px;
  	margin: 0px;
    font-size: 24px;
    color: #FFFFFF;
    padding-bottom: 10px;
  }
  .side-image {
    width: 485px;
    height: 244px;
    float: left;
  }
  .side-image.right, .side-description-area.right {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .side-image.left, .side-description-area.left {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  .side-description-area {
    float: left;
    width: 485px;
    height: 100%;
    background-color: #00adbc;
    padding: 30px 30px;
  }
  .gray-button {
    background-color: #c6cacd;
    border-color: #c6cacd;
    color: #5b6770;
  }

.full-resource-block
  %img.side-image.left{src: "/images/student/hour_of_code.png"}
  .side-description-area.right
    .description
      %h2.resource-title{style: "padding-bottom: 10px;"} Hour of Code
      Get started by choosing a tutorial from a list of over 100 one hour computer science activities from Code.org and partners.
    %a{href: "/learn"}
      %button Try a tutorial

.full-resource-block
  .side-description-area.left
    .description 
      %h2.resource-title Courses on Code Studio
      Code.org is a platform for full year computer science courses for K-12 students with full resources and lesson plans for teachers to use classrooms.
    %a{href: "https://studio.code.org/"}
      %button Students
    %a{href: "/educate"}
      %button.gray-button Teachers
  %img.side-image.right{src: "/images/student/code_studio.jpg"}

.full-resource-block
  %img.side-image.left{src: "/images/student/courses.jpg"}
  .side-description-area.right
    .description
      %h2.resource-title{style: "padding-bottom: 10px;"} Courses from partners
      Checkout a compiled list of K-12 computer science courses made by partners or find a local classroom to take a computer science course.
    %a{href: "/learn/beyond"}
      %button Learn online
    %a{href: "/learn/local"}
      %button Local classes
