#fetched_dcdo_value= DCDO.get('test_dcdo_on_pegasus', nil).inspect
#raw_dcdo_value= DCDO.instance_variable_get('@datastore_cache')&.instance_variable_get('@datastore')&.get('test_dcdo_on_pegasus')&.inspect
