---
title: Nominate Teacher of the Month
nav: educate_nav
---

# Inspirational teachers

<%= view :three_circles, circles: [
{img: '/images/fit-150/totm13.jpg', text: '"We need to shift students\' mindsets when it comes to computers" — Jonas'},
{img: '/images/fit-150/totm12.jpg', text: '"I\'ve realized how much I\'ve learned myself in one school year alone!" — Nancy'},
{img: '/images/fit-150/totm11.jpg', text: '"Our job is to support students in attempting something scary and new" — Thomas'}] %>

</br>
<a href="http://blog.code.org/tagged/TOTM"><button>See all</button></a>

<br />
<br />
[See inspirational students](/sotm)
