---
title: Support Computer Science in Washington
theme: responsive
social:
  "og:title": "60 business and education leaders ask Washington to expand computer science"
  "og:description": "Washington CEOs, superintendents and nonprofit leaders unite around comprehensive legislation. In a letter, they urge Washington state to help schools catch up to 21st century demands."
  "og:image": "http://code.org/images/student-tatiana.jpg"
  "og:image:width": 1200
  "og:image:height": 628
  "og:video": ""
  "og:video:width": ""
  "og:video:height": ""
  "og:video:type": ""
---

# 90% of Washingtonians support Computer Science bill but the Legislature won't pass it. Ask your representative why.

<div style="float: left; margin-right: 15px;">
<a href="http://www.congressweb.com/Code/11"><button style="margin-top: 10px;">Add your support</button></a>
</div>


## On March 4, 2015, 60 business and education leaders asked Washington to support computer science

## Letter to Representative Ross Hunter and Senator Andy Hill in support of HB 1813

<div style="float: left;">
<% facebook = {:u=>'http://code.org/washington'} %>
<% twitter = {:url=>'http://code.org/washington', :related=>'codeorg', :text=>'CEOs, educators and community leaders call on Washington state to expand computer science'} %>
<%= view :share_buttons, facebook:facebook, twitter:twitter %>
</div>

<%= view "popup_window.js" %>

<br style="clear: both;">

<br />

[letter]

March 4, 2015

Dear Chairpersons Hunter and Hill,


Thank you for your leadership on the important issue of computer science education in Washington.

We the undersigned business executives, educators and nonprofit leaders enthusiastically support passing and funding House Bill 1813 to expand access to computer science in Washington’s K-12 public schools. 

It was in Washington that Microsoft led the world in establishing a market for personal computers, and our state is now home to dozens of public tech companies — from Amazon to Zulily — and countless startups. Washington is the first state where Silicon Valley companies such as Google, Apple, Facebook, Twitter, Dropbox and Salesforce expand to grow their engineering workforce, bringing jobs to our region. 

In 36 states, the most common jobs are truck drivers, farmers or secretaries. In Washington, the most common jobs are software developers. These jobs aren’t only in tech &mdash; in fact two-thirds of the nation’s computing jobs are in other industries, at places like Starbucks, Boeing, Nordstrom, Costco or WSDOT. 

But we’re not doing enough to prepare our students for these opportunities. There are currently 20,000 open computing jobs across all industries in Washington, and these jobs are growing at three times the state average. In 2014, there were only 1,200 computer science graduates at the university level, and among high school AP Computer Science test takers, only 260 were female. Only 48 were black or Hispanic. We compare that to 20,000 open jobs and wonder: why is this course only offered in 7 percent of our high schools?

Besides the jobs, computer science is foundational for all students. Every student learns about photosynthesis and electricity, without pursuing careers as botanists or electricians. For today’s students, it’s equally relevant to know what an algorithm is or how the Internet works.

House Bill 1813 offers a comprehensive solution: it establishes education standards for computer science and matches private funding to train teachers, who are critical to expanding access to this field — and prioritizes investments to reach underrepresented students first. Nine out of 10 Washington voters support these proposals. We encourage you to commit $1 million per year to support the computer science education grant program. The 1:1 private match requirement means your investment would be doubled, enabling every Washington school to teach computer science by 2025.

Many of the undersigned have donated significant funds to support computer science education. Matched with your commitment, let’s give a united answer to the parent who asks, “Why doesn’t my child’s school teach computer science?”

Signed, 

<br />

[/letter]

[wideletternames]

**Business Leaders**

Steve Ballmer<br />
Brad Smith, Executive Vice President & General Counsel, Microsoft<br />
Jeff Wilke, Senior Vice President of Consumer Business, Amazon<br />
Kevin Johnson, President, Starbucks<br />
Leroy Hood, President, Institute for Systems Biology<br />
Maud Daudon, President and CEO, Seattle Metropolitan Chamber of Commerce<br />
Maggie Johnson, Director of Education and University Relations, Google<br />
Dara Khosrowshahi, CEO, Expedia<br />
Kevin Johnson, President, Starbucks<br />
Maud Daudon, President and CEO, Seattle Chamber of Commerce<br />
Elizabeth Tinkham, Senior Managing Director, Accenture<br />
Rich Barton, Chairman, Zillow<br />
Nick Hanauer, Partner, Second Avenue Partners<br />
Rob Glaser, CEO, RealNetworks<br />
Christian Chabot, CEO, Tableau<br />
Steve Mullin, CEO, Washington Roundtable<br />
Elizabeth Tinkham, Senior Managing Director, Accenture<br />
Paul Carduner, Seattle Site Lead, Facebook<br />
Darrell Cavens, CEO, Zulily<br />
Steve Singh, CEO, Concur<br />
Gregg Gottesman, Managing Director, Madrona Ventures<br />
Brad Silverberg, Founding Partner, Ignition Partners<br />
Sunny Gupta, CEO, Apptio<br />
Glenn Kelman, CEO, Redfin<br />
Ben Huh, CEO, Cheezburger<br />
Christian Chabot, CEO, Tableau<br />
Darrel Cavens, CEO, Zulily<br />
Eric Anderson, CEO, Intentional Software<br />
John Vechey, Founder, Popcap Games<br />
Gregg Gottesman, Managing Director, Madrona Ventures<br />
Paul Thelen, CEO, Big Fish Games<br />
Sarah Bird, CEO, Moz<br />
Rob Glaser, CEO, RealNetworks<br />
Steve Singh, CEO, Concur<br />
Scott Keeney, CEO, nLIGHT<br />
Steve Stevens, President and CEO, Greater Spokane Incorporated<br />
Leroy Hood, President, Institute for Systems Biology<br />
Susannah Malarkey, CEO, Technology Alliance<br />
Michael Schutzler, CEO, WA Technology Industry Association<br />
Steve Mullin, CEO, Washington Roundtable<br />
Brad Silverberg, Founding Partner, Ignition Partners<br />
Sunny Gupta, CEO, Apptio<br />
Dean Allen, CEO, McKinstry<br />
Bill Lewis, Chairman, Lease Crutcher Lewis<br />
David McFadden, President, Yakima County Development Association<br />
Timothy Engle, President, Saltchuk<br />
Sandra Towne, Vancouver/Camas Innovation Partnership Zone<br />
Michael Kluse

**Education and Nonprofit Leaders**

Kim Mead, President, Washington Education Association<br />
Ana Mari Cauce, Provost, Executive Vice President, and Interim <br />
President, University of Washington<br />
Elson Floyd, President, Washington State University<br />
Kim Mead, President, Washington Education Association<br />
Susan Enfield, Superintendent, Highline School District<br />
Shelley Redinger, Superintendent, Spokane Public Schools<br />
Gary Cohn, Superintendent, Everett Public Schools<br />
Hadi Partovi, Co-founder and CEO, Code.org<br />
Patrick D’Amelio, CEO, Washington STEM<br />
Christine Johnson, Chancellor, Spokane Community Colleges<br />
Chris Korsmo, CEO, League of Education Voters<br />
Dave Powell, Executive Director, Stand for Children Washington<br />
Christine Johnson, Chancellor, Spokane Community Colleges<br />
Tayloe Washburn, CEO and Dean, Northeastern – Seattle Campus<br />
James Dorsey, Executive Director, Washington MESA<br />
Pam Lund, CEO, Girl Scouts of Eastern WA and Northern Idaho<br />
Jeff Charbonneau, 2013 US National Teacher of the Year, 2015 Global Teacher Prize Finalist<br />
Auillani de la Cruz, 2014-15 WA MESA Teacher of the Year<br /> 
John Welch, Superintendent, Puget Sound Education Service District<br />
Nasue Nishida, Executive Director, Center for Strengthening the Teaching Profession<br />
Gene Sementi, Superintendent, West Valley School District<br />
Michael Dunn, Superintendent, NorthEast Education Service District 101<br />
Shelley Redinger, Superintendent, Spokane Public Schools<br />
Ed Lazowska, Bill & Melinda Gates Chair in Computer Science and Engineering, University of Washington<br />
Richard McBride, Superintendent, North Central Education Service District<br />
Jeff Charbonneau, 2013 US National Teacher of the Year, 2015 Global Teacher Prize Finalist<br />
Auillani de la Cruz, 2014-15 WA MESA Teacher of the Year<br /> 
Steve Myers, Superintendent, Educational Service District 105

[/wideletternames]

<br />

<div style="float: left; margin-right: 15px;">
<a href="http://www.congressweb.com/Code/11"><button style="margin-top: 10px;">Add your support</button></a>
</div>
<div style="float: left;">
<% facebook = {:u=>'http://code.org/washington'} %>
<% twitter = {:url=>'http://code.org/washington', :related=>'codeorg', :text=>'CEOs, educators and community leaders call on Washington state to expand computer science'} %>

<%= view :share_buttons, facebook:facebook, twitter:twitter %>
</div>

<%= view "popup_window.js" %>

<br style="clear: both;">

<br />

## Read more
- [Op-ed: Why every school should teach computer science](http://www.seattletimes.com/opinion/why-we-need-to-teach-all-students-computer-science-skills/)

