---
title: Computer Science in your school or district
theme: responsive
social:
  "og:title": "Does your school teach computer science?"
  "og:description": "Expand computer science at your school or district. Join the thousands of schools who have already incorporated high quality computer science education into their curriculum and provide opportunities for the students in your local area."
---

%link{:rel=>'stylesheet', :type=>'text/css', :href=>'/css/yourschool.css'}

- require 'country_codes'
- require 'state_abbr'
- require 'census_helper'

- census_announcement = DCDO.get('census_announcement', nil)
- census_announcement ||= {}
- census_announcement['user_name'] = request.params["name"] if request.params["name"]
- census_announcement['user_email'] = request.params["email"] if request.params["email"]
- census_announcement['is_teacher'] = 'true' if request.params["isTeacher"] == 'true'
- census_announcement['school_country'] = request.params["country"] if request.params["country"]
- census_announcement['school_id'] = request.params["schoolId"] if request.params["schoolId"]
- census_announcement['school_type'] = request.params["schoolType"].capitalize if request.params["schoolType"]
- census_announcement['school_name'] = request.params["schoolName"] if request.params["schoolName"]
- census_announcement['school_state'] = request.params["state"] if request.params["state"]
- census_announcement['school_zip'] = request.params["zip"] if request.params["zip"]
- census_announcement['school_year'] = current_census_year
- census_announcement['locale'] = request.locale
- teacher_application_mode  = DCDO.get("teacher_application_mode", CDO.default_teacher_application_mode)
- census_announcement['show_professional_learning_banner'] = (request.locale == 'en-US' && %w(open closing-soon).include?(teacher_application_mode)).to_s
- census_announcement['teacher_application_mode'] = teacher_application_mode

= inline_css 'trophy_announcement_sparkle.css'

- js_locale = request.locale.to_s.downcase.tr('-', '_')
%script{src: webpack_asset_path("js/#{js_locale}/common_locale.js")}
%link{rel: "stylesheet", type: "text/css", href: "/css/selectize.bootstrap3.css"}
%script{type: "text/javascript", src: "/shared/js/helpers.js"}
%link{rel: "stylesheet", href: "https://api.tiles.mapbox.com/mapbox-gl-js/v1.1.1/mapbox-gl.css"}
%script{type: "text/javascript", src: "https://api.tiles.mapbox.com/mapbox-gl-js/v1.1.1/mapbox-gl.js"}
:javascript
  mapboxgl.accessToken = "#{CDO.mapbox_access_token}";
%script{src: webpack_asset_path('js/code.org/public/yourschool.js')}
%link{rel: "stylesheet", type: "text/css", href: "/css/census-map.css"}

%script{type: "text/javascript", src: "/js/jquery.geocomplete.min.js"}

%br/

#your-school{'data-parameters' => census_announcement}

#partners
  %hr
  %center
    %h3{style: 'margin: 40px 0 50px 0; font-size: 16px;'}
      Your pledge and information about your school helps expand computer science education across the United States.
      See K-12 Computer Science Access Report data in the
      = " "
      %a{href: CDO.advocacy_url("/stateofcs"), target: "_blank"}> annual State of Computer Science Education
      , published each fall.
    %span{style: "font-family: 'Gotham 7r', sans-serif; font-size: 20px; margin: 0 25px 0 25px;"} In partnership with
    %img{src: '/images/fit-200/avatars/computer_science_teachers_association.png'}

%br
%br
