- js_locale = request.locale.to_s.downcase.tr('-', '_')
%script{src: asset_path("js/#{js_locale}/common_locale.js")}
%script{src: asset_path('js/code.org/public/yourschool.js')}

#your-school

#partners
  %hr
  %center
    %h3{style: 'margin: 40px 0 50px 0; font-size: 16px;'} Take the pledge to bring computer science to your school and help us fill in the map with what your school teaches today.
    %img{src: '/images/fit-50/logo.png'}
    %span{style: "font-family: 'Gotham 7r', sans-serif; font-size: 20px; margin: 0 25px 0 25px;"} in partnership with
    %img{src: '/images/fit-300/avatars/computer_science_teachers_association.png'}
