.imageContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  height: 100%;
  width: 100%;
}

.buttonBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 8px;
  margin: 8px;
}