%p
  != I18n.t('lti.integration.mailer_confirmation_body', integration_guide_url: SharedConstants::LMS_LINKS.INTEGRATION_GUIDE_URL, course_offering_url: @catalog_url, markdown: true)
%br
%p
  = t('lti.integration.mailer_confirmation_signature')
%p
  Code.org
