%p
  != I18n.t('lti.integration.mailer_confirmation_body', integration_guide_url: 'https://support.code.org/hc/en-us/articles/23120014459405-Learning-Management-System-LMS-and-Single-Sign-On-SSO-Integrations-and-Support-for-Code-org', course_offering_url: CDO.studio_url('/catalog'), markdown: true)
%br
%p
  = t('lti.integration.mailer_confirmation_signature')
%p
  Code.org
