%p
  != I18n.t('lti.integration.mailer_confirmation_body', lms_guides: SharedConstants::LMS_LINKS.INTEGRATION_GUIDE_URL, catalog_url: @catalog_url, markdown: true)
%br
%p
  = t('lti.integration.mailer_confirmation_signature')
%p
  Code.org
