# See
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# for usage

# Files containing internationalization strings
/i18n @hamms
/apps/i18n @hamms
/dashboard/config/locales @hamms
/pegasus/cache/i18n @hamms
/pegasus/sites.v3/*/i18n @hamms

# Scripts controlling the internationalization sync
/bin/i18n @hamms
/bin/i18n-codeorg @hamms
