# See official GitHub docs for usage.
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners


########
# i18n #
########

# Files containing internationalization strings
/i18n/                     @code-dot-org/i18n
/apps/i18n/                @code-dot-org/i18n
/dashboard/config/locales/ @code-dot-org/i18n
/pegasus/cache/i18n/       @code-dot-org/i18n
/pegasus/sites.v3/*/i18n/  @code-dot-org/i18n

# Scripts controlling the internationalization sync
/bin/i18n/                  @code-dot-org/i18n


############
# red-team #
############

# Database schema and migrations
/dashboard/db/              @code-dot-org/red-team
/pegasus/migrations/        @code-dot-org/red-team

# Redshift database SQL
/aws/redshift/              @code-dot-org/red-team

# Database Migration Service (Redshift replication) configuration
/aws/dms/                   @code-dot-org/red-team


##################
# infrastructure #
##################

/.github/                   @code-dot-org/infrastructure
/aws/                       @code-dot-org/infrastructure
/cookbooks/                 @code-dot-org/infrastructure
.drone.yml                  @code-dot-org/infrastructure
.ruby-version               @code-dot-org/infrastructure
