# See official GitHub docs for usage.
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners


########
# i18n #
########

# Must Approve changes to
# Scripts controlling the internationalization sync
/bin/i18n/                  @code-dot-org/i18n


############
# red-team #
############

# Should Approve changes to
# Database Migration Service (Redshift replication) configuration
/aws/dms/                   @code-dot-org/red-team

# Should be Informed of changes to
# Redshift database SQL
/aws/redshift/              @code-dot-org/red-team


##################
# infrastructure #
##################

# Should Approve changes to:
/.github/                       @code-dot-org/infrastructure
/aws/                           @code-dot-org/infrastructure
/cookbooks/                     @code-dot-org/infrastructure
/docker/ci/                     @code-dot-org/infrastructure
.ruby-version                   @code-dot-org/infrastructure

# Should be Consulted on changes to
.drone.yml                      @code-dot-org/infrastructure
