---
title: Inspire students
video_player: true
theme: responsive
---


# Inspire students to try Computer Science

## 1. Find a guest speaker

[col-40]

<img src="/images/fill-300x200/guest-speaker-alice.jpg" style="border-radius: 5px; margin-top: 5px;">

[/col-40]

[col-60]

Thousands of engineers and individuals passionate about computer science have signed up to volunteer as a mentor or a guest speaker. You can use our map of volunteers to contact local volunteers to visit your classroom, or search in any city to find computer science students or technical professionals who are ready to inspire your students remotely, via video chat.

[<button>Find a guest speaker</button>](/volunteer/local)

[/col-60]

<div style="clear: both"></div>

## 2. Show these videos

<%= view :inspirational_videos %>

<div style="clear: both;"></div>

## 3. Learn about Careers in Tech
Watch videos and read interviews with inspirational people working in a variety of roles to change the face of technology and the world.

[<button>Careers in Tech</button>](/careers)


<a id="posters"></a>
## 4. Put up these posters

Looking for posters? [Find them all here](/educate/resources/posters)! You can also order our latest posters directly from [Amazon](https://smile.amazon.com/Code-Hour-Poster-Set-2018/dp/B07J6T18DH?ref_=ast_sto_dp).

[![image](/images/fit-250/poster_steph.png)](//downloads.code.org/posters/poster_steph.pdf)&nbsp;&nbsp;&nbsp;&nbsp;
[![image](/images/fit-250/poster_malala.png)](//downloads.code.org/posters/poster_malala.pdf)&nbsp;&nbsp;&nbsp;&nbsp;
[![image](/images/fit-250/poster_hadi.png)](//downloads.code.org/posters/poster_hadi.pdf)&nbsp;&nbsp;&nbsp;&nbsp;

[![image](/images/fit-250/poster_mary.png)](//downloads.code.org/posters/poster_mary.pdf)&nbsp;&nbsp;&nbsp;&nbsp;
[![image](/images/fit-250/poster_satya.png)](//downloads.code.org/posters/poster_satya.pdf)&nbsp;&nbsp;&nbsp;&nbsp;
[![image](/images/fit-250/poster_shakira.png)](//downloads.code.org/posters/poster_shakira.pdf)&nbsp;&nbsp;&nbsp;&nbsp;



## 5. Grow participation by women

- [Top 4 Ways to Recruit Girls to Try Computer Science](/girls)
- [NCWIT outreach guide for computer science](https://www.ncwit.org/resources/outreach-box-discovering-it)
- [Outreach guide for Latinas](https://www.ncwit.org/latinas-information-technology)
- [Fact-sheet for participation by women](https://www.ncwit.org/infographic/3435)
- [Awards and recognition for girls engaged in coding](https://www.aspirations.org)

## 6. Other Materials

- Check out these [Teaching tips for introducing CS to a classroom](/files/CSTT_IntroducingCS.PDF)
- Video library: [Use these videos to teach computer science in any class worldwide.](/educate/videos)
- One-pager: [What can you do with CS?](https://www.dropbox.com/s/o1mafeosi0xuwb0/What_is_CS_and_Careers.pdf)
