---
title: Student Recruitment
video_player: true
theme: responsive
---
# Offering computer science in your school? 
### Here are some tips for recruiting students into your computer science class. 


* [Play recruitment videos](#videos)
* [Ask your school counselors for help](#counselors)
* [Inspire with posters of careers in technology](#posters) 
* [Host an information session](#info) 
* [Run an Hour of Code](#hoc) 
* [Send emails to students and parents](#blurbs)


*For resources and tips on getting district, administrator, or community buy-in, check out [code.org/promote](/promote).*

<a id="videos"></a>

## Show these videos to students.
### **If you’re teaching [CS Principles](/csp) or [CS Discoveries](/csd):**

Hear from current students as they talk about the topics covered in each course and why your students should sign up. 

[col-50]
### **Sign up for AP CS Principles**

<%=view :display_video_thumbnail, id: "intro_csp", video_code: "jQm0z894CG0", play_button: 'center' %>

[**YouTube**](http://www.youtube.com/watch?v=jQm0z894CG0) | 
[**Download**](https://videos.code.org/cs-principles/what-is-cs-principles.mp4)

[/col-50]

[col-50]


### **Sign up for CS Discoveries**

<%=view :display_video_thumbnail, id: "intro_csd", video_code: "g4qfsH8bc8s", play_button: 'center' %>

[**YouTube**](http://www.youtube.com/watch?v=g4qfsH8bc8s) |
[**Download**](https://videos.code.org/cs-discoveries/what-is-cs-discoveries.mp4)

[/col-50]

<p style="clear:both">&nbsp;</p>

### **For *any* computer science course:**


[col-50]
### **Sign up for computer science (general)**

<%=view :display_video_thumbnail, id: "signup", video_code: "xgOYvG1WAbM", play_button: 'center' %>

[**YouTube**](http://www.youtube.com/watch?v=xgOYvG1WAbM)

[/col-50]

[col-50]


### **Computer science is changing everything**

<%=view :display_video_thumbnail, id: "cs_changing_everything", video_code: "QvyTEx1wyOY", play_button: 'center' %>

[**YouTube**](https://www.youtube.com/watch?time_continue=1&v=QvyTEx1wyOY) |
[**Download**](https://videos.code.org/social/cs-is-everything.mp4)

[/col-50]

<p style="clear:both">&nbsp;</p>

Find more videos to inspire your students at [code.org/inspire](/inspire), as well as content you can use to [inspire more girls](/girls) to take computer science.

<a id="counselors"></a>

## Your counselors can help.

### Let counselors know these are intro courses for *any* student.

* **Student flyers:** [CS Discoveries](/files/programs/csd-student-flyer.pdf) | [CS Principles](/files/programs/csp-student-flyer.pdf) (Print the 2-sided flyer or just the details. Consider sending home to parents.)

</br> 
</br>

* **Curriculum brochures:** [CS Discoveries brochure](https://code.org/files/CSDiscoveries_1-pager.pdf) | [CS Principles brochure](https://code.org/files/CSPrinciples_1-pager.pdf) | [CS in Algebra](/files/CSinAlgebra_one_pager.pdf) | [CS in Science](/files/CSinScience_one_pager.pdf) | [Exploring Computer Science](/files/ECS_one_pager.pdf)


More on how to talk to stakeholders like counselors, from fellow CS teachers: [code.org/pitch](/pitch)

<a id="posters"></a>

## Display inspiring posters.
Hang these posters in the halls along with the course number for your computer science class. (Some were originally made for the Hour of Code, but they feature quotes that are relevant to CS education more broadly.) If you want to print out more posters, you can find the files at [code.org/inspire](/inspire). 

[![image](/images/fit-200/careers/poster_thumbnail_maddy_maxey.jpg)](/files/programs/madison_maxey_CS_recruitment.pdf)
[![image](/images/fit-200/careers/poster_thumbnail_nidhi_erin.jpg)](/files/programs/kulkarni_parker_CS_recruitment.pdf)
[![image](/images/fit-200/careers/poster_thumbnail_rory_kieran.jpg)](/files/programs/kieran_rory_CS_recruitment.pdf)
[![image](/images/fit-200/careers/poster_thumbnail_javier_aguera.jpg)](/files/programs/javier_aguera_CS_recruitment.pdf)

*Learn more about these young tech professionals at [code.org/careers](/careers-in-tech)*

[![image](/images/fit-150/malala.png)](/files/malala-poster.pdf)
[![image](/images/fit-150/obama-new-old.png)](/files/obama-poster-new.pdf)
[![image](/images/fit-150/sheryl-sandberg.png)](/files/sheryl-poster.pdf)

<a id="info"></a>

## Host an information session.
Invite students to your classroom during lunch or after school to learn more about taking computer science. Here’s a brief 15 minute agenda to grab their attention: 

**2 minutes:** Welcome! 

* You’re here to learn about a class where you’ll explore the technology you use every day—and learn the foundations of how to create it! 
* You’ll gain skills that will help you in any career goal in the 21st century—business, art, engineering, policy, medicine, etc. 
* We have fun in this class. We solve problems, build things that you want to build, and learn how computers are changing the world. 

**3 minutes:** Show the CS Discoveries (coming soon) or [CS Principles](http://www.youtube.com/watch?v=jQm0z894CG0) student recruitment video. </br>

**5 minutes:** Ask students to brainstorm apps they wish existed, or have them come up with questions about how something they use everyday actually works. Then, have them share out ideas or questions. Let them know they can start to tackle these problems in this computer science course. </br>

**5 minutes:** Answer questions from students about the course. </br>

Close your session by handing out recruitment flyers for [CS Discoveries](/files/programs/csd-student-flyer.pdf) or [CS Principles](/files/programs/csp-student-flyer.pdf). (We recommend just printing the second page if you don't have access to colored printing.) 

If you have more time, run a quick teaser activity to give students an idea of how fun and engaging this course will be. 

<a id="hoc"></a>
 
## Run an Hour of Code.

Get your students excited about computer science with an Hour of Code activity. Check out the dozens of activities created by Code.org and our partners at [HourofCode.com](https://hourofcode.com). 


<a id="blurbs"></a>

## Add blurbs about computer science courses in a student or parent newsletter.
Teachers, counselors, and administrators can add a blurb to a student or parent email, or feature it prominently in a newsletter. 

### **High School or Middle School**

* **For parents:** </br>

**[SCHOOL NAME]** is offering computer science classes this fall that will unlock an entirely new future for students. In our modern world, it’s no longer enough to learn how to *use* technology; it’s foundational to learn what goes into *building* technology. No matter what career a student wants to pursue, a background in computer science will be relevant. In our new classes, students will begin to create programs, games, and apps that can help their communities today! Whether they build a game for a younger sibling, create an app that keeps track of a family schedule, or make a webpage to organize a community event, your child will learn the basics of the technology that’s changing the world. And we hope they'll be inspired to be major players in that change. 

**[SCHOOL NAME]** is offering these classes through regional partnerships with Code.org, a nonprofit dedicated to giving every K-12 student in the US the opportunity to learn computer science. This fall, we will offer **[[Computer Science Discoveries](/csd) or [AP Computer Science Principles](/csp)]** for students—**no computer science experience necessary**. Encourage your child(ren) to sign up. This is an opportunity that will open up collaboration, creativity, and passion as students learn and build together. 

What’s this all about? [Watch this inspiring video](http://www.youtube.com/watch?v=nKIu9yen5nc).

* **For students (feature in student newspaper or email):** </br>

Have you ever thought, *“I wish there was an app for that…”*? What if you got to use class time to *build* that app? You’re in luck. Next fall, **[SCHOOL NAME]** is offering new classes unlike any you’ve taken before. You’ll learn how to go beyond just *using* computers—you’ll begin to *create* the games, apps, and programs you see a need for *today*. **[SCHOOL NAME]** is excited to offer you a class where you can make a game, create an app, or build a webpage that your friends, family, and school can use!. The best part is that **you don’t need *any* experience to make awesome things in this class**. 

What else can you do with computer science? [Watch this inspiring video](http://www.youtube.com/watch?v=nKIu9yen5nc).

No matter what you want to do one day—whether it’s art, medicine, or history—computer science will help you make your ideas come to life. Sign up for **[COURSE NAME]** today. 

### **Elementary School**

* **For parents:** </br>

**[SCHOOL NAME]** is offering new computer science program next fall that will unlock an entirely new future for students. With this program, even the youngest learners will begin to learn the basics of how technology works. They’ll move away from just learning how to *use* technology, and instead start to *create* their own programs with the foundations of computer science. The program will introduce computer sciecne concepts to these youngsters, such as logic, problem-solving, and creativity. **Why is this important for even elementary school students?** Introducing computer science in elementary school allows students to enjoy the possibilities of creating with code before stereotypes set in. But that’s only the beginning of why every student should have the opportunity to learn computer science. [Watch this inspiring video](http://www.youtube.com/watch?v=nKIu9yen5nc) to learn more. 

We can bring this to *even more* elementary school students through a local program in partnership with Code.org, a nonprofit dedicated to giving every K-12 student in the US the opportunity to learn computer science. Ask your school or district to have [more elementary school teachers trained](https://code.org/professional-development-workshops) (absolutely free, and no experience necessary)! 


<br />
<br />