---
title: Student Recruitment
video_player: true
theme: responsive
---
# Encourage students to learn computer science!

### Here are our top five tips for recruiting students into your computer science class. 

1. [Reach out to students personally.](#outreach)
1. [Show them how much fun they'll have in your class.](#videos)
1. [Enlist the help of counselors and parents.](#counselors)
1. [Run an Hour of Code.](#hoc)
1. [Decorate with inspiring posters!](#posters)

<a id="outreach"></a>
## 1. Reach out to students personally.

Teachers tell us that the best way to recruit students into their CS classes is by reaching out directly and **telling them you think they'd be good at it**. And, according to <a href="https://blog.google/outreach-initiatives/education/google-and-gallups-computer-science-education-research-six-things-know/", target=_"blank">Google's study</a>, students who have been encouraged by a teacher are 2.5 - 3 times more likely to be interested in learning CS. This is especially important when it comes to inspiring young women to try CS. 

*Interested in more resources designed specifically for reaching out to young women? <a href="https://code.org/girls", target=_"blank">Click here!</a>*

### Hand out these fliers:

<div class="col-50" style="padding-right: 20px;">

<p><i>For CS Principles</i></p>
<a href="https://code.org/files/programs/csp-student-flyer.pdf"><img src="https://code.org/images/csp/csp-student-flyer.png" style="width:203px"></a>
<a href="https://code.org/files/programs/csp-recruitment-poster.pdf"><img src="https://code.org/images/csp/csp-recruitment-poster.png" style="width:203px"></a>

<br>

</div>

<div class="col-50">

<p><i>For CS Discoveries</i></p>
<a href="/files/programs/csd-student-flyer.pdf"><img src="/images/csd/csd-student-flyer.png" style="width:206px"></a>
<a href="/files/programs/csd-student-flyer.png"><img src="/images/csd-student-flyer.png" style="width:203px"></a>

</div>

<div style="clear:both"></div>

<br>

### Send an encouraging email to your students!

<details style="margin-left: 20px">
	<summary><strong>Click to expand our sample message, personalize, and send it!</strong></summary>
	<p>
	<br/>
Have you thought about taking computer science next year? I think you’d be great at it and I’m hoping you’ll sign up.

**[COURSE NAME]** is a collaborative course where you’ll be working together with your classmates to create your own apps, games, and programs. If you’re already into technology, that’s great, but you definitely don’t need any prior background with technology or computers to take this course. Just bring your creativity and interest in learning about how things work!

No matter what you want to do one day — whether it’s art, medicine, or history — computer science will help you make your ideas come to life. Watch this video to learn more about the things we'll do next year: **[[CS Principles](https://youtu.be/jQm0z894CG0) / [CS Discoveries](https://youtu.be/g4qfsH8bc8s)]**

Sign up for **[COURSE NAME]** today. I hope to see you in my class soon!

</details>

### Add a note to your student-facing school newsletter.

<details style="margin-left: 20px">
	<summary><strong>Click to expand sample text you can use.</strong></summary>
	<p>
	<br/>
Have you ever thought, *“I wish there was an app for that…”*? What if you got to use class time to *build* that app? You’re in luck. Next fall, **[SCHOOL NAME]** is offering computer science classes where you can learn how to go beyond just *using* computers. You’ll begin to *create* the games, apps, and programs you see a need for *today*. In **[COURSE NAME]** you can make a game, create an app, or build a webpage that your friends, family, and school can use! **You don’t need *any* experience to make awesome things in this class!** 

What else can you do with computer science? [Watch this inspiring video](https://youtu.be/QvyTEx1wyOY).

No matter what you want to do one day - whether it’s art, medicine, or history - computer science will help you make your ideas come to life. Sign up for **[COURSE NAME]** today!

</details>

<a id="videos"></a>
## 2. Show them how much fun they'll have in your class.

Play these videos, starring real-life CS Principles and CS Discoveries students who talk about the topics covered in each course and why your students should sign up. 

<div class="col-50" style="padding-right: 20px;">

<H3>CS Principles</H3>

<%=view :display_video_thumbnail, id: "intro_csp", video_code: "jQm0z894CG0", play_button: 'center' %>

[**YouTube**](http://www.youtube.com/watch?v=jQm0z894CG0) | 
[**Download**](https://videos.code.org/cs-principles/what-is-cs-principles.mp4)

</div>

<div class="col-50" style="padding-right: 20px;">

<H3>CS Discoveries</H3>

<%=view :display_video_thumbnail, id: "intro_csd", video_code: "g4qfsH8bc8s", play_button: 'center' %>

[**YouTube**](http://www.youtube.com/watch?v=g4qfsH8bc8s) |
[**Download**](https://videos.code.org/cs-discoveries/what-is-cs-discoveries.mp4)

</div>

<p style="clear:both">&nbsp;</p>

<div class="col-50" style="padding-right: 20px;">

<H3>Sign up for computer science</H3>

<%=view :display_video_thumbnail, id: "signup", video_code: "xgOYvG1WAbM", play_button: 'center' %>

[**YouTube**](http://www.youtube.com/watch?v=xgOYvG1WAbM)

</div>

<div class="col-50" style="padding-right: 20px;">

<H3>Computer science is changing everything</H3>

<%=view :display_video_thumbnail, id: "cs_changing_everything", video_code: "QvyTEx1wyOY", play_button: 'center' %>

[**YouTube**](https://www.youtube.com/watch?time_continue=1&v=QvyTEx1wyOY) |
[**Download**](https://videos.code.org/social/cs-is-everything.mp4)

</div>

<p style="clear:both">&nbsp;</p>

*Find more videos to inspire your students at [code.org/inspire](/inspire), as well as content you can use to [inspire more young women](/girls) to take computer science.*

<H3>Host an information session</H3>

Invite students to your classroom during lunch or after school to learn more about taking computer science.

<details style="margin-left: 20px">
	<summary><strong>Click to expand a 15-minute sample agenda you can use to grab their attention.</strong></summary>
	<p>
	<br/>
**2 minutes:** Welcome! 

* You’re here to learn about a class where you’ll explore the technology you use every day—and learn the foundations of how to create it! 
* You’ll gain skills that will help you in any career goal in the 21st century—business, art, engineering, policy, medicine, etc. 
* We have fun in this class. We solve problems, build things that you want to build, and learn how computers are changing the world. 

**3 minutes:** Show the CS Discoveries or CS Principles student recruitment video (see videos, above). </br>

**5 minutes:** Ask students to brainstorm apps they wish existed, or have them come up with questions about how something they use everyday actually works. Then, have them share out ideas or questions. Let them know they can start to tackle these problems in this computer science course. </br>

**5 minutes:** Answer questions from students about the course. </br>

Close your session by handing out recruitment flyers for [CS Discoveries](/files/programs/csd-student-flyer.pdf) or [CS Principles](/files/programs/csp-student-flyer.pdf). 

If you have more time, run an Hour of Code activity to give students an idea of how fun and engaging this course will be. 

</details>

<a id="counselors"></a>

## 3. Enlist the help of counselors and parents.

### Let counselors know these are intro courses for *any* student.

Often counselors think students need a strong math background or prior experience playing with technology to be successful in CS courses. And stereotypes about who enjoys CS often lead to counselors not encouraging young women and students from marginalized racial and ethnic groups[*](#urg) to take computer science courses. Help dispel these myths!

**Encourage your counselor to enroll young women and students from underrepresented racial and ethnic groups in your class. Tell them:**

* Students will be successful in this class without a math background or any prior CS experience.
* Students will enjoy your class even if they don't like video games - everyone uses technology!
* Computer science is foundational for ALL careers and this course will support their career goals even if they don't want a career in tech.

Looking for more ways to engage counselors? <a href="https://www.ncwit.org/resources/top-10-ways-engage-school-counselors-allies-effort-increase-student-access-computer", target=_"blank">Check out these resources</a> from NCWIT and consider printing out a stack of our student flyers for counselors to hand out: [CS Discoveries](/files/programs/csd-student-flyer.pdf) | [CS Principles](/files/programs/csp-student-flyer.pdf) 

### Let parents know about the opportunity for their student to enroll in your CS class.

Did you know that <a href="https://docs.google.com/document/d/1gySkItxiJn_vwb8HIIKNXqen184mRtzDX12cux0ZgZk/pub#h.aqjcgz8ilft", target=_"blank">over 90% of parents want their children to learn CS</a>? Make sure the parents at your school know that your class is available.

<details style="margin-left: 20px">
	<summary><strong>Click to expand sample text you can use for a blurb in a parent-facing newsletter.</strong></summary>
	<p>
	<br/>
**[SCHOOL NAME]** is offering computer science classes this fall that will unlock an entirely new future for students. In our modern world, it’s no longer enough to learn how to *use* technology; it’s foundational to learn what goes into *building* technology. No matter what career a student wants to pursue, a background in computer science will be relevant. In **[COURSE NAME]**, students will begin to create programs, games, and apps that can help their communities today! Whether they build a game for a younger sibling, create an app that keeps track of a family schedule, or make a webpage to organize a community event, your child will learn the basics of the technology that’s changing the world. And we hope they'll be inspired to be major players in that change. 

**[SCHOOL NAME]** is offering these classes through regional partnerships with Code.org, a nonprofit dedicated to giving every K-12 student in the US the opportunity to learn computer science. This fall, we will offer **[COURSE NAME]** for students—**no computer science experience necessary**. Encourage your child(ren) to sign up. This is an opportunity that will open up collaboration, creativity, and passion as students learn and build together. 

Want to learn more? Contact **[TEACHER NAME]** at **[TEACHER EMAIL ADDRESS]** with questions.

</details>

<a id="hoc"></a>
## 4. Run an Hour of Code.

Get your students excited about computer science with an Hour of Code activity. Check out the dozens of activities created by Code.org and our partners at [HourofCode.com](https://hourofcode.com). 

[<img src="/images/tutorials/hoc2019/dance-2019.png">](/learn)

<a id="posters"></a>

## 5. Decorate with inspiring posters!

Hang these posters in the halls along with the course number for your computer science class.   

[![image](/images/fit-200/kieran_rory_CS_recruitment.png)](/files/programs/kieran_rory_CS_recruitment.pdf)
[![image](/images/fit-200/kulkarni_parker_CS_recruitment.png)](/files/programs/kulkarni_parker_CS_recruitment.pdf)
[![image](/images/fit-200/madison_maxey_CS_recruitment.png)](/files/programs/madison_maxey_CS_recruitment.pdf)
[![image](/images/fit-200/javier_aguera_CS_recruitment.png)](/files/programs/javier_aguera_CS_recruitment.pdf)


[![image](/images/fit-150/malala.png)](/files/malala-poster.pdf)
[![image](/images/fit-150/obama-new-old.png)](/files/obama-poster-new.pdf)
[![image](/images/fit-150/sheryl-sandberg.png)](/files/sheryl-poster.pdf)

<i><a href="https://code.org/educate/resources/posters">Check out the full poster gallery</a> for even more options!</i>

<a id="info"></a>

<hr>

<a name="urg">*</a>Students who are Black / African American, Hispanic/Latino/Latina/Latinx, Native American/Alaskan, and Native Hawaiian/Pacific Islander

<!--

<a id="hoc"></a>
 
## Run an Hour of Code.

Get your students excited about computer science with an Hour of Code activity. Check out the dozens of activities created by Code.org and our partners at [HourofCode.com](https://hourofcode.com). 


<a id="blurbs"></a>

## Add blurbs about computer science courses in a student or parent newsletter.
Teachers, counselors, and administrators can add a blurb to a student or parent email, or feature it prominently in a newsletter. 

### **High School or Middle School**

* **For parents:** </br>

**[SCHOOL NAME]** is offering computer science classes this fall that will unlock an entirely new future for students. In our modern world, it’s no longer enough to learn how to *use* technology; it’s foundational to learn what goes into *building* technology. No matter what career a student wants to pursue, a background in computer science will be relevant. In our new classes, students will begin to create programs, games, and apps that can help their communities today! Whether they build a game for a younger sibling, create an app that keeps track of a family schedule, or make a webpage to organize a community event, your child will learn the basics of the technology that’s changing the world. And we hope they'll be inspired to be major players in that change. 

**[SCHOOL NAME]** is offering these classes through regional partnerships with Code.org, a nonprofit dedicated to giving every K-12 student in the US the opportunity to learn computer science. This fall, we will offer **[[Computer Science Discoveries](/csd) or [AP Computer Science Principles](/csp)]** for students—**no computer science experience necessary**. Encourage your child(ren) to sign up. This is an opportunity that will open up collaboration, creativity, and passion as students learn and build together. 

What’s this all about? [Watch this inspiring video](http://www.youtube.com/watch?v=nKIu9yen5nc).

* **For students (feature in student newspaper or email):** </br>

Have you ever thought, *“I wish there was an app for that…”*? What if you got to use class time to *build* that app? You’re in luck. Next fall, **[SCHOOL NAME]** is offering new classes unlike any you’ve taken before. You’ll learn how to go beyond just *using* computers—you’ll begin to *create* the games, apps, and programs you see a need for *today*. **[SCHOOL NAME]** is excited to offer you a class where you can make a game, create an app, or build a webpage that your friends, family, and school can use!. The best part is that **you don’t need *any* experience to make awesome things in this class**. 

What else can you do with computer science? [Watch this inspiring video](http://www.youtube.com/watch?v=nKIu9yen5nc).

No matter what you want to do one day—whether it’s art, medicine, or history—computer science will help you make your ideas come to life. Sign up for **[COURSE NAME]** today. 

### **Elementary School**

* **For parents:** </br>

**[SCHOOL NAME]** is offering new computer science program next fall that will unlock an entirely new future for students. With this program, even the youngest learners will begin to learn the basics of how technology works. They’ll move away from just learning how to *use* technology, and instead start to *create* their own programs with the foundations of computer science. The program will introduce computer sciecne concepts to these youngsters, such as logic, problem-solving, and creativity. **Why is this important for even elementary school students?** Introducing computer science in elementary school allows students to enjoy the possibilities of creating with code before stereotypes set in. But that’s only the beginning of why every student should have the opportunity to learn computer science. [Watch this inspiring video](http://www.youtube.com/watch?v=nKIu9yen5nc) to learn more. 

We can bring this to *even more* elementary school students through a local program in partnership with Code.org, a nonprofit dedicated to giving every K-12 student in the US the opportunity to learn computer science. Ask your school or district to have [more elementary school teachers trained](https://code.org/professional-development-workshops) (absolutely free, and no experience necessary)! 

-->

<br />
<br />