!!! 5
%html
  %head

    %meta{name: "google-site-verification", content: "EWBLxcxuqqtcdWikkxAOnMoaawa6XDoEPlvwO6wOg-A"}

    =view :theme_common_head_before

    %meta{name:'viewport', content:'width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no'}

    =inline_css 'brstrap.css'
    =inline_css 'common.css'

    %meta{:'http-equiv'=>'X-UA-Compatible', content:'IE=Edge'}

    =view :theme_common_head_after
  %body
    =body
    =view :theme_common_body_after
