.footerPanel {
  border-top: 1px solid var(--borders-neutral-primary);
}

.saveCurrentVersionHeader {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  background: var(--background-neutral-secondary);
}

.saveCurrentVersionHeaderText {
  flex: 1;
  text-align: center;
  margin: 0;
  min-height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 8px;
  
  // Override built-in spacing from the typography component
  .overlineTwoText {
    margin: 0;
    color: var(--text-neutral-quaternary);
  }
}

.saveCurrentVersionDescription {
  padding: 6px 12px 12px 12px;
  background-color: var(--background-neutral-secondary);
  border-top: 1px solid var(--borders-neutral-primary);
}

.saveCurrentVersionDescriptionInput {
  width: 100%;
  box-sizing: border-box;
}

.label {
  color: var(--text-neutral-primary, #292F36);
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: var(--font-family-body, Figtree);
  font-size: 12px;
  font-weight: 600;
  line-height: var(--font-line-height-body-xs, 19.68px);
}

.textArea {
  width: 100%;
  height: 75px;
  resize: none;
  box-sizing: border-box;
  background-color: var(--background-neutral-primary);
  color: var(--text-neutral-secondary);
}

.versionButton {
  width: 100%;
  height: 32px;
  box-sizing: border-box;
}
