@use '@cdo/apps/lab2/views/components/layout/variables.scss' as variables;

.rowContainer {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  border-radius: var(--border-radius-br-s, 4px);
  border: 1px solid var(--borders-neutral-primary);
  background: var(--background-neutral-secondary);
  margin-inline: 0.625rem;
  position: relative;
  z-index: 1;
}

.row {
  margin-block: 0.5rem;
}

.initialVersionRow {
  margin-block: 1rem 0;
}

.currentVersionRow {
  margin-block: 0.625rem 1rem;
}

.versionContent {
  display: flex;
  flex-direction: column;
  gap: 0;
  flex: 1;
}

.versionHeader {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-block: 0.5rem;
  padding-inline: 0.5rem 0.625rem;
}

.commitDescription {
  color: var(--text-neutral-secondary);
  border-top: variables.$default-border;
  padding: 0.5rem 0.75rem;
}

.autoSavedIcon {
  color: var(--text-neutral-placeholder);
}
