@use '@cdo/apps/lab2/views/components/layout/variables.scss' as variables;

.versionHistoryPanel {
  display: flex;
  flex-direction: column;
  min-height: 0;
  background-color: var(--background-neutral-primary);
  height: 100%;
}

.message {
  margin: 0.625rem 0.625rem 0;
}

.listContainer {
  display: flex;
  flex-direction: column;
  min-height: 0;
  position: relative;

  /* Simple background line that runs underneath the radio buttons */
  &::before {
    content: '';
    position: absolute;
    inset-inline-start: 28px; // Align with radio button
    top: 10px;
    bottom: 10px;
    width: 1px;
    background-color: var(--borders-neutral-primary);
    z-index: 0;
    pointer-events: none;
  }
}

.list {
  overflow-y: auto;
  min-height: 0;
  position: relative;
  padding-bottom: 0.625rem;

  & > .collapseButton + .autoSaveRow {
    margin-top: 0.625rem;
  }

  /* Add extra space after the second to last row
  to add more space above the initial version row */
  & > div:nth-last-child(2) {
    margin-bottom: 1rem;
  }
}

.collapseButton {
  margin-inline-start: 0.75rem;
  background: var(--background-neutral-primary);
  position: relative;
  z-index: 1;

  span,
  i {
    color: var(--text-neutral-quaternary);
  }
}

.loadingVersionSpinner {
  font-size: 32px;
  text-align: center;
  margin-right: 0.75rem;
}
