.rowContainer {
  display: flex;
  padding: var(--padding-p-xxs, 8px) 12px;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  border-radius: var(--border-radius-br-s, 4px);
  border: 1px solid var(--borders-neutral-primary);
  background: var(--background-neutral-secondary);
  margin-left: 8px;
  margin-right: 8px;
  position: relative;
  z-index: 1;
}

.row {
  margin-top: 8px;
  margin-bottom: 8px;
}

.commentRow {
  margin-top: 16px;
  margin-bottom: 16px;
}

.initialVersionRow {
  margin-top: 16px;
  margin-bottom: 0;
}

.currentVersionRow {
  margin-top: 8px;
  margin-bottom: 16px;
}

.versionContent {
  display: flex;
  flex-direction: column;
  gap: 4px;
  flex: 1;
}

.versionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.commitDescription {
  margin-left: 34px; // Align with radio button label
  margin-bottom: 0; // Remove extra space below comment
  color: var(--text-neutral-secondary);
  font-size: 14px;
}

.autoSavedIcon {
  color: var(--text-neutral-placeholder);
}
