- content_for(:head) do
  = stylesheet_link_tag 'css/levelbuilder', media: 'all'

%h1 Professional Learning Content

.outlinedSection
  %h4 Courses
  -@courses.each do |course|
    =link_to course.name, course
    %br
  .newLink
    = link_to 'Add new course', new_plc_course_path

%br

.outlinedSection
  %h4 Learning Modules
  -@learning_modules.each do |learning_module|
    =link_to learning_module.name, learning_module
    %br
  .newLink
    = link_to 'Add new learning module', new_plc_learning_module_path