---
title: Curriculum for 4-5
---

%h1 Curriculum for 4-5

-content = Course.new("4-5")
-content.get_lessons.each do |lesson|
  %a{:href=>lesson.url}
    Lesson #{lesson.number}: #{lesson.title}
    %br
