@import 'color';
@import 'font';
@import '../../../mixins.scss';

.tabsContainer {
  background-color: $neutral_dark;
  display: flex;
  padding-left: 5px;
  overflow-x: auto;
  overflow-y: hidden;
  min-height: 30px;

  .active {
    background-color: $neutral_light;
    color: #007785;
  }
}

.tabsList {
  display: flex;
  list-style-type: none;
  margin: 0;
}

.tab {
  white-space: nowrap;
  background-color: $neutral_dark70;
  margin: 5px 8px 0 0;
  padding: 0 10px;
  border-radius: 4px 4px 0 0;
  height: 30px;

  button {
    @include remove-button-styles;
    height: 30px;
    font-size: 16px;
    font-weight: $medium-font-weight;
    color: $neutral_white;
  }

  .tabIcon {
    color: $lighter_gray;
    margin-left: 5px;    
  }
}

.tabPanelsContainer {
  padding: 10px;
  height: 100%;
}
