- style = "color: #7665a0; font-family: sans-serif; text-align: center;"
%div{style: "padding-top: 200px;"}
  %h1{style: style}= lesson.script.localized_title
  %h2{style: style}= lesson.name
  %h3{style: style} Resources
