---
title: Update Email Preferences
nav: blank
rightbar: blank
theme: responsive
---
%script{type: "text/javascript", src: "/js/volunteer-unsubscribe.js"}

- dont_cache
- secret = File.basename(request.path_info)
- pass unless form = Form2.from_row(DB[:forms].where(kind:'VolunteerEngineerSubmission2015', secret:secret).first)
- unsubscribed = form.data['unsubscribed_s']

%h1 Update volunteer information

#unsubscribe-volunteer-thanks{:style=>"display: none;"}
  .alert.alert-success{role:"alert"} You have successfully updated your email preferences.

%form#unsubscribe-volunteer-form{role: "form", onsubmit: "event.preventDefault(); unsubscribeVolunteerList();"}
  %h2 Update email preferences

  .alert.alert-danger.error-message{style: 'display: none'}
  %p
    - if unsubscribed == 'until2016' || unsubscribed == 'untilhoc'
      You've <strong>unsubscribed</strong> from teacher requests <strong>until the next Hour of Code</strong>.
    - elsif unsubscribed == 'forever'
      You've <strong>unsubscribed</strong> from teacher requests <strong>forever</strong>.
    - else
      You are currently <strong>subscribed</strong> to teacher requests.
    To update your preference, select below and click confirm.

  .form-group
    .radio-row
      %div
        %label.radio-inline
          %input#unsubscribe-volunteer-annual{name: "unsubscribed_s", type: "radio", required: true, value: "untilhoc"}/
          Stop sending me teacher requests until the next Hour of Code
      %div
        %label.radio-inline
          %input#unsubscribe-volunteer-annual{name: "unsubscribed_s", type: "radio", required: true, value: "forever"}/
          Stop sending me teacher requests forever
      %div
        %label.radio-inline
          %input#unsubscribe-volunteer-annual{name: "unsubscribed_s", type: "radio", required: true, value: "resubscribe"}/
          Send me teacher requests again

  - if form.data['age_18_plus_b'] != '1'
    .form-group
      %div
        %label{style: 'font-weight: normal;', for: 'volunteer-age-18-plus'}
          %input#volunteer-age-18-plus{name: 'age_18_plus_b', type: 'checkbox', value: '1', required: true, checked: true}
            = I18n.t(:volunteer_engineer_submission_checkbox_age_18_plus)

  #volunteer-secret{style: 'display: none'}= secret
  %button.btn.btn-submit Confirm

= view :volunteer_engineer_form, {form: form}

%p
  You can update your volunteer information or email subscription preferences anytime
  %a{href: '/volunteer/engineer/edit/' + secret} here.
  Please bookmark this page to easily reference later.
