---
title: Update Email Preferences
nav: blank
rightbar: blank
---
%script{type: "text/javascript", src: "/js/volunteer-unsubscribe.js"}

- dont_cache
- secret = File.basename(request.path_info)
- pass unless form = Form2.from_row(DB[:forms].where(kind:'VolunteerEngineerSubmission2015', secret:secret).first)
- unsubscribed = form.data['unsubscribed_s']

#unsubscribe-volunteer-thanks{:style=>"display: none;"} You have successfully updated your email preferences.

%form#unsubscribe-volunteer-form{role: "form", onsubmit: "event.preventDefault(); unsubscribeVolunteerList();"}
  %h1 Update email preferences

  #error-message{style: 'display: none'}
  %p
    - if unsubscribed == 'until2016' || unsubscribed == 'untilhoc'
      You've <strong>unsubscribed</strong> from teacher requests <strong>until the next Hour of Code</strong>.
    - elsif unsubscribed == 'forever'
      You've <strong>unsubscribed</strong> from teacher requests <strong>forever</strong>.
    - else
      You are currently <strong>subscribed</strong> to teacher requests.
    To update your preference, select below and click confirm.

  .form-group
    .radio-row
      %label.radio-inline
        %input#unsubscribe-volunteer-annual{name: "unsubscribed_s", type: "radio", required: true, value: "untilhoc"}/
        Stop sending me teacher requests until the next Hour of Code
      %label.radio-inline
        %input#unsubscribe-volunteer-annual{name: "unsubscribed_s", type: "radio", required: true, value: "forever"}/
        Stop sending me teacher requests forever
      %label.radio-inline
        %input#unsubscribe-volunteer-annual{name: "unsubscribed_s", type: "radio", required: true, value: "resubscribe"}/
        Send me teacher requests again

  #volunteer-secret{style: 'display: none'}= secret
  %button.btn.btn-submit Confirm

= view :volunteer_engineer_form, {form: form}
