// Base styles that apply to all apps
$root: '/blockly/media/applab/'; //TODO: Parameterize for asset pipeline

#divApplab, #designModeViz, .draggingParent {
  overflow: hidden;
  outline: none;
  position: relative;
  z-index: 1;
  background-color: white;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  canvas {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: -1;
  }

  img {
    opacity: 1.0;
    max-width: none;
  }

  label {
    display: inline-block;
  }

  div {
    overflow: hidden;
  }

  div.textArea {
    overflow: auto;
    word-wrap: break-word; /* needed by Firefox */
    -moz-user-select: text;
  }

  button {
    padding: 7px 12px;
    margin: 2px;
    font-size: 14px;
  }

  input, div.textArea, button, select, img, label {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    line-height: 1.2em;
    margin: 5px;

    p {
      line-height: inherit
    }
  }

  .chart {
    position: absolute;
    display: block;
    overflow: hidden;

    .loading {
      background: url("#{$root}spinner-big.gif") no-repeat center center;
    }
  }

  .design-mode-hidden {
    visibility: hidden;
  }
}

#divApplab.notRunning, #designModeViz, .draggingParent {

  canvas:not(#turtleCanvas) {
    background-color: #eee;
  }

  .chart {
    background-color: #eee;
  }

  .design-mode-hidden {
    visibility: visible;
    opacity: 0.3;
  }
}
