// Modern skin for applab apps

#divApplab.appModern, #designModeViz.appModern, .draggingParent {
  color: #333;

  button {
    border: 0;
    border-radius: 0;

    &:hover {
      background-image: url("/blockly/media/applab/brighter.png");
      box-shadow: none;
    }

    &:active {
      background-image: url("/blockly/media/applab/darker.png");
      border: 0 !important; // Override common.scss which has !important
    }
  }

  input[type=text], input:not([type]), div.textArea {
    border: 1px solid #999;
    padding: 5px; /* padding clips text in text inputs in Firefox */
  }

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 0;
    border-radius: 0;
    padding: 0 30px 0 10px;
    color: #fff;
    background-position: right 10px center;
    background-repeat: no-repeat;
    background-size: auto 50%;

    // IE9 cant get rid of the native dropdown, so dont show our custom image and
    // get rid of our right padding so that the arrow is properly aligned
    padding-right: 0\9;
    background: transparent\9;

    &::-ms-expand {
      display: none;
    }

    &:hover {
      opacity: 0.8
    }
  }

  button, select, input, .textArea {
    outline: 0;
  }

  img[data-canonical-image-url=''] {
    display: none;
  }

  .screen {
    outline: 0;
  }
}

// IE 11 dropdown arrow position
_:-ms-fullscreen, :root #divApplab.appModern, #designModeViz.appModern, .draggingParent {
  select {
    background-position-x: right -35px;
  }
}

#divApplab.notRunning, #designModeViz.appModern, .draggingParent {
  img[data-canonical-image-url=''], canvas:not(#turtleCanvas), .chart {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: 1px solid #bdc3c7;
    outline-offset: -1px;
  }

  img[data-canonical-image-url=''] {
    display: block;
    // Using !important so that object-fit-images polyfill (which creates inline background styles) doesn't override the placeholder
    background: #bdc3c7 url("/blockly/media/applab/placeholder_img.png") center center no-repeat !important;
  }

  canvas:not(#turtleCanvas) {
    background: #bdc3c7 url("/blockly/media/applab/placeholder_canvas.png") center center no-repeat;
  }

  .chart {
    background: #bdc3c7 url("/blockly/media/applab/placeholder_chart.png") center center no-repeat;
  }
}
