// Modern skin for applab apps

#divApplab.appModern, #designModeViz.appModern, .draggingParent {
  color: #333;

  button {
    border: 0;
    border-radius: 0;

    &:hover {
      background-image: url("/blockly/media/applab/brighter.png");
      box-shadow: none;
    }

    &:active {
      background-image: url("/blockly/media/applab/darker.png");
      border: 0 !important; // Override common.scss which has !important
    }
  }

  input[type=text], input:not([type]), div.textArea {
    border: 1px solid #999;
    padding: 5px; /* padding clips text in text inputs in Firefox */
  }

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 0;
    border-radius: 0;
    padding: 0 30px 0 10px;
    color: #fff;
    background: url("/blockly/media/applab/dropdown.png") no-repeat center right;

    &::-ms-expand {
      display: none;
    }

    &:hover {
      background: url("/blockly/media/applab/dropdown.png") no-repeat center right, url("/blockly/media/applab/brighter.png");
    }
  }

  button, select, input, .textArea {
    outline: 0;
  }

  img[src=''] {
    display: none;
  }

  .screen {
    outline: 0;
  }
}

#designModeViz.appModern, .draggingParent {

  img[src=''], canvas, .chart {
    border: 5px solid #fff;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: 1px solid #bdc3c7;
    outline-offset: -1px;
  }

  img[src=''] {
    display: block;
    background: #bdc3c7 url("/blockly/media/applab/placeholder_img.png") center center no-repeat;
  }

  canvas {
    background: #bdc3c7 url("/blockly/media/applab/placeholder_canvas.png") center center no-repeat;
  }

  .chart {
    background: #bdc3c7 url("/blockly/media/applab/placeholder_chart.png") center center no-repeat;
  }
}
