\#*#
*.pid
*~
.DS_Store
.dropbox
.idea/
**/.bundle
/.gdrive_session
/crontab
/dashboard/public/blockly
/dashboard/public/shared
/.dropbox.cache
/build-started
/locals.yml
/rebuild
/rebuild-apps
/i18n/code.org/crowdin.yaml
/i18n/hourofcode.com/crowdin.yaml
/i18n/curriculum/crowdin.yaml
/dashboard/config/newrelic.yml
/pegasus/config/newrelic.yml
/pegasus/.sass-cache
/globals.yml
/aws/.shared-built
/aws/.shared-commit-built
/shared/js/node_modules/
/apps/build
/apps/node_modules/
/apps/npm-debug.log
*_temp.json
/.ruby-version
