apps/i18n/** filter=lfs diff=lfs merge=lfs -text
dashboard/config/locales/** filter=lfs diff=lfs merge=lfs -text
i18n/locales/** filter=lfs diff=lfs merge=lfs -text
apps/static/** filter=lfs diff=lfs merge=lfs -text
dashboard/app/assets/** filter=lfs diff=lfs merge=lfs -text
dashboard/public/** filter=lfs diff=lfs merge=lfs -text
shared/images/** filter=lfs diff=lfs merge=lfs -text
pegasus/sites.v3/** filter=lfs diff=lfs merge=lfs -text
pegasus/sites/** filter=lfs diff=lfs merge=lfs -text
apps/i18n/**/en_us.json !text -filter -merge -diff
dashboard/config/locales/**/*en.yml !text -filter -merge -diff
i18n/locales/source/** !text -filter -merge -diff
pegasus/sites.v3/hourofcode.com/i18n/en.yml !text -filter -merge -diff
pegasus/sites.v3/**/*.collate !text -filter -merge -diff
pegasus/sites.v3/**/*.css !text -filter -merge -diff
pegasus/sites.v3/**/*.erb !text -filter -merge -diff
pegasus/sites.v3/**/*.fetch !text -filter -merge -diff
pegasus/sites.v3/**/*.haml !text -filter -merge -diff
pegasus/sites.v3/**/*.html !text -filter -merge -diff
pegasus/sites.v3/**/*.js !text -filter -merge -diff
pegasus/sites.v3/**/*.md !text -filter -merge -diff
pegasus/sites.v3/**/*.partial !text -filter -merge -diff
pegasus/sites.v3/**/*.moved !text -filter -merge -diff
pegasus/sites.v3/**/*.redirect !text -filter -merge -diff
pegasus/sites.v3/**/*.scss !text -filter -merge -diff
pegasus/sites/**/*.collate !text -filter -merge -diff
pegasus/sites/**/*.css !text -filter -merge -diff
pegasus/sites/**/*.erb !text -filter -merge -diff
pegasus/sites/**/*.fetch !text -filter -merge -diff
pegasus/sites/**/*.haml !text -filter -merge -diff
pegasus/sites/**/*.html !text -filter -merge -diff
pegasus/sites/**/*.js. !text -filter -merge -diff
pegasus/sites/**/*.md !text -filter -merge -diff
pegasus/sites/**/*.partial !text -filter -merge -diff
pegasus/sites/**/*.moved !text -filter -merge -diff
pegasus/sites/**/*.redirect !text -filter -merge -diff
pegasus/sites/**/*.scss !text -filter -merge -diff
