\#*#
*.pid
*~
.DS_Store
.dropbox
.idea/
**/.bundle
crowdin.yaml
/.gdrive_session
/crontab
/dashboard/public/blockly
/dashboard/public/shared
/dashboard/public/code-studio
/.dropbox.cache
/build-started
/locals.yml
/rebuild
/rebuild-apps
/rebuild-shared
/rebuild-code-studio
/i18n/code.org/crowdin.yaml
/i18n/hourofcode.com/crowdin.yaml
/i18n/curriculum/crowdin.yaml
/dashboard/config/newrelic.yml
/pegasus/config/newrelic.yml
/pegasus/.sass-cache
/globals.yml
/aws/.shared-built
/aws/.shared-commit-built
/aws/.code-studio-built
/aws/.code-studio-commit-built
/shared/js/node_modules/
/apps/build
/apps/build-times.log
/apps/node_modules/
/apps/npm-debug.log
/apps/src/color.js
/apps/src/styleConstants.js
*_temp.json
/.ruby-version
/levelbuilder_ci_last_run
/levelbuilder_ci_lock
/coverage
