CDO:
  image: "pickettd/code-dot-org:0.11"
  volumes:
    - .:/home/ubuntu/adhoc
  ports:
    - "8080:8080"
    - "8081:8081"
  environment:
    - RAILS_ENV=adhoc
    - RACK_ENV=adhoc
    - LANG=en_US.UTF-8
    - LANGUAGE=en_US.UTF-8
    - LC_ALL=en_US.UTF-8
  user: ubuntu
  command: "/home/ubuntu/adhoc/start.sh"
#
#
  #entrypoint: "/opt/chef/bin/chef-client"
  #command: "-c /tmp/chef/zero.rb -z -j /tmp/chef/first-boot.json"
