[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

# Unlike requirements.txt, exact versions are kept stable by Pipfile.lock.
# pipenv docs recommend defaulting to `*`, unless you know a newer version
# will be incompatible with our code. Even then, its better to do e.g. `4.*`.
#
# Where reasonable, split packages into sections using comments, explaining
# who's using the dependency. This makes long-term maintenance much easier.

[packages]

# Core packages:
numpy = "*"
boto3 = "*"
openai = "*"

# LLM-guard integration:
# llm-guard = "*"

[dev-packages]
pytest = "*"
pytest-mock = "*"
coverage = "*"

[requires]
python_version = "3.8"
