[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
aiohttp = "==3.8.5"
aiosignal = "==1.3.1"
async-timeout = "==4.0.3"
attrs = "==23.1.0"
certifi = "==2023.7.22"
charset-normalizer = "==3.2.0"
Cython = "==0.29.34"
frozenlist = "==1.4.0"
idna = "==3.4"
multidict = "==6.0.4"
numpy = "==1.18.5"
openai = "==0.28.0"
requests = "==2.31.0"
tqdm = "==4.66.1"
urllib3 = "==2.0.4"
yarl = "==1.9.2"

[dev-packages]

[requires]
python_version = "3.8"