#learn-tabs.desktop-feature
  .content
    %ul.nav.nav-tabs
      %li{:class=>(request.path_info == '/learn') ? 'active tab' : 'tab'}<
        %a{:href=>'/learn'} Kod Saati ile Öğren
      %li{:class=>(request.path_info == '/learn/beyond') ? 'active tab' : 'tab'}<
        %a{:href=>'/learn/beyond'} Öğrenmeye Devam Et
      %li{:class=>(request.path_info == '/learn/educators') ? 'active tab' : 'tab'}<
        %a{:href=>'/learn/educators'} Eğitmenler İçin
