---
<%
formatted_from = "Code.org <noreply@code.org>"
if defined?(from) && from != nil
  if from.include? '<'
    formatted_from = from
  else
    formatted_from = "Code.org <#{from}>"
  end
end
%>
from: <%= formatted_from.inspect.html_safe %>
subject: <%= local_assigns.fetch(:subject, nil).inspect&.html_safe %>
reply-to: <%= local_assigns.fetch(:reply_to, nil)&.inspect&.html_safe%>
cc: <%= local_assigns.fetch(:cc, nil)&.inspect&.html_safe%>
bcc: <%= local_assigns.fetch(:bcc, nil)&.inspect&.html_safe %>
---
<%= local_assigns.fetch(:body, "").html_safe %>

<img src="<%= local_assigns.fetch(:tracking_pixel, "") %>"/>
