@import "color.scss";

.container {
  display: none;
  position: absolute;
  // TODO: Calculate these values based on the size of the workspace
  top: 30px;
  z-index: 1000;
  width: 100%;
  height: 100%;
  bottom: 0;
  background: $white;
}

.toolbar {
  //z-index: 1;
  position: absolute;
  left: 142px;
  top: 10px;
  width: 800px;
  pointer-events: auto;
}

.buttons {
  float: right;
}

.inputs {
  z-index: 0;
}

.inputTitleContainer {
  padding: 10px;
  width: 100%;
}

.wideInput {
  width: 100%;
}
