@import "color.scss";

.container {
  display: none;
  position: relative;
  z-index: 1000;
  width: 100%;
  height: 100%;
  bottom: 0;
}

.toolbar {
  position: absolute;
  width: 100%;
  top: 10px;
  right: 10px;
  z-index: 1;
}

.buttons {
  float: right;
}
