@import 'color.scss';

.controlButtonsContainer {
  grid-area: control-buttons;
  display: grid;
  grid-template-columns: 1fr repeat(2, auto) 1fr;
  padding: 8px 0;
  background-color: $neutral_dark80;
  column-gap: 8px;
}

.firstControlButton {
  grid-column-start: 2;
}

.navigationButton {
  margin-left: auto;
  margin-right: 8px;
}
