@import 'color.scss';

.controlButtonsContainer {
  grid-area: control-buttons;
  display: flex;
  padding: 8px 0;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background-color: $neutral_dark80;
}

.controlButton {
  margin-left: 8px;
  margin-right: 8px;
}
