@import 'color', 'font', 'typography', 'breakpoints', 'barlow-semi-condensed-font';

h1 {
    margin-top: 4.5rem;
    font-size: 4rem;
    font-style: normal;
    font-weight: 600;
}

h2 {
    font-size: 3rem;
    font-style: normal;
    font-weight: 600;
    line-height: 124%;
    margin: 0 0 16px 0;
}

h4 {
    font-size: 2.5rem;
    font-style: normal;
    font-weight: bold;
    line-height: 132%; 
}

.link-button:hover {
    color: white;
    background-color: #6F488E;
    border-color: #6F488E;
    text-decoration: none;
    cursor: pointer;
}

p  {
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 325;
    line-height: 148%;
    margin-block: 0;
}

hr {
    border-top: 1px solid rgba(127, 130, 134, 1);
}

.career {
    &__description { 
        &--under {
            margin-top: 1.25rem;
        }
    }

    &__hero {
        display: flex;
        gap: 0.93rem;
        align-items: center;
        
        &__button {
            margin: 2.62rem 0 4rem 0
        }
    }

    
    
    &__vision {
        display: flex; 
        gap: 4rem; 
        margin: 4rem 0 4rem 0
    }
    
    &__vision img {
        max-width: 30rem;
    }

    &__approach {
        display: flex; 
        margin: 4rem 0; 
        align-items: center; 
        gap: 3.12rem;

        &__description {
            margin-bottom: 2rem;
            width: 50rem;
        }
    }

    &__values {

        &__list {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;
            gap: 4rem;
        }

        &__item {
            display: flex;
            flex: 1;
            gap: 1rem;
            margin-bottom: 2.5rem;
        }
    }

    &__principal {

        &__list {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;
            gap: 2.5rem;
        }
        
        &__item {
            display: flex;
            gap: 1rem;
        }
    
        &__text {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }

    &__balance {

        &__description {
            margin-bottom: 2rem;
        }
    }

    &__roles {

        &__description {
            margin-bottom: 3.75rem;
        }

        &__job__description {
            margin-bottom: 1rem;
        }

        &__link__list p:last-child{
            margin-bottom: 3rem;
        }
    }

    &__diversity {
        &__images {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;
            gap: 1rem;
            margin-bottom: 1.5rem;
        }
    }

    &__diversity img:first-child {
        width: 45rem; 
        height: 25rem;
    }

    &__diversity img:nth-child(2) {
        width: 30rem; 
        height: 25rem;
    }
}


@media only screen and (max-width: 912px) {
    .career {
        &__hero {
            flex-direction: column;
        }

        &__hero figure {
                display: block;
        }

        &__vision {
            flex-direction: column;
        }

        &__vision img {
            max-width: 100%;
        }

        &__approach {
            flex-direction: column;
            &__description {
                max-width: 100%;
            }
        }

        &__diversity img {
            max-width: 100%;
            max-height: 100%;
        }

        &__values {
            &__list {
                gap: 0;
            }
        }

        &__balance {
            &__list {
                gap: 0;
            }
        }

        &__diversity img:first-child {
            width: 100%;
            height: 100%;
        }
    
        &__diversity img:nth-child(2) {
            width: 100%;
            height: 100%;
        }
    }
}
