@import 'color.scss';
@import './dialog-manager.module.scss';

.confirmDialog {
  @extend %dialog;
  display: flex;
  flex-direction: column;
}

%button {
  border: 2px solid;
  transition: background-color 0.1s ease;

  &:hover {
    box-shadow: none;
  }
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 20px;

  .cancel {
    @extend %button;
    background-color: $neutral_light;
    border-color: $neutral_dark;

    &:hover {
      background-color: $neutral_dark20;
    }
  }

  .confirm {
    @extend %button;
    background-color: $brand_secondary_default;
    border-color: $brand_secondary_default;
    color: $neutral_light;

    &:hover {
      background-color: $brand_secondary_dark;
      border-color: $brand_secondary_dark;
    }
  }
}
