.genericDialog {
  font-size: 1rem;

  // Add padding around labels inside the dialog so the focus
  // state styles are not cut off when elements are focused.
  label {
    padding: 0.25rem;
  }

  .customContentWrapper {
    width: calc(100% - 0.25rem);
  }
}

.spinnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.spinnerIcon {
  font-size: 36px;
  color: var(--text-neutral-primary);
}
