.genericDialog {
  font-size: 1rem;
}

.spinnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.spinnerIcon {
  font-size: 36px;
  color: var(--neutral-base-white);
}
