@import 'color.scss';
@import '../common.scss';

%dialog {
  background-color: $neutral_light;
  border-radius: 5px;
  padding: 20px 50px;
  width: 600px;
}

%button {
  font-size: 14px;
  display: flex;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
  border: none !important;

  &:hover /*, &:active */ {
    box-shadow: none;
  }
}

.dialogContainer {
  @extend %full-container-overlay;

  .shareDialog {
    @extend %dialog;
    display: flex;
    flex-direction: column;
    position: relative;

    .itemsContainer {
      display: flex;
      justify-content: space-around;
      align-items: center;
      gap: 12px;

      .copyToClipboard {
        @extend %button;
        background-color: $light_secondary_500;
        color: $neutral_light;

        &:hover {
          background-color: $light_secondary_500;
        }

        &Icon {
          font-size: 24px;
          margin-right: 10px;
          padding-bottom: 3px;
        }
      }
    }

    .closeButton {
      background-color: initial;
      box-shadow: initial;
      border: none !important;
      position: absolute;
      top: 0;
      right: 0;

      &Icon {
        font-size: 24px;
      }
    }
  }
}
