@import 'color.scss';
@import '../common.scss';

%dialog {
  background-color: $light_gray_950;
  color: $neutral_light;
  border-radius: 5px;
  padding: 20px 32px;
  width: 600px;
}

.dialogContainer {
  @extend %full-container-overlay;

  .shareDialog {
    @extend %dialog;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 20px;
    justify-content: space-between;
    font-size: 14px;

    .heading {
      color: $neutral_light;
      margin-bottom: 0;
    }

    .columns {
      display: flex;
      flex-direction: row;
      gap: 40px;
      justify-content: space-between;

      .column {
        width: 320px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0 auto;
      }
    }

    .share {
      background-color: $white;
      padding: 20px;
      border-radius: 10px;
      color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }

    .block {
      background-color: $neutral_dark90;
      padding: 20px;
      border-radius: 10px;
      color: white;
      display: flex;
      flex-direction: column;
      align-items: center;

      gap: 20px;
      height: 100%;

      &Afe {
        background-color: #2E4486;

        img {
          border-radius: 4px;
        }
      }
    }

    .QRCodeContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 4px;
      height: 125px;
      width: 125px;

      .QRCodeBorder {
        background-color: #fff;
        border-radius: 4px;
        box-sizing: border-box;
        height: 100%;
        width: 100%;
        padding: 4px;
      }
    }

    .doneButton {
      margin-left: auto;
    }

    .closeButton {
      background-color: initial;
      box-shadow: initial;
      border: none !important;
      position: absolute;
      top: 0;
      right: 0;

      &Icon {
        font-size: 24px;
      }
    }
  }

  .bottom {
    display: flex;
    justify-content: space-between;
  }
}

.contents {
  display: contents;
}

.copyLinkButton {
  width: 100%;
  margin-top: auto;
}

.fullWidth {
  width: 100%;
}
