@import 'color.scss';

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  margin: 10px 0;
}

.rowLabel {
  min-width: 80px;
  font-weight: bold;
}

.option {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}
