@import "color";

// Slider common styles
.sliderLabel {
  display: flex;
  width: 300px;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
}

.sliderLabelSection {
  display: flex;
  height: 22px;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;

  > :first-child {
    flex: 1;
  }
}

.sliderMainContainer {
  display: flex;
  align-items: center;
  gap: 2px;
  align-self: stretch;
}

.sliderWrapper {
  position: relative;
  width: 100%;

  input {
    width: 100%;
  }
}

.centerMark {
  position: absolute;
  z-index: -1;
  bottom: -5px; /* Adjust as needed */
  width: 2px;
  height: 12px; /* Height of the center mark */
  background-color: red; /* Color for the center mark */
}

.stepMark {
  position: absolute;
  height: 10px;
  width: 2px;
  background-color: black;
  bottom: -2px; /* Adjust as needed */
}


// Slider Colors
