@import "color";

// Slider common styles
.sliderLabel {
  display: flex;
  width: 300px;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
}

.sliderLabelSection {
  display: flex;
  height: 22px;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;

  > :first-child {
    flex: 1;
  }
}

.sliderMainContainer {
  display: flex;
  align-items: center;
  gap: 2px;
  align-self: stretch;

  input {
    width: 100%;
  }
}


// Slider Colors
