#environment_tag
  ENV:
  = Rails.env
:scss
  #environment_tag {
    position: absolute;
    background: rgba(255, 255, 255, 0.75);
    padding: 2px;
    border: 1px solid black;
    z-index: 100;
  }
:javascript
   $("#environment_tag").click(function() {$("#environment_tag").hide();});
