#implicit-terms-modal.modal{'data-backdrop' => 'static', 'data-keyboard' => 'false', style: 'display: none;'}
  .left
    = form_for(current_user, url: registration_url('user'), html: {id: 'edit_user'}) do |f|
      .span
        = t('terms_interstitial.accept_tos', tos_url: CDO.code_org_url('/tos'), privacy_url: CDO.code_org_url('/privacy'), markdown: :inline).html_safe
      %button#close_go_to_account= t('signup_form.go_to_account')
  .clear

%script{src: webpack_asset_path('js/layouts/_terms_interstitial.js')}

:javascript
  $("#close_go_to_account").click(function () {
    $("#implicit-terms-modal").modal('hide');
  });
