-# Rendering this partial causes the school info interstitial to be shown to the
-# user.  Rendering this partial into a cached view may not work properly.

- require 'country_codes'
- require 'state_abbr'
- require 'geocoder'

- location = Geocoder.search(request.ip).try(:first)
-# geocoder sometimes shows localhost's country as RD/Reserved
- us_ip = location.nil? || ['US', 'RD'].include?(location.country_code.to_s.upcase)

- current_user_school_info = current_user.school_info
- existing_school_info ||= {}
- existing_school_info['country'] ||= 'United States' if us_ip
- if current_user_school_info
  - existing_school_info['schoolType'] = current_user_school_info.school_type
  - existing_school_info['schoolName'] = current_user_school_info.school_name
  - existing_school_info['schoolState'] = current_user_school_info.state
  - existing_school_info['schoolZip'] = current_user_school_info.zip
  - existing_school_info['schoolLocation'] = current_user_school_info.full_address
  - existing_school_info['ncesSchoolId'] = current_user_school_info.school_id

- script_data = {}
- script_data['formUrl'] = registration_url('user')
- script_data['authTokenName'] = request_forgery_protection_token.to_s
- script_data['authTokenValue'] = form_authenticity_token
- script_data['existingSchoolInfo'] = existing_school_info

- content_for(:head) do
  %script{ src: minifiable_asset_path('js/schoolInfoInterstitial.js'), data: {schoolinfointerstitial: script_data.to_json}}
