-# Rendering this partial causes the school info interstitial to be shown to the
-# user.  Rendering this partial into a cached view may not work properly.
- content_for(:head) do
  - script_data = {}
  - script_data['formUrl'] = registration_url('user')
  - script_data['authTokenName'] = request_forgery_protection_token.to_s
  - script_data['authTokenValue'] = form_authenticity_token
  %script{ src: minifiable_asset_path('js/schoolInfoInterstitial.js'), data: {schoolinfointerstitial: script_data.to_json}}
