-# Rendering this partial causes the school info confirmation dialog to be shown to the
-# user.
- require 'country_codes'
- require 'state_abbr'
- require 'geocoder'

- location = Geocoder.search(request.ip).try(:first)
-# geocoder sometimes shows localhost's country as RD/Reserved
- us_ip = location.nil? || ['US', 'RD'].include?(location.country_code.to_s.upcase)
- current_user_user_school_info = Queries::UserSchoolInfo.last_complete(current_user)
- current_user_school_info = current_user_user_school_info.school_info

- script_data = {}
- script_data[:formUrl] = '/api/v1/user_school_infos'
- script_data[:authTokenName] = request_forgery_protection_token.to_s
- script_data[:authTokenValue] = form_authenticity_token
- script_data[:existingSchoolInfo] = {}
- if current_user_school_info
  - script_data[:existingSchoolInfo] = current_user_school_info.slice(:id, :country, :school_type, :school_id, :school_name, :full_address)
- script_data[:existingSchoolInfo][:user_school_info_id] = current_user_user_school_info.id
- script_data[:existingSchoolInfo][:country] ||= 'United States' if us_ip
- script_data[:existingSchoolInfo][:school_name] ||= current_user_school_info&.school&.name

- content_for(:head) do
  %script{src: minifiable_asset_path('js/layouts/_school_info_confirmation_dialog.js'), data: {schoolinfoconfirmationdialog: script_data.to_json}}
  :css
    .pac-container { z-index: 2000; }
