-# Rendering this partial causes the school info interstitial to be shown to the
-# user.  Rendering this partial into a cached view may not work properly.

- require 'country_codes'
- require 'state_abbr'
- require 'geocoder'

- location = Geocoder.search(request.ip).try(:first)
-# geocoder sometimes shows localhost's country as RD/Reserved
- us_ip = location.nil? || ['US', 'RD'].include?(location.country_code.to_s.upcase)
- school_info = Queries::SchoolInfo.current_school(current_user)

- script_data = {}
- script_data[:existingSchoolInfo] = {}
- if school_info
  - script_data[:existingSchoolInfo] = school_info
- script_data[:usIp] = us_ip

- content_for(:head) do
  %script{src: webpack_asset_path('js/layouts/_school_info_interstitial.js'), data: {schoolinfointerstitial: script_data.to_json}}
