#page-small-footer

:ruby
  reactProps = {
    i18nDropdown: (view_options[:has_i18n] ? URI.encode(i18n_dropdown.to_str) : ''),
    copyrightInBase: true,
    baseCopyrightString: I18n.t('footer.copyright'),
    baseMoreMenuString: I18n.t('footer.more'),
    menuItems: [
      {
        text: I18n.t('footer.report_abuse'),
        link: '/report_abuse',
        newWindow: true
      },
      {
        text: I18n.t('footer.support'),
        link: "https://support.code.org",
        newWindow: true
      },
      {
        text: I18n.t('footer.translate'),
        link: "https://code.org/translate",
        newWindow: true
      },
      {
        text: I18n.t('footer.tos'),
        link: "https://code.org/tos",
        newWindow: true
      },
      {
        text: I18n.t('footer.privacy'),
        link: "https://code.org/privacy",
        newWindow: true
      }
    ],
    copyrightStrings: build_copyright_strings,
    # false because we're not rendering into a phone wireframe here
    phoneFooter: false
  }

:javascript
  // Render the footer on the non-share pages
  ReactDOM.render(React.createElement(window.dashboard.SmallFooter, #{reactProps.to_json}),
    document.getElementById('page-small-footer'));
