#page-small-footer

:ruby
  reactProps = {
    i18nDropdown: '', #(view_options[:has_i18n] ? URI.encode(i18n_dropdown.to_str) : ''),
    copyrightInBase: true,
    baseCopyrightString: I18n.t('footer.copyright'),
    baseMoreMenuString: I18n.t('footer.more'),
    menuItems: [
      {
        text: I18n.t('footer.tos'),
        link: "/tos.html",
        newWindow: true
      },
      {
        text: I18n.t('footer.privacy'),
        link: "/privacy.html",
        newWindow: true
      }
    ],
    copyrightStrings: build_copyright_strings
  }

:javascript
  window.dashboard.footer.render(React, #{reactProps.to_json},
    document.getElementById('page-small-footer'));

