#page-small-footer

:ruby
  full_width = local_assigns[:full_width]
  channel = local_assigns[:channel]
  reactProps = {
    i18nDropdown: (view_options[:has_i18n] ? URI.encode(i18n_dropdown.to_str) : ''),
    privacyPolicyInBase: true,
    copyrightInBase: true,
    baseCopyrightString: I18n.t('footer.copyright'),
    baseMoreMenuString: I18n.t('footer.more'),
    menuItems: [],
    copyrightStrings: build_copyright_strings,
    # false because we're not rendering into a phone wireframe here
    phoneFooter: false,
    fullWidth: full_width,
    channel: channel
  }

:javascript
  // Render the footer on the non-share pages
  ReactDOM.render(React.createElement(window.dashboard.SmallFooter, #{reactProps.to_json}),
    document.getElementById('page-small-footer'));
