#page-small-footer

:ruby
  reactProps = {
    i18nDropdown: (view_options[:has_i18n] ? URI.encode(i18n_dropdown.to_str) : ''),
    copyrightInBase: true,
    baseCopyrightString: I18n.t('footer.copyright'),
    baseMoreMenuString: I18n.t('footer.more'),
    menuItems: [
      {
        text: I18n.t('footer.report_abuse'),
        link: '/report_abuse',
        newWindow: true
      },
      {
        text: I18n.t('footer.support'),
        link: "https://support.code.org",
        newWindow: true
      },
      {
        text: I18n.t('footer.translate'),
        link: "https://code.org/translate",
        newWindow: true
      },
      {
        text: I18n.t('footer.tos'),
        link: "https://code.org/tos",
        newWindow: true
      },
      {
        text: I18n.t('footer.privacy'),
        link: "https://code.org/privacy",
        newWindow: true
      }
    ],
    copyrightStrings: {
      thank_you: URI.escape(I18n.t('footer.thank_you')),
      help_from_html: I18n.t('footer.help_from_html'),
      art_from_html: URI.escape(I18n.t('footer.art_from_html', current_year: Time.now.year)),
      powered_by_aws: I18n.t('footer.powered_by_aws'),
      trademark: URI.escape(I18n.t('footer.trademark', current_year: Time.now.year))
    }
  }

:javascript
  window.dashboard.footer.render(React, #{reactProps.to_json},
    document.getElementById('page-small-footer'));

= render partial: 'shared/maybe_set_hoc_secret'
