:ruby
  full_width = local_assigns[:full_width]
  channel = local_assigns[:channel]
  reactProps = {
    i18nDropdownInBase: view_options[:has_i18n],
    localeUrl: locale_url,
    currentLocale: current_locale_option(global_edition: true),
    localeOptions: options_for_locale_select(global_edition: true).map {|(text, value)| {text: text, value: value}},
    privacyPolicyInBase: true,
    copyrightInBase: true,
    baseMoreMenuString: I18n.t('footer.more'),
    menuItems: [],
    # false because we're not rendering into a phone wireframe here
    phoneFooter: false,
    fullWidth: full_width,
    channel: channel,
    unitYear: view_options[:unit_year]
  }

#page-small-footer
%script{src: webpack_asset_path('js/layouts/_small_footer.js'), data: {smallfooter: reactProps.to_json}}
