- ethnicities = {}
- ethnicities["indian"] =  "American Indian or Alaska Native"
- ethnicities["asian"] = "Asian"
- ethnicities["black"] = "Black or African American"
- ethnicities["hispanic"] = "Hispanic or Latino"
- ethnicities["native"] = "Native Hawaiian or Other Pacific Islander "
- ethnicities["white"] = "White"

-# English only for now
- if language == "en"

  -# Show the survey.
  - if true

    -# If signed in, and user hasn't already filled out this survey
    - if current_user && true # !current_user.survey2016_value

      -# If at least 13, and account is at least 14 days old
      - if !current_user.under_13? && true # (DateTime.now - current_user.created_at.to_datetime) >= 14

        .survey{style: "background-color: rgb(200,200,200); padding:40px"}
          #surveythanks{style: "display: none"} Thank you for your response.
          #surveybody
            %h1{style: "margin-top:0px; color: rgb(80,80,80)"} Quick survey
            = form_for(SurveyResult.new, html: {id: 'survey', onsubmit: "return window.submitSurvey(true)", style: "margin-bottom:0px"}) do |f|
              %p{style: "padding-top: 10px; font-size:16px"}
                Of your students using Code.org's courses, how many are
              .dots{style: "padding-top: 10px; padding-bottom: 20px"}
                - ethnicities.each do |key, value|
                  %input{type: "text",  style: "width:70px; height:35px; font-size: 16px; text-align: right; margin: 5px; margin-left: 10px", name: "survey[survey2016_ethnicity_#{key}]", onclick: "enableSurveySubmit()"}
                  =value
                  %br/

              %p{style: "padding-top: 10px; font-size:16px"}
                Free and Reduced Meals
                %div{style: "font-size: 14px"}
                  (only answer this if you're using Code Studio during school hours)
              .dots{style: "padding-top: 0px; padding-bottom: 0px; font-size: 14px"}
                %input{type: "text", style: "width:70px; height:35px; font-size: 16px; text-align: right; margin: 5px; margin-left: 10px", name: "survey[survey2016_foodstamps]"}
                \% of students with free and reduced meals (FARMs) at your school
                %br/
                %br/

              #submit
                %button#submitSurvey{type: "submit", disabled: true} Submit
                %span{onclick: "return submitSurvey(false)", style: "cursor: pointer"} No thanks
        %br/

:javascript

  function enableSurveySubmit()
  {
    $("#submitSurvey").prop("disabled",false);
  }

  function submitSurvey(submittedValue)
  {
    var value;

    if (submittedValue)
    {
      value = $("#survey input[type=radio]:checked").val();
    }
    else
    {
      value = -1;
      $("#radio_-1").prop("checked", true)
    }

    //console.log("tracking event", "survey", "nps2015", value);
    trackEvent("survey", "nps2015", value);

    $("#surveythanks").show();
    $("#surveybody").hide();

    $.ajax({
      type: 'POST',
      url: $("#survey").attr('action'),
      data: $("#survey").serialize(),
      dataType: 'json'
    });

    return false;
  }
