-# English only for now
- if language == "en"

  -# US only
  - if request.location.try(:country_code) == 'US' || (!Rails.env.production? && request.location.try(:country_code) == 'RD')

    -# If signed in, and user hasn't already filled out this survey
    - if current_user && ! SurveyResult.where(user_id: current_user.id).exists?

      -# Temporarily, if user is an admin.  And if they're a teacher.
      - if current_user.admin? && current_user.teacher?

        -# If at least 13, and account is at least 14 days old
        - if !current_user.under_13? && (DateTime.now - current_user.created_at.to_datetime) >= 14

          .survey{style: "background-color: rgb(200,200,200); padding:40px"}
            #surveythanks{style: "display: none"}
              Thank you for your response.
              %a{href: "https://docs.google.com/forms/d/13O2Yu1d48NfmsBw6QcdPKAeQcQCBW6mtgkLxnWiwuxQ/viewform?entry.1857644974=__other_option__&entry.1857644974.other_option_response=#{current_user.id}", target: "_blank"}
                Answer more questions here.

            #surveybody
              %h1{style: "margin-top:0px; color: rgb(80,80,80)"} Quick survey
              = form_for(SurveyResult.new, html: {id: 'survey', onsubmit: "return window.submitSurvey(true)", style: "margin-bottom:0px"}) do |f|
                %p{style: "padding-top: 10px; font-size:16px"}
                  Of your students using Code.org's courses, how many are
                .dots{style: "padding-top: 10px; padding-bottom: 20px"}
                  - SurveyResult::ETHNICITIES.each do |key, value|
                    %input{type: "number",  style: "width:70px; height:35px; font-size: 16px; text-align: right; margin: 5px; margin-left: 10px", name: "survey[survey2016_ethnicity_#{key}]", onclick: "enableSurveySubmit()"}
                    =value
                    %br/

                %p{style: "padding-top: 10px; font-size:16px"}
                  Free and Reduced Meals
                  %div{style: "font-size: 14px"}
                    (only answer this if you're using Code Studio during school hours)
                .dots{style: "padding-top: 0px; padding-bottom: 0px; font-size: 14px"}
                  %input{type: "number", min: "0", max: "100", style: "width:70px; height:35px; font-size: 16px; text-align: right; margin: 5px; margin-left: 10px", name: "survey[survey2016_foodstamps]"}
                  \% of students with free and reduced meals (FARMs) at your school
                  %br/
                  %br/

                #submit
                  -# Let's not start with a disabled button for now.
                  %button#submitSurvey{type: "submit", disabled: false} Submit
                  %span{onclick: "return submitSurvey(false)", style: "cursor: pointer"} No thanks
          %br/

:javascript

  function enableSurveySubmit()
  {
    $("#submitSurvey").prop("disabled",false);
  }

  function submitSurvey(submittedValue)
  {
    var value;

    if (submittedValue)
    {
      value = $("#survey input[type=radio]:checked").val();
    }
    else
    {
      value = -1;
      $("#radio_-1").prop("checked", true)
    }

    //console.log("tracking event", "survey", "nps2015", value);
    trackEvent("survey", "nps2015", value);

    $("#surveythanks").show();
    $("#surveybody").hide();

    $.ajax({
      type: 'POST',
      url: $("#survey").attr('action'),
      data: $("#survey").serialize(),
      dataType: 'json'
    });

    // scroll to top of page so that user sees "thank you" even if they had scrolled down
    // to fill out survey.

    $('html,body').animate({scrollTop:0}, 100);

    return false;
  }
