%script{src: asset_path('browser-detector.js')}

#warning-banner{style: 'display: none'}

  %i.fa.fa-warning.warning-sign.bannerIcon#warningIcon{style: 'display: none'}
  %i.fa.fa-close.close-button.bannerIcon#dismissIcon{style: 'display: none; cursor: pointer', onclick: '$("#warning-banner").slideUp();'}
  &nbsp;
  #unsupportedBrowser.bannerText{style: 'display: none'}!= t("compatibility.upgrade.unsupported_message", supported_browsers_url: 'https://support.code.org/hc/en-us/articles/202591743')
  #appLabUnsupportedTablet.bannerText{style: 'display: none'}!= t("compatibility.upgrade.applab_unsupported_tablet")
  #gameLabUnsupportedTablet.bannerText{style: 'display: none'}!= t("compatibility.upgrade.gamelab_unsupported_tablet")
  #webLabUnsupportedBrowser.bannerText{style: 'display: none'}!= t("compatibility.upgrade.weblab_unsupported_browser")

:javascript
  $(document).ready(function () {
    var textDivId = null;
    var dismissable = false;

    if (isUnsupportedBrowser()) {
      textDivId = '#unsupportedBrowser';
    } else if (typeof appOptions !== 'undefined') {
      if (isSmallDevice()) {
        if (appOptions.app == 'applab') {
          textDivId = '#appLabUnsupportedTablet';
        } else if (appOptions.app == 'gamelab') {
          textDivId = '#gameLabUnsupportedTablet';
        }
        dismissable = true;
      } else if (isIE11() && appOptions.app == 'weblab') {
        textDivId = '#webLabUnsupportedBrowser'
        dismissable = true;
      }
    }

    if (textDivId) {
      $(textDivId).show();
      if (dismissable) {
        $("#dismissIcon").show();
      } else {
        $("#warningIcon").show();
      }
      $("#warning-banner").show();
    }
  });
