@import "color", "font";

.chatWarningModal {
  hr {
    margin: 1rem 0;
    border-color: $light_gray_200;
  }

  a {
    @include main-font-semi-bold;
    font-size: 1rem;
    color: $brand_secondary_default;
    margin: 1rem 0;
    text-decoration: underline;
    transition: color ease-in-out .2s;

    &:hover {
      color: $brand_secondary_dark;
    }
  }
}

.bottomSection {
  display: flex;
  justify-content: flex-end;
}