/* 
 * D3 Stuff
 */

#d3chart {
  width: 100%;
  height: 480px;
}

/* Bars */

.letter .english {
  fill: #2f96b4;
}
.letter:hover .english {
  fill: #1f6377;
}
.letter .user {
  fill: #ffa400;
}
.letter:hover .user {
  fill: #b37300;
}

.letter rect {
  transition-property: height, y;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
}

.dragging .letter rect {
  transition-property: none;
}

/* Letter Labels */

/* set some reasonable defaults */
.axis {
  font: 10px sans-serif;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis .english {
  fill: #2f96b4;
  font-weight: bolder;
  font-size: 14px;
}

/* hide a few elements that D3 creates that I don't want to see */
.x.axis path, .x.axis line {
  display: none;
}

.axis .dragletter:not(.locked) {
  cursor: move;
}

.axis .dragletter .dragtarget {
  fill: #ffa400;
  stroke: #b37300;
}
.axis .dragletter:hover .dragtarget {
  fill: #b37300;
}
.axis .dragletter .user {
  fill: white;
  font-size: 12px;
}
.axis .dragletter line {
  stroke: #b37300;
}
.axis .dragletter:hover line {
  stroke: #ffa400;
}

.outline {
  fill: none;
  stroke: #2f96b4;
  stroke-dasharray: 5;
}

/* Locks */

.axis .dragletter text {
  text-anchor: middle;
}

.axis .dragletter .hoverblock {
  fill: none;
  pointer-events: all;
}
.axis .dragletter text.lockicon {
  font-size: 16px;
  font-family: FontAwesome;
  display: none;
  cursor: pointer;
  fill: #999999;
}

/* show when hovering */
.axis .dragletter:hover text.lockicon {
  display: inline-block;
}

/* hide when dragging */
.dragging .axis .dragletter text.lockicon {
  display: none;
}

/* ALWAYS show when locked */
.axis .dragletter.locked .lockicon {
  display: inline-block !important;
}

/* When locked: */

/* hide dragtarget */
.axis .dragletter.locked .dragtarget, .axis .dragletter.locked line {
  display: none;
}
/* change usertext to match english text */
.axis .dragletter.locked .user {
  fill: #ffa400;
  font-weight: bolder;
  font-size: 14px;
}

/* 
 * Global Stuff
 */

button {
  text-transform: capitalize;
}

.btn-group .btn {
  margin-right: 0;
}

#top-buttons {
  margin-bottom: 10px;
}

.text-container {
  font-family: monospace;
  font-size: 12px;
  width: 100%;
  height: 290px;
  background-color: #fff2d9
}

.text-container#output {
  border: 1px solid #ccc;
  overflow: auto;
  white-space: normal;
  word-wrap: normal;
  background-color: #d9eff7;
}
.text-container#output span {
  color: rgb(85, 85, 85);
}
.text-container#output span.unlocked {
  background-color: #fff2d9
}

