@import '@code-dot-org/component-library-styles/colors.scss';
@import '@code-dot-org/component-library-styles/variables.scss';

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;

  .row {
    display: flex;
    gap: 1rem;

    > * {
      min-width: unset;
      display: flex;
      flex: 1;
      > input {
        height: 2rem;
      }
    }
  }

  .card {
    border-radius: $regular-border-radius;
    padding: 1rem;
    background-color: var(--background-neutral-secondary);
    border: 1px solid var(--borders-neutral-primary);
    gap: 1rem;
  }

  .item {
    display: flex;
    flex-direction: column;
    width: 100%;

    > div,
    input,
    textarea,
    select,
    button {
      width: 100%;
      border-color: var(--borders-neutral-strong);
    }

    &.required {
      > span::after,
      &[id='grades-dropdown'] > div:first-of-type > span::after {
        content: '*';
      }
    }

    textarea {
      height: 6rem;
      margin-bottom: 0;
      border-radius: $regular-border-radius;
      box-sizing: border-box;
      resize: vertical;

      &:focus-visible {
        outline: 2px solid var(--borders-brand-teal-primary);
        outline-offset: 2px;
        box-shadow: none;
      }
    }
  }

  .wrapContainer {
    flex-wrap: wrap;
    row-gap: 0.5rem;
  }
}
