---
title: How AI Works
theme: responsive_full_width
---

%link{href: "/css/generated/design-system-pegasus.css", rel: "stylesheet"}
%link{href: "/css/generated/page/how-ai-works-styles.css", rel: "stylesheet"}

%section.hero-banner-basic
  .wrapper.flex-container.justify-space-between.align-items-center.wrap
    .text-wrapper
      %h1{style: "color: white"}=hoc_s(:how_ai_works_hero_heading)
      %p.body-one{style: "color: white"}=hoc_s(:how_ai_works_hero_desc)
    %figure
      %img{src: "/images/banners/ai-bot-artist-w-trophy.png", alt: ""}
