---
title: How AI Works
theme: responsive_full_width
---

%link{href: "/css/generated/design-system-pegasus.css", rel: "stylesheet"}
%link{href: "/css/generated/page/how-ai-works-styles.css", rel: "stylesheet"}

%section.hero-banner-basic
  .wrapper.flex-container.justify-space-between.align-items-center.wrap
    .text-wrapper
      %h1{style: "color: white"}=hoc_s(:how_ai_works_hero_heading)
      %p.body-one{style: "color: white"}=hoc_s(:how_ai_works_hero_desc)
    %figure
      %img{src: "/images/banners/ai-bot-artist-w-trophy.png", alt: ""}

%section.bg-neutral-light
  .wrapper
    %h2=hoc_s(:how_ai_works_hero_heading)
    %p=hoc_s(:how_ai_works_intro_desc)
    %div.col-45{style: "margin: 0.5rem 0 1rem;"}
      = view :display_video_thumbnail, id: "intro_csp", video_code: "YlwVMtNEWKA", play_button: 'center', letterbox: 'false', download_path: "//videos.code.org/ai_series/ai-intro-to-how-ai-works-lessons.mp4"
    .text-wrapper.col-50{style: "float: right;"}
      %p
        %strong=hoc_s(:heading_these_lessons_will)
      %ul
        %li=hoc_s(:how_ai_works_intro_list_01)
        %li=hoc_s(:how_ai_works_intro_list_02)
        %li=hoc_s(:how_ai_works_intro_list_03)
        %li=hoc_s(:how_ai_works_intro_list_04)
      %a.link-button{href: "#how-ai-works-lessons"}
        =hoc_s(:call_to_action_explore_lessons)
    .clear

%section#how-ai-works-lessons
  .wrapper
    %h2=hoc_s(:how_ai_works_lessons_heading)

= view :section_divider_line

%section
  .wrapper
    %h2=hoc_s(:how_ai_works_lessons_in_a_day_title)
    %p=hoc_s(:how_ai_works_lessons_in_a_day_desc)
    .action-block.action-block--two-col
      %figure.col-50
        = view :display_video_thumbnail, id: "introducing_ai", video_code: "Ok-xpKjKp2g", play_button: 'center', letterbox: 'false', download_path: "//videos.code.org/ai_series/ai-01-intro-to-ai.mp4"
      .text-wrapper.col-50
        %p=hoc_s(:how_ai_works_lessons_in_a_day_desc_02)
        %p
          %strong=hoc_s(:module_label_duration)
          -# =hoc_s(:module_duration_1_hr)
          1 hour
        %p
          %strong=hoc_s(:module_label_grades)
          =hoc_s(:module_grade_6_12)
        %a.link-button{href: CDO.studio_url("/s/how-ai-works-2023/lessons/8")}
          =hoc_s(:call_to_action_see_lesson_details)
      .clear

= view :section_divider_line

%section
  .wrapper
    %h2=hoc_s(:heading_additional_resources)
    %p=hoc_s(:how_ai_works_resources_desc)
    .action-block__wrapper.action-block__wrapper--three-col
      .action-block.action-block--one-col.flex-space-between
        .content-wrapper
          %p.overline
            =hoc_s(:teachers_label)
          %h3=hoc_s(:ai_pl_callout_title)
          %img{src: "/shared/images/announcement/announcement_ai_pl_2023.png", alt: ""}
          %p=hoc_s(:ai_pl_callout_desc_01)
        .content-footer
          %p
            %strong=hoc_s(:module_label_duration)
            -# =hoc_s(:module_duration_5_hrs)
            5 hours
          %a.link-button{href: "/ai/pl/101", aria:{label: hoc_s(:aria_label_call_to_action_ai_pl_101_videos)}}
            =hoc_s(:call_to_action_watch_videos)
      .action-block.action-block--one-col.flex-space-between
        .content-wrapper
          %p.overline
            =hoc_s(:students_label)
          %h3=hoc_s(:ai_curriculum_title_01)
          %img{src: "/images/ai/ai-curriclum-machine-learning.png", alt: ""}
          %p=hoc_s(:ai_curriculum_desc_01)
        .content-footer
          %p
            %strong=hoc_s(:module_label_duration)
            -# =hoc_s(:module_duration_20_hrs)
            20 hours
          %a.link-button{href: CDO.studio_url("/s/aiml"), aria:{label: hoc_s(:ai_curriculum_btn_aria_label_01)}}
            =hoc_s(:call_to_action_explore_unit)
      .action-block.action-block--one-col.flex-space-between
        .content-wrapper
          %p.overline
            =hoc_s(:teachers_label)
          -# %h3=hoc_s(:ai_pl_title)
          %h3 Teaching AI and Machine Learning
          %img{src: "/images/ai/ai-professional-learning.png", alt: ""}
          -# %p=hoc_s(:ai_pl_desc)
          %p Introduction to artificial intelligence and machine learning. Train a machine learning model using AI Lab. and engage with machine learning apps. Consider real-world implications of AI and machine learning.
        .content-footer
          %p
            %strong=hoc_s(:module_label_duration)
            =hoc_s(:module_duration_2_hrs)
          %a.link-button{href: CDO.studio_url("/courses/self-paced-pl-aiml-2023"), aria:{label: hoc_s(:aria_label_call_to_action_ai_teaching_module)}}
            =hoc_s(:call_to_action_explore_module)
