---
title: Facilitating with Code.org
theme: responsive
---

<link href="/css/educate.css" rel="stylesheet">

# Facilitating with Code.org

[col-40]

<img src="/images/fit-450/facilitators.png" width="90%">

[/col-40]

[col-60]

<h2 style="margin-top: 1.5em">Change the face of computer science education - become a Code.org facilitator.</h2>

Code.org counts on engaging, committed, and knowledgeable facilitators to develop and support the next generation of computer science educators.

<br>
Code.org's Facilitator Onboarding Program is a highly-selective professional learning program designed to prepare and support facilitators to deliver quality workshops on Code.org's curriculum.

[/col-60]

<div style="clear: both;"></div>

<div class="educate-callout-box" style="width:100%; height: auto; margin: 2em auto 0;">
"I am completely new and a beginner to Computer Science and was very intimidated prior to this workshop. My facilitators were excellent and made me feel included and confident. (...) I am looking forward to using the CODE.org resources and curriculum to provide my students with a fair and equitable classroom. I am ready and inspired to build this program at my school."
<br>
<br>
— 2021 CS Principles Teacher from Colorado
<br>
</div>

<div style="clear:both"></div>



## Facilitator Onboarding Program Overview

<h3>If accepted as a Code.org facilitator, you will:</h3>

- Join a nationwide community of leaders and facilitators in CS education
- Participate in in-person, virtual, and independent facilitator training
- Partner with Code.org and our Regional Partners to shape the future of professional learning for thousands of new CS educators across the U.S. and beyond
- Collaborate with your local Code.org Regional Partner to deliver professional development workshops to teachers on Code.org’s courses, with ongoing support from Code.org and the facilitator community

<h3>Participants will also receive the following benefits:</h3>

- Travel and accommodations for all required in-person training events. Requirements vary by program
- Access to Code.org facilitator resources for your curriculum focus area (including how-tos, session plans, and tools you can use to deliver content to teachers successfully)

<h3>Who should apply?</h3>

The Facilitator Onboarding Program application is open to anyone interested in developing as a leader and serving as a facilitator for teachers bringing CS education to their students. Applicants must meet the desired qualifications of a Code.org facilitator, and preference will be given to those who have:

- Familiarity with the content and philosophy of the Code.org courses ([CS Fundamentals](/educate/csf) / [CS Discoveries](/educate/csd) / [CS Principles](/educate/csp) / [CSA](/educate/csa) )
- Recent classroom experience teaching computer science
- Some familiarity with the [Code.org Professional Learning model](/educate/professional-learning) through previous experience participating in and/or facilitating Code.org workshops.
- Strong background in best practices for preparing K-12 teachers

<div style="clear:both"></div>


<a name="qualities"></a>

## Qualities of a Code.org Facilitator

We ask that all facilitator candidates demonstrate the following characteristics:

<div class="col-20" style="padding: 15px 0 0 10px; margin-bottom: 10px;">

<img src="/images/fit-100/infographics/facilitator_champ.png">

</div>

[col-75]

<h3>Champion for CS Education</h3>

- Enthusiastic supporter of K-12 CS education

[/col-75]

<div style="clear:both"></div>

<div class="col-20" style="padding: 15px 0 0 10px; margin-bottom: 10px;">

<img src="/images/fit-100/infographics/facilitator_equity.png">

</div>

[col-75]

<h3>Equity-Focused</h3>

- Committed to supporting access to quality CS education for all students
- Believes all teachers can teach CS
- Dedicated to developing their own understanding of and support for equity

[/col-75]

<div style="clear:both"></div>

<div class="col-20" style="padding: 15px 0 0 10px; margin-bottom: 10px;">

<img src="/images/fit-100/infographics/facilitator_growth.png">

</div>

[col-75]

<h3>Growth-Minded</h3>

- Demonstrated self-awareness of skills and experiences in which they can improve as a facilitator
- Willingness to give and receive feedback in a collaborative working environment
- Strong desire and commitment to developing as a leader within the CS education community

[/col-75]

<div style="clear:both"></div>

<div class="col-20" style="padding: 15px 0 0 10px; margin-bottom: 18px;">

<img src="/images/fit-100/infographics/facilitator_classroom.png">

</div>

[col-75]

<h3>Classroom Experience and Knowledgeable about Content</h3>

- Prior or current teaching experience
- Strong background in curriculum focus area, preferably through past teaching experience with specific course
- High level of comfort with technology, including virtual meeting tools and experience with Google Workspace

[/col-75]

<div style="clear:both"></div>

<div class="col-20" style="padding: 15px 0 0 10px; margin-bottom: 50px;">

<img src="/images/fit-100/infographics/facilitator_leader.png">

</div>

[col-75]

<h3>Engaging Leader</h3>

- Demonstrated ability to effectively engage and co-lead learning experiences for adults
- Demonstrated empathy for learners with a variety of backgrounds and levels of experience
- Ability to "think on your feet" and make decisions that are in the best interest of the audience while maintaining fidelity to the program
- Motivated self-starter

[/col-75]

<div style="clear:both"></div>



## Have questions? Interested in applying?

For more information about facilitating in your region, please reach out to your Regional Partner.

<a href="https://code.org/educate/professional-learning/contact-regional-partner", target="_blank"><button>Contact your local Regional Partner</button></a>
