---
theme: responsive_full_width
set_dir: true
---

:ruby
  @header["title"] = hoc_s("intl_pl_partners_page.page_title")

%link{href: "/css/generated/design-system-pegasus.css", rel: "stylesheet"}

%section
  .wrapper
    %h1=hoc_s("intl_pl_partners_page.heading")
    %p.body-one{style: "margin-bottom: 3rem;"}
      =hoc_s("intl_pl_partners_page.desc")
    = view :"professional_learning/intl_pl_partners_list"

= view :section_divider_line

%section
  .wrapper
    %h2=hoc_s("intl_pl_partners_page.join.heading")
    %p=hoc_s("intl_pl_partners_page.join.desc", markdown: :inline, locals: {apply_url: "/international/apply"})
