$maxCellWidth: 350px;

.columnName {
    display: inline-block;
    max-width: $maxCellWidth;
    overflow: hidden;
    white-space: nowrap;
}

.container {
    justify-content: space-between;
    padding: 6px 0px;
    display: flex;
    &IsEditing {
        display: none;
    }
}

iconWrapper {
    align-self: flex-end;
    padding-left: 5px;
}

.icon {
    color: white;
    cursor: pointer
}