.addColumnHeader {
  width: 40px;
}

.table {
  min-width: 600px;
}

.plusIcon {
  align-items: center;
  border-radius: 2px;
  background-color: var(--background-neutral-white-fixed);
  color: var(--text-brand-teal-primary-fixed);
  cursor: pointer;
  display: inline-flex;
  height: 18px;
  justify-content: center;
  width: 18px;
}
