@import 'color.scss';

.container {
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 270px;
    box-sizing: border-box;
    border-right: 1px solid gray;
    overflow-y: auto;
    padding: 10px;
};
.divider {
    border-color: $light_gray;
    margin: 5px 0px 10px 0px;
}