@import 'color.scss';

$tableWidth: 400px;

.table {
    width: $tableWidth;
    margin-top: 10px;
    margin-bottom: 10px;
};
.container {
    position: absolute;
    width: 100%;
    top: 0px;
    bottom: 0px;
    background-color: $white;
    display: none;
    &Display {
        display: block;
    }
};
.dataBrowser {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 270px;
    right: 0px;
    padding: 10px;
}
