@import 'color', 'font';

.categoryName {
  @include main-font-bold;
  cursor: pointer;
  color: $dark_charcoal;
}

.tableNumber {
  @include main-font-regular;
  float: right;
  color: $light_gray;
}

.categoryDescription {
  @include main-font-regular;
  color: $dark_charcoal;
}

.tableName {
  @include main-font-semi-bold;
  color: $cyan;
}

.collapsibleContainer {
  padding-left: 16px;
}
