.buttonWrapper {
    display: inline-block;
    margin-bottom: 10px;
    margin-top: 10px;
};
.container {
    // subtract the height of the clearfix element
    margin-bottom: -28px;
    // subtract the top margin of the buttonWrapper
    margin-top: -10px;
    padding-top: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
    padding-right: 0px;
    // make the buttons align right usually, but align left if they
    // are forced to wrap onto the next line by a very long table name.
    text-align: justify
};
.exportButton {
    margin-left: 10px;
    width: 120px;
};
.tableName {
    font-size: 18px;
};
.tableNameWrapper {
    align-items: flex-end;
    display: inline-flex;
    height: 30px;
    margin-right: 10px;
    vertical-align: middle;
}
