:ruby
  options = { level: level, script_level: script_level, language: language, user_type: user_type, loc_prefix: loc_prefix, request: request }

  contents = Hamburger.get_hamburger_contents(options)

#hamburger{class: contents[:visibility]}
  #hamburger-contents.hide-responsive-menu
    - contents[:entries].each do |entry|
      - if entry[:type] == "divider"
        .divider{id: entry[:id], class: entry[:class]}
      - elsif entry[:type] == "expander"
        .hamburger-expandable-item.item{id: entry[:id]}
          .text= entry[:title]
          %i.arrow-down{class: "fa fa-caret-down"}
          %i.arrow-up{class: "fa fa-caret-up"}
        .hamburger-expandable-items{id: "#{entry[:id]}-items"}
          - entry[:subentries].each do |subentry|
            .item
              %a{id: subentry[:id], href: subentry[:url]}= subentry[:title]
      - else
        %div{class: entry[:class]}
          .item
            - target = entry[:target] ? entry[:target] : "_self"
            %a{id: entry[:id], href: entry[:url], target: target}= entry[:title]

  #hamburger-icon.clicktag{class: contents[:visibility]}
    %span{style: "pointer-events: none"}
