:ruby
  require 'cdo/help_header'

  options = { level: level, script_level: script_level, lesson: lesson, language: language, user_type: user_type, loc_prefix: loc_prefix, request: request }

  help_items = HelpHeader.get_help_contents(options)

.help_button{class: "hide-mobile", id: "help-button", tabindex: "0", 'aria-label': I18n.t('header_screen_reader_help')}
  .help_contents{style: 'display: none', id: "help-contents", dir: language_dir_class}
    - help_items.each do |entry|
      %a.linktag{id: entry[:id], href: entry[:url], target: entry[:target], rel: entry[:rel]}=entry[:title]

  %i.help_icon.clicktag{class: "fa fa-question-circle hide-mobile", id: "help-icon"}
    %span{style: "pointer-events: none"}




