- require deploy_dir('shared/middleware/helpers/experiments')

-# When student projects are embedded in other websites, the URL ends with
-# /embed. When Code.org is rendered in an iframe on another website, we are
-# responsible for getting user consent for Cookies and Tracking Technologies,
-# therefore, we don't need to display the OneTrust banner requesting consent.
- return if request&.path&.ends_with?('/embed')

-# OneTrust Cookies Consent Notice scripts for code.org
-# default to loading the prod OneTrust configuration.
- onetrust_version = experiment_value('onetrust_cookie_scripts', request) || 'self_hosted'
- cookie_script_env = onetrust_version == 'self_hosted' ? 'prod' : onetrust_version
-# The OneTrust config to load should be passed in.
- domain ||= nil
:ruby
  one_trust_domains = {
    'code.org' => {
      'test' => '27cca70a-7db3-4852-9ef0-a6660fd0977d-test',
      'prod' => '27cca70a-7db3-4852-9ef0-a6660fd0977d',
    },
    'hourofcode.com' => {
      'test' => '7c79c547-a2fc-4998-9b21-0c7a5e67e345-test',
      'prod' => '7c79c547-a2fc-4998-9b21-0c7a5e67e345',
    }
  }
-# Don't add the libraries if the feature is 'off' or an unknown
-# domain was given.
- one_trust_domain = one_trust_domains.dig(domain, cookie_script_env)
- if cookie_script_env != 'off' && one_trust_domain.present?
  - base_url = onetrust_version == 'self_hosted' ? "/onetrust" : "https://cdn.cookielaw.org"
  - auto_block_src = "#{base_url}/consent/#{one_trust_domain}/OtAutoBlock.js"
  - consent_banner_src = "#{base_url}/scripttemplates/otSDKStub.js"
  %script{src: auto_block_src, type: 'text/javascript', charset: 'UTF-8'}
  %script{src: consent_banner_src, type: 'text/javascript', charset: 'UTF-8', 'data-domain-script' => one_trust_domain}
  :javascript
    function OptanonWrapper() { }

