- require deploy_dir('shared/middleware/helpers/experiments')
-# OneTrust Cookies Consent Notice scripts for code.org
-# default to loading the prod OneTrust configuration.
- cookie_script_env = experiment_value('onetrust_cookie_scripts', request) || 'prod'
-# The OneTrust config to load should be passed in.
- domain ||= nil
:ruby
  auto_block_src = {
    'code.org' => {
      'test' => 'https://cdn.cookielaw.org/consent/27cca70a-7db3-4852-9ef0-a6660fd0977d-test/OtAutoBlock.js',
      'prod' => 'https://cdn.cookielaw.org/consent/27cca70a-7db3-4852-9ef0-a6660fd0977d/OtAutoBlock.js',
    },
    'hourofcode.com' => {
      'test' => 'https://cdn.cookielaw.org/consent/7c79c547-a2fc-4998-9b21-0c7a5e67e345-test/OtAutoBlock.js',
      'prod' => 'https://cdn.cookielaw.org/consent/7c79c547-a2fc-4998-9b21-0c7a5e67e345/OtAutoBlock.js',
    }
  }
- return '' if cookie_script_env == 'off'
-# If an invalid domain is given don't render anything.
- return '' unless auto_block_src[domain]
%script{src: auto_block_src[domain][cookie_script_env], type: 'text/javascript'}
%script{src: 'https://cdn.cookielaw.org/scripttemplates/otSDKStub.js', type: 'text/javascript', charset: 'UTF-8', 'data-domain-script' => '27cca70a-7db3-4852-9ef0-a6660fd0977d'}
:javascript
  function OptanonWrapper() { }
