%script{src: webpack_asset_path('js/userHeaderEventLogger.js'), data: {isSignedOut: is_signed_out.to_json, userType: user_type.to_json, controller: controller.to_json, action: action.to_json, createMenuOptions: create_menu_options&.to_json}}
