@import 'font.scss';

@keyframes slidein {
  from {
    opacity: 0;
    margin-top: 20px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}

.instructions {
  width: 100%;
  height: 100%;
  background-size: 100% 200%;
  padding: 10px;
  box-sizing: border-box;
  position: relative;
  font-size: 14px;
  line-height: 1.5;
  display: flex;
  overflow: hidden;
  margin-bottom: 45px; // space for copyright footer
  background-color: var(--background-neutral-primary);

  &.vertical {
    flex-direction: column;
  }
}

.item {
  display: flex;
  pointer-events: auto;
  flex: 1;
  opacity: 1;
  height: 100%;

  &.itemVertical {
    flex-direction: column;
  }
}

.mainInstructions {
  white-space: normal;
}

.bubble {
  padding: 12px;
  border-radius: 4px;
  animation: slidein 0.5s;
  background-color: var(--background-neutral-secondary);
  color: var(--text-neutral-primary);

  h1, h2, h3, h4 {
    color: var(--text-brand-teal-primary);
  }

  &:not(:last-of-type) {
    margin-bottom: 10px;
  }

  a:link, a {
    color: var(--text-brand-purple-primary);
    text-decoration: underline;
    &:hover {
      color: var(--text-brand-purple-secondary);
    }
  }
}

.bubbleNoSlide {
  animation: none;
}

.buttonInstruction {
  width: 100%;
  height: 32px;
}

// Using button to increase specificity of this class
// (this allows it to take precedence over the component library button styles)
button.validationButton {
  margin-top: 8px;
}

.markdownText {
  line-height: 0;
  user-select: text;
  word-break: break-word;

  h1,
  h2,
  h3,
  h4 {
    margin: 0 0 10px 0;
    font-size: 1.75em;
    line-height: 1.2em;

    &, em, strong {
      font-family: $barlowSemiCondensed-semibold;
    }
  }

  ol, ul {
    line-height: 0;
  }

  li {
    margin-bottom: 5px;
  }

  code, pre {
    color: var(--text-info-secondary);
    background-color: var(--background-neutral-primary);
    border: 1px solid var(--borders-neutral-strong);
  }

  pre code {
    border: none;
  }

  code {
    // Allow code to wrap.
    white-space: pre-wrap;
  }

  p {
    font-size: 14px;
  }

  details {
    line-height: 0;
    summary {
      line-height: 1.2;
      font-weight: bold;
      margin: 4px 0;

      &:hover {
        background-color: var(--background-neutral-quaternary);
      }
    }
  }
}

.validationIcon {
  width: 20px;
  height: 20px;
  margin-top: 6px;
}

.predictQuestion {
  width: auto;
  margin: 4px;
}

.button {
  padding: 12px;
}

.scrollingContent {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  margin-bottom: 10px;
}
