@import 'color';
@import '@code-dot-org/component-library-styles/colors.scss';
.duotone {
  // --fa-primary-color: white;
  // --fa-secondary-opacity: 1.0;
  // --fa-primary-opacity: 1.0;
}

.green {
  --fa-secondary-color: var(--background-success-primary);
}

.red {
  color: $light_negative_500;
}

.yellow {
  color: $light_caution_700;
}

.testColors {
  --fa-secondary-opacity: 1;
  --fa-primary-color: rgb(225,19,131);
  --fa-secondary-color: rgb(245,130,31);
}