@import 'color';
@import '@code-dot-org/component-library-styles/colors.scss';
.duotone {
  --fa-primary-color: var(--text-neutral-primary);
  --fa-secondary-opacity: 1.0;
  --fa-primary-opacity: 1.0;
}

.green {
  --fa-secondary-color: var(--background-success-primary);
}

.red {
  color: var(--background-error-primary);
}

.yellow {
  color: var(--background-warning-primary);
}

.icon {
  font-size: 16px;
}