@import 'color.scss';

.icon {
  margin-right: 4px;
}

.validationResultsTable {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid $light_white;

  thead td{
    font-weight: bold;
    font-size: 16px;
  }

  td {
    border: 1px solid $light_white;
    padding: 4px 6px;
  }
}

.testSummary {
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
}
