<% var i18n = require('../../locale'); %>
<h1 class="minecraft-big-yellow-header" id="getting-started-header"><%= i18n.minecraftNotConnected() %></h1>

<h2 id="download-text"><%= i18n.connectToCodeConnection() %></h2>

<div class="download-button" id="download-button"><%= i18n.downloadButton() %></div>

<div id="close-popup"></div>
