<%
/**
 * This block destructures the local variables for use within this ejs template.
 */
var title = locals.title;
var message = locals.message;
%>
<h1 class="minecraft-big-yellow-header" id="error-message"><%= title %></h1>

<h2><%= message %></h2>

<div id="close-popup"></div>
