<% var i18n = require('../../locale'); %>
<h1 class="minecraft-big-yellow-header" id="import-header"><%= i18n.importShareLinkHeader() %></h1>

<h2><%= i18n.importShareLinkBody() %></h2>

<input type="text" id="share-link" placeholder="Example: https://studio.code.org/c/999999999" />
<div class="button" id="import-button"><%= i18n.import() %></div>

<br />

<div class="button" id="cancel-button"><%= i18n.cancel() %></div>

<div id="close-popup"></div>
