@import "color";

.toggle {
  display: flex;
  flex-direction: row;

  > span {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }

  div {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    text-align: left;

    input[type="checkbox"] {
      position: absolute;
      opacity: 0;
    }

    .switch {
      display: block;
      overflow: hidden;
      cursor: pointer;
      border: 0;
      border-radius: 20px;
      margin: 0;
      height: 100%;
      width: 100%;

      i {
        display: block;
        height: 100%;
        cursor: pointer;
        background-color: $neutral_dark50;
        border-radius: 100px;
        width: 200%;
        margin-left: -100%;
        transition: margin 0.3s ease 0s;

        &::before,
        &::after {
          display: block;
          float: left;
          width: 50%;
          border: 2px solid transparent;
          border-radius: 100px;
          color: $neutral_white;
          box-sizing: border-box;
        }

        // Checked styles
        &::before {
          content: "\f00c";
          background-color: $light_primary_500;
        }

        // Unchecked styles
        &::after {
          content: "\f00d";
          background-color: $light_gray_500;
          text-align: right;
        }
      }

      //Span is the circle (switch handle)
      span {
        display: block;
        width: 20px;
        margin: 2px;
        background: $neutral_white;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 50%;
        border: 0;
        border-radius: 20px;
        transition: all 0.2s ease 0s;
      }
    }

    input[type="checkbox"]:checked + .switch {
      i {
        margin-left: 0;
      }

      span {
        right: 0;
        left: 50%;
      }
    }
  }

  // Hover styles
  &:hover {
    div {
      .switch {
        i {
          &::before {
            background-color: $light_primary_700;
          }

          &::after {
            background-color: $light_gray_700;
          }
        }
      }
    }
  }

  // Focus styles
  div input[type="checkbox"]:focus + .switch{
    outline: 2px solid $light_primary_500;
    outline-offset: 2px;
  }

  // Pressed styles
  &:active div input[type="checkbox"]:not(:disabled) + .switch i,
  div input[type="checkbox"]:active:not(:disabled) + .switch i {
    &::before {
      border-color: $light_primary_500;
    }

    &::after {
      border-color: $light_gray_500;
    }
  }

  //disabled styles
  &:has(input[type="checkbox"]:disabled) {
    cursor: default;
    > span {
      color: $light_gray_200;
    }
    > div {
      .switch, .switch i  {
        cursor: not-allowed;
        &::before, &::after {
          background-color: $light_gray_200;
        }
      }
    }
  }
}

//.toggle-l {
//}
.toggle-m {
  gap: 8px;

  div {
    width: 48px;
    height: 24px;

    .switch {
      i {
        &::before,
        &::after {
          height: 24px;
          padding: 2px;
          line-height: 16px;
          font-size: 16px;
        }

        &::before {
          padding-left: 4px;
        }

        &::after {
          padding-right: 4px;
        }
      }
    }
  }
}
//.toggle-s {
//}
//.toggle-xs {
//}

.toggle-right {
  :nth-child(1) {
    order: 2;
  }
  :nth-child(2) {
    order: 1;
  }
}
