---
title: Hour of Code Organizer Survey - Claim Prize
nav: blank
rightbar: blank
---

-code = File.basename(request.path_info)

:ruby
  email = Poste.decrypt(code) rescue nil
  completed_survey = DB[:forms].where(kind: 'HocSurvey2015', email: email).first
  redirect "/survey/#{code}" unless completed_survey

  data = JSON.parse completed_survey[:data]
  country = data['event_country_s']

%script{type: "text/javascript", src: "/js/sifter.min.js"}
%script{type: "text/javascript", src: "/js/microplugin.min.js"}
%script{type: "text/javascript", src: "/js/selectize.min.js"}
%script{type: "text/javascript", src: "/js/selectize-fast-click.js"}
%script{type: "text/javascript", src: "/js/hoc-survey-prize-2015.js"}
%link{rel: "stylesheet", type: "text/css", href: "/css/selectize.bootstrap3.css"}/

%h1 Hour of Code Organizer Survey - Claim Prize

%div
  The deadline to complete the survey was January 15, 2016.
  We are no longer accepting surveys or offering thank-you gifts.
  Thank you for participating and supporting the campaign!
