:scss

  .skinny-banner {
    background-image: url('/images/banners/banner-transformers-background.png');
    background-size: cover;
    background-position: center;

    img {
      width: 165px;
    }

    @media (min-width: 753px) {
      .text-wrapper {
        width: 50%;
      }
    }

    @media (max-width: 753px) {
      .wrapper {
        justify-content: center;
      }
    }
  }

- if request.language == "en"
  %section.skinny-banner
    .wrapper.flex-container.justify-space-between.align-items-center.wrap.gap-1
      .text-wrapper.centered
        %h1.heading-lg.white
          =hoc_s("transformers.header")
        %p.white
          =hoc_s("transformers.desc")
      %figure.col-30
        %img{src:"/images/banners/banner-transformers-one.png", alt: "Transformers One"}
      .cta-wrapper.col-30
        %a.link-button.white{href: CDO.studio_url("s/hello-world-transformers-one-2024/lessons/1/levels/1"), target: "_blank", rel: "noopener noreferrer", "aria-label": "Start a Transformers One activity now"}
          =hoc_s(:call_to_action_start_activity_short)
