#visualization {
  width: 400px;
  background: #000;
  overflow: hidden;
}

#visualizationColumn {
  float: left;
}

#binaryImage {
  width: 100%;
  height: 250px;
  font-family: monospace;
}

#err {
  color: #CC0000;
}

#file_format div {
  padding: 3px 5px;
  border: 1px solid #000;
  max-width: 230px;
  background: #fff;
}

#file_format .byte {
  border-bottom: 0;
  width: 140px;
}

input[type=radio] {
  margin: 0 3px;
}

input[type=number] {
  width: 50px;
}

.label_group label {
  display: inline-block;
}
