#visualization {
  width: 400px;
  overflow: hidden;
}

#visualizationColumn {
  float: left;
}

#pixel_data {
  width: 100%;
  height: 350px;
  font-family: monospace;
  box-sizing: border-box;
}

#file_format div {
  padding: 3px 5px;
  border: 1px solid #000;
  max-width: 230px;
  background: #fff;
}

#file_format .byte {
  border-bottom: 0;
  width: 140px;
}

#image_controls td {
  white-space: nowrap;
}

#image_controls td:nth-child(2) {
  padding: 0 5px;
}

#image_controls td:last-child {
  width: 100%;
}

input[type=radio] {
  margin: 0 3px;
}

input[type=number] {
  width: 50px;
}

input[type=range] {
  width: 100%;
}

.label_group label {
  display: inline-block;
}
