%p
  Dear Parent/Guardian,

%p
  You or your child under the age of 13 has attempted to create a  Code.org® account (or add a personal login to an existing Code.org account used in school). We previously sent an email asking you to approve your child's use of Code.org.

%p
  <u><em>Please click the button below to grant approval.</em></u>  If you do not grant approval, your child's account will not be activated and all account information (along with your email address) will be deleted after approximately 7-10 days.

%a{href: @permission_url, style: 'width: 300px; height: 36px; border: 0; color: white; background-color: #4287f5; font: bolder 18px Arial; display: block; text-align: center; line-height: 36px; text-decoration: none; border-radius: 5px;'}
  Allow my child to use Code.org

%p
  Code.org is a US-based nonprofit that provides free computer science courses and activities.  We collect limited personal data solely for the purpose of providing the services, including:  Display Name (we recommend using only first name - used to provide welcome); Username (not actual name); Passwords; Hashed Email Address (not stored in retrievable format - can't be used to contact student); Age (not birthday); and Gender (optional) (used for aggregate measurements).

%p
  Code.org assigns utmost importance to student data privacy and security. As a not-for-profit organization, they are transparent about the limited data they collect and how they use it.  They do not sell data or exploit it for financial gain. They do not sell ads. Code.org has signed the
  %a{href:"https://studentprivacypledge.org/signatories/"}Student Privacy Pledge
  and their privacy practices are highly rated by
  %a{href:"https://privacy.commonsense.org/evaluation/code.org"}Common Sense Media.
  You can find further details by viewing Code.org's
  %a{href:"https://code.org/privacy-nov2021#protecting-childrens-privacy"}Privacy Policy.

%p
  By approving your child's account, you agree to the Code.org
  %a{href:"https://code.org/tos"}Terms of Service
  and
  %a{href:"https://code.org/privacy-nov2021#protecting-childrens-privacy"}Privacy Policy.
  You may withdraw your consent and delete the child's account at any time by contacting us at
  %a{href:"mailto:support@code.org"}support@code.org
  from your email address receiving this notice.  Your email address will not be used or disclosed by Code.org for any other purpose unless you provide a separate consent.

%p
  Thank you for allowing your child to learn with us.

%p
  The Code.org Team
