- require 'cdo/shared_constants'

%p
  Dear Parent/Guardian,

%p
  Thank you for approving your child's use of a Code.org® account (or adding a personal login to an existing Code.org account used in school).  By approving your child's account, you agree to the Code.org
  %a{href:SharedConstants::EMAIL_LINKS.TOS_URL}Terms of Service
  and
  %a{href:SharedConstants::EMAIL_LINKS.PRIVACY_POLICY_URL}Privacy Policy.

%p
  You can revoke your consent at any time by emailing us at
  %a{href:SharedConstants::EMAIL_LINKS.CDO_SUPPORT_MAILTO}support@code.org
  from this email address.  You can also self-delete your child's account by signing in and clicking the user name in the top right corner of the screen, and then selecting "account settings." Simply scroll down to the bottom of that page and follow the instructions there to delete the  account. If you don't see the option for deletion, your child is still enrolled in one or more teachers' sections, and you'll need to ask the teachers to remove them first from that section before you can delete the account.

%p
  Code.org is a US-based nonprofit that provides free computer science courses and activities.  We collect limited personal data solely for the purpose of providing the services, including:  Display Name (we recommend using only first name - used to provide welcome); Username (not actual name); Passwords; Hashed Email Address (not stored in retrievable format - can't be used to contact student); Age (not birthday); and Gender (optional) (used for aggregate measurements).

%p
  Code.org assigns utmost importance to student data privacy and security. As a not-for-profit organization, they are transparent about the limited data they collect and how they use it.  They do not sell data or exploit it for financial gain. They do not sell ads. Code.org has signed the
  %a{href:SharedConstants::EMAIL_LINKS.STUDENT_PRIVACY_PLEDGE_URL}Student Privacy Pledge
  and their privacy practices are highly rated by
  %a{href:SharedConstants::EMAIL_LINKS.COMMON_SENSE_MEDIA_URL}Common Sense Media.
  You can find further details by viewing Code.org's
  %a{href:SharedConstants::EMAIL_LINKS.PRIVACY_POLICY_URL}Privacy Policy.

%p
  Thank you for allowing your child to learn with us.

%p
  The Code.org Team
