%p
  Welcome to Code.org! You have successfully linked your email to the account of your child,
  %strong>= " #{@student.name}"
  \. We're thrilled that you have taken the next step in supporting their learning and exploration of
  computer science.  If you are not the parent or guardian for this account, please reply to this email or contact support@code.org.

%h3
  Looking for a place to get started?
%p
  We’ve collected a set of
  %a{href:"https://code.org/athome"}resources for learning at home,
  including fun introductory tutorials, short educational videos, express courses, and open-ended projects.

%p
  Don’t have a computer? We can suggest some options that work great on mobile phones or tablets too!
  %a{href:"https://code.org/athome#apps"}See smartphone options.

%h3
  Stay involved with what your child is learning
%p
  %a{href:"https://medium.com/@codeorg/cs-helps-students-outperform-in-school-college-and-workplace-66dd64a69536"}Six different studies show:
  children who study computer science perform better in other subjects,
  excel at problem solving,
  and are 17% more likely to attend college.

%p
  Parent excitement and involvement can help keep kids motivated as they learn - try checking in with your student when
  you can to see what they’ve built. Encourage them to browse the
  %a{href:"https://studio.code.org/projects/public"}games or artwork project gallery,
  or watch one of our
  %a{href:"https://code.org/educate/resources/inspire"}inspirational videos
  together.
  %a{href:"https://support.code.org/hc/en-us/articles/360041539831-How-can-I-keep-track-of-what-my-child-is-working-on-on-Code-org-"}Learn more.

%h3
  Join the movement!
%p
  Every student in every school should have the opportunity to learn computer science.
  Follow us
  %a{href:"https://twitter.com/codeorg"}on Twitter,
  %a{href:"https://www.instagram.com/codeorg"}on Instagram,
  %a{href:"https://www.facebook.com/Code.org"}on Facebook,
  or
  %a{href:"https://www.linkedin.com/company/code-org"}on LinkedIn.

%p
  Our coding platform and K-12 computer science curriculum are the most broadly used in the world,
  and we depend on generous donors to keep our resources free for all students.
  If your child enjoyed learning on Code.org, please consider
  %a{href:"https://donate.code.org/campaign/support-computer-science-education/c172233"}supporting our work
  to enable other children to learn too. And explore other
  %a{href:"https://code.org/help"}ways to get involved.

%p
  Thank you for supporting and encouraging your child’s learning!

%p
  Hadi Partovi
  %br
  Founder, Code.org

%p
  P.S. We take student privacy very seriously at Code.org. Read our
  %a{href:"https://code.org/privacy"}privacy policy
  for details.

%p
  %strong
    %em Did you receive this email in error?

%p
  If you are not the parent or guardian of
  %strong>= " #{@student.name}"
  , please reply to this email or contact support@code.org in order to unlink your email address.
