@import 'color.scss';
@import 'style-constants';

.pageAndSidebar {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

.pageWithHeader {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
}

.widthLockedPage {
  max-width: $content-width;
  padding: 10px 64px 64px 64px;
}

.sidebarContainer {
  width: 242px;
  flex: 0 0 242px;
  background-color: $light_gray_50;
  height: auto;
}

.sidebarContent {
  position: sticky;
  top: 0;
  padding-bottom: 16px;
}

.sectionDropdown {
  padding-left: 16px;
  width: 210px;
}

.optionIcon {
  color: $neutral_dark80;
  font-size: 16px;
  line-height: normal;
}

.linkText {
  margin-bottom: 0 !important;
  font-weight: 600 !important;
  color: $neutral_dark80;
}

.sidebarOption {
  display: flex;
  height: 32px;
  align-items: center;
  gap: 12px;
  padding-left: 32px;
  text-decoration: none;
  margin-top: 4px;

  &.selected {
    border-left: 4px solid $light_primary_500;
    background-color: $neutral_gray10;
    padding-left: 28px;
    text-decoration: none;
  }

  &:hover {
    background-color: $neutral_gray10;
    text-decoration: none;
  }
}

.sectionHeader {
  margin-top: 0;
  margin-bottom: 2px;
  padding-left: 16px;
  padding-top: 20px;
  color: $neutral_dark80;
}

.navLink {
  display: inline-block;
  background-color: $purple;
  color: $white;
  text-align: center;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  height: auto;
  line-height: 24px;
  font-weight: 600;

  &:hover {
    background-color: $brand_secondary_dark;
    color: $white;
    text-decoration: none;
  }

  &:focus {
    outline: $brand_primary_default solid 2px;
    outline-offset: 2px;
    color: $white;
  }
}

.topPadding {
  padding-top: 24px;
}

.iconContainer {
  width: 20px;
  text-align: center;
}

.header {
  display: flex;
  flex-direction: column;
}

.headerSectionName {
  font-size: 12px;
  font-weight: 600;
  color: $light_primary_500;
  text-transform: uppercase;
}
