/* Sidebar.css */
.sidebar {
  width: 242px;
  height: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  overflow-y: hidden; /* Prevent scrolling down */
}
