@import 'color.scss';

.sidebarContainer {
  width: 242px;
  flex: 0 0 242px;
  background-color: $light_gray_50;
}

.sidebarContent {
  position: sticky;
  top: 0;
}

.sectionDropdown {
  padding-left: 16px;
  width: 210px;
}

.sidebarOption {
  width: 100%;
  background-color: $neutral_gray10;
}

.sectionHeader {
  margin-top: 0;
  margin-bottom: 2px;
  padding-left: 16px;
  padding-top: 20px;
  // TO DO: modify color of text after hearing from Molly
}
