.center-pane {
  display: grid;
  height: 100%;
  grid-template-rows: 32px auto;
}

.center-side-bar {
  background-color: #3f444b;
}

.center-nav {
  background-color: #3f444b;
  color: white;
}

.center-debug {
  border: 1px solid black;
  background-color: #eee;
}

.center-main {
  background-color: #292f36;
}
