- @page_title = 'Contact Your Regional Partner'

- content_for(:head) do
  = stylesheet_link_tag 'css/pd', media: 'all'
%script{src: minifiable_asset_path('js/pd/regional_partner_mini_contact/new.js'), data: @script_data}

#application-header
  %h3
    Interested in Professional Learning?

%div#application-container{style: "background-color: #f3cba1; padding: 20px; border-radius: 10px;"}

%br/
%br/
