---
title: Learn
theme: responsive
social:
  'og:title' : "L'Ora di Codice sta arrivando"
  'og:description' : "L'Ora del Codice è un movimento globale che sta coinvolgendo decine di milioni di studenti in più di 180 paesi e in più di 30 lingue. Con età dai 4 ai 104 anni."
  'og:image' : "http://italia.code.org/images/ogimage.png"
  'og:image:width' : "1200"
  'og:image:height' : "626"
  "og:url": "http://italia.code.org"
  "og:video": ""
  "og:video:width": ""
  "og:video:height": ""
  "og:video:type": "" 
---

%div{:style=>'clear:both'}
  %h2
    Per svolgere l'Ora del Codice visita il nostro <a href='http://programmailfuturo.it/' target='_blank'>sito di supporto</a> per informazioni di dettaglio sull'iscrizione e la partecipazione.

  .greybox
    #column1{:style=>'float:left; width: 50%'}
      %a{:href=>"http://studio.code.org/s/1"}
        %img{:src=>"/images/codehoc3.jpg", style: "width:100%; height:100%"}
    #column2{:style=>'float:left; width: 50%; padding-right: 25px; padding-left: 25px; text-align: left;'}
      %h1white
        Introduction to Computer Science
      %br 
      %br
        Learn the basic concepts of Computer Science with drag and drop programming. This is a game-like, self-directed tutorial starring video lectures by Bill Gates, Mark Zuckerberg, Angry Birds and Plants vs. Zombies. Learn repeat-loops, conditionals, and basic algorithms. Available in 34 languages.
      %br
        Ages 4-104  |  Modern browsers, smartphones, tablets
      %br  
      %button{:style=>"font-size: 18px; height: 40px; text-align: center;"}
        %a{:href=>"http://studio.code.org/s/1", style:"color: white;"}
          Go

  %br
  %br
  .greybox
    #column1{:style=>'float:left; width: 50%'}
      %a{:href=>"http://studio.code.org/"}
        %img{:src=>"/images/code20hr.jpg", style: "width:100%; height:100%"}
    #column2{:style=>'float:left; width: 50%; padding-right: 25px; padding-left: 25px; text-align: left;'}
      %h1white
        Write your first computer program
      %br 
      %br
        Learn the basic concepts of Computer Science with drag and drop programming. 3 full courses, each consists of 15-20 lessons that blend "unplugged" classroom activities interspersed with game-like, self-directed tutorials starring video lectures by Bill Gates, Mark Zuckerberg, Angry Birds and Plants vs. Zombies. Learn repeat-loops, conditionals, basic algorithms, functions, and variables.
      %br
        Ages 4-104  |  Modern browsers, smartphones, tablets
      %br  
      %button{:style=>"font-size: 18px; height: 40px; text-align: center;"}
        %a{:href=>"http://studio.code.org/", style:"color: white;"}
          Go
