@import 'color';
@import '@cdo/apps/componentLibrary/common/styles/mixins';
@import '@cdo/apps/componentLibrary/common/styles/colors.css';

.segmentedButtons {
  display: flex;
  align-items: flex-start;
  gap: -1px;

  .segmentedButton {
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 0.5rem;
    border-radius: 0;
    margin: 0;

    background-color: transparent;
    border: 1px solid transparent;
    color: var(--text-neutral-primary);

    &:first-child {
      border-start-start-radius: 4px;
      border-end-start-radius: 4px;
    }

    &:last-child {
      border-start-end-radius: 4px;
      border-end-end-radius: 4px;
    }

    &:not(:last-child) {
      margin-right: -1px;
    }

    // Hover styles
    &:hover {
      box-shadow: none;
    }

    // Focus styles
    &:focus-visible {
      outline: none;
      background-color: var(--background-brand-teal-light);
    }

    // Pressed styles
    &:active {
      background-color: var(--background-brand-teal-primary);
      // Important here is needed to rewrite line 3328, app/assets/stylesheets/application.scss */
      border-color: var(--borders-brand-teal-primary) !important;
      color: var(--text-neutral-white-fixed);
    }

    // Disabled styles
    &:disabled {
      border-color: var(--borders-neutral-disabled);
      color: var(--text-neutral-disabled);
    }
  }

  // Selected styles
  .selectedSegmentedButton.segmentedButton {
    z-index: 0;
    background-color: var(--background-brand-teal-primary);
    border-color: var(--borders-brand-teal-primary);
    color: var(--text-neutral-white-fixed);

    // Hover styles
    &:hover {
      background-color: var(--background-brand-teal-primary);
      border-color: var(--borders-brand-teal-primary);
      color: var(--text-neutral-white-fixed);
    }

    // Focus styles
    &:focus-visible {
      background-color: var(--background-brand-teal-light);
      color: var(--text-neutral-primary);
    }

    // Pressed styles
    &:active {
      background-color: var(--background-brand-teal-primary);
      border-color: var(--borders-brand-teal-primary);
      color: var(--text-neutral-white-fixed);
    }

    // Disabled styles
    &:disabled {
      // TODO: Do we need this?
      background-color: $light_primary_100;
      border-color: $light_primary_100;
      color: $light_white;
    }
  }
}

// Colors
.segmentedButtons-primary {
  .segmentedButton {
    background-color: var(--background-neutral-primary);
    border-color: var(--borders-neutral-primary);

    // Hover styles
    &:hover {
      background-color: var(--background-neutral-tertiary);
      border-color: var(--borders-neutral-primary);
    }

    // Focus styles
    &:focus-visible {
      border-color: var(--borders-neutral-primary);
    }

    // Disabled styles
    &:disabled {
      background-color: var(--background-neutral-primary);
    }
  }

  // Selected styles
  .selectedSegmentedButton.segmentedButton {
    // Focus styles
    &:focus-visible {
      border-color: var(--borders-neutral-primary);
    }

    // Disabled styles
    &:disabled {
      background-color: var(--background-neutral-primary);
    }
  }
}

.segmentedButtons-strong {
  .segmentedButton {
    background-color: transparent;
    border-color: var(--borders-neutral-strong);

    // Hover styles
    &:hover {
      background-color: var(--background-neutral-quaternary);
      border-color: var(--borders-neutral-strong);
    }

    // Focus styles
    &:focus-visible {
      border-color: var(--borders-neutral-strong);
    }

    // Disabled styles
    &:disabled {
      background-color: transparent;
    }
  }

  // Selected styles
  .selectedSegmentedButton.segmentedButton {
    // Focus styles
    &:focus-visible {
      border-color: var(--borders-neutral-strong);
    }

    // Disabled styles
    &:disabled {
      background-color: transparent;
    }
  }
}

// Sizes
.segmentedButtons-l {
  .segmentedButton-withLabel {
    padding: 0.625rem 1rem;
  }

  .segmentedButton-iconOnly {
    padding: 0.75rem;
  }

  .segmentedButton-number {
    padding: 0.625rem 0;
    width: 3rem;
  }

  .segmentedButton {
    span {
      @include button-one-text;
      margin-bottom: 0;
      // Margin-top for correct vertical alignment of the metropolis font
      margin-top: 1px;
    }

    i {
      width: 1.5rem;
      height: 1.5rem;
      font-size: 1.1875rem;
      line-height: 1.25;
    }
  }
}

.segmentedButtons-m {
  .segmentedButton-withLabel {
    padding: 0.5rem 1rem;
  }

  .segmentedButton-iconOnly {
    padding: 0.625rem;
  }

  .segmentedButton-number {
    padding: 0.5rem 0;
    width: 2.5rem;
  }

  .segmentedButton {
    span {
      @include button-two-text;
      margin-bottom: 0;
      // Margin-top for correct vertical alignment of the metropolis font
      margin-top: 1px;
    }

    i {
      width: 1.25rem;
      height: 1.25rem;
      font-size: 1rem;
      line-height: 1.25;
    }
  }
}

.segmentedButtons-s {
  .segmentedButton-withLabel {
    padding: 0.3125rem 0.625rem;
  }

  .segmentedButton-iconOnly {
    padding: 0.4375rem;
  }

  .segmentedButton-number {
    padding: 0.3125rem 0;
    width: 2rem;
  }

  .segmentedButton {
    span {
      @include button-three-text;
      margin-bottom: 0;
      // Margin-top for correct vertical alignment of the metropolis font
      margin-top: 1px;
    }

    i {
      width: 1.125rem;
      height: 1.125rem;
      font-size: 0.875rem;
      line-height: 1.25;
    }
  }
}

.segmentedButtons-xs {
  .segmentedButton-withLabel {
    padding: 0.125rem 0.5rem;
  }

  .segmentedButton-iconOnly {
    padding: 0.25rem;
  }

  .segmentedButton-number {
    padding: 0.125rem 0;
    width: 1.5rem;
  }

  .segmentedButton {
    span {
      @include button-four-text;
      margin-bottom: 0;

      // Margin-top for correct vertical alignment of the metropolis font
      margin-top: 1px;
    }

    i {
      width: 1rem;
      height: 1rem;
      font-size: 0.8125rem;
      line-height: 1.25;
    }
  }
}
