---
title: Learn
theme: responsive
social:
  "og:description": "Anyone can learn the basic concepts of Computer Science. Choose an intro activity to start learning."
  "og:image": "http://code.org/images/fit-520/codehoc3.jpg"
  "og:image:width": 520
  "og:image:height": 391
  "og:video": ""
  "og:video:width": ""
  "og:video:height": ""
  "og:video:type": ""
---


= view 'mobilecheck.js'

%script{src: CDO.studio_url('/assets/js/tutorialExplorer.js')}



- tutorials = Tutorials.new(:tutorials)

- filters = []

- entries = []
- entries << {name: "pre", text: "Pre-reader"}
- entries << {name: "2-5", text: "2-5"}
- entries << {name: "6-8", text: "6-8"}
- entries << {name: "9+", text: "9+"}

- filters << {name: "grade", text: "Grades", entries: entries}

- entries = []
- entries << {name: "browser", text: "Cross platform (browsers)"}
- entries << {name: "ipad", text: "iPads"}
- entries << {name: "android-tablet", text: "Android Tablets"}
- entries << {name: "iphone", text: "iPhones"}
- entries << {name: "android-phone", text: "Android phones"}
- entries << {name: "windows", text: "Windows"}
- entries << {name: "mac", text: "Mac"}
- entries << {name: "unplugged", text: "None (Unplugged lessons)"}

- filters << {name: "platform", text: "Platform", entries: entries}

- entries = []
- entries << {name: "blocks", text: "Blocks"}
- entries << {name: "javascript", text: "JavaScript"}
- entries << {name: "python", text: "Python" }
- entries << {name: "coffeescript", text: "CoffeeScript"}
- entries << {name: "java", text: "Java"}
- entries << {name: "c", text: "C/C++"}

- filters << {name: "programming_language", text: "Programming language", entries: entries}

- tutorials.contents[0]["tags_grade"] = "2-5"
- tutorials.contents[1]["tags_grade"] = "2-5"
- tutorials.contents[2]["tags_grade"] = "2-5"
- tutorials.contents[3]["tags_grade"] = "pre,2-5"
- tutorials.contents[4]["tags_grade"] = "6-8"

- tutorials.contents[0]["tags_platform"] = "browser"
- tutorials.contents[1]["tags_platform"] = "browser"
- tutorials.contents[2]["tags_platform"] = "browser,ipad"
- tutorials.contents[3]["tags_platform"] = "browser,ipad"
- tutorials.contents[4]["tags_platform"] = "browser,ipad"

- tutorials.contents[0]["tags_programming_language"] = "javascript,c"
- tutorials.contents[1]["tags_programming_language"] = "javascript"
- tutorials.contents[2]["tags_programming_language"] = "javascript"
- tutorials.contents[3]["tags_programming_language"] = "c"
- tutorials.contents[4]["tags_programming_language"] = "c"

-# = tutorials.contents[0].to_json

#tutorials

:javascript

  $(document).ready(function() {
    // Send through some values that the JavaScript will need.
    window.tutorialExplorerManager = new TutorialExplorerManager({
      tutorials: #{tutorials.to_json},
      filters: #{filters.to_json}
      }
    );
  });
