---
http_interactions:
- request:
    method: post
    uri: http://api1.webpurify.com/services/rest
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"rsp":{"@attributes":{"stat":"fail"},"err":{"@attributes":{"code":"100","msg":"Invalid
        API Key"}},"text":"peformed this recording with mocked api key"}}'
  recorded_at: Mon, 10 Apr 2023 21:00:12 GMT
recorded_with: VCR 3.0.3
