---
http_interactions:
  - request:
      method: get
      uri: http://api1.webpurify.com/services/rest/?api_key=mocksecret&format=json&lang=en&method=webpurify.live.return&text=schei%C3%9Fe
      body:
        encoding: US-ASCII
        string: ""
      headers: {}
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
      body:
        encoding: ASCII-8BIT
        string: '{"rsp":{"@attributes":{"stat":"ok"},"method":"webpurify.live.return","lang":"en","format":"rest","found":"0","api_key":"mocksecret"}}'
    recorded_at: Wed, 08 Apr 2020 17:27:39 GMT
  - request:
      method: get
      uri: http://api1.webpurify.com/services/rest/?api_key=mocksecret&format=json&lang=de&method=webpurify.live.return&text=schei%C3%9Fe
      body:
        encoding: US-ASCII
        string: ""
      headers: {}
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
      body:
        encoding: ASCII-8BIT
        string: '{"rsp":{"@attributes":{"stat":"ok"},"method":"webpurify.live.return","lang":"de","format":"rest","found":"1","expletive":"schei\u00dfe","api_key":"mocksecret"}}'
    recorded_at: Wed, 08 Apr 2020 17:27:41 GMT
  - request:
      method: get
      uri: http://api1.webpurify.com/services/rest/?api_key=mocksecret&format=json&lang=sp&method=webpurify.live.return&text=puta%20madre
      body:
        encoding: US-ASCII
        string: ""
      headers: {}
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
      body:
        encoding: ASCII-8BIT
        string: '{"rsp":{"@attributes":{"stat":"ok"},"method":"webpurify.live.return","lang":"sp","format":"rest","found":"1","expletive":"puta","api_key":"mocksecret"}}'
    recorded_at: Wed, 08 Apr 2020 17:27:41 GMT
recorded_with: VCR 3.0.3
