---
http_interactions:
  - request:
      method: post
      uri: http://api1.webpurify.com/services/rest
      body:
        encoding: US-ASCII
        string: ""
      headers: {}
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
      body:
        encoding: ASCII-8BIT
        string: '{"rsp":{"@attributes":{"stat":"ok"},"method":"webpurify.live.return","lang":"en","format":"rest","found":"1","expletive":"shit","api_key":"mocksecret"}}'
    recorded_at: Wed, 22 Mar 2023 20:59:51 GMT
  - request:
      method: post
      uri: http://api1.webpurify.com/services/rest
      body:
        encoding: US-ASCII
        string: ""
      headers: {}
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
      body:
        encoding: ASCII-8BIT
        string: '{"rsp":{"@attributes":{"stat":"ok"},"method":"webpurify.live.return","lang":"en","format":"rest","found":"1","expletive":"damn","api_key":"mocksecret"}}'
    recorded_at: Wed, 22 Mar 2023 20:59:52 GMT
recorded_with: VCR 3.0.3
