---
http_interactions:
  - request:
      method: post
      uri: http://api1.webpurify.com/services/rest
      body:
        encoding: US-ASCII
        string: ""
      headers: {}
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
      body:
        encoding: ASCII-8BIT
        string: '{"rsp":{"@attributes":{"stat":"ok"},"method":"webpurify.live.return","lang":"en","format":"rest","found":"0","api_key":"mocksecret"}}'
    recorded_at: Tue, 21 Mar 2023 22:36:12 GMT
[...]
  - request:
      method: post
      uri: http://api1.webpurify.com/services/rest
      body:
        encoding: US-ASCII
        string: ""
      headers: {}
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
      body:
        encoding: ASCII-8BIT
        string: '{"rsp":{"@attributes":{"stat":"ok"},"method":"webpurify.live.return","lang":"en","format":"rest","found":"2","expletive":["sh1t","shit"],"api_key":"mocksecret"}}'
    recorded_at: Tue, 21 Mar 2023 22:36:12 GMT
[...]
  - request:
      method: post
      uri: http://api1.webpurify.com/services/rest
      body:
        encoding: US-ASCII
        string: ""
      headers: {}
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
      body:
        encoding: ASCII-8BIT
        string: '{"rsp":{"@attributes":{"stat":"ok"},"method":"webpurify.live.return","lang":"en","format":"rest","found":"1","expletive":"ass","api_key":"mocksecret"}}'
    recorded_at: Tue, 21 Mar 2023 22:36:13 GMT
recorded_with: VCR 3.0.3
