---
http_interactions:
  - request:
      method: get
      uri: http://api1.webpurify.com/services/rest/?api_key=mocksecret&format=json&lang=en&method=webpurify.live.return&text=not%20a%20swear
      body:
        encoding: US-ASCII
        string: ""
      headers: {}
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
      body:
        encoding: ASCII-8BIT
        string: '{"rsp":{"@attributes":{"stat":"ok"},"method":"webpurify.live.return","lang":"en","format":"rest","found":"0","api_key":"mocksecret"}}'
    recorded_at: Wed, 08 Apr 2020 17:29:10 GMT
  - request:
      method: get
      uri: http://api1.webpurify.com/services/rest/?api_key=mocksecret&format=json&lang=en&method=webpurify.live.return&text=sh1t!%20holy%20shit
      body:
        encoding: US-ASCII
        string: ""
      headers: {}
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
      body:
        encoding: ASCII-8BIT
        string: '{"rsp":{"@attributes":{"stat":"ok"},"method":"webpurify.live.return","lang":"en","format":"rest","found":"2","expletive":["sh1t","shit"],"api_key":"mocksecret"}}'
    recorded_at: Wed, 08 Apr 2020 17:29:10 GMT
  - request:
      method: get
      uri: http://api1.webpurify.com/services/rest/?api_key=mocksecret&format=json&lang=en&method=webpurify.live.return&text=shitstain
      body:
        encoding: US-ASCII
        string: ""
      headers: {}
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
      body:
        encoding: ASCII-8BIT
        string: '{"rsp":{"@attributes":{"stat":"ok"},"method":"webpurify.live.return","lang":"en","format":"rest","found":"1","expletive":"shitstain","api_key":"mocksecret"}}'
    recorded_at: Wed, 08 Apr 2020 17:29:11 GMT
  - request:
      method: get
      uri: http://api1.webpurify.com/services/rest/?api_key=mocksecret&format=json&lang=en&method=webpurify.live.return&text=assuage
      body:
        encoding: US-ASCII
        string: ""
      headers: {}
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
      body:
        encoding: ASCII-8BIT
        string: '{"rsp":{"@attributes":{"stat":"ok"},"method":"webpurify.live.return","lang":"en","format":"rest","found":"0","api_key":"mocksecret"}}'
    recorded_at: Wed, 08 Apr 2020 17:29:11 GMT
  - request:
      method: get
      uri: http://api1.webpurify.com/services/rest/?api_key=mocksecret&format=json&lang=en&method=webpurify.live.return&text=8005555555%20t
      body:
        encoding: US-ASCII
        string: ""
      headers: {}
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
      body:
        encoding: ASCII-8BIT
        string: '{"rsp":{"@attributes":{"stat":"ok"},"method":"webpurify.live.return","lang":"en","format":"rest","found":"0","api_key":"mocksecret"}}'
    recorded_at: Wed, 08 Apr 2020 17:29:13 GMT
  - request:
      method: get
      uri: http://api1.webpurify.com/services/rest/?api_key=mocksecret&format=json&lang=en&method=webpurify.live.return&text=ass
      body:
        encoding: US-ASCII
        string: ""
      headers: {}
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
      body:
        encoding: ASCII-8BIT
        string: '{"rsp":{"@attributes":{"stat":"ok"},"method":"webpurify.live.return","lang":"en","format":"rest","found":"1","expletive":"ass","api_key":"mocksecret"}}'
    recorded_at: Wed, 08 Apr 2020 17:29:15 GMT
recorded_with: VCR 3.0.3
