@import 'color', 'breakpoints', 'style-constants', 'typography';

@mixin link-style {
  color: $light_black;
  text-decoration: underline;
  font-weight: 500;
}

body {
  background-color: $light_gray_50 !important;

  & > .responsive_full_container {
    padding: 1rem;
  }
}

main.wrapper {
  padding-block: 1rem;
  margin-inline: auto;
}

.contentContainer {
  max-width: $content-width;
  margin: auto;
  font-size: 1rem;
}

.cardWrapper {
  margin-block: 3rem 6rem;
  display: flex;
  flex-flow: row wrap;
  gap: 1.5rem;

  @media (max-width: $width-sm) {
    flex-direction: column;
  }

  & > div {
    width: unset;
    flex: 1;
    justify-content: space-between;
  }
}

.freeCurriculumWrapper {
  text-align: center;
  margin-bottom: 2rem;

  @media (max-width: $width-sm) {
    margin-bottom: 4rem;
  }

  i {
    font-size: 1.375rem;
    color: $light_gray_400;
    margin-bottom: 0.5rem;
  }

  p {
    font-size: 0.875rem;

    a {
      @include link-style;
    }
  }

  .dialogButton {
    @include body-three;
    margin: unset !important;
    padding: unset !important;
    background: none;
    color: $light_gray_800;
    text-decoration: underline !important;
    transition: all 0.2s ease-in-out;

    &:hover {
      color: $light_black;
      background: none;
    }

    & > span {
      font-weight: 400;
    }
  }
}

.dialogContainer {
  padding: 1.5rem 2rem 1.875rem;
  display: flex;
  flex-direction: column;

  .contentWrapper {
    border-block: 1px solid $light_gray_200;
    padding-block: 1rem 0.25rem;
    margin-bottom: 1.25rem;

    .markdownDesc p {
      @include body-three;

      a {
        @include link-style;
      }
    }
  }

  button {
    align-self: end;
  }
}
