@import 'color', 'style-constants';

body {
  background-color: $light_gray_50;
}

.finishTeacherAccountContainer {
  max-width: $content-width;
  display: grid;
  margin: 4rem auto;
  padding: 30px;
  text-align: center;
  background-color: $light_white;
  border-radius: 0.25rem;
  border: 1px solid $light_gray_200 !important;
}

.headerTextContainer {
  margin-bottom: 30px;
}

.inputContainer {
  justify-self: center;
  text-align: left;
  width: 400px;
  display: flex;
  flex-direction: column;
}

input {
  width: 100%;
  box-sizing: border-box;
  height: 40px !important;
  font-size: 1rem !important;
  margin-top: 0.375rem !important;
  border-radius: 0.25rem;
  border: 1px solid $black !important;
  text-indent: 0.75rem;
}

.nameInput {
  margin-bottom: 0.375rem !important;
}

// select {
//   padding-top: 11px !important;
//   padding-bottom: 11px !important;
//   height: 46px !important;
// }

p {
  margin-bottom: 0 !important;
}

.emailOptInContainer {
  margin-top: 1.125rem;

  .emailOptInCheckboxContainer {
    display: flex;
    flex-direction: row;
    padding: 6px;

    .emailOptInCheckbox {
      flex: 1;
      padding-top: 1px;
    }

    .emailOptInLabel {
      flex: 12;
    }
  }

  .emailOptInFootnote {
    margin-top: 0.125rem;
  }
}

.finishSignUpButtonContainer {
  display: grid;
  margin-top: 1.125rem;
  justify-content: end;

  .finishSignUpButton {
    width: fit-content;
  }
}
