@import "color";

body {
  background-color: $light_gray_50 !important;
}

.newSignupFlow {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-block: 2rem;
  margin-inline: auto;

  .shortBottomMargin {
    margin-bottom: .5rem;
  }

  .containerWrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: $white;
    padding: 30px;
    gap: 16px;
    border-radius: 4px;
    border: 1px solid $light_gray;
    margin: 1rem;
  }

  .dividerContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
  }
  
  .verticalDividerTop,
  .verticalDividerBottom {
    width: 1px;
    background-color: #ccc;
    height: 50%;
  }

  .verticalDividerTop {
    margin-bottom: 1rem;
  }

  .verticalDividerBottom {
    margin-top: 1rem;
  }

  .dividerText {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-transform: uppercase;
    font-weight: 600;
  }

  .container {
    flex: 1;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;

    input {
      width: 100%;
      box-sizing: border-box;
      height: auto;
    }

    label {
      margin-top: 1rem;
    }

    img {
      margin-right: .5rem;
      width: 2rem;
    }

    .passwordMessage {
      display: flex;
      align-items: center;
      margin-top: .125rem;

      i {
        margin-right: .5rem;
      }

      .teal {
        color: $teal;
      }

      .lightGray {
        color: $light_gray_500;
      }

      p {
        margin-bottom: 0;
      }
    }

    .shortButton {
      width: auto;
      margin-top: 1rem;
    }

    .greenButton {
      background-color: $google_brand_color;
      margin-bottom: .5rem;
    }
  
    .yellowButton {
      background-color: $microsoft_brand_color;
      color: $black;
      margin-bottom: .5rem;
    }
  
    .blueButton {
      background-color: $facebook_brand_color;
    }

    .greyTextbox {
      background-color: $light_gray_50;
      padding: 1rem;
      margin-top: 1rem;
      border-radius: 4px;
      box-sizing: border-box;

      p {
        margin-bottom: .25rem;
      }

      .subheader {
        margin-top: .5rem;
        font-weight: 600;
      }
    }
  }

  .container > * {
    width: 100%;
  }
}
