- viewing_as_teacher = !params[:user_id]

- if current_user.try(:teacher?)

  .teacher-panel{class: params[:user_id] || params[:section_id] || params[:solution] || !@script_level ? '' : 'hidden'}
    .hide-handle
      %i.fa.fa-chevron-right{onclick: '$(".teacher-panel").toggleClass("hidden"); return false;'}
    .show-handle
      %i.fa.fa-chevron-left{onclick: '$(".teacher-panel").toggleClass("hidden"); return false;'}

    %h3
      -# TODO - i18n everywhere
      Teacher Panel
    .content
      .non-scrollable-wrapper
        %div{:style => "font-size: 16px; margin: 10px"}
          View page as:
        %div
          %button.btn#view-as-student{class: viewing_as_teacher ? '' : 'btn-info'}
            Student
          %button.btn#view-as-teacher{class: viewing_as_teacher ? 'btn-info' : ''}
            Teacher
        - if viewing_as_teacher && current_user.sections.many?
          = select_tag('sections', section_options, prompt: content_tag('i', t('teacher.panel.select_section')), style: "margin-top: 20px")
          -# TODO - all of the below isnt needed until we can actually tell if we're locked or not
          %div{:style => "margin: 10px;"}
            Select a section to be able to lock and unlock assessments or surveys. Click the lock settings button in the stage to the left.
          %div
            %h4{:style => "text-align: left; margin: 10px;"}
              %i.fa.fa-exclamation-triangle{:style => "color: red"}
              Don't forget
            %div{:style => "margin: 10px;"}
              Lock the following stages that are current unlocked:

  :javascript
    $('select#sections').change(function(ev) {
      window.location.href = ev.target.value;
    });

    function resizeScrollable() {
      var newHeight = $('.teacher-panel').innerHeight() -
          $('.teacher-panel h3').outerHeight() -
          15 - // magic..
          $('.non-scrollable-wrapper').outerHeight();
      $('.scrollable-wrapper').css('max-height', newHeight);
    }
    $(document).ready(resizeScrollable);
    $(window).resize(dashboard.utils.debounce(resizeScrollable, 250));
