%link{href: asset_path('css/common.css'), rel: 'stylesheet', type: 'text/css'}
#lesson-extras

  - script_info = @unit.summarize(false)
  - project_widget_visible = script_info[:project_widget_visible]
  - project_widget_types = script_info[:project_widget_types]
%script{src: webpack_asset_path('js/scripts/lesson_extras.js'), data: {extras: @lesson_extras.to_json, widget: {visible: project_widget_visible.to_json, types: project_widget_types.to_json}, viewer: {section_id: @section&.id, show_lesson_extras_warning: @show_lesson_extras_warning, user_id: @user&.id}.to_json}}

- if @unit && current_user.try(:teacher?) && !@unit.professional_learning_course?
  = render partial: 'levels/teacher_panel'
