%link{href: minifiable_asset_path('css/common.css'), rel: 'stylesheet', type: 'text/css'}
#stage-extras

  - script_info = @script.summarize(false)
  - project_widget_visible = script_info[:project_widget_visible]
  - project_widget_types = script_info[:project_widget_types]
%script{src: minifiable_asset_path('js/scripts/stage_extras.js'), data: {extras: @stage_extras.to_json, widget: {visible: project_widget_visible.to_json, types: project_widget_types.to_json}, viewer: {section_id: @section&.id, show_stage_extras_warning: @show_stage_extras_warning, user_id: @user&.id}.to_json}}

- if @script && current_user.try(:teacher?) && !@script.professional_learning_course?
  = render partial: 'levels/teacher_panel'
