.headerItem {
  &:global(.MuiIconButton-root) {
    margin-left: 0.5rem;
    color: var(--text-brand-primary, #FFF);
  }

  &:global(.MuiIconButton-root):hover {
    background: var(--background-brand-light, #1F1976);
    color: var(--text-brand-primary, #FFF);
  }

  &:global(.MuiIconButton-root):focus-visible {
    outline-color: var(--borders-neutral-white-fixed);
  }
}

.headerItemPressed {
  &:global(.MuiIconButton-root) {
    background: var(--background-brand-light, #1F1976);
    color: var(--text-brand-secondary, #E4E2F8);
  }
}
