@import '../../../mixins.scss';
@import '../mixins.scss';

.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0 10px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  overflow-x: auto;
  padding-top: 8px;
  padding-bottom: 4px;
}

%preview {
  border: 1px solid var(--neutral-gray-20);
  border-radius: 4px;
  position: relative;
}

.topRightIcon {
  @include remove-button-styles;
  z-index: 1;
  font-size: 16px;
  position: absolute;
  right: -8px;
  top: -8px;
  color: var(--text-neutral-quaternary);
  transition: opacity 0.2s ease, color 0.2s ease;

  i {
    background-color: var(--background-neutral-primary);
    border-radius: 100%;
  }

  &Close {
    color: var(--text-neutral-primary);
    &:hover {
      color: var(--text-error-primary);
    }
  }
}

.closeTooltipOverlay {
  position: absolute;
  top: 0;
  right: 0;
}

.closeTooltip {
  @include fade-in(0.3s);
}

.preview-file {
  @extend %preview;
  padding: 8px;
  display: flex;
  gap: 8px;
  text-align: left;
  align-items: center;

  .fileIcon {
    display: flex;
    width: 36px;
    height: 36px;
    border-radius: 4px;
    background-color: var(--accent-strawberry-40);

    i {
      margin: auto;
      font-size: 24px;
      color: white;
    }
  }

  .filenameContainer {
    display: flex;
    flex-direction: column;
    max-width: 120px;
    color: var(--text-neutral-primary);

    strong {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.preview-image {
  @extend %preview;
  padding: 0;

  img {
    height: 52px;
    width: auto;
    border-radius: 3px;
  }
}

.preview-image-loading {
  width: 52px;
  height: 52px;
}

.hide {
  display: none;
}
