%h1
  CS Principles PD Responses

- if @responses.size > 0
  - @responses.each do |level_id, level_responses|
    %h3
      CSP PD Responses for Level
      = level_id
    - if level_responses.size > 0
      %table
        %tr
        - @headers.each do |header|
          %th= header
        - level_responses.each do |response|
          %tr
          - response.each do |field|
            %td= field
    - else
      No data.
    %br
- else
  No levels queried.
