%h1
  CS Principles PD Responses

- if @responses.size > 0
  - @responses.each do |response|
    - response.each_with_index do |row, index|
      - if index == 0
        %h3
          CSP PD Responses for Level
          = row
      - if index > 0 and row.size > 0
        %table.pd_responses
          %tr
          - @headers.each do |header|
            %th= header
          - row.each do |field|
            %tr
            - field.each do |subfield|
              %td= subfield
      - elsif index > 0
        No data.
      %br
- else
  No levels queried.
