- content_for(:head) do
  = stylesheet_link_tag    'editor/blockly_editor', media: 'all'
  = javascript_include_tag 'editor/blockly_editor'
#metrics
:css
  .htNumeric { font-family: monospace; }
  .handsontable col.rowHeader {
    width: 150px;
  }
:javascript
  var data = #{ metrics.try(:to_json)};
  $("#metrics").handsontable({
    data: data,
    rowHeaders: #{ headers.try(:to_json)},
    type: 'numeric'
  });
