- content_for(:head) do
  = stylesheet_link_tag    'jquery.handsontable.full', media: 'all'
  = javascript_include_tag 'jquery.handsontable.full'
#metrics
:css
  .htNumeric { font-family: monospace; }
  .handsontable col.rowHeader {
    width: 150px;
  }
:javascript
  var data = #{ metrics.try(:to_json)};
  $("#metrics").handsontable({
    data: data,
    rowHeaders: #{ headers.try(:to_json)},
    type: 'numeric',
    cells: function(row, col, prop) {
      if(row == 4) {
        return cellProperties = {format: '0.0000'};
      }
      return {};
    }
  });
