:css
  .radio {
    margin: 0 10px !important
  }

%center
  %h1 Search for Teachers

%br/

%form{method: 'get'}
  %table
    %tr
      %td
        Email Filter
      %td
        %input{name: "emailFilter", id: "emailFilter"}
    %tr
      %td
        Address Filter
      %td
        %input{name: "addressFilter", id: "addressFilter"}
    %tr
      %td 
        PD Filter
      %td
        %input.radio{type: "radio", name: "pd", id: "pd-all", value: "all", checked: true} All
        %input.radio{type: "radio", name: "pd", id: "pd-pd", value: "pd"} PD
        %input.radio{type: "radio", name: "pd", id: "pd-nopd", value: "nopd"} No PD

  %br/

  %center
    %button
      = link_to "Search", :search_for_teachers

%br/

%h2 Teachers
%table.teachers
  - if @teachers.size > 0
    - if @headers
      %tr
      - @headers.each do |field|
        %td= field
    - @teachers.each do |teacher|
      %tr
      - teacher.each do |field|
        %td= field
  - else
    No teachers met the specified search criteria.
