- nav_index = 2

%nav{"aria-label": hoc_s(:hoc_how_to_nav_main_aria_label)}
  %ul.how-to-nav
    %li
      %button.menu-button
        %span
          = nav_current
      %ul.menu-list{style: "display: none"}
        - nav_index.times do |index|
          %li
            %a{href: resolve_url(nav_url[index]), "aria-label": nav_aria_label[index]}
              = nav_label[index]
