- nav_index = 7

%nav.how-to-nav
  %ul
    %li.how-to-label
      %button
        = nav_current
      %ul.how-to-menu
        - nav_index.times do |index|
          %li
            %a{href: resolve_url(nav_url[index])}
              = nav_label[index]
