#fullwidth
  = view :header

  %section.banner
    .wrapper
      %h1
        =hoc_s(:hoc_how_to_top_heading)
      %p.body-one
        =hoc_s(:hoc_how_to_top_desc)
      %div.show-overflow
        .flex-container
          %p.heading-sm.no-margin-bottom
            =hoc_s(:hoc_how_to_top_view_guide)
          = view :"how-to/guide-nav/#{nav_audience}"
