- nav_index = 7

%ul.how-to-nav
  %li
    %button.menu-button
      %span
        = nav_current
    %ul.menu-list{style: "display: none"}
      - nav_index.times do |index|
        %li
          %a{href: resolve_url(nav_url[index])}
            = nav_label[index]
