%nav.choose-guide
  .button-wrapper
    %a.teachers{href: resolve_url("/how-to")}
      %i{class: "fa-solid fa-person-chalkboard"}
      =hoc_s("hoc_how_to.teachers.heading")
    %a.events{href: resolve_url("/how-to/events")}
      %i{class: "fa-solid fa-school"}
      =hoc_s("hoc_how_to.events.heading")
