-# TODO remove this logic after soon-hoc launch
-# Get the default HOC mode
-hoc_mode = DCDO.get("hoc_mode", CDO.default_hoc_mode)

%nav.choose-guide{class: hoc_mode == "soon-hoc" ? 'hoc-2024' : nil}
  .button-wrapper
    %a.teachers{href: resolve_url("/how-to")}
      %i{class: "fa-solid fa-person-chalkboard"}
      =hoc_s("hoc_how_to.teachers.heading")
    %a.events{href: resolve_url("/how-to/events")}
      %i{class: "fa-solid fa-school"}
      =hoc_s("hoc_how_to.events.heading")
