h2.heading {
  color: var(--text-brand-purple-primary);
}

.explanation {
  clear: both;
  padding-top: 20px;
}

p.listAlign {
  margin-left: 10px;
}

.sublistAlign {
  margin-left: 20px;
  margin-bottom: 10px;
}
