.nameCellWrapper {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  min-width: 160px;
}

.nameWithChip {
  display: inline-flex;
  align-items: center;
  line-height: normal;
}

.demoChipWrapper {
  display: inline-flex;
  transform: translateY(-1px);
}

.details {
  font-size: 12px;
  color: var(--text-neutral-primary);
}

.inputWrapper {
  width: 160px;

  input {
    width: 150px;
    margin: 5px;
  }
}
