.modal {
  width: 800px;
}

.label {
  padding-top: 10px;
  display: block;
  color: var(--text-neutral-primary);
}

.sectionInput {
  width: 225px;
  border: 1px solid var(--borders-neutral-primary);
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  color: var(--text-neutral-primary);
  background-color: var(--background-neutral-primary);

  &:focus {
    outline: 2px solid var(--borders-brand-teal-primary);
    outline-offset: 2px;
  }
}

.radioLabel {
  margin-left: 10px;
  display: block;
}

.radioOption {
  padding-left: 10px;
  font-weight: var(--font-weight-regular);
}

.error {
  font-weight: var(--font-weight-semi-bold);
  color: var(--text-error-primary);
  padding-bottom: 10px;
}
