.passwordResetContainer {
  display: flex;
  justify-content: center;
}

.resetRow {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex-direction: column;
}

.inputWrapper {
  flex: 1;
  min-width: 0;

  label {
    min-width: unset;
  }

  input {
    width: 150px;
    align-self: center;
  }
}

.buttonsWrapper {
  display: flex;
  gap: 0.5rem;
}
