.showSecretContainer {
  display: flex;
  justify-content: center;
}

.showRow {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.image {
  width: 45px;
}
