@import 'color.scss';

// Fade in for 1 second after a 1 second delay.
@keyframes appear1 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// Fade in for 1 second after a 3 second delay
@keyframes appear2 {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// Fade in for 1 second after a 5 second delay
@keyframes appear3 {
  0% {
    opacity: 0;
  }
  83% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.appear1 {
  animation: appear1 2s;
}

.appear2 {
  animation: appear2 4s;
}

.appear3 {
  animation: appear3 6s;
}

.dialog {
  max-width: initial !important;
  width: 800px !important;
  height: 400px;
  display: flex;
  flex-direction: column;

  .heading {
    font-size: 16px;
    margin-top: 10px;
    font-family: 'Gotham 5r';
  }

  .content {
    font-family: monospace;
    margin: 20px;
    background-color: #eaeaea;
    padding: 15px;
    border-radius: 5px;
    overflow: hidden;
  }

  .body {
    flex: 1;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 18px;
  }

  .itemContainer {
    background-color: $neutral_dark10;
    border-radius: 4px;
    padding: 12px;
    height: 110px;
  }

  .item {
    width: 40px;
    padding: 8px;
  }

  .prompt {
    display: flex;
    align-items: center;
    margin-top: 40px;
  }

  .inputContainer {
    position: relative;
    margin: 0 4px;

    .inputBackground {
      background-color: $neutral_dark10;
      border-radius: 4px;
      width: 56px;
      height: 56px;
    }

    .inputItem {
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .botContainer {
    flex: 0 0 140px;

    .bot {
      width: 110px;
    }
  }

  .resultsContainer {
    display: flex;
  }

  .output {
    float: left;
    margin-left: 20px;
    margin-top: 15px;
  }

  .pre {
    white-space: pre-wrap;
    word-break: initial;
  }

  .code {
    font-size: 14px;
  }

  .buttonContainer {
    margin-top: auto;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
  }
}