@use '@code-dot-org/component-library-styles/colors.scss';
@use '@code-dot-org/component-library-styles/variables' as variables;
@use '@code-dot-org/component-library-styles/cms/cmsMixins' as cmsMixins;

$mobileBreakpoint: 970px;

.heroBannerWrapper {
  width: 100%;
  background: var(--background-neutral-tertiary);
  background-size: cover;

  &.heroBanner-withWideText {
    .heroBannerTextContainer {
      flex: 2;
    }

    .heroBannerMediaContainer {
      flex: 1;
    }
  }

  .heroBannerTextContainer {
    a {
      margin: 1.875rem 0 0;
    }
  }
}

div.heroBannerAnnouncementBanner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  border-radius: 0;
  background-color: var(--background-neutral-secondary);
  color: var(--text-neutral-primary);

  > div {
    justify-content: center;
  }

  i {
    align-self: center;
  }
}

.heroBannerContainer {
  display: flex;
  max-width: 60rem;
  margin: 0 auto;
  align-items: center;
  gap: 4.375rem;
  padding: 4rem 2rem;

  @media (max-width: $mobileBreakpoint) {
    flex-direction: column;
    padding-inline: 1.5rem;
    gap: 2rem;

    .heroBannerMediaContainer figure {
      height: unset;
    }
  }
}

.heroBannerTextContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
  width: 100%;

  p {
    margin-top: 0;
  }

  h1 {
    margin-bottom: 1.5rem;
  }
}

.heroBannerPartnerContainer {
  @include cmsMixins.in-partnership-with-section;
}

.heroBannerMediaContainer {
  display: flex;
  align-items: center;
  gap: 4.375rem;
  flex: 1;
  align-self: stretch;

  figure {
    max-height: 28.125rem;
    flex: 1;
    border-radius: variables.$regular-border-radius;

    img {
      background: var(--background-neutral-primary);
    }
  }
}
