// colors from https://www.dropbox.com/s/ycjiwt8vxlmv2ih/Code.org_stylesheet_v2_09.05.13.pdf

// Please keep this file simple; it should only contain color definitions
//   and aliases.  Variables defined in this file are exported to
//   apps/src/color.js during the apps build process.

$black: black;
$dark_charcoal: #4d575f;
$charcoal: #5b6770;
$light_gray: #949ca2;
$lighter_gray: #c6cacd;
$lightest_gray: #e7e8ea;
$white: white;

$teal: #00adbc;
$applab_button_teal: #1abc9c;
$light_teal: #59cad3;
$lightish_teal: #80d6de;
$lighter_teal: #a6e3e8;
$lightest_teal: #d9f3f5;

$purple: #7665a0;
$light_purple: #a69bc1;
$lighter_purple: #cfc9de;
$lightest_purple: #ebe8f1;

$cyan: #0094ca;
$light_cyan: #59b9dc;
$lighter_cyan: #a6daed;
$lightest_cyan: #d9eff7;

$orange: #ffa400;
$light_orange: #ffc459;
$lighter_orange: #ffe0a6;
$lightest_orange: #fff2d9;

$green: #b9bf15;
$light_green: #d1d567;
$lighter_green: #e7e9ad;
$lightest_green: #f5f5dc;

$yellow: #ffb81d;
$light_yellow: #ffdb74;
$lighter_yellow: #ffebb5;
$lightest_yellow: #fff7df;

$header_text: $white;
$bkgnd_color: $teal;
$inset_color: $lighter_gray;
$dark_color:  $purple;
$hdr_color:   $purple;

// some extra colors
$red: #c00;
$realyellow: yellow;

// progress colors
$level_submitted: $purple;
$level_perfect: rgb(14, 190, 14);
$level_passed: rgb(159, 212, 159);
$level_attempted: $realyellow;
$level_not_tried: #fefefe;
$level_current: $orange;
$assessment: $cyan;

// links
$link_color: #0596CE;

// shadow
$shadow: rgba(0, 0, 0, 0.3);

// colors that are taken from bootstrap, and not necessarily part of our core theme
$bootstrap_error_background: #f2dede;
$bootstrap_error_text: #b94a48;
$bootstrap_error_border: #ebccd1;
$bootstrap_warning_background: #fcf8e3;
$bootstrap_warning_text: #c09853;
$bootstrap_warning_border: #faebcc;
