@import 'color';
@import 'font';

#cookie-banner {
  position: fixed;
  bottom: 0px;
  right: 0px;
  left: 0px;
  overflow: hidden;
  box-sizing: border-box;
  padding: 10px 20px;
  font-size: 13px;
  line-height: 16px;
  background-color: $purple;
  text-align: center;
  color: white;
  border-top: 1px solid white;

  /* Make sure we're in front of the AnswerDash icon in the lower-right corner. */
  z-index: 2000000200;

  a, a:visited {
    font-family: $gotham-extra-bold;
    color: white;
    text-decoration: underline;
  }
  a:hover {
    background: transparent;
  }

  .text {
    box-sizing: border-box;
    text-align: center;
    padding-right: 20px;
  }

  .buttons {
    box-sizing: border-box;
    text-align: center;

    button {
      margin-right: 20px;
      align-items: flex-start;
      background-color: #ffa400;
      border-color: #ffa400;
      background-image: none;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      border-bottom-style: solid;
      border-bottom-width: 1px;
      border-image-outset: 0px;
      border-image-repeat: stretch;
      border-image-slice: 100%;
      border-image-source: none;
      border-image-width: 1;
      border-left-style: solid;
      border-left-width: 1px;
      border-right-style: solid;
      border-right-width: 1px;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      border-top-style: solid;
      border-top-width: 1px;
      box-sizing: border-box;
      color: #fff;
      cursor: pointer;
      display: inline-block;
      font-family: 'Gotham 4r', sans-serif;
      font-size: 14px;
      font-weight: normal;
      height: 34px;
      letter-spacing: normal;
      line-height: 20px;
      margin-bottom: 0px;
      margin-left: 0px;
      margin-right: 25px;
      margin-top: 0px;
      padding-bottom: 6px;
      padding-left: 12px;
      padding-right: 12px;
      padding-top: 6px;
      text-align: center;
      text-indent: 0px;
      text-shadow: none;
      text-transform: none;
      vertical-align: middle;
      white-space: nowrap;
      word-spacing: 0px;
    }
  }

  /* desktop */
  @media screen and (min-width: 971px) {
    .text {
      float: left;
      width: 70%;
    }
    .buttons {
      float: left;
      width: 30%;
    }
  }

  /* mobile */
  @media screen and (min-width: 0px) and (max-width: 970px) {
    .text {
      width: 100%;
    }
    .buttons {
      width: 100%;
      margin-top: 10px;
    }
  }
}
