@import 'color';
@import 'font';

/* HEADERS */

.twolineheader {
    h2 {
      font-family: $gotham-regular;
      font-weight: normal; 
      color: $purple; 
      font-size: 24px; 
      margin-bottom: 0px; 
      line-height: 30px;
    }
    h1 {
      margin-top: 0px;
      line-height: 30px; 
      font-size: 30px;   
      font-family: $gotham-bold; 
      font-weight: normal;
    }
} 

.coursesheader {
  h2 {
    margin-bottom: 5px;
  }
}

#landingpage h3 img.logo,
.course_progress h3 img.logo {
  height: 40px;
}

.miniblock .betatext {
  color: $realyellow;
}

/* MINIBLOCKS */

.span1 {  width: 60px;  }
.span2 {  width: 140px;  }
.span3 {  width: 220px;  }
.span4 {  width: 300px;  }
.span5 {  width: 380px;  }
.span6 {  width: 460px;  }
.span7 {  width: 540px;  }
.span8 {  width: 620px;  }
.span9 {  width: 700px;  }
.span10 {  width: 780px;  }
.span11 {  width: 860px;  }
.span12 {  width: 940px;  }

.miniblock {
  background-color:$lightest_gray;
  height:100px;
  .heading {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px 0px 10px 0px;
  }
  h3 {
    margin: 0;
    color: $charcoal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 24px;
    font-family: $gotham-bold;
  }
  h4 {
    margin-left: 10px;
  }
  .smalltext {
    font-size:13px;
    padding-right:10px;
    font-family: $gotham-regular;
    font-weight:normal;
    color:$charcoal;
  }
  .whitetext {
    color:$lightest_gray;
  }
  .greytext {
    color:$charcoal;
  }
  .imgspan {
    margin-left: 0px;
    text-align: right;
  }
  .audience {
    position: absolute;
    bottom: 0px;
    width: 100%;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom:4px;
    background-color: $charcoal;
  }
}

.miniblock-short {
  height:150px;
  h3 {
    margin-bottom:10px;
    white-space: nowrap;
	  overflow: hidden;
	  text-overflow: ellipsis;
  }
}

.miniblock-tall {
  height:232px;

  .heading {
    -moz-box-sizing: border-box;
	  box-sizing: border-box;
	  padding: 0px;
  }

  .heading .whitetext {
  	color: white;
  }

  h3 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-family: $gotham-bold;
    font-weight: normal;
    display: block;
    float: left;
    width: 200px;
    margin-left: 10px;
  }

  .beta
  {
    .heading {
      padding-right: 0px;
    }

    h3 {
      width: 140px;
    }

    .betatext {
      text-align: center;
      display: block;
      float: right;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      background-color: $light_gray;
      padding-left: 5px;
      padding-right: 5px;
      font-size: 24px;
      height: 35px;
      line-height: 40px;
      width: 60px;
    }
  }
}

.miniblock div {
  box-sizing: content-box;
  float:left;
}

.miniblock img {
  box-sizing: content-box;
  max-width: 100%;
  height: auto;
}

.miniblock-tall-audiencerow {
  height:258px;
}

.miniblock + .miniblock {
  margin-left: 20px;
}
