@import 'font';

// Variables
$width-md: 970px;
$width-sm: 600px;
$width-xs: 360px;

// Styles
.csa-skinny-banner {
  box-sizing: content-box;
  height: 120px;
  overflow: hidden;
  margin: 4em auto 5em;
  padding: 0 2.5em;
  background: url('/images/csa/csa-skinny-banner-bg.svg') top left no-repeat;

  @media screen and (max-width: $width-sm) {
    height: 140px;
    padding: 1.5em 1.15em;
    margin: 3em auto;
    background: linear-gradient(180deg, #51466E 0%, #75659F 100%);
  }

  a:hover,
  a:active,
  a:visited {
    text-decoration: none;
  }

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    @media screen and (max-width: $width-sm) {
      justify-content: center;
      text-align: center;
    }
  }

  .text-wrapper {
    color: white;
    width: 370px;

    .header {
      @include main-font-bold;
      font-size: 1.65em;
      margin-bottom: 6px;

      @media screen and (max-width: $width-sm) {
        font-size: 1.45em;
      }

      @media screen and (max-width: $width-xs) {
        font-size: 1.25em;
      }
    }

    .text {
      @include main-font-regular;
      font-size: 1.15em;

      @media screen and (max-width: $width-sm) {
        font-size: 1em;
      }
    }
  }

  .img-wrapper {
    width: 315px;
    margin-bottom: -8px;

    @media screen and (max-width: $width-md) {
      display: none;
    }

    img {
      width: 100%;
    }
  }

  .button-wrapper {
    @media screen and (max-width: $width-sm) {
      margin-top: 1em;
    }

    button {
      height: unset;
      @include main-font-bold;
      color: white;
      background: #FFA400;
      margin: 0;
      padding: 0.65em 2em;
      border-radius: 4px;

      @media screen and (max-width: $width-md) {
        padding: 0.5em 1em;
      }
    }
  }

  // Hide phantom <p> tag (it's messing up flexbox)
  p:last-child {
    display: none;
  }
}
