// Common site-wide fonts, put here for easy access from all scss files

// Please note (!): use only single quotes (' ') for strings (!) to allow our custom converter to work properly.
// This file is being transpiled to js object.
// (So it can be used in jsx/tsx files for inline styles. This is made mostly for legacy.
// Try to avoid use of inline styles if you're creating new component).
// Keeping that in mind -

$metropolis-font: 'Metropolis';
$noto-sans-fonts: 'Noto Sans', 'Noto Sans Arabic', 'Noto Sans Armenian', 'Noto Sans Bengali', 'Noto Sans SC',
                  'Noto Sans TC', 'Noto Sans Devanagari', 'Noto Sans Georgian', 'Noto Sans Hebrew', 'Noto Sans JP',
                  'Noto Sans Kannada', 'Noto Sans Khmer', 'Noto Sans KR', 'Noto Sans Myanmar', 'Noto Sans Sinhala',
                  'Noto Sans Tamil', 'Noto Sans Telugu', 'Noto Sans Thai', 'Noto Sans Thaana';

$main-font: $metropolis-font, $noto-sans-fonts, sans-serif;

$thin-font-weight: 100;
$extra-light-font-weight: 200;
$light-font-weight: 300;
$regular-font-weight: 400;
$medium-font-weight: 500;
$semi-bold-font-weight: 600;
$bold-font-weight: 700;
$extra-bold-font-weight: 800;
$black-font-weight: 900;

@mixin main-font-thin {
  font-family: $main-font;
  font-weight: $thin-font-weight;
  font-style: normal;
}

@mixin main-font-thin-italic {
  @include main-font-thin;
  font-style: italic;
}

@mixin main-font-extra-light {
  font-family: $main-font;
  font-weight: $extra-light-font-weight;
  font-style: normal;
}

@mixin main-font-extra-light-italic {
  @include main-font-extra-light;
  font-style: italic;
}

@mixin main-font-light {
  font-family: $main-font;
  font-weight: $light-font-weight;
  font-style: normal;
}

@mixin main-font-light-italic {
  @include main-font-light;
  font-style: italic;
}

@mixin main-font-regular {
  font-family: $main-font;
  font-weight: $regular-font-weight;
  font-style: normal;
}

@mixin main-font-regular-italic {
  @include main-font-regular;
  font-style: italic;
}

@mixin main-font-medium {
  font-family: $main-font;
  font-weight: $medium-font-weight;
  font-style: normal;
}

@mixin main-font-medium-italic {
  @include main-font-medium;
  font-style: italic;
}

@mixin main-font-semi-bold {
  font-family: $main-font;
  font-weight: $semi-bold-font-weight;
  font-style: normal;
}

@mixin main-font-semi-bold-italic {
  @include main-font-semi-bold;
  font-style: italic;
}

@mixin main-font-bold {
  font-family: $main-font;
  font-weight: $bold-font-weight;
  font-style: normal;
}

@mixin main-font-bold-italic {
  @include main-font-bold;
  font-style: italic;
}

@mixin main-font-extra-bold {
  font-family: $main-font;
  font-weight: $extra-bold-font-weight;
  font-style: normal;
}

@mixin main-font-extra-bold-italic {
  @include main-font-extra-bold;
  font-style: italic;
}

@mixin main-font-black {
  font-family: $main-font;
  font-weight: $black-font-weight;
  font-style: normal;
}

@mixin main-font-black-italic {
  @include main-font-black;
  font-style: italic;
}

$barlowSemiCondensed-semibold: 'Barlow Semi Condensed Semibold', sans-serif;
$barlowSemiCondensed-medium: 'Barlow Semi Condensed Medium', sans-serif;

$code-font: 'Source Code Pro', Monaco, 'Bitstream Vera Sans Mono', 'Lucida Console', Terminal, monospace;

/*
   If you are changing the location of these files,
   see the readme in this directory for more detail on manual steps to take when uploading new files.
 */
$font-awesome-core-url: 'https://dsco.code.org/assets/font-awesome-pro/1684178876/css/fontawesome.min.css';
$font-awesome-brands-url: 'https://dsco.code.org/assets/font-awesome-pro/1684178876/css/brands.min.css';
$font-awesome-solid-url: 'https://dsco.code.org/assets/font-awesome-pro/1684178876/css/solid.min.css';
$font-awesome-regular-url: 'https://dsco.code.org/assets/font-awesome-pro/1684178876/css/regular.min.css';
$font-awesome-v4-fonts-url: 'https://dsco.code.org/assets/font-awesome-pro/1684178876/css/v4-font-face.min.css';
$font-awesome-v4-shims-url: 'https://dsco.code.org/assets/font-awesome-pro/1684178876/css/v4-shims.min.css';
