// Common site-wide fonts, put here for easy access from all scss files

$gotham-regular: "Gotham 4r", sans-serif;
$gotham-italics: "Gotham 4i", sans-serif;
$gotham-bold: "Gotham 5r", sans-serif;
$gotham-extra-bold: "Gotham 7r", sans-serif;
$gotham-extra-bold-italics: "Gotham 7i";
$code-font: 'Source Code Pro', Monaco, 'Bitstream Vera Sans Mono', 'Lucida Console', Terminal, monospace;
