// Common site-wide fonts, put here for easy access from all scss files

$gotham-regular: "Gotham 4r", sans-serif;
$gotham-italics: "Gotham 4i", sans-serif;
$gotham-bold: "Gotham 5r", sans-serif;
$gotham-bold-italics: "Gotham 5i", sans-serif;
$gotham-extra-bold: "Gotham 7r", sans-serif;
$gotham-extra-bold-italics: "Gotham 7i";

$barlowSemiCondensed-semibold: 'Barlow Semi Condensed Semibold', sans-serif;
$barlowSemiCondensed-medium: 'Barlow Semi Condensed Medium', sans-serif;

$code-font: 'Source Code Pro', Monaco, 'Bitstream Vera Sans Mono', 'Lucida Console', Terminal, monospace;

/*
   If you are changing the location of these files,
   see the readme in this directory for more detail on manual steps to take when uploading new files.
 */
$font-awesome-core-url: "https://dsco.code.org/assets/font-awesome-pro/1684178876/css/fontawesome.min.css";
$font-awesome-brands-url: "https://dsco.code.org/assets/font-awesome-pro/1684178876/css/brands.min.css";
$font-awesome-solid-url: "https://dsco.code.org/assets/font-awesome-pro/1684178876/css/solid.min.css";
$font-awesome-regular-url: "https://dsco.code.org/assets/font-awesome-pro/1684178876/css/regular.min.css";
$font-awesome-v4-fonts-url: "https://dsco.code.org/assets/font-awesome-pro/1684178876/css/v4-font-face.min.css";
$font-awesome-v4-shims-url: "https://dsco.code.org/assets/font-awesome-pro/1684178876/css/v4-shims.min.css";
