// Common site-wide fonts, put here for easy access from all scss files

$gotham-regular: "Gotham 4r", sans-serif;
$gotham-italics: "Gotham 4i", sans-serif;
$gotham-bold: "Gotham 5r", sans-serif;
$gotham-extra-bold: "Gotham 7r", sans-serif;
$gotham-extra-bold-italics: "Gotham 7i";

$barlowSemiCondensed-semibold: 'Barlow Semi Condensed Semibold', sans-serif;
$barlowSemiCondensed-medium: 'Barlow Semi Condensed Medium', sans-serif;

$code-font: 'Source Code Pro', Monaco, 'Bitstream Vera Sans Mono', 'Lucida Console', Terminal, monospace;

/*
   If you are changing the location of these files, we also need to update:
   Hard coded strings:
   Applab Exporter: apps/src/applab/Exporter.js
   hourofcode.com: pegasus/sites.v3/hourofcode.com/styles/030-font-awesome-min.css
   shared: shared/css/font.scss (shared strings defined here)
   Additional usages of shared strings;
   code.org: pegasus/sites.v3/code.org/public/css/font-awesome.min.scss
   dashboard: dashboard/app/stylesheets/application.scss

   See the readme in this directory for more detail on manual steps to when uploading new files.
 */
$font-awesome-core-url: "https://dsco.code.org/assets/font-awesome-pro/1682441295/css/fontawesome.min.css";
$font-awesome-brands-url: "https://dsco.code.org/assets/font-awesome-pro/1682441295/css/brands.min.css";
$font-awesome-solid-url: "https://dsco.code.org/assets/font-awesome-pro/1682441295/css/solid.min.css";
$font-awesome-regular-url: "https://dsco.code.org/assets/font-awesome-pro/1682441295/css/regular.min.css";
$font-awesome-v4-fonts-url: "https://dsco.code.org/assets/font-awesome-pro/1682441295/css/v4-font-face.min.css";
$font-awesome-v4-shims-url: "https://dsco.code.org/assets/font-awesome-pro/1682441295/css/v4-shims.min.css";
