
.show-mobile {
  display: none !important;
}

@media (max-width: 800px) {
  .show-mobile {
    display: block !important;
  }
}

.show-always {
  display: block !important;
}



#pageheader-wrapper {
  z-index: 99;
}

#nav-hamburger {
  cursor: pointer;
  padding: 10px 35px 16px 0px;
  height: 20px;
}

#nav-hamburger span, #nav-hamburger span:before, #nav-hamburger span:after {
  cursor: pointer;
  height: 3px;
  width: 25px;
  border-radius: 2px;
  background: white;
  position: absolute;
  display: block;
  content: '';
  margin-top: 2px;
  margin-bottom: 2px;
}

#nav-hamburger span:before {
  top: -10px;
}

#nav-hamburger span:after {
  bottom: -10px;
}

#nav-hamburger span, #nav-hamburger span:before, #nav-hamburger span:after {
  transition: all 500ms ease-in-out;
}

#nav-hamburger.active span {
  background-color: transparent;
}

#nav-hamburger.active span:before, #nav-hamburger.active span:after {
  top: 0;
}

#nav-hamburger.active span:before {
  transform: rotate(45deg);
}

#nav-hamburger.active span:after {
  transform: rotate(-45deg);
}

#nav {
  display: inline-block;
  float: right;
  z-index: 99;
}

#nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 300px;
  right: 0;
}

#nav ul li {
  font-size: 18px;
  color: white;
  line-height: 30px;
  display: inline-block;
  float: left;
  padding: 0.25em;
  text-indent: 0;
  list-style-type: none;
  max-width: 250px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  border-bottom: solid 2px rgba(3,147,158, 0.8);
  border-radius: 2px;
  padding-bottom: 10px;
}

#nav ul li:last-of-type {
  border-bottom: none;
}

#nav .educate-nav ul li:last-of-type {
  border-bottom: solid 2px rgba(3,147,158, 0.8);
}

#nav ul li:before {
  content: none;
}

#nav ul li:last-child {
  margin-right: 0;
}

#nav ul li a, #about-more, #educate-more {
  font-family: 'Gotham 4r', sans-serif;
  font-size: 18px;
  color: white;
  xtext-transform: uppercase;
  text-decoration: none;
}

#about-more, #educate-more {
  /*width: 100px;*/
  cursor: pointer;
}

#nav-hamburger {
  vertical-align: middle;
  text-decoration: none;
  xdisplay: none;
  display: inline-block;
  float: right;
  margin-top: 8px;
}

.about-nav li a, .educate-nav li a {
  padding-left: 20px;
}

#about-down, #about-up, #educate-up, #educate-down {
  font-size: 30px;
  float: right;
}

#about-up, #educate-up {
  display: none;
}

@media (max-width: 1970px) {
  #pageheader-wrapper {
    padding-top: 5px;
  }

  #nav{
    position: relative;
  }

  #nav ul.hide-responsive-menu, .hide-about, .hide-educate {
    display: none;
  }

  #nav ul {
    position: absolute;
    top: 3em;
    background-color: #00b2c0;
    z-index: 99;
    max-height: 100vh;
    overflow-y: auto;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  #nav ul li {
    display: block;
    float: none;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 25px;
    white-space: normal;
    overflow: visible;
  }

  #nav-hamburger {
    display: inline-block;
  }
}

@media (max-width: 400px) {
  #nav ul {
    max-width: 245px;
  }

  #nav ul li {
    max-width: 200px;
  }

  #nav .educate-nav li {
    max-width: 180px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}
