// Use this to maintain proper heading hierarchy when design
// calls for a different style (semantic h3, h5 styling).

// Use @include mixin-name in stylesheets for widespread use.
/* — example: all h3s in a ul need to look like a h5s
    ul.icon-list {
      h3 { @include h5-style }
    }
*/

// Use .h1, .h2, etc classes on single elements in the markup.
// - example: %h3.h5 This is heading text that will look like an h5

// Mixins
@mixin h1-style {
  font-family: $barlowSemiCondensed-semibold;
  font-size: 3em;
}

@mixin h2-style {
  font-family: $barlowSemiCondensed-semibold;
  font-size: 2.125em;
}

@mixin h3-style {
  font-family: $barlowSemiCondensed-semibold;
  font-size: 1.75em;
}

@mixin h4-style {
  font-family: $barlowSemiCondensed-semibold;
  font-size: 1.5em;
}

@mixin h5-style {
  font-family: $gotham-bold, sans-serif;
  font-size: 1.25em;
}

@mixin h6-style {
  font-family: $gotham-bold, sans-serif;
  font-size: 1em;
}

// Heading styles
h1, h2, h3, h4, h5, h6 {
  color: $neutral-dark;
  margin: 0 0 0.5em;
  line-height: 1.2;
}

h1, .h1 { @include h1-style }
h2, .h2 { @include h2-style }
h3, .h3 { @include h3-style }
h4, .h4 { @include h4-style }
h5, .h5 { @include h5-style }
h6, .h6 { @include h6-style }
