/* Despite being in /shared/, this styling is currently only used for the Pegasus
 * header.

 * Shared
 *= require user-menu
 */

@import 'color.scss';

#pageheader-wrapper {
  padding-top: 0;

  .pageheader-translucent {
    background-color: $teal !important;
  }

  #pageheader {
    width: 100%;
    background-color: $teal;
    height: 50px;
    margin: 0 0 40px 0;

    .content {
      width: 100%;
      padding-right: 10px;
      overflow: visible;
      box-sizing: border-box;
    }

    #left {
      float: left;
      margin: 0;

      .rtl & {
        position: absolute;
        left: 0;
        right: 0;
        padding-right: 300px;
      }
    }

    #logo-wrapper {
      display: inline-block;
      padding: 4px 16px;
      float: left;

      #logo {
        width: 42px;
        height: 42px;
      }

      #logo-uk {
        width: 364px;
        height: 87px;
        display: block;
      }
    }

    #right {
      right: 16px;
      position: absolute;
    }

    @media screen and (min-width: 1011px) {
      .show_on_tablet {
        display: none;
      }
    }

    @media screen and (max-width: 1010px) {
      .hide_on_tablet {
        display: none;
      }
    }

    #headerlinks {
      float: left;
      position: relative;

      .rtl & {
        float: right;
      }

      .headerlink {
        display: inline-block;
        font-size: 14px;
        margin: 12px 0 0 30px;
        font-family: 'Gotham 4r', sans-serif;
        color: $white;
        text-decoration: none;

        &:link, &:visited {
          color: $white;
          text-decoration: none;
        }

        &:hover, &:active {
          color: $white;
          border-bottom: solid 2px $orange;
        }

        .rtl & {
          float: right;
        }
      }
    }

    .learnoption:hover {
      text-decoration: underline;
    }

    #sign_in_or_user {
      display: block;
      float: left;
      margin: 11px 0 0 30px;

      .button-signin {
        margin-top: -4px;
        background-color: transparent;
        border: 2px solid $white;
        color: $white;
        float: right;
        margin-left: 6px;
      }

      #signin_button {
        margin-top: -6px;
        height: 38px;
      }
    }
  }

  .user_menu, .create_menu {
    color: $white;
    background-color: transparent;
    border: 2px solid $white;

    .pairing_name, .display_name, .create_button {
      font-family: 'Gotham 4r', sans-serif;
    }

    .user_options, .create_options, .help_contents {
      font-size: 14px;
    }
  }

  #hamburger {
    padding-top: 4px;
    padding-left: 16px;

    .hide-responsive-menu {
      top: 55px;
    }
  }

  @media screen and (max-width: 1120px) {
    .create_menu {
      display: none !important;
    }
    #signin_button {
      margin-top: -4px !important;
    }
  }
}

#language_dir.rtl #pageheader-wrapper {
  .create_options {
    direction: rtl;
    .project_link {
      padding: 0 4px 0 10px;
    }
    #view_all_projects {
      padding-right: 10px;
    }
  }
}
