@import 'color';
@import 'barlow-font';
@import 'font';

// This file is used only for Phase 1 style updates across the pages of dashboard and pegasus/code.org
// It should be imported to the pages that are listed in Phase 1 updates.
// Therefore never mind if you meet !important anywhere in this file. It will be used only if there is no other option than to overwrite styles
// in a way that updating styles of shared elements would only affect Phase1 pages.

body {
  font-size: 100%;
}

h1, h2, h3 {
  font-family: $barlow-semibold;
}

h2 {
  color: $neutral-dark;
  font-size: 2.125em;
  line-height: 1.2;
}

h4 {
  font-family: $barlow-medium;
  font-size: 1.5em;
  line-height: 1.2;
}

h6 {
  color: $neutral_dark;
  font-size: 1em;
  line-height: 1.2;
  font-family: $gotham-bold;
}

.tutorial-block, .courseblock-tall {
  background-color: $neutral_light;
}

.course-container {
  h3, .text {
    color: $neutral_dark;
  }
}

p {
  color: $neutral_dark;
}

#signup {
  a {
    font-family: $gotham-bold;
    font-size:  1em;
    color: $brand_secondary_dark;
  }
  .signup {
    input {
      background-color: $neutral_light;
    }
    .signup-field-label {
      label {
        color: $neutral_dark;
        font-family: $gotham-bold;
      }
    }
    .submit {
      font-family: $gotham-bold;
      padding: 10px 20px;
      height: auto;
      margin-right: 0;
      background-color: $brand_secondary_default;
      border: 2px solid $brand_secondary_default;
      color: $neutral_white;

      &:hover {
        background-color: $brand_secondary_dark;
      }
      &:focus {
        border: 3px solid $brand_primary_default;
      }

      &:disabled {
        color: $neutral_white;
        border-color: $neutral_dark20;
        background-color: $neutral_dark20;
        cursor: not-allowed;
      }
    }
  }
}

#homepage-container {
  .project_card {
    > div {
      background-color: $neutral_light !important;
    }
    div {
      color: $neutral_dark !important;
    }
  }
}

#classroom-sections, #uitest-personal-projects {
  table {
    th {
      color: $neutral_white !important;
      background-color: $neutral_dark !important;
      i {
        color: $neutral_white !important;
      }
    }
    td {
      color: $neutral_dark;
      background-color: $neutral_light;

      i {
        color: $neutral_dark !important;
      }

    }
  }
}

.courseexplorer {
  .grouprow {
    background-color: $neutral_dark;
    h6 {
      color: $neutral_white;
    }
  }
  .graderow {
    background-color: $neutral_light !important;
    &.numbered {
      color: $neutral_dark;
    }
  }

  .courserow {
    background-color: $neutral_dark70;
  }

  .arrow_box {
    background-color: $neutral_white;
    .arrow_box_content {
      color: $neutral_dark;
      .description, a {
        color: $neutral_dark;
        a {
          font-family: $gotham-extra-bold;
          text-decoration: underline;
        }
      }
      .launch {
        font-family: $gotham-bold;
        font-size: 1em !important;
        padding: 10px 20px;
        height: auto;
        margin-right: 0;
        background-color: $brand_secondary_default;
        border: 2px solid $brand_secondary_default;
        color: $neutral_white;

        &:hover {
          background-color: $brand_secondary_dark;
        }
        &:focus {
          border: 3px solid $brand_primary_default;
        }

        &:disabled {
          color: $neutral_white;
          border-color: $neutral_dark20;
          background-color: $neutral_dark20;
          cursor: not-allowed;
        }
      }

      .course-explorer-gray-button {
        font-family: $gotham-bold;
        font-size: 1em !important;
        color: $neutral_dark;
        background-color: $neutral_white;
        border: 2px solid $neutral_dark;
        border-radius: 4px;

        &:hover {
          background-color: $neutral_dark10;
        }

        &:focus {
          border: 3px solid $brand_primary_default;
        }

        &:disabled {
          color: $neutral_dark20;
          border-color: $neutral_dark20;
          background-color: $neutral_white;
          cursor: not-allowed;
        }
      }
    }
  }

  .professional-learning {
    background-color: $brand_primary_default;
    color: $neutral_white;

    .course-explorer-gray-button {
      font-family: $gotham-bold;
      font-size: .8em !important;
      background-color: $brand_primary_default;
      border: 2px solid $neutral_white;
      color: $neutral_white;
      box-shadow: none;

      &:hover {
        background-color: $brand_primary_dark;
      }
      &:focus {
        border: 3px solid $brand_primary_default;
      }

      &:disabled {
        color: $neutral_white;
        border-color: $neutral_dark20;
        background-color: $neutral_dark20;
        cursor: not-allowed;
      }
    }
  }
}

.hoc-overview-page {
  color: $neutral_dark;
  font-size: 14px;

  h3 {
    color: $neutral_dark;
  }

  .hoc-skinny-banner {
    p {
      color: #fff;
    }
  }

  .tutorial-info {
    background-color: $neutral_light;
    border: 1px solid $neutral_dark20;

    .tutorial-info-guide a {
      color: $brand_secondary_default;
    }
  }

  .full-resource-block {
    border: 1px solid $neutral_dark20;
    > a {
      > img {
        border: none !important;
      }
    }

    .activities-info {
      border-left: 1px solid $neutral_dark20;
      background-color: $neutral_light;
      color: $neutral_dark;
      h2 {
        color: $neutral_dark;
      }
    }
  }
  .tutorial-gray {
    font-family: $gotham-bold;
    font-size: 1em !important;
    padding: 10px 16px;
    height: auto;
    margin-right: 0;
    background-color: $brand_secondary_default;
    border: 2px solid $brand_secondary_default;
    color: $neutral_white;

    &:hover {
      background-color: $brand_secondary_dark;
    }
    &:focus {
      border: 3px solid $brand_primary_default;
    }

    &:disabled {
      color: $neutral_white;
      border-color: $neutral_dark20;
      background-color: $neutral_dark20;
      cursor: not-allowed;
    }
  }

  .course-container {
    .teacher-guide a {
      color: $brand_secondary_default;
    }
  }
}