@import 'color', 'font', 'breakpoints';

html {
  scroll-behavior: smooth;
}

body {
  font-size: 14px !important;
  color: $neutral-dark;
}

h1, h2, h3, h4, h5, h6 {
  color: $neutral-dark;
}

h2 {
  margin-bottom: .5em;
}

h3 {
  font-size: 1.75em;
}

h5 {
  font-family: $gotham-bold, sans-serif;
  font-size: 1.25em;
  line-height: 1.2;
  margin-bottom: 0.5em;
}

.callout-heading {
  font-size: 1.5em;
}

p {
  font-size: 1em;
  line-height: 1.4;

  &.text-small {
    font-size: .875em;
  }
}

strong {
  font-family: $gotham-bold, sans-serif;
}

// Use these classes to change a section's background color
section.bg-neutral { background-color: $neutral_light; }
section.bg-primary { background-color: $brand_primary_light; }
section.bg-secondary { background-color: $brand_secondary_light; }

// Centers a block-level element
.centered { text-align: center !important; }

// Removes the bottom margin
// Often helpful on a last paragraph or list elements
// to maintain consistent white space between sections
.no-margin-bottom { margin-bottom: 0 !important;}

// For use on a thin section w/ a single message and call-to-action
.callout-strip {
  p {
    font-size: 1.25em;
    font-family: $gotham-bold;
  }
}

// FontAwesome icon defaults
.icon::before {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

// Links & Buttons
p a,
p a:visited,
p a:link,
a,
a:visited,
a:link {
  font-family: $gotham-bold, sans-serif;
  color: $brand_secondary_default;
  text-decoration: underline;
  transition: all ease-in-out .2s;

  &:hover {
    color: $brand_secondary_dark;
    text-decoration: underline;
  }
}

a.link-button,
button,
.btn {
  height: unset;
  display: inline-block;
  color: white;
  background-color: $brand_secondary_default;
  border: 2px solid $brand_secondary_default;
  border-radius: 4px;
  padding: .5em 1em;
  margin: 0.5em 0;
  font-size: 1em;
  font-family: 'Gotham 5r', sans-serif;
  text-decoration: none;
  transition: all ease-in-out .2s;

  &:hover {
    color: white;
    background-color: $brand_secondary_dark;
    border-color: $brand_secondary_dark;
    text-decoration: none;
  }

  &:focus {
    outline: $brand_primary_default solid 2px;
    outline-offset: 2px;
  }
}

a.link-button {
  &.secondary {
    background: none;
    border-color: $neutral-dark;
    color: $neutral-dark;

    &:hover {
      background: $neutral_dark10;
    }
  }
}

// Unordered lists
ul {
  margin: 1em;

  // Lists that use icons next to content
  &.icon-bullet-list {
    margin: 2em 0 1em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    li {
      padding-left: 0 !important;
      text-indent: 0 !important;
      display: flex;
      width: 48%;
      margin: 1.5em 0;

      @media screen and (max-width: $width-sm) {
        width: 100%;
      }

      &:before {
        content: none;
      }

      div > i {
        width: 50px;
        text-align: center;
      }

      i {
        font-size: 3em;
        margin: 2px 16px 0 0;
      }

      h3 {
        font-family: $gotham-bold, sans-serif;
        font-size: 1.25em;
        margin-bottom: 0.5em;
      }
    }
  }

  li {
    line-height: 1.4;
    margin: 0.5em 0;

    &:before {
      color: $neutral-dark;
    }
  }
}

// Ordered lists
// Step-by-step section
ol.steps-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: baseline;
  margin: unset;
  padding: unset;

  li {
    padding-left: 0 !important;
    text-indent: 0 !important;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    width: 20%;
    margin: 3em 0 2.5em;
  }

  h3 {
    width: 100%;

    & > span {
      background: $neutral_white;
      display: block;
      width: 2em;
      height: 2em;
      margin: 0 auto;
      line-height: 1.7;
      border: 2px solid;
      border-radius: 100%;
      outline: 0.25em solid $brand_primary_light;
    }
  }

  h4 {
    font-family: $gotham-bold, sans-serif;
    font-size: 1.25em;
    line-height: 1.2;
    margin-bottom: 0.5em;
  }
}

figcaption {
  font-size: .875em;
  font-family: $gotham-bold, sans-serif;
  margin: .25em 0 1em;
}

// FAQs
details {
  padding: 1.5em 1em 1em;
  border-bottom: 1px solid $neutral_dark80;
  transition: all ease-in-out .2s;

  &:hover {
    background: $neutral_light;
  }

  summary {
    font-family: $gotham-bold, sans-serif;
    font-size: 1.125em;
    margin-bottom: .5em;
    display: flex;
    justify-content: space-between;
    align-items: end;

    &:hover {
      cursor: pointer;
    }
  }

  & > summary::marker {
    content: "";
  }

  & > summary::after {
    font: var(--fa-font-solid);
    content: "\f107";
  }

  &[open] > summary::after {
    font: var(--fa-font-solid);
    content: "\f106";
  }
}

// Two column action block
.two-col-action-block {
  background: $neutral_light;
  border: 1px solid $neutral_dark20;
  display: flex;
  align-items: top;

  .text-wrapper {
    padding: 1em 1.5em;
  }
}
