$width-lg: 1020px;
$width-md: 700px;

.professional-learning-skinny-banner {
  box-sizing: content-box;
  padding: 1rem 2rem;
  position: relative;
  background-image: url("/images/homepage/superhero-banner.png"), linear-gradient(90deg, rgba(255,223,161,1) 0%, rgba(255,223,161,1) 26%, rgba(13,65,114,1) 75%, rgba(13,65,114,1) 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  @media screen and (max-width: $width-lg) {
    background: url("/images/homepage/superhero-banner-half.png") no-repeat;
    background-position: left;
    background-size: contain;
    background-color: #0D4172;
    padding-inline: 2rem;
  }

  @media screen and (max-width: $width-md) {
    height: unset;
    padding: 1.5rem;
    text-align: center;
    background-size: cover;
  }

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1020px;
    margin: 0 auto;

    @media screen and (max-width: $width-lg) {
      justify-content: end;
      gap: 2rem;
    }

    @media screen and (max-width: $width-md) {
      flex-direction: column;
      gap: 1rem;
    }

    .text-wrapper {
      width: 40%;

      h1, p {
        text-shadow: 1px 2px 1px rgba(255, 223, 161, 0.95);
      }

      @media screen and (max-width: $width-lg) {
        text-align: center;
        width: 60%;

        h1, p {
          color: var(--neutral_white);
          text-shadow: 1px 2px 1px rgba(13, 65, 114, 0.95);
        }
      }

      @media screen and (max-width: $width-md) {
        width: 100%;
      }
    }

  }
}
