$light_background_colour: #a69bc1;
$blue_background_colour: #59b9dc;
$gold_background_colour: #ffdfa1;
$dark_blue_background_colour: #0d4172;

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-50px);
  }
  100% {
    transform: translateX(0);
  }
}

.homepage-professional-learning-banner.animate-text {

  .left {
    animation: 2s ease-out 0s 1 slideInFromLeft;
  }

  .header {
    animation: fadein 2s;
  }

  .text {
    animation: fadein 2s;
  }
}

.homepage-professional-learning-banner {
  margin-top: 30px;
  margin-bottom: 30px;

  a {
    font-family: "Gotham 4r", sans-serif;
    text-decoration: none;
  }

  button {
    min-width: 100px;
    background-color: white;
    border-color: white;
    color: black;
    font-weight: bold;
  }

  .header {
    font-size: 18px;
    font-weight: bold;
  }

  .text {
    font-size: 14px;
  }

  .professional-learning-banner-desktop {
    background-color: $gold_background_colour;
    height: 97px;
    margin: 0 auto;
    position: relative;
    width: 100%;

    .banner {
      text-align: center;
      margin: 0 auto;
      float: right;
      height: 100%;

      img {
        width: 600px;
        height: 100%;
      }
    }

    .left {
      position: absolute;
      width: 50%;

      .header {
        color: black;
        padding: 15px 10px 10px 30px;
        position: relative;
      }

      .text {
        color: black;
        line-height: 1.3;
        position: relative;
        left: 30px;
        width: calc(100% - 150px);
      }
    }

    .right-button {
      padding-top: 32px;
      text-align: center;
      position: absolute;
      right: 64px;

      button {
        margin-top: 0px;
        font-size: 16px;
      }
    }
  }

  .professional-learning-banner-tablet {
    margin: 0 auto;
    position: relative;
    width: 100%;

    .banner {
      text-align: center;
      margin: 0 auto;
      position: relative;

      img {
        width: 100%;
      }
    }

    .text-button-wrapper {
      position: absolute;
      width: 100%;
      top: 50%;
      transform: translateY(-50%);

      .header {
        color: white;
        padding: 15px 10px 10px 30px;
        text-align: center;
        top: 0px;
      }

      .text {
        color: white;
        line-height: 1.2;
        text-align: center;
      }

      button {
        margin-top: 15px;
        font-size: 14px;
        margin-bottom: 15px;
      }
    }
  }

  .professional-learning-banner-phone {
    text-align: center;
    position: relative;
    width: 100%;
    height: 150px;
    background-color: $dark_blue_background_colour;

    .text-button-wrapper {
      position: absolute;
      width: 100%;
      top: 50%;
      transform: translateY(-50%);

      .header {
        color: white;
        padding: 15px 30px 5px 30px;
        text-align: center;
        top: 0px;
      }

      .text {
        color: white;
        text-align: center;
        margin-left: 5px;
        margin-right: 5px;
      }

      button {
        margin-bottom: 15px;
        font-size: 14px;
      }
    }
  }

  .clear {
    clear: both;
  }
}
