@font-face {
    font-family: 'Figtree';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/figtree/Figtree-Regular-Critical.otf');
}

@media print and (color) {
    * {
        -webkit-print-color-adjust: exact !important;
        print-color-adjust: exact !important;
        font-family: 'Figtree', sans-serif;
        font-weight: 400;
        font-style: normal;
    }
    a {
        text-decoration: none;
    }
}

* {
    font-family: 'Figtree', sans-serif;
    font-weight: 400;
    font-style: normal;
}

a {
    text-decoration: none;
}
