// Common styles and measures accessible from all stylesheets

// Height of workspace headers (above actual blockly/droplet space, beneath
// site header)
$workspace-headers-height: 30px;

// Width of horizontal and vertical resize bars
$resize-bar-width: 13px;

// Opacity of elements that are dragged out to be deleted
$delete-opacity: 0.5;

// Width of pegasus content as of 2017 redesign
$content-width: 970px;
