/* SECTION/STUDENT MANAGEMENT */

@import 'color';
@import 'font';

h1, h2, h3, h4, h5, h6 {
  overflow: hidden;
  text-overflow: ellipsis;
}

th.manage-th {
  height: 45px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.manage-th select {
  color: $charcoal;
}

td {
  overflow: hidden;
  text-overflow: ellipsis;
}

td > span {
  position: relative;
}

#bulk_import {
  max-width: 600px;
  padding: 10px;
  margin: 10px;
}

#bulk_import textarea {
  width: 100%;
  height: 300px;
  margin-bottom: 10px;
}

span.required {
  display: none;
}

input.ng-invalid-required + span.required,
select.ng-invalid-required + span.required {
  display: inline;
  position: absolute;
  top: 20px;
  left: 0px;
  font-size: 0.6em;
  font-weight: bold;
  color: #900;
}

/* PROGRESS */

.table-wrapper {
  width: 971px;
  overflow-x: auto;
}

table#progress {
  -webkit-transition: left 0.5s; /* For Safari 3.1 to 6.0 */
  transition: left 0.5s;

  th {
    border: 1px solid white;
  }
  td {
    border: none;
    padding: 0px;
  }

  table-layout: fixed;
  width: 100%;

  .level_link {
    box-sizing: border-box;
  }
}


.progressheader td,
.progressheader td.studentname {
  height: 50px;
}

#progress {
  .stage {
    box-sizing: border-box;
    padding: 2px 0 0 2px;
    border-left: 1px solid $light_gray;

    -webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
    transition: width 2s;
  }

  .progressheader .stage {
    cursor: pointer;
    background-color: $lighter_gray;
    color: white;
    float: left;
    height: 49px;
  }

  .studentprogress .stage {
    background-color: $lightest_gray;
    float:left;
    height:40px;
  }
}

td.studentprogress {
  height: 40px;
  position: relative;

  .studentbar {
    position: absolute;
    width: 100%;
  }

  .studentdot {
    position: absolute;
    left: 0px;
    padding-top: 4px;
    padding-bottom: 4px;

    -webkit-transition: left 2s; /* For Safari 3.1 to 6.0 */
    transition: left 2s;
  }
}

.studentname {
  position: absolute;
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  z-index: 10; // so .studentprogress scrolls 'behind' us
}

td.studentname {
  height: 40px;
  line-height: 40px;
  background: white;
}

.studentbar .level_link {
  -webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
  transition: width 2s;
}

.zoomed-out .studentbar {
  font-size: 13px;
}

.zoomed-out .studentbar .level_link {
  min-width: 0;
  border-radius: 0;
  padding: 0;
  float: left;
  margin-top: 15px;
  height:10px;
  opacity: 0.8;
  cursor: default;
  background-color: $level_not_tried;
  color: transparent !important;

  -webkit-transition: background-color 2s; /* For Safari 3.1 to 6.0 */
  transition: background-color 2s;

  &.perfect {
    border: none;
    background-color: $level_perfect;
  }

  &.passed {
    border: none;
    background-color: $level_passed;
  }

  &.attempted {
    border: none;
    background-color: $level_attempted;
  }

  &.not_tried {
    border: none;
    background-color: $level_not_tried;
  }

  &.submitted {
    border: none;
    background-color: $level_submitted;
  }

  &:hover,
  &:link,
  &:visited {
    color: transparent !important;
    cursor: pointer;
  }

}

.zoomed-out .dot {
  box-sizing: content-box;
  border-radius: 20px;
  border: 2px solid $lighter_gray;
  background-color: $level_not_tried;
  padding: 5px 7px 9px 7px;
  color: $charcoal;
  width: 18px;
  height: 18px;
  font-family: $gotham-bold;
  font-weight: normal;;
  cursor:default;
  text-align: center;

  &.perfect {
    border: none;
    background-color: $level_perfect;
    color: white;
  }

  &.passed {
    border: none;
    background-color: $level_passed;
    color: white;
  }

  &.attempted {
    border: none;
    background-color: $level_attempted;
  }

  &.not_tried {
    border: none;
    background-color: $level_not_tried;
  }
}

.zoomed-in .studentdot {
  display: none;
}

.key {
  margin: 10px 0;
  width: 100%;
  background-color: $lightest_gray;
  float: left;

  &.zoomed-out {
    padding: 10px;
  }

  &.zoomed-in {
    padding: 0;
  }

  dl {
    margin: 0;
    float: left;
  }

  dd, dt {
    padding: 0;
    float: left;
  }

  dt {
    margin-right: 5px;
  }
  dd {
    margin-right: 30px;
  }

  &.zoomed-out {
    dd, dt {
      height: 20px;
      line-height: 20px;
    }
    dt {
      padding: 5px 0;
    }
  }

  &.zoomed-in {
    dd, dt {
      height: 40px;
      line-height: 40px;
    }
  }

  .bar {
    margin: 0;
  }
  .dot {
    margin-top: -12px;
  }
  .studentbar .level_link {
    margin-top: 0;
  }
}

/* SIGNIN CARDS */

@media print {
  .signin_card {page-break-inside: avoid;}
  #pageheader, #pagefooter, .print-hide {display:none;}
}
.signin_card {
  width: 400px;
  border: 1px dashed $charcoal;
  padding: 10px;
  margin: 10px;
  float: left;
}
.signin_card dl dt {
}
.signin_card dl dd {
}

.teacher-announce {
  position: relative;

  .announce-heading {
    background-color: $purple;
    border-radius: 4px;
    color: #fff;
    height: 40px;
    overflow: hidden;
    padding: 10px;
    text-transform: uppercase;

    .heading-view-all {
      float: right;
    }
  }

  .announce-content {
    background-color: $lightest_purple;
    border-radius: 4px;
    margin-top: 3px;
    overflow: hidden;
    padding: 10px;

    .content-img-container {
      float: left;
    }

    .content-img {
      border-radius: 4px;
      max-height: 145px;
    }

    .content-text {
      color: $dark_charcoal;
      float: left;
      max-height: 90px;
      overflow: hidden;
      padding-left: 10px;
      line-height: 22px;
      width: 690px;

      b {
        font-family: 'Gotham 5r', sans-serif;
      }
    }

  }

  .announce-learn-more {
    bottom: 10px;
    position: absolute;
    right: 10px;
  }
}
