@import "color", "font", "barlow-semi-condensed-font";

/* This file is an adopted copy of apps/src/componentLibrary/typography/typography.module.scss.
   Updating styles in this file will require a manual sync with the that file.
*/

// This stylesheet can be imported to maintain typographic
// consistency across Dashboard and Pegasus sites.

// Includes heading, paragraph, and caption styles.

// We're using mixins to style semantic tags and also creating
// identical classes for potential use on other elements if needed.

// ----------------------------------------
// v 2.0.1
// ----------------------------------------

// Sizes
// Most of the typography elements have a set of different sizes (defined by "-one", "-two", "-three", "-four" suffixes).
// (Not applicable to Headings and elements without those suffixes)
// Common rule for all of those sizes are following:
// 1. "-one" is bigger size.
// 2. "-two" is a DEFAULT size, used in most of cases.
// 3. "-three" is smaller size.
// 4. "-four" is the smallest size.

// Values
// font-size uses rem
// - works when the root font-size is 100% which uses the
// browser default font-size of 16px (3rem = 16 x 3 = 48px)

// margin uses em
// - sets the margin relative to the parent element rather than the root
// example:
//  Imagine that we have h1 with font-size: 3rem (48px) and we want to set margin-bottom to it.
//    - Setting margin-bottom to 0.5rem == 8px (html.font_size * 0.5) >>> rem is relative to root element (html tag) which is 16px
//    - Setting margin-bottom to 0.5em == 24px (h1.font-size * 0.5) >>> em is relative to element itself or it's parent.
//      Our h1 element has a font-size of 3rem (48px), so 0.5em will be equal to 48 * 0.5 = 24px margin-bottom.

// Read more about rem vs em:
// https://www.digitalocean.com/community/tutorials/css-rem-vs-em-units

// line-height uses unitless numbers
// - this multiplies the line-height by the element's font-size
// and is the preferred way to set line-height according to Mozilla
// https://developer.mozilla.org/en-US/docs/Web/CSS/line-height

// ----------------------------------------

// Heading styles
// Heading mixins are used to maintain accessible heading hierarchy
// when design calls for a different style (semantic h3, h5 styling).

// Use .heading-[xx] classes on single elements in the markup.
// This is an h3 heading that will look like an h5.
// - example: h3.heading-sm

// Use @include [mixin-name] in stylesheets for widespread use.

/* — example: all h3s in a ul need to look like h5s
    ul.icon-list {
      h3 { @include heading-sm }
    }
*/

@mixin heading-common {
  color: $neutral-dark;
  margin: 0 0 0.5em 0;
}

@mixin heading-xxl {
  @include heading-common;
  font-family: $barlowSemiCondensed-semibold;
  font-size: 3rem;
  line-height: 1.16;
}

@mixin heading-xl {
  @include heading-common;
  font-family: $barlowSemiCondensed-semibold;
  font-size: 2.125rem;
  line-height: 1.24;
}

@mixin heading-lg {
  @include heading-common;
  font-family: $barlowSemiCondensed-semibold;
  font-size: 1.75rem;
  line-height: 1.28;
}

@mixin heading-md {
  @include heading-common;
  font-family: $barlowSemiCondensed-medium;
  font-size: 1.5rem;
  line-height: 1.32;
}

@mixin heading-sm {
  @include heading-common;
  @include main-font-semi-bold;
  font-size: 1.25rem;
  line-height: 1.40;
}

@mixin heading-xs {
  @include heading-common;
  @include main-font-semi-bold;
  font-size: 1rem;
  line-height: 1.48;
}

// Paragraph styles
@mixin paragraph-common {
  color: $neutral-dark;
  @include main-font-regular;
  margin-bottom: 1em;
}

@mixin body-one {
  @include paragraph-common;
  font-size: 1.25rem;
  line-height: 1.4;
}

@mixin body-two {
  @include paragraph-common;
  font-size: 1rem;
  line-height: 1.48;
}

@mixin body-three {
  @include paragraph-common;
  font-size: 0.875rem;
  line-height: 1.54;
}

@mixin body-four {
  @include paragraph-common;
  font-size: 0.75rem;
  line-height: 1.64;
}

// Overline styles
@mixin overline-common {
  @include paragraph-common;
  @include main-font-semi-bold;
  text-transform: uppercase;
  letter-spacing: 0.04rem;
}

@mixin overline-one {
  @include overline-common;
  font-size: 0.938rem;
  line-height: 1.6;
}

@mixin overline-two {
  @include overline-common;
  font-size: 0.813rem;
  line-height: 1.64;
}

@mixin overline-three {
  @include overline-common;
  font-size: 0.688rem;
  line-height: 1.76;
}

// Strong and Em styles
@mixin strong {
  @include main-font-semi-bold;
}

@mixin extra-strong {
  @include main-font-bold;
}

@mixin em {
  @include main-font-regular-italic;
}

@mixin strong-em {
  @include main-font-semi-bold-italic;
}

@mixin extra-strong-em {
  @include main-font-bold-italic;
}

// Caption styles
@mixin figcaption {
  @include main-font-semi-bold;
  font-size: 0.875rem;
  margin: 0.5em 0 1em;
  line-height: 1.64;
}

// ----------------------------------------

// Headings
h1,
.heading-xxl { @include heading-xxl; }
h2,
.heading-xl { @include heading-xl; }
h3,
.heading-lg { @include heading-lg; }
h4,
.heading-md { @include heading-md; }
h5,
.heading-sm { @include heading-sm; }
h6,
.heading-xs { @include heading-xs; }

// Paragraphs
// Use on larger paragraphs
.body-one { @include body-one; }
// Use on default paragraphs
.body-two { @include body-two; }
// Use on course block descriptions or anywhere
// else that needs smaller paragraph text
.body-three { @include body-three; }
// Use on smallest paragraph text
.body-four { @include body-four; }

// Overlines
// Use on small uppercase labels or descriptions
// (Bigger size)
.overline-one { @include overline-one; }
// (Default size)
.overline-two { @include overline-two; }
// (Smaller size)
.overline-three { @include overline-three; }

// Use in paragraphs to bold text
strong,
.strong { @include strong; }

.extra-strong {
  @include extra-strong;
}

// Use in paragraphs to italicize text
em,
.em { @include em; }

strong em,
em strong,
em.strong,
.strong em {
  @include strong-em;
}

em.extra-strong,
.extra-strong em {
  @include extra-strong-em;
}

// Captions
// Use on figcaption elements that accompany images or videos
figcaption,
.figcaption { @include figcaption; }
