@import 'color.scss';
@import 'font';

.user_menu, .create_menu, .help_button {
  user-select: none;
  height: 38px;
  position: relative;

  .create_button, .display_name, .pairing_name {
    max-width: 120px;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    .rtl & {
      float: right;
      padding-left: 3px;
    }
  }

  .user_menu_arrow_down,
  .user_menu_arrow_up,
  .create_menu_arrow_down,
  .create_menu_arrow_up {
    font-size: 0.875rem;
    margin-inline-start: 5px;
  }

  .user_options, .create_options {
    top: 46px;
  }

  .help_contents {
    top: 54px;
  }

  .user_options, .create_options, .help_contents {
    z-index: 100001;
    position: absolute;
    inset-inline-end: 0px;
    background-color: $white;
    border: 1px solid $light_gray_200;
    border-radius: 0.25rem;
    text-align: initial;
    padding: 0;
    min-width: 228px;
    max-width: 300px;
    padding: 0.375rem;
    box-shadow: 0 4px 6px -1px #0000001a, 0 2px 4px -1px #0000000f;

    a {
      color: $light_black !important;
      transition: background-color 0.2s ease-in-out;
    }

    a:hover {
      background-color: $lightest_gray;
      text-decoration: none;
      border-radius: 4px;
    }
  }
}

.user_menu {
  padding: 7px 14px;

  .user_options {

    &[dir = 'rtl']  a {
      text-align: right;
    }
    .display_name {
      @include main-font-semi-bold;
      background-color: $charcoal;
      color: $white;
      padding: 10px;
      text-align: center;
      cursor: default;
    }

    a {
      display: block;
      padding: 10px;
      @include main-font-semi-bold;
      font-weight: 500;
    }

    &.hide-responsive-menu {
      display: none;
    }
  }
}

.help_button {
  padding-left: 16px;
  padding-top: 4px;

  &.hide-mobile {
    display: block;
  }
  .hide-mobile {
    display: block;
  }

  @media (max-width: 1268px) {
    &.show-small-desktop,
    .show-small-desktop {
      display: none;
    }
  }

  display: inline-block;
  float: left;
  z-index: 99;
  position: relative;

  .help_icon {
    padding: 11px 0 16px 0;
    font-size: 22px;
    color: $white;
    cursor: pointer;
    height: 20px;
    vertical-align: middle;
    text-decoration: none;
  }

  .help_contents {

    &[dir = 'rtl']  a {
      text-align: right;
      left: 0;
      right: unset;
    }
    html[dir = 'rtl'] & {
      left: 0;
      right: unset;
    }
    a {
      display: block;
      padding: 10px;
      @include main-font-semi-bold;
      font-weight: 500;
      text-decoration: none;
    }
  }

  @media(max-width: 1023px) {
    &.hide-mobile {
      display: none;
    }
    .hide-mobile {
      display: none;
    }
  }
}

.create_menu {
  .create_options {
    inset-inline-end: unset;
    inset-inline-start: 0px;
    a {
      @include main-font-semi-bold;
      font-size: 14px;
      box-sizing: content-box;
      cursor: pointer;
      margin: 0;
      padding: 0.375rem;
      display: flex;
      flex-direction: row;
      align-items: start;
      gap: 0.625rem;
    }
    img {
      height: 40px;
      width: 40px;
      border-radius: 4px;
    }
    .project_link_box {
      display: flex;
      gap: 0.5rem;
      align-items: center;
    }
    .text,
    #view_all_projects {
      color: $light_black;
    }
  }

  @media screen and (max-width: 1023px) {
    &.show-small-desktop {
      display: none !important;
    }
  }

  @media screen and (max-width: 1120px) {
    &.hide-mobile {
      display: none;
    }
  }
}
