@import 'color';
@import 'font';

.level_link, .level_link:link, .level_link:visited {
  box-sizing: content-box;
  border-radius: 20px;
  min-width: 22px;
  line-height: 22px;
  padding: 4px;
  font-size: 16px;
  text-align: center;
  display: inline-block;
  font-family: $gotham-regular;
  font-weight: normal;
  color: white;
  border: 2px solid $lighter_gray;


  $transition: background-color .2s ease-out, border-color .2s ease-out, color .2s ease-out;
  transition: $transition;
  -moz-transition: $transition;
  -webkit-transition: $transition;
  -o-transition: $transition;
}

.level_link.not_tried, .level_link.not_tried:link, .level_link.not_tried:visited {
  background-color: $level_not_tried;
  color: $charcoal !important;
}

a.level_link.not_tried:hover,
a.level_link.attempted:hover,
a.level_link.perfect:hover,
a.level_link.passed:hover,
a.level_link.submitted:hover
 {
    background-color: $level_current;
    color: white;
    text-decoration: none;
}

.level_link.attempted, .level_link.attempted:link, .level_link.attempted:visited {
  background-color: $level_attempted;
  color: $charcoal !important;
}

.level_link.perfect, .level_link.perfect:link, .level_link.perfect:visited {
  background-color: $level_perfect;
  color: white !important;
}


.level_link.passed, .level_link.passed:link, .level_link.passed:visited {
  background-color: $level_passed;
  color: white !important;
}

.level_link.submitted, .level_link.submitted:link, .level_link.submitted:visited {
  background-color: $level_submitted;
  color: white !important;
}

.puzzle_outer_level,
.puzzle_outer_assessment,
.puzzle_outer_current {
  padding: 1px;
  display: inline-block;
}

.puzzle_outer_assessment .level_link {
  border: 2px solid $assessment;
}

.user-stats-block .puzzle_outer_current .level_link {
  border: 2px solid $level_current;
}

.user-stats-block
{
  display:inline-block;
  position:relative;
  overflow:hidden;
  float:left;
  width:100%;
  background-color: $lightest_gray;
}

.stage-lesson-plan-link a,
.stage-lesson-plan-link a:link,
.stage-lesson-plan-link a:visited
{
  font-size: 10px;
  color: $purple;
  font-family: $gotham-bold;
  font-weight: normal;
}

.game-group {
  border-bottom: 2px solid $lighter_gray;
  display: table;
  table-layout: fixed;
  padding: 10px;
  width: 100%;
  .stage {
    display: table-cell;
    width: 200px;
    vertical-align: middle;
    padding-right: 10px;
    .game-title {
      font-family: $gotham-bold;
      font-weight: normal;
    }
  }
  .games {
    display: table-cell;
    vertical-align: middle;
    box-sizing: border-box;
    padding-right: 10px;
    .level {
      margin: 1px;
      display: inline-block;
      .puzzle-number {
        position: relative;
        top: 1px;
      }
    }
  }
}

.teacher-stage {
  margin: 0.5em 0;
  font-size: 1.2em;
}

.puzzle-named {
  font-size: 13px;
  padding-left: 6px;
  padding-right: 6px;
}

.user-stats-block .key {
  margin: 10px 0 0 0;
  float: left;
  padding: 10px;
  dl {
    margin: 0;
    float: left;
    white-space: nowrap;
  }
  dd, dt {
    float: left;
    height: 36px;
  }
  dt { margin-right: 5px; }
  dd {
    line-height: 36px;
    margin-left: 0;
    margin-right: 25px;
  }
}

.flex-wrapper {
  border-bottom: 2px solid #c6cacd;
}

.flex-category {
  border-left: 8px solid $cyan;
  padding-left: 15px;
  margin: 10px 0 10px 10px;
  h4 {
    margin: 0.25em 0;
  }
  .game-group:last-child {
    border-bottom: 0;
  }
  .stage {
    width: 167px;
  }
}

#landingpage.teacher-course {
  #lesson {
    background: none;
    border-radius: 3px;
    .whitetext, .smallwhitetext {
      margin-left: 10px;
      color: $dark_charcoal !important;
    }
    .lightgreytext > a {
      color: $charcoal !important;
    }
  }
  #stats {
    background: none;
  }
  .user-stats-block {
    width: 900px;
    background: none;
  }
  .flex-wrapper {
    border: 0;
    margin-right: 10px;
  }
  .flex-category {
    border: 0;
    padding: 0;
    margin: 0;
    h4 {
      padding: 5px 10px;
      background: $cyan;
      color: #fff;
      border-radius: 2px;
    }
    & > div {
      padding: 5px 10px;
      margin: 3px 0;
      border: 1px solid $lightest_gray;
      border-radius: 2px;
    }
    .game-group {
      border: 0;
    }
    .stage {
      width: 167px;
    }
    .level_link {
      margin: 2px;
    }
  }
}
