@import 'color';

.level_link, .level_link:link, .level_link:visited {
  box-sizing: content-box;
  border-radius: 20px;
  min-width: 22px;
  line-height: 22px;
  padding: 4px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  font-family: 'Gotham 4r', sans-serif;
  font-weight: normal;
  color: white;
  border: 2px solid $lighter_gray;


  $transition: background-color .2s ease-out, border-color .2s ease-out, color .2s ease-out;
  transition: $transition;
  -moz-transition: $transition;
  -webkit-transition: $transition;
  -o-transition: $transition;
}

.level_link.not_tried, .level_link.not_tried:link, .level_link.not_tried:visited {
  background-color: $level_not_tried;
  color: $charcoal !important;
  &:hover {
    background-color: $level_current;
    color: white;
    text-decoration: none;
  }
}

.level_link.attempted, .level_link.attempted:link, .level_link.attempted:visited {
  background-color: $level_attempted;
  color: $charcoal !important;
  &:hover {
    background-color: $level_current;
    color: white;
    text-decoration: none;
  }
}

.level_link.perfect, .level_link.perfect:link, .level_link.perfect:visited {
  background-color: $level_submitted;
  color: white !important;
  &:hover {
    background-color: $level_current;
    color: white;
    text-decoration: none;
  }
}


.level_link.passed, .level_link.passed:link, .level_link.passed:visited {
  background-color: $level_passed;
  color: white !important;
  &:hover {
    background-color: $level_current;
    color: white;
    text-decoration: none;
  }
}

.level_link.submitted, .level_link.submitted:link, .level_link.submitted:visited {
  background-color: $level_submitted;
  color: $charcoal !important;
  &:hover {
    background-color: $level_submitted;
    text-decoration: none;
  }
}

.puzzle_outer_level,
.puzzle_outer_assessment,
.puzzle_outer_current {
  padding: 1px;
  display: inline-block;
}

.puzzle_outer_assessment .level_link {
  border: 2px solid $assessment;
}

.user-stats-block .puzzle_outer_current .level_link {
  border: 2px solid $level_current;
}

.user-stats-block
{
  display:inline-block;
  position:relative;
  overflow:hidden;
  float:left;
  width:100%;
}

.stage-lesson-plan-link a,
.stage-lesson-plan-link a:link,
.stage-lesson-plan-link a:visited,
{
  font-size: 10px;
  color: $purple;
  font-family: 'Gotham 5r', sans-serif;
  font-weight: normal;
}

.game-group {
  border-bottom: 2px solid $lighter_gray;
  background-color: $lightest_gray;
  display: table;
  table-layout: fixed;
  padding: 10px;
  width: 100%;
  .stage {
    display: table-cell;
    width: 200px;
    vertical-align: middle;
    padding-right: 10px;
    .game-title {
      font-family: 'Gotham 5r', sans-serif;
      font-weight: normal;
    }
  }
  .games {
    display: table-cell;
    vertical-align: middle;
    box-sizing: border-box;
    padding-right: 10px;
    .level {
      margin: 1px;
      display: inline-block;
      .puzzle-number {
        position: relative;
        top: 1px;
      }
    }
  }
}

.puzzle-named {
  font-size: 13px;
  padding-left: 6px;
  padding-right: 6px;
}
