@import 'color';
@import 'font';

#user_hero {
  margin: 10px 0px;
  padding-right:5px;
  width: 100%;
  line-height: 35px;

  #welcome {
    left: 0;
    color: $white;
    padding: 10px;
    font-size: 20px;
    font-family: $gotham-regular;
    text-align: left;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    &.teacher {
      background-color: $cyan;
    }
    &.student {
      background-color: $purple;
    }
  }
  #body {
    overflow: hidden;
    padding: 10px;
    font-family: $gotham-regular;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 16px;
    line-height: 25px;
    vertical-align: middle;

    &.teacher {
      background-color: $lightest_cyan;
      color: $charcoal;
    }
    &.student {
      background-color: $light_purple;
      color: $white;
    }
  }
  #plc_course_progress {
    background-color: $lightest_cyan;
    border-bottom: 1px solid $cyan;
    color: $charcoal;
    padding: 10px;
  }
  #currentprogress {
    width: 70%;
    float: left;
  }
  #coursebuttons {
    width: 30%;
    float: right;
    line-height: 45px;
  }
  a {
    color: white;
    font-family: $gotham-regular;
    text-decoration: none;
  }
  .smalltext {
    font-size: 14px;
  }
}
