@import 'color';
@import 'font';

#user_hero {
  margin: 20px 0;
  #welcome {
    left: 0;
    color: $white;
    padding: 10px;
    font-size: 20px;
    font-family: $gotham-regular;
    text-align: left;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    &.teacher {
      background-color: $cyan;
    }
    &.student {
      background-color: $purple;
    }
  }
  #body {
    color: white;
    overflow: hidden;
    padding: 10px;
    font-family: $gotham-regular;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    vertical-align: middle;

    &.teacher {
      background-color: $light_cyan;
    }
    &.student {
      background-color: $light_purple;
    }
  }
  #student {
    font-size: 18px;
    line-height: 25px;
    margin-left: 2px;

    #currentprogress {
      width: 70%;
      float: left;

      .smalltext {
        font-size: 14px;
      }
    }
    #coursebuttons {
      width: 30%;
      float: right;
      margin-top: 7px;
    }
  }
  a {
    color: white;
  }
}
