@import 'color';
@import 'font';

.user-stats-block
{
  display:inline-block;
  position:relative;
  float:left;
  width:100%;
  background-color: $white;
}

.user-stats-block .key {
  margin: 10px 0 0 0;
  float: left;
  padding: 10px;
  dl {
    margin: 0;
    float: left;
    white-space: nowrap;
  }
  dd, dt {
    float: left;
    height: 36px;
  }
  dt { margin-right: 5px; }
  dd {
    line-height: 36px;
    margin-left: 0;
    margin-right: 25px;
  }
}
