/*
 * ==========================================================
 * Grid
 * ==========================================================
 */

.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, 
.grid-11, .grid-12, .grid-13, .grid-14, .grid-15, .grid-16 {
  float: right;
}

/*
 * ==========================================================
 * Alpha - Omega
 * ==========================================================
 */

.omega {
  margin-right: 1%;
  margin-left: 0 !important;
}

.alpha {
  margin-left: 1%;
  margin-right: 0 !important;
}

/*
 * ==========================================================
 * Prefix
 * ==========================================================
 */

.container-16 .prefix-1 {
  padding-left: 0;
  padding-right: 6.25%;
}

.container-16 .prefix-2 {
  padding-left: 0;
  padding-right: 12.5%;
}

.container-16 .prefix-3 {
  padding-left: 0;
  padding-right: 18.75%;
}

.container-16 .prefix-4 {
  padding-left: 0;
  padding-right: 25.0%;
}

.container-16 .prefix-5 {
  padding-left: 0;
  padding-right: 31.25%;
}

.container-16 .prefix-6 {
  padding-left: 0;
  padding-right: 37.5%;
}

.container-16 .prefix-7 {
  padding-left: 0;
  padding-right: 43.75%;
}

.container-16 .prefix-8 {
  padding-left: 0;
  padding-right: 50.0%;
}

.container-16 .prefix-9 {
  padding-left: 0;
  padding-right: 56.25%;
}

.container-16 .prefix-10 {
  padding-left: 0;
  padding-right: 62.5%;
}

.container-16 .prefix-11 {
  padding-left: 0;
  padding-right: 68.75%;
}

.container-16 .prefix-12 {
  padding-left: 0;
  padding-right: 75.0%;
}

.container-16 .prefix-13 {
  padding-left: 0;
  padding-right: 81.25%;
}

.container-16 .prefix-14 {
  padding-left: 0;
  padding-right: 87.5%;
}

.container-16 .prefix-15 {
  padding-left: 0;
  padding-right: 93.75%;
}

/*
 * ==========================================================
 * Suffix
 * ==========================================================
 */

.container-16 .suffix-1 {
  padding-right: 0;
  padding-left: 6.25%;
}

.container-16 .suffix-2 {
  padding-right: 0;
  padding-left: 12.5%;
}

.container-16 .suffix-3 {
  padding-right: 0;
  padding-left: 18.75%;
}

.container-16 .suffix-4 {
  padding-right: 0;
  padding-left: 25.0%;
}

.container-16 .suffix-5 {
  padding-right: 0;
  padding-left: 31.25%;
}

.container-16 .suffix-6 {
  padding-right: 0;
  padding-left: 37.5%;
}

.container-16 .suffix-7 {
  padding-right: 0;
  padding-left: 43.75%;
}

.container-16 .suffix-8 {
  padding-right: 0;
  padding-left: 50.0%;
}

.container-16 .suffix-9 {
  padding-right: 0;
  padding-left: 56.25%;
}

.container-16 .suffix-10 {
  padding-right: 0;
  padding-left: 62.5%;
}

.container-16 .suffix-11 {
  padding-right: 0;
  padding-left: 68.75%;
}

.container-16 .suffix-12 {
  padding-right: 0;
  padding-left: 75.0%;
}

.container-16 .suffix-13 {
  padding-right: 0;
  padding-left: 81.25%;
}

.container-16 .suffix-14 {
  padding-right: 0;
  padding-left: 87.5%;
}

.container-16 .suffix-15 {
  padding-right: 0;
  padding-left: 93.75%;
}

/*
 * ==========================================================
 * Push
 * ==========================================================
 */

.container-16 .push-1 {
  right: 6.25%;
}

.container-16 .push-2 {
  right: 12.5%;
}

.container-16 .push-3 {
  right: 18.75%;
}

.container-16 .push-4 {
  right: 25.0%;
}

.container-16 .push-5 {
  right: 31.25%;
}

.container-16 .push-6 {
  right: 37.5%;
}

.container-16 .push-7 {
  right: 43.75%;
}

.container-16 .push-8 {
  right: 50.0%;
}

.container-16 .push-9 {
  right: 56.25%;
}

.container-16 .push-10 {
  right: 62.5%;
}

.container-16 .push-11 {
  right: 68.75%;
}

.container-16 .push-12 {
  right: 75.0%;
}

.container-16 .push-13 {
  right: 81.25%;
}

.container-16 .push-14 {
  right: 87.5%;
}

.container-16 .push-15 {
  right: 93.75%;
}

/*
 * ==========================================================
 * Pull
 * ==========================================================
 */

.container-16 .pull-1 {
  right: -6.25%;
}

.container-16 .pull-2 {
  right: -12.5%;
}

.container-16 .pull-3 {
  right: -18.75%;
}

.container-16 .pull-4 {
  right: -25.0%;
}

.container-16 .pull-5 {
  right: -31.25%;
}

.container-16 .pull-6 {
  right: -37.5%;
}

.container-16 .pull-7 {
  right: -43.75%;
}

.container-16 .pull-8 {
  right: -50.0%;
}

.container-16 .pull-9 {
  right: -56.25%;
}

.container-16 .pull-10 {
  right: -62.5%;
}

.container-16 .pull-11 {
  right: -68.75%;
}

.container-16 .pull-12 {
  right: -75.0%;
}

.container-16 .pull-13 {
  right: -81.25%;
}

.container-16 .pull-14 {
  right: -87.5%;
}

.container-16 .pull-15 {
  right: -93.75%;
}
