/*
 * ==========================================================
 * Grid
 * ==========================================================
 */

.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, 
.grid-11, .grid-12, .grid-13, .grid-14, .grid-15, .grid-16, .grid-17, .grid-18, .grid-19, 
.grid-20, .grid-21, .grid-22, .grid-23, .grid-24 {
  float: right;
}

/*
 * ==========================================================
 * Alpha - Omega
 * ==========================================================
 */

.omega {
  margin-right: 1%;
  margin-left: 0 !important;
}

.alpha {
  margin-left: 1%;
  margin-right: 0 !important;
}

/*
 * ==========================================================
 * Prefix
 * ==========================================================
 */

.container-24 .prefix-1 {
  padding-left: 0;
  padding-right: 4.167%;
}

.container-24 .prefix-2 {
  padding-left: 0;
  padding-right: 8.333%;
}

.container-24 .prefix-3 {
  padding-left: 0;
  padding-right: 12.5%;
}

.container-24 .prefix-4 {
  padding-left: 0;
  padding-right: 16.667%;
}

.container-24 .prefix-5 {
  padding-left: 0;
  padding-right: 20.833%;
}

.container-24 .prefix-6 {
  padding-left: 0;
  padding-right: 25.0%;
}

.container-24 .prefix-7 {
  padding-left: 0;
  padding-right: 29.167%;
}

.container-24 .prefix-8 {
  padding-left: 0;
  padding-right: 33.333%;
}

.container-24 .prefix-9 {
  padding-left: 0;
  padding-right: 37.5%;
}

.container-24 .prefix-10 {
  padding-left: 0;
  padding-right: 41.667%;
}

.container-24 .prefix-11 {
  padding-left: 0;
  padding-right: 45.833%;
}

.container-24 .prefix-12 {
  padding-left: 0;
  padding-right: 50.0%;
}

.container-24 .prefix-13 {
  padding-left: 0;
  padding-right: 54.167%;
}

.container-24 .prefix-14 {
  padding-left: 0;
  padding-right: 58.333%;
}

.container-24 .prefix-15 {
  padding-left: 0;
  padding-right: 62.5%;
}

.container-24 .prefix-16 {
  padding-left: 0;
  padding-right: 66.667%;
}

.container-24 .prefix-17 {
  padding-left: 0;
  padding-right: 70.833%;
}

.container-24 .prefix-18 {
  padding-left: 0;
  padding-right: 75.0%;
}

.container-24 .prefix-19 {
  padding-left: 0;
  padding-right: 79.167%;
}

.container-24 .prefix-20 {
  padding-left: 0;
  padding-right: 83.333%;
}

.container-24 .prefix-21 {
  padding-left: 0;
  padding-right: 87.5%;
}

.container-24 .prefix-22 {
  padding-left: 0;
  padding-right: 91.667%;
}

.container-24 .prefix-23 {
  padding-left: 0;
  padding-right: 95.833%;
}

/*
 * ==========================================================
 * Suffix
 * ==========================================================
 */

.container-24 .suffix-1 {
  padding-right: 0;
  padding-left: 4.167%;
}

.container-24 .suffix-2 {
  padding-right: 0;
  padding-left: 8.333%;
}

.container-24 .suffix-3 {
  padding-right: 0;
  padding-left: 12.5%;
}

.container-24 .suffix-4 {
  padding-right: 0;
  padding-left: 16.667%;
}

.container-24 .suffix-5 {
  padding-right: 0;
  padding-left: 20.833%;
}

.container-24 .suffix-6 {
  padding-right: 0;
  padding-left: 25.0%;
}

.container-24 .suffix-7 {
  padding-right: 0;
  padding-left: 29.167%;
}

.container-24 .suffix-8 {
  padding-right: 0;
  padding-left: 33.333%;
}

.container-24 .suffix-9 {
  padding-right: 0;
  padding-left: 37.5%;
}

.container-24 .suffix-10 {
  padding-right: 0;
  padding-left: 41.667%;
}

.container-24 .suffix-11 {
  padding-right: 0;
  padding-left: 45.833%;
}

.container-24 .suffix-12 {
  padding-right: 0;
  padding-left: 50.0%;
}

.container-24 .suffix-13 {
  padding-right: 0;
  padding-left: 54.167%;
}

.container-24 .suffix-14 {
  padding-right: 0;
  padding-left: 58.333%;
}

.container-24 .suffix-15 {
  padding-right: 0;
  padding-left: 62.5%;
}

.container-24 .suffix-16 {
  padding-right: 0;
  padding-left: 66.667%;
}

.container-24 .suffix-17 {
  padding-right: 0;
  padding-left: 70.833%;
}

.container-24 .suffix-18 {
  padding-right: 0;
  padding-left: 75.0%;
}

.container-24 .suffix-19 {
  padding-right: 0;
  padding-left: 79.167%;
}

.container-24 .suffix-20 {
  padding-right: 0;
  padding-left: 83.333%;
}

.container-24 .suffix-21 {
  padding-right: 0;
  padding-left: 87.5%;
}

.container-24 .suffix-22 {
  padding-right: 0;
  padding-left: 91.667%;
}

.container-24 .suffix-23 {
  padding-right: 0;
  padding-left: 95.833%;
}

/*
 * ==========================================================
 * Push
 * ==========================================================
 */

.container-24 .push-1 {
  right: 4.167%;
}

.container-24 .push-2 {
  right: 8.333%;
}

.container-24 .push-3 {
  right: 12.5%;
}

.container-24 .push-4 {
  right: 16.667%;
}

.container-24 .push-5 {
  right: 20.833%;
}

.container-24 .push-6 {
  right: 25.0%;
}

.container-24 .push-7 {
  right: 29.167%;
}

.container-24 .push-8 {
  right: 33.333%;
}

.container-24 .push-9 {
  right: 37.5%;
}

.container-24 .push-10 {
  right: 41.667%;
}

.container-24 .push-11 {
  right: 45.833%;
}

.container-24 .push-12 {
  right: 50.0%;
}

.container-24 .push-13 {
  right: 54.167%;
}

.container-24 .push-14 {
  right: 58.333%;
}

.container-24 .push-15 {
  right: 62.5%;
}

.container-24 .push-16 {
  right: 66.667%;
}

.container-24 .push-17 {
  right: 70.833%;
}

.container-24 .push-18 {
  right: 75.0%;
}

.container-24 .push-19 {
  right: 79.167%;
}

.container-24 .push-20 {
  right: 83.333%;
}

.container-24 .push-21 {
  right: 87.5%;
}

.container-24 .push-22 {
  right: 91.667%;
}

.container-24 .push-23 {
  right: 95.833%;
}

/*
 * ==========================================================
 * Pull
 * ==========================================================
 */

.container-24 .pull-1 {
  right: -4.167%;
}

.container-24 .pull-2 {
  right: -8.333%;
}

.container-24 .pull-3 {
  right: -12.5%;
}

.container-24 .pull-4 {
  right: -16.667%;
}

.container-24 .pull-5 {
  right: -20.833%;
}

.container-24 .pull-6 {
  right: -25.0%;
}

.container-24 .pull-7 {
  right: -29.167%;
}

.container-24 .pull-8 {
  right: -33.333%;
}

.container-24 .pull-9 {
  right: -37.5%;
}

.container-24 .pull-10 {
  right: -41.667%;
}

.container-24 .pull-11 {
  right: -45.833%;
}

.container-24 .pull-12 {
  right: -50.0%;
}

.container-24 .pull-13 {
  right: -54.167%;
}

.container-24 .pull-14 {
  right: -58.333%;
}

.container-24 .pull-15 {
  right: -62.5%;
}

.container-24 .pull-16 {
  right: -66.667%;
}

.container-24 .pull-17 {
  right: -70.833%;
}

.container-24 .pull-18 {
  right: -75.0%;
}

.container-24 .pull-19 {
  right: -79.167%;
}

.container-24 .pull-20 {
  right: -83.333%;
}

.container-24 .pull-21 {
  right: -87.5%;
}

.container-24 .pull-22 {
  right: -91.667%;
}

.container-24 .pull-23 {
  right: -95.833%;
}
