/*
 * ==========================================================
 * Grid
 * ==========================================================
 */

.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, 
.grid-11, .grid-12, .grid-13, .grid-14, .grid-15, .grid-16 {
  display: inline;
  float: left;
  position: relative;
  margin-left: 1%;
  margin-right: 1%;
}

.push-1, .pull-1, .push-2, .pull-2, .push-3, .pull-3, .push-4, .pull-4,
.push-5, .pull-5, .push-6, .pull-6, .push-7, .pull-7, .push-8, .pull-8,
.push-9, .pull-9, .push-10, .pull-10, .push-11, .pull-11, .push-12, .pull-12,
.push-13, .pull-13, .push-14, .pull-14, .push-15, .pull-15, .push-16, .pull-16 {
  position: relative;
}

/*
 * ==========================================================
 * Alpha - Omega
 * ==========================================================
 */

.alpha {
  margin-left: 0;
}

.omega {
  margin-right: 0;
}

/*
 * ==========================================================
 * Container
 * ==========================================================
 */

.container-16 {
  width: 92%;
  margin-left: 4%;
  margin-right: 4%;
}

/*
 * ==========================================================
 * Columns
 * ==========================================================
 */

.container-16 .grid-1 {
  width: 4.25%;
}

.container-16 .grid-2 {
  width: 10.5%;
}

.container-16 .grid-3 {
  width: 16.75%;
}

.container-16 .grid-4 {
  width: 23.0%;
}

.container-16 .grid-5 {
  width: 29.25%;
}

.container-16 .grid-6 {
  width: 35.5%;
}

.container-16 .grid-7 {
  width: 41.75%;
}

.container-16 .grid-8 {
  width: 48.0%;
}

.container-16 .grid-9 {
  width: 54.25%;
}

.container-16 .grid-10 {
  width: 60.5%;
}

.container-16 .grid-11 {
  width: 66.75%;
}

.container-16 .grid-12 {
  width: 73.0%;
}

.container-16 .grid-13 {
  width: 79.25%;
}

.container-16 .grid-14 {
  width: 85.5%;
}

.container-16 .grid-15 {
  width: 91.75%;
}

.container-16 .grid-16 {
  width: 98.0%;
}

/*
 * ==========================================================
 * Prefix
 * ==========================================================
 */

.container-16 .prefix-1 {
  padding-left: 6.25%;
}

.container-16 .prefix-2 {
  padding-left: 12.5%;
}

.container-16 .prefix-3 {
  padding-left: 18.75%;
}

.container-16 .prefix-4 {
  padding-left: 25.0%;
}

.container-16 .prefix-5 {
  padding-left: 31.25%;
}

.container-16 .prefix-6 {
  padding-left: 37.5%;
}

.container-16 .prefix-7 {
  padding-left: 43.75%;
}

.container-16 .prefix-8 {
  padding-left: 50.0%;
}

.container-16 .prefix-9 {
  padding-left: 56.25%;
}

.container-16 .prefix-10 {
  padding-left: 62.5%;
}

.container-16 .prefix-11 {
  padding-left: 68.75%;
}

.container-16 .prefix-12 {
  padding-left: 75.0%;
}

.container-16 .prefix-13 {
  padding-left: 81.25%;
}

.container-16 .prefix-14 {
  padding-left: 87.5%;
}

.container-16 .prefix-15 {
  padding-left: 93.75%;
}

/*
 * ==========================================================
 * Suffix
 * ==========================================================
 */

.container-16 .suffix-1 {
  padding-right: 6.25%;
}

.container-16 .suffix-2 {
  padding-right: 12.5%;
}

.container-16 .suffix-3 {
  padding-right: 18.75%;
}

.container-16 .suffix-4 {
  padding-right: 25.0%;
}

.container-16 .suffix-5 {
  padding-right: 31.25%;
}

.container-16 .suffix-6 {
  padding-right: 37.5%;
}

.container-16 .suffix-7 {
  padding-right: 43.75%;
}

.container-16 .suffix-8 {
  padding-right: 50.0%;
}

.container-16 .suffix-9 {
  padding-right: 56.25%;
}

.container-16 .suffix-10 {
  padding-right: 62.5%;
}

.container-16 .suffix-11 {
  padding-right: 68.75%;
}

.container-16 .suffix-12 {
  padding-right: 75.0%;
}

.container-16 .suffix-13 {
  padding-right: 81.25%;
}

.container-16 .suffix-14 {
  padding-right: 87.5%;
}

.container-16 .suffix-15 {
  padding-right: 93.75%;
}

/*
 * ==========================================================
 * Push
 * ==========================================================
 */

.container-16 .push-1 {
  left: 6.25%;
}

.container-16 .push-2 {
  left: 12.5%;
}

.container-16 .push-3 {
  left: 18.75%;
}

.container-16 .push-4 {
  left: 25.0%;
}

.container-16 .push-5 {
  left: 31.25%;
}

.container-16 .push-6 {
  left: 37.5%;
}

.container-16 .push-7 {
  left: 43.75%;
}

.container-16 .push-8 {
  left: 50.0%;
}

.container-16 .push-9 {
  left: 56.25%;
}

.container-16 .push-10 {
  left: 62.5%;
}

.container-16 .push-11 {
  left: 68.75%;
}

.container-16 .push-12 {
  left: 75.0%;
}

.container-16 .push-13 {
  left: 81.25%;
}

.container-16 .push-14 {
  left: 87.5%;
}

.container-16 .push-15 {
  left: 93.75%;
}

/*
 * ==========================================================
 * Pull
 * ==========================================================
 */

.container-16 .pull-1 {
  left: -6.25%;
}

.container-16 .pull-2 {
  left: -12.5%;
}

.container-16 .pull-3 {
  left: -18.75%;
}

.container-16 .pull-4 {
  left: -25.0%;
}

.container-16 .pull-5 {
  left: -31.25%;
}

.container-16 .pull-6 {
  left: -37.5%;
}

.container-16 .pull-7 {
  left: -43.75%;
}

.container-16 .pull-8 {
  left: -50.0%;
}

.container-16 .pull-9 {
  left: -56.25%;
}

.container-16 .pull-10 {
  left: -62.5%;
}

.container-16 .pull-11 {
  left: -68.75%;
}

.container-16 .pull-12 {
  left: -75.0%;
}

.container-16 .pull-13 {
  left: -81.25%;
}

.container-16 .pull-14 {
  left: -87.5%;
}

.container-16 .pull-15 {
  left: -93.75%;
}
