.flex-container.justify-space-between.wrap.gap-2
  .stat-box
    %p.heading-xxl.no-margin-bottom 200%
    %p.heading-sm
      =hoc_s(:admins_page_driving_change_stat_desc_01)
    %p=hoc_s(:admins_page_driving_change_desc_01)
    %p.body-three.location Broward County <span>•</span> Florida
    %a.link-button.has-external-link{href: "https://docs.google.com/document/d/102y3-j0uZBqSnqWHTiTbo81LyDUX2sZITYF9aHnZ_yc/edit?usp=sharing#heading=h.rf0l0zfkbqe4", target: "_blank", rel: "noopener noreferrer"}
      =hoc_s(:call_to_action_read_full_story)
  .stat-box
    %p.heading-xxl.no-margin-bottom 150+
    %p.heading-sm
      =hoc_s(:admins_page_driving_change_stat_desc_02)
    %p=hoc_s(:admins_page_driving_change_desc_02)
    %p.body-three.location Charles County <span>•</span> Maryland
    %a.link-button.has-external-link{href: "https://docs.google.com/document/d/102y3-j0uZBqSnqWHTiTbo81LyDUX2sZITYF9aHnZ_yc/edit?usp=sharing#heading=h.8xs8zt2iloy0", target: "_blank", rel: "noopener noreferrer"}
      =hoc_s(:call_to_action_read_full_story)
