-# FontAwesome icons
- icon_laptop = "fa-solid fa-laptop"
- icon_chalkboard = "fa-solid fa-chalkboard-user"
- icon_arrow = "fa-solid fa-arrow-up-wide-short"

%ul.icon-bullet-list.full-width
  %li
    %div
      %i{class: "#{icon_laptop}"}
    .text-wrapper
      %h3=hoc_s(:heading_self_paced_learning)
      %p.no-margin-bottom
        =hoc_s(:admins_page_pl_self_paced_desc)
  %li
    %div
      %i{class: "#{icon_chalkboard}"}
    .text-wrapper
      %h3=hoc_s(:heading_in_person_virtual_workshops)
      %p.no-margin-bottom
        =hoc_s(:admins_page_pl_workshops_desc)
  %li
    %div
      %i{class: "#{icon_arrow}"}
    .text-wrapper
      %h3=hoc_s(:heading_every_grade_every_level)
      %p.no-margin-bottom
        =hoc_s(:admins_page_pl_every_grade_desc)
