:ruby
  resource_item = [
    {
      title: hoc_s(:heading_intl_opportunities),
      image: "/images/admins-page-resources-intl.png",
      desc: hoc_s(:admins_page_resources_desc_intl),
      url: "/professional-learning/international-partners",
      button_label: hoc_s(:call_to_action_learn_more)
    },
    {
      title: hoc_s(:teach_page_additional_materials_list_heading_02),
      image: "/images/admins-page-resources-videos.png",
      desc: hoc_s(:admins_page_resources_desc_videos),
      url: "/videos",
      button_label: hoc_s(:call_to_action_watch_videos)
    },
    {
      title: hoc_s(:heading_unplugged_resources),
      image: "/images/admins-page-resources-unplugged.png",
      desc: hoc_s(:admins_page_resources_desc_unplugged),
      url: "/curriculum/unplugged",
      button_label: hoc_s(:call_to_action_explore_unplugged_lesson)
    },
  ]

.action-block__wrapper.action-block__wrapper--three-col
  - resource_item.each do |resource_item|
    .action-block.action-block--one-col.flex-space-between
      .content-wrapper
        %h3
          = resource_item[:title]
        %img{src: resource_item[:image], alt: ""}
        %p
          = resource_item[:desc]
      .content-footer
        %a.link-button{href: resource_item[:url]}
          = resource_item[:button_label]
