:ruby
  card_list = [
    {
      image: "/images/admins-page-pathways.png",
      title: hoc_s(:admins_page_elevate_title_01),
      desc: hoc_s(:admins_page_elevate_desc_01)
    },
    {
      image: "/images/admins-page-superhero.png",
      title: hoc_s(:admins_page_elevate_title_02),
      desc: hoc_s(:admins_page_elevate_desc_02)
    },
    {
      image: "/images/admins-page-standards.png",
      title: hoc_s(:admins_page_elevate_title_03),
      desc: hoc_s(:admins_page_elevate_desc_03)
    },
    {
      image: "/images/admins-page-curriculum.png",
      title: hoc_s(:admins_page_elevate_title_04),
      desc: hoc_s(:admins_page_elevate_desc_04)
    },
  ]

.editorial-cards-wrapper-2x2
  - card_list.each do |card_list|
    .flex-container
      %figure
        %img{src: card_list[:image], alt: ""}
      .text-wrapper
        %h3.heading-sm
          = card_list[:title]
        %p
          = card_list[:desc]
