:scss
  p.body-three a {
    color: var(--neutral_white);
    &:hover { color: var(--neutral_dark10); }
  }

%div.subscribe-form.no-bg.flex-container.justify-space-between.align-items-center.wrap{style: "padding: 0"}
  .text-wrapper
    %h2=hoc_s(:admins_page_subscribe_form_heading)
    %p=hoc_s(:admins_page_subscribe_form_desc)
    %p.body-three
      =hoc_s(:admins_page_subscribe_form_district_disclaimer, markdown: :inline, locals:{district_program_url: "/districts"})
  %figure.col-50
    %iframe{allowtransparency: "true", frameborder: "0", height: "375", src: "https://go.pardot.com/l/153401/2024-01-17/pqv663", style: "border: 0", type: "text/html", width: "100%"}
