.modalBackdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  opacity: 0.6;
  z-index: 1000;
};

.modal {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1050;
  width: 70%;
  max-width: 600px;
  background-color: #fff;
  border-radius: 4px;
  padding: 1rem;
  overflow: auto;
};
