.assigned {
  display: flex;
  align-items: center;
  color: var(--text-success-primary);
  font-size: 16px;
  line-height: 36px;
  margin-left: 10px;
  vertical-align: top;

  > span {
    color: var(--text-success-primary);
  }
}

.checkmark {
  padding: 5px;
}
