@import 'color', 'font';

// Note: Keep these constants in sync with Button.jsx.
$button-height-default: 34px;
$button-height-large: 40px;
$button-height-narrow: 40px;
$button-height-small: 20px;

@mixin focus-outline {
  outline: $brand_primary_default solid 2px;
  outline-offset: 2px;
}
