@import "color.scss";

.dropdownCheckboxUL {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    padding: 16px;

    label {
      display: flex;
      align-items: baseline;
      gap: 12px;
    }

  }

  input[type="checkbox"] {
    width: 24px;
    height: 24px;
    border: none;
    border-radius: 4px;
    outline: 2px solid $neutral_dark;
    margin: 0;
    float: unset;

  }
}

.affectAllButton {
  display: flex;
  justify-content: center;
}
