@import "color.scss";


button.dropdownButton {
  background-color: $neutral_light;
  border: 1px solid $neutral_dark;
  border-radius: 4px;
  padding: 8px 12px;

  i {
    font-size: 19px;
    width: 1.25em;
    line-height: 1.25em;
  }

  span {
    margin: 0 4px;
  }
}

form.dropDownMenuContainer {
  padding: 5px 0;
}

.dropdownCheckboxUL {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    padding: 12px 8px;

    &:hover {
      background-color: $neutral_dark10;
    }

    &:focus-within {
      outline: 2px solid $brand_primary_default;
    }


    label {
      display: flex;
      align-items: flex-end;
      gap: 12px;
      margin: 0;

      span {
        margin: 0;
      }
    }

  }

  input[type="checkbox"] {
    width: 24px;
    height: 24px;
    border: none;
    border-radius: 4px;
    accent-color: $brand_primary_default;
    margin: 0;
    float: unset;

    //&:checked {
    //  +i::before {
    //    width: 20px;
    //    height: 20px;
    //    display: inline-block;
    //    vertical-align: bottom;
    //    margin-right: 10px;
    //    line-height: 20px;
    //    text-align: center;
    //    box-shadow: inset 0 1px 1px rgb(0 0 0 / 0.075);
    //    content: "\f00c";
    //    background: red;
    //    border: 2px solid blue;
    //    border-radius: 4px;
    //  }
    //}
  }


}

.affectAllButton {
  display: flex;
  justify-content: center;
}

.bottomButtonsContainer {
  display: flex;
  border-top: 1px solid $neutral_dark20;
  gap: 40px;

  button span {
    margin: 0;
  }
}
