<html>
  <head>
    <title>My App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="applab.js"></script>
    <link rel="stylesheet" href="applab.css">
  </head>
  <body>
    <%- htmlBody %>
    <script src="code.js"></script>
  </body>
</html>
