<html>
  <head>
    <title>My App</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=320, minimal-ui, target-densityDpi=device-dpi, user-scalable=no">
    <script src="jquery-1.12.1.min.j"></script>
    <script src="applab-api.j"></script>
    <script src="code.j" defer></script>
    <link rel="stylesheet" href="applab/applab.css">
    <link rel="stylesheet" href="style.css">
  </head>
  <body style="margin: 0; overflow: hidden;">
    <%- htmlBody %>
  </body>
</html>
