<% var msg = require('../locale'); %>

<p class='dialog-title'><%= locals.puzzleTitle %></p>
<% if (locals.renderedMarkdown) { -%>
  <%- locals.renderedMarkdown %>
<% } else if (locals.instructions) { -%>
  <p><%= locals.instructions %></p>
<% } -%>
<% if (locals.aniGifURL) { -%>
  <img class="aniGif example-image" src='<%= locals.aniGifURL %>'/>
<% } -%>
