<% var msg = require('@cdo/locale') %>
<%
/**
 * This block destructures the local variables for use within this ejs template.
 */
var data = locals.data;
%>

<div id="make-your-own">

  <h1><a href=<%= data.makeUrl %>><%= data.makeString %></a></h1>
  <a href=<%= data.makeUrl %>><img src=<%= data.makeImage %>></a>

</div>
