<% var msg = require('../../locale/current/common') %>

<div id="make-your-own">

  <h1><a href=<%= data.makeUrl %>><%= data.makeString %></a></h1>
  <a href=<%= data.makeUrl %>><img src=<%= data.makeImage %>></a>

</div>
