.sectionList {
  margin: 24px 0 12px 0;
  padding: 0 0 5px 5px;

  h5 {
    margin-bottom: 0;
  }

  .sectionListOptionsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 12px 0 4px 0;

    label {
      width: 280px;
      margin-bottom: 8px;
    }
  }
}

.selectAll {
  padding-left: 0;
  min-width: 0;
}
