@import 'color.scss';
@import 'font.scss';

.schoolAssociationWrapper {
  text-align: center;
  display: grid;
  padding: 0.75rem;

  h2 {
    margin-bottom: 0.25rem;
  }

  label {
    width: 100%;
  }

  input {
    width: 100%;
    box-sizing: border-box;
    height: 46px !important;
    margin-top: 0.37rem !important;
    text-indent: 0.25rem;
  }

  select {
    font-weight: 400 !important;
    width: 100% !important;
  }

  button {
    border: 0;
    padding-inline: 0;

    &:hover {
      background: none !important;
      text-decoration: underline !important;
    }
  }

  .errorMessage {
    margin-block: 0.125rem 0;
    color: $light_negative_500;
  }
}

.inputContainer {
  justify-self: center;
  text-align: left;
  width: 400px;
  display: flex;
  flex-direction: column;

  .padding {
    padding-top: 0.75rem;
    margin-bottom: 0;
  }

  .disabledLabel {
    color: $light_gray_300 !important;
  }
}
