@import 'color.scss';
@import 'font.scss';

.outerContainer {
  text-align: center;
  display: grid;
  padding: 10px;

  h2 {
    margin-bottom: 5px;
  }
}

.inputContainer {
  justify-self: center;
  text-align: left;
  width: 400px;
  display: flex;
  flex-direction: column;

  & > * {
    width: 100%;
  }

  & > input {
    width: initial;
    margin-top: 5px !important;
    border-radius: 0.25rem;
    border: 1px solid;
    background-color: inherit;
    text-indent: 10px;
  }

  .padding {
    padding-top: 10px;
    margin-bottom: 0px;
  }
}

.dropdown {
  & > div {
    select {
      font-weight: 400 !important;
      width: 100% !important;
    }
  }
}
