@import "color.scss";
@import "font.scss";

.outerContainer {
    text-align: center !important;
    display: grid;
}

.inputContainer {
    justify-self: center;
    text-align: left;
    width: 400px;
}