<%
/**
 * This block destructures the local variables for use within this ejs template.
 */
var shareFailure = locals.shareFailure;
%>
<p id="share-fail-explanation"><%= shareFailure.message %></p>

<% if (shareFailure.contents) { %>
  <div class="share-fail-excerpt">
    <pre class="generatedCode"><%= shareFailure.contents %></pre>
  </div>
<% } %>
