.actionCell {
  padding-right: 16px;
}

.disabledViewButton {
  &:global(.Mui-disabled) {
    background-color: var(--background-neutral-tertiary) !important;
    color: var(--text-neutral-primary) !important;
  }
}
