- content_for(:head) do
  = stylesheet_link_tag 'css/plc', media: 'all'

%h1 PLC Admin

%h2 Launch PLC Course
%ul
  %li= link_to 'Launch PLC Courses', 'plc/course_units/launch'

%h2 Manage enrollment
%ul
  %li= link_to 'Enroll users in a course by email', new_plc_user_course_enrollment_path
