- @page_title = "Report Abuse"

#report-abuse-form

:javascript
  $(document).ready(function () {
    var props = #{@react_props.to_json};
    props.abuseUrl = document.referrer;
    ReactDOM.render(
      React.createElement(window.dashboard.ReportAbuseForm, props),
      document.getElementById('report-abuse-form'));
  });
