.admin
  %h4
    Links:
    %a{href: '#', onclick: 'return adminClick()'} [hide/show]
  .content
    = yield

:javascript

  var adminBox;

  $().ready(function() {
    adminBox = $(".admin .content");
    if (document.cookie.indexOf('hide-admin-menu') >= 0) {
      adminBox.hide();
    }
  });

  function adminClick() {
    adminBox.toggle();
    if (adminBox.is(":visible")) {
      // Clear the cookie using a blank value and a date in the past.
      document.cookie = "hide-admin-menu=; expires=Thu, 01 Jan 1970 00:00:00 UTC";
    } else {
      // Set the cookie and make it expire far into the future.
      document.cookie="hide-admin-menu=true; expires=Fri, 31 Dec 9999 23:59:59 GMT;";
    }
    return false;
  }
