- if @unit && Gatekeeper.allows('requires_hoc_secret', where: {script_name: @script.name})
  %script{src: webpack_asset_path('js/shared/_check_admin.js'),
          data: {checkadmin: Digest::MD5.hexdigest(DCDO.get("hoc_secret", '')).to_json}}
