// To embed a Discourse comments widget, place a <div id="discourse-comments"></div> in your html,
// and include this code in the view.
if(document.getElementById('discourse-comments')) {
  var discourseUrl = "http://discourse.code.org/",
    discourseEmbedUrl = window.location.href;
  (function() {
    var d = document.createElement('script'); d.type = 'text/javascript'; d.async = true;
    d.src = discourseUrl + 'javascripts/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(d);
  })();
}
