-# We'll attach to this using React
.header_level

.hidden_components{style: "display: none"}
  .header_popup_components
    .header_popup
      .header_popup_scrollable
        .header_popup_body
          .user-stats-block

    .header_popup_link{style: 'display: none;'}
      .header_popup_link_glyph
        &#x25BC;
      .header_popup_link_text= t(:more)
