.header_popup
  .header_popup_scrollable
    .header_popup_header
      %span= t('nav.popup.progress')
      .header_text{style: 'float: right;'}
    .header_popup_body
      .loading
  .header_popup_footer
    .header_popup_close
      = t('nav.popup.close')
