.header_level
  %div.header_level_container
    .header_text
    .progress_container
    .header_finished_link{style: 'display: none;'}
    %span.header_trophy_link{style: 'display: none;'}
      .header_text= t(:trophies)
      .header_status_bar.current_trophies
      .header_text.max_trophies
    %span.header_popup_link{style: 'display: none;'}
      .header_popup_link_glyph
        &#x25BC;
      .header_popup_link_text= t(:more)
