- small_text = @script && (@script.name == "starwars" || @script.name == "starwarsblocks")
- if @stage_extras
  - text = @stage.localized_title
- else
  - stage = @stage || @script_level.stage
  - text = @script.professional_learning_course? ? stage.localized_name : stage.localized_title

.header_level
  %div.header_level_container
    -# Pass along section_id param so that when teacher moves between lesson page and course overview
    -# they maintain their section.
    = link_to text, script_path(@script, section_id: request.query_parameters[:section_id]), class: ["header_text", ('small_font_on_tablet' if small_text)]
    .progress_container
    .header_finished_link{style: 'display: none;', class: ('small_font_on_tablet' if small_text)}
    %span.header_popup_link{style: 'display: none;'}
      .header_popup_link_glyph
        &#x25BC;
      .header_popup_link_text= t(:more)
.header_popup
  .header_popup_scrollable
    .header_popup_body
      .user-stats-block
