- if current_user && current_user.admin?
  -# For admins, set a client-side secret that allows them to access restricted HOC levels.
  :javascript
    //<![CDATA[
    try {
      localStorage.setItem('hoc_secret', '#{DCDO.get("hoc_secret", nil)}');
    } catch(e) {}
    //]]>
- elsif params[:hoc_secret]
  -# Allow non-admins to specify the secret via a query string parameter.
  :javascript
    //<![CDATA[
    try {
      localStorage.setItem('hoc_secret', '#{params[:hoc_secret]}')
    } catch(e) {}
    //]]>
