= raw t(include_prize_link && current_user.show_prize_ui? ? 'home.student_finished_prize' : 'home.student_finished', prize_link: link_to(t('prize'), my_prizes_url), online_link: link_to(t('home.online'), 'http://code.org/learn/beyond'), local_school_link: link_to(t('home.local_school'), 'http://code.org/learn/local'))
