%span#sign_in_or_user

:javascript
  $(document).ready(function() {
    $.ajax({
      type: "GET",
      url: '/dashboardapi/user_menu',
      success: function(data) {
        $('#sign_in_or_user').html(data);
      }
    });
  });
