%h1 Oh no!

%h2
  Too many people are trying to learn to code all at once and our poor little
  servers can't handle it.

%h3
  We've temporarily disabled our accounts system and some other functionality
  so that we can better serve all of our visitors.

%center
  %br
  %big
    = link_to 'Go to the homepage', root_url
    or
    = link_to 'Visit one of our partners', 'http://code.org/learn/'
  %br
  %br
  %br
