---
theme: responsive_full_width
---

:ruby
  @header["title"] = I18n.t(:page_not_found_title)

%section
  .wrapper.centered{style: "max-width: 500px;"}
    %img{src: '/shared/images/sad-bee-avatar.png'}
    %h1= I18n.t(:page_not_found_header)
    %p.body-two= I18n.t(:page_not_found_description)
    %a.link-button{href: '/'}
      =I18n.t(:page_not_found_button)
