---
title: 404: Page Not Found
nav: blank
rightbar: blank
---
%h1 404! The requested page was not found.
%img(src="/failure_avatar.png")
%p{style: 'font-size: 1.5em; line-height: 1.5em;'} The page you are looking for doesn't exist at this address. Check the web address and resubmit or go back to our homepage.
%ul{style: 'font-size: 1.25em; line-height: 1.5em; min-height: 240px;'}
  %li<
    %a{href: '/courses'} Return Home
