---
theme: responsive
---

:ruby
  @header["title"] = I18n.t(:page_not_found_title)

%link{href: "/css/errors.css", rel: "stylesheet"}
.error-parent
  .error-child
    %img{src: '/shared/images/sad-bee-avatar.png'}
    %br
    .error-message
      %h1= I18n.t(:page_not_found_header)
      = I18n.t(:page_not_found_description)
      %br
      %br
      %a{href: '/'}
        %button= I18n.t(:page_not_found_button)
