---
title: 500: Server Error
nav: blank
rightbar: blank
---
%h1 500! Internal Server Error detected.
%img(src="/failure_avatar.png")
%p{style: 'font-size: 1.5em; line-height: 1.5em;'} Sorry, we're having some technical difficulties. Please try refreshing this page again later. If the problem persists, you can contact us at support@code.org
