---
title: Internal Server Error
nav: blank
rightbar: blank
---
%h1 500 Internal Server Error detected!!!
%p{style: 'font-size: 1.5em; line-height: 1.5em;'} Something unexpected have happened. Please try to refresh your page or choose a link from the list below.
%ul{style: 'font-size: 1.25em; line-height: 1.5em; min-height: 240px;'}
  %li<
    %a{href: '/learn'} Tutorials for students
  %li<
    %a{href: '/teach'} Educator resources
  %li<
    %a{href: '/promote'} Ways to promote computer science education
  %li<
    %a{href: '/help'} How to help
  %li<
    %a{href: '/about'} Information about Code.org and its mission
  %li<
    %a{href: 'https://medium.com/@codeorg'} Code.org’s blog
