:css
  table {
      border-collapse: collapse;
  }

  table, th, td {
      border: 2px solid #F2F2F2;
  }

  table td {
    text-align: center;
  }

%table
  - supporters.each_slice(columns).with_index do |group, groupindex|
    %tr
    - group.each_with_index do |supporter, index|
      - avatar_url = avatar_image(supporter[:name_s], 200)
      %td{style: "width: #{780/columns}px; height: #{height}px"}
        - fontsize = fontsize || "14px"
        %a{:href=>supporter[:url_s], :target=>"_blank", :style=>"color: #7665a0"}
          - if avatar_url
            %img{:src=>avatar_url, :style=>"max-width: 100%; max-height: #{height*0.8}px"}
          %p{style: "font-size: #{fontsize}px"}
            - if supporter[:kind_s] != "corporate" && supporter[:name_s] != "Omidyar Network"
              =supporter[:name_s]

%br{:style=>'clear: both;'}
