%ul
  - supporters.each do |i|
    .listed_supporter 
      -unless i[:url_s].nil_or_empty?
        %a{:href=>i[:url_s]}= i[:name_s]
      -else
        = i[:name_s]
      -unless i[:description_t].nil_or_empty?
        = "- #{i[:description_t]}"
