#about_nav
  %span.about_list
    -current_url = request.path_info
    -{ 'About Us'=>'/about', 'Values'=>'/about/values', 'Leadership'=>'/about/leadership', 'Supporters'=>'/about/supporters', 'Partners'=>'/about/partners','Full Team'=>'/about/team','Newsroom'=>'/about/news', 'Careers'=>'/about/careers', 'Contact Us'=>'/contact', 'FAQs'=>'/faq'}.each_pair do |label,url|
      - if current_url == url
        %span.about_list_item_selected= label
      -else
        %a.about_list_item{:href=>url}= label
      %hr.narrow_hr

-# Changes here should match About navigation links in mobile_header_responsive.
