:scss
  .about-seals {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
      margin: 2rem 0;

    @media screen and (max-width: 600px) {
      gap: 2rem;
      justify-content: center;
    }
  }

  img {
    &.best-of-stem {
      width: 135px;
      @media screen and (max-width: 970px) { width: 115px; }
    }

    &.common-sense {
      height: 118px;
      @media screen and (max-width: 970px) { height: 100px; }
    }

    &.privacy-pledge {
      width: 100px;
      @media screen and (max-width: 970px) { width: 85px; }
    }

    &.charity-nav {
      width: 115px;
      @media screen and (max-width: 970px) { width: 99px; }
    }
  }

  .guidestar {
    a {
      display: inline-block;
      position: relative;
      z-index: 1;
    }
    object {
      width: 117px;
      height: 134px;
      position: relative;
      top: -8px;
      z-index: -1;

      @media screen and (max-width: 970px) {
        width: 97px;
        height: 116px;
      }
    }
  }

%div.about-seals
  %a{href: "https://www.bestofstemawards.com/", target: "_blank", rel: "noopener noreferrer"}
    %img.best-of-stem{src: "/images/about/seals/best_of_stem_2024.png"}
  %a{href: "https://www.commonsense.org/education/reviews/codeorg", target: "_blank", rel: "noopener noreferrer"}
    %img.common-sense{src: "/images/about/seals/common_sense_selection_seals_learning.svg"}
  %a{href:"https://www.guidestar.org/profile/46-0858543", target: "_blank", rel: "noopener noreferrer", class: "guidestar"}
    %object{data: "https://widgets.guidestar.org/gximage2?o=9218725&l=v4", type: "image/svg+xml"}
      %img{src: "/images/guidestar-logo.svg"}
  %a{href: "http://studentprivacypledge.org", target: "_blank", rel: "noopener noreferrer"}
    %img.privacy-pledge{src: "/images/student_privacy_pledge.png"}
  %a{href: "https://www.charitynavigator.org/ein/460858543", target: "_blank", rel: "noopener noreferrer"}
    %img.charity-nav{src: "/images/about/seals/charity-navigator-seal.png"}
