#headshots{:style => 'margin-top: 20px;'}
- people.each_slice(3) do |trio|
  .headshot_row{:style=>'width: 100%; padding: 0;'}
    - trio.each do |person|
      - avatar_url = avatar_image(person[:name_s], 200, true)
      .col-33.avatar_container{:id => person[:id]}
        - unless person[:url_s].nil_or_empty?
          %a{:href=>person[:url_s], :target=>"_self"}
            - unless avatar_url.nil_or_empty?
              %img{:src=>avatar_url, :style=>'max-height: 200px; border-radius: 100px;'}
            %h3{:style=>'min-height: 20px'}
              = person[:name_s]
        - else
          - unless avatar_url.nil_or_empty?
            %img{:src=>avatar_url, :style=>'max-height: 200px; border-radius: 100px;'}
          %h3{:style=>'min-height: 20px;'}
            = person[:name_s]
        -unless person[:title_s].nil_or_empty?
          %p{:style=>'min-height: 40px;'}!= person[:title_s]
        %p{:style=>'font-size: 13px;  margin-bottom: 50px;'}!= person[:description_t]

  %br{:style=>'clear: both;'}
