%link{:href=>"/css/accept-terms-interstitial.css", :rel=>"stylesheet"}

#terms_interstitial{style: 'height: 0'}

.accept-terms-reminder
  = I18n.t(:terms_reminder_desc, tos_url: CDO.code_org_url('/tos'), privacy_url: CDO.code_org_url('/privacy'))
  %br
  %br
  %button#review-terms.primary= I18n.t(:terms_review_terms)

:javascript
  $("#review-terms").click(function () {
    $.ajax({
      type: "GET",
      url: '/dashboardapi/terms_interstitial',
      success: function(data) {
        $("#terms_interstitial").html(data);
        $("#terms-modal").modal('show');
      }
    });
  });
