- if !!DCDO.get('access-report-launch', false)
  %link{href: "/css/generated/access-report-skinny-banner.css", rel: "stylesheet"}
  %aside.access-report-skinny-banner
    .wrapper.flex-container.justify-space-between.align-items-center.wrap
      .text-wrapper
        %h5
          =hoc_s("access_report_skinny_banner.title")
        %p.no-margin-bottom
          =hoc_s("access_report_skinny_banner.desc")
      %img{src:"/images/banners/banner-access-report.png", alt: ""}
      %a.link-button.has-external-link{href: "https://advocacy.code.org/stateofcs/", target: "_blank", rel: "noopener noreferrer"}
        =hoc_s("access_report_skinny_banner.read_report")
