%link{:href=>"/css/accept-terms-interstitial.css", :rel=>"stylesheet"}

#terms_interstitial
  .container_responsive
    #terms_interstitial

.accept-terms-reminder
  We have updated our
  %a{href: CDO.code_org_url('/tos'), target: '_blank'} Terms of Service
  and
  %a{href: CDO.code_org_url('/privacy'), target: '_blank'} Privacy Policy.
  Please read these carefully before accepting them. Note that our tools teaching JavaScript may be unavailable to your students before explicitly accepting the updated Terms.
  %br
  %br
  %button#review-terms Review updated terms

:javascript
  $("#review-terms").click(function () {
    $.ajax({
      type: "GET",
      url: '/dashboardapi/terms_interstitial',
      complete: function(data, status) {
        if (data.responseText == "" || status !== "success") {
          $('#terms_interstitial').css({display: "none"});
          $("#terms-modal").modal('hide');
        } else {
          $('#terms_interstitial').html(data.responseText, status);
          $("#terms-modal").modal('show');
        }
      }
    });
  });
