.accept-terms-reminder
  We have updated our
  %a{href: CDO.code_org_url('/tos')} Terms of Service
  and
  %a{href: CDO.code_org_url('/privacy')} Privacy Policy.
  Please read these carefully before accepting them. Note that our tools teaching JavaScript may be unavailable to your students before explicitly accepting the updated Terms.
  %br
  %br
  %a{href: CDO.code_org_url('/accept-terms')}
    %button Review updated terms
