%script{src: webpack_asset_path('js/code.org/views/admins_email_signup_form.js')}
%script{charset: "utf-8", type: "text/javascript", src: "//js.hsforms.net/forms/embed/v2.js"}

:javascript
  hbspt.forms.create({
    region: "na1",
    portalId: "#{CDO.hubspot_portal_id}",
    formId: "#{CDO.hubspot_admin_interest_form_id}",
    onFormSubmit: function() {
      let submitFormEvent = document.createEvent('Event');
      submitFormEvent.initEvent('submitsAdminForm', true, true);
      document.dispatchEvent(submitFormEvent);
    }
  });
