<script src="https://www.google.com/recaptcha/api.js"></script>
<script src="/js/admins_email_signup_form.js"></script>

<form id="admin_interest_form" action="https://webto.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8" method="POST">
  <input type=hidden name='captcha_settings' value='{"keyname":"fixed","fallback":"true","orgId":"00Dj0000001sjyo","ts":""}'>
  <input type=hidden name="oid" value="00Dj0000001sjyo">
  <input type=hidden name="retURL" value="http://code.org/salesforce-form-thanks">

  <label for="company">Name of School District*</label>
  <input  id="company" maxlength="40" name="company" size="20" type="text" required />

  <label for="city">City*</label>
  <input  id="city" maxlength="40" name="city" size="20" type="text" required />

  <label for="state">State/Province*</label>
  <input  id="state" maxlength="20" name="state" size="20" type="text" required />

  <label for="first_name">First Name*</label>
  <input  id="first_name" maxlength="40" name="first_name" size="20" type="text" required />

  <label for="last_name">Last Name*</label>
  <input  id="last_name" maxlength="80" name="last_name" size="20" type="text" required />

  <label for="title">Title*</label>
  <input  id="title" maxlength="40" name="title" size="20" type="text" required />

  <label for="email">Email*</label>
  <input  id="email" maxlength="80" name="email" size="20" type="text" required />

  <label for="00N5b00000DbmDP">How did you learn about us?</label>
  <select  id="00N5b00000DbmDP" name="00N5b00000DbmDP" title="How did you learn about us?">
      <option value="">--None--</option><option value="Code.org website">Code.org website</option>
    <option value="Code.org email">Code.org email</option>
    <option value="From a teacher">From a teacher</option>
    <option value="From a local regional partner">From a local regional partner</option>
    <option value="From another district">From another district</option>
    <option value="From a state-level agency">From a state-level agency</option>
    <option value="Conference">Conference</option>
    <option value="Social media">Social media</option>
    <option value="Other">Other</option>
  </select>

  <input type=hidden id="lead_source" name="lead_source" value="Web Form - Administrators Page">
  <div class="g-recaptcha" data-sitekey="6LezdGMkAAAAADpS_8wn3yJV8of06uQcYiXHanEp" data-callback="recaptchaCallback"></div>
  <button type="submit" name="submit" disabled>Submit</button>
</form>
