#viz1515704526398.tableauPlaceholder{:style => "position: relative; margin-top: 24px"}
  %noscript
    %a{:href => "#"}
      %img{:alt => " ", :src => "https://public.tableau.com/static/images/Co/Code/PriorityBills/1_rss.png", :style => "border: none"}/
  %object.tableauViz{:style => "display:none;"}
    %param{:name => "host_url", :value => "https%3A%2F%2Fpublic.tableau.com%2F"}/
    %param{:name => "embed_code_version", :value => "3"}/
    %param{:name => "site_root", :value => ""}/
    %param{:name => "name", :value => "Code/PriorityBills"}/
    %param{:name => "tabs", :value => "yes"}/
    %param{:name => "toolbar", :value => "yes"}/
    %param{:name => "static_image", :value => "https://public.tableau.com/static/images/Co/Code/PriorityBills/1.png"}/
    %param{:name => "animate_transition", :value => "yes"}/
    %param{:name => "display_static_image", :value => "yes"}/
    %param{:name => "display_spinner", :value => "yes"}/
    %param{:name => "display_overlay", :value => "yes"}/
    %param{:name => "display_count", :value => "yes"}/
:javascript
  var divElement = document.getElementById('viz1515704526398');
  var vizElement = divElement.getElementsByTagName('object')[0];
  if ( divElement.offsetWidth > 800 ) { vizElement.style.width='966px';vizElement.style.height='850px';} else if ( divElement.offsetWidth > 500 ) { vizElement.style.width='966px';vizElement.style.height='850px';} else { vizElement.style.width='100%';vizElement.style.height='950px';}
  var scriptElement = document.createElement('script');
  scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
  vizElement.parentNode.insertBefore(scriptElement, vizElement);
