<aside class="afe-promo-box">
  <div class="wrapper col-66 no-margin-bottom">
    <h1>Additional Benefits for eligible teachers!</h1>
    <p>Code.org has partnered with <a href="https://www.amazonfutureengineer.com/" target="_blank" rel="noopener noreferrer">Amazon Future Engineer</a> to offer teachers at underserved schools a growing number of resources and benefits at no cost!</p>
    <p class="no-margin-bottom"><a href="/afe">See if you're eligible for benefits!</a></p>
  </div>
  <img class="col-25" src="/images/marketing/AFE-El-Paso-4.jpg" alt="Teacher wearing an AFE t-shirt helping student at a computer" />
</aside>
