:scss

  .afe-skinny-banner {
    padding: 2rem;
    background: #E7EAF2;

    img {
      width: 165px;
    }

    p {
      margin-bottom: 0.5rem;
    }

    @media (min-width: 753px) {
      .text-wrapper {
        width: 50%;
      }
    }

    @media (max-width: 753px) {
      .wrapper {
        justify-content: center;
      }
    }
  }

- if request.language == "en"
  %section.afe-skinny-banner
    .wrapper.flex-container.justify-space-between.align-items-center.wrap.gap-1
      %figure.col-30
        %img{src:"/images/marketing/afe-logo.svg", alt: "Amazon Future Engineer logo"}
      .text-wrapper.centered
        %h1.heading-lg Amazon Future Engineers Scholarship
        %p The Amazon Future Engineer Scholarship awards 400 high school seniors with college scholarships up to $40,000, internship opportunities at Amazon, and more!
      .cta-wrapper.col-30
        %a.link-button.has-external-link{href: "https://www.amazonfutureengineer.com/scholarships", target: "_blank", rel: "noopener noreferrer", "aria-label": "Apply now for the Amazon Future Engineer scholarship"}
          Apply Now
