#about_nav
  %span.about_list
    -current_url = request.path_info
    -{'Start a CS Club'=>'/volunteer/after-school-1', 'Local organizations'=>'/volunteer/after-school-2', 'Implementation guidance'=>'/volunteer/after-school-3', 'Classroom setup'=>'/volunteer/after-school-4', 'Running the classroom'=>'/volunteer/after-school-5'}.each_pair do |label,url|
      - if current_url == url
        %span.about_list_item_selected= label
      -else
        %a.about_list_item{:href=>url}= label
      %hr.narrow_hr

