<div class="col-33">
  <div class="tutorial-tile" style="padding-right:20px">
    <a href="https://curriculum.code.org/hoc/unplugged/5/" target="_blank">
      <img class="tutorial-tile-img" src="/images/fill-485x235/ai/ai-ethics-lp.png" style="max-width:100%; border: 0.5px solid #808080; border-radius: 15px 15px 0 0">
    </a>
    <div class="tutorial-info" style="background-color: #ffffff; border: 1px solid #696969; border-top: none; border-radius: 0 0 15px 15px; padding: 15px 25px 25px 25px">
      <span>
        <h3 class="tutorial-info-h" style="color: dimgray;  margin-top:10px; margin-bottom: 10px"><strong><%= I18n.t("ai_and_ethics", default: "AI and Ethics") %></strong></h3>
        <div class="smalltext" style="color: dimgray; margin-bottom: 10px"><%= I18n.t("ai_and_ethics_tile_description", default: "Students reflect on the ethical implications of AI, then work together to create an “AI Code of Ethics” resource for AI creators and legislators everywhere.") %></div>
        <a href="https://curriculum.code.org/hoc/unplugged/5/" target="_blank"><button><%= I18n.t("view_lesson_plan", default: "View lesson plan") %></button></a>
    </span>
    </div>
  </div>
</div>
