.carousel-wrapper#ai-carousel
  .carousel{style: "height: 185px"}
    .slides
      .slide.with-image
        %img{src: "/images/ai/ai-quote-betia.png", alt: ""}
        .text-wrapper
          %p.quote-text=hoc_s(:ai_carousel_quote_02)
          %p.no-margin-bottom Betia Bentley <span>•</span> CS Discoveries Teacher
      .slide.with-image
        %img{src: "/images/ai/ai-quote-seneca.png", alt: ""}
        .text-wrapper
          %p.quote-text=hoc_s(:ai_carousel_quote_01)
          %p.no-margin-bottom Seneca Hart <span>•</span> CS Discoveries Teacher

  .pagination
    #ai-carousel-pagination

%script{:src=>'/js/jquery.carouFredSel-6.2.1-packed.js'}
%script{:src=>'/js/jquery.touchSwipe.min.js'}
:javascript
  $(document).ready(function() {

    var id = '#ai-carousel';
    // Define the carousel using the ID.
    $(id + ' .slides').carouFredSel({
      items : 1,
      auto  : false,
      responsive : true,
      pagination : '#ai-carousel-pagination',
      swipe	: {
        onTouch : true,
        onMouse : false
      },
    });
  });
