.action-block.action-block--two-col.white
  .media-wrapper.col-50
    %img{src: "/images/action-blocks/action-block-ai-ta.png", alt: ""}
  .text-wrapper.col-50
    %p.overline
      =hoc_s("ai_integrations.ai_ta.overline")
    %h3=hoc_s("ai_integrations.ai_ta.title")
    %p=hoc_s("ai_integrations.ai_ta.desc_01")
    %a.link-button{href: "/ai/teaching-assistant"}
      = hoc_s("ai_integrations.ai_ta.button")
  .clear
