<style>
    .microsoft-partnership {
        font-size: 24px;
        text-align: center;
        margin-top: 40px;
    }

    .microsoft-thanks {
        font-size: 14px;
        text-align: center;
        padding-top: 20px;
        margin-bottom: 80px;
        margin-left: 18%;
        margin-right: 18%;
    }
</style>

<div class="microsoft-partnership">
  <%= I18n.t("ai_in_partnership_with", default: "In partnership with") %>
  &nbsp;
  <img src="images/fit-240/avatars/microsoft.png">
</div>
<div class="microsoft-thanks">
  <%= I18n.t("ai_microsoft_thanks", default: "We thank Microsoft for supporting our vision and mission to ensure every child has the opportunity to learn computer science and the skills to succeed in the 21st century.") %>
</div>
