<style>
    .microsoft-partnership {
      font-size: 1.5rem;
      text-align: center;
    }

    .microsoft-thanks {
      font-size: 0.875rem;
      text-align: center;
      max-width: 630px;
      margin: 0 auto;
    }

    .logo {
      width: 210px;
      margin-top: -4px;
    }
</style>

<p class="microsoft-partnership">
  <%= I18n.t("ai_in_partnership_with", default: "In partnership with") %>
  &nbsp;
  <img class="logo" src="images/avatars/microsoft.png" alt="<%= I18n.t("microsoft_logo_alt", default: "Microsoft logo")%>" >
</p>
<p class="microsoft-thanks">
  <%= I18n.t("ai_microsoft_thanks", default: "We thank Microsoft for supporting our vision and mission to ensure every child has the opportunity to learn computer science and the skills to succeed in the 21st century.") %>
</p>
