- if !!DCDO.get("ai-pl-launch-banners", false)
  = inline_css "/generated/banners-ai-pl-launch-2023.css"
  - header_text = hoc_s(:ai_pl_101_hero_heading)
  - text = hoc_s(:ai_pl_101_hero_desc_02)
  - image_left = "/images/ai/pl/101/skinny--1.svg"
  - image_right = "/images/ai/pl/101/skinny--2.svg"
  - button_label = "Learn more"
  - link_address = "/ai/pl/101"

  %aside.ai-pl-banner-skinny
    %a{href: link_address}
      .wrapper
        %img.left{src: image_left, alt: ""}
        .text-wrapper
          %h1= header_text
          %p= text
        .button-wrapper
          %button= button_label
        %img.right{src: image_right, alt: ""}
  .clear
