- if !!DCDO.get('teach-ai-launch-2023', false)
  = inline_css '/generated/ai-skinny-banner-2023.css'

  .ai-skinny-banner-2023-teachai
    %a{href: "/ai"}
      .wrapper
        %img{src: "/images/banners/teach-ai-logo-placeholder.svg", alt: ""}
        .text-wrapper
          %h1=hoc_s(:ai_banner_hero_title)
          %p=hoc_s(:ai_banner_hero_desc)
        .button-wrapper
          %button=hoc_s(:call_to_action_learn_more)
  .clear
