<div class="col-50" style="float: left; padding: 10px; margin-bottom: 40px">
  <!-- Update cobranded video here, and new AWS download link -->
  <%=view :display_video_thumbnail, id: "ai_chatbots", video_code: "T45kEEBzrT8", caption: hoc_s(:ai_vid_chatbots_caption), play_button: 'center', letterbox: 'false', download_path: "//videos.code.org/ai_series/ai-chatbots.mp4" %>
</div>
