<div class="col-50" style="float: left; padding: 10px; margin-bottom: 40px">
  <%=view :display_video_thumbnail, id: "computer_vision", video_code: "2hXG8v8p0KM", caption: "Computer Vision", play_button: 'center', letterbox: 'false' %>
</div>
