<div class="col-50" style="float: left; padding: 10px; margin-bottom: 40px">
  <%=view :display_video_thumbnail, id: "training_data_and_bias", video_code: "x2mRoFNm22g", caption: hoc_s(:ai_vid_trainingdata_caption), play_button: 'center', letterbox: 'false', download_path: "//videos.code.org/ai_series/ai-03-training-data.mp4" %>
</div>
