<div class="col-50" style="float: left; padding: 10px; margin-bottom: 40px">
  <%=view :display_video_thumbnail, id: "neural_networks", video_code: "JrXazCEACVo", caption: "Neural Networks", play_button: 'center', letterbox: 'false' %>
</div>
