<div class="col-50" style="float: left; padding: 10px; margin-bottom: 40px">
  <%=view :display_video_thumbnail, id: "ai_creativity", video_code: "gD1bEC9q54k", caption: "Does AI Have Creativity and Imagination?", play_button: 'center', letterbox: 'false', download_path: "//videos.code.org/ai_series/ai-creativity.mp4" %>
</div>
