<div>
  <%=view :display_video_thumbnail, id: "why_ai_matters", video_code: "dWRnCXbUDgA", play_button: 'center', letterbox: 'false', download_path: "//videos.code.org/ai_series/ai-why-ai-matters.mp4" %>
</div>
