<div class="col-50" style="float: left; padding: 10px; margin-bottom: 40px">
  <%=view :display_video_thumbnail, id: "ai_creativity", video_code: "X994dDnmRmY", caption: hoc_s(:ai_vid_creativity_caption), play_button: 'center', letterbox: 'false', download_path: "//videos.code.org/ai_series/HowAIWorks_Creativity_SM_CoBrand.mp4" %>
</div>
