<div class="col-50" style="float: left; padding: 10px; margin-bottom: 40px">
  <%=view :display_video_thumbnail, id: "training_data_and_bias", video_code: "x2mRoFNm22g", caption: "Training Data & Bias", play_button: 'center', letterbox: 'false' %>
</div>
