<div class="col-50" style="float: left; padding: 10px; margin-bottom: 40px">
  <%=view :display_video_thumbnail, id: "what_is_ml", video_code: "KHbwOetbmbs", caption: "What is Machine Learning?", play_button: 'center', letterbox: 'false' %>
</div>
