<div class="col-50" style="float: left; padding: 10px; margin-bottom: 40px">
  <%=view :display_video_thumbnail, id: "bias_and_access", video_code: "tJQSyzBUAew", caption: hoc_s(:ai_vid_ethics1_caption), play_button: 'center', letterbox: 'false', download_path: "//videos.code.org/ai_series/ai-06-ai-ethics-access-bias.mp4" %>
</div>
