<div class="col-50" style="float: left; padding: 10px; margin-bottom: 40px">
  <%=view :display_video_thumbnail, id: "automation_and_privacy", video_code: "zNxw5gJtHLc", caption: hoc_s(:ai_vid_ethics2_caption), play_button: 'center', letterbox: 'false', download_path: "//videos.code.org/ai_series/ai-07-ai-ethics-privacy-work.mp4" %>
</div>
