:ruby
  block_item = [
    {
      title: hoc_s(:afe_page_programs_alexa_title),
      image: "/images/fill-265x130/marketing/afe-alexa-space.png",
      desc: hoc_s(:afe_page_programs_alexa_desc),
      url: "https://www.amazonfutureengineer.com/alexa-skill-building",
      aria_label: hoc_s(:aria_label_call_to_action_afe_alexa),
    },
    {
      title: hoc_s(:afe_page_programs_cloud_tour_title),
      image: "/images/csjourneys/data-center-tour.gif",
      desc: hoc_s(:afe_page_programs_cloud_tour_desc),
      url: "https://www.amazonfutureengineer.com/datacentertour1",
      aria_label: hoc_s(:aria_label_call_to_action_afe_cloud_tour),
    },
    {
      title: hoc_s(:afe_page_programs_voice_title),
      image: "/images/fill-265x130/marketing/afe-voice-is-power.png",
      desc: hoc_s(:afe_page_programs_voice_desc),
      url: "https://www.amazonfutureengineer.com/yourvoiceispower",
      aria_label: hoc_s(:aria_label_call_to_action_afe_voice),
    },
    {
      title: hoc_s(:afe_page_programs_scholarships_title),
      image: "/images/fill-265x130/afe-action-block-tile-small.png",
      desc: hoc_s(:afe_page_programs_scholarships_desc),
      url: "https://www.amazonfutureengineer.com/scholarships",
      aria_label: hoc_s(:aria_label_call_to_action_afe_scholarships),
    },
    {
      title: hoc_s(:afe_page_programs_robotics_title),
      image: "/images/csjourneys/fctour.gif",
      desc: hoc_s(:afe_page_programs_robotics_desc),
      url: "https://www.amazonfutureengineer.com/fctours",
      aria_label: hoc_s(:aria_label_call_to_action_afe_robotics),
    },
    {
      title: hoc_s(:afe_page_programs_data_tour_title),
      image: "/images/csjourneys/cloud-tour.gif",
      desc: hoc_s(:afe_page_programs_data_tour_desc),
      url: "https://www.amazonfutureengineer.com/datacentertour2",
      aria_label: hoc_s(:aria_label_call_to_action_afe_data_tour),
    },
  ]

.action-block__wrapper.action-block__wrapper--three-col
  - block_item.each do |block_item|
    .action-block.action-block--one-col.flex-space-between
      .content-wrapper
        %h3
          = block_item[:title]
        %img{src: block_item[:image], alt: ""}
        %p
          = block_item[:desc]
      .content-footer
        %a.link-button.has-external-link{href: "#{block_item[:url]}", aria:{label: "#{block_item[:aria_label]}"}, target: "_blank", rel: "noopener noreferrer"}
          =hoc_s(:call_to_action_learn_more)
