%h3.heading-sm{style: "margin-bottom: 1.5rem;"}
  =hoc_s(:afe_page_eligibility_heading)

%p.body-three
  =hoc_s(:afe_page_eligibility_list_01)

= view :or_divider_line

%p.body-three
  =hoc_s(:afe_page_eligibility_list_02)

= view :or_divider_line

%p.body-three
  =hoc_s(:afe_page_eligibility_list_03)

%p.body-three.has-external-link
  =hoc_s(:afe_page_eligibility_disclaimer, markdown: :inline, locals: {nces_url: "https://nces.ed.gov/ccd/schoolsearch/"})
