-if rack_env == :development
  %script{src: "/shared/js/angular/angular.js"}
  %script{src: "/shared/js/angular-route/angular-route.js"}
  %script{src: "/shared/js/angular-resource/angular-resource.js"}
  %script{src: "/shared/js/angular-sanitize/angular-sanitize.js"}
  %script{src: "/shared/js/ng-csv/ng-csv.js"}
-else
  %script{src: "/shared/js/angular/angular.min.js"}
  %script{src: "/shared/js/angular-route/angular-route.min.js"}
  %script{src: "/shared/js/angular-resource/angular-resource.min.js"}
  %script{src: "/shared/js/angular-sanitize/angular-sanitize.min.js"}
  %script{src: "/shared/js/ng-csv/ng-csv.min.js"}
