%link{:rel => 'stylesheet', :type => 'text/css', :href => '/css/codemirror.css'}
%link{:rel => 'stylesheet', :type => 'text/css', :href => '/css/applab-docs.css'}
%script{:src => '/js/codemirror.js'}
%script{src:'/js/applab-docs.js'}
