- video_blockchain_index = 7

- video_blockchain_caption = [hoc_s(:blockchain_video_title_01), hoc_s(:blockchain_video_title_02), hoc_s(:blockchain_video_title_03), hoc_s(:blockchain_video_title_04), hoc_s(:blockchain_video_title_05), hoc_s(:blockchain_video_title_06), hoc_s(:blockchain_video_title_07)]

- video_blockchain = ["MjibPL4tGqo", "10wYLCnDHao", "It_Ivgm5wQA", "3EwkfUz_BPs", "d9rKkk3oVdY", "WzxbwEQRJPo",  "C3C_JfG8cNg"]

.carousel-wrapper.video-carousel
  %swiper-container.blockchain{navigation: "true", "navigation-next-el": ".nav-next-blockchain", "navigation-prev-el": ".nav-prev-blockchain", pagination: "true", init: "false", "allow-touch-move": "false"}
    - video_blockchain_index.times do |index|
      %swiper-slide
        %figure
          = view :video_with_fallback, video_code: video_blockchain[index]
          %figcaption.no-margin-bottom
            = video_blockchain_caption[index]

  .swiper-pagination.pagination-blockchain

  %button.swiper-nav-prev.nav-prev-blockchain
  %button.swiper-nav-next.nav-next-blockchain
