- video_internet_index = 8

- internet_video_caption = [hoc_s(:video_library_page_internet_work_video_title_1), hoc_s(:video_library_page_internet_work_video_title_5), hoc_s(:video_library_page_internet_work_video_title_2), hoc_s(:video_library_page_internet_work_video_title_6) , hoc_s(:video_library_page_internet_work_video_title_3), hoc_s(:video_library_page_internet_work_video_title_7), hoc_s(:video_library_page_internet_work_video_title_4), hoc_s(:video_library_page_internet_work_video_title_8)]

- video_internet = ["Dxcc6ycZ73M", "ZhEf7e4kopM", "5o8CwafCxnU", "AYdF7b3nMto", "kBXQZMmiA4s", "ZghMPWGXexs", "AuYNXgO_f3Y", "LVV_93mBfSU"]

.carousel-wrapper.video-carousel
  %swiper-container.how-internet-works{navigation: "true", "navigation-next-el": ".nav-next-how-internet-works", "navigation-prev-el": ".nav-prev-how-internet-works", pagination: "true", init: "false", "allow-touch-move": "false"}
    - video_internet_index.times do |index|
      %swiper-slide
        %figure
          = view :video_with_fallback, video_code: video_internet[index]
          %figcaption.no-margin-bottom
            = internet_video_caption[index]

  %button.swiper-nav-prev.nav-prev-how-internet-works
  %button.swiper-nav-next.nav-next-how-internet-works
