.carousel-wrapper#collections_carousel
  .carousel.carousel--collections{style: "height: 495px"}
    .slides
      .slide
        .action-block.action-block--one-col.flex-space-between
          .content-wrapper
            %p.overline=hoc_s(:module_duration_semester)
            %h3=hoc_s(:collection_hardware)
            %span.action-block__space
            %img{src: "/images/csd-collection-hardware.png", alt: ""}
            %p=hoc_s(:collection_hardware_desc)
          .content-footer
            %a.link-button{href: CDO.studio_url("/s/problem-solving-computing-2023?viewAs=Instructor"), aria:{label: hoc_s(:aria_label_call_to_action_collection_hardware)}}
              =hoc_s(:call_to_action_explore_collection)
      .slide
        .action-block.action-block--one-col.flex-space-between
          .content-wrapper
            %p.overline=hoc_s(:module_duration_semester)
            %h3=hoc_s(:collection_design_purpose)
            %img{src: "/images/csd-collection-design.png", alt: ""}
            %p=hoc_s(:collection_design_purpose_desc)
          .content-footer
            %a.link-button{href: CDO.studio_url("/courses/focus-on-design-with-purpose-2023?viewAs=Instructor"), aria:{label: hoc_s(:aria_label_call_to_action_collection_design_purpose)}}
              =hoc_s(:call_to_action_explore_collection)
      .slide
        .action-block.action-block--one-col.flex-space-between
          .content-wrapper
            %p.overline=hoc_s(:module_duration_semester)
            %h3=hoc_s(:collection_impact_society)
            %span.action-block__space
            %img{src: "/images/csd-collection-impact-society.png", alt: ""}
            %p=hoc_s(:collection_impact_society_desc)
          .content-footer
            %a.link-button{href: CDO.studio_url("/courses/focus-on-impact-in-society-2023?viewAs=Instructor"), aria:{label: hoc_s(:aria_label_call_to_action_collection_impact_society)}}
              =hoc_s(:call_to_action_explore_collection)
      .slide
        .action-block.action-block--one-col.flex-space-between
          .content-wrapper
            %p.overline=hoc_s(:module_duration_semester)
            %h3=hoc_s(:collection_creativity)
            %img{src: "/images/csd-collection-creativity.png", alt: ""}
            %p=hoc_s(:collection_creativity_desc)
          .content-footer
            %a.link-button{href: CDO.studio_url("/courses/focus-on-creativity-2023?viewAs=Instructor"), aria:{label: hoc_s(:aria_label_call_to_action_collection_creativity)}}
              =hoc_s(:call_to_action_explore_collection)
      .slide
        .action-block.action-block--one-col.flex-space-between
          .content-wrapper
            %p.overline=hoc_s(:module_duration_semester)
            %h3=hoc_s(:collection_coding)
            %img{src: "/images/csd-collection-coding.png", alt: ""}
            %p=hoc_s(:collection_coding_desc)
          .content-footer
            %a.link-button{href: CDO.studio_url("/courses/focus-on-coding-2023?viewAs=Instructor"), aria:{label: hoc_s(:aria_label_call_to_action_collection_coding)}}
              =hoc_s(:call_to_action_explore_collection)
      .slide
        .action-block.action-block--one-col.flex-space-between
          .content-wrapper
            %p.overline=hoc_s(:module_duration_semester)
            %h3=hoc_s(:collection_data)
            %img{src: "/images/csd-collection-data.png", alt: ""}
            %p=hoc_s(:collection_data_desc)
          .content-footer
            %a.link-button{href: CDO.studio_url("/courses/focus-on-data-2023?viewAs=Instructor"), aria:{label: hoc_s(:aria_label_call_to_action_collection_data)}}
              =hoc_s(:call_to_action_explore_collection)


  .pagination
    #collections_carousel-pagination
  .dd__buttons
    %button.carousel__prev#prev_2
      %img{src: "/images/carousel/prev.svg", alt: "previous"}

    %button.carousel__next#next_2
      %img{src: "/images/carousel/next.svg", alt: "next"}





