- video_inspirational_index = 17

- inspirational_video_caption = [hoc_s(:video_library_page_inspirational_video_title_17), hoc_s(:video_library_page_inspirational_video_title_1), hoc_s(:video_library_page_inspirational_video_title_7), hoc_s(:video_library_page_inspirational_video_title_2), hoc_s(:video_library_page_inspirational_video_title_8),  hoc_s(:video_library_page_inspirational_video_title_3), hoc_s(:video_library_page_inspirational_video_title_9), hoc_s(:video_library_page_inspirational_video_title_4), hoc_s(:video_library_page_inspirational_video_title_10), hoc_s(:video_library_page_inspirational_video_title_5), hoc_s(:video_library_page_inspirational_video_title_11), hoc_s(:video_library_page_inspirational_video_title_6), hoc_s(:video_library_page_inspirational_video_title_12), hoc_s(:video_library_page_inspirational_video_title_13), hoc_s(:video_library_page_inspirational_video_title_14), hoc_s(:video_library_page_inspirational_video_title_15), hoc_s(:video_library_page_inspirational_video_title_16)]

- video_inspirational_download = ["//videos.code.org/social/Pride_Month_2024.mp4", "//videos.code.org/social/change_the_face_of_cs.mp4", "//videos.code.org/social/athlete-steph-curry.mp4", "//videos.code.org/social/athletes-hour-of-code.mp4", "//videos.code.org/social/cs-is-everything.mp4", "//videos.code.org/social/ChangeTheWorld_v5.mp4", "", "//videos.code.org/social/what-most-schools-dont-teach.mp4", "//videos.code.org/2015/social/president_obama_asks_america.mp4", "", "//videos.code.org/social/codeorg-60sec.mp4", "//videos.code.org/social/my-name-is-aracely.mp4", "//videos.code.org/social/latam-hour-of-code-2018.mp4", "", "", "", "//videos.code.org/ywics-panel-2023.mp4"]

- video_inspirational = ["Ix_lDw4xxTk", "uhcA6K8rWp0", "NYzN0a1U8mI", "ip051U7Rvds", "QvyTEx1wyOY", "mFPg96gdPkc", "_IiPLtP-jm8", "nKIu9yen5nc", "6XvmhE1J9PY", "FC5FbmsH4fw", "qYZF6oIZtfc", "rqU8eNJ-SS0", "EGgdCryC8Uo", "gDpNXnrFvFE", "ARLt0GcyRgQ", "lud4bU3YY9U", "Om0lYzVZAq8"]

.carousel-wrapper.video-carousel
  %swiper-container.inspirational{navigation: "true", "navigation-next-el": ".nav-next-inspirational", "navigation-prev-el": ".nav-prev-inspirational", pagination: "true", init: "false", "allow-touch-move": "false"}
    - video_inspirational_index.times do |index|
      %swiper-slide
        %figure
          = view :video_with_fallback, video_code: video_inspirational[index], download_path: video_inspirational_download[index]
          %figcaption.no-margin-bottom
            = inspirational_video_caption[index]

  %button.swiper-nav-prev.nav-prev-inspirational
  %button.swiper-nav-next.nav-next-inspirational
