- video_not_hacked_index = 7

- video_not_hacked_caption = [hoc_s(:video_library_page_not_hacked_video_title_1), hoc_s(:video_library_page_not_hacked_video_title_2), hoc_s(:video_library_page_not_hacked_video_title_3), hoc_s(:video_library_page_not_hacked_video_title_4), hoc_s(:video_library_page_not_hacked_video_title_5), hoc_s(:video_library_page_not_hacked_video_title_6), hoc_s(:video_library_page_not_hacked_video_title_7)]

- video_not_hacked = ["4J6FNRft9pQ", "qLMIK5YVgfA", "l9mEd8LOMl8", "YfiM8rXg3ug", "E3imvkP3IC0",  "IxjWR_uexOc", "goMnkhKBOHY"]

.carousel-wrapper.video-carousel
  %swiper-container.not-hacked{navigation: "true", "navigation-next-el": ".nav-next-not-hacked", "navigation-prev-el": ".nav-prev-not-hacked", pagination: "true", init: "false", "allow-touch-move": "false"}
    - video_not_hacked_index.times do |index|
      %swiper-slide
        %figure
          = view :video_with_fallback, video_code: video_not_hacked[index]
          %figcaption.no-margin-bottom
            = video_not_hacked_caption[index]

  %button.swiper-nav-prev.nav-prev-not-hacked
  %button.swiper-nav-next.nav-next-not-hacked
