%img{src: "https://connect.blockboardtech.com/track/t?e=Impression&vr=1&d=eJwzNDcyNzQwNzQzMrWw1DExMTHVMTIxtTDVMTYwtDDXMbU0BvGNdAx0QvOy8_LL84AsVAhC6AJgCioMMsJAJy0xpzhVxxAAGf8XlA--&m=1&op5=[VALUE-1]&op6=[VALUE-2]&op7=[VALUE-3]&op8=[VALUE-4]&op9=[VALUE-5]&op10=[VALUE-6]", width: "1", height: "1", border: "0"}
