.breakoutquote{style:"padding: 0 18px; border-radius: 15px; background-image: linear-gradient(to top left, #a6e3e8, #d9f3f5)"}
  .col-40{style:"margin-top: 18px; margin-bottom: 18px;"}
    %a{href:"https://code.org/codebytes"}
      %img{src:"/images/marketing/CodeBytes_CandyAsset.png", style:"max-width: 95%; padding-left:25px; margin: auto"}
  .col-60{style:"padding:0 20px 0 10px; margin-top: 18px; margin-bottom: 18px;"}
    %p{style:"border: 0; color: #4d575f"}
      Join us December 7-11 for our CodeBytes live mini-lessons!
    %p{style:"font-size: 14px; border: 0; color: #4d575f"}
      Join us each day of CS Education Week for CodeBytes, 20 minute interactive computer science lessons. Streaming live twice daily, CodeBytes is a great way for students to participate in a virtual #HourOfCode!
    %p{style:"font-size: 14px; border: 0; color: #4d575f"}
      Learn more at
      %a{href:"https://code.org/codebytes", target: '_blank', style:"color:#7665a0"}
        code.org/codebytes
  .clearboth
