%link{href: "/css/tutorial-promo.css", type: "text/css", rel: "stylesheet"}
%link{href: "/css/generated/dance-landing/dance.css", type: "text/css", rel: "stylesheet"}

%div{dir: language_dir_class}
  = view :dance_tutorial_section_higher_power, minimal: true
