%link{href: "/css/tutorial-promo.css", type: "text/css", rel: "stylesheet"}
%link{href: "/css/dance-landing/dance.css", type: "text/css", rel: "stylesheet"}

= view :dance_tutorial_section_higher_power, minimal: true
