#petitionblock.greybox{style: "background-color:white; padding: 10px 0px; color: rgb(91,103,112)"}
  %div{style: "clear:both"}
  #petition_message{:style=>"font-size: 22px; line-height:28px; font-family: 'Gotham 5r', sans-serif;"}=I18n.t:petition_message
  .container_responsive{style: "margin-top:10px"}
    #threedivs{style: "text-align:center"}
      %div#signpetitionclick{style: "display:inline-block; vertical-align:top; cursor: pointer; font-weight:bold; vertical-align: 5px;"}
        %a{href: "https://bit.ly/computersciencepetition", target: "_blank"}
          %button{ style: "margin-bottom:5px"}
            Sign the Petition
