%link{href: "/css/congrats-continue.css", rel: "stylesheet"}

%h2=I18n.t :continue_learning_header
%div.image-collection
  %a.white-link{:href=>'http://studio.code.org'}
    %div.choice
      %div.choice-container
        %div.choice-label.purple=I18n.t :learn_code_studio
        %img.character-img{src: "/images/congrats_studio_tutorials.jpg"}
  %a.white-link{:href=>'/learn/beyond'}
    %div.choice
      %div.choice-container
        %div.choice-label.purple.tall=I18n.t :learn_online
        %img.character-img{src: "/images/congrats-beyond-other.jpg"}
  %a.white-link{:href=>'/learn/local'}
    %div.choice
      %div.choice-container
        %div.choice-label.purple=I18n.t :learn_classes
        %img.character-img{src: "/images/map_local_classes.png"}
  - if script == 'mc' || script == 'minecraft'
    %a.white-link{:href=>'https://education.minecraft.net/hour-of-code'}
      %div.choice
        %div.choice-container
          %div.choice-label.gray=I18n.t :learn_back_to_minecraft
          %img.character-img{src: "/images/beyond_mc.png"}
