:ruby
  cookie_key = environment_specific_cookie_name '_user_type'
  user_type = request.cookies[cookie_key]

:javascript
  // Triggers the registration of a Google Analytics "share_hoc_certificate" event.
  // Args:
  //   social_platform: The social platform the HOC certificate is being shared on.
  function trackSocialEvent(social_platform) {
    // Determine the tutorial being shared via the document referrer.
    if (!document.referrer) {
      tutorial = "none";
    } else if (document.referrer.indexOf("hoc") != -1) {
      tutorial = "angrybirds";
    } else if (document.referrer.indexOf("flappy") != -1) {
      tutorial = "flappy";
    } else if (document.referrer.indexOf("frozen") != -1) {
      tutorial = "frozen";
    } else if (document.referrer.indexOf("starwars") != -1) {
      tutorial = "starwars";
    } else {
      tutorial = "unknown";
    }
    trackEvent(social_platform, "share_hoc_certificate", tutorial);
  }

- unless user_type == "student_y"
  #congrats-share-buttons.share-button-container{:style=>'display:none'}
    %h2{:style=>'margin-top: 0; margin-bottom: 0;'}=I18n.t :share_achievement

    .share-buttons.clear
      %div#share-fb.share-button-facebook-link{:style=>"display: none; margin-bottom: 10px; margin-right: 20px"}
        %a.window-popup{:href=>"https://www.facebook.com/sharer/sharer.php?#{facebook.to_query}", onclick: "trackSocialEvent('facebook');"}<
          %button.button-color-share.share-button-facebook<
            %i{:class=>"fa fa-facebook"}<
            =I18n.t(:share_on_facebook)

      %span#share-twitter.share-button-twitter-link{:style=>"display: none; margin-top: 10px"}
        %a.window-popup{:href=>"https://twitter.com/share?#{twitter.to_query}", onclick: "trackSocialEvent('twitter');"}<
          %button.button-color-share.share-button-twitter<
            %i{:class=>"fa fa-twitter"}<
            =I18n.t(:share_on_twitter)
