#continue{:style=>"background-color:grey; color:white; overflow:hidden; padding:20px; text-align:center"}
  
  %p{:style=>'font-size: 18px; font-weight:500'}
    %b=I18n.t :continue_learning_header

  %a{:href=>'http://studio.code.org'}
    %button.button-color-share{:style=>'margin:10px'}
      %b=I18n.t :learn_next_level

  %a{:href=>'/learn/beyond'}
    %button.button-color-share{:style=>'margin:10px'}
      %b=I18n.t :learn_online

  -if request.site != 'uk.code.org'
    %a{:href=>'/learn/local'}
      %button.button-color-share{:style=>'margin:10px'}
        %b=I18n.t :learn_classes
