.courseblock-span6.courseblock-wide-large{style: "height: 480px;"}
  %img.courseblock-span2.imgspan{src: "/images/next/scratch.jpg", style: "margin-right: 10px;"}
  .courseblock-span4.heading
    %h3 Scratch
    %h4 
      Grades 2-8
      %br
      Platform: Web
      %br
      Price: Free
    .smalltext With Scratch, you can program your own interactive stories, games, and animations and share your creations with others in the online community
    .smalltext Scratch helps young people learn to think creatively, reason systematically, and work collaboratively — essential skills for life in the 21st century.
    %br
    %a{:href=>"http://scratched.gse.harvard.edu/guide/files/CreativeComputing20141015.pdf"}
      %button{:style=>'margin-left:10px'} Download Scratch Curriculum
    %a{:href=>"http://scratched.gse.harvard.edu/discussions"}
      %button{:style=>'margin-top: 10px; margin-left:10px'} Scratch Educator Forum
    %a{:href=>"https://scratch.mit.edu/"}
      %button{:style=>'margin-top: 10px; margin-left:10px'} Visit Scratch

.courseblock-span6.courseblock-wide-large{style: "height: 480px;"}
  %img.courseblock-span2.imgspan{src: "/images/lightbot.jpg", style: "margin-right: 10px;"}
  .courseblock-span4.heading
    %h3 Lightbot
    %h4 
      Grades 2-8
      %br
      Platform: Web, iPad & Android
      %br
      Price: $2.99/download
    .smalltext In Lightbot, students must program a robot with commands to solve puzzles. Students may play the game in the Browser (requires Flash Player), or on Android or iOS devices.
    .smalltext Students play the initial set of “Basic” levels in Lightbot. They will learn how to tell a computer what to do with a series of basic commands and gain the general process by which computer programs are written. 
    %br
    %a{:href=>"http://lightbot.com/Lightbot_BasicProgramming.pdf"}
      %button{:style=>'margin-left:10px'} Download Lightbot Curriculum
    %a{:href=>"http://lightbot.com/index.html"}
      %button{:style=>'margin-top: 10px; margin-left:10px'} Visit Lightbot

.clear
%br
%table
  %thead
    %th Organization
    %th Curriculum
    %th Pricing
  %tr
    %td 
      %a{:href=>"http://www.cs-first.com/materials"} CS First
    %td More than 40 lessons, geared toward grades 4-8
    %td Free
  %tr
    %td 
      %a{:href=>"https://www.tynker.com"} Tynker
    %td Dozens of lessons for all grades K-8
    %td Free to try, $399/classroom
