.courseblock-span6.courseblock-wide-large{style: "height: 480px;"}
  %img.courseblock-span2.imgspan{src: "/images/next/codeHS.png", style: "margin-right: 10px;"}
  .courseblock-span4.heading
    %h3 CodeHS
    %h4 
      Grades 8+
      %br
      Platform: Web
      %br
      Price: Free plans & $2,500+
    .smalltext CodeHS introduces the building blocks of programming with short videos, example code, and lots of programming exercises that make coding fun and accessible for beginners.
    .smalltext With CodeHS, you can get the help that every new programmer needs to work through problems and keep learning. Our tutors are everywhere!
    %br
    %a{:href=>"https://codehs.com/course/info/introcs"}
      %button{:style=>'margin-left:10px'} Try CodeHS Intro to Computer Science
    %a{:href=>"https://codehs.com/demos"}
      %button{:style=>'margin-top: 10px; margin-left:10px'} Visit the CodeHS Demos

.courseblock-span6.courseblock-wide-large{style: "height: 480px;"}
  %img.courseblock-span2.imgspan{src: "/images/next/codecademy.jpg", style: "margin-right: 10px;"}
  .courseblock-span4.heading
    %h3 codecademy
    %h4 
      Grades 6+
      %br
      Platform: Web
      %br
      Price: Free
    .smalltext We are rethinking education from the bottom up. The web has rethought nearly everything - commerce, social networking, healthcare, and more. We are building the education the world needs - the first truly net native education.
    %br
    %a{:href=>"https://www.codecademy.com/schools/curriculum/resources"}
      %button{:style=>'margin-left:10px'} Download Codecademy Curriculum
    %a{:href=>"https://www.codecademy.com/"}
      %button{:style=>'margin-top: 10px; margin-left:10px'} Visit Codecademy

.clear
%br
%table
  %thead
    %th Organization
    %th Curriculum
    %th Pricing
  %tr
    %td 
      %a{:href=>"https://www.khanacademy.org/computing/computer-programming"} Khan Academy
    %td Between 7 & 22 lessons, geared toward grades 5-12
    %td Free
  %tr
    %td 
      %a{:href=>"http:/ai2.appinventor.mit.edu/"} App Inventor 2
    %td More than 20 lessons, geared toward grades 4-12
    %td Free
  %tr
    %td 
      %a{:href=>"https://www.codecombat.com"} Code Combat
    %td From 25 - 40 lessons, intended for grades 3-12
    %td Free to try, $9.99/month
