.courseblock-span6.courseblock-wide-large{style: "height: 363px; max-width: 100%"}
  %a{:href=>course}
    %img{src: img, style: "width: 100%"}
    .courseblock-span5{style: "padding: 0 20px 0 20px;"}
      %h3= title
      %h4= ages
      .smalltext= description
      %a{:href=>course}
        %button{style: "margin-left: 10px; margin-top: 20px;"} View course
      %a{:href=>lesson_plans}
        %button{style: "margin-left: 10px; margin-top: 20px;"} Lesson plans
