%h2 Overview of all Code.org courses

.col-40
  %a{href: '/educate/curriculum/courses'}
    %img{src: "/images/fit-300/educate-courses-thumbnail.png"}

.col-60
  Code.org is building a full K-12 curriculum pathway on our
  %a{href: 'https://studio.code.org'} Code Studio learning platform.
  Learn more about the courses that are still in development as well as our other courses already being taught in thousands of classrooms.

  %br/
  %br/
  %a{href: '/educate/curriculum/courses'}
    %button
      View courses

.clear{style: "clear: both"}
