<div class="col-40" style="padding-right: 10px;">
<img src="/images/csa/fill-380x215/csa-hs-page.png" style="max-width: 95%">
</div>
<div class="col-60">
<p>Computer Science A (CSA) introduces students to software engineering and object-oriented design while learning the Java programming language. The Code.org CSA curriculum is recommended for any high school student who wants to continue their computer science education after completing an introductory course, such as CS Principles or CS Discoveries. Students expand their programming skills by developing solutions in the Java programming language, building on the knowledge they acquired from their previous introductory computer science course.</p>
<a href="/educate/csa"><button>Learn about CSA</button></a> <a href="/educate/professional-learning/middle-high"><button>Learn about professional learning</button></a>
</div>
<div style="clear: both;"></div>
<br>