<div class="col-40" style="padding-right: 10px;">
<img src="/images/csa/fill-380x215/csa-hs-page.png" style="max-width: 95%">
</div>
<div class="col-60">
<p>In Computer Science A, students learn object-oriented programming using Java. Students take on the role of software engineers, and practice skills that are used in the field. The Code.org CSA course is designed for any high school student who wishes to continue their computer science education after completing an introductory course such as Computer Science Principles (CSP) or Computer Science Discoveries (CSD).</p>
<a href="/educate/csa"><button>Learn about CSA</button></a>
</div>
<div style="clear: both;"></div>
<br>