<div class="csc-module col-50">
  <a href="%url%">
    <div class="csc-module-outer-wrapper">
      <img src="%image%" />
      <div class="csc-module-wrapper">
        <h3>
          %title%
        </h3>
        <div class="details">
          <i class="fa fa-fw fa-flag"/>
          %grades%
          <i class="fa fa-fw fa-book"/>
          %subject%
          <i class="fa fa-fw fa-clock-o"/>
          %duration%
        </div>
        <p>
          %description%
        </p>
        <a href="%url%" class="btn">
          %button_text%
        </a>
      </div>
    </div>
  </a>
</div>
