.col-50{style: "padding: 10px"}
  .div{style: "background-color: #02516b; padding: 20px; border-radius: 10px; color: white"}
    .div{style: "font-size: 24px; line-height: 1.5;"}
      = title
    - if defined?(grades)
      .div
        Grades
        = grades
    .div
      = description
    - if defined?(action)
      %button
        = action
