<div class="col-50 col-rtl-right" style="padding: 10px">
  <a href="%url%" style="font-family: 'Gotham 4r', sans-serif; color: black; text-decoration: none">
    <div style=" padding: 0px; border-radius: 10px; color: black; border: solid grey 1px; overflow: hidden">
      <div style="width: 100%">
        <img src="%image%" style="width: 100%"/>
      </div>
      <div style="padding: 20px">
        <div style="font-size: 24px; line-height: 1.5; white-space: nowrap; overflow: hidden; text-overflow: ellipsis">
          %title%
        </div>
        <div style="padding-bottom: 20px; overflow: hidden">
          <div class="float-ltr-rtl">
            <i class="fa fa-fw fa-flag"/>
            %grades%
          </div>
          <div class="float-ltr-rtl">
            &nbsp;
            &nbsp;
          </div>
          <div class="float-ltr-rtl">
            <i class="fa fa-fw fa-book"/>
            %subject%
          </div>
          <div class="float-ltr-rtl">
            &nbsp;
            &nbsp;
          </div>
          <div class="float-ltr-rtl">
            <i class="fa fa-fw fa-clock-o"/>
            %duration%
          </div>
        </div>
        <div style="height: 140px">
          %description%
        </div>
        <a href="%url%">
          <button>
            %button_text%
          </button>
        </a>
      </div>
    </div>
  </a>
</div>
