<div class="col-40" style="padding-right: 10px;">

<% facebook = {:u=>'https://youtu.be/2-QpgNHknds'} %>
<% twitter = {:url=>'https://youtu.be/2-QpgNHknds', :related=>'codeorg', :text=>"Computer Science Discoveries. (Thanks #{get_random_donor_twitter} for supporting @codeorg)"} %>
<%=view :display_video_thumbnail, id: "intro_csd", video_code: "2-QpgNHknds", play_button: 'center', letterbox: 'false', twitter: twitter, facebook: facebook %>

</div>

[col-60]

CS Discoveries is an introductory course for 6-10th grade students that can be flexibly taught as a single semester, two semesters over multiple years, or as a full year course. Mapped to CSTA standards, the course takes a wide lens on computer science by covering topics such as problem solving, programming, physical computing, user-centered design, and data, while inspiring students as they build their own websites, apps, games, and physical computing devices.

[<button>Learn about CS Discoveries</button>](/educate/csd)
&nbsp;
[<button>Learn about professional learning</button>](/educate/professional-learning/middle-high)

[/col-60]
