.action-block__wrapper.action-block__wrapper--three-col
  .action-block.action-block--one-col.flex-space-between
    .content-wrapper
      %p.overline=hoc_s(:module_grade_kindergarten)
      %h3=hoc_s(:curriculum_name_csf_course_a)
      %img{src: "/images/csf-course-a.png", alt: ""}
      %p=hoc_s(:curriculum_desc_csf_course_a)
    .content-footer
      %a.link-button{href: CDO.studio_url("/s/coursea-2023?viewAs=Instructor"), aria:{label: hoc_s(:aria_label_call_to_action_csf_course_a)}}
        =hoc_s(:call_to_action_see_course_details)
  .action-block.action-block--one-col.flex-space-between
    .content-wrapper
      %p.overline=hoc_s(:module_grade_grade_01)
      %h3=hoc_s(:curriculum_name_csf_course_b)
      %img{src: "/images/csf-course-b.png", alt: ""}
      %p=hoc_s(:curriculum_desc_csf_course_b)
    .content-footer
      %a.link-button{href: CDO.studio_url("/s/courseb-2023?viewAs=Instructor"), aria:{label: hoc_s(:aria_label_call_to_action_csf_course_b)}}
        =hoc_s(:call_to_action_see_course_details)
  .action-block.action-block--one-col.flex-space-between
    .content-wrapper
      %p.overline=hoc_s(:module_grade_grade_02)
      %h3=hoc_s(:curriculum_name_csf_course_c)
      %img{src: "/images/csf-course-c.png", alt: ""}
      %p=hoc_s(:curriculum_desc_csf_course_c)
    .content-footer
      %a.link-button{href: CDO.studio_url("/s/coursec-2023?viewAs=Instructor"), aria:{label: hoc_s(:aria_label_call_to_action_csf_course_c)}}
        =hoc_s(:call_to_action_see_course_details)
  .action-block.action-block--one-col.flex-space-between
    .content-wrapper
      %p.overline=hoc_s(:module_grade_grade_03)
      %h3=hoc_s(:curriculum_name_csf_course_d)
      %img{src: "/images/csf-course-d.png", alt: ""}
      %p=hoc_s(:curriculum_desc_csf_course_d)
    .content-footer
      %a.link-button{href: CDO.studio_url("/s/coursed-2023?viewAs=Instructor"), aria:{label: hoc_s(:aria_label_call_to_action_csf_course_d)}}
        =hoc_s(:call_to_action_see_course_details)
  .action-block.action-block--one-col.flex-space-between
    .content-wrapper
      %p.overline=hoc_s(:module_grade_grade_04)
      %h3=hoc_s(:curriculum_name_csf_course_e)
      %img{src: "/images/csf-course-e.png", alt: ""}
      %p=hoc_s(:curriculum_desc_csf_course_e)
    .content-footer
      %a.link-button{href: CDO.studio_url("/s/coursee-2023?viewAs=Instructor"), aria:{label: hoc_s(:aria_label_call_to_action_csf_course_e)}}
        =hoc_s(:call_to_action_see_course_details)
  .action-block.action-block--one-col.flex-space-between
    .content-wrapper
      %p.overline=hoc_s(:module_grade_grade_05)
      %h3=hoc_s(:curriculum_name_csf_course_f)
      %img{src: "/images/csf-course-f.png", alt: ""}
      %p=hoc_s(:curriculum_desc_csf_course_f)
    .content-footer
      %a.link-button{href: CDO.studio_url("/s/coursef-2023?viewAs=Instructor"), aria:{label: hoc_s(:aria_label_call_to_action_csf_course_f)}}
        =hoc_s(:call_to_action_see_course_details)
