.tile-container-responsive{style: "margin-top: 20px;"}
  .col-50
    .tutorial-tile
      %a{href: "/maker/assets/CSF-Booklet-Course-C-July23.pdf"}
        %img.tutorial-tile-img{src: "/images/fill-473x258/maker/microbit-unit-c.png", alt: ""}
      .tutorial-info{style: "height: 330px;"}
        %span
          %h3.tutorial-info-h
            Physical Computing for Course C
          .smalltext
            Designed as an extension to Course C this guide offers 4 lessons which cover the events, loops, data and variables using the micro:bit.
        %span{style: "margin-bottom: 2px;"}
          %a{href: "/maker/assets/CSF-Booklet-Course-C-July23.pdf"}
            %button.tutorial-info-start.tutorial-gray
              Get the guide

  .col-50
    .tutorial-tile
      %a{href: "/maker/assets/CSF-Booklet-Course-D-July23.pdf"}
        %img.tutorial-tile-img{src: "/images/fill-473x258/maker/microbit-unit-d.png", alt: ""}
      .tutorial-info{style: "height: 330px;"}
        %span
          %h3.tutorial-info-h
            Physical Computing for Course D
          .smalltext
            Designed as an extension to Course D this guide offers 4 lessons which cover the events, loops, input/output and variables using the micro:bit.
        %span{style: "margin-bottom: 2px;"}
          %a{href: "/maker/assets/CSF-Booklet-Course-D-July23.pdf"}
            %button.tutorial-info-start.tutorial-gray
              Get the guide

  .col-50
    .tutorial-tile
      %a{href: "/maker/assets/CSF-Booklet-Course-E-July23.pdf"}
        %img.tutorial-tile-img{src: "/images/fill-473x258/maker/microbit-unit-e.png", alt: ""}
      .tutorial-info{style: "height: 330px;"}
        %span
          %h3.tutorial-info-h
            Physical Computing for Course E
          .smalltext
            Designed as an extension to Course E this guide offers 4 lessons which cover the events, conditionals, functions and impacts of computing using the micro:bit.
        %span{style: "margin-bottom: 2px;"}
          %a{href: "/maker/assets/CSF-Booklet-Course-E-July23.pdf"}
            %button.tutorial-info-start.tutorial-gray
              Get the guide

  .col-50
    .tutorial-tile
      %a{href: "/maker/assets/CSF-Booklet-Course-F-July23.pdf"}
        %img.tutorial-tile-img{src: "/images/fill-473x258/maker/microbit-unit-f.png", alt: ""}
      .tutorial-info{style: "height: 330px;"}
        %span
          %h3.tutorial-info-h
            Physical Computing for Course F
          .smalltext
            Designed as an extension to Course E this guide offers 4 lessons which cover the variables, simulation, events and conditionals using the micro:bit.
        %span{style: "margin-bottom: 2px;"}
          %a{href: "/maker/assets/CSF-Booklet-Course-F-July23.pdf"}
            %button.tutorial-info-start.tutorial-gray
              Get the guide
