.action-block__wrapper.action-block__wrapper--two-col
  .action-block.action-block--one-col.flex-space-between
    .content-wrapper
      %p.overline
        =hoc_s(:module_label_grades)
        =hoc_s(:module_grade_k_1)
      %h3=hoc_s(:curriculum_name_csf_express_pre_reader)
      %img{src: "/images/csf-express-pre-reader.png", alt: ""}
      %p=hoc_s(:curriculum_desc_csf_express_pre_reader)
    .content-footer
      %a.link-button{href: CDO.studio_url("/s/pre-express-2023?viewAs=Instructor"), aria:{label: hoc_s(:aria_label_call_to_action_curriculum_csf_express_pre_reader)}}
        =hoc_s(:call_to_action_explore_course)
  .action-block.action-block--one-col.flex-space-between
    .content-wrapper
      %p.overline
        =hoc_s(:module_label_grades)
        =hoc_s(:module_grade_2_5)
      %h3=hoc_s(:curriculum_name_csf_express)
      %img{src: "/images/csf-express.png", alt: ""}
      %p=hoc_s(:curriculum_desc_csf_express)
    .content-footer
      %a.link-button{href: CDO.studio_url("/s/express-2023?viewAs=Instructor"), aria:{label: hoc_s(:aria_label_call_to_action_curriculum_csf_express)}}
        =hoc_s(:call_to_action_explore_course)
