#csforgood_nav
  %span.csforgood_list
    -current_url = request.path_info
    -{ 'Example Discussion Prompts'=>'#prompts', 'CS for Good-Inspired Hour of Code Activities'=>'#activities', 'Using CS for Good in the Real World'=>'#articles'}.each_pair do |label,url|
      - if current_url == url
        %span.csforgood_list_item_selected= label
      -else
        %a.csforgood_list_item{:href=>url}= label
      %hr.narrow_hr

-# Changes here should match cs for good navigation links in mobile_header_responsive.
