%link{:href=>"/css/csjourneys.css", :rel=>"stylesheet"}
.csjourneys-banner
  .container_responsive.csjourneys-banner-container
    %img.desktop-feature.csjourneys-banner-footprint-left{:src=>"/images/csjourneys/csjourneys-footsteps-left.png"}
    %img.desktop-feature.csjourneys-banner-footprint-right{:src=>"/images/csjourneys/csjourneys-footsteps-right.png"}
    %img.csjourneys-logo{:src=>"/images/csjourneys/csjourneys-banner-new.png", :alt=>"CS Journeys"}
    %h1.csjourneys-banner-header Explore the wide world of computer science with your students
