%link{:href=>"/css/csjourneys.css", :rel=>"stylesheet"}
%div{:style=>"background-color:#00ADBC; margin-top:-18px"}
  .container_responsive.csjourneys-banner-container
    %img{:src=>"/images/csjourneys/csjourneys-banner-gradient.png", :style=>"height:100%; position:absolute;"}
    %img.desktop-feature{:src=>"/images/csjourneys/csjourneys-footsteps-left.png", :style=>"height:250px; position:absolute; right:750px; bottom:0"}
    %img.desktop-feature{:src=>"/images/csjourneys/csjourneys-footsteps-right.png", :style=>"height:250px; position:absolute; left:750px"}
    %img{:src=>"/images/csjourneys/csjourneys-banner-new.png", :alt=>"CS Journeys", :style=>"width:500px; max-width:100%; margin-top:35px; z-index:1"}
    %h1.csjourneys-banner-header Explore the wide world of computer science with your students
