%div{:style=>"background-color:#00ADBC"}
  .container_responsive{:style=>"display:flex; flex-direction:column; align-items:center; position: relative"}
    %img{:src=>"/images/csjourneys/csjourneys-banner-gradient.png", :style=>"height:100%; position:absolute;"}
    %img.desktop-feature{:src=>"/images/csjourneys/csjourneys-footsteps-left.png", :style=>"height:250px; position:absolute; right:750px; bottom:0"}
    %img.desktop-feature{:src=>"/images/csjourneys/csjourneys-footsteps-right.png", :style=>"height:250px; position:absolute; left:750px"}
    %img{:src=>"/images/csjourneys/csjourneys-banner-new.png", :alt=>"CS Journeys", :style=>"width:500px; max-width:100%; margin-top:35px; z-index:1"}
    %h1{:style=>"font-family:'Gotham 5r', sans-serif; color:#fff; font-size:26px; z-index:1; margin-bottom:35px; text-align:center"} Explore the wide world of computer science with your students
