- if Homepage.show_csjourneys_banner(request)
  %link{:href=>"/css/csjourneys.css", :rel=>"stylesheet"}
  .csjourneys-skinny-banner
    .csjourneys-skinny-banner-container
      %img.desktop-feature.csjourneys-skinny-banner-footprint-right{:src=>"/images/csjourneys/csjourneys-footsteps-right.png"}
      .csjourneys-skinny-banner-content
        %img.csjourneys-skinny-banner-logo{:src=>"/images/csjourneys/csjourneys-banner-new.png", :alt=>"CS Journeys"}
        %h2.csjourneys-skinny-banner-header
          %strong Teachers:
          Explore the wide world of computer science with Code.org's new career inspiration and exploration program!
        %a.csjourneys-skinny-banner-cta{:href=>"/csjourneys"} Learn more
