.tile-container-responsive{style: "margin-top: 20px;"}
  .col-50
    .tutorial-tile
      %a{href: CDO.studio_url("/s/devices")}
        %img.tutorial-tile-img{src: "/images/fill-473x258/maker/maker-graphic.png", alt: ""}
      .tutorial-info{style: "height: 300px;"}
        %span
          %h3.tutorial-info-h
            Creating Apps with Devices
          .smalltext
            Every day, we interact with devices that shape our world. In this unit, students will learn how to program devices to take in inputs and create new outputs.
        %span{style: "margin-bottom: -10px;"}
          %a{href: "/maker/pick-a-device"}
            %button.tutorial-info-start.tutorial-gray
              Explore Unit
          .tutorial-info-guide
            %a{href: "/maker"}
              More About Maker

  .col-50
    .tutorial-tile
      %a{href: CDO.studio_url("/s/aiml")}
        %img.tutorial-tile-img{src: "/images/fill-473x258/oceans/ai_2020_overview.png", alt: ""}
      .tutorial-info{style: "height: 300px;"}
        %span
          %h3.tutorial-info-h
            AI and Machine Learning
          .smalltext
            Artificial intelligence (AI) and machine learning (ML) are shaping the world around us. As these technologies touch more and more of our daily lives, they have become an essential part of foundational computer science education. In this
            %a{href: CDO.studio_url("/s/aiml?viewAs=Instructor")}
              unit
            which spans roughly 5 weeks, students can learn the fundamentals of these technologies and discuss their ethical implications.
        %span{style: "margin-bottom: -10px;"}
          %a{href: CDO.studio_url("/s/aiml")}
            %button.tutorial-info-start.tutorial-gray
              Explore Unit
          .tutorial-info-guide
            %a{href: "/ai"}
              More about AI
