<div class="col-40" style="padding-right:10px;">

<% facebook = {:u=>'https://youtu.be/DMr1iFYacGQ'} %>
<% twitter = {:url=>'https://youtu.be/DMr1iFYacGQ', :related=>'codeorg', :text=>"Computer Science Principles. (Thanks #{get_random_donor_twitter} for supporting @codeorg)"} %>
<%=view :display_video_thumbnail, id: "CSPrinciples", video_code: "DMr1iFYacGQ", play_button: 'center', facebook: facebook, twitter: twitter, letterbox: 'false' %>

</div>

[col-60]

Designed for 9 - 12 grade students, CS Principles introduces students to the foundational concepts of computer science and challenges them to explore how computing and technology can impact the world. This year-long course can be taught as an introductory course and as an AP course - no prerequisites required for students or teachers new to computer science! CS Principles complements CS Discoveries with a deeper focus on concepts such as how the internet works and the societal impacts of computer science.

<% facebook = {:u=>'https://youtu.be/DMr1iFYacGQ'} %>
<% twitter = {:url=>'https://youtu.be/DMr1iFYacGQ', :related=>'codeorg', :text=>"Computer Science Principles. (Thanks #{get_random_donor_twitter} for supporting @codeorg)"} %>

[<button>Learn about CS Principles</button>](/educate/csp)
&nbsp;
[<button>Learn about professional learning</button>](/educate/professional-learning/middle-high)

[/col-60]

<div style="clear: both;"></div>

<div class="breakoutquote" style="background-color:#59b9dc; padding-top:20px; padding-bottom:20px">
  <p style="font-size:14px; line-height:22px">Students who take AP Computer Science Principles are <a href="https://medium.com/@codeorg/study-computer-science-students-much-more-likely-to-enroll-in-college-faca65b1476d">12% more likely to enroll in college</a> compared to similarly-situated peers, and students who take AP exams are <a href="https://files.eric.ed.gov/fulltext/ED519365.pdf">more likely to graduate 4-year college</a>, regardless of their score on the exam. AP computer science students also earn <a href="https://blog.code.org/post/125429946375/cs-other-subjects">better AP Calculus scores</a> than comparable students who don’t take AP computer science.</p>
</div>
