= inline_css "/generated/curriculum-pathway.css"

%figure.curriculum-pathway.desktop
  .header
    .school.elementary.border-bottom-primary-light
      %p=hoc_s(:grade_level_label_elementary)
    .school.middle.border-bottom-primary-medium
      %p=hoc_s(:grade_level_label_middle)
    .school.high.border-bottom-primary-default
      %p=hoc_s(:grade_level_label_high)
    .grade
      %p K
    - (1..12).each do |grade|
      .grade
        %p= grade

  .courses
    %a.course.csf.border-top-primary-light{href: "/csf"}
      %p=hoc_s(:course_name_csf)
    %a.course.csc.border-top-primary-light{href: "/csc"}
      %p=hoc_s(:course_name_csc)
    %a.course.csd.border-top-primary-medium{href: "/csd"}
      %p=hoc_s(:course_name_csd)
    %a.course.csp.border-top-primary-default{href: "/csp"}
      %p=hoc_s(:course_name_csp)
    %a.course.csa.border-top-primary-default{href: "/csa"}
      %p=hoc_s(:course_name_csa)

  .background
    - (1..13).each do |i|
      %div

%figure.curriculum-pathway.mobile
  .school-wrapper
    %p.heading-xs.no-margin-bottom
      =hoc_s(:grade_level_label_elementary)
    .courses
      %a.course.csf.border-top-primary-light{href: "/csf"}
        %p=hoc_s(:course_name_csf)
        %p.grades
          =hoc_s(:module_label_grades)
          =hoc_s(:module_grade_k_5)
      %a.course.csc.border-top-primary-light{href: "/csc"}
        %p=hoc_s(:course_name_csc)
        %p.grades
          =hoc_s(:module_label_grades)
          =hoc_s(:module_grade_3_5)
  .school-wrapper
    %p.heading-xs.no-margin-bottom
      =hoc_s(:grade_level_label_middle)
    .courses
      %a.course.csf.border-top-primary-medium{href: "/csd"}
        %p=hoc_s(:course_name_csd)
        %p.grades
          =hoc_s(:module_label_grades)
          =hoc_s(:module_grade_6_10)
  .school-wrapper
    %p.heading-xs.no-margin-bottom
      =hoc_s(:grade_level_label_high)
    .courses
      %a.course.csf.border-top-primary-default{href: "/csd"}
        %p=hoc_s(:course_name_csd)
        %p.grades
          =hoc_s(:module_label_grades)
          =hoc_s(:module_grade_6_10)
      %a.course.csf.border-top-primary-default{href: "/csp"}
        %p=hoc_s(:course_name_csp)
        %p.grades
          =hoc_s(:module_label_grades)
          =hoc_s(:module_grade_9_12)
      %a.course.csc.border-top-primary-default{href: "/csa"}
        %p=hoc_s(:course_name_csa)
        %p.grades
          =hoc_s(:module_label_grades)
          =hoc_s(:module_grade_10_12)
