- if !!DCDO.get('curriculum-launch-2024', false)
  - button_url = "https://codeorg.medium.com/ai-game-design-and-more-in-code-orgs-2024-25-curriculum-updates-caff691935ad"
  %link{href: "/css/generated/curriculum-launch-skinny-banner.css", rel: "stylesheet"}

  .curriculum-banner-skinny
    .wrapper.flex-container.justify-space-between.align-items-center.wrap
      .text-wrapper
        %h2.heading-sm.white
          =hoc_s('curriculum_launch_2024.banner.heading')
        %p.white.no-margin-bottom
          =hoc_s('curriculum_launch_2024.banner.desc')
      %img{src: "/images/banners/banner-curriculum-catalog-illustration-black.png", alt: ""}
      %a.link-button.has-external-link.white{href: button_url, target: "_blank", rel: "noopener noreferrer"}
        =hoc_s('curriculum_launch_2024.banner.button_learn_more')
  .clear
