= inline_css "/generated/curriculum-pathway.css"

%figure.curriculum-pathway
  .header
    .school.elementary.border-bottom-primary-light
      %p Elementary
    .school.middle.border-bottom-primary-medium
      %p Middle
    .school.high.border-bottom-primary-default
      %p High
    .grade
      %p K
    .grade
      %p 1
    .grade
      %p 2
    .grade
      %p 3
    .grade
      %p 4
    .grade
      %p 5
    .grade
      %p 6
    .grade
      %p 7
    .grade
      %p 8
    .grade
      %p 9
    .grade
      %p 10
    .grade
      %p 11
    .grade
      %p 12

  .courses
    .course.csf.border-top-primary-light
      %p CS Fundamentals
    .course.csc.border-top-primary-light
      %p CS Connections
    .course.csd.border-top-primary-medium
      %p CS Discoveries
    .course.csp.border-top-primary-default
      %p CS Principles
    .course.csa.border-top-primary-default
      %p AP® CSA

  .body
    .div1
    .div2
    .div3
    .div4
    .div5
    .div6
    .div7
    .div8
    .div9
    .div10
    .div11
    .div12
    .div13
