:ruby
  additional_resources = [
    {
      title: hoc_s('curricula_pages.additional_resources.catalog.title'),
      image: "/images/course-catalog-illustration.png",
      desc: hoc_s('curricula_pages.additional_resources.catalog.desc'),
      url: CDO.studio_url("/catalog"),
      button_label: hoc_s('curricula_pages.additional_resources.catalog.button')
    },
    {
      title: hoc_s('curricula_pages.additional_resources.self_paced.title'),
      image: "/images/professional-learning/self-paced-pl-discover.png",
      desc: hoc_s('curricula_pages.additional_resources.self_paced.desc'),
      url: "/professional-learning/self-paced",
      button_label: hoc_s('curricula_pages.additional_resources.self_paced.button')
    },
    {
      title: hoc_s('curricula_pages.additional_resources.workshops.' + (is_elementary_page ? 'title_k_5' : 'title_6_12')),
      image: "/images/professional-learning/k-12-workshops.png",
      desc: hoc_s('curricula_pages.additional_resources.workshops.desc'),
      url: is_elementary_page ? "/professional-learning/elementary" : "/professional-learning/middle-high",
      button_label: hoc_s('curricula_pages.additional_resources.workshops.button'),
    },
  ]

%h2.centered
  =hoc_s('curricula_pages.additional_resources.title')
%p.centered
  =hoc_s('curricula_pages.additional_resources.desc')
.action-block__wrapper.action-block__wrapper--three-col
  - additional_resources.each do |resource_item|
    .action-block.action-block--one-col.flex-space-between.white
      .content-wrapper
        %h3
          = resource_item[:title]
        %img{src: resource_item[:image], alt: ""}
        %p
          = resource_item[:desc]
      .content-footer
        %a.link-button{href: resource_item[:url]}
          = resource_item[:button_label]
