:ruby
  resource_item = [
    {
      title: hoc_s("csf_page.additional_resources.catalog.title"),
      image: "/images/action-blocks/action-block-catalog.png",
      desc: hoc_s("csf_page.additional_resources.catalog.desc"),
      url: CDO.studio_url("/catalog"),
      button_label: hoc_s("csf_page.additional_resources.catalog.button")
    },
    {
      title: hoc_s("csf_page.additional_resources.videos.title"),
      image: "/images/action-blocks/action-block-videos.png",
      desc: hoc_s("csf_page.additional_resources.videos.desc"),
      url: "/videos",
      button_label: hoc_s("csf_page.additional_resources.videos.button")
    },
    {
      title: hoc_s("csf_page.additional_resources.support.title"),
      image: "/images/action-blocks/action-block-support.png",
      desc: hoc_s("csf_page.additional_resources.support.desc", markdown: :inline, locals: {email_url: "mailto:support@code.org"}),
      url: "https://support.code.org",
      button_label: hoc_s("csf_page.additional_resources.support.button")
    },
  ]

.action-block__wrapper.action-block__wrapper--three-col
  - resource_item.each do |resource_item|
    .action-block.action-block--one-col.flex-space-between.white
      .content-wrapper
        %h3
          = resource_item[:title]
        %img{src: resource_item[:image], alt: ""}
        %p
          = resource_item[:desc]
      .content-footer
        %a.link-button{href: resource_item[:url]}
          = resource_item[:button_label]
