:ruby
  resources = [
    {
      title: "Dance Party",
      description: "Code a Dance Party to share with your friends!",
      image: "/images/animated-examples/cutesprite.gif",
      button_text: "Start",
      link: CDO.studio_url('/s/dance')
    },
    {
      title: "Keep Dancing",
      description: "Go beyond the first hour with extended Dance Party project ideas.",
      image: "/images/animated-examples/cutesprite.gif",
      button_text: "Go Beyond",
      link: CDO.studio_url('/s/dance-extras')
    },
  ]

.resources
  -resources.each do |resource|
    .col-50
      .resource-card{style: "height: 234px; width: 468px; border: 1px solid gray; margin: 20px; overflow: hidden; position: relative; float: left;"}
        .resource-gif{style: "position: absolute; margin-left: 234px; width: 234px;"}
          %img{src: resource[:image]}
        .resource-text-box{style: "width: 234px; height: 234px; background-color: #00adbc; position: absolute; float: left; padding: 20px;"}
          .resource-title{style: "font-size: 27px; color: white; font-family: 'Gotham 7r', sans-serif; margin-bottom: 20px;"}
            = resource[:title]
          .resource-description{style: "font-size: 14px; color: white; margin-bottom: 20px;"}
            = resource[:description]
          %a{href: resource[:link]}
            %button{style: "background-color: #e7e8ea; border-color: #e7e8ea; color: #5b6770;"}
              = resource[:button_text]
