= inline_css "/generated/dance-party-ai-skinny-banner.css"

%aside.dance-party-ai-skinny-banner
  %a{href: "/dance"}
    .wrapper
      %img.left{src: "/images/hoc2023-dance-ai-skinny-banner-bot.png", alt: ""}
      .text-wrapper.centered
        %h1=hoc_s(:curriculum_name_dance_party_ai_edition)
        %p=hoc_s(:codeorg_homepage_hoc2023_body)
      .button-wrapper
        %button=hoc_s(:cta_see_whats_new)
      %img.right{src: "/images/hoc2023-dance-ai-skinny-banner-cat.png", alt: ""}
.clear
