%link{:rel=>'stylesheet', :type=>'text/css', :href=>'/css/dance-landing/dance-teacher-resources.css'}

:ruby
  resources = [
    {
      title: I18n.t(:hoc2018_dance_teacher_resources_title),
      description: I18n.t(:hoc2018_dance_teacher_resources_tile1_description),
      image: "/images/dance-hoc/dance_party_dance.gif",
      button_text: I18n.t(:hoc2018_dance_teacher_resources_tile1_button),
      link: CDO.curriculum_url(I18n.locale, "/hoc/plugged/8")
    },
    {
      title: I18n.t(:hoc2018_dance_teacher_resources_tile2_title),
      description: I18n.t(:hoc2018_dance_teacher_resources_tile2_description),
      image: "/images/dance-hoc/dance_party_2019_unplugged_portrait.png",
      button_text: I18n.t(:hoc2018_dance_teacher_resources_tile2_button),
      link: CDO.curriculum_url(I18n.locale, "/hoc/unplugged/4")
    },
  ]

#teacher-resources.resources
  -resources.each do |resource|
    .col-50
      .resource-card
        .resource-gif
          %img{src: resource[:image]}
        .resource-text-box{dir: language_dir_class}
          .resource-title
            = resource[:title]
          .resource-description
            = resource[:description]
          %a{href: resource[:link]}
            %button.gray-button
              = resource[:button_text]
