%link{href: "/css/dance-landing/dance.css", type: "text/css", rel: "stylesheet"}

.sponsor-logo-with-text
  = I18n.t(:hoc2018_dance_amazon_sponsor_section_with_logo_title)
  &nbsp;
  .sponsor-logo-image
    %img{src:"/images/fit-250/AFE-Dark-Orange-logo.png"}

.sponsor-subtext-description
  = I18n.t(:hoc2018_dance_amazon_sponsor_section_with_logo_description_with_link, amazon_future_engineer_link: 'https://www.amazonfutureengineer.com')
