%link{:rel=>'stylesheet', :type=>'text/css', :href=>'/css/dance-landing/dance-sponsor-logo.css'}

%div.sponsor-logo-with-text
  %p= I18n.t(:hoc2018_dance_amazon_sponsor_section_with_logo_title)
  %div
    %img{src:"/images/fit-450/AFE-Dark-Orange-logo.png"}

%div.sponsor-subtext-description
  = I18n.t(:hoc2018_dance_amazon_sponsor_section_with_logo_description_with_link, amazon_future_engineer_link: 'www.amazon.com' )
