%script{type: "text/javascript", src: "/js/bootstrap.min.js"}

%div{:class=>"modal fade", :id=>"selectLanguage"}
  %div{:class=>"modal-dialog", :width=>"500px"}
    %div{:class=>"modal-content"}
      %div{:class=>"modal-header"}
        %button{:type=>"button", :class=>"close", :"data-dismiss"=>"modal"}
          %span{:"aria-hidden"=>"true"} &times;
          %span{:class=>"sr-only"} Close
        %h4{:class=>"modal-title"}= I18n.t('select_language')
      %div{:class=>"modal-body"}
        %img{:src=>avatar_image("flags")}
        %br
        %br
        =view :language

:css
  .modal{
    text-align: center;
  }

:javascript
  function setCookie(key, value, days) {
    var expires = new Date();
    expires.setTime(expires.getTime() + (days * 24 * 60 * 60 * 1000));
    document.cookie = key + '=' + value + ';expires=' + expires.toUTCString();
  }

  function getCookie(key) {
    var keyValue = document.cookie.match('(^|;) ?' + key + '=([^;]*)(;|$)');
    return keyValue ? keyValue[2] : null;
  }

  $( document ).ready(function() {
    already_shown = !!getCookie('_loc_notice');
    if(!already_shown) {
      $.getJSON( "/v2/client-location", function( data ) {
        country_code = data['country_code'];
        if(country_code != 'US') {
          $('#selectLanguage').modal('show')
        }
      });
      setCookie('_loc_notice', '1', 365)
    }
  });
