- district_partners = DB[:cdo_district_partners].all

%table
  %thead
    %tr
      %th=hoc_s(:heading_district)
      %th=hoc_s(:heading_state)
  %tbody
    - district_partners.each do |value|
      %tr
        %td=value[:district_s]
        %td=value[:state_s]
