%script{src: webpack_asset_path('js/code.org/views/diversity_videos.js')}

:ruby
  videos = [
    {
      youtube_code: 'mFPg96gdPkc',
      title: "Change the World - Hour of Code",
      download_link: "//videos.code.org/social/ChangeTheWorld_v5.mp4",
    },
    {
      youtube_code: 'uhcA6K8rWp0',
      title: "Change the Face of Computer Science",
      download_link: "//videos.code.org/social/change_the_face_of_cs.mp4",
    },
    {
      youtube_code: 'Ix_lDw4xxTk',
      title: "Beyond Binary: Computer Science is for Everyone",
      download_link: "//videos.code.org/social/Pride_Month_2024.mp4",
    }
  ]

.carousel-wrapper.video-carousel 
  %swiper-container.diversity-videos{navigation: "true", "navigation-next-el": ".nav-next-el", "navigation-prev-el": ".nav-prev-el", pagination: "true", init: "false", "allow-touch-move": "false"}
    - videos.each do |video|
      %swiper-slide
        %figure
          = view :video_with_fallback, video_code: video[:youtube_code], download_path: video[:download_link]
        %figcaption.no-margin-bottom
          = video[:title]

  %button.swiper-nav-prev.nav-prev-el
  %button.swiper-nav-next.nav-next-el
