- img_height = "60px"

%aside.centered
  %h2.body-one
    =hoc_s(:in_partnership_with)
  .flex-container.justify-center.gap-2{style: "margin-bottom: 2rem"}
    %img{src: "/images/avatars/microsoft.png", alt: hoc_s(:microsoft_logo_alt), style: "height: #{img_height}"}
    %img{src: "/images/avatars/infosys_foundation_usa.png", alt: hoc_s(:infosys_logo_alt), style: "height: #{img_height}"}
  %p=hoc_s(:donors_block_microsoft_infosys)
