.donor-teacher-banner-container

- js_locale = request.locale.to_s.downcase.tr('-', '_')
%script{src: asset_path("js/#{js_locale}/common_locale.js")}
%script{src: minifiable_asset_path('js/donorTeacherBanner.js')}
