%div{style: "position:relative; float: left; width: 49%; height:190px; padding-right:15px"}
  %div{style: "position:absolute;  border-radius:5px; background-image: url(/shared/images/courses/logo_tall_teacher2.jpg); background-size: 100% 100%;"}
  %div{:style => "position:absolute; background-color: #59b9dc; color:white;  padding:20px; border-radius:5px"}
    %h1{:style => "margin-top:0px; margin-bottom:10px; color: white"} K-5 Teachers
    %p{style: "height:50px"}
      If you're an elementary school teacher, attend a local workshop to offer our K-5 courses to your students.
    %a{:href => '/professional-development-workshops'}
      %button{:style => "font-size:18px; height:40px"}> Find a workshop 

%div{style: "position:relative; float: left; width: 49%; height:190px; padding-left:15px"}
  %div{style: "position:absolute;  border-radius:5px; background-image: url(/shared/images/courses/logo_tall_teacher2.jpg); background-size: 100% 100%;"}
  %div{:style => "position:absolute; background-color:#a69bc1; color:white;  padding:20px; border-radius:5px"}
    %h1{:style => "margin-top:0px; margin-bottom:10px; color: white"} School Districts
    %p{style: "height:50px"}
      If you're a district administrator, apply for a partnership grant to bring computer science to your entire district.  
    %a{:href => '/educate/districts'}
      %button{:style => "font-size:18px; height:40px"}> Apply

%div{style: "clear:both"}
