%details
  %summary=hoc_s(:csd_page_faq_question_01)
  %p=hoc_s(:csd_page_faq_answer_01, markdown: :inline, locals: {mappings_url: CDO.studio_url("/courses/csd/standards"), csd_standards_url: "https://docs.google.com/spreadsheets/d/1mSkUykxhOhSviA7wmo5Ejh3vYgLJDtG46rCm_92607g/edit#gid=231256848"})
%details
  %summary=hoc_s(:csd_page_faq_question_02)
  %p=hoc_s(:csd_page_faq_answer_02, markdown: :inline, locals: {apply_url: "/educate/professional-learning/middle-high"})
  %p=hoc_s(:csp_page_faq_answer_03_02, markdown: :inline, locals: {regional_partner_url: "/educate/professional-learning/contact-regional-partner"})
%details
  %summary=hoc_s(:csd_page_faq_question_03)
  %p=hoc_s(:csd_page_faq_answer_03_01, markdown: :inline, locals: {collections_url: "#collections"})
  %p=hoc_s(:csd_page_faq_answer_03_02, markdown: :inline, locals: {flexible_units_url: "#flexible-units"})
%details
  %summary=hoc_s(:csd_page_faq_question_04)
  %p=hoc_s(:csd_page_faq_answer_04_01)
  %p=hoc_s(:csd_page_faq_answer_04_02)
  %p=hoc_s(:csd_page_faq_answer_04_03)
  %p
    %strong
      =hoc_s(:csd_page_faq_answer_04_04)
  %ul
    %li=hoc_s(:csd_page_faq_answer_04_05)
  %p
    %strong
      =hoc_s(:csd_page_faq_answer_04_06)
  %ul
    %li=hoc_s(:csd_page_faq_answer_04_07, markdown: :inline, locals: {url: "/maker/circuitplayground"})
    %li=hoc_s(:csd_page_faq_answer_04_08, markdown: :inline, locals: {url: "/maker/microbit"})
    %li=hoc_s(:csd_page_faq_answer_04_09)
  %p=hoc_s(:csd_page_faq_answer_04_10)
%details
  %summary=hoc_s(:csp_page_faq_question_06)
  %p=hoc_s(:csp_page_faq_answer_06_01)
  %p.has-external-link
    =hoc_s(:csp_page_faq_answer_06_02, markdown: :inline, locals: {form_url: "https://docs.google.com/forms/d/1f5QPKi3F_3nBDR8q9BcXCqixzY7SCQd7Seob0-JYizU/viewform"})
%details
  %summary=hoc_s(:csd_page_faq_question_06)
  %p=hoc_s(:csd_page_faq_answer_06_01, markdown: :inline, locals: {csf_url: "/educate/curriculum/elementary-school", csp_url: "/educate/csp"})
