%details
  %summary=hoc_s(:engineering_faq_question_1)
  %p=hoc_s(:engineering_faq_answer_1_a)
  %p=hoc_s(:engineering_faq_answer_1_b)
  %p=hoc_s(:engineering_faq_answer_1_c)
%details
  %summary=hoc_s(:engineering_faq_question_2)
  %p=hoc_s(:engineering_faq_answer_2, markdown: :inline, locals: {code_url: "https://github.com/code-dot-org", saucelabs_url: "https://saucelabs.com/"})
%details
  %summary=hoc_s(:engineering_faq_question_3)
  %p=hoc_s(:engineering_faq_answer_3)
%details
  %summary=hoc_s(:engineering_faq_question_4)
  %p=hoc_s(:engineering_faq_answer_4_a)
  %p=hoc_s(:engineering_faq_answer_4_b)
  %p=hoc_s(:engineering_faq_answer_4_c)
%details
  %summary=hoc_s(:engineering_faq_question_5)
  %p=hoc_s(:engineering_faq_answer_5_a)
  %p
    %b=hoc_s(:engineering_faq_answer_5_b_1)
    =hoc_s(:engineering_faq_answer_5_b_2)
  %p
    %b=hoc_s(:engineering_faq_answer_5_c_1)
    =hoc_s(:engineering_faq_answer_5_c_2)
  %p
    %b=hoc_s(:engineering_faq_answer_5_d_1)
    =hoc_s(:engineering_faq_answer_5_d_2)
