%details
  %summary=hoc_s(:csf_page_faq_question_01)
  %p=hoc_s(:csf_page_faq_answer_01_01)
  %ul
    %li=hoc_s(:csf_page_faq_answer_01_list_01, markdown: :inline, locals: {course_a_url: CDO.studio_url("/s/coursea-2023/standards")})
    %li=hoc_s(:csf_page_faq_answer_01_list_02, markdown: :inline, locals: {course_b_url: CDO.studio_url("/s/courseb-2023/standards")})
    %li=hoc_s(:csf_page_faq_answer_01_list_03, markdown: :inline, locals: {course_c_url: CDO.studio_url("/s/coursec-2023/standards")})
    %li=hoc_s(:csf_page_faq_answer_01_list_04, markdown: :inline, locals: {course_d_url: CDO.studio_url("/s/coursed-2023/standards")})
    %li=hoc_s(:csf_page_faq_answer_01_list_05, markdown: :inline, locals: {course_e_url: CDO.studio_url("/s/coursee-2023/standards")})
    %li=hoc_s(:csf_page_faq_answer_01_list_06, markdown: :inline, locals: {course_f_url: CDO.studio_url("/s/coursef-2023/standards")})
  %p=hoc_s(:csf_page_faq_answer_01_02, markdown: :inline, locals: {csf_standards_url: "https://docs.google.com/spreadsheets/d/1-cJlBMbxIM_f9cALv1QYHXe6zJz9MPW49FnjK7tMS3E/edit#gid=901318184"})
%details
  %summary=hoc_s(:csf_page_faq_question_02)
  %p=hoc_s(:csf_page_faq_answer_02, markdown: :inline, locals: {brochure_url: "/files/csfadminbrochure2019.pdf", admins_url: "/administrators"})
%details
  %summary=hoc_s(:csf_page_faq_question_03)
  %p=hoc_s(:csp_page_faq_answer_02, markdown: :inline, locals: {cost_url: "/commitment"})
%details
  %summary=hoc_s(:csf_page_faq_question_04)
  %p=hoc_s(:csf_page_faq_answer_04_01, markdown: :inline, locals: {sign_up_url: "/professional-development-workshops"})
  %p=hoc_s(:csf_page_faq_answer_04_02, markdown: :inline, locals: {rec_url: "/educate/professional-learning/program-outcomes"})
%details
  %summary=hoc_s(:csf_page_faq_question_05)
  %p=hoc_s(:csf_page_faq_answer_05)
%details
  %summary=hoc_s(:csf_page_faq_question_06)
  %p=hoc_s(:csf_page_faq_answer_06, markdown: :inline, locals: {syllabus_url: "https://docs.google.com/document/d/1mGTa71uFIOvLuwcbo_7XIutZIuJKGlbl0KlRqgibs2U/edit#heading=h.eb17vdgc6odz"})
