%details
  %summary=hoc_s(:csa_page_faq_question_01)
  %p=hoc_s(:csa_page_faq_answer_01)
%details
  %summary=hoc_s(:csa_page_faq_question_02)
  %p=hoc_s(:csc_page_faq_answer_02, markdown: :inline, locals: {cost_url: "/commitment"})
%details
  %summary=hoc_s(:csa_page_faq_question_03)
  %p=hoc_s(:csa_page_faq_answer_03, markdown: :inline, locals: {apply_url: "/educate/professional-learning/middle-high"})
%details
  %summary=hoc_s(:csa_page_faq_question_04)
  %p=hoc_s(:csa_page_faq_answer_04)
%details
  %summary=hoc_s(:csa_page_faq_question_05)
  %p=hoc_s(:csa_page_faq_answer_05, markdown: :inline, locals: {it_url: "/educate/it"})
%details
  %summary=hoc_s(:csa_page_faq_question_06)
  %p=hoc_s(:csa_page_faq_answer_06, markdown: :inline, locals: {read_more_url: "https://support.code.org/hc/en-us/articles/6104078305549"})
%details
  %summary=hoc_s(:csa_page_faq_question_07)
  %p=hoc_s(:csa_page_faq_answer_07_01)
  %p=hoc_s(:csa_page_faq_answer_07_02, markdown: :inline, locals: {form_url: "https://docs.google.com/forms/d/1f5QPKi3F_3nBDR8q9BcXCqixzY7SCQd7Seob0-JYizU/viewform"})
%details
  %summary=hoc_s(:csa_page_faq_question_08)
  %p=hoc_s(:csa_page_faq_answer_08_01)
  %ul
    %li
      =hoc_s(:csa_page_faq_answer_08_list_01)
    %li
      =hoc_s(:csa_page_faq_answer_08_list_02)
    %li
      =hoc_s(:csa_page_faq_answer_08_list_03)
    %li
      =hoc_s(:csa_page_faq_answer_08_list_04)
