%details
  %summary=hoc_s(:csa_ai_page_faq_question_01)
  %p=hoc_s(:csa_ai_page_faq_answer_01_01)
  %ul
    %li
      =hoc_s(:csa_ai_page_faq_answer_01_list_01, markdown: :inline)
    %li
      =hoc_s(:csa_ai_page_faq_answer_01_list_02, markdown: :inline)
    %li
      =hoc_s(:csa_ai_page_faq_answer_01_list_03, markdown: :inline)
    %li
      =hoc_s(:csa_ai_page_faq_answer_01_list_04, markdown: :inline)
  %p=hoc_s(:csa_ai_page_faq_question_01_02)
%details
  %summary=hoc_s(:csa_ai_page_faq_question_02)
  %p=hoc_s(:csa_ai_page_faq_answer_02_01, markdown: :inline, locals: {accessibility_url: "https://support.code.org/hc/en-us/articles/19060100848141#h_01H960P8MBRX5NWJ18ZZ3YNEVW"})
%details
  %summary=hoc_s(:csa_ai_page_faq_question_03)
  %p=hoc_s(:csa_ai_page_faq_answer_03_01, markdown: :inline, locals: {install_url: "https://support.code.org/hc/en-us/articles/19060100848141#h_01H960P8MBRX5NWJ18ZZ3YNEVW"})
%details
  %summary=hoc_s(:csa_ai_page_faq_question_04)
  %p=hoc_s(:csa_ai_page_faq_answer_04, markdown: :inline, locals: {chromebook_url: "https://support.code.org/hc/en-us/articles/19060100848141#h_01H960PEADB7YJ52VC3K33T7H4"})
%details
  %summary=hoc_s(:csa_ai_page_faq_question_05)
  %p=hoc_s(:csa_ai_page_faq_answer_05, markdown: :inline, locals: {ai_101_url: "/ai/pl/101"})
%details
  %summary=hoc_s(:csa_ai_page_faq_question_06)
  %p=hoc_s(:csa_ai_page_faq_answer_06_01, markdown: :inline)
  %p=hoc_s(:csa_ai_page_faq_answer_06_02)
%details
  %summary=hoc_s(:csa_ai_page_faq_question_07)
  %p=hoc_s(:csa_ai_page_faq_answer_07, markdown: :inline, locals: {form_url: "https://docs.google.com/forms/d/e/1FAIpQLSdGGAJuaDMBVIRYnimPhAL96w6fCl4UdvhwmynGONM75TWwWw/viewform"})
%details
  %summary=hoc_s(:csa_ai_page_faq_question_08)
  %p=hoc_s(:csa_ai_page_faq_answer_08, markdown: :inline, locals: {k12_url: "https://ai4k12.org/", csta_k12_url: "https://csteachers.org/k12standards/interactive/"})
%details
  %summary=hoc_s(:csa_ai_page_faq_question_09)
  %p=hoc_s(:csa_ai_page_faq_answer_09_01, markdown: :inline, locals: {no_cost_url: "https://code.org/commitment"})
  %p=hoc_s(:csa_ai_page_faq_answer_09_02, markdown: :inline, locals: {teachers_url: "https://education.github.com/teachers", students_url: "https://education.github.com/pack"})
%details
  %summary=hoc_s(:csa_ai_page_faq_question_10)
  %p=hoc_s(:csa_ai_page_faq_answer_10, markdown: :inline, locals: {troubleshooting_url: "https://support.code.org/hc/en-us/articles/19060100848141#h_01H960PMW4GGZSCEN0485PX3EX"})
%details
  %summary=hoc_s(:csa_ai_page_faq_question_11)
  %p=hoc_s(:csa_ai_page_faq_answer_11_01)
  %ul
    %li
      =hoc_s(:csa_ai_page_faq_answer_11_list_01)
    %li
      =hoc_s(:csa_ai_page_faq_answer_11_list_02)
    %li
      =hoc_s(:csa_ai_page_faq_answer_11_list_03)
  %p=hoc_s(:csa_ai_page_faq_answer_11_02, markdown: :inline, locals: {curriculum_values_url: "https://code.org/educate/curriculum/values"} )