%details
  %summary=hoc_s(:csc_page_faq_question_01)
  %p=hoc_s(:csc_page_faq_answer_01)
%details
  %summary=hoc_s(:csc_page_faq_question_02)
  %p=hoc_s(:csc_page_faq_answer_02, markdown: :inline, locals: {cost_url: "/commitment"})
%details
  %summary=hoc_s(:csc_page_faq_question_03)
  %p=hoc_s(:csc_page_faq_answer_03, markdown: :inline, locals: {get_started_url: CDO.studio_url("/s/self-paced-pl-csc-2023")})
%details
  %summary=hoc_s(:csc_page_faq_question_04)
  %p=hoc_s(:csc_page_faq_answer_04)
%details
  %summary=hoc_s(:csc_page_faq_question_05)
  %p=hoc_s(:csc_page_faq_answer_05)
