.carousel-wrapper#farsi-carousel
  .carousel{style: "height: 275px"}
    .slides
      .slide.with-image
        %img{src: "/images/farsi/farsi-page-founders-01.png", alt: ""}
        .text-wrapper
          %p.no-margin-bottom Born in Iran, Hadi and Ali Partovi grew up during the Iran-Iraq war. Their neighborhood in Tehran was regularly bombed by Iraqi fighter jets.
      .slide.with-image
        %img{src: "/images/farsi/farsi-page-founders-02.png", alt: ""}
        .text-wrapper
          %p.no-margin-bottom When they were 9 years old, their father, a physics professor, brought home a Commodore 64 computer. This computer was their escape from their surroundings – they learned how to code and create apps, games, and music.
      .slide.with-image
        %img{src: "/images/farsi/farsi-page-founders-03.png", alt: ""}
        .text-wrapper
          %p.no-margin-bottom They immigrated to the United States at age 11. Soon after they turned 15, they spent their summers working as software engineers to help pay their way through high school and college.
      .slide.with-image
        %img{src: "/images/farsi/farsi-page-founders-04.png", alt: ""}
        .text-wrapper
          %p.no-margin-bottom Upon graduating from Harvard University with Masters degrees in computer science, Hadi and Ali pursued careers in technology.
      .slide.with-image
        %img{src: "/images/farsi/farsi-page-founders-05.png", alt: ""}
        .text-wrapper
          %p.no-margin-bottom They found success in the tech world and achieved the “American dream.” They became prolific angel investors, backing Facebook, Uber, Airbnb, and Dropbox, among others.
      .slide.with-image
        %img{src: "/images/farsi/farsi-page-founders-06.png", alt: ""}
        .text-wrapper
          %p.no-margin-bottom In 2013, Hadi and Ali launched the education nonprofit Code.org, which Hadi continues to lead as CEO. Since its inception, Code.org has started a massive movement to teach computer science and coding to K-12 students globally. It is also the largest provider of computer  science curricula in the world, with over 80 million student users in 180 countries.

  .pagination
    #farsi-carousel-pagination

%script{:src=>'/js/jquery.carouFredSel-6.2.1-packed.js'}
%script{:src=>'/js/jquery.touchSwipe.min.js'}
:javascript
  $(document).ready(function() {

    var id = '#farsi-carousel';
    // Define the carousel using the ID.
    $(id + ' .slides').carouFredSel({
      items : 1,
      auto  : false,
      responsive : true,
      pagination : '#farsi-carousel-pagination',
      swipe	: {
        onTouch : true,
        onMouse : false
      },
    });
  });
