.farsi-timeline.action-block__wrapper.action-block__wrapper--three-col
  .action-block.action-block--one-col.flex-space-between
    .content-wrapper
      %span=hoc_s(:farsi_timeline_stage_title_01)
      %h3=hoc_s(:grade_level_label_elementary)
      %img{src: "/images/courses-catalog/CSF.png", alt: ""}
      %ul
        %li=hoc_s(:farsi_timeline_stage_01_list_01)
        %li=hoc_s(:farsi_timeline_stage_01_list_02)
        %li=hoc_s(:farsi_timeline_stage_01_list_03)
    .content-footer
      %p=hoc_s(:farsi_timeline_stage_01_desc)
  .action-block.action-block--one-col.flex-space-between
    .content-wrapper
      %span=hoc_s(:farsi_timeline_stage_title_02)
      %h3=hoc_s(:farsi_timeline_stage_02_heading)
      %img{src: "/images/courses-catalog/star-wars-bee-dance.png", alt: ""}
      %ul
        %li=hoc_s(:farsi_timeline_stage_02_list_01)
        %li=hoc_s(:farsi_timeline_stage_02_list_02)
        %li=hoc_s(:farsi_timeline_stage_02_list_03)
    .content-footer
      %p=hoc_s(:farsi_timeline_stage_02_desc)
  .action-block.action-block--one-col.flex-space-between
    .content-wrapper
      %span=hoc_s(:farsi_timeline_stage_title_03)
      %h3=hoc_s(:grade_level_label_middle)
      %img{src: "/images/courses-catalog/CSD.png", alt: ""}
      %ul
        %li=hoc_s(:farsi_timeline_stage_03_list_01)
        %li=hoc_s(:farsi_timeline_stage_03_list_02)
        %li=hoc_s(:farsi_timeline_stage_03_list_03)
    .content-footer
      %p=hoc_s(:farsi_timeline_stage_03_desc)
  .action-block.action-block--one-col.flex-space-between
    .content-wrapper
      %span=hoc_s(:farsi_timeline_stage_title_04)
      %h3=hoc_s(:grade_level_label_high)
      %img{src: "/images/courses-catalog/CSP.png", alt: ""}
      %ul
        %li=hoc_s(:farsi_timeline_stage_04_list_01)
        %li=hoc_s(:farsi_timeline_stage_04_list_02)
        %li=hoc_s(:farsi_timeline_stage_04_list_03)
    .content-footer
      %p=hoc_s(:farsi_timeline_stage_04_desc)
  .action-block.action-block--one-col.flex-space-between
    .content-wrapper
      %span=hoc_s(:farsi_timeline_stage_title_05)
      %h3=hoc_s(:farsi_timeline_stage_05_heading)
      %img{src: "/images/courses-catalog/poetry.png", alt: ""}
      %ul
        %li=hoc_s(:farsi_timeline_stage_05_list_01)
        %li=hoc_s(:farsi_timeline_stage_05_list_02)
    .content-footer
      %p=hoc_s(:farsi_timeline_stage_05_desc)
