%footer#pagefooter
  .content
    .left{:style=>"float:left; max-width: 80%;"}
      %a.whitefooterlink{:href=>"/privacy", :style=>"color: #ffa400;"}
        - @privacy_updated = DCDO.get('recent_privacy_policy_update', nil)
        - if @privacy_updated
          !=I18n.t(:footer_privacy_policy_updated)
        - else
          !=I18n.t(:footer_privacy_policy)
      .dim &nbsp; | &nbsp;
      %a.whitefooterlink{:href=>"/about"}
        !=I18n.t(:footer_about)
      .dim &nbsp; | &nbsp;
      %a.whitefooterlink{:href=>"/partners"}
        !=I18n.t(:footer_partners)
      .dim &nbsp; | &nbsp;
      %a.whitefooterlink{:href=>"https://medium.com/@codeorg", :target=>"_blank"}
        !=I18n.t(:footer_blog)
      .dim &nbsp; | &nbsp;
      %a.whitefooterlink{:href=>"/donate"}
        !=I18n.t(:footer_donate)
      .dim &nbsp; | &nbsp;
      %a.whitefooterlink{:href=>"/shop"}
        !=I18n.t(:footer_store)
      .dim &nbsp; | &nbsp;
      %a#support.whitefooterlink{:href=>"http://support.code.org/", :target=>"_blank"}
        !=I18n.t(:footer_support)
      .dim &nbsp; | &nbsp;
      %a.whitefooterlink{:href=>"/tos"}
        !=I18n.t(:footer_terms)
      %small.dim
        !="&copy; Code.org, #{Time.now.year}. Code.org&reg;, the CODE logo and Hour of Code&reg; are trademarks of Code.org."
        !=I18n.t(:footer_powered_by_aws)
        %br
        !=I18n.t(:footer_built_on_github)
      %div.powered-by-aws
        %a{:href=>"https://aws.amazon.com/what-is-cloud-computing"}
          %img{:src=>"/shared/images/Powered-By_logo-horiz_RGB_REV.png", :alt=>"Powered by AWS Cloud Computing", :style=>"width: 190px"}
    .right{:style=>"float:right"}
      .language-dropdown
        =view :language
      .social-media{:style=>"margin-top: 10px; margin-left: 10px;"}
        %small
          %a.whitefooterlink{:href=>"https://www.facebook.com/Code.org/", :target=>"_blank", :style=>'text-decoration: none;'}
            %i.fa.fa-facebook.fa-lg
            &nbsp; &nbsp;
          %a.whitefooterlink{:href=>"https://twitter.com/codeorg", :target=>"_blank", :style=>'text-decoration: none;'}
            %i.fa.fa-twitter.fa-lg
            &nbsp; &nbsp;
          %a.whitefooterlink{:href=>"https://www.instagram.com/codeorg/", :target=>"_blank", :style=>'text-decoration: none;'}
            %i.fa.fa-instagram.fa-lg
            &nbsp; &nbsp;
          %a.whitefooterlink{:href=>"https://medium.com/@codeorg", :target=>"_blank", :style=>'text-decoration: none;'}
            %img{src: '/images/icons/medium-monogram-white.png', style: "width: 20px"}
