%footer#pagefooter
  .content
    .left{:style=>"float:left; max-width: 80%;"}
      %a.whitefooterlink{:href=>"/privacy", :style=>"color: #ffa400;"} Privacy Policy
      .dim &nbsp; &nbsp; | &nbsp; &nbsp;
      %a.whitefooterlink{:href=>"/about"} About
      .dim &nbsp; &nbsp; | &nbsp; &nbsp;
      %a.whitefooterlink{:href=>"/partners"} Partners
      .dim &nbsp; &nbsp; | &nbsp; &nbsp;
      %a.whitefooterlink{:href=>"https://medium.com/@codeorg", :target=>"_blank"} Blog
      .dim &nbsp; &nbsp; | &nbsp; &nbsp;
      %a.whitefooterlink{:href=>"/donate"} Donate
      .dim &nbsp; &nbsp; | &nbsp; &nbsp;
      %a.whitefooterlink{:href=>"/shop"} Store
      .dim &nbsp; &nbsp; | &nbsp; &nbsp;
      %a#support.whitefooterlink{:href=>"http://support.code.org/", :target=>"_blank"} Support
      .dim &nbsp; &nbsp; | &nbsp; &nbsp;
      %a.whitefooterlink{:href=>"/tos"} Terms
      %small.dim
        !="&copy; Code.org, #{Time.now.year}. Code.org&reg;, the CODE logo and Hour of Code&reg; are trademarks of Code.org."
        %br
        Powered by Amazon Web Services
    .right{:style=>"float:right"}
      .language-dropdown
        =view :language
      .social-media{:style=>"margin-top: 10px; margin-left: 10px;"}
        %small
          %a.whitefooterlink{:href=>"https://www.facebook.com/Code.org/", :target=>"_blank", :style=>'text-decoration: none;'}
            %i.fa.fa-facebook.fa-lg
            &nbsp; &nbsp;
          %a.whitefooterlink{:href=>"https://twitter.com/codeorg", :target=>"_blank", :style=>'text-decoration: none;'}
            %i.fa.fa-twitter.fa-lg
            &nbsp; &nbsp;
          %a.whitefooterlink{:href=>"https://www.instagram.com/codeorg/", :target=>"_blank", :style=>'text-decoration: none;'}
            %i.fa.fa-instagram.fa-lg
            &nbsp; &nbsp;
          %a.whitefooterlink{:href=>"https://medium.com/@codeorg", :target=>"_blank", :style=>'text-decoration: none;'}
            %img{src: '/images/icons/medium-monogram-white.png', style: "width: 20px"}
