%footer#pagefooter
  .content
    %div{:style=>"clear:both; float: left;"}
      %small.dim
        &copy; Code.org, 2015.  Code.org&reg;, the CODE logo and Hour of Code&reg; are trademarks of Code.org.
    %div{:style=>"clear:both; float: left;"}
      %small.dim
        Powered by Amazon Web Services
    %div{:style=>"float:right"}
      %small{:style=>"opacity:0.5"}
        %a.whitefooterlink{:href=>"https://code.org/tos", :style=>"font-size: 12px;"} Terms
        &nbsp; &nbsp; | &nbsp; &nbsp;
        %a.whitefooterlink{:href=>"https://code.org/privacy", :style=>"font-size: 12px;"} Privacy Policy
