%h2 
  %a{href: CDO.studio_url('/s/frozen')} The Frozen tutorial is supported in the following languages
%ul
  - Languages.get_frozen_languages.each do |properties|
    - if properties[:frozen_b] == true
      %li= properties[:crowdin_name_s]
