- variant ||= "unknown"

:css

  .arrow_box:after {
    bottom: 100%;
    left: 50px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(54, 72, 84, 0);
    border-bottom-color: rgb(88, 103, 113);
    border-width: 8px;
    margin-left: -10px;
  }

  #headerlinks {
    float: right;
    position: relative;
  }

  .downorangearrow {
    display: inline-block;
  }

  .downorangearrow:hover:after,
  .downorangearrow:active:after {
    top: 100%;
    left: 40px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(54, 72, 84, 0);
    border-top-color: rgb(255, 128, 0);
    border-width: 8px;
    margin-left: 0px;
  }

#pageheader-wrapper
  - pageheader_class = request.path_info == "/" ? "pageheader-translucent" : ""
  #pageheader{class: pageheader_class}
    .content
      #left
        %a{:href=>"/"}
          %img#logo{:src=>'/images/logo.png', :style=>'margin-left:5px'}

      #right
        #sign_in_or_user{:style=>'display:block; float: right; margin: .6875em 0 0 30px;'}

        -if page_translated? && !partner_site?
        -else
          .desktop-feature
            #headerlinks
              %a.headerlink{:href=>"/student"}LEARN
              %a.headerlink{:href=>"/educate"}TEACH
              %a.headerlink{:href=>"/promote"}STATS
              %a.headerlink{:href=>"/help"}HELP US
              %a.headerlink{:href=>"/about"}ABOUT

    #clear{:style=>'clear:both'}

    #loc.desktop-feature
      -if banner = @header['banner']
        =view banner

:javascript
  var headerSetup = false;

  $ = jQuery;
  $(document).ready(function() {
    if (headerSetup) {
      return;
    }
    headerSetup = true;

    $.ajax({
      type: "GET",
      url: '/dashboardapi/user_menu',
      //data: "id=" + id, // appears as $_GET['id'] @ ur backend side
      success: function(data) {
        // data is ur summary
        $('#sign_in_or_user').html(data);
      }
    });
  });
