#pageheader-wrapper
  - pageheader_class = request.path_info == "/" ? "pageheader-translucent" : ""
  #pageheader{class: pageheader_class}
    .content
      #left
        %a{:href=>"/"}
          %img#logo{:src=>'/images/logo.png'}
      #right
        #sign_in_or_user{:style=>'display:block; float: right; width: 80px; margin: .6875em 0 0 30px;'}
          =view :sign_in_or_user
        - if page_translated? && !partner_site?
        - else
          .desktop-feature
            #headerlinks
              %a.headerlink{:href=>"/student"}LEARN
              %a.headerlink{:href=>"/educate"}TEACH
              %a.headerlink{:href=>"/promote"}STATS
              %a.headerlink{:href=>"/help"}HELP US
              %a.headerlink{:href=>"/about"}ABOUT
    #clear{:style=>'clear:both'}
    #loc.desktop-feature
      -if banner = @header['banner']
        =view banner
