.bigbanner{style: "width: 100%; padding: 5px; background-color: #7665a0; text-align: center; color: white; padding: 20px; font-size: 15px"}
  Go further with
  %a{href: CDO.studio_url('/courses'), style: "color: white; font-family: 'Gotham 4r', sans-serif; text-decoration: underline"}
    Code.org courses
  .clear{style: "clear: both"}
