.bigbanner{style: "width: 100%; padding: 5px; background-color: #ebe8f1"}
  .col-50{style: "background-color: #7665a0; height: 80px; display: table"}
    .arrowcontainer.desktop-feature{style: "float:left; width: 7%"}
      .arrow{style: "width: 0; height: 0; border-style: solid; border-width: 40px 0 40px 25px; border-color: transparent transparent transparent #ebe8f1"}
    .textcontainer{style: "width: 93%; display: table-cell; vertical-align: middle"}
      .text{style: "color: white;  font-size: 18px; padding: 20px; text-align: center; line-height: 1.5"}
        Go further with Code.org courses
  .col-50{style: "background-color: #ebe8f1; color: white; height: 80px; font-size: 18px; text-align: center; display: table"}
    .desktop-feature{style: "float:left; width: 30%"}
      .arrowcontainer{style: "float:left"}
        .arrow{style: "width: 0; height: 0; border-style: solid; border-width: 40px 0 40px 25px; border-color: transparent transparent transparent #7665a0;"}
    .buttons{style: "display: table-cell; vertical-align: middle"}
      %a.pl-2018-link#banner-csd{href: CDO.studio_url("/courses")}
        %button{style: "margin-top: 0px"}
          Start learning

  .clear{style: "clear: both"}
