.hoc2018-curriculum-banner
  - if request.language == "en" && DCDO.get("hoc_launch", CDO.default_hoc_launch) == "dance"
    Bring computer science to your school or district
    &nbsp; &nbsp;
    %a{href: "/yourschool", style: "color: white; font-family: inherit"}
      %button{style: "margin: initial; background-color: initial; border-color: white; vertical-align: initial;"}
        See how
  - else
    = hoc_s(:codeorg_homepage_hoc2018_curriculum).gsub("%{studio_url}", CDO.studio_url)
  .clear{style: "clear: both"}
