<div style="width:600px; max-width:100%; margin-left:auto; margin-right:auto;">
  <%= view :display_video_thumbnail, id: "hoc_infinity_video", video_code: "vQGOfhsb76o", play_button: 'center', letterbox: 'false' %>
</div>
