:ruby
  block_items = [
    {
      title: hoc_s("hoc_page.beyond.catalog.title"),
      image: "/images/action-blocks/action-block-catalog.png",
      desc: hoc_s("hoc_page.beyond.catalog.desc"),
      url: CDO.studio_url("/catalog"),
      button_label: hoc_s("hoc_page.beyond.catalog.button"),
    },
    {
      title: hoc_s("hoc_page.beyond.teach.title"),
      image: "/images/action-blocks/action-block-teach.png",
      desc: hoc_s("hoc_page.beyond.teach.desc"),
      url: "/teach",
      button_label: hoc_s("hoc_page.beyond.teach.button"),
    },
    {
      title: hoc_s("hoc_page.beyond.professional_learning.title"),
      image: "/images/action-blocks/action-block-self-paced-pl.png",
      desc: hoc_s("hoc_page.beyond.professional_learning.desc"),
      url: "/educate/professional-learning/self-paced",
      button_label: hoc_s("hoc_page.beyond.professional_learning.button"),
    },
  ]

.action-block__wrapper.action-block__wrapper--three-col
  - block_items.each do |block_item|
    .action-block.action-block--one-col.flex-space-between.white
      .content-wrapper
        %h3
          = block_item[:title]
        %img{src: block_item[:image], alt: ""}
        %p
          = block_item[:desc]
      .content-footer
        %a.link-button{href: block_item[:url]}
          = block_item[:button_label]
