<div style="width:600px; max-width:100%; margin-left:auto; margin-right:auto;">
  <%= view :display_video_thumbnail, id: "hoc_unplugged_video", video_code: "UymN4lTL50s", play_button: 'center', letterbox: 'false' %>
</div>
