:ruby
  card_item = [
    {
      title: hoc_s(:teach_computer_science),
      image: "/images/square-teacher-with-student.png",
      desc: hoc_s(:hoc_page_go_beyond_hoc_card_desc_teach),
      url: "/teach",
      button_label: hoc_s(:call_to_action_learn_more),
      aria_label: hoc_s(:aria_label_call_to_action_learn_more_teach)
    },
    {
      title: hoc_s(:explore_our_curriculum),
      image: "/images/square-students-at-computer.png",
      desc: hoc_s(:hoc_page_go_beyond_hoc_card_desc_curriculum),
      url: CDO.studio_url("/catalog"),
      button_label: hoc_s(:call_to_action_view_curriculum_catalog),
      aria_label: ""
    },
    {
      title: hoc_s(:start_professional_learning),
      image: "/images/teach-page-pl-offerings-self-paced.png",
      desc: hoc_s(:hoc_page_go_beyond_hoc_card_desc_pl),
      url: "/educate/professional-development-online",
      button_label: hoc_s(:call_to_action_learn_more),
      aria_label: hoc_s(:aria_label_call_to_action_learn_more_self_paced_pl)
    },
  ]

%div.editorial-cards-wrapper
  - card_item.each do |card_item|
    %div.flex-container.align-content-baseline.wrap
      %figure
        %img{src: card_item[:image], alt: ""}
      .content-wrapper
        %h3.heading-sm
          = card_item[:title]
        %p
          = card_item[:desc]
        %a.link-button{href: card_item[:url], "aria-label": card_item[:aria_label]}
          = card_item[:button_label]
