= inline_css 'homepage_professional_learning_2018.css'

.homepage-professional-learning-2018-banner
  %a.linktag#pl-2018{href: "/educate/professional-learning-2018"}
    .nonphone.col-80.tablet-feature
      .left.col-80.animateSlideInFromLeft
        .banner
          %img{src: "/images/homepage/professional-learning-2018-banner.png"}
          .text
            SPOTS OPEN - 2018 Professional Learning
            %br/
            for Middle and High School teachers
      .right.col-20
        %button
          Join us
    .phone.phone-feature
      .text
        SPOTS OPEN - 2018 Professional Learning
        %br/
        for Middle and High School teachers
      %button
        Join us

  .clear
