- if Homepage.show_professional_learning_banner(request)
  = inline_css 'homepage_below_hero_trophy_banner.css'

  .homepage-professional-learning-banner
    %a.linktag#pl-2019{href: "/educate/professional-learning/middle-high"}
      .nonphone.col-80.tablet-feature
        .left.col-80
          .banner
            %img.trophyimage{src: "/images/390x276/homepage/professional-learning-2019-trophy.png"}
            .text
              Know an awesome teacher?  Nominate them for one of our Professional Learning Scholarships
        .right.col-20
          %button
            Nominate a teacher
      .phone.phone-feature
        .text
          Know an awesome teacher?  Nominate them for one of our Professional Learning Scholarships
        %button
          Nominate a teacher

    .clear
