%link{href: '/css/generated/tenth-anniversary-styles.css', rel: 'stylesheet'}

%div.tenth-anniversary-homepage
  %img{src: "/images/cdo-10years-logo.svg", alt: ""}
  %p
    =hoc_s(:tenth_anniversary_homepage_blurb)
    %a{href: "/10years"}
      =hoc_s(:tenth_anniversary_homepage_link)
