- bgc_head = "51, 169, 213" # "0,148,202" * 0.8
- bgc_body = "255, 164, 0"  # "0,148,202" * 0.05

#gallerycolumn.same-height-column
  %a.nounderscorehover.linktag#projects-images{href: CDO.studio_url("projects/public")}
    .headingbox{style: "background-color: rgb(#{bgc_body})"}
      = I18n.t(:homepage_header_codestudio)
    .thelinks
      %img.col-50.lazyload{'data-src':"/shared/images/gallery/fit-750/gallery_thumbnails_2019a.jpg", width: 750, height: 120}
      %img.col-50.lazyload{'data-src':"/shared/images/gallery/fit-750/gallery_thumbnails_2019b.jpg", width: 750, height: 120}
