= inline_css 'homepage_professional_learning_2018.css'

.homepage-professional-learning-2018-banner
  %a{href: "/educate/professional-learning-2018"}
    .nonphone.col-80.tablet-feature
      .left.col-80.animateSlideInFromLeft
        .banner
          %img{src: "/images/homepage/professional-learning-2018-banner.png"}
          .text
            Summer 2018 Professional Learning for
            %br/
            Middle and High School is now available
      .right.col-20
        %button
          Join us
    .phone.phone-feature
      .text
        Summer 2018 Professional Learning for
        %br/
        Middle and High School is now available
      %button
        Join us

  .clear
