%a{href: "/break", style: "color: white; font-family: 'Gotham 4r', sans-serif;"}
  .special_2020_announcement{style: "text-align: center; background-color: #0094ca; color: white; font-size: 18px; padding: 16px; overflow: hidden; margin-bottom: 20px;"}
    .container_responsive
      .col-66
        .texts{style: "text-align: left; padding-top: 7px; padding-bottom: 5px"}
          = hoc_s(:codeorg_homepage_code_break_body)
      .col-33
        %button{style: "color: white; font-size: 18px; background-color: initial; border-color: white; min-width: 230px; height: 40px; padding: 0 30px;"}
          = hoc_s(:codeorg_homepage_code_break_link_text)
