%link{rel:'stylesheet', type:'text/css', href:'/css/donors.css'}

.homepage-supporters
  .container_responsive
    .donor-header
      %h1
        = I18n.t(:homepage_header_donors)

    %p
      Amazon • The Ballmer Group • Coinbase • Google.org • Charlie Lee • Microsoft • Spiegel Family Fund • Vista Equity Partners

    .donor-button
      %a.link-button{href: "/donate"}
        = I18n.t(:homepage_donors_donate)

    %a{:href=>'/about/supporters'}
      = I18n.t(:homepage_donors_seall)
