- if request.locale == "en-US" && !!DCDO.get('ceos-for-cs-banner-govs', false)
  = inline_css 'generated/homepage_ceos_for_cs_banner.css'

  %aside.homepage-ceos-for-cs-banner
    .wrapper
      .top-wrapper
        %h1 CEOs for CS
        %a.btn{href: 'https://www.ceosforcs.com/', target: '_blank', rel: 'noopener noreferrer'} Read the letter
        %a.btn{href: '/yourschool'} Bring CS to your school

      %p Over 600 business and nonprofit leaders call for computer science in K-12

      %div.govs
        %object{type: "image/svg+xml", data: "/images/marketing/ceos-for-cs-update-ribbon.svg"}
        %a{href: 'https://www.ceosforcs.com/governors-announcements', target: '_blank', rel: 'noopener noreferrer'} See the governors' announcement

    .clear
