- if !!DCDO.get('cs-leaders-prize', false)
  = inline_css 'generated/cs-leaders-prize.css'

  %aside.homepage-cs-leaders-prize
    .wrapper
      %img{src: '/images/marketing/hoc2022-cs-leaders-prize-money-bag.png'}
      %h1
        Congratulations to the CS Leaders Prize winners!
      %a.btn{href: '/prize'} See winners

  .clear
