<div class="col-50">
  <div class="tutorial-tile" style="padding-right:20px">
    <a href="#ai-videos">
      <img class="tutorial-tile-img" src="/images/fill-485x235/ai/ai-intro-2.png" style="max-width:100%; border: 0.5px solid #808080; border-radius: 15px 15px 0 0">
    </a>
    <div class="tutorial-info" style="background-color: #ffffff; border: 1px solid #696969; border-top: none; border-radius: 0 0 15px 15px; padding: 15px 25px 25px 25px">
      <span>
        <h3 class="tutorial-info-h" style="color: dimgray;  margin-top:10px; margin-bottom: 10px"><strong><%= I18n.t("how_ai_works", default: "How AI Works") %></strong></h3>
        <div class="smalltext" style="color: dimgray; margin-bottom: 10px"><strong><em>Video series</em></strong><br/><%= I18n.t("how_ai_works_tile_description", default: "Learn about how AI works and why it matters with this series of short videos. Featuring Microsoft CEO Satya Nadella and a diverse cast of experts.") %></div>
        <a href="#ai-videos"><button><%= I18n.t("watch_the_videos", default: "Watch the videos") %></button></a>
    </span>
    </div>
  </div>
</div>
