.lines_of_code_header{style: "font-size: 28px"}
  %a.lines_of_code_link{:href=>"/educate/k5"}
    Teaching grades K-5? Attend our free 1-day workshops!
    %span{style: "opacity: 0.6"}
      (US only)
