.lines_of_code_header{style: "font-size: 28px"}
  %a.lines_of_code_link{:href=>"https://www.indiegogo.com/projects/an-hour-of-code-for-every-student/"}
    Donate to our crowdfunding campaign. We can make history.
