<a class="twitter-timeline" href="https://twitter.com/search?q=code.org+OR+codeorg+OR+from%3Acodeorg+OR+hourofcode" data-widget-id="400359013277122560">Tweets about "code.org OR codeorg OR from:codeorg OR hourofcode"</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>



