:scss
  .vjs-tech:focus, .vjs-poster:focus {
    outline: 0;
  }

  .download-link {
    display: inline-block;
    margin-top: 1rem;
    font-size: 1rem;

    i::before {
      color: var(--brand_secondary_default);
    }
  }

- icon_download = "fa-solid fa-download"

%div{style: "text-align:right;"}
  =view :video_with_fallback, video_code: video_code, download_path: download_path

  %div{style: "float:left"}
    =view :share_buttons, facebook: facebook, twitter: twitter

  - unless download_filename.nil_or_empty?
    %div.download-link
      %i{class: "#{icon_download}"}
      %a{href: "http://s3.amazonaws.com/cdo-videos/#{download_filename}"}
        =hoc_s(:call_to_action_download_video)

  - unless download_path.nil_or_empty?
    %div.download-link
      %i{class: "#{icon_download}"}
      %a{href: download_path}
        =hoc_s(:call_to_action_download_video)
