.lines_of_code_header{style: "background-color: #d43f3a"}
  =I18n.t(:csedweek_banner_teachers)
%br/

:css

  .lines_of_code_header {
    font-size: 18px;
    padding: 15px;
    margin: 0 auto;
    width:100%;
  }

  @media (max-width: 970px) {
    .lines_of_code_header {
      font-size: 14px;
      padding: 15px;
    }
    .top_banner {
      margin-top: 10px;
    }
  }
