.lines_of_code_header{style: "width:970px; margin: 0 auto; font-size: 18px; margin-bottom: 14px; "}
  %a.lines_of_code_link{:href=>"http://hourofcode.com"}
    The Hour of Code is coming. Anyone, anywhere can learn.
    %span{style: "text-decoration:underline; font-weight:bold"}
      Get started.
