.lines_of_code_header{style: "font-size: 28px"}
  %a.lines_of_code_link{:href=>"https://www.indiegogo.com/projects/an-hour-of-code-for-every-student/"}
    Support us, and help the Hour of Code reach 100 million students
