%br/

.lines_of_code_header{style: "width:970px; margin: 0 auto; font-size: 24px; padding: 35px; background-color: rgb(4, 126, 188); color: white"}
  %a{href: "http://hourofcode.com", style: "color: white; text-decoration:underline; font-weight:bold"} The Hour of Code
  %span is coming. Anyone, anywhere can learn.
  %a{href: "http://hourofcode.com", style: "color: white; text-decoration:underline; font-weight:bold"} Get started
%br/

.lines_of_code_header{style: "width:970px; margin: 0 auto; font-size: 24px; padding: 35px; background-color: #d43f3a"}
  %a{:href=>"/csteacher", style: "color: white; text-decoration: none; font-weight: 400"}
    Are you a CS teacher? See other CSEdWeek resources
%br/
%br/
