%h3{:style=>'margin-top: 10px'}
  %strong{:style=>'font-size: 32px', :id=>'current_funds'} $0
  %br
  %br
  raised of $5,000,000 goal!

%div{:style=>'height: 20px; width 100%; background-color: #f5f5f5'}
  %div{:id=>'current_bar', :style=>'float: left; margin-right: 5px; height: 20px; width: 0; background-color: rgb(0, 178, 192); padding-right: 10px; display: none; border-radius: 1px 1px 1px 1px;'}
  %p{:id=>'percent', :style=>'display: none;'}
    0%
%br

%a{:href=>'https://www.indiegogo.com/projects/an-hour-of-code-for-every-student/contributions/new'}
  %button
    Contribute Now

:javascript
  $.ajax({
    url: "/v2/indiegogo_campaigns",
    type: "get",
    dataType: "JSON"
  }).done(function(data) {
      var current = 0;
      var collected = data["response"]["collected_funds"];
      var interval = 1;
      var timer = setInterval(increaseNumber, interval);

      function increaseNumber() {
        if (current < collected) {
          if (current + 51 < collected) {
            $('#current_funds').text("$" + (current + 101).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
            current += 101;
          } else {
            $('#current_funds').text("$" + (current + (collected - current)).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
            current += (collected - current);
          }
        }
      }

    var goal = data["response"]["goal"];
    var barWidth;
    if (collected / goal * 100 > 100) {
      barWidth = 100;
    } else {
      barWidth = collected / goal * 100;
    }
    if (collected > 0) {
      $("#current_bar").show();
    }
    $("#current_bar").animate({width: barWidth + "%"}, 2500, function () {
      $('#percent').css("float", "left");
      $('#percent').fadeIn("slow");
      if (Math.round(collected / goal * 100) < 1) {
        $('#percent').text("Less than 1%");
      } else {
        $('#percent').text(Math.round(collected / goal * 100) + "%");
      }
    });

  }).fail(function () {

  });