-# Load jQuery script normal/async/defer or not at all, depending on page header.
- case @header['jquery']
- when 'defer'
  %script{src:'/js/jquery.min.js', defer: true}
  %script=view 'jquery_shim.js'
- when 'async'
  %script{src:'/js/jquery.min.js', async: true}
  %script=view 'jquery_shim.js'
- when 'none'
  %script=view 'jquery_shim.js'
- else
  %script{src:'/js/jquery.min.js'}
