-# `data-ot-ignore` attribute added to the jQuery script elements to prevent
-# OneTrust Auto-Blocking from blocking the script.
-# https://community.cookiepro.com/s/article/UUID-71e7d0a8-03d8-e272-e683-72cadded2ecf?language=en_US

-# Load jQuery script normal/async/defer or not at all, depending on page header.
- case @header['jquery']
- when 'defer'
  %script{src:'/js/jquery.min.js', defer: true, "data-ot-ignore" => true}
  %script=view 'jquery_shim.js'
- when 'async'
  %script{src:'/js/jquery.min.js', async: true, "data-ot-ignore" => true}
  %script=view 'jquery_shim.js'
- when 'none'
  %script=view 'jquery_shim.js'
- else
  %script{src:'/js/jquery.min.js', "data-ot-ignore" => true}
