%div.learn-hoc-banner
  %div.banner-character
    %div.character-img
  %div.banner-content
    %div#hoc-sign-up
      = I18n.t(:learn_sign_up_description)
      &nbsp;
      %a{:href=>'http://www.hourofcode.com'}
        %button
          = I18n.t(:learn_sign_up_button)
    %div#hoc-teacher-guide
      = I18n.t(:learn_hoc_prizes)
%br
