#teacher-banner
  .learn-hoc-banner
    .banner-character
      .character-img
    .banner-content
      %h2.banner-title= I18n.t(:learn_banner_title)
      = I18n.t(:learn_banner_desc, how_to_url: 'https://hourofcode.com/how-to', videos_url: CDO.code_org_url('/educate/inspire'))
      .hoc-signup-button
        %a{href: 'http://www.hourofcode.com/#join', target: '_blank'}
          %button= I18n.t(:host_an_hour)
