%a{:href=>"#{url}"}
  %div.outerblock{:style=>"float: left;"}
    %div.innerblock{:style=>"float: left; background-color: lightgrey"}
      %img{:src=>"#{img_src}", :style=>"style=width:100%; height:120px"}
      %div.title
        #{title}
      %div.body
        #{text}