- if !!DCDO.get('show-updated-lms-content', false)
  %link{href: "/css/generated/lms-skinny-banner.css", rel: "stylesheet"}

  %aside.lms-banner
    .wrapper.flex-container.justify-space-between.align-items-center.wrap
      .text-wrapper
        %h5.white
          =hoc_s('lms_page.skinny_banner.heading')
        %p.white.no-margin-bottom
          =hoc_s('lms_page.skinny_banner.desc')
      .flex-container.justify-center.align-items-center.wrap-reverse{style: "column-gap: 5rem;"}
        %img{src:"/images/marketing/lms-integration-icons.png", alt: ""}
        %a.link-button.white{href: "/lms", target: "_blank", rel: "noopener noreferrer", "aria-label": hoc_s('admins_page_lms_call_to_action')}
          =hoc_s('call_to_action_learn_more')
