.action-block__wrapper.action-block__wrapper--two-col
  .action-block.action-block--one-col
    %h3 Circuit Playground
    %img{src: "/images/maker/maker-device-circuit-playground.png", alt: ""}
    %a.link-button{href: curriculum_link_cp, aria:{label: "See available curriculum for Circuit Playground device"}} See available curriculum
    %a.link-button.secondary{href: "/maker/circuitplayground"} Learn about Circuit Playground
  .action-block.action-block--one-col
    %h3 BBC micro:bit
    %img{src: "/images/maker/maker-device-microbit.png", alt: ""}
    %a.link-button{href: curriculum_link_microbit, aria:{label: "See available curriculum for BBC micro:bit device"}} See available curriculum
    %a.link-button.secondary{href: "/maker/microbit"} Learn about micro:bit
