:ruby
  list_items = [
    {
      icon: "fa-solid fa-microchip",
      heading: hoc_s("maker_page.why.real_world.title"),
      desc: hoc_s("maker_page.why.real_world.desc"),
    },
    {
      icon: "fa-solid fa-hands-clapping",
      heading: hoc_s("maker_page.why.inclusion.title"),
      desc: hoc_s("maker_page.why.inclusion.desc"),
    },
    {
      icon: "fa-solid fa-smile",
      heading: hoc_s("maker_page.why.social.title"),
      desc: hoc_s("maker_page.why.social.desc"),
    },
  ]

%ul.steps-list.three-col.no-margin-bottom
  - list_items.each do |list_item|
    %li
      .icon-wrapper
        %span
          %i{class: list_item[:icon]}
      %h3
        = list_item[:heading]
      %p{style: "margin-bottom: 1rem"}
        = list_item[:desc]
