= inline_css '/generated/maker-skinny-banner.css'
- header_text = 'New Maker offerings now available!'
- text = "Program devices that interact with the world"
- image_left = "/images/maker/maker-skinny-banner-img-left.svg"
- image_right = "/images/maker/maker-skinny-banner-img-right.svg"
- button_label = "Learn more"
- link_address = "/maker"

.maker-skinny-banner
  %a{href: link_address}
    .wrapper
      %img.left{src: image_left, alt: ""}
      .text-wrapper
        %h1= header_text
        %p= text
      .button-wrapper
        %button= button_label
      %img.right{src: image_right, alt: ""}
.clear
