.action-block__wrapper.action-block__wrapper--two-col
  .action-block.action-block--one-col
    %h3 Circuit Playground
    %img.no-margin-bottom{src: "/images/maker/maker-device-circuit-playground.png", alt: ""}
    %a.link-button{href: curriculum_link_cp, aria:{label: aria_label_cp}}
      #{button_label}
    %a.link-button.secondary{href: "/maker/circuitplayground"} Learn about Circuit Playground
  .action-block.action-block--one-col
    %h3 BBC micro:bit
    %img.no-margin-bottom{src: "/images/maker/maker-device-microbit.png", alt: ""}
    %a.link-button{href: curriculum_link_microbit, aria:{label: aria_label_microbit}}
      #{button_label}
    %a.link-button.secondary{href: "/maker/microbit"} Learn about micro:bit
