.action-block__wrapper.action-block__wrapper--three-col
  .action-block.action-block--one-col.flex-space-between
    .content-wrapper
      %p.overline Grades 6-12
      %h3 Creating Apps with Devices
      %img{src: "/images/maker/maker-curriculum-microbit.png", alt: "", style: "width: 100%"}
      %p Explore the role of physical devices in computing. Using App Lab and the BBC micro:bit, students develop programs that utilize the same hardware inputs and outputs that you see in the smart devices.
      %p <strong>Duration:</strong> 25 hours
    .content-footer
      %a.link-button{href: explore_unit_link, aria:{label: "Explore the Creating Apps with Devices unit"}} Explore the unit
  .action-block.action-block--one-col.flex-space-between
    .content-wrapper
      %p.overline Grades 2-5
      %h3 CS Fundamentals Extension Lessons
      %img{src: "/images/maker/maker-curriculum-csf-extensions.png", alt: "", style: "width: 100%"}
      %p Extension lessons using the micro:bit for classrooms that have completed CS Fundamentals Course C, D, E or F.
    .content-footer
      %a.link-button{href: extension_lessons_link, aria:{label: "Get extension lessons for CS Fundamentals"}} Get extension lessons
  .action-block.action-block--one-col.flex-space-between
    .content-wrapper
      %p.overline Teachers
      %h3 Teaching Creating Apps with Devices
      %img{src: "/images/maker/maker-curriculum-self-paced-pl.png", alt: "", style: "width: 100%"}
      %p Self-paced online professional learning experience designed to prepare educators to get started teaching the Creating Apps with Devices unit.
      %p <strong>Note:</strong> A micro:bit device is required to engage with the activities in this professional learning experience
    .content-footer
      %a.link-button{href: self_paced_pl_link, aria:{label: "Learn more about our self-paced professional learning experience using the micro:bit"}} Prepare to teach
