.action-block__wrapper.action-block__wrapper--two-col
  .action-block.action-block--one-col
    %h3 Circuit Playground
    %figure{style: "height: 200px"}
      %img{src: "/images/maker/circuitplayground-no-bg.gif", alt: "", style: "height: 100%"}
    %a.link-button{href: CDO.studio_url("/s/devices-2023?viewAs=Instructor"), aria:{label: "See available curriculum for Circuit Playground device"}} See available curriculum
    %a.link-button.secondary{href: "/circuitplayground"} Learn about Circuit Playground
  .action-block.action-block--one-col
    %h3 BBC micro:bit
    %figure{style: "height: 200px"}
      %img{src: "/images/maker/microbit.gif", alt: "", style: "height: 100%"}
    %a.link-button{href: CDO.studio_url("/s/devices-2023?viewAs=Instructor"), aria:{label: "See available curriculum for BBC micro:bit device"}} See available curriculum
    %a.link-button.secondary{href: "/microbit"} Learn about micro:bit
