.action-block__wrapper.action-block__wrapper--two-col
  .action-block.action-block--one-col
    %p.overline Grades 6-12
    %h3 Creating Apps with Devices
    %img{src: "/images/maker/maker-curriculum-microbit.png", alt: "", style: "width: 100%"}
    %p Explore the role of physical devices in computing. Using App Lab and the BBC micro:bit, students develop programs that utilize the same hardware inputs and outputs that you see in the smart devices.
    %p <strong>Duration:</strong> 25 hours
    %a.link-button{href: CDO.studio_url("/s/devices-2023?viewAs=Instructor"), aria:{label: "Explore the Creating Apps with Devices unit"}} Explore the unit
  .action-block.action-block--one-col
    %p.overline Grades 2-5
    %h3 CS Fundamentals Extension Lessons
    %img{src: "/images/maker/maker-curriculum-csf-extensions.png", alt: "", style: "width: 100%"}
    %p{style: "height: 120px"} Code.org has partnered with the Micro:bit Educational Foundation to offer teachers several resources on using the BBC micro:bit device as an extension to our CS Fundamentals curriculum
    %a.link-button{href: "/maker/csf-microbit", aria:{label: "Get extension lessons for CS Fundamentals"}} Get extension lessons
