.action-block__wrapper.action-block__wrapper--two-col
  .action-block.action-block--one-col.flex-space-between
    .content-wrapper
      %p.overline
        =hoc_s("maker_page.curricula_circuit_playground.creating_apps.overline")
      %h3
        =hoc_s("maker_page.curricula_circuit_playground.creating_apps.title")
      %figure.video-responsive
        %div
          %iframe{src: "https://www.youtube-nocookie.com/embed/9_Z1hvx22us", title: "Creating Apps with Devices", frameborder: "0", allowfullscreen: "true"}
      %p=hoc_s("maker_page.curricula_circuit_playground.creating_apps.desc")
      %p
        %strong=hoc_s(:module_label_duration)
        =hoc_s("maker_page.curricula_circuit_playground.creating_apps.duration")
    .content-footer
      %a.link-button{href: explore_unit_link, aria:{label: hoc_s("maker_page.curricula_circuit_playground.creating_apps.aria_label")}}
        =hoc_s("maker_page.curricula_circuit_playground.creating_apps.button")
  .action-block.action-block--one-col.flex-space-between
    .content-wrapper
      %p.overline
        =hoc_s("maker_page.curricula_circuit_playground.teach_creating_apps.overline")
      %h3
        =hoc_s("maker_page.curricula_circuit_playground.teach_creating_apps.title")
      %img{src: "/images/maker/maker-circuit-playground-teachers.png", alt: "", style: "width: 100%"}
      %p=hoc_s("maker_page.curricula_circuit_playground.teach_creating_apps.desc")
      %p=hoc_s("maker_page.curricula_circuit_playground.teach_creating_apps.note", markdown: :inline)
    .content-footer
      %a.link-button{href: teach_unit_link, aria:{label: hoc_s("maker_page.curricula_circuit_playground.teach_creating_apps.aria_label")}}
        =hoc_s("maker_page.curricula_circuit_playground.teach_creating_apps.button")
