#about_nav
  %span.about_list
    -current_url = request.path_info
    -{'Getting started'=>'/markdown',
      'Basic elements'=>'/markdown/basics',
      'Advanced elements'=>'/markdown/advanced',
      'More elements'=>'/markdown/more',
      'Multi-column templates'=>'/markdown/templates',
      'Editing process'=>'/markdown/process'}.each_pair do |label,url|
      - if current_url == url
        %span.about_list_item_selected= label
      -else
        %a.about_list_item{:href=>url}= label
      %hr.narrow_hr
