%link{href: "/css/tutorial-promo.css", rel: "stylesheet"}

:ruby
  mee_image = "/images/mc/fit-1940x620/mc_landing_2018.jpg"
  mee_title = "Minecraft AI for Good"
  mee_description1 = "The new Minecraft Hour of Code tutorial is now available in Minecraft: Education Edition for Windows, Mac, and iPad.  Explore basic coding and learn about AI with your students!"
  mee_description2 = "Access free resources including a guide to hosting Hour of Code, Computer Science lessons and curriculum, and teacher trainings."
  mee_link = "https://microsoft.com"

.tutorial-promo-container
  .img-container
    %img.background-img{src: mee_image}
  .col-50.specific-tutorial.right-tutorial{style: "right: 10px; top: 10px"}
    .tutorial-box
      %h2.specific-tutorial-heading= mee_title
      .tutorial-details{style: "height: initial"}
        %p.tutorial-description
          = mee_description1
        %p.tutorial-description
          = mee_description2
      %a{href: mee_link, target: '_self'}
        %button.tutorial-button{style: "background-color: grey; border-color: grey;"}
          = "Get Started"
  .clear
