%h3
  The
  %a{href: CDO.studio_url('/s/mc')} Minecraft Adventurer 
  tutorial is supported in the following languages
%ul
  - Languages.get_minecraft_adventurer_languages.each do |properties|
    - if properties[:minecraft_adventurer_b]
      %li= properties[:crowdin_name_s]
