%link{:href=>'/css/mobile-footer.css', :rel=>'stylesheet'}
%script{src: '/js/mobile-footer.js'}

%footer#pagefooter
  #footer-links
    %ul
      %li
        %a{:href=>'/privacy', :style=>'color: #ffa400;', :target=>'_blank'} Privacy Policy
      %li
        %a{:href=>'/about', :target=>'_blank'} About
      %li
        %a{href:resolve_url('/partners'), :target=>'_blank'} Partners
      %li
        %a{:href=>resolve_url('http://codeorg.tumblr.com'), :target=>'_blank'} Blog
      %li
        %a{:href=>resolve_url('/donate'), :target=>'_blank'} Donate
      %li
        %a{:href=>resolve_url('/shop'), :target=>'_blank'} Store
      %li
        %a{:href=>'http://support.code.org/', :target=>'_blank'} Support
      %li
        %a{:href=>resolve_url('/tos'), :target=>'_blank'} Terms

    #footer-toggle
      Code.org
      %i{:class=>'fa fa-chevron-up'}

  .social-language-box
    .language-dropdown
      =view :language

    .social-media
      %a.social-icon{:href=>'https://www.facebook.com/Code.org/', :target=>'_blank'}
        %i.fa.fa-facebook.fa-lg
        &nbsp; &nbsp;
      %a.social-icon{:href=>'https://twitter.com/codeorg', :target=>'_blank'}
        %i.fa.fa-twitter.fa-lg
        &nbsp; &nbsp;
      %a.social-icon{:href=>'https://www.instagram.com/codeorg/', :target=>'_blank'}
        %i.fa.fa-instagram.fa-lg
        &nbsp; &nbsp;
      %a.social-icon{:href=>'http://codeorg.tumblr.com', :target=>'_blank'}
        %i.fa.fa-tumblr.fa-lg

  #copyright
    !="&copy; Code.org, #{Time.now.year}. Code.org&reg;, the CODE logo and Hour of Code&reg; are trademarks of Code.org."
    %br
    Powered by Amazon Web Services
