%link{:href=>'/shared/css/hamburger.css', :rel=>'stylesheet'}

- cookie_key = '_user_type' + (rack_env == :production ? '' : "_#{rack_env.to_s}")
- user_type = request.cookies[cookie_key]
- user_type = "student" if user_type == "student_y"

#pageheader-wrapper
  - pageheader_class = request.path_info == '/' ? 'pageheader-translucent' : ''
  #pageheader{class: pageheader_class}
    .container_responsive
      #left
        %a{:href=>'/'}
          %img#logo{:src=>'/images/logo.png'}

      - if request.language == "en"
        = view :hamburger, user_type: user_type, level: nil, script_level: nil, language: request.language, show_gallery: false, loc_prefix: "header_"
