%link{:href=>'../public/css/mobile_header.css', :rel=>'stylesheet'}

#pageheader
  .container_responsive
    #left
      %a{:href=>'/'}
        %img#logo{:src=>'/images/logo.png'}

    #nav
      %ul.hide-responsive-menu
        %li
          %a{href:resolve_url('/student')} Learn
        %li
          %a{href:resolve_url('/educate')} Teach
        %li
          %a{href:resolve_url('/promote')} Stats
        %li
          %a{href:resolve_url('/help')} Help Us
        %li
          %a#about-more{href: "#"}
            About
            %b.caret
        %span.about-nav.hide-about
          %li
            %a{:href => "/about"} About Us
          %li
            %a{:href => "/about/leadership"} Leadership
          %li
            %a{:href => "/about/donors"} Donors
          %li
            %a{:href => "/about/partners"} Partners
          %li
            %a{:href => "/about/team"} Full Team
          %li
            %a{:href => "/about/news"} Newsroom
          %li
            %a{:href => "/about/evaluation"} Evaluation
          %li
            %a{:href => "/about/jobs"} Jobs
          %li
            %a{:href => "/contact"} Contact Us
          %li
            %a{:href => "/faq"} FAQs

      %a#nav-hamburger{href: "#"}
        %span

:javascript

  $(function() {

    $('#nav-hamburger').click(function(e){
        $('#nav ul').toggleClass('hide-responsive-menu');
        e.preventDefault();
    });

    $('#about-more').click(function(e){
        $('#nav ul span').toggleClass('hide-about');
        e.preventDefault();
    });

    $(document).click(function(e) {
      if(!$(e.target).closest('#nav').length) {
        $('#nav ul').addClass('hide-responsive-menu');
      }
    });

    document.querySelector( "#nav-hamburger" )
      .addEventListener( "click", function() {
      this.classList.toggle( "active" );
    });
  });
