-# an utra-simple mobile footer

%footer#pagefooter
  .content{:style=>'width:100%'}
    .left{:style=>'float:left'}
      &copy; Code.org, 2015
    .right{:style=>'float:right'}
      =view :language
      - if request.language == "en"
        %br
        %a.whitefooterlink{:href=>"/privacy", :style=>"color: #ffa400; text-transform: uppercase;"} Privacy Policy
