%link{:href=>'/shared/css/hamburger.css', :rel=>'stylesheet'}
%script{src: '/shared/js/hamburger.js'}

#pageheader-wrapper
  - pageheader_class = request.path_info == '/' ? 'pageheader-translucent' : ''
  #pageheader{class: pageheader_class}
    .container_responsive
      #left
        %a{:href=>'/'}
          %img#logo{:src=>'/images/logo.png'}

      = view :hamburger
