-# an utra-simple mobile footer

%footer#pagefooter
  .content{:style=>'width:100%'}
    .left{:style=>'float:left'}
      - if request.language == "en"
        %a.whitefooterlink{:href=>"/privacy", :style=>"color: #ffa400;"} Privacy Policy
      %br
      !="&copy; Code.org, #{Time.now.year}"
    .right{:style=>'float:right'}
      =view :language
