:ruby
  @header["title"] = I18n.t(:page_not_available_title)

%section{style: "margin-top: 4rem;"}
  .wrapper{style: "max-width: 500px; text-align: center; margin: 0 auto;"}
    %img{src: '/shared/images/sad-bee-avatar.png'}
    %h1= I18n.t(:page_not_available_title)
    %p.body-two= I18n.t(:page_not_available_description, support_email_link: 'mailto:support@code.org', markdown: :inline).html_safe
    %a.link-button{href: '/'}
      = I18n.t(:page_not_available_button)
