#about_nav
  %span.about_list
    -current_url = request.path_info
    -{ 'PD General Information'=>'/educate/pd3',  'Locations'=>'/educate/pd3/locations', 'Policies and Procedures'=>'/educate/pd3/policies', 'Program Supports'=>'/educate/pd3/supports', 'FAQs'=>'/educate/pd3/faq'}.each_pair do |label,url|
      - if current_url == url
        %span.about_list_item_selected= label
      -else
        %a.about_list_item{:href=>url}= label
      %hr.narrow_hr
