#about_nav
  %span.about_list
    -current_url = request.path_info
    -{ 'PD General Information'=>'/educate/pd', 'Policies and Procedures'=>'/educate/pd/policies', 'Program Supports'=>'/educate/pd/supports', 'FAQs'=>'/educate/pd/faq',  'Boston'=>'/educate/pd/boston', 'Charles County'=>'/educate/pd/charles', 'Chicago'=>'/educate/pd/chicago','Denver'=>'/educate/pd/denver','Fort Lauderdale'=>'/educate/pd/fortlauderdale', 'Montgomery County'=>'/educate/pd/moco', 'New York City'=>'/educate/pd/nyc', 'Seattle'=>'/educate/pd/seattle', 'Spokane'=>'/educate/pd/spokane'}.each_pair do |label,url|
      - if current_url == url
        %span.about_list_item_selected= label
      -else
        %a.about_list_item{:href=>url}= label
      %hr.narrow_hr
