.row#infobottom{style: "/*margin: 0 auto; width: 800px; */ font-weight: 400; font-size: 16px; color: #ea7717;"}
  .col-xs-6.col-sm-4{style: "text-align:center"}
    <div class="sotm-image pd3"></div></a> 
    %br/
    "My students are definitely excited to use the program each week and constantly ask about it." — CS in Algebra teacher, Chicago, IL
  .col-xs-6.col-sm-4{style: "text-align:center"}
    <div class="sotm-image pd2"></div></a> 
    %br/
    "It was helpful to have time to DO the coding, so I feel comfortable with it while teaching." - CS in Science teacher, Charles County, MD

  .col-xs-6.col-sm-4{style: "text-align:center"}
    <div class="sotm-image pd1"></div></a> 
    %br/
    "This Professional Development is probably the best one I have attended in my 8 years of teaching." — ECS teacher, Broward, FL


:css
  .sotm-image {
    display: inline-block;
    text-align: center;
    width: 180px;
    height: 180px;
    margin-top: 20px;
    border-radius: 120px;
  }

  .pd1 {background: url(/images/fit-245/pd1.jpg) 50% 0% no-repeat;}
  .pd2 {background: url(/images/fit-280/pd2.jpg) 30% 45% no-repeat;}
  .pd3 {background: url(/images/fit-280/pd3.jpg) 50% 20% no-repeat;}

