%script{:src=>"/js/petition.js"}
%link{:href=>"/css/petition.css", :rel=>"stylesheet"}

.greybox
  #form
    #petition_message=I18n.t :petition_message
    #petition_sign_message=I18n.t(:petition_sign_message).gsub("#", format_integer_with_commas(fetch_metrics['petition_signatures']).to_s)

    %form#petition_form{:onsubmit=>"return petition.signPetition()"}

      #email_error
        =I18n.t :enter_valid_email
      #age_error
        =I18n.t :enter_valid_age
      #no_error
        &nbsp;

      #fields
        .col-18
          %input#name.grey_input{:name=>"name_s", :placeholder=>I18n.t(:name), :type=>'text', :style=>''}
        .col-18
          %input#email.grey_input{:name=>"email_s", :placeholder=>I18n.t(:email), :type=>'email'}
          %div.desktop-feature=I18n.t :used_infrequent_updates
        .col-18
          %input#zip_code_or_country.grey_input{:name=>"zip_code_or_country_s", :placeholder=>I18n.t(:zipcode), :type=>'text'}
          %div.desktop-feature=I18n.t :enter_country
        .col-18
          %span
            =I18n.t :petition_age
            %select#age.dropdown{:name=>"age_i"}
              %option{value:0}= '-'
              -(1..100).each do |age|
                %option{value:age}= age
          %div.desktop-feature
            %a{href: '/privacy'}= I18n.t :privacy_practices_children
        .col-18
          %span
            =I18n.t :i_am_a
            %select.dropdown{:name=>"role_s"}
              %option{:value=>"other"}=I18n.t :participant_select
              %option{:value=>"student"}=I18n.t :participant_student
              %option{:value=>"parent"}=I18n.t :participant_parent
              %option{:value=>"educator"}=I18n.t :participant_educator
              %option{:value=>"engineer"}=I18n.t :participant_engineer
              %option{:value=>"other"}=I18n.t :participant_other
        .col-18.i-agree-button
          %button#gobutton.button_enabled=I18n.t :i_agree
