- if !!DCDO.get("curriculum-launch-2024", false)
  %link{href: "/css/generated/pl-curriculum-launch-skinny-banner.css", rel: "stylesheet"}

  %aside.pl-curriculum-launch-skinny-banner
    .wrapper.flex-container.justify-space-between.align-items-center.wrap
      .text-wrapper
        %h5.white
          =hoc_s('pl_curriculum_launch_skinny_banner_2024.title')
        %p.white.no-margin-bottom
          =hoc_s('pl_curriculum_launch_skinny_banner_2024.description')
      %img{src:"/images/marketing/banner-books.png", alt: ""}
      %a.link-button.white{href: CDO.code_org_url("/professional-learning/self-paced"), "aria-label": hoc_s('pl_curriculum_launch_skinny_banner_2024.call_to_action_aria_label')}
        =hoc_s('pl_curriculum_launch_skinny_banner_2024.call_to_action')
