.carousel-wrapper
  %swiper-container#mid-high-carousel{navigation: false, init: "false"}
    %swiper-slide
      %p.quote-text{style: "font-size: 1.25rem"}
        =hoc_s(:pl_middle_high_quotes_01)
      %p.no-margin-bottom AP® CSA Teacher <span>•</span> Nevada
    %swiper-slide
      %p.quote-text{style: "font-size: 1.25rem"}
        =hoc_s(:pl_middle_high_quotes_02)
      %p.no-margin-bottom CS Discoveries Teacher <span>•</span> Alaska
    %swiper-slide
      %p.quote-text{style: "font-size: 1.25rem"}
        =hoc_s(:pl_middle_high_quotes_03)
      %p.no-margin-bottom CS Principles Teacher <span>•</span> New Jersey

= view :swiper
