<style>
  details summary {
    cursor: pointer;
  }
  .clear-both {
    clear: both;
  }
  .teach-cs {
    background-color: #d9eff7;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
  }
  .teach-cs p {
    margin-bottom: 0px;
  }
</style>

# Give the Gift of Education: Nominate a Teacher for a Computer Science Scholarship

[col-50]

<img src="/images/fit-400/nominate3.jpg" class="responsive" width="100%" style="padding-right: 20px">

[/col-50]

[col-50]

<strong>Now for a limited time, if a teacher you nominate is accepted into the program, you’ll receive $10! See below the form for rules and eligibility.</strong>

Do you know a middle or high school teacher who loves learning? [Our workshops](https://code.org/educate/professional-learning/middle-high) will prepare teachers – even with no prior experience – to teach computer science (CS), to open opportunity for students. Code.org has prepared more than 100,000 educators to teach our courses, and they give our program rave reviews.

<br>

[teach-cs]

Are you interested in teaching computer science? [Apply directly!](/educate/professional-learning)

[/teach-cs]

[/col-50]

[clear-both]

[/clear-both]

Thanks to our generous [donors](https://code.org/about/donors), eligible middle and high school teachers can receive full scholarships and <strong>all</strong> teachers will learn about free resources to support their students. We welcome teachers from all subject areas – no CS experience needed!

Just fill out the form below, and let us know why this teacher would make a great CS teacher. We’ll let them know you nominated them and encourage them to apply!

(Note: <strong>You must be 13 years or older to fill out the form.</strong> Scholarship availability varies by region. Teachers need to [fill out an application](https://code.org/educate/professional-learning/middle-high) to be considered for both the program and any scholarships or discounts available in their region. Outside the US, the teacher prep course is online. All the classroom resources are <strong>completely free of charge</strong>.)


<br>

<div id="post_survey" style="display: none; background-color: #eee; padding: 20px; border-radius: 10px;">
  Thanks for nominating a teacher! We’ll let them know you nominated them and encourage them to apply!

  <p>
  <p>

  Learn more about our courses and professional learning opportunities at <a href="https://code.org/educate/">code.org/educate/</a>

  <p>

  <a href="https://code.org/nominate">Nominate another teacher!</a>

</div>

<% if variant == "nominate" %>

<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSek6wIk8IbDfmCN1DH3R0HMYOfjom439TjQNU4m_yLFyL9P5A/viewform?embedded=true" width="100%" frameborder="0" marginheight="0" marginwidth="0" height="350" onload="if (window.formLoaded) { $('html, body').animate({scrollTop: $('#post_survey').offset().top}, 1000); $('#post_survey').show(); $('#nomination_form').hide(); } else { window.formLoaded = true; }" id="nomination_form">Loading...</iframe>

<% end %>

<br>

<br>

<p style="text-align:center">Code.org (and these scholarships) are supported by:

<p style="text-align:center">[Amazon](https://www.amazon.com/), [Bill and Melinda Gates Foundation](https://www.gatesfoundation.org/), [Facebook](https://www.facebook.com/), [Google](https://www.google.com/), [Infosys Foundation USA](http://www.infosys.org/infosys-foundation-usa/), [Microsoft](https://www.microsoft.com/), [PwC](https://www.pwc.com/), [Vista Equity Partners](https://www.vistaequitypartners.com/)

<p style="text-align:center">[Accenture](https://www.accenture.com/us-en), [Bank of America] (https://www.bankofamerica.com/), [General Motors](https://www.gm.com/), [Motorola Solutions Foundation](https://www.motorolasolutions.com/en_us/about/company-overview/corporate-responsibility/motorola-solutions-foundation.html), [Northrop Grumman Corporation](http://www.northropgrumman.com/), [NortonLifeLock](https://www.nortonlifelock.com/), [Pluralsight One](https://www.pluralsightone.org/), [Salesforce.org](https://www.salesforce.org/), [Tanium](https://www.tanium.com/), [Tesla](https://www.tesla.com/), [Uber](https://www.uber.com/), [WhaleRock](https://www.whalerockcapital.com/login)

<p style="text-align:center">[See full list](about/donors)

<br>

<p style="text-align:left"><i>To be eligible for the $10 promotion, the teacher you nominate MUST apply as a result of your nomination and be accepted into Code.org’s Professional Development workshops for middle and high school teachers. The email address the nominator supplies for the nominated teacher must match the email address associated with the teacher application. Only the first nominator of an accepted teacher will receive the $10. Nominators are eligible to receive the $10 promotion for up to five teachers accepted into the program. Teachers who self-nominate, Code.org employees, and employees who work for Code.org Regional Partners are not eligible to receive the $10. Code.org facilitators who are not involved in the admission process are eligible for this promotion. The $10 will be distributed to eligible nominators after the program ends on May 1st, in the form of an Amazon gift code. All eligible nominators will be asked to verify their age at that time. This promotion begins on February 26th and will be in effect until 300 gift codes have been awarded or May 1st, whichever comes first.</i>

<br>

<p style="text-align:left"><i>Note: Any information you provide about the teacher you nominate will not be used for any purpose other than to notify the teacher about this opportunity. <strong>Neither the teacher nor you will be added to any newsletter lists, and neither your nor the teacher’s email address will be shared</strong>. Your email address will be deleted at the end of this campaign, as will the nominated teacher’s email information, unless the teacher has chosen to sign up for a Code.org account or other Code.org services.</i>

<br>

<br>
