#about_nav
  %span.about_list
    -current_url = request.path_info
    -{'Professional Learning Partner Home'=>'/educate/professional-learning-partner',
      'Apply to be a Partner'=>'/educate/professional-learning-partner/application',
      'Terms of Partnership'=>'/educate/professional-learning-partner/terms',
      'Where we have partners'=> '/educate/professional-learning-partner/partners',
      'FAQ'=>'/educate/professional-learning-partner/faq'}.each_pair do |label,url|
      - if current_url == url
        %span.about_list_item_selected= label
      -else
        %a.about_list_item{:href=>url}= label
      %hr.narrow_hr

