#about_nav
  %span.about_list
    -target_url = '/educate/professional-learning/cs-principles'
    -{'High School Courses'=>'/educate/curriculum/high-school',
      'About the Professional Learning Program'=>target_url+'#about',
      'How does it work?'=>target_url+'#components',
      'What are the commitments?'=>target_url+'#commitments',
      'Who can participate?'=>target_url+'#participate',
      'Where is it offered?'=>target_url+'#locations',
      'How to apply?'=>target_url+'#apply'}.each_pair do |label,url|
      - if target_url == url
        %span.about_list_item_selected= label
      -else
        %a.about_list_item{:href=>url}= label
      %hr.narrow_hr
