#about_nav
  %span.about_list
    -current_url = '/educate/professional-learning/cs-discoveries'
    -{'Middle School Courses'=>'/educate/curriculum/middle-school',
      'About the Professional Learning Program'=>'#about',
      'How does it work?'=>'#components',
      'What are the commitments?'=>'#commitments',
      'Who can participate?'=>'#participate',
      'Where is it offered?'=>'#locations',
      'How to apply?'=>'#apply'}.each_pair do |label,url|
      - if current_url == url
        %span.about_list_item_selected= label
      -else
        %a.about_list_item{:href=>url}= label
      %hr.narrow_hr
