%h2
  Where does Code.org have partners?

Each pin on the map below is a region where Code.org has a Regional Partner. Click on a pin for more information on the region served by the Regional Partner in that area.

%br
%br
%iframe{src: 'https://www.google.com/maps/d/embed?mid=10B94MrshL5Enu_StpSdozCXW9cw', width: '640', height: '480'}

