%h2
  Where does Code.org have partners?

Each shaded area on the map below is a region where Code.org has a Regional Partner. Click on a location for more information on the region and the Regional Partner who serves the area.

</br>
</br>
<iframe width="500" height="300" scrolling="no" frameborder="no" src="https://fusiontables.google.com/embedviz?q=select+col3+from+1Sj2myiJON8VZem5GMBcwhF4lL_CVNmgU4jji6bBZ+where+col2+in+(&#39;AL&#39;%2C+&#39;AZ&#39;%2C+&#39;CO&#39;%2C+&#39;GA&#39;%2C+&#39;IA&#39;%2C+&#39;ID&#39;%2C+&#39;IL&#39;%2C+&#39;IN&#39;%2C+&#39;KY&#39;%2C+&#39;ME&#39;%2C+&#39;MI&#39;%2C+&#39;MT&#39;%2C+&#39;NC&#39;%2C+&#39;NJ&#39;%2C+&#39;NV&#39;%2C+&#39;OH&#39;%2C+&#39;OK&#39;%2C+&#39;SC&#39;%2C+&#39;TN&#39;%2C+&#39;TX&#39;%2C+&#39;UT&#39;%2C+&#39;VA&#39;%2C+&#39;WI&#39;%2C+&#39;MD&#39;%2C+&#39;WA+W&#39;%2C+&#39;WA+E&#39;%2C+&#39;FL+RP&#39;%2C+&#39;CA+SRP&#39;%2C+&#39;CA+NRP&#39;%2C+&#39;NYC&#39;%2C+&#39;PA&#39;)&amp;viz=MAP&amp;h=false&amp;lat=38.447585191730624&amp;lng=-96.49869648437506&amp;t=1&amp;z=3&amp;l=col3&amp;y=8&amp;tmplt=34&amp;hml=KML"></iframe>

