%h2
  Where does Code.org have partners?

Click on a location for more information on the region and the Regional Partner who serves the area. New Regional Partners for the 2017-18 year are marked with magenta pins.

<br>
<br>
<br>
<iframe src="https://www.google.com/maps/d/embed?mid=1bFkMKId0Dd8DENoRghacB-3P5kw&hl=en" width="640" height="480"></iframe>

