%img{:src => "/images/professional-learning/plane.png", :width => "8%"}
&nbsp;
&nbsp;
%a#bottom-banner-csd.pl-2018-link{:href => "/educate/professional-learning/cs-discoveries"}
  %button Professional Learning for Grades 6-10
%a#bottom-banner-csp.pl-2018-link{:href => "/educate/professional-learning/cs-principles"}
  %button Professional Learning for Grades 9-12
