- use_sign_up_text ||= false
- link_suffix ||= nil
- style ||= nil
- data = {}
- data[:useSignUpText] = use_sign_up_text
- data[:nominated] = params[:nominated]
- data[:linkSuffix] = link_suffix
- data[:style] = style
- teacher_application_mode = DCDO.get("teacher_application_mode", CDO.default_teacher_application_mode)
- data[:teacherApplicationMode] = teacher_application_mode

-# Professional Learning is only available in the US
- if I18n.locale == :"en-US" && %w(open closing-soon).include?(teacher_application_mode)
  %script{src: webpack_asset_path('js/code.org/views/professional_learning_apply_banner.js'), data: {props: data.to_json}}

  #apply-banner-container
