:ruby
  if link_type == "csd"
    link_id = "middle-csd"
    link_class = "pl-2018-link"
    link_href = "/educate/professional-learning/cs-discoveries"
    link_text = "CS Discoveries (Grades 6-10)"
  elsif link_type == "csp"
    link_id = "middle-csp"
    link_class = "pl-2018-link"
    link_href = "/educate/professional-learning/cs-principles"
    link_text = "CS Principles (Grades 9-12)"
  end

%h3
  %a{id: link_id, class: link_class, href: link_href}= link_text
