- display_professional_learning_banners = false
- if request.locale == "en-US" && display_professional_learning_banners
  = inline_css 'professional_learning_marketing_banner.css'
  - header_text = hoc_s(:pl_superhero_title)
  - text = hoc_s(:pl_superhero_desc)
  - link_address = "/educate/professional-learning"
  - button_label = hoc_s(:call_to_action_learn_more)
  - large_image = "/images/homepage/superhero-banner.png"
  - half_image = "/images/homepage/superhero-banner-half-blue.png"

  .professional-learning-skinny-banner
    %a{href: link_address}
      .wrapper
        .text-wrapper
          %h1.heading-sm
            = header_text
          %p.no-margin-bottom
            = text
        .button-wrapper
          %button.white
            = button_label

  .clear
