- link = "/educate/professional-learning/program-information"
- link += "?nominated=true" if params[:nominated]

- buttons = capture_haml do
  %div
    %button{style: "margin-top: 29px; padding: 10px 40px 10px 40px; height: initial; margin-right: 30px; font-size: 18px;"}
      Apply Now

:css
  .bigbanner p { margin: 0px }

%div
  %a.linktag#pl-apply-banner{href: link}
    .bigbanner{style: "width: 100%; padding: 5px; background-color: #ebe8f1"}
      .col-50{style: "background-color: #7665a0; min-height: 100px;"}
        .arrowcontainer.desktop-feature{style: "float:left; width: 7%"}
          .arrow{style: "width: 0; height: 0; border-style: solid; border-width: 50px 0 50px 25px; border-color: transparent transparent transparent #ebe8f1"}
        .textcontainer{style: "float:left; width: 93%"}
          .text{style: "color: white;  font-size: 18px; padding: 20px 10px 20px 10px; text-align: center; line-height: 1.5"}
            - if params[:nominated]
              CONGRATULATIONS! You’ve been nominated for a scholarship!
            - else
              Professional learning deadlines fast approaching! Sign up now to reserve your seat
      .col-50{style: "background-color: #ebe8f1; color: white; height: 100px; font-size: 18px; text-align: center"}
        .desktop-feature{style: "float:left; width: 30%"}
          .arrowcontainer{style: "float:left"}
            .arrow{style: "width: 0; height: 0; border-style: solid; border-width: 50px 0 50px 25px; border-color: transparent transparent transparent #7665a0;"}
          .plane{style: "float:left; padding-top: 14px;"}
            %img{src: "/images/professional-learning/plane.png", style: "width:100px"}
        .desktop-feature{style: "float:left; width: 70%"}
          = buttons
        .mobile-feature{style: "float:left; width: 100%"}
          = buttons

      .clear{style: "clear: both"}
