- buttons = capture_haml do
  %div
    %a.pl-2018-link#banner-csd{href: "/educate/professional-learning/cs-discoveries"}
      %button
        Professional Learning for Grades 6-10
  %div
    %a.pl-2018-link#banner-csp{href: "/educate/professional-learning/cs-principles"}
      %button
        Professional Learning for Grades 9-12

.bigbanner{style: "width: 100%; padding: 5px; background-color: #ebe8f1"}
  .col-50{style: "background-color: #7665a0; height: 100px;"}
    .arrowcontainer.desktop-feature{style: "float:left; width: 7%"}
      .arrow{style: "width: 0; height: 0; border-style: solid; border-width: 50px 0 50px 25px; border-color: transparent transparent transparent #ebe8f1"}
    .textcontainer{style: "float:left; width: 93%"}
      .text{style: "color: white;  font-size: 18px; padding: 20px; text-align: center; line-height: 1.5"}
        SPOTS OPEN - 2018 Professional Learning for Middle and High School teachers
  .col-50{style: "background-color: #ebe8f1; color: white; height: 100px; font-size: 18px; text-align: center"}
    .desktop-feature{style: "float:left; width: 30%"}
      .arrowcontainer{style: "float:left"}
        .arrow{style: "width: 0; height: 0; border-style: solid; border-width: 50px 0 50px 25px; border-color: transparent transparent transparent #7665a0;"}
      .plane{style: "float:left; padding-top: 14px;"}
        %img{src: "/images/professional-learning/plane.png", style: "width:100px"}
    .desktop-feature{style: "float:left; width: 70%"}
      = buttons
    .mobile-feature{style: "float:left; width: 100%"}
      = buttons

  .clear{style: "clear: both"}
