#regional-partner-mini-contact-popup-link-container{"data-source-page-id" => "professional-development-workshops", "data-options" => {notes: "Please tell me more about the professional learning program!"}, "data-link-text" => "Contact my Regional Partner", "data-link-button" => "true"}

- js_locale = request.locale.to_s.downcase.tr('-', '_')
%script{src: webpack_asset_path("js/#{js_locale}/common_locale.js")}
%script{src: webpack_asset_path('js/regionalPartnerMiniContact.js')}

:javascript
  $(document).ready(function() {
    window.showRegionalPartnerMiniContactPopupLink();
  });
