.csa-page-projects
  .content-wrapper.flex-container.justify-space-between.align-items-center.wrap-reverse{style: "margin: 4rem 0"}
    .image-wrapper.col-45.flex-container.justify-space-between.align-items-center
      %img.rounded-corners{src: "/images/csa-projects-scene.gif", alt: ""}
      %img.rounded-corners{src: "/images/csa-projects-painter.gif", alt: ""}
    .text-wrapper.col-50{style: "float: right"}
      %h3=hoc_s(:heading_java_lab)
      %p=hoc_s(:csa_page_projects_java_lab)
      %a.link-button{href: CDO.studio_url("/s/csa1-2023/lessons/4/levels/1"), target: "_blank", rel: "noopener noreferrer"}
        =hoc_s(:call_to_action_try_java_lab)
  %hr
  .content-wrapper.flex-container.justify-space-between.align-items-center.wrap{style: "margin: 4rem 0"}
    .text-wrapper.col-50
      %h3=hoc_s(:heading_objects_first)
      %p=hoc_s(:csa_page_projects_objects_first)
      %a.link-button{href: "https://docs.google.com/document/d/1t7RbyhrgNM7xXNPiCq1g-lXSJvR2qbEA1fURYxfZ9N8/edit", target: "_blank", rel: "noopener noreferrer"}
        =hoc_s(:call_to_action_learn_about_approach)
    %figure.col-45
      %img.rounded-corners.has-border{src: "/images/csa-projects-objects-first.png", alt: "", style: "position: relative; width: 100%;"}
  %hr
  .content-wrapper.flex-container.justify-space-between.align-items-center.wrap-reverse{style: "margin: 4rem 0 2rem"}
    %figure.col-45
      %img.rounded-corners.has-border{src: "/images/csa-projects-choice-level.png", alt: "", style: "position: relative; width: 100%;"}
    .text-wrapper.col-50{style: "float: right"}
      %h3=hoc_s(:heading_choice_levels)
      %p=hoc_s(:csp_page_projects_choice_levels)
      %a.link-button{href: CDO.studio_url("/s/csa1-2023/lessons/5/levels/5"), target: "_blank", rel: "noopener noreferrer"}
        =hoc_s(:call_to_action_explore_choice_level)
