.csa-page-projects
  .content-wrapper.flex-container.justify-space-between.align-items-center.wrap-reverse{style: "margin: 4rem 0"}
    .text-wrapper.col-40{style: "float: right"}
      %h3=hoc_s(:csa_ai_page_article_title_1)
      %p=hoc_s(:csa_ai_page_article_description_1)
      %a.link-button{href: "https://docs.github.com/en/copilot/github-copilot-chat/about-github-copilot-chat", target: "_blank", rel: "noopener noreferrer"}
        =hoc_s(:csa_ai_page_article_link_1)
    .image-wrapper.col-50.flex-container.justify-space-between.align-items-center
      %img.rounded-corners.has-border{src: "/images/ai-pair-programmer.png", alt: ""}
  %hr
  .content-wrapper.flex-container.justify-space-between.align-items-center.wrap{style: "margin: 4rem 0"}
    %figure.col-50
      %img{src: "/images/build-ai-model.png", alt: "", style: "position: relative; width: 100%;"}
    .text-wrapper.col-40
      %h3=hoc_s(:csa_ai_page_article_title_2)
      %p=hoc_s(:csa_ai_page_article_description_2)
      %a.link-button{href: "https://studio.code.org/s/csa-software-engineering/lessons/6", target: "_blank", rel: "noopener noreferrer"}
        =hoc_s(:csa_ai_page_article_link_2)
  %hr
  .content-wrapper.flex-container.align-items-center.wrap-reverse{style: "margin: 4rem 0 2rem; gap: 1rem"}
    .text-wrapper.col-40{style: "float: right"}
      %h3=hoc_s(:csa_ai_page_article_title_3)
      %p=hoc_s(:csa_ai_page_article_description_3)
      %a.link-button{href: "https://github.com/jamjamgobambam/rockpaperscissors", target: "_blank", rel: "noopener noreferrer"}
        =hoc_s(:csa_ai_page_article_link_3)
    %figure.col-40.two-items{style: "display: flex; gap: 30px; align-items: center; justify-content: normal"}
      %img.rounded-corners{src: "/images/explore-computer-vision-1.png", alt: "", style: "position: relative; width: 100%; height: 100%;"}
      %img.rounded-corners{src: "/images/explore-computer-vision-2.png", alt: "", style: "position: relative; width: 100%; width: 40%;"}
