.csp-page-projects
  .content-wrapper.flex-container.justify-space-between.align-items-center.wrap-reverse{style: "margin: 4rem 0"}
    .image-wrapper.col-45.flex-container.justify-space-between.align-items-center
      %img.rounded-corners{src: "/images/csp-projects-apps-outfits.gif", alt: ""}
      %img.rounded-corners{src: "/images/csp-projects-apps-happy.gif", alt: ""}
      %img.rounded-corners{src: "/images/csp-projects-apps-codefeed.gif", alt: ""}
    .text-wrapper.col-50{style: "float: right"}
      %h3=hoc_s(:heading_build_apps)
      %p=hoc_s(:csp_page_projects_build_apps)
      %a.link-button{href: CDO.studio_url("/projects/applab/new"), target: "_blank", rel: "noopener noreferrer"}
        =hoc_s(:call_to_action_try_app_lab)
  %hr
  .content-wrapper.flex-container.justify-space-between.align-items-center.wrap{style: "margin: 4rem 0"}
    .text-wrapper.col-50
      %h3=hoc_s(:heading_widgets)
      %p=hoc_s(:csp_page_projects_widgets)
      %a.link-button{href: "/educate/csp/widgets", target: "_blank", rel: "noopener noreferrer"}
        =hoc_s(:call_to_action_explore_widgets)
    %figure.col-45
      %img.rounded-corners.has-border{src: "/images/csp-projects-widgets.gif", alt: "", style: "position: relative; width: 100%;"}
  %hr
  .content-wrapper.flex-container.justify-space-between.align-items-center.wrap-reverse{style: "margin: 4rem 0 2rem"}
    %figure.col-45
      %img.rounded-corners.has-border{src: "/images/csp-projects-choice-level.gif", alt: "", style: "position: relative; width: 100%;"}
    .text-wrapper.col-50{style: "float: right"}
      %h3=hoc_s(:heading_choice_levels)
      %p=hoc_s(:csp_page_projects_choice_levels)
      %a.link-button{href: CDO.studio_url("/s/csp4-2023/lessons/7/levels/1"), target: "_blank", rel: "noopener noreferrer"}
        =hoc_s(:call_to_action_explore_choice_level)
