
%link{:href=>"/css/promote.css", :rel=>"stylesheet"}

-DB[:cdo_promote_tools].where(section_s: section_name).each do |value|
  -url = value[:url_s]
  -if value[:title_s] == 'Convince your school or state' && ! state.nil_or_empty? && File.exists?(sites_dir("all/files/states/#{state}.pdf"))
    -url = "/files/states/#{state}.pdf"

  .promote-tools-resources
    #block.left
      %a{:href=>url, :target=>'_blank'}
        %i{:class=>"fa fa-file-#{value[:icon_s]}-o", :style => 'margin-bottom:10px;' }
      #text
      %a{:href=>url, :target=>'_blank'}
        =value[:title_s]
      %p
        =value[:description_t]
