-DB[:cdo_promote_tools].all.each do |value|
  -url = value[:url_s]
  -if value[:title_s] == 'Convince your school or state' && ! state.nil_or_empty? && File.exists?(sites_dir("all/files/states/#{state}.pdf"))
    -url = "/files/states/#{state}.pdf"

  #block{:style=>'width:25%; float:left; padding:30px; padding-top:0px; padding-bottom:0px'}
    %a{:href=>url, :target=>'_blank', :style=>'text-decoration:none'}
      %img{:src=>value[:image_url_s]}
    #text{:style=>'float:left; width:75%'}
    %br
    %br
    %a{:href=>url, :target=>'_blank'}
      =value[:title_s]
    %p{:style=>'font-size:13px; line-height:18px'}
      =value[:description_t]
