#about_nav
  %span.about_list
    -current_url = request.path_info
    -{'PLAYBOOK HOME'=>'/educate/regional-partner/playbook',
      'Administrator and Counselor PD'=>'/educate/regional-partner/playbook/administrator',
      'Advocacy'=>'/educate/regional-partner/playbook/advocacy',
      'Communications and Branding'=>'/educate/regional-partner/playbook/communications',
      'Community Building'=>'/educate/regional-partner/playbook/community',
      'Data'=>'/educate/regional-partner/playbook/data',
      'Facilitator Support'=>'/educate/regional-partner/playbook/facilitator-support',
      'Fundraising Resources'=>'/educate/regional-partner/playbook/funding',
      'Ordering Supplies'=>'/educate/regional-partner/playbook/ordering-supplies',
      'Partner Network'=>'/educate/regional-partner/playbook/directory',
      'Payment Information'=>'/educate/regional-partner/playbook/payments',
      'District & School Recruitment'=>'/educate/regional-partner/playbook/teacher-recruitment',
      'Teachers & Curriculum'=>'/educate/regional-partner/playbook/curriculum',
      'Training Materials'=>'/educate/regional-partner/playbook/training-materials',
      'Workshops & Professional Learning'=>'/educate/regional-partner/playbook/workshops-pl',
      'FAQ'=>'/educate/regional-partner/playbook/faq'}.each_pair do |label,url|
      - if current_url == url
        %span.about_list_item_selected= label
      -else
        %a.about_list_item{:href=>url}= label
      %hr.narrow_hr
