- js_locale = request.locale.to_s.downcase.tr('-', '_')
%script{src: webpack_asset_path("js/#{js_locale}/common_locale.js")}
%script{src: webpack_asset_path('js/code.org/views/regional_partner_search.js')}

:javascript
  window.pegasus = window.pegasus || {};
  window.pegasus.STUDIO_URL = "#{CDO.studio_url}";

#regional-partner-search{"data-source-page-id" => source_page_id}
