- link = "/educate/professional-learning/program-information"
- link += "?nominated=true" if params[:nominated]

- body = capture_haml do
  %p Generous scholarships or discounts are available across the country for the Code.org Professional Learning Program.
  %p
    %b Enter your school’s zip code to learn more.
  %form{action: "/educate/professional-learning/program-information", method: "get"}
    %span{style: "font-size:1.2em"} Zip:
    %input{type: "text", name: "zip", style: "padding:10px"}
    - if params[:nominated]
      %input{type: "text", name: "nominated", value: params[:nominated], hidden: "true"}
    %input{type: "submit", value: "Submit", style: "color:white; background-color:orange; padding:10px; font-size:1.2em"}

= view :course_wide_block, cta_link: link, img: CDO.code_org_url('/shared/images/banners/small-teal-icons.png'), title: 'Scholarships Available', description: body
