%div.flex-container.justify-space-between.align-items-center.wrap
  %figure.col-50
    %img.rounded-corners{src: "/images/resources-tabs-lesson-plan.gif", alt: "", style: "position: relative; width: 100%;"}
  .text-wrapper.col-45{style: "float: right"}
    %h3 Lesson Plans
    %p
      %strong
        Get step-by-step guidance, learning objectives, and assessment strategies for effective teaching.
    %p.body-two
      Helpful resources include slide decks, activity guides, rubrics, and more — all organized in one place. Each lesson plan is accompanied by tips for classroom implementation, differentiation ideas, and extension activities to cater to students of all abilities.
    %a.link-button{href: CDO.studio_url("/s/csd3-2023/lessons/1"), target: "_blank", rel: "noopener noreferrer"}
      Explore example lesson plan
