%div.flex-container.justify-space-between.align-items-center.wrap
  %figure.col-50
    %img.rounded-corners{src: "/images/resources-tabs-tools.png", alt: "", style: "position: relative; width: 100%;"}
  .text-wrapper.col-45{style: "float: right"}
    %h3 Programming Tools
    %p
      %strong
        Code.org's integrated development environments (IDEs) cater to students of all skill levels.
    %p.body-two
      We offer a versatile and user-friendly platform that supports a variety of programming paradigms. This enables learners to seamlessly transition from block-based coding to text-based languages, and fosters creativity and innovation.
    %a.link-button{href: CDO.studio_url("/projects/public"), target: "_blank", rel: "noopener noreferrer"}
      Try out programming tools
