%div.flex-container.justify-space-between.align-items-center.wrap
  %figure.col-50
    %img.rounded-corners{src: "/images/resources-tabs-assessments.png", alt: "", style: "position: relative; width: 100%;"}
  .text-wrapper.col-45{style: "float: right"}
    %h3 Assessments
    %p
      %strong
        Our curricula includes a comprehensive system of formative and summative assessment resources.
    %p.body-two
      These include rubrics, checklists, mini-projects, end-of-chapter projects, student-facing rubrics, sample projects, and post-project tests — all designed to support teachers in measuring student growth, providing feedback, and evaluating student understanding.
    %a.link-button{href: CDO.studio_url("/s/csd1-2023/lessons/8"), target: "_blank", rel: "noopener noreferrer"}
      Explore an assessment lesson
