:ruby
  resource_item = [
    {
      title: hoc_s(:call_to_action_explore_curriculum_catalog),
      image: "/images/tile-curriculum-catalog.png",
      desc: hoc_s(:curriculum_desc_catalog),
      url: CDO.studio_url("/catalog"),
      aria_label: hoc_s(:call_to_action_explore_curriculum_catalog)
    },
    {
      title: hoc_s(:facilitator_led_pl_heading),
      image: "/images/tile-facilitator-led-pl.png",
      desc: hoc_s(:facilitator_led_pl_desc),
      url: "/educate/professional-learning",
      aria_label: hoc_s(:aria_label_call_to_action_facilitator_pl)
    },
    {
      title: hoc_s(:self_paced_pl_heading),
      image: "/images/tile-self-paced-pl.png",
      desc: hoc_s(:self_paced_pl_desc),
      url: "/educate/professional-development-online",
      aria_label: hoc_s(:aria_label_call_to_action_self_paced_pl)
    },
  ]

%h2=hoc_s(:heading_resources_for_educators)
.action-block__wrapper.action-block__wrapper--three-col
  - resource_item.each do |resource_item|
    .action-block.action-block--one-col.flex-space-between
      .content-wrapper
        %h3
          = resource_item[:title]
        %img{src: resource_item[:image], alt: ""}
        %p
          = resource_item[:desc]
      .content-footer
        %a.link-button{href: resource_item[:url], aria:{label: "#{resource_item[:aria_label]}"}}
          =hoc_s(:call_to_action_learn_more)
