<style>
  details summary {
    cursor: pointer;
  }
  .clear-both {
    clear: both;
  }
  .teach-cs {
    background-color: #d9eff7;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
  }
  .teach-cs p {
    margin-bottom: 0px;
  }
</style>

# Have a story? Let us know!

[col-50]

<img src="/images/fit-400/teacherandstudents.jpg" class="responsive" width="100%" style="padding-right: 20px">

[/col-50]

[col-50]

Do you know a teacher who loves learning? [Our workshops](https://code.org/educate/professional-learning) will prepare teachers – even with no prior experience – to teach computer science (CS), to open opportunity for students. Code.org has prepared almost 100,000 educators to teach our courses, and they give our program rave reviews.

<br>

[teach-cs]

Are you interested in teaching computer science? [Apply directly!](/educate/professional-learning)

[/teach-cs]

[/col-50]

[clear-both]

[/clear-both]

<br>

The [Code.org course pathway](https://code.org/educate) ranges from kindergarten through high school, so you can nominate any teacher for a scholarship to participate in this wonderful program. Thanks to our generous [donors](https://code.org/about/donors), eligible teachers can receive full scholarships and <strong>all</strong> teachers will learn about free resources to support their students. We welcome teachers from all subject areas – no CS experience needed!

(Note: Scholarship availability varies by region. Outside the US, the teacher prep course is online. All the classroom resources are <strong>completely free of charge</strong>.)


<br>

<div id="post_survey" style="display: none; background-color: #eee; padding: 20px; border-radius: 10px;">
  Thanks for nominating a teacher! We’ll let them know you nominated them and our local partner will have your nomination when reviewing applications for scholarships and discounts.

  <p>
  <p>

  Learn more about our courses and professional learning opportunities at <a href="https://code.org/educate/">code.org/educate/</a>

  <p>

  <a href="https://code.org/nominate">Nominate another teacher!</a>

</div>

<% if variant == "nominate" %>

<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfNIWV_wA82ZBoBy9beAbba8sWHf228o0wVPoqV3AqHXOmrHw/viewform?embedded=true" width="100%" frameborder="0" marginheight="0" marginwidth="0" height="800" onload="if (window.formLoaded) { $('html, body').animate({scrollTop: $('#post_survey').offset().top}, 1000); $('#post_survey').show(); $('#nomination_form').hide(); } else { window.formLoaded = true; }" id="nomination_form">Loading...</iframe>

<% end %>

<% if variant == "recommend" %>

<iframe src="https://docs.google.com/forms/d/e/1FAIpQLScHTxkXeN2NViw-rRGnJKJTdsZLa1sbIwX6WjZmjJxuT4Vl_g/viewform?embedded=true" width="100%" frameborder="0" marginheight="0" marginwidth="0" height="1645" onload="if (window.formLoaded) { $('html, body').animate({scrollTop: $('#post_survey').offset().top}, 1000); $('#post_survey').show(); $('#nomination_form').hide(); } else { window.formLoaded = true; }" id="nomination_form">Loading...</iframe>

<% end %>

<br>

<br>

<p style="text-align:center"><i>Note: Where information will be shared.</i>

<br>

<br>
