-gplus ||= nil

= view 'popup_window.js'

:ruby
  cookie_key = environment_specific_cookie_name '_user_type'
  user_type = request.cookies[cookie_key]

:css
  .share-buttons {
    display: flex;
    justify-content: start;
    gap: 1rem;

    @media (max-width: 640px) {
      flex-wrap: wrap;

      & a {
        margin: 0;
      }
    }
  }

- unless user_type == "student_y"
  .share-buttons
    -if facebook
      %a.link-button.secondary.small.window-popup.share-button-facebook{href: "https://www.facebook.com/sharer/sharer.php?#{facebook.to_query}"}
        %i{class: "fa-brands fa-facebook"}
        =I18n.t(:share_on_facebook)
    -if twitter
      %a.link-button.secondary.small.window-popup.share-button-twitter{href: "https://twitter.com/intent/tweet?#{twitter.to_query}"}
        %i{class: "fa-brands fa-twitter"}
        =I18n.t(:share_on_twitter)
    -download_url ||= nil
    -unless download_url.nil_or_empty?
      %a.link-button.secondary.small.desktop-feature{href: download_url}
        %img{src: "/images/download.png", width: "35px"}
