<style>
  details summary {
    cursor: pointer;
  }
  .clear-both {
    clear: both;
  }
  .teach-cs {
    background-color: #d9eff7;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
  }
  .teach-cs p {
    margin-bottom: 0px;
  }
</style>

# Have a story? Let us know!

[col-50]

<img src="/images/oakland-hs-mcclymonds-smile.jpg" class="responsive" width="100%" style="padding-right: 20px">

[/col-50]

[col-50]

There is incredible momentum in computer science education movement, and the community is much larger than Code.org. We want to help celebrate and highlight the work of everyone in our community!

We want to uncover stories of how computer science is impacting teachers, teaching methods, communities, schools, and especially students. Or, maybe you have cool computer science-related news happening in your school district, classroom, organization, or community.

If you have something exciting to share, send it to us in the form below. If you have social media post or news article, drop a link in the form. We may feature you or part of your story on the Code.org blog or social media channels. You can also always email stories@code.org if you’d like to include photos, videos or PDFs with your story.

[/col-50]

<p>

<center><h2>We’ve shared more than 150 stories from members of the CS community this year.</h2></center>

<p>

<br>

<div id="post_survey" style="display: none; background-color: #eee; padding: 20px; border-radius: 10px;">
  Thanks for sharing your feedback! We may feature you or part of your story on the Code.org blog or social media channels. You can also always email stories@code.org if you’d like to include photos, videos or PDFs with your story.

  <p>
  <p>

  You can see other stories we've shared on <a href="https://medium.com/@codeorg">our Medium page.</a>

  <p>

  <a href="https://code.org/news/share-story">Share another story!</a>

</div>

<% if variant == "nominate" %>

<div class="educate-callout-box" style="width: 100%; background-color: #cfc9de; border-radius: 10px; height: 1800px; padding-top: 25px;"><iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfNIWV_wA82ZBoBy9beAbba8sWHf228o0wVPoqV3AqHXOmrHw/viewform?embedded=true" frameborder="0" width=100% marginheight="0" marginwidth="0" height="1800" onload="if (window.formLoaded) { $('html, body').animate({scrollTop: $('#post_survey').offset().top}, 1000); $('#post_survey').show(); $('#nomination_form').hide(); } else { window.formLoaded = true; }" id="nomination_form">Loading...</iframe></div>

<% end %>

<br>
