:ruby
  # Renders a dashboard-account sign-in/user button inline into Pegasus pages.

  # Use a single 'user_type' cookie to render the button details.
  cookie_key = '_user_type' + (rack_env == :production ? '' : "_#{rack_env.to_s}")
  user_type = request.cookies[cookie_key]
  user_type = "student" if user_type == "student_y"

  # Stub a 'User' model to pass to the shared partial, if usertype is provided.
  # Pass nil for anonymous users.
  sign_in_user = user_type && OpenStruct.new(
    id: nil,
    short_name: I18n.t("dashboard_#{user_type}"),
    can_pair?: false
  )

  user_header_options = {}
  user_header_options[:current_user] = sign_in_user
  user_header_options[:show_pairing_dialog] = false
  user_header_options[:loc_prefix] = 'user_header_'
=view :user_header, user_header_options
