- facebook ||= nil
- twitter ||= nil
- instagram ||= nil
- tiktok ||= nil

:css
  .flex-container {
    display: flex;
    gap: 1.25rem;
  }

.flex-container
  - unless facebook.nil?
    %a{href: "https://www.facebook.com/#{facebook}", target: "_blank"}
      %i.fa.fa-facebook.fa-lg
  - unless twitter.nil?
    %a{href: "https://twitter.com/#{twitter}", target: "_blank"}
      %i.fa.fa-twitter.fa-lg
  - unless instagram.nil?
    %a{href: "https://www.instagram.com/#{instagram}", target: "_blank"}
      %i.fa.fa-instagram.fa-lg
  - unless tiktok.nil?
    %a{href: "https://www.tiktok.com/@#{tiktok}", target: "_blank"}
      %i.fa-brands.fa-tiktok.fa-lg
