.row#infobottom{style: "/*margin: 0 auto; width: 800px; */ font-weight: 400; font-size: 16px; color: #ea7717;"}
  .col-xs-6.col-sm-4{style: "text-align:center"}
    <a href="http://blog.code.org/post/121850318068/sotw30"><div class="sotm-image sotm32"></div></a> 
    %br/
    "It makes it easier when you work with other people." — Sam
  .col-xs-6.col-sm-4{style: "text-align:center"}
    <a href="http://blog.code.org/post/119947947338/sotm31"><div class="sotm-image sotm31"></div></a> 
    %br/
    "My favorite thing about it is when I finish coding and see the animation on the screen." — Ysatis

  .col-xs-6.col-sm-4{style: "text-align:center"}
    <a href="http://blog.code.org/post/117719624978/sotm30"><div class="sotm-image sotm30"></div></a> 
    %br/
    "My dream is to develop technology that can provide senses to those that do not have them." — Isaac


:css
  .sotm-image {
    display: inline-block;
    text-align: center;
    width: 180px;
    height: 180px;
    margin-top: 20px;
    border-radius: 120px;
  }

  .sotm32 {background: url(/images/fit-245/sotm32.jpg) 60% 25% no-repeat;}
  .sotm31 {background: url(/images/fit-280/sotm31.jpg) 0% 0% no-repeat;}
  .sotm30 {background: url(/images/fit-280/sotm30.jpg) 50% 40% no-repeat;}

