#sotm-winners
  %figure
    %img{:src=>"/images/fit-120/jc-page.jpg"}
    %figcaption JC <br/> 4th grade, Wilmington, NC
  
  %figure
    %img{:src=>"/images/fit-120/nadia-crawford.jpg"}
    %figcaption Nadia <br/> 4th grade, Yardley, PA
  
  %figure
    %img{:src=>"/images/fit-120/nikki-bregman.jpg"}
    %figcaption Nishanth <br/> 11th grade, San Ramon, CA
  
  %figure
    %img{:src=>"/images/fit-120/nishanth-salinamakki.jpg"}
    %figcaption Nikki <br/> 10th grade, Charleston, SC
  
:css
  #sotm-winners figure {
    display: inline-block;
    text-align: center;
    width: 180px;
    margin-top: 20px;
  }

  #sotm-winners img {
    margin-bottom: 5px;
  }

  #sotm-winners figcaption {
    font-size: 13.4px;
  }