.row#infobottom{style: "/*margin: 0 auto; width: 800px; */ font-weight: 400; font-size: 16px; color: #ea7717;"}
  
  .col-xs-6.col-sm-4{style: "text-align:center"}
    <a href="http://blog.code.org/post/117719624978/sotm30"><div class="sotm-image sotm30"></div></a>
    %br/
    "My dream is to develop technology that can provide senses to those that do not have them." — Isaac

  .col-xs-6.col-sm-4{style: "text-align:center"}
    <a href="http://blog.code.org/post/114154520598/sotw29"><div class="sotm-image sotw29"></div></a>
    %br/
    "I have been thinking about creating an eco-friendly robot." — JC

  .hidden-xs.col-sm-4{style: "text-align:center"}
    <a href="http://blog.code.org/post/112525708808/sotw28"><div class="sotm-image sotw28"></div></a>
    %br/
    "When I made my first program, I said to myself, 'Wow, look what I created, I can actually do this.'" — Nadia

:css
  .sotm-image {
    display: inline-block;
    text-align: center;
    width: 180px;
    height: 180px;
    margin-top: 20px;
    border-radius: 120px;
  }

  .sotm30 {background: url(/images/fit-280/sotm30.jpg) 50% 40% no-repeat;}
  .sotw29 {background: url(/images/fit-280/sotw29.jpg) 30% 10% no-repeat;}
  .sotw28 {background: url(/images/fit-280/sotw28.jpg) 74% 50% no-repeat;}
  