.row#infobottom{style: "/*margin: 0 auto; width: 800px; */ font-weight: 400; font-size: 16px; color: #ea7717;"}
  .col-xs-6.col-sm-4{style: "text-align:center"}
    %img{src: "/images/sotw29.jpg", style: "width: 240px"}
    %br/
    I have been thinking about creating an eco-friendly robot.

  .col-xs-6.col-sm-4{style: "text-align:center"}
    %img{src: "/images/sotw28.jpg", style: "width: 240px"}
    %br/
    When I made my first program, I said to myself, “Wow, look what I created, I can actually do this.”
  .hidden-xs.col-sm-4{style: "text-align:center"}
    %img{src: "/images/sotw27.jpg", style: "width: 240px"}
    %br/
    Computer Science is the only thing so far that has actually given me a sense of purpose.