.row#infobottom{style: "/*margin: 0 auto; width: 800px; */ font-weight: 400; font-size: 16px; color: #ea7717;"}
  .col-xs-6.col-sm-4{style: "text-align:center"}
    <a href="http://blog.code.org/post/143056651237/sotm35"><div class="sotm-image sotm35"></div></a> 
    %br/
    "Because of coding I can make something I'm passionate about." — Lauren
  .col-xs-6.col-sm-4{style: "text-align:center"}
    <a href="http://blog.code.org/post/140856182748/sotm34"><div class="sotm-image sotm34"></div></a> 
    %br/
    "Even when I'm stuck, I know I can find a way to make the code work." — Amy
  .col-xs-6.col-sm-4{style: "text-align:center"}
    <a href="http://blog.code.org/post/131712468193/stom33"><div class="sotm-image sotm33"></div></a> 
    %br/
    "Computer science builds on your strengths." — Columbus


:css
  .sotm-image {
    display: inline-block;
    text-align: center;
    width: 180px;
    height: 180px;
    margin-top: 20px;
    border-radius: 120px;
  }

  .sotm35 {background: url(/images/fit-245/sotm35.jpg) 60% 25% no-repeat;}
  .sotm34 {background: url(/images/fit-280/sotm34.jpg) 10% 0% no-repeat;}
  .sotm33 {background: url(/images/fit-245/sotm33.jpg) 60% 15% no-repeat;}
