.row#infobottom{style: "/*margin: 0 auto; width: 800px; */ font-weight: 400; font-size: 16px; color: #ea7717;"}
  
  .col-xs-6.col-sm-4{style: "text-align:center"}
    <a href="http://blog.code.org/post/114154520598/sotw29"><div class="sotm-image sotw29"></div></a>
    %br/
    "I have been thinking about creating an eco-friendly robot." — JC

  .col-xs-6.col-sm-4{style: "text-align:center"}
    <a href="http://blog.code.org/post/112525708808/sotw28"><div class="sotm-image sotw28"></div></a>
    %br/
    "When I made my first program, I said to myself, 'Wow, look what I created, I can actually do this.'" — Nadia

  .hidden-xs.col-sm-4{style: "text-align:center"}
    <a href="http://blog.code.org/post/111481781993/sotw27"><div class="sotm-image sotw27"></div></a>
    %br/
    "Computer science is the only thing so far that has actually given me a sense of purpose." — Nishanth

:css
  .sotm-image {
    display: inline-block;
    text-align: center;
    width: 180px;
    height: 180px;
    margin-top: 20px;
    border-radius: 120px;
  }

  .sotw29 {background: url(/images/fit-280/sotw29.jpg) 30% 10% no-repeat;}
  .sotw28 {background: url(/images/fit-280/sotw28.jpg) 74% 50% no-repeat;}
  .sotw27 {background: url(/images/fit-280/sotw27.jpg) 50% 50% no-repeat;}