#sotm-winners
  %figure
    <a href="http://blog.code.org/post/114154520598/sotw29"><div class="sotm-image sotw29"></div></a>
    JC, 4th grade<br />Wilmington, NC

  %figure
    <a href="http://blog.code.org/post/112525708808/sotw28"><div class="sotm-image sotw28"></div></a>
    Nadia, 4th grade<br />Yardley, PA

  %figure
    <a href="http://blog.code.org/post/111481781993/sotw27"><div class="sotm-image sotw27"></div></a>
    Nishanth, 11th grade<br />San Ramon, CA

  %figure
    <a href="http://blog.code.org/post/110291421258/sotw26"><div class="sotm-image sotw26"></div></a>
    Nikki, 10th grade<br />Charleston, SC

  %figure
    <a href="http://blog.code.org/post/109514069813/sotw25"><div class="sotm-image sotw25"></div></a>
    Maxeen, 10th grade<br />Charleston, SC

  %figure
    <a href="http://blog.code.org/post/108836545868/sotw24"><div class="sotm-image sotw24"></div></a>
    Spencer, 12th grade<br />Clayton, OH

  %figure
    <a href="http://blog.code.org/post/101932717833/sotw23"><div class="sotm-image sotw23"></div></a>
    Tyler, Grade 9<br />Stow, Ohio

  %figure
    <a href="http://blog.code.org/post/100268410698/sotw22"><div class="sotm-image sotw22"></div></a>
    Luna, 11th Grade<br />New York, NY

  %figure
    <a href="http://blog.code.org/post/97828511078/sotw21"><div class="sotm-image sotw21"></div></a>
    Lauren, 10th grade<br />Beachwood, OH

  %figure
    <a href="http://codeorg.tumblr.com/post/96102625248/sotw20"><div class="sotm-image sotw20"></div></a>
    Paulina, 9th grade<br />Mansfield, MA

  %figure
    <a href="http://codeorg.tumblr.com/post/95389174313/sotw19"><div class="sotm-image sotw19"></div></a>
    Djassi, 11th grade<br />New York, NY

  %figure
    <a href="http://codeorg.tumblr.com/post/94192118883/sotw18"><div class="sotm-image sotw18"></div></a>
    Courtney, 11th grade<br />Harrisburg, PA

  %figure
    <a href="http://codeorg.tumblr.com/post/92848143393/sotw17"><div class="sotm-image sotw17"></div></a>
    Nikolas, 11th grade<br />New York, NY

  %figure
    <a href="http://codeorg.tumblr.com/post/92145747203/sotw16"><div class="sotm-image sotw16"></div></a>
    Peter, 11th grade<br />Bend, OR

  %figure
    <a href="http://codeorg.tumblr.com/post/91469829263/sotw15"><div class="sotm-image sotw15"></div></a>
    Danielle, 5th grade<br />Melbourne, FL

  %figure
    <a href="http://codeorg.tumblr.com/post/90098194043/sotw14"><div class="sotm-image sotw14"></div></a>
    Semira, 6th grade<br />Tacoma, WA

  %figure
    <a href="http://codeorg.tumblr.com/post/89385292873/sotw12"><div class="sotm-image sotw13"></div></a>
    Fiona, 6th grade<br />Tacoma, WA

  %figure
    <a href="http://codeorg.tumblr.com/post/88676547818/sotw12"><div class="sotm-image sotw12"></div></a>
    Tejas, 9th grade<br />Brentwood, TN

  %figure
    <a href="http://codeorg.tumblr.com/post/88006093183/sotw11"><div class="sotm-image sotw11"></div></a>
    Gili, 11th grade<br />Albany, NY

  %figure
    <a href="http://blog.code.org/post/86624929823/sotw10"><div class="sotm-image sotw10"></div></a>
    Elan, 12th grade<br />Alvin, TX

  %figure
    <a href="http://codeorg.tumblr.com/post/85935883173/sotw9"><div class="sotm-image sotw9"></div></a>
    Michael, 12th grade<br />Miami, FL

  %figure
    <a href="http://codeorg.tumblr.com/post/85245168653/sotw8"><div class="sotm-image sotw8"></div></a>
    Megan, 6th grade<br />Rowlett, TX

  %figure
    <a href="http://codeorg.tumblr.com/post/84543970908/sotw7"><div class="sotm-image sotw7"></div></a>
    Jared, 12th grade<br />Fennimore, WI

  %figure
    <a href="http://codeorg.tumblr.com/post/83841380493/sotw6"><div class="sotm-image sotw6"></div></a>
    Natalie, 11th grade<br />Waunakee WI

  %figure
    <a href="http://codeorg.tumblr.com/post/83005221286/sotw5"><div class="sotm-image sotw5"></div></a>
    Alex, 3rd grade<br />Phoeniz, AZ

  %figure
    <a href="http://codeorg.tumblr.com/post/82392567045/sotw4"><div class="sotm-image sotw4"></div></a>
    Milena, 7th grade<br />Chicago, IL

  %figure
    <a href="http://codeorg.tumblr.com/post/81593199113/sotw3"><div class="sotm-image sotw3"></div></a>
    Mimi, 4th grade<br />Houston, TX

  %figure
    <a href="http://codeorg.tumblr.com/post/80891043398/sotw2"><div class="sotm-image sotw2"></div></a>
    Alec, 10th grade<br />Tolland, CT

  %figure
    <a href="http://codeorg.tumblr.com/post/80181911110/sotw1"><div class="sotm-image sotw1"></div></a>
    Akila, 12th grade<br />Langley, VA
  
:css
  #sotm-winners figure {
    display: inline-block;
    text-align: center;
    width: 180px;
    margin-top: 20px;
  }

  .sotw1 {background: url(/images/fit-180/sotw1.jpg) 50% 50% no-repeat;}
  .sotw2 {background: url(/images/fit-180/sotw2.jpg) 50% 50% no-repeat;}
  .sotw3 {background: url(/images/fit-180/sotw3.jpg) 50% 50% no-repeat;}
  .sotw4 {background: url(/images/fit-180/sotw4.jpg) 50% 50% no-repeat;}
  .sotw5 {background: url(/images/fit-180/sotw5.jpg) 50% 50% no-repeat;}
  .sotw6 {background: url(/images/fit-180/sotw6.jpg) 50% 50% no-repeat;}
  .sotw7 {background: url(/images/fit-180/sotw7.jpg) 50% 50% no-repeat;}
  .sotw8 {background: url(/images/fit-180/sotw8.jpg) 50% 50% no-repeat;}
  .sotw9 {background: url(/images/fit-180/sotw9.jpg) 50% 50% no-repeat;}
  .sotw10 {background: url(/images/fit-180/sotw10.jpg) 50% 50% no-repeat;}
  .sotw11 {background: url(/images/fit-180/sotw11.jpg) 50% 50% no-repeat;}
  .sotw12 {background: url(/images/fit-180/sotw12.jpg) 50% 50% no-repeat;}
  .sotw13 {background: url(/images/fit-180/sotw13.jpg) 50% 50% no-repeat;}
  .sotw14 {background: url(/images/fit-180/sotw14.jpg) 50% 50% no-repeat;}
  .sotw15 {background: url(/images/fit-180/sotw15.jpg) 50% 50% no-repeat;}
  .sotw16 {background: url(/images/fit-180/sotw16.jpg) 50% 50% no-repeat;}
  .sotw17 {background: url(/images/fit-180/sotw17.jpg) 50% 50% no-repeat;}
  .sotw18 {background: url(/images/fit-180/sotw18.jpg) 50% 50% no-repeat;}
  .sotw19 {background: url(/images/fit-180/sotw19.jpg) 50% 50% no-repeat;}
  .sotw20 {background: url(/images/fit-180/sotw20.jpg) 50% 50% no-repeat;}
  .sotw21 {background: url(/images/fit-180/sotw21.jpg) 50% 50% no-repeat;}
  .sotw22 {background: url(/images/fit-180/sotw22.jpg) 50% 50% no-repeat;}
  .sotw23 {background: url(/images/fit-180/sotw23.jpg) 50% 50% no-repeat;}
  .sotw24 {background: url(/images/fit-180/sotw24.jpg) 50% 50% no-repeat;}
  .sotw25 {background: url(/images/fit-180/sotw25.jpg) 50% 50% no-repeat;}
  .sotw26 {background: url(/images/fit-180/sotw26.jpg) 50% 50% no-repeat;}
  .sotw27 {background: url(/images/fit-180/sotw27.jpg) 50% 50% no-repeat;}
  .sotw28 {background: url(/images/fit-180/sotw28.jpg) 50% 50% no-repeat;}
  .sotw29 {background: url(/images/fit-180/sotw29.jpg) 50% 50% no-repeat;}

  #sotm-winners .sotm-image {
    margin-bottom: 5px;
    width: 120px;
    height: 120px;
    margin-left: 30px;
  }

  #sotm-winners figcaption {
    font-size: 13.4px;
  }
