<div class="col-25 col-rtl-right" style="padding: 10px">
  <a href="%url%" style="font-family: 'Gotham 4r', sans-serif; color: black; text-decoration: none">
    <div style="border: 2px solid rgb(187, 187, 187); border-radius: 10px; height: 240px; overflow: hidden">
      <div style="font-size: 16px; line-height: 1.5; padding: 5px 5px 0px 5px; background-color: %color%; color: white; text-align: center">
        %title%
      </div>
      <div style="width: 100%; overflow: hidden; text-align: center">
        <img src="%image%"/>
      </div>
    </div>
  </a>
</div>
