%h2 
  %a{href: CDO.studio_url('/s/starwarsblocks')} The Starwars tutorial is supported in the following languages
%ul
  - Languages.get_starwars_languages.each do |properties|
    - if properties[:starwars_b] == true
      %li.bullet= properties[:crowdin_name_s]

