%h2{style: "text-align:center"} Incredible statistics about the Hour of Code

.row#infotop{style: "font-weight: 500; font-size: 16px; color: rgb(26, 172, 186);"}
  .col-xs-6.col-sm-4{style: "text-align:center;"}
    %p Students are learning in 40 languages
    %img{src: "/images/stats-languages.jpg", style: "width: 100%;"}

  .col-xs-6.col-sm-4{style: "text-align:center"}
    %p Over 100M students have tried an Hour of Code
    %img{src: "/images/stats-map.png", style: "width: 100%;"}

  .hidden-xs.col-sm-4{style: "text-align:center"}
    %p More girls tried computer science than in the last 70 years
    %img{src: "/images/stats-girls.jpg", style: "width: 100%;"}

.row#testimonials{style: "font-weight: 500; font-size: 16px; color: rgb(26, 172, 186); margin-top: 20px;"}
  .col-sm-3{style: "text-align:center; margin-left: 70px;"}
    %img{src: "/images/fit-150/stats-kid2.jpg"}
    %p{style: "margin-top: 10px;"}
      "Every single day yielded the same results &mdash;
      %strong 100% engagement."
      &mdash;Nina Nichols Peery, Teacher
  .col-sm-3{style: "text-align:center; margin-left: 50px;"}
    %img{src: "/images/fit-150/stats-kid1.jpg"}
    %p{style: "margin-top: 10px;"}
      "I knew this was a
      %strong once-in-a-life-time
      chance" &mdash;Mariana Alzate, 5th grader
  .col-sm-3{style: "text-align:center; margin-left: 50px;"}
    %img{src: "/images/fit-150/stats-kid3.jpg"}
    %p{style: "margin-top: 10px;"}
      "I have
      %strong never, ever
      seen my students so excited about learning." &mdash;Michael Clark, Teacher
