-statistics = DB[:cdo_cs_statistics].all.to_a
-facebook = {:u=>'http://code.org/stats'}
-twitter = {:url=>"https://#{request.site}/promote", :related=>'codeorg', :text=>"Most schools don't teach computer science. To help, sign the petition. (Thanks #{PegasusCdoDonor.get_random_donor_twitter} for supporting @codeorg)"}

.carousel-wrapper
  %swiper-container.swiper-01{navigation: "true", "navigation-next-el": ".nav-next-01", "navigation-prev-el": ".nav-prev-01", pagination: "true", init: "false"}
    -statistics.each do |statistic|
      %swiper-slide
        %figure{style: "width:100%"}
          %img{src: "/images/cs-stats/#{statistic[:code_s]}.png", style: "width:100%"}

  %button.swiper-nav-prev.nav-prev-01
  %button.swiper-nav-next.nav-next-01

= view :share_buttons, facebook:facebook, twitter:twitter
.share-buttons.clear
  %a.link-button.secondary.small{href: "/files/computer_science_advocacy.pptx"}
    %i{class: "fa fa-download"}
    Download presentation
.stats-sources-link
  %a{href: "https://docs.google.com/document/d/1gySkItxiJn_vwb8HIIKNXqen184mRtzDX12cux0ZgZk/pub"}
    Source data
