.impact-stats-link
  .left
    %p.title
      Want to see more data?
    %p.details
      View more data on Code.org's impact on schools
  .right
    %a{:href=>'https://code.org/statistics', target: "_blank"}
      %button
        View Code.org Stats
