%link{:href=>"/css/advocate-locally.css", :rel=>"stylesheet"}

.join-coalition-wrapper
  .right
    %p.title
      Join the Advocacy Coalition
    %p.subheading
      Together we can make computer science education available to every student!
    %a{href: "https://advocacy.code.org"}
      %button
        View Coalition
  .left
    %img{src:"https://code.org/shared/images/fill-540x289/misc/teacher.png"}


