%div
  %div
    %a{href: "https://code.org/promote/letter"} Write a letter
    to your teacher or principal
  %div
    Use
    %a{href: "https://code.org/files/computer_science_advocacy.pptx"} this presentation
    to advocate for computer science locally.
  %div
    See
    %a{href: "https://code.org/files/computer_science_advocacy.pptx"} more statistics and resources
    supporting the case for teaching CS in schools.
%div
  For more information on how education policy can support computer science, see the
  %a{href: "http://advocacy.code.org/"} Code.org Advocacy Coalition
