-statistics = DB[:cdo_cs_statistics].all.to_a
-statistics.each do |statistic|
  %img{:style=>'max-width: 100%; margin-bottom: 20px;', :src=>"/images/cs-stats/#{statistic[:code_s]}.png"}

.share-buttons
  %a{:href=>'/files/computer_science_advocacy.pptx'}
    %button.button-color-share{:style => 'float: left;'}<
      %i{:class=>"fa fa-download"}<
      Download presentation
.stats-sources-link
  %a{:href=>'https://docs.google.com/document/d/1gySkItxiJn_vwb8HIIKNXqen184mRtzDX12cux0ZgZk/pub'}<
    Source data
      
