-statistics = DB[:cdo_promote_impact_statistics].all.to_a

.carousel-wrapper
  %swiper-container.swiper-02{navigation: "true", "navigation-next-el": ".nav-next-02", "navigation-prev-el": ".nav-prev-02", pagination: "true", init: "false"}
    -statistics.each do |statistic|
      %swiper-slide
        %figure{style: "width:100%"}
          %img{src: "#{statistic[:share_url_s]}", style: "width:100%"}

  %button.swiper-nav-prev.nav-prev-02
  %button.swiper-nav-next.nav-next-02

.impact-stats-link
  .left
    %p.title
      Want to see more data?
    %p.details
      View more data on Code.org's impact on schools
  .right
    %a{:href=>'https://code.org/statistics', target: "_blank"}
      %button
        View Code.org Stats
