-statistics = DB[:cdo_promote_impact_statistics].all.to_a

#stats-impact-carousel-wrapper.carousel-wrapper
  #stats-impact-carousel.carousel
    .slides
      -statistics.each do |statistic|
        .slide
          .slide-img<
            %img{:src=>"#{statistic[:share_url_s]}"}
    %a.slide-prev{:href=>'#'}<
      %span<
        %span.label Previous
    %a.slide-next{:href=>'#'}<
      %span<
        %span.label Next
  .pagination
    %div{:id => "stats-impact-carousel-pagination"}

.impact-stats-link
  .left
    %p.title
      Want to see more data?
    %p.details
      Code.org has a stats page with lots of pretty pictures!
  .right
    %a{:href=>'https://code.org/statistics', target: "_blank"}
      %button
        View Statistic

%script{:src=>'/js/jquery.carouFredSel-6.2.1-packed.js'}
%script{:src=>'/js/jquery.touchSwipe.min.js'}
:javascript
  $(document).ready(function() {

    var statistics = #{JSON.pretty_generate(statistics)};

    var id = '#stats-impact-carousel';
    // Define the carousel using the ID.
    $(id + ' .slides').carouFredSel({
      items : 1,
      auto  : false,
      responsive : true,
      prev  : id + ' .slide-prev',
      next  : id + ' .slide-next',
      pagination : '#stats-impact-carousel-pagination',
      swipe	: {
        onTouch : true,
        onMouse : false
      },
      scroll : {
        onAfter : update_share_buttons
      },
      onCreate : update_share_buttons
    });

    function update_share_buttons() {
      // Share buttons are hidden for students younger than 13, so check that
      // these buttons are in the DOM before trying to set the FB link.
      if ($('.share_buttons').length) {
        var pos = $(id + ' .slides').triggerHandler("currentPosition");
        if(statistics[pos] != null) {
          var facebook_anchor = $('#impact-section .share-button-facebook').parents('a.window-popup');
          var new_facebook_href = facebook_anchor.attr('href');

          if(statistics[pos].share_url_s != null) {
            new_facebook_href = new_facebook_href.replace(/u=[^&]*/i, 'u=' + encodeURIComponent(statistics[pos].share_url_s));
          }
          facebook_anchor.attr('href', new_facebook_href);
        }
      }
    }
  });
