%a{:href=>''}
  %img{:src => "/images/loading.gif", :style => 'width: 100%;'}
.share-buttons
  %a{:href=>'/files/computer_science_advocacy.pptx'}
    %button.button-color-share{:style => 'float: left;'}<
      %i{:class=>"fa fa-download"}<
      Download presentation
