%link{:href=>"/css/advocate-locally.css", :rel=>"stylesheet"}

.join-coalition-wrapper
  %img.left-side-image{src:"/images/fill-484x289/promote/promote-advocacy-students.jpg", alt:""}
  .right
    %p.title
      Advocate for State and Federal Policy
    %p.subheading
      Together, we can make computer science education available to every student! Help us grow the movement to make Computer Science a fundamental part of the K-12 education system.
    %a{href: "https://advocacy.code.org"}
      %button
        Code.org Advocacy Coalition
