%link{:rel=>'stylesheet', :type=>'text/css', :href=>'/css/dance-landing/student-dance-projects.css'}

:ruby
  dance_projects = [
    {
      title: "Dance Party 1",
      name: "Ryan",
      age: "13+",
      image: "ryan_project",
      link: "https://studio.code.org/projects/dance/cMFiZ9Q2Nr2fDLsrzVRW0w"
    },
    {
      title: "Mi oficina",
      name: "Emma!",
      age: "18+",
      image: "emma_project",
      link: "https://studio.code.org/projects/dance/TMhwhq8fQAeTEaoDS10ML-lhxiMGdKlHa6Lsvo1sTnA"
    },
    {
      title: "Dance Party 3",
      name: "Still Hadi",
      age: "13+",
      image: "ryan_project",
      link: ""
    },
    {
      title: "Dance Party 4",
      name: "Guess who",
      age: "13+",
      image: "emma_project",
      link: ""
    },
  ]

.student_dance_projects
  - dance_projects.each do |project|
    %a.project-card{href: project[:link], style: "color: #696969; text-decoration: none"}
      %img.project-video{src:"/images/animated-examples/student-dance-projects/#{project[:image]}.gif"}
      .project-details
        .project-title
          = project[:title]
        .project-author
          .span.student-label
            By:
          .span.student-name
            = project[:name]
        .project-age
          .span.age-label
            Age:
          .span.student-age
            = project[:age]
