:ruby
  dance_projects = [
    {
      title: "Dance Party 1",
      name: "Ryan",
      age: "13+",
      image: "ryan_project",
      link: "https://studio.code.org/projects/dance/cMFiZ9Q2Nr2fDLsrzVRW0w"
    },
    {
      title: "Mi oficina",
      name: "Emma!",
      age: "18+",
      image: "emma_project",
      link: "https://studio.code.org/projects/dance/TMhwhq8fQAeTEaoDS10ML-lhxiMGdKlHa6Lsvo1sTnA"
    },
    {
      title: "Dance Party 3",
      name: "Still Hadi",
      age: "13+",
      image: "ryan_project",
      link: ""
    },
    {
      title: "Dance Party 4",
      name: "Guess who",
      age: "13+",
      image: "emma_project",
      link: ""
    },
  ]

.student_dance_projects
  - dance_projects.each do |project|
    %a{href: project[:link], style: "color: #696969;"}
      .project-card{style: "height: 240px; width: 216px; border: 1px solid gray; display: inline-block; margin: 10px;"}
        .project-video
          %img{src:"/images/animated-examples/student-dance-projects/#{project[:image]}.gif", style: "height: 150px; width:100%"}
        .project-details{style: "padding: 10px;"}
          .project-title{style: "font-size: 18px; font-family: 'Gotham 7r', sans-serif;"}
            = project[:title]
          .project-author
            .span{style: "font-size: 14px; font-family: 'Gotham 7r', sans-serif; display: inline-block;"}
              By:
            .span{style: "font-size: 14px; display: inline-block; font-family: 'Gotham 4r', sans-serif;"}
              = project[:name]
          .project-age
            .span{style: "font-size: 14px; font-family: 'Gotham 7r', sans-serif; display: inline-block;"}
              Age:
            .span{style: "font-size: 14px; display: inline-block; font-family: 'Gotham 4r', sans-serif;"}
              = project[:age]
