%link{:rel=>'stylesheet', :type=>'text/css', :href=>'/css/dance-landing/student-dance-projects.css'}

:ruby
  dance_projects = [
    {
      title: "After Party",
      name: "M",
      age: "18",
      image: "project4_a",
      link: "https://studio.code.org/projects/dance/I-U55ZusXI3UsVLjTeuxLQ/"
    },
    {
      title: "Down to the Beat",
      name: "A",
      age: "11",
      image: "project2_b",
      link: "https://studio.code.org/projects/dance/TMhwhq8fQAeTEaoDS10ML-lhxiMGdKlHa6Lsvo1sTnA"
    },
    {
      title: "Bear Bop",
      name: "J",
      age: "8",
      image: "project1_a",
      link: "https://studio.code.org/projects/dance/cMFiZ9Q2Nr2fDLsrzVRW0w"
    },
    {
      title: "Friday Night",
      name: "L",
      age: "16",
      image: "project3_b",
      link: "https://studio.code.org/projects/dance/ZZ3CKXXmUdLrih9cfWbwmw"
    },
  ]

.student_dance_projects
  - dance_projects.each do |project|
    %a.project-card{href: project[:link], style: "color: #696969; text-decoration: none"}
      %img.project-video{src:"/images/dance-hoc/#{project[:image]}.gif"}
      .project-details
        .project-title
          = project[:title]
        .project-author
          .span.student-label
            By:
          .span.student-name
            = project[:name]
        .project-age
          .span.age-label
            Age:
          .span.student-age
            = project[:age]
