%h2=hoc_s(:heading_support_and_questions)
.action-block.action-block--two-col
  %img.col-50{src: "/images/pl-support-and-questions.png", alt: ""}
  .text-wrapper.col-50
    %h3=hoc_s(:support_and_questions_section_subhead)
    %p=hoc_s(:support_and_questions_section_desc)
    %a.link-button{href: "https://support.code.org/hc/requests/new", target: "_blank", rel: "noopener noreferrer"}
      =hoc_s(:call_to_action_contact_support)
    %a.link-button.secondary{href: "https://forum.code.org/", target: "_blank", rel: "noopener noreferrer"}
      =hoc_s(:call_to_action_explore_teacher_forums)
  .clear
