%div{:style=>'float:left; width: 20%; padding-right: 10px; padding-left: 10px'}
  %a{:href=>'http://crowdin.com/project/codeorg/ar/', :target=>'_blank'}
    %img{:src=>"/images/flag-arabic.png", :style=>'max-width: 48px; max-height: 48px;'}
  %br
  Arabic
%div{:style=>'float:left; width: 20%; padding-right: 10px; padding-left: 10px'}
  %a{:href=>'http://crowdin.com/project/codeorg/zh-CN/', :target=>'_blank'}
    %img{:src=>"/images/flag-chinese-simplified.png", :style=>'max-width: 48px; max-height: 48px;'}
  %br
  Chinese Simplified
%div{:style=>'float:left; width: 20%; padding-right: 10px; padding-left: 10px'}
  %a{:href=>'http://crowdin.com/project/codeorg/zh-TW/', :target=>'_blank'}
    %img{:src=>"/images/flag-chinese-traditional.png", :style=>'max-width: 48px; max-height: 48px;'}
  %br
  Chinese Traditional
%div{:style=>'float:left; width: 20%; padding-right: 10px; padding-left: 10px'}
  %a{:href=>'http://crowdin.com/project/codeorg/cs/', :target=>'_blank'}
    %img{:src=>"/images/flag-czech.png", :style=>'max-width: 48px; max-height: 48px;'}
  %br
  Czech
%div{:style=>'float:left; width: 20%; padding-right: 10px; padding-left: 10px'}
  %a{:href=>'http://crowdin.com/project/codeorg/hi/', :target=>'_blank'}
    %img{:src=>"/images/flag-hindi.png", :style=>'max-width: 48px; max-height: 48px;'}
  %br
  Hindi
%div{:style=>'float:left; width: 20%; padding-right: 10px; padding-left: 10px'}
  %a{:href=>'http://crowdin.com/project/codeorg/ja/', :target=>'_blank'}
    %img{:src=>"/images/flag-japanese.png", :style=>'max-width: 48px; max-height: 48px;'}
  %br
  Japanese
%div{:style=>'float:left; width: 20%; padding-right: 10px; padding-left: 10px'}
  %a{:href=>'http://crowdin.com/project/codeorg/pl/', :target=>'_blank'}
    %img{:src=>"/images/flag-polish.png", :style=>'max-width: 48px; max-height: 48px;'}
  %br
  Polish
%div{:style=>'float:left; width: 20%; padding-right: 10px; padding-left: 10px'}
  %a{:href=>'http://crowdin.com/project/codeorg/ru/', :target=>'_blank'}
    %img{:src=>"/images/flag-russian.png", :style=>'max-width: 48px; max-height: 48px;'}
  %br
  Russian
%div{:style=>'float:left; width: 20%; padding-right: 10px; padding-left: 10px'}
  %a{:href=>'http://crowdin.com/project/codeorg/tr/', :target=>'_blank'}
    %img{:src=>"/images/flag-turkish.png", :style=>'max-width: 48px; max-height: 48px;'}
  %br
  Turkish
%div{:style=>'float:left; width: 20%; padding-right: 10px; padding-left: 10px'}
  %a{:href=>'http://crowdin.com/project/codeorg/vi/', :target=>'_blank'}
    %img{:src=>"/images/flag-vietnamese.png", :style=>'max-width: 48px; max-height: 48px;'}
  %br
  Vietnamese

%br
%br