<div style="width: 100%; padding: 10px; margin-top: 40px">
  <div style="background-color: #949CA2; color: white; padding: 10px 20px 20px 0px; border-radius: 0px 2px 2px 0px;">
    <div style="background-color: white; display: inline-block; padding: 5px 10px; color: #5a5f62; border-radius: 2px;">
      <i class="fa fa-fw fa-graduation-cap"/>
      %heading%
    </div>
    <div style="padding: 0px 0px 0px 20px">
      <div style="font-size: 24px; line-height: 1.5em; margin-top: 10px;">
        %title%
      </div>
      <div>
        %description%
      </div>
      <button>
        %button_text%
      </button>
    </div>
  </div>
</div>
