%div.teacher-announce
  %a.announce-heading-link{:href=>"http://teacherblog.code.org/"}
    %div.announce-heading
      =I18n.t(:dashboard_announcements)
      %div.heading-view-all
        =I18n.t(:dashboard_announce_view_all)
        >>
  %div.announce-content
    %div.content-img-container
      %img.content-img{:src=>"/images/fit-x108/hour-of-code-logo.png"}
    %div.content-text
      %b December 8, 2015
      Due to the extraordinary number of users visiting our site for the Hour of Code, saving course progress has been temporarily suspended. We are working hard to restore this functionality. Thank you for your patience during this exciting time.
  %div.announce-learn-more
    %a{:href=>"https://studio.code.org/"}
      %button Go to Code Studio
