%div.teacher-announce
  %a.announce-heading-link{:href=>"http://teacherblog.code.org/"}
    %div.announce-heading
      = I18n.t(:dashboard_announcements)
      %div.heading-view-all
        = I18n.t(:dashboard_announce_view_all)
        >>
  %div.announce-content
    %a{:href=>"http://blog.code.org/post/138335868703/the-white-house-announces-plans-to-bring-computer"}
      %div.content-img-container
        %img.content-img{:src=>"/images/fit-300/professional-learning.jpg"}
    %div.content-text
      = I18n.t(:dashboard_announce_message)
  %div.announce-learn-more
    %a{:href=>CDO.code_org_url('/educate')}
      %button= I18n.t(:dashboard_announce_button_text)

