<link href="/css/generated/teacher_info.css" rel="stylesheet"/>
<div style="width: 100%; margin-top: 40px; margin-bottom: 40px">
  <div class="teacher-info-container">
    <div class="teacher-info-tag">
      %heading%
    </div>
    <div class="teacher-info-inner-container">
      <div style="font-size: 24px; line-height: 1.5em; margin-top: 10px;">
        %title%
      </div>
      <p>
        %description%
      </p>
      <a href="%url%" target="_self">
        <button>
          %button_text%
        </button>
      </a>
    </div>
  </div>
</div>
