%div.flex-container.justify-center.align-content-baseline.wrap
  %figure
    %img{src: "/images/teach-page-pl-offerings-self-paced.png", alt: ""}
  .content-wrapper
    %h3.heading-sm
      =hoc_s(:teach_page_pl_offerings_list_heading_self_paced)
    %p=hoc_s(:teach_page_pl_offerings_intl_desc_self_paced)
    %a.link-button{href: "/educate/professional-development-online"}
      =hoc_s(:call_to_action_find_self_paced_modules)
