%div.flex-container.align-content-baseline.wrap
  %figure
    %img{src: "/images/teach-page-pl-offerings-forums.png", alt: ""}
  .content-wrapper
    %h3.heading-sm
      =hoc_s(:teach_page_pl_offerings_list_heading_forums)
    %p=hoc_s(:teach_page_pl_offerings_list_desc_forums)
    %a.link-button{href: "https://forum.code.org/", target: "_blank", rel: "noopener noreferrer"}
      =hoc_s(:call_to_action_join_teacher_forums)
