%div.teacher-announce
  %a.announce-heading-link{:href=>"http://teacherblog.code.org/"}
    %div.announce-heading
      = I18n.t(:dashboard_announcements)
      %div.heading-view-all
        = I18n.t(:dashboard_announce_view_all)
        >>
  %div.announce-content
    %a{:href=>"http://teacherblog.code.org/"}
      %div.content-img-container
        %img.content-img{:src=>"/images/fit-300/student-concord-international.jpg"}
    %div.content-text
      = I18n.t(:dashboard_announce_message)

