.action-block__wrapper.action-block__wrapper--three-col
  .action-block.action-block--one-col.flex-space-between
    .content-wrapper
      %p.overline
        =hoc_s(:module_label_ages)
        =hoc_s(:module_ages_5_10)
      %h3=hoc_s(:curriculum_name_csf_a_f)
      %img{src: "/images/courses-catalog/star-wars-bee-dance.png", alt: ""}
      %p.no-margin-bottom
        %strong=hoc_s(:module_label_duration)
        =hoc_s(:module_duration_quarter)
    .content-footer
      %a.link-button{href: "/csf", target: "_blank", rel: "noopener noreferrer"}
        =hoc_s(:call_to_action_explore_curriculum)
  .action-block.action-block--one-col.flex-space-between
    .content-wrapper
      %p.overline
        =hoc_s(:module_label_ages)
        =hoc_s(:module_ages_11_18)
      %h3=hoc_s(:curriculum_name_ai)
      %img{src: "/images/courses-catalog/AIML.png", alt: ""}
      %p.no-margin-bottom
        %strong=hoc_s(:module_label_duration)
        =hoc_s(:module_duration_quarter)
    .content-footer
      %a.link-button{href: CDO.studio_url("/s/aiml-2023?viewAs=Instructor"), target: "_blank", rel: "noopener noreferrer"}
        =hoc_s(:call_to_action_explore_curriculum)
  .action-block.action-block--one-col.flex-space-between
    .content-wrapper
      %p.overline
        =hoc_s(:module_label_ages)
        =hoc_s(:module_ages_7_18)
      %h3=hoc_s(:curriculum_name_dance_party)
      %img{src: "/images/courses-catalog/dance-party-2022.png", alt: ""}
      %p.no-margin-bottom
        %strong=hoc_s(:module_label_duration)
        =hoc_s(:module_duration_lesson)
    .content-footer
      %a.link-button{href: CDO.studio_url("/s/dance-2019?viewAs=Instructor"), target: "_blank", rel: "noopener noreferrer"}
        =hoc_s(:call_to_action_explore_curriculum)
