.flex-container.justify-space-between.align-content-baseline.wrap
  - if request.language == "en"
    .content-wrapper
      %img{src: "/images/teach-page-pl-offerings-self-paced.png", alt: ""}
      %h3.heading-sm
        =hoc_s(:teach_page_pl_offerings_list_heading_self_paced)
      %p.no-margin-bottom
        =hoc_s(:teach_page_pl_offerings_list_desc_self_paced)
    .content-footer
      %a.link-button{href: "/educate/professional-development-online"}
        =hoc_s(:call_to_action_find_self_paced_modules)
  - else
    .content-wrapper
      %img{src: "/images/teach-page-pl-offerings-self-paced.png", alt: ""}
      %h3.heading-sm
        =hoc_s(:teach_page_pl_offerings_list_heading_self_paced)
      %p.no-margin-bottom
        =hoc_s(:teach_page_pl_offerings_list_desc_self_paced)
    .content-footer
      %a.link-button{href: "/educate/professional-development-online"}
        =hoc_s(:call_to_action_find_self_paced_modules)
