- cta_url = CDO.code_org_url("/curriculum/unplugged")

%div.teacher-announce
  %a.announce-heading-link{:href=>"http://teacherblog.code.org/"}
    %div.announce-heading
      = I18n.t(:dashboard_announcements)
      %div.heading-view-all
        = I18n.t(:dashboard_announce_view_all)
        >>
  %div.announce-content
    %a{:href=>cta_url}
      %div.content-img-container
        %img.content-img{:src=>"/images/fill-300x200/teacher-dashboard/unplugged.png"}
    %div.content-text
      = I18n.t(:dashboard_announce_message)
    %div{style: "float: right; margin-top: 25px;"}
      %a{:href=>cta_url}
        %button= I18n.t(:dashboard_announce_button_text)
