%h2 Professional learning offerings that meet your needs
%div.grid-container
  %div.flex-container.justify-center.align-content-baseline.wrap
    %figure
      %img{src: "/images/teach-page-pl-offerings-01.png", alt: ""}
    .content-wrapper
      %h3.heading-sm Facilitator-led Workshops
      %p With our Regional Partners as hosts and our Code.org facilitators as guides, our workshops around the country focus on reflection, discussion, and growth-oriented learning.
      %a.link-button{href: "/professional-learning"} Explore Workshops
  %div.flex-container.justify-center.align-content-baseline.wrap
    %figure
      %img{src: "/images/teach-page-pl-offerings-02.png", alt: ""}
    .content-wrapper
      %h3.heading-sm Self-Paced Online Modules
      %p These modules allow you to engage at your own pace and on your own time while focusing on areas most important to your needs and teaching context.
      %a.link-button{href: "/educate/professional-development-online"} Find Self-Paced Modules
  %div.flex-container.justify-center.align-content-baseline.wrap
    %figure
      %img{src: "/images/teach-page-pl-offerings-03.png", alt: ""}
    .content-wrapper
      %h3.heading-sm Teacher Community
      %p A forum for teachers to ask questions and share best practices, thoughts, ideas, and inspiration. Join a community of amazing educators bringing computer science into classrooms around the world!
      %a.link-button{href: "https://forum.code.org/", target: "_blank", rel: "noopener noreferrer"} Join Teacher Forums
