%div.teacher-announce
  %a.announce-heading-link{:href=>"http://teacherblog.code.org/"}
    %div.announce-heading
      Announcements
      %div.heading-view-all
        View all
  %div.announce-content
    %div.content-img-container
      %img.content-img{:src=>"/images/homepage/kids4_2x.jpg"}
    %div.content-text
      %b.content-date September 16, 2015 
      &mdash; The Hour of Code 2015 is coming! Join classrooms worldwide for the largest learning event in history.
  %div.announce-learn-more
    %a{:href=>"https://hourofcode.com"}
      %button
        Learn more
