%h2 Explore Professional Learning offerings
%div.grid-container
  %div.flex-container.justify-center.align-content-baseline.wrap
    %figure
      %img{src: "/images/teach-page-pl-offerings-02.png", alt: ""}
    .content-wrapper
      %h3.heading-sm Self-Paced Online Modules
      %p These modules allow you to engage at your own pace and on your own time while focusing on areas most important to your needs and teaching context.
      %a.link-button{href: "/educate/professional-development-online"} Find Self-Paced Modules
  %div.flex-container.justify-center.align-content-baseline.wrap
    %figure
      %img{src: "/images/teach-page-pl-offerings-01.png", alt: ""}
    .content-wrapper
      %h3.heading-sm Workshops
      %p We are partnering with organizations around the world to help bring Computer Science to all students. Learn more about what professional learning opportunities may be available to teachers in your country.
      %a.link-button{href: "https://support.code.org/hc/en-us/articles/115003865532-I-teach-outside-of-the-US-Are-there-resources-to-help-me-teach-computer-science-", target: "_blank", rel: "noopener noreferrer"}
        =hoc_s(:call_to_action_learn_more)
  %div.flex-container.justify-center.align-content-baseline.wrap
    %figure
      %img{src: "/images/teach-page-pl-offerings-03.png", alt: ""}
    .content-wrapper
      %h3.heading-sm Teacher Community
      %p A forum for teachers to ask questions and share best practices, thoughts, ideas, and inspiration. Join a community of amazing educators bringing computer science into classrooms around the world!
      %a.link-button{href: "https://forum.code.org/", target: "_blank", rel: "noopener noreferrer"} Join Teacher Forums
