= inline_css 'generated/teach-ai-skinny-banner.css'

.teach-ai-skinny-banner
  %a{href: "https://teachai.org/launch/", target: "_blank", rel: "noopener noreferrer"}
    .wrapper
      %img{src: "/images/banners/teach-ai-logo-cutout.svg", alt: ""}
      .text-wrapper
        %h1=hoc_s(:teach_ai_homepage_banner_title)
        %p=hoc_s(:teach_ai_homepage_banner_desc)
      .button-wrapper
        %button=hoc_s(:call_to_action_learn_more)
.clear
