%h2=hoc_s(:teach_page_pl_offerings_intl_header)
%div.grid-container
  %div.flex-container.justify-center.align-content-baseline.wrap
    %figure
      %img{src: "/images/teach-page-pl-offerings-02.png", alt: ""}
    .content-wrapper
      %h3.heading-sm
        =hoc_s(:teach_page_pl_offerings_intl_list_heading_01)
      %p=hoc_s(:teach_page_pl_offerings_intl_list_desc_01)
      %a.link-button{href: "/educate/professional-development-online"}
        =hoc_s(:call_to_action_find_self_paced_modules)
  %div.flex-container.justify-center.align-content-baseline.wrap
    %figure
      %img{src: "/images/teach-page-pl-offerings-01.png", alt: ""}
    .content-wrapper
      %h3.heading-sm
        =hoc_s(:teach_page_pl_offerings_intl_list_heading_02)
      %p=hoc_s(:teach_page_pl_offerings_intl_list_desc_02)
      %a.link-button{href: "https://support.code.org/hc/en-us/articles/115003865532-I-teach-outside-of-the-US-Are-there-resources-to-help-me-teach-computer-science-", target: "_blank", rel: "noopener noreferrer"}
        =hoc_s(:call_to_action_learn_more)
  %div.flex-container.justify-center.align-content-baseline.wrap
    %figure
      %img{src: "/images/teach-page-pl-offerings-03.png", alt: ""}
    .content-wrapper
      %h3.heading-sm
        =hoc_s(:teach_page_pl_offerings_intl_list_heading_03)
      %p=hoc_s(:teach_page_pl_offerings_intl_list_desc_03)
      %a.link-button{href: "https://forum.code.org/", target: "_blank", rel: "noopener noreferrer"}
        =hoc_s(:call_to_action_join_teacher_forums)
