- teacher_blog_url = 'http://teacherblog.code.org/'
- code_studio_video_url = 'https://www.youtube.com/watch?v=ZRNRVu4DFcs'
- video_download_url = 'https://videos.code.org/teacher/start-teaching-code-studio-SD.mp4'

.teacher-announce
  .announce-heading
    = I18n.t(:dashboard_announcements)
  .announce-content
    %a{href: code_studio_video_url, target: '_blank'}
      .content-img-container
        %img.content-img{src: CDO.shared_image_url('/teacher-announcement/how-code-studio.png'), width: '200px'}
    .content-text
      = I18n.t(:dashboard_announce_how_code_studio, video_download_url: video_download_url)
    .announce-learn-more
      %a{href: code_studio_video_url, target: '_blank'}
        %button.primary= I18n.t(:dashboard_announce_watch_video_button)
  .mini-announcement
    .content-text
      %i.fa.fa-hand-o-right
      = I18n.t(:dashboard_announce_all, teacher_blog_url: teacher_blog_url)
