%br/
.teacher-announce-container

:javascript
  $(document).ready(function () {
    // Load the teacher announcement from dashboard.
    $(".teacher-announce-container").load( "/dashboardapi/teacher_announcement/", function() {
      // Retrieve our current location.
      $.getJSON( "/v2/client-location", function (data) {
        // Show US or non-US announcement accordingly.
        country_code = data['country_code'];
        if (country_code === 'US' || country_code === 'RD') {
          $('#us-announcement').show();
        } else {
          $('#non-us-announcement').show();
        }
      });
      $(".track-link").each(function () {
        $(this).click(function () {
          trackEvent('teacher_announcement','click', $(this).data('id'));
        });
      });
    });
  });
