.action-block__wrapper.action-block__wrapper--three-col
  .action-block.action-block--one-col.flex-space-between
    .content-wrapper
      %p.overline
        =hoc_s(:module_label_grades)
        =hoc_s(:module_grade_3_8)
      %h3=hoc_s(:curriculum_name_poetry)
      %img{src: "/images/courses-catalog/poetry.png", alt: ""}
      %p.no-margin-bottom
        %strong=hoc_s(:module_label_duration)
        =hoc_s(:module_duration_month)
    .content-footer
      %a.link-button{href: CDO.studio_url("/s/poetry-2023?viewAs=Instructor"), target: "_blank", rel: "noopener noreferrer"}
        =hoc_s(:call_to_action_explore_curriculum)
  .action-block.action-block--one-col.flex-space-between
    .content-wrapper
      %p.overline
        =hoc_s(:module_label_grades)
        =hoc_s(:module_grade_6_12)
      %h3=hoc_s(:curriculum_name_ai)
      %img{src: "/images/courses-catalog/AIML.png", alt: ""}
      %p.no-margin-bottom
        %strong=hoc_s(:module_label_duration)
        =hoc_s(:module_duration_quarter)
    .content-footer
      %a.link-button{href: CDO.studio_url("/s/aiml-2023?viewAs=Instructor"), target: "_blank", rel: "noopener noreferrer"}
        =hoc_s(:call_to_action_explore_curriculum)
  .action-block.action-block--one-col.flex-space-between
    .content-wrapper
      %p.overline
        =hoc_s(:module_label_grades)
        =hoc_s(:module_grade_9_12)
      %h3=hoc_s(:curriculum_name_csa)
      %img{src: "/images/courses-catalog/CSA.png", alt: ""}
      %p.no-margin-bottom
        %strong=hoc_s(:module_label_duration)
        =hoc_s(:module_duration_school_year)
    .content-footer
      %a.link-button{href: CDO.studio_url("/courses/csa-2023?viewAs=Instructor"), target: "_blank", rel: "noopener noreferrer"}
        =hoc_s(:call_to_action_explore_curriculum)
