%div.teacher-announce
  %a.announce-heading-link{:href=>"http://teacherblog.code.org/"}
    %div.announce-heading
      =I18n.t(:dashboard_announcements)
      %div.heading-view-all
        =I18n.t(:dashboard_announce_view_all)
        >>
  %div.announce-content
    %div.content-img-container
      %img.content-img{:src=>"/images/fit-x108/volunteer-map.png"}
    %div.content-text
      =I18n.t(:dashboard_announce_hoc)
  %div.announce-learn-more
    %a{:href=>"/volunteer/local"}
      %button!= I18n.t(:learn_more)
