.carousel-wrapper
  %swiper-container{navigation: false, init: "false"}
    %swiper-slide
      %p.quote-text=hoc_s(:tenth_anniversary_testimonials_01)
      %p.no-margin-bottom Denise Lee <span>•</span> Teacher
    %swiper-slide
      %p.quote-text=hoc_s(:tenth_anniversary_testimonials_02)
      %p.no-margin-bottom Diane Berner <span>•</span> Teacher
    %swiper-slide
      %p.quote-text=hoc_s(:tenth_anniversary_testimonials_03)
      %p.no-margin-bottom Eileen Lennon <span>•</span> Teacher

= view :swiper
