.row#infobottom{style: "/*margin: 0 auto; width: 800px; */ font-weight: 400; font-size: 16px; color: #ea7717;"}
  .col-xs-6.col-sm-4{style: "text-align:center"}
    %img{src: "/images/stats-kid1.jpg", style: "width: 70%"}
    %br/
    =I18n.t :stats_nina

  .col-xs-6.col-sm-4{style: "text-align:center"}
    %img{src: "/images/stats-kid2.jpg", style: "width: 70%"}
    %br/
    =I18n.t :stats_student

  .hidden-xs.col-sm-4{style: "text-align:center"}
    %img{src: "/images/stats-kid3.jpg", style: "width: 70%"}
    %br/
    =I18n.t :stats_michael
