.row#infobottom{style: "/*margin: 0 auto; width: 800px; */ font-weight: 400; font-size: 16px; color: #ea7717;"}
  .col-xs-6.col-sm-4{style: "text-align:center"}
    %img{src: "/images/stats-kid1.jpg", style: "width: 70%"}
    %br/
    "Every single day yielded the same results&mdash; 100% engagement." - Nina Nichols Peery, Teacher

  .col-xs-6.col-sm-4{style: "text-align:center"}
    %img{src: "/images/stats-kid2.jpg", style: "width: 70%"}
    %br/
    "I knew this was a <b>once-in-a-lifetime</b> chance." - Mariana Alzate, 5th grader

  .hidden-xs.col-sm-4{style: "text-align:center"}
    %img{src: "/images/stats-kid3.jpg", style: "width: 70%"}
    %br/
    "I have <b>never, ever</b> seen my students so excited about learning." - Michael Clark, Teacher