.row#infobottom{style: "font-weight: 400; font-size: 16px; color: #ea7717; margin-left: 10px; margin-right: 10px; margin-top: 20px;"}

  .col-33{style: "text-align:center; margin-top: 20px;"}
    %img{src: "/images/stats-kid1.jpg", style: "width: 70%"}
    %br/
    !=I18n.t :stats_nina_markdown, markdown: :inline

  .col-33{style: "text-align:center; margin-top: 20px;"}
    %img{src: "/images/stats-kid2.jpg", style: "width: 70%"}
    %br/
    !=I18n.t :stats_student_markdown, markdown: :inline

  .col-33{style: "text-align:center; margin-top: 20px;"}
    %img{src: "/images/stats-kid3.jpg", style: "width: 70%"}
    %br/
    !=I18n.t :stats_michael_markdown, markdown: :inline
