- @header['social'].each_pair do |property, content|
  %meta{property:property, content:content}

%title= page_title_with_tagline

%link{rel:'shortcut icon', href:'/images/favicon.ico'}
%link{rel:'apple-touch-icon', href:'/images/apple-touch-icon-precomposed.png'}

%script{src:'//cdn.optimizely.com/js/400912536.js'}

%link{rel:'stylesheet', type:'text/css', href:'/style.css'}
%link{rel:'stylesheet', type:'text/css', href:'/shared/css/user-menu.css'}

%script{src:'/js/jquery.min.js'}
:javascript
  function isIE() {
    const nav = navigator.appVersion.toUpperCase();
    return (nav.indexOf("MSIE") != -1 || nav.indexOf("TRIDENT") != -1 || nav
        .indexOf("EDGE") != -1)
  }
  
  if (isIE()) {
    const doc = document;
    doc.write("<link rel='stylesheet' href='/shared/css/details-polyfill.css'\/>");
    doc.write("<script src='/shared/js/details-polyfill/jquery.details.min.js'>"
        + "<\/script>");
    doc.write("<script src='/shared/js/details-polyfill/details-polyfill.js'>"
        + "<\/script>");
  }
