/ Google Tag Manager (noscript)
%noscript
  %iframe{height: "0", src: "https://www.googletagmanager.com/ns.html?id=GTM-TZZBRK5", style: "display:none;visibility:hidden", width: "0"}
/ End Google Tag Manager (noscript)
