=view :old_ie
=view :jquery

%script=view 'google_analytics.js'

%script{:defer => "defer", src: minifiable_asset_path("js/code.org/views/theme_common_head_after.js")}

- if header['chart']
  %script{src:'https://www.google.com/jsapi'}

- if @header['video_player']
  :javascript
    $(window).load(function() {
      loadVideos(window.location.search.indexOf("force_youtube_fallback") !== -1)
    });
