- @header['social'].each_pair do |property, content|
  %meta{property:property, content:content}

- if header['noindex']
  %meta{name: "robots", content: "noindex"}

%title= page_title_with_tagline

%link{rel:'shortcut icon', href:'/images/favicon.ico'}
%link{rel:'apple-touch-icon', href:'/images/apple-touch-icon-precomposed.png'}

%script{src:'https://cdn.optimizely.com/js/12977480133.js'}

=view :fonts
-if @header['style_min'] && request.site == 'code.org'
  =inline_css 'style-min.css'
-else
  %link{rel:'stylesheet', type:'text/css', href:'/style.css'}


=inline_css 'user-menu.css'
