- @header['social'].each_pair do |property, content|
  %meta{property:property, content:content}

%title= page_title_with_tagline

%link{rel:'shortcut icon', href:'/images/favicon.ico'}
%link{rel:'apple-touch-icon', href:'/images/apple-touch-icon-precomposed.png'}

%script{src:'//cdn.optimizely.com/js/400912536.js'}

:javascript
  var is_ie8 = false;
/[if IE 8]
  :javascript
    is_ie8 = true;

%link{rel:'stylesheet', type:'text/css', href:'/style.css'}
%link{rel:'stylesheet', type:'text/css', href:'/shared/css/user-menu.css'}
%link{rel:'stylesheet', type:'text/css', href:'/shared/css/details-polyfill.css'}

%script{src:'/js/jquery.min.js'}
%script{src:'/shared/js/details-polyfill/jquery.details.min.js'}
%script{src:'/shared/js/details-polyfill/details-polyfill.js'}


