%link{href: "/css/three-circles.css", type: "text/css", rel: "stylesheet"}

.row#infobottom
  - circles.each_with_index do |circle, index|
    .col-33
      %img.quote-image{src: circle[:img]}
      - if circle[:subtext].nil?
        %p.quote-title!= circle[:text]
      - else
        %p.testimonial-title= circle[:text]
        %p.testimonial-subtitle= circle[:subtext]
        %a{href: circle[:link], target: '_blank'}
          = circle[:link_text]
          %i.fa.fa-chevron-right.link_chevron
