.row#infobottom{style: "font-weight: 400; font-size: 16px; color: rgb(26, 172, 186); margin: 20px 10px 0px 10px;"}
  - circles.each_with_index do |circle, index|
    .col-33{style: "text-align:center; margin-top: 20px; padding-left: 10px; padding-right: 10px;"}
      %img{src: circle[:img], style: "border-radius: 50%;"}
      %p{style: "margin-top: 10px;"}= circle[:text]
