.col-50
  .tutorial-tile
    %a{href: CDO.studio_url("/s/applab-intro/reset")}
      %img.tutorial-tile-img{src: CDO.code_org_url("/images/fill-485x260/app-lab/applab-intro.png")}
    .tutorial-info{style: "min-height: 200px;"}
      %h3.tutorial-info-h Intro to App Lab Tutorial
      .smalltext Create your own app in JavaScript using block based programming. Or take your skills to the next level with text-based programming.
      %a{href: CDO.studio_url("/s/applab-intro/reset")}
        %button.tutorial-info-start.tutorial-gray Start tutorial
      .tutorial-info-guide
        %a{href: "https://curriculum.code.org/hoc/plugged/7/"}
          View teacher guide
      .clear

.col-50
  .tutorial-tile
    %a{href: "/minecraft"}
      %img.tutorial-tile-img{src: CDO.code_org_url("/images/fill-485x260/mc/special-announcement-hoc2017.jpg")}
    .tutorial-info{style: "min-height: 200px;"}
      %h3{style: "margin-top: 0px;"} Minecraft Hour of Code
      .smalltext Minecraft is back for the Hour of Code with a brand new activity! Journey through Minecraft with code.
      %a{href: "/minecraft"}
        %button.tutorial-info-start.tutorial-gray Start tutorial
      .tutorial-info-guide
        %a{href: "/hourofcode/mc"}
          View teacher guide
      .clear
