= view :top_hoc_tutorial_applab, image_match_youtube_height: false

.col-50
  .tutorial-tile
    %a{href: "/minecraft"}
      %img.tutorial-tile-img{src: CDO.code_org_url("/images/fill-485x260/mc/special-announcement-hoc2017.jpg")}
    .tutorial-info
      %h3{style: "margin-top: 0px;"} Minecraft Hour of Code
      .smalltext Minecraft is back for the Hour of Code with a brand new activity! Journey through Minecraft with code.
      %a{href: "/minecraft"}
        %button.tutorial-info-start.tutorial-gray Start tutorial
      .tutorial-info-guide
        %a{href: "/hourofcode/mc"}
          View teacher guide
      .clear
