%aside.top-skinny-banner{class: light_theme ? "light-theme" : ""}
  %a{href: banner_url}
    %i{class: "#{banner_icon}"}
    %p.body-two
      = banner_text
  %button{aria:{label: hoc_s(:call_to_action_hide_banner)}}
    %i{class: "fa fa-xmark"}
