-# This partial is shown alongside a similar block with a YouTube thumbnail, and
  separately alongside a similar block with a MC thumbnail.  We can adjust our
  height to match either of them.

- if image_match_youtube_height
  - image_url = "/images/app-lab/applab-intro.png"
- else
  - image_url = "/images/fill-485x260/app-lab/applab-intro.png"

.col-50
  .tutorial-tile
    %a{href: CDO.studio_url("/s/applab-intro/reset")}
      %img.tutorial-tile-img{src: CDO.code_org_url(image_url)}
    .tutorial-info
      %span
        %h3.tutorial-info-h= I18n.t(:applab_tile_title)
        .smalltext= I18n.t(:applab_tile_subtitle)
      %span
        %a{href: CDO.studio_url("/s/applab-intro/reset")}
          %button.tutorial-info-start.tutorial-gray= I18n.t(:go)
        .tutorial-info-guide
          %a{href: CDO.curriculum_url(I18n.locale, "/hoc/plugged/7/")}= I18n.t(:applab_tile_teacher_guide)
