#totm-winners
  %figure
    <a href="http://blog.code.org/post/103221429853/totm8"><div class="totm-image totm8"></div></a>
    Kimberly Burton-Regulski<br/>Baltimore, MD

  %figure
    <a href="http://blog.code.org/post/99075187308/totm7"><div class="totm-image totm7"></div></a>
    Steve Isaacs<br/>Bernards, NJ

  %figure
    <a href="http://blog.code.org/post/96187918138/totm6"><div class="totm-image totm6"></div></a>
    Elizabeth Bacon<br/>Los Angeles, CA

  %figure
    <a href="http://blog.code.org/post/90674368013/totm4"><div class="totm-image totm4"></div></a>
    Jennifer Latimer<br/>Maplewood, NJ

  %figure
    <a href="http://blog.code.org/post/86527436473/totm3"><div class="totm-image totm3"></div></a>
    Dr. Thomas Reinartz<br/>St. Paul, MN

  %figure
    <a href="http://codeorg.tumblr.com/post/83529925676/totm2"><div class="totm-image totm2"></div></a>
    Jaime Binning<br/>Roscoe, IL

  %figure
    <a href="http://codeorg.tumblr.com/post/80268490173/totm1"><div class="totm-image totm1"></div></a>
    Maria Garrett-Jackson<br/>Houston, TX
  
:css
  #totm-winners figure {
    display: inline-block;
    text-align: center;
    width: 180px;
    margin-top: 20px;
  }

  .totm1 {background: url(/images/fit-180/totm1.jpg) 50% 50% no-repeat;}
  .totm2 {background: url(/images/fit-180/totm2.jpg) 50% 50% no-repeat;}
  .totm3 {background: url(/images/fit-180/totm3.jpg) 50% 50% no-repeat;}
  .totm4 {background: url(/images/fit-180/totm4.jpg) 50% 50% no-repeat;}
  .totm6 {background: url(/images/fit-180/totm6.jpg) 50% 50% no-repeat;}
  .totm7 {background: url(/images/fit-180/totm7.png) 50% 50% no-repeat;}
  .totm8 {background: url(/images/fit-180/totm8.jpg) 50% 50% no-repeat;}

  #totm-winners .totm-image {
    margin-bottom: 5px;
    width: 120px;
    height: 120px;
    margin-left: 30px;
  }

  #totm-winners figcaption {
    font-size: 13.4px;
  }
