.row#infobottom{style: "/*margin: 0 auto; width: 800px; */ font-weight: 400; font-size: 16px; color: #ea7717;"}
  .col-xs-6.col-sm-4{style: "text-align:center"}
    <a href="http://blog.code.org/post/139141496953/totm13"><div class="totm-image totm13"></div></a> 
    %br/
    "We need to shift students’ mindsets when it comes to computers" — Jonas
  .col-xs-6.col-sm-4{style: "text-align:center"}
    <a href="http://blog.code.org/post/103221429853/totm12"><div class="totm-image totm12"></div></a> 
    %br/
    "I’ve realized how much I’ve learned myself in one school year alone!" — Nancy
  .col-xs-6.col-sm-4{style: "text-align:center"}
    <a href="http://blog.code.org/tagged/totm"><div class="totm-image totm11"></div></a> 
    %br/
    "Our job is to support students in attempting something scary and new" — Thomas


:css
  .totm-image {
    display: inline-block;
    text-align: center;
    width: 180px;
    height: 180px;
    margin-top: 20px;
    border-radius: 120px;
  }

  .totm13{background: url(/images/fit-280/totm13.jpg) 80% 0% no-repeat;}
  .totm12{background: url(/images/fit-380/totm12.jpg) 45% 0% no-repeat;}
  .totm11{background: url(/images/fit-380/totm11.jpg) 91% 0% no-repeat;}
