.row#infobottom{style: "/*margin: 0 auto; width: 800px; */ font-weight: 400; font-size: 16px; color: #ea7717;"}
  .col-xs-6.col-sm-4{style: "text-align:center"}
    <a href="http://blog.code.org/post/115885421033/totm9"><div class="totm-image totm9"></div></a> 
    %br/
    "...it reminded me why I became a teacher in the first place, to see that proverbial light bulb glow!" — Linda

  .col-xs-6.col-sm-4{style: "text-align:center"}
    <a href="http://blog.code.org/post/103221429853/totm8"><div class="totm-image totm8"></div></a> 
    %br/
    "Computer science is solving problems that transcend age, gender, race, etc." — Kimberly


  .hidden-xs.col-sm-4{style: "text-align:center"}
    <a href="http://blog.code.org/post/99075187308/totm7"><div class="totm-image totm7"></div></a>
    %br/
    "Computer science teaches problem solving at its core." — Steve

:css
  .totm-image {
    display: inline-block;
    text-align: center;
    width: 180px;
    height: 180px;
    margin-top: 20px;
    border-radius: 120px;
  }

  .totm9 {background: url(/images/fit-280/totm9.jpg) 90% 0% no-repeat;}
  .totm8 {background: url(/images/fit-280/totm8.jpg) 5% 1% no-repeat;}
  .totm7 {background: url(/images/fit-330/totm7.png) 30% 10% no-repeat;}
  .totm6 {background: url(/images/fit-360/totm6.jpg) 0% 50% no-repeat;}