.row#infobottom{style: "/*margin: 0 auto; width: 800px; */ font-weight: 400; font-size: 16px; color: #ea7717;"}
  .col-xs-6.col-sm-4{style: "text-align:center"}
    %img{src: "/images/totm8.jpg", style: "width: 240px"}
    %br/
    Computer science is solving problems that transcend age, gender, race, etc.

  .col-xs-6.col-sm-4{style: "text-align:center"}
    %img{src: "/images/totm7.png", style: "width: 240px"}
    %br/
    Computer science teaches problem solving at its core.

  .hidden-xs.col-sm-4{style: "text-align:center"}
    %img{src: "/images/totm6.jpg", style: "width: 240px"}
    %br/
    Computers are a huge part of kids’ world today, and it’s crucial to help them build their understanding of that world