<link href="/css/tutorial-promo2.css" rel="stylesheet"></link>
<div class="tutorial-promo-container">
  <div class="img-container">
    <img class="background-img" height="671" src="%background_image%" width="1940"/>
  </div>
  <h1 class="tutorial-heading">
    %heading%
  </h1>
  <div class="col-25 specific-tutorial left-tutorial col-rtl-right">
    <div class="tutorial-box" style="background-color: %box_background_color%">
      <h2 class="specific-tutorial-heading" style="color: %text_color%">
        %left_heading%
      </h2>
      <div class="tutorial-details">
        <p class="tutorial-description" style="color: %text_color%">
          %left_description%
        </p>
        <p class="tutorial-specs">
          %left_specs%
        </p>
      </div>
      <a href="%left_button_url%" target="_self">
        <button class="tutorial-button">
          %left_button_text%
        </button>
      </a>
    </div>
  </div>
  <div class="col-25 specific-tutorial right-tutorial col-rtl-right">
    <div class="tutorial-box" style="background-color: %box_background_color%">
      <h2 class="specific-tutorial-heading" style="color: %text_color%">
        %right_heading%
      </h2>
      <div class="tutorial-details">
        <p class="tutorial-description" style="color: %text_color%">
          %right_description%
        </p>
        <p class="tutorial-specs">
          %right_specs%
        </p>
      </div>
      <a href="%right_button_url%" target="_self">
        <button class="tutorial-button">
          %right_button_text%
        </button>
      </a>
    </div>
  </div>
</div>
