<link rel="stylesheet" type="text/css" rel= "stylesheet" href="/css/values.css" />
<div class="values__section-container">
  <div class="values__values-group">
    <div class="values__values-tile values__teal">
      <img class="values__values-icon" src="../images/values/ValuesIcon1.png" alt="">
      <p>We believe Computer Science is foundational for all students</p>
    </div>
    <div class="values__values-tile values__middle values__purple">
      <img class="values__values-icon" src="../images/values/ValuesIcon2.png" alt="">
      <p>We are committed to equity, access, and opportunity</p>
    </div>
    <div class="values__values-tile values__orange">
      <img class="values__values-icon" src="../images/values/ValuesIcon3.png" alt="">
      <p>We believe<br>in the power of a collaborative education community</p>
    </div>
  </div>
  <div class="values__values-group">
    <div class="values__values-tile values__cyan">
      <img class="values__values-icon" src="../images/values/ValuesIcon4.png" alt="">
      <p>We are<br>agile and responsive to feedback</p>
    </div>
    <div class="values__values-tile values__middle values__green">
      <img class="values__values-icon" src="../images/values/ValuesIcon5.png" alt="">
      <p>We act with integrity<br>and transparency</p>
    </div>
    <div class="values__values-tile values__dark-gray">
      <img class="values__values-icon" src="../images/values/ValuesIcon6.png" alt="">
      <p>We believe broad impact requires thinking big and acting holistically</p>
    </div>
  </div>
</div>
