%figure{style: "width:100%; height: 100%; margin: 0 auto;"}
  .videodiv{style: "position:relative;"}
    %img{style: "display:block; width:100%; height:auto", src: "/images/16x9.png"}/
    -# either youtube or fallback video player inserted here
    .insert_video_player{:data=>{:video_code=>video_code, :download_path=>download_path}}
