- download_path ||= nil
- poster_path ||= "//i.ytimg.com/vi/#{video_code}/mqdefault.jpg"

%link{href: "/css/generated/video_with_fallback-styles.css", rel: "stylesheet"}

%figure
  .videodiv
    %img{src: "/images/16x9.png"}/
    -# either youtube or fallback video player inserted here
    .insert_video_player{:data=>{:video_code=>video_code, :download_path=>download_path, :poster_path=>poster_path}}
