:ruby
  # Map path of where the .md.partial file is used to its associated visit page
  # event.
  def partial_url_to_event_map
    {
      '/ai/pl/101': AnalyticsConstants::AI_PL_PAGE_VISIT_EVENT,
      '/ai': AnalyticsConstants::AI_PAGE_VISIT_EVENT,
      '/educate/csc': AnalyticsConstants::CSC_CURRICULUM_PAGE_VISITED_EVENT,
      '/maker': AnalyticsConstants::PHYSICAL_COMPUTING_PAGE_VISITED_EVENT,
      '/curriculum/unplugged': AnalyticsConstants::CSF_UNPLUGGED_PAGE_VISITED_EVENT
    }
  end

  def path
    request.path
  end

  def event
    partial_url_to_event_map.each do |curr_partial_path, curr_event|
      return curr_event if path.include?(curr_partial_path.to_s)
    end
  end

= view :analytics_event_log_helper, event_name: event
