-type_task_ss ||=nil


%h1 Contact a Volunteer

#addressees
  #before-contact
    %p You are contacting the following volunteer:
  #name{style: "display: none; font-family: 'Gotham 5r', sans-serif;"}
  #allnames{style: "display: none;"}

%br
%form#contact-volunteer-form{role: "form", onsubmit: "return sendEmail()"}

  .form-group
    %label.control-label{for: "teacher-name"} Your name
    %div
      %input#volunteer-contact-name.form-control{name: "teacher_name_s", placeholder: "Full name", required: true, type: "text"}

  .form-group
    %label.control-label{for: "teacher-email"} Your email
    %p Your email address will be shared with the volunteer you contact.
    %div
      %input#volunteer-contact-email.form-control{name: "teacher_email_s", placeholder: "Email address", required: true, type: "text"}

  .form-group
    %label.control-label{for: "school-name"} School name
    %div
      %input#volunteer-contact-school-name.form-control{name: "school_name_s", placeholder: "School name", required: true, type: "text"}

  .form-group
    %label.control-label{for: "school-location"} School address
    %div
      %input#volunteer-contact-school-location.form-control{name: "school_location_s", placeholder: "School address", required: true, type: "text"}

  .form-group
    %label.control-label{for: "type-task"} Select all of the following ways that you'd like this volunteer to help you.
    #volunteer-type-task{style: "margin-left: 20px;"}
      -VolunteerContact2015.type_tasks.each_pair do |key,label|
        .checkbox
          %label.help-choice
            %input{name: "type_task_#{key}_b", type: "checkbox", value: "1", required: false}= label

  %p{style: 'color: #00adbc; font-size: 1.125em;'} IMPORTANT: Code.org has performed no references or background checks on these potential volunteers and neither recommends nor certifies any volunteer.
  %p It is entirely your responsibility to thoroughly check references or perform any background checks required by your school or district. Code.org provides no warranty, guarantees of suitability, or information other than the ability to contact these potential volunteers, and all liability in any use of volunteers rests only with you. Under no circumstances is Code.org responsible for any loss or damage resulting from any person's reliance on this potential volunteer.

  .form-group{style: "margin-bottom: 0px"}
    .checkbox
      %label
        %input#volunteer-contact-understand-damages{name: "understand_damages_b", type: "checkbox", value: "1", required: true}
          I have read and I understood the paragraph above.

  .form-group
    .checkbox
      %label
        %input#volunteer-contact-age-18-plus{name: "age_18_plus_b", type: "checkbox", value: "0", required: true}
          I certify that I am at least 18 years old.

  %input{id: 'volunteer-id', name:'volunteer_id_i', type:'hidden', required: true}

  .form-group#contact-submit-btn
    %button{type: "submit"} Send

  #error-message{style: "display: none;"}
  #success-message{style: "display: none; color: #00adbc;"}
    %p
      You've successfully contacted this volunteer.
      %a.scroll-to-top{onclick: "adjustScroll('volunteer-map');"}
        Scroll to the top
      to contact another volunteer.
