%h1= I18n.t(:volunteer_engineer_submission_title)
%p= I18n.t(:volunteer_engineer_submission_intro_recruit)
%p= I18n.t(:volunteer_engineer_submission_intro_links).gsub('%{learn_more}', 'https://hourofcode.com').gsub('%{volunteer_local}', '/volunteer/local')
%img{src: "/images/fill-300x150/homepage/kids3_2x.jpg", style: "margin: 10px 0 20px 0;"}
%p= I18n.t(:volunteer_engineer_submission_intro_signup)
