-experience_s ||= nil

%h1 Find a remote volunteer

%p
  Find a volunteer who can call into your classroom through a video conference to answer questions about computer science.
  The map shows the volunteer's location but since they are willing to video conference remotely, you can contact a volunteer from anywhere.
%p
  Want to sign up to volunteer?
  %a{href: "/volunteer"}
    Sign up here
  to be included on this map.

%form#volunteer-search-form{role: "form", onsubmit: "event.preventDefault();"}
  #volunteer-search-facets.form-section.row
    .form-group.col-xs-4
      %label.control-label.small{for: "experience-level"} Volunteer experience level
      %div
        %select#experience-level.form-control{name: "experience_s", type: "select"}
          %option{selected: experience_s.nil_or_empty?, value: ""}= "any"
          -VolunteerEngineerSubmission2015.experiences.each do |key, value|
            %option{value: key, selected: (experience_s||[]).include?(key.to_s)}= value

.row
  #volunteer-search-error.col-xs-12.display-none.top-margin

%link{rel: "stylesheet", href: "https://api.tiles.mapbox.com/mapbox-gl-js/v1.1.1/mapbox-gl.css"}
%script{type: "text/javascript", src: "https://api.tiles.mapbox.com/mapbox-gl-js/v1.1.1/mapbox-gl.js"}

:css
  .mapboxgl-popup-content {
    max-height: 180px;
    overflow-y: scroll;
  }

:javascript
  mapboxgl.accessToken = "#{CDO.mapbox_access_token}";

#mapbox-container.row{style: "display: none"}
  .col-xs-5
    #mapbox-listings{style: "height: 400px; overflow: scroll"}
  .col-xs-7
    #mapbox{style: "width: 553px; height: 400px"}
