%script{type: "text/javascript", src: "https://maps.googleapis.com/maps/api/js?client=#{CDO.google_maps_client_id}&libraries=places,geometry&v=3.27"}
- image_path = CDO.studio_url 'blockly/media/workshop_search/m', CDO.default_scheme
%script{type: 'text/javascript', src: minifiable_asset_path('js/code.org/views/workshop_search.js'), data: {workshopSearch: {'imagePath': image_path}.to_json} }
%script{type: "text/javascript", src: "/js/jquery.geocomplete.min.js"}

:css
  .workshop-item {
    line-height: 1.3em;
    padding-top: .5em;
    margin-top: .5em;
    border-top: 1px solid #ccc;
  }
  .workshop-item-first {
    padding-top: 0;
    margin-top: 0;
    border-top: 0;
  }
  .workshop-location-name {
    white-space: nowrap;
  }

.row
  %form#workshop-search-form{role: "form", onsubmit: "event.preventDefault();"}
    .form-section
      .col-xs-4
        .form-group
          %div
            %input#geocomplete.form-control{name: "geocomplete", placeholder: "Search for workshops", type: "text"}/
      .col-xs-8
        .form-group
          %button#btn-submit{type: "submit", style: "margin-top: 0px"} Search
          %button#btn-reset.btn-link{type: "reset", style: "margin-top: 0px"} Reset
.row
  .col-xs-12
    #gmap{style: 'height: 500px; padding: 3px; border: 3px solid #ddd;'}

#properties{'data-studio-url': CDO.studio_url}
