-facebook = {:u=>'https://www.youtube.com/watch?v=nKIu9yen5ncphp'}
-twitter = {:url=>'http://code.org', :related=>'codeorg', :hashtags=>'CODE', :text=>'Inspirational video by Zuckerberg, @BillGates, @iamwill, @ChrisBosh, @Jack Dorsey & other heroes'}

.col-63
  .main-video.clear{style: "width: 98%;"}
    = view :display_video_thumbnail, id: "code_launch", video_code: "nKIu9yen5nc", play_button: 'center', download_path: "//videos.code.org/social/what-most-schools-dont-teach.mp4", facebook: facebook, twitter: twitter, letterbox: "false"

    = view :share_buttons, facebook:facebook, twitter:twitter
    .youtube-channel-link
      %a{:href=>'http://www.youtube.com/user/CodeOrg'}<
        Go to YouTube channel

.col-66
  .other-videos.clear{style: " width: 100%; float:left; margin-left: -25px;"}
    %h3{style: "padding-left: 5px;"} Other cool videos you can share

    -DB[:cdo_youtube_videos].all.each do |video|
      .col-32{style: "padding-left: 1%; padding-right: 1%;"}
        .other-video{style: "width:98%; float:left;"}
          = view :display_video_thumbnail, id: video[:id_s] , video_code: video[:code_s], play_button: 'none', download_path: video[:download_path_s], letterbox: 'false', caption: video[:title_s]
