-facebook = {:u=>'https://www.youtube.com/watch?v=nKIu9yen5ncphp'}
-twitter = {:url=>'http://code.org', :related=>'codeorg', :hashtags=>'CODE', :text=>'Inspirational video by Zuckerberg, @BillGates, @iamwill, @ChrisBosh, @Jack Dorsey & other heroes'}


.main-video.clear{style: "width: 100%;"}
  %div{style: "text-align:right;"}
    %div{style: "width: 100%; height: 100%; margin: 0 auto;"}
      %div
        = view :display_video_thumbnail, id: "code_launch", video_code: "nKIu9yen5nc", play_button: 'center', download_path: "//videos.code.org/social/what-most-schools-dont-teach.mp4", facebook: facebook, twitter: twitter, letterbox: "false"

  = view :share_buttons, facebook:facebook, twitter:twitter
  .youtube-channel-link
    %a{:href=>'http://www.youtube.com/user/CodeOrg'}<
      Go to YouTube channel

.other-videos.clear{style:"width:100%"}
  %h3 Other cool videos you can share

  -DB[:cdo_youtube_videos].all.each do |video|
    %div.col-33
      .other-video{style: "width:90%"}
        = view :display_video_thumbnail, id: video[:id_s] , video_code: video[:code_s], play_button: 'none', download_path: video[:download_path_s], letterbox: 'false', caption: video[:title_s]
