.consoleContainer {
  display: flex;
  flex-direction: column;
  gap: 6px;
  overflow-y: auto;
  height: 100%;
  padding: 8px;
}

.consoleLogEntry {
  display: flex;
  justify-content: space-between;
  width: 100%;

  p {
    margin-bottom: 0;
  }
}

.timestamp {
  font-family: monospace;
  color: var(--text-neutral-secondary);
}

.consoleLog {
  span {
    display: block;
    width: 100%;
  }
}
