<% var i18n = require('../../locale'); %>
<h1 style="color: #e7e8ea; margin-bottom: 23px;" class="minecraft-big-yellow-header" id="getting-started-header"><%= i18n.playerSelectChooseCharacter() %></h1>

<!--<h2 id="select-character-text"><%= i18n.playerSelectChooseCharacter() %></h2>-->

<div id="choose-character-container">
  <div class="minecraft-character" id="choose-alex">
    <h1 class="minecraft-big-yellow-header">Alex</h1>
    <div class="character-portrait" id="alex-portrait"></div>
    <div class="choose-character-button" id="choose-alex-select"><%= i18n.selectChooseButton() %></div>
  </div>
  <div class="minecraft-character" id="choose-steve">
    <h1 class="minecraft-big-yellow-header">Steve</h1>
    <div class="character-portrait" id="steve-portrait"></div>
    <div class="choose-character-button" id="choose-steve-select"><%= i18n.selectChooseButton() %></div>
  </div>
</div>

<div id="close-character-select"></div>
