@import '@cdo/apps/componentLibrary/common/styles/mixins';
@import '@cdo/apps/componentLibrary/typography/typography.module';

.inputContainer {
  display: flex;
  flex-direction: column;
  max-width: 400px;

  label.input {
    margin-bottom: 1rem;

    input {
      width: 100%;
    }
  }

  .alert {
    margin: 1rem 0;
  }
}

button.submit {
  margin: 1rem 0;
}

h2.sectionHeader {
  color: $light_primary_500;
}
