.jumbo-container {
    width: 100%;
    padding-left: 5px;
    position: relative;
}

.jumbo-img {
    width: 100%;
    border-radius: 5px;
}

.jumbo-logo {
    width: 240px;
}

.jumbo-heading {
    position: absolute;
    top: 0px;
    left: 380px;
}

.jumbo-h1 {
    margin-top: 0px;
    margin-bottom: 10px;
    color: white;
    font-size: 30px;
}

.jumbo-h1-second-box {
    color: white;
    display: none;
}

.jumbo-tutorial {
    position: absolute;
    top: 10px;
    left: -20px;
    width: 410px;
    line-height: 16px;
}

.jumbo-tutorial-box {
    color:white;
    border-radius: 5px;
}

.jumbo-h2 {
    margin-top: 0px;
    margin-bottom: 10px;
    color: white;
}

.jumbo-header2 {
    padding: 10px;
}

.jumbo-disabled {
    font-size: 18px;
    height: 40px;
    background-color: #c6cacd;
    border-color: #c6cacd;
}

.jumbo-tutorial-specs {
    font-size: 12px;
    line-height: 16px;
}

.jumbo-try-button {
    font-size:18px;
    height:40px;
}

#secondary-nav {
    position: absolute;
    top: 308px;
    left: 5px;
    width: 100%;
    padding-right: 5px;
}

.secondary-nav {
    width: 100%;
    height: 45px;
    padding-top: 12px;
    border-radius: 0px 0px 5px 5px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-family: 'Gotham 4r', sans-serif;
    text-transform: uppercase;
    text-align: center;
}

.secondary-nav a {
    color: white;
    font-family: 'Gotham 4r', sans-serif;
    text-decoration: none;
}

.navlink:hover,
.navlink:active {
    border-bottom: solid 2px rgb(255, 164, 0);
}

@media screen and (min-width: 971px) {
    .jumbo-tutorial {
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        padding: 20px;
        border-radius: 5px;
        margin-top: 20px;
        margin-left: 60px;
    }
}

@media screen and (min-width: 0px) and (max-width: 970px) {
    .jumbo-tutorial {
        width: 100%;
        float: left;
        padding: 5px;
        padding-top: 10px;
        position: static;
        color: dimgray;
        margin-top: 20px;
    }

    .jumbo-tutorial-box {
        background-color: white;
        background-size: 605px 100px;
        padding: 10px;
        border: solid 1px #c6cacd;
        color: dimgray;
    }

    .jumbo-heading {
        top: 15px;
        left: 250px;
    }

    .img-container {
        padding: 0px 5px;
    }

    .jumbo-1 {
        display: none;
    }

    .jumbo-h1 {
        display: none;
    }

    .jumbo-h1-second-box {
        display: block;
        margin-top: 5px;
        margin-bottom: 10px;
        color: dimgray;
    }

    #secondary-nav {
        position: absolute;
        top: 182px;
        width: 100%;
        padding-left: 5px;
        padding-right: 10px;
    }
}

@media screen and (min-width: 0px) and (max-width: 512px) {
    .jumbo-tutorial {
        width: 100%;
        position: static;
        line-height: 16px;
        color: dimgray;
    }

    .jumbo-heading {
        top: 0px;
        left: 42%;
        width: 55%;
    }

    .jumbo-h1-second-box {
        display: static;
        color: dimgray;
    }

    .jumbo-logo {
        width: 200px;
    }

    #secondary-nav {
        display: none;
    }
}
