# Quick Links

<div class="row">
<div style="width:90%;margin:2%;">
<div style="width:7%;float:left;">
<a href="https://studio.code.org/home", target=_"blank"><i class="fa fa-dashboard fa-2x" style="color: #7665a0;"></i></a></div>
<div style="width:90%;padding:0 0 0 10px;float:left;"><a href="https://studio.code.org/pd/workshop_dashboard/workshops" target="_blank">Workshop Dashboard</a><p>Head to the Workshop Dashboard to see your scheduled workshops, take attendance, and view your survey feedback.</p></div>
</div>
</div>

<div class="row">
<div style="width:90%;margin:2%;">
<div style="width:7%;float:left;">
<a href="https://docs.google.com/document/d/1_pIaekAxOXnVUO4KYnnlmgH-Bna3f046MidrD9gYnZI/preview", target=_"blank"><i class="fa fa-book fa-2x" style="color: #7665a0;"></i></a></div>
<div style="width:90%;padding:0 0 0 10px;float:left;"><a href="https://docs.google.com/document/d/1_pIaekAxOXnVUO4KYnnlmgH-Bna3f046MidrD9gYnZI/preview" target="_blank">Facilitator Handbook</a><p>The handbook contains resources and materials to help you be a successful Code.org facilitator.</p></div>
</div>
</div>

<div class="row">
<div style="width:90%;margin:2%;">
<div style="width:7%;float:left;">
<a href="https://docs.google.com/document/d/1JS2HDBPTWJ_TNqrTVemmwNtUB3XL-vmLaQLP23YUyEo/preview", target=_"blank"><i class="fa fa-briefcase fa-2x" style="color: #7665a0;"></i></a></div>
<div style="width:90%;padding:0 0 0 10px;float:left;"><a href="https://docs.google.com/document/d/1JS2HDBPTWJ_TNqrTVemmwNtUB3XL-vmLaQLP23YUyEo/preview" target="_blank">Facilitator Tools Guide</a><p>Check out our Facilitator Tools Guide for details (plus screenshots!) 
about navigating the workshop dashboard, surveys, and more.</p></div>
</div>
</div>

<br>
# Workshop Resources

<div class="row">
<div style="width:90%;margin:2%;">
<div style="width:7%;float:left;">
<a href="https://docs.google.com/document/d/e/2PACX-1vTpexyCf3-x5bRJLRgvUofcMr05hla9JKQJ91jyb8M7deLpkFBA5UVHnFcj2hfN9PFZFaos6Iu2Oecp/pub", target=_"blank"><i class="fa fa-newspaper-o fa-2x" style="color: #7665a0;"></i></a></div>
<div style="width:90%;padding:0 0 0 10px;float:left;"><a href="https://docs.google.com/document/d/e/2PACX-1vTpexyCf3-x5bRJLRgvUofcMr05hla9JKQJ91jyb8M7deLpkFBA5UVHnFcj2hfN9PFZFaos6Iu2Oecp/pub" target=_"blank">2021 Facilitator Summit Resources</a><p>Check out the Digital Digest for resources and recordings from the 2021 CS Discoveries and CS Principles Facilitator Summit.</div>
</div>
</div>

<div class="row">
<div style="width:90%;margin:2%;">
<div style="width:7%;float:left;">
<a href="https://docs.google.com/document/d/1KJZPY5cr3WuC92WPYk085AapBZE2oem_mGJfYOufNhY/edit?usp=sharing", target=_"blank"><i class="fa fa-desktop fa-2x" style="color: #7665a0;"></i></a></div>
<div style="width:90%;padding:0 0 0 10px;float:left;"><a href="https://docs.google.com/document/d/1KJZPY5cr3WuC92WPYk085AapBZE2oem_mGJfYOufNhY/edit?usp=sharing" target=_"blank">Virtual Workshop Resources</a><p>Check out this resource to help you host and run any workshop virtually!</div>
</div>
</div>

<div class="row">
<div style="width:90%;margin:2%;float:left;">
<div style="width:7%;float:left;">
<a href="https://docs.google.com/document/d/1odHdMlorMwS7x2VA-e1S6otQgQg2K8iC-Vhm6bFParI/preview", target=_"blank"><i class="fa fa-mortar-board fa-2x" style="color: #7665a0;"></i></a></div>
<div style="width:90%;padding:0 0 0 10px;float:left;"><a href="https://docs.google.com/document/d/1odHdMlorMwS7x2VA-e1S6otQgQg2K8iC-Vhm6bFParI/preview" target="_blank">TLO Guide</a><p>Visit the 2021-22 TLO Guide for tips about how to run these role-play sessions.</p></div>
</div>
</div>

<!--
<div class="row">
<div style="width:90%;margin:2%;">
<div style="width:7%;float:left;">
<a href="https://docs.google.com/document/d/1OG2DYfVth46nrMVqx0wEh6VNaaiS9Vjj_T3SuOxy8w4/edit?usp=sharing", target=_"blank"><i class="fa fa-file-text fa-2x" style="color: #7665a0;"></i></a></div>
<div style="width:90%;padding:0 0 0 10px;float:left;"><a href="https://docs.google.com/document/d/1OG2DYfVth46nrMVqx0wEh6VNaaiS9Vjj_T3SuOxy8w4/edit?usp=sharing" target=_"blank">2-day In-Person Workshop Guide</a><p>If you are hosting a 2-day in-person AYW, be sure to review the Crafting 2-day Academic Year Workshop Guide.</div>
</div>
</div>
-->

<!--
<div style="width:45%;margin:2%;float:left;">
<div style="width:7%;margin-right:6%;float:left;">
<a href="https://docs.google.com/document/d/1l4z2dGxT24KFI09lSLJDILRz9qXOTierRcdZ1922BLs/preview#heading=h.ru8jnleec5wz", target=_"blank"><i class="fa fa-calendar fa-2x" style="color: #7665a0;"></i></a></div>
<div style="width:80%;padding:0 0 0 10px;float:left;"><a href="https://docs.google.com/document/d/1l4z2dGxT24KFI09lSLJDILRz9qXOTierRcdZ1922BLs/preview#heading=h.ru8jnleec5wz" target="_blank">Agenda and Resource Availability</a><p>Curious when the team will be releasing agendas and additional resources? Check out 
our in-person and virtual schedule alignment and resource availability.</p></div>
</div>
</div>
</div>
-->

<!--
# Resources for Summer Workshops

<div class="row">
<div style="width:45%;margin:2%;float:left;">
<div style="width:7%;margin-right:6%;float:left;">
<a href="https://docs.google.com/spreadsheets/d/1ljGPGqAWpaghqFivsxLaT3td6rXywA-R8pSjWhCLCx0/edit#gid=904631244", target=_"blank"><i class="fa fa-globe fa-2x" style="color: #7665a0;"></i></a></div>
<div style="width:80%;padding:0 0 0 10px;float:left;"><a href="https://docs.google.com/spreadsheets/d/1ljGPGqAWpaghqFivsxLaT3td6rXywA-R8pSjWhCLCx0/edit#gid=904631244" target=_"blank">Network-Curated Resources</a><p>Prepping for a virtual summer workshop? Check out this bank of network-curated resources from facilitators and Regional Partners.</div>
</div>
</div>
</div>
-->

<br>
# Curriculum Resources
<div class="row">
<div style="width:90%;margin:2%;">
<div style="width:7%;float:left;">
<a href="https://studio.code.org/courses/csd", target=_"blank"><i class="fa fa-pencil fa-2x" style="color: #7665a0;"></i></a></div>
<div style="width:90%;padding:0 0 0 10px;float:left;"><a href="https://studio.code.org/courses/csd" target="_blank">CS Discoveries Curriculum</a><p>Access the full CS Discoveries curriculum, including plugged and unplugged activities, lesson plans, pacing guides, and more.</p></div>
</div>
</div>

<div class="row">
<div style="width:90%;margin:2%;">
<div style="width:7%;float:left;">
<a href="https://docs.google.com/document/d/1myJwrDyRlAjwVNDS3gs-3JaJNhogsGMt9Swo-bpySgE/edit?usp=sharing", target=_"blank"><i class="fa fa-book fa-2x" style="color: #7665a0;"></i></a></div>
<div style="width:90%;padding:0 0 0 10px;float:left;"><a href="https://docs.google.com/document/d/1myJwrDyRlAjwVNDS3gs-3JaJNhogsGMt9Swo-bpySgE/edit?usp=sharing" target="_blank">CS Discoveries Curriculum Guide</a><p>Check out the CS Discoveries Curriculum Guide for additional resources, including an overview of our learning tools, teaching and learning strategies, the Problem Solving Process, and more.</p></div>
</div>
</div>

<div class="row">
<div style="width:90%;margin:2%;">
<div style="width:7%;float:left;">
<a href="https://docs.google.com/document/d/1BgkfW1JyzWJTNK5nGPJ768WUQydKhMFXunjApiCKV1w/edit?usp=sharing/", target=_"blank"><i class="fa fa-repeat fa-2x" style="color: #7665a0;"></i></a></div>
<div style="width:90%;padding:0 0 0 10px;float:left;"><a href="https://docs.google.com/document/d/1BgkfW1JyzWJTNK5nGPJ768WUQydKhMFXunjApiCKV1w/edit?usp=sharing" target="_blank">What's new in CSD 2021-22?</a><p>High level overview of the updates you can find in the 2021-22 version of CS Discoveries.</p></div>
</div>
</div>
