---
title: AP® Computer Science A
video_player: true
theme: responsive
style_min: true
---

<link href="/css/csa.css" rel="stylesheet">

<%=view :solid_block_header, :title=>"AP® Computer Science A" %>

<section class="top">
  <div class="col-75">
    <h2>Introduce students to software engineering and object-oriented design while they learn the Java programming language in this new curriculum for <a href="https://apcentral.collegeboard.org/pdf/ap-computer-science-a-course-and-exam-description.pdf?course=ap-computer-science-a" target="_blank">AP® Computer Science A (AP® CSA)</a>.</h2>
  </div>
  <figure class="col-20">
    <img class="ap-csa-endorsed-badge" src="/images/csa/ap-csa-endorsed-badge.png" alt="College Board AP CSA Endorsed badge"/>
  </figure>
  <div style="clear: both"></div>
  <figure class="csa-highlights">
    <div class="col-50">
      <%=view :display_video_thumbnail, id: "intro_csa", video_code: "lFkFi2jGs70", play_button: "center", letterbox: "false" %>
    </div>
    <div class="col-50">
      <ul>
        <li>Culturally responsive pedagogy</li>
        <li>Real-world problem investigation</li>
        <li>Explainer videos with diverse presenters</li>
        <li>Java Lab - a web-based Java programming environment</li>
        <li>Open-ended projects for more personalized learning</li>
        <li>Student friendly code review tool</li>
      </ul>
    </div>
  </figure>
  <div style="clear: both"></div>
</section>
<div style="clear: both"></div>

<hr>

<section class="new-approach">
  <h1>A new approach to AP® CSA</h1>
  <div class="flex-container">
    <p class="col-66">In 2020, underrepresented racial/ethnic groups only made up 15% of <a href="https://apcentral.collegeboard.org/pdf/ap-computer-science-a-course-and-exam-description.pdf?course=ap-computer-science-a" target="_blank">AP® CSA exam</a> takers. Female students made up 25%. Code.org's CSA curriculum incorporates <a href="/images/csa/csa-culturally-responsive-pedagogy-and-equity.pdf" target="_blank">culturally responsive and equitable teaching strategies</a> designed to invite, engage, and empower a rich diversity of students.</p>
    <aside class="stat col-25">
      <span>34%</span>
      <p>increase in likelihood of students enrolling in college if they take AP® CSA</p>
    </aside>
  </div>
  <div style="clear: both"></div>
  <div class="flex-container">
    <figure class="col-45">
      <img class="javalab-gif" src="/images/csa/csa-java-lab-demo.gif" alt="Gif animation showing a Java-Lab demo" />
    </figure>
    <div class="col-50 student-highlights">
      <h2>With CSA from Code.org, students will:</h2>
      <ul>
        <li>Learn in a user-friendly and visually rich multimedia environment</li>
        <li>Do software engineering work connected to the real world</li>
        <li>Analyze open-source code</li>
        <li>Collaboratively develop algorithms</li>
        <li>Gain experience writing and making sense of documentation</li>
      </ul>
    </div>
  </div>
  <div style="clear: both"></div>
</section>
<div style="clear: both"></div>


<aside class="at-a-glance">
  <h2>Our AP® CSA curriculum at a glance:</h2>
  <ul>
    <li>
      <h3>Grade Level</h3>
      <p>9+</p>
    </li>
    <li>
      <h3>Time</h3>
      <p>Year-long</p>
    </li>
    <li>
      <h3>Overview</h3>
      <p style="margin-bottom: 2px">9 Units</p>
      <span>140 Lessons</span>
    </li>
    <li>
      <h3>Tech rec's</h3>
      <p>Modern browser</p>
    </li>
    <li>
      <h3>Recommended for:</h3>
      <p>Students who've taken an intro course</p>
    </li>
  </ul>
</aside>
<div style="clear: both"></div>


<section class="cta-curriculum">
  <div class="cta-button-wrapper">
    <a href="https://studio.code.org/courses/csa-2022"><button>Check out the curriculum</button></a>
    <p class="tiny">You must become a verified teacher to use the CSA curriculum and JavaLab. Please fill out this <a href="https://docs.google.com/forms/d/e/1FAIpQLSdGGAJuaDMBVIRYnimPhAL96w6fCl4UdvhwmynGONM75TWwWw/viewform" target="_blank">verification form</a>. If you are already verified for CSP/D, you already have access to CSA.</p>
  </div>
  <div class="afe">
    <h3>In partnership with <a href="https://www.amazonfutureengineer.com/" target="_blank"><img src="/images/fit-250/AFE-dark-logo.png" alt="Amazon Future Engineer logo"/></a></h3>
    <p class="tiny">Amazon Future Engineer* is a comprehensive childhood-to-career program to inspire, educate, and train low-income and other disadvantaged children and young people to pursue careers in computer science. <a href="/afe">Learn about our partnership</a>.</p>
  </div>
  <div style="clear: both"></div>
</section>
<div style="clear: both"></div>

<hr>

<section class="cta-pl">
  <h2>View Professional Learning Opportunities</h2>
  <div class="flex-container">
    <div class="col-50">
      <p>Our highly supportive Professional Learning Program helps you bring CSA to the students in your school with this <strong>no-cost curriculum</strong>. In-person and virtual workshops starting this summer.</p>
      <a href="/educate/professional-learning/middle-high"><button>Learn more</button></a>
    </div>
    <figure class="col-45">
      <img src="/images/csa/prof-learning-summit-02.jpg" alt="Two teachers talking and smiling at a professional learning workshop"/>
    </figure>
  </div>
</section>
<div style="clear: both"></div>


<section class="fun-info">
  <div class="flex-container">
    <figure class="col-45">
      <img src="/images/csa/student-group.jpg" alt="A group of students "/>
    </figure>
    <div class="testimonials col-50">
      <h2>What teachers are saying about our AP® CSA curriculum:</h2>
      <%=view :csa_testimonials %>
    </div>
  </div>
  <div style="clear: both"></div>
</section>
<div style="clear: both"></div>


<section class="email-form">
  <div class="col-100">
    <h2>Subscribe for the latest news</h2>
    <p>Sign up for our monthly emails, which contain the latest news about tools, videos, and other important updates for CSA.</p>
    <div class="flex-container">
      <iframe class="col-50" src="https://go.pardot.com/l/153401/2021-02-19/p291ns" width="100%" height="400" type="text/html" frameborder="0" allowtransparency="true" style="overflow:hidden"></iframe>
      <img class="col-33" src="/images/csa/csa-why-2.png">
    </div>
    <p>Missed the previous updates? Check out the latest CSA news <a href="https://code.org/educate/CSAStatus_Signup">here</a>.</p>
    <div style="clear: both"></div>
  </div>
</section>
<div style="clear: both"></div>

<hr>

<section>
  <h2>Top universities and employers support CSA</h2>
  <p><strong>Industry Advisory Council</strong></p>
  <div class="col-33">
    <ul>
      <li><a href="https://www.adobe.com/">Adobe</a></li>
      <li><a href="https://www.amazon.com/">Amazon</a></li>
      <li><a href="https://www.atlassian.com/">Atlassian</a></li>
      <li><a href="https://www.disney.com/">Disney</a></li>
      <li><a href="https://www.epicgames.com/">Epic Games</a></li>
      <li><a href="https://www.goldmansachs.com/">Goldman Sachs</a></li>
    </ul>
  </div>
  <div class="col-33">
    <ul>
      <li><a href="https://www.google.com/">Google</a></li>
      <li><a href="https://www.ibm.com/">IBM</a></li>
      <li><a href="https://www.facebook.com/">Instagram/Facebook</a></li>
      <li><a href="https://www.microsoft.com/">Microsoft</a></li>
      <li><a href="https://www.riotgames.com/">Riot Games</a></li>
      <li><a href="https://www.roblox.com/">Roblox</a></li>
    </ul>
  </div>
  <div class="col-33">
    <ul>
      <li><a href="https://www.snapchat.com/">Snapchat (Snap Inc.)</a></li>
      <li><a href="https://www.spotify.com/">Spotify</a></li>
      <li><a href="https://www.tesla.com/">Tesla</a></li>
      <li><a href="https://unity.com/">Unity</a></li>
      <li><a href="https://www.vistaequitypartners.com/">Vista Equity Partners</a></li>
    </ul>
  </div>
  <div style="clear: both"></div>
  <p><strong>Education Advisory Council</strong><p>
  <div class="col-33">
    <ul>
      <li><a href="https://www.bowiestate.edu/">Bowie State</a></li>
      <li><a href="http://www.buffalo.edu/">University at Buffalo</a></li>
      <li><a href="https://www.cmu.edu/">Carnegie Mellon University</a></li>
      <li><a href="https://www.harvard.edu/">Harvard University</a></li>
      <li><a href="https://www.uic.edu/">University of Illinois - Chicago</a></li>
    </ul>
  </div>
  <div class="col-33">
    <ul>
      <li><a href="https://illinois.edu/">University of Illinois - Urbana Champaign</a></li>
      <li><a href="https://www.montgomerycollege.edu/">Montgomery College</a></li>
      <li><a href="https://ncwit.org/">NCWIT</a></li>
      <li><a href="https://www.unlv.edu/">University of Nevada - Las Vegas</a></li>
      <li><a href="https://www.unomaha.edu/">University of Nebraska - Omaha</a></li>
    </ul>
  </div>
  <div class="col-33">
    <ul>
      <li><a href="https://www.spelman.edu/">Spelman College</a></li>
      <li><a href="https://www.utdallas.edu/">University of Texas at Dallas</a></li>
      <li><a href="https://www.washington.edu/">University of Washington</a></li>
      <li><a href="https://westminstercollege.edu/">Westminster College</a></li>
    </ul>
  </div>
  <div style="clear: both"></div>
  <p><strong>State Advisory Council</strong><p>
  <div class="col-33">
    <ul>
      <li>Connecticut</li>
      <li>Georgia</li>
      <li>Michigan</li>
    </ul>
  </div>
  <div class="col-33">
    <ul>
      <li>New Mexico</li>
      <li>Pennsylvania</li>
      <li>Ohio</li>
      <li>Oklahoma</li>
    </ul>
  </div>
  <div style="clear: both"></div>
</section>
<div style="clear: both"></div>

<hr>

<section>
  <h2>Frequently Asked Questions</h2>
  <details>
    <summary>Is CSA mapped to standards?</summary>
    <p>Yes, Code.org's CSA curriculum is mapped to the College Board Course and Exam Description for AP® CSA.</p>
  </details>
  <details>
    <summary>How much does it cost to teach CSA?</summary>
    <p>Our curriculum and platform are available at no cost for anyone, anywhere, to teach!</p>
  </details>
  <details>
    <summary>How/Where can I get professional development for CSA?</summary>
    <p>Professional learning for Code.org's CSA curriculum will be available beginning Summer 2022. <a href="/educate/professional-learning/middle-high">Click here to apply</a>.</p>
  </details>
  <details>
    <summary>What is the recommended timing for teaching CSA?</summary>
    <p>A minimum of 140 class hours; should be taught as a full-year course. Contains nine units, which includes an AP® Exam Prep unit.</p>
  </details>
  <details>
    <summary>What materials do I need for this course?</summary>
    <p>This curriculum requires that students have access to computers with a modern web browser. At this time, our curriculum is not optimized for tablets or mobile devices. For more details, <a href="/educate/it">check out our technology requirements</a>.</p>
    <p>In addition to technology, typical classroom supplies like scissors and sticky notes will also be used throughout the curriculum.</p>
  </details>
  <details>
    <summary>Why do I need to become a verified teacher to teach CSA and run code in Java Lab?</summary>
    <p>Java Lab is a unique environment from all other Code.org programming environments and requires additional measures to ensure network security for all. <a href="https://support.code.org/hc/en-us/articles/6104078305549" target="_blank">Read more about it here</a>.</p>
  </details>
  <details>
    <summary>How can I access answer keys?</summary>
    <p>Starting in Summer 2022, and with an approved teacher account, you can find answer keys to programming tasks or “Checks for Understanding” in a blue "Teacher Only" panel on Code Studio that shows in the online lessons and activities. Keys for Activity Guides will also be found linked in the lesson plans for the curriculum.</p>
  </details>
  <details>
    <summary>How was the curriculum developed?</summary>
    <p>Our CSA curriculum was written by teachers, for teachers and was designed with our Curriculum Values in mind. In particular, we focused on expanding access to those who historically have been denied opportunities to learn about the exciting and impactful field of computing. The following goals guided the creation of the CSA curriculum:</p>
    <ul>
      <li>Goal 1: Develop an Equitable Course</li>
      <li>Goal 2: Prepare Students for Higher Ed and Industry</li>
      <li>Goal 3: Design Relevant, Engaging Activities</li>
      <li>Goal 4: Incorporate Best Practices from the Field</li>
    </ul>
    <p>For more information about the values that guided our work, please see our <a href="/educate/curriculum/values">curriculum values</a> and our <a href="/educate/professional-learning/values">professional learning values</a>.</p>
  </details>
</section>

