---
title: AP® Computer Science A
theme: responsive_full_width
---

%link{href: '/css/generated/design-system-pegasus.css', rel: 'stylesheet'}
%link{href: "/css/generated/csa-styles.css", rel: "stylesheet"}

= view :analytics_event_log_helper, event_name: AnalyticsConstants::CSA_CURRICULUM_PAGE_VISITED_EVENT
