---
title: CSA
video_player: true
theme: responsive
style_min: true
---

<div class="solid-block-header">
<p>Computer Science A </p>
</div>

<br>

<div class="col-50" style="padding-right: 20px; padding-bottom:30px; text-align:center">
	<img src="/images/csa/csa-top.png" style="width:85%">
</div>

<div class="col-50">
	<p><strong>Introduction to Java Programming</strong></p>
	<p>Computer Science A (CSA) introduces students to software engineering and object-oriented design while learning the Java programming language. 
	<p>The Code.org CSA curriculum is recommended for any high school student who wishes to continue their computer science education after completing an introductory course, such as Computer Science Principles (CS Principles) or Computer Science Discoveries (CS Discoveries).
	<p>The Code.org curriculum prepares students for the <a href="https://apcentral.collegeboard.org/pdf/ap-computer-science-a-course-and-exam-description.pdf?course=ap-computer-science-a">AP® Computer Science A (AP CSA)</a> exam while developing skills used in the field. The curriculum will be available at no cost to anyone, anywhere to teach, starting in Fall 2022. Professional learning for CSA will be available in participating regions in Summer 2022.</p>
	<a href="https://code.org/educate/professional-learning/middle-high"><button>Professional learning opportunities</button></a>
<p>

</div>

<div style="clear: both; margin-bottom:40px"></div>

<h2>What is CSA?</h2>
<p><a href="https://apcentral.collegeboard.org/pdf/ap-computer-science-a-course-and-exam-description.pdf?course=ap-computer-science-a" target="_blank">AP® Computer Science A</a> (AP CSA) is a Java programming course offered by the College Board. It includes content expected to be covered in an introductory college computer science course. As described by the College Board:</p>
<blockquote>AP Computer Science A introduces students to computer science through programming. Fundamental topics in this course include the design of solutions to problems, the use of data structures to organize large sets of data, the development and implementation of algorithms to process data and discover new information, the analysis of potential solutions, and the ethical and social implications of computing systems. The course emphasizes object-oriented programming and design using the Java programming language.</blockquote>
<p><a href="https://code.org/educate/csa_1-pager.pdf">Code.org’s CSA curriculum</a> covers this content and prepares students for the AP® CSA exam. We developed this curriculum with equity in mind, which we believe will make this course more accessible for students who have traditionally been underrepresented in computer science, particularly those from underrepresented racial and ethnic groups and young women.</p>

<h2>Who is this curriculum for?</h2>
<p>The Code.org CSA curriculum is recommended for any high school student who wishes to continue their computer science education after completing an introductory course, such as CS Principles or CS Discoveries (CSD). 
<p>Code.org’s CSA curriculum is designed to make introductory Java programming more accessible and engaging for students who have traditionally been underrepresented in computer science, particularly young women and students from underrepresented racial and ethnic groups. 
<p>In addition, the course introduces software engineering concepts and practices to give students a more concrete understanding of how their learning is applied in the real world.
<p>Bring CSA to the students in your school with this no-cost curriculum, available Fall 2022. <a href="https://code.org/educate/professional-learning/middle-high">Check to see if professional learning for CSA will be available in your region this summer.</a>
<p>

<h2>Why are we offering a CSA curriculum?</h2>
<img src="/images/csa/csa-why-1.png" style="float:right; width:25%; padding-left:20px">
<h3>To close access gaps for students from underrepresented groups</h3>
<p>In 2020, students from underrepresented racial and ethnic groups only made up 14 percent of AP® CSA exam takers, and young women made up just 25 percent. We aim to improve upon these numbers by reimagining the structure of the traditional AP CSA curriculum and provide support and resources to assist teachers in delivering an engaging, exciting, and equitable curriculum.</p>
<h3>To better prepare our students for careers in computer science</h3>
<p>Industry partners indicate to us that students who have CSA experience are more prepared for internships than their peers with CS Principles experience. This observation has been echoed by partners in higher education regarding student readiness for college level CS courses. With a large diversity gap in student enrollment in the course, CSA needs new ways to engage young women and students from underrepresented racial and ethnic groups to prepare them for higher education and industry.</p>
<h3>Because teachers are asking for it!</h3>
<p>Teachers have been advocating for the development of an equitable and culturally responsive CSA curriculum: <strong>84%</strong> of CS Principles teachers told us last year they want to start teaching CSA using Code.org<a href="#84percent">[2]</a>!</h3>
<br>
<div class="col-33" style="background-color:#f5f5dc; padding: 10px; border: 4px solid white; text-align: center">
	<br>
	<br>
	<span style="font-size: 24px">
	<strong>84%</strong>
	</span>
	<br>
	<span style="font-size: 16px">
	of CS Principles teachers want to teach AP CSA using Code.org
	</span>
	<br>
	<br>
	<br>
</div>
<div class="col-33" style="background-color:#d9f3f5; padding: 10px 10px 13px 10px; border: 4px solid white; text-align: center">
	<i>“The Code.org approach has empowered millions to have access to CS education. Adding CSA would be welcomed by all of us working to build capacity and grow access to CS for all learners. If you build it, it will be well-done and connected to the real world.”</i>
</div>
<div class="col-33" style="border: 4px solid white; text-align:center">
	<img src="/images/csa/csa-why-2.png" style="width:90%">
</div>

<div style="clear: both"></div>

<div class="col-33" style="background-color:#ebe8f1; padding: 10px 10px 13px 10px; border: 4px solid white; text-align: center">
	<br>
	<i>“It is a huge issue that female and minority students are so underrepresented in the CSA exam. I feel like a Code.org curriculum would be more accessible and foster equity.”</i>
	<br>
	<br>
</div>
<div class="col-33" style="background-color:#f5f5dc; padding: 22px 10px 22px 10px; border: 4px solid white; text-align: center">
	<i>"I have a feeling that if Code.org developed a CSA curriculum, my district would jump on board to use it. We already use Code.org for CSP, and being able to utilize the same program for both courses would be extremely beneficial."</i>
</div>
<div class="col-33" style="background-color:#d9f3f5; padding: 22px 10px 22px 10px; border: 4px solid white; text-align: center">
	<i>“Yes!!! A thousand times yes! I have taught Code.org CSP for 4 years. CSD for 2 years. I love that your materials are engaging, promote equity, and support instructors. I have confidence that you would do the same for CSA.”</i>
</div>

<div style="clear: both"></div>

<h2>Reimagining CSA</h2>
<p>CSA curricula have traditionally been focused on the building blocks required to design solutions to problems through programming. Creating this new curriculum with equity in mind means reimagining the structure and pedagogy to excite and inspire students from underrepresented racial and ethnic groups and young women while teaching the technical building blocks and preparing students for the AP® exam. Code.org’s CSA curriculum: 
<p>
<ul>
<li>Incorporates culturally responsive and equitable teaching strategies and frameworks by considering cultural references and learning styles throughout the curriculum — from the vocabulary, to the visuals, to the sequence of concepts taught.</li>
<li>Acknowledges diversity of experiences and interests. Students investigate real-world problems during class activities and make connections to their own work. Projects are carefully designed to be instructive yet open-ended, enabling students to demonstrate mastery of concepts and engage in their passions without making assumptions about their cultural background or life experiences.</li>
<li>Brings to life a “Software Engineering for All” narrative. This narrative helps students envision themselves as software engineers, and the curriculum uses videos featuring presenters from different backgrounds who work in technology to help students visualize opportunities for their own futures.</li>
<li>Helps students develop and model valuable, real-world career skills. In addition to skills like tracing code segments and documenting code, Code.org’s approach to CSA incorporates collaboration and career skills that go beyond the AP® CSA course requirements. For example, our curriculum includes a student-friendly code review tool, which is a common quality assurance practice in the technology industry.</li>
</ul>
<p>
<h2>Top universities and employers support CSA</h2>
<p>
In addition to support from teachers who have asked for a CSA curriculum, we’ve also received encouragement and feedback from state governments, industry, and educational institutions. Leaders from the technology industry, academia, and state governments are participating in unique advisory councils to give us valuable insight and help us understand how to prepare all students for continuing pathways in computer science. 
<p>
<strong>Industry Advisory Council</strong>
<p>
<div class="col-50" style="padding-right: 20px; padding-bottom:30px; text-align:left">
<ul>
<li><a href="https://www.adobe.com/">Adobe</a></li>
<li><a href="https://www.amazon.com/">Amazon</a></li>
<li><a href="https://www.atlassian.com/">Atlassian</a></li>
<li><a href="https://www.disney.com/">Disney</a></li>
<li><a href="https://www.epicgames.com/">Epic Games</a></li>
<li><a href="https://www.goldmansachs.com/">Goldman Sachs</a></li>
<li><a href="https://www.google.com/">Google</a></li>
<li><a href="https://www.ibm.com/">IBM</a></li>
</ul>
</div>
<div class="col-50" style="padding-right: 20px; padding-bottom:30px; text-align:left">
<ul>
<li><a href="https://www.facebook.com/">Instagram/Facebook</a></li>
<li><a href="https://www.microsoft.com/">Microsoft</a></li>
<li><a href="https://www.riotgames.com/">Riot Games</a></li>
<li><a href="https://www.roblox.com/">Roblox</a></li>
<li><a href="https://www.snapchat.com/">Snapchat (Snap Inc.)</a></li>
<li><a href="https://www.spotify.com/">Spotify</a></li>
<li><a href="https://www.tesla.com/">Tesla</a></li>
<li><a href="https://unity.com/">Unity</a></li>
<li><a href="https://www.vistaequitypartners.com/">Vista Equity Partners</a></li>
</ul>
</div>
<p>
<strong>Education Advisory Council</strong>
<p>
<div class="col-50" style="padding-right: 20px; padding-bottom:30px; text-align:left">
<ul>
<li><a href="https://www.bowiestate.edu/">Bowie State</a></li>
<li><a href="http://www.buffalo.edu/">University at Buffalo</a></li>
<li><a href="https://www.cmu.edu/">Carnegie Mellon University</a></li>
<li><a href="https://www.harvard.edu/">Harvard University</a></li>
<li><a href="https://www.uic.edu/">University of Illinois - Chicago</a></li>
<li><a href="https://illinois.edu/">University of Illinois - Urbana Champaign</a></li>
<li><a href="https://www.montgomerycollege.edu/">Montgomery College</a></li>
</ul>
</div>
<div class="col-50" style="padding-right: 20px; padding-bottom:30px; text-align:left">
<ul>
<li><a href="https://ncwit.org/">NCWIT</a></li>
<li><a href="https://www.unlv.edu/">University of Nevada - Las Vegas</a></li>
<li><a href="https://www.unomaha.edu/">University of Nebraska - Omaha</a></li>
<li><a href="https://www.spelman.edu/">Spelman College</a></li>
<li><a href="https://www.utdallas.edu/">University of Texas at Dallas</a></li>
<li><a href="https://www.washington.edu/">University of Washington</a></li>
<li><a href="https://westminstercollege.edu/">Westminster College</a></li>
</ul>
</div>
<p>
<strong>State Advisory Council</strong>
<p>
<div class="col-50" style="padding-right: 20px; padding-bottom:30px; text-align:left">
<ul>
<li>Connecticut</li>
<li>Georgia</li>
<li>Michigan</li>
</ul>
</div>
<div class="col-50" style="padding-right: 20px; padding-bottom:30px; text-align:left">
<ul>
<li>New Mexico</li>
<li>Pennsylvania</li>
<li>Ohio</li>
<li>Oklahoma</li>
</ul>
</div>
<p>
<h2>Frequently Asked Questions</h2>
<p>
<h3>Is CSA mapped to standards?</h3>
<p>Yes, Code.org’s CSA curriculum is mapped to the College Board Course and Exam Description for AP® CSA.
<h3>How much does it cost to teach CSA?</h3>
<p>Our curriculum and platform are available at no cost for anyone, anywhere, to teach!
<h3>How/Where can I get professional development for CSA?</h3>
<p>Professional learning for Code.org’s CSA curriculum will be available in participating regions beginning Summer 2022. <a href="https://code.org/educate/professional-learning/middle-high">Find out if it’s offered in your region.</a>
<h3>What is the recommended timing for teaching CSA?</h3>
<p>A minimum of 140 class hours; should be taught as a full-year course. Contains nine units, which includes an AP® Exam Prep unit.
<h3>What materials do I need for this course?</h3>
<p>This curriculum requires that students have access to computers with a modern web browser. At this time, our curriculum is not optimized for tablets or mobile devices. For more details, check out <a href="https://code.org/educate/it">our technology requirements</a>. 
<p>In addition to technology, typical classroom supplies like scissors and sticky notes will also be used throughout the curriculum.
<h3>How can I access answer keys?</h3>
<p>Starting in Summer 2022, and with an approved teacher account, you can find answer keys to programming tasks or “Checks for Understanding” in a blue "Teacher Only" panel on Code Studio that shows in the online lessons and activities. Keys for Activity Guides will also be found linked in the lesson plans for the curriculum.
<h3>How was the curriculum developed?</h3>
<p>Our CSA curriculum was written by teachers, for teachers and was designed with our Curriculum Values in mind. In particular, we focused on expanding access to those who historically have been denied opportunities to learn about the exciting and impactful field of computing. The following goals guided the creation of the CSA curriculum:
<center>
<p><strong>Goal 1:</strong> Develop an Equitable Course
<p><strong>Goal 2:</strong> Prepare Students for Higher Ed and Industry
<p><strong>Goal 3:</strong> Design Relevant, Engaging Activities
<p><strong>Goal 4:</strong> Incorporate Best Practices from the Field
</center>

<p> Learn more about <a href="https://docs.google.com/document/d/1UYLjTvzMwyoA_DezvZknSuFdX3uHyV04KrBisWWwiTI/edit">our vision</a> for this curriculum. For more information about the values that guided our work, please see our <a href="https://code.org/educate/curriculum/values">curriculum values</a> and our <a href="https://code.org/educate/professional-learning/values">professional learning values</a>.
<br>
<br>

<div class="col-100" style="background-color:#ebe8f1; border-radius:10px; padding:20px">  
  <img src="/images/csa/csa-signup.png" style="float:right; width:20%; padding-left:20px">
  <h2 style="color:#7665a0; margin-top:0">Learn more about Code.org’s CSA curriculum</h2>
  <p>Sign up to receive email updates, which contain the latest news about tools, videos, and other important info about CSA. </p>
  <iframe src="https://go.pardot.com/l/153401/2021-02-19/p291ns" width="100%" height="360" type="text/html" frameborder="0" allowtransparency="true" style="overflow:hidden"></iframe>
</div>

<br>
<br>

<hr>
<a id="urg"></a>[1]Students who are Black/African American, Hispanic/Latino/Latina/Latinx, Native American/Alaskan, and Native Hawaiian/Pacific Islander
<br>
<a id="84percent"></a>[2]From Code.org's 2019 Teacher Surveys