---
title: CSA
video_player: true
theme: responsive
style_min: true
---

<div class="solid-block-header">
<p>Computer Science A <i><span style="font-size:20px">coming in 2022</span></i></p>
</div>

<br>

<div class="col-50" style="padding-right: 20px; padding-bottom:30px; text-align:center">
	<img src="/images/csa/csa-top.png" style="width:85%">
</div>

<div class="col-50">
	<p><strong>Introduction to Java Programming</strong></p>
	<p>In Computer Science A (CSA), students learn object-oriented programming using Java. Students take on the role of software engineers, and practice skills that are used in the field.</p>
	<p>The Code.org curriculum for CSA is designed for any high school student who wishes to continue their computer science education after completing an introductory course such as Computer Science Principles (CSP) or Computer Science Discoveries (CSD).</p>
	<a href="#signup"><button>Sign up for course updates</button></a>
<p>

</div>

<div style="clear: both; margin-bottom:40px"></div>

<a id="signup"></a>
<div class="col-100" style="background-color:#ebe8f1; border-radius:10px; padding:20px">  
  <img src="/images/csa/csa-signup.png" style="float:right; width:20%; padding-left:20px">
  <h2 style="color:#7665a0; margin-top:0">Learn more about Code.org’s CSA curriculum</h2>
  <p>Sign up to receive occasional email updates about our CSA curriculum! </strong></p>
  <p>We hosted a CSA Vision & Goals Webinar on Wednesday, March 17th for a 30-minute virtual discussion of our new CSA curriculum and pedagogy, including how we’re building equity into its design and when it will be available.<br> <a href="https://code.zoom.us/rec/play/VygU4EYO3H2BZRRlgksl01MmBhGUpaUyx88r7YWsjPvD9gGWlu9X81wCU6W3qRxdZ2ZohKF46uSz9MAu.yP1RIyQAqoxQaFlI?autoplay=true" target="_blank">Click here</a> to view the recording. <a href="https://docs.google.com/document/d/1UYLjTvzMwyoA_DezvZknSuFdX3uHyV04KrBisWWwiTI/edit" target="_blank">Click here</a> to access the "CSA Vision and Goals" document.</p>
  <iframe src="https://go.pardot.com/l/153401/2021-02-19/p291ns" width="100%" height="360" type="text/html" frameborder="0" allowTransparency="true" style="overflow:hidden"></iframe>
</div>

<h2>What is CSA?</h2>
<p><a href="https://apcentral.collegeboard.org/pdf/ap-computer-science-a-course-and-exam-description.pdf?course=ap-computer-science-a" target="_blank">AP® Computer Science A</a> (AP CSA) is a Java programming course framework and associated <a href="https://ap.collegeboard.org/" target="_blank">Advanced Placement</a> exam introduced by the College Board. It includes content expected to be covered in an introductory college computer science course:</p>
<blockquote>AP Computer Science A introduces students to computer science through programming. Fundamental topics in this course include the design of solutions to problems, the use of data structures to organize large sets of data, the development and implementation of algorithms to process data and discover new information, the analysis of potential solutions, and the ethical and social implications of computing systems. The course emphasizes object-oriented programming and design using the Java programming language.</blockquote>
<p>Code.org’s curriculum will cover the content defined in this framework and prepare students for the AP CSA exam. In addition, our CSA offering, much like our other courses, is being built with equity at the heart of its design (see details below).</p>

<h2>Who is this curriculum for?</h2>
<p>Code.org’s CSA curriculum is designed for high school students who want to explore the world of building solutions and dreaming up new creations through programming. An ideal next step for students who have discovered a passion for computer science through an introductory course such as <a href="/educate/csp" target="_blank">Computer Science Principles</a> (CSP), Code.org’s curriculum for AP CSA is being designed to engage a wide variety of students, particularly young women and students from underrepresented racial and ethnic groups<a href="#urg">[1]</a>.</p>

<h2>Why are we offering a CSA curriculum?</h2>
<img src="/images/csa/csa-why-1.png" style="float:right; width:25%; padding-left:20px">
<h3>To close access gaps for students from underrepresented groups</h3>
<p>In 2020, students from underrepresented racial and ethnic groups only made up 14% of AP® CSA exam takers, and young women made up just 25%. We aim to improve upon these numbers by reimagining the structure of the traditional AP CSA curriculum and provide support and resources to assist teachers in delivering an engaging, exciting, and equitable curriculum.</p>
<h3>To better prepare our students for careers in computer science</h3>
<p>Industry partners indicate to us that students who have CSA experience are more prepared for internships than their peers with CSP experience. This observation has been echoed by partners in Higher Ed regarding student readiness for college level CS courses. With a far larger diversity gap in student participation, CSA needs new ways to engage a wider range of students and prepare them for Higher Ed and industry.</p>
<h3>Because teachers are asking for it!</h3>
<p>Teachers have been advocating for the development of an equitable and culturally responsive CSA curriculum: <strong>84%</strong> of CS Principles teachers told us last year they want to start teaching CSA using Code.org<a href="#84percent">[2]</a>!</h3>
<br>
<div class="col-33" style="background-color:#f5f5dc; padding: 10px; border: 4px solid white; text-align: center">
	<br>
	<br>
	<span style="font-size: 24px">
	<strong>84%</strong>
	</span>
	<br>
	<span style="font-size: 16px">
	of CS Principles teachers want to teach AP CSA using Code.org
	</span>
	<br>
	<br>
	<br>
</div>
<div class="col-33" style="background-color:#d9f3f5; padding: 10px 10px 13px 10px; border: 4px solid white; text-align: center">
	<i>“The Code.org approach has empowered millions to have access to CS education. Adding CSA would be welcomed by all of us working to build capacity and grow access to CS for all learners. If you build it, it will be well-done and connected to the real world.”</i>
</div>
<div class="col-33" style="border: 4px solid white; text-align:center">
	<img src="/images/csa/csa-why-2.png" style="width:90%">
</div>

<div style="clear: both"></div>

<div class="col-33" style="background-color:#ebe8f1; padding: 10px 10px 13px 10px; border: 4px solid white; text-align: center">
	<br>
	<i>“It is a huge issue that female and minority students are so underrepresented in the CSA exam. I feel like a Code.org curriculum would be more accessible and foster equity.”</i>
	<br>
	<br>
</div>
<div class="col-33" style="background-color:#f5f5dc; padding: 22px 10px 22px 10px; border: 4px solid white; text-align: center">
	<i>"I have a feeling that if Code.org developed a CSA curriculum, my district would jump on board to use it. We already use Code.org for CSP, and being able to utilize the same program for both courses would be extremely beneficial."</i>
</div>
<div class="col-33" style="background-color:#d9f3f5; padding: 22px 10px 22px 10px; border: 4px solid white; text-align: center">
	<i>“Yes!!! A thousand times yes! I have taught Code.org CSP for 4 years. CSD for 2 years. I love that your materials are engaging, promote equity, and support instructors. I have confidence that you would do the same for CSA.”</i>
</div>

<div style="clear: both"></div>

<h2>Reimagining CSA</h2>
<p>AP CSA curricula have traditionally been focused on the building blocks required to design solutions to problems through programming. Creating this new curriculum with equity in mind means reimagining the structure and pedagogy to not only teach the technical building blocks to successfully prepare students for the AP exam, but also excite and inspire a wide range of students and engage them in the various ways they learn.</p>
<p>Code.org’s CSA curriculum stands out in the following ways:</p>
<img src="/images/csa/csa-reimagine.png" style="float:right; width:35%; padding-left:20px">
<p><strong>The curriculum is designed for equity and considers cultural references and learning styles</strong> in every facet, from the vocabulary, to the visuals, to the sequence of concepts taught. Code.org’s curriculum for AP CSA will use strategies from Culturally Responsive Teaching pedagogy. For example, Call and Response—shown to be especially effective with students from cultures with oral traditions of learning and affirmation—will be used to help students reinforce their learning and create a long-term learning memory.</p>
<p><strong>Acknowledging diversity of experiences and interests is essential to equity.</strong> Students will investigate real-world problems during class activities and make connections to their own work. Projects will be carefully designed to be instructive yet more open-ended, enabling students to demonstrate mastery of concepts and engage in their passions without making assumptions about their cultural background or life experiences.</p>
<p><strong>Diverse representation brings to life “Software Engineering for All.”</strong> A new “Software Engineering for All” narrative will help students envision themselves as software engineers, and the curriculum will extensively use videos populated with diverse presenters who work in technology to help students visualize opportunities for their own futures.</p>
<p><strong>Students will develop and model valuable, real-world career skills.</strong> In addition to skills like tracing code segments and documenting code, Code.org’s approach will incorporate collaboration and career skills that go beyond the official AP CSA course requirements. For example, the course tools will include a system for students to do code reviews, a common quality assurance practice in the technology industry.</p>

<br>
<br>

<div class="col-100" style="background-color:#d9eff7; border-radius:10px; padding:20px">  
	<h2 style="margin-top:0">Keep up with CSA!</h2>
	<p>Sign up to receive email updates, which contain the latest news about tools, videos, and other important info about CSA.</p>
	<a href="#signup"><button>Sign up</button></a>
</div>

<br>
<br>

<hr>
<a id="urg"></a>[1]Students who are Black/African American, Hispanic/Latino/Latina/Latinx, Native American/Alaskan, and Native Hawaiian/Pacific Islander
<br>
<a id="84percent"></a>[2]From Code.org's 2019 Teacher Surveys