---
title: Computer Science A

---

# CSA Monthly Status Updates

Sign up below to receive monthly email updates on  Code.org’s Computer Science A. These emails are intended to be shared with members of the Computer Science education community who are interested in peeking under the hood as we continue to polish and refine the curriculum and tools for the course. You'll be able to unsubscribe at any time from the emails.

## Sign-up information

<iframe src="http://go.pardot.com/l/153401/2021-02-19/p291ns" width="100%" height="380" type="text/html" frameborder="0" allowTransparency="true" style="border: 0"></iframe>

## <a name="previous"></a>Previous updates

### 2022-23

- <a href="http://go.pardot.com/webmail/153401/882489310/456a099d63175eb85d04eb6984bc4cb796f893ca4be2da99d1924886c757df93", target=_"blank">August 2022</a>
- <a href="http://go.pardot.com/webmail/153401/888155716/456a099d63175eb85d04eb6984bc4cb796f893ca4be2da99d1924886c757df93", target=_"blank">September 2022</a>
- <a href="http://go.pardot.com/webmail/153401/896009719/456a099d63175eb85d04eb6984bc4cb796f893ca4be2da99d1924886c757df93", target=_"blank">October 2022</a>
- <a href="http://go.pardot.com/webmail/153401/906929676/456a099d63175eb85d04eb6984bc4cb796f893ca4be2da99d1924886c757df93", target=_"blank">November 2022</a>
- <a href="http://go.pardot.com/webmail/153401/921503127/456a099d63175eb85d04eb6984bc4cb796f893ca4be2da99d1924886c757df93", target=_"blank">December 2022</a>
- <a href="http://go.pardot.com/webmail/153401/926706955/456a099d63175eb85d04eb6984bc4cb796f893ca4be2da99d1924886c757df93", target=_"blank">January 2023</a>
- <a href="http://go.pardot.com/webmail/153401/931421920/456a099d63175eb85d04eb6984bc4cb796f893ca4be2da99d1924886c757df93", target=_"blank">February 2023</a>
- <a href="http://go.pardot.com/webmail/153401/941242357/456a099d63175eb85d04eb6984bc4cb796f893ca4be2da99d1924886c757df93", target=_"blank">March 2023</a>
- <a href="http://go.pardot.com/webmail/153401/949948222/456a099d63175eb85d04eb6984bc4cb796f893ca4be2da99d1924886c757df93", target=_"blank">April 2023</a>
- <a href="http://go.pardot.com/webmail/153401/953954106/456a099d63175eb85d04eb6984bc4cb796f893ca4be2da99d1924886c757df93", target=_"blank">May 2023</a>
- <a href="http://go.pardot.com/webmail/153401/964517331/456a099d63175eb85d04eb6984bc4cb796f893ca4be2da99d1924886c757df93", target=_"blank">June 2023</a>