---
title: Computer Science Principles Updates
video_player: true
theme: responsive
style_min: true
---

<%=view :solid_block_header, :title=>"What's new with CS Principles 2020-21?" %>

<link href="/shared/css/course-blocks.css", type="text/css", rel="stylesheet"></link>

<link href="/css/educate.css" rel="stylesheet">

<style>
  details summary {
    cursor: pointer;
  }
</style>

<br>

<div class="col-50" style="padding-right: 20px;">

<img src="/images/csp/csp-students.jpeg" style="width:90%">

<a href="https://curriculum.code.org/csp-20/", target=_"blank"><button>Check out the course!</button></a>
<br>

</div>

<div class="col-50">

<p>We are extremely excited to share the 2020-21 version of our CS Principles curriculum! This update builds upon what students and teachers love most about our current course while adding lessons, resources, tools, and pedagogy that support deeper learning, more creativity, and a more collaborative classroom environment. 
</p>

<p>We’ve designed this resource hub to help guide current CS Principles teachers as they transition to the latest version of our course. Here, you’ll find:</p>

<ul>
 <li>6 steps to get started with CS Principles 2020-21
 <li>AP CS Principles 2020-21 syllabus for the AP Course Audit
 <li>Our pedagogical approach to programming units
 <li>How to get support from the team — <a href="https://code.org/educate/csp-course-updates#webinars">we hosted several webinars!</a>
 <li>And more!
</ul>

</div>

<div style="clear: both;"></div>

<h1>6 steps to get started with CS Principles 2020-21</h1>

<p>The improvements we've made for CS Principles 2020-21 will support more creativity and learning, but we know preparing to teach a course is serious business. Here are five steps to help you get started.</p>

<h2>1. Read about what's changed.</h2>

<p>There are a lot of exciting updates in the latest version of the curriculum, but much of the course will look familiar to teachers who have previously taught the course. </p>

<center><img src="/images/csp/csp-students-2.jpg" style="width:70%"></center>

<div class="col-50" style="padding-right: 20px;">

<h3>What's new?</h3>

<ul>
 <li>We refreshed the Internet and Digital Information units, while keeping many of the tools and widgets classrooms love.</li>
 <li>Programming is now introduced through an engaging project-based unit that focuses on app design.</li>
 <li>We redesigned the programming units around an exciting new pedagogy called EIPM (Explore, Investigate, Practice, Make).</li>
 <li>We developed three entirely new units that address algorithms (Unit 6), data (Unit 9), and global impacts and cybersecurity (Unit 10).</li>
 <li>Lessons are all 45 minutes in length.</li>
 <li>App Lab has a number of new exciting features!</li>
</ul>
 
</div>

<div class="col-50">

<h3>What's the same?</h3>

<ul>
 <li>Equity is our focus – we recognize that some students and classrooms need more support than others, and so those with the greatest needs should be prioritized.</li>
 <li>The course is built with the same Code.org <a href="https://code.org/educate/curriculum/values", target=_"blank">curriculum values</a> and approaches.</li>
 <li>We emphasize learning experiences that are active, and relevant to students’ lives.</li>
 <li>The course prepares students for the AP Computer Science Principles Exam.</li>
 <li>Our Digital Information and Internet units kick off our course in a hands-on, collaborative, and inquiry-driven format that builds classroom community.</li>
 <li>Students still program in App Lab, explore the Internet using the Internet Simulator, and learn about many other topics in the course using our popular set of widgets.</li>
</ul>

</div>

<div style="clear: both;"></div>

<p><a href="https://docs.google.com/document/d/1bhGueqGi1njOFkTjlqkGjk_nmCn8xKTub8U_ezfChKg/preview#", target=_"blank">Check out this resource</a> for more details about what changed about the curriculum (and what didn't).</p>

<h2>2. Learn about our virtual and socially-distanced teaching strategies.</h2>

<p>Our team has pulled together specific recommendations for teaching CS Principles 2020-21 in a virtual setting or in a socially-distanced classroom. <a href="https://forum.code.org/t/announcing-modifications-for-virtual-and-socially-distanced-classrooms/33005", target=_"blank">Visit the forum</a> to read more about them and watch our recorded webinar.

<div class="col-60" style="padding-right: 5px;">

<h2>3. Read the Curriculum Guide.</h2>

<p>The entire <a href="https://docs.google.com/document/d/1KXRZhIWSgKHg458_Hfgii7Fuq8AarmYOOfJI1V47DWU/preview", target=_"blank">2020-21 CS Principles Curriculum Guide</a> can provide more detailed information about the course in general. Having this document on hand can help you focus specifically on what's new.</p>

<h2>4. Schedule your year.</h2>

<p>The most successful pilot teachers had a plan for each unit and when each unit would fall in the year. If you are teaching CS Principles as an AP course, it is important to know where you have extra time and where you need to pick up the pace. Planning your year gives you the freedom to adjust as necessary. Use our <a href="https://docs.google.com/document/d/1FSg2KuSecDN08Q88GIedZrGvZd3bVX1Ik19lLYEu9r4/preview", target=_"blank">Planning and Pacing Guide</a>, along with your school calendar, to start planning.</p>

</div>

<div class="col-40">

<center><a href="https://docs.google.com/document/d/1KXRZhIWSgKHg458_Hfgii7Fuq8AarmYOOfJI1V47DWU/preview", target=_"blank"><img src="/images/csp/csp-cover-2020-21.png" style="width:250px; margin-top:50px"></a></center>

</div>

<div style="clear: both;"></div>


<div class="col-40" style="padding-right: 5px;">

<center><a href="https://studio.code.org/s/csp4-2020/stage/1/puzzle/2", target=_"blank"><img src="/images/csp/pet-rock.png" style="width:180px; margin-top:50px; margin-bottom:20px"></a></center>

</div>

<div class="col-60">

<h2>5. Do the activities!</h2>

<p>You will learn the most by doing these activities yourself. Test out the EIPM lessons (learn more about these, <a href="https://code.org/educate/csp-course-updates#EIPM">below</a>!). Try using the manipulatives to represent information on slides. Try making the apps. Try using the new tools! Looking for a place to start? We suggest you <a href="https://studio.code.org/s/csp4-2020", target=_"blank">check out the first EIPM sequence in Unit 4 on Variables</a>.</p>

<h2>6. Connect with others.</h2>

<p>Remember, you are part of a robust network of CS educators! We have an active community of CS teachers on the forum, as well as trained moderators who are ready to be a source of support. <a href="https://forum.code.org/csp", target=_"blank">Post your questions on the forum</a> as you read through lessons or share what you learned from teaching the lessons in your classroom.</p>

</div>

<div style="clear: both;"></div>

<a name="EIPM"></a>
<h1>Our new approach to teaching programming: EIPM</h1>

<div class="col-50" style="padding-right: 30px;">

<%=view :display_video_thumbnail, id: "intro_eipm", video_code: "OTvi0XRTIjA", play_button: 'center', letterbox: 'false' %>
<p><i>Want to learn more about each lesson type? <a href="https://www.youtube.com/playlist?list=PLzdnOPI1iJNeqEl6MN7c2KyM3gdBSo8t3", target=_"blank">View our video playlist.</a></i></p>

</div>

<div class="col-50">

<p>EIPM is a structured approach to teaching programming in CS Principles 20-21. It introduces concepts in a scaffolded and approachable way to encourage student collaboration, support independent creation, and clarify the role of the teacher throughout the learning process. Each letter represents a different type of lesson (E - Explore, I - Investigate, P - Practice, M - Make), which are taught in sequence for each major programming concept.</p>

<p>For more on the development of this lesson sequence, watch the video or <a href="https://docs.google.com/document/d/1ncil5b0yWAN4LCyOeXwYuNrNKEHtN4nmAd2o-_K5Psw/preview", target=_"blank">read up on this introduction to EIPM.</a></p>

</div>

<div style="clear: both;"></div>

<h1>We're here to help support you</h1>

<a name="webinars"></a>
<h2>Check out our webinar recordings!</h2>

<div class="col-50" style="padding-right: 20px;">

<p>Our team hosted a series of webinars to help you learn more about the updates we’ve made to the course as you make your transition to the latest version. View the following recordings of our conversations about these topics:</p>

<ul>
 <li><a href="https://code.zoom.us/rec/share/9NV2Ma_xrUJJWaPg737Saoh7IqnPaaa813JP_vRcnRvV8lcz4ynkzwb9ufMi8FOr?startTime=1591909211000", target=_"blank">Big picture changes to the curriculum:</a> Recorded June 11</li>
 <li><a href="https://code.zoom.us/rec/play/tZ0ucuD7qDg3G4KR4gSDB6d6W9S7K66s0XIY-PAKzkjhB3hQMFunYLBGYuHH8-Eo8MW781qkqNC8ufVS?autoplay=true&startTime=1593028810000", target=_"blank">Our approach to teaching programming:</a> Recorded June 24</li>
 <li><a href="https://code.zoom.us/rec/play/tMV5d-6vrW43TNaSuASDBqB5W42-KqOs1iQd8_cFmUyyVSQENQKgZbFDN7EO0r2R9wxrDAIz6d-vie9M?autoplay=true", target=_"blank">Changes to tools in the curriculum:</a> Recorded July 9</li>
 <li><a href="https://code.zoom.us/rec/play/vZB5dritrD03SNWTtQSDAKR8W9W7K_2shnUd_fEOmkvgVnlVZlelbrAQa-pIcm1uB6Bn5GEt4Jfnyx6K?autoplay=true", target=_"blank">Q&A with our pilot teachers:</a> Recorded July 22</li>
 <li><a href="https://code.zoom.us/rec/play/vpN8JLivrjk3GoeTuQSDA_5_W9Toev6shyVPr6dfmByzAHMLN1v3N-MWYuG8VL58QfLYAPsIFFbnn54k?autoplay=true", target=_"blank">Adapting CS Principles for virtual and socially-distanced classrooms:</a> Recorded July 29</li>
</ul>

<!--
<a href="https://docs.google.com/forms/d/e/1FAIpQLScJ94HRlmDLXBqfyNiEnjbzAjg2rg9p5N7XQznUX-K3WNd9kA/viewform", target=_"blank"><button>Click here to register!</button></a>
<br>
<br>
-->

</div>

<div class="col-50">

<img src="/images/csp/laptop.jpg" style="width:80%">

</div>

<div style="clear: both;"></div>

<!--
<br>
<p>Not able to join us on air? We’ll post recordings of these webinars on this page, so be sure to check back for more info.</p>
-->

<h2>Stay connected</h2>

<div class="col-33" style="padding-right: 20px;">

<h4>Let us know how we're doing</h4>

We are always looking for ways to improve our courses. If something's not quite working, or you have ideas about features that you'd like to see, we'd love to hear from you!
<br>

<a href="mailto:support@code.org"><button>Give feedback</button></a>

</div>

<div class="col-33" style="padding-right: 20px;">

<h4>Subscribe for the latest news</h4>

Sign up for our monthly emails, which contain the latest news about tools, videos, and other important updates for CS Principles.
<br><br>

<a href="/educate/csp/CSPStatus_Signup"> <button>Sign up</button></a>

</div>

<div class="col-33" style="padding-right: 20px;">

<h4>Chat about CS Principles in the forum</h4>

We have forums for educators to discuss and trade ideas about the CS Principles curriculum. Code.org forums are used for all of our courses, K-12.
<br><br>

<a href="https://forum.code.org/c/csp/"> <button>Visit the forum</button></a>

</div>

<div style="clear:both"></div>

<h1>Ready to start teaching AP CS Principles 2020-21?</h1>

<p>We’re so glad you’ve decided to bring our course to your students! If you’re planning to teach CS Principles as an AP course, be sure to select the Code.org syllabus when completing the College Board’s AP Course Audit.</p>

<br>

<div class="col-20">

<center><a href="https://code.org/files/CSPSyllabus2020.pdf", target=_"blank"><img src="../files/csp-syllabus-2020.png" style="width: 150px"></a></center>

</div>

<div class="col-20">

<center><img src="../files/apcsp_providerbadge_sm_alpha_2020.png" style="width: 100px; margin-top: 20px; margin-bottom: 20px"></center>

</div>

<div class="col-60">

<p>Code.org is recognized by the <a href="http://collegeboard.org/APCSP", target=_"blank">College Board</a> as an endorsed provider of curriculum and professional development for AP Computer Science Principles. This endorsement affirms that all components of Code.org’s CS Principles offerings are aligned to the AP Curriculum framework standards and the AP CS Principles assessment. This affords schools access to resources including an <a href="https://code.org/files/CSPSyllabus2020.pdf", target=_"blank">AP CS Principles syllabus</a> pre-approved by the College Board’s AP Course Audit, and officially recognized professional development that prepares teachers to teach this course.</p>

</div>

<div style="clear:both"></div>

<h1>Frequently Asked Questions</h1>

For answers to our most frequently asked questions, click on the questions below!

<details style="margin-left: 20px">
	<summary style="font-size: 18px">Can I teach this course in a virtual setting or in a socially-distanced classroom?</summary>
	<p>
	<br/>
While our course is intented to be taught in-person to build a collaborative and inclusive classroom environment, for the 2020-21 school year, we have provided guidance for teachers with ways to amend the activites for virtual asynchronous, virtual synchronous, and socially-distanced learning environments. Find out more about these resources on our <a href="https://forum.code.org/t/announcing-modifications-for-virtual-and-socially-distanced-classrooms/33005", target=_"blank">forum post</a>. 

</details>

<details style="margin-left: 20px">
	<summary style="font-size: 18px">How/Where can I get professional development?</summary>
	<p>
	<br/>
If you previously participated in the Code.org Professional Learning Program for CS Principles, your Regional Partner may be hosting a follow-up workshop to help support your transition to the new course. <a href="https://code.org/educate/professional-learning/contact-regional-partner", target=_"blank">Please contact your Regional Partner</a> for more details.

If you haven’t participated in the Code.org Professional Learning Program, spaces may be available in your region! Our Professional Learning Program offers year-round support. The program kicks off with a 5-day summer workshop where you'll have an opportunity to work hands-on with the curriculum and meet other teachers from your area. Throughout the year, we offer forum support and follow-up workshops. You don't need any prior computer science experience to get started. And teachers love it! 90% rank it the best professional development ever. <a href="https://code.org/educate/professional-learning/middle-high", target=_"blank">Click here</a> to learn more and apply.

</details>

<details style="margin-left: 20px">
	<summary style="font-size: 18px">What is the recommended timing for teaching CS Principles 2020-21?</summary>
	<p>
	<br/>
We recommend that CS Principles be taught as a full-year course, assuming that you meet with students daily or nearly daily for 45 or more minutes each day. Full-year schedules where students are in class for a similar amount of time per week will also work.

It is possible to teach the course on a semester block schedule, though we highly recommend this implementation only be used in the fall semester. Since the AP Performance Task is due in late April and requires 12 dedicated hours of class time to complete, most schools find there is not enough time to complete the course on a block schedule in the spring.

</details>

<details style="margin-left: 20px">
	<summary style="font-size: 18px"><a name="materials"></a>What materials do I need for this course?</summary>
	<p>
	<br/>
**Required Materials:**

This course requires that students have access to computers with a modern web browser. At this time, our courses are not optimized for tablets or mobile devices. For more details, check out [Code.org's technology requirements](/educate/it).

Many lessons have handouts that are designed to guide students through activities. While these handouts are not required, we highly recommend their use. 

In addition to handouts, several lessons call for specific items. You can find these listed below as well as our suggestions for alternatives:

- **Unit 1, Lesson 2:** Assortment of craft materials for constructing physical devices. Recommendations: cups, string/yarn, construction paper, flashlights, slinkies, noise makers, markers, and glue, etc. <i>Alternative: none.</i>
- **Unit 2, Lesson 2:**  String for table groups to build a network connecting them. <i>Alternative: Students draw their network but don't actually build it.</i>
- **Unit 3, Lesson 5:** A handful of LEGO® blocks for every pair of students. <i>Alternative: Sticky notes, construction paper.</i>
- **Unit 4, Lessons 1 & 5:** Plastic bags, sticky notes, dry erase markers. <i>Alternative: Envelopes.</i>
- **Unit 5, Lesson 1:** Plastic bags, gallon-sized plastic bags, sticky notes, dry erase markers, tape. <i>Alternative: Envelopes.</i>
- **Unit 6, Lessons 2 & 3:** Sticky notes. <i>Alternative: Scraps of paper.</i>
- **Unit 6, Lesson 4:** Decks of cards. <i>Alternative: Any item that could be combined into two categories (e.g. change with even / odd year).</i>
- **Unit 7, Lessons 1 & 5:** Sticky notes, envelopes, plastic bags, file folders. <i>Alternative: Scraps of paper, folders made of a folded sheet of paper, etc.</i>

**Optional Materials**

The following supplies are completely optional but will be useful to have on hand for various lessons:

- Graph paper
- Chart paper
- Markers
- Post-it notes

</details>

<details style="margin-left: 20px">
	<summary style="font-size: 18px">Are there supports in CS Principles 2020-21 for students with learning differences or disabilities?</summary>
	<p>
	<br/>
We have partnered with <a href="https://www.washington.edu/accesscomputing/accesscsforall", target=_"blank">AccessCSforAll</a> to develop an accessible version of CS Principles mapped lesson by lesson to the 2020-21 curriculum, similar to the one they designed for previous versions of our course. That course is currently under development but we will share it broadly once it is available. It is currently slated for release later this year.

If you are teaching CS Principles as a non-AP course, you may also consider using either the 2019 version of the curriculum, which has resources from <a href="http://outlier.uchicago.edu/accessCSP/", target=_"blank">accessCSP project from Outlier Research</a>, or teaching the <a href="https://quorumlanguage.com/lessons/code.html", target=_"blank">accessible version of the 2019-20 curriculum</a> designed by AccessCSforAll. More information on both options can be found on pages 1 and 39 of the <a href="https://docs.google.com/document/d/1ZVzF_-cON8pjDVUOZjVk32y4flCMXugcrA6gFeWDHzE/preview", target=_"blank">curriculum guide for the 2019 course</a>.


</details>

<hr/>

AP® is a registered trademark of the College Board.




 
