
---
title: 2022-23 Code.org CSP Student Insight Groups
video_player: true
theme: responsive
style_min: true
---

<%=view :solid_block_header, :title=>"2022-23 Code.org CSP Student Insight Groups" %>

<link href="/shared/css/course-blocks.css", type="text/css", rel="stylesheet"></link>

<link href="/css/educate.css" rel="stylesheet">

<style>
  details summary {
    cursor: pointer;
  }
</style>

<br>

<center><img src="/images/csp/student-insight-groups.jpg", width=100%></center>

* Do you want to meet and connect with other CSP students across the country?
* Are you interested in shaping the Code.org curriculum and tools through your feedback?
* Would you like to meet industry experts?


<p>You should join <b>Code.org's CSP Student Insight Groups</b>! Student Insight Groups are made up of students like you who will meet monthly to discuss their experiences with the curriculum, build community with peers, and share feedback with the curriculum developers and engineers behind what you learn in your classroom.<br><br><p>

This year, Code.org is recruiting female/non-binary students and students from underrepresented racial and ethnic groups (URGs)* to provide their feedback and help shape a curriculum that better supports diverse participation in CS Principles.<br><br><p>

As a thank you for your time, we will provide a certificate with service hours, as well as Code.org swag! 
</p>

<h1>Ready to join us?</h1>
All participating students will need to attend hour-long video calls on Tuesdays <b>at 3pm-4pm PT (6pm-7pm ET)</b>. 

[**Ask your teacher to nominate you today!**](https://forms.gle/6qbWgTb3s1rDeKWM9)
### <b>Call Dates<b>  
* Nov 8th, 2022
* Dec 6th, 2022
* Jan 10th, 2023
* Feb 7th, 2023
* Mar 7th, 2023
* Apr 4th, 2023
* May 2nd, 2023
 

<p> 
The students we identify as being from Underrepresented Racial/ethnic Groups (URG) include students who identify as:</p>

* Black/African American
* Hispanic or Latino/Latina/Latinx
* Native American or Native Alaskan
* Hawaiian/Pacific Islander
* Multiracial Students (2 or more races) who identify with one or more of the above races 


<p>Write to us at <a href="mailto:teacher@code.org", target=_"blank">teacher@code.org</a> if you have any questions!</p>









