---
title: Educator Overview
---

%link{:href=>"/css/educate.css", :rel=>"stylesheet"}

#educate-hero
  %img.educate-banner{src: "/images/homepage/fill-945x300/girl10.jpg"}

#educate-curriculum-grid
  - DB[:cdo_educate].where(section_s:'curriculum').each do |item|
    = view :educate_box, item: item, color: "#59b9dc"

%div{style: "clear:both"}

%h1.resources-h1 Additional Resources

#educate-resources-grid
  - DB[:cdo_educate].where(section_s:'resources').each do |item|
    = view :educate_box, item: item, color: "#a69bc1"
