---
title: Online, Self-Paced Courses for Teachers
theme: responsive
style_min: true
---

<%=view :solid_block_header, :title=>"Self-Paced Online Professional Learning for K-5 Educators" %>

<link href="/shared/css/course-blocks.css", type="text/css", rel="stylesheet"></link>

<link href="/css/educate.css" rel="stylesheet">

<style>
  details summary {
    cursor: pointer;
  }
</style>

<br>

<div class="col-50" style="padding-right: 20px;">

<h2>Teaching Computer Science Fundamentals 2021-22</h2>
This online course is designed for <strong>elementary school educators</strong> who are interested in implementing and teaching <a href="https://code.org/educate/curriculum/csf", target=_"blank">CS Fundamentals  courses</a> to their students. This can range from classroom teachers, to STEM teachers, to librarians, and everyone in between!

Computer Science Fundamentals courses are flexibly designed for educators who:

<ul>
 <li>teach grades K-5,</li>
 <li>are new to computer science,</li>
 <li>and want to offer accessible and equitable introductory computer science courses to their students.</li>
</ul> 

<a href="https://studio.code.org/s/k5-onlinepd-2021"><button>Get started</button></a>

</div>

<div class="col-50">

<img src="/images/2018-hoc-334-resized.jpg" style="width:90%; margin-top: 55px; border-radius: 50%; border: 10px solid #59cad3">

</div>

<div style="clear: both;"></div>

## Who is this course for?
This online course is designed for **elementary school educators** who are interested in implementing and teaching CS Fundamentals to their students. This can range from classroom teachers, to STEM teachers, to librarians, and everyone in between!

## Do I need any prior experience with computer science to take this online course?
No prior experience with coding or computer science is needed to implement, teach, or learn Computer Science Fundamentals!

## How long does this online course take?
The suggested time to complete this course is 4 to 6 hours.  You can start, stop, and continue at any time throughout the course.

## What are the learning objectives for this course?
Throughout this course, you will:

- Access Code.org's free K-5 computer science curriculum and resources.
- Use learning tools your students will use to build and strengthen computer science knowledge and skills.
- Read, watch videos, and reflect on computer science teaching practices and strategies focused on inclusion that can be applied to any Computer Science Fundamentals lesson.
- Plan for how you might get started implementing and teaching Computer Science Fundamentals lessons to your students.
- Find ways to get help, suppoort, and connect with a community of fellow educators committed to brining computer science to all of their students.

## Ready to get started with online professional learning?

[<button>Try it now</button>](<%= CDO.studio_url('/s/k5-onlinepd-2021') %>)

# Professional Learning Programs

<div class="col-33" style="padding-right: 20px;">

 <center><img src="/images/marketing/professional-learning-2021-middle-high.jpg" style="max-width: 60%; border-radius: 50%; border: 10px solid #59cad3; margin-bottom: 55px"></center>

</div>

<div class="col-66">

<p>Want to take your learning further?</p>

<p>In addition to this online course, professional learning workshops for CS Fundamentals are offered for U.S.-based teachers throughout the year. <a href="https://code.org/professional-development-workshops", target=_"blank">Click here</a> to learn more about workshops happening in your area.</p>

<p>If you are a 6-12 educator, we recommend the CS Discoveries or CS Principles Professional Learning Programs. <a href="https://code.org/educate/professional-learning/middle-high", target=_"blank">Click here</a> to learn more about our Professional Learning Programs for middle and high school educators.</p>

<a href="https://code.org/educate/professional-learning">Check out all Code.org Professional Learning options</a>

</div>

<div style="clear: both;"></div>

<br>
