---
title: Online, Self-Paced Courses for Teachers
theme: responsive
---
# Self-Paced Online PD for K-5 Educators
In addition to our curriculum and immersive [professional development workshops](/professional-development-workshops), Code.org is pleased to offer this self-paced online course for teachers who wish to implement Computer Science Fundamentals in their classrooms. This course is available at no cost to any educator with a Code.org account, world wide.

## Teaching Computer Science Fundamentals
Welcome to this online course, 
[Teaching Computer Science Fundamentals](<%= CDO.studio_url('/s/k5-onlinepd-2021') %>)! 

Computer Science Fundamentals courses are flexibly designed for educators who:

- teach grades K-5,
- are new to computer science,
- and want to offer accessible and equitable introductory computer science courses to their students. 

## Who is this online course for?
This online course is designed for elementary school educators who are interested in implementing and teaching Computer Science Fundamentals to their students. This can range from classroom teachers, to STEM teachers, to librarians, and everyone in between.

##Do I need any prior experience with computer science to take this online course?
No prior experience with coding or computer science is needed to implement, teach, or learn Computer Science Fundamentals!

##How long does this online course take?
The suggested time to complete this course is 4 to 6 hours.  You can start, stop, and continue at any time throughout the course.

##Learning Objectives for this online course
Throughout this course, you will:

- Access Code.org's free K-5 computer science curriculum and resources.
- Use learning tools your students will use to build and strengthen computer science knowledge and skills.
- Read, watch videos, and reflect on computer science teaching practices and strategies focused on inclusion that can be applied to any Computer Science Fundamentals lesson.
- Plan for how you might get started implementing and teaching Computer Science Fundamentals lessons to your students.
- Find ways to get help, suppoort, and connect with a community of fellow educators committed to brining computer science to all of their students.

##In-person 
In addition to this online course, in-person professional development workshops for CS Fundamentals are offered regionally throughout the year. <a href="https://code.org/professional-development-workshops", target=_"blank">Click here</a> to learn more about workshops happening in your area.

If you are a 6-12 educator, we recommend CS Discoveries or CS Principles professional development opportunitites. <a href="https://code.org/educate/professional-learning/middle-high", target=_"blank">Click here</a> to learn more about our Professional Learning Programs for middle and high school educators. 

Ready to get started? 
is intended as an introduction to Computer Science Fundamentals and the [Code.org K-5 resources](/educate/k5) for teachers. Through reading, viewing videos, completing interactive puzzles and reflecting on your learning, you'll develop your own understanding while preparing to teach computer science in your classroom.


**Learning Objectives**
<br/>
Through completing this online course, participants will:

- Learn the basics of computer science
- Review best practices for teaching these basics to your students
- Access free curriculum and resources for teachers
- Plan for how you might get started teaching [Computer Science Fundamentals](https://curriculum.code.org/csf/)
- Connect with a community of fellow educators who are making positive change in their classrooms through coding


**Pre-requisites**
<br/>
No previous experience with coding or computer science education is assumed. This is a beginner's course.

[<button class="teacher-button">Try now</button>](<%= CDO.studio_url('/s/k5-onlinepd-2020') %>)
