---
title: Online, Self-Paced Courses for Teachers
nav: educate_nav
theme: responsive
---
# Online, Self-Paced Courses for Teachers
In addition to our curriculum and immersive [professional development workshops](/professional-development-workshops), Code.org is pleased to offer this free, self-paced online course for teachers who wish to implement Computer Science Fundamentals in their classrooms. This course is available free of charge to any educator with a Code.org account world wide.

## Teaching Computer Science Fundamentals
[Teaching Computer Science Fundamentals](<%= CDO.studio_url('/s/k5-onlinepd-2020') %>) is intended as an introduction to Computer Science Fundamentals and the [Code.org K-5 resources](/educate/k5) for teachers. Through reading, viewing videos, completing interactive puzzles and reflecting on your learning, you'll develop your own understanding while preparing to teach computer science in your classroom.


**Learning Objectives**
<br/>
Through completing this online course, participants will:

- Learn the basics of computer science
- Review best practices for teaching these basics to your students
- Access free curriculum and resources for teachers
- Plan for how you might get started teaching [Computer Science Fundamentals](https://curriculum.code.org/csf/)
- Connect with a community of fellow educators who are making positive change in their classrooms through coding


**Pre-requisites**
<br/>
No previous experience with coding or computer science education is assumed. This is a beginner's course.

[<button class="teacher-button">Try now</button>](<%= CDO.studio_url('/s/k5-onlinepd-2020') %>)
