---
title: Online Self-Paced Professional Learning for Teachers
theme: responsive
style_min: true
---

<%=view :solid_block_header, :title=>"Self-Paced Online Professional Learning for Educators" %>

<link href="/shared/css/course-blocks.css", type="text/css", rel="stylesheet"></link>

<link href="/css/educate.css" rel="stylesheet">

<style>
  details summary {
    cursor: pointer;
  }
</style>

<br>

<div class="col-50" style="padding-right: 20px;">
<p></p>
<p>Teachers are at the heart of our work at Code.org, and we are committed to expanding our professional learning offerings to support teachers in every stage of their computer science teaching journey, no matter where they are. 
</p>
<p>In addition to our curriculum and immersive 
  <a href="https://code.org/educate/professional-learning">professional learning programs</a>, Code.org is pleased to offer self-paced modules for teachers who wish to implement CS Discoveries or CS Fundamentals in their classrooms. These modules are available at no cost to any educator with a Code.org account worldwide!
</p>
</div>


<div class="col-50">
<img src="/images/2018-hoc-334-resized.jpg" style="width:90%; border-radius: 50%; border: 10px solid #59cad3">
</div>

<div style="clear: both;"></div>
<p>
<h2>Teaching Computer Science Principles</h2>
<p>
This self-paced online module is intended as an introduction to <a href="https://code.org/educate/csp">CS Principles</a> and the resources we offer for <strong>9th-12th grade teachers</strong>. Through reading, viewing videos, completing interactive puzzles, and reflecting on your learning, you will develop your own understanding while preparing to teach computer science in your classroom. Designed to be completed in 3.5 hours, this new self-paced professional learning option is meant to support teachers who are unable—or not ready—to participate in the <a href="https://code.org/educate/professional-learning/middle-high">facilitator-led professional learning program</a>. 
<p>
<p>
<strong>Learning objectives:</strong>
<br>
Through completing this online module, participants will:

<ul>
 <li>Learn how to navigate the Code.org website and teacher tools.</li>
 <li>Set up your course in the Code.org learning platform.</li>
 <li>Gain a high level understanding of the content, tools, and pedagogy included in CS Princples.</li>
 <li>Prepare to begin teaching CS Principles to your students.</li>
 <li>Learn how to offer your course for AP credit, as well as what is covered in the AP exam.</li>
</ul> 
<p>
<p>
<strong>Suggested time to complete the module:</strong>
<br>
This module should take approximately 3.5 hours to complete. 
<p>
<p>
<strong>Prerequisites:</strong>
<br>
No previous experience with coding or computer science is assumed. This is a beginner module. 
<p>
<p>
<a href="https://studio.code.org/courses/self-paced-pl-csp-2021"><button>Try now</button></a>
<p>

<h2>Teaching Computer Science Discoveries</h2>
<p>
This self-paced online module is intended as an introduction to <a href="https://code.org/educate/csd">CS Discoveries</a> and the resources we offer for <strong>6th-10th grade teachers</strong>. Through reading, viewing videos, completing interactive puzzles, and reflecting on your learning, you will develop your own understanding while preparing to teach computer science in your classroom. Designed to be completed in three hours, this new self-paced professional learning option is meant to support teachers who are unable—or not ready—to participate in the <a href="https://code.org/educate/professional-learning/middle-high">facilitator-led professional learning program</a>. 
<p>
<p>
<strong>Learning objectives:</strong>
<br>
Through completing this online module, participants will:

<ul>
 <li>Learn how to navigate the Code.org website and teacher tools.</li>
 <li>Set up your course in the Code.org learning platform.</li>
 <li>Gain a high level understanding of the content, tools, and pedagogy included in CS Discoveries.</li>
 <li>Prepare to begin teaching CS Discoveries with your students.</li>
</ul> 
<p>
<p>
<strong>Suggested time to complete the module:</strong>
<br>
This module should take approximately 3 hours to complete. 
<p>
<p>
<strong>Prerequisites:</strong>
<br>
No previous experience with coding or computer science is assumed. This is a beginner module. 
<p>
<p>
<a href="https://studio.code.org/courses/self-paced-pl-csd-2021"><button>Try now</button></a>
<p>

<h2>Teaching AI and Machine Learning</h2>
<p>
This self-paced online module is intended as an introduction to our optional unit on <a href="https://studio.code.org/s/aiml-2021">AI and Machine Learning</a>.
<p>
<p>
<strong>Learning objectives:</strong>
<br>
Through completing this online module, participants will:

<ul>
 <li>Get an introduction to artificial intelligence and machine learning.</li>
 <li>Train a machine learning model using AI Lab.</li>
 <li>Engage with machine learning apps.</li>
 <li>Consider real-world implications of AI and machine learning.</li>
 <li>Explore end of chapter projects.</li>
</ul> 
<p>
<p>
<strong>Suggested time to complete the module:</strong>
<br>
This module should take approximately 2 hours to complete. 
<p>
<p>
<strong>Prerequisites:</strong>
<br>
No previous experience with coding or computer science is assumed. This is a beginner module. 
<p>
<p>
<a href="http://studio.code.org/s/self-paced-pl-csd5-2021"><button>Try now</button></a>
<p>


<h2>Teaching Computer Science Fundamentals</h2>
This self-paced online module is designed for <strong>elementary school educators</strong> who are interested in implementing and teaching <a href="https://code.org/educate/curriculum/csf", target=_"blank">CS Fundamentals  courses</a> to their students. Computer Science Fundamentals courses are designed for educators who teach grades K-5 and want to offer accessible and equitable introductory computer science courses to their students. This online option is meant to support teachers who are unable—or not ready—to participate in the <a href="https://code.org/professional-development-workshops">facilitator-led professional learning program</a>.
<p>
<p>
<strong>Learning objectives:</strong>
<br>
Through completing this online module, participants will:
<ul><li>Access free curriculum and resources for teachers.</li>
<li>Get learning tools your students will use to build computer science knowledge and skills.</li>
<li>Read, watch videos, and reflect on computer science teaching practices and strategies focused on inclusion that can be applied to any Computer Science Fundamentals lesson.</li>
<li>Plan for how you might get started implementing and teaching Computer Science Fundamentals.</li>
<li>Connect with a community of fellow educators committed to bringing computer science to their students.</li>
</ul>
<p>
<p>
<strong>Prerequisites:</strong>
<br>
No previous experience with coding or computer science is assumed. This is a beginner module. 
<p>
<a href="https://studio.code.org/s/k5-onlinepd-2021"><button>Try now</button></a>






<h2>Want to take your learning further?</h2>

<div class="col-33" style="padding-right: 20px;">

 <center><img src="/images/marketing/professional-learning-2021-middle-high.jpg" style="max-width: 60%; border-radius: 50%; border: 10px solid #59cad3; margin-bottom: 55px"></center>

</div>

<div class="col-66">

<p>Join the more than 100,000 teachers who have participated in our workshops. More than 90% of attendees would recommend our program to other teachers.</p>
<p>
<p>In addition to the above self-paced online modules, professional learning workshops for CS Discoveries and CS Fundamentals are offered for U.S.-based teachers throughout the year. <a href="https://code.org/professional-development-workshops", target=_"blank">Learn more about workshops happening in your area.</a></p>

<p>If you are a 6-12 educator, we recommend the CS Discoveries or CS Principles Professional Learning Programs. <a href="https://code.org/educate/professional-learning/middle-high", target=_"blank">Learn more</a> about our Professional Learning Programs for middle and high school educators.</p>

<a href="https://code.org/educate/professional-learning">Check out all Code.org Professional Learning options.</a>

</div>

<div style="clear: both;"></div>

<br>
