---
title: Professional Learning
theme: responsive
social:
  "og:title": "Awesome CS workshops for teachers"
  "og:description": "Code.org's Professional Learning Program is for any teacher -- whether you're new or experienced with teaching computer science (CS)."
  "og:image" : "https://code.org/images/social-media/professional-learning-2018.png"
  "og:image:width": '1029'
  "og:image:height": '515'
  "twitter:card": "photo"
  "twitter:site": "@codeorg"
  "twitter:url": "https://code.org/educate/professional-learning-2018"
  "twitter:title": "Awesome CS workshops for teachers"
  "twitter:description": "Code.org's Professional Learning Program is for any teacher -- whether you're new or experienced with teaching computer science (CS)."
  "twitter:image:src" : "https://code.org/images/social-media/professional-learning-2018.png"
---
<link href="/shared/css/course-blocks.css", type="text/css", rel="stylesheet"></link>

<style>
  details summary {
    cursor: pointer;
  }
</style>

# 2019-20 Middle and High School Professional Learning#

<%= view :three_circles, circles: [
{img: '/images/testimonials/fit-150/twoteachers.jpg', text: '"I do not have a computer science background. I would change nothing about the training. It was an incredible experience, and I felt valued and respected."'},
{img: '/images/testimonials/fit-150/teacher-alisha.png', text: '"It was refreshing to meet others who were taking a leap to learn something new."'},
{img: '/images/testimonials/fit-150/teacher-juan.jpg', text: '"It was absolutely rich and the most meaningful training I have ever attended in 16 years of teaching."'}] %>

## New to computer science? No worries!

Whether you are new to teaching computer science (CS) or have experience teaching other CS courses, the Code.org Professional Learning Program offers year round support.  We've designed this program to promote growth by providing space for you to become comfortable with curricular materials, CS content, and pedagogy.

<br>
The program supports teachers with diverse teaching backgrounds as they prepare to teach either of the following courses:

[col-50]

### [CS Discoveries (Grades 6-10)](/educate/csd)
* An introductory computer science course that empowers students to create authentic artifacts and engage with computer science as a medium for creativity, communication, problem solving, and fun
* Takes a wide lens on CS by covering topics such as programming, physical computing, HTML/CSS, and data

[/col-50]

[col-50]

### [CS Principles (Grades 9-12)](/educate/csp)
* A higher level introductory course that introduces the foundational concepts of computer science while challenging students to explore how computing and technology can impact the world
* Recommended for students with stronger reading and writing skills and is a good next step for students who have previously taken CS courses
* Can be taught as an AP or intro-level class, and can be taught as either a semester or full-year course
<br/>

[/col-50]

### Have questions about which course is best for your students? <a href="https://docs.google.com/document/d/1ASRRQ8Cloyp9kXPBtxa8j5xmXQ0SgLyUCGx2h26WrkQ/edit#", target=_"blank">Compare our course options</a> or [learn more](/educate/professional-learning/details-2019) about the Professional Learning Program.

## Program Commitments

The Code.org Professional Learning Program is open to teachers who are interested in teaching either CS Discoveries or CS Principles - no prior experience required! In order to participate, we ask that educators:

* Commit to participating in the full, year-long professional development program
* Work with their school administration to ensure that this course will be offered on the school's master schedule
* Support the recruitment and enrollment of a diverse group of students in the course, representative of the school's student population
* Teach the course in a school served by one of Code.org's Regional Partners

<img src="/images/professional-learning/pl_timeline.png" width="100%"/>

<br/>

Our Regional Partners offer local workshops throughout the United States. Enter your location to find a workshop near you.

<%= view :regional_partner_search, source_page_id: "pl-2019" %>

<%= view :answerdash %>
