
---
title: 2021-22 Code.org CSA Student Advisory Council
video_player: true
theme: responsive
style_min: true
---

<%=view :solid_block_header, :title=>"2021-22 Code.org CSA Student Advisory Council" %>

<link href="/shared/css/course-blocks.css", type="text/css", rel="stylesheet"></link>

<link href="/css/educate.css" rel="stylesheet">

<style>
  details summary {
    cursor: pointer;
  }
</style>

<br>

<center><img src="/images/csa/student-council-2.jpg", width=100%></center>

* Do you want to meet and connect with other CSA students across the country?
* Are you interested in shaping the Code.org curriculum and tools through your feedback?
* Would you like to meet tech industry experts and ask them questions about their jobs?


<p>You should join the inaugural <b>Code.org Student Advisory Council</b>! Code.org’s Student Advisory Council is a group of students who will meet monthly to discuss their experiences with the curriculum, build community with peers, and share feedback with the Code.org team. <br><br><p>

As part of the Student Advisory Council, you will directly communicate with the curriculum developers and engineers behind what you learn in your classroom. Student voices from the council will be critical in ensuring that our CSA curriculum is in its best shape when we officially launch it in Summer 2022! <br><br><p>

You will also get a chance to meet and talk with professional software engineers about their experiences. As a thank you for your time, we will provide a certificate with service hours, as well as Code.org swag! 
</p>

<h1>Ready to join us?</h1>
All participating students will need to attend hour-long video calls on the following <b>Wednesdays at 6-7pm ET (3-4pm PT)</b>. 

* October 6th, 2021
* November 3rd, 2021
* December 1st, 2021
* Jan 12th, 2022
* Feb 2nd, 2022
* Mar 2nd, 2022
* Apr 6th, 2022
* Apr 27th, 2022

 <br>
 <b>Additionally you must:</b>

 * Participate in a Code.org Pilot CSA Classroom in Academic Year 2021-22.
 * Obtain Parental/Guardian Consent

<h2>Have questions?</h2>

<p>Write to us at <a href="mailto:teacher@code.org", target=_"blank">teacher@code.org</a>!</p>
<br>
Please note that we may not be able to accommodate everyone this year. By <b>September 20th</b>, our team will follow up with everyone who submitted this form.

