
---
title: 2022-23 Code.org CSP Student Insight Groups
video_player: true
theme: responsive
style_min: true
---

<%=view :solid_block_header, :title=>"2022-23 Code.org CSP Student Insight Groups" %>

<link href="/shared/css/course-blocks.css", type="text/css", rel="stylesheet"></link>

<link href="/css/educate.css" rel="stylesheet">

<style>
  details summary {
    cursor: pointer;
  }
</style>

<br>

<center><img src="/images/csp/student-insight-groups.jpg", width=100%></center>

* Do you want to meet and connect with other CSP students across the country?
* Are you interested in shaping the Code.org curriculum and tools through your feedback?
* Would you like to meet industry experts?


<p>You should join <b>Code.org's CSP Student Insight Groups</b>! Student Insight Groups are made up of students like you who will meet monthly to discuss their experiences with the curriculum, build community with peers, and share feedback with the curriculum developers and engineers behind what you learn in your classroom.<br><br><p>

This year, Code.org is recruiting female/non-binary students and students from underrepresented racial and ethnic groups (URGs)* to provide their feedback and help shape a curriculum that better supports diverse participation in CS Principles.<br><br><p>

As a thank you for your time, we will provide a certificate with service hours, as well as Code.org swag! 
</p>

<h1>Ready to join us?</h1>
All participating students will need to attend hour-long video calls on the following <b>days at 3pm-4pm PT (5pm-6pm ET)</b>. 

<button name="button" oneclick= "https://forms.gle/3F3oGiYA4cKANw7fA">**Ask your teacher to nominate you today!**</button>
### <b>Female/Nonbinary Group Calls<b>  
* Oct 5th, 2022
* Nov 9th, 2022
* Dec 7th, 2022
* Jan 11th, 2023
* Feb 8th, 2023
* Mar 8th, 2023
* Apr 5th, 2023
* May 3rd, 2023

###  <b>URG Group Calls<b>
* Oct 5th, 2022
* Nov 9th, 2022
* Dec 7th, 2022
* Jan 11th, 2023
* Feb 8th, 2023
* Mar 8th, 2023
* Apr 5th, 2023
* May 3rd, 2023  



<h2>CSP Story So Far</h2>
<p>We designed AP Computer Science Principles with the goal of creating leaders in computer science fields, attracting those who are traditionally underrepresented in computer science, and engaging them with essential computing tools and multidisciplinary opportunities.<br><br><p>

AP CSP is making headway in diversifying computer science participation since its launch. The number of female AP CSP students has far outpaced overall growth, with an increase of 136% in 2020, and the number of Black and Latinx students taking AP CSP more than doubled.[source](https://apcentral.collegeboard.org/courses/ap-computer-science-principles)[explore research](https://apcentral.collegeboard.org/courses/ap-computer-science-principles/ap-csp-research-findings)


<p>Write to us at <a href="mailto:teacher@code.org", target=_"blank">teacher@code.org</a> if you have any questions!</p>
