
---
title: Teacher Insights 2020
video_player: true
theme: responsive
style_min: true
---

<%=view :solid_block_header, :title=>"2020-21 Code.org Teacher Insights Groups" %>

<link href="/shared/css/course-blocks.css", type="text/css", rel="stylesheet"></link>

<link href="/css/educate.css" rel="stylesheet">

<style>
  details summary {
    cursor: pointer;
  }
</style>

<br>

<center><img src="/images/csp/teach.jpg" style="width:90%"></center>
<br>
<p>If you’re teaching <a href="https://code.org/educate/csd">CS Discoveries</a> or <a href="https://code.org/educate/csp">CS Principles</a> in the 2020-21 school year and are interested in helping to shape changes we make in the future with our courses, we'd love to hear from you!</p>

<p>We're looking for teachers from a variety of different teaching contexts (including geographical location, experience teaching Code.org, student demographics, classroom setup, etc.) to join the 2020-21 Code.org Teacher Insights Groups for CS Discoveries or for CS Principles. Participants will join a series of hour-long video calls to discuss their experiences with the curriculum, build community with peers, and share feedback with Code.org’s curriculum team. The feedback we collect from the group will be critical in ensuring that our ongoing course revisions address the most pertinent needs of the community.</p>

<h1>Interested in joining us?</h1>

Here’s what you’ll be committing to:

<div class="col-50" style="padding-right: 30px;">
<h2>CS Discoveries</h2>
<b>Four hour-long video calls on the following Wednesdays from 7 - 8 pm ET (4 - 5 pm PT)</b>:
<ul>
 <li>September 30th</li>
 <li>October 28th</li>
 <li>November 18th</li>
  <li>December 16th</li>
</ul>
 <br>
 <b>Additionally you must:</b>
<ul>
 <li>Intend to teach the first semester of CS Discoveries in the 2020-21 school year.</li>
 <li>Teach CS Discoveries in a middle school setting.</li>
 <li>Intend to teach Units 1 - 3 of the course.</li>
</ul>
</div>

<div class="col-50" style="padding-right: 30px;">
<h2>CS Principles</h2>
<b>Nine hour-long video calls on the following Mondays from 7 - 8 pm ET (4 - 5 pm PT):</b>
<ul>
 <li>September 28th</li>
 <li>October 26th</li>
 <li>November 16th</li>
  <li>December 14th</li>
  <li><i>Second semester dates TBD</i>
</ul>
 
<b>Additionally you must</b>:
<ul>
 <li>Intend to teach the course for the entirety of the 2020-21 school year.</li>
 <li>Teach CS Principles in a high school setting.</li>
 <li>Plan to teach the units in order.</li>
</ul>
</div>

<br>

<strong>If you do not meet all of these requirements you may still apply, but please explain your situation in detail.</strong> 

And, as a thank you for their time, <strong>we're offering a special gift</strong> to teachers who are selected and can commit to sharing their feedback throughout the series of calls.
<br><br>
<a href="https://docs.google.com/forms/d/e/1FAIpQLSdmngJAX_JaQR6CnEHZXawPHj6SguRdxwd1KefnX2LHFZNLGA/viewform", target=_"blank"><button>Let us know you're interested!</button></a>

<div style="clear: both;"></div>
 
<br> 
  
<div class="col-50" style="padding-right: 10px;">

<img src="/images/csp/laptop.jpg" style="width:90%""> 
<br>

</div>

<div class="col-50" style="padding-right: 10px;">

<h2>Have questions?</h2>

<p>Write to us at <a href="mailto:teacher@code.org", target=_"blank">teacher@code.org</a>!</p>

Since we anticipate a great deal of interest in this opportunity, please note that we will likely not be able to accommodate everyone this year. <strong>By September 21st,</strong> our team will follow up with everyone who submitted this form.
<br>
<br>
</div>
<div style="clear: both;"></div>

