---
title: Letter to Governor Brown
social:
  "og:title": "Education leaders join top CEOs to ask California to expand computer science"
  "og:description": "California business leaders, superintendents and community leaders released a letter to Governor Jerry Brown, urging him to help schools catch up to 21st century demands."
  "og:image": "http://code.org/images/students.png"
  "og:image:width": 2820
  "og:image:height": 1476
  "og:video": ""
  "og:video:width": ""
  "og:video:height": ""
  "og:video:type": ""
---
<% facebook = {:u=>'http://code.org/action/brown-letter'} %>
<% twitter = {:url=>'http://code.org/jerrybrown', :related=>'codeorg', :text=>'Top California CEOs, educators and community leaders call on Governor Jerry Brown to expand computer science'} %>

# California CEOs, educators and community leaders call on Governor Jerry Brown to expand computer science

#### Today, [prominent leaders](#signatures) across California businesses, nonprofits, and schools ask California Governor Jerry Brown to collaborate on a plan to expand access to computer science in K-12 public schools. Below is their letter.

[letter]

<br />
May 7, 2014

The Honorable Jerry Brown<br />
Governor of the State of California<br />
State Capitol<br />
Suite 1173<br />
Sacramento, CA 95814<br />
<br />
Dear Governor Brown,

Thank you for working tirelessly to create opportunities for California’s students. We would like to partner with you to help California become a leader in K-12 computer science education.

California is home to the computing revolution that transforms our lives and provides high-paying jobs. But 90 percent of our K-12 schools do not teach computer science. The Conference Board estimates 70,000 open computing jobs in California &mdash; roughly 16 jobs for every computer science graduate in the state! Besides the jobs, a basic understanding of this foundational field is relevant in every 21st century career. Lack of access in urban and rural schools also creates inequity for students of color; in the entire state of California, only 74 African Americans and 392 Hispanic Americans took the AP Computer Science exam in 2013. Our shared goal should be that *every* K-12 student has access to high-quality computer science.

There is unprecedented interest and action this legislative session aimed at expanding computer science in California’s K-12 system. In particular, proposed legislation to allow computer science to count as a high school mathematics credit would increase enrollment in computer science without impacting mathematics<sup><a href="#note">1</a></sup> or burdening schools that don’t teach computer science. But these bills are only first steps. We want your support for a broader statewide effort to increase student access. Real progress will require meaningful investment.

Computer science is wildly popular across all demographics and party lines. In only 4 months, 34 million students have tried the Hour of Code, a campaign that launched on the Google homepage and in every Apple store, accompanied by speeches from President Barack Obama, US House Majority Leader Eric Cantor, Governor Jeb Bush, and US Senator Cory Booker. Almost 1.5 million people have signed Code.org’s petition asking to expand computer science education. In addition, the LAUSD Board recently instructed the Superintendent to report, within 90 days, how to expand computer science in the district.

Computer science education draws overwhelming support &mdash; not only from the tech industry and its leaders, but among regular Americans who want their children to be prepared for the software century.

We would be grateful if you and your staff would consider meeting with a subset of us to discuss how we can work together and make California a computer science trailblazer. We truly appreciate all of your work on behalf of California’s students.

Sincerely,

[/letter]

[letternames]

<a id="signatures"></a>
**Business leaders:**<br />
Marc Benioff, CEO, Salesforce.com<br />
Ron Conway, Founder, SV Angel<br />
John Doerr, Partner, KPCB<br />
Jack Dorsey, Co-founder, Twitter. CEO, Square<br />
Kevin and Julia Hartz, Co-founders, CEO and President, Eventbrite<br />
Reed Hastings, CEO, Netflix<br />
Reid Hoffman, Chairman, LinkedIn<br />
Drew Houston, CEO, Dropbox<br />
Maggie Johnson, Head of Education Research, Google<br />
Vinod Khosla, Co-founder, Sun Microsystems. Founder, Khosla Ventures<br />
Bobby Kotick, CEO, Activision<br />
Mark Pincus, Chairman, Zynga<br />
Dan Schulman, Chairman, Symantec<br />
Brad Smith, General Counsel, Microsoft<br />
Jeremy Stoppelman, CEO, Yelp<br />
Jim Swartz, Founder, Accel Partners<br />
Jeff Weiner, CEO, LinkedIn<br />

**Education and nonprofits:**<br />
Kimberly Bryant, Founder and Executive Director, Black Girls Code<br />
Richard Carranza, Superintendent, San Francisco Unified School District<br />
Tara Chklovski, Founder, CEO, Iridescent Learning<br />
John Deasy, Superintendent, Los Angeles Unified School District<br />
Bill Draper, Founder, Draper Richards Kaplan Foundation<br />
John Hennessy, President, Stanford<br />
Salman Khan, Founder and Executive Director, Khan Academy<br />
Jane Margolis, Senior Researcher, UCLA. Author, *Stuck in the Shallow End*<br />
Ali and Hadi Partovi, co-founders, Code.org<br />
Debra Richardson, Chair, Alliance for CA Computing Education for Students and Schools<br />
Paulette Smith, Principal of Joaquin Miller Elementary School, Oakland Unified School District<br />
Kat Taylor, Director, TomKat Ranch Educational Foundation<br />
Louise Waters, Superintendent & CEO, Leadership Public Schools<br />
Gary Yee, Superintendent, Oakland Unified School District<br />
<br />
<br />
<sup><a id="note">1</a></sup>In the 9 states that had this policy prior to 2013, enrollment in computer science is 50 percent higher than the other states, and participation by African Americans and Hispanic Americans is also 37 percent higher, whereas participation in Calculus is the same. 6 new states adopted this policy in 2013, with 7 more on deck.

[/letternames]

<br />

<%= view :share_buttons, facebook:facebook, twitter:twitter %>

<%= view "popup_window.js" %>

<br style="clear: both;">