-show_heading = local_assigns[:show_heading]

.course_progress
  -if show_heading
    .row#lesson
      .span12#heading
        %h3.whitetext{style: 'margin: 0'}
          = t("home.your_gallery")
  .row#stats
    .span12{style: 'margin-left: 10px;'}
      %div.gallery#gallery
        = render partial: 'home/gallery_content'

:javascript
  $(document).ready(function() {
    // Set up gallery pagination.
    $('#gallery').on('click', '.pagination a', function() {
      $.ajax({
        url: $(this).attr('href'),
        data: { },
        success: function(result) {
          $('#gallery').animate(
            {opacity: '25%'},
            500,
            function() {
              $('#gallery').html(result);
            }
          );
        }
      });
      return false;
    });
  });
