.course_progress
  .row#lesson
    .span8#heading
      %h3.whitetext{style: 'margin: 0'}
        = t("home.your_gallery")
    .span4#heading{style: 'text-align: right;'}
      %a.level_link.not_tried{href: playlab_freeplay_path}
        %span.puzzle-named
          %i.fa.fa-rocket
          = t('nav.header.free_play.playlab')
      %a.level_link.not_tried{href: artist_freeplay_path}
        %span.puzzle-named
          %i.fa.fa-pencil
          = t('nav.header.free_play.artist')
  .row#stats
    .span12{style: 'margin-left: 10px;'}
      %div.gallery#gallery
        = render partial: 'home/gallery_content'
