%span.pagination
  = link_to_previous_page @gallery_activities, "", class: 'fa fa-chevron-left', params: {action: 'gallery_activities'} {"&nbsp".html_safe}
  
- @gallery_activities.each do |gallery_activity|
  - level_source = gallery_activity.try(:activity).try(:level_source)
  - if level_source
    %div.gallery_activity
      = link_to image_tag(original_image_url(level_source)), level_source
%span.pagination
  = link_to_next_page @gallery_activities, "", class: 'fa fa-chevron-right', params: {action: 'gallery_activities'} {"&nbsp".html_safe}

