.course_progress
  %h3.whitetext{style: 'margin: 0'}
    = t("project.projects")
  = link_to projects_path do
    %button.btn.btn-primary.button-continue#continue_button{style: 'margin: 0'}= t('project.view_all')
