.row#signup
  .span6
    %a{style: "text-decoration:none", href: new_user_registration_path}
      %button.btn= t('home.student_reg_link')

    %a{href: new_user_registration_path('user[user_type]' => User::TYPE_TEACHER)}
      %button.btn= t('home.teacher_reg_link')

  .span6{style: "text-align:right"}
    %div{style: "float:right"}
      %a{href: new_user_session_path}
        %button.btn= t('nav.user.signin')
    %div{style: "float:right"}
      .registertext= t('nav.user.already_registered')

%br/
