#welcome_hero.welcome
  .row
    .welcomeleft.span2
      = image_tag('codeorg-studio-logo-white.png', style: "height:120px")
    .welcomeright.span9
      .lines_of_code_header
        %a.lines_of_code_link{href: CDO.code_org_url('/loc')}
          - loc = fetch_metrics['lines_of_code']
          - loc = number_with_delimiter(loc, :delimiter => ',')
          - students = fetch_user_metrics['number_students']
          - students /= 1000000
          != t('home.lines_of_code_linebreak', lines_count: loc, students_count: students)
        .description
          = t('home.description')
