#diversity_survey
  #surveythanks{style: "display: none; "}
    Thank you for telling us about your students!

  #surveybody
    #headingarea
      %h1 Optional: Help us track our progress toward improving diversity in computer science
      .subtext
        To protect your students’ privacy, we will not ask students younger than 13 for this information. Therefore, this information will not be linked to their specific accounts.
        (See our
        = succeed '.)' do
          %a#privacylink{href: CDO.code_org_url('/privacy'), target: "_blank"} privacy policy

    = form_for(SurveyResult.new, html: {id: 'survey', onsubmit: "return window.submitSurvey(true)"}) do |f|
      .survey_questions
        %ol
          %li
            Of your students using Code.org's courses, how many identify as:
        .dots
          - SurveyResult::ETHNICITIES.each do |key, value|
            %input#ethnicity_input{maxlength: "3", name: "survey[diversity_#{key}]", placeholder: "0"}
            = value
            %br/

      %input{type: "hidden", name: "survey[kind]", value: SurveyResult::DIVERSITY_2021}

      #submit
        %button.btn-primary#submitSurvey{type: "submit"} Submit
        %span#noanswer{onclick: "return submitSurvey(false)"} Prefer not to answer
%br/

:javascript

  function submitSurvey(submittedValue)
  {
    // make sure each ethnicity is a positive integer
    $("#ethnicity_input").each(function(index) {
      $(this).val($(this).val().replace(/[^0-9]/g, ''));
    });

    if (submittedValue)
    {
      $("#surveybody").hide();
      $("#surveythanks").fadeIn();
    }
    else
    {
      $("#survey")[0].reset();
      $("#diversity_survey").hide();
    }

    $.ajax({
      type: 'POST',
      url: $("#survey").attr('action'),
      data: $("#survey").serialize(),
      dataType: 'json'
    });

    // scroll to top of page so that user sees "thank you" even if they had scrolled down
    // to fill out survey.

    $('html,body').animate({scrollTop:0}, 100);

    return false;
  }
