#teacher-homepage-container

.clear{style: "clear: both"}

%script{ src: minifiable_asset_path('js/home/_teacher_homepage.js'), data: {teacherHomepage: "teacher-homepage", courses: @recent_courses.to_json, sections: @sections.to_json, urlPrefix: CDO.code_org_url()}}
