.row
  .span9
    %h1 Beta courses
    These courses are in <b>beta</b>. This means they are not the final versions of the courses, and are subject to revision as feedback is received and improvements are made.
.row
  .span12
    &nbsp;
.row
  .span12
    = render partial: 'shared/course_wide_block', locals: { id: "course1" }
.row
  .span12
    &nbsp;
.row
  .span12
    = render partial: 'shared/course_wide_block', locals: { id: "course2" }
.row
  .span12
    &nbsp;
.row
  .span12
    = render partial: 'shared/course_wide_block', locals: { id: "course3" }

%br/
%br/
%br/
