:ruby

  courses = current_user.in_progress_and_completed_scripts.slice(0,2).map do |script|
    script_id = script[:script_id]
    script_name = Script.find_by_id(script_id)[:name]
    {
      id: script_id,
      script_name: script_name,
      courseName: data_t_suffix('script.name', script_name, 'title'),
      description: data_t_suffix('script.name', script_name, 'description_short'),
      link: script_url(script_id),
      image: "",
      assignedSections:[]
    }
  end


  base_url = CDO.code_org_url('/teacher-dashboard#/sections/')

  sections = current_user.sections.map do |section|
    if section.script_id
      courseName = Script.find_by_id(section.script_id)[:name]
    end

    {
      id: section.id,
      name: section.name,
      linkToProgress: "#{base_url}#{section.id}/progress",
      course: data_t_suffix('script.name', courseName, 'title'),
      linkToCourse: script_url(section.script_id),
      numberOfStudents: section.students.length,
      linkToStudents: "#{base_url}#{section.id}/manage",
      sectionCode: section.code
    }
  end


#teacher-homepage-container

.clear{style: "clear: both"}

%script{ src: minifiable_asset_path('js/home/teacher_homepage.js'), data: {courses: courses.to_json, sections: sections.to_json}}
