- if current_user
  :javascript
    dashboard.clientState.setCurrentUserKey('#{current_user.id}');
- else
  :javascript
    dashboard.clientState.setAnonymousUser();
:javascript
  document.location = '#{@redirect}'