.file-browser {
  height: 100%;
  background-color: var(--background-neutral-secondary);
  color: var(--text-neutral-primary);
  overflow: hidden;
}

.fileBrowserHeader {
  background-color: var(--background-neutral-secondary) !important;
  border-bottom: 1px solid var(--borders-neutral-primary);
}

.fileBrowserContents {
  overflow-y: auto;
  scrollbar-color: var(--background-neutral-senary)
    var(--background-neutral-secondary);
  height: 100%;
}

.file-browser div.folder {
  list-style: none;
  margin: 0;
}

.file-browser div.folder div.folder {
  padding-left: 8px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
  min-height: 24px;

  &:hover {
    background-color: var(--background-neutral-quaternary);
  }
}

.title {
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
  overflow: hidden;
}

.file-browser div.folder div span.button-bar {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  cursor: pointer;
  white-space: nowrap;
}

.file-browser div.folder div span.button-bar span:hover {
  background-color: var(--background-neutral-quaternary);
}

.file-browser div.folder div span.button-bar span {
  display: grid;
  grid-template-columns: 15px auto;
}

.file-browser div.folder div span.label i,
.file-browser div.folder div span.button-bar i {
  margin-right: 4px;
}

// Using button to increase specificity of this class
// (this allows it to take precedence over the component library button styles)
button.button-kebab {
  opacity: 0;
  height: 20px;
  width: 20px;
  min-width: 20px !important; // !important to override the default button min-width
  margin: 2px;
  transition: none;

  // We use important here because the hover, and active styles used by Button
  // are more specific than a single class.
  // We need a different hover color for the kebab button because it is on top of another
  // element with the standard hover color.
  &:hover,
  &:active {
    opacity: 1;
    background-color: var(--background-neutral-quinary) !important;
  }
}

// This allows the ellipsis to display when its button host is hovered on or has focus
.row:hover > .button-kebab,
.notDraggable:focus-within > .row > .button-kebab,
.draggable:hover > .button-kebab,
.draggable:focus > .row > .button-kebab,
button.button-kebab:focus {
  opacity: 1;
}

.nameContainer {
  text-overflow: ellipsis;
  overflow: hidden;
  width: auto;
}

.label {
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
  padding-right: 4px;
  width: 100%;
}

.rowIcon {
  margin: 2px 8px 2px 8px;
  font-size: 13px;
  line-height: 125%;

  // prevents caret-down icon from pushing
  // text to the right when toggling folders
  min-width: 9px;
}

.acceptingDrop {
  background-color: var(--background-neutral-senary);
}

.expandedDroppableArea {
  padding-bottom: 1rem;
}

.dropdownItem {
  width: auto;
  min-width: 100px;
}

.alertIcon {
  color: var(--text-error-primary-fixed);
  font-size: 1rem;
}

.backpackErrorContainer {
  display: flex;
  align-items: start;
  gap: 8px;
}

.backpackErrorMessage {
  color: var(--text-error-primary);
  font-size: 1rem;
}

.dragging {
  background-color: var(--background-neutral-quaternary);
}

.notDraggable:focus-visible,
.draggable:focus-visible {
  outline: var(--borders-brand-teal-primary) solid 2px;
  outline-offset: 2px;
  border-radius: 0.375rem;
}

.activeFile {
  font-weight: bold;
}
