.file-browser {
  background-color: #3f444b;

  grid-area: file-browser;
}
.file-browser ul {
  list-style: none;
  padding-left: 5px;
}

.file-browser ul li {
}

.file-browser ul li span.label {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  //width: 100%;
  background-color: #3f444b;
  color: white;
}
.file-browser ul li span.title {
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
}

.files-toolbar {
  display: flex;
  justify-content: space-between;
  font-size: 75%;
  padding: 5px;
}

.file-browser ul li span.button-bar {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

span.caret-container {
  padding-right: 2px;
}

.files-toolbar button {
  border: 0px;
  background-color: #3f444b;
  color: white;
  padding: 0;
}

.file-browser ul li span.label i,
.file-browser ul li span.button-bar i {
  margin-right: 4px;
}
