// As we move from inline css to css modules we are temporarily duplicating commonStyles.js into this css module.
// Any changes in one should be made in the other to apply to all components.
@use "color.scss";
@use "style-constants.scss";

.hidden {
  display: none;
}

.purpleHeader {
  height: style-constants.$workspace-headers-height;
  background-color: color.$purple;
  color: color.$white;
  overflow-y: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &Unfocused {
    background-color: color.$lighter_purple;
    color: color.$dark_charcoal;
  }

  button {
    padding: 0;
    border: 0;

    &:hover {
      box-shadow: none;
    }

    &:disabled {
      background-color: color.$light_gray;
      cursor: default;
      border: 0;
      &:hover {
        background-color: color.$cyan;
      }
    }

    span {
      color: color.$neutral_white;
      font-size: 13px;
    }
  }
}

.teacherBlueHeader {
  background-color: color.$cyan;
  color: color.$lightest_cyan;
}

.teacherHeaderUnfocused {
  color: color.$dark_charcoal;
}

.minecraftHeader {
  background-color: #3b3b3b;
  color: color.$white;
}

.button {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
}

// Div contain instructions; either below visualization or in top instructions
// May not need a common location once everything is in top instructions
.bubble {
  color: color.$black;
  margin-bottom: 10px;
  position: relative;
  cursor: pointer;
}
