<%
  var msg = require('../../locale/current/calc');
  var commonMsg = require('../../locale/current/common');
%>

<button id="continueButton" class="launch hide float-right">
  <img src="<%= assetUrl('media/1x1.gif') %>"><%= commonMsg.continue() %>
</button>
