<% var msg = require('../../locale/current/calc') %>

<button id="continueButton" class="launch hide float-right">
  <% // splitting these lines causes an extra space to show up in front of the word, breaking centering
  // todo (brent) : continue should be a msg
  %>
  <img src="<%= assetUrl('media/1x1.gif') %>">Continue
</button>
