<div id="container" width="500" height="500">
  <div id="crosshair"><img src="https://s3.amazonaws.com/cdo-dist/cdo-voxel/crosshair4.png"></div>
</div>
<svg xmlns="http://www.w3.org/2000/svg" version="1.1" id="svgMinecraft"></svg>
<!--TODO remove ^-->
