#learn-tabs.desktop-feature
  .content
    %ul.nav.nav-tabs
      %li{:class=>(request.path_info == '/learn') ? 'active tab' : 'tab'}<
        %a{:href=>'/learn'} Prima ta oră de programare
      %li{:class=>(request.path_info == '/learn/beyond') ? 'active tab' : 'tab'}<
        %a{:href=>'/learn/beyond'} Mai mult de o oră
      %li{:class=>(request.path_info == '/learn/educators') ? 'active tab' : 'tab'}<
        %a{:href=>'/learn/educators'} Profesori