-facebook = {:u=>'http://code.org/quotes'}
-twitter = {:url=>'http://code.org/quotes', :related=>'codeorg', :hashtags=>'hourofcode', :text=>'Lideri și trendsetteri din întreaga lume susțin că tot mai mulți elevi ar trebui să învețe programare. @codeorg'}


#block{:style=>'width:50%; float:left; padding:30px; padding-top:0px'}
  #headshot{:style=>'float:left; width: 25%'}
    %img{:src=>'/images/Monica-Ene-Pietrosanu.jpeg', :style=>'width:90px; height:90px;'}
  .text{:style=>'float:left; width:75%'}
    %h3{:style=>'margin-top:0px; margin-bottom:0px;'}
      Monica Ene-Pietrosanu
    %h4{:style=>'margin-top:3px; margin-bottom:5px; font-weight:400'}
      Country Manager, Intel Romania Software Development Center
    %p{:style=>'font-size: 13px;line-height: 18px;'}
      “Programarea introduce copiii si tinerii in lumea digitala intr-un mod nou, care le stimuleaza imaginatia, le dezvolta si le deschide mintea spre a crea si inova. Ii invata sa priveasca dincolo de amuzamentul jocurilor, in interiorul calculatoarelor si al aplicatiilor.  Ii invata sa viseze si sa aplice teoria invatata la scoala. Romania s-a remarcat pe scena mondiala prin capacitatea inginerilor sai software. Este un drum deschis cu succes de generatia actuala, si o oportunitate pentru generatiile viitoare sa mearga mai departe. Este o sansa de a deveni competitivi la nivel mondial valorificand creativitatea nativa romaneasca. Ma bucur sa vad initiativa « Hour of Code » demarand in Romania si sper sa ajunga la cat mai multi tineri din scoli si facultati.“

#block{:style=>'width:50%; float:left; padding:30px; padding-top:0px'}
  #headshot{:style=>'float:left; width: 25%'}
    %img{:src=>'/images/radu-georgescu.png', :style=>'width:90px; height:90px;'}
  .text{:style=>'float:left; width:75%'}
    %h3{:style=>'margin-top:0px; margin-bottom:0px;'}
      Radu Georgescu
    %h4{:style=>'margin-top:3px; margin-bottom:5px; font-weight:400'}
      Founding Partner, GECAD Group
    %p{:style=>'font-size: 13px;line-height: 18px;'}
      “Pasiunea se naste experimentand. Un programator nu se naste scriind linii de cod, ci isi descopera aceasta pasiune. Romania are nevoie de oameni pasionati in orice domeniu, iar noi, in IT, avem nevoie de multi astfel de oameni. Salut initiativa Hour of Code si cred ca este unul dintre proiectele care vor starni multa curiozitate si apoi pasiune pentru programare.“

#block{:style=>'width:50%; float:left; padding:30px; padding-top:0px'}
  #headshot{:style=>'float:left; width: 25%'}
    %img{:src=>'/images/ela-moraru.jpg', :style=>'width:90px; height:90px;'}
  .text{:style=>'float:left; width:75%'}
    %h3{:style=>'margin-top:0px; margin-bottom:0px;'}
      Ela Moraru
    %h4{:style=>'margin-top:3px; margin-bottom:5px; font-weight:400'}
      Education and Computer Science Champ, Google Romania
    %p{:style=>'font-size: 13px;line-height: 18px;'}
      “Tinerii de astazi vor fi consumatorii tehnologiei de maine sau creatorii ei. Este in puterea noastra sa ii sustinem sa aleaga ce isi doresc pentru viitorul lor. Sustinem Hour of Code pentru ca astfel de initiative fac diferenta si ofera o sansa in plus tinerilor pasionati de inovatie si dezvoltare!“

#block{:style=>'width:50%; float:left; padding:30px; padding-top:0px'}
  #headshot{:style=>'float:left; width: 25%'}
    %img{:src=>'/images/Nigel.jpg', :style=>'width:90px; height:90px;'}
  .text{:style=>'float:left; width:75%'}
    %h3{:style=>'margin-top:0px; margin-bottom:0px;'}
      Nigel Townson
    %h4{:style=>'margin-top:3px; margin-bottom:5px; font-weight:400'}
      Director, British Council Romania
    %p{:style=>'font-size: 13px;line-height: 18px;'}
      “Our mission is to build trust, understanding and mutually beneficial relationships between people in the UK and Romania, and in this respect, digital awareness is paramount. Code is part of almost everything we do nowadays; and with the Internet providing the framework, it is set to become the international language of the future. So the sooner children become acquainted with programming, the faster they will equip themselves to compete in the global marketplace. There are numerous fantastic opportunities out there and we feel it is our duty to support young people as they seek them out.“

#block{:style=>'width:50%; float:left; padding:30px; padding-top:0px'}
  #headshot{:style=>'float:left; width: 25%'}
    %img{:src=>'/images/simona-lapusan.jpg', :style=>'width:90px; height:90px;'}
  .text{:style=>'float:left; width:75%'}
    %h3{:style=>'margin-top:0px; margin-bottom:0px;'}
      Simona Lapusan
    %h4{:style=>'margin-top:3px; margin-bottom:5px; font-weight:400'}
      COO & Founding Partner, ZITEC
    %p{:style=>'font-size: 13px;line-height: 18px;'}
      “In viitor, analfabetismul nu va insemna sa nu stii sa citesti si sa scrii,  ci sa consideri ca tehnologia se "intampla" prin magie. Intr-o societate in continua schimbare, in care oamenii sunt din ce in ce mai conectati virtual, a sti sa programezi te ajuta nu doar sa abordezi problemele intr-un mod structurat, algoritmic, ci sa intelegi mecanismele de functionare ale acestei societati informationale si sa fii participant activ in schimbare.“

#block{:style=>'width:50%; float:left; padding:30px; padding-top:0px'}
  #headshot{:style=>'float:left; width: 25%'}
    %img{:src=>'/images/people/richard-branson.jpg', :style=>'width:90px; height:90px;'}
  .text{:style=>'float:left; width:75%'}
    %h3{:style=>'margin-top:0px; margin-bottom:0px;'}
      Richard Branson
    %h4{:style=>'margin-top:3px; margin-bottom:5px; font-weight:400'}
      Founder, Virgin Group
    %p{:style=>'font-size: 13px;line-height: 18px;'}
      “Whether we're fighting climate change or going to space, everything is moved forward by computers, and we don't have enough people who can code. Teaching young people to code early on can help build skills and confidence and energize the classroom with learning-by-doing opportunities. I learned how to fly a hot air balloon when I was 30,000 feet up and my life was in the balance: you can learn skills at any age but why wait when we can teach everyone to code now!“

#block{:style=>'width:50%; float:left; padding:30px; padding-top:0px'}
  #headshot{:style=>'float:left; width: 25%'}
    %img{:src=>'/images/people/mark-zuckerberg.jpg', :style=>'width:90px; height:90px;'}
  .text{:style=>'float:left; width:75%'}
    %h3{:style=>'margin-top:0px; margin-bottom:0px;'}
      Mark Zuckerberg
    %h4{:style=>'margin-top:3px; margin-bottom:5px; font-weight:400'}
      Founder, Facebook
    %p{:style=>'font-size: 13px;line-height: 18px;'}
      “Our policy at Facebook is literally to hire as many talented engineers as we can find. There just aren't enough people who are trained and have these skills today.“

#block{:style=>'width:50%; float:left; padding:30px; padding-top:0px'}
  #headshot{:style=>'float:left; width: 25%'}
    %img{:src=>'/images/people/bill-gates.jpg', :style=>'width:90px; height:90px;'}
  .text{:style=>'float:left; width:75%'}
    %h3{:style=>'margin-top:0px; margin-bottom:0px;'}
      Bill Gates
    %h4{:style=>'margin-top:3px; margin-bottom:5px; font-weight:400'}
      Chairman, Microsoft
    %p{:style=>'font-size: 13px;line-height: 18px;'}
      “Learning to write programs stretches your mind, and helps you think better, creates a way of thinking about things that I think is helpful in all domains.“

#block{:style=>'width:50%; float:left; padding:30px; padding-top:0px'}
  #headshot{:style=>'float:left; width: 25%'}
    %img{:src=>'/images/people/william.jpg', :style=>'width:90px; height:90px;'}
  .text{:style=>'float:left; width:75%'}
    %h3{:style=>'margin-top:0px; margin-bottom:0px;'}
      will.i.am
    %h4{:style=>'margin-top:3px; margin-bottom:5px; font-weight:400'}
      Musician/The Black Eyed Peas and Entrepreneur
    %p{:style=>'font-size: 13px;line-height: 18px;'}
      “Here we are, 2013, we ALL depend on technology to communicate, to bank, and none of us know how to read and write code. It's important for these kids, right now, starting at 8 years old, to read and write code.“

#block{:style=>'width:50%; float:left; padding:30px; padding-top:0px'}
  #headshot{:style=>'float:left; width: 25%'}
    %img{:src=>'/images/people/jack-dorsey.jpg', :style=>'width:90px; height:90px;'}
  .text{:style=>'float:left; width:75%'}
    %h3{:style=>'margin-top:0px; margin-bottom:0px;'}
      Jack Dorsey
    %h4{:style=>'margin-top:3px; margin-bottom:5px; font-weight:400'}
      Creator, Twitter. Founder and CEO, Square
    %p{:style=>'font-size: 13px;line-height: 18px;'}
      “I think that great programming is not all that dissimilar to great art. Once you start thinking in concepts of programming it makes you a better person...as does learning a foreign language, as does learning math, as does learning how to read.“

#block{:style=>'width:50%; float:left; padding:30px; padding-top:0px'}
  #headshot{:style=>'float:left; width: 25%'}
    %img{:src=>'/images/people/sheryl-sandberg.jpg', :style=>'width:90px; height:90px;'}
  .text{:style=>'float:left; width:75%'}
    %h3{:style=>'margin-top:0px; margin-bottom:0px;'}
      Sheryl Sandberg
    %h4{:style=>'margin-top:3px; margin-bottom:5px; font-weight:400'}
      Chief Operating Officer, Facebook
    %p{:style=>'font-size: 13px;line-height: 18px;'}
      “An understanding of computer science is becoming increasingly essential in today’s world. Our national competitiveness depends upon our ability to educate our children – and that includes our girls – in this critical field.“

#block{:style=>'width:50%; float:left; padding:30px; padding-top:0px'}
  #headshot{:style=>'float:left; width: 25%'}
    %img{:src=>'/images/people/ashton-kutcher.jpg', :style=>'width:90px; height:90px;'}
  .text{:style=>'float:left; width:75%'}
    %h3{:style=>'margin-top:0px; margin-bottom:0px;'}
      Ashton Kutcher
    %h4{:style=>'margin-top:3px; margin-bottom:5px; font-weight:400'}
      Actor
    %p{:style=>'font-size: 13px;line-height: 18px;'}
      “I'd like to advocate for computer coding to be an institution in the public school systems right next to biology, chemistry, physics, etc. If we want to spur job growth in the US we have to educate ourselves in the disciplines where jobs are available and where economic growth is feasible.“

#block{:style=>'width:50%; float:left; padding:30px; padding-top:0px'}
  #headshot{:style=>'float:left; width: 25%'}
    %img{:src=>'/images/people/eric-schmidt.jpg', :style=>'width:90px; height:90px;'}
  .text{:style=>'float:left; width:75%'}
    %h3{:style=>'margin-top:0px; margin-bottom:0px;'}
      Eric Schmidt
    %h4{:style=>'margin-top:3px; margin-bottom:5px; font-weight:400'}
      Executive Chairman, Google
    %p{:style=>'font-size: 13px;line-height: 18px;'}
      “For most people on Earth, the digital revolution hasn't even started yet. Within the next 10 years, all that will change. Let's get the whole world coding!“

#block{:style=>'width:50%; float:left; padding:30px; padding-top:0px'}
  #headshot{:style=>'float:left; width: 25%'}
    %img{:src=>'/images/people/steven-hawking.jpg', :style=>'width:90px; height:90px;'}
  .text{:style=>'float:left; width:75%'}
    %h3{:style=>'margin-top:0px; margin-bottom:0px;'}
      Stephen Hawking
    %h4{:style=>'margin-top:3px; margin-bottom:5px; font-weight:400'}
      Theoretical Physicist, Cosmologist, and Author
    %p{:style=>'font-size: 13px;line-height: 18px;'}
      “Whether you want to uncover the secrets of the universe, or you just want to pursue a career in the 21st century, basic computer programming is an essential skill to learn.“

#block{:style=>'width:50%; float:left; padding:30px; padding-top:0px'}
  #headshot{:style=>'float:left; width: 25%'}
    %img{:src=>'/images/people/drew-houston.jpg', :style=>'width:90px; height:90px;'}
  .text{:style=>'float:left; width:75%'}
    %h3{:style=>'margin-top:0px; margin-bottom:0px;'}
      Drew Houston
    %h4{:style=>'margin-top:3px; margin-bottom:5px; font-weight:400'}
      Founder & CEO, Dropbox
    %p{:style=>'font-size: 13px;line-height: 18px;'}
      “Software touches all of these different things you use, and tech companies are revolutionizing all different areas of the world...from how we shop to how farming works, all these things that aren't technical are being turned upside down by software. So being able to play in that universe really makes a difference.“

#block{:style=>'width:50%; float:left; padding:30px; padding-top:0px'}
  #headshot{:style=>'float:left; width: 25%'}
    %img{:src=>'/images/people/susan-wojcicki.jpg', :style=>'width:90px; height:90px;'}
  .text{:style=>'float:left; width:75%'}
    %h3{:style=>'margin-top:0px; margin-bottom:0px;'}
      Susan Wojcicki
    %h4{:style=>'margin-top:3px; margin-bottom:5px; font-weight:400'}
      Senior Vice President, Google
    %p{:style=>'font-size: 13px;line-height: 18px;'}
      “Learning to code makes kids feel empowered, creative, and confident. If we want our young women to retain these traits into adulthood, a great option is to expose them to computer programming in their youth.“

