@import "color";
@import "@cdo/apps/componentLibrary/common/styles/mixins";
@import "@cdo/apps/componentLibrary/typography/typography.module";

// Dropdown common styles
.dropdownContainer {
  position: relative;
  display: inline-block;
  margin: 0;

  .dropdownLabel {
    display: block;
  }

  .dropdownButton {
    display: inline-flex;
    align-items: center;
    align-self: stretch;
    width: auto;
    background-color: unset;
    border-radius: 0.25rem;
    border: 1px solid;
    color: $light_black;
    box-shadow: none;
    gap: 0.5rem;
    margin: 0;

    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    &:focus-visible {
      outline: 2px solid $light_primary_500;
      border-radius: 0.25rem;
      outline-offset: 2px;
    }

    i {
      display: inline-block;
    }

    span {
      /* Manually center dropdown button label */
      margin-top: 2px;
    }
  }

  .dropdownMenuContainer {
    position: absolute;
    bottom: auto;
    z-index: 1000;
    display: none;
    float: left;
    margin: 0.25rem 0;
    list-style: none;
    background-color: #fff;
    border: 1px solid rgba(0 0 0 / .15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0 0 0 / .175);
    box-shadow: 0 6px 12px rgba(0 0 0 / .175);
    background-clip: padding-box;
    padding: .25rem 0 0;
    white-space: nowrap;

    ul {
      margin: 0;
      padding: 0;

      li {
        list-style-type: none;
        display: flex;
        align-items: flex-end;
        align-self: stretch;

        .dropdownMenuItem {
          /* Reset's every elements apperance */
          background: none repeat scroll 0 0 transparent;
          border: none !important;
          border-radius: 0;
          border-spacing: 0;
          list-style: none outside none;
          margin: 0;
          padding: 0;
          text-decoration: none;
          text-indent: 0;
          box-shadow: none;

          display: flex;
          align-items: center;
          cursor: pointer;
          color: $light_black;

          &.destructiveDropdownMenuItem {
            color: $light_negative_500;

            i {
              color: $light_negative_500;
            }

            &:hover {
              background-color: $light_negative_100;
            }

            &:active {
              background-color: $light_negative_500;
              color: $light_white;

              i::before {
                background-color: $light_negative_500;
                color: $light_white;
              }
            }
          }

          &:focus-visible {
            outline: 2px solid $light_primary_500;
            outline-offset: -2px;
          }

          i {
            display: inline-block;
          }
        }

        label, .dropdownMenuItem {
          flex-grow: 1;
          margin-bottom: 0;
        }

        &:hover {
          background-color: $light_gray_100;
        }

        &:active, &:has(input[type="checkbox"]:checked), &:has(.selectedDropdownMenuItem) {
          background-color: $light_primary_500;

          i::before {
            background-color: $light_white;
            color: $light_primary_500;
          }

          span {
            color: $light_white;
          }

          .dropdownMenuItem {
            i::before {
              background-color: $light_primary_500;
              color: $light_white;
            }

            span {
              color: $light_white;
            }
          }
        }

        &:has(input[type="checkbox"]:disabled), &:has(.disabledDropdownMenuItem) {
          color: $light_gray_200;
          background-color: unset;
          cursor: not-allowed;


          .dropdownMenuItem {
            cursor: not-allowed;

            i::before {
              background-color: unset;
              color: $light_gray_200;
            }
          }

          span, .dropdownMenuItem span {
            color: $light_gray_200;
          }
        }
      }
    }
  }

  .bottomButtonsContainer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0.25rem;

    border-radius: 0 0 0.25rem 0.25rem;
    border-top: 1px solid $light_gray_300;
  }
}

.dropdownContainer.open {
  .dropdownMenuContainer {
    display: block;
  }
}

// Dropdrown Menu placements

.dropdownContainer-left-menuPlacement {
  .dropdownMenuContainer {
    inset-inline-start: 0;
  }
}

.dropdownContainer-right-menuPlacement {
  .dropdownMenuContainer {
    inset-inline-end: 0;
  }
}

// Dropdown colors
.dropdownContainer-black {
  .dropdownLabel {
    color: $light_black;
  }

  .dropdownButton {
    color: $light_black;
    border-color: $light_black;
    background-color: $light_white;
  }

  &:has(.dropdownButton:hover) {
    .dropdownButton:not(:disabled) {
      color: $light_black;
      background-color: $light_gray_100;
    }
  }

  &:has(.dropdownButton:active) {
    .dropdownButton:not(:disabled) {
      color: $light_black;
      background-color: $light_white;
    }
  }

  &:has(.dropdownButton:disabled) {
    .dropdownButton {
      color: $light_gray_200;
      border-color: $light_gray_200 !important;
      cursor: not-allowed;

      .dropdownLabel {
        color: $light_gray_200;
      }
    }

    .dropdownLabel {
      color: $light_gray_200;
    }
  }
}

.dropdownContainer-gray {
  .dropdownLabel {
    color: $light_black;
  }

  .dropdownButton {
    color: $light_black;
    border-color: $light_gray_400;
    background-color: $light_white;
  }

  &:has(.dropdownButton:hover) {
    .dropdownButton:not(:disabled) {
      color: $light_black;
      background-color: $light_gray_100;
    }
  }

  &:has(.dropdownButton:active) {
    .dropdownButton:not(:disabled) {
      color: $light_black;
      background-color: $light_white;
    }
  }

  &:has(.dropdownButton:disabled) {
    .dropdownButton {
      color: $light_gray_200;
      border-color: $light_gray_200 !important;
      cursor: not-allowed;

      .dropdownLabel {
        color: $light_gray_200;
      }
    }

    .dropdownLabel {
      color: $light_gray_200;
    }
  }
}

.dropdownContainer-white {
  .dropdownLabel {
    color: $light_white;
  }

  .dropdownButton {
    color: $light_white;
    border-color: $light_white;
    background-color: $light_black;

    span {
      color: $light_white;
    }
  }

  &:has(.dropdownButton:hover) {
    .dropdownButton:not(:disabled) {
      color: $light_white;
      background-color: $light_gray_900;
    }
  }

  &:has(.dropdownButton:active) {
    .dropdownButton:not(:disabled) {
      color: $light_white;
    }
  }

  &:has(.dropdownButton:disabled) {
    .dropdownButton {
      color: $light_gray_900;
      border-color: $light_gray_900;
      cursor: not-allowed;

      .dropdownLabel {
        color: $light_gray_900;
      }
    }
  }
}

// Sizes
.dropdownContainer-l {
  .dropdownLabel-thick {
    @include button-one-text;
    margin-bottom: 0;
  }

  .dropdownLabel-thin {
    @include body-one;
    margin-bottom: 0;
  }

  .dropdownButton {
    @include button-one-text;
    height: 3rem;
    padding: 0.625rem 1rem;
    margin-bottom: 0;

    i {
      font-size: 1.1875rem;
      line-height: 125%;
      width: 1.5rem;
    }
  }

  .dropdownMenuContainer {
    ul {
      li {
        label, .dropdownMenuItem {
          padding: 0.625rem 1rem 0.625rem .75rem;
          gap: 0.75rem;
        }

        .dropdownMenuItem {
          i {
            font-size: 1.375rem;
            line-height: 125%;
            width: 1.75rem;
          }

          span {
            @include body-one;
            color: inherit;
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

.dropdownContainer-m {
  .dropdownLabel-thick {
    @include button-two-text;
    margin-bottom: 0;
  }

  .dropdownLabel-thin {
    @include body-two;
    margin-bottom: 0;
  }

  .dropdownButton {
    @include button-two-text;
    height: 2.5rem;
    padding: 0.5rem 1rem;
    margin-bottom: 0;

    i {
      font-size: 1rem;
      line-height: 125%;
      width: 1.25rem;
    }
  }

  .dropdownMenuContainer {
    ul {
      li {
        label, .dropdownMenuItem {
          padding: 0.5rem 1rem 0.5rem .75rem;
          gap: 0.75rem;
        }

        .dropdownMenuItem {
          i {
            font-size: 1.1875rem;
            line-height: 125%;
            width: 1.5rem;
          }

          span {
            @include body-two;
            color: inherit;
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

.dropdownContainer-s {
  .dropdownLabel-thick {
    @include button-three-text;
    margin-bottom: 0;
  }

  .dropdownLabel-thin {
    @include body-three;
    margin-bottom: 0;
  }

  .dropdownButton {
    @include button-three-text;
    height: 2rem;
    padding: 0.3125rem 1rem;
    margin-bottom: 0;

    i {
      font-size: 0.875rem;
      line-height: 125%;
      width: 1.125rem;
    }
  }

  .dropdownMenuContainer {
    ul {
      li {
        label, .dropdownMenuItem {
          padding: 0.3125rem 0.875rem 0.3125rem 0.625rem;
          gap: 0.5rem;
        }

        .dropdownMenuItem {
          i {
            font-size: 1rem;
            line-height: 125%;
            width: 1.25rem;
          }

          span {
            @include body-three;
            color: inherit;
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

.dropdownContainer-xs {
  .dropdownLabel-thick {
    @include button-four-text;
    margin-bottom: 0;
  }

  .dropdownLabel-thin {
    @include body-four;
    margin-bottom: 0;
  }

  .dropdownButton {
    @include button-four-text;
    height: 1.5rem;
    padding: 0.125rem 0.5rem;
    margin-bottom: 0;

    i {
      font-size: 0.8125rem;
      line-height: 125%;
      width: 1rem;
    }
  }

  .dropdownMenuContainer {
    ul {
      li {
        label, .dropdownMenuItem {
          padding: 0.125rem 0.625rem 0.125rem 0.5rem;
          gap: 0.25rem;
        }

        .dropdownMenuItem {
          i {
            font-size: 0.8125rem;
            line-height: 125%;
            width: 1rem;
          }

          span {
            @include body-four;
            color: inherit;
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

