---
title: Congratulations
theme: responsive
footer: donor_footer
social:
  "twitter:card": player
  "twitter:site": "@codeorg"
  "twitter:url": "https://code.org/"
  "twitter:title": "The Hour of Code is here"
  "twitter:description": "Over 400 million Hours of Code have been served in 180+ countries and 45+ languages. Anyone can learn an hour of computer science."
  "twitter:image:src": "http://csedweek.org/images/code-video-thumbnail.jpg"
  "twitter:player": "https://www.youtube.com/embed/rH7AjDMz_dc?iv_load_policy=3&rel=0&autohide=1&showinfo=0"
  "twitter:player:width": 1920
  "twitter:player:height": 1080
max_age: 60
---

- course = File.basename(request.path_info)

- if ScriptConstants.has_congrats_page?(course)
  = view :csf_congrats, course: course
- else
  - redirect "/congrats"
