---
title: Vá além da Hora do Código
theme: responsive
social:
  'og:title' : 'A Hora do Código do Brasil está chegando'
  'og:description' : "Para todos os alunos e salas de aula: veja como é divertido aprender programação em apenas uma hora, de 8 a 14 de dezembro."
  'og:image' : ""
  'og:image:width' : ""
  'og:image:height' : ""
  "og:video": ""
  "og:video:width": ""
  "og:video:height": ""
  "og:video:type": ""
---

%link{href: "/css/learn_tabs.css", rel: "stylesheet"}

= view :learn_carousels, variation:'beyond'
