.floatingActionButton {
  position: fixed;
  left: 10px;
  bottom: 48px;

  // background-color: aquamarine;
  background-image: 'http://localhost-studio.code.org:3000/assets/js/AI-FABwp510c6fb65f08ac5f588a82fea6dfdcda.png';
  height: 60px;
  width: 60px;
  padding: 0;
}
