@import 'color.scss';
@import 'font.scss';

.floatingActionButton {
  position: fixed;
  left: 10px;
  bottom: 48px;

  height: 60px;
  width: 60px;
  padding: 0;

  border-width: 0;
  border-radius: 30px;
}

.rubricContainer {
  position: fixed;
  left: 10px;
  bottom: 116px;
  z-index: 400;
}

.rubricContent {
  border-radius: 0 0 4px 4px;
  border: 1px solid $neutral_dark;
  background: $neutral_light;
  box-shadow: 4px 4px 6px 0 rgba(0 0 0 / 0.25);
  width: 726px;
  height: 108px;
  padding: 16px;
}

.rubricHeader {
  width: 730px;
  height: 21px;
  border-radius: 4px 4px 0 0;
  background: $neutral_dark;
  color: $neutral_white;
  padding: 9px 15px 8px;

  h6 {
    color: $neutral_white;
    line-height: 1.1875;
  }
}

.learningGoalRow {
  border-bottom: 1px solid $neutral_dark40;
  height: 40px;
  summary:hover {
    background: none;
  }
}

.learningGoalHeader {
  display: flex;
  height: 40px;
  padding: 0 16px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  line-height: 154%;
}

.learningGoalHeaderLeftSide {
  display: flex;
  align-items: center;
  gap: 16px;
  font-family: $gotham-bold;

  // TODO: [DES-321] remove span styles
  span {
    font-size: 14px;
    font-weight: 350;
  }

  .arrowIcon {
    font-weight: 900;
    font-size: 16px;
  }
}

.learningGoalHeaderRightSide {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
  font-weight: 325;
  line-height: 154%;
}

.aiToken {
  display: flex;
  height: 20px;
  padding: 4px 8px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  margin-bottom: 0;

  border-radius: 30px;
  border: 1px solid $product_affirmative_default;
  color: $product_affirmative_default;
  background: $light_affirmative_100;
}

.learningGoalExpanded {
  border-bottom: 1px solid $neutral_dark40;
  padding: 20px 16px;
}
