---
title: Code.org and CSTA celebrate 10 years of CSEdWeek with special kickoff at Santa Fe Indian School
nav: about_nav
video_player: true
theme: responsive
social:
  "twitter:card": photo
  "twitter:site": "@csedweek"
  "twitter:url": "https://csedweek.org/kickoff2019"
  "twitter:image:src" : "http://csedweek.org/images/awards/kickoff2019/panel-csedweek.png"
  "twitter:title": "Code.org and CSTA celebrate 10 years of CSEdWeek with special kickoff at Santa Fe Indian School"
  "twitter:description": "The event featured a student project fair, remarks from Hadi Partovi and Jake Baskin, a #CSforGood panel, and our third annual Champions of Computer Science awards ceremony."
  "og:title": "Code.org and CSTA celebrate 10 years of CSEdWeek with special kickoff at Santa Fe Indian School"
  "og:description": "The event featured a student project fair, remarks from Hadi Partovi and Jake Baskin, a #CSforGood panel, and our third annual Champions of Computer Science awards ceremony."
  "og:image": "http://csedweek.org/images/awards/kickoff2019/panel-csedweek.png"
  "og:image:width": 1200
  "og:image:height": 631
  "og:video": ""
  "og:video:width": ""
  "og:video:height": ""
  "og:video:type": ""
---
<a id="top"></a>

# Code.org and CSTA celebrate 10 years of CSEdWeek with special kickoff at Santa Fe Indian School

## **December 9, 2019 - Santa Fe, NM**

<div class="col-45" style="padding-right: 20px; float: left; margin-top: 10px">

<%= view :display_video_thumbnail, id: 'csedweek_2019_livestream', video_code: 'Ayxrf65Rs84', play_button: 'center', letterbox: 'false'%>

</div>

<div class="col-55">

Code.org and the Computer Science Teachers Association (CSTA) partnered with the Computer Science Alliance to kick off Computer Science Education Week on December 9th at the Santa Fe Indian School (SFIS) in New Mexico. The event featured a student project fair, remarks from Jake Baskin and Hadi Partovi, a #CSforGood panel, and our third annual Champions of Computer Science awards ceremony.

<br>
<br>

We would like to extend a heartfelt thank you to SFIS, the Pueblo Governors of New Mexico, and SFIS Principal Faith Rosetta and her staff for partnering with us.

</div>

<div style="clear:both"></div>

## **See pictures from the event:**


[col-33]

  <center><img src="/images/kickoff2019/fit-540/sfis-students.png" width="90%"></center>
    <figcaption style="text-align:center;font-style:italic;font-size:12px"> Santa Fe Indian School students. </figcaption>

[/col-33]

[col-33]

  <center><img src="/images/kickoff2019/fit-540/hadi-csedweek.png" width="90%"></center>
    <figcaption style="text-align:center;font-style:italic;font-size:12px"> Hadi Partovi, CEO of Code.org, speaks at the CSEdWeek Kickoff. </figcaption>

[/col-33]

[col-33]

  <center><img src="/images/kickoff2019/fit-540/tara-csedweek.png" width="90%"></center>
    <figcaption style="text-align:center;font-style:italic;font-size:12px"> Tara Chklovski, CEO of Technovation, speaks during the #CSforGood panel. </figcaption>

[/col-33]

<div style="clear:both"></div>

[col-33]

  <center><img src="/images/kickoff2019/fit-540/jake-csedweek.png" width="90%"></center>
    <figcaption style="text-align:center;font-style:italic;font-size:12px"> Jake Baskin, Executive Director of CSTA, announces new Standards for CS Teachers. </figcaption>

[/col-33]

[col-33]

  <center><img src="/images/kickoff2019/fit-540/award-csedweek.png" width="90%"></center>
    <figcaption style="text-align:center;font-style:italic;font-size:12px"> Cristina Garza, Mission EDC's Director of Social Impact, accepts her Champions of CS award. </figcaption>

[/col-33]

[col-33]

  <center><img src="/images/kickoff2019/fit-540/project-fair.png" width="90%"></center>
    <figcaption style="text-align:center;font-style:italic;font-size:12px"> Students attend the project fair before the kickoff. </figcaption>

[/col-33]

<div style="clear:both"></div>

## **About #CSforGood**

The theme for Hour of Code and CSEdWeek 2019 is **Computer Science for Good**. This year, we want to convey to students the powerful tool for good that computer science can be and how important it is to wield this tool responsibly. For supplementary resources on this theme, including discussion prompts, online tutorials, and classroom posters, please visit [code.org/csforgood](https://code.org/csforgood) and [csteachers.org/csforgood](https://csteachers.org/page/csforgood).

<br>
<br>

**This event was organized by Code.org, CSTA, and CS Alliance, thanks to the support of our generous funders.**

<br>
<br>

[**Back to the top**](#top)
<br>

  
