---
title: Prizes for EVERY educator - Terms and Conditions
---

= view :prizes_top

%div{:style=>'clear:both'}
  %div{:style=>'float:left; padding: 20px; width: 240px'}
    %img{:src=>'/images/dropbox.png', :width=>'200px'}

  %div{:style=>'float:left; padding: 0px; width: 720px'}
    = view :prizes_conditions

%div{:style=>'clear:both'}
  = view :prizes_laptops

%div{:style=>'clear:both'}
  %div{:style=>'float:left; padding: 0px; width: 720px'}
    = view :prizes_chat

  %div{:style=>'float:left; padding: 20px; width: 140px'}
    %img{:src=>'/images/prizes.png', :width=>'200px'}

