.action-block__wrapper.action-block__wrapper--three-col
  .action-block.action-block--one-col.flex-space-between
    .content-wrapper
      %p.overline=hoc_s(:farsi_homepage_curriculum_overline_1)
      %h3=hoc_s(:curriculum_name_csf)
      %img{src: "/images/global/fa/cs-fundamentals.png", alt: ""}
      %p=hoc_s(:csf_page_top_desc)
    .content-footer
      %a.link-button{href: "/global/fa/csf"}
        =hoc_s(:call_to_action_explore_csf)
  .action-block.action-block--one-col.flex-space-between
    .content-wrapper
      %p.overline=hoc_s(:farsi_homepage_curriculum_overline_2)
      %h3=hoc_s(:farsi_homepage_curriculum_title_2)
      %img{src: "/images/global/fa/unplugged-curriculum.png", alt: ""}
      %p=hoc_s(:farsi_homepage_curriculum_description_2)
    .content-footer
      %a.link-button{href: "https://studio.code.org/s/k5-unplugged"}
        =hoc_s(:call_to_action_explore_unplugged_lesson)
  .action-block.action-block--one-col.flex-space-between
    .content-wrapper
      %p.overline=hoc_s(:farsi_homepage_curriculum_overline_2)
      %h3=hoc_s(:farsi_homepage_curriculum_title_1)
      %img{src: "/images/global/fa/hour-of-code-2023.png", alt: ""}
      %p=hoc_s(:farsi_homepage_curriculum_description_1)
    .content-footer
      %a.link-button{href: "/global/fa/hoc"}
        =hoc_s(:call_to_action_explore_hoc_short)
