@use 'sass:math';
@import 'phase1-design-system';

$container-width: 960px;

.bodyText {
  font-size: 14px;
  text-decoration: none;
  color: black;
}

.buttonsContainer {
  display: flex;
  align-items: center;
  column-gap: 20px;
  text-align: center;
  button,
  a,
  a:link,
  a:visited {
    margin: 0;
    height: 40px;
    font-size: 1em;
    line-height: 36.5px;
  }
}

.centerContentContainer {
  display: flex;
  column-gap: 48px;
}

.closeButton {
  display: flex;
  justify-content: right;

  a {
    text-decoration: none;
    color: #54595e;
  }
  a:hover {
    cursor: pointer; /* Change cursor to a pointer on hover */
  }
}

.compatibilityContainer {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.courseOfferingContainer {
  width: 736px;
  padding: 16px 32px 16px 16px;
  box-sizing: border-box;
}

.descriptionContainer {
  margin-bottom: 20px;
}

.descriptionVideoContainer {
  width: 440px;
}

.expandedCardContainer {
  position: relative;
  background-color: #fff;
  color: #333;
  border: 1px solid #ccc;
  border-color: #333;
  border-radius: 4px;
  width: $container-width;
  box-sizing: border-box;
}

.flexDivider {
  display: flex;
}

.horizontalDivider {
  border-top: 1px solid #d4d5d7;
}

.iconWithDescription {
  display: flex;
  align-items: center;
  column-gap: 8px;
  margin: 0 0 0.5em 0;

  > p {
    font-size: 0.875em;
    margin: 0;
    color: $neutral_dark;
  }

  i {
    font-size: 0.875em;
  }
}

.infoContainer {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.linksContainer {
  hr {
    margin: 8px 0;
  }

  i {
    margin-left: 8px;
  }
}

.professionalLearningText {
  font-size: 14px;
}

.relatedContainer {
  margin-top: 36px;

  hr {
    margin-top: 8px;
    margin-bottom: 16px;
  }
}

.relatedCurriculaContainer {
  background-color: #f7f8fa;
  width: 224px;
  padding: 16px;
}

.resourcesContainer {
  width: 200px;
  margin-bottom: 40px;

  hr {
    margin: 8px 0;
  }

  a {
    text-decoration: none;
  }
}

.subjectsText {
  overflow: hidden;
  white-space: nowrap;
}

.thickDivider {
  border-top: 2px solid #d4d5d7;
}

.videoContainer {
  height: 246.5px;
}
