---
theme: responsive_full_width
---

:ruby
  @header["title"] = hoc_s(:"farsi_site.top_heading")

%link{href: "/css/generated/design-system-pegasus.css", rel: "stylesheet"}
%link{href: "/css/generated/farsi-styles.css", rel: "stylesheet"}
%section
  .wrapper
    %h1=hoc_s(:"farsi_site.top_heading")
    %div.flex-container.justify-space-between.wrap
      %div.col-60{style: "margin-bottom: 1rem"}
        %h2.heading-lg=hoc_s(:"farsi_site.top_heading_02")
        %p.body-three=hoc_s(:"farsi_site.top_desc")
      %div.col-33{style: "float:right"}
        %img{src: "/images/global/fa/farsi-page-students.jpg", alt: "", style: "width: 100%"}
      .clear

%section.bg-neutral-dark
  .wrapper
    .flex-container.align-items-center.flex-direction-column-mobile.flex-wrap.gap-2
      .text-wrapper.flex-2
        %h2.heading-sm.white
          =hoc_s(:follow_us_heading)
        %p.no-margin-bottom.white
          =hoc_s(:follow_us_desc)
        .flex-container.wrap.gap-1-5{style: "margin-top: 1rem;"}
          %a.body-two.no-margin-bottom.white{href: "https://www.facebook.com/profile.php?id=61556998216913"}
            =hoc_s(:facebook)
          %a.body-two.no-margin-bottom.white{href: "https://x.com/codeinfarsi"}
            =hoc_s(:twitter)
          %a.body-two.no-margin-bottom.white{href: "https://www.instagram.com/codeinfarsi/"}
            =hoc_s(:instagram)

%section
  .wrapper
    %h2=hoc_s(:"farsi_site.global_heading")
    %p.body-three=hoc_s(:"farsi_site.global_desc_01")
    %p.body-three
      %strong=hoc_s(:"farsi_site.global_desc_02")
      =hoc_s(:"farsi_site.global_desc_03")

%section.bg-neutral-light
  .wrapper
    %h2=hoc_s(:"farsi_site.farsi_about_heading_1")
    %p.body-three=hoc_s(:"farsi_site.farsi_about_description_1")
    %p.body-three=hoc_s(:"farsi_site.farsi_about_description_2")
    %p.body-three=hoc_s(:"farsi_site.farsi_about_description_3")
    %p.body-three=hoc_s(:"farsi_site.farsi_about_description_4")

%section
  .wrapper
    %h2=hoc_s(:"farsi_site.supporters_heading")
    %p.heading-sm
      =hoc_s(:"farsi_site.supporters_desc")
    %ul.three-col.clear-styles{style: "margin-top: 2rem"}
      %li Abstract Ventures
      %li Anonymous
      %li Nima Asgharbeygi
      %li Bita Daryabari
      %li Nariman and Hoveida Farvardin
      %li Arash Ferdowsi
      %li Dinesh Gupta
      %li Jeffrey Huber and Angel Vossough
      %li Homan Igehy and Sepideh Pashaie
      %li Amir Khandani
      %li Azadeh Khazraee
      %li Dara Khosrowshahi
      %li Kaveh Khosrowshahi
      %li Golnar Khosrowshahi
      %li Fati and Mehrad Khosrowshahi
      %li Milan Kordestani
      %li Farshid Maghami Asl
      %li Ashkan and Nansi Marsh
      %li Farhad Massoudi
      %li Laleh and Mohsen Moazami
      %li Nushin and Farhad Mohit
      %li Steve Mohebi
      %li Shahrokh Mortazavi
      %li Sharmin and Bijan Mossavar-Rahmani
      %li Nazgol Moussavi and Reza Hajebi
      %li F. Francis and Dionne Najafi, Pivotal Foundation
      %li Nasiri Foundation
      %li Zod Nazem and Noosheen Hashemi
      %li Larissa and Hooman Radfar
      %li Mostafa Ronaghi
      %li Poorya Sabounchi and Newsha Sharifzadeh
      %li Shima Safaei and Saman Teimouri
      %li Mehran and Heather Sahami
      %li Hilary and Darian Shirazi
      %li Parisa Tabriz
      %li AmirAli Talasaz and Maryam Eskandari
      %li Zahra Tashakorinia
      %li Leila Yari

%section.bg-neutral-light
  .wrapper
    %h2=hoc_s(:"farsi_site.founders_heading")
    .photo-carousel-wrapper
      = view :"global/fa/farsi_carousel"

// Want to always be in English
%section
  .wrapper
    %h2="Code.org in Farsi is about children, not politics"
    %p
      ="Code.org is an education nonprofit and NGO dedicated to the vision that every student in every school has the opportunity to learn computer science and artificial intelligence as part of their core education. Because of our global impact, we often collaborate with regional governments to advance this goal. However, for Code.org in Farsi, we operate independently from any government influence due to geopolitical sensitivities. This project is designed to enable global access to our free educational resources, and is unrestricted by US sanctions. Code.org’s purpose is to support educational opportunities for Farsi-speaking children, with no stance on any other political or controversial topics."
    %details
      %summary="What countries is Code.org in?"
      %p="The Code.org website and learning platform is used in over 50 languages, by students and classrooms in EVERY country in the world. Although headquartered in the USA, Code.org's curriculum is designed for global reach, localized to different languages and cultures, with targeted campaigns to reach students in Latin America, Asia, the Middle East, and Africa."
    %details
      %summary="Is Code.org collaborating with the government of _____?"
      %p="Code.org often collaborates with local governments to ensure that education systems teach computer science. When we work with governments, it is to work with national ministries or local departments of education, to create opportunities for children in local schools. In the case of Code.org in Farsi, Code.org is not collaborating with, for, or against any government. Code.org’s founder and CEO (Hadi Partovi) is Iranian-born, and he sees this as a project to support Farsi speaking children all around the globe."
    %details
      %summary="What is Code.org’s stance on the government of Iran?"
      %p="Code.org has no stance on any government or political issue other than our one organizing focus: that every student in every school should have the opportunity to learn computer science. You can read more about Code.org’s apolitical, inclusive, and unifying stance."
    %details
      %summary="What is Code.org’s stance on the hijab laws in Iran? Do Code.org videos abide by hijab laws?"
      %p="Code.org takes no stance on political issues in any country. We believe that every student should have equal access to a high quality computer science education, regardless of their birthplace, language, gender, skin color, or religion. To enable universal access to our courses, we design our content with a global audience in mind. And to localize our curriculum for Middle Eastern students, we are re-recording some of our educational videos with Iranian (or Arabic) speakers, so that Middle Eastern students may see computer science role models who showcase the customs of their region. In some of these videos, female speakers wear hijab, and in others they do not — both situations reflect their personal preference or custom, and not a position or stance of Code.org."
    %details
      %summary="Is Code.org in Farsi compliant with US sanctions on Iran?"
      %p="As a U.S. nonprofit, Code.org is subject to laws regarding sanctions with Iran. After consulting with U.S. legal counsel experienced in the Iranian Sanctions and Translations Regulations (ITSR), Code.org believes that it may fund, prepare, and distribute the Farsi translations of its computer science curriculum globally via its website, to audiences in every country including Iran. The ITSR provides an exemption for “information and informational materials” (the IIM Exemption) and Code.org believes that this exemption will fully shield its funding, preparation, and distribution of the Farsi translations and thus enable its Farsi translations effort to proceed in full compliance with U.S. economic sanctions requirements. Code.org does not have any financial relationship or legal contracts with any Iran-based entities."
    %details
      %summary="Who funds Code.org in Farsi, and what are their objectives?"
      %p="Code.org in Farsi is funded by donors who believe that every Farsi-speaking student should have the opportunity to learn computer science, with the same access as students who speak English, Spanish, Arabic, or other language. Code.org’s unifying mission attracts a diverse group of supporters, but their only relationship with Code.org is to support our student-focused mission. Any other efforts or goals of our funders have absolutely no bearing on the work or intentions of Code.org."

// Want to always be in English
%section.bg-neutral-light
  .wrapper
    %h2.heading-sm
      ="Compliance In Support Of Farsi Translations"
    %p.body-three
      ="As a U.S. nonprofit, Code.org is subject to laws regarding sanctions with Iran. After consulting with U.S. legal counsel experienced in the Iranian Sanctions and Translations Regulations (ITSR), Code.org believes that it may fund, prepare, and distribute the Farsi Translations of CS Curriculum in the United States and elsewhere around the world, including within Iran. The ITSR provides an exemption for “information and informational materials” (the IIM Exemption) and Code.org believes that this exemption will fully shield its funding, preparation, and distribution of the Farsi Translations and thus enable its Farsi Translations effort to proceed in full compliance with U.S. economic sanctions requirements."
