---
theme: responsive_full_width
set_dir: true
---

:ruby
  @header["title"] = hoc_s(:teach_page_top_heading)

%link{href: "/css/generated/design-system-pegasus.css", rel: "stylesheet"}
%link{href: "/css/generated/page/teach-styles.css", rel: "stylesheet"}

%section.top
  .wrapper
    .text-wrapper.col-50
      %h1=hoc_s(:teach_page_top_heading)
      %p=hoc_s(:teach_page_top_desc_01)
      %p.body-three
        =hoc_s(:teach_page_top_desc_02)
      %a{href: CDO.studio_url("/users/sign_up"), class: "link-button"}
        =hoc_s(:call_to_action_sign_up_free)
    %figure.col-45{style: "float: right; margin-top: 1.25rem;"}
      %img.rounded-corners.box-shadow-primary{src: "/images/teach-page-top.png", alt: "", style: "position: relative; width: 100%;"}
    .clear

%section.bg-neutral-light
  .wrapper.centered
    %h2=hoc_s("game_design_page.why.heading")
    %p=hoc_s("game_design_page.why.desc")
    = view :"global/fa/farsi_why_list"
    .button-wrapper.centered
      %a.link-button{href: "#curriculum-offerings"}
        =hoc_s(:call_to_action_explore_curricula)

%section.curriculum-offerings
  .wrapper
    %h2.centered
      =hoc_s(:teach_page_curriculum_heading)
    %p.centered
      =hoc_s(:teach_page_curriculum_desc)
    = view :"global/fa/farsi_curriculum"
    %div.centered{style: "margin-top: 2rem"}
      %a.link-button.secondary{href: CDO.studio_url("/catalog")}
        =hoc_s(:call_to_action_see_full_curriculum_catalog)

%section.resources.bg-neutral-light
  .wrapper
    = view :"tabs_section/resources/resources_tabs", resources_heading: hoc_s(:resources_tabs_heading), resources_desc: hoc_s(:resources_tabs_desc, markdown: :inline, locals: {sign_up_url: CDO.studio_url("/users/sign_up")})

%section
  .wrapper
    %h2.centered
      =hoc_s(:farsi_homepage_video_title)
    %p.centered
      =hoc_s(:farsi_homepage_video_description)
    .action-block.action-block--two-col
      .media-wrapper.col-50
        %img{src: "/images/video-library-banner.png", alt: ""}
      .text-wrapper.col-50
        %p.overline
        %h3
          =hoc_s(:farsi_homepage_video_card_title)
        %p.heading-sm
          =hoc_s(:farsi_homepage_video_card_description)
        %a.link-button{href: "https://hourofcode.com/learn"}
          =hoc_s(:farsi_homepage_video_card_cta)

%section#professional-learning.bg-neutral-light
  .wrapper
    %h2.centered=hoc_s(:self_paced_pl_modules_heading)
    %p.centered=hoc_s(:self_paced_pl_modules_desc)
    = view :"global/fa/farsi_pl"
