.teacherPanelContainer {
  color: var(--text-neutral-primary);

  .sectionSelector {
    margin: 0 10px;

    select {
      margin: 0;
    }
  }
}

.sortDropdown {
  display: block;
  text-align: center;
}

.sortDropdown select  {
  margin: 0;
}

.sortDropdownContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
