---
title: Cancel workshop registration
nav: blank
rightbar: blank
---
- dont_cache
- workshop_signup_secret = request.splat_path_info[1..-1]
- pass unless workshop_signup = Form2.from_row(DB[:forms].where(kind:'ProfessionalDevelopmentWorkshopSignup', secret:workshop_signup_secret).first)
- workshop_signup_data = workshop_signup.data
- pass unless workshop = Form2.from_row(DB[:forms].where(kind:'ProfessionalDevelopmentWorkshop', id:workshop_signup.parent_id).first)
- workshop_data = workshop.data

%h1 Cancel workshop registration

- if workshop_signup_data['status_s'] == 'cancelled'
  %p Your registration for this workshop has already been cancelled.
- else
  %form#cancel-workshop-registration-form{role: "form", onsubmit: "event.preventDefault(); cancelWorkshopRegistrationFormSubmit();", style: 'margin-top: 30px;'}
    #error-message{style: 'display: none'}
    %p Are you sure you want to cancel registration for the following workshop?
    .row
      .col-sm-4{style: "text-align: right;"} Date:
      .col-sm-8
        -workshop_data['dates'].each do |date|
          =date['date_s'] + ', ' + date['start_time_s'] + '-' + date['end_time_s']
          %br/
    .row
      .col-sm-4{style: "text-align: right;"} Location:
      .col-sm-8
        = workshop_data['location_name_s']
        %br/
        = workshop_data['location_address_s']
    .row{style: "margin-top: 30px;"}
      .col-sm-8.col-sm-offset-4
        .form-group
          %button#btn-submit.btn.btn-default{type: "submit"} Cancel registration
  
  #thanks{:style=>"display: none;"}
    :markdown
      Your registration has been cancelled. You can sign up for a different workshop [here](/professional-development-workshops).

:javascript

  function processResponse(data)
  {
    $('#cancel-workshop-registration-form').hide();
    $('#thanks').show();
  }

  function processError(data)
  {
    $('#error-message').text('An error occurred. Please try again or contact us if you continue to receive this error.').show();
    $('body').scrollTop(0);
    $("#btn-submit").removeAttr('disabled');
    $("#btn-submit").removeClass("button_disabled").addClass("button_enabled");
  }

  function cancelWorkshopRegistrationFormSubmit()
  {
    $("#btn-submit").attr('disabled','disabled');
    $("#btn-submit").removeClass("button_enabled").addClass("button_disabled");

    $.ajax({
      url: "/v2/forms/ProfessionalDevelopmentWorkshopSignup/#{workshop_signup_secret}/status/cancelled",
      type: "get",
    }).done(processResponse).fail(processError);

    return false;
  }
