$thumbnail-size: 105px;
$thumbnail-border-width: 1px;
$hover-plus-size: 24px;

// Used for the width and height properties of AnimationPreview
:export {
  previewSize: calc(($thumbnail-size - 2 * $thumbnail-border-width) / 1px);
}

.root {
  float: left;
  width: $thumbnail-size;
  text-align: center;
  margin: 1px 1px 10px 1px;
  position: relative;
  border: 0;
  padding-right: 10px;
  outline: none;
}

.thumbnail {
  height: $thumbnail-size;
  width: 100%;
  border-style: solid;
  border-color: var(--borders-neutral-strong);
  border-width: $thumbnail-border-width;
  border-radius: 12px;
  padding: 2px;
  cursor: pointer;
  background: none;
  box-shadow: none;
  margin: 0 0 0 0;
  outline: none;
}

.thumbnailIcon {
  color: var(--text-neutral-white-fixed);
  background-color: var(--background-brand-purple-primary);
  border-color: var(--borders-brand-purple-primary);
  font-size: calc($thumbnail-size / 2);
  &:hover {
    background-color: var(--background-brand-purple-strong);
    border-color: var(--borders-brand-purple-strong);
  }
  &:focus {
    background-color: var(--background-brand-purple-strong);
    border-color: var(--borders-brand-purple-strong);
  }
}

.icon {
  padding-top: 10px;
}

.label {
  margin-top: 3px;
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
}

.noLabel {
  padding-bottom: 10px;
}

.labelIcon {
  font-style: italic;
}

.categoryImage {
  border-radius: 10px;
}

.multiSelectIcon {
  position: absolute;
  border-style: solid;
  border-width: 2px;
  font-size: $hover-plus-size;
  height: $hover-plus-size;
  width: $hover-plus-size;
  border-radius: 5px;
  top: calc($thumbnail-size / 2 - $hover-plus-size / 2);
  left: calc($thumbnail-size / 2 - $hover-plus-size / 2);
}

.hoverIcon {
  color: var(--text-brand-purple-primary);
  background-color: var(--background-neutral-white-fixed);
  border-color: var(--borders-brand-purple-primary);
}

.selectIcon {
  color: var(--text-neutral-white-fixed);
  background-color: var(--background-success-primary);
  border-color: var(--borders-success-primary);
}

.multiSelectBorder {
  border-style: solid;
  border-radius: 12px;
  cursor: pointer;
  border-width: 3px;
  padding: 0;
}

.hoverBorder {
  border-color: var(--borders-brand-purple-primary);
}

.selectBorder {
  border-width: 3px;
  padding: 0;
  border-color: var(--borders-success-primary);
}

.block {
  display: block;
}

.none {
  display: none;
}
