= view :breadcrumbs, trail: [{text: 'Dashboard', url:'/poste'}, {text:'Create Mail'}]

%h1
  Create Mail

%h2
  Message Name:
  %input{type:'text'}

%h2
  Choose mailing list
%table.mailing-list
  %thead
    %tr
      %th
        Name
      %th
        Size
      %th
        Select
  %tbody
    %tr
      %td
        Petition Signers
      %td
        70,000
      %td
        %input{type:'checkbox'}
    %tr
      %td
        Code Studio Users
      %td
        100,000
      %td
        %input{type:'checkbox'}
    %tr
      %td
        HOC 2013 Organizers
      %td
        100,000
      %td
        %input{type:'checkbox'}
    %tr
      %td
        HOC 2014 Organizers
      %td
        170,000
      %td
        %input{type:'checkbox'}
    %tr
      %td
        Volunteer Engineers
      %td
        80,000
      %td
        %input{type:'checkbox'}
    %tr
      %td
        K5 Workshops Attendees
      %td
        50,000
      %td
        %input{type:'checkbox'}
%h1
  Send A/B Test

%div.test-param
  %h2
    Message Template
    %input{type:'text'}
  %h2
    Subject Line
    %input{type:'text'}
  %h2
    Test Size
    %input{type:'number'}
%div.test-param
  %h2
    Message Template
    %input{type:'text'}
  %h2
    Subject Line
    %input{type:'text'}
  %h2
    Test Size
    %input{type:'number'}
%div.test-param
  %h2
    Message Template
    %input{type:'text'}
  %h2
    Subject Line
    %input{type:'text'}
  %h2
    Test Size
    %input{type:'number'}
%button.btn.btn-white
  Send A/B Test

:css
  .test-param h2 {
    display:inline;
  }
  .test-param input {
    width: 163px;
  }
  .test-param {
    margin-bottom: 10px;
  }
  button {
    float: right;
  }
  .mailing-list {
    height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
    display: inline-block;
  }
