= view :breadcrumbs, trail: [{text: 'Dashboard', url:'/poste'}, {text:'Create Mail', url:'/poste/mail'}, {text:'HOC 2015 Reminder'}]

%h1
  Send Mail

%h2
  Message Name: HOC 2015 Reminder

%h2
  List Size: 100,000

%table
  %thead
    %tr
      %th
        Message Template
      %th
        Sent
      %th
        Opens
      %th
        Clicks
      %th
        Send to Rest
  %tbody
    %tr
      %td
        email_name_1.md
      %td
        1,000
      %td
        44%
      %td
        65%
      %td
        %button.btn.btn-white
          Send
    %tr
      %td
        email_name_2.md
      %td
        1,000
      %td
        52%
      %td
        71%
      %td
        %button.btn.btn-white
          Send
    %tr
      %td
        email_name_3.md
      %td
        1,000
      %td
        33%
      %td
        40%
      %td
        %button.btn.btn-white
          Send
%h1
  Send Another A/B Test
%div.jumbotron
  Phase 2 feature
