- @page_title = 'Contact a Regional Partner'

- content_for(:head) do
  = stylesheet_link_tag 'css/pd', media: 'all'
%script{src: minifiable_asset_path('js/pd/regional_partner_contact/new.js'), data: @script_data}

#application-header
  %h3
    Contact a Regional Partner

%p
  Your local Code.org Regional Partner provides high quality professional learning to teachers, and can help guide your school or district on implementation, certification, funding, and more. Share your contact information if you would like to be notified about opportunities in your area.

.form-group
  .question School Country
  %select#us-or-international.form-control{ name: "school_info[country]", type: "select", required: true, onchange: "if (this.value === 'International') {window.location = 'https://support.code.org/hc/en-us/articles/115001474571'}"}
    %option{value: "", selected: true, disabled: true}
    %option{value: "United States"}United States
    %option{value: "International"}International

= render partial: 'shared/school_info', locals: {form_name: "school_info", suppress_scrolling: true, assume_usa: true}

%div#application-container
