- if @regional_partner
  Your message is on it’s way! Your local Code.org Regional Partner,
  ="#{@regional_partner.name},"
  will get back to you. We look forward to helping you bring computer science to your school or district.
- else
  %p
    Thank you! If you are a teacher, please visit our
    = link_to 'Professional Learning page', CDO.code_org_url('/educate/professional-learning')
    to learn about the opportunities that exist in your region.
  %p
    If you are a school or district administrator, we don't currently have a local contact for you. We are continuing to expand into more regions every year and will forward your message to a Regional Partner in your community if and when they become available.

  In the meantime, take a look
  = link_to 'here for the K-12 Code.org curriculum options', courses_path
  available for no cost to all schools, or check out our list of
  = link_to 'third-party computer science resources.', CDO.code_org_url('/educate/curriculum/3rd-party')
