- if @regional_partner
  Thank you for expressing your interest in bringing Computer Science to your school or
  district.  Your Code.org regional partner is
  = "#{@regional_partner.name}."
  A representative from
  = @regional_partner.name
  will receive your contact information and contact you soon.
- else
  %p
    Thank you for expressing your interest in bringing computer science to your school or
    district. There is not currently a Code.org regional partner in your area. The Code.org
    team will receive your interest form and forward it to a regional partner in your
    community if and when they become available.

  In the meanwhile, take a look
  = link_to 'here', 'https://code.org/educate/curriculum/3rd-party'
  for some ideas on how to bring computer science to your community.
