:ruby
  require 'state_abbr'

  # Get a filename like "NewJersey.pdf".
  filename = File.basename(URI.parse(request.url).path)

  # Get the base filename without extension like "NewJersey".
  base_filename = File.basename(filename,File.extname(filename))

  # Render a 404 if this isn't one of the states.
  not_found! unless STATE_ABBR_WITH_DC_HASH.values.map{|s| s.delete(' ')}.include?(base_filename)

= "https://advocacy.code.org/assets/advocacy/stateofcs/2023/" + filename
