.mapheader {
  position: relative;
}

.signup-button {
  margin: 10px 0 0 20px;
}

@media screen and (max-width: 640px) {
  .signup-button {
    margin: 0 0 10px 0;
  }

  #hocmap {
    margin-left: 20px;
  }
}

.float-left {
  float: left;
}

.full-width {
  width: 100%;
}
