.mapheader {
  text-align: center;
}

.mapheader a {
  color: rgb(193, 43, 39);
}

.signup-button {
  margin-left: 10px;
}

.full-width {
  width: 100%;
}

#legend {
  background: #FFF;
  padding: 10px;
  margin: 5px;
  font-size: 14px;
  font-family: Arial, sans-serif;
  width: 160px;
}

.legend-title {
  font-size: 18px;
  color: #008b9a;
  font-weight: bold;
  margin-bottom: 5px;
}

.color {
  border: 1px solid;
  height: 14px;
  width: 12px;
  margin-right: 3px;
  float: left;
}

.orange {
  background: #ff9c00;
}

.turquoise {
  background: #99ffff;
}
