= render partial: 'shared/sharing_meta_tags'

- if @game.share_mobile_fullscreen? && browser.safari?
  <script>
  if (!window.navigator.standalone) { window.addEventListener("load", function() { addToHome.show(true); }, false); }
  </script>

- if !@game.share_mobile_fullscreen?
  - @page_title = t('share_code.title')
  %h1= @page_title
= render partial: "levels/blockly", locals: { slider_speed: "0.9" }

- if current_user.try(:admin) && current_user.admin?
  = render partial: 'level_sources/admin'
