%p
  As a reminder, all participants in the Professional Learning Program are expected to:
  %ul
    %li
      Attend their assigned summer workshop
    %li
      Attend their assigned academic year workshops
    %li
      Intend to teach this curriculum in the 2019-20 school year
      (If this has changed since you first applied, please let me know as soon as possible so that your application can be withdrawn).
