%p
  Dear
  = @application.principal_greeting + ','

%p
  Thank you for completing the principal approval form.
  Your teacher’s application is now considered complete and we will complete our review soon.

%p
  Best,
%p
  = render partial: 'partner_signature'
