%p
  Hello
  = @application.first_name + ','

%p
  We have received your principal's approval form for your application to join Code.org's
  Professional Learning Program. Your application is now considered complete,
  and we will review it over the next few weeks.

%p
  The priority deadline for applications has passed, but we will consider your application
  if space remains in the program. In the meantime, don’t forget to check out some of these
  = link_to 'great resources', 'https://code.org/educate/resources/videos'
  you can put to use today!

%p
  Thank you!

%p
  Sarah Fairweather
  %br
  Education Team Program Manager
  %br
  Code.org
