%p
  Hi
  = @application.first_name + ","

%p
  Thank you for applying to
  = @application.effective_regional_partner_name + "'s"
  2019-20 Professional Learning Program for
  = @application.course_name + "."
  I'm writing to let you know you have been placed on the waitlist for a spot in this year's
  Professional Learning Program. Our team appreciated the opportunity to review your
  application and learn about your commitment to computer science education.

%p
  Please respond to this message if you have any questions or if you would like to
  withdraw your application from consideration.

%p
  Thank you,

= render partial: 'partner_signature'
