=inline_css 'forum-banner.css'

.announcement
  .left.col-80
    .announcement-thumbnail
      %img{src: "/images/report-cover-2019.png"}
    .title
      2019 State of Computer Science Report
    .details
      Includes diversity data, national momentum, policy trends, maps, state summaries, and implementation data.
  .right.col-20
    %a{href: "/2019_state_of_cs.pdf", target: "_blank"}
      %button.large_button
        Download
    &nbsp;
    %a{href: "https://store.code.org", target: "_blank"}
      %button.small_button
        Order

