=inline_css 'forum-banner.css'

.announcement
  .left
    %p.title
      You're invited to the 2018 Code.org/CSTA State Policy Forum
    %p.details
      September 27-28  Denver Colorado.
  .right
    %a{href: "/state-policy-forum"}
      %button
        Sign Up
