=inline_css 'forum-banner.css'

.announcement
  .left
    %p.title
      2018 State of Computer Science Report
    %p.details
      Includes national momentum, policy trends, maps, state summaries, and implementation data.
  .right
    %a{href: "https://code.org/files/2018_state_of_cs.pdf", target: "_blank"}
      %button
        Download Report
