=inline_css 'forum-banner.css'

.announcement
  .left.col-80
    .announcement-thumbnail
      %img{style: "width: 100px", src: "/images/fit-400/socs-cover-2023.png", alt: "screenshot of the front page cover of the State of CS 2022 report"}
    .title
      2023 State of Computer Science Education
    .details
      Includes national and state-level computer science education policy, including policy trends, maps, state summaries, and implementation data.
  .right
    %a.link-button.white{href: "/stateofcs", target: "_blank"}
      Read report

