=inline_css 'forum-banner.css'

.announcement
  .left.col-80
    .announcement-thumbnail
      %img{src: "/images/socs-cover-2021-small.png", alt: "screenshot of the front page cover of the State of CS 2021 report"}
    .title
      2021 State of Computer Science Education
    .details
      Includes national and state-level computer science education policy, including policy trends, maps, state summaries, and implementation data.
  .right
    %a{href: "/stateofcs", target: "_blank"}
      %button.large_button
        Read report

