=inline_css 'forum-banner.css'

.announcement
  .left
    %p.title
      2018 Code.org/CSTA State Policy Forum
    %p.details
      September 27-28 &nbsp; Denver, Colorado
  .right
    %a{href: "/state-policy-forum"}
      %button
        Learn More
