=inline_css 'forum-banner.css'

.announcement
  .left.col-80
    .announcement-thumbnail
      %img{src: "/images/report-cover-2020.png"}
    .title
      2020 State of Computer Science Education
    .details
      Includes policy trends, maps, state-by-state summaries, and implementation data.
  .right
    %a{href: "/stateofcs", target: "_blank"}
      %button.large_button
        Read report

