#language_dir{class: language_dir_class}
  #pageheader-wrapper
    #pageheader
      .content
        #left
          #logo-wrapper
            %a.linktag#logo-signedin{href: CDO.code_org_url}
              %img#logo{src: '/images/fit-350/logo.png'}

        #right
          %a{href: CDO.code_org_url("/")}
            %button.header-button
              Back to Code.org
