=inline_css 'header.css'
=inline_css 'advocacy-header.css'

#language_dir{class: language_dir_class}
  #pageheader-wrapper
    #pageheader
      .content
        #left
          #logo-wrapper
            %a.linktag#logo-signedin{href: "/"}
              %img#logo{src: '/images/fit-350/logo.svg'}

        #right
          %a{href: CDO.code_org_url("/")}
            %button.header-button
              Back to Code.org
