- content_for(:head) do
  = stylesheet_link_tag 'css/pd', media: 'all'

%script{type: "text/javascript", src: "https://maps.googleapis.com/maps/api/js?key=#{CDO.google_maps_api_key}&libraries=places"}
%script{src: minifiable_asset_path('js/pd/workshop_dashboard/index.js'), data: @script_data}

#workshop-container
  -# populated by React
