:ruby
  congrats_data = {current_user: current_user}
  congrats_data[:english] = @is_english

#congrats-container

- content_for(:head) do
  %script{src: minifiable_asset_path('js/congrats/index.js'), data: {congrats: congrats_data.to_json}}
