:ruby
  require_relative '../../../legacy/middleware/helpers/user_helpers'
  congrats_data = {}
  congrats_data[:language] = request.language
  congrats_data[:random_donor_twitter] = @random_donor_twitter
  congrats_data[:random_donor_name] = @random_donor_name
  congrats_data[:next_course_script_name] = @next_course_script_name
  congrats_data[:next_course_title] = @next_course_title
  congrats_data[:next_course_description] = @next_course_description
  congrats_data[:hide_dance_followup] = DCDO.get("hide_dance_followup", false)
  congrats_data[:certificate_data] = @certificate_data
  congrats_data[:curriculum_url] = @curriculum_url
  congrats_data[:is_hoc_tutorial] = @is_hoc_tutorial
  congrats_data[:is_pl_course] = @is_pl_course
  congrats_data[:is_k5_pl_course] = @is_k5_pl_course
  congrats_data[:course_name] = @course_name
  congrats_data[:sections] = @sections
  congrats_data[:assignable_course_suggestions] = @assignable_course_suggestions
  if current_user
    congrats_data[:current_user] = current_user
    # We need to know the user's age to determine whether we should suggest
    # they use our advanced tools (AppLab & GameLab) and whether they should
    # see social media sharing links.
    congrats_data[:under_13] = current_user.under_13?
  end

#congrats-container

- content_for(:head) do
  %script{src: webpack_asset_path('js/congrats/index.js'), data: {congrats: congrats_data.to_json}}
