:ruby

  cert_script = params[:s] ? Base64.urlsafe_decode64(params[:s]) : ScriptConstants::HOC_NAME

  congrats_data = {completedTutorialType: cert_script}

#congrats-container

- content_for(:head) do
  %script{src: minifiable_asset_path('js/congrats/index.js'), data: {congrats: congrats_data.to_json}}
