:ruby
  require 'cdo/user_helpers'
  congrats_data = {current_user: current_user}
  congrats_data[:english] = @is_english
  congrats_data[:user_age] = UserHelpers.age_from_birthday(current_user[:birthday])

#congrats-container

- content_for(:head) do
  %script{src: minifiable_asset_path('js/congrats/index.js'), data: {congrats: congrats_data.to_json}}
