- content_for :head do
  %script{src:'https://www.google.com/jsapi'}

:css
  .center {
    text-align: center;
  }
  .right {
    text-align: right;
  }

%h1
  Hour of Code Signups

.by_day
  %table
    %tr
      %td
        #signups_by_day
      %td
        #cumulatives_by_day
  %table
    %tr
      %th Day
      %th HOC 2014 Count
      %th HOC 2015 Count
    - data_by_day.each do |day|
      %tr
        %td.center
          %span= day[0]
        %td.right
          %span= day[1][0]
        %td.right
          %span= day[1][1]

- content_for :body_scripts do
  :javascript
    var data_by_day = #{data_by_day.try(:to_json)};

    if (data_by_day.length > 0) {
      // Generate the signups and cumulative breakdowns from the data, if data exists.
      signups_by_day = [[data_by_day[0][0], data_by_day[0][1][0], data_by_day[0][1][1]]];
      cumulatives_by_day = [[data_by_day[0][0], data_by_day[0][1][0], data_by_day[0][1][1]]];
      for (var i = 1; i < data_by_day.length; i++) {
        signups_by_day.push([data_by_day[i][0], data_by_day[i][1][0], data_by_day[i][1][1]]);
        cumulatives_by_day.push([data_by_day[i][0], cumulatives_by_day[i-1][1] + data_by_day[i][1][0], cumulatives_by_day[i-1][2] + data_by_day[i][1][1]]);
      }

      // Load the Visualization API and the appropriate packages, setting a callback
      // to run to create the charts when the API is loaded.
      google.load('visualization', '1.0', {'packages':['corechart']});
      google.setOnLoadCallback(function() {
        drawChart('HOC Signups by Day', signups_by_day, 'signups_by_day');
        drawChart('HOC Cumulatives by Day', cumulatives_by_day, 'cumulatives_by_day');
      });
      // The callback that creates and populates the data table, instantiates the
      // chart, and draws it.
      function drawChart(chart_title, chart_data, chart_dom_element) {
        // Create the object holding the data.
        var data_table = new google.visualization.DataTable();
        data_table.addColumn('string', 'Date');
        data_table.addColumn('number', 'Count 2014');
        data_table.addColumn('number', 'Count 2015');
        data_table.addRows(chart_data);
        // Instantiate and draw our chart, passing in some options.
        var options = {'title': chart_title, 'width': 500, 'height': 300};
        var chart = new google.visualization.LineChart(document.getElementById(chart_dom_element));
        chart.draw(data_table, options);
      }
    }
