%h1 What's Next?

%h3 Code.org recommends these third party courses:  


%div{:style=>"background:#fff5e0; border-radius:10px; float:none; height:360px; padding:15px;"}
  %img{:src=>"https://images.code.org/1919365edf8613c88b27cbfbdff6d610-image-1433886037445.png", :style=>"float:left; width:300px; margin-right:20px; border-radius:10px;"}
  %div
    Tynker's creative computing platform helps children develop computational thinking and programming skills in a fun, intuitive and imaginative way. Our innovative visual programming language, interactive self-paced courses, and game-based programming activities provide an easy introduction to programming, and empower children to innovate and create.
    %p
    %br
    Tynker is available on the Web and on iPad and Android-based tablets.
    %p
    %a{:href=>"https://www.tynker.com/school/lesson-plan/show?id=36-programming-1a"}
      %button Try Tynker's Curriculum for Early Readers
    %p
    %a{:href=>"https://www.tynker.com/"}
      %button Visit Tynker
%br

%div{:style=>"background:#fff5e0; border-radius:10px; float:none; height:360px; padding:15px;"}
  %img{:src=>"https://images.code.org/9df60110a2abe207c581bd35ac2187e3-image-1433886030096.png", :style=>"float:left; width:300px; margin-right:20px; border-radius:10px;"}
  %div
    Scratch Jr. is an introductory programming language that enables young children (ages 5-7) to create their own interactive stories and games. Children snap together graphical programming blocks to make characters move, jump, dance, and sing. Children can modify characters in the paint editor, add their own voices and sounds, even insert photos of themselves - then use the programming blocks to make their characters come to life.
    %p
    %br
    Scratch Jr. is currently only available on the iPad and Android-based tablets.
    %p
      %a{:href=>"http://www.scratchjr.org/teach.html#curricula"}
        %button Download Scratch Jr. Curriculum
    %p
      %a{:href=>"http://www.scratchjr.org/"}
        %button Visit Scratch Jr.

%br

%h3 Other third party recommendations:

%table
  %thead
    %th Organization
    %th Curriculum
    %th Pricing
  %tr
    %td 
      %a{:href=>"http://www.thefoos.com/"} The Foos
    %td Approximately 10-12 lessons, geared toward grades K-3
    %td Free
  %tr
    %td 
      %a{:href=>"https://www.kodable.com/"} Kodable
    %td Approximately 11 lessons, geared toward grades K-5
    %td $5/month per class
  %tr
    %td 
      %a{:href=>"http://lightbot.com/"} Lightbot Jr.
    %td Approximately 10-12 lessons, geared toward grades K-5
    %td $2.99/download
