@import 'color';

.teacherHomepage {
  display: flex;
  justify-content: center;
  padding: 24px 40px;
}

.teacherHomepageBody {
  display: flex;
  flex-direction: column;
  max-width: 1160px;
  width: 100%;
}

.teacherHomepageContent {
  display: flex;
  flex-direction: row;
  width: fit-content;
  width: 100%;
}

.teacherHomepageLeftContent {
  width: 100%;
  max-width: 800px;
  min-width: 500px;
}

.headerButtonRow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.headerButtonRowRight {
  display: flex;
  gap: 6px;
}

.sectionList {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.sectionCardWrapper {
  border: 1px solid $neutral_dark20;
  border-radius: 4px;
  background-color: $neutral_light;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.sectionCardHeader {
  padding: 16px;
  border-bottom: 1px solid $neutral_dark20;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: stretch;
}

.sectionCardHeaderLeft {
  display: flex;
  flex-direction: column;
}

.sectionCardHeaderRight {
  display: flex;
}

.sectionCardHeaderText {
  height: 28px;
}

.sectionCardCode {
  height: 22px;

  a {
    color: $light_primary_500;
  }
}

.dropdownButton {
  width: 32px;
  height: 32px;
}

// Teacher promotions

.promotions {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-inline-start: 40px;
}

.promotion {
  width: 280px;
  max-width: 280px;
  min-height: 150px;
  max-height: 800px;
  padding: 12px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  
  background-color: $neutral_light;
}

.promotionImage {
  width: 280px;
  min-height: 160px;
  margin-bottom: 20px;
}

.promotionButton {
  width: fit-content;
}

.closeButton {
  width: 100%;
  display: flex;
  justify-content: flex-end;

  button {
    font-size: 14px;
    background-color: inherit;
    border: none;
    padding: 0;
    margin: 0;
    margin-bottom: 3px;

    i {
      height: 20px;
      width: 20px;
    }
  }
}
