---
layout: none
theme: none
---
- authentication_required!
- forbidden! unless have_permission?('facilitator') || dashboard_user[:admin]

= view :breadcrumbs, trail: [{url: '/teacher-dashboard', text: 'Dashboard'}, {url: '/ops-dashboard#/workshops', text: 'PD Workshops'}, {text: '{{workshop.name}} Info'}]

%h1
  Information for {{workshop.name}}

#learn-tabs{'ng-hide' => 'teachers.length <= 0', style: "padding-top:20px; padding-left:20px; padding-right:20px; background-color:white; background-color: rgb(219, 219, 219); overflow: hidden; margin-bottom: 10px;"}
  %ul.nav.nav-tabs{style: "float: left;"}
    %li
      %a{href:"#/workshops/{{workshop.id}}/attendance"} Attendance
    %li.active.tab
      %a{href:"#/workshops/{{workshop.id}}/attendance-info"} Teacher Information

%table{'ng-show' => 'workshop.teachers.length > 0'}
  %tr
    %th.manage-th
      Name
    %th.manage-th
      Email
    %th.manage-th
      School
    %th.manage-th
      District
    %th.manage-th
      Gender

  %tr{'ng-repeat' => 'teacher in workshop.teachers | orderBy:"ops_last_name"'}
    %td
      {{teacher.ops_last_name}}, {{teacher.ops_first_name}}
    %td
      {{teacher.email}}
    %td
      {{teacher.ops_school}}
    %td
      {{teacher.district.name}}
    %td
      {{teacher.ops_gender}}
  %tr
    %th{colspan:'5'}
      Unexpected Attendees

  %tr{'ng-repeat' => 'teacher in workshop.unexpected_teachers | orderBy:"ops_last_name"'}
    %td
      {{teacher.ops_last_name}}, {{teacher.ops_first_name}}
    %td
      {{teacher.email}}
    %td
      {{teacher.ops_school}}
    %td
      {{teacher.district.name}}
    %td
      {{teacher.ops_gender}}
