---
layout: none
theme: none
---
- authentication_required!
- forbidden! unless have_permission?('facilitator') || have_permission?('district_contact') || dashboard_user[:admin]

= view :breadcrumbs, trail: [{url: '/teacher-dashboard', text: 'Dashboard'}, {url: '/ops-dashboard#/workshops', text: 'PD Workshops'}, {text: '{{workshop.name}} Attendance'}]

%h1
  Attendance for {{workshop.name}}
#learn-tabs{'ng-hide' => 'workshop.teachers.length <= 0', style: "padding-top:20px; padding-left:20px; padding-right:20px; background-color:white; background-color: rgb(219, 219, 219); overflow: hidden; margin-bottom: 10px;"}
  %ul.nav.nav-tabs{style: "float: left;"}
    %li.active.tab
      %a{'ng-href' => "#/workshops/{{workshop.id}}/attendance"} Attendance
    %li
      %a{'ng-href' => "#/workshops/{{workshop.id}}/attendance-info"} Teacher Information

  -if dashboard_user[:admin] || have_permission?('facilitator')
    %button.btn.btn-white{'ng-click' => 'workshop.unexpected_teachers.unshift({editing: true})', style: "float:right"}
      Add a new teacher

  %a{"ng-href" => '/dashboardapi/attendance/download/{{workshop.id}}.csv', style: "float:right; margin-right: 5px"}
    %button.btn.btn-white
      %i.fa.fa-download
      Download attendance

%div.jumbotron{'ng-show' => 'workshop.teachers.length <= 0'}
  No teachers registered for this workshop.

%div.table-wrapper{style:"width:970px; overflow-x:scroll; margin-top:10px"}
  %table{'ng-show' => 'workshop.teachers.length > 0'}
    %tr
      %th
      %th.manage-th{'ng-repeat' => 'segment in workshop.segments'}
        {{segment.start | utc | date:'shortDate'}}
        %br
        {{segment.start | utc | date:'shortTime'}} - {{segment.end | utc | date:'shortTime'}}

    %tr{'ng-repeat' => 'teacher in workshop.teachers | orderBy:"ops_last_name"'}
      %td{'ng-model' => 'workshop_attendance.teacher_id'}
        {{teacher.ops_last_name}}, {{teacher.ops_first_name}}
      %td{'ng-repeat' => 'attendance in teacher.attendances'}
        -if have_permission?('district_contact') &&  !dashboard_user[:admin]
          %form
            %label
              %input{type:'radio', 'ng-model' => 'attendance.status', value:'present', disabled:'true'}
              Attended
            %br
            %label
              %input{type:'radio', 'ng-model' => 'attendance.status', value:'absent', disabled:'true'}
              Absent
            %br
            %label
              %input{type:'radio', 'ng-model' => 'attendance.status', value:'excused', disabled:'true'}
              Excused absence
            %br
            %textarea{placeholder:'Additional notes', 'ng-model' => 'attendance.notes', cols:'20', rows:'3', disabled:'true'}
        -if have_permission?('facilitator') || dashboard_user[:admin]
          %form
            %label
              %input{type:'radio', 'ng-model' => 'attendance.status', 'ng-change' => 'save(attendance)', value:'present'}
              Attended
            %br
            %label
              %input{type:'radio', 'ng-model' => 'attendance.status', 'ng-change' => 'save(attendance)', value:'absent'}
              Absent
            %br
            %label
              %input{type:'radio', 'ng-model' => 'attendance.status', 'ng-change' => 'save(attendance)', value:'excused'}
              Excused absence
            %input{style:'display:none', 'ng-model' => 'attendance.teacher_id', type:'text'}
            %br
            %textarea{placeholder:'Additional notes', 'ng-model' => 'attendance.notes', 'ng-change' => 'save(attendance)', cols:'20', rows:'3'}
            %br
            %a.btn.btn-white.btn-xs{'ng-click' => 'clearAttendance(attendance)'}
              Clear
            %span{'ng-show' => 'attendance.saved'}
              Saved!
            %span{'ng-show' => 'attendance.cleared'}
              Cleared!
            %span{'ng-show' => 'attendance.updated'}
              Updated!
    %tr{'ng-show' => 'workshop.unexpected_teachers.length > 0'}
      %th{colspan:'{{workshop.segments.length + 1}}'}
        Unexpected Attendees
    %tr{'ng-repeat' => 'unexpected_teacher in workshop.unexpected_teachers', 'ng-show' => 'workshop.unexpected_teachers.length > 0'}
      -if dashboard_user[:admin] || have_permission?('facilitator')
        %td{'ng-hide' => 'unexpected_teacher.editing == true'}
          {{unexpected_teacher.ops_last_name}}, {{unexpected_teacher.ops_first_name}}
          -if dashboard_user[:admin]
            %br
            %a.btn.btn-white.btn-xs{'ng-click' => 'workshop.unexpected_teachers.splice(workshop.unexpected_teachers.indexOf(unexpected_teacher), 1) && saveWorkshop(workshop)'}
              Delete
        %td{'ng-show' => 'unexpected_teacher.editing == true', colspan:'{{workshop.segments.length + 1}}'}
          %h3
            Enter unexpected attendee's information
          %form
            %input.form-control{type:'text', placeholder:'First Name', 'ng-model' => 'unexpected_teacher.ops_first_name'}
            %br
            %input.form-control{type:'text', placeholder:'Last Name', 'ng-model' => 'unexpected_teacher.ops_last_name'}
            %br
            %input.form-control{type:'text', placeholder:'Email', 'ng-model' => 'unexpected_teacher.email'}
            %br
            %select.form-control{"ng-model" => "unexpected_teacher.district"}
              %option{value:'', disabled:'true', selected:'true'}
                Select a district
              %option{value:'{{district.name}}', 'ng-repeat' => 'district in districts | orderBy:"name"'}
                {{district.name}}
            %br
            %select.form-control{'ng-model' => 'unexpected_teacher.ops_gender'}
              %option{value:'', disabled:'true', selected:'true'}
                Gender
              %option{value:'Male'}
                Male
              %option{value:'Female'}
                Female
            %br
            %input.form-control{type:'text', placeholder:'School', 'ng-model' => 'unexpected_teacher.ops_school'}
            %br
            %button{'ng-click' => 'saveWorkshop(workshop)'}
              Save
            %button{"ng-click" => "workshop.unexpected_teachers.splice(workshop.unexpected_teachers.indexOf(unexpected_teacher), 1)"}
              Cancel
      %td{'ng-repeat' => 'attendance in unexpected_teacher.attendances'}
        -if have_permission?('district_contact') &&  !dashboard_user[:admin]
          %form
            %label
              %input{type:'radio', 'ng-model' => 'attendance.status', value:'present', disabled:'true'}
              Attended
            %br
            %label
              %input{type:'radio', 'ng-model' => 'attendance.status', value:'absent', disabled:'true'}
              Absent
            %br
            %label
              %input{type:'radio', 'ng-model' => 'attendance.status', value:'excused', disabled:'true'}
              Excused absence
            %br
            %textarea{placeholder:'Additional notes', 'ng-model' => 'attendance.notes', cols:'20', rows:'3', disabled:'true'}
        -if have_permission?('facilitator') || dashboard_user[:admin]
          %form
            %label
              %input{type:'radio', 'ng-model' => 'attendance.status', 'ng-change' => 'save(attendance)', value:'present'}
              Attended
            %br
            %label
              %input{type:'radio', 'ng-model' => 'attendance.status', 'ng-change' => 'save(attendance)', value:'absent'}
              Absent
            %br
            %label
              %input{type:'radio', 'ng-model' => 'attendance.status', 'ng-change' => 'save(attendance)', value:'excused'}
              Excused absence
            %input{style:'display:none', 'ng-model' => 'attendance.teacher_id', type:'text'}
            %br
            %textarea{placeholder:'Additional notes', 'ng-model' => 'attendance.notes', 'ng-change' => 'save(attendance)', cols:'20', rows:'3'}
            %br
            %a.btn.btn-white.btn-xs{'ng-click' => 'clearAttendance(attendance)'}
              Clear
            %span{'ng-show' => 'attendance.saved'}
              Saved!
            %span{'ng-show' => 'attendance.cleared'}
              Cleared!
            %span{'ng-show' => 'attendance.updated'}
              Updated!
