---
layout: none
theme: none
---
- authentication_required!
- forbidden! unless have_permission?('district_contact') || dashboard_user[:admin]

= view :breadcrumbs, trail: [{url: '/teacher-dashboard', text: 'Dashboard'}, {text: 'Teacher cohorts'}]

%div{'ng-controller' => 'CohortsController'}
  %h1 Teacher cohorts
  .row
    .col-sm-5
      - if dashboard_user[:admin]
        %a.btn.btn-default{style: 'color: #333;', "ng-href" => "#/teacher-cohorts/new"} Add teacher cohort
        %br/
        %br/
  .row{'ng-show' => 'cohorts.length > 0', style: "margin-bottom: 20px;"}
    .col-sm-12
      %form.form-inline
        %input.form-control{'ng-model' => 'filterQuery', placeholder:'Filter by Name'}
        %select.form-control{'ng-model' => 'search.program_type'}
          %option{value:'', label:'--Filter by program type--'}
          %option{'ng-repeat' => 'program_type in program_types', 'value' => '{{program_type.id}}'}
            {{program_type.long_name}}
        %select#cohort-filter-district.form-control{"ng-model" => "search.district", "ng-options"=>"district.name for district in districts | orderBy:'name'"}
          %option{value:'', label:'--Filter by district--'}
  %div.jumbotron{'ng-show' => 'cohorts.length <= 0'}
    Cohorts are loading...

  %div{'ng-show' => 'cohorts.length > 0'}
    %table{style: "width:970px; table-layout:fixed;"}
      %colgroup
        %col{width: "135"}/
        %col{width: "60"}/
        %col{width: "140"}/
        %col{width: "100"}/
      %tr
        %th.manage-th
          %a{href: "", "ng-click" => "sortOrder = setSortOrder('name', sortOrder)"} Name
        %th
          %a{href: "", "ng-click" => "sortOrder = setSortOrder('program_type', sortOrder)"} Program Type
        %th
          Districts
        %th.manage-th
          Manage
      %tr{"ng-repeat" => "cohort in cohorts | specificDistrict:search.district | matchingProgramType:search.program_type | containsSubstring:filterQuery | orderBy:sortOrder", style: "vertical-align:top"}
        %td
          {{cohort.name}}
        %td
          {{program_types[cohort.program_type].short_name}}
        %td
          %ul
            %li{"ng-repeat" => "district in cohort.districts"}
              {{district.name}}
        %td{nowrap: true, style: 'white-space: nowrap;'}
          - if dashboard_user[:admin]
            %span{"ng-show" => "cohort.confirmDelete"}
              %span Delete?
              %a.btn.btn-danger.btn-xs{"ng-click"=>'del(cohort)'} Yes
              %a.btn.btn-success.btn-xs{"ng-click"=>'cohort.confirmDelete = false'} No
          %span{"ng-hide" => "cohort.confirmDelete"}
            %a.btn.btn-white.btn-xs{"ng-href" => "#/teacher-cohorts/{{cohort.id}}/teachers"} Teachers
            - if dashboard_user[:admin]
              %a.btn.btn-white.btn-xs{"ng-href" => "#/teacher-cohorts/{{cohort.id}}/edit"} Edit
              %a.btn.btn-white.btn-xs{"ng-click" => "confirm_delete(cohort)"} Delete

:css
  ul {
    margin: 0;
    padding: 0;
  }
