---
layout: none
template: none
---
%a{href:'/dashboard'}
  Dashboard
>
%span
  Cohorts

%div{'ng-controller' => 'CohortsController'}
  %h1 Cohorts

  %a.btn.btn-default{style: 'color: #333;', "ng-href" => "#/cohorts/new"} Add cohort
  %br/
  %br/

  %div.jumbotron{'ng-show' => 'hasCohorts && cohorts.length <= 0'}
    No cohorts are available.

  %div{'ng-show' => 'cohorts.length > 0'}
    %table{style: "width:950px; table-layout:fixed;"}
      %tr
        %th.manage-th
          Name
        %th.manage-th
      %tr{"ng-repeat" => "cohort in cohorts | orderBy:'cohort.name'", style: "vertical-align:top"}
        %td
          {{cohort.name}}
        %td{nowrap: true, style: 'white-space: nowrap;'}
          %span{"ng-show" => "cohort.confirmDelete"}
            %span Delete?
            %a.btn.btn-danger.btn-xs{"ng-click"=>'del(cohort)'} Yes
            %a.btn.btn-success.btn-xs{"ng-click"=>'cohort.confirmDelete = false'} No
          %span{"ng-hide" => "cohort.confirmDelete"}
            %a.btn.btn-white.btn-xs{"ng-href" => "#/cohorts/{{cohort.id}}/edit"} Edit
            %a.btn.btn-white.btn-xs{"ng-click" => "confirm_delete(cohort)"} Delete
