---
layout: none
theme: none
---
- authentication_required!
%a{href:'/ops-dashboard'}
  Dashboard
>
%a{href:'/ops-dashboard#/teacher-cohorts'}
  Teacher cohorts
>
%span
  Teacher cohort management

%h1{"ng-show" => "cohort.id"} Teachers in {{cohort.name}}

#learn-tabs{"ng-show"=>"cohort.id", style: "padding-top:20px; padding-left:20px; padding-right:20px; background-color:white; background-color: rgb(219, 219, 219); overflow: hidden; margin-bottom: 10px;"}
  %ul.nav.nav-tabs{style: "float: left;"}
    %li{'ng-show' => 'cohort && ! editingAll(cohort.teachers)',
        'ng-class' => 'tab == "manage" || 1 ? "active tab" : "tab"'}
      %a{'ng-href' => "#/teacher-cohorts/{{cohort.id}}/teachers"} Manage

  .managebuttons{"ng-show" => "tab == 'manage' || 1", style: "float:right"}
    %button.btn.btn-white{"ng-click" => "new_teacher()", "ng-disabled" => "teachers_bulk_import.uploading"} Add teacher
    %button.btn.btn-white{"ng-click" => "teachers_bulk_import.uploading = true", "ng-disabled" => "teachers_bulk_import.uploading"} Import teachers

.jumbotron{"ng-show" => "teachers_bulk_import.uploading"}
  %h3 Example format:
  %pre
    = preserve do
      ops_first_name,ops_last_name,email,district
      Bob,Smith,bob.smith@example.com,Los Angeles Unified School District
      Mary,Jones,mary.jones@example.com,Broward County Public Schools
  %input{type: 'file', id: 'csv_upload', onchange: "angular.element(this).scope().onFileSelect(this)"}
  %h3 Debug
  %pre
    {{cohort.teachers | json}}

%div{'ng-show' => 'cohort.teachers.length > 0'}
  %table{style: "width:950px; table-layout:fixed;"}
    %tr
      %th.manage-th
        First name
      %th.manage-th
        Last name
      %th.manage-th
        Email
      %th.manage-th
        District
      %th.manage-th
    %tr{"ng-repeat" => "teacher in cohort.teachers | orderBy:['teacher.ops_last_name', 'teacher.ops_first_name']", style: "vertical-align:top"}
      %td
        {{teacher.ops_first_name}}
      %td
        {{teacher.ops_last_name}}
      %td
        {{teacher.email}}
      %td
        {{teacher.district}}
      %td{nowrap: true, style: 'white-space: nowrap;'}
        %span{"ng-show" => "teacher.confirmDelete"}
          %span Delete?
          %a.btn.btn-danger.btn-xs{"ng-click"=>'del(teacher)'} Yes
          %a.btn.btn-success.btn-xs{"ng-click"=>'teacher.confirmDelete = false'} No
        %span{"ng-hide" => "teacher.confirmDelete"}
          %a.btn.btn-white.btn-xs{"ng-click" => "teacher.editing = true"} Edit
          %a.btn.btn-white.btn-xs{"ng-click" => "confirm_delete(teacher)"} Delete
