---
layout: none
theme: none
---
%h1{"ng-show" => "action == 'edit'"} Edit {{cohort.name()}}
%h1{"ng-show" => "action != 'edit'"} Add cohort

%form#cohort-edit-form{role: "form"}
  .row
    .form-group.col-sm-6
      %label.control-label{for: "cohort-name"} Name
      %div
        %input#cohort-name.form-control{name: "name", type: "text", "ng-model" => "cohort.name"}/
  .form-group.action-buttons
    %button#btn-save.btn.btn-default{type: "submit", "ng-click" => "save()"} Save
    %button#btn-cancel.btn.btn-link{"ng-click" => "cancel_edit()"} Cancel
