---
layout: none
theme: none
---
- authentication_required!
%a{href:'/ops-dashboard'}
  Dashboard
>
%a{href:'/ops-dashboard#/teacher-cohorts'}
  Teacher cohorts
>
%span
  Teacher cohort management

%h1{"ng-show" => "cohort.id"} Teachers in {{cohort.name}}

#learn-tabs{"ng-show"=>"cohort.id", style: "padding-top:20px; padding-left:20px; padding-right:20px; background-color:white; background-color: rgb(219, 219, 219); overflow: hidden; margin-bottom: 10px;"}
  %ul.nav.nav-tabs{style: "float: left;"}
    %li{'ng-show' => 'cohort && ! editingAll(cohort.teachers)',
        'ng-class' => 'tab == "manage" || 1 ? "active tab" : "tab"'}
      %a{'ng-href' => "#/teacher-cohorts/{{cohort.id}}/teachers"} Manage

  .managebuttons{"ng-if" => "tab == 'manage' || 1", style: "float:right"}
    %button.btn.btn-white{"ng-click" => "teachers_bulk_import.uploading = false; new_teacher()"} Add teacher
    - if dashboard_user[:admin]
      %button.btn.btn-white{"ng-click" => "teachers_bulk_import.uploading = !teachers_bulk_import.uploading"} Import teachers

.jumbotron{"ng-show" => "teachers_bulk_import.uploading"}
  %h3 Example format (please include the heading line in your uploaded file):
  %pre
    = preserve do
      ops_first_name,ops_last_name,email,district,ops_school,ops_gender
      Bob,Smith,bob.smith@example.com,Los Angeles Unified School District,Pine Tree Elementary,Female
      Mary,Jones,mary.jones@example.com,Broward County Public Schools,Washington Middle School,Male
  %input{type: 'file', id: 'csv_upload', onchange: "angular.element(this).scope().onFileSelect(this)"}

%div{'ng-show' => 'cohort.districts.length > 0'}
  %h3 Cohort capacity
  %table.cohort-capacity{style: "width:950px; table-layout:fixed;"}
    %tr
      %th.manage-th
        District
      %th.manage-th
        Teachers Assigned / Max Teachers
    %tr{'ng-repeat' => 'district in cohort.districts'}
      %td
        {{ district.name }}
      %td
        {{ countTeachersFromDistrict(district) }} / {{ district.max_teachers }}

%br/
%br/

%h3 Teachers

%div{'ng-show' => 'cohort.teachers.length > 0'}
  %table{style: "width:950px; table-layout:fixed;", 'ng-form' => 'allForm', class: 'cohort-teachers'}
    %colgroup
      %col{width: "130"}/
      %col{width: "130"}/
      %col{width: "155"}/
      %col{width: "150"}/
      %col{width: "150"}/
      %col{width: "115"}/
      %col{width: "120"}/
    %tr
      %th.manage-th
        First name
      %th.manage-th
        Last name
      %th.manage-th
        Email
      %th.manage-th
        District
      %th.manage-th
        School
      %th.manage-th
        Gender
      %th.manage-th
        %div
          %a.btn.btn-primary{"ng-click" => "saveAll(cohort)", "ng-show" => "editingAny(cohort.teachers) || editingAny(newTeachers)", "ng-disabled" => "allForm.$invalid || isTooManyTeachers()"} Save All
          %span.error{"ng-show" => "isTooManyTeachers()"} Too many teachers!


    %tr{"ng-repeat" => "teacher in newTeachers", style: "vertical-align:top", 'ng-form' => 'form'}
      %td
        %div{"ng-show" => "teacher.editing"}
          %input.form-control{"ng-model" => "teacher.ops_first_name", placeholder: "First name", style: "width: 100%", type: "text", required: "true", name: 'ops_first_name'}/
          %span.error{'ng-show' => 'form.ops_first_name.$error.required'} required
      %td
        %div{"ng-show" => "teacher.editing"}
          %input.form-control{"ng-model" => "teacher.ops_last_name", placeholder: "Last name", style: "width: 100%", type: "text", required: "true", name: 'ops_last_name'}/
          %span.error{'ng-show' => 'form.ops_last_name.$error.required'} required
      %td
        %div{"ng-show" => "teacher.editing"}
          %input.form-control{"ng-model" => "teacher.email", placeholder: "Email address", style: "width: 100%", type: 'email', required: "true", name: 'email'}/
          %span.error{'ng-show' => 'form.email.$error.required'} required
          %span.error{'ng-show' => 'form.email.$error.email'} Invalid email address
      %td
        %div{"ng-show" => "teacher.editing"}
          %select.district-name.form-control{"ng-model" => "teacher.district.id", "ng-options"=>"district.id as district.name for district in cohort.districts | orderBy:'name'", selectize: true, required: true, name: 'district'}
          %span.error{'ng-show' => 'form.district.$error.required'} required
      %td
        %div{"ng-show" => "teacher.editing"}
          %input.form-control{"ng-model" => "teacher.ops_school", placeholder: "School", style: "width: 100%", type: "text", name: 'school', required: true}/
          %span.error{'ng-show' => 'form.school.$error.required'} required
      %td
        %div{"ng-show" => "teacher.editing"}
          %select.teacher-gender.form-control{"ng-model" => "teacher.ops_gender", "ng-options"=>"value for value in ['Female', 'Male']", name: 'gender', required: true}
          %span.error{'ng-show' => 'form.gender.$error.required'} required
      %td{nowrap: true, style: 'white-space: nowrap;'}
        %span{"ng-show" => "teacher.confirmDelete"}
          %span Delete?
          %br
          %a.btn.btn-danger.btn-xs{"ng-click"=>'del(teacher)'} Yes
          %a.btn.btn-success.btn-xs{"ng-click"=>'teacher.confirmDelete = false'} No
        %span{"ng-hide" => "teacher.confirmDelete"}
          %a.btn.btn-white.btn-xs{"ng-click" => "edit(teacher)", "ng-hide" => "teacher.editing"} Edit
          %a.btn.btn-white.btn-xs{"ng-click" => "cancel(teacher);", "ng-show" => "teacher.editing"} Cancel
          %a.btn.btn-white.btn-xs{"ng-click" => "confirm_delete(teacher)", "ng-show" => "!teacher.editing && teacher.id"} Delete


    %tr{"ng-repeat" => "teacher in cohort.teachers | orderBy:['ops_last_name', 'ops_first_name']", style: "vertical-align:top", 'ng-form' => 'form'}
      %td
        %div{"ng-hide" => "teacher.editing"}
          {{teacher.ops_first_name}}
        %div{"ng-show" => "teacher.editing"}
          %input.form-control{"ng-model" => "teacher.ops_first_name", placeholder: "First name", style: "width: 100%", type: "text", required: "true", name: 'ops_first_name'}/
          %span.error{'ng-show' => 'form.ops_first_name.$error.required'} required
      %td
        %div{"ng-hide" => "teacher.editing"}
          {{teacher.ops_last_name}}
        %div{"ng-show" => "teacher.editing"}
          %input.form-control{"ng-model" => "teacher.ops_last_name", placeholder: "Last name", style: "width: 100%", type: "text", required: "true", name: 'ops_last_name'}/
          %span.error{'ng-show' => 'form.ops_last_name.$error.required'} required
      %td
        %div{"ng-hide" => "teacher.editing"}
          {{teacher.email}}
        %div{"ng-show" => "teacher.editing"}
          %input.form-control{"ng-model" => "teacher.email", placeholder: "Email address", style: "width: 100%", type: 'email', required: "true", name: 'email'}/
          %span.error{'ng-show' => 'form.email.$error.required'} required
          %span.error{'ng-show' => 'form.email.$error.email'} Invalid email address
      %td
        %div{"ng-hide" => "teacher.editing"}
          {{teacher.district.name}}
        %div{"ng-show" => "teacher.editing"}
          %select.district-name.form-control{"ng-model" => "teacher.district.id", "ng-options"=>"district.id as district.name for district in cohort.districts | orderBy:'name'", selectize: true, required: true, name: 'district'}
          %span.error{'ng-show' => 'form.district.$error.required'} required
      %td
        %div{"ng-hide" => "teacher.editing"}
          {{teacher.ops_school}}
        %div{"ng-show" => "teacher.editing"}
          %input.form-control{"ng-model" => "teacher.ops_school", placeholder: "School", style: "width: 100%", type: "text", name: 'school', required: true}/
          %span.error{'ng-show' => 'form.school.$error.required'} required
      %td
        %div{"ng-hide" => "teacher.editing"}
          {{teacher.ops_gender}}
        %div{"ng-show" => "teacher.editing"}
          %select.teacher-gender.form-control{"ng-model" => "teacher.ops_gender", "ng-options"=>"value for value in ['Female', 'Male']", name: 'gender', required: true}
          %span.error{'ng-show' => 'form.gender.$error.required'} required
      %td{nowrap: true, style: 'white-space: nowrap;'}
        %span{"ng-show" => "teacher.confirmDelete"}
          %span Delete?
          %br
          %a.btn.btn-danger.btn-xs{"ng-click"=>'del(teacher)'} Yes
          %a.btn.btn-success.btn-xs{"ng-click"=>'teacher.confirmDelete = false'} No
        %span{"ng-hide" => "teacher.confirmDelete"}
          %a.btn.btn-white.btn-xs{"ng-click" => "edit(teacher)", "ng-hide" => "teacher.editing"} Edit
          %a.btn.btn-white.btn-xs{"ng-click" => "cancel(teacher)", "ng-show" => "teacher.editing"} Cancel
          %a.btn.btn-white.btn-xs{"ng-click" => "confirm_delete(teacher)", "ng-show" => "!teacher.editing && teacher.id"} Delete

%h3 Deleted Teachers

%div{'ng-show' => 'cohort.deleted_teachers.length > 0'}
  %table{style: "width:950px; table-layout:fixed;", 'ng-form' => 'allForm', class: 'cohort-teachers'}
    %colgroup
      %col{width: "130"}/
      %col{width: "130"}/
      %col{width: "155"}/
      %col{width: "150"}/
      %col{width: "150"}/
      %col{width: "115"}/
      %col{width: "120"}/
    %tr
      %th.manage-th
        First name
      %th.manage-th
        Last name
      %th.manage-th
        Email
      %th.manage-th
        District
      %th.manage-th
        School
      %th.manage-th
        Gender
      %th.manage-th
        %div
    %tr{"ng-repeat" => "teacher in cohort.deleted_teachers | orderBy:['teacher.ops_last_name', 'teacher.ops_first_name']", style: "vertical-align:top", 'ng-form' => 'form'}
      %td
        {{teacher.ops_first_name}}
      %td
        {{teacher.ops_last_name}}
      %td
        {{teacher.email}}
      %td
        {{teacher.district.name}}
      %td
        {{teacher.ops_school}}
      %td
        {{teacher.ops_gender}}
      %td{nowrap: true, style: 'white-space: nowrap;'}
        %a.btn.btn-white.btn-xs{"ng-click" => "undelete(teacher)"} Restore

:scss
  .cohort-teachers input.ng-invalid.ng-dirty {
    background-color: #EDD;
  }

  .cohort-teachers th > div,
  .cohort-teachers td > div {
    position: relative;
  }

  span.error {
    display: inline;
    position: absolute;
    top: 30px;
    left: 0px;
    font-size: 0.6em;
    font-family: 'Gotham 7r', sans-serif;
    color: #900;
  }
  td {
    word-wrap: break-word;
  }
