---
layout: none
template: none
---

%h1 Districts

-#%button.btn.btn-white
-#  New District

%table{"ng-controller" => "DistrictsController", style:'width: 100%; margin-top: 20px;'}
  %tr
    %th.manage-th
      District Name
    %th.manage-th
      Location
    %th.manage-th
      District Contact
    %th.manage-th
      Manage
  %tr{"ng-repeat" => "district in districts"}
    %td
      {{district.name}}
    %td
      {{district.location}}
    %td
      {{district.contact_id}}
    %td
      %button.btn.btn-danger{'ng-click' => 'district.$remove({id: district.id}) && districts.splice($index, 1);'} Delete
  %tr
    %td
      %input{"ng-model" => "district.name", type:"text"}
    %td
      %input{"ng-model" => "district.location", type:"text"}
    %td
      %input{"ng-model" => "district.contact_id", type:"select"}
    %td
      %button{"ng-click" => "save()"}
        Create New District