---
layout: none
template: none
---

%h1 Districts

%ul{"ng-repeat" => "district in districts"}
  %p{style:"display: inline-block"}
    {{district.name}}
  %button.btn.btn-danger{'ng-click' => 'district.$remove({id: district.id})'} Delete
%h1 New District

%form{"ng-submit" => "save()", "ng-controller" => "DistrictsController"}
  %label
    ID
    %input{"ng-model" => "district.id", type:"text"}
  %label
    Name
    %input{"ng-model" => "district.name", type:"text"}
  %label
    Location
    %input{"ng-model" => "district.location", type:"text"}
  %label
    Contact ID
    %input{"ng-model" => "district.contact_id", type:"text"}
  %input{type: "submit"}
    Save