---
layout: none
theme: none
---
- authentication_required!
- forbidden! unless have_permission?('district_contact') || dashboard_user[:admin]

= view :breadcrumbs, trail: [{url: '/teacher-dashboard', text: 'Dashboard'}, {text: 'Districts'}]

%h1 Districts
%a.btn.btn-white{'ng-click' => 'district.creation = true', 'ng-hide' => 'district.creation'}
  Create New District
%a.btn.btn-white{'ng-click' => 'district.creation = false', 'ng-show' => 'district.creation'}
  Cancel
%table.districts{style:'width:970px; table-layout:fixed; margin-top: 25px'}
  %colgroup
    %col
    %col
    %col{style:'width:200px;'}
    %col{style:'width:250px;'}
    %col{style:'width:175px;'}
  %tr
    %th.manage-th
      %a{'ng-click' => 'order = "name"'}
        District Name
    %th.manage-th
      %a{'ng-click' => 'order = "location"'}
        Location
    %th.manage-th
      %a{'ng-click' => 'order = "contact.ops_last_name"'}
        District Contact Name
    %th.manage-th
      %a{'ng-click' => 'order = "contact.email"'}
        District Contact Email
    %th.manage-th
      Manage
  %tr{'ng-form' => 'form', 'ng-show' => 'district.creation'}
    %td
      %span
        %input{'ng-model' => 'district.name', type:'text', name: 'name', 'ng-required' => 'true'}
        %span.error{'ng-show' => 'form.name.$error.required'} Name is required
    %td
      %input{'ng-model' => 'district.location', type:'text'}
    %td
      %input{'ng-model' => 'district.contact.ops_first_name', type:'text', placeholder: 'First Name'}
      %input{'ng-model' => 'district.contact.ops_last_name', type:'text', placeholder: 'Last Name'}
    %td
      %span
        %input{'ng-model' => 'district.contact.email', type: 'email', placeholder: 'Email', name: 'email'}
        %span.error{'ng-show' => 'form.email.$error.email'} Invalid email address
    %td
      %button.btn.btn-primary{'ng-click' => 'save(district)', style:'width:100%', 'ng-disabled' => 'form.$invalid'}
        Save
  %tr{'ng-repeat' => 'district in districts | orderBy:order', 'ng-form' => 'form'}
    %td
      %span{'ng-hide' => 'district.editing'}
        {{district.name}}
      %span{'ng-show' => 'district.editing'}
        %input{'ng-model' => 'district.name', type: 'text', name: 'name', 'ng-required' => 'true'}
        %span.error{'ng-show' => 'form.name.$error.required'} Name is required
    %td
      %span{'ng-hide' => 'district.editing'}
        {{district.location}}
      %input{'ng-show' => 'district.editing', 'ng-model' => 'district.location', type: 'text'}
    %td
      %span{'ng-hide' => 'district.editing'} {{district.contact.ops_first_name}}
      %input{'ng-show' => 'district.editing', 'ng-model' => 'district.contact.ops_first_name', type: 'text', placeholder: 'First Name'}
      %span{'ng-hide' => 'district.editing'} {{district.contact.ops_last_name}}
      %input{'ng-show' => 'district.editing', 'ng-model' => 'district.contact.ops_last_name', type: 'text', placeholder: 'Last Name'}
    %td
      %span{'ng-hide' => 'district.editing'} {{district.contact.email}}
      %span{'ng-show' => 'district.editing'}
        %input{'ng-model' => 'district.contact.email', type: 'email', placeholder: 'Email', name: 'email'}
        %span.error{'ng-show' => 'form.email.$error.email'} Invalid email address

    %td
      %button.btn.btn-white{'ng-click' => 'district.editing = true', 'ng-hide' => 'district.editing || district.confirmDelete'} Edit
      %button.btn.btn-danger{'ng-click' => 'district.confirmDelete = true', 'ng-hide' => 'district.editing || district.confirmDelete'} Delete
      %p{'ng-show' => 'district.confirmDelete'}
        Are you sure?
      %button.btn.btn-danger{'ng-click' => 'del(district)', 'ng-show' => 'district.confirmDelete'} Yes
      %button.btn.btn-white{'ng-click' => 'district.confirmDelete = false', 'ng-show' => 'district.confirmDelete'} No
      %button.btn.btn-white{'ng-click' => 'district.editing = false', 'ng-show' => 'district.editing'} Cancel
      %button.btn.btn-primary{'ng-click' => 'save(district)', 'ng-show' => 'district.editing', 'ng-disabled' => 'form.$invalid'} Save

:css
  td .btn {
    width: 48%;
  }
  td {
    word-wrap: break-word;
  }
  a {
    color: white;
  }
  a:hover {
    cursor: pointer;
    text-decoration: none;
  }
  input {
    width: 100%;
  }

:scss
  .districts input.ng-invalid.ng-dirty {
    background-color: #EDD;
  }

  .districts td > span {
    position: relative;
  }

  input.ng-invalid + span.error,
  select.ng-invalid + span.error {
    display: inline;
    position: absolute;
    top: 20px;
    left: 0px;
    font-size: 0.6em;
    font-family: 'Gotham 7r', sans-serif;
    color: #900;
  }
