---
layout: none
theme: none
---

%a{href:'http://localhost.code.org:3000/ops-dashboard#/districts'}
  %h1
    Manage Districts
%a{href:'http://localhost.code.org:3000/ops-dashboard#/workshops'}
  %h1
    Manage Workshops
%a{href:'http://localhost.code.org:3000/ops-dashboard#/cohorts'}
  %h1
    Manage Cohorts