---
layout: none
theme: none
---

%ul
  %li
    %a{href:'http://localhost.code.org:3000/ops-dashboard#/districts'}
      Manage Districts
  %li
    %a{href:'http://localhost.code.org:3000/ops-dashboard#/workshops'}
      Manage Workshops
  %li
    %a{href:'http://localhost.code.org:3000/ops-dashboard#/cohorts'}
      Manage Cohorts