---
layout: none
theme: none
---
%a{href:'/ops-dashboard'}
  Ops Dashboard

%h1
  Ops Dashboard

%a{href:'http://localhost.code.org:3000/ops-dashboard#/districts'}
  %h2
    Manage Districts
%a{href:'http://localhost.code.org:3000/ops-dashboard#/workshops'}
  %h2
    Manage Workshops
%a{href:'http://localhost.code.org:3000/ops-dashboard#/cohorts'}
  %h2
    Manage Cohorts