---
layout: none
theme: none
---
%a{href:'/dashboard'}
  Dashboard

%h1
  Dashboard

%a{href:'/dashboard#/districts'}
  %h2
    Manage Districts
%a{href:'/dashboard#/workshops'}
  %h2
    Manage Workshops
%a{href:'/dashboard#/cohorts'}
  %h2
    Manage Cohorts