---
layout: none
theme: none
---
- authentication_required!

%a{href:'/teacher-dashboard'}
  Dashboard

%h1
  Dashboard

-if dashboard_user[:admin]
  %a{href:'/ops-dashboard#/districts'}
    %h2
      Manage Districts
-if dashboard_user[:admin] || have_permission?('facilitator')
  %a{href:'/ops-dashboard#/workshops'}
    %h2
      Manage PD Workshops
-elsif have_permission?('district_contact')
  %a{href:'/ops-dashboard#/workshops'}
    %h2
      View PD Workshops
-if dashboard_user[:admin] || have_permission?('district_contact')
  %a{href:'/ops-dashboard#/teacher-cohorts'}
    %h2
      Manage Teacher Cohorts
