---
layout: none
template: none
---

%h1 Workshops

%table{'ng-controller' => 'WorkshopsController', style:'width:100%; margin-top:20px;'}
  %tr
    %th.manage-th
      Workshops Name
    %th.manage-th
      Program Type
    %th.manage-th
      Cohort
    %th.manage-th
      Segments
    %th.manage-th
      Manage
  %tr{"ng-repeat" => "workshop in workshops", 'ng-controller' => 'WorkshopController'}
    %td
      %span{'ng-hide' => 'workshop.editing', }
        {{workshop.name}}
      %input{'ng-show' => 'workshop.editing', 'ng-model' => 'workshop.name', type:'text', value:'{{workshop.name}}'}
    %td
      %span{'ng-hide' => 'workshop.editing', }
        {{workshop.program_type}}
      %select{'ng-show' => 'workshop.editing', 'ng-model' => 'workshop.program_type'}
        %option{'ng-repeat' => 'program in programs', 'value' => '{{program.name}}'}{{program.name}}
    %td
      %span{'ng-hide' => 'workshop.editing'}
        {{cohortName(workshop.cohort_id)}}
      %input{'ng-show' => 'workshop.editing', 'ng-model' => 'workshop.cohort_id', type:'text', value:'{{workshop.cohort_id}}'}
    %td
      %div{'ng-repeat' => 'segment in workshopSegments'}
        %p
          Start: {{segment.start}}
        %p
          End: {{segment.end}}
    %td
      %button.btn.btn-white{'ng-click' => 'workshop.editing = true', 'ng-hide' => 'workshop.editing'} Edit
      %button.btn.btn-danger{'ng-click' => 'workshop.$remove({id: workshop.id}) && workshops.splice($index, 1);', 'ng-hide' => 'workshop.editing'} Delete
      %button.btn.btn-primary{'ng-click' => 'save(workshop)', 'ng-show' => 'workshop.editing'} Save
      %button.btn.btn-white{'ng-click' => 'workshop.editing = false', 'ng-show' => 'workshop.editing'} Cancel
    %tr
    %td
      %input{'ng-model' => 'workshop.name', type:'text'}
    %td
      %select{'ng-model' => 'workshop.program_type'}
        %option{'ng-repeat' => 'program in programs', 'value' => '{{program.name}}'}
          {{program.name}}
    %td
      %select{'ng-model' => 'workshop.cohort_id'}
        %option{'ng-repeat' => 'cohort in cohorts', 'value' => '{{cohort.id}}'}
          {{cohort.name}}
    %td
      %p
        Hello!
    %td
      %button.btn.btn-primary{'ng-click' => 'save(workshop)', style:'width:100%'}
        Create new workshop

:css
  .btn {
    width:48%
  }