---
layout: none
theme: none
---
- authentication_required!
- forbidden! unless have_permission?('district_contact') || have_permission?('facilitator') || dashboard_user[:admin]

= view :breadcrumbs, trail: [{url: '/teacher-dashboard', text: 'Dashboard'}, {url: '/ops-dashboard#/workshops', text: 'PD Workshops'}]

%h1
  PD Workshops
- if dashboard_user[:admin]
  %a.btn.btn-white{'ng-href' => '#/workshops/new'}
    Create New PD Workshop

%div.jumbotron{'ng-show' => 'workshops.length <= 0'}
  Workshops are loading...

%form.form-inline{style:'float:right', 'ng-hide' => 'workshops.length <= 0'}
  From:
  %input.form-control.date{"data-provide" => "datepicker", type:'text', 'ng-model' => 'dateRangeStart', "data-date-format" => "yyyy-mm-dd", placeholder:'yyyy-mm-dd'}
  To:
  %input.form-control.date{"data-provide" => "datepicker", type:'text', 'ng-model' => 'dateRangeEnd', "data-date-format" => "yyyy-mm-dd", placeholder:'yyyy-mm-dd'}

%table{style:'width:970px; layout:fixed; margin-top:20px;', 'ng-hide' => 'workshops.length <= 0'}
  %colgroup
    %col{width: "50"}/
    %col{width: "40"}/
    %col{width: "140"}/
    %col{width: "80"}/
    %col{width: "150"}/
    %col{width: "90"}/
    %col{width: "110"}/
  %tr
    %th.manage-th
      %a{'ng-click' => 'order = "name"'}
        Name
    %th.manage-th
      %span
        Program
    %th.manage-th
      %span
        Cohorts
    %th.manage-th
      %span
        Facilitators
    %th.manage-th
      Dates
    %th.manage-th
      %a{'ng-click' => 'order = "location"'}
        Address
    - if dashboard_user[:admin]
      %th.manage-th
        Manage
  %tr{'ng-repeat' => 'workshop in workshops | withinDateRange:dateRangeStart:dateRangeEnd | orderBy:order'}
    %td
      %p
        {{workshop.name}}
      %a{'ng-href' => '#/workshops/{{workshop.id}}/attendance'}
        Attendance
    %td
      %span
        {{program_types[workshop.program_type].short_name}}
    -#
      %td
        %span
          {{cohortNamecohort.id)}}
    %td
      %ul{style:'margin:0'}
        %li{'ng-repeat' => 'cohort in workshop.cohorts | orderBy:"start"'}
          {{cohortName(cohort.id)}}
    %td
      %ul{style:'margin:0'}
        %li{'ng-repeat' => 'facilitator in workshop.facilitators'}
          {{facilitator.ops_first_name}}
          {{facilitator.ops_last_name}}
          %br
          %a{'ng-href' => "mailto:{{facilitator.email}}"}
            {{facilitator.email}}
    %td
      %div{'ng-repeat' => 'segment in workshop.segments | orderBy:"start"'}
        %p
          {{segment.start | utc | date:'longDate'}}
          %br
          {{segment.start | utc | date:'shortTime'}} - {{segment.end | utc | date:'shortTime'}}
    %td
      %span
        {{workshop.location}}
    - if dashboard_user[:admin]
      %td
        %a.btn.btn-white.btn-xs{'ng-href' => '#/workshops/{{workshop.id}}/edit', 'ng-hide' => 'workshop.deletion == true'}
          Edit
        %a.btn.btn-white.btn-xs{'ng-click' => 'workshop.deletion = true', 'ng-hide' => 'workshop.deletion == true'}
          Delete
        %div{'ng-show' => 'workshop.deletion'}
          Really?
        %a.btn.btn-white.btn-xs{'ng-click' => 'workshop.$remove({id: workshop.id}) && workshops.splice($index, 1)', 'ng-show' => 'workshop.deletion == true'}
          Yes
        %a.btn.btn-white.btn-xs{'ng-click' => 'workshop.deletion = false', 'ng-show' => 'workshop.deletion == true'}
          No

:css
  a {
    color: white;
  }
  a:hover {
    cursor: pointer;
    text-decoration: none;
  }
  td {
    padding: 10px;
  }
