---
layout: none
theme: none
---
- authentication_required!
- forbidden! unless dashboard_user[:admin]

= view :breadcrumbs, trail: [{url: '/teacher-dashboard', text: 'Dashboard'}, {url: '/ops-dashboard#/workshops', text: 'PD Workshops'}, {text: 'PD Workshop Management'}]

%h1{'ng-show' => 'workshop.id'}
  Edit {{workshop.name}}
%h1{'ng-show' => '!workshop.id'}
  Add a workshop

%h3
  Workshop Name
%input.form-control{type: 'text', 'ng-model' => 'workshop.name'}
%h3
  Workshop Address
%input.form-control{type:'text', 'ng-model' => 'workshop.location', maxlength: 750}
%h3
  Notes
%textarea.form-control{'ng-model' => 'workshop.instructions', rows: 3, type:'text', maxlength: 750}
%h3
  Program Type
%select.form-control{'ng-model' => 'workshop.program_type'}
  %option{'ng-repeat' => 'program_type in program_types', 'value' => '{{program_type.id}}'}
    {{program_type.long_name}}
%h3
  Phase
%select.form-control{'ng-model' => 'workshop.phase'}
  %option{'ng-repeat' => 'phase in phases', 'value' => '{{phase.id}}'}
    {{phase.long_name}}

%br
%button#btn-save.btn.btn-default{type: 'submit', 'ng-click' => 'save(workshop)'} Save
%p#save-confirmation{style:'display:none'}
  Saved!
%hr

%h2
  Cohorts
%button.btn.btn-white{"ng-click" => "workshop.cohorts.unshift({editing: true})", 'ng-show' => 'workshop.id', style:'margin-bottom:10px'}
  Add Cohort
%div.jumbotron{'ng-show' => 'workshop.cohorts <= 0 && !segment.addition'}
  There are currently no cohorts associated with this workshop.
%table{'ng-hide' => 'workshop.cohorts <= 0 && !segment.addition'}
  %tr
    %th
      Name
    %th
      %a.btn.btn-primary{"ng-click" => "save(workshop)"}
        Save All
  %tr{"ng-repeat" => "workshop_cohort in workshop.cohorts", "ng-hide" => "workshop_cohort._destroy == 1"}
    %td
      %div{"ng-hide" => "workshop_cohort.editing == true", "ng-model" => "workshop_cohort.id"}
        {{workshop_cohort.name}}
      %div{"ng-show" => "workshop_cohort.editing == true", "ng-model" => "workshop_cohort.id"}
        %select{"ng-options"=>"cohort.id as cohort.name for cohort in cohorts | matchingProgramType:workshop.program_type | orderBy:'name'", 'ng-model' => 'workshop_cohort.id'}
    %td
      %a.btn.btn-white.btn-xs{"ng-click" => "workshop_cohort.deletion = true", "ng-hide" => "workshop_cohort.deletion == true || workshop_cohort.editing == true"}
        Delete
      %a.btn.btn-white.btn-xs{"ng-click" => "workshop_cohort._destroy = 1; save(workshop)", "ng-show" => "workshop_cohort.deletion == true"}
        Yes
      %a.btn.btn-white.btn-xs{"ng-click" => "workshop_cohort.deletion = false", "ng-show" => "workshop_cohort.deletion == true"}
        No
      %a.btn.btn-white.btn-xs{"ng-click" => "workshop.cohorts.splice(workshop.cohorts.indexOf(workshop_cohort), 1)", "ng-show" => "workshop_cohort.editing == true"}
        Cancel

%h2{'ng-show' => 'workshop.id'}
  Workshop segments
%button.btn.btn-white{'ng-click' => 'segment.addition = true', 'ng-show' => 'workshop.id', style:'margin-bottom:10px;'}
  Add Segment
%div.jumbotron{'ng-show' => 'workshopSegments <= 0 && !segment.addition'}
  There are currently no facilitators assigned to this workshop.
%table{'ng-hide' => 'workshopSegments <= 0 && !segment.addition', style:'width:100%;'}
  %tr
    %th
      Date
    %th
      Start
    %th
      End
    %th
      Manage
  %tr{'ng-show' => 'segment.addition', 'ng-form' => 'form'}
    %td
      %input{type:'date', 'ng-model' => 'segment.date', 'ng-required' => 'true', name:'date'}
      %div.error{'ng-show' => 'form.date.$error.required'}
        Required
    %td
      Start Time
      %input{type:'time', 'ng-model' => 'segment.startTime', 'ng-required' => 'true', name:'start'}
      %div.error{'ng-show' => 'form.start.$error.required'}
        Required
    %td
      End Time
      %input{type:'time', 'ng-model' => 'segment.endTime', 'ng-required' => 'true', name:'end'}
      %div.error{'ng-show' => 'segment.startTime >= segment.endTime'}
        End time cannot be before start time
      %div.error{'ng-show' => 'form.end.$error.required'}
        Required
    %td
      %a.btn.btn-white.btn-xs{'ng-click' => 'saveSegment(segment)', 'ng-disabled' => 'form.$invalid || segment.startTime >= segment.endTime'}
        Save
      %a.btn.btn-white.btn-xs{'ng-click' => 'segment.addition = false'}
        Cancel
  %tr{'ng-repeat' => 'segment in workshopSegments | orderBy:"start"'}
    %td{'ng-hide' => 'segment.editing'}
      {{segment.start | utc | date:'EEEE, MMMM d, y'}}
    %td{'ng-hide' => 'segment.editing'}
      {{segment.start | utc | date:'shortTime'}}
    %td
      {{segment.end | utc | date:'shortTime'}}
    %td{'ng-hide' => 'segment.editing'}
      %a.btn.btn-white.btn-xs{'ng-click' => 'segment.deletion = true', 'ng-hide' => 'segment.deletion == true'}
        Delete
      %span{'ng-show' => 'segment.deletion == true'}
        Are you sure?
      %br
      %a.btn.btn-white.btn-xs{'ng-click' => 'segment.$remove({id: segment.id}) && workshopSegments.splice($index, 1);', 'ng-show' => 'segment.deletion == true'}
        Yes
      %a.btn.btn-white.btn-xs{'ng-click' => 'segment.deletion = false', 'ng-show' => 'segment.deletion == true'}
        No

%h2{'ng-show' => 'workshop.id'}
  Facilitators
%button.btn.btn-white{"ng-click" => "workshop.facilitators.unshift({editing: true})", 'ng-show' => 'workshop.id', style:'margin-bottom:10px'}
  Add Facilitator
%div.jumbotron{'ng-show' => 'workshop.facilitators <= 0'}
  There are currently no facilitators assigned to this workshop.
%div{'ng-hide' => 'workshop.id && workshop.facilitators <= 0'}
  %table{style: "width:100%; table-layout:fixed;", 'ng-form' => 'allForm', class: 'workshop-facilitators'}
    %colgroup
      %col{width: "200"}/
      %col{width: "200"}/
      %col{width: "300"}/
      %col{width: "200"}/
    %tr
      %th.manage-th
        First name
      %th.manage-th
        Last name
      %th.manage-th
        Email
      %th.manage-th
        %div
          %a.btn.btn-primary{"ng-click" => "save(workshop)", "ng-show" => "editingAny(workshop.facilitators)", "ng-disabled" => "allForm.$invalid"} Save All
    %tr{"ng-repeat" => "facilitator in workshop.facilitators", style: "vertical-align:top", 'ng-form' => 'form'}
      %td
        %div{"ng-hide" => "facilitator.editing"}
          {{facilitator.ops_first_name}}
        %div{"ng-show" => "facilitator.editing"}
          %input.form-control{"ng-model" => "facilitator.ops_first_name", placeholder: "First name", style: "width: 100%", type: "text", required: "true", name: 'ops_first_name'}/
          %span.error{'ng-show' => 'form.ops_first_name.$error.required'} required
      %td
        %div{"ng-hide" => "facilitator.editing"}
          {{facilitator.ops_last_name}}
        %div{"ng-show" => "facilitator.editing"}
          %input.form-control{"ng-model" => "facilitator.ops_last_name", placeholder: "Last name", style: "width: 100%", type: "text", required: "true", name: 'ops_last_name'}/
          %span.error{'ng-show' => 'form.ops_last_name.$error.required'} required
      %td
        %div{"ng-hide" => "facilitator.editing"}
          {{facilitator.email}}
        %div{"ng-show" => "facilitator.editing"}
          %input.form-control{"ng-model" => "facilitator.email", placeholder: "Email address", style: "width: 100%", type: 'email', required: "true", name: 'email'}/
          %span.error{'ng-show' => 'form.email.$error.required'} required
          %span.error{'ng-show' => 'form.email.$error.email'} Invalid email address
      %td{nowrap: true, style: 'white-space: nowrap;'}
        %span{"ng-show" => "facilitator.confirmDelete"}
          %span Delete?
          %br
          %a.btn.btn-danger.btn-xs{"ng-click"=>'workshop.facilitators.splice(workshop.facilitators.indexOf(facilitator), 1) && save(workshop)'} Yes
          %a.btn.btn-success.btn-xs{"ng-click"=>'facilitator.confirmDelete = false'} No
        %span{"ng-hide" => "facilitator.confirmDelete"}
          %a.btn.btn-white.btn-xs{"ng-click" => "facilitator.editing = true", "ng-hide" => "facilitator.editing"} Edit
          %a.btn.btn-white.btn-xs{"ng-click" => "workshop.facilitators.splice(workshop.facilitators.indexOf(facilitator), 1)", "ng-show" => "facilitator.editing"} Cancel
          %a.btn.btn-white.btn-xs{"ng-click" => "facilitator.confirmDelete = true", "ng-show" => "!facilitator.editing && facilitator.id"} Delete
:css
  .error {
    top: 20px;
    left: 0px;
    font-size: 0.6em;
    font-family: 'Gotham 7r', sans-serif;
    color: #900;
  }
