---
layout: none
template: none
---
- authentication_required!
- forbidden! unless dashboard_user[:admin]

%a{href:'/ops-dashboard'}
  Dashboard
>
%a{href:'/ops-dashboard#/workshops'}
  PD Workshops
>
%span
  PD Workshop Management

%h1{'ng-show' => 'workshop.id'}
  Edit {{workshop.name}}
%h1{'ng-show' => '!workshop.id'}
  Add a workshop

%h3
  Workshop Name
%input.form-control{type: 'text', 'ng-model' => 'workshop.name'}
%h3
  Workshop Address
%input.form-control{'ng-model' => 'workshop.cohort_id', type:'text', 'ng-model' => 'workshop.location'}
%h3
  Program Type
%select.form-control{'ng-model' => 'workshop.program_type'}
  %option{'ng-repeat' => 'program_type in program_types', 'value' => '{{program_type.id}}'}
    {{program_type.long_name}}
%h3
  Assigned Cohort
%select.form-control{'ng-model' => 'workshop.cohort_id', 'ng-disabled' => '!workshop.program_type'}
  %option{'ng-repeat' => 'cohort in cohorts | matchingProgramType:workshop.program_type', 'value' => '{{cohort.id}}'}
    {{cohort.name}}
%br
%button#btn-save.btn.btn-default{type: 'submit', 'ng-click' => 'save(workshop)'} Save
%p#save-confirmation{style:'display:none'}
  Saved!
%hr
%h2{'ng-show' => 'workshop.id'}
  Workshop segments
%button.btn.btn-white{'ng-click' => 'segment.addition = true', 'ng-show' => 'workshop.id', style:'margin-bottom:10px;'}
  Add Segment
%div.jumbotron{'ng-show' => 'workshopSegments <= 0 && !segment.addition'}
  There are currently no facilitators assigned to this workshop.
%table{'ng-show' => '(workshop.id && workshopSegments > 0) || segment.addition', style:'width:100%;'}
  %tr
    %th
      day
    %th
      time
    %th
      manage
  %tr{'ng-show' => 'segment.addition'}
    %td
      %input{type:'date', 'ng-model' => 'segment.date'}
    %td
      Start Time
      %input{type:'time', 'ng-model' => 'segment.startTime'}
      End Time
      %input{type:'time', 'ng-model' => 'segment.endTime'}
    %td
      %a.btn.btn-white.btn-xs{'ng-click' => 'saveSegment(segment)'}
        Save
      %a.btn.btn-white.btn-xs{'ng-click' => 'segment.addition = false'}
        Cancel
  %tr{'ng-repeat' => 'segment in workshopSegments | orderBy:"start"'}
    %td{'ng-hide' => 'segment.editing'}
      {{segment.start | utc | date:'longDate'}}
    %td{'ng-hide' => 'segment.editing'}
      {{segment.start | utc | date:'shortTime'}} - {{segment.end | utc | date:'shortTime'}}
    %td{'ng-hide' => 'segment.editing'}
      %a.btn.btn-white.btn-xs{'ng-click' => 'segment.deletion = true', 'ng-hide' => 'segment.deletion == true'}
        Delete
      %span{'ng-show' => 'segment.deletion == true'}
        Are you sure?
      %br
      %a.btn.btn-white.btn-xs{'ng-click' => 'segment.$remove({id: segment.id}) && workshopSegments.splice($index, 1);', 'ng-show' => 'segment.deletion == true'}
        Yes
      %a.btn.btn-white.btn-xs{'ng-click' => 'segment.deletion = false', 'ng-show' => 'segment.deletion == true'}
        No

%h2{'ng-show' => 'workshop.id'}
  Facilitators
%button.btn.btn-white{"ng-click" => "workshop.facilitators.unshift({editing: true})", 'ng-show' => 'workshop.id', style:'margin-bottom:10px'}
  Add Facilitator
%div.jumbotron{'ng-show' => 'workshop.facilitators <= 0'}
  There are currently no facilitators assigned to this workshop.
%div{'ng-hide' => 'workshop.id && workshop.facilitators <= 0'}
  %table{style: "width:100%; table-layout:fixed;", 'ng-form' => 'allForm', class: 'workshop-facilitators'}
    %colgroup
      %col{width: "200"}/
      %col{width: "200"}/
      %col{width: "300"}/
      %col{width: "200"}/
    %tr
      %th.manage-th
        First name
      %th.manage-th
        Last name
      %th.manage-th
        Email
      %th.manage-th
        %div
          %a.btn.btn-primary{"ng-click" => "save(workshop)", "ng-show" => "editingAny(workshop.facilitators)", "ng-disabled" => "allForm.$invalid"} Save All
    %tr{"ng-repeat" => "facilitator in workshop.facilitators", style: "vertical-align:top", 'ng-form' => 'form'}
      %td
        %div{"ng-hide" => "facilitator.editing"}
          {{facilitator.ops_first_name}}
        %div{"ng-show" => "facilitator.editing"}
          %input.form-control{"ng-model" => "facilitator.ops_first_name", placeholder: "First name", style: "width: 100%", type: "text", required: "true", name: 'ops_first_name'}/
          %span.error{'ng-show' => 'form.ops_first_name.$error.required'} required
      %td
        %div{"ng-hide" => "facilitator.editing"}
          {{facilitator.ops_last_name}}
        %div{"ng-show" => "facilitator.editing"}
          %input.form-control{"ng-model" => "facilitator.ops_last_name", placeholder: "Last name", style: "width: 100%", type: "text", required: "true", name: 'ops_last_name'}/
          %span.error{'ng-show' => 'form.ops_last_name.$error.required'} required
      %td
        %div{"ng-hide" => "facilitator.editing"}
          {{facilitator.email}}
        %div{"ng-show" => "facilitator.editing"}
          %input.form-control{"ng-model" => "facilitator.email", placeholder: "Email address", style: "width: 100%", type: 'email', required: "true", name: 'email'}/
          %span.error{'ng-show' => 'form.email.$error.required'} required
          %span.error{'ng-show' => 'form.email.$error.email'} Invalid email address
      %td{nowrap: true, style: 'white-space: nowrap;'}
        %span{"ng-show" => "facilitator.confirmDelete"}
          %span Delete?
          %br
          %a.btn.btn-danger.btn-xs{"ng-click"=>'workshop.facilitators.splice(workshop.facilitators.indexOf(facilitator), 1) && save(workshop)'} Yes
          %a.btn.btn-success.btn-xs{"ng-click"=>'facilitator.confirmDelete = false'} No
        %span{"ng-hide" => "facilitator.confirmDelete"}
          %a.btn.btn-white.btn-xs{"ng-click" => "facilitator.editing = true", "ng-hide" => "facilitator.editing"} Edit
          %a.btn.btn-white.btn-xs{"ng-click" => "workshop.facilitators.splice(workshop.facilitators.indexOf(facilitator), 1)", "ng-show" => "facilitator.editing"} Cancel
          %a.btn.btn-white.btn-xs{"ng-click" => "facilitator.confirmDelete = true", "ng-show" => "!facilitator.editing && facilitator.id"} Delete