- content_for(:head) do
  = stylesheet_link_tag 'css/pd', media: 'all'

%p
  This Code.org account is not linked to a current facilitator. If you are a
  facilitator who has been accepted to a FiT Weekend, please confirm that you're
  using the same Code.org account you used to submit your facilitator
  application. Please
  email <a href="mailto:facilitators@code.org">facilitators@code.org</a> for
  support.
