<p>Welcome <%= @email %>!</p>

<p>You can confirm your account email through the link below:</p>

<p>Thanks</p>

<p>The Code.org Team</p>

<hr/>

<p><%= UserHelpers.sponsor_message(@resource).html_safe %></p>
