%p= I18n.t('devise.mailer.unlock_instructions.hello', user_email: @resource.email)
%p= I18n.t('devise.mailer.unlock_instructions.why_account_locked')
%p= I18n.t('devise.mailer.unlock_instructions.call_to_action')
%p= link_to(I18n.t('devise.mailer.unlock_instructions.unlock_link_text'), user_unlock_url(unlock_token: @token))
