---
title: 2018 International Summit
theme: responsive
video_player: true
---
<a id="top"></a>

[solid-block-header]

Code.org International Summit

[/solid-block-header]
## 10-12 September 2018, in Dallas, Texas

[col-50]

<p align="left"><img src="/images/DFW.jpg" width="95%"></p> 

[/col-50]

[col-50]

**Join us for Code.org's first-ever International Summit!**

Did you know that over half of Code.org's users are from outside of the U.S.? We collaborate with more than 85 international partners to promote computer science education around the world. Our content is used in more than 180 countries and more than 60 languages, but we still have a long way to go to ensure that every student in every school around the world has the opportunity to learn computer science.

Join us for three days of engaging sessions led by Code.org staff, presentations from Code.org international partners, unique networking opportunities, and actionable resources.  

[/col-50]

<div style="clear: both;"></div>

<hr/>

## **Who should attend the International Summit?**

The International Summit will be most useful to organizations based outside of the U.S. that are working to expand computer science education, such as staff from ministries of education, non-profit organizations, and social impact teams of for-profit corporations. Please note that none of the sessions will provide professional learning content to teachers of K-12 computer science. 

## **Registration Details**

* The registration deadline is **31 July 2018**.
* Code.org will cover the cost of your registration fee when you register prior to 13 July 2018. Late registrations will be considered on a case-by-case basis.
* Please note that we will not be able to accommodate you at the summit if you do not fill out the registration form. 


<a href="https://goo.gl/forms/fijvhkkdULf8oZRX2" target="_blank"><button type="button">Register today!</button></a>


## **Travel, Hotel, and Conference Expense Information**

<details>
<summary>**Where is the International Summit located?**</summary>
  <p>
  <br>
All conference sessions will take place at:

<a href="http://www.sheratondallashotel.com/", target=_"blank">Sheraton Dallas Hotel</a>
<br> 400 North Olive Street
<br> Dallas, TX 75201
<br> United States 
  
</p>
</details>

<details>
  <summary>**How can I receive an official invitation letter for visa/administrative approval purposes?**</summary>
  <p>
  <br>
  You can request an official letter of invitation on the <a href="https://goo.gl/forms/fijvhkkdULf8oZRX2" target=_"blank">registration form</a>. If you requested one but have not yet received a letter, please e-mail [international@code.org](mailto:international@code.org).  

</p>
</details>

<details>
<summary>**Should I reserve my own flights?**</summary>
  <p>
  <br>
  Yes. All participants are responsible for booking their own flights and covering their own airfare. The Dallas/Fort Worth International Airport (airport code: DFW) is a large international airport that services non-stop flights from many cities around the world. Summit sessions will begin on Monday morning, so you should plan to **arrive in Dallas, Texas, on or before Sunday, September 9.**  

</p>
</details>

<details>
<summary>**Should I reserve my own hotel?**</summary>
  <p>
  <br>
  There are two options for reserving accommodations.
  <ul>
    <li>Code.org and the Sheraton Dallas Hotel are pleased to offer a discounted rate of USD $187 (excluding taxes and fees) per night for rooms at the Sheraton Dallas Hotel. If you would like to take advantage of the discounted rate, Code.org will make the reservation on your behalf, and you can pay the hotel by credit card at the end of your stay.</li>
    <li> If you prefer to find accommodations at a different hotel, you will be responsible for making your own arrangements.</li> 
  </ul>
  <p>
  You can indicate your accommodation preferences on the <a href="https://goo.gl/forms/fijvhkkdULf8oZRX2" target=_"blank">registration form</a>.

</p>
</details>

<details>
<summary>**Will I need additional transportation once I arrive in Dallas?**</summary>
  <p>
  <br>
You will not need to rent a vehicle while attending the International Summit, since all conference sessions and provided meals will take place at the Sheraton Dallas Hotel. [D-Link buses](https://www.dart.org/dlink/dlink.asp) and the [M-Line Trolley](https://www.dart.org/riding/mline.asp) are free and convenient ways to see the city during your free time. 

If you choose to rent a vehicle for added personal convenience, please note that [parking costs](http://www.sheratondallashotel.com/dallas-transportation) will not be covered by Code.org. 
</p>
</details>

<details>
<summary>**How do I get to the hotel on public transportation?**</summary>
  <p>
  <br>
The DART Light Rail System operates 24 hours a day. A two-hour unlimited pass costs $2.50 and a daily unlimited pass costs $5.00. You can board the Orange Line at the DFW Airport Station. You will arrive at St. Paul Station after 14 stops, and the Sheraton Dallas Hotel is one block away from the station. [The trip](https://www.google.com/maps/dir/DFW+International+Airport,+2400+Aviation+Dr,+DFW+Airport,+TX+75261/Sheraton+Dallas+Hotel,+400+N+Olive+St,+Dallas,+TX+75201/@32.854617,-97.0576827,11z/am=t/data=!3m1!4b1!4m18!4m17!1m5!1m1!1s0x864c2a660d222aa7:0x73323f5e067d201c!2m2!1d-97.0403352!2d32.8998091!1m5!1m1!1s0x864e992053faa37f:0x954224f8305cf7b!2m2!1d-96.7948602!2d32.7851728!2m3!6e4!7e2!8j1528389900!3e3?hl=en) will take approximately one hour. 

Alternatively, a taxi or rideshare will get you from the airport to the hotel in around 35 minutes.  
</p> 
</details>

<details>
<summary>**What expenses are covered during the International Summit?**</summary>
  <p>
  <br>
Code.org is happy to cover the costs of the following: 

* Registration fee for all participants registered prior to 13 July
* Catered breakfast and lunch from 10-12 September
* Seated dinner on 10 September

</p>
</details>

## **What to Pack**
<details>
  <summary>**What kind of clothing should I pack?**</summary>
  <p>
  <br>
We encourage business casual attire during the International Summit. All our conference sessions are indoors, and air conditioning is usually cool in hotels. We recommend that you bring layers if you get cold easily in air conditioned rooms. You can expect outside temperatures to be quite warm during the day. If you plan to venture outdoors during your free time, be sure to check the local forecast and plan accordingly!
</p>
</details>

<details>
<summary>**What devices will I need to bring?**</summary>
  <p>
  <br>
**Don't forget to bring your own laptop/Chromebook and charger, as well as any travel adapters.** We do not recommend bringing a tablet as your primary device to this event.

Please note that Code.org will not have extra devices on hand for participants to borrow.

</p>
</details>

## **Agenda**
<details>
  <summary>**What is the schedule for the week?**</summary>
  <p>
  <br>
  Here is a [preview of the summit agenda](https://drive.google.com/file/d/1-1biuaZDQpIdJVbNAE3nKjcheEpYcpYX/view) so you can get a sense of how we'll spend our time together.  

  </p>
</details>

<details>
  <summary>**What language will be used at the summit?**</summary>
  <p>
  <br>
  All summit sessions will be in English. Unfortunately, we don't have the resources to provide translation services at the summit.   

  </p>
</details>

<details>
<summary>**Will I have any free time?**</summary>
  <p>
  <br>
Of course! We do ask that you join our Monday evening event, but otherwise your time outside of sessions is free time. You can explore the area and spend time with the folks you meet throughout the day during the following times:

* After arrival on Sunday, 10 September
* After sessions conclude at 4:30pm on Tuesday, 11 September
* After sessions conclude at 2:00pm on Wednesday, 12 September

If you plan to extend your stay in Dallas beyond the dates of the summit and need to stay at the Sheraton Dallas Hotel after 12 September, please let us know. We can't guarantee that there will be space available, but we will do our best to accommodate your requests. 
</p>
</details>

<details>
<summary>**What if I can't attend for the full week?**</summary>
  <p>
  <br>
We expect you to attend for the full duration of the International Summit. Make plans to be with us from Registration on Sunday through the Closing Ceremonies on Wednesday afternoon to ensure that you experience the summit in full. If you have any concerns, please let us know at
[international@code.org](mailto:international@code.org).
</p>
</details>


<a id="who"></a>
## **Code.org Staff at the International Summit**

<p>
<br>
<%= view :about_headshots, people:DB[:cdo_team].where(kind_s:'intlsummitstaff') %></p>


## **Contact Us**
Email us at [international@code.org](mailto:international@code.org) with any questions or comments. 

<br>
<br>
[**Back to the top**](#top)
<br/>

  
