:ruby
  card_list = [
    {
      image: "/images/naipi/naipi-page-teachers.png",
      title: hoc_s(:naipi_page_get_involved_educators_title),
      desc: hoc_s(:naipi_page_get_involved_educators_desc),
      cta_url: "/teach",
      cta_label: hoc_s(:naipi_page_get_involved_educators_cta),
    },
    {
      image: "/images/naipi/naipi-page-leaders.png",
      title: hoc_s(:naipi_page_get_involved_leaders_title),
      desc: hoc_s(:naipi_page_get_involved_leaders_desc),
      cta_url: "/districts",
      cta_label: hoc_s(:naipi_page_get_involved_leaders_cta),
    },
    {
      image: "/images/naipi/naipi-page-students.png",
      title: hoc_s(:naipi_page_get_involved_students_title),
      desc: hoc_s(:naipi_page_get_involved_students_desc),
      cta_url: "/csjourneys",
      cta_label: hoc_s(:naipi_page_get_involved_students_cta),
    },
    {
      image: "/images/naipi/naipi-page-community.png",
      title: hoc_s(:naipi_page_get_involved_community_title),
      desc: hoc_s(:naipi_page_get_involved_community_desc),
      cta_url: "mailto:naipi@code.org",
      cta_label: hoc_s(:naipi_page_get_involved_community_cta),
    },
  ]

.editorial-cards-wrapper-2x2
  - card_list.each do |card_list|
    .flex-container
      %figure
        %img{src: card_list[:image], alt: ""}
      .text-wrapper
        %h3.heading-sm
          = card_list[:title]
        %p
          = card_list[:desc]
        %a{href: card_list[:cta_url]}
          = card_list[:cta_label]
