- app ||= nil

%br{clear: :all}

- gallery_activities.each do |gallery_activity|
  - next unless gallery_activity.try(:level_source).try(:level_source_image)
  %div.gallery_activity
    - user_level = gallery_activity.user_level
    - level_source = gallery_activity.level_source
    = link_to image_tag(level_source.level_source_image.s3_url), level_source
    - if user_level.user && user_level.user.initial && user_level.user.age
      %div.caption
        =t('gallery.caption_by_name_age', name: user_level.user.initial, age: user_level.user.age)
    %div.caption
      =t('gallery.caption_time_ago', time_ago: time_ago_in_words(activity.created_at))
%br{clear: :all}
