- app ||= nil

%br{clear: :all}

- gallery_activities.each do |gallery_activity|
  %div.gallery_activity
    - activity = gallery_activity.activity
    - level_source = activity.level_source
    = link_to image_tag(original_image_level_source_path(level_source)), level_source
    - if activity.user.initial && activity.user.age
      %div.caption
        =t('gallery.caption_by_name_age', name: activity.user.initial, age: activity.user.age)
    %div.caption
      =t('gallery.caption_time_ago', time_ago: time_ago_in_words(activity.created_at))
%br{clear: :all}
