.dance-party-h2 {
  font-size: 20px;
}

.img-dance-stars {
  position: absolute;
  top: 0px;
  left: 70px;
  width: 330px;
  padding: 20px 10px 10px;
}
div[dir='rtl'] .img-dance-stars{
  left: auto;
  right: 70px;
} 
.desktop-only, .tablet-only, .mobile-only {
  display: none;
}

.dance-tutorial {
  top: 15px;
}

.dance-try-button {
  font-size: 15px;
  height: 40px;
  background-color: white;
  border-color: white;
  color: #4d575f;
}

.foot-note-text {
  text-align: center;
  position: absolute;
  bottom: 0;
  color: white;
  text-align: center;
  margin-bottom: 10px;
  font-family: 'Gotham 5r', sans-serif;
  line-height: 19px;
  padding: 5px 10px;
}

.foot-note-heading {
  margin-bottom: 5px;
  font-family: 'Gotham 7r', sans-serif;
}

.img-wrapper img {
  padding: 5px;
}

a.translate-link {
  transition: 600ms opacity;
}

a.translate-link:hover {
  opacity: 0.7;
}

.dance-translate-link-text {
  color: rgb(0, 173, 188);
  font-size: 16px;
  display: inline;
}

.dance-text-icon-container {
  margin-top: 10px;
  margin-bottom: 40px;
  text-align: right;
}

.dance-text-versions-container {
  margin-top: 10px;
  text-align: right;
}

.dance-chevron-icon {
  display: inline;
  color: rgb(0, 173, 188);
  font-size: 13px;
  font-weight: bold;
  margin-left: 10px;
}
div[dir='rtl'] .dance-chevron-icon{
  float: right;
  line-height: 20px;
} 
.dance-thumbnail-tile-img {
  width: 100%;
}

.dance-clear-element {
  clear: both;
}

.dance-add-padding {
  padding: 10px;
}

a:hover {
  text-decoration: none;
}

.sponsor-logo-with-text {
  display: flex;
  font-size: 24px;
  margin-top: 10px;
  clear: both;
  padding-top: 30px;
  text-align: center;
}

.sponsor-subtext-description {
  font-size: 14px;
  text-align: center;
  padding-top: 20px;
  margin-bottom: 85px;
  margin-left: 18%;
  margin-right: 18%;
}

.artist-name, .and-more {
  white-space: nowrap;
}

.sponsor-logo-image {
  margin-top: -5px;
}

@media screen and (min-width: 0px) and (max-width: 512px) {
  .sponsor-logo-with-text {
    flex-direction: column;
  }

  .sponsor-logo-with-text .sponsor-logo-image {
    margin-top: 10px;
  }
}

  /* Just desktop */
@media screen and (min-width: 971px) {
  .desktop-only {
    display: block;
  }

  .sponsor-subtext-description {
    margin-bottom: 45px;
  }
}

/* Tablet and mobile */
@media screen and (max-width: 970px) {
  .dance-party-container .tutorial-box {
    background-image: url(/images/fit-1940/dance-hoc/dance_party_landing_main_nophotos.png)
  }

  /* the background image must be flipped horizontally on mobile or else the text will blend into the background */
  div[dir = 'rtl'] .img-container{
    background-image: url(/images/fit-1940/dance-hoc/dance_party_2019_tutorial_hero_flipped.png)
  }
  .img-container {
    /* This background is only visible on mobile width.  It's covered by an image
     * on wider widths. */
    background: url(/images/dance-hoc/dance_party_2019_tutorial_hero.png);
    margin: 5px;
    border-radius: 5px;
    background-size: cover;
    padding: initial;
  }

  .foot-note-text {
    position: static;
    color: #00adbc;
  }

  .dance-text-icon-container {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-right: 5px;
  }

  .dance-text-versions-container {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-right: 5px;
  }

  .tutorial-box {
    background-size: cover;
  }

  .sponsor-subtext-description {
    margin-bottom: 0;
  }

  .amazon-footer {
    padding-bottom: 20px;
  }

  .dance-responsive-padding {
    padding: 10px;
  }

  .add-margintop-between-sections {
    margin-top: 30px;
  }
}

/* Tablet only */
@media screen and (min-width: 560px) and (max-width: 970px) {
  .tablet-only {
    display: block;
  }

  .img-dance-stars {
    width: auto;
    left: 50%;
    margin-left: -260px;
    padding: 0;
    /* A little above the middle while we're showing announcement text below. */
    top: 40%;
    margin-top: -43px;
  }

  .img-container {
    position: relative;
  }

  .dance-tutorial {
    float: left;
    width: 50%;
  }

  .background-img img {
    margin-bottom: 5px
  }
}

/* Mobile only */
@media screen and (max-width: 559px) {
  .mobile-only {
    display: block;
  }

  .background-img {
    background: url(/images/dance-hoc/dance_party_tutorial_hero.png);
    margin: 5px;
    border-radius: 5px;
    background-size: cover;
  }

  .img-dance-stars {
    position: static;
    margin: 0 auto;
    max-width: 100%;
    padding: 0;
  }

  .foot-note-text {
    font: 14px/16px 'Gotham 5r', sans-serif;
  }

  .student_dance_projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .dance-responsive-padding {
    text-align: center;
  }
}

/* New announcement text under the artist images, with variants for desktop,
 * tablet, and mobile. */

.new-announcement {
  position: absolute;
  color: white;
  font-size: 30px;
  line-height: 30px;
  top: 230px;
  text-align: center;
  width: 460px;
  font-family: 'Gotham 5r', sans-serif;
}

.new-announcement .highlight-word {
  color: rgb(89, 202, 211);
}

.highlight-strong strong  {
  font-family: 'Gotham 5r', sans-serif;
  color: rgb(89, 202, 211);
}

.new-announcement-tablet {
  position: absolute;
  bottom: 10%;
  color: white;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  width: 100%;
  font-family: 'Gotham 5r', sans-serif;
  .highlight-word {
    color: rgb(89, 202, 211);
  }
}

.new-announcement-tablet .highlight-word {
  color: rgb(89, 202, 211);
}

.new-announcement-mobile {
  color: white;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  width: 100%;
  padding-bottom: 10px;
  font-family: 'Gotham 5r', sans-serif;
  .highlight-word {
    color: rgb(89, 202, 211);
  }
}

.new-announcement-mobile .highlight-word {
  color: rgb(89, 202, 211);
}
