.sponsor-logo-with-text {
  display: flex;
  justify-content: center;
  font-size: 24px;
  margin-top: 30px;
  clear: both;
  padding-top: 30px;
}

.sponsor-subtext-description {
  font-size: 14px;
  text-align: center;
  padding-top: 20px;
  margin-bottom: 85px;
  margin-left: 18%;
  margin-right: 18%;
}
