@import "color.scss";
@import "font.scss";

.resources {
  margin-top: 45px;
}

.resource-card {
  height: 300px;
  width: 468px;
  border: none;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
  float: left;
}

.resource-gif {
  width: 234px;
  float: left;
}

.resource-text-box {
  width: 234px;
  height: 300px;
  background-color: $neutral_light;
  border: 1px solid $neutral_dark20;
  position: absolute;
  padding: 20px;
  margin-left: 234px;
}
div[dir='rtl'] .resource-text-box{
  direction: rtl;
 }

.resource-title {
  font-size: 20px;
  color: $neutral_dark;
  font-family: var(--main-font);
  font-weight: var(--semi-bold-font-weight);
  margin-bottom: 20px;
}

.resource-description {
  font-size: 14px;
  color: $neutral_dark;
  margin-bottom: 20px;
}

.purple-button {
  align-self: flex-end;
  background-color: $brand_secondary_default;
  border: 2px solid $brand_secondary_default;
  color: $neutral_white;
  margin: 5px 0;
  font-size: 16px;
  line-height: 16px;

  &:hover {
    background-color: $brand_secondary_dark;
    border-color: $brand_secondary_dark;
    box-shadow: none;
  }

  &:focus {
    border-color: $brand_primary_default;
  }

  &:disabled {
    color: $neutral_white;
    border-color: $neutral_dark20;
    background-color: $neutral_dark20;
    box-shadow: none;
    cursor: not-allowed;
  }
}

#teacher-resources .col-50:nth-child(2) {
  padding-left: 10px;
}

@media screen and (min-width: 0px) and (max-width: 970px) {
  .col-50 {
    padding-left: 10px;
  }
}


@media screen and (min-width: 0px) and (max-width: 470px) {
  .resource-card {
    height: 468px;
    width: 300px;
    float: none;
    margin-left: auto;
    margin-right: auto;
  }

  .resource-gif {
    width: 100%
  }

  .resource-gif img {
    margin-top: -50px;
    width: 100%
  }

  .resource-text-box {
    width: 300px;
    height: 234px;
    margin-left: 0px;
    margin-top: 234px;
  }
}
