---
title: Cameron Wilson
nav: about_nav
theme: responsive
---
# Cameron Wilson

<img src='<%= avatar_image('Cameron Wilson') %>'/ width='320px'>
<br/>
<br/>
Cameron Wilson is the Chief Operating Officer and President of <a href="/advocacy">Code.org Advocacy Coalition</a>. He oversees the advocacy and outreach teams for Code.org and helps guide the organization's efforts to expand access to K-12 computer science education.
 
He helped create Computer Science Education Week, and has been deeply involved on education issues within the computing community having served on the AP Computer Science Principles Advisory Commission, coauthored a major study on K-12 computer science education – Running on Empty: The Failure to Teach K-12 Computer Science in the Digital Age and helped direct the University Of Chicago’s study Building an Operating System For Computer Science Education.
 
He joined Code.org in June of 2013. Before Code.org he was Director of the Office of Public Policy for the Association for Computing Machinery, which is the largest professional society for computing. He joined ACM after spending 10 years on Capitol Hill. During his congressional career he served as Deputy Chief of Staff to Representative Vernon Ehlers (R-MI) and on Representative Nick Smith’s (R-MI) staff. He also served as professional staff on the House Science Committee, where he oversaw technology, standards and environmental issues.