.accept-terms-reminder
  = t('terms_interstitial.reminder_desc_markdown', tos_url: CDO.code_org_url('/tos'), privacy_url: CDO.code_org_url('/privacy'), markdown: true).html_safe
  %br
  %br
  %button#review-terms.primary= t('terms_interstitial.review_terms')

:javascript
  $("#review-terms").click(function () {
    $("#terms-modal").modal('show');
  });
