.row{style: "margin: 0;"}
  = render partial: 'shared/course_tall_block', locals: { id: Unit::DANCE_PARTY_2019_NAME }
  = render partial: 'shared/course_tall_block', locals: { id: Unit::POEM_ART }
  = render partial: 'shared/course_tall_block', locals: { id: Unit::ARTIST_NAME }
  = render partial: 'shared/course_tall_block', locals: { id: Unit::PLAYLAB_NAME }
