.row{style: "margin: 0;"}
  = render partial: 'shared/course_tall_block', locals: { id: Unit::HELLO_WORLD_FOOD }
  = render partial: 'shared/course_tall_block', locals: { id: Unit::POEM_ART }
  = render partial: 'shared/course_tall_block', locals: { id: Unit::STARWARS_NAME }
  = render partial: 'shared/course_tall_block', locals: { id: Unit::OCEANS_NAME }
