%div.teacher-announce
  %a.announce-heading-link{:href=>"http://teacherblog.code.org/"}
    %div.announce-heading
      Announcements
      %div.heading-view-all
        View all
        >>
  %div.announce-content
    %a{:href=>"http://teacherblog.code.org/"}
      %div.content-img-container
        = image_tag(CDO.shared_image_url("/hour-of-code-logo.png"), width: '108px')
    %div.content-text
      %b December 8, 2015 -
      Due to the record breaking number of users visiting our site for the Hour of Code, saving course progress, saving answers, and teacher dashboard views of progress have been temporarily suspended. This lets us keep the site up so that everyone can experience the Hour of Code. We are working hard to restore this functionality. Thank you for your patience during this exciting time.
  %div.announce-learn-more
    %a{:href=>"http://teacherblog.code.org/"}
      %button.primary Learn more

#clearboth{:style=>"clear:both;"}
