.row{style: "margin: 0;"}
  = render partial: 'shared/course_tall_block', locals: { id: 'applab' }
  = render partial: 'shared/course_tall_block', locals: { id: 'gamelab' }
  = render partial: 'shared/course_tall_block', locals: { id: 'weblab' }
