- levels = Script.find_by_name('frozen').script_levels

- levels.each do |sl|
  - result =
  - if current_user
    - UserLevel.find_by_user_id_and_level_id(current_user.id, sl.level.id).try(:best_result)
  - elsif session[:progress] && session[:progress][sl.level_id]
    - session[:progress][sl.level_id]

  - if !result.nil?
    %h2
      Print your ice art
    %div#icons
      %img.print_icon{:src=>'/images/fit-50/frozen-impressive-1.jpg'}
      %img.print_icon{:src=>'/images/fit-50/frozen-impressive-2.jpg'}
      %img.print_icon{:src=>'/images/fit-50/frozen-impressive-3.jpg'}
      %img.print_icon{:src=>'/images/fit-50/frozen-impressive-4.jpg'}
      %img.print_icon{:src=>'/images/fit-50/frozen-impressive-5.jpg'}
      %img.print_icon{:src=>'/images/fit-50/frozen-impressive-6.jpg'}
    %button#print_button
      Print All
    - break

:css
  .print_icon {
    width: 15%;
  }
  #icons {
    width: 50%;
    display: inline-block;
  }
  #print_button {
    background-color: rgb(126, 92, 162);
    border-color: rgb(126, 92, 162);
  }