:css
  /* HACK -- copy the compiled CSS from dashboard */
  /* line 156, /Users/laurel/code-dot-org/dashboard/app/assets/stylesheets/application.css.scss */
  .level_link, .level_link:link, .level_link:visited {
    box-sizing: content-box;
    border-radius: 20px;
    min-width: 22px;
    line-height: 22px;
    padding: 4px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    font-family: 'Gotham 4r', sans-serif;
    font-weight: normal;
    color: white;
    border: 2px solid #ccc;
  }

  /* line 171, /Users/laurel/code-dot-org/dashboard/app/assets/stylesheets/application.css.scss */
  .level_link.not_tried, .level_link.not_tried:link, .level_link.not_tried:visited {
    background-color: #fefefe;
    color: #666 !important;
  }
  /* line 174, /Users/laurel/code-dot-org/dashboard/app/assets/stylesheets/application.css.scss */
  .level_link.not_tried:hover, .level_link.not_tried:link:hover, .level_link.not_tried:visited:hover {
    background-color: #ffa400;
    color: white;
    text-decoration: none;
  }

  /* line 181, /Users/laurel/code-dot-org/dashboard/app/assets/stylesheets/application.css.scss */
  .level_link.attempted, .level_link.attempted:link, .level_link.attempted:visited {
    background-color: yellow;
    color: #666 !important;
  }
  /* line 184, /Users/laurel/code-dot-org/dashboard/app/assets/stylesheets/application.css.scss */
  .level_link.attempted:hover, .level_link.attempted:link:hover, .level_link.attempted:visited:hover {
    background-color: #ffa400;
    color: white;
    text-decoration: none;
  }

  /* line 191, /Users/laurel/code-dot-org/dashboard/app/assets/stylesheets/application.css.scss */
  .level_link.perfect, .level_link.perfect:link, .level_link.perfect:visited {
    background-color: #0ebe0e;
    color: white !important;
  }
  /* line 194, /Users/laurel/code-dot-org/dashboard/app/assets/stylesheets/application.css.scss */
  .level_link.perfect:hover, .level_link.perfect:link:hover, .level_link.perfect:visited:hover {
    background-color: #ffa400;
    color: white;
    text-decoration: none;
  }

  /* line 202, /Users/laurel/code-dot-org/dashboard/app/assets/stylesheets/application.css.scss */
  .level_link.passed, .level_link.passed:link, .level_link.passed:visited {
    background-color: #9fd49f;
    color: white !important;
  }
  /* line 205, /Users/laurel/code-dot-org/dashboard/app/assets/stylesheets/application.css.scss */
  .level_link.passed:hover, .level_link.passed:link:hover, .level_link.passed:visited:hover {
    background-color: #ffa400;
    color: white;
    text-decoration: none;
  }

  /* line 212, /Users/laurel/code-dot-org/dashboard/app/assets/stylesheets/application.css.scss */
  .level_link.attempted, .level_link.attempted:link, .level_link.attempted:visited {
    background-color: yellow;
    color: #666 !important;
  }
  /* line 215, /Users/laurel/code-dot-org/dashboard/app/assets/stylesheets/application.css.scss */
  .level_link.attempted:hover, .level_link.attempted:link:hover, .level_link.attempted:visited:hover {
    background-color: yellow;
    text-decoration: none;
  }

  /* line 223, /Users/laurel/code-dot-org/dashboard/app/assets/stylesheets/application.css.scss */
  .puzzle_outer_level,
  .puzzle_outer_assessment,
  .puzzle_outer_current {
    padding: 1px;
    display: inline-block;
  }

  /* line 228, /Users/laurel/code-dot-org/dashboard/app/assets/stylesheets/application.css.scss */
  .puzzle_outer_assessment .level_link {
    border: 2px solid #428bca;
  }

  /* line 232, /Users/laurel/code-dot-org/dashboard/app/assets/stylesheets/application.css.scss */
  .user-stats-block .puzzle_outer_current .level_link {
    border: 2px solid #ffa400;
  }

  /* line 237, /Users/laurel/code-dot-org/dashboard/app/assets/stylesheets/application.css.scss */
  .user-stats-block {
    display: inline-block;
    position: relative;
    overflow: hidden;
    float: left;
    width: 100%;
  }

  /* line 248, /Users/laurel/code-dot-org/dashboard/app/assets/stylesheets/application.css.scss */
  .stage-lesson-plan-link a,
  .stage-lesson-plan-link a:link,
  .stage-lesson-plan-link a:visited {
    font-size: 10px;
    color: #7665a0;
    font-family: 'Gotham 5r', sans-serif;
    font-weight: normal;
  }

  /* line 255, /Users/laurel/code-dot-org/dashboard/app/assets/stylesheets/application.css.scss */
  .game-group {
    border-bottom: 2px solid #ccc;
    background-color: #eee;
    display: table;
    table-layout: fixed;
    padding: 10px;
    width: 100%;
  }
  /* line 262, /Users/laurel/code-dot-org/dashboard/app/assets/stylesheets/application.css.scss */
  .game-group .stage {
    display: table-cell;
    width: 200px;
    vertical-align: middle;
    padding-right: 10px;
  }
  /* line 267, /Users/laurel/code-dot-org/dashboard/app/assets/stylesheets/application.css.scss */
  .game-group .stage .game-title {
    font-family: 'Gotham 5r', sans-serif;
    font-weight: normal;
  }
  /* line 272, /Users/laurel/code-dot-org/dashboard/app/assets/stylesheets/application.css.scss */
  .game-group .games {
    display: table-cell;
    vertical-align: middle;
    box-sizing: border-box;
    padding-right: 10px;
  }
  /* line 277, /Users/laurel/code-dot-org/dashboard/app/assets/stylesheets/application.css.scss */
  .game-group .games .level {
    margin: 1px;
    display: inline-block;
  }
  /* line 280, /Users/laurel/code-dot-org/dashboard/app/assets/stylesheets/application.css.scss */
  .game-group .games .level .puzzle-number {
    position: relative;
    top: 1px;
  }

  /* line 288, /Users/laurel/code-dot-org/dashboard/app/assets/stylesheets/application.css.scss */
  .puzzle-named {
    font-size: 13px;
    padding-left: 6px;
    padding-right: 6px;
  }

%h1 Progress information for #{@student.name} in #{data_t_suffix('script.name', @script.name, 'title')}

= render partial: 'shared/user_stats', locals: { user: @student }
