@use '@code-dot-org/component-library-styles/typography.module.scss' as
  typography;
@import 'color.scss';

.shortcut-dialog {
  .shortcut-modal {
    background-color: var(--background-neutral-primary);

    .close-modal {
      color: var(--text-neutral-secondary);
    }
  }
  h1 {
    @include typography.heading-lg;
    font-size: revert;
    color: var(--text-neutral-primary);
    margin: 0;
  }
  h2 {
    @include typography.heading-md;
    color: var(--text-neutral-tertiary);
    margin: revert;
    padding-block-end: revert;
    border-bottom: 1px solid var(--borders-neutral-primary);
  }
  tr:not(.category, :last-child) {
    border: unset;
    border-bottom: 1px solid var(--borders-neutral-light);
  }
  .key {
    border-color: var(--borders-neutral-light);
  }
  th {
    background-color: unset;
    padding: 0;
    border: unset;
  }
  td {
    @include typography.body-two;
    color: var(--text-neutral-tertiary);
  }
}
