@import 'color';
@import 'font';
@import '@cdo/apps/componentLibrary/common/styles/mixins';


.aiDiffContainer {
  position: fixed;
  left: 10px;
  bottom: 120px;
  z-index: 2000;
  width: 760px;

  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.hiddenAiDiffPanel {
  display: none;
}

.aiDiffHeader {
  border-radius: 4px 4px 0 0;
  background: $neutral_dark;
  color: $neutral_white;

  border-top: 2px solid $neutral_dark;
  border-right: 2px solid $neutral_dark;
  border-left: 2px solid $neutral_dark;

  padding-inline-start: 0.75rem;

  display: flex;
  height: 40px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.aiDiffHeaderLeftSide {
  display: flex;
  gap: 0.25rem;
  align-items: center;

  .aiBotOutlineIcon {
    width: 1.5rem;
    height: 1.5rem;
  }

  span {
    @include label-two;
    margin: 0;
  }
}

.aiDiffHeaderRightSide {
  display: flex;
  align-items: flex-start;
  align-self: stretch;
}

.fabBackground {
  display: flex;
  flex-direction: column;
  border-right: 0.125rem solid $neutral_dark;
  border-left: 0.125rem solid $neutral_dark;
  background: $neutral_white;
  box-shadow: 0.25rem 0.25rem 0.375rem 0 rgba(0 0 0 / 0.25);
  height: 408px;
  overflow-x: hidden;
  overflow-y: auto;

  &:last-child {
    border-radius: 0 0 0.25rem 0.25rem;
    border-bottom: 0.125rem solid $neutral_dark;
  }

  h2 {
    margin-bottom: 0;
  }
}

.chat {
  &Content {
    height: calc(100% - 84px);
    padding: 16px 20px;
    overflow-y: scroll;
  }

  &Footer {
    display: flex;
    width: 748px;
    padding: 6px;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
    border-top: 2px solid $neutral_gray10;

    &Buttons {
      margin-inline-start: 10px;
      margin-bottom: 10px;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      gap: 12px;
    }
  }

  &Message {
    &Container {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      gap: 8px;
      margin-bottom: 20px;
    }

    &user {
      justify-content: flex-end;
    }

    &Icon {
      width: 32px;
      min-width: 32px;
      height: 32px;
      padding: 4px;
    }

    &assistant &Icon {
      background-color: $light_black;
      border-radius: 20px;
    }

    &Body {
      padding: 10px 10px;
      overflow: hidden;
      border-radius: 8px;
      color: $light_black;

      & p {
        font-size: 14px;
      }

      & p:last-child {
        margin-bottom: 0;
      }
    }

    &assistant &Body {
      background-color: #DEF6F8;
      border-end-start-radius: 0;
    }

    &user &Body {
      background-color: #e4e6e9;
      border-end-end-radius: 0;

    }
  }
}

.floatingActionButton {
  position: fixed;
  left: 10px;
  bottom: 48px;

  height: 55px;
  width: 55px;
  background-size: 55px;
  padding: 0;

  border-width: 0;
  border-radius: 30px;

  img {
    opacity: 1;
    border-radius: 30px;
  }
}

.aiBotImg {
  width: 42px;
  height: 68px;
  margin: 20px;
  float: left;
}
