.ai-icon {
    position: absolute;
    top: 5px;
    left: 0px;
    border-radius: 20px;
    width: 32px;
    height: 32px;
    overflow: hidden;
}
.ta {
    position: relative;
    letter-spacing: -0.04em;
    line-height: 160%;
    text-transform: uppercase;
    font-weight: 500;
}
.tag {
    position: absolute;
    top: -1px;
    left: 20.95px;
    border-radius: 57.76px;
    background-color: #3cfff8;
    border: 1px solid #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 2.3px 2.9px;
}
.ai-ta-chat-icon {
    width: 40px;
    position: relative;
    height: 37px;
}
.hi-im-your {
    position: relative;
    line-height: 154%;
}
.chat-bubble {
    border-radius: 8px 8px 8px 0px;
    background-color: #def6f8;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 12px;
    font-size: 14px;
}
.ai-message {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 8px;
}
.smile {
    width: 18px;
    position: relative;
    line-height: 125%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}
.button {
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 7px;
}
.action-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.feedback-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    font-family: 'Font Awesome 6 Pro';
}
.feedback {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;
    text-align: left;
    font-family: Metropolis;
}
.user-actions {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 0px 0px 48px;
    gap: 8px;
    text-align: center;
    font-size: 14px;
    color: #858c94;
    font-family: 'Font Awesome 6 Pro';
}
.ai-message-with-actions {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 4px;
    text-align: left;
    font-size: 8.09px;
    color: #292f36;
    font-family: Metropolis;
}

