.carouselContainer {
  display: flex;
  width: 800px;
  min-height: 528px;
  padding: 30px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  border-radius: 4px;
  border: 1px solid var(--borders-neutral-primary, #d4dae1);
  background: var(--background-neutral-primary, #fff);
}

.questionContainer {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 8px;
  width: 100%;
  text-align: center;
}

.multiSelectContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.numberOfYearsArea {
  display: flex;
  padding: 20px 0;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex: 1 0 0;

  .answer {
    width: 36px;
    height: 40px;
    padding: 8px 12px;
  }

  .bodyText {
    margin-bottom: 0;
  }
}

.freeResponseBox {
  display: flex;
  padding: 8px 12px;
  align-items: flex-start;
  gap: 10px;
  flex: 1 0 0;
  align-self: stretch;
  border-radius: 4px;
  min-height: 42px;
  box-sizing: border-box;
  resize: none;
  margin: 0;
  width: 430px;
  height: 220px;
}

.confidenceContinuum {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 6px;
}

.answerContainer {
  display: flex;
  height: 320px;
  padding: 20px 0 40px 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  align-self: stretch;
  border-radius: 4px;
  border: 1px solid var(--borders-neutral-primary, #d4dae1);
  background: var(--background-neutral-secondary, #f0f2f5);
}

.navigationButtons {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  align-self: stretch;
  justify-content: space-between;
}

.confidenceButtons {
  display: flex;
  gap: 8px;
}
