@import '@cdo/apps/componentLibrary/common/styles/primitiveColors.css';

.dialogOverlay {
  position: fixed;
  inset-block-start: 0;
  inset-inline-start: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  background-color: var(--neutral-black-alpha-90);
}

// Common dialog styles
.dialog {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 39.375rem;
  max-width: 50rem;
  padding: 2.25rem 3.5rem 2.5rem 3.5rem;
  gap: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 6px 18px 0 rgb(0 0 0 / 0.3);

  &:has(.dialogIcon) {
    padding-top: 3.5rem;
  }
}

.dialogCloseButton {
  position: absolute;
  inset-block-start: 8px;
  inset-inline-end: 8px;
}

// Dialog colors
.dialog-light {
  background-color: var(--neutral-base-white);
}

.dialog-dark {
  background-color: var(--neutral-gray-90);
}
