---
layout: none
theme: none
---

%h1 View workshop

.row
  .col-sm-4
    .panel.panel-default
      .panel-heading Date and time
      .panel-body
        %div{"ng-repeat" => "date in workshop.dates"}
          {{ date.date_s }}, {{ date.start_time_s }} - {{ date.end_time_s }}
  .col-sm-8
    .panel.panel-default
      .panel-heading Location
      .panel-body {{ workshop.location_name_s }}, {{ workshop.location_address_s }}
.row
  .col-sm-2
    .panel.panel-default
      .panel-heading Capacity
      .panel-body {{ workshop.capacity_s }}
  .col-sm-3
    .panel.panel-default
      .panel-heading Workshop type
      .panel-body {{ workshop.type_s }}
  .col-sm-7
    .panel.panel-default
      .panel-heading Notes
      .panel-body {{ workshop.notes_s }}
%div
  %a.btn.btn-default{"ng-href" => "#/{{workshop.secret}}/edit"} Edit
  %a#btn-cancel.btn.btn-link{"ng-click" => "cancel_workshop()"} Cancel

%div{'ng-show' => 'workshop.signups.length > 0'}
  %h2 Signups
  %table{style: "width:970px; table-layout:fixed;"}
    %colgroup
      %col{style: 'width: 250px;'}/
      %col{style: 'width: 200px;'}/
      %col{style: 'width: 150px;'}/
      %col{style: 'width: 150px;'}/
      %col{style: 'width: 220px;'}/
    %tr
      %th.manage-th
        Name
      %th.manage-th
        Email
      %th.manage-th
        Title
      %th.manage-th
        School
      %th.manage-th
    %tr{"ng-repeat" => "signup in workshop.signups | orderBy:order", style: "vertical-align:top"}
      %td {{signup.name_s}}
      %td {{signup.email_s}}
      %td {{signup.teacher_role_ss.join(', ')}}
      %td {{signup.school_name_s}}
      %td{nowrap: true, style: 'white-space: nowrap;'}
        %span{"ng-show" => "signup.confirmSignupDelete"}
          %span Delete?
          %a.btn.btn-danger.btn-xs{"ng-click"=>'delete_signup(signup)'} Yes
          %a.btn.btn-success.btn-xs{"ng-click"=>'signup.confirmSignupDelete = false'} No
        %span{"ng-hide" => "signup.confirmSignupDelete"}
          %a.btn.btn-white.btn-xs{"ng-click" => "confirm_signup_delete(signup)"} Delete
