.clickable {
  cursor: pointer;
  font-weight: bold;
  text-decoration: underline dotted;
}

.clickable:focus-visible {
  border-radius: 2px;
  outline: 2px solid currentcolor;
  outline-offset: 2px;
}
