.card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  max-width: 800px;
  background: var(--background-neutral-primary);
  border: 1px solid var(--border-neutral-primary);
  border-radius: var(--shape-lg);
}

.content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
}

.headerRow {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.body {
  width: 100%;
}

.label {
  color: var(--text-neutral-tertiary);
}

.actionRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  padding: 16px 24px;
  border-top: 1px solid var(--border-neutral-primary);
}
