.validation-bubble {
  background-color: var(--background-neutral-secondary);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  margin: 4px;
  overflow: hidden;
  padding: 12px;
}

.validation-panel {
  background-color: var(--background-neutral-primary);
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 0;
  overflow: hidden;
}

.validation-results {
  flex: 1;
  margin-bottom: 12px;
  min-height: 0;
  overflow-y: auto;
}

.validation-results-table {
  border: 1px solid var(--borders-neutral-strong);
  border-collapse: collapse;
  table-layout: auto;
  width: 100%;

  thead td {
    background-color: var(--background-neutral-tertiary);
  }

  td {
    background-color: var(--background-neutral-primary);
    border: 1px solid var(--borders-neutral-strong);
    padding: 4px 6px;
  }

  p {
    margin-bottom: 0;
  }
}

.results-text {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 4px;
  text-align: center;
}
