body {
  margin: 0;
}

.mainContentContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.mainContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 8px 0 8px
}

.logo {
  min-width: 85px;
  width: 30vh; // 30% of view port height for small iPhone
  max-width: 250px;
}

.description {
  text-align: center;
}

.mainContent > * {
  flex: 1;
  padding-bottom: 30px;
}

.callToAction {
  box-shadow: 0 4px 4px 0 #00000040;
  align-items: center;
}

.formLabel {
  white-space: nowrap; /* Prevents the label from wrapping */
}

.inputContainer {
  display: flex;
  align-items: center; /* Vertically aligns the items in the middle */
  margin-bottom: 10px; /* Adds some space below each input container */
}

.input {
  margin-left: 10px;
  padding: 8px 12px;
  width: 300px; /* Responsive width */
  font-size: 16px; /* Sufficiently large font size for readability */
  border: 2px solid #ccc; /* Subtle border */
  border-radius: 4px; /* Rounded corners */
  box-sizing: border-box; /* Includes padding and border in the element's width */

  transition: border-color 0.3s; /* Smooth transition for border color */
}

.input:focus {
  border-color: #007BFF; /* Highlight color when the input is focused */
  outline: none; /* Removes the default focus outline */
}
