<% var msg = require('../../locale/current/common') %>
<% var webappMsg = require('../../locale/current/webapp') %>

<% if (debugButtons) { %>
<div>
<% } %>

<% if (debugButtons) { %>
<div id="debug-buttons" style="display:inline;">
    <button id="pauseButton" class="share">
      <img src="<%= assetUrl('media/1x1.gif') %>"><%= webappMsg.pause() %>
    </button>
  </div>
<% } %>

<% if (finishButton) { %>
  <div id="share-cell" class="share-cell-none">
    <button id="finishButton" class="share">
      <img src="<%= assetUrl('media/1x1.gif') %>"><%= msg.finish() %>
    </button>
  </div>
<% } %>

<% if (debugButtons) { %>
</div>
<% } %>
