---
title: Hour of Code Organizer Survey
---

#survey-page
  %p{:style=>'height: 360px; margin-top: 40px; text-align: center; font-size: 18px;'} As of January 15, the survey is complete. Thank you for your participation in the Hour of Code.
