// Action blocks wrappers
.action-block__wrapper {
  margin-top: 2rem;
  display: grid;
  grid-gap: 1.5rem;

  @media screen and (min-width: $width-sm) {
    grid-template-columns: repeat(2, 1fr);
  }

  &.action-block__wrapper--three-col {
    @media screen and (min-width: $width-lg) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &.action-block__wrapper--four-col {
    @media screen and (min-width: $width-lg) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

// Action blocks shared styles
.action-block {
  background: var(--neutral_light);
  border: 1px solid var(--neutral_dark20);
  border-radius: 4px;
  display: flex;
  align-content: baseline;

  &.white {
    background: var(--neutral_white);
  }

  h3 {
    width: 100%;
    margin-top: 0;
  }

  figure {
    &.video-responsive {
      margin-bottom: 1rem;
    }
  }

  ul {
    margin: 0 1rem 1rem;
  }

  // Hides the unused caption div from the
  // display_video_thumbnail partial
  .video_caption_link {
    display: none;
  }
}

// Single column action blocks
// Note: set the height of the <p> tag inline to maintain
// height consistency between cards in a wrapper
.action-block--one-col {
  flex-wrap: wrap;
  flex-direction: column;
  padding: 1.25rem;
  text-align: initial;

  // Align copy or button(s) to the bottom of a block when
  // blocks are vastly different heights due to content length
  // — use .content-wrapper and .content-footer as seen on
  // app_lab_lessons.haml
  &.flex-space-between {
    justify-content: space-between;
  }

  @media screen and (max-width: $width-md) {
    height: 100%;
  }

  img {
    width: 100%;
    margin-bottom: 1rem;
  }

  a.link-button {
    width: 100%;
    text-align: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin: 1rem 0 0;
  }
}

// Two column action block
.action-block--two-col {
  flex-wrap: wrap;
  overflow: hidden;

  .text-wrapper {
    padding: 1rem 1.5rem;
  }

  figure.video-responsive {
    margin: 0 !important;
    max-width: unset;

    & > div {
      border: 0;
    }
  }

  @media screen and (max-width: $width-sm) {
    a.link-button,
    button {
      width: 100%;
      text-align: center;
    }
  }
}
