.half-resource-block {
    width: 470px;
    float: left;
    margin-bottom: 30px;
  }
  .description-area {
    padding: 20px 30px;
    background-color: #00adbc;
    color: #fff;
    min-height: 190px;
    height: auto;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .top-image {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  .full-resource-block {
    width: 940px;
    margin-bottom: 30px;
    height: 244px;
  }
  .description {
    padding-bottom: 10px;
    color: #fff;
  }
  .resource-title {
    padding: 0px;
    margin: 0px;
    font-size: 24px;
    color: #FFFFFF;
    padding-bottom: 10px;
  }
  .side-image {
    width: 50%;
    float: left;
  }
  .side-image.right, .side-description-area.right {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .side-image.left, .side-description-area.left {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  .side-description-area {
    float: left;
    width: 50%;
    height: 260px;
    background-color: #00adbc;
    padding: 30px 30px;
  }
  .gray-button {
    background-color: #e7e8ea;
    border-color: #c6cacd;
    color: #5b6770;
    text-decoration: none;
  }
  .orange-button {
    text-decoration: none;
    background-color: #ffa400;
  }
  .scroll-nav {
    padding: 15px;
    width: 940px;
    background-color: #00adbc;
    border-radius: 5px;
    color: white;
    text-align: center;
  }
  .teal-button {
    background-color: #078f9a;
    border-color: #088f9a;
    height: 40px;
    margin: 5px;
  }
  @media screen and (min-width: 513px) and (max-width: 970px) {
    .side-description-area {
      width: 100%;
      border-radius: 5px;
      height: auto;
    }
    .side-image {
      display: none;
    }
    .full-resource-block {
      width: 100%;
      height: auto;
    }
    .half-resource-block {
      width: 500px;
    }
    .scroll-nav {
      width: 100%;
    }
  }
  @media screen and (min-width: 0px) and (max-width: 512px) {
    .half-resource-block {
      width: 100%;
    }
    .description-area {
      height: auto;
    }
    .side-description-area {
      width: 100%;
      border-radius: 5px;
      height: auto;
    }
    .side-image {
      display: none;
    }
    .full-resource-block {
      width: 100%;
      height: auto;
    }
    .scroll-nav {
      width: 100%;
      height: auto;
    }
  }
