.ctabutton {
  font-size: 18px;
  font-weight: 500;
  height: 40px;
  padding-left: 30px;
  padding-right: 30px;
}

.ctabuttonatag {
  text-decoration: none;
}

.ctabuttongroup {
  text-align: center;
}

.ctatext {
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  padding: 20px 4px 0px 4px;
}

.category-header {
  font-family: 'Gotham 5r', sans-serif;
}
