@import 'color.scss', 'font.scss', 'breakpoints.scss', 'video-responsive', 'action-blocks';

html, body {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

h2 {
  font-size: 2rem;
  margin-top: 0;
  font-weight: var(--bold-font-weight);
}

section {
  padding: 7em 1em;

  @media screen and (max-width: $width-sm) {
    padding: 4em 1.15em;
  }

  .wrapper {
    max-width: 960px;
    margin: 0 auto;
  }
}

#top {
  position: relative;
  width: 100%;
  overflow: hidden;
}

// What is HoC?
section.what-is-hoc {

  figure.video-responsive {
    max-width: 100%;
  }

  p.body-two {
    margin-bottom: 3rem;

    @media (min-width: $width-sm) {
      max-width: 68%;
      margin: 0 auto 3rem;
    }
  }
}

// Map
section.map {

  #maparea {
    margin-top: 3rem !important;
  }

  .text-wrapper:last-child {
    margin: 3rem auto 0;

    @media (min-width: $width-sm) {
      max-width: 640px;
    }
  }
}

// Spanish banner
section.spanish-banner {

  .action-block {
    .content-wrapper {
      padding: 1rem 1.5rem;
    }

    img {
      width: 100%;
    }

    @media (min-width: 849px) {
      img,
      .content-wrapper {
        width: 50%;
      }
    }
  }

  hr {
    margin: 5rem 0 -2rem;

    @media (max-width: $width-sm) {
      margin: 3rem 0 0;
    }
  }
}

// Stats
section.stats {

  .stats-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
    margin-bottom: 3rem;

    @media (max-width: $width-md) {
      justify-content: space-around;
    }

    @media (max-width: $width-sm) {
      justify-content: center;
    }

    figure {
      width: 65%;

      @media (min-width: $width-sm) {
        width: 25%;
      }
    }

    img {
      width: 85%;
      margin-bottom: 1.5rem;
    }

    figcaption {
      font-weight: var(--regular-font-weight);
    }
  }

  .button-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
  }
}
