.ctabutton {
  font-size: 18px;
  font-weight: 500;
  height: 40px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 5px 0px;
}

.ctabutton-white {
  font-size: 18px;
  font-weight: 500;
  height: 40px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 5px 0px;
  background-color: white;
  border-color: white;
  color: black;
}

.ctabutton-white-inverse {
  font-size: 18px;
  font-weight: 500;
  height: 40px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 5px 0px;
  background-color: initial;
  border-color: white;
  color: white;
}

.ctabuttonatag {
  text-decoration: none;
}

.ctabuttongroup {
  text-align: center;
}

.ctatext {
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  padding: 0px 4px;
}

.join-us-header {
  margin-top: 0px;
  margin-bottom: 10px;
}

.category-header {
  font-family: 'Gotham 5r', sans-serif;
}

.category-button {
  background-color: #5b6770;
  border-radius: 5px;
  color: white;
  font-family: 'Gotham 4r', sans-serif;
  margin: 5px 0px;
  padding: 8px;
}

a.category-link {
  text-decoration: none;
}

.category-link .category-button:hover {
  opacity: 0.7;
}

.robotics-providers {
  display: flex;
  flex-wrap: wrap;
}

.robotics-provider {
  padding: 20px;
  border: 1px solid #aaa;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  background-color: white;
}

.announcements-body {
  background-color: #5c3f7f;
  border-radius: 10px;
  padding: 20px;
  color: white;
  max-width: 30%;
  margin-bottom: 10px;
  margin-right: 10px;
}

.banner-box {
  display: table;
  width: 100%;
  max-height: 400px;
}

.banner-image-box {
  display: table-cell;
  float: none;
  width: 50%;
  height: auto;
  background-color: #e0ffff;
  text-align: center;
  vertical-align: middle;
  padding: 20px;
}

.banner-image {
  width: 100%;
  max-width: 300px;
  height: auto;
}

.banner-message-box {
  display: table-cell;
  float: none;
  width: 50%;
  height: auto;
  background-color: #00adbc;
  text-align: left;
  vertical-align: middle;
  padding: 20px;
}

.banner-title {
  font-family: 'Gotham 7r', sans-serif;
  color: white;
  line-height: 1.2;
}

.banner-message {
  color: white;
  line-height: 1.2;
}

@media screen and (min-width: 0px) and (max-width: 600px) {
  .announcements-body {
    min-width: 100%;
  }

  .robotics-provider {
    max-width: 45%;
  }

  .front-header-banner .front-header-title p {
    font-size: 34px;
    line-height: 34px;
  }

  .front-header-description {
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 20px;
  }

  .banner-title {
    font-size: 16px;
  }

  .banner-message {
    font-size: 14px;
  }
}

@media screen and (min-width: 601px) and (max-width: 1200px) {
  .announcements-body {
    min-width: 100%;
  }

  .robotics-provider {
    max-width: 40%;
  }

  .front-header-banner .front-header-title p {
    font-size: 44px;
    line-height: 44px;
  }

  .front-header-description {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 80px;
  }

  .banner-title {
    font-size: 20px;
  }

  .banner-message {
    font-size: 18px;
  }
}

@media screen and (min-width: 1201px) {
  .announcements-body {
    min-width: 100%;
  }

  .robotics-provider {
    width: 22%;
  }

  .front-header-banner .front-header-title p {
    font-size: 44px;
    line-height: 44px;
  }

  .front-header-description {
    font-size: 24px;
    margin-bottom: 80px;
  }

  .banner-title {
    font-size: 24px;
  }

  .banner-message {
    font-size: 20px;
    line-height: 1.5
  }
}

.purple-background {
  background-color: #7665a0;
}

.cyan-background {
  background-color: #0094ca;
}

.green-background {
  background-color: #b9bf15;
}

.teal-background {
  background-color: #00adbc;
}

#textbacking {
  color: white;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
}

.front-header-banner {
  color: white;
  margin-top: 0px;
}

.front-header-banner .front-header-title {
  color: #00ADBC;
  margin-top: 0px;
  margin-bottom: 20px;
}

.front-header-banner .front-header-title p {
  font-family: 'Gotham 5r', sans-serif !important;
  margin-bottom: 0px;
}

.front-header-description {
  color: #4d575f;
  max-width: 800px;
  display: inline-block;
}

.hoc-description {
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  color: #00adbc;
}

.number-served{
  font-size: 40px;
  line-height: 35px;
  margin-bottom: 10px;
}

.watch-video {
  color:white;
  text-shadow: 0px 0px 4px rgba(31, 31, 31, 1);
  margin-top: 0px;
  margin-bottom: 10px;
  padding: 20px
}

#leftbutton {
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  width: 100%;
}

#leftbox {
  position: relative;
  margin-top: 60px;
  padding-bottom: 20px;
  height: 300px;
}

#leftvideo {
  width: 100%;
}

#volunteer-signup {
  text-align: center;
  margin-top: 25px;
  font-size: 16px;
}

#volunteer-signup a {
  color: white;
  font-family: 'Gotham 4r', sans-serif;
  text-decoration: none;
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%; /* Maintains 16:9 aspect ratio */
  position: relative;
  height: 0;
}
.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.students-served {
  font-size: 16px;
  line-height: 16px;
  padding-bottom: 15px;
}

.required-asterisk {
  color: #008b9a;
}
