#headshots {
  width: 900px;
  padding: 0;
  margin: 0;
}
.headshot_row {
  width: 900px;
  padding: 0;
  margin: 0;
}
.headshot_column {
  width: 300px;
  padding: 15px;
  margin: 0;
  float: left;
}
.avatar_container {
  height: 200px;
  position: relative;
  left: 0;
  top: 0;
}
.gray_circle {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  background-color: #ccc; 
  position: relative;
  top: 0;
  left: 0;
}
.user_icon {
  position: absolute;
  top: 0px;
  left: 30px;
  font-size: 180px;
}
.avatar_image {
  max-height: 200px;
  border-radius: 100px;
}
.person_name {
  height: 20px;
}
.person_title {
  height: 40px;
}
.person_description {
  font-size: 13px;
}
