.highlights-content {
  width: 100%;
}

.highlight-item {
  width: 260px;
  overflow: hidden;
  margin-right: 20px;
  margin-bottom: 20px;
  float: left;
  position: relative;
}

.highlight-img {
  border-radius: 2px;
  background-size: cover;
  background-position: 50%;
  width: 260px;
  height: 260px;
  background-color: #f0f0f0;
}

.highlight-caption {
  border-radius: 2px;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  line-height: 20px;
  top: 0px;
  left: 0px;
  height: 260px;
  width: 260px;
  display: none;
}

.learnmore-link {
  color: white;
  font-family: 'Gotham 5r', sans-serif;
}

.caption-headline {
  color: white;
  padding: 10px 15px 0px 15px;
  text-transform: uppercase;
}

.highlight-description {
  padding: 5px 15px;
}

.learn-button {
  width: 100%;
  background-color: #7665a0;
  height: 30px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding: 3px;
  text-align: center;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  color: white;
}

@media only screen and (max-width: 960px) {
  .highlight-caption {
    display: inline;
    width: 260px;
    background-color: transparent;
  }

  .caption-headline {
    display: none;
  }

  .highlight-description {
    display: none;
  }
}
