@import 'color.scss', 'font.scss', 'breakpoints.scss';

// TODO: clean up these styles once we move to 2024 soon-hoc
#fullwidth {
  overflow: hidden;
  background: url('/images/hoc2023-hero-banner.svg') no-repeat center center;
  background-size: cover;

  &.hoc-2024 {
    background: none; // this overrides the background image from the previous class
    background: linear-gradient(110deg, #6977CD -10.82%, #BCDEDE 43.13%, #34DFE5 68.88%, #688AED 95.85%);
  }

  @media screen and (max-width: $width-sm) {
    background: url('/images/hoc2023-hero-banner-mobile.svg') no-repeat center center;
    background-size: cover;
  }
}

#pageheader {
  background-color: rgba($neutral-white, .9);
}

// TODO: clean up these styles once we move to 2024 soon-hoc
section.banner.homepage,
section.banner {

  .wrapper {
    @media screen and (max-width: $width-md) {
      width: 80%;
    }

    @media screen and (max-width: $width-sm) {
      padding: 1em 0 4em;
      width: 88%;
    }
  }

  p.hoc-label {
    color: #00FFF5;
    font-size: 2.375rem;
    margin-bottom: 0.5rem;

    @media screen and (max-width: $width-sm) {
      font-size: 1.875rem;
    }
  }

  h1 {
    font-size: 4rem;
    margin: 0 auto 0.75rem;
    color: #00FFF5;

    @media screen and (max-width: $width-md) {
      font-size: 3.5em;
    }

    @media screen and (max-width: $width-sm) {
      font-size: 2.75em;
      margin-top: 0;
    }
  }

  p.hero-desc {
    color: $neutral_white;
    font-size: 1.25rem;
    line-height: 1.3;
    margin-bottom: 2rem;

    @media screen and (max-width: $width-sm) {
      font-size: 1.25em;
    }
  }
}

section.banner.homepage {
  padding: 0;

  .wrapper {
    max-width: 800px;
    padding: 2em 0 7em;

    @media screen and (max-width: $width-sm) {
      padding: 3em 0 5em;
    }
  }

  i {
    margin: 0 4px;
  }

  h3 {
    margin-top: 0;
  }

  .side-by-side-cta-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;

    .flex-container {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      gap: 1rem;

      &:first-child {
        border-bottom: 1px solid var(--neutral_dark60);
        padding: 0 0 2rem 0;

        @media (min-width: $width-sm) {
          &:first-child {
            border-bottom: 0;
            border-right: 1px solid var(--neutral_dark60);
            padding: 0 2rem 0 0;

            html[dir="rtl"] & {
              border-right: 0;
              border-left: 1px solid var(--neutral_dark60);
              padding: 0 0 0 2rem;
            }
          }
        }
      }

      a.link-button {
        text-decoration: none;

        &.secondary {
          background-color: #121212;
        }
      }
    }
  }
}

// 2024 soon-hoc hero banner styles
section.banner.homepage.hoc-2024 {

  .wrapper {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  h1, p {
    color: var(--neutral_dark);
  }

  h1 {
    font-size: 3rem;
  }

  a.link-button {
    text-decoration: none;
  }

  figure {
    max-width: 344px;

    img {
      width: 100%;
    }
  }
}

section.banner {
  text-align: center;
  color: $neutral-white;

  .wrapper {
    max-width: 850px;
    margin: 0 auto;
    padding: 2em 0 7em;
  }

  a {
    color: $neutral-white;
    text-decoration: underline;
    @include main-font-semi-bold;

    &.ctabuttonatag {
      text-decoration: none;
    }
  }

  p:last-child {
    margin-bottom: 0;
  }
}
