@import 'color.scss', 'font.scss', 'breakpoints.scss';

#fullwidth {
  overflow: hidden;
  background: url('/images/hoc2023-hero-banner.svg') no-repeat center center;
  background-size: cover;

  @media screen and (max-width: $width-sm) {
    background: url('/images/hoc2023-hero-banner-mobile.svg') no-repeat center center;
    background-size: cover;
  }
}

#pageheader {
  background-color: rgba($neutral-white, .9);
}

section.banner.homepage,
section.banner {

  .wrapper {
    @media screen and (max-width: $width-md) {
      width: 80%;
    }

    @media screen and (max-width: $width-sm) {
      padding: 1em 1em 4em;
      width: 88%;
    }
  }

  p.hoc-label {
    color: #00FFF5;
    font-size: 2.375rem;
    margin-bottom: 0.5rem;

    @media screen and (max-width: $width-sm) {
      font-size: 1.875rem;
    }
  }

  h1 {
    font-size: 4rem;
    margin: 0 auto 0.75rem;
    color: #00FFF5;

    @media screen and (max-width: $width-md) {
      font-size: 3.5em;
    }

    @media screen and (max-width: $width-sm) {
      font-size: 2.75em;
      margin-top: 0;
    }
  }

  p.hero-desc {
    color: $neutral_white;
    font-size: 1.25rem;
    line-height: 1.3;
    margin-bottom: 2rem;

    @media screen and (max-width: $width-sm) {
      font-size: 1.25em;
    }
  }
}

section.banner.homepage {
  padding: 0;

  .wrapper {
    max-width: 800px;
    padding: 2em 0 7em;

    @media screen and (max-width: $width-sm) {
      padding: 3em 1em 5em;
    }
  }

  .button-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;

    .ctabutton {
      background-color: $neutral_white;
      border: 2px solid $neutral_white;
      color: $neutral_dark;

      &.secondary {
        background: none;
        border: 2px solid $neutral_white;
        color: $neutral_white;
      }
    }
  }
}

section.banner {
  text-align: center;
  color: $neutral-white;

  .wrapper {
    max-width: 850px;
    margin: 0 auto;
    padding: 2em 0 7em;
  }

  a {
    color: $neutral-white;
    text-decoration: underline;
    @include main-font-semi-bold;

    &.ctabuttonatag {
      text-decoration: none;
    }
  }

  p:last-child {
    margin-bottom: 0;
  }
}
