@import 'breakpoints';

$border-radius: 4px;

.interest-form {
  background-color: var(--neutral_dark);
  border-radius: $border-radius;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 1rem;

  @media screen and (max-width: $width-md) {
    flex-direction: column;
  }

  @media screen and (max-width: $width-sm) {
    padding: 1.5rem;
  }

  .text-wrapper {
    flex: 1;

    h2, p {
      color: var(--neutral_light);
      margin-top: 0;
    }

    h2 {
      font-weight: var(--semi-bold-font-weight);
    }
  }

  figure {
    flex: 1;
    width: 100%;
    background: var(--neutral_light);
    border-radius: $border-radius;
    padding: 1rem 0 0;

    @media screen and (max-width: $width-sm) {
      iframe {
        height: 410px !important;
      }
    }
  }

  .clear-styles & {
    all: unset;

    h2, p {
      color: var(--neutral_dark);
    }

    figure {
      max-width: 475px;
      width: 100%;
    }
  }
}
