%script{src: webpack_asset_path('js/programming_expressions/index.js'), data: {programmingEnvironmentsForSelect: @environments_for_select.to_json, programmingEnvironments: @programming_environments.to_json, categoriesForSelect: @categories_for_select.to_json}}

#container
