- content_for(:head) do
  = stylesheet_link_tag 'css/pd', media: 'all'

%script{src: webpack_asset_path('js/pd/workshop_enrollment/cancel.js'), data: @script_data}

%h1 Cancel Registration

#workshop-container
  -# populated by React
