%h1
  Teacher Application Is Required

%p
  You must have an accepted application in order to enroll in this workshop. If
  you have completed your application on a different account please sign in to
  that account and then try enrolling again. If you have any questions please
  reach out to
  = mail_to('support@code.org') + '.'
