%h1
  Thank you for registering.

- if params.has_key?(:details)
  = render partial: 'workshop_details'
- else
  %p
    You will receive a confirmation email.

%p
  If you need to cancel, click
  %a{href: @cancel_url}
    = @cancel_url
