%h1
  Thank you for registering

%p
  You will receive a confirmation email.

%p
  If you need to cancel, click
  %a{href: @cancel_url}
    here.
%br
- unless @account_exists
  %h1
    Get a Head Start: Create Your Code.org Account
  %p
    If you don’t have a Code.org account yet, click below
    to create one. You'll need a Code.org account on the day of the workshop.
    You'll use this account to manage your students and view their progress
    when you start teaching, so be sure to use the email you'll use when you
    teach.

  %a{href: url_for('/users/sign_up')}
    %button.primary
      Create account now
