:javascript
  CDOSounds.register({
    id: 'success',
    mp3: '/blockly/media/skins/jigsaw/win.mp3',
    ogg: '/blockly/media/skins/jigsaw/win.ogg'
  });

  CDOSounds.register({
    id: 'failure',
    mp3: '/blockly/media/skins/jigsaw/failure.mp3',
    ogg: '/blockly/media/skins/jigsaw/failure.ogg'
  });

  CDOSounds.register({
    id: 'click',
    mp3: '/blockly/media/click.mp3',
    ogg: '/blockly/media/click.ogg'
  });

  CDOSounds.register({
    id: 'whoosh',
    mp3: '/blockly/media/skins/flappy/sfx_wing.mp3',
    ogg: '/blockly/media/skins/flappy/sfx_wing.ogg'
  });

