-# NOTE: we only show the first contained level for now, but this could be expanded to allow multiple levels
- if @level.long_instructions_format == "multi"
  #contained_levels
    %div{id: "containedLevel0"}
      - if @user && current_user && @user != current_user
        -# load other user's solution for teachers viewing their students' solution
        - sublevel_last_attempt = @user.last_attempt(@level, @script).try(:level_source).try(:data)
      - elsif current_user
        -# load user's previous attempt at this puzzle.
        - sublevel_last_attempt = current_user.last_attempt(@level, @script).try(:level_source).try(:data)

      - if @level.long_instructions_format == "multi"
        = render partial: 'levels/single_multi', locals: {standalone: false, contained_mode: true, last_attempt: sublevel_last_attempt, level: @level, tight_layout: true}
      - elsif @level.long_instructions_format == "text_match"
        = render partial: 'levels/single_text_match', locals: {standalone: false, level: @level }
      - elsif @level.long_instructions_format == "free_response"
        = render partial: 'levels/free_response', locals: {in_level_group: true, last_attempt: sublevel_last_attempt, level: @level, left_align: true, is_contained_level: true }
%div{style: 'clear: both;'}
