.container
  - if @level.markdown_instructions
    %div= render(inline: @level.markdown_instructions, type: :md)

  %h4= link_to @level.link_title, @level.url, target: '_blank'

  %div{style: 'padding-top: 100px'}!= t('external_links.disclaimer_md', support_url: t('landing.support_url'))
