/ Show the correct answer to authorized teachers
- if current_user.try(:should_see_inline_answer?, @script_level)
  #markdown.teacher.hide-as-student
    %h3= t('teacher.answer')
    .content
      .column
        %ul.match_questions
          - level.questions.each do |question|
            %li{style: "height: #{level.height}px"}!= render_multi_or_match_content(question['text'], level)
      .column.match_answerdest
        %ul.match_answers
          - level.answers.each do |answer|
            %li.answer.answerlist{style: "height: #{level.height}px"}!= render_multi_or_match_content(answer['text'], level)
      .clear
