/ Show the correct answer to authorized teachers
- if Policies::InlineAnswer.visible?(current_user, @script_level)
  #markdown.teacher.hide-as-student
    %h3= t('teacher.answer')
    .content
      .column
        %ul.match_questions
          - level.localized_property(:questions).each do |question|
            %li{style: "height: #{level.height}px"}!= render_multi_or_match_content(question['text'])
      .column.match_answerdest
        %ul.match_answers
          - level.localized_property(:answers).each do |answer|
            %li.answer.answerlist{style: "height: #{level.height}px"}!= render_multi_or_match_content(answer['text'])
      .clear
