- content_for(:head) do
  %script{src: webpack_asset_path('js/levels/_match.js')}

= render partial: 'levels/single_match', locals: {standalone: true, level: @level, last_attempt: @last_attempt}

= render partial: 'levels/common_audio'
