/ Show the correct answer to authorized teachers
- if current_user.try(:should_see_inline_answer?, @script_level)
  #markdown.teacher.hide-as-student
    %h3= t('teacher.answer')
    .content
      .column
        %ul#questions
          - data['questions'].each do |question|
            %li{style: "height: #{height}px"}!= match_t(question['text'])
      .column#answerdest
        %ul#answers
          - data['answers'].each do |answer|
            %li.answer.answerlist{style: "height: #{height}px"}!= match_t(answer['text'])
      .clear
