- content_for(:head) do
  %script{src: webpack_asset_path('js/levels/_multi.js')}

= render partial: 'levels/single_multi', locals: {standalone: true, level: @level, last_attempt: @last_attempt, tight_layout: false }

= render partial: 'levels/common_audio'
