= render partial: 'levels/single_multi', locals: {index: 0, standalone: true, level: @level, last_attempt: @last_attempt, tight_layout: false }

= render partial: 'levels/common_audio'

:javascript
  #{render template: 'levels/multi.js', formats: [:js]}
