:javascript
  function getResult() {
    return {
      response: $('.response').val(),
      result: true
    };
  }

#open-response
  %div= ActionView::Base.new.render(inline: @level.markdown_instructions, type: :md)

  - height = @level.height || '80'
  %textarea.response{placeholder: @level.placeholder, style: "width: 700px; height: #{height}px;", readonly: @view_options.readonly_workspace}= @last_attempt

= render partial: 'levels/dialog', locals: {app: 'open_response', data: @level.properties}
