- if @script_level
  - @page_title = @script_level.level.display_name

- level = level || @level
- data = {}
- data[:level] = level.summarize
- data[:last_attempt] = @last_attempt unless local_assigns.has_key? :last_attempt
- data[:appOptions] = app_options

- if level.allow_user_uploads?
  %script{src: webpack_asset_path('js/fileupload/jquery.iframe-transport.js')}
  %script{src: webpack_asset_path('js/fileupload/jquery.fileupload.js')}

%link{href: asset_path('css/common.css'), rel: 'stylesheet', type: 'text/css'}
#codeApp
  %div#question-level
  .question-level

%script{src: webpack_asset_path('js/levels/_question_level.js'), data: {questionlevel: data.to_json}}
