#reference_area.reference_area
  - if current_user && (current_user.teacher? || current_user.admin?) && @level.ideal_level_source_id && @script && @level && @script_level && !@script.hide_solutions?
    .solution_link
      = link_to t('reference_area.teacher'), build_script_level_path(@script_level, solution: true)

  - related_videos = @level.related_videos
  - unless related_videos.empty?
    %p.help_title= t('reference_area.title')
    %p.help_subtitle= t('reference_area.subtitle')
    = render partial: 'levels/video', collection: related_videos
  %div{style: 'clear: both;'}
