#codeApp
  .loading
  .slow_load
    = t(:slow_loading)
    %br
    %a{href: 'javascript: location.reload();'}= t(:try_reloading)

%div{style: 'display: none;'}= render partial: 'levels/reference_area'

%link{href: asset_path('css/common.css'), rel: 'stylesheet', type: 'text/css'}
%link{href: asset_path('css/scratch.css'), rel: 'stylesheet', type: 'text/css'}

%script{src: minifiable_asset_path('js/common.js')}
%script{src: minifiable_asset_path('js/scratch.js'), data: {appoptions: app_options.to_json}}
