%button#greenflag
  Green Flag
%button#stopall
  Stop All
%canvas#scratch-stage
#blocks

:scss
  body {
    background-color: #f2f2f2;
  }
  .scratchCategoryMenu {
    background-color: rgba(221, 221, 221, 0.8);
    .categorySelected {
      background-color: #57e;
      color: #fff;
    }
    .categorySelected:hover {
      color: #fff !important;
    }
  }
  #scratch-stage {
    width: 480px;
    height: 360px;
  }
  #blocks {
    position: absolute;
    left: 40%;
    right: 0;
    top: 50px;
    bottom: 0;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
  }

:javascript
  //<![CDATA[
  //
  //]]>

- content_for :body_scripts do
  %script{src: minifiable_asset_path('js/levels/scratch.js')}
