- content_for(:head) do
  %script{src: webpack_asset_path('js/levels/_teacher_markdown.js')}

/ Teacher only markdown
- if data['teacher_markdown'].present? && can_view_teacher_markdown?
  #markdown.teacher.hide-as-student
    %h3= t('teacher.for_teachers_only')
    / Render markdown text clientside via _teacher_markdown.js
    .content.markdown-container{data: {markdown: data['teacher_markdown']}}
