/ Teacher only markdown
- if data['teacher_markdown'].present? && can_view_teacher_markdown?
  #markdown.teacher.hide-as-student
    %h3= t('teacher.for_teachers_only')
    / Render markdown text through the ActionView template engine.
    .content
      = ActionView::Base.new.render(inline: data['teacher_markdown'], type: :md)
