- data = {}
- data[:script_name] = @script.name
- data[:script_id] = @script.id
- data[:section] = @section&.summarize

- content_for(:head) do
  %script{src: minifiable_asset_path('js/levels/_teacher_panel.js'), data: {teacherpanel: data.to_json }}
