- data = {}
- data[:script_name] = @script.name
- data[:script_id] = @script.id
- data[:lesson_extra] = @lesson_extras

- if @lesson_extras
  - data[:page_type] = 'lesson_extras'
- else
  - data[:page_type] = 'level' if @level.present?

- content_for(:head) do
  %script{src: webpack_asset_path('js/levels/_teacher_panel.js'), data: {teacherpanel: data.to_json }}
