.text-match
  - data = @level.properties
  - app = 'text_match'

  .mainblock
    = render partial: 'levels/content', locals: {app: app, data: data}
    %textarea.response{placeholder: data['placeholder'] ? string_or_image(app, data['placeholder']) : t(app + '.placeholder'), style: 'width: 700px'}
    = render partial: 'levels/dialog', locals: {app: app, data: data}
  .clear

= render partial: 'levels/common_audio'

:javascript
  function getResult()
  {
    var response = $('textarea.response').val().replace(/\s+/g, '');
    var result = #{data['answers'].to_json}.some(function(element) {
      return response == element.replace(/\s+/g, '');
    });
    return {
      response: response,
      result: result
    };
  }
