= render partial: 'levels/single_text_match', locals: {index: 0, standalone: true, level: @level, last_attempt: @last_attempt }

= render partial: 'levels/common_audio'

:javascript
  #{render template: 'levels/textMatch.js', formats: [:js]}
