- data = {is_instructor: @script&.can_be_instructor?(@current_user), is_instructor_in_training: @script_level.view_as_instructor_in_training?(@current_user)}
- content_for(:head) do
  %script{src: webpack_asset_path('js/levels/_text_match.js'), data: {textmatch: data.to_json}}

= render partial: 'levels/single_text_match', locals: {standalone: true, level: @level, last_attempt: @last_attempt }

= render partial: 'levels/common_audio'
