= link_to('#', data: video.summarize, :class => 'video_link') do
  = image_tag(asset_url(video.thumbnail_path), id: 'thumbnail_' + video.youtube_code, class: 'video_thumbnail')
  .video_name
    %span= data_t('video.name', video.key)
- if video_counter.odd?
  .clear
