- content_for(:head) do
  = javascript_include_tag 'js/leveltype_widget'
  %link{rel: 'stylesheet', href: asset_path('blockly/css/common.css')}
  = stylesheet_link_tag 'css/leveltype_widget', media: 'all'

= render partial: 'levels/dialog', locals: {app: 'external', data: @level.properties}

#external
  / Load the external file through ActionView templates.
  - href = asset_path(@level.properties['href'])
  = ActionView::Base.new('public', {}, ActionController::Base.new).render(file: href)

.clear
