<%- # Embedded Blockly block html template. Derived from /blockly/src/templates/readonly.html.ejs, converted to erb %>
<%-
  options = local_assigns
  options[:pretty] = Rails.configuration.pretty_apps ? '' : '.min'
%>
<!DOCTYPE html>
<html dir="<%= locale_dir %>">
<head>
  <meta charset="utf-8">
  <title>Blockly</title>
  <%= javascript_include_tag 'application' %>
</head>
<body class="readonly embed-block">
  <div id="codeWorkspace"></div>
  <script type="text/javascript" src="/shared/js/shared.js"></script>
  <script>
    var appOptions = <%= raw options.to_json %>;
    loadApp(function () {
      window[appOptions.app + 'Main'](appOptions);
    });
  </script>
</body>
</html>
