@import 'color.scss';
@import 'font.scss';
@import '@cdo/apps/componentLibrary/common/styles/mixins';

.containerWithMarginTop {
  margin-top: 40px;
}

.withBorderTop {
  border-top: 1px solid $neutral_dark20;
}

.withBorderBottom {
  border-bottom: 1px solid $neutral_dark20;
}

p.noMarginBottomParagraph {
  margin-bottom: 0;
}

input.classNameTextField {
  width: 100%;
  box-sizing: border-box;
  height: unset;
  border: 1px solid $neutral_dark;

  @include main-font-regular;
  line-height: 1.5;
  font-size: 1em;

  &:invalid:focus {
    border-color: $neutral_dark;
    box-shadow: unset;
    color: $neutral_dark;
  }
}

label.typographyLabelTwo {
  @include label-two;
}

.buttonsContainer {
  display: flex;
  justify-content: flex-end;

  button {
    font-size: 16px;
  }
}

.splitButtonsContainer {
  justify-content: flex-end;

  button {
    font-size: 16px;
  }
}

.buttonLeft {
  float: left;
}

.buttonRight {
  float: right;
}

.buttonRow {
  position: relative;
  display: flex;
  flex-direction: column;
}

.buttonsInRow {
  display: flex;
  align-items: center;
}

.buttonsInRow .buttonStyle {
  background-color: $white;
  padding: 10px;
  color: inherit;
  border: none;
  font-size: 14px;

  &:active {
    // !important to overwrite button:active styles in app/assets/stylesheets/application.scss
    border: none !important;
  }
}

.buttonsInRow .buttonStyle.activeMarketingAudienceButton {
  color: $brand_primary_default;
  border-bottom: 2px solid $brand_primary_default;
  border-radius: 0;
}

.buttonsInRow .buttonStyle:hover {
  color: $brand_primary_default;
}

.flexDisplay {
  display: flex;
}

.input .inputBox {
  float: right;
  margin-top: 15px;
}

.withBrandAccentColor {
  accent-color: $brand_primary_default;
}

.decideLater {
  float: right;
  margin: 10px 5px 0 5px;
  font-size: 16px;
}

.table {
  background-color: $neutral_dark10;
  margin: 4px;
  flex: 1 1 0px;
}

.headerRow {
  background-color: $brand_primary_default;
  color: $white;
  height: 47px;
}

.headerCell {
  padding: 12px;

  h4 {
    color: $neutral_white;
    margin-bottom: 0;
    margin-left: 10px;
  }
}

.tableBody {
  padding: 10px;
  display: grid;
}

.courseTableRow {
  &:not(:first-child) {
    margin-top: 40px;
  }
}

.courseHeaders {
  position: relative;
  left: 10px;
}

.courseOption {
  margin-top: 20px;
  align-items: baseline;
}

.flexDisplay .radio {
  margin: 0 0 0 0;
}

.courseOptionLabel {
  margin: 0 10px 0 5px;
}

.unitDropdown {
  @include main-font-semi-bold;
  font-size: 16px;
  margin: 4px 0 0 10px;
  padding: 0.3em;
}

button.advancedSettingsButton {
  margin: 5px;
  font-size: unset;

  i {
    color: $neutral_dark;
    margin-right: 10px;
  }

  h3 {
    display: inline-block;
    margin-top: 0.5em;
  }
}

.celebrationDialogBody {
  padding: 36px;
  font: $barlowSemiCondensed-medium;

  h1 {
    margin-bottom: 0;
  }
}

.celebrationDialogBody .celebrationGif {
  margin: 14px;
}

.celebrationDialogFooter {
  padding-right: 36px;
  padding-bottom: 36px;
  padding-left: 0;
  padding-top: 0;
  display: flex;
  justify-content: flex-end;
}

.textPopUp {
  cursor: pointer;
}

.toolTipContainer {
  display: flex;
  align-items: center;
  margin-bottom: 8px;

  button {
    .toggle-display {
      margin-left: 5px;
    }
  }
}
