@import 'font.scss';
@import '@code-dot-org/component-library-styles/mixins';

.withBorderTop {
  border-top: 1px solid var(--borders-neutral-primary);
}

.withBorderBottom {
  border-bottom: 1px solid var(--borders-neutral-primary);
}

.sectionHeader {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
}

p.noMarginBottomParagraph {
  margin-bottom: 0;
}

.skeletonTextField {
  width: 100%;
  box-sizing: border-box;
  height: 31px;
  border-radius: 4px;
  margin-bottom: 4px;
}

.typographyLabelTwo {
  @include label-two;
  display: block;
}

.sectionNameTextField {
  width: 100%;
  margin-bottom: 1rem;

  input {
    width: 100%;
  }
}

.buttonsContainer {
  display: flex;
  justify-content: flex-end;

  button {
    font-size: 16px;
  }
}

.splitButtonsContainer {
  justify-content: flex-end;
  padding: 5px;

  button {
    font-size: 16px;
  }
}

.buttonLeft {
  float: left;
}

.buttonRight {
  float: right;
}

.buttonRow {
  position: relative;
  display: flex;
  flex-direction: column;
}

.buttonsInRow {
  display: flex;
  align-items: center;
}

.buttonsInRow .buttonStyle {
  background-color: var(--background-neutral-primary);
  padding: 10px;
  color: var(--text-neutral-primary);
  border: none;
  font-size: 14px;
  margin: 2px;

  &:active {
    // !important to overwrite button:active styles in app/assets/stylesheets/application.scss
    border: none !important;
  }

  &:focus-visible {
    outline: 2px solid var(--borders-brand-teal-primary);
    color: var(--text-brand-teal-primary);
    outline-offset: 2px;
    border-radius: 2px;
  }
}

.buttonsInRow .buttonStyle.activeMarketingAudienceButton {
  color: var(--text-brand-teal-primary);
  border-bottom: 2px solid var(--borders-brand-teal-primary);
  border-radius: 0;

  &:focus-visible {
    border-radius: 2px;
  }
}

.buttonsInRow .buttonStyle:hover {
  background-color: var(--background-neutral-primary);
  color: var(--text-brand-teal-primary);
}

.flexDisplay {
  display: flex;
}

.decideLaterCheckbox {
  float: right;
  margin: 10px 5px 0 5px;
}

.table {
  background-color: var(--background-neutral-secondary);
  margin: 4px;
  flex: 1 1 0px;
}

.headerRow {
  background-color: var(--background-brand-teal-primary);
  color: var(--text-neutral-inverse);
  height: 47px;
}

.headerCell {
  padding: 12px;

  h4 {
    color: var(--text-neutral-inverse);
    margin-bottom: 0;
    margin-left: 10px;
  }
}

.tableBody {
  padding: 10px;
  display: grid;
}

.courseTableRow {
  &:not(:first-child) {
    margin-top: 40px;
  }
}

.courseHeaders {
  position: relative;
  left: 10px;
}

.courseOption {
  margin-top: 20px;
  align-items: center;
}

.unitDropdown {
  @include main-font-semi-bold;
  font-size: 16px;
  margin: 4px 0 0 10px;
  padding: 0.3em;
}

.unitDropdownLabel {
  margin-bottom: 7px;
}

button.advancedSettingsButton {
  margin: 5px;
  font-size: unset;

  i {
    color: var(--text-neutral-primary);
    margin-right: 10px;
  }

  h3 {
    display: inline-block;
    margin-top: 0.5em;
  }

  &:focus-visible {
    outline: 2px solid var(--borders-brand-teal-primary);
    outline-offset: 2px;
    border-radius: 2px;
  }
}

.celebrationDialogBody {
  padding: 36px;
  font-family: var(--font-family-barlow-semi-condensed-medium);

  h1 {
    margin-bottom: 0;
  }
}

.celebrationDialogBody .celebrationGif {
  margin: 14px;
}

.celebrationDialogFooter {
  padding-right: 36px;
  padding-bottom: 36px;
  padding-left: 0;
  padding-top: 0;
  display: flex;
  justify-content: flex-end;
}

.toolTipContainer {
  display: flex;
  align-items: center;
  margin-bottom: 8px;

  button {
    .toggle-display {
      margin-left: 5px;
    }
  }
}

.taImage {
  margin-left: 5px;
  margin-top: -5px;
}

.loadingSpinner {
  margin-bottom: 16px;
}
