@import 'color';

.card {
  display: flex;
  width: 290px;
  height: 56px;
  overflow: hidden;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #D4D5D7;
}

.cardText {
  display: flex;
  flex-flow: column;
}

.logo {
  width: 40px;
  height: 40px;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.lmsInstructionsLink {
  margin-right: auto;
}

.title {
  margin-bottom: 4px;
}