%div.feature_grid
  %table{border: 1, cellpadding: 5}
    %tr
      %td
      %td
        DEFAULT
      - for script_name in script_names
        %td
          = script_name
    - for feature in feature_names
      %tr
        %td.heading
          = feature
        %td
          = boolean_checkmark FeatureModeManager.allows(Gatekeeper, mode, feature, nil)
        - for script in script_names
          %td
            = boolean_checkmark FeatureModeManager.allows(Gatekeeper, mode, feature, script)

