%div.flex-container.justify-space-between.align-items-center
  %figure.col-50
    %img.rounded-corners{src: "/images/resources-tabs-assessments.png", alt: "", style: "position: relative; width: 100%;"}
  .text-wrapper.col-45{style: "float: right"}
    %h3=hoc_s(:donate_tabs_amazon_title)
    %p=hoc_s(:donate_tabs_amazon_desc)
