%div.flex-container.justify-space-between.align-items-center
  %figure.action-wrapper.col-50.flex-container.justify-center
    .classy-inline-embed
  .text-wrapper.col-45{style: "float: right"}
    %h3=hoc_s("donate_page.options.contribute.title")
    %p.no-margin-bottom.has-external-link
      =hoc_s("donate_page.options.contribute.desc", markdown: :inline, locals:{system_url: "https://donate.code.org/campaign/support-computer-science-education/c172233"})
