%div.flex-container.justify-space-between.align-items-center
  %figure.action-wrapper.col-50.flex-container.justify-center
    :javascript
      _dafdirect_settings="460858543_2011_4c0f3ec3-bb31-485f-9544-25528b79d56a"
    %script{src: "https://www.dafdirect.org/ddirect/dafdirect4.js", type: "text/javascript"}
  .text-wrapper.col-45{style: "float: right"}
    %h3=hoc_s(:donate_tabs_daf_direct_title)
    %p.no-margin-bottom
      =hoc_s(:donate_tabs_daf_direct_desc)
