%div.flex-container.justify-space-between.align-items-center
  %figure.action-wrapper.col-50.flex-container.justify-center
    = view :donate_amazon
  .text-wrapper.col-45{style: "float: right"}
    %h3=hoc_s(:donate_tabs_amazon_title)
    %p.no-margin-bottom
      =hoc_s(:donate_tabs_amazon_desc)
