---
title: Tools
theme: responsive_full_width
---

%link{href: "/css/generated/design-system-pegasus.css", rel: "stylesheet"}
%link{href: "/css/generated/page/tools-styles.css", rel: "stylesheet"}

%section.hero-banner-basic.overlay
  .wrapper.grid-container.justify-space-between.align-items-center.gap-4.wider-text
    .text-wrapper
      %h1.white
        =hoc_s("tools_page.heading")
      %p.body-two.white
        =hoc_s("tools_page.desc")
    %figure
      %img{src: "/images/tools/super-nova.png", alt: "", style: "width: 100%; border-radius: 4px"}
