- content_for(:head) do
  = stylesheet_link_tag 'css/pd', media: 'all'

%p
  Thanks for your interest in the Facilitator Development Program!
  Applications to join the Facilitator Development Program are no longer being accepted this year.
  Please check back again next year to apply.
  If you’d like more information about the program, please check out the
  = link_to('facilitator development program description', @facilitator_program_url) + '.'
