= stylesheet_link_tag 'css/pd', media: 'all'
%script{src: minifiable_asset_path('js/pd/application/facilitator_application/new.js'), data: @script_data}

%h1
  2018-2019 Code.org Facilitator Application

%p
  Thanks for your interest in the Code.org Facilitator Development Program!
%p
  This application should take 30 - 45 minutes to complete, and includes both multiple choice as well as free response questions.
  If you need more information on the program before you apply, please visit
  = link_to('https://code.org/educate/facilitator') + '.'
  If you have questions regarding the Facilitator program or application, please contact
  = mail_to('facilitators@code.org') + '.'

%p
  The deadline to apply is Dec. 1, 2017.

#application-container
  -# populated by React
