= stylesheet_link_tag 'css/pd', media: 'all'
%script{src: webpack_asset_path('js/pd/application/facilitator_application/new.js'), data: @script_data}

%h1
  2019-2020 Code.org Facilitator Application

#application-container
  -# populated by React
