---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=1%20Embarcadero%20Blvd%20SF%20CA&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "1",
                       "short_name" : "1",
                       "types" : [ "subpremise" ]
                    },
                    {
                       "long_name" : "220",
                       "short_name" : "220",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "Sansome Street",
                       "short_name" : "Sansome St",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Financial Distr[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=123%20Post%20Road%20Westport%20CT&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
   [...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=123,%20Post%20Road,%20Westport,%20CT&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=123,%20Post%20Road,%20Westport,%20CT%20and%20other%20stuff&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "ad[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=1st%202%20and%203rd%20person%20in%20California&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "California",
                       "short_name" : "CA",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "California, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 42.0095169,
                          "lng" : -114.1313926
                       },
                       "southwest" : {
                          "lat" : 32.5342643,
                          "lng" : -124.415165
                       }
                    },
                    "location" : {
                       "lat" : 36.778261,
                       "lng" : -119.4179324
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 42.0095169,
                          "lng" : -114.1313926
                       },
                       "southwest" : {
                          "lat" : 32.5342643,
                          "lng" : -124.415165
                       }
                    }
                 },
                 "partial_match" : true,
                 "place_id" : "ChIJPV4oX_65j4ARVW8IJ6IJUYs",
                 "types" : [ "administrative_area_level_1", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Tue, 19 Jan 2016 00:12:01 GMT
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=3%20Rover%20Road%20in%20Christmasville%20MA%2012346&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [],
           "status" : "ZERO_RESULTS"
        }
  recorded_at: Tue, 19 Jan 2016 00:12:01 GMT
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=1500000001230b&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [],
           "status" : "ZERO_RESULTS"
        }
  recorded_at: Tue, 19 Jan 2016 00:12:02 GMT
recorded_with: VCR 3.0.0
