
%section.steps
  .wrapper
    = view :"how-to/steps/side-nav/side_nav_educators"
    %div.steps-wrapper
      .step
        .step-counter
          %span 1
        .step-content
          %h3
            Select an event time and space that works for the number of students and devices you have available.
          %p
            What spaces are available for you to do your Hour of Code? Consider the tech capabilities of your space, and the kinds of devices you expect your students to work on. Students can work on tutorials on a single device, take turns using a shared device, or try a tutorial together on a classroom whiteboard. There are even unplugged tutorials that can be completed with no devices at all. Unplugged options can be done anywhere—even outdoors!
          %p
            People around the world join the Hour of Code celebration during CS Education Week (December 4-8) when the latest tutorials and activities are released. But you can do an Hour of Code any day of the year!
          %img{src: "/images/group_ipad.jpg", alt: ""}
      .step
        .step-counter
          %span 2
        .step-content
          %h3
            Select an event time and space that works for the number of students and devices you have available.
          %p
            What spaces are available for you to do your Hour of Code? Consider the tech capabilities of your space, and the kinds of devices you expect your students to work on. Students can work on tutorials on a single device, take turns using a shared device, or try a tutorial together on a classroom whiteboard. There are even unplugged tutorials that can be completed with no devices at all. Unplugged options can be done anywhere—even outdoors!
          %p
            People around the world join the Hour of Code celebration during CS Education Week (December 4-8) when the latest tutorials and activities are released. But you can do an Hour of Code any day of the year!
          %img{src: "/images/group_ipad.jpg", alt: ""}
      .step
        .step-counter
          %span 3
        .step-content
          %h3
            Select an event time and space that works for the number of students and devices you have available.
          %p
            What spaces are available for you to do your Hour of Code? Consider the tech capabilities of your space, and the kinds of devices you expect your students to work on. Students can work on tutorials on a single device, take turns using a shared device, or try a tutorial together on a classroom whiteboard. There are even unplugged tutorials that can be completed with no devices at all. Unplugged options can be done anywhere—even outdoors!
          %p
            People around the world join the Hour of Code celebration during CS Education Week (December 4-8) when the latest tutorials and activities are released. But you can do an Hour of Code any day of the year!
      .step
        .step-counter
          %span 4
        .step-content
          %h3
            Select an event time and space that works for the number of students and devices you have available.
          %p
            What spaces are available for you to do your Hour of Code? Consider the tech capabilities of your space, and the kinds of devices you expect your students to work on. Students can work on tutorials on a single device, take turns using a shared device, or try a tutorial together on a classroom whiteboard. There are even unplugged tutorials that can be completed with no devices at all. Unplugged options can be done anywhere—even outdoors!
          %p
            People around the world join the Hour of Code celebration during CS Education Week (December 4-8) when the latest tutorials and activities are released. But you can do an Hour of Code any day of the year!
      .step
        .step-counter
          %span 5
        .step-content
          %h3
            Select an event time and space that works for the number of students and devices you have available.
          %p
            What spaces are available for you to do your Hour of Code? Consider the tech capabilities of your space, and the kinds of devices you expect your students to work on. Students can work on tutorials on a single device, take turns using a shared device, or try a tutorial together on a classroom whiteboard. There are even unplugged tutorials that can be completed with no devices at all. Unplugged options can be done anywhere—even outdoors!
          %p
            People around the world join the Hour of Code celebration during CS Education Week (December 4-8) when the latest tutorials and activities are released. But you can do an Hour of Code any day of the year!
      .step
        .step-counter
          %span 6
        .step-content
          %h3
            Select an event time and space that works for the number of students and devices you have available.
          %p
            What spaces are available for you to do your Hour of Code? Consider the tech capabilities of your space, and the kinds of devices you expect your students to work on. Students can work on tutorials on a single device, take turns using a shared device, or try a tutorial together on a classroom whiteboard. There are even unplugged tutorials that can be completed with no devices at all. Unplugged options can be done anywhere—even outdoors!
          %p
            People around the world join the Hour of Code celebration during CS Education Week (December 4-8) when the latest tutorials and activities are released. But you can do an Hour of Code any day of the year!
      .step
        .step-counter
          %span 7
        .step-content
          %h3
            Select an event time and space that works for the number of students and devices you have available.
          %p
            What spaces are available for you to do your Hour of Code? Consider the tech capabilities of your space, and the kinds of devices you expect your students to work on. Students can work on tutorials on a single device, take turns using a shared device, or try a tutorial together on a classroom whiteboard. There are even unplugged tutorials that can be completed with no devices at all. Unplugged options can be done anywhere—even outdoors!
          %p
            People around the world join the Hour of Code celebration during CS Education Week (December 4-8) when the latest tutorials and activities are released. But you can do an Hour of Code any day of the year!
      .step
        .step-counter
          %span 8
        .step-content
          %h3
            Select an event time and space that works for the number of students and devices you have available.
          %p
            What spaces are available for you to do your Hour of Code? Consider the tech capabilities of your space, and the kinds of devices you expect your students to work on. Students can work on tutorials on a single device, take turns using a shared device, or try a tutorial together on a classroom whiteboard. There are even unplugged tutorials that can be completed with no devices at all. Unplugged options can be done anywhere—even outdoors!
          %p
            People around the world join the Hour of Code celebration during CS Education Week (December 4-8) when the latest tutorials and activities are released. But you can do an Hour of Code any day of the year!
