
%section.steps
  .wrapper
    = view :"how-to/steps/side-nav/side_nav_educators"
    %div.steps-wrapper
      .step
        .step-counter
          %span 1
        .step-content
          %h3.heading-xl
            Plan where and when you'll do your Hour of Code
          %p.heading-sm
            Select an event time and space that works for the number of students and devices you have available.
          %p
            What spaces are available for you to do your Hour of Code? Consider the tech capabilities of your space, and the kinds of devices you expect your students to work on. Students can work on tutorials on a single device, take turns using a shared device, or try a tutorial together on a classroom whiteboard. There are even unplugged tutorials that can be completed with no devices at all. Unplugged options can be done anywhere—even outdoors!
          %p
            People around the world join the Hour of Code celebration during CS Education Week (December 4-8) when the latest tutorials and activities are released. But you can do an Hour of Code any day of the year!
          %img{src: "/images/group_ipad.jpg", alt: ""}
      .step
        .step-counter
          %span 2
        .step-content
          %h3.heading-xl
            Choose your activity
          %p
            Explore activities based on your group's age, experience, interests, and more. It's popular for students to try self-led tutorials, though many activities include lesson plans for teachers to guide discussion or extend the activity as well.
          %p
            Decide ahead of time if you want to choose a single tutorial for all of your students, or let each child pick their own.
          %p
            This year, you and your students can learn all about AI through tutorials, lesson plans, and our new How AI Works video series.
          %img{src: "/images/activites_2023.jpg", alt: ""}
          .button-wrapper
            %a.link-button{href: "/learn"}
              Select an activity
            %a.link-button.secondary{href: "#"}
              Explore AI
      .step
        .step-counter
          %span 3
        .step-content
          %h3.heading-xl
            Test out your activity
          %p
            Try out the tutorial yourself before you get into the classroom so you can answer questions!
          %p
            You can also test tutorials on student computers or devices to ensure they support sound and video. Have low bandwidth? Plan to show videos at the front of the class, so each student isn't downloading their own videos.
          %p
            Consider providing headphones for your class, or ask students to bring their own, if the tutorial you choose works best with sound.

      .step
        .step-counter
          %span 4
        .step-content
          %h3.heading-xl
            Register your event
          %p
            When you register your Hour of Code event, you'll receive helpful emails with news and tips for hosting a successful Hour of Code. It's also how you can let local volunteers know your school is participating. Volunteers are a great resource and can come speak to your class about computer science or help your students with Hour of Code activities.
          %p
            People around the world join the Hour of Code celebration during CS Education Week (December 4-8) when the latest tutorials and activities are released. But you can do an Hour of Code any day of the year!
          %a.link-button{href: "/#join"}
            Register your event
      .step.divider-accent
        .step-counter
          %span 5
        .step-content
          %h3.heading-xl
            Tell your students, school, and community
          %p
            Get your students excited for the event by sharing inspirational videos highlighting diverse people and creative ways that computer science can be used in the real world.
          %p
            Share your Hour of Code plans with other teachers who may want to join in on the fun! This is also a great opportunity to reach out to your school's Parent Teacher Student Association or share in parent newsletters, letting them know what their children are learning.
      .step
        %p.tag.day-of
          Day of Hour of Code
        .step-counter
          %span 6
        .step-content
          %h3.heading-xl
            Get coding!
          %p
            Direct your students to the activity, maybe by sharing the link on the board or through your classroom's learning management system. Your students may encounter challenges—that's okay! Learning to program is like learning a new language; you won't be fluent right away. If you don't know the answer, you can figure it out together.
          %a.link-button{href: "/learn"}
            Register your event
      .step.divider-accent
        .step-counter
          %span 7
        .step-content
          %h3.heading-xl
            Celebrate
          %p
            Be sure to celebrate success! Share photos and videos of your Hour of Code event on social media. Use #HourOfCode and @codeorg so we can highlight your success, too!
          %p
            You can also print certificates for your students to show off their achievement!
          %a.link-button{href: "https://code.org/certificates"}
            Certificates
      .step
        %p.tag.day-of
          After Hour of Code
        .step-counter
          %span 8
        .step-content
          %h3.heading-xl
            Beyond Hour of Code
          %p.heading-sm
            It doesn't end here!
          %p
            Computer science doesn't have to end with the Hour of Code! While 90% of parents want their child to learn computer science, most schools still don't teach it. Learn how to bring CS to your child's school today.
          %a.link-button{href: "/beyond"}
            Go Beyond the Hour of Code
