%p#notice= notice

%p
  %strong Course Name:
  = @professional_learning_course.name

= link_to 'Edit', edit_professional_learning_course_path(@professional_learning_course)
\|
= link_to 'Back', professional_learning_courses_path
