@import 'breakpoints';

section.driving-change {

  .stat-box {
    background: var(--neutral_white);
    border: 1px solid var(--neutral_dark20);
    border-radius: 4px;
    border-top: 0.5rem solid var(--brand_primary_default);
    padding: 1.5rem 2rem;
    flex: 1;
  }

  p.heading-xxl {
    color: var(--brand_primary_default);
  }

  p.location {
    text-transform: uppercase;
    font-weight: var(--semi-bold-font-weight);
    margin: 1.5rem 0;

    span {
      color: var(--brand_accent_default)
    }
  }
}

section.admins-pl {

  ul.icon-bullet-list {
    margin: 0;
    width: 45%;

    @media screen and (max-width: $width-md) {
      width: 100%;
    }
  }

  figure {
    background: url("/images/admins-page-pl.png") center no-repeat;
    background-size: cover;
    height: auto;
    flex: 1;
    margin: 1.5rem 0;

    @media screen and (max-width: $width-md) {
      height: 28rem;
      margin-bottom: 0;
    }

    @media screen and (max-width: $width-sm) {
      height: 20rem;
    }
  }
}

section.resources {

  h2, p.desc {
    text-align: center;
  }
}
