section.top {

  li {
    display: flex;
    justify-content: start;
    gap: 0.5rem;

    &::before {
      font: var(--fa-font-solid);
      content: "\f058";
      margin-top: 3px;
    }
  }
}

section#eligibility {
  .form, .requirements {
    background-color: var(--neutral_white);
    border: 1px solid var(--neutral_dark20);
  }

  .form {
    flex: 2.5;
  }

  .requirements {
    flex: 1;
    padding: 2rem;

    h3 {
      margin-bottom: 1.5rem;
    }

    p {
      margin: 0;

      &:last-child {
        color: var(--neutral_dark70);
        margin-top: 1rem;
      }
    }

    // Styles for the "OR" divider line between paragraphs
    .or-divider {
      position: relative;
      text-align: center;
      margin: 0.75rem 0;

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        height: 1px;
        background: var(--neutral_dark20);
        z-index: 0;
      }

      p {
        position: relative;
        display: inline-block;
        font-weight: 500;
        font-size: 0.625rem;
        text-transform: uppercase;
        margin: 0 4px 0;
        padding: 5px 5px 4px;
        border: 1px solid var(--neutral_dark20);
        border-radius: 50%;
        outline: 4px solid var(--neutral_white);
        z-index: 1;
        background: var(--neutral_white);
      }
    }
  }
}
