// Custom styles for code.org/educate/csd
// — supplemental to shared/css/design-system-pegasus.scss

@import 'color', 'font', 'typography', 'breakpoints', 'barlow-semi-condensed-font';

.hero-banner-basic {

  &.overlay {
    position: relative;
    width: 100%;
    height: 100%;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(125deg, #401164 45%, #9660BF 100%);
      z-index: 1;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url('/images/banners/banner-bg-arrow-dots-light.png');
      background-repeat: repeat;
      background-size: contain;
      z-index: 2;
    }
  }

  @media screen and (max-width: $width-sm) {
    background-size: 50%;
  }

  .wrapper {
    position: relative;
    z-index: 10;
  }

  .text-wrapper {
    width: 68%;

    @media screen and (max-width: $width-sm) {
      width: 100%;
    }
  }

  figure {
    width: 25%;

    @media screen and (max-width: $width-sm) {
      display: none;
    }

    img {
      width: 100%;
    }
  }

  a.link-button {
    background-color: $neutral-white;
    border-color: $neutral-white;
    color: $neutral-dark;
  }
}
