// Custom styles for code.org/donate
// — supplemental to shared/css/design-system-pegasus.scss

@import "color", "font", "typography", "breakpoints",
  "barlow-semi-condensed-font";

section.top {
  .flex-container {
    gap: 1rem;
  }
}

section.fundraise {
  background: url("/images/banners/banner-bg-lines-neutral-dark.png") center
    repeat;
  background-size: 10rem;
  background-color: $neutral-dark;

  h2,
  p {
    color: $neutral-white;
  }
}

section.donate-options {
  @media screen and (max-width: $width-md) {
    .wrapper > hr {
      display: none;
    }
  }

  .tabs-section {
    min-height: 307px;
    margin-bottom: 3rem;

    button.tab {
      flex: 1;
    }

    @media screen and (max-width: $width-md) {
      margin-bottom: 2rem;
    }

    #dafdirectdiv {
      width: 262px !important;

      .dafdirectInput,
      .dafdirectSelect {
        margin: 0 !important;
      }

      .dafdirectInputAmount > br {
        display: none !important;
      }
    }
  }
}

section.supporters {
  .logos {
    margin-block: 3rem;
    gap: 3rem;

    img {
      width: 100px;
      align-self: center;
    }
  }
}

section.seals {
  @media screen and (max-width: $width-sm) {
    padding: 0;
  }
}
