// Custom styles for code.org/donate
// — supplemental to shared/css/design-system-pegasus.scss

@import "breakpoints";

section.top {
  .flex-container {
    gap: 1rem;
  }
}

section.donate-options {
  @media screen and (max-width: $width-md) {
    .wrapper > hr {
      display: none;
    }
  }

  .tabs-section {
    min-height: 307px;
    margin-bottom: 3rem;

    button.tab {
      flex: 1;
    }

    @media screen and (max-width: $width-md) {
      margin-bottom: 2rem;
    }

    #dafdirectdiv {
      width: 262px !important;

      .dafdirectInput,
      .dafdirectSelect {
        margin: 0 !important;
      }

      .dafdirectInputAmount > br {
        display: none !important;
      }
    }
  }
}

.logos-wrapper img {
  width: 100px;
}

section.spread-the-word {
  div.content-wrapper {
    gap: 2rem;
  }

  ul.icon-bullet-list {
    margin: 0;
    width: 57%;

    @media screen and (max-width: $width-md) {
      width: 100%;
    }
  }

  figure {
    background: url("/images/help-page-spread-word.png") center no-repeat;
    background-size: cover;
    height: auto;
    flex-grow: 1;
    margin: 1.5rem 0;

    @media screen and (max-width: $width-md) {
      height: 28rem;
      margin-bottom: 0;
    }

    @media screen and (max-width: $width-sm) {
      height: 20rem;
    }
  }
}

section.seals {
  @media screen and (max-width: $width-sm) {
    padding: 0;
  }
}
