@import 'color', 'font', 'typography', 'breakpoints', 'barlow-semi-condensed-font';

section.hero-banner-basic {
  &.overlay {
    position: relative;
    width: 100%;
    height: 100%;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(90deg, #000000, #37283d 60%, #185960 100%);
      z-index: 1;

      @media (max-width: $width-sm) {
        background: linear-gradient(180deg, #000000, #37283d 60%, #185960 100%);
      }
    }
  
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url('/images/banners/banner-bg-music.png');
      background-repeat: repeat-x;
      background-size: cover;
      z-index: 2;
    }
  }
  
  @media screen and (max-width: $width-sm) {
    background-size: 50%;
  }
  
  .wrapper {
    position: relative;
    z-index: 10;

    @media screen and (max-width: $width-md) {
      gap: 2rem;
    }
  }

  .text-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    .link-button {
      width: fit-content;
    }
  }

  .afe {
    gap: 0.5rem;

    & > figure {
      width: 200px;
    }
  }

  img {
    width: 100%;
  }
}
