// Custom styles for code.org/help
// — supplemental to shared/css/design-system-pegasus.scss

@import 'color', 'font', 'typography', 'breakpoints', 'barlow-semi-condensed-font';

section.speak-for-cs,
section.shop {
  background: url("/images/banners/banner-bg-lines-neutral-dark.png") center repeat;
  background-size: 12rem;
  background-color: $neutral_dark;
}

section.shop {

  .wrapper {
    max-width: 1100px;
  }

  img {
    width: 120px;
    height: 120px;
  }

  .text-wrapper {
    width: 46%;

    @media screen and (max-width: 1131px) {
      width: 40%;
    }

    @media screen and (max-width: $width-md) {
      width: 100%;
    }
  }
}

section.spread-the-word {

  div.content-wrapper {
    gap: 2rem;
  }

  ul.icon-bullet-list {
    margin: 0;
    width: 57%;

    @media screen and (max-width: $width-md) {
      width: 100%;
    }
  }

  figure {
    background: url("/images/help-page-spread-word.png") center no-repeat;
    background-size: cover;
    height: auto;
    flex-grow: 1;
    margin: 1.5rem 0;

    @media screen and (max-width: $width-md) {
      height: 28rem;
      margin-bottom: 0;
    }

    @media screen and (max-width: $width-sm) {
      height: 20rem;
    }
  }
}
