section.top {
  .text-wrapper {
    padding: 1.5rem 1.5rem 0 0;
  }

  img {
    width: 90%;
  }
} 

.lms-systems {
  .provider-card {
    img {
      width: 40px;
      height: 40px;
    }

    .top-right {
      float: right;
    }

    a {
      width: 100%;
    }
  }
}

.integrations { 
  .sso-card {
    h4 {
      display: unset;
    }

    img {
      width: 40px;
      height: 40px;
      margin-bottom: 0;
      margin-right: 1rem;
    }
  }
}
