@import 'breakpoints';

section.hero-banner-basic {
  &.overlay {
    position: relative;
    width: 100%;
    height: 100%;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(135deg, #005652 0%, #007E79 100%);
      z-index: 1;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url('/images/banners/banner-bg-circuit-dots.png');
      background-repeat: repeat;
      background-size: auto;
      z-index: 2;
    }
  }

  @media (max-width: $width-sm) {
    padding-bottom: 0;
  }

  @media (min-width: $width-sm) {
    padding-block: 0;
  }

  .wrapper {
    position: relative;
    z-index: 10;

    @media screen and (max-width: $width-md) {
      gap: 2rem;
    }
  }

  figure {
    margin-bottom: -1px;
    overflow: hidden;

    @media (min-width: $width-sm) {
      padding-top: 2rem;
    }
  }
}
