@import 'breakpoints';

section.hero-banner-basic {
  &.overlay {
    position: relative;
    width: 100%;
    height: 100%;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(90deg, #000000, #37283d 60%, #185960 100%);
      z-index: 1;

      @media (max-width: $width-sm) {
        background: linear-gradient(180deg, #000000, #37283d 60%, #185960 100%);
      }
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url('/images/banners/banner-bg-music.png');
      background-repeat: repeat-x;
      background-size: cover;
      z-index: 2;
    }
  }

  @media screen and (max-width: $width-sm) {
    background-size: 50%;
  }

  .wrapper {
    position: relative;
    z-index: 10;

    @media screen and (max-width: $width-md) {
      gap: 2rem;
    }
  }

  p.has-icon {
    margin-bottom: 0.5rem;

    strong::before {
      font: var(--fa-font-solid);
      content: "\f001";
      font-size: 1rem;
      margin-inline: 6px;
    }
  }

  .afe {
    gap: 0.5rem;

    & > figure {
      width: 200px;

      img {
        width: 100%;
      }
    }
  }
}

ul.featured-artists {
  margin: 0;

  @media (max-width: $width-sm) {
    justify-content: center !important;
    column-gap: 1rem;
  }
}

section.student-projects {
  .grid-container {
    @media (min-width: $width-md) {
      grid-template-columns: 60% auto;
    }
  }

  .text-wrapper {
    background: var(--neutral_light);
    padding: 2rem;
  }
}

section.aws-career-tours {

  @media (min-width: 993px) {
    .text-wrapper {
      max-width: 570px;
    }

    a.link-button {
      max-width: 205px;
    }
  }
}

section.quote {
  background: url("/images/banners/banner-bg-music.png") center repeat-x;
  background-size: contain;
  background-color: var(--neutral_dark);

  @media (max-width: $width-md) {
    background-position: bottom;
  }
}
