// Custom styles for code.org/professional-learning/international
// — supplemental to shared/css/design-system-pegasus.scss

@import 'color', 'breakpoints';

// Hero banner
.hero-banner-basic {
  background: url("/images/banners/banner-bg-maze-dots-light.png") center repeat;
  background-color: #233346;

  .text-wrapper {
    width: 50%;

    @media screen and (max-width: $width-sm) {
      width: 100%;
    }
  }

  figure {
    width: 40%;
    text-align: center;

    @media screen and (max-width: $width-sm) {
      width: 100%;
      margin-top: 2rem;
    }

    .videothumbnail {
      height: 250px;
      width: auto;
    }
  }
}

.naipi-banner {
  background: url('/images/banners/banner-naipi-pattern.png') center center;
  background-color: #6C468A;

  figure {
    margin-top: 3em;
  }
}

.course_info_detail {
  margin-bottom: 0 !important;
}

.bg-neutral-dark {
  h2 {
    color: $neutral_white;
  }
}

.student_projects {
  padding-bottom: 2em;

  h2 {
    margin-bottom: 1em;
  }
}

.continue_learning {
  background: $neutral_white;
  margin-top: 3em;

  a {
    display: block;
    width: fit-content;
    margin-top: 1em;
  }
}
