// Custom styles for code.org/educate/professional-learning
// — supplemental to shared/css/design-system-pegasus.scss

@import "breakpoints";

$border-radius: 4px;

.journey-wrapper {
  margin: 2rem 0 1rem;

  @media screen and (max-width: $width-md) {
    flex-wrap: wrap;
  }

  h3 {
    border-radius: $border-radius $border-radius 0 0;
    margin-bottom: 0;
    padding: 0.5rem;
    text-align: center;
  }

  .facilitator-led-wrapper {
    h3 {
      background-color: var(--brand_primary_default);
      color: var(--neutral_white);
    }

    @media screen and (max-width: $width-sm) {
      & > .flex-container {
        flex-wrap: wrap;
      }
    }
  }

  .self-paced-wrapper {
    width: 100%;

    @media screen and (min-width: $width-sm) {
      flex-basis: 50%;
    }

    h3 {
      background-color: var(--brand_primary_light);
      color: var(--brand_primary_dark);
    }
  }

  p.overline-two {
    color: var(--neutral_dark70);
  }

  .content-wrapper {
    background: var(--neutral_white);
    padding: 1.25rem;
    border: 1px solid var(--neutral_dark10);
    border-top: 0;
    width: 100%;

    @media screen and (min-width: $width-sm) {
      flex: 1;

      &.k-5 {
        border-radius: 0 0 0 $border-radius;
      }

      &.mid-high {
        border-radius: 0 0 $border-radius 0;
        border-inline-start: 0;
      }
    }

    &.mid-high {
      border-radius: 0 0 $border-radius $border-radius;
    }

    &.self-paced {
      border-radius: 0 0 $border-radius $border-radius;
    }

    li {
      font-weight: var(--medium-font-weight);
      margin-bottom: 0.75rem;
      display: flex;
      gap: 0.5rem;

      &::before { display: none; }

      i {
        color: var(--neutral_dark40);
        flex-basis: 10px;
      }

      p {
        font-weight: var(--medium-font-weight);
      }
    }
  }
}
