@import 'color', 'font', 'typography', 'breakpoints', 'barlow-semi-condensed-font';

.img {
  &--max {
    max-width: 100%;
  }
}

.video-101 {

  &__text {
    margin-bottom: 2rem;
  }

  .action-block {
    margin-bottom: 2rem;
    background: $neutral_white;
  }

  &__image,
  &__video {

    @media (min-width: 971px) {
      margin: 1.25rem 0 1.25rem 1.25rem;
      width: calc(50% - 20px);
    }
  }
}

.partnership-ai + #clearboth + .desktop-feature {
  display: none;
}
