// Custom styles for code.org/teach
// — supplemental to shared/css/design-system-pegasus.scss

@import 'color', 'font', 'typography', 'breakpoints', 'barlow-semi-condensed-font';

section.why-teach-cs {

  .grid-container {
    margin-top: 5rem;
    gap: 4rem;

    @media screen and (min-width: $width-sm) {
      grid-template-columns: repeat(2, 1fr);
    }

    .flex-container {
      gap: 2rem;
    }

    img {
      width: 8rem;
      height: 8rem;
      border-radius: 50%;
    }
  }

  p {
    @include body-three;
  }
}

section.free-curriculum {

  div.content-wrapper {
    margin-top: 2rem;
    gap: 1rem;
  }

  figure {
    background: url("/images/teach-page-students.png") center no-repeat;
    background-size: cover;
    height: auto;

    @media screen and (max-width: $width-md) {
      height: 22rem;
    }
  }
}

section.resources {
  h2, p.desc {
    text-align: center;
  }
}

section.pl-offerings {

  .grid-container {
    margin-top: 4rem;
    gap: 2.5rem;

    @media screen and (min-width: $width-sm) {
      grid-template-columns: repeat(3, 1fr);
    }

    .flex-container {
      gap: 1.5rem;
      flex-direction: column;

      &.self-paced-english {
        gap: 1.3rem;

        @media screen and (max-width: $width-md) {
          gap: 0;
        }
      }
    }

    img {
      width: 12rem;
      height: 12rem;
      border-radius: 50%;
    }
  }

  p {
    @include body-three;
  }
}

.carousel-wrapper {
  padding-bottom: 0;

  p {
    font-family: $gotham-regular !important;
  }

  @media (max-width: 1279px) {
    overflow: hidden;
  }
}

.carousel {
  &__next {
    position: absolute;
    right: -100vh;
  }

  &__prev {
    position: absolute;
    left: -100vw;
  }

  .action-block {
    height: 525px;
    min-width: 300px;
    max-width: 420px;
    margin: 0 auto;
  }

  @media (min-width: 640px) {
    position: relative;

    .slides {
      width: 300%;
      display: flex;
    }
    .slide {
      display: flex;
      justify-content: start;
      align-items: center;
      gap: 2rem;

      .action-block {
        width: 48%;
        margin: 0;
      }
    }
    .action-block {
      min-width: 230px;
    }
  }
  @media (min-width: 800px) {
    .slide {
      .action-block {
        width: 31%;
      }
    }
  }
  @media (min-width: 1280px) {

    &__prev {
      position: absolute;
      top: calc(50% - 20px);
      left: -90px;
      background: none;
      border: none;
      transform: translateY(-50%);
      transition: .3s;
      padding: 0;
      width: 55px;

      &:hover {
        background: none;
        opacity: .8;
      }

      img {
        width: 100%;
      }
    }

    &__next {
      position: absolute;
      top: calc(50% - 20px);
      right: -90px;
      background: none;
      border: none;
      transform: translateY(-50%);
      transition: .3s;
      padding: 0;
      width: 55px;

      &:hover {
        background: none;
        opacity: .8;
      }

      img {
        width: 100%;
      }
    }
  }
}
