// Custom styles for code.org/teach
// — supplemental to shared/css/design-system-pegasus.scss

@import 'color', 'font', 'typography', 'breakpoints', 'barlow-semi-condensed-font';

section.why-teach-cs {

  .grid-container {
    margin-top: 5rem;
    gap: 4rem;

    @media screen and (min-width: $width-sm) {
      grid-template-columns: repeat(2, 1fr);
    }

    .flex-container {
      gap: 2rem;
    }

    img {
      width: 8rem;
      height: 8rem;
      border-radius: 50%;
    }
  }

  p {
    @include body-three;
  }
}

section.free-curriculum {

  div.content-wrapper {
    margin-top: 2rem;
    gap: 1rem;
  }

  figure {
    background: url("/images/teach-page-students.png") center no-repeat;
    background-size: cover;
    height: auto;

    @media screen and (max-width: $width-md) {
      height: 22rem;
    }
  }
}

section.resources {
  h2, p.desc {
    text-align: center;
  }
}

section.pl-offerings {

  .grid-container {
    margin-top: 4rem;
    gap: 2.5rem;

    @media screen and (min-width: $width-sm) {
      grid-template-columns: repeat(3, 1fr);
    }

    .flex-container {
      gap: 1.5rem;
      flex-direction: column;

      &.self-paced-english {
        gap: 1.3rem;

        @media screen and (max-width: $width-md) {
          gap: 0;
        }
      }
    }

    img {
      width: 12rem;
      height: 12rem;
      border-radius: 50%;
    }
  }

  p {
    @include body-three;
  }
}
