@import 'breakpoints';

// Hero banner
.hero-banner-basic {

  &.overlay {
    position: relative;
    width: 100%;
    height: 100%;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(95deg, #005E69 0%, #008999 104.75%);
      z-index: 1;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url("/images/yw-page-top.png"), url("/images/banners/banner-bg-mesh-dots-light.png");
      background-position: 82% bottom, center;
      background-repeat: no-repeat, repeat;
      background-size: 580px, contain;
      z-index: 2;

      html[dir="rtl"] & {
        transform: scaleX(-1);
      }

      @media screen and (min-width: 1605px) {
        background-position: 70% bottom, center;
      }

      @media screen and (max-width: $width-md) {
        background-image: url("/images/banners/banner-bg-mesh-dots-light.png");
        background-size: contain;
      }

      @media screen and (max-width: 490px) {
        background-image: url("/images/yw-page-top.png"), url("/images/banners/banner-bg-mesh-dots-light.png");
        background-position: center bottom, center;
      }
    }
  }

  @media screen and (max-width: $width-sm) {
    padding-bottom: 12rem;
  }

  .wrapper {
    position: relative;
    z-index: 10;
  }

  .text-wrapper {
    width: 48%;

    @media screen and (max-width: $width-md) {
      width: 100%;
      margin-bottom: 2rem;
    }
  }
}

figure.img-wrapper {
  height: auto;

  @media screen and (max-width: $width-md) {
    margin-top: 1rem;
    height: 22rem;
  }

  @media screen and (max-width: $width-sm) {
    height: 12rem;
  }
}

section.intro {

  figure.img-wrapper {
    background: url("/images/yw-page-intro.png") center no-repeat;
    background-size: cover;
  }

  .flex-container:nth-of-type(2) {
    background: var(--neutral_light);
    border: 1px solid var(--neutral_dark20);
    padding: 1.5rem;
    margin: 3rem 0 0;

    a.link-button {
      margin-right: 2rem;

      @media screen and (max-width: $width-sm) {
        margin: 0;
      }
    }
  }
}

section.cs-amb-do {

  figure.img-wrapper {
    background: url("/images/yw-page-cs-amb-do.png") center no-repeat;
    background-size: cover;
  }
}

ol.steps-list {
  h3 > span {
    line-height: 1.85;
  }

  @media (min-width: $width-md) {
    p {
      width: 90%;
    }
  }
}
