= stylesheet_link_tag 'css/pd', media: 'all'
%script{src: webpack_asset_path('js/pd/application/principal_approval_application/new.js'), data: @script_data}

%h1
  = @year
  Code.org Principal Approval Form

#application-container
  -# populated by React
