Thank you for submitting your response for the application of
= @teacher_application[:name]
for the program
= @teacher_application[:course] + '.'
%br
%br
Please contact us if you need to edit your response.
