- content_for(:head) do
  = stylesheet_link_tag 'css/pd', media: 'all'

%h1
  Thank you. Your teacher's application is now considered complete and will be reviewed.

%p
  You can visit
  =link_to 'https://code.org/educate', 'https://code.org/educate'
  for additional resources and opportunities to bring computer science opportunities to
  your school or learn more about
  =link_to 'your Regional Partner’s program here.', 'https://code.org/educate/professional-learning/program-information'
  Thank you for supporting computer science for all!
