Hello! You have already submitted your response for the application of
= @teacher_application.applicant_name
for the program
= Pd::Application::ApplicationConstants::COURSE_NAMES[@teacher_application.course] + '.'
Please contact us if you need to edit your response.
