---
title: Supporters
theme: responsive
layout: none
---

- require 'state_abbr'
- thankyou_page_index = 108
- thankyou_page_partners = ["2Sigma School Inc.", "ACM", "Access CSforAll", "Adobe", "AdvanceKY", "Afterschool Alliance", "Amazon", "America Succeeds", "American Radio Relay League", "Apple", "ARCodeKids", "AZ Tech Council", "Battelle", "BECAUSEICAN", "BootUp PD", "Carnegie Mellon University CS Academy", "CEASOM", "Center for Cyber Education at Mississippi State University", "Ch1ldrenNow", "Citadel", "CodeHS", "CodeNation", "CodeVA", "College Board", "Colorado Succeeds", "Colorado Tech Assn", "CompTIA", "Computer Science Alliance", "Computing Research Association", "Construct", "Contra Costa County Office of Ed", "CS@Air", "CS4AllSPS", "CS4GA", "CS4IL", "CS4MS", "CS4NC", "CS4NJ", "CS4RI", "CS4TX", "CSforCA", "CSforMA", "CSTA", "CSTA Chicago IL Suburbs", "CSTA NJ", "CSTA NM", "CSTA Oregon", "Cyber.org", "ECEP Alliance", "Educate Maine", "Educational Service District 105", "ExcelinEd", "Federal CSEdCoalition", "Flagship KS", "Friday Institute", "Google", "HawaiiKidsCAN", "Idaho STEM Action Center", "Infosys Foundation USA", "InventXYZ", "KC Tech Council", "Kira Learning", "Knowledge Pillars", "Laurel Ridge Community College", "Learning Blade", "Lego Education", "LULAC", "MD Center for Computing Education", "MEDB STEMworks", "Meta", "Microsoft", "MiSTEM", "MNTech", "MO Math and Sci Coalition", "National Center for Computer Science Education, College of St. Scholastica", "NCWIT", "NEA", "NewBoCo", "NMSI", "NSTA", "NCTM", "New Mexico Tech Council", "Nextech", "NOLA Code", "Orlando Science Center", "Parallax PaTTAN", "PACT", "Pluralsight", "Prodigy Learning", "ReadyCT", "Rural Tech Fund", "Sacred Heart University", "SAS", "Scratch Foundation", "SRI & ETTC of Stockton University", "STEMx", "TAG-Ed", "TALK", "Teach for America", "TechNet", "Technology Association of Oregon", "Technology Councils of North America", "Technology Outreach Hawaii", "TechStart", "Thinking Media", "Unruly Studios", "WA STEM", "WV Center for Excellence in STEM Ed"]
=inline_css 'interactive-map.css'
=inline_css 'advocacy-stateofcsreport.css'
=inline_css 'logos.css'

.logo__nav{style: "margin-bottom: 20px;"}
  .logo__nav__links
    %a{href: "/"}
      %img{src: "/images/fit-400/CodeLogo.png", style: "width: 200px; padding: 10px", alt: "Code.org Advocacy Coalition Logo"}
    %a{href: "https://www.csteachers.org"}
      %img{src: "/images/fit-400/CSTALogo.png", style: "width: 200px; padding: 10px; padding-top: 15px", alt: "CSTA Logo"}
    %a{href: "https://ecepalliance.org"}
      %img{src: "/images/fit-400/ECEP_Logo.jpg", style: "width: 200px; padding: 10px", alt: "ECEP Logo"}
  .clear

.website__nav{style: "margin-bottom: 20px;"}
  .website__nav__links
    %a{href: "/stateofcs"}
      Home
    %a{href: "/stateofcs/data"}
      Data 
    %a{href: "/stateofcs/thankyou"}
      Acknowledgements
  .clear

.container_responsive
  .col-50
    %h1{style: "color: black; text-align: left; margin-bottom: 10px"}
      =hoc_s(:thank_you_page_main_title)
    %p{style: "margin-top: 0px; margin-bottom: 20px"}
      =hoc_s(:thank_you_page_description)
    %br

  .col-50
    %img{style: "width: 75%; margin-left: 10%; margin-top: 35px;", src: "/images/workiva_logo.png"}

  .clear

.container_responsive
  .col-25.col-mobile-30{style: "text-align: center;"}
    .img-wrapper{style: "width: 160px; height: 190px; line-height: 190px; text-align: center;"}
      %img{src:"/images/amazon.jpg", style: "width: 140px; max-height: 140px"}
  .col-25.col-mobile-30{style: "text-align: center;"}
    .img-wrapper{style: "width: 160px; height: 190px; line-height: 190px; text-align: center;"}
      %img{src:"/images/atlassian_logo.png", style: "width: 140px; max-height: 140px"}
  .col-25.col-mobile-30{style: "text-align: center;"}
    .img-wrapper{style: "width: 160px; height: 190px; line-height: 190px; text-align: center;"}
      %img{src:"/images/Ballmer_Group_logo.jpg", style: "width: 140px; max-height: 140px"}
  .col-25.col-mobile-30{style: "text-align: center;"}
    .img-wrapper{style: "width: 160px; height: 190px; line-height: 190px; text-align: center;"}
      %img{src:"/images/cisco.png", style: "width: 140px; max-height: 140px"}
  .col-25.col-mobile-30{style: "text-align: center;"}
    .img-wrapper{style: "width: 160px; height: 190px; line-height: 190px; text-align: center;"}
      %img{src:"/images/Cognizant_logo.png", style: "width: 140px; max-height: 140px"}
  .col-25.col-mobile-30{style: "text-align: center;"}
    .img-wrapper{style: "width: 160px; height: 190px; line-height: 190px; text-align: center;"}
      %img{src:"/images/coinbase.png", style: "width: 140px; max-height: 140px"}
  .col-25.col-mobile-30{style: "text-align: center;"}
    .img-wrapper{style: "width: 160px; height: 190px; line-height: 190px; text-align: center;"}
      %img{src:"/images/college-board-vector-logo.png", style: "width: 140px; max-height: 140px"}
  .col-25.col-mobile-30{style: "text-align: center;"}
    .img-wrapper{style: "width: 160px; height: 190px; line-height: 190px; text-align: center;"}
      %img{src:"/images/ExcelinEd.jpg", style: "width: 140px; max-height: 140px"}
  .col-25.col-mobile-30{style: "text-align: center;"}
    .img-wrapper{style: "width: 160px; height: 190px; line-height: 190px; text-align: center;"}
      %img{src:"/images/google_logo.jpg", style: "width: 140px; max-height: 140px"}
  .col-25.col-mobile-30{style: "text-align: center;"}
    .img-wrapper{style: "width: 160px; height: 190px; line-height: 190px; text-align: center;"}
      %img{src:"/images/infosys_USA_logo.png", style: "width: 140px; max-height: 140px"}
  .col-25.col-mobile-30{style: "text-align: center;"}
    .img-wrapper{style: "width: 160px; height: 190px; line-height: 190px; text-align: center;"}
      %img{src:"/images/Microsoft_logo.png", style: "width: 140px; max-height: 140px"}
  .col-25.col-mobile-30{style: "text-align: center;"}
    .img-wrapper{style: "width: 160px; height: 190px; line-height: 190px; text-align: center;"}
      %img{src:"/images/Vista_logo.jpg", style: "width: 140px; max-height: 140px"}
  %br
  .clear
%br

.container_responsive
  %h2
    =hoc_s(:thank_you_page_members_section_title)
  .col-33
    - thankyou_page_index.times do |index|
      - if index < 36 
        %p{style: "font-weight: bold"}
          = thankyou_page_partners[index]
  .col-33
    - thankyou_page_index.times do |index|
      - if index > 35 && index < 72 
        %p{style: "font-weight: bold"}
          = thankyou_page_partners[index]
    %br
  .col-33
    - thankyou_page_index.times do |index|
      - if index > 71 && index < 108
        %p{style: "font-weight: bold"}
          = thankyou_page_partners[index]
  .clear
%br

.container_responsive
  %h2{style: "font-size: 1.5rem"}
    =hoc_s(:thank_you_page_individual_organization_title)
  %p{style: "font-weight: bold;"}
    =hoc_s(:thank_you_page_individual_organization_description)
  .clear

.container_responsive
  %h2{style: "font-size: 1.5rem"}
    =hoc_s(:thank_you_page_teachers_students_title)
  %p{style: "font-weight: bold;"}
    =hoc_s(:thank_you_page_teachers_students_description)
  .clear
