.action-block.action-block--two-col
  .media-wrapper.col-50
    %img{src: "/images/action-blocks/action-block-self-paced-pl.png", alt: ""}
  .text-wrapper.col-50
    %p.overline
      =hoc_s("computer_vision_page.teach.tile.overline")
    %h3
      =hoc_s("computer_vision_page.teach.tile.title")
    %p
      =hoc_s("computer_vision_page.teach.tile.desc")
    %a.link-button{href: CDO.studio_url("/courses/self-paced-pl-computer-vision-2024")}
      =hoc_s("computer_vision_page.teach.tile.button")
  .clear
