@import 'color.scss';
@import 'font';

$message-editor-height: 100px;
$default-spacing: 2px;

.chatWorkspace {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: $white;
}

.userChatMessageEditor {
  padding: 1% 1%;
  margin: 10px 2%;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: $message-editor-height;
  box-sizing: border-box;
}

.waitingForResponse {
  width: 50px;
}

.message {
  padding: 10px 10px;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 15px;
}

.userMessage {
  background-color: $lightest_cyan;
}

.assistantMessage {
  background-color: $lightest_gray;
  flex-grow: 1;
}

.profaneMessage {
  background-color: $lightest_red;
}

.piiMessage {
  background-color: $lightest_yellow;
}

.messageHeaderContainer {
  margin: 5px 0 5px 0;
}

.feedbackIcons {
  float: right;
  height: 36px;
  justify-content: space-between;
  gap: 10px;
}

.aiTutorMarkdown {
  pre {
    // Color copied for consistency with bootstrap styles auto-applied to SafeMarkdown component
    background-color: #f7f7f9;
    color: $purple;
  }
}


// Warning Modal
.chatWarningModal {
  hr {
    margin: 1rem 0;
    border-color: $light_gray_200;
  }

  a {
    @include main-font-semi-bold;
    font-size: 1rem;
    color: $brand_secondary_default;
    margin: 1rem 0;
    text-decoration: underline;
    transition: color ease-in-out 0.2s;

    &:hover {
      color: $brand_secondary_dark;
    }
  }
}

.xCloseButton {
  // Clear default button styles
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  box-shadow: none;

  position: absolute;
  top: 1rem;
  right: 1rem;

  i {
    color: $light_gray_300;
    font-size: 1.1875rem;
    line-height: 1.4844rem;
    width: 1.4844rem;
  }

  &:hover {
    // Clear default button styles
    box-shadow: none;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;

    i {
      color: $light_gray_500;
    }
  }

  &:focus {
    outline: $brand_primary_default solid 2px;
    outline-offset: 2px;
  }
}

.bottomSection {
  display: flex;
  justify-content: flex-end;
}
