.toggleAndError {
  display: flex;
}

.spinner {
  margin-left: 8px;
}

.saveError {
  color: var(--text-error-primary);
  margin: 8px;
}

.enabledMessage {
  font-style: italic;
  color: var(--text-neutral-secondary);
  width: 360px;
}
