---
title: The Hour of Code
tagline: ''
theme: responsive
responsivePadMobile: yes
social:
  'og:title' : 'The Hour of Code is here'
  'og:description' : "For every student and classroom: learn how fun coding is in just one hour December 8 - 14."
  'og:image' : "http://<%=request.host%>/images/code-video-thumbnail.jpg"
  "og:image:width": 1705
  "og:image:height": 949
  "og:url": "http://sg.code.org"
  "og:video": ""
  "og:video:width": ""
  "og:video:height": ""
  "og:video:type": ""
---

#top{:style=>"margin-top: 40px;"}
  #video.col-63.desktop-pad-right
    = view :hocvideo, id:"r990CWYtx_o"

  #start.col-36{:style=>'text-align:center;'}
    %h2{:style=>"font-size: 40px; margin: 0;"}
      Try an
    %h1{:style=>"font-size: 50px; margin: 0;"}
      Hour of Code
    %h2{:style=>"font-size: 35px; line-height: 30px; margin-top: 0;"}<
      =format_integer_with_commas(fetch_hoc_metrics['started'].to_i).to_s 
      served
    %h2
      Anybody can learn.
    %a{:href=>'/learn', :style=>"text-decoration: none;"}
      %button{:style=>"font-size: 19px; font-weight: 500; height: 50px;margin-top: 10px;"}
        Start
    %h4
      Beyond an Hour of Code
    %br

%div{:style=>'clear:both'}

