---
title: How-to Guide for Events | Hour of Code
layout: wide_index
theme: how_to_guide
---

-# Hero banner
= view :"how-to/how_to_banner"

-# Intro section
= view :"how-to/how_to_intro", intro_header: hoc_s("hoc_how_to.events.top.heading"), intro_desc: hoc_s("hoc_how_to.events.top.desc_01"), intro_desc_02: hoc_s("hoc_how_to.events.top.desc_02")

-# Steps
= view :"how-to/steps/steps_events"

-# Resources
= view :"how-to/how_to_resources"
