---
title: How-to Guide for Teachers | Hour of Code
layout: wide_index
theme: how_to_guide
---

-# Hero banner
= view :"how-to/how_to_banner"

-# Intro section
= view :"how-to/how_to_intro", intro_header: hoc_s(:hoc_how_to_educators_intro_heading), intro_desc: hoc_s(:hoc_how_to_educators_intro_desc), intro_desc_02: ""

-# Steps
= view :"how-to/steps/steps_educators"

-# FAQ
=view :"how-to/faq/faq_educators"

-# Resources
= view :"how-to/resources/resources_educators"
