---
title: How-to Guide for Teachers | Hour of Code
layout: wide_index
theme: how_to_guide
---

-# TODO remove this logic after soon-hoc launch
-# Get the default HOC mode
-hoc_mode = DCDO.get("hoc_mode", CDO.default_hoc_mode)

-# Hero banner
= view :"how-to/how_to_banner"

-# Intro section
= view :"how-to/how_to_intro", intro_header: hoc_s("hoc_how_to.teachers.top.heading"), intro_desc: hoc_s(hoc_mode == false ? :hoc_how_to_educators_intro_desc : "hoc_how_to.teachers.top.desc"), intro_desc_02: ""

-# Steps
= view :"how-to/steps/steps_educators"

-# Resources
= view :"how-to/how_to_resources"
