---
title: Hour of Code How-to Guide for Educators
layout: wide_index
theme: how_to_guide
---

= view :"how-to/how_to_banner", nav_audience: "educators"

%section.no-padding-bottom
  .wrapper.centered
    %h2
      =hoc_s(:hoc_how_to_plan_heading)
    %p.body-two{style: "max-width: 750px; margin: 0 auto"}
      =hoc_s(:hoc_how_to_plan_desc)
    %hr{style: "margin-top: 4rem"}

%section
  .wrapper
    CONTENT HERE

%section.bg-neutral-light
  .wrapper
    %h2.centered
      =hoc_s(:heading_faq)
    %details
      %summary=hoc_s(:csa_page_faq_question_01)
      %p=hoc_s(:csa_page_faq_answer_01)
    %details
      %summary=hoc_s(:csa_page_faq_question_01)
      %p=hoc_s(:csa_page_faq_answer_01)
    %details
      %summary=hoc_s(:csa_page_faq_question_01)
      %p=hoc_s(:csa_page_faq_answer_01)

%section
  .wrapper
    %h2.centered
      =hoc_s(:heading_additional_resources)
