---
title: Hour of Code How-to Guide for Educators
layout: wide_index
theme: how_to_guide
---

-# Hero banner
= view :"how-to/how_to_banner", nav_audience: "educators"

-# Intro section
= view :"how-to/how_to_intro", intro_header: hoc_s(:hoc_how_to_educators_intro_heading), intro_desc: hoc_s(:hoc_how_to_educators_intro_desc)

-# Steps
%section
  .wrapper
    CONTENT HERE

-# FAQ
%section.bg-neutral-light
  .wrapper
    %h2.centered
      =hoc_s(:heading_faq)
    %details
      %summary=hoc_s(:csa_page_faq_question_01)
      %p=hoc_s(:csa_page_faq_answer_01)
    %details
      %summary=hoc_s(:csa_page_faq_question_01)
      %p=hoc_s(:csa_page_faq_answer_01)
    %details
      %summary=hoc_s(:csa_page_faq_question_01)
      %p=hoc_s(:csa_page_faq_answer_01)

-# Resources
%section
  .wrapper
    %h2.centered
      =hoc_s(:heading_additional_resources)
