---
title: How-to Guide for Educators | Hour of Code
layout: wide_index
theme: how_to_guide
---

-# Hero banner
= view :"how-to/how_to_banner", nav_audience: "educators"

-# Intro section
= view :"how-to/how_to_intro", intro_header: hoc_s(:hoc_how_to_educators_intro_heading), intro_desc: hoc_s(:hoc_how_to_educators_intro_desc)

-# Steps
%section
  .wrapper
    CONTENT HERE

-# FAQ
%section.faq.bg-neutral-light
  .wrapper
    .flex-container
      %h2
        =hoc_s(:heading_faq)
      %a.link-button{href: "/faq"}
        =hoc_s(:call_to_action_view_faqs)
    %details
      %summary=hoc_s(:hoc_how_to_faq_question_volunteer)
      %p=hoc_s(:hoc_how_to_faq_answer_volunteer)
      %a{href: "/how-to/volunteers"}
        =hoc_s(:call_to_action_become_a_volunteer)
    %details
      %summary=hoc_s(:hoc_how_to_faq_question_full_hour)
      %p=hoc_s(:hoc_how_to_faq_answer_full_hour)
    %details
      %summary=hoc_s(:hoc_how_to_faq_question_account)
      %p=hoc_s(:hoc_how_to_faq_answer_account)

-# Resources
%section
  .wrapper
    %h2.centered
      =hoc_s(:heading_additional_resources)
