---
title: How-to Guide for Virtual Events | Hour of Code
layout: wide_index
theme: how_to_guide
---

-# Hero banner
= view :"how-to/how_to_banner", nav_audience: "guide_nav_virtual"

-# Intro section
= view :"how-to/how_to_intro", intro_header: "TBD", intro_desc: "TBD", intro_desc_02: "TBD"

-# Steps
= view :"how-to/steps/steps_virtual"

-# FAQ
=view :"how-to/faq/faq_virtual"

-# Resources
= view :"how-to/resources/resources_default"
