---
title: How-to Guide for Volunteers | Hour of Code
layout: wide_index
theme: how_to_guide
---

-# Hero banner
= view :"how-to/how_to_banner", nav_audience: "guide_nav_volunteers"

-# Intro section
= view :"how-to/how_to_intro", intro_header: "TBD", intro_desc: "TBD", intro_desc_02: "TBD"

-# Steps
= view :"how-to/steps/steps_volunteers"

-# Resources
= view :"how-to/resources/resources_default"
