body {
  padding-bottom: 28px !important;
}

#codeprojects_pagefooter {
  all: initial; /* blocking inheritance for all properties */
  display: block;
  width: 100%;
  height: 28px;
  padding: 5px 20px;
  overflow: hidden;
  background-color: #e7e8ea;
  box-sizing: border-box;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 2147483647;
}

#codeprojects_pagefooter div.codeprojects_pagefooter_content {
  all: initial; /* blocking inheritance for all properties */
  display: block;
  margin: 0 auto;
  float: left;
  max-width: 100%;
}

#codeprojects_pagefooter div.codeprojects_pagefooter_dim {
  all: initial; /* blocking inheritance for all properties */
  font-size: 12px;
  font-family: "Metropolis", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 18px;
  display: inline-block;
  opacity: 0.5;
  color: #c6cacd;
}

#codeprojects_pagefooter a.codeprojects_pagefooter_link {
  all: initial; /* blocking inheritance for all properties */
  font-size: 12px;
  font-family: "Metropolis", sans-serif;
  font-weight: 400;
  font-style: normal;  line-height: 18px;
  color: #c6cacd;
}

#codeprojects_pagefooter a.codeprojects_pagefooter_link:link {
  text-decoration: none;
}

#codeprojects_pagefooter a.codeprojects_pagefooter_link:hover {
  color: #696969;
}
