:global(#main_content) {
  background: var(--background-neutral-secondary, #f0f2f5);

  :global(#personalization-information) {
    flex-direction: column;
    justify-content: unset;
  }
}

.carouselContainer {
  display: flex;
  width: 800px;
  min-height: 528px;
  padding: 30px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  border-radius: 4px;
  border: 1px solid var(--borders-neutral-primary, #d4dae1);
  background: var(--background-neutral-primary, #fff);
}

.personalizationProgressBarContainer {
  display: flex;
  width: 100%;
  padding: 2.5rem 5rem;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
  box-sizing: border-box;

  .personalizationProgressBarHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
  }
}

.questionContainer {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 8px;
  width: 100%;
  text-align: center;
}

.multiSelectContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.numberOfYearsArea {
  display: flex;
  padding: 20px 0;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex: 1 0 0;

  .answer {
    width: 36px;
    height: 40px;
    padding: 8px 12px;
    font-size: 20px !important;
  }

  .bodyText {
    margin-bottom: 8px;
  }
}

.otherTextField {
  width: 450px !important;

  input {
    width: 100% !important;
  }
}

.freeResponseBox {
  display: flex;
  padding: 8px 12px;
  align-items: flex-start;
  gap: 10px;
  flex: 1 0 0;
  align-self: stretch;
  border-radius: 4px;
  box-sizing: border-box;
  resize: none;
  margin: 4px 0;
  width: 430px;
  height: 220px;
}

.classroomVisionArea {
  width: 430px;
}

.otherTextFieldContainer {
  margin-top: 10px;
}

.confidenceContinuum {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 6px;
}

.answerContainer {
  display: flex;
  height: 320px;
  padding: 20px 0 40px 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  align-self: stretch;
  border-radius: 4px;
  border: 1px solid var(--borders-neutral-primary, #d4dae1);
  background: var(--background-neutral-secondary, #f0f2f5);
}

.navigationButtons {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  align-self: stretch;
  justify-content: space-between;
}

.confidenceButtons {
  display: flex;
  gap: 8px;
}

.revealContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.revealHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.lightText {
  color: var(--text-neutral-tertiary);
}

.revealDetailsContainer {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-self: center;
}

.revealInfoBox {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  border-radius: 4px;
  border: 1px solid var(--borders-neutral-primary, #d4dae1);
  text-align: center;
}

.arrowColumn {
  width: 15px !important;
  background-color: transparent !important;
}

.personaColumnYellow {
  background-color: #ffdfa1;
}

.personaColumnBlack {
  background-color: var(--background-neutral-black-fixed);
}

.personaColumn {
  width: 350px;
  height: 432px;
  padding-bottom: 4px;
  display: flex;
  flex-direction: column;

  .header {
    margin: 0 0 16px 0;
    width: 350px;
    text-align: left;
  }

  .arrowHeader {
    height: 76px;
  }

  .headerBlack {
    color: var(--text-neutral-primary, #292f36);
  }

  .superpowersHeader {
    background-image: url('./images/teacher-superpowers.png');
    background-position: top;
    background-size: cover;
    min-height: 76px;
    position: relative;
    margin-bottom: 4px;

    .superpowersHeaderText {
      position: absolute;
      bottom: 5px;
      width: 157px;
      padding-left: 28px;
    }
  }

  .aiCanHelpHeader {
    background-image: url('./images/ta-can-do.png');
    background-position: top;
    background-size: cover;
    min-height: 76px;
    position: relative;
    margin-bottom: 4px;

    .aiCanHelpText {
      position: absolute;
      bottom: 5px;
      width: 174px;
      padding-left: 114px;
      color: var(--text-neutral-white-fixed, #fff);
    }
  }

  .informationBox {
    background-color: white;
    align-self: stretch;
    padding: 12px;
    margin: 4px 8px;
    flex-grow: 1;
    display: flex;
    align-items: center;
    height: 95px;

    .boldedInformationBox {
      display: flex;
      gap: 4px;
      align-items: flex-start;
      flex-direction: column;
    }
  }

  .arrowBox {
    background-color: white;
    align-self: stretch;
    flex-grow: 1;
    display: flex;
    align-items: center;
  }
}
