<html>
  <head>
    <title><%- appName %></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-1.12.1.min.js"></script>
    <script src="gamelab-api.js"></script>
    <link href="gamelab.css" rel="stylesheet" type="text/css">
    <script src="p5.js"></script>
    <script src="p5.play.js"></script>
    <script src="code.js"></script>
    <style>
      #soft-buttons.soft-buttons-none {
        display: none; }
    </style>
  </head>
  <body style="margin:0; overflow:hidden; position:absolute; top:0; left:0; width:<%- appWidth %>px; height:<%- appHeight %>px;">
    <div id="sketch"></div>
    <div id="soft-buttons" class="soft-buttons-none">
      <button id="leftButton" disabled className="arrow">
      </button>
      <button id="rightButton" disabled className="arrow">
      </button>
      <button id="upButton" disabled className="arrow">
      </button>
      <button id="downButton" disabled className="arrow">
      </button>
    </div>
    <div id="studio-dpad-container" style="position:absolute; width:400px; bottom:5px; height:157px; overflow-y:hidden;">
    </div>
  </body>
</html>
