<html>
  <head>
    <title><%- appName %></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-1.12.1.min.js"></script>
    <script src="gamelab-api.js"></script>
    <script src="p5.js"></script>
    <script src="p5.play.js"></script>
    <script src="code.js"></script>
  </head>
  <body>
  </body>
</html>
