<html>
  <head>
    <title>My App</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-1.12.1.min.js"></script>
    <script src="applab/applab-api.js"></script>
    <link rel="stylesheet" href="applab/applab.css">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <%- htmlBody %>
    <script src="code.js"></script>
  </body>
</html>
