<html>
  <head>
    <title><%- appName %></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preload" href="<%- fontPath %>" as="font">
    <script src="https://code.jquery.com/jquery-1.12.1.min.js"></script>
    <script>
      function setExportConfig(config) { window.EXPORT_OPTIONS = config; }
    </script>
    <script src="<%- exportConfigPath %>"></script>
    <script src="applab/applab-api.js"></script>
    <script src="https://www.google.com/jsapi"></script>
    <link rel="stylesheet" href="applab/applab.css">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <%- htmlBody %>
  </body>
</html>
