%link{href: asset_path('css/curriculum_table_styling.css'), rel: 'stylesheet', type: 'text/css'}
%script{src: webpack_asset_path('js/data_docs/edit_all.js'), data: {dataDocs: @data_docs.to_json}}
#edit-all-data-docs
