%p
  Thank you for submitting your application to join Code.org’s Professional Learning Program!

%p
  Your principal will receive a quick survey at the email address you provided, asking for approval of your
  participation in the program.
  %strong
    Your application will not be considered complete until your principal has finished this survey,
  so please make sure your principal has received that email and completes the survey as soon as possible.

%p
  We will provide status updates to all applicants within a few weeks. In the meantime, please visit
  =link_to 'https://code.org/educate', 'https://code.org/educate'
  for additional resources and opportunities to connect with other computer science educators. If you have any
  additional questions, or need to update your application, please contact teacher@code.org. Thank you for supporting
  computer science for all!
