Thank you again for your interest in supporting computer science for all!
Please visit our site for
%a{href: 'https://code.org/promote'}
  tools to promote computer science
education at your school and in your community, additional
%a{href: 'https://code.org/educate'}
  professional development opportunities,
and
%a{href: 'https://code.org/educate/community'}
  resources to connect
with other computer science educators.
