:css
  .fake {
    opacity: 0.5;
    position: relative;
  }

  .fake::after {
    content: "Mockup";
    font-size: 30px;
    color: black;
    background-color: white;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.5;
    padding: 10px;
  }


= view :breadcrumbs, trail: [{text: 'Dashboard'}]

%h1
  Poste Mailing

%a{href:'poste/send'}
  %h2
    Send Test Mail
  %h3
    Send test mail to preview mail content across email clients and devices.

.fake
  %a{href:'poste/mail'}
    %h2
      Create Mail
    %h3
      Choose mailing list and send A/B test.

.fake
  %div
    %a{href:'poste/tests'}
      %h2
        A/B Tests
      %h3
        Displaying currently running tests. Click to see all tests.

%table.districts.fake{style:'width:970px; table-layout:fixed;'}
  %colgroup
    %col
    %col
    %col
  %tr
    %th.manage-th
      Message
    %th.manage-th
      Last message sent at
    %th.manage-th
  %tr
    %td
      HOC 2015 Reminder
    %td
      2015-04-20
      %br
      9:30 p.m.
    %td
      %button
        View Results
  %tr
    %td
    %td
    %td
  %tr
    %td
    %td
    %td
  %tr
    %td
    %td
    %td
%a{href:'poste/list'}
  %h2
    Sent Mail
  %h3
    Showing most recently sent mail. Click to view all mail.

:ruby
  POSTE_REPORTING_DB_READONLY = sequel_connect(CDO.pegasus_reporting_db_reader, CDO.pegasus_reporting_db_reader)
  rows = POSTE_REPORTING_DB_READONLY.fetch("
    SELECT
      poste_messages.name as message
    FROM poste_messages
    ORDER BY id desc
    LIMIT 10
  ")

%table
  %tr
    %th Message
    %th
  - rows.each do |row|
    %tr
      %td
        = row[:message]
      %td
        %button
          %a{href: "poste/stats?name=#{row[:message]}"} Stats

%br

%table.fake.districts{style:'width:970px;'}
  %colgroup
    %col
    %col
    %col
    %col
    %col
    %col
  %tr
    %th.manage-th
      Message
    %th.manage-th
      Members
    %th.manage-th
      Sent
    %th.manage-th
      Date
    %th.manage-th
      Opens
    %th.manage-th
      Clicks
    %th.manage-th
      A/B Test Results
  %tr
    %td
      %a{href:'poste/mail/message-786'}
        K-5 Workshops Recruit Email
    %td
      765
    %td
      765
    %td
      2014-05-28
    %td
      466
      %br
      58% sent
    %td
      148
      %br
      33% opened
      %br
      19% sent
    %td
      %button
        View Results
  %tr
    %td
      %a{href:'poste/mail/message-786'}
        Indiegogo Campaign Email
    %td
      281202
    %td
      281202
    %td
      2014-11-11
    %td
      81713
      %br
      29% sent
    %td
      161748
      %br
      197% opened
      %br
      57% sent
    %td
      %button
        View Results
  %tr
    %td
    %td
    %td
    %td
    %td
    %td
    %td
      %button
        View Results
  %tr
    %td
    %td
    %td
    %td
    %td
    %td
    %td
      %button
        View Results
  %tr
    %td
    %td
    %td
    %td
    %td
    %td
    %td
      %button
        View Results
  %tr
    %td
    %td
    %td
    %td
    %td
    %td
    %td
      %button
        View Results
  %tr
    %td
    %td
    %td
    %td
    %td
    %td
    %td
      %button
        View Results
  %tr
    %td
    %td
    %td
    %td
    %td
    %td
    %td
      %button
        View Results
  %tr
    %td
    %td
    %td
    %td
    %td
    %td
    %td
      %button
        View Results

:css
  a:hover {
    text-decoration: none;
  }

  a h2 {
    margin-bottom: 0px;
  }
  a h3 {
    margin-top: 0px;
  }
