---
title: Poste Messages
---
= view :breadcrumbs, trail: [{text: 'Poste', url: './'}, {text: 'Messages', url: 'list'}]
%br/

:ruby
  POSTE_REPORTING_DB_READONLY = sequel_connect(CDO.pegasus_reporting_db_reader, CDO.pegasus_reporting_db_reader)
  rows = POSTE_REPORTING_DB_READONLY.fetch("
    SELECT
      poste_messages.name as message
    FROM poste_messages
    ORDER BY id desc
  ")

%table
  %tr
    %th Message
    %th
  - rows.each do |row|
    %tr
      %td
        = row[:message]
      %td
        %button
          %a{href: "stats?name=#{row[:message]}"} Stats
