<%= view :breadcrumbs, trail: [{text: 'Dashboard', url:'/poste'}, {text:'Test Mail'}] %>

## Send Test Message

<form action="/v2/poste/send-message" method="post" enctype="multipart/form-data">
  <table>
    <tr>
      <th>Message template</th>
      <td><input name="template" type="text"/></td>
    </tr>

    <tr>
      <th>Recipients</th>
      <td><textarea name="recipients"></textarea></td>
    </tr>

    <tr>
      <th>Recipients CSV</th>
      <td><input type="file" name="recipients_file" /></td>
    </tr>
    <tr>
      <th>Parameters<br/>(optional, JSON formatted)</th>
      <td><textarea name="params"></textarea></td>
    </tr>

    <tr>
      <th></th>
      <td>
        <%= csrf_tag %>
        <input type="submit"/>
      </td>
  <table>
</form>
