.clear {
  clear: both;
}

.greybox {
  background-color: #fff;
  color: #666;
  border: 1px solid #888;
  padding: 20px;
  text-align: center;
  overflow: hidden;
}

.greybox ul li:before {
  color: #666;
}

.info a:link, .info a:visited, .states-link a:link, .states-link a:visited {
  color: #888;
  cursor: pointer;
  text-decoration: underline;
}

.fact.subfact {
  color: #777;
}

.fact > a {
  color: #777;
}

#fullwidth {
  height: 400px;
}

#pageheader {
  background-color: initial !important;
  position: absolute;
}

#pageheader-wrapper #pageheader #logo-wrapper #logo {
  width: initial;
  height: 50px;
}

.banner {
  /*background-image: url(/images/fit-2880/advocacy-banner.jpg);*/
  background-image: url(/images/advocacy-banner.jpg);
  height: 400px;
  background-size: cover;
  background-position: 50% 40%;
  color: white;
  text-align: center;
  position: absolute;
  width: 100%;
  font-size: 16px;
}

.banner-shade {
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,0.4416141456582633) 0%, rgba(0,0,0,0.33237044817927175) 57%, rgba(0,0,0,0) 76%);
  height: 400px;
  position: absolute;
  width: 100%;
}

.banner h1 {
  font-family: var(--main-font);
  font-weight: var(--bold-font-weight);
  font-size: 36px;
  margin-top: 220px;
  margin-bottom: 10px;
  color: white;
}

.learn-more {
  margin-top: 10px;
}

.banner-container .header-button {
  background-color: initial;
  border-color: white;
  border-width: 2px;
}

.non-banner {
  text-align: center;
  margin-top: 20px;
}

h2 {
  font-size: 32px;
  color: grey;
  text-align: center;
}

.centered {
  text-align: center;
}

#audienceblocks {
  text-align: center;
  margin-top: 0px;
}

.teach-ai-container {
  background-color: #032D83;
  margin: 3rem auto 4rem;
  padding: 1.5rem;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.teach-ai-container img {
  width: 260px;
}

@media(max-width: 969px) {
  .teach-ai-container {
    flex-direction: column;
    gap: 1rem;
  }

  .teach-ai-container p {
    text-align: center;
  }

  .teach-ai-container img {
    width: 60%;
  }
}
