.announcement {
  width: 100%;
  color: white;
  background-color: #293555;
  overflow: hidden;
  margin-block: 2rem 3rem;
  padding: 1rem;
  border-radius: 4px;
}

.announcement .left {
  float: left;
}

.announcement-thumbnail {
  float: left;
  padding-right: 15px;
}

.announcement .left .title {
  font-size: 16px;
  margin-bottom: 3px;
  font-family: var(--main-font);
  font-weight: var(--semi-bold-font-weight);
}

.announcement .left .details {
  margin-bottom: 0px;
}

.announcement .right {
  float: right;
}

.announcement .right button {
  margin-top: 10px;
  margin-right: 10px;
  font-family: var(--main-font);
  font-weight: var(--semi-bold-font-weight);
}
