.announcement {
  width: 100%;
  color: white;
  background-color: #00adbc;
  margin-top: 20px;
  margin-bottom: 20px;
  overflow:hidden;
  padding: 14px;
  border-radius: 5px
}

.announcement .left {
  float: left;
}

.announcement-thumbnail {
  float: left;
  padding-right: 15px;
}

.announcement .left .title {
  font-size: 16px;
  margin-bottom: 3px;
  font-family: 'Gotham 5r', sans-serif;
}

.announcement .left .details {
  margin-bottom: 0px;
}

.announcement .right {
  float: right;
}

.announcement .right button {
  margin-top: 10px;
  margin-right: 10px;
  font-family: 'Gotham 5r', sans-serif;
}
