.announcement {
  width: 100%;
  color: white;
  background-color: #7665a0;
  margin-top: 20px;
  margin-bottom: 20px;
  overflow:hidden;
  padding: 16px;
  border-radius: 5px
}

.announcement .left {
  float: left;
}

.announcement-thumbnail {
  float: left;
  padding-right: 15px;
}

.announcement .left p.title {
  font-size: 16px;
  margin-bottom: 3px;
  font-family: 'Gotham 5r', sans-serif;
}

.announcement .left p.details {
  margin-bottom: 0px;
}

.announcement .right {
  float: right;
}

.announcement .large-button {
  margin-top: 0px;
  width: 100px;
  height: 50px;
  font-family: 'Gotham 5r', sans-serif;
}

.announcement .small-button {
  margin-top: 0px;
  width: 80px;
  height: 50px;
  font-family: 'Gotham 5r', sans-serif;
}

