@use '@code-dot-org/component-library-styles/mixins.scss' as mixins;
@use '@code-dot-org/component-library-styles/typography.module.scss' as
  typography;
@use '@code-dot-org/component-library-styles/variables.scss' as variables;

$desktop-breakpoint: 1268px;
$tablet-breakpoint: 1023px;
$mobile-breakpoint: 425px;
$box-shadow: 0 2px 6px 0 rgb(0 0 0 / 0.08);

// Header common styles
.headerNavigation {
  background-color: var(--background-brand-teal-primary);
  padding: 0.375rem 0.875rem;
  display: flex;
  justify-content: space-between;
}

// Main links styles
.mainWrapper {
  display: flex;
  align-items: center;
  gap: 0.75rem;

  .logo {
    color: transparent;
    text-decoration: none;

    @include mixins.transition-all;

    &:hover {
      opacity: 90%;
    }

    &:focus-visible {
      @include mixins.focus-styles;
      outline-color: var(--neutral-white-alpha-70);
      border-radius: 1px;
    }

    & > figure {
      height: 2.375rem;
      width: max-content;
      border-radius: unset;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;

    li {
      margin: 0;
      padding: 0;
    }

    a {
      @include typography.body-three;
      color: var(--text-neutral-white-fixed);
      text-decoration: none;
      padding: 1rem;
      border-inline: 2px solid transparent;

      @include mixins.transition-all;

      &:hover,
      &:active {
        background-color: var(--background-brand-teal-strong);
      }

      &:focus-visible {
        border-inline: 2px solid var(--neutral-white-alpha-70);
        outline: none;
      }
    }
  }
}

// Button links styles
.buttonLinks {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.5rem;

  body & .signIn,
  body & .newProject {
    background: transparent;

    &:hover {
      background: var(--background-brand-teal-strong);
    }
  }

  body & .createAccount,
  body & .goToDashboard {
    color: var(--text-brand-teal-primary-fixed);

    &:hover {
      background: var(--neutral-white-alpha-90);
    }
  }

  button,
  a {
    &:focus-visible {
      outline-color: var(--neutral-white-alpha-70);
    }

    span {
      font-weight: 500;
    }
  }
}

// Icon button styles
body .buttonLinks > button.iconButton {
  padding: 0;
  margin-inline-start: 0.25rem;
  background: transparent;
  min-width: unset;
  border-radius: 100%;

  & > i {
    font-size: 1.25rem;
  }

  &:hover,
  &:focus {
    color: var(--neutral-white-alpha-90);
    background: transparent;
  }
}

// Menu styles
.menu {
  @include mixins.border-styles;
  list-style: none;
  position: absolute;
  top: 3rem;
  padding: 0.375rem;
  margin: 0;
  min-width: 228px;
  max-width: 300px;
  background: var(--background-neutral-primary);
  box-shadow: $box-shadow;
  display: flex;
  flex-direction: column;
  text-align: initial;

  a {
    display: block;

    @include typography.body-three;
    font-weight: 500;
    margin-bottom: 0;
    text-decoration: none;
    padding: 0.5rem 0.75rem;

    @include mixins.transition-all;

    &:hover {
      border-radius: variables.$regular-border-radius;
      background: var(--background-neutral-tertiary);
    }

    &:focus-visible {
      @include mixins.focus-styles;
      outline-offset: 0;
      border-radius: variables.$regular-border-radius;
    }
  }
}

// Project menu styles
body .buttonLinks > button.newProject i {
  width: unset;
}

.newProjectMenu {
  a {
    margin: 0;
    padding-inline: 0.375rem;
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 0.625rem;

    figure {
      width: 2.5rem;
    }

    & > div {
      flex: 2;

      .description {
        font-size: 0.75rem;
        margin: 0;
        color: var(--text-neutral-tertiary);
      }
    }
  }

  li:last-child > a {
    align-items: center;
  }
}

// Account links styles
.accountLinks {
  display: flex;
  gap: 0.5rem;
}

// Help menu styles
.helpMenu {
  right: 0;
  min-width: 208px;
}

// Hamburger styles
.hamburgerMenu {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 248px;

  .hamburgerButtonWrapper {
    display: none;
  }
}

// Breakpoint styles
// Large desktop
@media (max-width: ($desktop-breakpoint - 1px)) {
  // Show Help menu
  body .helpButton {
    display: none;
  }
}

// Small desktop
@media (min-width: $desktop-breakpoint) {
  // Show Hamburger menu
  body .hamburgerButton {
    display: none;
  }
}

// Between 1268px and 1024px
@media (max-width: ($desktop-breakpoint - 1px)) and (min-width: ($tablet-breakpoint + 1px)) {
  .hasDisplayLogic {
    display: none;
  }
}

// Tablet
@media (max-width: $tablet-breakpoint) {
  // Hide Main links and New Project menu
  body .mainLinks,
  body .newProject {
    display: none;
  }

  .hasDisplayLogic {
    display: block;
  }
}

// Mobile
@media (max-width: $mobile-breakpoint) {
  // Hide Account links
  body .accountLinks {
    display: none;
  }

  .hamburgerMenu {
    top: 3rem;
    box-shadow: $box-shadow;

    .hamburgerButtonWrapper {
      display: block;
      background: var(--background-neutral-secondary);

      @include mixins.border-styles;
      padding: 0.375rem;
      border-radius: 0.25rem 0.25rem 0 0;
      border-bottom: 0;
    }

    .accountLinks {
      display: flex;
      flex-direction: column-reverse;
    }

    ul {
      position: relative;
      top: unset;
      margin: 0;
      border-radius: 0 0 0.25rem 0.25rem;
      box-shadow: none;
    }
  }
}
