.list {
  list-style: none;
  margin: 0;
  padding: 0.25rem 0;
  min-width: 12rem;
}

.link {
  display: block;
  padding: 0.625rem 1rem;
  text-decoration: none;
  color: var(--text-neutral-primary);
  white-space: nowrap;
  font-size: 14px;

  &:visited,
  &:hover,
  &:active {
    color: var(--text-neutral-primary);
  }

  &:hover {
    background-color: var(--background-brand-teal-extra-light);
  }
}
