- content_for :head do
  = render 'devise/registrations/new_sign_up_locale'

%script{src: webpack_asset_path('js/devise/registrations/new_sign_up.js')}

#login-type-selection
  = render 'devise/registrations/new_sign_up_locale'
