---
layout: none
theme: none
---

:scss
  .records {
    th {
      padding: 10px;
      background-color: #ccc;
      text-align: left;
    }
    td {
      padding: 10px;
      border: 1px solid #ccc;
    }
    .name {
      font-size: 1.5em;
    }
  }

  .level-buttons {
    margin: 20px 5px;
  }

%div
  %h2
    Viewing table: {{tableName}}

  %table.records{style: "width:850px; table-layout:auto;"}
    %colgroup
      %col{width: "200"}
      %col{"ng-repeat" => "column in columns", width: "200"}
      %col{width: "250"}
    %tr
      %th
        %a{href: "", "ng-click" => "order = 'id'; reverse=!reverse"}
          id
        %i.fa.fa-caret-down{"ng-show" => "order == 'id' && reverse == true"}
        %i.fa.fa-caret-up{"ng-show" => "order == 'id' && reverse == false"}
      %th{"ng-repeat" => "column in columns"}
        %a{href: "", "ng-click" => "$parent.order = column; $parent.reverse = !$parent.reverse"}
          {{column}}
        %i.fa.fa-caret-down{"ng-show" => "$parent.order == column && $parent.reverse == true"}
        %i.fa.fa-caret-up{"ng-show" => "$parent.order == column && $parent.reverse == false"}
      %th
    %tr{"ng-repeat" => "record in records | orderBy:order:reverse", style: "vertical-align:top"}
      %td
        %span
          {{ record.id }}
      %td{"ng-repeat" => "column in columns"}
        %span{"ng-hide" => "record.editing"}
          {{ record[column] }}
        %span{"ng-show" => "record.editing"}
          %input{"ng-model" => "record[column]", style: "width: 100%", type: "text"}/
      %td
        %button.btn.btn-default{"ng-click" => "record.editing = true", "ng-hide" => "record.editing"} Edit
        %button.btn.btn-primary{"ng-click" => "saveRecord(record)", "ng-show" => "record.editing"} Save
        %button.btn.btn-danger{"ng-click" => "deleteRecord(record)"} Delete
    %tr
      %td
      %td{"ng-repeat" => "column in columns"}
        %span{"ng-show" => "newRecord.editing"}
          %input{"ng-model" => "newRecord[column]", style: "width: 100%", type: "text"}/
      %td
        %button.btn.btn-primary{"ng-click" => "newRecord.editing = true", "ng-hide" => "newRecord.editing"} Add
        %button.btn.btn-primary{"ng-click" => "saveNewRecord()", "ng-show" => "newRecord.editing"} Save
        %button.btn.btn-danger{"ng-click" => "deleteNewRecord()", "ng-show" => "newRecord.editing"} Delete

  %br
  %div 
    %span
      %input{"ng-model" => "newColumnName"}
      %button.btn.btn-primary{"ng-click" => "addColumn()"} Add column
        
  %h3 Debug view of table:
  %pre{"ng-model" => "records"}
    {{ records | json }}

