---
theme: responsive_wide
theme: responsive
style_min: true
---

%h1 Our Coalition
= view :about_logos, logos: DB[:cdo_partners].where(codeorg_b:true).and(kind_s:'advocacy')
= view :about_people, people: DB[:cdo_partners].where(codeorg_b:true).and(kind_s:'advocacylist')
