---
title: Computer Science Legislation
theme: responsive
style_min: true
---

# Computer Science Legislation

## Current Legislation
Select a state to see the current bills in that state. Or, select an Issue Area to see all bills of that Issue Area. From the filtered list of bills below the map, click the right facing arrow in the furthest right column to see the bill details. You can click the left arrow or the Priority Bills tab to switch back from the bill's details to the map.   

<%= view :advocacy_map %>

<div style="clear:both"></div>

## U.S. State Computer Science Legislation

* [Outcomes of 2019 state legislation](https://docs.google.com/document/d/1tZtd7GL_oTBv8Jc846s7Y2jr-uT_-beEpIlS9PD6X-E/edit?usp=sharing)
* [Historic state policy tracking documents (2015-2018)](https://docs.google.com/document/d/1WX7KO3ioZEghj4Ro5u2WrZ9CodJbZIJkrs6o87eXuCk/edit?usp=sharing) 

## U.S. Federal Computer Science Legislation

* [Federal policy tracking document](https://docs.google.com/spreadsheets/d/1WEQXeDfEp-UiD_YTrgD4fzhEId1fNoiU-6uMhHq8F0U/edit?usp=sharing)
