---
theme: responsive_wide
layout: wide
social:
  "og:title": "Advocate for computer science education"
  "og:description": "Bringing together more than 50 industry, non-profit, and advocacy organizations, the Code.org Advocacy Coalition advances the development of policies to make Computer Science a fundamental part of the K-12 education system."
  "twitter:site": "@codeorg"
  "twitter:title": "Advocate for computer science education"
  "twitter:description": "Learn about our local policy and access resources to support computer science in our state."
  "twitter:url": "https://advocacy.code.org/"
video_player: false
---

%link{:href=>"/css/advocacy.css", :rel=>"stylesheet"}

#homepage

  #fullwidth{style: "position: relative"}
    = view :header

    .banner{style: "background-image: url(/images/advocacy-banner.jpg); height: 400px; background-repeat: no-repeat; background-size: cover; background-position: 50% 40%; color: white; text-align: center; xposition: absolute; top: 0; width: 100%; z-index: -5"}
      .container_responsive{style: "padding-top: 70px"}
        %h1{style: "color: white"} Advocate for computer science education
        Bringing together more than 50 industry, non-profit, and advocacy organizations, the Code.org Advocacy Coalition advances the development of policies to make Computer Science a fundamental part of the K-12 education system.

        %div{style: "padding-top: 80px"}
          %a{href: CDO.code_org_url("/files/CoalitionOnePager.pdf")}
            %button{style: "background-color: initial; border-color: white; border-width: 2px"}
              Learn more

      .clear{style: "clear:both"}

    .clear{style: "clear:both"}

  .container_responsive

    -state ||= nil
    %link{:href=>"/css/interactive_map.css", :rel=>"stylesheet"}
    = view :interactive_map, use_url: false, advocacy_variation: true

    .clear{style: "clear:both"}

    %h2{style: "color: grey; text-align: center"}
      Drive the change in your state

    =inline_css 'homepage.css'

    #audienceblocks{style: "text-align:center; margin-top:0px"}
      - blocks = AdvocacySite.get_blocks(request)
      - blocks.each do |block|
        .block
          - if block[:type] == "block"
            = view :homepage_quarterslot_links, entry: block, desktop_column_width: 50, layout_class: 'quarterslot-links-large'

    .clear{style: "clear: both"}

    %h2{style: "color: grey; text-align: center"} Our Coalition

    = view :about_logos, logos: DB[:cdo_partners].where(codeorg_b:true).and(kind_s:'advocacy')

