---
title: 2020 State of CS Report
theme: responsive
---

=inline_css 'interactive-map.css'
=inline_css 'advocacy-stateofcsreport.css'



.container{style: "background-color: #F5F5F5; text-align: center"}
  .col-33
    %img.center{src: "/images/fit-100/CodeLogo.png"}
  .col-33
    %img.center{src: "/images/fit-100/CSTALogo.png"}
  .col-33
    %img.center{src: "/images/fit-100/ECEPLogo.jpg"}


.container
  .col{style: "text-align: center"}
    %h1
      2020 State of Computer Science Education:
      %br
      Illuminating Disparities
    %p
      One sentence describing the report
    %a{href: "/2019_state_of_cs.pdf", target: "_blank"}
      %button Download PDF
    %a{href: "https://smile.amazon.com/2019-State-Computer-Science-Report/dp/B07XFH3Y1Z", target: "_blank"}
      %button Order Report


%br

.container{style: "background-color: #F5F5F5; text-align: center"}
  .col-100
    %h4
      State Summaries
    %p
      One sentence describing the images below and the state summaries
  .col-33
    %img.center{src: "/images/fit-300/StatePage.png"}
    %p
      Sentence describing the State Page
  .col-33
    %img.center{src: "/images/fit-300/SchoolsTeaching.png"}
    %p
      Sentence describing the State Page
  .col-33
    %img.center{src: "/images/fit-300/AccessParticipation.png"}
    %p
      Sentence describing the State Page

%br

.container
  .col-66
    %p
      Providing all Rhode Island students with computer science education is essential for our economic development and ensures that our students have the skills necessary to compete for high wage, high demand careers.”
  .col-33
    %img.center{src: "/images/fit-200/Raimondo.png", style: "border-radius: 50%"}
    %p
      Governor Gina Raimondo (D-RI)

%br

.container{style: "background-color: #F5F5F5"}
  .col-50{style: "background-color: white"}
    %img{src: "/images/fit-450/AccessReport.png"}
  .col-50{style: "padding-left: 10%; padding-top: 10%"}
    %h4
      Access to Computer Science
    %p
      Sentence describing Access Report

.container{style: "background-color: #F5F5F5"}
  .col-50{style: "padding-left: 10%; padding-top: 10%"}
    %h4
      Policy Maps
    %p
      Sentence describing Policy Maps
  .col-50{style: "background-color: white"}
    %img{src: "/images/fit-450/AccessReport.png"}

.container{style: "background-color: #F5F5F5"}
  .col-50{style: "background-color: white"}
    %img{src: "/images/fit-450/9Policies.png"}
  .col-50{style: "padding-left: 10%; padding-top: 10%"}
    %h4
      9 Policies
    %p
      Sentence describing 9 Policies

%br

.container
  .col-50
    %h4
      Get your State of CS Report
    %p
      Choose a digital PDF or order a physical copy today!
  .col-50
    %a{href: "/2019_state_of_cs.pdf", target: "_blank"}
      %button Download PDF
    %a{href: "https://smile.amazon.com/2019-State-Computer-Science-Report/dp/B07XFH3Y1Z", target: "_blank"}
      %button Order Report

%br

.container
  .col-100{style: "text-align: center"}
    %h4
      CC BY NC 4.0
    %p
      Sentence explaining usage rights of the report

  
