---
title: 2018 Code.org/CSTA State Policy Forum
theme: responsive
---
.img-container{style: "text-align: center"}
  .col-33
    %img.center{src: "/images/fit-100/CodeLogo.png"}
  .col-33
    %img.center{src: "/images/fit-100/CSTALogo.png"}
  .col-33
    %img.center{src: "/images/fit-100/ECEPLogo.jpg"}

.container
  .col-100{style: "text-align: center"}
    %h1
      2020 State of Computer Science Education:
      %br
      Illuminating Disparities
    %p
      One sentence describing the report
    %a{href: "/2019_state_of_cs.pdf", target: "_blank"}
      %button Download PDF
    %a{href: "https://smile.amazon.com/2019-State-Computer-Science-Report/dp/B07XFH3Y1Z", target: "_blank"}
      %button Order Report

%br/
.container{style: "background-color: #F5F5F5"}
  .col-100{style: "text-align: center"}
    %h4
      State Summaries
    %p
      One sentence describing the images below and the state summaries
  .col-33
    %img{src: "/images/fit-300/StatePage.png"}
    %p
      Sentence describing the State Page
  .col-33
    %img{src: "/images/fit-300/SchoolsTeaching.png"}
    %p
      Sentence describing the State Page
  .col-33
    %img{src: "/images/fit-300/AccessParticipation.png"}
    %p
      Sentence describing the State Page

%br

.container{style: "background-color: white"}
  .col-50
    %img{src: "/images/fit-500/AccessReport.png"}
  .col-50{style: "min-height: 300px; background-color: #F5F5F5"}
    %h4{style: "text-align: center"}
      Access to Computer Science
    %p{style: "text-align: center"}
      Sentence describing Access Report

.container{style: "background-color: white"}
  .col-50{style: "background-color: #F5F5F5"}
    %h4
      Policy Maps
    %p
      Sentence describing Policy Maps
  .col-50
    %img{src: "/images/fit-500/AccessReport.png"}

.container{style: "background-color: white"}
  .col-50
    %img{src: "/images/fit-500/9Policies.png"}
  .col-50{style: "background-color: #F5F5F5"}
    %h4
      Policy Maps
    %p
      Sentence describing Policy Maps
  
/ .col-50
/   %img{src: "/images/fit-300/CodeLogo.png"} 
/ .col-50{style: "background-color: #D3D3D3"}
/   %h4
/     National Momentum
/   %p
/     Sentence describing national momentum 


/ ---
/ title: 2020 State of Code Report
/ noindex: true
/ theme: responsive
/ ---

/ .col-33
/   %img{src: "/images/fit-300/CodeLogo.png"}
/ .col-33
/   %img{src: "/images/fit-300/CSTALogo.png"}
/ .col-33
/   %img{src: "/images/fit-300/ECEPLogo.jpg"}

/ .col-100{style: "text-align: center"}
/   %h1
/     2020 State of Computer Science Education: Illuminating Disparities
/   %p
/     One sentence describing the report

/   %button
/     %a{href: "/2019_state_of_cs.pdf", target: "_blank"}

/   /  %button Order Report

/ / .col-100{style: "text-align: center"}
/ /   %h2
/ /     State Summaries
/ /   %p
/ /     One sentence describing the pictures below

/ %br/
/ .col-33
/   %img{src: "/images/fit-300/CodeLogo.png"}
/   caption 1
/ .col-33
/   %img{src: "/images/fit-300/CodeLogo.png"}
/   caption 2
/ .col-33
/   %img{src: "/images/fit-300/CodeLogo.png"}
/   caption 3
/ %br/
/ .col-66
/   stuff on the left
/ .col-33
/   stuff on the right
/ .col-50
/   half left
/ .col-50
/   half right
