---
title: 2018 Code.org/CSTA State Policy Forum
theme: responsive
---



.img-container{style: "text-align: center"}
  .col-33
    %img.center{src: "/images/fit-100/CodeLogo.png"}
  .col-33
    %img.center{src: "/images/fit-100/CSTALogo.png"}
  .col-33
    %img.center{src: "/images/fit-100/ECEPLogo.jpg"}

.container
  .col-100{style: "text-align: center"}
    %h1
      2020 State of Computer Science Education:
      %br
      Illuminating Disparities
    %p
      One sentence describing the report
    %a{href: "/2019_state_of_cs.pdf", target: "_blank"}
      %button Download PDF
    %a{href: "https://smile.amazon.com/2019-State-Computer-Science-Report/dp/B07XFH3Y1Z", target: "_blank"}
      %button Order Report

%br
.container{style: "background-color: #F5F5F5; text-align: center"}
  .col-100
    %h4
      State Summaries
    %p
      One sentence describing the images below and the state summaries
  .col-33
    %img.center{src: "/images/fit-300/StatePage.png"}
    %p
      Sentence describing the State Page
  .col-33
    %img.center{src: "/images/fit-300/SchoolsTeaching.png"}
    %p
      Sentence describing the State Page
  .col-33
    %img.center{src: "/images/fit-300/AccessParticipation.png"}
    %p
      Sentence describing the State Page

%br

.container{style: "background-color: white"}
  .col-50
    %img{src: "/images/fit-450/AccessReport.png"}
  .col-50{style: "min-height: 474px; background-color: #F5F5F5; text-align: center"}
    %h4
      Access to Computer Science
    %p
      Sentence describing Access Report

.container{style: "background-color: white"}
  .col-50{style: "min-height: 474px; background-color: #F5F5F5; text-align: center"}
    %h4
      Policy Maps
    %p
      Sentence describing Policy Maps
  .col-50
    %img{src: "/images/fit-450/AccessReport.png"}

.container{style: "background-color: white"}
  .col-50
    %img{src: "/images/fit-450/9Policies.png"}
  .col-50{style: "min-height: 368px; background-color: #F5F5F5; text-align: center"}
    %h4
      Policy Maps
    %p
      Sentence describing Policy Maps

%br

.container
  .col-50
    %h4
      Get your State of CS Report
    %p
      Choose a digital PDF or order a physical copy today!
  .col-50
    %a{href: "/2019_state_of_cs.pdf", target: "_blank"}
      %button Download PDF
    %a{href: "https://smile.amazon.com/2019-State-Computer-Science-Report/dp/B07XFH3Y1Z", target: "_blank"}
      %button Order Report
  
