---
title: 2021 State of CS Report
theme: responsive
layout: none
---

- require 'state_abbr'

=inline_css 'interactive-map.css'
=inline_css 'advocacy-stateofcsreport.css'



.container_responsive{style: "background-color: #F5F5F5; text-align: center"}
  .col-33
    %img{src: "/images/fit-100/CodeLogo.png", style: "padding: 10px"}
  .col-33
    %img{src: "/images/fit-100/CSTALogo.png", style: "padding: 10px; padding-top: 15px"}
  .col-33
    %img{src: "/images/fit-100/ECEP_Logo.jpg", style: "padding: 10px"}
  .clear

.container_responsive
  .col{style: "text-align: center; background-color: #285C70; color: #FFF; padding: 1%; margin-top: 1.5%;"}
    %h1{style: "color: #FFF; margin: 0px !important"}
      2021 State of Computer Science Education:
      %br
      Accelerating Action Through Advocacy
    %p
      Annual report on K-12 computer science in the United States which includes policy trends, maps, state-by-state summaries, and implementation data. Choose a digital PDF or order a physical copy today.

    #calltoaction{style: "text-align: center;"}
      .block.col-33{style: "padding: 25px;"}
        %a{href: "/2020_state_of_cs.pdf", target: "_blank", style: "text-decoration: none"}
          #downloadwhole{style: "background-color: #E8EFEF; border-radius: 20px;"}
            %img{src: "/tempsocs-images/socs-cover-2021.png", alt: "screenshot of the front page cover of the State of CS 2021 report", style: "width: 75%; margin-top: 4%; border-radius: 15px;"}
            %button{style: "background-color: #2C3F1C; color: white; border-color: #2C3F1C; margin-bottom: 4%;"} Download Report
      .block.col-33{style: "padding: 25px;"}
        %a{href: "#statesumm"}
          #downloadstate{style: "background-color: #E8EFEF; border-radius: 20px;"}
            %img{src: "/tempsocs-images/state-page.png", alt: "screenshot of the Guide to State Summaries page from the report", style: "width: 75%; margin-top: 4%; border-radius: 15px;"}
            %button{style: "background-color: #2C3F1C; color: white; border-color: #2C3F1C; margin-bottom: 4%;"} Download State Handout
      .block.col-33{style: "padding: 25px;"}
        %a{href: "#", target: "_blank"}
          #downloadpresentation{style: "background-color: #E8EFEF; border-radius: 20px;"}
            %img{src: "/tempsocs-images/tableau-long.png", alt: "screenshot of the Tableau dashboard linked below", style: "width: 75%; margin-top: 4%; border-radius: 15px;"}
            %button{style: "background-color: #2C3F1C; color: white; border-color: #2C3F1C; margin-bottom: 4%;"} Interactive Data Visualization
  .clear

%br

.container_responsive{style: "background-color: #F5F5F5"}
  .col-50{style: "background-color: white; text-align: center"}
    %img{src: "/tempsocs-images/percentage-heatmap.png", style: "width: 100%;"}
  .col-50{style: "padding: 10%"}
    %h3
      Access to Computer Science
    %p
      Across the U.S., 51% of public high schools offer foundational computer science. 
  .clear{style: "background-color: #F5F5F5"}

.container_responsive{style: "background-color: #F5F5F5"}
  .col-50{style: "padding: 10%"}
    %h3
      Policy and Implementation
    %p
      Adoption of computer science policies is correlated with the percentage of high schools offering computer science.
  .col-50{style: "background-color: white; text-align: center"}
    %img{src: "/tempsocs-images/policy-correlation.png", style: "width: 100%;"}
  .clear{style: "background-color: #F5F5F5"}

.container_responsive{style: "background-color: white"}
  .col-50{style: "background-color: white; text-align: center"}
    %img{src: "/tempsocs-images/policy-count-map.png", style: "width: 100%;"}
  .col-50{style: "padding: 10%; background-color: #F5F5F5"}
    %h3
      Policy Maps
    %p
      39 states have adopted 4 or more policies to make computer science part of the education system. 
  .clear{style: "background-color: #F5F5F5"}

%br

#statesumm.container_responsive{style: "background-color: #E8EFEF;"}
  .col-100
    %h2{style: "text-align: center; padding-top: 2%;"}
      State Handouts
  .col-100{style: "text-align: center; width: 100%;"}
    %select.dropdown#small-state-dropdown
      %option Pick a State
      -STATE_ABBR_WITH_DC_HASH.each do |abbr, state|
        %option{value: abbr}= state
        :javascript
          var documents = {
            AK: "Alaska",
            AL: "Alabama",
            AR: "Arkansas",
            AZ: "Arizona",
            CA: "California",
            CO: "Colorado",
            CT: "Connecticut",
            DC: "DistrictofColumbia",
            DE: "Delaware",
            FL: "Florida",
            GA: "Georgia",
            HI: "Hawaii",
            IA: "Iowa",
            ID: "Idaho",
            IL: "Illinois",          
            IN: "Indiana",
            KS: "Kansas",
            KY: "Kentucky",
            LA: "Louisiana",
            MA: "Massachusetts",
            MD: "Maryland",
            ME: "Maine",
            MI: "Michigan",
            MN: "Minnesota",
            MO: "Missouri",
            MS: "Mississippi",
            MT: "Montana",
            NC: "NorthCarolina",
            ND: "NorthDakota",
            NE: "Nebraska",
            NH: "NewHampshire",
            NJ: "NewJersey",
            NM: "NewMexico",
            NV: "Nevada",
            NY: "NewYork",
            OH: "Ohio",
            OK: "Oklahoma",
            OR: "Oregon",
            PA: "Pennsylvania",
            RI: "RhodeIsland",
            SC: "SouthCarolina",
            SD: "SouthDakota",
            TN: "Tennessee",
            TX: "Texas",
            UT: "Utah",
            VA: "Virginia",
            VT: "Vermont",
            WA: "Washington",
            WI: "Wisconsin",
            WV: "WestVirginia",
            WY: "Wyoming"
          };

          $("#small-state-dropdown").on('change', function() {
            var value = $(this).val();
            location.href = "/state_handouts/" + documents[value] +".pdf";
          });
  .col-80{style: "padding-left: 10%;"}
    %p
      Each state handout includes:
      %ul
        %li
          Detailed description of state policies that promote computer science education
        %li
          Graph showing access to or participation in foundational computer science courses
        %li
          AP Computer Science access and participation disparities for racial and ethnic groups
  .clear

%br

.container_responsive
  .col-50
    %h4
      Get Your State of Computer Science Report
    %p
      Choose a digital PDF or order a physical copy today
  .col-50{style: "text-align: center"}
    %a{href: "/2020_state_of_cs.pdf", target: "_blank", style: "text-decoration: none"}
      %button{style: "background-color: black; color: white; border-color: black"} Download PDF
    %a{href: "https://smile.amazon.com/2020-State-Computer-Science-Report/dp/B08KWLRGSC?ref_=ast_sto_dp", target: "_blank"}
      %button{style: "background-color: black; color: white; border-color: black"} Order Report
    %a{href: "/2020_State_of_Computer_Science_Education_Data.xlsx", target: "_blank"}
      %button{style: "background-color: black; color: white; border-color: black"} Download Data
  .clear

%br

%hr{style: "height:2px; background-color: black; width: 85%"}


.container_responsive
  .col-50
    %h4
      Historic State of Computer Science Reports
    %p
      Download previous state of computer science reports to see how your state has progressed!
  .col-50{style: "text-align: center"}
    %a{href: "/2019_state_of_cs.pdf", target: "_blank", style: "text-decoration: none"}
      %button{style: "background-color: black; color: white; border-color: black"} 2019 Report
    %a{href: "/2018_state_of_cs.pdf", target: "_blank"}
      %button{style: "background-color: black; color: white; border-color: black"} 2018 Report
    %a{href: "/2017_state_of_cs.pdf", target: "_blank"}
      %button{style: "background-color: black; color: white; border-color: black"} 2017 Report
  .clear

%br

.container_responsive
  .col-100{style: "text-align: center; padding: 10px"}
    %h4
      %a{href: "https://creativecommons.org/licenses/by-nc-sa/4.0/", style: "color: grey"}CC BY-NC-SA 4.0
    %p
      This work is licensed under the Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License. Authorization to reproduce this report in whole or in part is granted
  .clear

