-# TODO(asher): Remove current_user.admin? as part of admin account lockdown.
- if current_user && (current_user.admin? || current_user.permission?(UserPermission::LEVELBUILDER))
  = render layout: 'shared/admin' do
    %h3 Debug
    %h4 projects ({{projects.length}} total including hidden)
    %pre
      {{ projects | json }}
