%span.project-links
  %a.level_link{href: applab_project_projects_path}
    %i.fa.fa-mobile
    = t('nav.header.free_play.applab')
  %a.level_link{href: playlab_project_projects_path}
    %i.fa.fa-rocket
    = t('nav.header.free_play.playlab')
  %a.level_link{href: artist_project_projects_path}
    %i.fa.fa-pencil
    = t('nav.header.free_play.artist')
