%span.project-links
  %a.level_link{href: playlab_projects_path}
    %i.fa.fa-rocket
    = t('nav.header.free_play.playlab')
  %a.level_link{href: artist_projects_path}
    %i.fa.fa-pencil
    = t('nav.header.free_play.artist')
