- @page_title = "Report Abuse"

#report-abuse-form

:ruby
  reactProps = {
    csrfToken: form_authenticity_token,
    name: (current_user.name unless current_user.nil?),
    email: (current_user.email unless current_user.nil?),
    age: (current_user.age unless current_user.nil?),
  }

:javascript
  var props = #{reactProps.to_json}
  props.abuseUrl = document.referrer;
  React.render(
    React.createElement(window.dashboard.ReportAbuseForm, props),
    document.getElementById('report-abuse-form'));
