#featured-projects-container
- featured_projects_data = {}
- featured_projects_data[:currently_featured_projects] = @featured
- featured_projects_data[:archived_unfeatured_projects] = @unfeatured

- content_for(:head) do
  %script{src: webpack_asset_path('js/projects/featured.js'), data: {featuredProjects: featured_projects_data.to_json}}
