- @page_title = t('project.project_gallery')
- is_public = local_assigns[:is_public]

= render partial: 'shared/angular'

%script{src: asset_path('angularProjects.js'), data: {under13: current_user.under_13?.to_json} }
%script{src: asset_path("js/#{js_locale}/common_locale.js")}
%script{src: minifiable_asset_path('js/projects/index.js')}

.projects-page
  .row
    #projects-header
    #angular-my-projects-wrapper{'style' => ('display: none;' if is_public)}
      %div{'ng-app' => 'projectsApp', 'ng-view' => ''}
    #public-gallery-wrapper{'style' => ('display: none;' unless is_public)}
      #public-gallery
    #publish-confirm

= render partial: 'projects/admin'
