:ruby
  @page_title = t('project.project_gallery')
  projects_data = {}
  projects_data[:limitedGallery] = @limited_gallery
  projects_data[:currentTab] = @current_tab
  projects_data[:projectCount] = fetch_project_count['total_projects']

  if current_user
    projects_data[:canViewAdvancedTools] = !(current_user.under_13? && current_user.terms_version.nil?)
    projects_data[:canShare] = !current_user.sharing_disabled?
  end

  projects_data[:specialAnnouncement] = Announcements.get_announcement_for_page("/projects")

%script{src: webpack_asset_path("js/#{js_locale}/common_locale.js")}
%script{src: webpack_asset_path('js/projects/index.js'), data: {projects: projects_data.to_json}}

#projects-page
