- @page_title = t('project.project_gallery')

= render partial: 'shared/angular'

%script{src: asset_path('angularProjects.js') }
%script{src: asset_path("js/#{js_locale}/common_locale.js")}
%script{src: minifiable_asset_path('js/projects/index.js')}

.projects-page
  .row
    #projects-header
    #angular-my-projects-wrapper
      %div{'ng-app' => 'projectsApp', 'ng-view' => ''}
    #public-gallery-wrapper{'style' => 'display: none;'}
      #public-gallery
    #publish-confirm

= render partial: 'projects/admin'
