- @page_title = 'Projects'

:scss
  .projects {
    th {
      padding: 10px;
      background-color: #ccc;
      text-align: left;
    }
    td {
      padding: 10px;
      border: 1px solid #ccc;
    }
    .name {
      font-size: 1.5em;
    }
  }
%div{'ng-controller' => 'ProjectsController'}
  
  %table.projects{style: "width:850px; table-layout:auto;", 'ng-show' => 'projects.length > 0'}
    %colgroup
      %col{width: "200"}
      %col{width: "200"}
      %col{width: "200"}
      %col{width: "250"}
    %tr
      %th
        %a{href: "", "ng-click" => "order = 'name'; reverse=!reverse"}
          Name
          %i.fa.fa-caret-down{'ng-show' => "order == 'name' && reverse == true"}
          %i.fa.fa-caret-up{'ng-show' => "order == 'name' && reverse == false"}
      %th
        %a{href: "", "ng-click" => "order = 'updatedAt'; reverse=!reverse"}
          UpdatedAt
          %i.fa.fa-caret-down{'ng-show' => "order == 'updatedAt' && reverse == true"}
          %i.fa.fa-caret-up{'ng-show' => "order == 'updatedAt' && reverse == false"}
      %th
        %a{href: "", "ng-click" => "order = 'createdAt'; reverse=!reverse" }
          CreatedAt
          %i.fa.fa-caret-down{'ng-show' => "order == 'createdAt' && reverse == true"}
            %i.fa.fa-caret-up{'ng-show' => "order == 'createdAt' && reverse == false"}
      %th
    %tr{"ng-repeat" => "project in projects | orderBy:order:reverse", style: "vertical-align:top"}
      %td
        %span{'ng-hide' => 'project.editing'}
          %span.name{'ng-if' => 'project.url()'}
            %a{"ng-href" => '{{ project.url() }}'}
              {{ project.name }}
          %span.name{'ng-if' => '!project.url()'}
            {{ project.name }}
        %span{'ng-show' => 'project.editing'}
          %input{"ng-model" => "project.name", style: "width: 100%", type: "text"}/
      %td
        {{ project.updatedAt | date: 'short' }}
      %td
        {{ project.createdAt | date: 'short' }}
      %td
        %button.btn.btn-default{'ng-click' => 'project.editing = true', 'ng-hide' => 'project.editing'} Edit
        %button.btn.btn-primary{'ng-click' => 'project.$save(project); project.editing = false', 'ng-show' => 'project.editing'} Save
        %button.btn.btn-danger{'ng-click' => 'project.$remove({id: project.id}) && projects.splice($index,1)'} Delete
  %h3 Debug
  %h4 projects
  %pre
    {{ projects | json }}

