- limited_gallery = local_assigns[:limited_gallery]
- projects_data = {}
- projects_data[:limitedGallery] = limited_gallery
- projects_data[:projectCount] = fetch_project_count['total_projects']

- if current_user
  - projects_data[:canViewAdvancedTools] = !(current_user.under_13? && current_user.terms_version.nil?)

%script{src: asset_path("js/#{js_locale}/common_locale.js"), data: {projects: projects_data.to_json}}
%script{src: minifiable_asset_path('js/projects/public.js')}

.projects-page
  #public-gallery
