- limited_gallery = local_assigns[:limited_gallery]
- projects_data = {}
- projects_data[:limitedGallery] = limited_gallery
- project_count = fetch_metrics['project_count'] / 1_000_000
- puts project_count
- projects_data[:projectCount] = project_count

%script{src: asset_path("js/#{js_locale}/common_locale.js"), data: {projects: projects_data.to_json}}
%script{src: minifiable_asset_path('js/projects/public.js')}

.projects-page
  #public-gallery
