@import "color.scss";
@import 'font.scss';
@import '../mixins.scss';

$text-offset-x: -5cqw;
$text-offset-y: 5cqw;

@keyframes fade-in {
  0%, 50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes delay-pointer-events {
  0%, 49% {
    pointer-events: none;
  }
  50%, 100% {
    pointer-events: initial;
  }
}

.panelsContainer {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  flex-direction: column;

  .panel {
    margin: 0 auto;
    position: relative;
    container-name: panel;
    container-type: inline-size;

    .image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 5px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;

      &Current {
        animation: fade-in 2s;
      }
    }

    .text {
      background-color: $neutral_light;
      border-radius: 5px;
      width: 40%;
      position: absolute;
      padding: 1.8cqw 2.6cqw;
      animation: fade-in 4s;
      font-size: 1.6cqw;
      line-height: 1.4em;

      &Dark {
        background-color: $neutral_dark;
        color: $light_white;
      }

      h1, h2, h3, h4 {
        margin: 0 0 1cqw 0;
        font-family: $barlowSemiCondensed-semibold;
        font-size: 3cqw;
        line-height: 2cqw;
      }

      p {
        font-size: 1.6cqw;
        line-height: 1.4em;

        &:last-child {
          margin-bottom: 0;
        }
      }

      .invisiblePlaceholder {
        opacity: 0;
      }

      .typist {
        position: absolute;
        top: 1.8cqw;
      }

      &TopLeft {
        top: $text-offset-y;
        left: $text-offset-x;
      }

      &TopCenter {
        top: $text-offset-y;
        left: 50%;
        transform: translateX(-50%);
      }

      &TopRight {
        top: $text-offset-y;
        right: $text-offset-x;
      }

      &BottomLeft {
        bottom: $text-offset-y;
        left: $text-offset-x;
      }

      &BottomCenter {
        bottom: $text-offset-y;
        left: 50%;
        transform: translateX(-50%);
      }

      &BottomRight {
        bottom: $text-offset-y;
        right: $text-offset-x;
      }
    }
  }

  .childrenArea {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .button {
      position: absolute;
      right: 0;
      height: 38px;
      animation: fade-in 9s, delay-pointer-events 9s;
    }

    .bubble {
      margin: 0 7px;

      &Current {
        color: $neutral_light;
      }

      &NotCurrent {
        color: $neutral_dark70;
        cursor: pointer;
      }
    }
  }

  .skipContainer {
    position: absolute;
    top: 1px;
    right: 4px;

    .buttonSkip {
      @include remove-button-styles;
      background-color: $neutral_dark;
      color: $neutral_light;
      display: flex;
      height: 24px;
      width: initial;
      padding: 0 11px;
      font-size: 13px;
      justify-content: center;
      align-items: center;
      border-radius: 3px;
      margin: 2px;
      transition: opacity 0.2s ease;

      &Content {
        margin-right: 9px;
      }
    }
  }
}
