:ruby
  resource_item = [
    {
      title:hoc_s("poetry_page.additional_resources.curriculum_catalog.title"),
      image: "/images/lms/computer.png",
      desc: hoc_s("tools_pages_shared.resources.catalog.desc"),
      url: "https://studio.code.org/catalog",
      button_label: hoc_s("poetry_page.additional_resources.curriculum_catalog.button_label")
    },
    {
      title: hoc_s("lms_page.additional_resources.district_program_heading"),
      image: "/images/lms/puzzlePieces.png",
      desc: hoc_s("lms_page.additional_resources.district_program_desc"),
      url: "/districts",
      button_label: hoc_s(:call_to_action_discover_district_program)
    },
    {
      title: hoc_s(:module_professional_learning),
      image: "/images/professional-learning/pl-superhero-girl-crop.png",
      desc: hoc_s("lms_page.additional_resources.pl_desc"),
      url: "/professional-learning",
      button_label: hoc_s("poetry_page.continue_learning.explore_pl")
    },
  ]

.action-block__wrapper.action-block__wrapper--three-col
  - resource_item.each do |resource_item|
    .action-block.action-block--one-col.flex-space-between
      .content-wrapper
        %h3
          = resource_item[:title]
        %img{src: resource_item[:image], alt: ""}
        %p
          = resource_item[:desc]
      .content-footer
        %a.link-button{href: resource_item[:url]}
          = resource_item[:button_label]
