:ruby
  card_list = [
    {
      image: "/images/lms/editorial01.png",
      title: hoc_s("lms_page.reasoning.title_01"),
      desc: hoc_s("lms_page.reasoning.desc_01")
    },
    {
      image: "/images/lms/editorial02.png",
      title: hoc_s("lms_page.reasoning.title_02"),
      desc: hoc_s("lms_page.reasoning.desc_02")
    },
    {
      image: "/images/lms/editorial03.png",
      title: hoc_s("lms_page.reasoning.title_03"),
      desc: hoc_s("lms_page.reasoning.desc_03")
    },
    {
      image: "/images/lms/editorial04.png",
      title: hoc_s("lms_page.reasoning.title_04"),
      desc: hoc_s("lms_page.reasoning.desc_04")
    },
  ]

.editorial-cards-wrapper-2x2
  - card_list.each do |card_list|
    .flex-container
      %figure
        %img{src: card_list[:image], alt: ""}
      .text-wrapper
        %h3.heading-sm
          = card_list[:title]
        %p
          = card_list[:desc]
