.action-block.action-block--two-col.white
  .media-wrapper.col-50
    %img{src: "/images/lms/getStarted.png", alt: ""}
  .text-wrapper.col-50
    %p.overline
      =hoc_s("lms_page.get_started.top_label")
    %h3=hoc_s("lms_page.get_started.title")
    %p=hoc_s("lms_page.get_started.desc")
    %a.link-button.has-external-link{href: "https://support.code.org/hc/en-us/articles/23120014459405-Learning-Management-System-LMS-and-Single-Sign-On-SSO-Integrations-and-Support-for-Code-org", target: "_blank", rel: "noopener noreferrer"}
      = hoc_s("lms_page.get_started.call_to_action")
  .clear
