:ruby
  subsection_list = [
    {
      wrapReverse: false,
      image: "/images/lms/groups.png",
      title: hoc_s("lms_partner_page.rosters.heading", locals: {website: provider}),
      desc: hoc_s("lms_partner_page.rosters.desc", locals: {website: provider}),
      url: provider == "Canvas" ? "https://support.code.org/hc/en-us/articles/23621973451405-Create-and-sync-rosters-with-Canvas" : "https://support.code.org/hc/en-us/articles/23622036958093-Create-and-sync-rosters-with-Schoology",
      urlText: hoc_s("lms_partner_page.rosters.link"),
    },
    {
      wrapReverse: true,
      image: "/images/lms/unlocked.png",
      title: hoc_s("lms_partner_page.sso.heading", locals: {website: provider}),
      desc: hoc_s("lms_partner_page.sso.desc"),
      url: provider == "Canvas" ? "https://support.code.org/hc/en-us/articles/24825250283021-Single-Sign-On-with-Canvas" : "https://support.code.org/hc/en-us/articles/26677769411085-Single-Sign-On-with-Schoology",
      urlText: hoc_s("lms_partner_page.sso.link", locals: {website: provider}),
    },
    {
      wrapReverse: false,
      image: "/images/lms/profiles.png",
      title: hoc_s("lms_partner_page.keep_account.heading", locals: {website: provider}),
      desc: hoc_s("lms_partner_page.keep_account.desc", locals: {website: provider}),
    },
  ]

- subsection_list.each do |subsection_list|
  %section.no-padding-bottom
    .wrapper
      = view :section_basic_image_text, image_url: subsection_list[:image], heading: subsection_list[:title], desc: subsection_list[:desc], wrap_reverse: subsection_list[:wrapReverse], url: subsection_list[:url], urlText: subsection_list[:urlText]
