@import 'color.scss';

.aichatLab {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  user-select: none;
  display: flex;
  flex-direction: row;
  gap: 2px;

  .instructionsArea {
    width: 20%;
    height: 100%;
  }

  .chatWorkspaceArea {
    flex: 1;
  }
}
