@import 'color.scss';

.viewModeButtons {
  margin: 2px;
}

.aichatLab {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  user-select: none;
  display: flex;
  margin: 2px;

  .instructionsArea {
    width: 20%;
    height: 100%;
  }

  .chatWorkspaceArea {
    flex: 1;
  }

  .customizationArea {
    height: 100%;
    width: 400px;
  }

  .presentationArea {
    width: 50%;
    height: 90%;
    overflow-y: auto;
  }
}

.columnFlexContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.labCoreContainer {
  display: flex;
  flex: 1;
  gap: 2px;
}
