@import 'color.scss';

.message {
  padding: 10px 10px;
  border-radius: 10px;
  overflow: hidden;
}

.userMessageContainer {
  margin: 0 0 15px 50px;
}

.assistantMessageContainer {
  margin: 0 50px 15px 0;
  display: flex;
}

.modelUpdateMessageContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $light_affirmative_100;
  border-radius: 4px;
  padding: 5px 10px;
  margin: 3px 0;

  .removeStatusUpdate {
    background-color: transparent;
    color: $light_gray_700;

    &:hover {
      background-color: transparent;
      color: $light_gray_700;
    }
  }

  &Alert {
    background-color: #FEF7DF;
  }
}

.modelUpdateMessageTextContainer {
  margin: 0 10px;
}

.check {
  color: $light_affirmative_500;
  font-size: 16px;
}

.alert {
  color: $light_caution_500;
  font-size: 16px;
}

.userMessage {
  background-color: $brand_teal_5;
  border-radius: 16px 0 16px 16px;
}

.assistantMessage {
  background-color: $light_gray_50;
  border-radius: 0 16px 16px 16px;
}

.inappropriateMessage {
  background-color: $lightest_red;
}

.tooPersonalMessage {
  background-color: $lightest_yellow;
}
