@import 'color.scss';
@import './aichat-common.module.scss';

$default-spacing: 2px;

.chatWorkspace {
  @extend %panel-section;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: $light_white;
  padding: 10px;
}

.conversationArea {
  margin: 5px 2%;
  height: 65vh;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: $default-spacing;
  box-sizing: border-box;
  overflow-y: auto;
}

.waitingForResponse {
  width: 50px;
}
