@import 'color.scss';

.message {
  padding: 10px 10px;
  border-radius: 10px;
  overflow: hidden;
  white-space: pre-line;
}

.userMessage {
  margin: 0 0 5px 50px;
  background-color: $brand_teal_5;
  border-radius: 16px 0 16px 16px;
}

.assistantMessageContainer {
  margin: 0 50px 5px 0;
  display: flex;
  align-items: start;
}

.modelUpdateMessageTextContainer {
  margin-right: 10px;
}

.modelUpdateContainer {
  background-color: $light_affirmative_100;
}

.check {
  color: $light_affirmative_500;
  font-size: 16px;
}

.danger {
  color: $light_negative_500;
  font-size: 16px;
}

.dangerContainer {
  background-color: #FBE0DD;
}

.assistantMessage {
  background-color: $light_gray_50;
  border-radius: 0 16px 16px 16px;
  margin-top: 14px; // a quarter of height of bot icon
  overflow-x: auto;
}

.inappropriateMessage {
  background-color: $lightest_red;
}

.errorMessage {
  background-color: $lightest_yellow;
}
