@import 'color.scss';

.icon {
  margin-right: 10px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  padding: 5px 10px;
  margin: 3px 0;
  min-height: 25px;

  .removeButton {
    background-color: transparent;
    color: $light_gray_700;

    &:hover {
      background-color: transparent;
      color: $light_gray_700;
    }
  }
}
