@import 'color.scss';
@import '../../mixins.scss';

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.tooltip {
  animation: fade-in 0.3s;
  &-onRight {
    text-align: left;
  }
}

.iconButton {
  @include remove-button-styles;
  font-size: 13px;
}

.icon {
  color: $light_gray_500;
}
