@import 'color';
@import '../../mixins.scss';

%full-width {
  width: 100%;
  box-sizing: border-box;
}

.modelCustomizationWorkspace {
  height: 100%;
  display: flex;
  flex-direction: column;

  textarea {
    @extend %full-width;
    height: 100px;
    resize: vertical;
    margin: 0;
  }

  input {
    @extend %full-width;
  }

  .inputContainer {
    padding: 5px 0;
  }
}

.horizontalFlexContainer {
  display: flex;
  justify-content: space-between;
}

.verticalFlexContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.customizationContainer {
  overflow-y: auto;
  height: 65vh;
}

.footerButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid $light_gray_200;
  padding: 10px;
  height: 50px;
}

.selectedModelDropdown {
  @extend %full-width;
}

.updateButton {
  width: 100%;
}
