@import 'color';
@import '../../mixins.scss';
@import './aichat-common.module.scss';

// Constants
$default-spacing: 4px;

%full-width {
  width: 100%;
  box-sizing: border-box;
}

@mixin slider-track {
  width: 100%;
  height: 4px;
  background: $light_gray_700;
  border-radius: 0.1rem;
}

@mixin slider-thumb {
  width: 12px;
  height: 12px;
  background: $white;
  border-radius: 50%;
  border: 1px solid $light_gray_700;
}

@mixin disabled-slider-thumb {
  background: $light_gray_200;
  border: none;
}

.modelCustomizationWorkspace {
  @extend %panel-section;
  display: flex;
  flex: 1;
  overflow: hidden;
  flex-direction: column;
  background: $light_white;

  .tabsContainer {
    background-color: #eaebeb;
    padding: $default-spacing $default-spacing 0 $default-spacing;
  }

  .tabPanels {
    padding: 16px 0;
    flex: 1;
    overflow: hidden;

    > div {
      height: 100%;
    }
  }

  textarea {
    @extend %full-width;
    height: 120px;
    min-height: 50px;
    resize: vertical;
    margin: 0;
    border-radius: 4px;
    border-color: $light_black;
  }

  input {
    @extend %full-width;
    height: 30px;
    border-radius: 4px;
    border-color: $light_black;
  }

  input[type='range'] {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */

    @include slider-track;
    &:disabled,
    &[aria-disabled='true'] {
      background: $light_gray_200;
    }
  }

  input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none; /* Hides the thumb so that custom thumb can be made */

    @include slider-thumb;
  }

  input[type='range']:disabled::-webkit-slider-thumb {
    @include disabled-slider-thumb;
  }

  /* Firefox */
  input[type='range']::-moz-range-track {
    @include slider-track;
  }

  input[type='range']:disabled::-moz-range-track {
    background: $light_gray_200;
  }

  input[type='range']::-moz-range-thumb {
    @include slider-thumb;
  }

  input[type='range']:disabled::-moz-range-thumb {
    @include disabled-slider-thumb;
  }
}

.horizontalFlexContainer {
  display: flex;
  justify-content: space-between;
}

.verticalFlexContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.customizationContainer {
  overflow-y: auto;
  flex: 1;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footerButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid $light_gray_200;
  padding: 10px 26px;
}

.selectedModelDropdown {
  @extend %full-width;
  padding-bottom: 10px;
}

.updateButton {
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;
}

.buttonNoMargin {
  width: 100%;
  margin: 0;
}

.compareModelsButton {
  padding: 5px 16px;
  margin: 10px 0;
}

.fieldLabelContainer {
  display: flex;
  gap: 6px;
  align-items: baseline;
}

.fieldLabel {
  margin: 0;
}

.saveAlertContainer {
  height: 10px;
}

.saveAlert {
  margin-left: 20px;
  height: 10px;
  padding-top: 0;
  padding-bottom: 0;
  background-color: white;
}

/* Used in MultiInputCustomization */

.itemContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 5px;
  padding: 4px 12px;
  border-radius: 4px;
  border-color: $light_gray_500;
  border: 1px solid;
  color: $light_gray_500;
}

.removeItemIcon {
  color: $light_gray_500;

  &:hover {
    color: $light_negative_500;
  }
}

.removeItemButton {
  @include remove-button-styles;
}

.addItemContainer {
  display: flex;
  flex-direction: row-reverse;
}

.addedItemsHeaderContainer {
  border-bottom: 1px solid $light_gray_200;
  font-size: 14px;
  margin: 16px 0 8px 0;
}

@mixin example-prompt-alert {
  padding: 0;
  background-color: white;
}

.examplePromptAlert {
  @include example-prompt-alert;
}

.examplePromptAlertSuccess {
  @include example-prompt-alert;
}

.examplePromptAlertSuccess i {
  color: $teal !important;
}
