@import "color", "font";

.teacherOnboardingModal {
  max-height: calc(95vh - 100px);
  display: flex;
  flex-direction: column;

  hr {
    margin: 1rem 0;
    border-color: $light_gray_200;
  }
}

.headerContainer {
  display: flex;
  height: 2rem;
}

.contentContainer {
  display: flex;
  overflow-y: auto;
  flex-direction: column;
}

.textContainer {
  padding-left: 2rem;
  padding-right: 2rem;
}

.warning {
  border-radius: 0.25rem;
  border-width: 1px;
  border-style: solid;
  border-color: $product_negative_default;
  padding-top: 1rem;
  padding-left: 1rem;
  margin-bottom: 1rem;

  background-color: #FFE1DD;
  color: $darkest_gray;
}

.bottomSection {
  display: flex;
  justify-content: flex-end;
}