@import 'color';

.modelCardTitle {
    background-color: $neutral_light;
    margin: 3px;
    text-align: center;
    padding: 10px;
}

.modelCardAttributes {
    margin: 10px;
}

.borderLine {   
    border-color: $neutral_dark10;
}