@import 'color.scss';
@import 'font.scss';
@import '@cdo/apps/componentLibrary/typography/typography.module';

// todo: just a couple small visual bugs remain with padding
// left of the assistant's flag doesn't line up with left side of chatbox.
// on profane message, when message is showing, there's no margin between
// the thumb buttons and the "Hide message" button. (only visible when
// thumb selected and hovering on "Hide message" button.

// Also, text doesn't become unhidden when tab-focused. Not sure why.
// But screen reader might be able to read it anyway since it's not display:none?

.hiddenTilHover {
  visibility: hidden;
  transition: visibility 0.2s ease;
}

.teacherFeedbackContainer {
  display: flex;
  align-items: center;
  gap: 4px;
  justify-content: flex-end;

  &:hover,
  &:focus,
  &:focus-visible {
    .hiddenTilHover {
      visibility: visible;
    }
  }

  .showAlways {
    visibility: visible;
  }

  .button-xxs {
    padding: 0.125rem 0.1rem;

    i {
      font-size: 0.75rem;
    }
  }

  .flagButtonColorOverride {
    &:not(:hover, :active) {
      color: $light_black_opacity-30;
    }
  }
}

.assistanctFeedbackContainerOverride {
  flex-direction: row-reverse;
}
