@import 'color.scss';
@import '../../../mixins.scss';

.fieldSection {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

.fieldRow {
  display: flex;
  flex-direction: row;
}

.inlineLabel {
  margin-right: 10px;
}

.fieldValue {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

%model-card-fields,
.model-card-fields {
  @extend .fieldValue;
  border: 1px dashed $neutral_dark;
  border-radius: 5px;
  padding: 15px;
}

.textarea {
  width: 460px;
  height: 90px;
}

.multiItemInput {
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
  justify-content: space-between;
}

.buttonsRow {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.plusMinusButton {
  @include remove-button-styles;
  border: 1px solid $neutral_dark;
  border-radius: 5px;
  padding: 5px;
  margin-right: 10px;
}
