-# FontAwesome icons
- icon_message = "fa-solid fa-message"
- icon_inbox = "fa-solid fa-inbox"
- icon_globe = "fa-solid fa-globe"

%ul.icon-bullet-list.full-width
  %li
    %div
      %i{class: "#{icon_message}"}
    .text-wrapper
      %h3=hoc_s(:follow_us_heading)
      %p=hoc_s(:follow_us_desc)
      .has-external-link.flex-container.wrap{style: "gap: 1rem"}
        %a{href: "https://www.facebook.com/Code.org/", target: "_blank", rel: "noopener noreferrer"}
          =hoc_s(:facebook)
        %a{href: "https://twitter.com/codeorg", target: "_blank", rel: "noopener noreferrer"}
          =hoc_s(:twitter)
        %a{href: "https://www.linkedin.com/company/code-org", target: "_blank", rel: "noopener noreferrer"}
          =hoc_s(:linked_in)
        %a{href: "https://www.instagram.com/codeorg/", target: "_blank", rel: "noopener noreferrer"}
          =hoc_s(:instagram)
        %a{href: "https://www.tiktok.com/@code.org", target: "_blank", rel: "noopener noreferrer"}
          =hoc_s(:tik_tok)
  %li
    %div
      %i{class: "#{icon_inbox}"}
    .text-wrapper
      %h3=hoc_s(:subscribe_to_emails_heading)
      %p=hoc_s(:subscribe_to_emails_desc)
      .flex-container.wrap{style: "gap: 1rem"}
        %a{href: "/about/hear-from-us"}
          =hoc_s(:subscribe_to_emails_heading)
        %a.has-external-link{href: "http://go.pardot.com/l/153401/2018-07-20/lfw71d", target: "_blank", rel: "noopener noreferrer"}
          =hoc_s(:subscribe_to_emails_intl)
  %li
    %div
      %i{class: "#{icon_globe}"}
    .text-wrapper
      %h3=hoc_s(:promote_code_dot_org_heading)
      %p=hoc_s(:promote_code_dot_org_desc)
      %a{href: "/promote", target: "_blank", rel: "noopener noreferrer"}
        =hoc_s(:promote_code_dot_org_heading)
