- bring_cs_to_school_index = 3

- bring_cs_to_school_img_src = ["/images/help-page-admins.png", "/images/help-page-parents.png", "/images/help-page-educators.png"]

- bring_cs_to_school_title = [hoc_s(:for_administrators_heading), hoc_s(:for_parents_heading), hoc_s(:for_educators_heading)]

- bring_cs_to_school_desc = [hoc_s(:for_administrators_desc), hoc_s(:for_parents_desc), hoc_s(:for_educators_desc)]

- bring_cs_to_school_url = ["/administrators", "/athome", "/teach"]

- bring_cs_to_school_button_label = [hoc_s(:for_administrators_heading), hoc_s(:for_parents_heading), hoc_s(:for_educators_heading)]

%div.editorial-cards-wrapper
  - bring_cs_to_school_index.times do |index|
    %div.flex-container.align-content-baseline.wrap
      %figure
        %img{src: bring_cs_to_school_img_src[index], alt: ""}
      .content-wrapper
        %h3.heading-sm
          = bring_cs_to_school_title[index]
        %p
          = bring_cs_to_school_desc[index]
        %a.link-button{href: bring_cs_to_school_url[index]}
          = bring_cs_to_school_button_label[index]
