$root: "/blockly/media/jigsaw/"; //TODO: Parameterize for asset pipeline

#codeApp {
  height: 600px;
  &.pin_bottom {
    height: initial;
    bottom: 25px;
  }
}

/* Sprited icons. */
.icon21 {
  height: 21px;
  width: 21px;
  background-image: url("#{$root}icons.png");
}
.code {
  background-position: -21px 0;
}
.link {
  background-position: 0 0;
}
.run {
  background-position: 0 -21px;
  margin-right: 3px;
}
.stop {
  background-position: -21px -21px;
  margin-right: 3px;
}
#feedbackButtons {
  text-align: right;
  padding: 1ex 3ex;
}
#continue-button {
  margin: 5px;
}
.modal-image {
  margin-top: 0;
}
