.action-block.action-block--one-col.flex-space-between
  .content-wrapper
    %h3=hoc_s(:hoc_how_to_resources_discover_heading)
    %img{src: "/images/try_tutorials_cropped.png", alt: ""}
    %p=hoc_s(:hoc_how_to_resources_discover_desc)
  .content-footer
    %a.link-button{href: resolve_url("/learn")}
      =hoc_s(:call_to_action_explore_activities)
