.action-block.action-block--one-col.flex-space-between
  .content-wrapper
    %h3=hoc_s(:hoc_how_to_resources_get_involved_heading)
    %img{src: "/images/hoc-videos-cropped.png", alt: ""}
    %p=hoc_s(:hoc_how_to_resources_get_involved_desc)
  .content-footer
    %a.link-button{href: resolve_url("/promote")}
      =hoc_s(:call_to_action_get_involved)
