%section.resources.no-padding-bottom
  .wrapper
    %h2.centered
      =hoc_s(:hoc_how_to_resources_heading_default)
    .action-block__wrapper.action-block__wrapper--three-col
      = view :"how-to/resources/promotional_resources"
      .action-block.action-block--one-col.flex-space-between
        .content-wrapper
          %h3=hoc_s(:hoc_how_to_resources_hoc_stats_heading)
          %img{src: "/images/cs-stats/Slide_CS_Fundamental.png", alt: ""}
          %p=hoc_s(:hoc_how_to_resources_hoc_stats_desc)
        .content-footer
          %a.link-button{href: resolve_url("/promote/stats"), target: "_blank", rel: "noopener noreferrer"}
            =hoc_s(:call_to_action_explore_stats_infographics)
      = view :"how-to/resources/discover_activities"
