%section.resources.no-padding-bottom
  .wrapper
    %h2.centered
      =hoc_s(:hoc_how_to_resources_heading_default)
    .action-block__wrapper.action-block__wrapper--three-col
      = view :"how-to/resources/promotional_resources"
      = view :"how-to/resources/discover_activities"
      = view :"how-to/resources/get_involved"
