%section.resources.no-padding-bottom
  .wrapper
    %h2.centered
      =hoc_s(:hoc_how_to_resources_heading_educators)
    .action-block__wrapper.action-block__wrapper--three-col
      = view :"how-to/resources/promotional_resources"
      = view :"how-to/resources/discover_activities"
      .action-block.action-block--one-col.flex-space-between
        .content-wrapper
          %h3=hoc_s(:teacher_forum_heading)
          %img{src: "/images/teacher-forum.png", alt: ""}
          %p=hoc_s(:teacher_forum_desc)
        .content-footer
          %a.link-button{href: "https://forum.code.org/c/plc/hour-of-code/28", target: "_blank", rel: "noopener noreferrer"}
            =hoc_s(:call_to_action_explore_teacher_forum)
