:ruby
  resource_item = [
    {
      title: hoc_s(:heading_attend_free_workshop),
      desc: hoc_s(:minecraft_resources_desc_01, markdown: :inline, locals:{course_url: "https://learn.microsoft.com/en-us/training/educator-center/?source=mec%3Fsource%3Dmec", campaign_date: campaign_date('full')}),
      img_src: "/images/fill-485x260/mc/minecraft_teacher_small1.jpg",
      link_url: "https://microsoftedu.eventbuilder.com/HourofCodeLiveWorkshops",
      aria_label: hoc_s(:aria_label_call_to_action_register_student_workshop),
      button_label: hoc_s(:call_to_action_register_now)
    },
    {
      title: hoc_s(:heading_access_more_cs_resources),
      desc: hoc_s(:minecraft_resources_desc_02),
      img_src: "/images/fill-485x260/mc/minecraft_teacher_small2.jpg",
      link_url: "https://education.minecraft.net/en-us/resources/computer-science",
      aria_label: hoc_s(:aria_label_call_to_action_view_more_cs_resources),
      button_label: hoc_s(:call_to_action_view_resources)
    },
  ]

.action-block__wrapper.action-block__wrapper--two-col
  - resource_item.each do |resource_item|
    .action-block.action-block--one-col.flex-space-between
      .content-wrapper
        %h3
          = resource_item[:title]
        %img{src: resource_item[:img_src], alt: ""}
        %p.has-external-link
          = resource_item[:desc]
      .content-footer
        %a.link-button.has-external-link{href: resource_item[:link_url], target: "_blank", rel: "noopener noreferrer", "aria-label": resource_item[:aria_label]}
          = resource_item[:button_label]
