@use '@code-dot-org/component-library-styles/mixins.scss' as mixins;

// Link common styles
.link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.375rem;
  text-decoration: underline;

  &:focus-visible {
    @include mixins.focus-styles;
    border-radius: 0.25rem;
  }

  &:active:not([aria-disabled='true']) {
    text-decoration: none;
  }

  &-primary {
    color: var(--text-brand-purple-primary);

    &:hover,
    :active,
    :visited {
      color: var(--text-brand-purple-secondary);
    }

    &:focus-visible {
      color: var(--text-brand-purple-primary);
    }
  }

  &-secondary {
    color: var(--text-neutral-primary);

    &:hover,
    :active,
    :visited {
      color: var(--text-neutral-tertiary);
    }

    &:focus-visible {
      color: var(--text-neutral-primary);
    }
  }

  &[aria-disabled='true'] {
    cursor: not-allowed;
    color: var(--text-neutral-disabled);
  }
}

// Sizes
.link-l {
  @include mixins.link-body-one;
}

.link-m {
  @include mixins.link-body-two;
}

.link-s {
  @include mixins.link-body-three;
}

.link-xs {
  @include mixins.link-body-four;
}
