body {
  font-family: 'Gotham 4r', sans-serif;
  font-size: 16px;
  /* line-height: 1.5; */
  color: black;
}

.container_responsive {
  padding-top: 2em;
}

h1, h2, h3, h4 {
  color: black;
  margin: 0 0 1em !important;
}

h1, h2, h3 {
  font-family: 'Gotham 7r', sans-serif;
  font-weight: bold;
}

h1 {
  font-size: 3em;
  line-height: 60px;
}

h2 {
  font-size: 2.125em;
  line-height: 44px;
}

h3 {
  font-size: 1.5em;
  line-height: 32px;
}

h4 {
  font-family: 'Gotham 5r', sans-serif;
  font-size: 1.25em;
  line-height: 28px;
  letter-spacing: .25px;
}

p {
  font-size: 1em;
  line-height: 22px;
  letter-spacing: .5px;
  margin-bottom: 1.5em;
}

p.tiny {
  font-size: .875em;
  line-height: 20px;
  letter-spacing: .25px;
}

p.subtitle-01 {
  font-size: 1em;
  line-height: 22px;
  letter-spacing: .25px;
}

p.subtitle-02 {
  font-family: 'Gotham 7r', sans-serif;
  font-size: .875em;
  line-height: 18px;
  letter-spacing: .5px;
}

p.overline {
  font-family: 'Gotham 7r', sans-serif;
  font-size: .75em;
  text-transform: uppercase;
  letter-spacing: 4px;
  line-height: 18px;
  margin-bottom: 1em;
}

figure span {
  width: 500px;
  height: 250px;
  background: #c7c7c7;
  display: block;
}
  figcaption {
    font-size: .75em;
    line-height: 18px;
    letter-spacing: .5px;
    margin: .5em 0 1em;
  }

a,
a:link {
  text-decoration: underline;
  font-family: 'Gotham 5r', sans-serif;
  color: black;
}

a.btn,
button {
  font-family: 'Gotham 7r', sans-serif;
  font-size: 1em;
  line-height: 20px;
  letter-spacing: .5px;
  margin: 1em 0;
  padding: .75em 2em;
  height: unset;
  display: inline-block;
  text-decoration: none;
  background: black;
  color: white;
  border: 0;
  border-radius: 6px;
}

a.btn:hover,
button:hover {
  color: white;
  background: rgb(33, 33, 33);
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 2.15em !important;
  }

  h2 {
    font-size: 1.75em !important;
  }

  footer {
    margin-top: 4em;
  }
}
