@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,500;0,600;1,500;1,600&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Gotham 4r', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #292F36;
}

.container_responsive {
  padding-top: 2em;
}

h1, h2, h3, h4, h5, h6 {
  color: #292F36;
  margin: 0 0 0.5em;
  line-height: 1.2;
}

h1, h2, h3, h4 {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 600;
}

h5, h6 {
  font-family: 'Gotham 5r', sans-serif;
}

h1 { font-size: 3em; }
h2 { font-size: 2.125em; }
h3 { font-size: 1.75em; }
h4 { font-size: 1.5em; }
h5 { font-size: 1.25em; }
h6 { font-size: 1em; }

p {
  font-size: 1em;
  line-height: 1.5;
  margin-bottom: 1em;
}

p.body-two {
  font-size: .875em;
}

p.overline {
  font-size: .75em;
  font-family: 'Gotham 5r', sans-serif;
  letter-spacing: .5px;
  text-transform: uppercase;
}

figure span {
  width: 500px;
  height: 250px;
  background: #c7c7c7;
  display: block;
}

figcaption {
  font-family: 'Gotham 5r', sans-serif;
  font-size: .875em;
  margin: .5em 0 1em;
  line-height: 1.2;
}

a,
a:link,
a:visited {
  text-decoration: underline;
  font-family: 'Gotham 5r', sans-serif;
  color: #9660BF;
  cursor: pointer;
  text-decoration: underline;
  transition: color .2s ease-in-out;
}

a:hover,
a:focus {
  color: #6F488E;
  text-decoration: underline;
}
