#terms-modal {
  text-align: left;
  top: -10px;
  padding-bottom: 30px;
}
#terms-modal .modal-dialog {
  width: 80%;
  position: fixed;
  margin-left: -280px;
  left: 30%;
  right: auto;
  height: 100%;
}
#terms-modal .modal-content p {
  font-size: 12px;
  color: #333;
  line-height: 18px;
}
#terms-modal .left {
  float: left;
}
#terms-modal .right {
  float: right;
}
#terms-modal .scroll-box {
  overflow-y: scroll;
  height: 350px;
  border: 1px solid #bbb;
  padding: 20px;
}
#terms-modal .disabled-button {
  background-color: #c6cacd;
  border-color: #c6cacd;
  color: #4d575f;
}
#terms-modal .secondary-button {
  background-color: #0094ca;
  border-color: #0094ca;
  color: white;
}
#terms-modal .no-top-margin {
  margin-top: 0;
}
#terms-modal .right-margin-5 {
  margin-right: 5px;
}
#terms-modal .dismiss-link {
  font-size: 14px;
  font-family: "Gotham 4r", sans-serif;
}
