.join-coalition-wrapper {
  display: flex;
  flex-direction: row;
  border: 1px solid var(--neutral_dark20);
 }

.left-side-image {
  width: 50%;
  height: auto;
}

.join-coalition-wrapper .right {
  background-color: var(--neutral_light);
  padding: 30px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.join-coalition-wrapper .right {
  padding: 25px;
  min-height: 260px;
  box-sizing: 'border-box';
}

.join-coalition-wrapper .right .title {
  font-family: 'Gotham 7r', sans-serif;
  padding: 0px;
  margin: 0px;
  font-size: 26px;
  padding-bottom: 10px;
  line-height: 26px;
}

.join-coalition-wrapper .right .subheading {
  font-size: 16px;
}

@media screen and (max-width: 971px) {
  .join-coalition-wrapper { flex-direction: column; }
  .left-side-image {
    width: 100%;
    height: auto;
  }
}
