.clearfix {
  clear: both;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.no-margin-bottom {
  margin-bottom: 0 !important;
}

h2, h3 {
  margin-top: 0;
  line-height: 1.5;
}

ul li {
  margin-bottom: 1em;
}

li span {
  display: block;
  margin-top: 1em;
}

section {
  margin: 3em 0;
}

section:nth-of-type(1) figure.flex-container {
  justify-content: space-evenly;
}
  section:nth-of-type(1) img.afe-logo {
    width: 150px;
  }
    section:nth-of-type(1) img.cdo-logo {
      width: 75px;
    }

section:nth-of-type(2) figure {
  padding-left: 3em;
}
  section:nth-of-type(2) img {
    width: 100%;
    border-radius: 8px;
  }


section:nth-of-type(3) {
  align-items: flex-start;
}

  .amazon-future-engineer-eligibility-container {
    padding: 1em 2em 1em 0;
  }

  section:nth-of-type(3) > div:nth-last-of-type(2) {
    margin-top: 3em;
  }
    section:nth-of-type(3) > div:nth-last-of-type(2) ul {
      margin: 0;
    }

section.afe-programs {
  text-align: center;
  background: #D9F3F5;
  padding: 3.5em 4em 4.5em;
  border-radius: 8px;
}
  section.afe-programs h2{
    margin-bottom: .5em;
  }

  section.afe-programs ul {
    padding: 0;
    margin: 4em 0 0;
    align-items: baseline;
  }
    section.afe-programs ul:nth-of-type(1) {
      margin-bottom: 5em;
    }
      section.afe-programs li {
        padding: 0;
        margin: 0;
        width: 29%;
        text-indent: 0;
      }
        section.afe-programs li::before {
          display: none;
        }
          section.afe-programs li img {
            width: 100%;
            margin-bottom: 0.5em;
            border-radius: 8px;
          }

/* Tablet styles */
@media screen and (max-width: 970px) {

  section:nth-of-type(1) figure.flex-container {
    margin-top: 3em;
  }

  section:nth-of-type(2) figure {
    padding-left: 0;
  }

  .amazon-future-engineer-eligibility-container {
    margin-bottom: 4em;
  }

  section.afe-programs li {
    width: 100%;
    margin-bottom: 4em;
  }

}

/* Mobile styles */
@media screen and (max-width: 640px) {

  .container_responsive h2 {
    font-size: 20px;
  }

  section.afe-programs {
    padding: 3em 1.5em
  }

}
