// Custom styles for code.org/ai
// — supplemental to shared/css/design-system-pegasus.scss

@import 'color', 'font', 'typography', 'breakpoints', 'barlow-semi-condensed-font';

@keyframes fade-in-out {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fade-in-out {
  opacity: 1;
  animation: fade-in-out 4s ease-in-out;
  animation-iteration-count:  infinite;
  animation-delay: 2s;
}

// Hero banner
.hero-banner-basic {
  background: url('/images/banners/ai-bg.png') center center no-repeat;
  background-size: cover;

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .text-wrapper {
    width: 70%;

    p {
      width: 90%;
    }

    @media screen and (max-width: $width-md) {
      width: 60%;

      h1 {
        @include heading-xl;
      }

      p {
        width: 100%;
      }
    }

    @media screen and (max-width: $width-sm) {
      width: 100%;
    }
  }

  figure {
    width: 185px;
    position: relative;

    @media screen and (max-width: $width-md) {
      width: 23%;
    }

    @media screen and (max-width: $width-sm) {
      width: 150px;
      float: none;
      margin: 2rem auto 0;
    }
  }

  img {
    position: absolute;
    width: 100%;
  }
}
