@import "color", "font", "breakpoints";

.ai-skinny-banner-2023-default {
  box-sizing: content-box;
  height: 130px;
  background: url("/images/banners/ai-bg.png") top center no-repeat;
  background-size: cover;

  @media screen and (max-width: $width-md) {
    padding: 0 1.5em;
  }

  @media screen and (max-width: $width-sm) {
    padding: 1em 1em 0;
    height: unset;
  }

  a:hover,
  a:active,
  a:visited,
  a:link {
    text-decoration: none;
  }

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 960px;
    margin: 0 auto;

    @media screen and (max-width: $width-sm) {
      justify-content: center;
      gap: 1em 1.5em;
    }
  }

  img {
    margin: 0 2em;

    @media screen and (max-width: $width-md) {
      margin: 0;
    }

    @media screen and (max-width: $width-sm) {
      width: 50px;
    }
  }

  .text-wrapper {
    color: white;
    text-align: center;

    @media screen and (max-width: $width-md) {
      text-align: left;
      width: 57%;
    }

    @media screen and (max-width: $width-sm) {
      width: 75%;
    }

    @media screen and (max-width: $width-xs) {
      width: 100%;
      text-align: center;
    }

    h1 {
      font-family: var(--barlowSemiCondensed-semibold);
      font-size: 2.125em;
      line-height: 1.2;
      color: $white;
      margin: 0 auto 6px;

      @media screen and (max-width: $width-sm) {
        font-size: 1.65em;
      }
    }

    p {
      font-family: var(--main-font);
      font-size: 1.15em;
      line-height: 1.3;
      margin-bottom: 0;
      color: $white;

      @media screen and (max-width: $width-sm) {
        font-size: 1em;
      }
    }
  }

  .button-wrapper {
    @media screen and (max-width: $width-sm) {
      width: 100%;
      text-align: center;
    }

    button {
      background: #3CFFF8;
      border-color: #3CFFF8;
      color: $neutral_dark;
      font-family: var(--main-font);
      margin: 0;
    }
  }
}
