@import 'color.scss', 'font.scss', 'breakpoints.scss', 'barlow-semi-condensed-font';

// Homepage hero banner

// Overrides the text align so this
// works with LTR and RTL languages
#homepage #hero #actions {
  .ai-pl-banner-hero {
    text-align: initial;
  }
}

.ai-pl-banner-hero.homepage {
  max-width: 1200px;
  margin: 1em auto 5em;
  position: relative;

  @media screen and (max-width: $width-md) {
    padding: 0 0.5em;
    margin: 0 auto 2em;
  }

  @media screen and (max-width: $width-sm) {
    margin: 0 auto 14em;
    padding-bottom: 0;
    text-align: center;
  }

  .flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    .text-wrapper {
      width: 54%;

      @media screen and (max-width: $width-md) {
        width: 100%;
      }

      @media screen and (max-width: $width-sm) {
        justify-content: center;
        text-align: center;
      }

      h1, p {
        color: $neutral_white;
      }

      h1 {
        font-family: $barlowSemiCondensed-semibold;
        font-size: 3.5em;
        margin: 0;

        @media screen and (max-width: $width-md) {
          font-size: 2.875em;
        }
      }

      p {
        font-size: 1.4em;
        line-height: 1.5;
        margin: 1em 0;

        @media screen and (max-width: $width-md) {
          font-size: 1.2em;
        }
      }

      // Logo list
      ul {
        margin: 0 0 2em;
        justify-content: flex-start;
        gap: 2.25em;

        @media screen and (max-width: $width-sm) {
          justify-content: center;
          gap: 0 2em;
        }

        li {
          all: unset;
          list-style-type: none;

          &:before {
            content: "";
          }

          p {
            font-size: 14px !important;
          }

          // Setting varying heights to each logo to match
          // the code.org/ai/pl/101 landing page styles
          &:nth-of-type(2) img { height: 24px }
          &:nth-of-type(3) img { height: 26px }
          &:nth-of-type(4) img { height: 18px }
          &:nth-of-type(5) img { height: 20px }
        }
      }

      // Copied over from design-system-pegasus.scss
      a.link-button {
        height: unset;
        display: inline-block;
        color: $neutral-dark;
        background-color: $neutral-white;
        border: 2px solid $neutral-white;
        border-radius: 4px;
        padding: 0.625em 1em;
        margin: 0.5em 0;
        font-size: 1.15em;
        font-family: 'Gotham 5r', sans-serif;
        line-height: 1.2;
        text-decoration: none;
        text-align: center;
        transition: all ease-in-out .2s;
      }
    }

    figure {
      margin: 0;
      padding: 0;
      width: 48%;
      position: absolute;
      bottom: -7em;
      right: -4em;
      z-index: -1;

      @media screen and (max-width: $width-md) {
        width: 34%;
        bottom: -48px;
        right: 0;
      }

      @media screen and (max-width: $width-sm) {
        width: 100%;
        text-align: center;
        margin: 0 auto;
        bottom: -216px;
      }

      img {
        width: 100%;

        @media screen and (max-width: $width-sm) {
          width: 80%;
        }
      }
    }
  }
}

// Skinny banner
// Currently shown on code.org/teach
aside.ai-pl-banner-skinny {
  box-sizing: content-box;
  height: 130px;
  background-color: #360161;
  overflow: hidden;

  @media (max-width: 1232px) {
    background: #360161 url("/images/ai/pl/101/skinny--2.svg") 95% bottom no-repeat;
  }

  @media screen and (max-width: $width-sm) {
    height: unset;
    background-size: 40%;
  }

  a:hover,
  a:active,
  a:visited,
  a:link {
    text-decoration: none;
  }

  .wrapper {
    max-width: 1250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 1.5rem 4rem;

    @media screen and (max-width: $width-sm) {
      padding: 3rem 2rem;
    }
  }

  .text-wrapper {
    text-align: center;

    h1 {
      font-size: 1.875rem;
      font-family: $barlowSemiCondensed-semibold;
      color: $neutral-white;
      margin: 0 auto 6px;
    }

    p {
      margin-bottom: 0;
      color: $neutral-white;
    }
  }

  button {
    background: $neutral-white;
    border-color: $neutral-white;
    color: $neutral_dark;
  }

  img {

    &.right {
      margin-top: -2rem;
    }

    @media screen and (max-width: 1232px) {
      display: none;
    }
  }
}
