@import 'color.scss', 'font.scss', 'breakpoints.scss', 'barlow-semi-condensed-font';

// Homepage hero banner

// Overrides the text align so this
// works with LTR and RTL languages
#homepage #hero #actions {
  .curriculum-banner-hero {
    text-align: initial;
  }
}

.curriculum-banner-hero.homepage {
  max-width: 1020px;
  margin: 2em auto 6em;
  position: relative;

  @media screen and (max-width: $width-md) {
    padding: 0 0.5em;
  }

  @media screen and (max-width: $width-sm) {
    margin: 0 auto 3em;
    padding-bottom: 0;
    text-align: center;
  }

  .flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    .text-wrapper {
      width: 60%;

      @media screen and (max-width: $width-sm) {
        width: 100%;
        justify-content: center;
        text-align: center;
      }

      h1, p {
        color: $neutral_white;
      }

      h1 {
        font-family: $barlowSemiCondensed-semibold;
        font-size: 3.5em;
        margin: 0;

        @media screen and (max-width: $width-md) {
          font-size: 2.875em;
        }
      }

      p {
        font-size: 1.4em;
        line-height: 1.5;
        margin: 1em 0;

        @media screen and (max-width: $width-md) {
          font-size: 1.2em;
        }
      }

      // Copied over from design-system-pegasus.scss
      a.link-button {
        height: unset;
        display: inline-block;
        color: $neutral-dark;
        background-color: $neutral-white;
        border: 2px solid $neutral-white;
        border-radius: 4px;
        padding: 0.625em 1em;
        margin: 0.5em 0;
        font-size: 1.15em;
        font-family: 'Gotham 5r', sans-serif;
        line-height: 1.2;
        text-decoration: none;
        text-align: center;
        transition: all ease-in-out .2s;
      }
    }

    figure {
      margin: 0;
      padding: 0;
      width: 33%;

      @media screen and (max-width: $width-md) {
        margin: 0 1em;
      }

      @media screen and (max-width: $width-sm) {
        width: 60%;
        margin: 2em auto 0;
        text-align: center;
      }

      img {
        width: 100%;

        @media screen and (max-width: $width-sm) {
          margin-left: -22px;
        }
      }
    }
  }
}

// Skinny banner
.curriculum-banner-skinny {
  box-sizing: content-box;
  height: 130px;
  background: url("/images/banners/banner-bg-school-supplies-dark-black.png") center repeat;
  background-size: cover;
  margin: 0 5px 16px;

  @media screen and (max-width: $width-lg) {
    padding: 0 1.5em;
  }

  @media screen and (max-width: $width-sm) {
    padding: 2em;
    height: unset;
  }

  a:hover,
  a:active,
  a:visited,
  a:link {
    text-decoration: none;
  }

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1020px;
    margin: 0 auto;
    gap: 1.5em 1em;

    @media screen and (max-width: $width-sm) {
      justify-content: center;
    }
  }

  img {
    width: 105px;
  }

  .text-wrapper {
    text-align: center;
    width: 60%;

    @media screen and (max-width: $width-sm) {
      width: 98%;
    }

    h1 {
      font-size: 1.75em;
      font-family: $barlowSemiCondensed-semibold;
      line-height: 1.2;
      color: $neutral-white;
      margin: 0 auto 6px;

      @media screen and (max-width: $width-md) {
        font-size: 1.5em;
      }

      @media screen and (max-width: $width-sm) {
        font-size: 1.75em;
      }
    }

    p {
      font-family: $gotham-regular;
      font-size: 1.15em;
      line-height: 1.3;
      margin-bottom: 0;
      color: $neutral-white;

      @media screen and (max-width: $width-md) {
        font-size: 1em;
      }
    }
  }

  button {
    background: $neutral-white;
    border-color: $neutral-white;
    color: $neutral_dark;
    font-family: $gotham-bold;
    height: unset;
    padding: 0.625em 1.5em;
    margin: 0;
  }
}
