html, body, #map-canvas {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

#controls ul,
#controls li {
  list-style-type: none;
  padding-left: 0;
  text-indent: 0;
}

#controls ul li:before {
  content: '';
}

#controls #ullist_a_all,
#controls li.active {
  font-weight: bold;
}

#controls .active a:link,
#controls .active a:visited {
  color: #ff8b02;
}

#controls a,
#controls a:link,
#controls a:visited {
  font-weight: normal;
}

#controls .active a,
#controls a:hover,
#controls a:active {
  background: #eee;
}

#gmap h3 {
  margin: 0;
  padding: 0;
}

.more-info {
  font-weight: bold;
}

#inline-content h2 {
  font-size: 1.625em;
}

#inline-content div {
  margin: 1em 0;
  font-size: 1.25em;
}

.entry-detail {
  max-width: 300px;
}
