.learnpage {
  width: 970px;
}

.solid-block-header {
  font-size: 30px;
  font-family: var(--main-font);
  font-weight: var(--bold-font-weight);
  line-height: 1.2em;
  background-color: var(--neutral_dark70);
  color: var(--neutral_white);
  height: auto;
  width: 100%;
  padding-top: 12px;
  padding-bottom: 6px;
  padding-left: 15px;
  margin: 50px 0 10px 0;
}

.solid-block-subheader {
  color: var(--brand_secondary_default);
  font-size: 18px;
  font-family: var(--main-font);
  font-weight: var(--bold-font-weight);
  margin-top: 10px;
  margin-bottom: 20px;
  line-height: 1.2em;
}

.solid-block-subtitle {
  color: var(--neutral_white);
  font-size: 16px;
  font-family: var(--main-font);
  font-weight: var(--regular-font-weight);
}

.video-smalltext {
  padding: 10px;
}

.soft-padding {
  padding: 10px;
}

.clear:before, .clear:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
.clear:after {
  clear: both;
}

@media screen and (max-width: 319px) {
  .learnpage {
    width: 100%;
  }
}

@media screen and (min-width: 320px) and (max-width: 599px) {
  .learnpage {
    width: 320px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 600px) and (max-width: 969px) {

  .learnpage {
    width: 600px;
    margin: 0 auto;
  }
}

/* Datepicker customizations */
.datepicker td, .datepicker th {
  background-color: transparent;
  color: #333;
  line-height: 1em;
}

#map .mapboxgl-popup-close-button {
  margin-top: 0px;
  background-color: var(--brand_secondary_default);
}

/* Promote page */
#promote-page h1 {
  float: left;
}
#promote-page .section {
  clear: both;
  margin: 0 0 20px 0;
}
#promote-page .main-video {
  float: left;
  width: 586px;
  margin: 0 0 20px 0;
}
#promote-page .share-buttons {
  float: left;
}
#promote-page .youtube-channel-link {
  float: right;
  margin: 15px 0 0 0;
}
#promote-page .other-videos {
  float: right;
  width: 380px;
}
#promote-page .other-videos h3 {
  margin: 0 0 20px 20px;
}
#promote-page .other-video {
  width: 170px;
  float: left;
  margin: 0 0 20px 20px;
}
#promote-page .other-video-odd {
  clear: left;
}
#promote-page .other-video img {
  width: 100%;
  max-width: 100%;
}
#promote-page .other-video-caption {
  font-size: 12px;
  line-height: 1.2em;
  margin: 5px 0 0 0;
}

#promote-page .all-quotes-link,
#promote-page .full-infographic-link {
  float: left;
  margin: 15px 0 0 20px;
}

.stats-sources-link {
  float: right;
  font-size: 12px;
  margin: 20px 0 0 0;
}
.stats-sources-link a {
  font-weight: normal;
}

.impact-stats-link {
  width: 100%;
  color: var(--neutral_white);
  background-color: var(--neutral_dark80);
  margin-top: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  padding: 16px;
}

.impact-stats-link .left {
  float: left;
}

.impact-stats-link .left p.title {
  font-size: 16px;
  margin-bottom: 3px;
  font-family: var(--main-font);
  font-weight: var(--semi-bold-font-weight);
}

.impact-stats-link .left p.details {
  margin-bottom: 0px;
}

.impact-stats-link .right {
  float: right;
}

.impact-stats-link button {
  margin-top: 0px;
  width: 200px;
  height: 50px;
  font-family: var(--main-font);
  font-weight: var(--semi-bold-font-weight);
}

#congress-right {
  margin: 0 0 2em 0;
}

/* Share Certificate page */
#hoc-certificate {
  width: 100%;
}
#hoc-certificate img {
  width: 100%;
  max-width: 100%;
}

/* Contact Us page */
#contact-us-form {
  width: 480px;
  max-width: 100%;
}
#contact-us-form #contact-message {
  height: 240px;
}

/* UK Resources page */
.resources-item {
  clear: both;
  margin: 0 0 40px 0;
}
.resources-item:before, .resources-item:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
.resources-item:after {
  clear: both;
}
.resources-item .resources-logo {
  float: left;
  width: 240px;
  margin: 0 20px 0 0;
  text-align: center;
}
.resources-item .resources-logo img {
  max-width: 100%;
  display: inline;
}
.resources-item p {
  float: right;
  width: 700px;
}
#error-message {
  color: #b94a48;
  font-weight: bold;
  margin: 1em 0;
}
.form-required-field, .form-required-em em {
  color: #f00;
}

/* Forms */
.radio-inline, .checkbox-inline,
.radio-inline+.radio-inline, .checkbox-inline+.checkbox-inline {
  margin-left: 0;
  margin-right: 2em;
}

.letter {
  margin-left:5%;
  margin-right:30%;
}

.letternames {
  margin-left:5%;
  margin-right:27%;
}

.wideletternames {
  margin-left:5%;
}

@media screen and (min-width: 970px) {
  .starwars-container .img-container {
    min-height: 334px;
  }
}

@media screen and (min-width: 513px) and (max-width: 970px) {
  .starwars-container .img-container {
    min-height: 202px;
  }
}

/* Tables */
@media screen and (min-width: 320px) and (max-width: 599px) {
  .responsive-table {
    width: 350px;
  }
}

@media screen and (min-width: 600px) and (max-width: 969px) {
  .responsive-table {
    width: 600px;
  }
}

@media screen and (min-width: 970px) {
  .responsive-table {
    width: 945px;
  }
}
