.learnpage {
  width: 970px;
}

.clear:before, .clear:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
.clear:after {
  clear: both;
}

.banner {
  float: left;
  width: 520px !important;
  margin-left: 40px !important;
}

@media screen and (max-width: 319px)
{
  .learnpage {
    width: 100%;
  }
}

@media screen and (min-width: 320px) and (max-width: 599px) {
  #learnCodeStudio .active > div { display:none; }
  #learnCodeStudio .active > div:first-child { display:block; }

  .learnpage {
    width: 320px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 600px) {
  #learnCodeStudio .active > div { display:none; }
  #learnCodeStudio .active > div:first-child { display:block; }
  #learnCodeStudio .active > div:first-child + div { display:block; }

  .container-fluid {
    padding-left: 0px !important;
  }

  .learnpage {
    width: 600px;
    margin: 0 auto;
  }
}

/* Datepicker customizations */
.datepicker td, .datepicker th {
  background-color: transparent;
  color: #333;
}

/* Share buttons */
.share-buttons {
  margin: 0;
}
.share-buttons button {
  width: auto;
  height: auto;
  font-family: var(--main-font);
  font-weight: var(--semi-bold-font-weight);
  margin: 10px 10px 0 0;
}
.share-buttons button i {
  padding-right: .5em;
}

/* Promote page */
#promote-page .section {
  clear: both;
  margin: 0 0 20px 0;
}
#promote-page h2 {
  margin-bottom: 10px;
}
#promote-page .download-fact-sheet {
}
#promote-page .download-fact-sheet a:link,
#promote-page .download-fact-sheet a:visited {
  color: #c8c8c8;
}
#promote-page .download-fact-sheet a:hover,
#promote-page .download-fact-sheet a:active {
  color: #c8c8c8;
  text-decoration: underline;
}
#promote-page .main-video {
  float: left;
  width: 586px;
  margin: 0 0 20px 0;
}
#promote-page .share-buttons {
  float: left;
}
#promote-page .youtube-channel-link {
  float: right;
  margin: 15px 0 0 0;
}
#promote-page .other-videos {
  float: right;
  width: 380px;
}
#promote-page .other-videos h3 {
  margin: 0 0 20px 20px;
}
#promote-page .other-video {
  width: 170px;
  float: left;
  margin: 0 0 20px 20px;
}
#promote-page .other-video-odd {
  clear: left;
}
#promote-page .other-video img {
  width: 100%;
  max-width: 100%;
}
#promote-page .other-video-caption {
  font-size: 12px;
  line-height: 1.2em;
  margin: 5px 0 0 0;
}

#promote-page .all-quotes-link,
#promote-page .full-infographic-link {
  float: left;
  margin: 15px 0 0 20px;
}

.stats-sources-link {
  float: right;
  font-size: 12px;
  margin: 20px 0 0 0;
}
.stats-sources-link a {
  font-weight: normal;
}

#congress-right {
  margin: 0 0 2em 0;
}

/* Share Certificate page */
#hoc-certificate {
  width: 100%;
}
#hoc-certificate img {
  width: 100%;
  max-width: 100%;
}

/* Survey form */
#hoc-survey-form .radio-inline+.radio-inline {
  margin-left: 20px;
}
#hoc-survey-form .radio-inline label {
  font-weight: 400;
}
#hoc-survey-form #hoc-participants {
  width: 200px;
}
#hoc-survey-form select {
  max-width: 100%;
}
#hoc-survey-form #hoc-good,
#hoc-survey-form #hoc-improve {
  width: 500px;
  max-width: 100%;
}
#error-message {
  color: #b94a48;
  font-weight: bold;
  margin: 1em 0;
}
.form-required-field {
  color: #f00;
}


/* Partner tutorial landing pages */
@media screen and (min-width: 971px) {
  .mc-container .mc-tutorial {
    float: left !important;
    position: static !important;
    width: 100% !important;
    padding: 10px !important;
    margin-top: 10px !important;
    background-image: url(/images/mc/MC_Wide_Blank_V2.jpg) !important;
    background-size: 595px 100px !important;
  }

  .starwars-container .starwars-tutorial {
    float: left !important;
    height: 220px !important;
    padding: 5px !important;
    padding-top: 10px !important;
    position: static !important;
  }

  .starwars-container .tutorial-box {
    background-image: url(/images/fit-520/starwars_carousel_background.jpg) !important;
  }

  .starwars-container .starwars-heading {
    top: 15px !important;
    left: 290px !important;
  }

  .starwars-container .img-container {
    padding: 0px 5px !important;
  }
}

.starwars-tutorial {
  margin-bottom: 10px !important;
}

.starwars-blocks-tutorial {
  /* When we hide the js tutorial, make the blockly tutorial take up whole width */
  width: 100% !important;
}

.starwars-container .img-container {
  min-height: 202px;
}

.tutorial-box {
  /* Ensure background doesn't repeat in the wider box */
  background-size: cover;
}


