/* Allows for full-width banners and sections on Pegasus pages */

#pageheader-wrapper #pageheader {
  margin-bottom: 0;
}

.container_responsive_full_width {
  width: 100%;
  padding: 0;
}

/* Use semantic <section> elements instead of <div>s */
/* This is better for accessibility */
section {
  width: 100%;
  padding: 3em 1em;
}

/* Use class="wrapper" to house a section's content */
/* This will be centered on the page */
section .wrapper {
  max-width: 960px;
  margin: 0 auto;
}

