.cookies-intro {
  margin-top: 32px;
}

.cookies-settings-btn {
  color: #fff !important;
  margin: auto;
  margin-left: 10px;
  border: 0 !important;
  height: 100% !important;
}

.cookies-settings-btn:hover {
  background-color: var(--brand_secondary_default) !important;
}

.cookies-consent-tool {
  display: flex;
  align-items: center;
}
