@import 'font.scss', 'color.scss', 'breakpoints.scss';

html {
  scroll-behavior: smooth;
}

// Landing page - code.org/prize
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  & > div:first-child {
    width: 64%;

    h2 {
      margin-top: 0;
    }

    @media screen and (max-width: $width-sm) {
      width: 100%;
    }
  }

  & > div:last-child {
    width: 30%;

    @media screen and (max-width: $width-sm) {
      width: 100%;
      text-align: center;
      margin: 3em auto 0;
    }
  }

  img {
    width: 200px;

    @media screen and (max-width: $width-sm) {
      width: 150px;
    }
  }
}

summary {
  font-family: var(--main-font);
  font-weight: var(--semi-bold-font-weight);

  &:hover {
    cursor: pointer;
  }
}
