$color-black: black;
$color-white: white;

.csc-module {
  padding: 1em;

  .csc-module-outer-wrapper {
    border: 1px solid;
    border-radius: 8px;
  }

  a {
    font-family: var(--main-font);
    font-weight: var(--semi-bold-font-weight);
    color: $color-black;
    text-decoration: none;
  }

  .csc-module-wrapper {
    padding: 0 1.5em 1.5em;
  }

  h3 {
    color: $color-black;
    font-size: 1.75em;
    line-height: 1.5;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
  }

  a.btn {
    background: #ffa400;
    color: $color-white !important;
    font-size: 1em;
    font-family: var(--main-font);
    font-weight: var(--semi-bold-font-weight);
    padding: 0.5em 1em;
  }

  p {
    height: 140px;
    overflow: auto;
  }

  img {
    width: 100%;
    border-radius: 7px 7px 0 0;
    margin-bottom: 1.5em;
  }

  .details {
    margin: 0 0 1em;

    i:nth-child(n+2) {
      margin-left: .75em;
    }
  }

}
