.csjourneys-banner {
  background: linear-gradient(
    0deg,
    rgb(127, 195, 202) 0%,
    rgba(0, 173, 188, 1) 70%
  );
  margin-top: -18px;
  overflow: hidden;
}

.csjourneys-banner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 0 10px;
}

.csjourneys-banner-footprint-left {
  height: 250px;
  position: absolute;
  right: 750px;
  bottom: 0;
}

.csjourneys-banner-footprint-right {
  height: 250px;
  position: absolute;
  left: 750px;
  top: 0;
}

.csjourneys-logo {
  width: 300px;
  max-width: 100%;
  margin-top: 35px;
  z-index: 1;
}

h1.csjourneys-banner-header {
  font-family: "Gotham 4r", sans-serif;
  color: #fff;
  font-size: 18px;
  z-index: 1;
  margin: 35px 0;
  text-align: center;
}

@media only screen and (min-width: 971px) {
  .csjourneys-banner-container {
    padding: 0;
  }

  .csjourneys-logo {
    width: 500px;
  }

  h1.csjourneys-banner-header {
    font-size: 30px;
  }
}

@media only screen and (min-width: 1900px) {
  .csjourneys-banner {
    position: relative;
  }

  .csjourneys-banner-container {
    position: static;
  }

  .csjourneys-banner-footprint-left {
    left: 0;
    right: auto;
    bottom: 0;
  }

  .csjourneys-banner-footprint-right {
    right: 0;
    left: auto;
    bottom: 0;
  }
}
