// Custom styles for code.org/educate/csp
// — supplemental to shared/css/design-system-pegasus.scss

@import 'color', 'font', 'typography', 'breakpoints', 'barlow-semi-condensed-font';

// Hero banner
.hero-banner-basic {

  &.overlay {
    position: relative;
    width: 100%;
    height: 100%;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(125deg, #3B7043 45%, #89D155 100%);
      z-index: 1;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url('/images/banners/banner-bg-mesh-dots-light.png');
      background-repeat: repeat;
      background-size: 70%;
      z-index: 2;

      @media screen and (max-width: $width-md) {
        background-size: cover;
      }
    }
  }

  @media screen and (max-width: $width-sm) {
    background-size: 50%;
  }

  .wrapper {
    position: relative;
    z-index: 10;
  }

  .text-wrapper {
    width: 64%;

    @media screen and (max-width: $width-sm) {
      width: 100%;
    }
  }

  figure {
    width: 30%;

    @media screen and (max-width: $width-sm) {
      display: none;
    }

    img {
      width: 100%;
    }
  }
}

.csp-page-projects {

  .content-wrapper {
    gap: 2rem;
  }

  .image-wrapper {
    img {
      width: 30%;

      &:first-child {
        width: 27.5%;
      }
    }
  }
}
