body {
  font-family: sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: dimgray;
  margin: 0px;
}

.content h1 {
  color:rgb(120,101,161);
  font-size: 80px;
  line-height: 80px;
  padding-bottom: 20px;
  border-bottom: 4px solid rgb(120,101,161);
  margin-right:20px;
  margin-bottom:30px;
}

.content h2 {
  color:rgb(120,101,161);
  text-transform:uppercase;
  margin-bottom:0px;
  margin-top:40px;
}

.content h3 {
  margin-top: 5px;
  margin-bottom: 0px;
}

.content ul {
  margin-top:0px;
  padding-left: 20px;
}

.content p {
  margin-top:0px;
}

.headercontent h1 {
  font-size: 80px;
  line-height: 80px;
  margin-top:30px;
  margin-bottom:30px;  
}

.headercontent {
  margin-left:40px;
  padding-top:0px;
  padding-bottom:10px;
  padding-right:20px;
  margin-bottom: 50px;
}

.headercontent .disclaimer {
  opacity: 0.8;
  font-size:14px;
}

.content {
  padding-left:40px;
}

.summary {
  margin-right:20px;
  box-shadow: 0 0 5px 5px rgba(0,0,0,0.25);
  padding: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 15px;
  background-color: white;
}

.summary h3 {
  font-weight: normal;
}

.summary p {
  margin-left:20px;
}

.tip {
  position: relative;
}

.tip h1 {
  font-size: 14px;
  border-radius: 10px;
  padding:5px;
  border-color:orange;
  display: inline-block;
  float: left;
  background-color:grey;
  color:white;
  font-style:italic;
  margin-top:0px;
  margin-bottom:0px;
  line-height:14px;
  padding-left:15px;
  padding-right:15px;
  border-style:solid;
  border-width:2px;
  -webkit-print-color-adjust: exact;
}

.tip p {
  font-size:13px;
  line-height:16px;
  font-style:italic;
  color:orange;
  display: block;
  overflow: hidden;
}


