$width-lg: 1103px;
$width-md: 877px;
$width-sm: 767px;

aside.dance-party-ai-skinny-banner {
  background: linear-gradient(314deg, #911FB5 -6.35%, #00022F 49.56%, #007E8E 104.19%);

  a:hover,
  a:active,
  a:visited,
  a:link {
    text-decoration: none;
  }

  .wrapper {
    max-width: 1250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 1.5rem 2rem;

    @media screen and (max-width: $width-lg) {
      justify-content: space-between;
      padding: 0 2rem;
    }

    @media screen and (max-width: $width-sm) {
      flex-direction: column;
      padding: 2rem 2rem 0;
      gap: 0.5rem;
    }
  }

  img {
    height: 140px;

    &.left {
      @media screen and (max-width: $width-md) { height: 125px; }
      @media screen and (max-width: $width-sm) { display: none; }
    }

    &.right {
      @media screen and (max-width: $width-lg) { display: none; }
      @media screen and (max-width: $width-sm) { display: block; height: 100px; }
    }
  }

  .text-wrapper {
    width: 38%;

    @media screen and (max-width: $width-lg) { width: 50%; }
    @media screen and (max-width: $width-md) { width: 45%; }
    @media screen and (max-width: $width-sm) { width: 100%; }

    h1 {
      font-size: 1.875rem;
      color: #00FFF5;
      margin: 0 auto 0.5rem;
    }

    p {
      margin-bottom: 0.5rem;
      color: var(--neutral_white);

      @media screen and (max-width: $width-lg) { font-size: 0.875rem; }
      @media screen and (max-width: $width-sm) { margin-bottom: 0 }
    }
  }

  button {
    background: var(--neutral_white);
    border-color: var(--neutral_white);
    color: var(--neutral_dark);
  }
}
