@import 'breakpoints.scss';

aside.dance-party-ai-skinny-banner {
  background: linear-gradient(280deg, #911FB5 3.65%, #00022F 51.56%, #007E8E 92.19%);
  overflow: hidden;

  @media screen and (max-width: $width-sm) {
    background: linear-gradient(314deg, #911FB5 -6.35%, #00022F 49.56%, #007E8E 104.19%);
  }

  a:hover,
  a:active,
  a:visited,
  a:link {
    text-decoration: none;
  }

  .wrapper {
    max-width: 1250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 1.5rem 2rem;

    @media screen and (max-width: $width-sm) {
      padding: 2rem;
    }
  }

  img {
    height: 140px;
  }

  .text-wrapper {
    width: 38%;

    h1 {
      font-size: 1.875rem;
      color: #00FFF5;
      margin: 0 auto 0.5rem;
    }

    p {
      margin-bottom: 0.5rem;
      color: var(--neutral_white);
    }
  }

  button {
    background: var(--neutral_white);
    border-color: var(--neutral_white);
    color: var(--neutral_dark);
  }
}
