.dance-subheading {
  float: right;
}

.dance-party-h2 {
  font-size: 20px;
}

.dance-img-placeholder {
  border-radius: 5px;
  background-color: grey;
  opacity: 0.2;
}

.dance-section-heading {
  font-size: 20px;
}
