@import 'color', 'font', 'typography', 'breakpoints', 'barlow-semi-condensed-font';

// Variables
$border-radius: 4px;

// Mixins
@mixin focus-outline {
  outline: $brand_primary_default solid 2px;
  outline-offset: 2px;
}

// Start styles
html {
  scroll-behavior: smooth;
}

body {
  font-size: 14px !important; // this will be changed to 16px in Phase II of the rebrand launch
  color: $neutral-dark;
}

// Use these classes to change a section's background color
section.bg-neutral-light { background-color: $neutral_light; }
section.bg-neutral-dark { background-color: $neutral_dark; }
section.bg-primary-light { background-color: rgba($brand_primary_light, .5); }
section.bg-secondary { background-color: $brand_secondary_light; }

// Centers a block-level element
.centered { text-align: center !important; }

// Removes the bottom margin or padding —
// often helpful on a last paragraphs or list elements
// to maintain consistent white space between sections
.no-margin-bottom { margin-bottom: 0 !important;}
.no-padding-bottom { padding-bottom: 0 !important;}

// FontAwesome icon defaults
// Sets fixed height on icon container to maintain consistent
// spacing when icons have varying widths and heights
i {
  line-height: 1.25em !important;
}

.icon::before {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

// Flex container
// Use classes to determine flexbox characteristics
.flex-container {
  display: flex;

  &.justify-space-between { justify-content: space-between }
  &.align-items-center { align-items: center; }
  &.align-items-start { align-items: flex-start; }
  &.wrap { flex-wrap: wrap; }
}

// Line divider for use between sections
// Use .no-margin-bottom to remove extra space above
// a section that starts with an h2
div.divider {
  max-width: 960px;
  margin: 1em auto 0;

  @media screen and (max-width: $width-md) {
    padding: 0 2em;
  }

  hr {
    border: 0;
    border-top: 1px solid $neutral_dark60;
    margin: 0;
    width: 100%;
  }
}

// Text links
p a,
p a:visited,
p a:link,
a,
a:visited,
a:link {
  font-family: $gotham-bold, sans-serif;
  color: $brand_secondary_default;
  text-decoration: underline;
  transition: color ease-in-out .2s;

  &:hover {
    color: $brand_secondary_dark;
    text-decoration: underline;
  }
}

// Footer links
a.whitefooterlink {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    color: $neutral_white;
  }
}

// Buttons
a.link-button,
button,
.btn,
input[type=submit] {
  height: unset;
  display: inline-block;
  color: white;
  background-color: $brand_secondary_default;
  border: 2px solid $brand_secondary_default;
  border-radius: $border-radius;
  padding: .625em 2em;
  margin: 0.5em 0;
  font-size: 1em;
  font-family: 'Gotham 5r', sans-serif;
  line-height: 1.2;
  text-decoration: none;
  text-align: center;
  transition: all ease-in-out .2s;

  &:hover {
    color: white;
    background-color: $brand_secondary_dark;
    border-color: $brand_secondary_dark;
    text-decoration: none;
    cursor: pointer;
  }

  &:focus {
    @include focus-outline;
  }

  &:disabled {
    cursor: default;
    background-color: $neutral_dark20;
    border: 2px solid $neutral_dark20;
    color: $neutral_white;
  }
}

a.link-button {
  &.secondary {
    background: none;
    border-color: $neutral-dark;
    color: $neutral-dark;

    &:hover {
      background: $neutral_dark10;
    }
  }

  &.has-icon {
    .flex-wrapper {
      display: flex;
      align-items: center;
      gap: 0 .75em;
    }
  }
}

// Basic hero banner
// Used on common landing pages
// (not homepage or campaign pages)
.hero-banner-basic {
  position: relative;
  overflow: hidden;

  .text-wrapper {
    position: relative;
    z-index: 1;
  }

  img {
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;

    @media screen and (max-width: $width-md) {
      display: none;
    }
  }

}

// Unordered lists
ul {
  margin: 1em;

  // Lists that use icons next to content
  &.icon-bullet-list {
    margin: 1em 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    // Use this class if list items need to
    // stretch to the width of the container
    &.full-width {
      li {
        width: 100%
      }
    }

    li {
      padding-left: 0 !important;
      text-indent: 0 !important;
      display: flex;
      width: 48%;
      margin: 1.5em 0;
      gap: 1em;

      @media screen and (max-width: $width-sm) {
        width: 100%;
      }

      &:before {
        content: none;
      }

      i {
        font-size: 2em;
      }

      h3 {
        @include heading-sm;
      }
    }
  }

  // Lists that have an arrow shape as li backgrounds
  &.arrow-list {
    margin: 1em 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    li {
      height: 12em;
      background: $brand_primary_light;
      position: relative;
      padding: 1.5em 2.5em;
      text-indent: 0 !important;
      display: flex;
      align-content: start;
      flex-wrap: wrap;
      margin: 1.5em 0;

      @media screen and (max-width: $width-md) {
        padding: 1em 1em 1em 2em;
      }

      @media screen and (max-width: $width-sm) {
        width: 100% !important;
        margin-bottom: 0;
      }

      h3 {
        @include heading-sm;
      }

      &:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 0;
        border-left: 1em solid $neutral_white;
        border-top: calc(12em / 2) solid transparent;
        border-bottom: calc(12em / 2) solid transparent;
      }

      &:before {
        content: '';
        position: absolute;
        right: -1em;
        bottom: 0;
        width: 0;
        height: 0;
        border-left: 1em solid $brand_primary_light;
        border-top: calc(12em / 2) solid transparent;
        border-bottom: calc(12em / 2) solid transparent;
      }

      &:nth-child(1) {
        background: rgba($brand_primary_light, .4);

        &:before {
          border-left: 1em solid rgba($brand_primary_light, .4);
        }
      }

      &:nth-child(2) {
        background: rgba($brand_primary_light, .6);

        &:before {
          border-left: 1em solid rgba($brand_primary_light, .6);
        }
      }
    }
  }

  // Lists of links with icons
  &.link-list {
    margin: 2em 0 1em;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    gap: 1em 3em;

    li {
      text-indent: 0 !important;
      padding: 0;
      display: flex;
      gap: 0 0.75em;

      &::before {
        content: none;
      }

      i {
        font-size: 1.25em;

        &:before {
          color: $brand_secondary_default;
          transition: color ease-in-out .2s;
        }
      }

      a {
        @include heading-sm;
        color: $brand_secondary_default;
      }

      &:hover {

        i:before {
          color: $brand_secondary_dark;
        }
      }
    }
  }

  li {
    line-height: 1.4;
    margin: 0.5em 0;

    &:before {
      color: $neutral-dark;
    }
  }
}

// Ordered lists
// Step-by-step section
ol.steps-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: baseline;
  margin: unset;
  padding: unset;

  li {
    padding-left: 0 !important;
    text-indent: 0 !important;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    width: 20%;
    margin: 3em 0 2.5em;

    @media screen and (max-width: $width-sm) {
      width: 100%;
    }

    a.link-button,
    button,
    .btn {
      min-width: unset;
    }
  }

  h3 {
    width: 100%;

    & > span {
      background: $neutral_white;
      display: block;
      width: 2em;
      height: 2em;
      margin: 0 auto 0.5em;
      line-height: 1.7;
      border: 2px solid;
      border-radius: 100%;
      position: relative;

      // This creates the light blue border around the
      // charcoal border — would prefer to use the outline
      // attribute but it doesn't work in Safari
      &::before {
        content: "";
        position: absolute;
        top: -8px;
        right: -8px;
        bottom: -8px;
        left: -8px;
        border: 6px solid $brand_primary_light;
        border-radius: 100%;
      }
    }
  }

  h4 {
    @include heading-sm;
    width: 100%;
  }
}

// FAQs
details {
  padding: 1.5em 1em 1em;
  border-bottom: 1px solid $neutral_dark80;
  transition: background ease-in-out .2s;

  &:hover {
    background: $neutral_light;
  }

  summary {
    @include heading-sm;
    display: flex;
    justify-content: space-between;
    align-items: end;

    @media screen and (max-width: $width-sm) {
      align-items: baseline;
    }

    &:hover {
      cursor: pointer;
    }
  }

  & summary::marker {
    content: "";
  }

  // Hides the default arrow on Safari
  & summary::-webkit-details-marker {
    display:none;
  }

  // Uses FontAwesome arrow icons to
  // denote open and close states
  & summary::after {
    font: var(--fa-font-solid);
    content: "\f107";
  }

  &[open] summary::after {
    font: var(--fa-font-solid);
    content: "\f106";
  }
}

// Forms
form {

  label {
    display: block;
    text-align: left;
  }

  input, select {
    display: block;
    width: 100%;
    margin: .25em auto 1em;
    padding: 0.5em;
    border: 1px solid;
    border-radius: $border-radius;
    font-family: $gotham-regular, sans-serif;
    font-size: 1em;
    transition: all ease-in-out .2s;

    &:focus {
      @include focus-outline;
    }
  }

  button,
  &[type=submit] {
    margin-top: 1em;

    @media screen and (max-width: $width-sm) {
      width: 100%;
    }
  }
}

// Action blocks wrappers
.action-block__wrapper {
  margin-top: 2em;
  display: grid;
  grid-gap: 1.25em;

  @media screen and (min-width: $width-sm) {
    grid-template-columns: repeat(2, 1fr);
  }

  &.action-block__wrapper--three-col {
    @media screen and (min-width: $width-lg) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

// Action blocks shared styles
.action-block {
  background: $neutral_light;
  border: 1px solid $neutral_dark20;
  border-radius: $border-radius;
  display: flex;
  align-content: baseline;

  h3 {
    width: 100%;
  }

  p.overline {
    color: $brand_primary_default;
    width: 100%;
  }

  figure.video-responsive {
    margin-bottom: 1em;
  }

  ul {
    margin: 0 1em 1em;
  }

  &.secondary {

    h3 {
      @include heading-sm;
    }
  }
}

// Single column action blocks
// Note: set the height of the <p> tag inline to maintain
// height consistency between cards in a wrapper
.action-block--one-col {
  flex-wrap: wrap;
  flex-direction: column;
  padding: 1em 1.5em;

  // Align copy or button(s) to the bottom of a block when
  // blocks are vastly different heights due to content length
  // — use .content-wrapper and .content-footer as seen on
  // views/maker_curriculum_microbit.haml
  &.flex-space-between {
    justify-content: space-between;
  }

  @media screen and (max-width: $width-md) {
    height: 100%;
  }

  img {
    width: 100%;
    margin-bottom: 1em;
  }

  a.link-button {
    width: 100%;
    text-align: center;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
}

// Two column action block
.action-block--two-col {
  flex-wrap: wrap;
  overflow: hidden;

  .text-wrapper {
    padding: 1em 1.5em;
  }

  figure.video-responsive {
    margin: 0 !important;
    max-width: unset;

    & > div {
      border: 0;
    }
  }

  @media screen and (max-width: $width-sm) {
    a.link-button, button {
      width: 100%;
      text-align: center;
    }
  }
}

// Quotes carousel
// See code.org/educate/professional-learning/middle-high
// and /views/pl_middle_high_carousel.haml for an example
// – uses the carouFredSel jQuery plugin: https://github.com/nzy/carouFredSel
.quotes-wrapper {

  img {
    border-radius: $border-radius;
    width: 100%;

    @media screen and (max-width: $width-md) {
      display: none;
    }

    @media screen and (max-width: $width-sm) {
      display: block;
      margin-bottom: 2em;
    }
  }

  .carousel-wrapper {
    font-family: $barlowSemiCondensed-medium, sans-serif;
    margin: 2em 0 0;

    @media screen and (max-width: $width-sm) {
      padding-bottom: 1em;
    }

    // Set a min-height inline on the .carousel div
    // inside .carousel-wrapper to account for varying
    // quote lengths and prevent vertical height changes
    .carousel {
      overflow: hidden;

      @media screen and (max-width: $width-md) {
        height: unset !important;
        overflow: unset;
      }
    }

    .with-image {
      display: flex;
      justify-content: space-between;
      align-items: center;

      @media screen and (max-width: $width-sm) {
        justify-content: center;
        flex-wrap: wrap;
      }

      img {
        width: 150px;
        height: 150px;
        margin-right: 3em;

        @media screen and (max-width: $width-md) {
          display: block;
        }

        @media screen and (max-width: $width-sm) {
          margin-right: 0;
        }
      }
    }

    p {
      font-family: $barlowSemiCondensed-medium, sans-serif;
      font-size: 1.25em;

      &.quote-text {
        font-size: 1.5em;
        line-height: 1.2;

        &:before, &:after {
          font: var(--fa-font-solid);
          color: $brand_primary_default;
        }

        &::before {
          content: "\f10d";
          margin: 0 8px 0 0;
        }

        &::after {
          content: "\f10e";
          margin: 0 0 0 8px;
        }
      }
    }

    span {
      color: $brand_accent_default;
      margin: 0 2px;
    }

    .pagination {
      text-align: left;
      margin: 1em 0 0 0;

      @media screen and (max-width: $width-sm) {
        margin-top: 3em;
      }

      a{
        background: $brand_primary_light;

        &:first-child {
          margin-left: 0;
        }

        &.selected {
          background: $brand_primary_default;
        }
      }
    }
  }
}

// Modals
.modal-header {

  button.close {
    min-width: unset;
    margin-top: 2px;

    &:hover {
      background: none;
      border: none;
    }
  }
}

// Video series
// - see example: code.org/blockchain
.video-series {
  display: grid;
  grid-gap: 1.25em;
  margin-top: 2em;

  @media screen and (min-width: $width-sm) {
    grid-template-columns: repeat(2, 1fr);
  }

  // Overrides styles on the
  // display_video_thumbnail partial
  & > div.col-50 {
    padding: 0 !important;
    margin: 0 !important;
    width: 100%;

    .video_caption_link {
      @include figcaption;
    }
  }
}

// Blog post callout
.blog-post-callout {

  .wrapper{
    display: flex;
    justify-content: space-between;
    gap: 1em;
  }

  i {
    font-size: 2em;
  }

  .text-wrapper {
    width: 100%;
  }
}
