@import 'color', 'font', 'typography', 'breakpoints', 'barlow-semi-condensed-font';

// Variables
$border-radius: 4px;

// Mixins
@mixin focus-outline {
  outline: $brand_primary_default solid 2px;
  outline-offset: 2px;
}

// Start styles
html {
  scroll-behavior: smooth;
  font-size: 100%;
}

p {
  @include body-two;
}

// Use these classes to change a section's background color
section.bg-neutral-light { background-color: $neutral_light; }
section.bg-neutral-dark { background-color: $neutral_dark; }
section.bg-secondary { background-color: $brand_secondary_light; }
section.bg-primary-light {
  background-color: rgba($brand_primary_light, .5);

  p {
    @include strong;

    &.body-three {
      @include body-three;
    }
  }

  a { color: $neutral_dark !important;
    &:hover { color: $brand_secondary_dark !important; }
    &.link-button { color: $neutral_white !important; }
  }
}

// Show elements based on screen size
.show-desktop {
  display: block;
  @media (max-width: $width-lg) {
    display: none;
  }
}

.show-tablet-and-mobile {
  display: none;
  @media (max-width: $width-lg) {
    display: block;
  }
}

// Centers a block-level element
.centered { text-align: center !important; }

// Removes the bottom margin or padding —
// often helpful on a last paragraphs or list elements
// to maintain consistent white space between sections
.no-margin-bottom { margin-bottom: 0 !important;}
.no-padding-bottom { padding-bottom: 0 !important;}

// FontAwesome icon defaults
// Sets fixed height on icon container to maintain consistent
// spacing when icons have varying widths and heights
i.fa-fw {
  line-height: 1.25em;
}

.icon::before {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

// Flex container
// Use classes to determine flexbox characteristics
.flex-container {
  display: flex;

  &.flex-direction-column { flex-direction: column; }
  &.flex-direction-row { flex-direction: row; }
  &.justify-space-between { justify-content: space-between }
  &.justify-center { justify-content: center }
  &.justify-end { justify-content: end; }
  &.align-content-baseline { align-content: baseline; }
  &.align-items-center { align-items: center; }
  &.align-items-start { align-items: flex-start; }
  &.wrap { flex-wrap: wrap; }
  &.wrap-reverse { flex-wrap: wrap-reverse; }
}

// Grid container
// Apply class to containers that use grid, but declare
// column/row characteristics on a case-by-case basis
.grid-container {
  display: grid;
}

// Line divider for use between sections
// Use .no-margin-bottom to remove extra space above
// a section that starts with an h2
div.divider {
  max-width: 960px;
  margin: 1rem auto 0;

  @media screen and (max-width: $width-md) {
    padding: 0 2rem;
  }

  hr {
    border: 0;
    border-top: 1px solid $neutral_dark60;
    margin: 0;
    width: 100%;
  }
}

// Add rounded corners to an element
.rounded-corners {
  border-radius: $border-radius;
}

// Add border to an element
.has-border {
  border: 1px solid $neutral_dark10;
}

// Add a thick box shadow to an element
// See code.org/teach for an example
.box-shadow-primary {
  box-shadow: 8px 8px 0 $brand_primary_light;
}

// Lines (<hr>)
hr {
  border-top: 1px solid $neutral_dark20;
  margin: 3rem 0;

  &.dark {
    border-top: 1px solid $neutral_dark60;
  }
}

// Text links
p a,
p a:visited,
p a:link,
a,
a:visited,
a:link {
  font-family: $gotham-bold, sans-serif;
  color: $brand_secondary_default;
  text-decoration: underline;
  transition: color ease-in-out .2s;

  &:hover {
    color: $brand_secondary_dark;
    text-decoration: underline;
  }
}

// Footer links
a.whitefooterlink {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    color: $neutral_white;
  }
}

// Buttons
a.link-button,
button,
.btn,
input[type=submit] {
  height: unset;
  display: inline-block;
  color: white;
  background-color: $brand_secondary_default;
  border: 2px solid $brand_secondary_default;
  border-radius: $border-radius;
  padding: .625rem 1rem;
  margin: 0.5rem 0;
  font-size: 1rem;
  font-family: 'Gotham 5r', sans-serif;
  line-height: 1.2;
  text-decoration: none;
  text-align: center;
  transition: all ease-in-out .2s;

  @media screen and (max-width: $width-sm) {
    font-size: 0.875rem;
  }

  &:hover {
    color: white;
    background-color: $brand_secondary_dark;
    border-color: $brand_secondary_dark;
    text-decoration: none;
    cursor: pointer;
  }

  &:focus {
    @include focus-outline;
  }

  &:disabled {
    cursor: default;
    background-color: $neutral_dark20;
    border: 2px solid $neutral_dark20;
    color: $neutral_white;
  }
}

a.link-button {
  &.secondary {
    background: none;
    border-color: $neutral-dark;
    color: $neutral-dark;

    &:hover {
      background: $neutral_dark10;
    }
  }

  &.has-icon {
    .flex-wrapper {
      display: flex;
      align-items: center;
      gap: 0 .75rem;
    }
  }
}

// Basic hero banner
// Used on common landing pages
// (not homepage or campaign pages)
.hero-banner-basic {
  position: relative;
  overflow: hidden;

  .text-wrapper {
    position: relative;
    z-index: 1;
  }
}

// Unordered lists
ul {
  margin: 1rem;

  li p {
    @include body-three;
  }

  // Lists that use icons next to content
  &.icon-bullet-list {
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    // Use this class if list items need to
    // stretch to the width of the container
    &.full-width {
      li {
        width: 100%
      }
    }

    li {
      padding-left: 0 !important;
      text-indent: 0 !important;
      display: flex;
      width: 47%;
      margin: 1.5rem 0;
      gap: 1rem;

      @media screen and (max-width: $width-sm) {
        width: 100%;
      }

      &:before {
        content: none;
      }

      i {
        font-size: 1.875rem;
      }

      h3 {
        @include heading-sm;
        margin-bottom: 0.25rem;
      }

      p {
        @include body-three;
      }
    }
  }

  // Lists that have an arrow shape as li backgrounds
  &.arrow-list {
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    li {
      height: 12rem;
      background: $brand_primary_light;
      position: relative;
      padding: 1.5rem 2.5rem;
      text-indent: 0 !important;
      display: flex;
      align-content: start;
      flex-wrap: wrap;
      margin: 1.5rem 0;

      @media screen and (max-width: $width-md) {
        padding: 1rem 1rem 1rem 2rem;
      }

      @media screen and (max-width: $width-sm) {
        width: 100% !important;
        margin-bottom: 0;
      }

      h3 {
        @include heading-sm;
      }

      &:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 0;
        border-left: 1rem solid $neutral_white;
        border-top: calc(12rem / 2) solid transparent;
        border-bottom: calc(12rem / 2) solid transparent;
      }

      &:before {
        content: '';
        position: absolute;
        right: -1rem;
        bottom: 0;
        width: 0;
        height: 0;
        border-left: 1rem solid $brand_primary_light;
        border-top: calc(12rem / 2) solid transparent;
        border-bottom: calc(12rem / 2) solid transparent;
      }

      &:nth-child(1) {
        background: rgba($brand_primary_light, .4);

        &:before {
          border-left: 1rem solid rgba($brand_primary_light, .4);
        }
      }

      &:nth-child(2) {
        background: rgba($brand_primary_light, .6);

        &:before {
          border-left: 1rem solid rgba($brand_primary_light, .6);
        }
      }
    }
  }

  // Lists of links with icons
  &.link-list {
    margin: 2rem 0 0;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    gap: 1rem 3rem;

    li {
      text-indent: 0 !important;
      padding: 0;
      display: flex;
      gap: 0 0.5rem;

      &::before {
        content: none;
      }

      i {
        font-size: 1.25em;

        &:before {
          color: $brand_secondary_default;
          transition: color ease-in-out .2s;
        }
      }

      a {
        @include heading-xs;
        color: $brand_secondary_default;
        margin-bottom: 0;
      }

      &:hover {

        i:before {
          color: $brand_secondary_dark;
        }
      }
    }
  }

  // Lists that show supporters or other text content in a table format
  &.supporters-list {
    margin: 3rem auto;
    display: grid;
    justify-items: center;
    gap: 1.5rem;

    @media screen and (min-width: $width-sm) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (min-width: $width-md) {
      grid-template-columns: repeat(3, 1fr);
    }

    li {
      all: unset;
      text-align: center;

      &:before {
        content: "";
      }
    }
  }

  li {
    line-height: 1.4;
    margin: 0.5rem 0;

    &:before {
      color: $neutral-dark;
    }
  }
}

// Ordered lists
// Step-by-step section
ol.steps-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: baseline;
  margin: unset;
  padding: unset;

  li {
    padding-left: 0 !important;
    text-indent: 0 !important;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    width: 20%;
    margin: 3rem 0 2.5rem;

    @media screen and (max-width: $width-sm) {
      width: 100%;
    }

    a.link-button,
    button,
    .btn {
      min-width: unset;
    }
  }

  h3 {
    width: 100%;

    & > span {
      background: $neutral_white;
      display: block;
      width: 2em;
      height: 2em;
      margin: 0 auto 0.5rem;
      line-height: 1.7;
      border: 2px solid;
      border-radius: 100%;
      position: relative;

      // This creates the light blue border around the
      // charcoal border — would prefer to use the outline
      // attribute but it doesn't work in Safari
      &::before {
        content: "";
        position: absolute;
        top: -8px;
        right: -8px;
        bottom: -8px;
        left: -8px;
        border: 6px solid $brand_primary_light;
        border-radius: 100%;
      }
    }
  }

  h4 {
    @include heading-sm;
    width: 100%;
  }

  p {
    @include body-three;
  }
}

// FAQs
details {
  padding: 1.5rem 1rem 1rem;
  border-bottom: 1px solid $neutral_dark80;
  transition: background ease-in-out .2s;

  &:hover {
    background: $neutral_light;
  }

  summary {
    @include heading-xs;
    display: flex;
    justify-content: space-between;
    align-items: end;

    @media screen and (max-width: $width-sm) {
      align-items: baseline;
    }

    &:hover {
      cursor: pointer;
    }
  }

  & summary::marker {
    content: "";
  }

  // Hides the default arrow on Safari
  & summary::-webkit-details-marker {
    display:none;
  }

  // Uses FontAwesome arrow icons to
  // denote open and close states
  & summary::after {
    font: var(--fa-font-solid);
    content: "\f107";
  }

  &[open] summary::after {
    font: var(--fa-font-solid);
    content: "\f106";
  }

  p {
    @include body-three;
  }
}

// Forms
form {

  label {
    display: block;
    text-align: left;
    font-size: 1rem;
  }

  input, select {
    display: block;
    width: 100%;
    margin: .25rem auto 1.5rem;
    padding: 0.5rem;
    border: 1px solid;
    border-radius: $border-radius;
    font-family: $gotham-regular, sans-serif;
    font-size: 1rem;
    transition: all ease-in-out .2s;

    &:focus {
      @include focus-outline;
    }
  }

  button,
  &[type=submit] {
    margin-top: 1rem;

    @media screen and (max-width: $width-sm) {
      width: 100%;
    }
  }
}

// Action blocks wrappers
.action-block__wrapper {
  margin-top: 2rem;
  display: grid;
  grid-gap: 1.25rem;

  @media screen and (min-width: $width-sm) {
    grid-template-columns: repeat(2, 1fr);
  }

  &.action-block__wrapper--three-col {
    @media screen and (min-width: $width-lg) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

// Action blocks shared styles
.action-block {
  background: $neutral_light;
  border: 1px solid $neutral_dark20;
  border-radius: $border-radius;
  display: flex;
  align-content: baseline;

  h3 {
    width: 100%;
    @include heading-md;
  }

  p {
    @include body-three;

    &.overline {
      @include overline-two;
      color: $brand_primary_default;
      width: 100%;
    }
  }

  figure {

    &.video-responsive {
      margin-bottom: 1rem;
    }
  }

  ul {
    margin: 0 1rem 1rem;
    @include body-three;
  }

  &.secondary {

    h3 {
      @include heading-sm;
    }
  }

  // Hides the unused caption div from the
  // display_video_thumbnail partial
  .video_caption_link {
    display: none;
  }
}

// Single column action blocks
// Note: set the height of the <p> tag inline to maintain
// height consistency between cards in a wrapper
.action-block--one-col {
  flex-wrap: wrap;
  flex-direction: column;
  padding: 1.25rem;

  // Align copy or button(s) to the bottom of a block when
  // blocks are vastly different heights due to content length
  // — use .content-wrapper and .content-footer as seen on
  // views/maker_curriculum_microbit.haml
  &.flex-space-between {
    justify-content: space-between;
  }

  @media screen and (max-width: $width-md) {
    height: 100%;
  }

  img {
    width: 100%;
    margin-bottom: 1rem;
  }

  a.link-button {
    width: 100%;
    text-align: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin: 1rem 0 0;
  }
}

// Two column action block
.action-block--two-col {
  flex-wrap: wrap;
  overflow: hidden;

  .text-wrapper {
    padding: 1rem 1.5rem;
  }

  h3 {
    @include heading-sm;
  }

  figure.video-responsive {
    margin: 0 !important;
    max-width: unset;

    & > div {
      border: 0;
    }
  }

  @media screen and (max-width: $width-sm) {
    a.link-button, button {
      width: 100%;
      text-align: center;
    }
  }
}

// Carousels
// Uses the carouFredSel jQuery plugin: https://github.com/nzy/carouFredSel
.carousel-wrapper {
  margin: 2rem 0 0;

  @media screen and (max-width: $width-sm) {
    padding-bottom: 1rem;
  }

  // Set a min-height inline on the .carousel div
  // inside .carousel-wrapper to account for varying
  // quote lengths and prevent vertical height changes
  .carousel {
    overflow: hidden;

    @media screen and (max-width: $width-md) {
      height: unset !important;
      overflow: unset;
    }
  }

  // The plugin we're using disappears when <html dir="rtl">
  // - updating the inset value fixes it; it does remove the swiping
  // animation between slides on desktop, but keeps the content
  .slides.rtl {
    inset: 0 !important;
  }

  p {
    font-family: $barlowSemiCondensed-medium, sans-serif;
  }

  .pagination {
    margin: 1rem 0 0 0;

    @media screen and (max-width: $width-sm) {
      margin-top: 3rem;
    }

    &.left-align {
      text-align: left;

      @media screen and (max-width: $width-md) {
        text-align: center;
      }

      a:first-child {
        margin-left: 0;
      }
    }

    a{
      background: $brand_primary_light;

      &.selected {
        background: $brand_primary_default;
      }

      &:focus {
        @include focus-outline;
      }
    }
  }
}

// Quotes carousel
// See code.org/educate/professional-learning/middle-high
// and /views/pl_middle_high_carousel.haml for an example
.quotes-wrapper {

  img {
    border-radius: $border-radius;
    width: 100%;

    @media screen and (max-width: $width-md) {
      display: none;
    }

    @media screen and (max-width: $width-sm) {
      display: block;
      margin-bottom: 2rem;
    }
  }

  .carousel-wrapper {

    .with-image {
      display: flex;
      justify-content: space-between;
      align-items: center;

      @media screen and (max-width: $width-sm) {
        justify-content: center;
        flex-wrap: wrap;
      }

      img {
        width: 150px;
        height: 150px;
        margin-right: 3rem;

        @media screen and (max-width: $width-md) {
          display: block;
        }

        @media screen and (max-width: $width-sm) {
          margin-right: 0;
        }
      }
    }

    p {
      font-size: 1.25rem;

      &.quote-text {
        font-size: 1.5rem;
        line-height: 1.3;

        &:before, &:after {
          font: var(--fa-font-solid);
          color: $brand_primary_default;
        }

        &::before {
          content: "\f10d";
          margin: 0 8px 0 0;
        }

        &::after {
          content: "\f10e";
          margin: 0 0 0 8px;
        }
      }
    }

    span {
      color: $brand_accent_default;
      margin: 0 2px;
    }
  }
}

// Photo slideshow carousel
// See code.org/educate/professional-learning/middle-high
// and /views/pl_middle_high_carousel.haml for an example
.photo-carousel-wrapper {

  .with-image {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;

    @media screen and (max-width: $width-md) {
      gap: 3rem;
    }

    @media screen and (max-width: $width-sm) {
      justify-content: center;
      flex-wrap: wrap;
      gap: 1rem;
    }

    img {
      width: 450px;
      height: auto;
      border-radius: 1rem;

      @media screen and (max-width: $width-md) {
        width: 300px;
      }

      @media screen and (max-width: $width-sm) {
        width: 100%;
      }
    }
  }

  p {
    font-size: 1.25rem;

    @media screen and (max-width: $width-md) {
      margin-bottom: 1rem;
    }
  }

  .pagination {
    margin-top: 2rem;

    @media screen and (max-width: $width-md) {
      margin-top: 3rem;
    }
  }
}

// Individual quote section
// See code.org/teach for an example
section.quote {
  background: url("/images/banners/banner-bg-lines-neutral-dark.png") center repeat;
  background-size: 15%;
  background-color: $neutral-dark;

  @media screen and (max-width: $width-sm) {
    background-size: 50%;
  }

  p {
    font-size: 1.25rem;
    color: $neutral_white;
    font-family: $barlowSemiCondensed-medium;

    &.quote-text {
      font-size: 1.35rem;

      &.large {
        font-size: 1.5rem;
      }

      &:before, &:after {
        font: var(--fa-font-solid);
        color: $brand_primary_default;
      }

      &::before {
        content: "\f10d";
        margin: 0 8px 0 0;
      }

      &::after {
        content: "\f10e";
        margin: 0 0 0 8px;
      }
    }
  }

  span {
    color: $brand_accent_default;
    margin: 0 2px;
  }
}

// Modals
.modal-header {

  button.close {
    min-width: unset;
    margin-top: 2px;

    &:hover {
      background: none;
      border: none;
    }
  }
}

// Video series
// - see example: code.org/blockchain
.video-series {
  display: grid;
  grid-gap: 1.25rem;
  margin-top: 2rem;

  @media screen and (min-width: $width-sm) {
    grid-template-columns: repeat(2, 1fr);
  }

  // Overrides styles on the
  // display_video_thumbnail partial
  & > div.col-50 {
    padding: 0 !important;
    margin: 0 !important;
    width: 100%;
  }
}

// Overrides styles on the
// display_video_thumbnail partial
.video_caption_link {
  @include figcaption;
}

// Blog post callout
.blog-post-callout {

  .wrapper{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }

  i {
    font-size: 2rem;
  }

  .text-wrapper {
    width: 100%;
  }
}

// Resources tabs section
// Works with resources_tabs.haml partial
// See code.org/teach for an example
.resources-tabs{
  margin-top: 2rem;
  min-height: 408px;

  nav {
    border-bottom: 6px solid $brand_primary_default;
    margin: 0 0 3rem;
    align-items: end;

    button.tab {
      color: $neutral_dark;
      background: $neutral_white;
      border: 1px solid $neutral_dark20;
      border-bottom: 0;
      border-radius: 6px 6px 0 0;
      padding: 0.75rem 0.25rem 0.7rem;
      margin: 0;
      width: 11.75rem;
      cursor: pointer;
      white-space: normal;
      height: -webkit-fit-content;

      &:hover {
        background-color: $neutral_dark10;
      }

      // Selected tab's styles
      &.active,
      &.active:focus:not(:focus-visible) {
        background-color: $brand_primary_default;
        color: $neutral_white;
        border-color: $brand_primary_default;
      }

      &:focus {
        outline: unset;
        border-color: $brand_primary_default;
        background-color: $neutral_dark10;
        color: $neutral_dark;
      }
    }
  }

  div.content {
    text-align: left;
  }

  // Hides tab content
  div.content {
    display: none;

    // Shows tab content
    &.show {
      display: initial;
    }
  }

  .video_caption_link {
    margin-bottom: 0;
  }

  &.show-tablet-and-mobile {
    height: unset;

    details {
      padding-left: 0;
      padding-right: 0;

      summary {
        @include heading-md;
      }
    }

    .flex-container {
      align-items: start;
      flex-direction: row-reverse;
      gap: 2rem;

      @media screen and (max-width: $width-sm) {
        flex-wrap: wrap-reverse;
      }
    }

    figure {
      margin-bottom: 1rem;
    }

    h3 {
      display: none;
    }
  }
}

// Curriculum at a glance section
// Works with curriculum_glance_section.haml partial
// See code.org/educate/csp for an example
.curriculum-glance {
  background: $neutral-white;
  border: 1px solid $neutral_dark10;
  border-radius: $border-radius;
  margin-top: 2rem;
  padding: 1.5rem;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;

  @media screen and (max-width: $width-md) {
    grid-template-columns: unset;
    gap: 1rem;
  }

  ul {
    margin: 0;
    gap: 1.25rem;

    li {
      all: unset;
      font-size: 1rem;
      margin: 0;
      display: flex;
      align-items: baseline;
      gap: 0.75rem;

      &:before {
        display: none;
      }

      p {
        @include body-two;
        margin-bottom: 0;
        width: 100%;
      }
    }
  }
}
