#district-partner-form {
}
#district-partner-form .main-section  {
  width: 480px;
}
#district-partner-form .programs-section {
  width: 100%;
}
#district-partner-form h2 {
  margin-top: 2em;
}
#district-partner-form .subsection {
  background: #eee;
  padding: 20px;
  margin: 20px 0;
}
#district-partner-form h3 {
  margin-top: 0;
  color: #00adbc;
  font-size: 18px;
}
#district-partner-form .input-inline {
  display: inline;
  width: 4em;
}
#error-message {
  color: #c00;
}
.required-field-marker {
  color: #f00;
}
