table {
  border-collapse: collapse;
}

table, th, td {
  border: 2px solid #F2F2F2;
}

table td {
  text-align: center;
}

.small {
  height: 100px;
  width: 260px;
}

.medium {
  height: 200px;
  width: 260px;
}

.large {
  height: 150px;
  width: 390px;
}

.small-img {
  max-width: 100%;
  max-height: 80px;
}

.medium-img {
  max-width: 100%;
  max-height: 160px;
}

.large-img {
  max-width: 100%;
  max-height: 120px;
}

.small-font {
  font-size: 18px;
}

.medium-font {
  font-size: 14px;
}

.large-font {
  font-size: 14px;
}

#donorslider {
  background-color: #cfc9de;
  margin-top: 20px;
  padding-top: 10px;
  margin-bottom: 0px;
}

#donorslider .container_responsive {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 15px;
  padding-top: 5px;
}

#donorslider h1 {
  width: 100%;
  font-size: 20px;
  margin: 0px;
  padding: 0px;
  text-align: center;
  color: white;
  position: absolute;
  top: 0px;
  font-family: 'Gotham 4r', sans-serif;
}

#donorslider .donor-slider {
  color: white;
  text-align: center;
  font-size: 13px;
}

#donorlinks {
  text-align: right;
  position: absolute;
  width: 100%;
}

#donorlinks a {
  color: white;
}

#donorslider .donor-slider a {
  color: white; 
  font-family: 'Gotham 4r', sans-serif;
}
