table {
  border-collapse: collapse;
}

table, th, td {
  border: 2px solid #F2F2F2;
}

table td {
  text-align: center;
}

.small {
  height: 100px;
  width: 260px;
}

.medium {
  height: 200px;
  width: 260px;
}

.large {
  height: 150px;
  width: 390px;
}

.small-img {
  max-width: 100%;
  max-height: 80px;
}

.medium-img {
  max-width: 100%;
  max-height: 160px;
}

.large-img {
  max-width: 100%;
  max-height: 120px;
}

.small-font {
  font-size: 18px;
}

.medium-font {
  font-size: 14px;
}

.large-font {
  font-size: 14px;
}

#donorslider {
  background-color: white;
  margin-top: 20px;
  padding-top: 10px;
  margin-bottom: 0px;
}

#donorslider .container_responsive {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 15px;
  padding-top: 5px;
}

#donorslider h1,
.homepage-supporters h1 {
  width: 100%;
  font-size: 24px;
  font-weight: 900;
  margin: 0 0 12px 0;
  padding: 0px;
  text-align: center;
  font-family: 'Gotham 4r', sans-serif;
}

#donorslider .donor-slider {
  text-align: center;
  font-size: 13px;
}

#donorslider .donor-button {
  color: white;
  text-align: center;
  font-size: 13px;
}

#donorslider .donor-slider a {
  color: #4d575f;
  font-family: 'Gotham 4r', sans-serif;
}

#donorslider .donor-button button {
  margin: 12px 8px;
}



/* Styles for the updated Supporters section on the Homepage
- changed May 2022 */
.homepage-supporters {
  padding: 2em 2em 4em;
  text-align: center;
}
.homepage-supporters .donor-button {
  margin: 0 auto 1.5em;
}

/* Styles for the updated Supporters page
- changed May 2022 */
.clearfix {
  clear: both;
}

.no-padding {
  padding: 0 !important;
}

.no-flex {
  display: unset !important;
}

/* Show on mobile */
.mobile-show {
  display: none !important;
}

section.flex-container {
  padding: 2em 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
  section.flex-container p {
    margin: 1em 0;
    font-size: 18px;
    text-align: center;
    font-family: "Gotham 7r", sans-serif;
  }
    section.flex-container img {
      align-self: center;
      width: 120px;
    }

section.flex-container.no-logos {
  padding: 0 1em;
  justify-content: space-between;
}

section.lists h3 {
  background: #00b2c0;
  color: white;
  padding: .75em;
  margin: 2em 0 0;
  width: 100%;
}
  section.lists h4 {
    padding: .75em 1em;
    margin: 2px 0 0;
    background: #5b6770;
    color: white;
  }


@media screen and (max-width: 768px) {

  /* Hide on mobile */
  .mobile-hide {
    display: none !important;
  }

  /* Show on mobile */
  .mobile-show {
    display: block !important;
  }

  section.flex-container img,
  section.flex-container p {
    margin: 1.5em auto;
  }

    /* Adjust padding of the Gold Supporters sections */
    section.flex-container.row-01,
    section.flex-container.row-02 {
      padding-bottom: 0;
    }
    section.flex-container.row-03 {
      padding-top: 0;
    }

  h5 {
    color: #00adbc;
    font-family: 'Gotham 7r', sans-serif;
    margin: 1.5em 1em 0;
    font-size: 1em;
  }
}

@media screen and (max-width: 640px) {

  section.flex-container {
    flex-direction: column;
  }
}
