.educate-banner {
  border-radius: 5px;
  width: 100%;
}

#educate-curriculum-grid, #educate-resources-grid {
  width: 100%;
}

#educate-curriculum-grid {
  margin-top: 20px;
}

.educate-container {
  position: relative;
  float: left;
}

.educate-box {
  position: absolute;
  width: 100%;
  color: white;
  padding: 20px;
}

.educate-callout-box {
  background-color: #59b9dc;
  width: 300px;
  height: 220px;
  padding: 20px;
  color: white;
}

.educate-h1 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 28px;
  color: white;
}

.educate-p {
  height: 60px;
}

.educate-button {
  background-color: #e7e8ea;
  border-color: #c6cacd;
  color: #5b6770;
  border-radius: 0px;
  font-size: 12px;
  min-width: 120px;
  position: absolute;
  bottom: 0;
  margin-bottom: 5%;
}

.educate-button:hover { 
  background-color: white;
}

.resources-h1 {
  text-align: center;
  margin-top: -1%;
}

@media screen and (min-width: 971px)
{
  #educate-curriculum-grid div:nth-child(2), #educate-resources-grid div:nth-child(2), #educate-resources-grid div:nth-child(5) {
    margin-right: .66%;
    margin-left: .66%;
  }

  #educate-curriculum-grid div:nth-child(1), #educate-resources-grid div:nth-child(1),  #educate-resources-grid div:nth-child(4){
    margin-right: 1.33%;
  }

  #educate-curriculum-grid div:nth-child(3), #educate-resources-grid div:nth-child(3),  #educate-resources-grid div:nth-child(6){
    margin-left: 1.33%;
  }

  .educate-container {
    height: 270px;
  }

  .educate-box {
    position: absolute;
    min-height: 250px;
  }

  #regional-partner-playbook * {
      margin-right: 1.33%;
  }

}

@media screen and (min-width: 0px) and (max-width: 970px)
{
  #educate-curriculum-grid div:nth-child(2), #educate-resources-grid div:nth-child(2), #educate-resources-grid div:nth-child(5) {
    margin-right: 0%;
    margin-left: 0%;
  }

  #educate-curriculum-grid div:nth-child(1), #educate-resources-grid div:nth-child(1),  #educate-resources-grid div:nth-child(4){
    margin-right: 0%;
  }

  #educate-curriculum-grid div:nth-child(3), #educate-resources-grid div:nth-child(3),  #educate-resources-grid div:nth-child(6){
    margin-left: 0%;
  }

  .educate-container {
    height: 230px;
  }

  .educate-box {
    position: absolute;
    min-height: 220px;
  }
}

@media screen and (min-width: 0px) and (max-width: 600px)
{
  .educate-box {
    padding-top: 0px;
  }
}
