.educate-banner{
  border-radius: 5px;
  width: 100%;
}

#educate-curriculum-grid, #educate-resources-grid{
  width: 100%;
}

#educate-curriculum-grid{
  margin-top: 20px;
}

.educate-container {
  position:relative;
  float: left;
}

.educate-box {
  position: absolute;
  width: 100%;
  color: white;
  padding: 20px;
  border-radius: 5px;
}

.educate-h1 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 28px;
  color: white;
}

.educate-p {
  height: 60px;
}

.educate-button {
  position: absolute;
  bottom: 0;
  margin-bottom: 5%;
}

.resources-h1 {
  text-align: center;
  margin-top: -1%;
}
