.educate-banner {
  margin-left: 1%;
  border-radius: 5px;
  width: 100%;
}
#educate-curriculum-grid, #educate-resources-grid{
  width: 100%;
  margin-left: 1%;
}

#educate-curriculum-grid{
  margin-top: 2%;
}

#educate-curriculum-grid div:nth-child(2), #educate-resources-grid div:nth-child(2), #educate-resources-grid div:nth-child(5) {
  margin-right: .165%;
  margin-left: .165%;
}

#educate-curriculum-grid div:nth-child(1), #educate-resources-grid div:nth-child(1),  #educate-resources-grid div:nth-child(4){
  margin-right: .33%;
}

#educate-curriculum-grid div:nth-child(3), #educate-resources-grid div:nth-child(3),  #educate-resources-grid div:nth-child(6){
  margin-left: .33%;
}

.educate-container {
  position:relative;
  float: left;
  height: 270px;
}

.educate-box {
  position: absolute;
  min-height: 255px;
  width: 100%;
  color: white;
  padding: 5%;
  border-radius: 5px;
}

.educate-h1 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 28px;
  color: white;
}

.educate-p {
  height: 60px;
}

.educate-button {
  position: absolute;
  bottom: 0;
  margin-bottom: 8%;
}

.resources-h1 {
  text-align: center;
  margin-top: 2%;
}
