@import 'color', 'breakpoints';

.gen-ai-launch-skinny-banner {
  background-color: #0F1E2E;
  background-image: url('/images/banners/banner-bg-horizontal-line-gaps.png');
  background-repeat: repeat;
  background-size: contain;
  color: $white !important;
  padding: 2rem;

  .wrapper {
    max-width: 960px;
    margin: 0 auto;
    gap: 4rem;

    @media (max-width: 900px) {
      gap: 2rem;
    }

    @media (max-width: $width-sm) {
      padding-block: 2rem;
      flex-direction: column;
      justify-content: center;
      gap: 1rem;
    }
  }

  .text-wrapper {
    flex: 2;

    h5, p {
      color: $white;
    }

    @media (max-width: $width-sm) {
      text-align: center;
    }
  }

  img {
    max-width: 15rem;
  }

  a.link-button {
    max-width: 15rem;
  }

  .afe-partnership-logo {
    max-width: 190px;
    padding-inline-start: 0.5rem;
  }
}
