@import 'color.scss', 'font.scss', 'breakpoints.scss';

aside.hoc-skinny-banner {
  background: url("/images/hoc2022-skinny-banner-bg.png") no-repeat center center;
  background-size: contain;
  color: $white;
  margin: -1em auto 1em;
  padding: 2em 1em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;

  @media screen and (max-width: $width-md) {
    background-size: cover;
    padding: 1.5em 1.75em;
  }

  @media screen and (max-width: $width-sm) {
    flex-wrap: wrap;
    margin: 1em 0;
    text-align: center;
  }

  .wrapper {
    margin: unset;
    height: unset;
  }

  h1 {
    color: $white;
    font-size: 2.15em;
    margin: 0 0 .15em;
  }

  p {
    margin-bottom: 0;

    @media screen and (max-width: $width-sm) {
      margin-bottom: 1em;
    }
  }

  img {
    width: 120px;

    @media screen and (max-width: $width-md) {
      width: 100px;
      margin: 0 2em 0 1em;
    }

    @media screen and (max-width: $width-sm) {
      display: none;
    }
  }

  button {
    margin: unset;
    background-color: $neutral_white;
    border-color: $neutral_white;
    color: $neutral_dark;
    font-family: var(--main-font);
    font-weight: var(--bold-font-weight);

    &:hover {
      background-color: $neutral_dark10;
      border-color: $neutral_dark10;
    }
  }
}
