// Custom styles for code.org/educate/csa
// — supplemental to shared/css/design-system-pegasus.scss

@import 'color', 'font', 'typography', 'breakpoints', 'barlow-semi-condensed-font';

// Hero banner
.hero-banner-basic {

  &.overlay {
    position: relative;
    width: 100%;
    height: 100%;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 120%;
      background: url(/images/hoc2023-hero-banner.svg) no-repeat center center;
      background-size: cover;
      z-index: 1;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-size: 70%;
      z-index: 2;
    }
  }

  @media screen and (max-width: $width-sm) {
    background-size: 50%;
  }

  .hero-title {
    text-align: center;
    font-family: Metropolis;
  }
    
  @media (min-width: 769px) {
    .hero-title {
      font-size: 5rem;
    }
  }
  .wrapper {
    position: relative;
    z-index: 10;
  }

  .text-wrapper {
    width: 58%;

    p a {
      color: $neutral-white;

      &:hover {
        color: $neutral-dark10;
      }
    }

    @media screen and (max-width: $width-sm) {
      width: 100%;
    }
  }

  figure {
    width: 35%;

    img {
      width: 100%;
    }

    @media screen and (max-width: $width-sm) {
      display: none;
    }
  }
}

.csa-page-projects {

  .content-wrapper {
    gap: 2rem;
  }

  .image-wrapper {
    img {
      width: 100%;
    }
  }
}

@media(max-width: 970px){
  .two-items {
    flex-direction: column;
  }
}

.svg-link a::after {
  font: var(--fa-font-solid);
    content: "\f08e";
    margin: 0 2px 0 4px;
}

.video-101 {

  &__text {
    margin-bottom: 2rem;
  }

  .action-block {
    margin-bottom: 2rem;
    background: $neutral_white;
  }

  &__image,
  &__video {

    @media (min-width: 971px) {
      margin: 1.25rem 0 1.25rem 1.25rem;
      width: calc(50% - 20px);
    }
  }
}

.ending-link {
  margin-top: 36px;
  text-align: center;
}