@import 'color.scss', 'font.scss', 'breakpoints.scss';

// Code.org HoC homepage banner
#bars {
  height: 450px;
  position: relative;

  @media screen and (max-width: $width-md) {
    height: 400px;
  }

  @media screen and (max-width: $width-sm) {
    height: 500px;
  }

  & > div.col-33 {
    position: absolute;

    // Left image
    &:nth-of-type(1) {
      height: inherit;
      max-width: 500px;
      left: 0;
      top: -10%;

      @media screen and (max-width: $width-md) {
        width: 45%;
        left: -9%;
        top: -3rem;
      }
    }

    // Copy and buttons (.hoc-banner.homepage)
    &:nth-of-type(2) {
      width: 700px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      @media screen and (max-width: $width-lg) {
        width: 570px;
        margin-top: -0.5rem;
      }

      @media screen and (max-width: $width-sm) {
        width: 100%;
      }
    }

    // Right image
    &:nth-of-type(3) {
      height: inherit;
      max-width: 500px;
      right: 0;
      bottom: 0;

      @media screen and (max-width: $width-md) {
        width: 45%;
        right: -5%;
      }
    }
  }
}

.hoc-banner.homepage {
  text-align: center;
  color: $white;
  line-height: 1.4;
  max-width: 860px;
  margin: 2rem auto 4rem;

  h1, h2 {
    color: $white
  }

  h1 {
    font-size: 4rem;
    font-family: var(--barlowSemiCondensed-semibold);
    margin: 0 auto 0.5em;

    @media screen and (max-width: $width-lg) {
      font-size: 3.75em;
    }

    @media screen and (max-width: $width-md) {
      font-size: 3.5em;
    }

    @media screen and (max-width: $width-sm) {
      font-size: 2.75em;
    }
  }

  h2 {
    margin: 0 auto 1rem;
    font-family: var(--main-font);
    font-size: 1.25rem;
  }

  // The Hour of Code is coming/here text
  p {
    font-size: 1.5rem;
    font-family: var(--main-font);
    font-weight: var(--semi-bold-font-weight);
    margin-bottom: 0.25rem;

    @media screen and (max-width: $width-md) {
      font-size: 1.75em;
    }

    @media screen and (max-width: $width-sm) {
      font-size: 1.35em;
    }
  }
}

// Misc styles that need to be overridden
.widehero_do_not_hide.phone-feature {
  background-position: 50% 0% !important;
}

#homepage #actions .herohocbutton-solid-yellow {
  background-color: #1AADBB;
  border-color: #1AADBB;
}
