@import "color.scss", "font.scss", "imports/_breakpoints.scss";

html {
  scroll-behavior: smooth;
}

#pageheader-wrapper #pageheader {
  margin-bottom: 0;
}

// Allows for full-width banner and sections
.container_responsive {
  width: unset;
}

h1, h2 {
  color: $darkest_gray;
}

header {
  text-align: center;
  padding: 4em 1em;
  background: $background_gray;
  color: $darkest_gray;

  h1 {
    font-size: 4em;
    margin: 0.5em auto;
  }

  h2 {
    font-family: $gotham-regular;
  }

  span {
    font-size: 1.75em;
  }

  nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 500px;
    margin: 0 auto;

    li {
      list-style: none;
      display: inline-flex;
      font-size: 1.75em;

      &:before {
        display: none;
      }

      i {
        margin-right: 1em;
      }

      a {
        margin-bottom: 0;
        line-height: 1;
        color: $darkest_gray;
        font-family: $gotham-bold;

        &:visited,
        &:link {
          color: $darkest_gray;
        }
      }
    }
  }
}

main {

  aside {
    max-width: 970px;
    background-color: $background_gray;
    margin: 2em auto 0;
    padding: 2em;

  }

  hr {
    margin: 4em 0;
    border-top: 1px solid $lighter_gray;
  }

  section {
    padding: 6em 1em;

    &:nth-of-type(2) {
      background: $background_gray;
    }

    .wrapper {
      max-width: 970px;
      margin: 0 auto;
    }

    .top-wrapper {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;

      & > div {
        text-align: center;
        width: 33%;

        i {
          font-size: 3em;
          color: $darkest_gray;
        }

        h1 {
          margin: .5em auto;
          color: $darkest_gray;
          font-size: 3em;
        }

        p {
          font-size: 1.5em;
        }
      }

      iframe {
        width: 500px;
        height: 281px;
        border: 1px solid $lighter_gray;
      }
    }

    .activites {
      text-align: center;
    }
  }
}
