.nasa-skinny-banner {
  max-width: 970px;
  margin: 4em auto -2em;
  padding: 1em;
  background: url('/images/hoc2022-landing-page-nasa-banner-bg.png') no-repeat center center;
  background-size: cover;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.nasa-skinny-banner img {
  width: 100px;
}

.nasa-skinny-banner .wrapper {
  margin: unset;
  text-align: center;
  width: 89%;
}

.nasa-skinny-banner h1 {
  color: white;
  margin: 0;
  font-size: 1.45em;
  font-family: var(--main-font);
  font-weight: var(--semi-bold-font-weight);
  width: 55%;
  text-align: center;
}

.nasa-skinny-banner p {
  margin-bottom: 0;
  font-size: 1.25em;
}

.nasa-skinny-banner button {
  margin: unset;
}

@media screen and (max-width: 992px) {
  .nasa-skinny-banner {
    width: 90%;
  }

  .nasa-skinny-banner .wrapper {
    width: 80%;
  }

  .nasa-skinny-banner h1 {
    font-size: 1.25em;
  }

  .nasa-skinny-banner p {
    font-size: 1em;
  }
}

@media screen and (max-width: 640px) {
  .nasa-skinny-banner .wrapper {
    width: 100%;
  }

  .nasa-skinny-banner h1 {
    font-size: 1.25em;
    width: 95%;
    margin: .5em auto 1em;
  }

  .nasa-skinny-banner button {
    margin: 0 auto 1em;
  }
}
