@import "color.scss", "font.scss", "breakpoints.scss";

html {
  scroll-behavior: smooth;
}

#pageheader-wrapper #pageheader {
  margin-bottom: 0;
}

// Allows for full-width banner and sections
.container_responsive {
  width: unset;
  padding: unset;
}

header {
  text-align: center;
  padding: 5em 1em;
  color: $white;
  background: url("/images/hoc2022-landing-page-banner-bg.png") no-repeat center center;
  background-size: cover;
  position: relative;
  overflow: hidden;
  text-shadow: 0px 0px 8px #5d1582;

  @media screen and (max-width: $width-md) {
    padding: 3.5em 1em;
  }

  @media screen and (max-width: $width-sm) {
    background: url("/images/hoc2022-landing-page-banner-bg-mobile.png") no-repeat bottom center;
    background-size: cover;
  }

  .wrapper {
    z-index: 1;
    position: relative;
    margin: unset;

    @media screen and (max-width: $width-md) {
      font-size: 88%;
    }

    a {
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }

  img {
    z-index: 0;
    height: 100%;
    position: absolute;
    bottom: 0;

    @media screen and (max-width: $width-sm) {
      display: none;
    }

    &.left {
      left: 0;

      @media screen and (max-width: $width-lg) {
        left: -62px;
      }
    }

    &.right {
      right: 0;

      @media screen and (max-width: $width-lg) {
        right: -48px;
      }
    }
  }

  h1, h2 {
    color: $white;
  }

  h1 {
    font-size: 4em;
    margin: 0.5em auto;

    @media screen and (max-width: $width-lg) {
      font-size: 3.5em;
    }

    @media screen and (max-width: $width-sm) {
      font-size: 4.5em !important; // overrides brstrap.css
      margin: 0.25em auto -0.25em !important; // overrides brstrap.css
    }
  }

  h2 {
    font-family: $gotham-regular;
  }

  span {
    font-size: 1.75em;
  }

  nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 380px;
    margin: 0 auto;

    @media screen and (max-width: $width-sm) {
      justify-content: space-evenly;
    }

    li {
      list-style: none;
      display: inline-flex;
      font-size: 1.5em;

      &:before {
        display: none;
      }

      i {
        margin-right: 1em;
      }

      a {
        margin-bottom: 0;
        line-height: 1;
        color: $white;
        font-family: $gotham-bold;

        &:visited,
        &:link {
          color: $white;
        }
      }
    }
  }
}

main {

  hr {
    margin: 4em 0;
    border-top: 1px solid $lighter_gray;
  }

  section {
    padding: 6em 1em;

    &.play .top-wrapper {
      @media screen and (max-width: $width-md) {
        flex-wrap: wrap-reverse;
      }
    }

    &:last-child {
      padding-bottom: 1em;

      @media screen and (max-width: $width-md) {
        margin-bottom: 4em;
      }
    }

    &:nth-of-type(2) {
      background: $background_gray;
    }

    .wrapper {
      max-width: 970px;
      margin: 0 auto;

      @media screen and (max-width: $width-md) {
        padding: 0 5em;
      }

      @media screen and (max-width: $width-sm) {
        padding: 0;
      }
    }

    .top-wrapper {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;

      & > div {
        text-align: center;
        width: 33%;

        @media screen and (max-width: $width-md) {
          width: 50%;
          margin: 0 auto 2em;
        }

        @media screen and (max-width: $width-sm) {
          width: 100%;
          margin: 0 auto 2em;
        }

        i {
          font-size: 3em;
        }

        h1 {
          margin: .5em auto;
          font-size: 3em;
        }

        p {
          font-size: 1.5em;
        }
      }

      figure {
        max-width: 500px;
        max-height: auto;
        width: 100%;

        & > div {
          position: relative;
          overflow: hidden;
          width: 100%;
          padding-top: 56.25%;

          iframe {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 100%;
          }
        }
      }
    }

    .activities {
      text-align: center;

      .featured-activities {
        margin: 0 auto 3em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        .col-25 {
          @media screen and (max-width: $width-md) {
            width: 50%;
          }

          @media screen and (max-width: $width-sm) {
            width: 100%;
          }
        }
      }
    }
  }
}
