a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a.underscorehover:hover
{
  text-decoration: underline;
  color: var(--neutral_white);
}

.underscorehover:hover
{
  text-decoration: underline;
  color: var(--neutral_white);
}

a.nounderscorehover:hover
{
  text-decoration: none;
}

@media screen and (max-width: 512px)
{
  .same-height-column {width:100%}
}
@media screen and (min-width: 513px)
{
  .same-height-column {float:none !important; width:50%}
}

body.modal-open .supreme-container{
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
}

@media screen and (min-width: 971px) {
  .homepage-caption-bottom {
    top: 190px;
  }
}

#homepage #hero {
  position: relative;
  width: 100%;
  overflow: hidden;
}

#homepage #hero .widehero {
  display: none;
  z-index: -5;
  position:absolute;
  left: 0;
  top: 0;
  background-repeat: no-repeat; background-size: cover;
  width: 100%;
  height: 100%;
}

#homepage #hero .widehero_do_not_hide {
  z-index: -5;
  position:absolute;
  left: 0;
  top: 0;
  background-repeat: no-repeat; background-size: cover;
  width: 100%;
  height: 100%;
}

#hero #fullwidth0.widehero {
  animation: fadein 4s;
  display: block;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

#homepage #hero #fullwidth {
  width: 100%;
}

#homepage #caption_container {
  color: var(--neutral_white);
  font-size: 20px;
}

#homepage #caption_container .captionarea {
  position: absolute;
  left: 0;
  text-align: center;
  width: 100%;
  color: #fff;
  line-height: 22px;
}

#homepage #caption_container .caption {
  display: none;
  position: absolute;
  opacity: 0;
  padding: 8px;
  text-shadow: 0 0 5px black;
}

#homepage #caption_container .smallcaption {
  font-size: 14px;
}

#homepage #caption_container #blankspaceleftdesktop {
  height: 380px;
}

#homepage #caption_container #blankspaceleftmobile {
  height: 100px;
}

#homepage #actions {
  position: relative;
  padding: 20px;
}

@media screen and (max-width: 970px) {
  #homepage #hero {
    overflow: visible;
  }
}

#homepage #actions {
  text-align: center;
}

#homepage .hero-message {
  font-family: 'Gotham 5r', sans-serif !important;
  font-size: 44px;
  line-height: 44px;
  color: #00ADBC;
  margin-top: 0px;
  margin-bottom: 20px;
}

#homepage .hero-message p {
  margin-bottom: 0px;
}

#homepage .hero-sub-message {
  color: #4d575f;
  font-size: 24px;
  line-height: 32px;
}

#homepage .hero-message-codebytes a {
  font-family: 'Gotham 5r', sans-serif !important;
}

.codebytes-img {
  width: 750px;
  max-width: 90%;
  margin: auto;
  display: block;
}

#homepage .hero-message-codebytes {
  color: #4d575f;
  clear: both;
}

@media screen and (min-width: 601px) {
  #homepage .hero-message-codebytes {
    margin: 15px auto 15px auto;
    font-size: 24px;
    line-height: 32px;
    width: 750px;
    max-width: 90%;
  }
}

@media screen and (min-width: 0px) and (max-width: 600px) {
  #homepage .hero-message-codebytes {
    margin: 0 auto 30px auto;
    font-size: 16px;
    line-height: 24px;
  }
}

#homepage .hero-messages-ai {
  text-align: left;
}

#homepage .hero-description {
  text-align: left;
  line-height: 1.3;
}

#homepage .join_us_ai {
  text-align:left;
  color:  #143441;
}

/* desktop */
@media screen and (min-width: 601px) {
  #homepage .hero-messages-ai .hero-super-message {
    font-size: 24px;
    color: var(--neutral_white);
    margin-bottom: 16px;
    margin-top: 30px;
  }

  #homepage .hero-messages-ai .hero-message {
    font-size: 44px;
    color: #3CFFF8;
    margin-bottom: 16px;
  }

  #homepage .hero-messages-ai .hero-description {
    font-size: 18px;
    color: var(--neutral_white);
    max-width: 650px;
    margin-bottom: 16px;
  }

  #homepage .join_us_ai {
    margin-bottom: 80px;
  }

  #homepage .hero-bot img {
    width: 350px;
    margin-top: -45px;
  }
}

/* mobile */
@media screen and (min-width: 0px) and (max-width: 600px) {
  #homepage .hero-messages-ai .hero-super-message {
    font-size: 16px;
    color: var(--neutral_white);
    text-align: center;
    margin-bottom: 5px;
  }

  #homepage .hero-messages-ai .hero-message {
    font-size: 34px;
    color: #3CFFF8;
    text-align: center;
  }

  #homepage .hero-messages-ai .hero-description {
    font-size: 18px;
    color: var(--neutral_white);
  }

  #homepage .join_us_ai {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 40px;
  }

  #homepage .hero-bot img {
    width: 200px;
  }

}

@media screen and (min-width: 0px) and (max-width: 600px) {
  #homepage .hero-sub-message {
    margin-bottom: 80px;
  }
}

@media screen and (min-width: 601px) {
  #homepage .hero-sub-message {
    margin-bottom: 130px;
  }
}

#homepage .action .video-play-icon {
  width: 24px;
  height: 24px;
  margin-top: -4px;
  margin-right: 4px;
}


.curriculum-banner {
  width: 100%;
  background-color: rgb(118,101,160);
  text-align: center;
  color: var(--neutral_white);
  padding: 14px;
  font-size: 15px;
}

.curriculum-banner a {
  color: var(--neutral_white) !important;
  font-family: 'Gotham 4r', sans-serif !important;
  text-decoration: underline !important;
}

.curriculum-link {
  color: var(--neutral_white) !important;
  font-family: 'Gotham 4r', sans-serif !important;
  text-decoration: underline !important;
}

#homepage .action_buttons {
  margin-bottom: 60px;
}

#homepage #actions a {
  text-decoration: none;
}

#homepage #actions #title {
  font-family: 'Gotham 5r', sans-serif;
  font-size: 26px;
  color: var(--neutral_white);
  line-height: 30px;
}

#homepage #actions #subtitle {
  font-family: 'Gotham 4r', sans-serif;
  font-size: 16px;
  color: var(--neutral_white);
  margin: 15px 0 5px 0;
}

#homepage #actions #playimage {
  cursor: pointer;
}

#homepage #actions #playtext {
  font-size: 18px;
  cursor: pointer;
}

#homepage #actions #herolearnlink {
  color: var(--neutral_white);
  font-size: 20px
}

#homepage #actions #herolearnbutton {
  font-weight: 500;
  font-size: 20px;
  height: 50px
}

#homepage #actions .buttongroup {
  display: inline-block;
  margin-bottom: 20px;
}

#homepage #actions .herohocbutton {
  font-weight: bold;
  font-size: 18px;
  min-width: 230px;
  height: 40px;
  padding: 0 30px;
  margin: 10px 5px 0 0;
  background-color: var(--orange);
  border-color: var(--orange);
}

#homepage #actions .herolink-white {
  font-family: 'Gotham 4r', sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: var(--neutral_white);
  display: inline-block;
  margin-top: 24px
}

#homepage #actions .herolink-white i {
  vertical-align: middle;
  margin-right: 5px;
  font-size: 26px;
}

#homepage #actions .herolink-white span {
  vertical-align: middle;
}

#homepage #actions .herohocbutton-solid-white {
  color: black;
  background-color: var(--neutral_white);
  border-color: var(--neutral_white);
}

#homepage #actions .herohocbutton-solid-grey {
  color: black;
  background-color: lightgrey;
  border-color: lightgrey;
}

#homepage #actions .herohocbutton-solid-black {
  color: var(--neutral_white);
  background-color: black;
  border-color: black;
}

#homepage #actions .herohocbutton-hollow-black {
  color: black;
  background: none;
  border-color: black;
}

#homepage #actions .herohocbutton-hollow-white {
  background-color: initial;
  border-color: var(--neutral_white);
}

#homepage #actions .herohocbutton-solid-yellow {
  background-color: var(--orange);
  border-color: var(--orange);
}

#homepage #actions #hero-video {
  background: none;
  border: none;
}

#homepage #actions #volunteeraction {
  font-family: 'Gotham 4r', sans-serif;
  font-size: 16px;
  color: var(--neutral_white);
  margin-top: 30px;
}

#homepage #actions #volunteeraction a {
  font-family: 'Gotham 4r', sans-serif;
  font-size: 16px;
  color: var(--neutral_white);
  text-decoration: none;
}

#homepage #actions #petitionaction {
  display: none;
  font-weight: 500;
  font-size: 14px;
  height: 50px;
  cursor: pointer
}

#homepage .quarterslot {
  float: left;
  height: 250px;
  padding: 0px 5px 10px 5px;
}

#homepage .quarterslot .slotbox {
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  background-position: 50%;
  height: 220px;
  border-radius: 5px;
}

#homepage .quarterslot .slotbox .headerbox {
  position: absolute;
  bottom: 0px;
  left: 0px;
  color: var(--neutral_white);
  width: 100%;
  padding: 10px;
  font-size: 18px;
  text-align: left;
  font-family: 'Gotham 4r', sans-serif;
  text-align: center;
}

#homepage .quarterslot .slotbox .headerbox .header {
  font-family: 'Gotham 7r', sans-serif
}

#homepage .quarterslot .slotbox .headerbox .sentence {
  font-size: 14px;
  opacity: 0.9
}

#homepage .quarterslot-links {
  float: left;
}

#homepage .quarterslot-links-small {
  height: 390px;
  padding: 0px 5px 10px 5px;
}

#homepage .quarterslot-links-large {
  padding: 30px;
}

#homepage .quarterslot-links .slotbox {
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  background-position: 0% 50%;
  height: 220px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#homepage .quarterslot-links .headerbox {
  position: absolute;
  bottom: 0px;
  left: 0px;
  color: var(--neutral_white);
  width: 100%;
  padding: 10px;
  font-size: 18px;
  text-align: left;
  font-family: 'Gotham 4r', sans-serif;
  text-align: center
}

#homepage .quarterslot-links .headerbox .header {
  font-family: 'Gotham 7r', sans-serif;
}

#homepage .quarterslot-links .headerbox .sentence {
  font-size: 14px;
  opacity: 0.9
}

#homepage .quarterslot-links .thelinks {
  padding: 5px;
  padding-top: 20px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

#homepage .quarterslot-links .thelinks .linkentry {
  margin-bottom: 20px;
}

#homepage .quarterslot-links .thelinks .link {
  font-size: 16px;
  font-family: 'Gotham 4r', sans-serif;
  color: var(--neutral_white);
  text-decoration: none;
}

#homepage .quarterslot-links .thelinks .link:hover {
  text-decoration: underline;
}

#homepage #gallerycolumn {
  width: 100%;
  margin-bottom: 20px;
  margin-top: 40px;
  clear: both;
  overflow: hidden;
  border: 5px solid var(--neutral_white)
}

#homepage #gallerycolumn .headingbox {
  left: 0px;
  color: var(--neutral_white);
  width: 100%;
  padding: 10px;
  font-size: 20px;
  text-align: left;
  font-family: 'Gotham 5r', sans-serif;
  text-align: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#homepage #gallerycolumn a {
  text-decoration: none;
}

#homepage #gallerycolumn .thelinks {
  padding: 10px;
  height: 0;
}

/* Pad height-auto div before images load.
   Since the .col-50 layout changes by media query,
   we need to calculate padding twice to match. */

@media screen and (min-width: 971px) {
  /* height/width == 120 / (750 * 2) */
  #homepage #gallerycolumn .thelinks {
    padding-bottom: 8%;
  }
}

@media screen and (min-width: 0px) and (max-width: 970px) {
  /* height/width == (120 * 2) / 750 */
  #homepage #gallerycolumn .thelinks {
    padding-bottom: 32%;
  }
}

#homepage #gallerycolumn .thelinks img {
  height: auto;
}

#homepage #threedivs iframe {
  -ms-zoom: 1.3;
  -moz-transform: scale(1.3);
  -moz-transform-origin: 0 0;
  -o-transform: scale(1.3);
  -o-transform-origin: 0 0;
  -webkit-transform: scale(1.3);
  -webkit-transform-origin: 0 0;
}

#homepage #threedivs .fb-like > span {
  height: 27px !important;
}

.grey_input {
  background-color: rgb(226,228,227);
  color: rgb(82, 82, 82);
  border: 1px solid rgb(146,147,148);
}

.dropdown {
  background-color: rgb(226,228,227);
  color: rgb(82, 82, 82);
  border: 1px solid rgb(146,147,148);
}

.stats-box {
  padding: 0 1em;
  line-height: 1;
  text-decoration: none;
}

.every-student {
  color: var(--neutral_dark);
  font-size: 18px;
  text-align: center;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.make-difference {
  font-weight: 900;
  color: rgb(0, 173, 188);
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
  text-transform: uppercase;
}

.statistics {
  margin: 2em auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 3em;
}

.statistics a {
  text-decoration: none;
}

.statistics a .stats-number {
  text-align: center;
  color: var(--neutral_dark);
  font-family: 'Gotham 4r', sans-serif;
  font-weight: 900;
  text-decoration: none;
}

.statistics a .stats-phrase {
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  padding-top: 12px;
  color: var(--neutral_dark);
  font-family: 'Gotham 4r', sans-serif;
}

.statistics a .stats-number:hover {
  color: var(--brand_primary_default);
}

.below_hero_announcement {
  text-align: center;
  padding: 10px;
}

/* Custom styling for a vertical-stack hero layout. */

#homepage .vertical-stack {
  max-width: 400px;
  margin: 0 auto;
}

  @media screen and (max-width: 512px){
    #homepage .vertical-stack {
      padding: 0 1em;
    }
  }

#homepage .vertical-stack .image {
  max-width: 100px;
  margin-bottom: 20px;
}

#homepage .vertical-stack .thumbnail-wrapper{
  width: 100%;
}

#homepage .vertical-stack .video_thumbnail {
  width: 100%;
  margin: 0 auto;
}

#homepage .vertical-stack .text {
  color: black;
  font-size: 1.25em;
  line-height: 1.4em;
  padding-bottom: 0px;
  font-family: 'Gotham 4r', sans-serif;
  padding-top: 20px;
  padding-bottom: 20px;
}

#homepage .vertical-stack .text strong {
  font-family: 'Gotham 5r', sans-serif;
  font-weight: normal;
}

/* Custom banner styles */
/* CSA launch */
#homepage .csa {
  max-width: 960px;
  margin: 2em auto 5em;
}

  #homepage .csa .action {
    text-align: left;
  }

  #homepage .csa img {
    position: absolute;
    top: -48px;
    z-index: -1;
  }

  #homepage .csa .text {
    color: var(--neutral_white);
    text-align: left;
    line-height: 1.3;
    max-width: 470px;
  }
    #homepage .csa .text:nth-of-type(1) {
      font-size: 24px;
      margin-bottom: -4px;
    }
      #homepage .csa .text:nth-of-type(2) {
        font-size: 32px;
        font-family: 'Gotham 7r', sans-serif;
        margin: 0 0 .75em;
      }
        #homepage .csa .text:nth-of-type(3) {
          font-size: 18px;
          margin: 0 0 1.75em;
        }

  /* Tablet styles */
  @media screen and (max-width: 969px) {
    #homepage .csa .text:nth-of-type(3) {
      width: 52%;
    }

    #homepage .csa img {
      width: 50%;
      top: 1em;
      right: -3em;
    }
  }

  /* Mobile styles */
  @media screen and (max-width: 745px) {
    #homepage .csa .text,
    #homepage .csa .action {
      text-align: center;
      margin-left: auto !important;
      margin-right: auto !important;
    }
      #homepage .csa .text:nth-of-type(2) {
        font-size: 26px;
      }
        #homepage .csa .text:nth-of-type(3) {
          width: 100%;
        }

    #homepage .csa img {
      display: none;
    }
  }
