#map {
  width: 700px;
  min-height: 425px;
  float: left;
  margin-right: -100px;
  margin-top: 100px;
}

#map-right {
  float: right;
  overflow: hidden;
}

#infobox {
  text-align: center;
  float: right;
  background-color: var(--neutral_dark10);
  padding: 20px;
  text-align: center;
  overflow: hidden;
}

.info {
  font-family: 'Gotham 7r', sans-serif;
}

#infobox strong {
  font-size: 44px;
  display: block;
  line-height: 36px;
  margin-top: 18px;
  margin-bottom: 4px;
}

#infobox button {
  margin-top: 18px;
  width: 100%;
}

#infobox b {
  font-family: 'Gotham 5r', sans-serif;
}

#state-dropdown {
  width: 70%;
  height: 34px;
  background-color: #e2e4e3;
  color: #595959;
  margin-bottom: 10px;
}

.info a:link, .info a:visited, .states-link a:link, .states-link a:visited {
  color: var(--neutral_white);
  cursor: pointer;
  text-decoration: underline;
}

.icon-facts {
  display: inline-block;
}

.icon-fact {
  margin-bottom: 10px;
  display: block;
  width: 270px;
}

.policy-title {
  padding: 10px 0px;
}

.icon-fact .fa-times-circle {
  color: var(--neutral_dark20);
  font-size: 48px;
}

.fa-circle {
  font-size: 44px;
  padding-top: 2px;
}

.icon-fact .fa-check-circle {
  display: inline-block;
  font-size: 48px;
  vertical-align: middle;
  height: 48px;
  width: 48px;
}

.fa-stack {
  height: 48px;
  width: 48px;
}

.fact .fact-text {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  width: 80%;
}

#state-title {
  font-family: 'Gotham 7r', sans-serif;
  color: var(--brand_primary_dark);
  font-size: 38px;
  line-height: 44px;
}

.figure {
  font-size:20px;
}

#sources {
  clear: both;
  float: right;
  font-size: 12px;
  text-align: center;
  color: var(--neutral_dark60);
  padding-top: 10px;
}
