.jobs-header {
  padding: 24px 0;
  border: 1px solid;
  border-left: 0;
  border-right: 0;
  border-color: rgba(0, 173, 178, 0.25); /* gives the illusion of < 1px */
}

.jobs__banner {
  background: #00adbc;
  background-image: url('/images/jobs/jobs-banner.jpg');
  background-position-x: right;
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 32px;
  padding: 18px 24px;
}

.jobs__banner h1 {
  color: #ffffff;
  margin: 0;
  width: 60%;
}

.jobs__intro-text {
  display: flex;
  flex-direction: column;
}

.jobs__intro-text p {
  color: #000000;
  font-weight: bold;
}

.jobs__explore-button {
  align-self: center;
  font-size: 16px;
  font-weight: 700;
  padding: 6px 24px;
}

.jobs__values-icon {
  height: 65px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.jobs__values-container {
  height: 250px;
}

.jobs__values-tile {
  line-height: 20px;
  font-size: 15px;
  text-align: center;
  font-weight: 900;
  float: left;
  height: 250px;
  width: 116px;
  background: teal;
  display: block;
  color: white;
  margin: 0 8px;
  padding: 10px;
}

.jobs__left {
  margin-left: 0px;
}

.jobs__right {
  margin-right: 0px;
}

.lever-job-tag {
  margin-left: 10px;
}

ul li:before {
  content: "";
}
