.main-header {
  margin-top: 0px;
  margin-bottom: 5px;
}

.banner {
  max-width: 910px;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.smalltext {
  overflow: hidden;
  text-overflow: ellipsis;
}

.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

.courseblock-tall {
  min-height: 350px;
}

#bottomalign {
  bottom: 0;
  width: 100%;
  position: absolute;
  position: relative\9;
  margin-bottom: 10px;
}

#quicklinks {
  float: left;
  display: inline-block;
  width: 200px;
}

.multi-item-carousel .carousel-control.left,
.multi-item-carousel .carousel-control.right {
  background-image: none;
  width: 5%;
  color: #4d575f;
  margin-top: 150px;
}

.carousel-control.left {
  left: -25px;
}

.carousel-control.right {
  right: -25px;
}

.ie-text {
  position: relative;
}

.multi-item-carousel .carousel-inner > .item {
  transition: 0.6s ease-in-out all;
}

@media all and (transform-3d), (-webkit-transform-3d) {
  .multi-item-carousel .carousel-inner > .item {
    transition: 0.6s ease-in-out all;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
    -webkit-perspective: none;
    -webkit-transform: none!important;
    -webkit-transition: none!important;
    transform: none!important;
  }
}

@media (min-width: 0px) and (max-width: 399px) {
  .main-header { text-align: center; }
  .active > div { display:none; }
  .active > div:first-child { display:block; }

  .banner { 
    display: none;
    height: 0px;
    width: 0px;
  }

  .container-fluid {
    padding-left: 0px;
  }

  .courseblock-tall {
    min-height: 370px;
    max-width: 290px;
  }

  .carousel-control.left {
    left: 0px;
  }

  .carousel-control.right {
    right: 0px;
  }

  #learnCodeStudio {
    max-width: 400px;
  }

  #learnCodeStudio .carousel-inner {
    margin-bottom: 15px;
  }

  #quicklinks {
    width: 184px;
  }

  .multi-item-carousel .carousel-inner .active.left {
    left: -100%;
  }
  .multi-item-carousel .carousel-inner .active.right {
    left: 100%;
  }
  .multi-item-carousel .carousel-inner .next {
    left: 100%;
  }
  .multi-item-carousel .carousel-inner .prev {
    left: -100%;
  }

  .multi-item-carousel .carousel-control.left,
  .multi-item-carousel .carousel-control.right {
    position: relative;
    margin-left: 80px;
  }
}

@media (min-width: 400px) and (max-width: 769px) {
  .main-header { text-align: center; }
  .active > div { display:none; }
  .active > div:first-child { display:block; }

  .banner { 
    display: none;
    height: 0px;
    width: 0px;
  }

  .container-fluid {
    padding-left: 30px;
  }

  .courseblock-tall {
    max-width: 290px;
  }

  .carousel-control.left {
    left: 0px;
  }

  .carousel-control.right {
    right: 0px;
  }

  #learnCodeStudio {
    max-width: 400px;
  }

  .multi-item-carousel .carousel-inner .active.left {
    left: -100%;
  }
  .multi-item-carousel .carousel-inner .active.right {
    left: 100%;
  }
  .multi-item-carousel .carousel-inner .next {
    left: 100%;
  }
  .multi-item-carousel .carousel-inner .prev {
    left: -100%;
  }
}

@media (min-width: 770px) and (max-width: 989px) {
  .main-header { text-align: center; }
  .active > div { display:none; }
  .active > div:first-child { display:block; }
  .active > div:first-child + div { display:block; }

  .banner { 
    max-width: 540px;
  }

  #learnCodeStudio {
    max-width: 600px;
  }

  #quicklinks {
    width: 185px;
  }

  .multi-item-carousel .carousel-inner .active.left {
    left: -0%;
  }
  .multi-item-carousel .carousel-inner .active.right {
    left: 0%;
  }
  .multi-item-carousel .carousel-inner .next {
    left: 50%;
  }
  .multi-item-carousel .carousel-inner .prev {
    left: -50%;
  }
}

@media (min-width: 990px) {
  #learnCodeStudio {
    max-width: 970px;
  }

  .multi-item-carousel .carousel-inner .active.left {
    left: -0%;
  }
  .multi-item-carousel .carousel-inner .active.right {
    left: 0%;
  }
  .multi-item-carousel .carousel-inner .next {
    left: 33.33%;
  }
  .multi-item-carousel .carousel-inner .prev {
    left: -33.33%;
  }
}
