#learn-tabs {
  margin-top: 0px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
#learn-tabs .content {
  margin: 0 auto;
  width: 970px;
  padding-top: 20px;
  text-align: left;
}
#learn-tabs ul {
  padding-left: 10px;
}
#learn-tabs ul li {
  padding-left: 0;
  text-indent: 0;
}
#learn-tabs ul li:before {
  content: none;
}
#learn-tabs .nav-tabs>li>a {
  border: none;
  background-color: #7765a1;
  margin-right: 10px;
}
#learn-tabs .nav-tabs > li.active > a {
  background-color: white;
  border: 1px solid #ddd;
  border-bottom: none;
}
#learn-tabs .nav-tabs>li>a:link,
#learn-tabs .nav-tabs>li>a:visited {
  color: #fff;
}
#learn-tabs .nav-tabs>li>a:hover,
#learn-tabs .nav-tabs>li>a:active {
  color: #d1d567
}
#learn-tabs .nav-tabs>li.active>a:link,
#learn-tabs .nav-tabs>li.active>a:visited,
#learn-tabs .nav-tabs>li.active>a:hover,
#learn-tabs .nav-tabs>li.active>a:active {
  color: #ff8b02;
}
#hoc-sign-up {
  margin-top: 0px;
  font-size: 18px;
}
#hoc-teacher-guide {
  font-size: 14px;
  margin-top: 6px;
}
.banner-character {
  top: 30px;
  left: 10px;
  position: absolute;
}
.banner-content {
  padding-left: 80px;
}
.character-img {
  height: 100px;
  width: 100px;
  background-size: 100px 100px;
  background-image: url('/images/bee_avatar.png');
  background-repeat: no-repeat;
}

.learn-hoc-banner {
  position: relative;
  border: 1px solid #e7e8ea;
  padding: 10px 20px;
  border-radius: 5px;
}

.learn-teacher-header {
  text-align: left;
  float: left;
  margin-bottom: -10px;
}

.learn-signup-button {
  float: right;
  margin-top: 40px;
}

.learn-tabs-signup {
  float: right;
  margin-right: 10px;
}

@media (min-width: 0px) and (max-width: 345px) {
  #teacher-banner {
    margin-left: 20px;
    margin-right: 20px;
  }

  .learn-signup-button {
    float: left;
    margin-top: 0px;
    margin-bottom: 10px;
  }

  .banner-character {
    display: none;
    top: 0px;
    left: 0px;
  }

  .banner-content {
    padding-left: 0px;
  }
}

@media (min-width: 346px) and (max-width: 629px) {
  #teacher-banner {
      margin-left: 20px;
      margin-right: 20px;
    }
}
