.lms-banner {
  background: url('/images/banners/banner-lms-pattern.png') center center;
  background-color: #292F36;

  .wrapper {
    max-width: 992px;
    margin: 0 auto;
    padding: 2rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 5rem;

    @media (max-width: 640px) {
      flex-direction: column;
      justify-content: center;
      gap: 0;
    }
  }

  .text-wrapper {
    flex: 2;

    @media (max-width: 640px) {
      text-align: center;
    }
  }

  img {
    max-width: 12rem;
    flex: 1;
  }

  a.link-button {
    flex: 1;
  }
}
