@import "color.scss", "font.scss", "breakpoints.scss";

.maker-skinny-banner {
  box-sizing: content-box;
  height: 130px;
  overflow: hidden;
  padding: 0 0 0 1em;
  background: #00736E;
  position: relative;

  @media screen and (max-width: $width-md) {
    padding: 0 1.5em;
  }

  @media screen and (max-width: $width-sm) {
    height: 270px;
    padding: 1.5em 1.15em 0;
    margin: 3em auto 0;
  }

  @media screen and (max-width: $width-xs) {
    height: 260px;
  }

  a:hover,
  a:active,
  a:visited,
  a:link {
    text-decoration: none;
  }

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1020px;
    margin: 0 auto;

    @media screen and (max-width: $width-md) {
      width: 72%;
      margin: 0;
    }

    @media screen and (max-width: $width-sm) {
      justify-content: center;
      width: 100%;
      margin-top: -1em;
    }
  }

  img.left {
    align-self: start;

    @media screen and (max-width: $width-md) {
      display: none;
    }

    @media screen and (max-width: $width-sm) {
      display: block;
      position: relative;
      top: -8px;
    }
  }

  img.right {
    align-self: end;

    @media screen and (max-width: $width-md) {
      position: absolute;
      z-index: 0;
      right: 0;
    }

    @media screen and (max-width: $width-sm) {
      display: none;
    }
  }

  .text-wrapper {
    width: 370px;
    text-align: center;

    @media screen and (max-width: $width-md) {
      margin: 0 0 -0.5em;
      text-align: left;
    }

    @media screen and (max-width: $width-sm) {
      text-align: center;
    }

    h1 {
      font-family: $gotham-bold;
      font-size: 1.65em;
      color: $white;
      margin: 0 auto 4px;

      @media screen and (max-width: $width-sm) {
        font-size: 1.45em;
      }
    }

    p {
      font-family: $gotham-regular;
      font-size: 1.15em;
      margin-bottom: 0;
      color: $white;

      @media screen and (max-width: $width-sm) {
        font-size: 1em;
      }
    }
  }

  button {
    background: #4E1598;
    border-color: #4E1598;

    @media screen and (max-width: $width-sm) {
      margin-top: 1em;
    }
  }
}
