// Custom styles for Maker pages:
// code.org/maker/circuitplayground
// — supplemental to shared/css/design-system-pegasus.scss

@import 'color', 'font', 'breakpoints', 'barlow-semi-condensed-font';

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section.intro, // /maker/circuitplayground
section.device-setup { // /maker/circuitplayground

  .flex-container {
    flex-wrap: wrap;
  }
}

// code.org/maker/circuitplayground
section.intro {

  img {
    width: 100%;

    @media screen and (max-width: $width-md) {
      width: 40%;
    }

    @media screen and (max-width: $width-sm) {
      width: 100%;
    }
  }

  @media screen and (max-width: $width-sm) {
    .flex-container {
      flex-direction: column-reverse;
    }
  }
}

section.device-setup {
  li {
    align-items: center;

    h3 {
      margin-bottom: 0;
    }
  }
}
