@import "color.scss", "font.scss", "imports/_breakpoints.scss";

.maker-skinny-banner {
  box-sizing: content-box;
  height: 130px;
  overflow: hidden;
  margin: 4em auto 2em;
  padding: 0 0 0 1em;
  background: #00736E;
  position: relative;

  @media screen and (max-width: $width-sm) {
    height: 140px;
    padding: 1.5em 1.15em;
    margin: 3em auto;
  }

  a:hover,
  a:active,
  a:visited {
    text-decoration: none;
  }

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    @media screen and (max-width: $width-sm) {
      justify-content: center;
      text-align: center;
    }
  }

  img.left {
    align-self: start;
  }

  img.right {
    align-self: end;
  }

  // There's a mysterious <p> tag being added around
  // the right image on https://code.org/circuitplayground.
  // This aligns it correctly to the bottom of the container.
  p img {
    margin-bottom: -32px;
  }

  .text-wrapper {
    color: white;
    width: 370px;
    text-align: center;

    h1 {
      font-family: $gotham-bold;
      font-size: 1.65em;
      color: $white;
      margin: 0 auto 4px;

      @media screen and (max-width: $width-sm) {
        font-size: 1.45em;
      }

      @media screen and (max-width: $width-xs) {
        font-size: 1.25em;
      }
    }

    p {
      font-family: $gotham-regular;
      font-size: 1.15em;
      margin-bottom: 0;

      @media screen and (max-width: $width-sm) {
        font-size: 1em;
      }
    }
  }

  button {
    height: unset;
    font-family: $gotham-bold;
    font-size: 16px;
    color: white;
    background: #4E1598;
    border-color: #4E1598;
    margin: 0;
    padding: 0.65em 1.5em;
    border-radius: 4px;

    @media screen and (max-width: $width-md) {
      padding: 0.5em 1em;
    }
  }
}
