/* banner */
.banner-pt1, .banner-pt2 {padding: 0 20px;  }
banner-pt1 {width20%;} 
banner-pt2 {width80%;}

h2.purple-block{background-color:#7665a0; padding:15px 10px;font-size:24px;color:#ffffff;border-top-left-radius:10px;border-top-right-radius:10px;}
.centerspot {text-align:center; padding:30px }

/* columns */
.column-container { margin: 20px 0;}

.column-container .col-50:nth-child(2n+1) { padding: 0 10px 20px 0; }
.column-container .col-50:nth-child(2n+0) { padding: 0 0 20px 10px; }

.column-container .col-33:nth-child(3n+1) { padding: 0 14px 20px 0;}
.column-container .col-33:nth-child(3n+2) { padding: 0 7px 20px 7px;}
.column-container .col-33:nth-child(3n+0) { padding: 0 0 20px 14px;}

.column-container .col-25:nth-child(4n+1) { padding: 0 12px 20px 0;}
.column-container .col-25:nth-child(4n+2), .col-25:nth-child(4n+3) { padding: 0 6px 20px 6px;}
.column-container .col-25:nth-child(4n+0) { padding: 0 0 20px 12px;}

.column-container .col-20:nth-child(5n+1) { padding: 0 12px 20px 0;}
.column-container .col-20:nth-child(5n+2), .col-20:nth-child(5n+3), .col-20:nth-child(5n+4){ padding: 0 6px 20px 6px;}
.column-container .col-20:nth-child(5n+0) { padding: 0 0 20px 12px;}

/* callout boxes */
.color-block {padding: 20px;margin: 30px 0; /*background-image:url(../images/logo.svg); background-position:bottom 15px right 15px; background-size: 40px 40px; background-repeat: no-repeat;*/ }
.callout-box {padding: 10px;margin-top: 30px;}
.callout-box img {max-width:100%; vertical-align:middle;}

.bp0 {background-color:#7665a0; color:#ffffff;}
.bp1 {background-color:#a69bc1;}
.bp2 {background-color:#cfc9de;}
.bp3 {background-color:#ebe8f1;}

.bch0 {background-color:#5b6770;color:#ffffff}
.bch1 {background-color:#949ca2;color:#ffffff}

.bt0 {background-color:#00adbc; color:#ffffff}

.bc0 {background-color:#0094ca; color:#ffffff}

.rounded-box {margin: 40px 0; padding: 10px 40px 0px 40px; border-radius:15px;}
.rounded-box h2 {margin:20px 0;}

.callout-quote {font-size:20px; font-style:normal; line-height: 1.2em; padding: 20px 20px 16px 26px;}
.callout-attrib {font-size:.9em; padding-left: 26px;}
.callout-quote em {color:#ffb81d; font-style:normal; font-family: 'Gotham 5r', sans-serif; }

/* tiles */
.rounded-tile, .tile {  padding:0; }

.rounded-tile-img {  width: 100%;  border: 1px solid #949ca2;   border-radius: 15px 15px 0 0}

.rounded-info {  border: 1px solid #949ca2;  height: 218px;  display: flex;  flex-direction: column;  background-color: #ffffff;  border-top: none;  border-radius: 0 0 15px 15px; padding: 15px 25px 25px 25px;}

h3.rounded-info-h {  margin-top: 0px;  font-weight: bold;}

/* img styling */
.bordered-circle {width:90%; border-radius:50%; border: 7px solid #a69bc1}
.embedvid {padding-bottom: 40px}
.embedvid .video_caption_link {padding-top:6px; font-weight:bold; font-size:1.1em}

/* Annual report */
h2.highlight {background: url("../images/AR2020/highlight.png") no-repeat top 5px left; padding-left: 32px;}
.bythenumbers th {background:#5b6770; padding: 7px 15px; border-top-color: #5b6770;  border-bottom-color: #5b6770;  border-left-color: #5b6770; border-right-color: #5b6770;}
.bythenumbers td:nth-child(2n+1) {background:#e7e8ea;}
.bythenumbers td:nth-child(2n+0), .bythenumbers th:nth-child(2n+0) {text-align:center;}
.goal2025 {font-size:.9em; font-style:italic; font-family: 'Gotham 4i', sans-serif;}
.goal2025 strong {font-family: 'Gotham 7i', sans-serif;}

/*BHM campaign*/
.bhm-banner { background-color: #685c91; background-image:url('../images/bhm/bhm-banner-bg2.png'); background-repeat: no-repeat; background-position: bottom right -655px; background-size:auto;  flex-direction: column;  justify-content: center;  padding: 40px 20px 60px;   margin-bottom: 60px;}

.bhm-banner h1, .bhm-banner h2,  .bhm-banner h3 {color:#ffffff; }
.bhm-banner h2 {font-size:26px;}

hr.bhm-border {  border:none;  height:5px;  background-image: url('../images/bhm/panafbars5.png');   background-repeat: repeat-x;}

.bhm-heading {color:#7665a0; } 

.blackstudentdata img {width:100%;}
.blackstudentdata p {margin: 1em;}
.blackstudentdata h3 {font-weight:bold; margin-bottom: .75em; text-align: center;}

/* RESPONSIVE */

@media screen and (max-width: 600px) and (min-width: 0px) {
.container_responsive h1 {font-size: 26px;}
.bhm-banner h2 {font-size:23px;}
.callout-quote {font-size:18px}
}

@media only screen and (max-width: 960px) {
.column-container .col-50:nth-child(n), .column-container .col-33:nth-child(n), .column-container .col-25:nth-child(n) {  padding: 20px 10px;}
.column-container .col-20:nth-child(n) {  padding: 15px 10px;}
.rounded-info {  height: auto;}
.bhm-banner {  padding-bottom:135px;  background-position: center bottom;}
.bhm-banner h1, .bhm-banner h2{text-align: center; color:#000000}
.banner-pt1, .banner-pt2 {  text-align:center;  padding: 15px;}
}