.mc-container {
  width: 100%;
  padding-left: 5px;
  position: relative;
}

.mc-img {
  width: 100%;
  border-radius: 5px;
}

.mc-logo {
  width: 240px;
}

.mc-heading {
  position: absolute;
  top: 0px;
  left: 380px;
}

.mc-h1 {
  margin-top: 0px;
  margin-bottom: 10px;
  color: white;
  font-size: 30px;
}

.mc-h1-second-box {
  color: white;
  display: none;
}

.mc-tutorial {
  position: absolute;
  top: 60px;
  line-height: 16px;
}

.tutorial-box {
  color:white;
  border-radius: 5px;
}

.mc-h2 {
  margin-top: 0px;
  margin-bottom: 10px;
  color: white;
}

.mc-disabled {
  font-size: 18px;
  height: 40px;
  background-color: #c6cacd;
  border-color: #c6cacd;
}

.mc-tutorial-info {
}

.mc-tutorial-specs {
  font-size: 12px;
  line-height: 16px;
}

.mc-try-button {
  font-size:18px;
  height:40px;
}

@media screen and (min-width: 971px) {
  .mc-tutorial {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 20px;
    border-radius: 5px;
  }
}

@media screen and (min-width: 0px) and (max-width: 970px) {
  .mc-tutorial {
    width: 100%;
    float: left;
    padding: 5px;
    padding-top: 10px;
    position: static;
  }

  .tutorial-box {
    background-image: url(/images/mc/MC_Wide_Blank_V2.jpg);
    background-size: 605px 100px;
    padding: 10px;
  }

  .mc-heading {
    top: 15px;
    left: 250px;
  }

  .img-container {
    padding: 0px 5px;
  }

  .mc-1 {
    display: none;
  }

  .mc-h1 {
    display: none;
  }

  .mc-h1-second-box {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 0px) and (max-width: 512px) {
  .mc-tutorial {
    width: 100%;
    position: static;
    line-height: 16px;
  }

  .mc-heading {
    top: 0px;
    left: 42%;
    width: 55%;
  }

  .mc-h1-second-box {
    display: static;
  }

  .mc-logo {
    width: 200px;
  }
}
