.tutorial-box {
  position: relative;
  float: left;
}

.mc-tutorial-info {
  background-color: rgba(0, 0, 0, 0.5);
  width: 157px;
  padding: 10px;
}

.mc-new-tag {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 98px;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
}

.new-mc {
  color: white;
  background-color: #7665a0;
  width: 250px;
  margin: -10px;
  padding: 5px;
  text-align: center;
}

.mc-img {
  width: 310px;
  height: 310px;
}

.mc-img-half {
  width: 473px;
  max-width: 100%;
  height: 314px
}

.mc-h1-second-box {
  margin-top: 0;
  font-family: var(--gotham-bold);
  font-size: 1.25rem;
  line-height: 1.40;
  margin-bottom: 0.5em;
}

.mc-h1-half-box {
  margin-top: 0;
  font-family: var(--gotham-bold);
  font-size: 1.25rem;
  line-height: 1.40;
  margin-bottom: 0.5em;
}

.img-container-wide .mc-h1-second-box {
  margin-top: 100px;
}

.white-text, .mc-h1-second-box, .mc-h1-half-box, .mc-tutorial-description, .mc-tutorial-specs {
  color: white;
}

.color-block a:link, .color-block a:visited, .color-block a:hover, .color-block a:active {
  font-family: "Gotham 5r", sans-serif;
  color: white;
  text-decoration: underline;
}

.mc-videos {
  margin-top: 20px;
}

.padded-button {
  margin-top: 22px;
}

.responsive-padding {
  margin-top: 10px;
}

.microsoft-partnership {
  font-size: 24px;
  text-align: center;
  margin-top: 60px;
}

.microsoft-thanks {
  font-size: 14px;
  text-align: center;
  padding-top: 20px;
  margin-bottom: 85px;
  margin-left: 18%;
  margin-right: 18%;
}

@media screen and (min-width: 971px) {
  .mc-tutorial-info {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
  }

  .mc-tutorial-details {
    margin-top: 0px;
  }

  .mc-tutorial-details a {
    position: absolute;
    bottom: 10px;
  }

  .mc-img-wide {
    width: 970px;
    height: 310px;
  }

  .mc-img-narrow {
    display: none;
  }

  .mc-tutorial-info-wide {
    width: 360px;
  }

  .desktop-margin-right {
    margin-right: 14px;
  }
}

@media screen and (min-width: 0px) and (max-width: 970px) {
  #minecraft-mobile-image {
    background-image: url(/images/fill-520x800/mc/minecraft_teacher_background.jpg);
  }

  .tutorial-box {
    margin-bottom: 15px;
    padding-left: 10px;
  }

  .color-block {
    width: 100%;
  }

  .responsive-padding {
    padding: 10px;
  }

  .mc-tutorial-info {
    position: absolute;
    right: 5px;
    top: 0;
    bottom: 0;
  }

  .mc-tutorial-details {
    margin-top: 0px;
  }

  .img-container-wide .mc-h1-second-box {
    margin-top: 50px;
    margin-bottom: 0px;
  }

  .mc-tutorial-details a {
    position: absolute;
    bottom: 10px;
  }

  .mc-img-wide {
    display: none;
  }

  .mc-new-tag {
    width: 65px;
  }

  .mc-img-narrow {
    display: block;
  }
}
