#footer-links {
  float: right;
  color: white;
  font-size: 12px;
  z-index: 2;
}

#footer-links ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#footer-links ul li {
  display: inline;
  text-indent: 0;
  padding: 0;
}

#footer-links ul li:before {
  content: none;    /* Needed to remove the bullet disc. */
}

#footer-links ul li:after {
  content: "|";     /* Vertical separator between the links. */
  margin: 0 12px;
  opacity: 0.5;
}

#footer-links ul li:last-child:after {
  content: none;    /* No separator needed for the last item. */
}

#footer-links a {
  color: white;
  font-weight: normal;
  font-family: 'Gotham 4r', sans-serif;
  opacity: 0.5;
  text-decoration: none;
}

#footer-links a:hover {
  opacity: 1.0;
}

#footer-toggle {
  display: none;
  text-align: center;
  border-bottom: 1px solid #aaa2bd;
  padding: 8px 16px;
  margin: 0 24px;
  cursor: pointer;
  margin-bottom: 10px;
}

#copyright, #copyright-non-en {
  float: left;
  color: white;
  font-size: 12px;
  opacity: 0.5;
}

.social-media a {
  text-decoration: none;
  color: white;
}

#non-en {
  height: 90px;
  background-color: #7665a0
}

#non-en .language-dropdown select {
  margin-top: 20px;
  margin-left: 25px;
}

#copyright-non-en {
  margin-left: 25px;
  padding-top: 5px;
}

/* This styling applies to medium screens. The links shrink, but remain vertically aligned. */
@media screen and (max-width: 970px)
{
  #pagefooter {
    overflow: visible;
    padding: 0;
    height: 255px;
  }

  .language-dropdown {
    padding-bottom: 10px;
    padding-right: 10px;
  }

  .social-language-box {
    text-align: center;
  }

 .social-media, .social-language-box .language-dropdown{
    text-align: center;
    display: inline;
    width: 40%;
    padding-bottom: 3px;
    margin-top: 10px;
  }

 .powered-by-aws{
   width: 100%;
   text-align: center;
 }

  #footer-links {
    float: none;
    margin-bottom: 20px;
    padding-top: 20px;
    text-align: center;
  }

  #copyright {
    float: none;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

/* This styling applies to small screens. The links stack and are in a hidden menu. */
@media screen and (min-width: 0px) and (max-width: 600px)
{
  #pagefooter {
    overflow: visible;
    padding: 0;
    height: 340px;
  }

  #footer-links {
    position: relative;
    margin: 0;
    padding-top: 0px;
  }

  #footer-links ul {
    display: none;
    position: absolute;
    bottom: 38px;
    width: 100%;
    background-color: #5c3f7f;
  }

  #footer-links ul li {
    display: block;
    text-align: center;
    margin: 0 24px;
    padding: 8px 16px;
    border-bottom: 1px solid #aaa2bd;
  }

  #footer-links ul li:after {
    content: none;    /* Removes the vertical separators. */
  }

  #footer-links ul li a {
    display: block;
    width: 100%;
  }

  #footer-toggle {
    display: block;
  }

  #copyright {
    padding-left: 10px;
    padding-right: 10px;
  }

   #privacy a {
    color: #ffa400;
    opacity: 1;
    font-family: 'Gotham 5r', sans-serif;
  }

  #privacy a:hover {
    opacity: 0.5;
  }

  #down {
    display: none;
  }

  .social-media, .language-dropdown {
     width: 100%;
     display: block;
     padding-right: 0px;
   }

  .powered-by-aws{
    width: 100%;
    text-align: center;
  }
}
