#footer-links {
  float: right;
  color: white;
  font-size: 12px;
}

#footer-links ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#footer-links ul li {
  display: inline;
  text-indent: 0;
  padding: 0;
}

#footer-links ul li:before {
  content: none;    /* Needed to remove the bullet disc. This was set from other CSS. */
}

#footer-links ul li:after {
  content: "|";     /* Vertical separator between the links */
  margin: 0 12px;
  opacity: 0.5;
}

#footer-links ul li:last-child:after {
  content: none;    /* No separator needed for the last item */
}

#footer-links a {
  color: white;
  font-weight: normal;
  font-family: 'Gotham 4r', sans-serif;
  opacity: 0.5;
  text-decoration: none;
}

#footer-links a:hover {
  opacity: 1.0;
}

#footer-toggle {
  display: none;
  text-align: center;
  border-bottom: 1px solid #aaa2bd;
  padding: 8px 16px;
  margin: 0 24px;
  cursor: pointer;
  margin-bottom: 10px;
}

#copyright {
  float: left;
  color: white;
  font-size: 12px;
  opacity: 0.5;
}

.social-media a {
  text-decoration: none;
  color: white;
}

/*medium screens*/
@media screen and (max-width: 970px)
{
  #pagefooter {
    overflow: visible;
    padding: 0;
    height: 120px;
  }

  .language-dropdown {
    padding-right: 5%;
  }

  .social-language-box {
    text-align: center;
  }

  .language-dropdown, .social-media {
    text-align: center;
    width: 40%;
    display: inline;
    padding-bottom: 3px;
  }

  #footer-links {
    float: none;
    margin-bottom: 20px;
    text-align: center;
  }

  #copyright {
    float: none;
    text-align: center;
    margin-top: 10px;
  }
}

/*small screens, stacked links*/
@media screen and (min-width: 0px) and (max-width: 600px)
{
  #pagefooter {
    overflow: visible;
    padding: 0;
    height: 170px;
  }

  #footer-links {
    position: relative;
    margin: 0;
  }

  #footer-links ul {
    display: none;
    position: absolute;
    bottom: 38px;
    width: 100%;
    background-color: #5c3f7f;
  }

  #footer-links ul li {
    display: block;
    text-align: center;
    margin: 0 24px;
    padding: 8px 16px;
    border-bottom: 1px solid #aaa2bd;
  }

  #footer-links ul li:after {
    content: none;    /* Remove the vertical separators */
  }

  #footer-links ul li a {
    display: block;
    width: 100%;
  }

  #footer-toggle {
    display: block;
  }

  #copyright {
    padding: 12px 12px 36px 12px;
  }
}
