#petition_message {
  font-size: 21px;
  line-height: 28px;
  font-family: 'Gotham 5r', sans-serif;
}

#petition_form .desktop-feature {
  font-size: 12px;
  line-height: 18px;
  color: #dcdcdc;
  text-align: left;
  margin-left: 15px;
  margin-top: -5px;
}

#petition_sign_message {
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 20px;
}

#email_error, #age_error, #no_error {
  color: #ff8000;
  font-family: 'Gotham 7r', sans-serif; display: none;
}

.grey_input {
  background-color: rgb(226,228,227);
  color: rgb(82, 82, 82);
  border: 1px solid rgb(146,147,148);
}

.dropdown {
  background-color: rgb(226,228,227);
  color: rgb(82, 82, 82);
  border: 1px solid rgb(146,147,148);
}

.grey_input {
  width: 160px;
  height: 34px;
  margin-bottom: 10px;
}

.dropdown {
  width: 100px;
  height: 34px;
  background-color: #e2e4e3;
  color: #595959;
  margin-bottom: 10px;
}

#petition_form .petition_help_text {
  color: rgb(91,103,112);
}

#gobutton {
  min-width: 100px;
  margin-top: 0px;
  margin-bottom: 10px;
  font-family: 'Gotham 5r', sans-serif;
}
