.pl-curriculum-launch-skinny-banner {
  background: linear-gradient(90deg, #003D44 0%, #477F85 100%);
  background-position: top;
  padding: 0 2rem;

  .wrapper {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;

    @media (max-width: 900px) {
      gap: 2rem;
    }

    @media (max-width: 640px) {
      padding-block: 2rem;
      flex-direction: column;
      justify-content: center;
      gap: 1rem;
    }
  }

  .text-wrapper {
    padding: 1.5rem 0;
    flex: 2;

    @media (max-width: 640px) {
      text-align: center;
    }
  }

  img {
    width: 180px;
    height: 102px;

    @media (max-width: 640px) {
      align-self: center;
    }
  } 
}
