@import 'color.scss', 'typography.scss', 'breakpoints.scss';

.pl-banner-superhero.homepage {
  max-width: 1020px;
  margin: 2em auto 5em;

  @media screen and (max-width: $width-md) {
    margin-top: 0;
  }

  @media screen and (max-width: $width-sm) {
    margin-top: -1em;
    padding-bottom: 5em;
  }

  h1, h2 {
    text-align: left;
    max-width: 490px;

    @media screen and (max-width: $width-sm) {
      text-align: center;
      max-width: unset;
    }
  }

  h2 {
    @include body-one;
    margin: 1em 0;

    @media screen and (max-width: $width-md) {
      width: 40%;
    }

    @media screen and (max-width: $width-sm) {
      width: 100%;
    }
  }

  .action {
    text-align: left;

    @media screen and (max-width: $width-sm) {
      text-align: center;
    }
  }

  img {
    position: absolute;
    bottom: 0;
    z-index: -1;
    width: 1080px;

    &.image-tablet {
      display: none;
    }

    @media screen and (max-width: $width-md) {
      width: 850px;
      right: -25em;

      &.image {
        display: none;
      }

      &.image-tablet {
        display: block;
        width: 460px;
        right: 0;
      }
    }

    @media screen and (max-width: $width-sm) {
      width: 850px;
      right: -25em;

      &.image {
        display: block;
        width: 100%;
        left: 4em;
      }

      &.image-tablet {
        display: none;
      }
    }
  }
}

#homepage #actions {

  @media screen and (max-width: $width-sm) {
    overflow: hidden;
  }

  .link-button.big {
    background-color: #44769f !important;
    border-color: #44769f !important;
  }

  @media screen and (max-width: $width-md) {
    .herohocbutton {
      min-width: 220px;
    }
  }
}
