@import 'breakpoints.scss';

section {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  flex-wrap: wrap;

  &:last-of-type {
    margin-bottom: 4em;
  }

  @media screen and (max-width: $width-sm) {
    justify-content: space-evenly;
  }
}

figure {
  width: 22%;
  margin: 1em 2em 1em 0;

  @media screen and (max-width: $width-md) {
    width: 28%;
  }

  @media screen and (max-width: $width-sm) {
    width: 42%;
    margin-right: 0;
  }

  img {
    width: 100%;
    margin-bottom: .75em;
  }

  figcaption {
    line-height: 1.2;
  }
}
