// Custom styles for code.org/educate/professional-development-online
// — supplemental to shared/css/design-system-pegasus.scss

@import 'breakpoints';

// Hero banner
.hero-banner-basic {

  .text-wrapper {
    width: 60%;

    @media screen and (max-width: $width-sm) {
      width: 100%;
    }
  }

  img {

    @media screen and (min-width: 1619px) and (max-width: $width-xxl) {
      right: 20%;
    }

    @media screen and (min-width: 1300px) and (max-width: 1619px) {
      right: 10%;
    }

    @media screen and (min-width: $width-md) and (max-width: 1300px){
      right: 0%;
    }

    @media screen and (max-width: $width-md) {
      display: block;
      right: -12%;
    }

    @media screen and (max-width: $width-sm) {
      display: none;
    }
  }
}
