// Custom styles for code.org/educate/professional-development-online
// — supplemental to shared/css/design-system-pegasus.scss

@import 'breakpoints';

// Hero banner
.hero-banner-basic {

  .text-wrapper {
    width: 60%;

    @media screen and (max-width: $width-md) {
      width: 65%;
    }

    @media screen and (max-width: $width-sm) {
      width: 100%;
    }
  }

  img {
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;

    @media screen and (min-width: 1619px) and (max-width: $width-xxl) {
      right: 18%;
    }

    @media screen and (min-width: 1281px) and (max-width: 1618px) {
      right: 10%;
    }

    @media screen and (min-width: $width-md) and (max-width: 1280px){
      right: 4%;
    }

    @media screen and (max-width: $width-md) {
      display: block;
      right: -12%;
    }

    @media screen and (max-width: $width-sm) {
      display: none;
    }
  }
}
