h1 {
  margin-bottom: 15px;
}

#resources-section {
  margin-top: -50px;
}

#youtube-section h2 {
  margin-top:  0px;
}

.promote-tools-resources {
  height: 260px;
  margin: 1%;
}

.left {
  float: left
}

a.whitefooterlink {
  text-decoration: none !important;
}

#block a {
  color: #7665a0;
  text-decoration: none;
}

#text p {
  font-size: 13px;
  line-height: 18px;
}

#thank-you-box {
  display: none;
  padding: 8px;
  width: 100%;
  height: 50px;
  background-color: rgba(102, 209, 217, 0.5);
  float: left;
  margin-bottom: 15px
}

#thank-you-box .share-buttons {
  float: left;
  display: inline-block;
  margin-top: 0px;
}

#thank-you-box .share-buttons button {
  margin-top: 0px;
}

#thank-you-message {
  display: inline-block;
  font-size: 16px;
  vertical-align: middle;
  height: 100%;
  margin-left: 10px;
  margin-right: 10px;
}

@media screen and (min-width: 971px)
{
  .promote-tools-resources { width: 31%; float:left; }

   #block a:first-of-type {
    font-size: 70px;
   }
}

@media screen and (min-width: 0px) and (max-width: 970px)
{
  .promote-tools-resources { width: 31%; float:left; }

  #block a:first-of-type {
    font-size: 50px;
  }
}

@media screen and (min-width: 0px) and (max-width: 512px)
{
   .promote-tools-resources {
    width: 48%;
    float:left;
   }

   #tools-section .promote-tools-resources {
     height: 285px;
   }

   #resources-section .promote-tools-resources {
     height: 225px;
   }
}
