.sw-header2 {
  padding: 10px;
}

.header-banner {
  border-radius: 5px;
  width: 100%
}

@media screen and (min-width: 0px) and (max-width: 970px) {
  #starwars-mobile-image {
    background-image: url(/images/fit-520/starwars_carousel_background.jpg);
  }
}

@media screen and (min-width: 0px) and (max-width: 600px) {
  .padded-header {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 0px;
  }

  .padded-smalltext {
    padding: 10px;
  }

  .header-banner {
    border-radius: 15px;
    padding: 10px;
  }
}
