.starwars-container {
  width: 100%;
  padding-left: 5px;
  position: relative;
}

.starwars-img {
  width: 100%;
  border-radius: 5px;
}

.starwars-heading {
  margin-top: 0px;
  margin-bottom: 10px;
  color: white;
  position: absolute;
  top: 20px;
  left: 470px;
}

.starwars-tutorial {
  position: absolute;
  height: 330px;
  padding: 5px;
  top: 70px;
}

.starwars-js-tutorial {
  right: 20px;
}

.starwars-blocks-tutorial {
  right: 270px;
}

.tutorial-box {
  background-color: rgba(0, 0, 0, 0.4);
  color:white;
  padding: 20px;
  border-radius: 5px;
}

.sw-h2 {
  margin-top: 0px;
  margin-bottom: 10px;
  color: white;
}

.sw-header2 {
  padding: 10px;
}

.sw-disabled {
  font-size: 18px;
  height: 40px;
  background-color: #c6cacd;
  border-color: #c6cacd;
}

.sw-tutorial-info {
  height: 100px;
}

.sw-tutorial-specs {
  font-size: 12px;
  line-height: 16px;
}

.sw-try-button {
  font-size:18px;
  height:40px;
}

.header-banner {
  border-radius: 5px;
  width: 100%
}

