  .policy-summary {
    padding-top: 12px;
    max-width: 724px;
  }
  body {
    font-family: var(--main-font);
    font-weight: var(--regular-font-weight);
    font-size: 16px;
    line-height: 20px;
    font-weight: normal;
    color: dimgray;
  }
  ul.state-facts {
    padding-left:48px;
  }
  h1 {
    color: #7665a0;
    line-height: 36px;
  }
  h2 {
    color: #00adbc;
  }
  a {
    color: #7665a0;
  }
  ul.link-bar {
    padding-left:0px;
  }
  ul.link-bar li {
    display: inline;
    margin-right:12px;
  }
  img {
  	float:left;
  	margin-right: 16px;
  }
