/* Needed for colors to render correctly on PDFs -
   see https://github.com/GoogleChrome/puppeteer/blob/v2.0.0/docs/api.md#pagepdfoptions */
* {
  -webkit-print-color-adjust: exact;
}

.state-fact-sheet {
  padding-top: 10px;
  max-width: 970px;
}

body {
  font-family: 'Gotham 4r', sans-serif;
  font-size: 11px;
  line-height: 16px;
  font-weight: normal;
  color: dimgray;
}

h1 {
  color: #7665a0;
  font-size: 32px;
  font-family: 'Gotham 7r', sans-serif;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 20px;
  line-height: 1.2em;
}

h2 {
  color: #00adbc;
  font-size: 22px;
  font-family: 'Gotham 5r', sans-serif;
  margin-top: 35px;
  margin-bottom: 15px;
  line-height: 1.2em;
}

h3 {
  color: #5b6770;
  font-size: 18px;
  font-family: 'Gotham 4r', sans-serif;
  margin-top: 25px;
  margin-bottom: 10px;
  line-height: 1.2em;
}

a {
  color: #7665a0;
  text-decoration: none;
  font-family: 'Gotham 7r', sans-serif;
  font-weight: bold;
}

.policies {
}

.policy-item {
  padding: 8px 10px 10px 10px;
}

.no-margin-bottom {
  margin-bottom: 5px;
}

.larger {
  font-size: 14px;
}
