.intro-text {
  float: left;
}

.chart{
  float: left;
  width: 40%;
  padding: 0px 15px 10px 15px;
}

.image-set-two {
  float: left;
  padding-right: 20px;
  padding-bottom: 40px;
}

.call-out {
  clear: both;
  padding: 20px 60px 0px 60px;
}

.clear-both {
 clear: both;
}

.logo {
  width: 60px;
  float: left;
  padding-right: 20px;
  padding-bottom: 15px;
}

.chart-text-group {
  padding: 30px 0px 30px 0px;
}

.sources {
  padding-top: 15px;
  font-size: 9.5px;
  line-height: 14px;
}

.improve-edu-h2 {
  margin-top: 0px;
}

li>ul {
  margin-top: 0px;
  margin-bottom: 0px;
}

.open-jobs {
  background-color: #00adbc;
  color: white;
  text-align: center;
  padding: 15px 20px;
  font-size: 24px;
}
.graduates {
  text-align: center;
  color: dimgray;
  font-size: 18px;
}
.footer-header {
  font-size: 11px;
  margin-top: 11px;
  margin-bottom: 11px;
}
.footer-list {
  font-size: 9.5px;
  padding-inline-start: 15px;
  margin: 0px;
}