 .full-resource-block {
   width: 100%;
   height: 244px;
   margin-top: 10px;
 }

.description {
   padding-bottom: 10px;
   color: #fff;
 }

 .resource-title {
   padding: 0px;
   margin: 0px;
   font-size: 24px;
   color: #FFFFFF;
   padding-bottom: 10px;
 }

 .side-image {
   /*height: 100%;*/
   float: left;
   /*width: 100%;*/
 }

 .side-description-area {
   float: left;
   height: 100%;
   background-color: #00adbc;
   padding: 30px 30px;
 }

 .left, .right {
   height: 100%;
   float: left;
   margin-bottom: 30px;
   position: relative;
 }

 .gray-button {
   background-color: #e7e8ea;
   border-color: #c6cacd;
   color: #5b6770;
   margin-left: 120px;
 }

 .orange-button {
   background-color: #ffa400;
 }

.orange-button, .gray-button {
  text-decoration: none;
  bottom: 0;
  position: absolute;
}

@media screen and (min-width: 971px)
{
  .col-50-student { width: 50%; float:left; }

  .col-50-student img { width: 485px; height: 244px; }

  .orange-button, .gray-button {
    margin-bottom: 40px;
  }

  .right .side-image, .right .side-description-area {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .left .side-image, .left .side-description-area {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
}

@media screen and (min-width: 513px) and (max-width: 970px)
{
  .right.col-50-student { margin-bottom: -20px; }

  .col-50-student { width: 500px; float:left; }

  .col-50-student img { width: 500px; height: 244px; }

  .orange-button, .gray-button {
    margin-bottom: 70px;
  }

 .right .side-image, .right .side-description-area {
   border-bottom-left-radius: 5px;
   border-bottom-right-radius: 5px;
   margin-top: -10%;
 }

  .left .side-image, .left .side-description-area {
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
 }
}

@media screen and (min-width: 0px) and (max-width: 512px)
{
  .left.col-50-student { height: auto; }

  .col-50-student { width: 100%; float:left; }

  .col-50-student img { width: 94vw; margin-bottom: 0px; }

  .side-description-area { width: 94vw; margin-top: -30px; }

  .description h2 { margin-top: -15px;}

  .orange-button, .gray-button {
    margin-bottom: 40px;
  }

  .right .side-image, .right .side-description-area {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

   .left .side-image, .left .side-description-area {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
}
