.space{
  height: 20px;
}

.full-resource-block {
  width: 100%;
  height: 244px;
  margin-top: 5%;
}

.description {
  padding-bottom: 10px;
  color: #fff;
}

.resource-title {
  padding: 0px;
  margin: 0px;
  font-size: 24px;
  color: #FFFFFF;
  padding-bottom: 10px;
}

.side-image {
  height: 100%;
  float: left;
  width: 100%;
}

.side-description-area {
  float: left;
  height: 100%;
  background-color: #00adbc;
  padding: 30px 30px;
}

.left, .right {
  height: 100%;
  float: left;
  margin-bottom: 5%;
}

.gray-button {
  background-color: #e7e8ea;
  border-color: #c6cacd;
  color: #5b6770;
  text-decoration: none;
}

.orange-button {
  text-decoration: none;
  background-color: #ffa400;
}
