.clearfix {
  clear: both;
}

.no-padding {
  padding: 0 !important;
}

.no-flex {
  display: unset !important;
}

/* Show on mobile */
.mobile-show {
  display: none !important;
}

section.flex-container {
  padding: 2em;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
  section.flex-container p {
    margin: 1em 0;
    font-size: 18px;
  }
    section.flex-container img {
      align-self: center;
    }

section.lists h3 {
  background: #00b2c0;
  color: white;
  padding: .75em;
  margin: 2em 0 0;
  width: 100%;
}
  section.lists h4 {
    padding: .75em 1em;
    margin: 2px 0 0;
    background: #5b6770;
    color: white;
  }


@media screen and (max-width: 768px) {

  /* Hide on mobile */
  .mobile-hide {
    display: none !important;
  }

  /* Show on mobile */
  .mobile-show {
    display: block !important;
  }

  section.flex-container {
    flex-direction: column;
  }
    section.flex-container img {
      margin: 1.5em auto;
    }

    /* Adjust padding of the Gold Supporters sections */
    section.flex-container.logos {
      padding-bottom: 0;
    }
    section.flex-container.text {
      padding-top: 0;
      padding-bottom: 4em
    }

  h5 {
    color: #00adbc;
    font-family: 'Gotham 7r', sans-serif;
    margin: 1.5em 1em 0;
    font-size: 1em;
  }
}
