@import 'color.scss', 'font.scss', 'breakpoints.scss';

.teach-ai-skinny-banner {
  box-sizing: content-box;
  height: 130px;
  background: url("/images/banners/teach-ai-bg.png") top center no-repeat;
  background-size: cover;

  @media screen and (max-width: $width-lg) {
    padding: 0 1.5em;
  }

  @media screen and (max-width: $width-sm) {
    padding: 2em 1.5em;
    height: unset;
  }

  a:hover,
  a:active,
  a:visited,
  a:link {
    text-decoration: none;
  }

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 960px;
    margin: 0 auto;
    gap: 1.5em 1em;

    @media screen and (max-width: $width-sm) {
      justify-content: center;
    }
  }

  img {
    width: 200px;

    @media screen and (max-width: $width-md) {
      width: 160px;
    }
  }

  .text-wrapper {
    text-align: center;
    width: 60%;

    @media screen and (max-width: $width-md) {
      width: 52%;
    }

    @media screen and (max-width: $width-sm) {
      width: 100%;
    }

    h1 {
      font-size: 1.75em;
      line-height: 1.2;
      color: #102C7E;
      margin: 0 auto 6px;

      @media screen and (max-width: $width-md) {
        font-size: 1.5em;
      }
    }

    p {
      font-family: $gotham-regular;
      font-size: 1.15em;
      line-height: 1.3;
      margin-bottom: 0;
      color: $neutral_dark;

      @media screen and (max-width: $width-md) {
        font-size: 1em;
      }
    }
  }

  button {
    background: #102C7E;
    border-color: #102C7E;
    color: $neutral_white;
    font-family: 'Gotham 5r', sans-serif;
    height: unset;
    padding: 0.625em 1.5em;
    margin: 0;
  }
}
