@import "color.scss";
@import "font.scss";

// NOTE: This can be replaced with an .action-block element
// that's used on design-system-pegasus.scss if/when this
// page is refactored.

.teacher-info-container {
  background-color: $neutral_light;
  color: $neutral_dark;
  padding: 1rem 1.5rem;
  border: 1px solid $neutral_dark20;
  border-radius: 4px;
  font-family: $gotham-regular;
}

.teacher-info-inner-container {

  h3 {
    margin-top: 0;
  }
}
