// Custom styles for code.org/teach
// — supplemental to shared/css/design-system-pegasus.scss

@import 'color', 'font', 'typography', 'breakpoints', 'barlow-semi-condensed-font';

// REMOVE THESE WHEN OTHER PR IS MERGED
html { font-size: 100% !important; }
body { font-size: unset !important; }

section.top {

  img {
    box-shadow: 8px 8px 0 $brand_primary_light;
    margin-top: 1.25rem;
  }
}

section.why-teach-cs {
  text-align: center;

  .grid-container {
    text-align: left;
    margin-top: 5rem;
    display: grid;
    gap: 4rem;

    @media screen and (min-width: $width-sm) {
      grid-template-columns: repeat(2, 1fr);
    }

    .flex-container {
      gap: 1.5rem;
    }

    img {
      width: 8em;
      height: 8em;
      border-radius: 50%;
    }
  }

  p {
    @include body-two;
  }
}

section.quote {
  background: url("/images/banners/banner-bg-lines-neutral-dark.png") center repeat;
  background-size: contain;
  background-color: $neutral-dark;

  p {
    font-size: 1.25rem;
    color: $neutral_white;
    font-family: $barlowSemiCondensed-medium, sans-serif;

    &.quote-text {
      font-size: 1.5rem;
      line-height: 1.2;

      &:before, &:after {
        font: var(--fa-font-solid);
        color: $brand_primary_default;
      }

      &::before {
        content: "\f10d";
        margin: 0 8px 0 0;
      }

      &::after {
        content: "\f10e";
        margin: 0 0 0 8px;
      }
    }
  }

  span {
    color: $brand_accent_default;
    margin: 0 2px;
  }
}

section.free-curriculum {
  text-align: center;

  .flex-container {
    text-align: left;

    p {
      @include body-two;
    }
  }

  figure {
    background: url("/images/teach-page-students.png") center no-repeat;
    background-size: cover;
    margin: 2.5rem 0 1rem;
  }
}
