// Custom styles for code.org/10years
// — supplemental to shared/css/design-system-pegasus.scss

@import 'breakpoints', 'color';

// Homepage blurb
.tenth-anniversary-homepage {
  margin: 3em auto;
  padding: 0 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;

  img {
    width: 60px;
  }

  p {
    margin-bottom: 0;
    color: $neutral_dark;

    a {
      cursor: pointer;
      transition: color ease-in-out .2s;

      @media screen and (max-width: $width-sm) {
        display: block;
      }
    }
  }
}

// Landing page
.hero-banner-basic {
  background: url(/images/banners/banner-bg-lines-light-grey.png) center repeat;
  background-size: contain;
  border-bottom: 1px solid $neutral_light;

  .text-wrapper {
    width: 65%;

    @media screen and (max-width: $width-sm) {
      width: 100%;
    }
  }

  figure {

    @media screen and (max-width: $width-md) {
      width: 33%;
    }

    @media screen and (max-width: $width-sm) {
      width: 100%;
      margin-top: 2em;
    }
  }

  img {
    width: 100%;
    position: relative;

    @media screen and (max-width: $width-md) {
      display: block;
    }

    @media screen and (max-width: $width-sm) {
      width: 70%;
      margin: 2em auto 0;
    }
  }
}

.tenth-anniversary-timeline {

  figure {
    width: 100%;
    overflow: auto;
    border-left: 1px solid;
    border-right: 1px solid;
    margin-bottom: 1em;

    img {
      height: 380px;
    }
  }

  p {
    margin-left: -2px;

    i {
      font-size: 1.25em;
      vertical-align: middle;
    }
  }
}

.tenth-anniversary-celebrate,
.tenth-anniversary-testimonials {

  .grid-container {
    align-items: start;
    gap: 2em;

    @media screen and (min-width: $width-md) {
      grid-template-columns: repeat(2, 1fr);

      figure {
        grid-column: 1 / span 2;
      }
    }

    @media screen and (min-width: $width-lg) {
      grid-template-columns: repeat(3, 1fr);

      figure {
        grid-column: 1 / span 2;
      }
    }

    .tenth-anniversary-tweets,
    .tenth-anniversary-tweets-testimonials {
      border-bottom: 1px solid;
      overflow: auto;

      .twitter-tweet {
        margin: 0 auto 1em !important;
        width: 100%;
      }
    }
  }

  .tenth-anniversary-tweets {
    max-height: 355px;
  }

  .tenth-anniversary-tweets-testimonials {
    margin-top: 2em;
  }
}
