#resources {
  margin-top: 40px;
}

.tools-info {
  border: 1px solid;
  border-color: #0094ca;
  float: left;
  max-width: 770px;
}

.tools-info.green {
  border-color: #b9bf15;
}

.tools-img-box {
  float: left;
}

.tools-title-bar {
  background-color: #0094ca;
  padding-left: 15px;
}

.tools-title-bar.green {
  background-color: #b9bf15;
}

h1.tools-title {
  font-size: 2.5rem;
  padding: 6px 6px 12px;
  margin: 0px;
  color: white;
}

.tools-description {
  padding: 14px 15px;
}

.tools-img-applab {
  width: 302px;
}

.tools-img-gamelab {
  width: 235px;
}

.tutorial-tile {
  padding-bottom: 20px;
}

.tutorial-tile-img {
  width: 100%;
  border: 1px solid #949ca2;
  border-bottom: 0;
}

.tutorial-info {
  border: 1px solid #949ca2;
  padding: 20px;
  min-height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.activities-info {
  background-color: #00adbc;
  color: #fff;
  padding: 30px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tutorial-tile h2 {
  font-family: var(--barlowSemiCondensed-medium);
  font-size: 1.5rem;
  line-height: 1.32;
  margin-bottom: 0.5em;
}

h3,
h3.tutorial-info-h {
  margin-top: 0px;
  font-family: var(--barlowSemiCondensed-medium);
  font-size: 1.5rem;
  line-height: 1.32;
  margin-bottom: 0.5em;
}

.tutorial-info-start {
  margin-top: 20px;
}
.tutorial-info-start[dir='rtl']{
  float:right;
}
.tutorial-info-guide {
  float: right;
  margin-top: 25px;
}
div[dir='rtl'] .tutorial-info-guide{
  float:left;
}
b.purple {
  font-size: 14px;
  color: #7665a0;
}

button.tutorial-gray {
  background-color: #e7e8ea;
  border-color: #e7e8ea;
  color: #5b6770;
}

.pl-callout {
  border: 1px solid #0094ca;
  height: 72px;
  margin: 20px 0px;
}

.pl-icon {
  background-color: #0094ca;
  width: 72px;
  height: 70px;
  float: left;
  padding: 16px 16px;
}

.pl-book {
  color: rgba(255, 255, 255, 0.8);
  font-size: 38px;
}

.pl-description {
  float: left;
  padding: 14px 15px;
  width: 860px;
}

.pl-text-area {
  float: left;
}

.pl-title {
  font-size: 18px;
  color: #0094ca;
}

.pl-button {
  float: right;
  margin-left: 30px;
}

@media only screen and (max-width: 960px) {
  .tools-img {
  	width: 100%;
  }

  .pl-callout {
    height: auto;
    border: none;
  }

  .pl-icon {
    display: none;
  }

  .pl-description {
    float: left;
    padding: 14px 15px;
    width: auto;
    border: 1px solid #0094ca;
  }

  .pl-text-area {
    float: left;
  }

  .pl-button {
    float: left;
    margin-left: 0px;
  }
}

.box {
        align-self: flex-end;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        background-color: transparent;
        height: 55px;
        transform-origin: bottom;
        width: 200px;
    }
    .bounce-6:hover {
        animation-name: bounce-6;
        animation-timing-function: ease;
    }
    @keyframes bounce-6 {
        0%   { transform: scale(1,1)      translateY(0); }
        10%  { transform: scale(1.1,.9)   translateY(0); }
        30%  { transform: scale(.9,1.1)   translateY(-40px); }
        50%  { transform: scale(1.05,.95) translateY(0); }
        57%  { transform: scale(1,1)      translateY(-7px); }
        64%  { transform: scale(1,1)      translateY(0); }
        100% { transform: scale(1,1)      translateY(0); }
    }

