.white-link {
  color: white;
}

.choice {
  float: left;
  width: 33%;
  padding: 5px;
}
div[dir= 'rtl'] .choice {
  float: right;
}
.choice-container {
  width: 100%;
  position: relative;
}

.choice-label {
  position: absolute;
  top: 0px; left: 0px;
  height: 32px;
  width: 100%;
  color: white;
  padding: 4px;
  text-align: center;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.blue {
  background-color: rgba(0, 148, 202, 0.85);
}

.purple {
  background-color: rgba(118, 101, 160, 0.85);
}

.green {
  background-color: rgba(185, 191, 21, 0.85);
}

.character-img {
  width: 100%;
  border-radius: 8px;
}

.header {
  padding: 10px;
}

@media screen and (min-width: 513px) and (max-width: 970px) {
  .tall {
    height: 48px;
  }
}

@media screen and (min-width: 513px) and (max-width: 600px) {
  .choice {
    padding: 10px;
  }
}

@media screen and (min-width: 0px) and (max-width: 512px) {
  .choice {
    width: 100%;
    padding: 10px;
  }
}
