.tutorial-promo-container {
  width: 100%;
  padding-left: 5px;
  position: relative;
  margin: 20px 0px;
}

.background-img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.tutorial-heading {
  margin-top: 0px;
  margin-bottom: 10px;
  margin-right: 20px;
  color: white;
  position: absolute;
  top: 20px;
  left: 470px;
}

.specific-tutorial {
  position: absolute;
  padding: 5px;
  top: 70px;
}

.right-tutorial  {
  right: 20px;
}
html[dir= 'rtl'] .right-tutorial {
  right: 270px;
}

.left-tutorial {
  right: 270px;
}

html[dir= 'rtl']  .left-tutorial{
  right: 20px;
}

.tutorial-promo-container .tutorial-box {
  background-color: rgb(226, 241, 243);
  color: black;
  padding: 20px;
  border-radius: 5px;
}

.specific-tutorial-heading {
  font-family: var(--barlowSemiCondensed-medium);
  font-size: 1.5rem;
  line-height: 1.32;
  margin: 0 0 0.5em;
  color: black;
}

.tutorial-promo-container button {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (min-width: 970px) {
  .tutorial-heading {
    top: 15px;
  }

  html[dir= 'rtl'] .tutorial-heading {
    right: 464px;
    left: auto;
    margin-right: 0px;
  }
}

.tutorial-specs {
  font-size: 12px;
  line-height: 16px;
}

@media screen and (min-width: 0px) and (max-width: 970px) {
  .tutorial-promo-container .tutorial-box h2 {
    font-size: 17px;
  }

  .tutorial-heading {
    left: auto;
    right: auto;
  }

  .specific-tutorial {
    width: 100%;
    padding: 5px;
    position: static;
    margin-bottom: 10px;
  }

  .img-container {
    padding: 0px 5px;
  }

  .tutorial-promo-container h1 {
    margin-left: 25px;
    margin-right: 25px;
  }
}

@media screen and (min-width: 500px) and (max-width: 600px) {
  .tutorial-promo-container .tutorial-box h2 {
    font-size: 14px;
  }
}

@media screen and (min-width: 0px) and (max-width: 512px) {
  .specific-tutorial {
    width: 100%;
    position: static;
  }

  .tutorial-heading {
    position: static;
    color: #00adbc;
    text-align: center;
  }

  .tutorial-promo-container .tutorial-box {
    /* Ensure background doesn't repeat in the wider box */
    background-size: cover;
  }
}
