figure.video-responsive {
  max-width: 560px; /* Can be overridden if needed */
  width: 100%;
  margin: unset;
}

figure.video-responsive > div {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
  border: 1px solid #EAEBEB;
  box-sizing: content-box;
}

figure.video-responsive > div iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
