html, body, #map-canvas {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

#controls ul,
#controls li {
  list-style-type: none;
  padding-left: 0;
  text-indent: 0;
}

#controls ul li:before {
  content: '';
}

#controls #ullist_a_all,
#controls li.active {
  font-weight: bold;
}

#controls .active a:link,
#controls .active a:visited {
  color: #ff8b02;
}

#controls a,
#controls a:link,
#controls a:visited {
  font-weight: normal;
}

#controls .active a,
#controls a:hover,
#controls a:active {
  background: #eee;
}

#volunteer-search-controls {
  height: 400px;
  overflow-y: auto;
}

#gmap {
  width: 553px;
  height: 400px;
  padding: 10px;
  padding: 3px;
  border: 3px
  solid #ddd;
}

#gmap h3 {
  margin: 0;
  padding: 0;
}

#inline-content h2 {
  font-size: 1.625em;
}

#inline-content div {
  margin: 1em 0;
  font-size: 1.25em;
}

.small {
  font-size: 12px;
  font-weight: normal;
}

.more-info {
  font-weight: bold;
}

.display-none {
  display: none;
}

.top-margin {
  margin-top: 5px;
}

.no-margin {
  margin: 0;
}

.profile-detail {
  white-space: pre-line;
}

.entry-detail {
  max-width: 300px;
}

.contact-trigger, .scroll-to-top {
  cursor: pointer;
}

.help-choice {
  font-family: 'Gotham 4r', sans-serif;
}

