:root {
  /* Colors */
  --brand_primary_light: #d6f2f5;
  --brand_primary_default: #008b9a;
  --brand_primary_dark: #176870;
  --brand_secondary_light: #c7b4df;
  --brand_secondary_default: #5c3f7f;
  --brand_secondary_dark: #432d5c;
  --neutral_white: #FFFFFF;
  --neutral_light: #F7F8FA;
  --neutral_dark10: #EAEBEB;
  --neutral_dark20: #D4D5D7;
  --neutral_dark30: #BFC1C3;
  --neutral_dark40: #A9ACAF;
  --neutral_dark50: #94979B;
  --neutral_dark60: #7F8286;
  --neutral_dark70: #6A6E73;
  --neutral_dark80: #54595E;
  --neutral_dark90: #3F444B;
  --neutral_dark: #292F36;
  --orange: #ffa400; /* legacy color */
  /* Typography */
  --main-font: 'Metropolis', 'Noto Sans', 'Noto Sans Arabic', 'Noto Sans Armenian', 'Noto Sans Bengali', 'Noto Sans SC',
               'Noto Sans TC', 'Noto Sans Devanagari', 'Noto Sans Georgian', 'Noto Sans Hebrew', 'Noto Sans JP',
               'Noto Sans Kannada', 'Noto Sans Khmer', 'Noto Sans KR', 'Noto Sans Myanmar', 'Noto Sans Sinhala',
               'Noto Sans Tamil', 'Noto Sans Telugu', 'Noto Sans Thai', 'Noto Sans Thaana', sans-serif;
  --thin-font-weight: 100;
  --extra-light-font-weight: 200;
  --light-font-weight: 300;
  --regular-font-weight: 400;
  --medium-font-weight: 500;
  --semi-bold-font-weight: 600;
  --bold-font-weight: 700;
  --extra-bold-font-weight: 800;
  --black-font-weight: 900;
  /* Border radius */
  --border-radius: 4px;
  /* Swiper carousel styles */
  --swiper-pagination-color: var(--brand_primary_default);
  --swiper-pagination-bullet-size: 1rem;
  --swiper-pagination-bullet-inactive-color: var(--brand_primary_light);
  --swiper-pagination-bullet-inactive-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 0.5rem;
}

html {
  height: 100%;
}

body {
  background-color: var(--neutral_white);
  height: 100%;
  font-family: var(--main-font);
  font-weight: var(--regular-font-weight);
  font-style: normal;
  font-size: 14px;
  color: var(--neutral_dark);
  margin: 0;
}

h1,
.heading-xxl {
  font-family: var(--main-font);
  font-weight: var(--bold-font-weight);
  font-size: 3rem;
  line-height: 1.16;
  margin: 1em 0 0.5em 0;
}

h2,
.heading-xl {
  font-family: var(--main-font);
  font-weight: var(--semi-bold-font-weight);
  font-size: 2rem;
  line-height: 1.24;
  margin: 1em 0 0.5em 0;
}

h3,
.heading-lg {
  font-family: var(--main-font);
  font-weight: var(--semi-bold-font-weight);
  font-size: 1.75rem;
  line-height: 1.28;
  margin-bottom: 0.5em;
}

h4,
.heading-md {
  font-family: var(--main-font);
  font-weight: var(--semi-bold-font-weight);
  font-size: 1.5rem;
  line-height: 1.32;
  margin-bottom: 0.5em;
}

h5,
.heading-sm {
  font-family: var(--main-font);
  font-weight: var(--semi-bold-font-weight);
  font-size: 1.25rem;
  line-height: 1.4;
  margin-bottom: 0.5em;
}

h6,
.heading-xs {
  font-family: var(--main-font);
  font-weight: var(--semi-bold-font-weight);
  font-size: 1rem;
  line-height: 1.48;
  margin-bottom: 0.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p {
  line-height: 1.48;
  margin-bottom: 1em;
}

.body-one {
  font-size: 1.25rem;
  line-height: 1.4;
  margin-bottom: 1em;
}

.body-two {
  font-size: 1rem;
  line-height: 1.48;
  margin-bottom: 1em;
}

.body-three {
  font-size: 0.875rem;
  line-height: 1.54;
  margin-bottom: 1em;
}

.body-four {
  font-size: 0.75rem;
  line-height: 1.64;
  margin-bottom: 1em;
}

figcaption,
.video_caption_link {
  font-family: var(--main-font);
  font-weight: var(--semi-bold-font-weight);
  font-size: 0.875rem;
  margin: 0.5em 0 1em;
  line-height: 1.4;
}

.overline-one {
  font-family: var(--main-font);
  font-weight: var(--semi-bold-font-weight);
  text-transform: uppercase;
  letter-spacing: 0.04rem;
  font-size: 0.875rem;
  line-height: 1.6;
  color: var(--brand_primary_default);
}

.overline-two {
  font-family: var(--main-font);
  font-weight: var(--semi-bold-font-weight);
  text-transform: uppercase;
  letter-spacing: 0.04rem;
  font-size: 0.75rem;
  line-height: 1.64;
  color: var(--brand_primary_default);
}

.overline-three {
  font-family: var(--main-font);
  font-weight: var(--semi-bold-font-weight);
  text-transform: uppercase;
  letter-spacing: 0.04rem;
  font-size: 0.625rem;
  line-height: 1.76;
  color: var(--brand_primary_default);
}

/* Use this class on text elements to turn them white */
h1,
h2,
h3,
h4,
h5,
h6,
p,
figcaption,
span,
a:not(.link-button) {
  &.white {
    color: var(--neutral_white) !important;
  }
}

hr {
  border-top: 1px solid var(--neutral_dark20) !important;
}

a {
  font-family: var(--main-font);
  font-weight: var(--semi-bold-font-weight);
  transition: all .2s ease-in-out;
}

a:link {
  color: var(--brand_secondary_default);
  text-decoration: underline;
}

a:visited {
  color: var(--brand_secondary_default);
}

a:hover, a:active {
  color: var(--brand_secondary_dark);
}

blockquote {
  border-left: 0px;
  padding-left: 0px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 20px;
}

blockquote p {
  color: var(--orange);
  line-height: 1.8;
}

strong {
  font-family: var(--main-font);
  font-weight: var(--semi-bold-font-weight);
}

em {
  font-family: var(--main-font);
  font-style: italic;
}

strong em,
em strong {
  font-family: var(--main-font);
  font-weight: var(--bold-font-weight);
  font-style: italic;
}

ul {
    list-style: none;
    padding:0;
    margin:20px;
}

ul li {
    padding-left: 1em;
    text-indent: -.7em;
}

ul li:before {
    content: "• ";
}

.invisiblelist li:before {
  content: "";
}

img {
  border: none;
}

/* Add rounded corners to an element */
.rounded-corners {
  border-radius: 4px;
}

th {
  background-color: #008b9a;
  color: white;
  padding: 15px;
  border-color: white;
  border-width: 1px;
  border-style: solid;

  border-top-color: #008b9a;
  border-left-color: #008b9a;
  border-right-color: #008b9a;
}

td {
  border-width: 1px;
  border-color: rgb(141, 138, 138);
  border-style: solid;
  padding: 15px;
}

/* Applies text-wrap: balance to an element */
.wrap-balance {
  text-wrap: balance;
}

.flex-container { display: flex; }
/* Flex container
  Use classes to determine flexbox characteristics */
.flex-container {
  display: flex;

  &.flex-direction-column {
    flex-direction: column;
  }
  &.flex-direction-column-tablet {
    @media screen and (max-width: 992px) {
      flex-direction: column;
    }
  }
  &.flex-direction-column-tablet-reverse {
    @media screen and (max-width: 992px) {
      flex-direction: column-reverse;
    }
  }
  &.flex-direction-column-mobile {
    @media screen and (max-width: 640px) {
      flex-direction: column;
    }
  }
  &.flex-direction-row {
    flex-direction: row;
  }
  &.justify-space-between {
    justify-content: space-between;
  }
  &.justify-center {
    justify-content: center;
  }
  &.justify-end {
    justify-content: end;
  }
  &.align-content-baseline {
    align-content: baseline;
  }
  &.align-items-baseline {
    align-items: baseline;
  }
  &.align-items-center {
    align-items: center;
  }
  &.align-items-start {
    align-items: flex-start;
  }
  &.wrap {
    flex-wrap: wrap;
  }
  &.wrap-reverse {
    flex-wrap: wrap-reverse;
  }
  &.gap-1 {
    gap: 1rem;
  }
  &.gap-1-5 {
    gap: 1.5rem;
  }
  &.gap-2 {
    gap: 2rem;
  }
  &.gap-4 {
    gap: 4rem;
  }

  @media (max-width: 992px) {
    &.mobile-gap-2 {
      gap: 2rem;
    }
  }

  & > .flex-1 {
    flex: 1;
  }
  & > .flex-1-5 {
    flex: 1.5;
  }
  & > .flex-2 {
    flex: 2;
  }
}

/* Centers a block-level element */
.centered { text-align: center !important; }

/* Removes the top or bottom margin or padding —
  often helpful on a last paragraphs or list elements
  to maintain consistent white space between sections */
.no-margin-top {
  margin-top: 0 !important;
}
.no-margin-bottom {
  margin-bottom: 0 !important;
}
.no-padding-top {
  padding-top: 0 !important;
}
.no-padding-bottom {
  padding-bottom: 0 !important;
}

/* Use these classes to change a section's background color */
section.bg-neutral-light { background-color: var(--neutral_light); }
section.bg-neutral-dark { background-color: var(--neutral_dark); }

/* Start carousel styles ------------------------ */
.carousel-wrapper {
  position: relative;
  margin: 2rem 0 0;
}

/* Sets the font-family for .action-block carousels */
.carousel-wrapper .action-block p {
  font-family: var(--main-font), sans-serif;
}

/* Swiper carousel library styles */
swiper-slide {
  display: flex;
  align-items: stretch;
  height: auto;
}

.carousel-wrapper .swiper-nav-prev,
.carousel-wrapper .swiper-nav-next {
  position: absolute;
  top: 40%;
  border: 0;
  height: 48px;
}

.carousel-wrapper .swiper-nav-prev {
  background: url("/images/carousel/prev.svg") no-repeat;
  left: -4rem;
  border: 0;
}

.carousel-wrapper .swiper-nav-next {
  background: url("/images/carousel/next.svg") no-repeat;
  right: -4rem;
}

.carousel-wrapper .swiper-button-disabled {
  opacity: 0.5;
}

@media screen and (max-width: 1024px) {
  .carousel-wrapper .swiper-nav-prev,
  .carousel-wrapper .swiper-nav-next {
    display: none;
  }
}

/* Video carousel styles */
.carousel-wrapper.video-carousel swiper-slide {
  display: block;
  text-align: left;
}

.carousel-wrapper.video-carousel iframe {
  width: 100%;
  aspect-ratio: 16 / 9;
}

.carousel-wrapper.video-carousel .swiper-nav-prev,
.carousel-wrapper.video-carousel .swiper-nav-next {
  top: 28%;
}

/* Begin legacy styles ------------------------ */

.narrow_hr {
  margin-top: 10px;
  margin-bottom: 10px;

  border: 0;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #008b9a;
}

/* for learn.. */

.learnpage .grey_hr_fine {
  height: 1px;
  margin-top: 1px;
  margin-bottom: 1px;

  border: 0;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgb(204,204,204);
}

/* ..end learn */

.button-color-share {
  background-color: #5c3f7f;
  border-color: #5c3f7f;
}

.button_disabled {
  background-color: #e1e0e0 !important;
  border-color: #e1e0e0 !important;
  color: #c1c1c1 !important;
}

a.link-button,
button {
  align-items: flex-start;
  background-color: var(--brand_secondary_default);
  border: 2px solid var(--brand_secondary_default);
  border-radius: 4px;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: inline-block;
  font-family: var(--main-font);
  font-weight: var(--semi-bold-font-weight);
  font-size: 1rem;
  letter-spacing: normal;
  margin: 0;
  padding: 0.5rem 1rem;
  text-decoration: none;
  text-transform: none;
  vertical-align: middle;
  white-space: nowrap;
}

a.link-button:hover,
button:hover {
  background-color: var(--brand_secondary_dark);
  border-color: var(--brand_secondary_dark);
}

a.link-button.secondary {
  background: none;
  border: 2px solid var(--brand_secondary_default);
  color: var(--brand_secondary_default);
}

a.link-button.secondary:hover {
  background-color: var(--neutral_dark10);
}

a.link-button.secondary {
  background: none;
  border: 2px solid var(--brand_secondary_default);
  color: var(--brand_secondary_default);
}

a.link-button.secondary:hover {
  background-color: var(--neutral_dark10);
}

a.link-button.white {
  background-color: var(--neutral_light);
  border-color: var(--neutral_light);
  color: var(--neutral_dark);
}

a.link-button.secondary.white {
  background: none;
  border-color: var(--neutral_white);
  color: var(--neutral_white);
}

a.link-button.black {
  background: var(--neutral_dark);
  border-color: var(--neutral_dark);
  color: var(--neutral_white);

  &:hover {
    background: black;
    border-color: black;
  }
}

/* Button wrapper for side-by-side buttons */
.button-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  &.centered {
    justify-content: center;
  }
}

.container_nonresponsive { width: 970px; margin: 0 auto; max-width: none !important; }

label {
  font-family: var(--main-font);
  font-weight: var(--semi-bold-font-weight);
}
