#hoc-header-branding {
  width: 8em;
  position: relative;
  top: -2em;
  left: 0;
  float: left;
}
#hoc-header-branding img {
  width: 100%;
  max-width: 100%;
}
#hoc-header-main {
  margin-top: 1em;
  text-align: right;
}
#language-dropdown {
  float: right;
  margin-left: 1em;
  width: 150px;
  text-align: left;
}
#language-dropdown .selectize-input,
#language-dropdown .selectize-dropdown {
  font-size: 12px;
}
#language-dropdown .selectize-input {
  padding: 2px 8px;
  min-height: 28px;
  white-space: nowrap;
  overflow: hidden;
}
#hoc-nav {
  display: inline-block;
  text-align: left;
}
#hoc-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#hoc-nav ul li {
  font-size: 18px;
  color: white;
  display: inline-block;
  float: left;
  padding: 0.25em 0em;
  margin-right: 1em;
  text-indent: 0;
  list-style-type: none;
  max-width: 150px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
#hoc-nav ul li:before {
  content: none;      /* Needed to remove the bullet disc. This was set from other CSS. */
}
#hoc-nav ul li:last-child {
  margin-right: 0;    /* No margin needed for the last item */
}
#hoc-nav ul li a {
  font-family: 'Gotham 4r', sans-serif;
  font-size: 18px;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}
#hoc-nav ul li a:hover {
  border-bottom: solid 2px rgb(255, 138, 0);
}
#hoc-nav-hamburger {
  font-size: 24px;
  color: white;
  vertical-align: middle;
  text-decoration: none;
  display: none;
}
.headerlink {
  text-transform: uppercase;
}
.headerlink:link,
.headerlink:visited,
.headerlink:hover,
.headerlink:active {
  margin-left: 20px;
}
.front-header-banner {
  font-size: 20px;
  text-align: center;
  color: #000;
  line-height:28px;
  padding-left:20px;
  padding-right:20px;
}
.front-header-banner h1 {
  color: white;
  margin: 0px;
  font-size: 24px;
}
.front-header-banner h2 {
  color: white;
  margin: 0px;
  font-size: 36px;
}
.front-header-banner h3 {
  color: white;
  margin: 0px;
  font-size: 22px;
  line-height: 2.2em;
}
.front-header-banner h4 {
  color: #0096a3;
  margin: 0px;
  margin-bottom: 15px;
  font-size: 26px;
}
#flags-banner {
    margin: 60px 0 0 0;
}
#flags-banner img {
    width: 100%;
    max-width: 100%;
}
label.has-error {
  color: #b94a48;
}

/** Keeps content within the viewport size (especially on smaller screesn) */
iframe {
  max-width: 100%;
}
.wide-index-content img {
  max-width: 100%;
}

@media screen and (min-width: 992px) {
  #signupform h2 {
    margin-top: 0;
  }
}
.button-container {
  text-align:right;
  margin-top: 50px;
}
@media (max-width: 992px) {
  #hoc-nav {
    position: relative;
  }
  #hoc-nav ul.hide-responsive-menu {
    display: none;
  }
  #hoc-nav ul {
    position: absolute;
    top: 4em;
    left: -2em;
    background-color: rgb(0, 178, 192);   /* Needed as the opaque fallback colour for IE8 */
    background-color: rgba(0, 178, 192, .9);
    z-index: 99;
  }
  #hoc-nav ul:after {   /* This is the arrow in the responsive menu */
    bottom: 100%;
    left: 2.2em;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(0, 178, 192, 0);
    border-bottom-color: rgb(0, 178, 192);  /* Needed as the opaque fallback colour for IE8 */
    border-bottom-color: rgba(0, 178, 192, .9);
    border-width: 8px;
  }
  #hoc-nav ul li {
    display: block;
    float: none;
    margin: 1em 2em 1em 1em;
    white-space: normal;
    overflow: visible;
  }
  #hoc-nav-hamburger {
    display: inline-block;
  }
  #hoc-nav-hamburger:hover,
  #hoc-nav-hamburger:active {
    color: rgb(255, 138, 0);
  }
}
@media (max-width: 768px) {
  .centered {
    text-align: left;
    margin-top: 0px;
  }
}
@media (max-width: 500px) {
  .front-header-banner h1 {
      font-size: 14px;
  }
  .front-header-banner h2 {
      font-size: 16px;
  }
  .front-header-banner h3 {
      font-size: 12px;
  }
  .front-header-banner h4 {
      font-size: 16px;
  }
  #hoc-header-branding {
    width: 6em;
    position: relative;
    top: -1em;
    left: 0;
    float: left;
  }
  #language-dropdown {
    margin-left: 1em;
  }
}
.hidden-label {
  position: fixed;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
#hoc-event-location-selector .mapboxgl-ctrl-geocoder {
  min-width: 100%;
  z-index: 2;
  box-shadow: none;
  border: 1px solid #ccc;
  font-family: inherit;
  font-size: inherit;
}

#hoc-event-location-selector .mapboxgl-ctrl ul li {
  padding-left: 0;
  text-indent: 0;
  font-weight: normal;
}

#hoc-event-location-selector .mapboxgl-ctrl ul li:before {
  content: none;
  color: #00a1e6;
}

#hoc-event-location-selector .mapboxgl-ctrl ul li a {
  font-family: "Gotham 4r", sans-serif;
}

#hoc-event-location-selector .mapboxgl-ctrl-geocoder--button {
  top: 1px !important;
}

#hoc-event-location-selector .mapboxgl-ctrl-geocoder--icon-close {
  margin-top: 0;
}
