@import "color.scss";
@import "mixins";
@import "style-constants";

div.editorColumn {
  left: 0;
}
html[dir='rtl'] div.editorColumn {
  right: 0;
}

#share-cell {
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  &.shareCellNone {
    display: none;
  }
}

iframe.weblab-host {
  top: $workspace-headers-height;
}
