@import 'color.scss';

.aiBotImg {
    width: 42px;
    height: 68px;
    margin: 20px;
    float: left;
}

.helpTypeSelect {
    float: left;
}

.tutorContainer {
    margin: 20px; 
}

$message-editor-height: 100px;
$default-spacing: 2px;

.chatWorkspace {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: $white;
}

.conversationArea {
  margin: 5px 2%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: $default-spacing;
  box-sizing: border-box;
  overflow-y: scroll;
}

.userChatMessageEditor {
  padding: 1% 1%;
  margin: 10px 2%;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: $message-editor-height;
  box-sizing: border-box;
}

.waitingForResponse {
  width: 50px;
}

.message {
    padding: 10px 10px;
    border-radius: 10px;
    overflow: hidden;
}

.userMessageContainer {
    margin: 0 0 15px 50px;
}

.assistantMessageContainer {
    margin: 0 50px 15px 0;
}

.userMessage {
    background-color: $lightest_cyan;
}

.assistantMessage {
    background-color: $lightest_gray;
}

.inappropriateMessage {
    background-color: $lightest_red;
}

.tooPersonalMessage {
    background-color: $lightest_yellow;
}

.messageHeaderContainer {
    margin: 5px 0 5px 0;
}

.textArea {
    width: 80%;
}
  
.hiddenAITutorPanel {
    display: none;
}

.aiTutorPanel {
    position: fixed;
    left: 10px;
    bottom: 116px;
    width: 760px;
    background: $background_gray;
    opacity: 0.98;
  
    border: 5px solid $dark_teal;
    border-radius: 10px 0 0 10px;
  
    /* Must appear in front of <Overlay/>, whose z-index is 1020. */
    z-index: 1022;
  
    h3 {
      padding: 5px;
      font-size: 18px;
    //   @include main-font-bold;
      font-weight: normal;
      color: $white;
      background: $dark_teal;
      margin: 0;
    }
  }
  