@import 'color.scss';
@import "font";

$message-editor-height: 100px;
$default-spacing: 2px;

.chatWorkspace {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: $white;
  }
  
  .conversationArea {
    margin: 5px 2%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: $default-spacing;
    box-sizing: border-box;
    overflow-y: scroll;
  }
  
  .userChatMessageEditor {
    padding: 1% 1%;
    margin: 10px 2%;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: $message-editor-height;
    box-sizing: border-box;
  }
  
  .waitingForResponse {
    width: 50px;
  }
  
  .message {
      padding: 10px 10px;
      border-radius: 10px;
      overflow: hidden;
  }
  
  .userMessageContainer {
      margin: 0 0 15px 50px;
  }
  
  .assistantMessageContainer {
      margin: 0 50px 15px 0;
  }
  
  .userMessage {
      background-color: $lightest_cyan;
  }
  
  .assistantMessage {
      background-color: $lightest_gray;
  }
  
  .inappropriateMessage {
      background-color: $lightest_red;
  }
  
  .tooPersonalMessage {
      background-color: $lightest_yellow;
  }
  
  .messageHeaderContainer {
      margin: 5px 0 5px 0;
  }
  
  .textArea {
      width: 80%;
  }

// Warning Modal 
  .chatWarningModal {
    hr {
      margin: 1rem 0;
      border-color: $light_gray_200;
    }
  
    a {
      @include main-font-semi-bold;
      font-size: 1rem;
      color: $brand_secondary_default;
      margin: 1rem 0;
      text-decoration: underline;
      transition: color ease-in-out .2s;
  
      &:hover {
        color: $brand_secondary_dark;
      }
    }
  }
  
  .xCloseButton {
    // Clear default button styles
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    box-shadow: none;
  
    position: absolute;
    top: 1rem;
    right: 1rem;
  
    i {
      color: $light_gray_300;
      font-size: 1.1875rem;
      line-height: 1.4844rem;
      width: 1.4844rem;
    }
  
    &:hover {
      // Clear default button styles
      box-shadow: none;
      background: none;
      color: inherit;
      border: none;
      padding: 0;
      font: inherit;
      cursor: pointer;
      outline: inherit;
  
      i {
        color: $light_gray_500;
      }
    }
  
    &:focus {
      outline: $brand_primary_default solid 2px;
      outline-offset: 2px;
    }
  }
  
  .bottomSection {
    display: flex;
    justify-content: flex-end;
  }
  