@import 'color.scss';

.fileTabs {
  display: flex;
  justify-content: flex-start;
  gap: 6px;
  align-items: flex-end;
  overflow-x: scroll;
  max-width: 100%;
  background-color: $neutral_dark90;
  scrollbar-width: none;
  grid-area: file-tabs;
  min-height: 32px;
  font-size: 14px;
  font-weight: 600;
  color: $neutral_dark20;
}

.fileTab {
  display: flex;
  cursor: pointer;
  white-space: nowrap;
  justify-content: space-between;
  gap: 10px;
  padding: 0 6px;
  height: 28px;
  background-color: $dark_charcoal;
  border-radius: 4px 4px 0 0;
}

.fileTab > span {
  display: flex;
  align-items: center;
  gap: 10px;
}

.active {
  background-color: $neutral_dark;
  color: $white;
}

.inactive {
  color: $neutral_dark20;
}

.closeButton {
  margin-top: 4px;
}