.file-tabs {
  display: flex;
  justify-content: flex-start;
  gap: 6px;
  align-items: flex-end;
  overflow-x: scroll;
  max-width: 100%;
  background-color: #3f444b;
  color: white;
  scrollbar-width: none;
  grid-area: file-tabs;
}

.file-tab {
  padding: 0px;
  display: flex;
  cursor: pointer;
  white-space: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding-left: 2px;
  padding-right: 2px;
}

.inline-button {
  border: none;
  background: none;
  color: inherit;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  white-space: nowrap;
}

.file-tab.active {
  font-weight: bold;
  background-color: #292f36;
}
