.floatingButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 5000; // Ensure it's above other elements
}

.contentEditorPopover {
  z-index: 5;
  bottom: 20px;
  right: 20px;
}

.contentFlexContainer {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
