- @page_title = 'Program Information'
#regional-partner-search

%link{href: "/shared/css/phase1-design-system.css", rel: "stylesheet"}
%link{href: webpack_asset_path('css/pd.css'), rel: "stylesheet"}
%script{src: webpack_asset_path('js/regional_partners/regional_partner_search.js')}
