@import 'color.scss';
@import '@code-dot-org/component-library-styles/mixins';

.header {
  margin-bottom: 16px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 32px;

  .groupLabel {
    @include label-three;
    display: block;
    margin-bottom: 0;
  }

  .dropdown {
    flex: 1 1 auto;
    min-width: 0;
    width: 100%;

    div {
      width: 100%;
      select {
        width: 100%;
      }
    }
  }
}

.headerColumn {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.prevNextDropdown {
  display: flex;
  flex-direction: row;
  gap: 8px;
  width: 100%;

  button {
    flex: 0 0 auto;
    width: fit-content;
    padding: 0 12px;
  }
}

.unitSelector {
  width: 100%;

  div {
    width: 100%;
    select {
      width: 100%;
    }
  }
}
