---
title: Become a Maker | Pick a Device
theme: responsive_full_width
---

%link{href: '../shared/css/design-system-pegasus.css', rel: 'stylesheet'}

%section
  .wrapper
    = view :maker_skinny_banner
