---
title: Become a Maker | Learn about Physical Computing
theme: responsive_full_width
---

%link{href: "/css/generated/design-system-pegasus.css", rel: "stylesheet"}
%link{href: "/css/generated/page/maker-styles.css", rel: "stylesheet"}

-# FontAwesome icons
- icon_microchip = "fa-solid fa-microchip"
- icon_hands_clapping = "fa-solid fa-hands-clapping"
- icon_face_smile = "fa-solid fa-face-smile"

%section.hero-banner-basic.overlay
  .wrapper.grid-container.justify-space-between.align-items-center.gap-4.wider-text
    .text-wrapper
      %h1.white
        =hoc_s("maker_page.top.heading")
      %p.body-one.no-margin-bottom.white
        =hoc_s("maker_page.top.desc")
    %figure
      %img{src: "/images/maker/maker-banner-image.svg", alt: "", style: "width: 100%"}

%section
  .wrapper
    .grid-container.two-col.justify-space-between.align-items-center.gap-4
      %figure
        %img.rounded-corners{src: "/images/maker/maker-students-cp.png", alt: "", style: "width: 100%"}
      .text-wrapper
        %h2=hoc_s("maker_page.what.heading")
        %p.heading-xs{style: "margin-bottom: 1rem"}
          =hoc_s("maker_page.what.desc_01")
        %p=hoc_s("maker_page.what.desc_02")

-# TODO - remove the divider line and unhide case study section when we get the link
= view :section_divider_line
-# %section.bg-neutral-dark
-#   .wrapper.flex-container.justify-space-between.align-items-center.flex-direction-column-mobile.gap-2
-#     .text-wrapper{style: "flex: 0.9"}
-#       %p.overline-two.white
-#         =hoc_s("maker_page.case_study.overline")
-#       %h2.heading-lg.white
-#         =hoc_s("maker_page.case_study.heading")
-#       %p.body-three.white.no-margin-bottom
-#         =hoc_s("maker_page.case_study.desc")
-#     %img{src: "/images/maker/alaska.png", alt: "", style: "width: 182px"}
-#     %a.link-button.white.has-external-link{href: "#", target: "_blank", rel: "noopener noreferrer"}
-#       =hoc_s("maker_page.case_study.button")

%section
  .wrapper
    GET STARTED

%section.bg-neutral-light
  .wrapper
    WHY

%section
  .wrapper
    CURRICULUM

%section.bg-neutral-light
  .wrapper
    CAREERS

%section.bg-neutral-light
  .wrapper
    CAREERS

%section
  .wrapper
    = view :subscribe_form, subscribe_form_section_title: hoc_s(:subscribe_form_section_title), subscribe_form_section_desc: hoc_s(:subscribe_form_section_desc_maker), form_height: "410px", form_src: "http://go.pardot.com/l/153401/2023-01-10/pqf2sr"

= view :section_divider_line

%section
  .wrapper
    ADDITIONAL RESOURCES

= view :analytics_event_log_helper, event_name: AnalyticsConstants::PHYSICAL_COMPUTING_PAGE_VISITED_EVENT
