---
title: Become a Maker | Learn about Physical Computing
theme: responsive_full_width
---

%link{href: "/css/generated/design-system-pegasus.css", rel: "stylesheet"}
%link{href: "/css/generated/page/maker-styles.css", rel: "stylesheet"}

-# FontAwesome icons
- icon_microchip = "fa-solid fa-microchip"
- icon_hands_clapping = "fa-solid fa-hands-clapping"
- icon_face_smile = "fa-solid fa-face-smile"

%section.hero-banner-basic.overlay
  .wrapper.grid-container.justify-space-between.align-items-center.gap-4
    .text-wrapper
      %h1.white
        Become a Maker
      %p.body-two.white
        Explore your creativity with physical computing.
    %figure
      %img{src: "/images/maker/maker-banner-image.svg", alt: "", style: "width: 100%"}

%section
  .wrapper
    WHAT IS A MAKER

%section.bg-neutral-dark
  .wrapper
    ALAKSA

%section
  .wrapper
    GET STARTED

%section.bg-neutral-light
  .wrapper
    WHY

%section
  .wrapper
    CURRICULUM

%section.bg-neutral-light
  .wrapper
    CAREERS

%section.bg-neutral-light
  .wrapper
    CAREERS

%section
  .wrapper
    = view :subscribe_form, subscribe_form_section_title: hoc_s(:subscribe_form_section_title), subscribe_form_section_desc: hoc_s(:subscribe_form_section_desc_maker), form_height: "410px", form_src: "http://go.pardot.com/l/153401/2023-01-10/pqf2sr"

= view :section_divider_line

%section
  .wrapper
    ADDITIONAL RESOURCES

= view :analytics_event_log_helper, event_name: AnalyticsConstants::PHYSICAL_COMPUTING_PAGE_VISITED_EVENT
