---
title: Pick a Device
theme: responsive_full_width
---

%link{href: "/css/generated/design-system-pegasus.css", rel: "stylesheet"}

%section
  .wrapper
    %h1 Pick a device
    %p Creating Apps with Devices works with both the Circuit Playground and the micro:bit. Which device do you want to use with your classroom?
    = view :maker_devices, curriculum_link_cp: CDO.studio_url("/s/devices-2023?viewAs=Instructor"), curriculum_link_microbit: CDO.studio_url("/s/microbit-2023?viewAs=Instructor"), button_label: "Explore unit", aria_label_cp: "Explore the Creating Apps for Devices unit for the Circuit Playground device", aria_label_microbit: "Explore the Creating Apps for Devices unit for the micro:bit device"
