.carousel-wrapper
  %swiper-container.swiper-quotes{navigation: false, init: "false"}
    %swiper-slide.slide.with-image
      %img{src: "/images/ai/ai-quote-betia.png", alt: ""}
      .text-wrapper
        %p.quote-text=hoc_s(:ai_carousel_quote_02)
        %p.no-margin-bottom Betia Bentley <span>•</span> CS Discoveries Teacher
    %swiper-slide.slide.with-image
      %img{src: "/images/ai/ai-quote-seneca.png", alt: ""}
      .text-wrapper
        %p.quote-text=hoc_s(:ai_carousel_quote_01)
        %p.no-margin-bottom Seneca Hart <span>•</span> CS Discoveries Teacher
