---
http_interactions:
- request:
    method: post
    uri: https://safebrowsing.googleapis.com/v4/threatMatches:find?key=<SAFE_BROWSE_API_KEY>
    body:
      encoding: UTF-8
      string: '{"threatInfo":{"threatTypes":["THREAT_TYPE_UNSPECIFIED","MALWARE","SOCIAL_ENGINEERING","UNWANTED_SOFTWARE","POTENTIALLY_HARMFUL_APPLICATION"],"platformTypes":["ANY_PLATFORM"],"threatEntryTypes":["URL"],"threatEntries":[{"url":"http://testsafebrowsing.appspot.com/s/phishing.html"}]}}'
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "matches": [
            {
              "threatType": "SOCIAL_ENGINEERING",
              "platformType": "ANY_PLATFORM",
              "threat": {
                "url": "http://testsafebrowsing.appspot.com/s/phishing.html"
              },
              "cacheDuration": "300s",
              "threatEntryType": "URL"
            }
          ]
        }
  recorded_at: Sat, 02 Mar 2019 01:01:10 GMT
recorded_with: VCR 3.0.3
