---
http_interactions:
- request:
    method: post
    uri: https://safebrowsing.googleapis.com/v4/threatMatches:find?key=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"threatInfo":{"threatTypes":["THREAT_TYPE_UNSPECIFIED","MALWARE","SOCIAL_ENGINEERING","UNWANTED_SOFTWARE","POTENTIALLY_HARMFUL_APPLICATION"],"platformTypes":["ANY_PLATFORM"],"threatEntryTypes":["URL"],"threatEntries":[{"url":"https://code.org/"}]}}'
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: "{}\n"
  recorded_at: Tue, 19 Feb 2019 00:09:37 GMT
recorded_with: VCR 3.0.3
