---
title: Computer Science Beyond K-12
theme: responsive
---

%link{type: "text/css", href: "/css/learn-carousel.css", rel: "stylesheet"}
= view 'mobilecheck.js'

.solid-block-header
  Beyond K-12

Code.org does not make post secondary courses, but there are great options to
learn computer science at any age. Below are some we recommend. <br><br>

Additional resources and opportunities for recent high school graduates related to computer science education and careers can be found on our <a href="https://code.org/student/hsgrads">Beyond High School</a> page.

= view :learn_carousels, variation:'university'
