---
title: Computer Science Curriculum for University+
theme: responsive
---

%link{type: "text/css", href: "/css/learn-carousel.css", rel: "stylesheet"}
= view 'mobilecheck.js'

.solid-block-header
  Beyond K-12

Code.org does not make post secondary courses, but there are great options to 
learn computer science at any age. Here are some we recommend:

= view :learn_carousels, variation:'university'
