.danceLab {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.visualizationColumn {
  margin: 2px 5px;
}

.visualization {
  // TODO: support resizing
  width: 400px;
  height: 400px;
  background-color: var(--background-neutral-secondary);
  position: relative;
  border: 1px solid var(--borders-neutral-primary);
}

.workArea {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.instructionsArea {
  flex: 0;
  min-width: 25%;
}

.visualizationArea {
  flex: 0;
  background-color: var(--background-neutral-primary);
}

.workspaceArea {
  flex: 1;
}

.panelHeader {
  border-bottom: 1px solid var(--borders-neutral-primary);
}

.divider {
  width: 1px;
  height: 100%;
  background-color: var(--background-neutral-quaternary);
}

.controlsContainer {
  margin: 5px 0;
}

.verticalFlex {
  display: flex;
  flex-direction: column;
  flex: 0;
}

.loading {
  position: absolute;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100%;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.1s ease-in;
  background-color: white;

  &Show {
    opacity: 1;
  }

  .loadingGif {
    width: 100px;
    height: 100px;
  }
}
