$root: '/blockly/media/webapp/'; //TODO: Parameterize for asset pipeline

.droplet-palette-group-header.yellow {
  border-left:10px solid #e0e053;
}
.droplet-palette-group-header-selected.yellow {
  background-color: #e0e053;
}

#divWebapp {
  overflow: hidden;
  position: relative;
  z-index: 1;
  width: 400px;
  height: 400px;
  background-color: white;
}

#divWebapp canvas {
  position: absolute;
  overflow: hidden;
  top: 0px;
  left: 0px;
  z-index: -1;
}

.debug-console {
  dispay: block;
}

.debug-console * {
  font-family: monospace;
  font-size: 12px;
}

.debug-input-prompt {
  max-height: 0px;
  display: block;
}

.debug-input, .debug-output {
  width: 100%;
  border-width: 0px;
  padding: 0px;
  outline: none;
}

.debug-output {
  height: 100px;
  resize: none;
  margin-bottom: -4px;
  overflow: scroll;
}

.debug-input {
  max-height: 14px;
  background-color: white;
  text-indent: 14.5px;
  overflow: hidden;
}

/* Slider. */
.sliderContainer {
  float: left
}
.sliderTrack {
  stroke: #aaa;
  stroke-width: 6px;
  stroke-linecap: round;
}
.sliderKnob {
  fill: #ddd;
  stroke: #bbc;
  stroke-width: 1px;
  stroke-linejoin: round;
}
.sliderKnob:hover {
  fill: #eee;
}

#pauseButton {
  min-width: 111px;
  margin-right: 10px;
}

/* Sprited icons. */
.icon21 {
  height: 21px;
  width: 21px;
  background-image: url("#{$root}icons.png");
}
.code {
  background-position: -21px 0px;
}
.link {
  background-position: 0px 0px;
}
.run {
  background-position: 0px -21px;
  margin-right: 3px;
}
.stop {
  background-position: -21px -21px;
  margin-right: 3px;
}
.left-btn {
  background-position: -21px -42px;
  margin-right: 3px;
}
.right-btn {
  background-position: -21px -63px;
  margin-right: 3px;
}
.up-btn {
  background-position: 0px -63px;
  margin-right: 3px;
}
.down-btn {
  background-position: 0px -42px;
  margin-right: 3px;
}

button.arrow {
  border: 1px solid #FFA000;
  background-color: #FFA000;
  color: #fff;
  margin-left: 5px;
  margin-right: 0px;
  display: none;
}
button.arrow>img {
  opacity: 1;
  vertical-align: text-bottom;
}
button.arrow:focus {
  outline-style: none;
}
#soft-buttons {
  display: inline-block;
  vertical-align: top;
  margin-left: -5px;
  &.soft-buttons-none {
    display: none;
  }
}
.soft-buttons-1 {
  display: table-cell;
  vertical-align: top;
  min-width: 51px;
}
.soft-buttons-2 {
  display: table-cell;
  vertical-align: top;
  min-width: 102px;
}
.soft-buttons-3 {
  display: table-cell;
  vertical-align: top;
  min-width: 153px;
}
.soft-buttons-4 {
  display: table-cell;
  vertical-align: top;
  min-width: 204px;
}

#share-cell {
  display: inline-block;
  vertical-align: top;
  &.share-cell-none {
    display: none;
  }
}
