---
title: Poste Clicks
---

:css
  .truncate {
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    whitespace: nowrap;
  }

- if params[:name].blank?
  %h2
    Please select a message from
    %a{href: 'list'} this list
- else
  :ruby
    rows = DB.fetch("
    SELECT
      poste_urls.url as url,
      COUNT(poste_clicks.id) as clicks
    FROM poste_clicks
    LEFT JOIN poste_urls ON poste_urls.id = poste_clicks.url_id
    WHERE poste_clicks.message_id = (select id from poste_messages where name = '#{params[:name]}')
    GROUP BY poste_clicks.url_id
    ")

  %h2 Clicks on links in #{params[:name]}
  %table
    %tr
      %th Link
      %th Clicks
    - rows.each do |row|
      %tr
        %td
          .truncate
            %a{href: row[:url]}= row[:url]
        %td= row[:clicks]
