@use '../base.module.scss' as baseStyles;

.timeline {
  border-radius: baseStyles.$default-border-radius;
  background-size: 100% 200%;
  box-sizing: border-box;
  background-color: var(--neutral-base-black);
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  height: 100%;
  position: relative;

  &Playing {
    overflow-x: hidden;
  }

  .fullWidthOverlay {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  .measuresBackground {
    background-color: var(--neutral-gray-95);
    height: 26px;
    border-bottom: var(--lab-border-default);

    &Clickable {
      cursor: pointer;
    }
  }

  .barLineContainer {
    position: absolute;
    top: 0;
    width: 1px;
    height: 100%;

    .barNumber {
      margin: 0;
      padding: 0;
      position: absolute;
      top: 2px;
      left: 6px;
      color: var(--neutral-gray-20);

      &Current {
        color: var(--neutral-gray-5);
      }

      &Clickable {
        cursor: pointer;
      }
    }

    .barLine {
      position: absolute;
      top: 26px;
      bottom: 0;
      border-left: 1px var(--neutral-gray-50) solid;

      &Current {
        border-left-color: var(--neutral-gray-20);
      }
    }
  }

  .soundsArea {
    width: 0;
    height: 100%;

    .timelineElement {
      margin: 0;
      padding: 0;
      position: absolute;
      box-sizing: border-box;
      border-radius: 8px;
      border-width: 2px;
      border-style: solid;

      &:focus-visible {
        outline: 1px solid var(--neutral-base-white);
        outline-offset: 2px;
        border-radius: 0.375rem;
      }

      &Playing {
        box-shadow: 0 0 10px rgba(255 255 255 / 0.5);
      }

      &InsideRandom {
        border-color: #a1a1a1;
      }

      &SkipSound {
        background-color: #808080;
      }

      &BlockSelected {
        border-color: #fc3;
        border-width: 3px;
      }

      &Clickable {
        cursor: pointer;
      }

      &ThinBorder {
        border-width: 1px;
      }
    }

    .tracksContainer {
      display: flex;
      position: relative;
      flex-direction: column;
      margin-top: 20px;

      .trackRowContainer {
        display: flex;
        flex-direction: column;
        margin-bottom: 2px;

        .trackName {
          font-size: 12px;
          font-style: italic;
          padding-left: 2px;
        }

        .trackSoundsContainer {
          display: flex;
          flex-direction: row;
        }
      }
    }
  }

  .playhead {
    position: absolute;
    top: 0;
    width: 1px;
    height: 100%;
    border-left: 3px var(--neutral-gray-20) solid;

    &Playing {
      border-left: 3px yellow solid;
    }

    &Loop {
      border-left: 3px var(--brand-teal-50) solid;
    }
  }
}
