@use '../../lab2/views/components/layout/variables.scss' as variables;
@import '../../mixins.scss';

.headerContainer {
  height: 2.5rem;
  border-bottom: variables.$default-border;
}

.editorAndPreviewContainer {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
}
