.neighborhoodPreviewBackground {
  background: var(--background-neutral-black-fixed);
}

.sliderContainer {
  display: flex;
  justify-content: center;
  margin-top: 2px;
}

.slider {
  width: 200px;
}
