---
title: Curriculum for 6-8
---

%h1 Curriculum for 6-8

-content = Course.new("6-8")
-content.get_lessons.each do |lesson|
  %a{:href=>lesson.url}
    Lesson #{lesson.number}: #{lesson.title}
    %br
