---
title: Página não encontrada
view: none
nav: blank
rightbar: blank
---
%h1 A página solicitada não foi encontrada
%p{style: 'font-size: 1.5em; line-height: 1.5em;'} Verifique o endereço Web e tente novamente, ou escolha um link da lista abaixo.
%ul{style: 'font-size: 1.25em; line-height: 1.5em; min-height: 240px;'}
  %li<
    %a{href: '/learn'} Tutoriais para estudantes
  %li<
    %a{href: '/resources'} Recursos para o educador
  %li<
    %a{href: '/about'} Sobre a Hora do Código no Brasil e a Code.org
  %li<
    %a{href: '/about/partners'} Parceiros da Hora do Código no Brasil
