= render partial: 'levels/editors/fields/aichat_fields', locals: {f: f}
= render partial: 'levels/editors/fields/instructions_area', locals: {f: f}
= render partial: 'levels/editors/fields/audit_log', locals: {f: f}
