.field
  - level_type = ['anna', 'elsa'].include?(@level.skin) ? 'frozen' : 'artist'
  = render partial: 'levels/editors/fields/encrypted_examples', locals: {f: f, level_type: level_type}

= render partial: 'levels/editors/fields/artist_editors', locals: {f: f}
