%legend.control-legend.collapsed{data: {toggle: "collapse", target: "#instructions_area"}}
  Code Area

#instructions_area.in.collapse
  = render partial: 'levels/editors/droplet', locals: {f: f} if @level.uses_droplet?
  = render partial: 'levels/editors/blockly', locals: {f: f} if !(@level.uses_droplet?) && @level.is_a?(Blockly)
