.field
  = f.label 'concepts'
  %p
    Select
    %a.select_all{href: '#'} all
    \/
    %a.select_none{href: '#'} none
    (shift-click or cmd-click to select multiple).
  = f.collection_select :concept_ids, Concept.cached, :id, :name, { :selected => @level.concept_ids }, { :multiple => true, :name => 'level[concept_ids][]', :size => Concept.cached.length }
:javascript
  function make_selection_handler(flag) {
    return function (e) {
      e.preventDefault();
      $(this).parent().siblings('select').children('option')[flag ? 'attr' : 'removeAttr']('selected', true);
    }
  }
  $('.select_all').click(make_selection_handler(true));
  $('.select_none').click(make_selection_handler(false));
