.field
  = f.label :reference, 'Curriculum Reference'
  %p
    String representing the URL on studio.code.org/docs or studio.code.org/curriculum that you want to embed,
    i.e. "/docs/csd/maker_leds/index.html" or "/curriculum/csd/index.html"
  = f.text_field :reference, placeholder: 'i.e /docs/csd/maker_leds/index.html', style: 'width: 100%'

= render partial: 'levels/editors/fields/teacher_only_markdown', locals: {f: f}
= render partial: 'levels/editors/fields/audit_log', locals: {f: f}
