.field
  = f.label :reference, 'Curriculum Reference'
  %p String representing the URL on docs.code.org you want to embed, i.e. "/csd/maker_leds/index.html"
  = f.text_field :reference, placeholder: 'i.e /csd/maker_leds/index.html', style: 'width: 100%'
