:css
  textarea { width: 100% }
- if @filename
  = "Filename: #{@filename}"
.script_text
  - cols = @dsl_file ? @dsl_file.lines.max_by(&:length).length : 20
  - rows = @dsl_file ? @dsl_file.lines.count + 1 : 10
  = text_area_tag('level[dsl_text]', @dsl_file || (@level.dsl_default), rows: rows, cols: cols, style: 'width:500px')

- if [ContractMatch, Match, Multi, TextMatch, External].include? @level.class
  %p Markdown Editor

  %textarea#level_markdown_textarea
  #markdown-preview

  = javascript_include_tag 'editor/embedded_markdown_editor'
  :javascript
    dashboard.initializeEmbeddedMarkdownEditor(
      $('#level_dsl_text'),
      'markdown_textarea',
      $('#markdown-preview'));
