.field
  = f.label :markdown_instructions
  %p When specified, this will render as the full in place of the instructions on the popup.
  %p Note: since markdown instructions do not get translated, do not use outside of middle school, high school and PD.
  = f.text_area :markdown_instructions, placeholder: 'Markdown Instructions', rows: 4
  #markdown-instructions-preview

%script{src: '/blockly/js/marked/marked.js', type: 'text/javascript'}
:javascript
  var mdEditor = codeMirror('markdown_instructions', 'markdown', function (editor, change) {
    $('#markdown-instructions-preview').html(marked(editor.getValue()));
  });
  inlineAttach.attachToCodeMirror(mdEditor, {
    uploadUrl: '/level_assets/upload',
    uploadFieldName: 'file',
    downloadFieldName: 'newAssetUrl',
    allowedTypes: [ 'image/jpeg', 'image/png', 'image/jpg', 'image/gif' ],
    progressText: '![Uploading file...]()',
    urlText: "![]({filename})", // `{filename}` tag gets replaced with URL
    errorText: "Error uploading file",
    extraHeaders: {
      'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
    }
  });
