= render partial: 'levels/editors/fields/music_level_data', locals: {f: f}
= render partial: 'levels/editors/fields/sharing', locals: {f: f}
= render partial: 'levels/editors/fields/audit_log', locals: {f: f}
= render partial: 'levels/editors/fields/validations', locals: {f: f}
