= render partial: 'levels/editors/fields/bubble_choice_sublevel', locals: {f: f}
= render partial: 'levels/editors/fields/callouts', locals: {f: f}
= render partial: 'levels/editors/fields/audit_log', locals: {f: f}
