= render partial: 'levels/editors/fields/panels', locals: {f: f}
= render partial: 'levels/editors/fields/browser_tts', locals: {f: f}
= render partial: 'levels/editors/fields/audit_log', locals: {f: f}
