.field
  = f.label :script
  %p Which script to link to. Completing this script will mark this level as complete.
  = f.select :script_id, options_for_select(Script.all.pluck(:name, :id), @level.script_id)
