= render partial: 'levels/editors/fields/debugger', locals: {f: f}

= render partial: 'levels/editors/fields/control_buttons', locals: {f: f}

= render partial: 'levels/editors/fields/animation', locals: {f: f}

= render partial: 'levels/editors/fields/encrypted_examples', locals: {f: f, level_type: 'spritelab'}

:javascript
  window.toggleBlock = function (elementId) {
    var element = document.getElementById(elementId);
    if (element) {
      element.style.display = element.style.display === 'none' ? 'block' : 'none';
    }
  };
