- content_for(:head) do
  %script{src: webpack_asset_path('js/levels/editors/_studio.js')}

= render partial: 'levels/editors/fields/encrypted_examples', locals: {f: f, level_type: 'playlab'}
= render partial: 'levels/editors/fields/control_buttons', locals: {f: f}

= render partial: 'levels/editors/fields/studio_editors', locals: {f: f}

= render partial: 'levels/editors/cs_in_a', locals: {f: f}
