:scss
  .field.teacher-only-markdown {
    border: 5px solid gray;
    border-radius: 5px;
    padding: 10px;
  }

.field.teacher-only-markdown
  %p Edit Teacher Only Markdown (visible only to authorized teachers):
  = f.text_area 'teacher_markdown', placeholder: 'Enter teacher only markdown here', rows: 4, value: @level.teacher_markdown or ''
  #level_teacher_markdown_preview
  :javascript
    levelbuilder.initializeCodeMirror('level_teacher_markdown', 'markdown');
