.field
  = f.label :dictionary, 'Dictionary'
  %p Default text for the dictionary.
  = f.text_area :dictionary, rows: 7
.field
  = f.label :poems, 'Custom poems'
  - 3.times do
    = text_area_tag 'level[poems][]', nil, rows: 4
