= render partial: 'levels/editors/fields/long_instructions', locals: {f: f}

= render partial: 'levels/editors/fields/weblab2_fields', locals: {f: f}

= render partial: 'levels/editors/fields/audit_log', locals: {f: f}
