%legend.control-legend.collapsed{data: {toggle: "collapse", target: "#instructions_area"}}
  Code Area

#instructions_area.in.collapse
  = f.label :start_sources, 'Starting sources'
  = f.text_area :start_sources, placeholder: 'Starting sources', rows: 40, class: "input-block-level", value: @level.start_sources

= render partial: 'levels/editors/fields/encrypted_examples', locals: {f: f, level_type: 'weblab'}

