---
title: Página no encontrada
view: none
nav: blank
rightbar: blank
---
%h1 No existe la página solicitada
%p{style: 'font-size: 1.5em; line-height: 1.5em;'} Revisá la dirección o usá uno los siguientes enlaces:
%ul{style: 'font-size: 1.25em; line-height: 1.5em; min-height: 240px;'}
  %li<
    %a{href: '/learn'} Tutoriales para estudiantes 
  %li<
    %a{href: '/resources'} Recursos para educadores
  %li<
    %a{href: '/about'} Sobre La Hora del Código, Program.AR y Code.org
  %li<
    %a{href: '/about/partners'} Partners de La Hora del Código
