#learn-tabs.desktop-feature
  .content
    %ul.nav.nav-tabs
      %li{:class=>(request.path_info == '/learn') ? 'active tab' : 'tab'}<
        %a{:href=>'/learn'} Particip치 de la Hora del C칩digo
      %li{:class=>(request.path_info == '/learn/beyond') ? 'active tab' : 'tab'}<
        %a{:href=>'/learn/beyond'} M치s all치 de una hora
      %li{:class=>(request.path_info == '/learn/educators') ? 'active tab' : 'tab'}<
        %a{:href=>'/learn/educators'} Educadores
