<div><span>Instructions: </span><textarea type="text" name="instructions"></textarea></div>
<div><span>Level Name: </span><textarea type="text" name="level_name"></textarea></div>
<button id="create-level-button" class="launch">
  Create Level
</button>
<div id="builder-error"></div>
