<p id="share-fail-explanation"><%= shareFailure.message %></p>

<% if (shareFailure.contents) { %>
  <div class="share-fail-excerpt">
    <pre class="generatedCode"><%= shareFailure.contents %></pre>
  </div>
<% } %>
