#thanks
  %h1 Thank you for submitting your post-course survey.
  %p
    If you have other feedback you’d like to share with Code.org, please email
    = mail_to('teacher@code.org', 'teacher@code.org') + '.'
