.container {
  background-color: var(--brand-aqua-10);
  border-color: var(--brand-aqua-80);
  border-radius: 5px;
  border-style: solid;
  border-width: 5px;
  margin: 20px;
}

.content: {
  padding: 10;
}
