<%
  var msg = window.blockly.eval_locale;
  var commonMsg = window.blockly.locale;
%>

<button id="continueButton" class="launch hide float-right">
  <img src="<%= assetUrl('media/1x1.gif') %>"><%= commonMsg.continue() %>
</button>
