
<form method="post">
    <h2>
    Gatekeeper Config
    </h2>

    <%= text_area_tag "gk_yaml", JSON.pretty_generate(@gk_json), rows: 30, style: "width: 500px" %>

    <h2>
      DCDO Config
    </h2>

    <%= text_area_tag "dcdo_yaml", JSON.pretty_generate(@dcdo_json), rows: 10, cols: 80 %>

    <button type="submit">
      Update
    </button>
</form>