%div.flex-container.justify-space-between.align-items-center
  %figure.col-50
    = view :video_with_fallback, video_code: "Ok-xpKjKp2g", download_path: "//videos.code.org/ai_series/ai-01-intro-to-ai.mp4"
    %figcaption.no-margin-bottom
      =hoc_s(:ai_vid_intro_caption)
  .text-wrapper.col-45{style: "float: right"}
    %h3=hoc_s(:resources_tabs_videos_heading)
    %p
      %strong
        =hoc_s(:resources_tabs_videos_subhead)
    %p.body-three
      =hoc_s(:resources_tabs_videos_desc)
    %a.link-button{href: "https://www.youtube.com/channel/UCJyEBMU1xVP2be1-AoGS1BA", target: "_blank", rel: "noopener noreferrer"}
      =hoc_s(:call_to_action_resources_videos)
