%div.flex-container.justify-space-between.align-items-center
  %figure.col-50
    %img.rounded-corners{src: "/images/resources-tabs-assessments.png", alt: "", style: "position: relative; width: 100%;"}
  .text-wrapper.col-45{style: "float: right"}
    %h3=hoc_s(:resources_tabs_tab_label_assessments)
    %p
      %strong
        =hoc_s(:resources_tabs_assessments_subhead)
    %p.body-three
      =hoc_s(:resources_tabs_assessments_desc)
    %a.link-button{href: CDO.studio_url("/s/csd1-2023/lessons/8"), target: "_blank", rel: "noopener noreferrer"}
      =hoc_s(:call_to_action_resources_assessments)
