%div.flex-container.justify-space-between.align-items-center
  %figure.col-50
    %img.rounded-corners{src: "/images/resources-tabs-lesson-plan.gif", alt: "", style: "position: relative; width: 100%;"}
  .text-wrapper.col-45{style: "float: right"}
    %h3=hoc_s(:resources_tabs_tab_label_lesson_plans)
    %p
      %strong
        =hoc_s(:resources_tabs_lesson_plans_subhead)
    %p.body-three
      =hoc_s(:resources_tabs_lesson_plans_desc)
    %a.link-button{href: CDO.studio_url("/s/csd3-2023/lessons/1"), target: "_blank", rel: "noopener noreferrer"}
      =hoc_s(:call_to_action_resources_lesson_plan)
