@import 'color.scss';

.section,
%section {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.dropdown {
  width: 180px;
}

.packSectionSelected {
  font-weight: bold;
}

.packSectionEmpty {
  color: $neutral_dark60;
}

.indentedContainer {
  margin-left: 20px;
}

.textarea {
  width: 100%;
  box-sizing: border-box;
  height: 200px;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
}

.noMargin {
  margin: 0;
}

.renderedJson {
  white-space: pre;
  font-family: monospace;
  padding: 8px;
  background-color: $neutral_gray10;
  border-radius: 4px;
}

.topSpacing {
  margin-top: 16px;
}

.checkboxColumn {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.checkboxRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;

  > label {
    margin: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.tooltip {
  animation: fade-in 0.3s;
}

.configSection {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.verticalFlex {
  display: flex;
  flex-direction: column;
}

.horizontalFlex {
  display: flex;
  flex-direction: row;
}

.gapMedium {
  gap: 16px;
}

.gapLarge {
  gap: 36px;
}

.flexAll {
  flex: 1;
}

.previewWorkspaceContainer {
  // Prevent interaction with the workspace preview
  pointer-events: none;
  width: 100%;
  min-height: 500px;
}

.infoPanel {
  padding: 16px;
  background-color: $neutral_light;
  border-radius: 4px;
  margin-bottom: 32px;
}
