.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-left: 20px;
}

.checkbox {
  > label {
    margin: 0;
  }
}
