@import "color";
@import "@cdo/apps/componentLibrary/common/styles/mixins";

// Link common styles
.link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  &-primary {
    color: $light_secondary_500;

    &:hover, :active {
      color: $light_secondary_700;
    }
  }

  &-secondary {
    color: $light_black;

    &:hover, :active {
      color: $light_gray_800;
    }
  }

  &[aria-disabled="true"] {
    cursor: not-allowed;
    color: $light_gray_300;
  }
}

// Sizes
.link-l {
  @include link-body-one;
}

.link-m {
  @include link-body-two;
}

.link-s {
  @include link-body-three;
}

.link-xs {
  @include link-body-four;
}