- require 'geocoder'
- location = Geocoder.search(@teacher.current_sign_in_ip).try(:first)
- us_ip = location.nil? || ['US', 'RD'].include?(location.country_code.to_s.upcase)

%p
  Hello #{@teacher.name}, and welcome to Code.org! We’re here to help you get started.
%h3
  Step 1: Choose a course
%p
  On Code.org,
  %a{href:"https://studio.code.org/courses?view=teacher"}you’ll find courses for all grade levels
  \- from pre-readers to seniors in high school, and everyone in between. All our courses
  are available at no cost. Looking for a quick activity? Try starting with an Hour of Code.
%h3
  Step 2: Set up your classroom section
%p
  %a{href:"https://studio.code.org/home"}Set up a classroom section
  to view your student’s progress, print login cards for your students, manage their accounts,
  and print certificates they can bring home when they finish the course.
%h3
  Step 3: Start teaching
%p
  Try out one of the lessons yourself! We also have daily lesson plans you can use to guide
  your students, unplugged activities for your class you can do without a computer, and forums
  to connect to other teachers.

%a{href:"https://studio.code.org/home", style: 'width: 180px; height: 36px; border: 0; color: white; background-color: #FDC62C; font: bolder 18px Arial; display: block; text-align: center; line-height: 36px; text-decoration: none; border-radius: 5px;'}
  Get started here

- if us_ip
  %h3
    New to teaching computer science?
  %p
    We provide high-quality professional learning workshops for educators, led
    by experienced Code.org facilitators in locations across the US. We've prepared tens of thousands of
    new teachers to teach CS across grades K-12.
    %a{href:"https://code.org/educate/professional-learning"}Find a professional development workshop near you.

%h3
  Still have questions? Check out our
  %a{href:"https://support.code.org/hc/en-us/sections/115000120211-Getting-started-on-Code-org"}
    Getting Started guide
  or reach out to
  %a{href:"mailto:support@code.org"}support@code.org
%p
  = link_to('Six different studies show', 'https://medium.com/@codeorg/cs-helps-students-outperform-in-school-college-and-workplace-66dd64a69536') + ":"
  children who study computer science perform better in other subjects,
  excel at problem solving,
  and are 17% more likely to attend college.
  You’re part of a movement of over 750,000 teachers and over 25 million students that have used
  Code.org globally, making it the most broadly used coding education platform and computer science
  curriculum in K-12. Thank you for all you do to give our children the opportunity to build their future.

%p
  Best,
%p
  Hadi Partovi
  %br
  Founder, Code.org

%p
  P.S. If you enjoy Code.org, you can support us for free:

%p
  (1)
  = get_random_donor_email_message.html_safe
  %br
  (2) If you shop at Amazon,
  %a{href: "https://code.org/donate/amazonsmile"}use Amazon Smile
  to donate proceeds to Code.org.
