%p
  Hola #{@teacher.name}, y bienvenidos a Code.org! Estamos aquí para ayudarte a empezar.

%h3
  Paso 1: Elige un curso
%p
  En Code.org
  %a{href: "https://studio.code.org/courses?view=teacher"} encontrarás cursos para cada grado
  escolar, desde prelectores hasta estudiantes del último año de secundaria. Todos nuestros
  cursos son gratuitos. ¿Buscas una actividad rápida? Intenta comenzar con una
  %a{href: "https://hourofcode.com/"} Hora de Código.

%h3
  Paso 2: Configura la sección de tu aula
%p
  %a{href: "https://studio.code.org/home"} Configura una sección de aula
  para ver el progreso de tus estudiantes, imprimir tarjetas de inicio de sesión para los
  estudiantes, administrar las cuentas e imprimir certificados que pueden llevar a casa cuando
  terminen el curso.

%h3
  Paso 3: Empieza a enseñar
%p
  ¡Prueba una de las lecciones por ti mismo! También tenemos planes de lecciones diarias que
  puedes usar para guiar a tus estudiantes, actividades desconectadas que se pueden realizar sin
  computadoras, y foros para conectarse con otros docentes.

%a{href: "https://studio.code.org/home", style: 'width: 180px; height: 36px; border: 0; color: white; background-color: #FDC62C; font: bolder 18px Arial; display: block; text-align: center; line-height: 36px; text-decoration: none; border-radius: 5px;'}
  Empieza aquí

%h3
  ¿Todavía tienes preguntas?
%p
  Consulta nuestra
  %a{href: "https://support.code.org/hc/en-us/sections/115000120211-Getting-started-on-Code-org"} guía de introducción
  o comunícate con
  %a{href: "mailto:support@code.org"} support@code.org.

%h3
  ¡Únete al movimiento!
%p
  Síguenos
  %a{href: "https://twitter.com/codeorg"}en Twitter,
  %a{href: "https://www.instagram.com/codeorg"} en Instagram,
  %a{href: "https://www.facebook.com/Code.org"} en Facebook
  o
  %a{href: "https://www.linkedin.com/company/code-org"} en LinkedIn.
  Únete a un movimiento de más de 2 millones de docentes y más de 55 millones de estudiantes
  que han utilizado Code.org alrededor de todo el mundo. Esto hace a Code.org la plataforma de
  educación de  programación y el proveedor de planes de estudio de ciencias de la
  computación más popular en las escuelas primaria y secundaria.
%p
  %a{href: "https://medium.com/@codeorg/cs-helps-students-outperform-in-school-college-and-workplace-66dd64a69536"} Seis estudios diferentes muestran
  que: los estudiantes que estudian ciencias de la computación se desempeñan mejor en otras
  materias, sobresalen en la resolución de problemas, y un 17% es más probable que ingrese a la
  universidad. Gracias por todo el trabajo que haces para apoyar a los y las estudiantes en
  construir sus futuros.

%p
  Saludos,
%p
  Hadi Partovi
  %br
  Fundador, Code.org

%p
  PD Si disfrutas de Code.org, puedes apoyarnos de manera gratuita:
%p
  (1)
  - donor = get_random_donor_name_and_twitter
  - tweet = "¡Acabo de registrarme para enseñar ciencias de la computación con Code.org! Gracias a #{donor[:twitter]} por apoyar a @codeorg."
  %a{href: "https://twitter.com/intent/tweet?text=#{tweet}"} Envía un mensaje de agradecimiento
  a #{donor[:name]}, uno de nuestros donantes.
  %br

  (2) Si compras en Amazon,
  %a{href: "https://code.org/donate/amazonsmile"} usa Amazon Smile
  y Amazon donará un porcentaje de tu compra a Code.org.
