%p
  Congratulations! You are now a verified teacher on Code.org. You now have access to Code.org's protected teacher materials - here's what to expect:

%p
  %strong
    🔑 Exclusive Resources for Verified Teachers:
  %ul
    %li Protected teacher materials
    %li Answer keys and example solutions help illustrate learning objectives
    %li Powerful assessment tools
      %ul
        %li View student assessment and survey results to see how your students are doing
        %li Leave feedback directly on student code to keep them focused on improvement
    %li Access to our
      %a{href: "http://forum.code.org/"} teacher forum
      %ul
        %li Connect with fellow educators and get teaching tips from our vibrant community
    %li Our
      %a{href: "https://code.org/curriculum/csa"} new AP Computer Science A course
      %ul
        %li A new approach to AP CS A, featuring culturally responsive pedagogy, open-ended projects for personalized learning, and our student-friendly code review tool

%p
  %strong
    📚 Where to Find Protected Materials:
  %ul
    %li
      %strong In
      %a{href: "https://support.code.org/hc/en-us/articles/115001595051-Finding-curriculum-and-lesson-plans"} lesson plans:
      %ul
        %li Look for teaching tips throughout
        %li Look for example solutions and answer keys on the right side
    %li
      %strong In levels within courses:
      %ul
        %li Look for a blue "Answer" or "For Teachers Only" box
        %img{src: CDO.studio_url(image_url('teacher-verification/screenshot-teachers-only-answer.png')), alt: '', style: 'display: block; width: 600px;'}
        %li Look for the "Teachers Only" tab on levels with an instructions area
        %img{src: CDO.studio_url(image_url('teacher-verification/screenshot-teachers-only-tab.png')), alt: '', style: 'display: block; width: 600px'}

%p
  Questions? Ask in the
  %a{href: "http://forum.code.org/"} teacher forum,
  or reach us at
  %a{href: "mailto:support@code.org"} support@code.org.

%p
  Happy teaching!

%p
  \-The Code.org Team