%p
  Hi,

%p
  I wanted to let you know that you were just granted access to the protected
  teacher materials on Studio.Code.org for this email address, including access
  to the new CSA course. Before you start, we want to make sure you know what's
  available to you with our curriculum.
%p
  The lesson plans are a critical tool for planning and accessing resources.
  You can access the lesson plan by clicking the blue "View Lesson Plan"
  button next to each lesson on studio.code.org.

%img{src: CDO.studio_url(image_url('teacher-verification/screenshot-lesson-1.png')), alt: '', style: 'width: 600px;'}

%ul
  %li
    The lesson plan describes actions you will do as a teacher during the
    lesson and includes links to documents and resources you might use during
    the lesson. Frequently the lesson plan describes other activities or tasks
    students will do off the computer as you lead the lesson

%p
  As a "verified teacher" you will also have access to protected teacher
  materials which you will find on lesson plans and level pages. In the lesson
  plan you will find all resources listed in the right hand column of the
  lesson plan including resources only available to verified teachers. Verified
  teacher materials on levels will be found in one of two places:

%ol
  %li
    In a blue "Answer" or "For Teachers Only" box
    %img{src: CDO.studio_url(image_url('teacher-verification/screenshot-teachers-only-answer.png')), alt: '', style: 'display: block; width: 600px;'}

  %li
    In the  "Teachers Only" tab on levels with an instructions area
    %img{src: CDO.studio_url(image_url('teacher-verification/screenshot-teachers-only-tab.png')), alt: '', style: 'display: block; width: 600px'}

%p
  As a verified teacher, you can also access the Teacher Lounge sections of the
  forum for CS Principles and CS Discoveries, which are teacher-only spaces to
  share resources or see how other teachers implement certain lessons.
%p
  As you get started, make sure you are signed into Code.org using the same
  email address you are receiving this message at - this can be checked from
  your Account Settings page, which states what email address you are signed in
  with. As a verified teacher you should see a green check mark on your Account
  Settings page as well.

%img{src: CDO.studio_url(image_url('teacher-verification/screenshot-verified-teacher-check.png')), alt: '', style: 'width: 600px;'}

%p
  We hope you enjoy teaching with our materials! If you have any questions,
  please visit forum.code.org to get answers from our moderated virtual
  community.

%p
  \-The Code.org Team
