%select{:onchange=>"setLanguageCookie(this.value); location.reload(true);", :style=>'color: black'}
  -DB[:cdo_languages].where(supported_codeorg_b: 1).each do |i|
    -selected = request.language == i[:code_s]
    %option{value:i[:code_s], selected:selected}= i[:native_name_s]

:javascript
  function setLanguageCookie(value)
  {
    var c_name = 'language_';
    var exdays = 5000;
    var date = new Date();
    date.setTime(date.getTime()+(exdays*60*60*24*1000));
    var c_value=escape(value) + ((exdays==null) ? "" : "; expires=" + date.toGMTString());
    var domainName = "#{request.site}";
    c_value += "; domain=." + escape(domainName) + "; path=/";
    document.cookie=c_name + "=" + c_value;
  }
