#learn-tabs.desktop-feature
  .content
    %ul.nav.nav-tabs
      %li{:class=>(path == '/learn') ? 'active tab' : 'tab'}<
        %a{:href=>'/learn'} Learn an Hour of Code
      %li{:class=>(path == '/learn/beyond') ? 'active tab' : 'tab'}<
        %a{:href=>'/learn/beyond'} Beyond One Hour
      %li{:class=>(path == '/learn/local') ? 'active tab' : 'tab'}<
        %a{:href=>'/learn/local'} Find Local Schools + Camps
