-#
-# an utra-simple mobile footer
-#

%footer#pagefooter
  .content{:style=>'width:100%'}
    .left{:style=>'float:left'}
      =text
    .right{:style=>'float:right'}
      =partial("language", :host=>request.host)
