.share-buttons.clear
  %a.window-popup{:href=>"https://www.facebook.com/sharer/sharer.php?#{facebook.to_query}"}<
    %button.button-color-share.share-button-facebook<
      %i{:class=>"fa fa-facebook"}<
      =I18n.t(:share_on_facebook)
  %a.window-popup{:href=>"https://twitter.com/share?#{twitter.to_query}"}<
    %button.button-color-share.share-button-twitter<
      %i{:class=>"fa fa-twitter"}<
      =I18n.t(:share_on_twitter)
  -unless download_url.nil_or_empty?
    %a.desktop-feature{:href=>download_url, :style=>'padding-left:10px'}
      %img{:src=>"/images/download.png", :width=>"35px", :style=>'margin-top:10px'}
