---
title: High School Curricula
theme: responsive_full_width
---

%link{href: "/css/generated/design-system-pegasus.css", rel: "stylesheet"}
%link{href: "/css/generated/page/school-curricula.css", rel: "stylesheet"}

%section
  .wrapper
    %h1
      =hoc_s(:curricula_title_high)
    %p.video-101__text=hoc_s(:curricula_desc_high)
    = view :high_school_curricula_video

%section.bg-neutral-light
  .wrapper
    = view :curriculum_pages_additional_resources, is_elementary_page: false

= view :analytics_event_log_helper, event_name: AnalyticsConstants::HIGH_SCHOOL_CURRICULUM_PAGE_VISITED_EVENT
