#about_nav{:style=>'width:140px;'}
  %span.about_list
    -current_url = request.path_info
    -{ 'About CSEdWeek'=>'/about','Partners'=>'/about/partners','News'=>'/about/news','Contact Us'=>'/contact' }.each_pair do |label,url|
      - if current_url == url
        %span.about_list_item_selected= label
      -else
        %a.about_list_item{:href=>url}= label
      %hr.narrow_hr
