#about_nav
  %span.about_list
    -current_url = request.path_info
    -{ 'Educator resources'=>'/educate','Hour of Code'=>'/educate/hoc','3rd party'=>'/educate/3rdparty','Inspire students'=>'/educate/inspire'}.each_pair do |label,url|
      - if current_url == url
        %span.about_list_item_selected= label
      -else
        %a.about_list_item{:href=>url}= label
      %hr.narrow_hr
