#about_nav
  %span.about_list
    -current_url = request.path_info
    -{ 'Map' => '/events', 'All Events'=>'/events/events', 'Classrooms'=>'/events/classrooms', 'Whole Schools'=>'/events/schools', 'Special Events'=>'/events/special', }.each_pair do |label,url|
      - if current_url == url
        %span.about_list_item_selected= label
      -else
        %a.about_list_item{:href=>url}= label
      %hr.narrow_hr
