
%div{}
  %div{:style=>'float:left; padding: 20px; width: 90px'}
    %img{:src=>'/images/01.png'}

  %div{:style=>'float:left; padding: 0px; width: 800px'}
    %h2 Spread the word
    Please talk about Hour of Code on Facebook, Twitter, or other social media.
    %p
    %a{:href=>'https://www.facebook.com/sharer.php?u=http://csedweek.org/', :target=>'_blank'}
      %button{:class=>'btn btn-primary', :style=>'width:180px'} Share on Facebook
    %p
    %a{:href=>'https://twitter.com/share?url=http%3A%2F%2Fcsedweek.org/&related=codeorg&hashtags=hourofcode&text=I%27m%20taking%20the%20Hour%20of%20Code.%20Are%20you%3F%20@codeorg', :target=>'_blank'}
      %button{:class=>'btn btn-info'} Share on Twitter

%div{:style=>'clear:both'}
  %div{:style=>'float:left; padding: 20px; width: 90px'}
    %img{:src=>'/images/02.png'}

  %div{:style=>'float:left; padding: 0px; width: 800px'}
    %h2 Ask your school to offer an Hour of Code
    %a{:href=>'mailto:teacher@school.edu?subject=An%20Hour%20of%20Code%20for%20every%20student%3F&body=Dear%20Educator%2FTeacher%2C%0A%0AWe%20live%20in%20a%20world%20surrounded%20by%20technology.%20But%20only%20a%20tiny%20fraction%20of%20students%20learn%20how%20computers%20work%2C%20or%20how%20to%20create%20software%20technology.%20Computer%20Science%20provides%20a%20foundation%20for%20virtually%20any%20career%20and%20all%20our%20students%20can%20benefit%20from%20learning%20the%20basics.%20%0A%0AThis%20year%2C%20for%20Computer%20Science%20Education%20Week%2C%20a%20massive%20campaign%20called%20the%20Hour%20of%20Code%20is%20introducing%2010%20million%20students%20to%20try%20one%20hour%20of%20introductory%20computer%20science.%0A%0AI%E2%80%99d%20like%20your%20help%20bringing%20this%20campaign%20to%20our%20school%2C%20so%20my%20student%20can%20participate.%20%0A%0AYou%20can%20learn%20more%20about%20this%20by%20reading%20the%20handout%20at%20http%3A%2F%2Fbit.ly%2Fforschools%0A%0APlease%20see%20http%3A%2F%2Fhourofcode.org%2C%20and%20sign%20up%20to%20participate!%0A%0ASincerely%2C%20%0A%0A%5Ba%20parent%5D'} Send this email 
    to your teacher, the principal, or the PTA. Or give them 
    %a{:href=>'/files/Hour-of-Code-Handout-for-Schools.pdf'} this handout.

%div{:style=>'clear:both'}
  %div{:style=>'float:left; padding: 20px; width: 90px'}
    %img{:src=>'/images/03.png'}

  %div{:style=>'float:left; padding: 0px; width: 800px'}
    %h2 Ask your employer to promote the Hour of Code
    %a{:href=>'mailto:manager@mycompany.com?subject=The%20Hour%20of%20Code%20campaign&body=Dear%20Manager%2C%0A%0AWe%20live%20in%20a%20world%20surrounded%20by%20technology.%20But%20only%20a%20tiny%20fraction%20of%20us%20ever%20learn%20how%20computers%20work%2C%20or%20how%20to%20create%20software%20technology.%20Computer%20Science%20provides%20a%20foundation%20for%20virtually%20any%20career%20and%20our%20entire%20population%20can%20benefit%20from%20learning%20the%20basics.%20%0A%0AThis%20year%2C%20for%20Computer%20Science%20Education%20Week%2C%20a%20massive%20campaign%20called%20the%20Hour%20of%20Code%20is%20introducing%2010%20million%20participants%20to%20try%20one%20hour%20of%20introductory%20computer%20science.%0A%0AI%E2%80%99d%20like%20your%20help%20bringing%20this%20campaign%20to%20our%20organization%2C%20for%20employees%20to%20participate%2C%20or%20to%20recruit%20our%20children%E2%80%99s%20schools%20to%20do%20so%20too.%20%0A%0AYou%20can%20learn%20more%20about%20this%20by%20reading%20the%20handout%20at%20http%3A%2F%2Fbit.ly%2Femployeescode%0A%0APlease%20see%20http%3A%2F%2Fhourofcode.org%2C%20and%20sign%20up%20to%20participate!%0A%0ASincerely%2C%20%0A%0A%5Byour%20humble%20employee%5D'} Send this email 
    to your manager, or the CEO. Or give them 
    %a{:href=>'/files/handout-for-employers.pdf'} this handout.


%div{:style=>'clear:both'}
  %div{:style=>'float:left; padding: 20px; width: 90px'}
    %img{:src=>'/images/04.png'}

  %div{:style=>'float:left; padding: 0px; width: 800px'}
    %h2 Promote Hour of Code within your community
    Use 
    %a{:href=>'/files/handout-for-local-organizations.pdf'} this handout
    to recruit a local group - boy scouts club, church, university, veterans group, or labor union. Or host an Hour of Code "block party" for your neighborhood. 


%div{:style=>'clear:both'}
  %div{:style=>'float:left; padding: 20px; width: 90px'}
    %img{:src=>'/images/05.png'}

  %div{:style=>'float:left; padding: 0px; width: 800px'}
    %h2 Ask a local elected official to support Computer Science Education Week
    %a{:href=>'mailto:politician@yourcommunity.gov?subject=Please%20support%20Computer%20Science%20Education%20Week&body=I%E2%80%99m%20participating%20in%20an%20exciting%20event%20for%20Computer%20Science%20Education%20Week%20(December%208%20to%2014)%20called%20Hour%20of%20Code.%20This%20event%20will%20be%20the%20first%20chance%20for%20millions%20of%20students%20from%20across%20the%20country%20to%20get%20their%20first%20taste%20of%20computer%20science%20education%20--%20a%20field%20that%20is%20now%20fundamental%20to%20all%20occupations%20in%20the%2021st%20century%20and%20one%20where%20high-paying%20jobs%20are%20growing%20rapidly.%20I%20want%20to%20get%20your%20support%20for%20this%20event%20as%20well.%0A%0AThere%20are%20four%20simple%20ways%20you%20can%20help%20promote%20computer%20science%20education%20and%20the%20Hour%20of%20Code%3A%0A%0A1)%20Issue%20a%20proclamation%20recognizing%20CSEdWeek%20and%20urging%20your%20constituents%20to%20participate%20in%20the%20Hour%20of%20Code.%0A%0A2)%20Host%20an%20Hour%20of%20Code%20celebration%20at%20a%20local%20school%20and%20have%20a%20student%20or%20teacher%20teach%20YOU%20how%20to%20code.%0A%0A3)%20Write%20an%20op-ed%20that%20supports%20more%20access%20to%20computer%20science%20education.%0A%0A4)%20Promote%20this%20on%20your%20social%20media%20feeds.%0A%0AYou%20can%20find%20everything%20you%20need%20at%20http%3A%2F%2Fhourofcode.org%2Felected%0A%0AThanks%20for%20your%20support%20in%20bringing%20computer%20science%20education%20to%20all%20students!%0A%0A%5Bsupporter%5D'} Send this email 
    to your mayor, city council, or school board. Or give them this handout. (Wanna go big? ask your Governor).


%div{:style=>'clear:both'}
  %div{:style=>'float:left; padding: 20px; width: 90px'}
    %img{:src=>'/images/06.png'}

  %div{:style=>'float:left; padding: 0px; width: 800px'}
    %h2 Volunteer time, or contribute hardware or prizes
    Consider loaning computers or tablets to your local classroom to help them host an Hour of Code. If you're tech-savvy, help your child's teacher host it.

%div{:style=>'clear:both'}
  %br
  %br
  %a{:href=>'/contact'} Contact us 
  directly if you want to consider making a contribution at the national level (or 
  %a{:href=>'http://code.org/donate'} donate online 
  to 
  %a{:href=>'http://code.org'} Code.org 
  who is funding CSEdWeek 2013).
