:ruby
  card_item = [
    {
      image: "/images/ai/page/coding-with-ai/language-agnostic.png",
      title: hoc_s("coding_with_ai_page.empower.language.title"),
      desc: hoc_s("coding_with_ai_page.empower.language.desc"),
    },
    {
      image: "/images/ai/page/coding-with-ai/flexible-structure.png",
      title: hoc_s("coding_with_ai_page.empower.flexbile.title"),
      desc: hoc_s("coding_with_ai_page.empower.flexbile.desc"),
    },
    {
      image: "/images/ai/page/coding-with-ai/ai-support-tool.png",
      title: hoc_s("coding_with_ai_page.empower.support.title"),
      desc: hoc_s("coding_with_ai_page.empower.support.desc"),
    },
  ]

%div.editorial-cards-wrapper.add-margin-bottom
  - card_item.each do |card_item|
    .flex-container.justify-space-between.align-content-baseline.wrap
      .content-wrapper
        %img{src: card_item[:image], alt: ""}
        %h3.heading-sm
          = card_item[:title]
        %p.no-margin-bottom
          = card_item[:desc]
