:ruby
  faq_items = [
    {
      question: hoc_s("coding_with_ai_page.faq.programming_laguage.question"),
      answer: hoc_s("coding_with_ai_page.faq.programming_laguage.answer")
    },
    {
      question: hoc_s("coding_with_ai_page.faq.prerequisites.question"),
      answer: hoc_s("coding_with_ai_page.faq.prerequisites.answer", markdown: :inline, locals:{ai_url: "/ai/how-ai-works"})
    },
    {
      question: hoc_s("coding_with_ai_page.faq.tools.question"),
      answer: hoc_s("coding_with_ai_page.faq.tools.answer")
    },
    {
      question: hoc_s("coding_with_ai_page.faq.timing.question"),
      answer: hoc_s("coding_with_ai_page.faq.timing.answer")
    },
    {
      question: hoc_s("coding_with_ai_page.faq.answer_keys.question"),
      answer: hoc_s("coding_with_ai_page.faq.answer_keys.answer", markdown: :inline, locals:{form_url: "https://forms.gle/ceFR7vChH5fVUW6Z7"})
    },
    {
      question: hoc_s("coding_with_ai_page.faq.standards.question"),
      answer: hoc_s("coding_with_ai_page.faq.standards.answer", markdown: :inline, locals:{csta_url: "https://csteachers.org/k12standards/interactive/", k12_url: "https://ai4k12.org/"})
    },
  ]

- faq_items.each_with_index do |faq_item, index|
  %details
    %summary
      = faq_item[:question]
    %p{class: index === 4 || index === 5 ? "has-external-link" : ""}
      = faq_item[:answer]
