---
title: The Hour of Code
tagline: ''
theme: responsive
responsivePadMobile: yes
social:
  'og:title' : 'The Hour of Code is coming'
  'og:description' : "For every student and classroom: learn how fun coding is in just one hour December 8 - 14."
  'og:image' : "http://<%=request.host%>/images/hour-of-code-2014-video-thumbnail.jpg"
  "og:image:width": 1705
  "og:image:height": 949
  "og:url": "http://al.code.org"
  "og:video": ""
  "og:video:width": ""
  "og:video:height": ""
  "og:video:type": ""
---

#top{:style=>"margin-top: 40px;"}
  #video.col-63.desktop-pad-right
    = view :hocvideo, id:"r990CWYtx_o"

  #start.col-36{:style=>'text-align:center; margin-top: 0'}
    .count{:style=>'font-size: 42px; line-height: 42px; font-weight:500' }
      %h1{:style=>"font-size: 56px; line-height: 56px; margin: 0;"}<
        =format_integer_with_commas(fetch_hoc_metrics['countries']['Albania'].to_i).to_s
      %h3{:style=>"font-size: 26px; line-height: 26px; font-weight: 400; margin-top: 5px; margin-bottom: 0;"}<
        in Albania have tried an
      %h2{:style=>"font-size: 36px; line-height: 36px; font-weight: 600; margin-top: 5px; margin-bottom: 0;"}<
        HOUR of CODE
      %h4.desktop-feature{:style=>"font-size: 26px; line-height: 26px; font-weight: 400; margin-top: 15px;"}<
        Anybody can learn.
    %a{:href=>'/learn', :style=>"text-decoration: none;"}
      %button{:style=>"font-size: 19px; font-weight: 500; height: 50px;margin-top: 10px;"}
        Start

    %br

    %ul
      %li No experience needed
      %li No computers either
      %li Ages 6-106

%div{:style=>'clear:both'}

%br Ridvan Aliu The first Hour of Code in the UK had over 3 million participants, with overwhelming feedback from students, teachers, and parents.
%ul
  %li "I saw fireworks go off over students' heads, not lightbulbs." - Teacher
  %li "Best educational product I’ve ever come across" - Parent/entrepreneur
  %li "I have NEVER, EVER seen my students so excited about learning" - Teacher
  %li "One of the two best things that happened in 2013" - 2nd grader
  %li "And then I knew that this was like a once in a lifetime chance to learn this" - 5th grader
  %li "Now i’m trying to tell other schools to teach code because it really was an amazing experience”"- 5th grader

.desktop-feature
  %h2 Leaders and trendsetters agree more students should learn computer science
