// Styles for studio.code.org/my-professional-learning

@import 'typography';

main.wrapper {
  max-width: 60rem;
  padding: 4rem 1rem;
  margin-inline: auto;
}

// TODO - this can be removed once the components on this page
// are updated to use the Typography component.
h2 {
  @include heading-lg;
}
