@import 'color', 'font';

table.selfPacedProgressTable {
  th {
    &:nth-child(3) {
      width: 20%;
    }

    &:nth-child(4) {
      width: 24%;
    }
  }
}

.progressBar {
  background-color: $light_gray_100;
  height: 0.5rem;
  border-radius: 1rem;
  margin-block-start: 0.25rem;

  .progressBarFill {
    display: block;
    background-color: $light_primary_500;
    height: 0.5rem;
    border-start-start-radius: 1rem;
    border-end-end-radius: 0;
    border-start-end-radius: 0;
    border-end-start-radius: 1rem;
  }
}

.completePill {
  background: $light_gray_100;
  border-radius: 1rem;
  width: fit-content;
  padding: 0.45rem 1rem;
  font-weight: $medium-font-weight;
  line-height: 1;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  gap: 6px;

  &::before {
    font: var(--fa-font-solid);
    content: '\f00c';
  }
}
