// This stylesheet applies updated table styles to the
// Professional Learning landing page, and prevents legacy
// tables from looking different than newer table components
// while this page is being updated.

// TODO - figure out a more sustainable solution for this
// once this page is updated.

@import 'color', 'font';

$border-style: 1px solid $light_gray_100;

.tableWrapper {
  overflow-x: auto;

  @media screen and (max-width: 700px) {
    border-inline: $border-style;
  }

  @media screen and (max-width: 700px) {
    table {
      margin-left: -1px;
    }
  }
}

table {
  background-color: $light_white;
  border: $border-style;
  border-collapse: collapse;
  width: 100%;

  th,
  td {
    border: $border-style;
    padding-inline: 1rem !important;
  }

  th {
    background-color: $light_gray_50;
    color: $light_black;
    font-size: 0.875rem;
    font-weight: $semi-bold-font-weight;
    padding-block: 1rem !important;
    text-align: initial;
  }

  td {
    padding-block: 0.875rem !important;
    vertical-align: middle !important;

    p {
      margin-bottom: 0 !important;
    }

    & > .flexWrapper {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }
  }
}
