-# [MEG] TODO: Delete this file after we implement loading an incomplete application
- content_for(:head) do
  = stylesheet_link_tag 'css/pd', media: 'all'

%h1
  You've made progress on your application!
