= stylesheet_link_tag 'css/pd', media: 'all'
%script{src: minifiable_asset_path('js/pd/application/teacher_application/new.js'), data: @script_data}

:css
  /* Make the X in regional partner mini-contact form's header look correct. */
  div.modal-content .modal-header .close {
    height: 34px
  }

  /* Markdown content for label of required answer should get red asterisk at the end of last <p>. */
  .markdown_required p:last-of-type:after {
    content: ' *';
    color: red;
  }

%h1
  2019-20 Professional Learning Program Teacher Application

#application-container
  -# populated by React
