= stylesheet_link_tag 'css/pd', media: 'all'
%script{src: webpack_asset_path('js/pd/application/teacher_application/new.js'), data: @unit_data}

:css
  /* Make the X in regional partner mini-contact form's header look correct. */
  div.modal-content .modal-header .close {
    height: 34px
  }

%h1
  = @year
  Professional Learning Program Teacher Application

#application-container
  -# populated by React
