= stylesheet_link_tag 'css/pd', media: 'all'
%script{src: minifiable_asset_path('js/pd/application/teacher_application/new.js'), data: @script_data}

%h1
  2019-20 Professional Learning Program Teacher Application

#application-container
  -# populated by React
