- content_for(:head) do
  = stylesheet_link_tag 'css/pd', media: 'all'

%p
  != I18n.t('pd.no_teacher_email.body_markdown', user_registration: edit_user_registration_path, markdown: true)

- ga_link = "/pd/application/teacher/no_teacher_email"
- ga_link += "?nominated=true" if params[:nominated]

:javascript
  $(document).ready(function() {
    // Report a unique page view to GA.
    ga('set', 'page', "#{ga_link}");
    ga('send', 'pageview');
  });
