- content_for(:head) do
  = stylesheet_link_tag 'css/pd', media: 'all'

%p
  != I18n.t('pd.not_teacher.body', user_settings: '/users/edit')

%p
  != I18n.t('pd.not_teacher.more', pl_overview: CDO.code_org_url('/educate/professional-learning'))
