- content_for(:head) do
  = stylesheet_link_tag 'css/pd', media: 'all'

%p
  != I18n.t('not_teacher.body', create_teacher: '/users/sign_up?user%5Buser_type%5D=teacher', user_settings: '/users/edit')

  != I18n.t('not_teacher.more', pl_overview: 'https://code.org/educate/professional-learning')
