/*
Basis for this CSS from:
https://weblog.west-wind.com/posts/2015/Feb/26/Using-FontAwesome-Fonts-for-HTML-Radio-Buttons-and-Checkboxes
*/

input[type=radio].with-font {
    border: 0;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}
input[type=radio].with-font ~ label:before {
    font-family: FontAwesome;
    display: inline-block;
    content: "\f1db";  /* fa-circle-thin */
    font-size: 18px;
    color: black;
    width: 15px;
    height: 15px;
    text-align: center;
    vertical-align: bottom;
}
input[type=radio].with-font:checked ~ label:before  {
    font-family: FontAwesome;
    display:inline-block;
    content: "\f058";  /* fa-check-circle */
    font-size: 18px;
    color: #0094ca;
    width: 15px;
    height: 15px;
    line-height: 16px;
    background-color: white;
    text-align: center;
    border-radius: 60%;
}

label.hidden-label-checked-radio-button {
    margin: 0px;
    width: 16px;
    height: 16px;
    line-height: 16px;
}