@use 'sass:math';
@import 'color.scss';

.copyright {
    h3 {
        font-size: 28px;
        font-weight: 600;
        font-family: "Barlow Semi Condensed Medium", "Noto Sans", "Noto Sans Arabic", "Noto Sans Armenian", "Noto Sans Bengali", "Noto Sans SC", "Noto Sans TC", "Noto Sans Devanagari", "Noto Sans Georgian", "Noto Sans Hebrew", "Noto Sans JP", "Noto Sans Kannada", "Noto Sans Khmer", "Noto Sans KR", "Noto Sans Myanmar", "Noto Sans Sinhala", "Noto Sans Tamil", "Noto Sans Telugu", "Noto Sans Thai", "Noto Sans Thaana", sans-serif;
        line-height: 35.84px;
    }
    hr {
        border-color: $lighter_gray;
    }
    p {
        font-size: 14px;
        font-weight: 400;
        line-height: 21.56px;
    }
}

.awsLogo {
    width: 190px;
}
