@import "codemirror/lib/codemirror";
@import 'json_editor';
@import 'plc/content_creation';
@import 'plc/common';

.CodeMirror {
  border: 1px solid #eee;
  height: auto;
}
.CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
}
.CodeMirror-matchingtag {
  background: rgba(255, 150, 0, .3);
}

.contract-editor-config td {
  text-align: center;
}

h2, h3 {
  margin: 0;
  border-top: 2px solid #EEE;
}

h2 {
  padding-top: 2em;
}

h3 {
  padding-top: 1em;
}

table.checkboxes {
  td, th {
    padding: 0 0.5em;
    vertical-align: top;
  }

  label {
    font-size: 13px;
    font-weight: bold;
  }
}
