@import 'color';

.container {
  width: 95%;
}

.main {
  padding: 0;
}

.cm-content, .cm-gutter { 
  min-height: 390px;
}

.cm-gutters { margin: 1px; }

.cm-scroller { overflow: auto; }

.cm-wrap { 
  max-height: 100%;
}

#codeWorkspace {
  border: none !important;
}

.nav {
  margin-bottom: 0px;
}

.nav-tabs {
  border-bottom: 0px;
}
.nav-tabs > li {
  border: 0px;
  border-radius: 0px;
}

// Selected tab
.nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus {
  margin-right: 0px;
  color: black;
}

// Unselected tabs
.nav-tabs > li > a {
  color: $charcoal;
  border: 0px;
  border-radius: 0px;
  margin-right: 0px;
}

// This class is used in the editor tabs when we're in dark mode
.darkmode {
  // The selected tab
  .nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus {
    border-width: 0px;
    background-color: rgb(40, 44, 52);
    color: white;
    margin-right: 0px;
  }

  // Tabs
  ul > li > a {
    color: $dark_charcoal;
    border: 0px;
    border-radius: 0px;
    margin-right: 0px;
  }
}

/* Slider. */
.sliderContainer {
  float: left
}
.sliderTrack {
  stroke: #aaa;
  stroke-width: 6px;
  stroke-linecap: round;
}
.sliderKnob {
  fill: #ddd;
  stroke: #bbc;
  stroke-width: 1px;
  stroke-linejoin: round;
}
.sliderKnob:hover {
  fill: #eee;
}