@import 'color';

.container {
  width: 95%;
}

body {
  background-color: #1b1c17;
  color: $white;
} 

.main {
  padding: 0;
}

.cm-content, .cm-gutter { 
  min-height: 390px;
}

.cm-gutters { margin: 1px; }

.cm-scroller { overflow: auto; }

.cm-wrap { 
  border: 1px solid silver;
  max-height: 100%;
}

#codeWorkspace {
  border: none !important;
}
