#global-edition-region-switch-confirm-container
  %script{src: webpack_asset_path('js/global_edition/_region_switch_confirm.js'),
          data: {country: country_code.to_json, region: region_data.to_json}}
