=begin
#Clever API

#The Clever API

The version of the OpenAPI document: 3.1.0

Generated by: https://openapi-generator.tech
Generator version: 7.17.0

=end

require 'cgi'

module Clever
  class AttendanceApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Returns a list of attendance records for a school
    # @param school_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Date] :date_range_start 
    # @option opts [Date] :date_range_end 
    # @option opts [String] :attendance_status 
    # @option opts [Integer] :limit 
    # @option opts [String] :starting_after 
    # @option opts [String] :ending_before 
    # @return [AttendanceResponse]
    def list_attendance_for_school(school_id, opts = {})
      data, _status_code, _headers = list_attendance_for_school_with_http_info(school_id, opts)
      data
    end

    # Returns a list of attendance records for a school
    # @param school_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Date] :date_range_start 
    # @option opts [Date] :date_range_end 
    # @option opts [String] :attendance_status 
    # @option opts [Integer] :limit 
    # @option opts [String] :starting_after 
    # @option opts [String] :ending_before 
    # @return [Array<(AttendanceResponse, Integer, Hash)>] AttendanceResponse data, response status code and response headers
    def list_attendance_for_school_with_http_info(school_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AttendanceApi.list_attendance_for_school ...'
      end
      # verify the required parameter 'school_id' is set
      if @api_client.config.client_side_validation && school_id.nil?
        fail ArgumentError, "Missing the required parameter 'school_id' when calling AttendanceApi.list_attendance_for_school"
      end
      allowable_values = ["present", "absent", "tardy"]
      if @api_client.config.client_side_validation && opts[:'attendance_status'] && !allowable_values.include?(opts[:'attendance_status'])
        fail ArgumentError, "invalid value for \"attendance_status\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 1000
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling AttendanceApi.list_attendance_for_school, must be smaller than or equal to 1000.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling AttendanceApi.list_attendance_for_school, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/attendance/schools/{school_id}'.sub('{' + 'school_id' + '}', CGI.escape(school_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'date_range_start'] = opts[:'date_range_start'] if !opts[:'date_range_start'].nil?
      query_params[:'date_range_end'] = opts[:'date_range_end'] if !opts[:'date_range_end'].nil?
      query_params[:'attendance_status'] = opts[:'attendance_status'] if !opts[:'attendance_status'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'starting_after'] = opts[:'starting_after'] if !opts[:'starting_after'].nil?
      query_params[:'ending_before'] = opts[:'ending_before'] if !opts[:'ending_before'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AttendanceResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth']

      new_options = opts.merge(
        :operation => :"AttendanceApi.list_attendance_for_school",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AttendanceApi#list_attendance_for_school\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Returns a list of attendance records for a section
    # @param section_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Date] :date_range_start 
    # @option opts [Date] :date_range_end 
    # @option opts [String] :attendance_status 
    # @option opts [Integer] :limit 
    # @option opts [String] :starting_after 
    # @option opts [String] :ending_before 
    # @return [AttendanceResponse]
    def list_attendance_for_section(section_id, opts = {})
      data, _status_code, _headers = list_attendance_for_section_with_http_info(section_id, opts)
      data
    end

    # Returns a list of attendance records for a section
    # @param section_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Date] :date_range_start 
    # @option opts [Date] :date_range_end 
    # @option opts [String] :attendance_status 
    # @option opts [Integer] :limit 
    # @option opts [String] :starting_after 
    # @option opts [String] :ending_before 
    # @return [Array<(AttendanceResponse, Integer, Hash)>] AttendanceResponse data, response status code and response headers
    def list_attendance_for_section_with_http_info(section_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AttendanceApi.list_attendance_for_section ...'
      end
      # verify the required parameter 'section_id' is set
      if @api_client.config.client_side_validation && section_id.nil?
        fail ArgumentError, "Missing the required parameter 'section_id' when calling AttendanceApi.list_attendance_for_section"
      end
      allowable_values = ["present", "absent", "tardy"]
      if @api_client.config.client_side_validation && opts[:'attendance_status'] && !allowable_values.include?(opts[:'attendance_status'])
        fail ArgumentError, "invalid value for \"attendance_status\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 1000
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling AttendanceApi.list_attendance_for_section, must be smaller than or equal to 1000.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling AttendanceApi.list_attendance_for_section, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/attendance/sections/{section_id}'.sub('{' + 'section_id' + '}', CGI.escape(section_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'date_range_start'] = opts[:'date_range_start'] if !opts[:'date_range_start'].nil?
      query_params[:'date_range_end'] = opts[:'date_range_end'] if !opts[:'date_range_end'].nil?
      query_params[:'attendance_status'] = opts[:'attendance_status'] if !opts[:'attendance_status'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'starting_after'] = opts[:'starting_after'] if !opts[:'starting_after'].nil?
      query_params[:'ending_before'] = opts[:'ending_before'] if !opts[:'ending_before'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AttendanceResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth']

      new_options = opts.merge(
        :operation => :"AttendanceApi.list_attendance_for_section",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AttendanceApi#list_attendance_for_section\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
