=begin
#Clever API

#The Clever API

The version of the OpenAPI document: 3.1.0

Generated by: https://openapi-generator.tech
Generator version: 7.17.0

=end

require 'cgi'

module Clever
  class LMSConnectApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Creates a new assignment in the specified section
    # @param section_id [String] 
    # @param assignment_request_body [AssignmentRequest] 
    # @param [Hash] opts the optional parameters
    # @return [AssignmentResponse]
    def create_assignment_for_section(section_id, assignment_request_body, opts = {})
      data, _status_code, _headers = create_assignment_for_section_with_http_info(section_id, assignment_request_body, opts)
      data
    end

    # Creates a new assignment in the specified section
    # @param section_id [String] 
    # @param assignment_request_body [AssignmentRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AssignmentResponse, Integer, Hash)>] AssignmentResponse data, response status code and response headers
    def create_assignment_for_section_with_http_info(section_id, assignment_request_body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LMSConnectApi.create_assignment_for_section ...'
      end
      # verify the required parameter 'section_id' is set
      if @api_client.config.client_side_validation && section_id.nil?
        fail ArgumentError, "Missing the required parameter 'section_id' when calling LMSConnectApi.create_assignment_for_section"
      end
      # verify the required parameter 'assignment_request_body' is set
      if @api_client.config.client_side_validation && assignment_request_body.nil?
        fail ArgumentError, "Missing the required parameter 'assignment_request_body' when calling LMSConnectApi.create_assignment_for_section"
      end
      # resource path
      local_var_path = '/sections/{section_id}/assignments'.sub('{' + 'section_id' + '}', CGI.escape(section_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(assignment_request_body)

      # return_type
      return_type = opts[:debug_return_type] || 'AssignmentResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth']

      new_options = opts.merge(
        :operation => :"LMSConnectApi.create_assignment_for_section",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LMSConnectApi#create_assignment_for_section\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deletes an existing assignment in the specified section
    # @param section_id [String] 
    # @param assignment_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_assignment_for_section(section_id, assignment_id, opts = {})
      delete_assignment_for_section_with_http_info(section_id, assignment_id, opts)
      nil
    end

    # Deletes an existing assignment in the specified section
    # @param section_id [String] 
    # @param assignment_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_assignment_for_section_with_http_info(section_id, assignment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LMSConnectApi.delete_assignment_for_section ...'
      end
      # verify the required parameter 'section_id' is set
      if @api_client.config.client_side_validation && section_id.nil?
        fail ArgumentError, "Missing the required parameter 'section_id' when calling LMSConnectApi.delete_assignment_for_section"
      end
      # verify the required parameter 'assignment_id' is set
      if @api_client.config.client_side_validation && assignment_id.nil?
        fail ArgumentError, "Missing the required parameter 'assignment_id' when calling LMSConnectApi.delete_assignment_for_section"
      end
      # resource path
      local_var_path = '/sections/{section_id}/assignments/{assignment_id}'.sub('{' + 'section_id' + '}', CGI.escape(section_id.to_s)).sub('{' + 'assignment_id' + '}', CGI.escape(assignment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth']

      new_options = opts.merge(
        :operation => :"LMSConnectApi.delete_assignment_for_section",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LMSConnectApi#delete_assignment_for_section\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Returns a specific assignment for a section
    # @param section_id [String] 
    # @param assignment_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [AssignmentResponse]
    def get_assignment_for_section(section_id, assignment_id, opts = {})
      data, _status_code, _headers = get_assignment_for_section_with_http_info(section_id, assignment_id, opts)
      data
    end

    # Returns a specific assignment for a section
    # @param section_id [String] 
    # @param assignment_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AssignmentResponse, Integer, Hash)>] AssignmentResponse data, response status code and response headers
    def get_assignment_for_section_with_http_info(section_id, assignment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LMSConnectApi.get_assignment_for_section ...'
      end
      # verify the required parameter 'section_id' is set
      if @api_client.config.client_side_validation && section_id.nil?
        fail ArgumentError, "Missing the required parameter 'section_id' when calling LMSConnectApi.get_assignment_for_section"
      end
      # verify the required parameter 'assignment_id' is set
      if @api_client.config.client_side_validation && assignment_id.nil?
        fail ArgumentError, "Missing the required parameter 'assignment_id' when calling LMSConnectApi.get_assignment_for_section"
      end
      # resource path
      local_var_path = '/sections/{section_id}/assignments/{assignment_id}'.sub('{' + 'section_id' + '}', CGI.escape(section_id.to_s)).sub('{' + 'assignment_id' + '}', CGI.escape(assignment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AssignmentResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth']

      new_options = opts.merge(
        :operation => :"LMSConnectApi.get_assignment_for_section",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LMSConnectApi#get_assignment_for_section\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Returns a specific user's submission for an assignment.
    # @param section_id [String] 
    # @param assignment_id [String] 
    # @param user_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [SubmissionResponse]
    def get_submission_for_assignment(section_id, assignment_id, user_id, opts = {})
      data, _status_code, _headers = get_submission_for_assignment_with_http_info(section_id, assignment_id, user_id, opts)
      data
    end

    # Returns a specific user&#39;s submission for an assignment.
    # @param section_id [String] 
    # @param assignment_id [String] 
    # @param user_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SubmissionResponse, Integer, Hash)>] SubmissionResponse data, response status code and response headers
    def get_submission_for_assignment_with_http_info(section_id, assignment_id, user_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LMSConnectApi.get_submission_for_assignment ...'
      end
      # verify the required parameter 'section_id' is set
      if @api_client.config.client_side_validation && section_id.nil?
        fail ArgumentError, "Missing the required parameter 'section_id' when calling LMSConnectApi.get_submission_for_assignment"
      end
      # verify the required parameter 'assignment_id' is set
      if @api_client.config.client_side_validation && assignment_id.nil?
        fail ArgumentError, "Missing the required parameter 'assignment_id' when calling LMSConnectApi.get_submission_for_assignment"
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling LMSConnectApi.get_submission_for_assignment"
      end
      # resource path
      local_var_path = '/sections/{section_id}/assignments/{assignment_id}/submissions/{user_id}'.sub('{' + 'section_id' + '}', CGI.escape(section_id.to_s)).sub('{' + 'assignment_id' + '}', CGI.escape(assignment_id.to_s)).sub('{' + 'user_id' + '}', CGI.escape(user_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SubmissionResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth']

      new_options = opts.merge(
        :operation => :"LMSConnectApi.get_submission_for_assignment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LMSConnectApi#get_submission_for_assignment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Returns the submissions for an assignment.
    # @param section_id [String] 
    # @param assignment_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @option opts [Integer] :limit 
    # @return [SubmissionsResponse]
    def get_submissions_for_assignment(section_id, assignment_id, opts = {})
      data, _status_code, _headers = get_submissions_for_assignment_with_http_info(section_id, assignment_id, opts)
      data
    end

    # Returns the submissions for an assignment.
    # @param section_id [String] 
    # @param assignment_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @option opts [Integer] :limit 
    # @return [Array<(SubmissionsResponse, Integer, Hash)>] SubmissionsResponse data, response status code and response headers
    def get_submissions_for_assignment_with_http_info(section_id, assignment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LMSConnectApi.get_submissions_for_assignment ...'
      end
      # verify the required parameter 'section_id' is set
      if @api_client.config.client_side_validation && section_id.nil?
        fail ArgumentError, "Missing the required parameter 'section_id' when calling LMSConnectApi.get_submissions_for_assignment"
      end
      # verify the required parameter 'assignment_id' is set
      if @api_client.config.client_side_validation && assignment_id.nil?
        fail ArgumentError, "Missing the required parameter 'assignment_id' when calling LMSConnectApi.get_submissions_for_assignment"
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling LMSConnectApi.get_submissions_for_assignment, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling LMSConnectApi.get_submissions_for_assignment, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/sections/{section_id}/assignments/{assignment_id}/submissions'.sub('{' + 'section_id' + '}', CGI.escape(section_id.to_s)).sub('{' + 'assignment_id' + '}', CGI.escape(assignment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SubmissionsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth']

      new_options = opts.merge(
        :operation => :"LMSConnectApi.get_submissions_for_assignment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LMSConnectApi#get_submissions_for_assignment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Updates an existing assignment in the specified section
    # @param section_id [String] 
    # @param assignment_id [String] 
    # @param assignment_request_body [AssignmentRequest] 
    # @param [Hash] opts the optional parameters
    # @return [AssignmentResponse]
    def update_assignment_for_section(section_id, assignment_id, assignment_request_body, opts = {})
      data, _status_code, _headers = update_assignment_for_section_with_http_info(section_id, assignment_id, assignment_request_body, opts)
      data
    end

    # Updates an existing assignment in the specified section
    # @param section_id [String] 
    # @param assignment_id [String] 
    # @param assignment_request_body [AssignmentRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AssignmentResponse, Integer, Hash)>] AssignmentResponse data, response status code and response headers
    def update_assignment_for_section_with_http_info(section_id, assignment_id, assignment_request_body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LMSConnectApi.update_assignment_for_section ...'
      end
      # verify the required parameter 'section_id' is set
      if @api_client.config.client_side_validation && section_id.nil?
        fail ArgumentError, "Missing the required parameter 'section_id' when calling LMSConnectApi.update_assignment_for_section"
      end
      # verify the required parameter 'assignment_id' is set
      if @api_client.config.client_side_validation && assignment_id.nil?
        fail ArgumentError, "Missing the required parameter 'assignment_id' when calling LMSConnectApi.update_assignment_for_section"
      end
      # verify the required parameter 'assignment_request_body' is set
      if @api_client.config.client_side_validation && assignment_request_body.nil?
        fail ArgumentError, "Missing the required parameter 'assignment_request_body' when calling LMSConnectApi.update_assignment_for_section"
      end
      # resource path
      local_var_path = '/sections/{section_id}/assignments/{assignment_id}'.sub('{' + 'section_id' + '}', CGI.escape(section_id.to_s)).sub('{' + 'assignment_id' + '}', CGI.escape(assignment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(assignment_request_body)

      # return_type
      return_type = opts[:debug_return_type] || 'AssignmentResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth']

      new_options = opts.merge(
        :operation => :"LMSConnectApi.update_assignment_for_section",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LMSConnectApi#update_assignment_for_section\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Updates an existing submission in the specified assignment for a user.
    # @param section_id [String] 
    # @param assignment_id [String] 
    # @param user_id [String] 
    # @param submission_request_body [SubmissionRequest] 
    # @param [Hash] opts the optional parameters
    # @return [SubmissionResponse]
    def update_submission_for_assignment(section_id, assignment_id, user_id, submission_request_body, opts = {})
      data, _status_code, _headers = update_submission_for_assignment_with_http_info(section_id, assignment_id, user_id, submission_request_body, opts)
      data
    end

    # Updates an existing submission in the specified assignment for a user.
    # @param section_id [String] 
    # @param assignment_id [String] 
    # @param user_id [String] 
    # @param submission_request_body [SubmissionRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SubmissionResponse, Integer, Hash)>] SubmissionResponse data, response status code and response headers
    def update_submission_for_assignment_with_http_info(section_id, assignment_id, user_id, submission_request_body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LMSConnectApi.update_submission_for_assignment ...'
      end
      # verify the required parameter 'section_id' is set
      if @api_client.config.client_side_validation && section_id.nil?
        fail ArgumentError, "Missing the required parameter 'section_id' when calling LMSConnectApi.update_submission_for_assignment"
      end
      # verify the required parameter 'assignment_id' is set
      if @api_client.config.client_side_validation && assignment_id.nil?
        fail ArgumentError, "Missing the required parameter 'assignment_id' when calling LMSConnectApi.update_submission_for_assignment"
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling LMSConnectApi.update_submission_for_assignment"
      end
      # verify the required parameter 'submission_request_body' is set
      if @api_client.config.client_side_validation && submission_request_body.nil?
        fail ArgumentError, "Missing the required parameter 'submission_request_body' when calling LMSConnectApi.update_submission_for_assignment"
      end
      # resource path
      local_var_path = '/sections/{section_id}/assignments/{assignment_id}/submissions/{user_id}'.sub('{' + 'section_id' + '}', CGI.escape(section_id.to_s)).sub('{' + 'assignment_id' + '}', CGI.escape(assignment_id.to_s)).sub('{' + 'user_id' + '}', CGI.escape(user_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(submission_request_body)

      # return_type
      return_type = opts[:debug_return_type] || 'SubmissionResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth']

      new_options = opts.merge(
        :operation => :"LMSConnectApi.update_submission_for_assignment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LMSConnectApi#update_submission_for_assignment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
