---
title: Hour of Code România - eveniment anual Hour of Code
tagline: ''
theme: responsive
responsivePadMobile: yes
social:
  'og:title' : ‘Hour of Code România se apropie'
  'og:description' : "Hour of Code este o mişcare globală care ajunge la zeci de milioane de elevi si studenţi din peste 180 de ţări şi peste 30 de limbi vorbite. Vârstele de la 4 la 104 ani."
  'og:image' : "http://ro.code.org/images/ogimage.png"
  'og:image:width' : "1200"
  'og:image:height' : "626"
  "og:video": ""
  "og:video:width": ""
  "og:video:height": ""
  "og:video:type": ""
---

#top{:style=>"margin-top: 40px;"}
  #video.col-63.desktop-pad-right
    = view :hocvideo, id:"r990CWYtx_o"

  #start.col-36{:style=>'text-align:center; margin-top: 0'}
    .count{:style=>'font-size: 42px; line-height: 42px; font-weight:500' }
      %h1{:style=>"font-size: 56px; line-height: 56px; margin: 0;"}<
        =format_integer_with_decimals(fetch_hoc_metrics['started']).to_s
      %h3{:style=>"font-size: 26px; line-height: 26px; font-weight: 400; margin-top: 5px; margin-bottom: 0;"}<
        au încercat
      %h2{:style=>"font-size: 36px; line-height: 36px; font-weight: 600; margin-top: 5px; margin-bottom: 0;"}<
        Hour of Code
      %h4.desktop-feature{:style=>"font-size: 26px; line-height: 26px; font-weight: 400; margin-top: 15px;"}<
        Oricine poate învăța
    %a{:href=>'/learn', :style=>"text-decoration: none;"}
      %button{:style=>"font-size: 19px; font-weight: 500; height: 50px;margin-top: 10px;"}
        Începe

    %br

    %ul
      %li Nu ai nevoie de cunostințe speciale
      %li Nici măcar de un computer
      %li Vârste recomandate: de la 4 la 104 ani

%div{:style=>'clear:both'}

%br Ora de Programare a avut peste 400.000 de participanți în România, cu un feedback impresionant de la elevi, studenți, profesori și parinți.
%ul
  %li "Cel mai bun produs educațional pe care l-am întâlnit vreodată." - Parinte/Antreprenor
  %li "Am tot respectul pentru munca DVS si a tuturor cadrelor didactice care isi implica elevii in asemenea evenimente. Acesta este viitorul iar elevii trebuie indrumati spre el." - Parinte
  %li "Niciodată nu mi-am văzut elevii atat de entuziasmați să învețe." - Profesor
  %li "Multumim pentru posibilitatea de a experimenta lucruri noi, mai ales pentru copiii care nu studiaza programarea. Mult succes!" - Profesor, liceu Gherla
  %li "Acum încerc să recomand și altor şcoli să predea programare pentru că într-adevăr a fost o experienţă uimitoare." - Profesor, clasa a 5-a
  %li "Bucuria copiilor cand terminau cate un nivel al jocului a fost la fel de intensa si la cei mici si la cei mari. Majoritatea intrebau cand se va mai tine o astfel de activitate si daca mai pot participa. Cu siguranta vom participa si anul urmator." - Profesor
  %li "Invatarea prin joaca e cea mai placuta. Elevii mei si-au manifestat bucuria sarind in sus si batand din palme. Imi doresc sa revad aceste reactii.” - Profesor

.desktop-feature
  %h2 Lideri si trendsetteri din întreaga lume sunt de acord ca mai mulți elevi ar trebui să aiba șansa să învețe despre computere si programare.
  = view :top_quotes
