---
title: 2014 Annual Report
nav: about_nav
social:
  "og:description": "2014 was a pretty incredible year for computer science, with your help."
  "og:image": "/images/2014-report.png"
  "og:image:width": 600
  "og:image:height": 331
  "og:video": ""
  "og:video:width": ""
  "og:video:height": ""
  "og:video:type": ""
theme: responsive
---
<br>
<br>
<i>Note: As of September 2020, this page contains outdated language or graphics referencing “underrepresented minorities.” To see our current language policy around race, ethnicity, and gender, <a href="https://support.code.org/hc/en-us/articles/360050257191-Using-more-inclusive-language-at-Code-org" target="_blank">view this support article</a>.</i>

# 2014 Annual Report

<%= view :testimonials %>

<br/>
<br/>

Dear Code.org friends and fans,

I spent my holidays reflecting on the incredible momentum behind computer science — from hundreds of partners to tens of thousands of educators and schools and millions of students and parents.

Most people who hear about Code.org see the glitz: the Hour of Code, celebrities, and marketing. Indeed, with the help of the [US President](http://youtu.be/AI_dayIQWV4) and other world leaders, [Anna & Elsa from Frozen](http://codeorg.tumblr.com/post/103042812198/frozen), and every [Apple](http://codeorg.tumblr.com/post/104341574918/apple) and [Microsoft](https://www.facebook.com/Code.org/photos/a.713452212084418.1073741855.309754825787494/716326561796983/) store, the Hour of Code beat even our wildest expectations.

<img width="100%" src="/images/infographics/60-million-students.png"/>
<hr/>

## Beyond the Hour of Code
But education takes more than an hour. The Hour of Code is just a seed we plant, to grow into something more. The first hour shows students and their teachers that this is something any child can learn, that any classroom can teach. The bulk of Code.org’s effort goes into follow-up: adding computer science to official curriculum. Here’s my summary of what we achieved in 2014, with your help.

## 1) Bringing fantastic online courses to classrooms
We’ve developed [100 hours of follow-on curriculum](http://studio.code.org) that’s taught in 90,000 schools worldwide. With *4 million* students enrolled, our courses receive consistently positive feedback. Students love the courses because they feel like playing a game, they feature fun characters like the Angry Birds or Anna & Elsa, and role model lecturers such as Mark Zuckerberg. Teachers appreciate the time we've spent on the pedagogy and classroom testing, and because it's an educational product that engages their students so fully.

<img width="100%" src="/images/infographics/90K-classrooms.png"/>

<hr/>

## 2) Partnering with school districts, training teachers
We’ve [signed agreements with the largest school districts in the US](/educate/partner-districts) to train their existing staff to teach computer science and to add it to the formal curriculum. Code.org’s awesome partners and Affiliates train 1,000 teachers every month! Our professional development workshops receive rave reviews - 80% of attending teachers say it is the best professional training they've ever received! If you want your local school to participate, write a letter to a teacher or principal. (See [sample letter](/promote/letter))

<img width="100%" src="/images/infographics/districts-signed.png"/>

<hr/>

## 3) Addressing diversity by starting younger
We all know the tech industry has a workplace diversity problem. Diversity in computer science education is [even worse](http://recode.net/2014/10/01/how-we-solve-the-tech-industrys-gender-gap/). We’re solving it at scale by teaching kids younger and focusing on urban schools. Today only a few thousand female, African American or Hispanic students earn degrees in CS each year. The entire US has only 550,000 female software professionals. By contrast, our intro courses reach *1 million girls and 1 million black and Hispanic students!*

<img width="100%" src="/images/infographics/diversity.png"/>

<hr/>

## 4) Changing state policies to support computer science
Since 2013, our [coalition of advocacy partners](https://advocacy.code.org) has changed policies in 16 states.* We’re proud to say that in [25 states + DC](/action), computer science can finally count for high school graduation. 75% of US students live in these states.

<img width="100%" src="/images/map-2014.jpg"/>

<hr/>

## 5) International reach
We’ve translated our lessons into 34 languages and established international partnerships in the UK, Italy, Argentina, Brazil, Romania, Albania, and the Middle East. If you speak more than one language and have some technical proficiency, you can [help us as a volunteer translator](/translate).

<img width="100%" src="/images/infographics/languages.png"/>

<hr/>
<br/><br/>
Looking to 2015, we have a ton of work ahead, but I’ve also never felt more confident in our ability to realize our vision: that *every student in every school should have the opportunity to study computer science.*


This isn’t just something we accomplish on our own. Our work builds on [decades of effort, by many organizations and individuals](https://docs.google.com/document/d/1rdEUqAkYtKPMD4UeEmpZCAau4_AdIOGbZDqLkePAQrY/pub) who helped establish, fund, and spread computer science. Our impact is made possible by [generous supporters like you](/about/donors).


If you want to help us, you can ask your school to teach CS ([example letter](/promote/letter)), make a [generous donation](/donate), help [translate our tutorials](/translate), or [help in a variety of other ways](/help).

Thank you as always for your support!    #moveForward

Hadi Partovi and the Code.org team

<br/><br/>
*After the publication of this report, we re-calculated our count of states with policies that allow computer science to count towards graduation credits. Reflecting this correction, 16 states overall changed policies to support computer science education and 13 states changed graduation policies specifically to allow computer science to count, as of the end of 2014.


<hr/>

<a id="numbers"></a>

## 2014 by the numbers

| Code.org Goal | End of 2013 | End of 2014 |
|------|--------|--------|
| Inspire students with the Hour of Code  | 20 million served |  90 million -- 48% female |
| Bring our online courses to classrooms and schools | 10,000 classrooms, 500,000 students | 90,000 classrooms, 4M students |
| Improve diversity in CS | N/A | Our students are 43% female, 37% African American or Hispanic |
| Change school district curriculum | 10 district partners | 60 district partners  |
| Number of new CS teachers trained across grades K-12  | N/A | 4,000  |
| Set up policies to support CS. Graduation policy changed in: |  5 states |  16 states* |
| Go global | 30 languages supported | 34 languages. 7 international partnerships |
| Team size | 14 | 38 |
| Total $ spent (since founding) | $3.2M | $12.1M |


<hr/>
## Approximate cost per student

| Code.org Outcome  | Approximate cost per student|
|----------|------|
| Try an Hour of Code | 2 cents per student |
| Study a 20 hour introductory computer science course in grades K - 8 (our primary cost here is professional development of the teacher)| $1 per student |
| Learn an introductory computer science class in middle schoool (our cost here is the professional development of the teacher, and the management of the partnership with the school district) | $10 per student |
| Learn a full-year introductory computer science class in high schoool (our cost here is the professional development of the teacher, and the management of the partnership with the school district) | $20 per student |


<hr/>

## Where our money was spent in 2014

This chart is *not* based on audited financials, but it's a pretty good approximations of how our money is spent.


<img width="100%" src="/images/infographics/dollarspiechart2014.png"/>

<hr/>

[col-50]

**Code.org's work covered by CBS This Morning:**

<iframe width="375" height="246" src="//www.youtube.com/embed/sUXfjzzHO5g?controls=2" frameborder="0" allowfullscreen></iframe>

[/col-50]

[col-50]

**President Obama does the Hour of Code:**

<iframe width="375" height="210" src="//www.youtube.com/embed/AI_dayIQWV4" frameborder="0" allowfullscreen></iframe>
Hour of Code has won the support of both [Republicans and Democrats](https://www.youtube.com/watch?v=Vgn_YbSmHnw), and [many celebrities](https://www.youtube.com/watch?v=h5_SsNSaJJI&list=PLzdnOPI1iJNciTeOk1ziB4pIpdPwevgv_)

<br/><br/>

[/col-50]



<hr/>

## Follow us

<%= view :social_media, facebook: "Code.org", twitter: "codeorg", instagram: "codeorg" %>
