---
title: Code.org 2016 Annual Report
nav: about_nav
theme: responsive
---

<p align="center"><iframe style="max-width: 100%" width="560" height="315" src="https://www.youtube.com/embed/H7vg-YRAGq8" frameborder="0" allowfullscreen></iframe></p>

<br>
<i>Note: As of September 2020, this page contains outdated language or graphics referencing “underrepresented minorities.” To see our current language policy around race, ethnicity, and gender, <a href="https://support.code.org/hc/en-us/articles/360050257191-Using-more-inclusive-language-at-Code-org" target="_blank">view this support article</a>.</i>

# Code.org 2016 Annual Report

[solid-block-header]

The state of K-12 computer science

[/solid-block-header]

*February 9, 2017* – We begin each year with a look at the K-12 computer science landscape – whether the direct impact of Code.org and our partners, or the indirect and sometimes unrelated impact of other global efforts that share our vision.

It’s been three and a half years since Code.org hired our first employee. We’ve been humbled to watch the world’s education system embrace computer science, at an ever-accelerating pace. 

During this short time, 11 countries, 31 U.S. states, and over 120 U.S. cities and school districts have announced efforts to expand access to computer science as part of the K-12 curriculum; the new Advanced Placement (AP) Computer Science Principles course has launched in over 2,000 classrooms; over 50,000 U.S. teachers have attended workshops to begin teaching computer science; over 500,000 teachers globally have begun teaching computer science classes to over 16 million students; diversity in computer science classrooms has improved for two years in a row; the Hour of Code has surpassed 350 million served – reaching one out of every 10 students on the planet; and 8 Presidents and Prime Ministers have hosted events to inspire millions more to join this teacher-powered movement.

<p align="center"><img src="/images/AR2016/APstatsyearoveryear.png" width="80%"></p>

To be clear, this isn’t the work of Code.org alone. We’ve had the support of [hundreds of partners](/about/partners), and hundreds of thousands of educators, globally. Many of them began this work years before we existed. The international momentum is led by partners who share our mission in other countries. And in the U.S., this movement has had the bipartisan support of the federal government as well as most state governments. Our largest donors – Microsoft, Facebook, Google, Infosys, and Omidyar Network – deserve special recognition for funding not only Code.org but also the other nonprofits working towards the same goal, globally. We are thankful for all the efforts that share our mission.

When we launched Code.org in 2013, it seemed impossible to change the entire education system. Although we still have a long way to go, 2016 was yet another record year, making us more confident than ever in our ability to realize our vision – **that every student in every school should have the opportunity to learn computer science.**

<br>

[breakoutquote]

[col-33]

<img src="/images/AR2016/best.jpg" width="80%"/>

[/col-33]

[col-66]

“I've never seen a nonprofit have an impact as large as this, in a timeframe as short as this. Just incredible.”

*Charles Best, Founder & CEO, DonorsChoose.org*

[/col-66]

[clearboth]

[/clearboth]
   
[/breakoutquote]

[solid-block-header]

Code.org by the Numbers

[/solid-block-header]

| Code.org Goal | End of 2013 | End of 2014 | End of 2015 | End of 2016 |
| ------------ | ------------- | ------------ | ------------| ------------|
| Inspire students and increase diversity with the Hour of Code | 20 million served | 90M<br>48% female | 195M<br>49% female| 344M<br>49% female|
| Engage classrooms and students in our CS courses. (Total # of  accounts on Code Studio) | 10,000 teachers, 500,000 students | 90,000 teachers, 4M students | 250,000 teachers, 8M students | 495,000 teachers, 16M students|
| Enable students to show “basic coding proficiency” with CS Fundamentals. | N/A | N/A | N/A | 887,840 total<br>365,842 female |
| Improve diversity in CS (measured among students on Code Studio) | N/A | 43% female, 37% African American or Hispanic | 43% female, 37% African American or Hispanic | 45% female, 48% [underrepresented minorities](/diversity), 47% free/reduced meal plans |
| Help school districts implement CS curricula | 10 district partners | 60 district partners | 60 district partners | 41 regional partners (120+ districts) |
| Prepare new CS teachers across grades K-12 | N/A | 4,000 | 20,000 | 52,000 |
| Lead a coalition to set policies supporting CS.<br>Policies changed in: | 5 states | 16 states | 17 states, including $9M in CS funding | [31 states](https://docs.google.com/document/d/1J3TbEQt3SmIWuha7ooBPvlWpiK-pNVIV5uuQEzNzdkE/edit), including $13M in CS funding |
| Go global | 30 languages supported | 34 languages, 7 international partners | 46 langs, 70 intl partners | 50 langs, 100+ intl partners |
| Team size | 14 | 38 | 54 | 59 |

[solid-block-header]

Diversity in our classrooms

[/solid-block-header]

Addressing diversity in K-12 computer science is core to our mission. We all know the technology sector as a whole has a [diversity problem](http://fortune.com/2014/08/29/how-tech-companies-compare-in-employee-diversity/), caused by a variety of factors. Our focus is on one piece of the problem, the education pipeline, where historically only 20~25% of students are female, and 13~15% are underrepresented minorities. By contrast, the students across Code.org classrooms are far more balanced across gender, race, and also socioeconomic status. 

<p align="center"><img src="/images/infographics/fit-800/diversity-courses.png" width="80%"></p>

This is partly because teachers integrate our courses into classrooms that are already diverse, and partly because we incorporate a focus on diversity [throughout our work](/diversity). 

For example, we [published a study](/files/HourOfCodeImpactStudy_Jan2017.pdf) of 8,000 students who took a survey right before and after trying our tutorials. Among female high school students, the number who agreed with the statement “I like computer science” jumped from 55% to 75% from just one session of using Code.org’s Hour of Code activities.
<br><br>

[breakoutquote]

[col-33]

<img src="/images/AR2016/image1.JPG" width="80%"/>

[/col-33]

[col-66]

“Thank you for [this year’s Hour of Code video](https://www.youtube.com/watch?v=ip051U7Rvds). It includes many futbol players that my hispanic students know of and look up to strongly. When they saw the futbol players come on the screen, their faces just exploded with excitement! You could see them mouthing ‘That’s so and so!’ and tapping their friends on their shoulders and saying ‘Do you KNOW who that IS?!’ When it was time for them to start the Hour of Code, they were the first ones to their computers, and were excited to work, all because they saw their role models in the introduction video. It brings tears of happiness to my eyes seeing my students so excited. It’s a spark in them that I have never seen, and that I hope to continue seeing in the future."

*Kenny Courter, Hamilton Crossing Elementary, Georgia*

[/col-66]

[clearboth]

[/clearboth]

[/breakoutquote]

<br/>

As another example, consider our [Computer Science Principles](/educate/csp) course, designed for the new AP Computer Science exam. Traditionally, AP Computer Science is dominated by white and Asian males, with at most 15% underrepresented minorities. In our 512 classrooms, 49% of the students are underrepresented minorities – which adds up to more students than the entire nation’s AP computer science exam participation in 2016.

(Side note: 53% of Code.org’s [staff](/about/team) are women. Our [board and leadership team](/about/leadership) are gender-balanced.)

[solid-block-header]

Our curriculum

[/solid-block-header]

<img src="/images/AR2016/annual-report-gifs.gif" width="100%"/><br><br>

In the 3 years since we launched our Code Studio coding platform, 1/10 of all students on the planet have engaged in our computer science courses, making Code Studio the most broadly used curriculum in computer science. Of course, millions of these students are “drive-by” users. What matters more to us is how many teachers incorporate our lessons into their classrooms, and what their students learn.

<br>

<p align="center"><img src="/images/AR2016/teacher-student-accounts.png" width="80%"/></p>

Measuring by registered students, registered teachers, or monthly activity, Code Studio has doubled in scale in the last 12 months. But instead of measuring logins or page-views, in the last year, we embarked on creating a new metric of success. We began counting students who demonstrate “basic coding proficiency” in our [CS Fundamentals course](/educate/curriculum/elementary-school) using a [definition](/about/evaluation/proficiency) which we created based on student success at coding challenges. The chart below shows how many students demonstrated this proficiency at different levels of difficulty. (This is our first stab at measuring student proficiency, and we have a lot of work to improve it.)

<p align="center"><img src="/images/AR2016/proficiency.png" width="80%"/></p>

The secret behind our growth is simple: teachers recommend our courses to other teachers. One way to measure this is with the [Net Promoter methodology](https://en.wikipedia.org/wiki/Net_Promoter): we score 85 among teachers, which is outstanding. This high score is supported by the testimonials we hear from teachers in classrooms.
<br><br>

[breakoutquote]

[col-33]

<img src="/images/AR2016/kstf_headshot.jpg" width="80%"/>

[/col-33]

[col-66]

“Today’s project was a slam dunk for students. Students came in right away and started talking about the project before the bell ever rang. In fact, when I tried to ‘start’ the class – most of the students that I was trying to quiet were actually talking about the project.”

*Kaitie O'Bryan, Mounds View High School, Minnesota*

[/col-66]

[clearboth]

[/clearboth]

[/breakoutquote]

[solid-block-header]

Computer Science Principles

[/solid-block-header]

<p align="center"><img src="/images/AR2016/african-sunset.gif" width="80%"></p>

<p align="center"><strong>Example high school classroom project, using turtle-drawing commands</strong></p>

In the 2016-17 school year, we formally launched our [App Lab](/educate/applab) app-making tool, and began scaling our new College Board endorsed [Computer Science Principles](/educate/csp) course to prepare for a new AP exam. Computer science is already the fastest-growing AP course offered by the College Board, having almost doubled since Code.org launched. With this year’s new exam, 2017 is poised to be its biggest year yet. There are 2,600 schools participating in the new exam, according to the College Board audit. Among schools using College Board endorsed curricula, 55% are using Code.org’s [CS Principles](/educate/csp) course.

More than 75,000 students have interacted with our [CS Principles](/educate/csp) course this school year. Our focus is the 512 classrooms of teachers in our professional learning program.

These classrooms have 18,615 students enrolled, of which 5,721 are female students, and 9,083 are underrepresented minorities. If these students all take the exam, we have the opportunity to double the number of underrepresented minorities in AP computer science in just one year.

<p align="center"><img src="/images/AR2016/AP_double_URMs.jpg" width="80%"></p>

[breakoutquote]

[col-33]

<img src="/images/AR2016/justinfeller.jpg" width="80%">

[/col-33]

[col-66]

“We need more of this. Education needs more of this. 

‘This is crazy fun, Mr Feller. I’m pretty much going to tell all of my friends to take this class.’ That’s from one of my AP CS Principles students.

Thank you for developing the curriculum that you have developed. Thank you for ACTUALLY having a very profound effect on education instead of just saying you wanted to do it.” 

*Justin Feller, CS Teacher, South Broward High School, Florida*

[/col-66]

[clearboth]

[/clearboth]

[/breakoutquote]

[solid-block-header]

Our work with America's educators & schools

[/solid-block-header]

<img src="/images/AR2016/plc.png" width="100%">

In 2016 Code.org’s professional learning and school outreach programs accelerated in every dimension. We hosted 4 large professional learning conferences for educators, with stellar feedback.  And we grew our network of regional partners and expert facilitators – this network will provide the backbone for the future growth of K-12 computer science.

### Our professional learning network: over 40 regional partners, 400 expert facilitators

<p align="center"><img src="/images/AR2016/regionalmap.png" width="80%"></p>

And above all, across all our programs, we passed a new milestone: 52,000 computer science teachers have been prepared by Code.org. 

<p align="center"><strong>52,000 computer science teachers prepared by Code.org</storng></p>

<p align="center"><img src="/images/AR2016/teacherstrained.png" width="80%"></p>

Most of these are elementary school teachers who will begin teaching 10-20 hours of computer science per year. But thousands of them are high school teachers teaching a year-long computer science class. More importantly, the feedback from our professional learning workshops is uniformly fantastic. The vast majority of teachers attending these workshops [rank them](/files/EvaluationReport2015-16.pdf) the “best professional development” they’ve ever experienced. This is partly because America’s teachers want to learn and teach computer science, and partly because of the amazing passion of our expert facilitators.

<br>

[breakoutquote]

[col-33]

<img src="/images/AR2016/Renee-Coley-225x300.jpg" width="80%"/>

[/col-33]

[col-66]

“I do not have a computer science background. I went through the training pilot for CS Discoveries. I would change nothing about the training. It was an incredible experience, and I felt valued and respected as a teacher and facilitator. I would absolutely recommend anything Code.org has to offer to any teacher. Period. The lesson plans are incredible.”

*[Renee Coley](http://www.osln.org/2017/01/ask-a-teacher-what-are-code-org-trainings-really-like/), English teacher, Hannah Ashton Middle School, Ohio*

[/col-66]

[clearboth]

[/clearboth]

[/breakoutquote]

[solid-block-header]

31 states are embracing computer science

[/solid-block-header]

While most of Code.org’s staff and resources are focused on implementing computer science programs in schools, we have a small, crack team working on changing government policies to support, expand, and sustain K-12 computer science. This effort wouldn’t be possible without our coalition partners (especially Microsoft and the College Board), and our many local champions deserve the real credit for driving local change.

Our state policy work focuses on [9 ideas we urge every state to consider](/files/Making_CS_Fundamental.pdf). Below, we highlight our impact across 3 of these that are easiest to measure.

| Policy area | Policy changed since 2013 |
| -------- | -------- |
| **High school graduation policy**<br>States that have changed policies to allow rigorous CS courses to satisfy core high school graduation requirements | AL, AZ, AR, CA, CO, FL, ID, IL, KY, LA, MD, MN, NH, NJ, NY, OH, PA, TN, VA, WA, WV, WI |
| **Establishing state-level standards for CS**<br>States that have developed or are in the process of developing state education standards for computer science | AR, CA, CO, FL, ID, IN, MA, NJ, SC, TX, VA, WA, WI, and WV.<br>States that are evaluating developing standards: AL, DE, MD, MT, OK, and RI. |
| **Funding for CS**<br>States that have allocated funding specifically to K-12 computer science | AR, AZ, GA, ID, MA, RI, UT, VA, WA.<br>These states have allocated $13.01M in total|
<br>
Throughout 2016 we saw growing momentum for computer science among local governments beyond just the policy measures listed above. Chicago Public Schools [became](http://blog.code.org/post/139928349283/chicago-just-became-the-first-us-city-to-make) the first major school district to make computer science a graduation requirement for all students.  The US Conference of Mayors proposed a resolution (sponsored by the mayors of New York, Los Angeles, Chicago, San Francisco, and Baltimore) to expand computer science in schools.   

Last but not least, we launched the [Governors for CS](http://www.governorsforcs.org/) partnership, bringing together the governors of Arkansas, Washington, Rhode Island, Iowa, Virginia, Idaho, and Nevada to build plans for K-12 computer science with more governors to join in 2017.

<p align="center"><iframe style="max-width: 100%" width="560" height="315" src="https://www.youtube.com/embed/dW6XrckpA94" frameborder="0" allowfullscreen></iframe></p>

[solid-block-header]

The K-12 Computer Science Framework

[/solid-block-header]

After over a year of work by fourteen states and four school districts, dozens of writers and advisors, and leaders in corporate, nonprofit, and education sectors, the [K-12 Computer Science Framework](https://k12cs.org/) was launched in October with [broad support](https://k12cs.org/statements-of-support/).

The framework offers a set of guidelines that could be used to inform the development of standards, curriculum, and computer science pathways, and also help school systems build capacity for teaching computer science.

<p align="center"><iframe style="max-width: 100%" width="560" height="315" src="https://www.youtube.com/embed/CD0EIGfr950" frameborder="0" allowfullscreen></iframe></p>

The impact of all the experts and organizations who came together to create the Framework will be felt for years to come. In December, we hosted 22 state teams to plan implementation work, and we will continue similar convenings to build on the momentum. In addition, in 2016, ETS announced it will create a new Praxis exam for credentialing teachers in computer science, and Pearson is working on a similar exam – both informed by the Framework.

<br>

[breakoutquote]

[col-33]

<img src="/images/AR2016/caseybethel.jpg" width="80%"/>

[/col-33]

[col-66]

“I started as one of the teachers who knew the least about CS. I never taught it or learned it myself. But the support I got from all over, and the ease of the curriculum, made me more engaged. Now I am equipped to start teaching it.”

*Casey Bethel, now teaching [CS Principles](/educate/csp) at New Manchester High School, Georgia*

[/col-66]

[clearboth]

[/clearboth]

[/breakoutquote]

[solid-block-header]

The global picture and the Hour of Code

[/solid-block-header]

<img src="/images/AR2016/hourofcode.png" width="100%">

2016 was the biggest year ever for the [Hour of Code](https://hourofcode.com/), which has now surpassed 350 million “served.” This year, Code.org handed important reins of the campaign to the education community: We gave a [committee](https://csedweek.org/about/advisory-committee) and [review board](https://hourofcode.com/us/review-committee) the responsibility of setting the [guidelines](https://hourofcode.com/us/activity-guidelines) and rating the recommended [activities](http://hourofcode.com/learn).

Hundreds of global nonprofits, corporations, and government agencies supported the campaign. From the new tutorials launched by Disney, Microsoft, and Google, to the activities and promotions hosted at Facebook offices and Apple stores, to the thousands of industry volunteers from other companies, the collaboration was amazing. Our own web site hummed along more smoothly than ever, thanks to the support of Amazon Web Services. 

<p align="center"><iframe style="max-width: 100%" width="560" height="315" src="https://www.youtube.com/embed/8QwT58VTj_g" frameborder="0" allowfullscreen></iframe></p>

The global campaign was [launched by Canadian Prime Minister Justin Trudeau](https://www.youtube.com/watch?v=8QwT58VTj_g). And the world’s greatest athletes supported this year’s Hour of Code with a special [inspirational video](https://www.youtube.com/watch?v=ip051U7Rvds) for students. 

### Presidents and prime ministers rally around the Hour of Code

Eight presidents and prime ministers around the world have now hosted symbolic events to inspire students and educators to try computer science. 

<p align="center"><img src="/images/AR2016/worldleaders.png" width="100%"></p>

<br>

The global Hour of Code campaign has established [Computer Science Education Week](https://csedweek.org/) as a fixture in hundreds of thousands of schools, each year recruiting tens of millions of new students and hundreds of thousands of teachers to try computer science. The work of our global partners has also helped build global momentum for computer science. 

In 2016, Japan, Malaysia, New Zealand, Ireland, British Columbia, and Nova Scotia followed the lead set by UK, South Korea, Saudi Arabia, Argentina, Australia, and Italy to announce plans to integrate computer science into national curriculum. (See [status of global CS efforts](https://docs.google.com/document/d/1H171Mu2RKzD9Qvp38sjKu1vuXX524XqdHtUf0BFzpWI/edit))

[solid-block-header]

Obama's CS for All push and what comes after?

[/solid-block-header]

Last but certainly not least, the biggest headline in computer science in 2016 was the Obama administration’s announcement of [Computer Science for All](https://www.whitehouse.gov/blog/2016/01/30/computer-science-all). The President [announced](https://www.youtube.com/watch?v=8sthaV8ddJ4) that “in the new economy, computer science isn’t an optional skill, it’s a basic skill.” The announcement was coupled with a $4 billion proposal for Federal funding.

Although the headline funding of [CS for All](https://www.whitehouse.gov/blog/2016/01/30/computer-science-all) didn’t pan out, the bully pulpit played an important role to accelerate this movement. The White House helped amplify and celebrate the work of the computer science community, and President Obama’s [personal support](https://youtu.be/AI_dayIQWV4) for Code.org has been invaluable to the movement’s international growth. Local efforts such as [CS4RI](http://www.cs4ri.org/), [CS4NH](http://www.cs4nh.org/), [CS4TX](http://cs4tx.org/) have sprung up in response and will serve as new rallying cries for the movement.

Meanwhile, Congress unanimously [authorized](https://www.change.org/p/offer-computer-science-in-our-public-schools-csforall/u/18858341?tk=M7RYAN4jEP5jw3mCqm27nIEaVS8B4vUyGNJazbNUQDQ&utm_source=petition_update&utm_medium=email) long-term NSF funding for computer science research which has provided foundational guidance and support to many efforts in the space. NSF funding has established new CS courses in hundreds of classrooms: 5~10% of all new CS teachers prepared this decade were funded by the NSF, and ~19% of all AP CS Principles teachers are teaching NSF-funded curricula. We’re thankful to the bipartisan leadership of the Representatives and Senators who supported continuing this work.

Of course, together with the new [CS Education Coalition](http://www.csecoalition.org/), we will continue advocating for federal funding for computer science. Although most of the last few years’ progress to expand computer science in U.S. schools have been funded by private donors and state governments, an injection of federal funding would greatly accelerate these efforts.

Code.org recently penned a [memo for the Trump administration](https://www.linkedin.com/pulse/trillion-dollar-opportunity-america-hadi-partovi) laying out a very simple case:

- Computing occupations are the [#1 source of all new wages](http://blog.code.org/post/144206906013/computing-occupations-are-now-the-1-source-of-new) in the U.S.
- Computer science is the 3rd [subject students like the most](https://www.linkedin.com/pulse/what-classes-do-students-like-most-hadi-partovi) (behind art and dance)
- Yet [most schools don’t teach computer science](http://csedu.gallup.com/home.aspx)
- With [500,000 of the best-paying jobs in the world currently unfilled](/promote), addressing this problem is a trillion-dollar opportunity for the United States.

In 2016, Fortune 500 CEOs, 27 governors, and top education leaders [joined forces](http://change.org/computerscience) to call for federal funding to address this. In 2017, thanks to the leadership of champions from both parties, we are as hopeful as ever that this goal is within reach.

With yet another year of growth, we are more confident than ever in the strength and momentum behind the computer science movement, not just in the United States, but globally. Hundreds of thousands of worldwide educators have decided that every student in every school deserves the opportunity to learn computer science. 

The strength of this movement lies in the inspirational commitment of these teachers and educators. The nonprofits, philanthropists, and local governments who support them will continue and even accelerate our work in 2017 and beyond.

Hadi Partovi, Code.org


<hr>


## Finances


For calendar year 2016 our total expenses were $19.3 million. The chart below shows how this money was spent, according to audited financials.

<img src="/images/AR2016/expensespie.png" width="100%">


The table below shows the total cost breakdown of our headline achievements since founding.
 
| Areas of effort / Achievements in 2013 - 2016 | Fully-loaded cost (including admin) |
| ----------- | ----------- |
| **Marketing:** Hour of Code campaign, 350M served, reaching 10% of students globally, with events in 196 countries. 48% female participation | $8 million |
| **Curriculum + Code Studio learning platform:** ~300 hours of coursework created, 500,000 teacher accounts. 16 million student accounts. 45% female, 48% underrepresented minorities | $14.2 million |
| **Partnership + professional learning:** 41 [regional partners](/educate/regional-partner) and 400 facilitators who have prepared 52,000 new CS teachers across grades K-12. ($6.8M spent on grades K-5, $13.2M on grades 6-12)| $20 million |
| **Government affairs:** Policies changed in 31 states, $13M in state budgets allocated to CS, 3 Federal bills recognize CS. | $3.3 million |
| TOTAL SPENT (2013-2016) | $45.5 million |


## Other reports

* See the [2016 Hour of Code Impact Study](/files/HourOfCodeImpactStudy_Jan2017.pdf)
* See the [2015-16 Code.org Evaluation Report](/files/EvaluationReport2015-16.pdf)
* See the [2015 Annual Report](/about/2015)
* See the [2015 Hour of Code Impact Report](/about/evaluation/hourofcode)
* See the [2014-15 Evaluation Report](/about/evaluation)
* See the [2014 Annual Report](/about/2014)



## Our generous donors


<%= view :donors %>






