---
title: Code.org 2017 Annual Report
nav: about_nav
theme: responsive
---

<p align="center"><iframe style="max-width: 100%" width="560" height="315" src="https://www.youtube.com/embed/Qdc4F0Alhas" frameborder="0" allowfullscreen></iframe></p>

# Code.org 2017 Annual Report

[<button>View PDF of this report</button>](/files/annual-report-2017.pdf)
&nbsp;&nbsp;

<br>
<i>Note: As of September 2020, this page contains outdated language or graphics referencing “underrepresented minorities.” To see our current language policy around race, ethnicity, and gender, <a href="https://support.code.org/hc/en-us/articles/360050257191-Using-more-inclusive-language-at-Code-org" target="_blank">view this support article</a>.</i>

[solid-block-header]

The state of K-12 computer science

[/solid-block-header]

*January 29, 2018* – At Code.org we start our year with a look at the global landscape of K-12 computer science – whether it's the direct work of our team and our partners, or the indirect work of global efforts that share our vision. Although most of Code.org’s direct work has historically focused on the United States, the global momentum of the Hour of Code campaign has helped hundreds of partners and hundreds of thousands of educators who support this movement; and we celebrate all their work. 

It’s been just over four years since Code.org hired our first employee and the first launch of the Hour of Code. It’s been incredible to see global education embrace computer science, faster than ever before. 

In just 4 years, 25 countries, 40 U.S. states, and almost 200 U.S. cities and school districts have announced plans to expand access and diversity in computer science as part of primary and secondary education; over 72,000 U.S. teachers have attended Code.org workshops to teach computer science; a whopping 750,000 teachers have begun using Code.org to teach computer science classes to over 25 million students worldwide; diversity in computer science classrooms has improved for four years in a row; and the Hour of Code has surpassed 500 million served – reaching one out of every 10 students on the planet. Lastly, starting with President Obama in 2013, Code.org and our partners have recruited 9 Presidents and Prime Ministers to host events or record videos to inspire millions more to join this teacher-powered movement.

This past year, the new AP Computer Science Principles exam launched, and the new AP course helped set records in participation and diversity in the U.S.: 


<p align="center"><img src="/images/AR2017/ap-exam-stats.png" width="100%"></p>

The above isn’t our work alone. Code.org has had the support of [hundreds of partners](/about/partners), and hundreds of thousands of educators, globally. Many of them began this work years before Code.org even existed. The global momentum is driven by organizations who share our passion and support our mission on other continents. And in the U.S., our advocacy coalition has helped computer science win the bipartisan support of the federal government (in both the last administration and the current one) and most state governments, and their efforts have amplified the movement further. Our top donors – Amazon, Facebook, Google, Infosys, and Microsoft – deserve extra recognition for funding not only Code.org but also many other efforts pursuing the same goal. We are fortunate to be working alongside so many others – educators, nonprofits, corporations, and governments – that share our mission.

When Code.org launched in 2013, it seemed unrealistic to change the entire education system. While there is much work left to do, 2017 was yet another record year, bringing us even closer to realizing our vision: **that every student in every school should have the opportunity to learn computer science**.

<br>

[breakoutquote]

[col-33]

<img src="/images/AR2017/gregg.png" width="80%"/>

[/col-33]

[col-66]

“What you have done is by far the single most disruptive piece of education at scale within the existing education structure in my lifetime.”

*Gregg Fleisher, President, National Math & Science Initiative*

[/col-66]

[clearboth]

[/clearboth]
   
[/breakoutquote]

[solid-block-header]

Code.org by the Numbers

[/solid-block-header]

| Code.org Goal                                                                          | End of 2013                      | End of 2014                           | End of 2015                           | End of 2016                                                                                                                    | End of 2017                                                                                                                    |
| -------------------------------------------------------------------------------------- | ---------------------------------| --------------------------------------| --------------------------------------| -------------------------------------------------------------------------------------------------------------------------------| -------------------------------------------------------------------------------------------------------------------------------|
| Inspire students and increase diversity with the Hour of Code                          | 20 million served                | 90M<br>48% female                     | 195M<br>49% female                    | 344M<br>49% female                                                                                                             | 520M<br>49% female                                                                                                             |
| Engage classrooms and students in our CS courses. (Total # of accounts on Code Studio) | 10,000 teachers, 500,000 students| 90,000 teachers, 4M students          | 250,000 teachers, 8M students         | 495,000 teachers, 16M students                                                                                                 | 750,000 teachers, 25M students                                                                                                 |
| Enable students to show “basic coding proficiency” with CS Fundamentals.               | N/A                              | N/A                                   | N/A                                   | 887,840 total, 365,842 female                                                                                                  | 2,061,449 total, 860,361 female                                                                                                |
| Code.org students take and pass the AP CS Principles exam                              | N/A                              | N/A                                   | N/A                                   | N/A                                                                                                                            | 11,975 total, 3,406 female, 2,268 URM*                                                                                         |
| Improve diversity in CS (survey of teachers on Code Studio)                            | N/A                              | 43% female, 37% URM*                  | 43% female, 37% URM*                  | 45% female, 48% URM*, 47% free/reduced meal plans                                                                              | 45% female, 48% URM*, 47% free/reduced meal plans                                                                              |
| Help school districts implement CS curricula                                           | 10 district partners             | 60 district partners                  | 100 district partners                 | 41 regional partners (120+ districts)                                                                                          | 56 regional partners (175+ districts)                                                                                          |
| Prepare new CS teachers across grades K-12                                             | N/A                              | 4,000                                 | 20,000                                | 52,000                                                                                                                         | 72,000                                                                                                                         |
| Lead a coalition to set policies supporting CS.<br>Policies changed in:                | 5 states                         | 16 states                             | 17 states, including $9M in CS funding| [31 states](https://docs.google.com/document/d/1J3TbEQt3SmIWuha7ooBPvlWpiK-pNVIV5uuQEzNzdkE/edit), including $13M in CS funding| [40 states](https://docs.google.com/document/d/1J3TbEQt3SmIWuha7ooBPvlWpiK-pNVIV5uuQEzNzdkE/edit), including $29M in CS funding|
| Go global                                                                              | 30 languages supported           | 34 languages, 7 international partners| 46 langs, 70 intl partners            | 50 langs, 70 intl partners                                                                                                     | 62 langs, 84 intl partners                                                                                                     |
| Team size                                                                              | 14                               | 38                                    | 54                                    | 59                                                                                                                             | 69                                                                                                                             |

<br>

*URM stands for underrepresented minorities, and includes students who are black / African American, Hispanic/Latino/Latina/Latinx, Native American/Alaskan, and Native Hawaiian/Pacific Islanders. In the reports for 2014 and 2015, the numbers reported above only counted black and Hispanic students.

[solid-block-header]

Diversity in our classrooms

[/solid-block-header]

Addressing diversity in K-12 computer science is core to our mission. We all know the technology sector as a whole has a [diversity problem](http://fortune.com/2014/08/29/how-tech-companies-compare-in-employee-diversity/), caused by a variety of factors. Our focus is on one piece of the problem, the education pipeline, where historically only 20~25% of students are female, and 13~15% are underrepresented minorities. By contrast, the students across Code.org classrooms are far more balanced across gender, race, and also socioeconomic status. 

<p align="center"><img src="/images/AR2017/student-stats-diversity.png" width="100%"></p>

This is partly because teachers integrate our courses into classrooms that are already diverse, and partly because we incorporate a focus on diversity [throughout our work](/diversity). 

<p align="center"><img src="/images/AR2017/10-mil-girl.png" width="100%"></p>

We celebrated a special milestone in 2017: over 10 million girls have accounts on our Code Studio platform! Of course, creating an account isn’t the same as actively learning, but over half of these girls were actively coding in the last school year, mostly in grades 1-8. If only 1% of our active female learners continue to study CS in university, they would outnumber the gender gap that exists today! We can’t wait to watch diversity in computer science as our youngest learners graduate to high school and university.
<br><br>

[breakoutquote]

[col-33]

<img src="/images/AR2017/coder-team.png" width="80%"/>

[/col-33]

[col-66]

“This was my second year participating in the Hour of Code with all of my K-5 students. As a result of the students' success in learning to code, I sponsored an all girls coding team of 5th graders selected to present and share their coding skills at the GA Educators' Technology Conference in Atlanta this past November. You would have thought I was taking them to Disney World!! They could not believe we were taking a field trip on their behalf so they could demonstrate and show off their newly acquired skills. It was phenomenal!

Thank you for all you do in supporting, encouraging, and providing resources for teachers like myself who strive to create authentic and relevant learning experiences for those students who have limited choices with such unlimited potential!”

*Lisa Lindley, Assistant Principal - Chapel Hill Elementary, Georgia
(a Title I, high-poverty school)*

[/col-66]

[clearboth]

[/clearboth]

[/breakoutquote]

<br/>

To measure the impact of our commitment to diversity, we recently measured racial diversity in our high school CS Principles classrooms and compared it to the diversity of the school overall. The result: thanks to our [end-to-end approach to diversity, equity and inclusivity](/diversity), the diversity of students in our computer science classrooms almost perfectly matched the diversity of their school population at large. While computer science has traditionally been a subject dominated by white and Asian students, the Code.org high school classrooms demonstrate an almost perfectly balanced student diversity.

<img src="/images/AR2017/code-school-diversity.png" width="100%"/>

Lastly, although our mission focuses on diversity in CS *classrooms*, we’re proud to report the gender diversity on our own team. 58% of [Code.org’s staff are women](/about/team). 43% of our technical staff are women. Our [board and leadership team](/about/leadership) are gender-balanced. 

[solid-block-header]

Our curriculum

[/solid-block-header]

<img src="/images/AR2017/annual-report-courses.gif" width="100%"/><br><br>

In the four years since we launched our Code Studio coding platform, 1/10 of all students on the planet have engaged in our computer science courses, making Code Studio the most broadly used curriculum in computer science. Of course, millions of these students are “drive-by” users. What matters more to us is how many teachers incorporate our lessons into their classrooms, and what their students learn.

<br>

<p align="center"><img src="/images/AR2017/code-accounts.png" width="100%"/></p>

Beyond just measuring logins or page-views, we’ve begun measuring student achievement, whether at solving coding puzzles in Code Studio or at passing the AP computer science exam. We began counting students who demonstrate “basic coding proficiency” in our [CS Fundamentals](/educate/curriculum/elementary-school) course using a [definition](/about/evaluation/proficiency) which we created based on student success at coding challenges. The chart below shows how many students demonstrated this proficiency at different levels of difficulty. (This is still our first stab at measuring student proficiency, and we have a lot of work to improve it.)

<p align="center"><img src="/images/AR2017/code-proficiency.png" width="100%"/></p>

The secret behind our growth is simple: teachers recommend our courses to other teachers. One way to measure this is with the [Net Promoter](https://en.wikipedia.org/wiki/Net_Promoter) methodology: we score **85**, which is outstanding, and supported by the testimonials we hear from teachers in classrooms.
<br><br>

[breakoutquote]

[col-33]

<img src="/images/AR2017/cheryl.jpg" width="80%"/>

[/col-33]

[col-66]

“CS Discoveries is the perfect name for this course. There is just enough structure to help students be successful CS learners while being given the opportunity to be creative and have choice about their learning. I truly believe that this course may level the playing field for some of my students and very likely give them a break they need to find a path to success. THANK YOU Code.org for providing this opportunity for me and my students.”

*Cheryl Angel, ‎Media Specialist - Dublin City Schools, Ohio*

[/col-66]

[clearboth]

[/clearboth]

[/breakoutquote]

[solid-block-header]

Computer Science Principles

[/solid-block-header]

<p align="center"><img src="/images/AR2017/pokemon.gif" width="60%"></p>

<p align="center"><strong>High school CS Principles student project: a simple Pokemon app</strong></p>

In 2017, for the first time, students in Code.org classrooms faced the high-stakes of an Advanced Placement College Board exam. The [AP Computer Science Principles](/educate/csp) exam had the [largest launch](https://twitter.com/codeorg/status/880048151272370176) of any new AP exam, and Code.org classrooms accounted for 37% of all the exam takers. Since the founding of Code.org in 2013, the most common challenge we’d hear was: can America’s public schools really teach computer science? The new AP exam was our opportunity to answer this question, and the numbers speak for themselves:

<p align="center"><img src="/images/AR2017/exam-pass.png" width="100%"></p>

At Code.org, the exam pass-*rate* is not the most important metric, because for an optional course and an optional exam the pass-rate can vary widely based on the selection of students who take the class or the exam. Given our focus on diversity, what’s important to Code.org is to maximize the *total* participation and diversity of students in computer science, and to help as many students learn as possible. Over **16,000** Code.org students took the AP Computer Science exam, including **5,000** female students, and **4,400** underrepresented minorities.

<p align="center"><img src="/images/AR2017/overall-pass.png" width="100%"></p>

We’ve now begun a new school year, and the enrollment in Code.org CS Principles in 2017-18 classrooms is **44,000** students – larger than the entire AP CS Principles exam (across all curricula) last school year! If enough of our students take the AP exam, we are poised to see another year of monstrous growth in AP Computer Science Principles.

<p align="center"><iframe style="max-width: 100%" width="560" height="315" src="https://www.youtube.com/embed/rqU8eNJ-SS0" frameborder="0" allowfullscreen></iframe></p>

<p align="center">
<strong>This is the story of Aracely Casillas - a Code.org, AP CS Principles student who's going to change the world.</strong> 
<br/>
&ldquo;I feel like it's my responsibility to help guide other Latinas, other girls into this field. 
Show them that if I can do it, they can do it too.&rdquo;
</p>

[solid-block-header]

Our work with America's educators & schools

[/solid-block-header]

<img src="/images/AR2017/teachercon.png" width="100%">

In 2017, Code.org’s professional learning and school outreach programs accelerated in every dimension. We hosted 8 large professional learning conferences for educators, with stellar feedback. And we grew our network of regional partners and expert facilitators. This network will provide the backbone for the future of K-12 computer science, and in the past year they hosted 23 local workshops for teachers to begin teaching computer science.

### Our professional learning network: 57 regional partners, 339 expert facilitators

<p align="center"><img src="/images/AR2017/rp-map.png" width="100%"></p>

And above all, across all our programs, we passed a new milestone: 72,000 computer science teachers have been prepared by Code.org. 

<br>

[breakoutquote]

[col-33]

<img src="/images/AR2017/diane.jpg" width="80%"/>

[/col-33]

[col-66]

“I had no idea what coding was when I was asked to teach it, but I agreed to give it a try. The training provided by Code.org was impressive in every respect. They helped everyone feel comfortable with coding so that even newbies such as myself felt empowered. But, best of all, when I introduced coding to my students they loved it! Whenever I stumble a little, I can count on the team at Code.org to give me a detailed, easy to understand explanation within a day or so.”

*Diane Neville, Hallandale Beach, FL*

*[2017 Champion for Computer Science Award Winner](https://csedweek.org/awards/2017/neville)*

[/col-66]

[clearboth]

[/clearboth]

[/breakoutquote]

[solid-block-header]

40 states are embracing computer science

[/solid-block-header]

While most of Code.org staff and resources are focused on implementing computer science programs in schools, we have a small team working to drive change in policy to support, expand, and sustain K-12 computer science. This effort wouldn’t be possible without our coalition partners (especially Microsoft, the College Board, the Computer Science Teacher Association and Amazon), and our many local champions deserve the real credit for driving local change.

Our state policy work focuses on [9 ideas we urge every state to consider](/files/Making_CS_Fundamental.pdf). Below, we highlight our impact across 3 of these that are easiest to measure.

| Policy area | Policy changed since 2013                                                                                                                                                       |
| -------- | --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|
| **High school graduation policy**<br>States that have changed policies to allow rigorous CS courses to satisfy core high school graduation requirements | AL, AZ, AR, CA, CO, DE, FL, GA, ID, IL, KY, LA, MD, MN, ND, NH, NJ, NM, NV, NY, OH, PA, TN, VA, WA, WV, and WI.                                                                 |
| **Establishing state-level standards for CS**<br>States that have developed or are in the process of developing state education standards for computer science | AL, AR, CA, CO, FL, IA, ID, IN, KY, MA, NH, NJ, NV, PA, OK, SC, TX, VA, WA, WI, and WV. States that are evaluating developing standards: AZ, CT, DE, HI, MD, MT, NC, OH, and RI.|
| **Funding for CS**<br>States that have allocated funding specifically to K-12 computer science | AL, AR, AZ, CO, GA, IA, ID, MA, NC, NV, RI, UT, VA, WA. These states have allocated over $29M in total.                                                                         |
<br>

Throughout 2017, the local momentum for computer science continued to grow and even accelerate. Multiple states have begun establishing state-wide plans to teach computer science in every school. The [Governors for CS partnership](http://www.governorsforcs.org/) which we launched last year now has 16 state governors who are all committed to establishing educational standards, funding computer science, and expanding access and diversity in computer science in every school in their states.

<p align="center"><img src="/images/AR2017/gov-for-cs.png" width="100%"></p>

[breakoutquote]

[col-33]

<img src="/images/AR2017/celena.jpg" width="80%"/>

[/col-33]

[col-66]

“I am so appreciative of the opportunity to learn Code.org's curriculum. It is definitely pushing my limits as both a learner and a teacher. I will be a better educator and facilitator when this year of professional development is completed.”

*Celena Galbreaith, technology teacher - Ada Junior High School, Oklahoma*

[/col-66]

[clearboth]

[/clearboth]

[/breakoutquote]

[solid-block-header]

The Hour of Code and CS Education Week

[/solid-block-header]

<img src="/images/AR2017/hoc-world.png" width="100%">

2017 was another incredible year for the Hour of Code, which has now surpassed 500 million “served.” 

Hundreds of global nonprofits, corporations, and government agencies supported the campaign. Among tech companies, Microsoft helped create a new edition of the ever-popular [Minecraft Hour of Code tutorial](/minecraft), Google [changed their logo into a coding tutorial](https://twitter.com/codeorg/status/937720682984517632), Apple [hosted an Hour of Code](https://twitter.com/codeorg/status/935620874404687872) in every store and [Tim Cook participated](https://twitter.com/tim_cook/status/937663417615126528) at a Shanghai school for the deaf, Amazon Web Services provided the technology platform to host the Hour of Code, and Accenture [ran a video](https://twitter.com/Accenture/status/938873308271075328) about the Hour of Code in Times Square.  

To kick off computer science education week, the top women in tech – Melinda Gates, Peggy Johnson, Sheryl Sandberg, and Susan Wojcicki – joined Code.org president Alice Steinglass and CSTA’s Deborah Seehorn to kick off the week. As part of the event, 9 states, 76 school districts, and 102 organizations worldwide made [new pledges](https://medium.com/@codeorg/9-states-76-school-districts-and-102-organizations-worldwide-pledge-to-expand-computer-science-a3a9042453d9) to expand access to computer science for millions of students.

<p align="center"><iframe style="max-width: 100%" width="560" height="315" src="https://www.youtube.com/embed/80-tkIR6o5s" frameborder="0" allowfullscreen></iframe></p>

The global Hour of Code campaign has established [Computer Science Education Week](https://csedweek.org/) as a fixture in hundreds of thousands of schools, each year recruiting tens of millions of new students and hundreds of thousands of teachers to try computer science. The work of our global partners has also helped build global momentum for computer science.

[solid-block-header]

Bipartisan support at the highest levels of government

[/solid-block-header]

Despite divisions in U.S. politics, computer science is perhaps the issue with the most bipartisan support from politicians at all levels. It is the only issue that has won federal support from both the previous and current administrations. 

Back in 2016, President Obama [proposed](https://obamawhitehouse.archives.gov/blog/2016/01/30/computer-science-all) a $4 billion “Computer Science for All” initiative. Although the funding request wasn’t supported by Congress, the President reallocated $20m per year from the existing NSF budget to focus on computer science, and the announcement amplified the existing teacher and state-led momentum behind K-12 computer science. 

In 2017, as one of the new administration’s first education policies, the [President](https://www.whitehouse.gov/articles/president-trump-signs-presidential-memo-increase-access-stem-computer-science-education/) announced $200 million in funding for science, mathematics, technology, and engineering education with a particular emphasis on computer science. This didn’t require approval from Congress – it directed the Department of Education to focus existing budgets on computer science. The Department of Education subsequently issued [draft guidelines](https://medium.com/@codeorg/computer-science-one-of-eleven-priorities-for-us-department-of-education-4a497c89f902) stating computer science should be prioritized in scoring for competitive grants. A whopping [75% of the comments](https://www.regulations.gov/docketBrowser?rpp=25&so=DESC&sb=commentDueDate&po=0&dct=PS&D=ED-2017-OS-0078) the Department received on its proposal came from educators in our community, applauding the focus on computer science and asking for a clarified focus on CS.

While the CS community is excited at the prospects of federal funding, there are still no details on how the community can apply for these grants. The process has been slow, partly because government moves slowly, and partly because Congress still has not approved a federal budget for 2018. One of our goals for 2018 is to confirm details on how this funding will work, to help school districts and other organizations that are ready to invest in computer science offerings.

[solid-block-header]

Global momentum for computer science

[/solid-block-header]

In 2017, eight countries – Canada, Ecuador, Ireland, Sweden, Turkey, United Arab Emirates, UK, and Zimbabwe – all passed legislation or announced national plans allocating funding for computer science. Ever since the 2013 launch of the global Hour of Code movement, 25 countries have implemented nationwide policies to expand access to computer science in primary and secondary school. And ten additional countries have begun short-term or pilot initiatives or similar efforts to make CS accessible to more students.

While many of these countries are acting completely independently of Code.org’s work, many of them have drawn inspiration from the strength of the effort in the United States, from the momentum of the global Hour of Code campaign, and from the work of classroom teachers who use Code.org’s courses in over 60 languages. In a few of these cases, Code.org has played a direct role in helping guide these announcements. Beginning in 2018, we expect to make a more robust investment in the international movement for computer science, working with partners around the world. (See [status of global CS efforts](https://docs.google.com/document/d/1H171Mu2RKzD9Qvp38sjKu1vuXX524XqdHtUf0BFzpWI/edit))

[solid-block-header]

Code.org in the news

[/solid-block-header]

2017 was another great year as far as publicity for K-12 computer science in general, and for the work of Code.org in particular. For our donors and loyal supporters, we’d like to share three headline pieces that best showcased our work, in the New York Times, MSNBC, and CBS:


[col-33]

<center><a href="http://www.msnbc.com/msnbc-news/watch/tech-program-help-students-gain-skills-to-compete-for-future-jobs-959562307944"><img src="/images/AR2017/msnbc.png" width="90%"></a></center>

[/col-33]

[col-33]

<center><a href="https://www.nytimes.com/2017/06/27/technology/education-partovi-computer-science-coding-apple-microsoft.html"><img src="/images/AR2017/ny-times.png" width="90%"></a></center>

[/col-33]

[col-33]

<center><a href="https://www.youtube.com/watch?v=1iwq-uZNOSg"><img src="/images/AR2017/cbs.png" width="90%"></a></center>

[/col-33]

<p style="clear:both"> </p>

[solid-block-header]

We have a long way to go

[/solid-block-header]

With yet another year of stunning growth, we are more confident than ever in the strength and momentum behind the computer science movement, not just in the United States, but globally. Almost a million worldwide educators have decided to join this movement to bring opportunity to their students. 

The strength of this movement lies in the inspirational commitment of these teachers and educators. The nonprofits, philanthropists, and local governments who support them will continue and even accelerate our work in 2018 and beyond.  

To all of our supporters and partners, to the other organizations helping in the cause, and especially to the teachers: your passion and dedication is what gives us our daily dose of motivation. Thanks to you, we are closer than ever to realizing our vision: that every student in every school receives the opportunity to learn computer science.

Hadi Partovi, Code.org


<hr>


## Finances


For calendar year 2017 our total expenses were approximately* $21.4 million. The chart below paints a general picture of how this money was spent.

<img src="/images/AR2017/2017-finances.png" width="100%">

*Important note: The information above is not based on audited financials.

The table below shows the total cost breakdown of our headline achievements since founding.
 
| Areas of effort / Achievements in 2013 - 2017                                                                                                                                                                                         | Fully-loaded cost (including admin) |
| --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------| ----------------------------------- |
| **Diversity and Global Marketing:** Hour of Code campaign, 500M served, reaching 10% of students globally, with events in 196 countries. 49% female participation                                                                     | $10.4 million                       |
| **Curriculum + Code Studio learning platform:** ~300 hours of coursework created, 750,000 teacher accounts. 25 million student accounts. 45% female, 48% underrepresented minorities                                                  | $19.4 million                       |
| **Partnership + professional learning:** 56 [regional partners](/educate/regional-partner) and almost 400 facilitators who have prepared 72,000 new CS teachers across grades K-12. ($9.1M spent on grades K-5, $23.2M on grades 6-12)| $32.3 million                       |
| **Government affairs:** Policies changed in 40 states, $29M in state budgets allocated to CS, 3 Federal bills recognize CS.                                                                                                           | $5.0 million                        |
| TOTAL SPENT (2013-2017)                                                                                                                                                                                                               | $67.1 million                       |


## Other reports

* See a [PDF version of this report](/files/annual-report-2017.pdf)
* See the [2017 Hour of Code Impact Survey](https://medium.com/@codeorg/the-impact-of-an-hour-of-code-1de0ac2acd73)
* See the [2016 Annual Report](/about/2016) 
* See the [2016 Hour of Code Impact Study](/files/HourOfCodeImpactStudy_Jan2017.pdf)
* See the [2015-16 Code.org Evaluation Report](/files/EvaluationReport2015-16.pdf)
* See the [2015 Annual Report](/about/2015)
* See the [2015 Hour of Code Impact Report](/about/evaluation/hourofcode)
* See the [2014-15 Evaluation Report](/about/evaluation)
* See the [2014 Annual Report](/about/2014)



## Our generous donors


<%= view :donors %>
