---
title: Code.org 2018 Annual Report
nav: about_nav
theme: responsive
---

<p align="center"><iframe style="max-width: 100%" width="560" height="315" src="https://www.youtube.com/embed/pYKXqEpy1Mg" frameborder="0" allowfullscreen></iframe></p>

# Code.org 2018 Annual Report

[<button>View PDF of this report</button>](/files/annual-report-2018.pdf)
&nbsp;&nbsp;

<br>
<i>Note: As of September 2020, this page contains outdated language or graphics referencing “underrepresented minorities.” To see our current language policy around race, ethnicity, and gender, <a href="https://support.code.org/hc/en-us/articles/360050257191-Using-more-inclusive-language-at-Code-org" target="_blank">view this support article</a>.</i>

[solid-block-header]

The state of K-12 computer science

[/solid-block-header]

*February 12, 2019* – We begin each year by examining the global landscape of K-12 computer science – both the direct impact of Code.org and our partners, and the indirect impact of other efforts who share our vision or have been inspired by our work. 

It’s been just over five years since Code.org hired our first employee, launched the Hour of Code, and sparked global interest in the movement for teaching computer science. We’re humbled to see global education embrace computer science at an accelerating pace, and for Code.org to have become the most broadly-used curriculum for teaching it in schools.

In this short time: 32 countries, 48 U.S. states, and almost all the largest U.S. cities have set policies or announced efforts to expand equitable access to computer science as part of grades K-12; 87,000 U.S. teachers have attended Code.org workshops to teach computer science; a whopping 1 million teachers have begun using Code.org to teach computer science to over 36 million students; diversity in computer science classrooms has improved for five years in a row; and the Hour of Code has surpassed 720 million served – reaching 15% of all students worldwide. Lastly, starting with President Obama in 2013, Code.org and our partners have recruited 12 Presidents and Prime Ministers to host events or announce plans, inspiring millions more to join this teacher-powered movement.

One measure of this movement is participation and diversity in Advanced Placement Computer Science, which is the fastest-growing AP subject. Among young women and underrepresented minorities, participation has grown *ten-fold* this decade!

<p align="center"><img src="/images/infographics/AP-CS-exams-2018.png" width="80%"></p>

This isn’t Code.org’s work alone. We’ve had the help of [our Regional Partner network](/educate/regional-partner), [hundreds of partner organizations](/about/partners), and hundreds of thousands of educators, globally. Many of them began this work years before we even existed. The global momentum is led by international partners who share our mission in other countries. And in the U.S., our [advocacy partners](https://advocacy.code.org/) have helped computer science win the bipartisan support of the federal government (in both the last administration and the current one) and most state governments, and these government efforts amplify the movement further. Our largest donors – Amazon, Facebook, Google, Infosys, and Microsoft – deserve special thanks for funding not only our work but also many others pursuing the same mission. We are fortunate to work alongside so many others – educators, nonprofits, corporations, and governments – that share our goal.

When we launched Code.org in 2013, it seemed impossible to change all of K-12 education. While we have a long, long way to go, 2018 was another record year, making us more confident than ever in our vision that every student in every school has the opportunity to learn computer science.

<br>

[breakoutquote]

[col-33]

<img src="/images/fit-300/AR2018/Marsha-Testimonial-2018.jpg" style="max-width: 80%"/>

[/col-33]

[col-66]

"I have been with Code.org from the beginning, but you have really outdone yourselves this year with the Hour of Code offerings. I was a Systems Analyst and Programmer for 32 years before becoming a Computer Science teacher and I have written a LOT of code, and you and your staff amaze me every year. Thank you. You make teaching easy."

*Marsha, Computer, Business Information Technology and Math Teacher, Atech/Pymatuning Valley Middle School, Ohio*

[/col-66]

[clearboth]

[/clearboth]
   
[/breakoutquote]

[solid-block-header]

Code.org by the Numbers

[/solid-block-header]

| Code.org Goal                                                                          | End of 2013                            | End of 2014                        | End of 2015                                 | End of 2016                                                                                                                             | End of 2017                                                                                                                        | End of 2018                                                                                                                                                                                                         |
| -------------------------------------------------------------------------------------- | ---------------------------------------| -----------------------------------| --------------------------------------------| --------------------------------------------------------------------------------------------------------------------------------------- | ---------------------------------------------------------------------------------------------------------------------------------- | ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- |
| Inspire students and increase diversity with the Hour of Code                          | 20 million served                      | 90M, <br>48%<br> female            | 195M, <br>49%<br> female                    | 344M, <br>49%<br> female                                                                                                                | 520M, <br>49%<br> female                                                                                                           | 720M, <br>50%<br> female                                                                                                                                                                                            |
| Engage classrooms and students in our CS courses. (Total # of accounts on Code Studio) | 10,000 teachers,<br>500,000<br>students| 90,000 teachers,<br>4M <br>students| 250,000 teachers,<br>8M<br> students        | 495,000 teachers,<br>16M <br>students                                                                                                   | 750,000 teachers,<br>25M<br>students                                                                                               | 1M teachers,<br>36M<br>students                                                                                                                                                                                     |
| Enable students to show “basic coding proficiency” with CS Fundamentals.               | N/A                                    | N/A                                | N/A                                         | 887,840 total,<br>365,842 female                                                                                                        | 2,061,449 total,<br>860,361 female                                                                                                 | 3,296,655 total,<br>1,394,208 female                                                                                                                                                                                |
| Code.org students take and pass the AP CS Principles exam                              | N/A                                    | N/A                                | N/A                                         | N/A                                                                                                                                     | 11,975 total,<br>3,406 female,<br>2,268 URM*                                                                                       | 19,409 total,<br>5,838 female,<br>4,009 URM*                                                                                                                                                                        |
| Improve diversity in CS (survey of teachers on Code Studio)                            | N/A                                    | 43% female,<br>37% URM*            | 43% female,<br>37% URM*                     | 45% female,<br>48% URM*,<br>47% in high needs schools                                                                                   | 45% female,<br>48% URM*,<br>47% in high needs schools                                                                              | 46% female,<br>48% URM*,<br>47% in high needs schools                                                                                                                                                               |
| Help school districts implement CS curricula                                           | 10<br>district partners                | 60<br>district partners            | 100 district partners                       | 41 regional partners<br>(120+ districts)                                                                                                | 56 regional partners<br>(175+ districts)                                                                                           | 64 regional partners                                                                                                                                                                                                |
| Prepare new CS teachers across grades K-12                                             | N/A                                    | 4,000                              | 20,000                                      | 52,000                                                                                                                                  | 72,000                                                                                                                             | 86,565                                                                                                                                                                                                              |
| Lead a coalition to set policies supporting CS.<br>Policies changed in:                | 5 states                               | 16 states                          | 17 states,<br>including $9M<br>in CS funding| 31 states, <br>including $13M <br>in CS funding                                                                                         | 40 states,<br>including $29M<br> in CS funding                                                                                     | [48 states](https://docs.google.com/document/d/1J3TbEQt3SmIWuha7ooBPvlWpiK-pNVIV5uuQEzNzdkE/edit),<br>including $63M<br>in CS funding                                                                               |
| Go global                                                                              | 30 languages supported                 | 34 langs,<br>7 intl partners       | 46 langs,<br>70 intl partners               | 50 langs,<br>70 intl partners                                                                                                           | 62 langs,<br>84 intl partners                                                                                                      | 63 langs,<br>102 intl partners                                                                                                                                                                                      |
| Team size                                                                              | 14                                     | 38                                 | 54                                          | 59                                                                                                                                      | 69                                                                                                                                 | 80                                                                                                                                                                                                                  |

<br>

*URM stands for underrepresented minorities, and includes students who are black / African American, Hispanic/Latino/Latina/Latinx, Native American/Alaskan, and Native Hawaiian/Pacific Islanders. In the reports for 2014 and 2015, the numbers reported above only counted black and Hispanic students.

[solid-block-header]

Diversity in our classrooms

[/solid-block-header]

Addressing diversity in K-12 computer science is core to Code.org’s mission. The technology sector as a whole [lacks diversity](http://fortune.com/2014/08/29/how-tech-companies-compare-in-employee-diversity/) due to a number of factors. We focus on one piece of the puzzle, K-12 education, where historically only 20~25% of CS students are female, and 13~15% are underrepresented minorities. By contrast, students in Code.org classrooms are almost balanced across gender, race, and even socioeconomic status.

<p align="center"><img src="/images/infographics/diversity-courses-2018-web.png" width="100%"></p>

This is partly because teachers integrate Code.org into classrooms that are already diverse, and partly because we weave a focus on diversity [across our work](/diversity). 

<p align="center"><img src="/images/AR2018/15-million-girls-2018.png" width="100%"></p>

We celebrated a special milestone in 2018: over 15 million young women have accounts on Code.org! If only 1% of our active female students continue to study CS in university, they’d outnumber today’s gender gap! We can’t wait to watch diversity grow in computer science as our youngest learners graduate and change the face of technology. 
<br><br>

[breakoutquote]

[col-33]

<img src="/images/fit-300/AR2018/Melanie-testimonial-2018.jpg" style="max-width: 80%"/>

[/col-33]

[col-66]

“I stopped to chat with one of my female students and she said, *'I can't believe it! I don't like video games at all and I thought this was going to be awful. BUT I LOVE IT! Coding is so much fun!'* The Dance Party hooked my reluctant third grader in! Thank you for the innovative, exciting, and fun coding activities! Keep up the great work!”

*Melanie, Computer Science Teacher, Snowline Joint Unified School District, California*

[/col-66]

[clearboth]

[/clearboth]

[/breakoutquote]

<br/>

### **As more schools use Code.org, racial diversity approaches the U.S. average** 

In 2018, racial diversity across all Code.org CS Discoveries and CS Principles classrooms dropped relative to the prior year. Approximately 42% of U.S. public and charter middle and high school students are underrepresented minorities. As we grow our U.S. footprint beyond the more diverse urban districts where we began our work, we expect the student population using Code.org to more closely match this national average. Within these new schools we continue to focus on recruiting the underrepresented minorities to register for classes.

<p align="center"><img src="/images/AR2018/Percentage-Codeorg-Students-URM-2018.png" width="100%"></p>

When we examine individual high schools, **we see almost perfect racial representation in Code.org classrooms**. Our [end-to-end approach to diversity and equity](/diversity) helps to ensure the diversity of students in our CS classrooms roughly matches the diversity of their school population at large. While CS classes are traditionally dominated by white and Asian students, Code.org classrooms have almost balanced racial diversity.

<p align="center"><img src="/images/infographics/courses-diversity-scatterplot-2018.png" width="100%"></p>

Lastly, although our mission focuses on diversity in CS classrooms, we’re proud to report the gender diversity on our own team. 62% of [Code.org’s staff are women](/about/team). 42% of our technical staff are women. Our [board and leadership team](/about/leadership) are gender-balanced.<br>

[solid-block-header]

Our curriculum platform

[/solid-block-header]

<img src="/images/AR2018/student-projects-2018.gif" width="100%"/><br>

In five years since we launched our coding platform, 15% of all the world’s students have tried our CS courses, making Code.org the most broadly-used curriculum in CS. What matters more, however, is how many teachers incorporate our lessons into their classrooms, and what their students learn.

<br>

<p align="center"><img src="/images/infographics/accounts-on-codeorg-2018.png" width="100%"/></p>

Beyond measuring logins or page-views, we measure student achievement, whether at solving coding puzzles or passing the AP computer science exam. We created a [definition](/about/evaluation/proficiency) of “basic coding proficiency” in our [CS Fundamentals](/educate/curriculum/elementary-school) course by measuring student success in coding challenges. This chart shows how many students demonstrate this proficiency at different levels of difficulty. (This is a first stab at measuring student achievement, and it needs improvement.)

<br>

<p align="center"><img src="/images/infographics/coding-proficiency-2018.jpg" width="100%"/></p>

<br>

In 2018, to match our theme of creativity and our new slogan “What will you create?”, we also adopted a new measure of student achievement: total projects created by students. By the end of 2018, Code.org students have created 35 million projects. For these and other fun data points, see our new [Code.org Statistics page](/statistics).

<br>

<p align="center"><img src="/images/AR2018/35million-projects-2018.png" width="100%"/></p>

The secret behind our growth: teachers recommend our courses to other teachers. We measure this with the [Net Promoter](https://en.wikipedia.org/wiki/Net_Promoter) methodology: we score 85, which is outstanding and supported by the testimonials we hear from teachers in classrooms. 

[breakoutquote]

[col-33]

<img src="/images/fit-300/AR2018/Teacher-PD-KateCraven-2018.jpg" style="max-width: 80%"/>

[/col-33]

[col-66]

“There’s so much support out there for you. Through Code.org but also through community of teachers who are at these workshops and want to learn with you and partner with you. The biggest unintended thing for me was how amazing the content was but more so the facilitator and the other course participants.”

*Kate, Computer Science Teacher, Ashford School, Connecticut*


[/col-66]

[clearboth]

[/clearboth]

[/breakoutquote]

[solid-block-header]

The AP Computer Science Principles exam

[/solid-block-header]

<p align="center"><img src="/images/AR2018/student-project-final-2018.gif" width="60%"></p>

<p align="center"><strong>Student project: recreating arcade game Frogger</strong></p>

In 2018, Code.org [Computer Science Principles](/educate/csp) classrooms accounted for 38% of all AP CS exams, with growth of 69% relative to 2017. Given our scale, the performance and diversity of Code.org students on the exam matches the national average.

<p align="center"><img src="/images/AR2018/AP-CS-principles-passing-2018.png" width="100%"></p>

The exam pass-rate, however, can be [unreliable for drawing academic conclusions](https://medium.com/@codeorg/exam-scores-and-computer-science-classrooms-b39eb74ea238), because for an optional course and an optional exam, the pass-rate can vary widely based on the selection of students who take the class or the exam. Given our focus on diversity, what’s important to Code.org is to maximize the total participation and diversity of students in computer science, and to help as many students learn as possible. Over 27,000 Code.org students took the AP Computer Science exam, including 8,649 female students, and 8,015 underrepresented minorities.

Among CS Principles classrooms where the teacher was prepared in Code.org’s program, the number of young women who passed the AP exam tripled compared to last year, and the number of underrepresented minorities who passed the exam grew 2.5x.


<p align="center"><img src="/images/AR2018/AP-cs-principles-overall-2018.png" width="100%"></p>

Looking beyond the aggregate numbers, a 2018 research study of schools in the Code.org program [found that](https://medium.com/@codeorg/research-shows-5x-computer-science-participation-at-schools-in-code-org-program-f99ca6ff3207) a school’s participation in the Code.org program causes an estimated five-fold increase in the number of students that take, and earn qualifying scores on the AP Computer Science Principles exam.

<p align="center"><img src="/images/infographics/students-passing-ap-exam-2018.png" width="100%"></p>

We are now mid-way through a new school year, and enrollment across the Code.org CS Principles course is already 33% higher than last year. If enough of these students take the AP exam, we are poised to see another record-breaking year in AP Computer Science!

[solid-block-header]

Our work with America's educators & schools

[/solid-block-header]

<img src="/images/AR2018/teacher-workshops-2018.gif" width="100%">

In 2018, Code.org continued to grow our professional learning and school outreach programs. Our network of Regional Partners held workshops across the country and we hosted our last 2 national “TeacherCon” conferences for educators, with stellar feedback. 

All our workshops for teachers are delivered by our amazing network of Regional Partners and expert Facilitators. This network is the backbone for the future of computer science in U.S. schools.


### Our professional learning network: 64 regional partners, 550 expert facilitators

<p align="center"><img src="/images/AR2018/regional-partners-map-close-2018.png" width="100%"></p>

In 2018, we expanded the network, migrated our workshops for grades K-5 to be run by Regional Partners, launched fee-for-service pricing for our workshops in grades 6-12, and launched a pilot of virtual online workshops to support rural or remote teachers.
 
Across our programs, we passed a new milestone: 87,000 new CS teachers have been prepared by Code.org, 18,000 of them in 2018. The biggest growth has been within our programs for preparing teachers in grades 6-12, particularly our CS Discoveries course for grades 6-10.

<p align="center"><img src="/images/AR2018/classrooms-codeorg-network-2018.png" width="100%"></p>

<br>

[breakoutquote]

[col-33]

<img src="/images/fit-300/AR2018/annamary-testimonial-2018.jpg" style="max-width: 80%"/>

[/col-33]

[col-66]

“I came here super excited to be a part of this amazing group but also a little nervous that everyone else would know more than me and that I would be behind. I learned so much this week and I found that just by participating in Hour of Code and exploring CSD on the website that I actually knew more than I thought. The has been an amazing learning experience for me and I can't wait to bring this program to my students.”

*Annamary, Computer Science Teacher, Sister Thea Bowman Catholic School, Illinois*

[/col-66]

[clearboth]

[/clearboth]

[/breakoutquote]

[solid-block-header]

48 states have adopted policies for computer science

[/solid-block-header]

While most of Code.org focuses on implementing our computer science curriculum and our programs in schools, the [Code.org Advocacy Coalition](https://advocacy.code.org/) works to change government policies to support, expand, and sustain K-12 computer science. This wouldn’t be possible without our coalition partners (especially Microsoft, the College Board, the Computer Science Teachers Association, and Amazon), and the local champions who deserve the real credit for driving change.

Our state policy work focuses on [9 ideas we urge every state to consider](https://code.org/files/Making_CS_Fundamental.pdf). Below, we highlight our impact across 3 of these that are easiest to measure.


| Policy area | Policy changed since 2013                                                                                                                                                                                       |
| -------- | ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|
| **High school graduation policy**<br>States that have changed policies to allow rigorous CS courses to satisfy core high school graduation requirements | AL, AZ, AR, CA, CO, DE, FL, GA, ID, IL, IN, KY, LA, MD, MA, MI, MS, MN, MO, NE, NC, ND, NH, NJ, NM, NV, NY, OH, OK, OR, PA, RI, SC, SD, TX, TN, UT, VA, WA, WV, WI, and WY.                                     |
| **Establishing state-level standards for CS**<br>States that have developed or are in the process of developing state education standards for computer science | AL, AK, AR, AZ, CA, CT, DE, FL, GA, HI, IA, ID, IN, KS, KY, MD, MA, MI, MS, MO, MT, ND, NH, NJ, NV, OH, OK, OR, SC, UT, VA, WA, WI, WV, and WY. States that are evaluating developing standards: NM, NY, and NC.|
| **Funding for CS**<br>States that have allocated funding specifically to K-12 computer science | AL, AR, AZ, CO, GA, HI, IA, ID, IN, MA, MD, NJ, NY, NC, NV, PA, RI, UT, VA, WA. These states have allocated over $63M in total.                                                                                 |
<br>

In 2018, we set a new record, as 31 states adopted new policies for K-12 computer science! The [Governors for CS partnership](http://www.governorsforcs.org/) which we launched in 2016 now has 16 state governors committed to establishing educational standards, funding, and expanding access and diversity in computer science in every school in their states.

<p align="center"><img src="/images/AR2017/gov-for-cs.png" width="100%"></p>

The Code.org Advocacy Coalition published the [2018 State of CS Education](https://code.org/files/2018_state_of_cs.pdf) report, a landmark study of policy adoption in the United States. Code.org also grew the [K-12 Computer Science Census database](https://code.org/yourschool), which now has data on 38% of all U.S. schools (up from 11% in April 2018), including data on 65% of public high schools. Comparison of the school-level census data to the state policies shows that the Code.org policy recommendations directly lead to increased access and improved diversity in K-12 computer science.

<p align="center"><img src="/images/AR2018/state-of-cs-2018-final-2.jpg" width="100%"></p>


At the federal level, the Department of Education took a [first stab](https://medium.com/@codeorg/computer-science-is-particular-focus-of-federal-grants-951425166838) at implementing the White House [commitment](https://www.whitehouse.gov/briefings-statements/expanding-access-high-quality-stem-computer-science-education-provides-pathways-good-jobs/) to funding STEM and computer science in schools, but computer science received only a [small fraction](https://docs.google.com/document/d/1MtsyczPppj_Y1yQMGcE6tclsPuRHe23DPGO7p9w9V-s/edit#) of 2018 federal funding. As we write this report in early 2019, we have already seen [updated guidelines](https://medium.com/@codeorg/us-dept-of-education-prioritizes-computer-science-funding-64d47807d1dc) from the Department of Education, and we look forward to seeing a much larger allocation of federal funding to computer science by the end of 2019.

[breakoutquote]

[col-33]

<img src="/images/fit-300/AR2018/faith-testimonial-2018.jpg" style="max-width: 80%"/>

[/col-33]

[col-66]

“Both of the schools I work with are Title 1 100% free and reduced populations. The students were very excited to learn to code. I think we have students now who are aware of this as a career choice and want to do this for their career!”

*Faith, Elementary Gifted Coordinator, Thomasville City Schools, Georgia*

[/col-66]

[clearboth]

[/clearboth]

[/breakoutquote]

[solid-block-header]

The Hour of Code and CS Education Week

[/solid-block-header]

<img src="/images/AR2018/dp-csedweek-collage-final-2018.gif" width="100%">

2018 was a record year for the Hour of Code, which has now surpassed 720 million served and reached 15% of all students globally. In December alone, almost 60 million students tried the Hour of Code.

Another 150 new activities were added this year, and hundreds of global nonprofits, corporations, and government agencies supported the campaign. We’re thrilled to see [employee engagement](https://medium.com/@codeorg/amazon-microsoft-google-vista-and-more-rally-to-bring-the-hour-of-code-to-students-worldwide-4641325542cf) from our donors and corporate supporters continue to grow.  

The [Hour of Code Dance Party](/dance) - Code.org's featured activity for 2018 - brought unique energy to the campaign, inspiring tens of thousands of classrooms to code a choreography, dance to their code, and experience a magical combination of education and creativity. Videos from classrooms around the world inspired tweets from [Katy Perry](https://twitter.com/katyperry/status/1062837913992478722), [Ciara](https://twitter.com/ciara/status/1070525722794504192), [J Balvin](https://twitter.com/JBALVIN/status/1072871482399674375), [Sia](https://twitter.com/Sia/status/1072217442946965504), and [MC Hammer](https://twitter.com/MCHammer/status/1070840003033358336), while dozens of celebrities from all walks of life [recorded videos](https://www.youtube.com/playlist?list=PLzdnOPI1iJNcXMS80NRhQd0NA3po1swJf) to support this year’s theme of creativity.

[<img src="/images/AR2018/dp-celebrities-2018-final.png" style="max-width: 100%">](https://www.youtube.com/playlist?list=PLzdnOPI1iJNcXMS80NRhQd0NA3po1swJf)

To kick off CS Education Week, Melinda Gates and Microsoft President Brad Smith joined an [event](https://youtu.be/1MKR2WiGzgE) hosted by Code.org and the CS Teachers Association. 24,000 teachers and over 200 organizations, school districts, and governments worldwide made [new pledges](https://medium.com/@codeorg/9-states-76-school-districts-and-102-organizations-worldwide-pledge-to-expand-computer-science-a3a9042453d9) to expand access to computer science for millions of students.

The Hour of Code and CS Education Week have become a fixture in hundreds of thousands of schools, each year recruiting tens of millions of new students and tens of thousands of teachers to try computer science, globally.

[breakoutquote]

[col-33]

<img src="/images/fit-300/AR2018/emily-northcutt-testimonial-2018.jpg" style="max-width: 80%"/>

[/col-33]

[col-66]

“My students LOVED the new Dance Party activity! I have never seen this kind of a reaction to an Hour of Code activity and I have been using them for the last few years. In my students' reflection surveys, they said over and over how much they enjoyed the music and being creative in conjunction with computer science. Please create more modules that emphasize creativity! 96% indicated in the survey that they would like to do more computer science activities this year!”

*Emily, School Librarian/Technology Coordinator, Hearn Elementary School, Kentucky*

[/col-66]

[clearboth]

[/clearboth]

[/breakoutquote]


[solid-block-header]

Global momentum for computer science


[/solid-block-header]

In 2018, seven countries – Antigua and Barbuda, Argentina, Chile, Mexico, Paraguay, Thailand, Tunisia – passed legislation or announced national plans or allocated funding for computer science. Ever since the 2013 launch of Code.org, 32 countries have implemented nationwide policies or plans for computer science in primary and secondary school. 

While many of these countries are acting independently of Code.org, many have drawn inspiration from our effort in the United States, from the global momentum of the Hour of Code, and from the work of classroom teachers who use Code.org in over 60 languages. 

In 2018, we began a more robust investment in international partnerships. Attendees from 17 countries attended the first ever Code.org International Summit. 5 partners (in Chile, Israel, Malaysia, Mexico, and Thailand) began training teachers on Code.org courses. 

We hosted Hour of Code events with [Argentina President Mauricio Macri](https://twitter.com/codeorg/status/1047246639100964864) and with [Chile President Sebastián Piñera](https://twitter.com/hadip/status/1014470516554559489), and released an inspirational video for Latam audiences, featuring regional presidents, business leaders, and celebrities:

<p align="center"><iframe style="max-width: 100%" width="560" height="315" src="https://www.youtube.com/embed/EGgdCryC8Uo" frameborder="0" allowfullscreen></iframe></p>

Last but not least, Code.org was invited to [organize a student-coding event](https://www.youtube.com/watch?v=_IrGZqaoNIU) at the G20 summit for the Ministers of Education, and our founder Hadi Partovi spoke to the Ministers about the importance of integrating computer science into the global school day curriculum:

<p align="center"><iframe style="max-width: 100%" width="560" height="315" src="https://www.youtube.com/embed/ljqysBIvbL0" frameborder="0" allowfullscreen></iframe></p>

[solid-block-header]

We have a long way to go

[/solid-block-header]

With another record year behind us, we are more sure than ever about the momentum of the computer science movement, not just in the United States, but worldwide. Over 1 million teachers have joined Code.org to bring opportunity to their students.

The strength of this movement lies in the inspirational commitment of these educators. The nonprofits, philanthropists, corporations, and local governments who support them will push computer science to new levels in 2019 and beyond.

To all of our supporters and partners, to all the organizations helping the cause, and especially to the teachers: your dedication is what gives us our daily dose of motivation. Thanks to you, every year we are closer to realizing our vision: that every student in every school has the opportunity to learn computer science.

Hadi Partovi, Code.org

<hr>


## Finances


For calendar year 2018 our total expenses were approximately* $24.5 million. The chart below paints a general picture of how this money was spent.

<br>

<img src="/images/AR2018/finances-annual-report-2018.png" width="100%">

*Important note: The information above is not (yet) based on audited financials.

The table below shows the total cost breakdown of our headline achievements since founding.

 
| Areas of effort / Achievements in 2013 - 2018                                                                                                                                                                                           | Fully-loaded cost (including admin) |
| ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------| ----------------------------------- |
| **Diversity and Global Marketing:** Hour of Code campaign, 720M served, reaching 15% of students globally, with events in 196 countries. 50% female participation                                                                       | $12.4 million                       |
| **Curriculum + Code Studio learning platform:** ~330 hours of coursework created, 1M teacher accounts. 36 million student accounts. 46% female, 48% underrepresented minorities                                                       | $24.2 million                       |
| **Partnership + professional learning:**  64 [regional partners](/educate/regional-partner) and almost 550 facilitators who have prepared 87,000 new CS teachers across grades K-12. ($12.6M spent on grades K-5, $34.1M on grades 6-12)| $46.7 million                       |
| **Government affairs:** Policies changed in 48 states, $63M in state budgets allocated to computer science.                                                                                                                             | $6.9 million |
| **International:** Translation of curriculum into 63 languages, support for 102 international partnerships.                                                                                                                             | $1.2 million |                         |
| TOTAL SPENT (2013-2018)                                                                                                                                                                                                                 | $91.4 million                       |


## Other reports

* See a [PDF version of this report](/files/annual-report-2018.pdf)
* See recent [Code.org Statistics](/statistics)
* See the [2017 Annual Report](/about/2017) 
* See the [2016 Annual Report](/about/2016) and [2015-16 Code.org Evaluation Report](/files/EvaluationReport2015-16.pdf)
* See the [2015 Annual Report](/about/2015) and [2014-15 Evaluation Report](/about/evaluation)
* See the [2014 Annual Report](/about/2014)



## Our generous donors

<%= view :donors %>
