---
title: Code.org 2019 Annual Report
nav: about_nav
theme: responsive
---

<p align="center"><iframe style="max-width: 100%" width="560" height="315" src="https://www.youtube.com/embed/79uXmtWxkT0" frameborder="0" allowfullscreen></iframe></p>

# Code.org 2019 Annual Report

[<button>View PDF of this report</button>](/files/Code.org-Annual-Report-2019.pdf)
&nbsp;&nbsp;

<br>
<i>Note: As of September 2020, this page contains outdated language or graphics referencing “underrepresented minorities.” To see our current language policy around race, ethnicity, and gender, <a href="https://support.code.org/hc/en-us/articles/360050257191-Using-more-inclusive-language-at-Code-org" target="_blank">view this support article</a>.</i>

[solid-block-header]

The state of K-12 computer science

[/solid-block-header]

*February 20, 2020* – We begin each year by examining the global landscape of K-12 computer science – both the direct impact of Code.org and our partners, and the indirect impact of other efforts who share our vision or have been inspired by our work.

It’s been just over six years since Code.org hired our first employee, launched the Hour of Code, and sparked global interest in the movement for teaching computer science. We’re humbled to see global education embrace computer science at an accelerating pace, and for Code.org to have become the most broadly-used curriculum for teaching CS in schools.

In this short time: 50 countries, all 50 U.S. states, and all the largest U.S. cities have set policies or announced efforts to expand equitable access to computer science as part of grades K-12; over 106,000 U.S. teachers have attended Code.org workshops to teach computer science; a whopping 1.3 million teachers have begun using Code.org to teach computer science to over 46 million students; diversity in computer science classrooms has improved for six years in a row; and the Hour of Code has surpassed 900 million served - with more than 30% of activity coming from 180 countries outside of the U.S.

2019 also brought many firsts for Code.org such as our [feature on 60 Minutes](https://www.cbsnews.com/news/closing-the-gender-gap-in-the-tech-industry-60-minutes/) that included an interview with CSforAllNYC teacher, Alexis Dixon. With an average of 11 million viewers per week, the 60 Minutes feature brought enormous awareness to computer science and the need to offer courses to students as young as possible if we hope to see improved diversity in CS. 

One measure of this movement is participation and diversity in Advanced Placement Computer Science, which is the fastest-growing AP subject. Among young women and underrepresented minorities, participation has grown ten-fold since our launch six years ago!

<p align="center"><img src="/images/AR2019/studentparticipationovertime-ar2019.png" width="80%"></p>

This isn’t Code.org’s work alone. We’ve had the help of our Regional Partner network, hundreds of partner organizations, and hundreds of thousands of educators, globally. Many of them began this work years before we even existed. The global momentum is led by international partners who share our mission in other countries. And in the U.S., our advocacy partners have helped win bipartisan support from the federal government (in both the last administration and the current one) and from every state government, amplifying the movement further. Our largest donors – Amazon, Facebook, Google, Infosys, and Microsoft – deserve special thanks for funding not only our work but also many others pursuing the same mission. We are fortunate to work alongside so many others – educators, nonprofits, corporations, and governments – that share our goal.

When we launched Code.org in 2013, it seemed impossible to change all of K-12 education. While we have a long, long way to go, 2019 was another record year, making us more confident than ever in our vision that every student in every school has the opportunity to learn computer science.


<br>

[breakoutquote]

[col-33]

<img src="/images/fit-300/AR2019/2019-ar-bruce-mcbrien.jpg" style="max-width: 80%"/>

[/col-33]

[col-66]

"The palpable enthusiasm, excitement, collaborative learning, problem-solving and critical thinking moments are the highlights of my instructional technology lessons....no other part of my curriculum is so globally valuable or exciting."

*-Bruce McBrien, Massachusetts*

[/col-66]

[clearboth]

[/clearboth]
   
[/breakoutquote]

[solid-block-header]

Code.org by the Numbers

[/solid-block-header]

<img src="/images/AR2019/2019-ar-statschart3.png" style="max-width: 100%"/>
                                                                        
<br>

*URM stands for underrepresented minorities, and includes students who are black / African American, Hispanic/Latino/Latina/Latinx, Native American/Alaskan, and Native Hawaiian/Pacific Islanders. In the reports for 2014 and 2015, the numbers reported above only counted black and Hispanic students.

[solid-block-header]

Diversity in our classrooms

[/solid-block-header]

Addressing diversity in K-12 computer science is core to Code.org’s mission. The technology sector as a whole lacks diversity due to a number of factors. We focus on one piece of the puzzle, K-12 education, where historically only 20~25% of CS students are female, and 13~15% are underrepresented minorities. By contrast, students in Code.org classrooms are almost balanced across gender, race, and even socioeconomic status.

<p align="center"><img src="/images/AR2019/2019-annual-report-diversity.png" width="100%"></p>

This is partly because teachers integrate Code.org into classrooms that are already diverse, and partly because we weave a focus on diversity [across our work](/diversity). 

<p align="center"><img src="/images/AR2019/2019-annualreport-20milliongirls.jpg" width="100%"></p>

We celebrated a special milestone in 2019: over 20 million young women have accounts on Code.org! If only 1% of our active female students continue to study CS in university, they’d outnumber today’s gender gap! We can’t wait to watch diversity grow in computer science as our youngest learners graduate and change the face of technology.

[breakoutquote]

[col-33]

<img src="/images/fit-300/AR2019/2019-ar-joseph-ramos.jpg" style="max-width: 80%"/>

[/col-33]

[col-66]

“The look on the students' faces as they heard the music and completed the Dance assignment was priceless. Seeing all my students collaborating on the rest of the lessons was also inspiring; having Code.org in our school has been a priceless commodity! Being a Title I school, a lot of our students don't have access to personal computers or laptops, so they can end up falling behind in terms of technology. However, we do our best to keep them motivated and show them the potential that learning how to code has on their future.”

*-Joseph Ramos, Texas*

[/col-66]

[clearboth]

[/clearboth]

[/breakoutquote]

<br/>

### **As more schools use Code.org, racial diversity approaches the U.S. average** 

In 2019, racial diversity across all Code.org CS Discoveries and CS Principles classrooms saw some of the highest percentages we’ve seen to date! Approximately 42% of U.S. public and charter middle and high school students are underrepresented minorities. As our footprint has grown throughout schools in the U.S., we are pleased to see that our classrooms more closely reflect the student population. Still, we continue to focus on recruiting underrepresented minorities to register for classes. 

<p align="center"><img src="/images/AR2019/2019-annualreport-percentageofurm.jpg" width="100%"></p>

When we examine individual high schools, **we see almost perfect racial representation in Code.org classrooms**. Our [end-to-end approach](/diversity) to diversity and equity helps to ensure the diversity of students in our CS classrooms roughly matches the diversity of their school population at large. While CS classes are traditionally dominated by white and Asian students, Code.org classrooms have almost balanced racial diversity.

<p align="center"><img src="/images/infographics/courses-diversity-scatterplot-2018.png" width="100%"></p>

Lastly, although our mission focuses on diversity in CS classrooms, we’re proud to report the gender diversity on our own team. 60% of Code.org’s staff are women, including 53% of our technical staff. Our board and leadership team are also gender-balanced.

| **Our own team gender diversity**                                                                |             |
| ------------------------------------------------------------------------------------------------ | ----------- |
| Code.org full time staff                                                                         |  60% female |
| Our leadership team                                                                              |  55% female |
| Our engineering team (software engineers only)                                                   |  55% female |
| Our technical staff (software engineers, technical product managers, computer science educators) |  53% female |
| Our extended team of expert facilitators                                                         |  66% female |
| The teachers attending our professional development                                              |  86% female |

<br/><br/>


[breakoutquote]

[col-33]

<img src="/images/fit-300/AR2019/2019-ar-dawn-crane.jpg" style="max-width: 80%"/>

[/col-33]

[col-66]

“I had more girls interested this year than ever.  Students were skipping recess to come to my class to do extra coding!”

*-Dawn Crane, Texas*

[/col-66]

[clearboth]

[/clearboth]

[/breakoutquote]

[solid-block-header]

Our curriculum platform

[/solid-block-header]

<img src="/images/AR2019/student-projects-collage-2019-2.gif" width="100%"/><br>

In only six years, we’re proud to have grown into the most broadly-used curriculum in computer science, with 37% of our teachers and students using the platform from outside of the U.S., and 54% of our CS Fundamentals usage being international as well. 

<br>

<p align="center"><img src="/images/AR2019/2019annualreport-accountsoncode.jpg" width="100%"/></p>

Beyond measuring logins or page-views, we measure student achievement, whether at solving coding puzzles or passing the AP computer science exam. We created a [definition](/about/evaluation/proficiency) of “basic coding proficiency” in our [CS Fundamentals](/educate/curriculum/elementary-school) course by measuring student success in coding challenges. 

<br>

<p align="center"><img src="/images/AR2019/2019-coding-proficiency-cs-fundamentals.jpg" width="100%"/></p>

<br>

As a first step in measuring achievement on our platform, this method will continue to improve and evolve. In the meantime, this chart shows how many students demonstrate this proficiency at different levels of difficulty, with almost 4.5 million showing “basic coding proficiency”.

<br>

<p align="center"><img src="/images/AR2019/2019-annualreport-67millionprojects.jpg" width="100%"/></p>

By the end of 2019, students have created 67 million projects on Code.org, demonstrating that computer science can help schools teach problem-solving and critical-thinking hand-in-hand with creativity and collaboration. For these and other fun data points, see our new [Code.org Statistics](/statistics) page.

[breakoutquote]

[col-33]

<img src="/images/fit-300/AR2019/2019-ar-kayleigh-stevens.jpg" style="max-width: 80%"/>

[/col-33]

[col-66]

“My students didn’t realize coding could be a career option! As children of a very rural part of southern Ohio, they don’t always see a variety of careers in action, so this was eye-opening to them. When we watched the videos and discussed the career options, they were excited! Many went home that night and continued coding.”

*-Kayleigh Stevens, Ohio*


[/col-66]

[clearboth]

[/clearboth]

[/breakoutquote]

[solid-block-header]

The AP Computer Science Principles exam

[/solid-block-header]

In 2019, Code.org [Computer Science Principles](/educate/csp) classrooms accounted for 42% of all U.S. students taking the Advanced Placement exam, up from 38% in 2018. Given our scale, the performance and diversity of Code.org students on the exam matches the national average. Both nationally and in Code.org classrooms, the pass rate also increased by one percentage point compared to 2018. 

<p align="center"><img src="/images/AR2019/2019-annual-reportoverall-exam-csp.png" width="100%"></p>

The exam pass-rate, however, can be [unreliable for drawing academic conclusions](https://medium.com/@codeorg/exam-scores-and-computer-science-classrooms-b39eb74ea238), because for an optional course and an optional exam the pass-rate can vary widely based on the selection of students who take the class or the exam. Given our focus on diversity, what’s important to Code.org is to maximize the total participation and diversity of students in computer science, and to help as many students learn as possible. 

Over 39,000 Code.org students took the AP Computer Science exam, including 13,110 female students, and 11,513 underrepresented minorities. As you can see in the chart below, classrooms taught by teachers who attended the Code.org Professional Learning Program also have an increased percentage of female and URM student test-takers compared to the rest of the nation. 

<p align="center"><img src="/images/AR2019/2019-annualreport-overallapcsp.jpg" width="100%"></p>

This is consistent with a [2018 research study](https://medium.com/@codeorg/research-shows-5x-computer-science-participation-at-schools-in-code-org-program-f99ca6ff3207) of schools in the Code.org program, which found a school’s participation in the Code.org program causes an estimated five-fold increase in the number of students that take, and earn qualifying scores on the AP Computer Science Principles exam.

<p align="center"><img src="/images/infographics/students-passing-ap-exam-2018.png" width="100%"></p>

[solid-block-header]

Our work with America's educators & schools

[/solid-block-header]

<img src="/images/AR2019/2019-annualreport-professionallearningphoto.jpg" width="100%">

In 2019, Code.org continued to grow our professional learning for teachers and school outreach programs. Workshops were held throughout the country by our amazing network of Regional Partners and expert Facilitators. This network is the backbone for the future of computer science in U.S. schools.

### Our professional learning network: 60 regional partners, 615 expert facilitators

<p align="center"><img src="/images/AR2019/2019-annual-report-rpmap.gif" width="100%"></p>

After launching our first fee-for-service pricing two years ago, 2019 was an opportunity to focus on the sustainability of our new pricing model. We were proud to offer scholarships to half of our attendees, with the other 46% of teachers being able to fund the program on their own through school funding or other scholarships. 

Across our programs, we passed a new milestone: 106,547 new CS teachers have been prepared by Code.org, 16,000 of which were in 2019. The largest growth can be seen in our programs aimed at preparing teachers in grades 6-12, particularly our CS Discoveries course for grades 6-10.

<p align="center"><img src="/images/AR2019/2019-annualreport-apexampassrate.jpg" width="100%"></p>

In addition to working directly with teachers through our Professional Learning Program and online curriculum, we’re also proud to partner with reputable education organizations such as the International Society for Technology Education (ISTE). In 2019, we participated in the writing and reviewing of the [ISTE Computational Thinking Standards](https://www.iste.org/standards/computational-thinking). These standards help integrate computational thinking into all disciplines, not just computer science, for students of all ages. 

We also worked with the Expanding Computing Education Pathways Alliance, CSforAll, and CSTA to host our first ever CSEdCon. More than 450 attendees gathered in Las Vegas, Nevada from across districts, regions, and 17 countries to discuss advancing CS at a district and state-level. Keynote speakers included Global Teacher Prize winner Peter Tabichi, Nevada Governor Steve Sisolak and Nevada Senator Woodhouse.

<br>

[breakoutquote]

[col-33]

<img src="/images/fit-300/AR2019/2019-ar-joe-afflerbach.png" style="max-width: 80%"/>

[/col-33]

[col-66]

“I went through Code.org's CSP Training in the summer of 2017 and taught it for the first time last school year to 8 students. This year, I have 42 students! Who knows how high the numbers will go. Code.org's curriculum, the support, and the friends that I have made have certainly made this an outstanding, comfortable experience. ”

*-Joe Afflerbach, Pennsylvania*

[/col-66]

[clearboth]

[/clearboth]

[/breakoutquote]

[solid-block-header]

50 states have adopted policies for computer science

[/solid-block-header]

While most of Code.org focuses on implementing our computer science curriculum and our programs in schools, the [Code.org Advocacy Coalition](https://advocacy.code.org/) works to change government policies to support, expand, and sustain K-12 computer science. This wouldn’t be possible without our coalition partners (especially Microsoft, the College Board, the Computer Science Teachers Association, and Amazon), and the local champions who deserve the real credit for driving change.

Our state policy work focuses on [9 ideas we urge every state to consider](https://code.org/files/Making_CS_Fundamental.pdf). Below, we highlight our impact across 3 of these that are easiest to measure.


| Policy area                                                                                                                                                    | Policy changed since 2013                                                                                                                                                                            |
| -------------------------------------------------------------------------------------------------------------------------------------------------------------- | ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- |
| **Requiring all schools to offer CS**<br>States that have changed policies to require at least all high schools to offer one or more computer science courses  | AL, AR, CT, DE, FL, GA, ID, IN, MD, NH, NJ, NV, SC, TX, VA, WA, WV, WY.                                                                                                                              |
| **Establishing state-level standards for CS**<br>States that have developed or are in the process of developing state education standards for computer science | AK, AL, AR, AZ, CA, CT, DE, FL, HI, IA, IN, ID, KS, KY, MA, MD, MI, MO, MS, ND, NH, NJ, NM, NV, OH, OK, PA, RI, SC, UT, VA, WA, WI, WV <Br>States that are developing standards: MT, NC, NY, WY, TX. |
| **Funding for CS**<br>States that have allocated funding specifically to K-12 computer science, totaling **$150 million**!                                     | AL, AZ, AR, CA, CO, FL, GA, HI, IA, ID, IN, KY, MA, MD, MO, MS, NC, NJ, NM, NV, NY, OH, PA, RI, SC, UT, VA, WA, WV.                                                                                  |
<br>

In 2019, we set a new record, as 45 states adopted new policies for K-12 computer science in just one year! The [Governors for CS partnership](http://www.governorsforcs.org/) which we launched in 2016 now has 18 state governors committed to establishing educational standards, funding, and expanding access and diversity in computer science in every school in their states.

<p align="center"><img src="/images/AR2019/2019-annualreport-gov.jpg" width="100%"></p>

The Code.org Advocacy Coalition published the [2019 State of CS Education](https://advocacy.code.org/2019_state_of_cs.pdf) report, a landmark study of policy adoption in the United States. Code.org also grew the K-12 [Computer Science Census database](https://code.org/yourschool), which now has data on 55% of all U.S. schools, including data on 83% of public high schools. This is an increase of 13% across K–12 schools and 16% of public high schools reported last year.

Comparison of the school-level census data to the state policies shows that the implementation of Code.org policy recommendations correlate not only to increased access in K-12 computer science, but also to improved gender diversity.

<p align="center"><img src="/images/AR2019/2019-annual-report-policies-female-students.png" width="60%"></p>

The Department of Education also made a [significant policy change](https://medium.com/@codeorg/us-dept-of-education-prioritizes-computer-science-funding-64d47807d1dc) in support of K-12 CS by giving CS proposals bonus points within their [Education, Innovation and Research program](https://oese.ed.gov/offices/office-of-discretionary-grants-support-services/innovation-early-learning/education-innovation-and-research-eir/). After a [detailed analysis](https://docs.google.com/spreadsheets/d/1Hk30RgZ-zlvFSewsv5-6DSFzCUJX_e8DtwG5U2KjY9I/edit#gid=1438368919) we can confirm that this policy change made a material difference in driving funding for K-12 CS: in 2019, the Department invested $100M in K-12 CS proposals (over 5 years), all of which were exclusively or heavily focused on CS. We also found that 100% of these awards had specific diversity and equity elements. Code.org was proud to be selected as the winner of one of these Federal grants. 

[breakoutquote]

[col-33]

<img src="/images/fit-300/AR2019/2019-ar-robin-fox.jpg" style="max-width: 80%"/>

[/col-33]

[col-66]

“Our school is 7th through 12th grade. All students were able to participate, even those with intellectual disabilities reading on a kindergarten level.  The variety of activities made Hour of Code accessible to all my students.”

*-Robin Fox, West Virginia*

[/col-66]

[clearboth]

[/clearboth]

[/breakoutquote]

[solid-block-header]

The Hour of Code and CS Education Week

[/solid-block-header]

<img src="/images/AR2019/2019-annual-report-csedweek.jpg" width="100%">

2019 was a record year for the Hour of Code, which has now surpassed 900 million served, with almost a third being international. In December alone, students tried the Hour of Code almost 50 million times.

Another 100 new activities were added this year, and hundreds of global nonprofits, corporations, and government agencies supported the campaign. The [Hour of Code Dance Party](/dance) - Code.org’s featured activity for 2018 - was also translated into 25 languages, helping to increase accessibility in over 180 countries.

<p align="center"><img src="/images/AR2019/2019-annual-report-stgs.jpg" width="75%"></p>

Inspired by the United Nations’ Sustainable Development Goals, this year’s Hour of Code used #CSforGood as a guide for showing students how computer science can make a positive impact in our world —from self-driving car technology that can make our roads safer, to data science techniques that can identify disease earlier and keep us healthier.

This led to Code.org’s newest activity, [AI for Oceans](/oceans). Created to show the potential of Artificial Intelligence, AI for Oceans is the Hour of Code’s first machine learning activity. By teaching students about AI, training data, and bias while also exploring ethical issues and ways AI can be used in the world, we’re proud to bring another example to classrooms of how CS is about much more than coding. 

<p align="center"><iframe style="max-width: 100%" width="560" height="315" src="https://www.youtube.com/embed/Ayxrf65Rs84" frameborder="0" allowfullscreen></iframe></p>

Together with the CS Teachers Association and the Computer Science Alliance, we were honored to kick off [CS Education Week](https://csedweek.org/kickoff2019) in December with 400 Native American students from the Santa Fe Indian School in New Mexico. The event featured a student project fair and a #CSforGood panel that spoke to students about the importance of ethical responsibility in computer science.

The Hour of Code and CS Education Week have become a fixture in hundreds of thousands of schools, each year recruiting tens of millions of new students and tens of thousands of teachers to try computer science, globally.

[breakoutquote]

[col-33]

<img src="/images/fit-300/AR2019/2019-ar-mai-vu.jpg" style="max-width: 80%"/>

[/col-33]

[col-66]

“I really enjoyed the AI unit. It was thoughtful and approachable. It changed my mind as to when I should introduce this concept to my middle school students. To the team who created these set of tutorials - well done!”

*-Mai Vu, Colorado*

[/col-66]

[clearboth]

[/clearboth]

[/breakoutquote]


[solid-block-header]

Global momentum for computer science


[/solid-block-header]

Ever since the 2013 launch of Code.org, 50 countries have implemented nationwide policies or plans for computer science in primary and secondary school. 

While many of these countries are acting independently of Code.org, most have drawn inspiration from our effort in the United States, from the global momentum of the Hour of Code, and from the work of classroom teachers who use Code.org in over 67 languages. 

In 2019, we continued to strengthen our investment in international partnerships, with notable events across the globe. In February, President Cyril Ramaphosa [pledged to overhaul](https://businesstech.co.za/news/government/298140/6-new-subjects-you-can-expect-to-be-introduced-at-south-african-schools/) South Africa’s education sector in part by including new technology subjects and specialisations including the internet of things, robotics, and artificial intelligence. Later in the year, Code.org President, Alice Steinglass, [attended an Hour of Code with Stevo Pendarovski](https://twitter.com/AliceSteinglass/status/1195086779881148416), the President of North Macedonia. Microsoft also organized a unique opportunity for [two young girls to teach the Prime Minister of Malaysia](https://twitter.com/MicrosoftASIA/status/1204303545819750400), Mahathir Mohamad, how to code using Code.org.

<p align="center"><iframe style="max-width: 100%" width="560" height="315" src="https://www.youtube.com/embed/f2-QYjKEKF4" frameborder="0" allowfullscreen></iframe></p>

Last but not least, Pope Francis joined 3 young women to [contribute a line of code](https://app.myperfit.com/apiv2/shares/scholasr/campaigns/37be93ae02f5ceb69f890bf799433cb5102f0435108e8178439a6b3a394e35c1/227/contents/230/preview) to an app, became the first Pope to program a computer, and called on students globally to learn computer science and use their creativity to improve the world. 

This year it was also announced that the PISA assessment will soon measure how countries teach computational thinking and computer science. The [PISA](https://www.oecd.org/pisa/aboutpisa/howtojoinpisa.htm) is an internationally recognized assessment on student achievement that determines how countries are ranked for student success in math and science. [PISA 2021 will be the first to explicitly study](https://medium.com/@codeorg/computer-science-and-pisa-2021-395438f32d3a) how countries include computer science in their education programs. With the introduction of computational thinking in the PISA Math assessment, global ministries of education have a new incentive to prioritize CS in order to maintain their rankings. 

[solid-block-header]

We have a long way to go

[/solid-block-header]

With another record year behind us, we are more sure than ever about the momentum of the computer science movement, not just in the United States, but worldwide. Over 1.3 million teachers have joined Code.org to bring opportunity to their students.

The strength of this movement lies in the inspirational commitment of these educators. The nonprofits, philanthropists, corporations, and local governments who support them will push computer science to new levels in 2020 and beyond.

To all of our supporters and partners, to all the organizations helping the cause, and especially to the teachers: your dedication is what gives us our daily dose of motivation. Thanks to you, every year we are closer to realizing our vision: that every student in every school has the opportunity to learn computer science.

Hadi Partovi, Code.org   

<hr>


## Finances


For calendar year 2019 our total expenses were approximately* $22.8 million. The chart below paints a general picture of how this money was spent.

<br>

<img src="/images/AR2019/2019-annual-report-finance.png" width="100%">

*Important note: The information above is not (yet) based on audited financials.

The table below shows the total cost breakdown of our headline achievements since founding.

 
| Areas of effort / Achievements in 2013 - 2019                                                                                                                                                                                           | Fully-loaded cost (including admin) |
| ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------| ----------------------------------- |
| **Diversity and Global Marketing:** Hour of Code campaign, 900M served, reaching 20% of students globally. 49% female participation.                                                                       | $14.4 million                       |
| **Curriculum + Code Studio learning platform:** ~330 hours of coursework created, 1M teacher accounts. 46 million student accounts. 45% female, 50% underrepresented minorities.                                                       | $29.7 million                       |
| **Partnership + professional learning:**  60 [regional partners](/educate/regional-partner) and almost 615 facilitators who have prepared over 106,000 new CS teachers across grades K-12. ($15.8M spent on grades K-5, $42.3M on grades 6-12.)| $58.1 million                      |
| **Government affairs:** Policies changed in 50 states, $150M in state budgets allocated to computer science.                                                                                                                          | $9.2 million |
| **International:** Translation of curriculum into 67 languages, support for 104 international partnerships.                                                                                                                             | $2.8 million |                         |
| TOTAL SPENT (2013-2019)                                                                                                                                                                                                                 | $114.2 million                       |


## Other reports

* See recent [Code.org Statistics](/statistics)
* See the [2018 Annual Report](/about/2018)
* See the [2017 Annual Report](/about/2017) 
* See the [2016 Annual Report](/about/2016) and [2015-16 Code.org Evaluation Report](/files/EvaluationReport2015-16.pdf)
* See the [2015 Annual Report](/about/2015) and [2014-15 Evaluation Report](/about/evaluation)
* See the [2014 Annual Report](/about/2014)



## Our generous donors

<%= view :donors %>
