---
title: Careers at Code.org
nav: about_nav
video_player: true
theme: responsive
---
<link rel="stylesheet" type="text/css" rel= "stylesheet" href="/css/careers.css" />

<div class="careers__banner careers__teal">
 <h1>Help us Change the World, One Student at a Time</h1>
</div>

<div>

  <div class="col-50" style="padding-right: 18px">
    <% facebook = {:u=>'https://youtu.be/mTGSiB4kB18'} %>
    <% twitter = {:url=>'https://youtu.be/mTGSiB4kB18', :related=>'codeorg', :text=>"Meet the team at @codeorg and see how much they’ve done! (Thanks #{get_random_donor_twitter} for supporting @codeorg)"} %>
    <%=view :display_video_thumbnail, id: "codeorg_recruiting", video_code: "mTGSiB4kB18", play_button: 'center', facebook: facebook, twitter: twitter, letterbox: "false", download_path: "http://videos.code.org/social/about-codeorg.mp4" %>
  </div>

  <div class="col-50 careers__intro-text">
    <p>Our vision is that every student in every school should have the opportunity to learn Computer Science.</p>
    <p>We are especially focused on increasing participation among women and underrepresented students of color. Come join our team to help make this vision a reality!</p>
    <a href="#roles" class="careers__explore"><button class="careers__explore-button">Explore Roles</button></a>
  </div>

  <div style="clear: both;"></div>

</div>

<h2 class="careers-header">Our Core Values</h2>
<div class="careers__section-container" >
  <div class="careers__values-tile careers__left careers__teal">
    <img class="careers__values-icon" src="../images/values/ValuesIcon1.png" alt=""/>
    <p>We believe Computer Science is foundational for all students</p>
  </div>
  <div class="careers__values-tile careers__purple">
    <img class="careers__values-icon" src="../images/values/ValuesIcon2.png" alt=""/>
    <p>We are committed to equity, access, and opportunity</p>
  </div>
  <div class="careers__values-tile careers__orange">
    <img class="careers__values-icon" src="../images/values/ValuesIcon3.png" alt=""/>
    <p>We believe in the power of a collaborative education community</p>
  </div>
  <div class="careers__values-tile careers__cyan">
    <img class="careers__values-icon" src="../images/values/ValuesIcon4.png" alt=""/>
    <p>We are agile and responsive to feedback</p>
  </div>
  <div class="careers__values-tile careers__green">
    <img class="careers__values-icon" src="../images/values/ValuesIcon5.png" alt=""/>
    <p>We act with integrity and transparency</p>
  </div>
  <div class="careers__values-tile careers__right careers__dark-gray">
    <img class="careers__values-icon" src="../images/values/ValuesIcon6.png" alt=""/>
    <p>We believe broad impact requires thinking big and acting holistically</p>
  </div>
</div>

<h2 class="careers-header">Live Your Best Life</h2>
<div class="careers__section-container" >
  <div class="careers__benefits-container">
    <p class="careers__benefits-tile careers__benefits-left careers__teal">
      Health Benefits for You and Your Family
    </p>
    <div class="careers__benefits-decorator careers__teal">
      <img class="careers__benefits-icon" src="../images/careers-at-code/benefits-health.png" alt=""/>
    </div>
    <div class="careers__benefits-decorator careers__green">
      <img class="careers__benefits-icon" src="../images/careers-at-code/benefits-flex.png" alt=""/>
    </div>
    <p class="careers__benefits-tile careers__benefits-right careers__green">
      Flexible Working Environments
    </p>
    <p class="careers__benefits-tile careers__benefits-left careers__orange">
      Generous Paid Time Off and Leave Plans
    </p>
    <div class="careers__benefits-decorator careers__orange">
      <img class="careers__benefits-icon" src="../images/careers-at-code/benefits-pto.png" alt=""/>
    </div>
    <div class="careers__benefits-decorator careers__purple">
      <img class="careers__benefits-icon" src="../images/careers-at-code/benefits-pd.png" alt=""/>
    </div>
    <p class="careers__benefits-tile careers__benefits-right careers__purple">
      Growth and Professional Learning Opportunities
    </p>
  </div>

  <p>
    There’s life at work and life outside of work. We want everyone to be healthy,
    travel often, get time to give back, and have the financial resources and support
    they need.
  </p>
  <p>
    As an organization, Code.org is committed to providing an inclusive environment,
    with equitable access and opportunity for growth and advancement for all Code.org
    staff regardless of gender, race, ethnicity, nationality, religion, age, marital
    status, sexual orientation, or identity.
  </p>
</div>


<h2 class="careers-header" id="roles">Come Work with Us</h2>

Code.org is based in Seattle, but many of our team members are remote; remote candidates are welcome and encouraged to apply! 

<div id='lever-jobs-container'></div>
<script type='text/javascript'>

  window.leverJobsOptions = {accountName: 'Code.org'};

</script>
<script type='text/javascript' src='https://andreasmb.github.io/lever-jobs-embed/index.js'></script>

<div class="careers__future">
  We're always on the lookout for people who want to help make our vision a reality! Even if we don't have a job posted right now that matches your skills, we'd still love to hear from you via <a href="https://jobs.lever.co/code.org/6ca7d2c4-9965-4cf0-960e-de58e3d0d829">this application</a> . 
</div>

<div class="careers__banner">
  <i class="fa fa-question-circle-o"></i>
  <div style="width: 100%">
    <h2>Questions about joining our team?</h2>
    <h3><a href="/faq">Check out our Frequently Asked Questions page.</a></h3>
  </div>
</div>
