---
title: Code.org Diversity Advisory Council
theme: responsive
nav: about_nav
---
# Code.org Diversity Advisory Council

Our Diversity Advisory Council brings together diversity and inclusion leaders from the tech industry. They advise us on how our professional development, outreach, curriculum, and advocacy work can better encourage young women and students from marginalized racial and ethnic groups underrepresented in computer science[*](#urg). In their role as industry leaders, they help us create a bridge from our educational offerings to increasing diversity in the tech workforce. Spanning nonprofits to for-profits, startups to tech giants, our Diversity Advisory Council members bring unique perspective to our products and programs.


<%= view :about_headshots, people:DB[:cdo_team].where(kind_s:'diversity_council') %>

<hr>

<a name="urg">*</a>Students who are Black/African American, Hispanic/Latino/Latina/Latinx, Native American/Alaskan, and Native Hawaiian/Pacific Islander