---
theme: responsive
---

%div{style: "word-wrap: break-word;"}
  %h1 Geocode test

  %h2 Non-cached result:
  #result

  %h2 Cached result:
  = Geocoder.search(request.ip)&.first&.data.to_json

%br/
%br/

:javascript
  $( document ).ready(function() {
    $.getJSON( "/v2/client-location", function( data ) {
      $("#result").text(JSON.stringify(data));
    });
  });

