---
title: Jobs at Code.org
nav: about_nav
video_player: true
theme: responsive
---

# Job Openings at Code.org

<div class="col-50" style="padding-right: 10px">

<% facebook = {:u=>'https://youtu.be/mTGSiB4kB18'} %>
<% twitter = {:url=>'https://youtu.be/mTGSiB4kB18', :related=>'codeorg', :text=>"Meet the team at @codeorg and see how much they’ve done! (Thanks #{get_random_donor_twitter} for supporting @codeorg)"} %>

<%=view :display_video_thumbnail, id: "codeorg_recruiting", video_code: "mTGSiB4kB18", play_button: 'center', facebook: facebook, twitter: twitter, letterbox: "false", download_path: "http://videos.code.org/social/about-codeorg.mp4" %>

</div>

[col-50]

Launched in 2013, Code.org&reg; is a nonprofit dedicated to expanding access to computer science, and increasing participation by women and underrepresented students of color. Code.org organizes the annual Hour of Code campaign which has engaged 10% of all students in the world, and provides the leading curriculum for K-12 computer science in the largest school districts in the United States. Our vision is that every student in every school should have the opportunity to learn computer science, just like biology, chemistry or algebra. Join our team to help make this vision a reality!

[/col-50]

<br/>
**[Working at Code.org](#info)**

**We are currently hiring for:**
<div class="hire-jobs"></div>
<script id="hire-embed-loader" async defer src="https://hire.withgoogle.com/s/embed/hire-jobs.js?company=codeorg"></script>

## <a name="info" href="#info">Working at Code.org</a>

**Company Profile**

Code.org is a nonprofit organization dedicated to expanding participation in computer science by making it available in more schools, and increasing participation by women and underrepresented students of color. Our vision is that every student in every school should have the opportunity to learn computer science.

We believe computer science and computer programming should be part of the core curriculum in education, alongside other science, technology, engineering, and mathematics (STEM) courses, such as biology, physics, chemistry and algebra.

**Working for Code.org**

We offer a comprehensive employee benefits package that includes:

- Competitive Salary
- Technology subsidy consistent with our Bring Your Own Device environment 
- Flexible, engaging working environment
- Monthly unlimited ORCA pass or equal value transit subsidy; located near public transit hub in Seattle, WA
- Paid time off: 3 weeks vacation annually, sick leave, and 'winter break' office closure the two weeks that include Christmas and New Years.
- Medical, dental and vision premiums paid at 100% for FT positions and their dependents
- Option to participate in 403b retirement savings plan
- The opportunity to help students learn better and change the face of computer science


**Must be a U.S. Citizen or Permanent Resident and be capable of passing a pre-employment background check**

No relocation packages

**Don't see a good fit? <a href="mailto:jobs@code.org">Drop us a line</a> and a resume and let us know why you want to work for us and what you would bring to our team.**


