---
title: Jobs at Code.org
nav: about_nav
video_player: true
theme: responsive
---
<link rel="stylesheet" type="text/css" rel= "stylesheet" href="/css/jobs.css" />

<div class="jobs__banner">
 <h1>Help us Change the World, One Student at a Time</h1>
</div>

<div>

  <div class="col-50" style="padding-right: 18px">
    <% facebook = {:u=>'https://youtu.be/mTGSiB4kB18'} %>
    <% twitter = {:url=>'https://youtu.be/mTGSiB4kB18', :related=>'codeorg', :text=>"Meet the team at @codeorg and see how much they’ve done! (Thanks #{get_random_donor_twitter} for supporting @codeorg)"} %>
    <%=view :display_video_thumbnail, id: "codeorg_recruiting", video_code: "mTGSiB4kB18", play_button: 'center', facebook: facebook, twitter: twitter, letterbox: "false", download_path: "http://videos.code.org/social/about-codeorg.mp4" %>
  </div>

  <div class="col-50 jobs__intro-text">
    <p>Our vision is that every student in every school should have the opportunity to learn Computer Science.</p>
    <p>We are especially focused on increasing participation among women and underrepresented students of color. Come join our team to help make this vision a reality!</p>
    <button class="jobs__explore-button">Explore Roles</button>
  </div>

  <div style="clear: both;"></div>

</div>

<h2 class="jobs-header">Our Core Values</h2>
<div class="jobs__values-container" >
  <div class="jobs__values-tile jobs__left" style="background-color: #00adbc;">
    <img class="jobs__values-icon" src="../images/values/ValuesIcon1.png" alt=""/>
    <p>We believe Computer Science is foundational for all students</p>
  </div>
  <div class="jobs__values-tile" style="background-color: #7665a0;">
    <img class="jobs__values-icon" src="../images/values/ValuesIcon2.png" alt=""/>
    <p>We are committed to equity, access, and opportunity</p>
  </div>
  <div class="jobs__values-tile" style="background-color: #ffa400;">
    <img class="jobs__values-icon" src="../images/values/ValuesIcon3.png" alt=""/>
    <p>We believe in the power of a collaborative education community</p>
  </div>
  <div class="jobs__values-tile" style="background-color: #0094ca;">
    <img class="jobs__values-icon" src="../images/values/ValuesIcon4.png" alt=""/>
    <p>We are agile and responsive to feedback</p>
  </div>
  <div class="jobs__values-tile" style="background-color: #b9bf15;">
    <img class="jobs__values-icon" src="../images/values/ValuesIcon5.png" alt=""/>
    <p>We act with integrity and transparency</p>
  </div>
  <div class="jobs__values-tile jobs__right" style="background-color: #4d575f;">
    <img class="jobs__values-icon" src="../images/values/ValuesIcon6.png" alt=""/>
    <p>We believe broad impact requires thinking big and acting holistically</p>
  </div>
</div>

<h2 class="jobs-header">Come Work with Us</h2>

**We are currently hiring for:**
<div id='lever-jobs-container'></div>
<script type='text/javascript'>

  window.leverJobsOptions = {accountName: 'Code.org'};

</script>
<script type='text/javascript' src='https://andreasmb.github.io/lever-jobs-embed/index.js'></script>

_**COVID-19 update:** We are continuing to closely monitor the evolving situation and we appreciate your understanding and flexibility with any related changes to our interviewing process._

## <a name="info" href="#info">Working at Code.org</a>

**Company Profile**

Code.org is a nonprofit organization dedicated to expanding participation in computer science by making it available in more schools, and increasing participation by young women and students from other underrepresented groups. Our vision is that every student in every school should have the opportunity to learn computer science.

We believe computer science and computer programming should be part of the core curriculum in education, alongside other science, technology, engineering, and mathematics (STEM) courses, such as biology, physics, chemistry and algebra.

**Working for Code.org**

We offer a comprehensive employee benefits package that includes:

- Competitive Salary
- Technology subsidy consistent with our Bring Your Own Device environment
- Flexible, engaging working environment
- Monthly unlimited ORCA pass or equal value transit subsidy; located near public transit hub in Seattle, WA
- Paid time off: 3 weeks vacation annually, sick leave, and 'winter break' office closure the two weeks that include Christmas and New Years.
- Medical, dental and vision premiums paid at 100% for FT positions and their dependents
- Option to participate in 403b retirement savings plan
- The opportunity to help students learn better and change the face of computer science


**Must be a U.S. Citizen or Permanent Resident and be capable of passing a pre-employment background check**

No relocation packages

**Don't see a good fit? <a href="mailto:jobs@code.org">Drop us a line</a> and a resume and let us know why you want to work for us and what you would bring to our team.**
