---
title: Newsroom
nav: about_nav
theme: responsive
---
# Newsroom

[col-50]

<iframe width="375" height="246" src="https://www.youtube.com/embed/zxcBZg7jYlc" frameborder="0" allowfullscreen></iframe>

**Nasdaq interviews Code.org founder Hadi Partovi**

[/col-50]

[col-50]

<iframe width="375" height="246" src="https://www.youtube.com/embed/1iwq-uZNOSg" frameborder="0" allowfullscreen></iframe>

**Code.org's work covered by CBS This Morning**

[/col-50]

<br><br>

[col-50]

<iframe width="375" height="246" src="https://www.youtube.com/embed/AI_dayIQWV4" frameborder="0" allowfullscreen></iframe>

**President Obama does the Hour of Code**

[/col-50]

[col-50]

<iframe width="375" height="246" src="https://www.youtube.com/embed/W5QGo_Yb_Pc?list=PLzdnOPI1iJNfygSF8gKBUq7fT4Y61_h2I" frameborder="0" allowfullscreen></iframe>

**The Hour of Code has won the support of both Republicans and Democrats**

[/col-50]

## Press Inquiries

For all press and media inquiries or to obtain a full press kit, please contact: [press@code.org](mailto:press@code.org)


## Code.org Logo and Brand Assets

**Note**: The CODE&reg; logo design is a registered trademark of Code.org. You may not use the Code.org trademarked logo without explicit permission from Code.org, and even then only in reference to Code.org. Mashups or combinations of the Code.org logo with other logos or initiatives are expressly prohibited.

Please [view our brand assets usage policy](/about/brand-usage) for more information on how you may use the Code.org logo and trademark.

- [Download hi-res version of Code.org logo](https://www.code.org/files/Code.org-Logo.zip)
- [Download hi-res photo of Code.org founder Hadi Partovi](https://code.org/images/HadiPartoviHeadshot.jpg)

## Code.org in the news

<div style='margin-left:40px'>
<%= view :news_tag, tag:'news' %>
</div>


## Code.org announcements

<div style='margin-left:40px'>
<%= view :news_tag, tag:'announce', hide_source:true, show_dates:true %>
</div>

<br>

Visit our [blog](https://medium.com/@codeorg) to see more or our [Tumblr](http://blog.code.org/) to see all past announcements.


<br/>
