---
title: Supporters
nav: about_nav
theme: responsive
---

-# Import gsheet data
- supporters_data = DB[:cdo_supporters].all
- year = "2024"

%link{rel: "stylesheet", href:"/css/donors.css"}

%h1 Supporters

%p Code.org is sincerely grateful for our vibrant community of corporate, institutional, and individual donors. We extend special thanks to Amazon for its partnership and generous support, which has been instrumental in our efforts to expand computer science education.

%p Code.org® believes that every student in every school should have the opportunity to learn computer science. Thanks to the support listed below, we are able to increase access to computer science education globally.

%p For further details or to explore partnership opportunities with Code.org, please contact our Office of Development at <a href="mailto:giving@code.org">giving@code.org</a>.

%p Code.org is a 501(c)(3) nonprofit organization and our Federal Tax ID is 46-0858543.

%a.link-button{href: "/donate"} Please consider a donation

%h2 Lifetime Supporters
%p We recognize Lifetime Supporters for their generous cumulative contributions of $5,000,000 and above as champions in transforming computer science education.

%h3 $30 Million+
%section.grid-container.col-2
  %figure.tall
    %img{src: "/images/avatars/amazon.png", alt: "Amazon logo", style: "width: 145px"}
  %figure.tall
    %img{src: "/images/avatars/microsoft.png", alt: "Microsoft logo", style: "width: 185px"}

%h3 $10 Million+
%section.grid-container.col-4
  %figure
    %img{src: "/images/avatars/google.png", alt: "Google logo", style: "width: 110px"}
  %figure
    %img{src: "/images/avatars/facebook_circle.png", alt: "Facebook logo", style: "width: 50px"}
  %figure
    %img{src: "/images/avatars/ballmer_group.png", alt: "Ballmer Group logo", style: "width: 105px"}
  %figure
    %img{src: "/images/avatars/infosys_foundation_usa.png", alt: "Infosys Foundation USA logo", style: "width: 50px"}

%h3 $5 Million+
%section.grid-container.col-3
  %figure
    %img{src: "/images/avatars/aws_web_services.png", alt: "Amazon Web Services logo", style: "width: 140px"}
  %figure
    %img{src: "/images/avatars/vista_equity_partners.png", alt: "Vista Equity Partners logo", style: "width: 160px"}
  %figure
    %img{src: "/images/avatars/bill_and_melinda_gates_foundation.png", alt: "Bill and Melinda Gates Foundation logo", style: "width: 160px"}
  %figure
    %img{src: "/images/avatars/omidyar_network.png", alt: "Omidyar Network logo", style: "width: 160px"}
  %figure
    %p Kenneth C. Griffin
  %figure
    %p Charlie Lee
  %figure
    %p Anonymous
  %figure
    %p Rebecca and Alfred Lin
  %figure
    %p Travis Kalanick

%h2 Annual Supporters
%p We extend gratitude to the following supporters who have made significant commitments of $1,000-$4,999,999 to support our #{year} fiscal year (January 1, #{year} - December 31, #{year}).
%section.lists.no-flex.no-padding
  %section.flex-container.no-padding.mobile-hide
    %h3.heading-sm Institutional Supporters
    %h3.heading-sm Individual Supporters
  %h4.heading-xs $3,000,000+
  .col-50
    %h5.mobile-show Institutional Supporters
    %ul
      - supporters_data.select { |list| list[:institutional_3m_s].present? }.each do |list|
        %li=list[:institutional_3m_s]
  .col-50
    %h5.mobile-show Individual Supporters
    %ul
      - supporters_data.select { |list| list[:individual_3m_s].present? }.each do |list|
        %li=list[:individual_3m_s]
  .clearfix
  %h4.heading-xs $1,000,000+
  .col-50
    %h5.mobile-show Institutional Supporters
    %ul
      - supporters_data.select { |list| list[:institutional_1m_s].present? }.each do |list|
        %li=list[:institutional_1m_s]
  .col-50
    %h5.mobile-show Individual Supporters
    %ul
      - supporters_data.select { |list| list[:individual_1m_s].present? }.each do |list|
        %li=list[:individual_1m_s]
  .clearfix
  %h4.heading-xs $500,000+
  .col-50
    %h5.mobile-show Institutional Supporters
    %ul
      - supporters_data.select { |list| list[:institutional_500k_s].present? }.each do |list|
        %li=list[:institutional_500k_s]
  .col-50
    %h5.mobile-show Individual Supporters
    %ul
      - supporters_data.select { |list| list[:individual_500k_s].present? }.each do |list|
        %li=list[:individual_500k_s]
  .clearfix
  %h4.heading-xs $250,000+
  .col-50
    %h5.mobile-show Institutional Supporters
    %ul
      - supporters_data.select { |list| list[:institutional_250k_s].present? }.each do |list|
        %li=list[:institutional_250k_s]
  .col-50
    %h5.mobile-show Individual Supporters
    %ul
      - supporters_data.select { |list| list[:individual_250k_s].present? }.each do |list|
        %li=list[:individual_250k_s]
  .clearfix
  %h4.heading-xs $100,000+
  .col-50
    %h5.mobile-show Institutional Supporters
    %ul
      - supporters_data.select { |list| list[:institutional_100k_s].present? }.each do |list|
        %li=list[:institutional_100k_s]
  .col-50
    %h5.mobile-show Individual Supporters
    %ul
      - supporters_data.select { |list| list[:individual_100k_s].present? }.each do |list|
        %li=list[:individual_100k_s]
  .clearfix
  %h4.heading-xs $50,000+
  .col-50
    %h5.mobile-show Institutional Supporters
    %ul
      - supporters_data.select { |list| list[:institutional_50k_s].present? }.each do |list|
        %li=list[:institutional_50k_s]
  .col-50
    %h5.mobile-show Individual Supporters
    %ul
      - supporters_data.select { |list| list[:individual_50k_s].present? }.each do |list|
        %li=list[:individual_50k_s]
  .clearfix
  %h4.heading-xs $25,000+
  .col-50
    %h5.mobile-show Institutional Supporters
    %ul
      - supporters_data.select { |list| list[:institutional_25k_s].present? }.each do |list|
        %li=list[:institutional_25k_s]
  .col-50
    %h5.mobile-show Individual Supporters
    %ul
      - supporters_data.select { |list| list[:individual_25k_s].present? }.each do |list|
        %li=list[:individual_25k_s]
  .clearfix
  %h4.heading-xs $10,000+
  .col-50
    %h5.mobile-show Institutional Supporters
    %ul
      - supporters_data.select { |list| list[:institutional_10k_s].present? }.each do |list|
        %li=list[:institutional_10k_s]
  .col-50
    %h5.mobile-show Individual Supporters
    %ul
      - supporters_data.select { |list| list[:individual_10k_s].present? }.each do |list|
        %li=list[:individual_10k_s]
  .clearfix
  %h4.heading-xs $5,000+
  .col-50
    %h5.mobile-show Institutional Supporters
    %ul
      - supporters_data.select { |list| list[:institutional_5k_s].present? }.each do |list|
        %li=list[:institutional_5k_s]
  .col-50
    %h5.mobile-show Individual Supporters
    %ul
      - supporters_data.select { |list| list[:individual_5k_s].present? }.each do |list|
        %li=list[:individual_5k_s]
  .clearfix
  %h4.heading-xs $1,000+
  .col-50
    %h5.mobile-show Institutional Supporters
    %ul
      - supporters_data.select { |list| list[:institutional_1k_s].present? }.each do |list|
        %li=list[:institutional_1k_s]
  .col-50
    %h5.mobile-show Individual Supporters
    %ul
      - supporters_data.select { |list| list[:individual_1k_s].present? }.each do |list|
        %li=list[:individual_1k_s]
  .clearfix

%h2 In-Kind Supporters
%p Code.org gratefully acknowledges current supporters who have made a generous annual in-kind commitment to support Code.org's fiscal years 2022 or 2023.
%ul
  - supporters_data.select { |list| list[:in_kind_s].present? }.each do |list|
    %li=list[:in_kind_s]

%h2 Employee Giving Programs
%p Code.org acknowledges the following companies and organizations for supporting employee contribution programs.
%ul
%ul
  - supporters_data.select { |list| list[:employee_giving_s].present? }.each do |list|
    %li=list[:employee_giving_s]

%hr
%a{href: "/about/donation-policy"} Donation Policy
