---
title: Full Team
nav: about_nav
theme: responsive
---

# Our Team

<img src="/images/fit-1200/fullteam-2023.jpg" width="100%;" alt="<%= hoc_s(:team_page_full_team_alt_text)%>">

<%= view :about_headshots, people:DB[:cdo_team].where(kind_s:'team') %>

<a id="extended"></a>
## Our Extended Team
<%= view :about_people, people:DB[:cdo_team].where(kind_s:'extended_active') %>

## Our Facilitators
Our expert facilitators and professional learning partners are an extension of the Code.org team. This amazing team of experts are responsible for preparing the computer science teachers of tomorrow.

<img src="/images/AllFacilitators.jpg" width="100%;" >
