%section.faq.bg-neutral-light
  .wrapper
    .flex-container
      %h2
        =hoc_s(:heading_faq)
      %a.link-button.secondary{href: resolve_url("/faq")}
        =hoc_s(:call_to_action_view_faqs)
      %details
        %summary TBD
        %p TBD
