- faq_educators_index = 3

- faq_eduactors_question = [hoc_s(:hoc_faq_what_is_hoc_q), hoc_s(:hoc_faq_why_cs_q), hoc_s(:hoc_faq_how_participate_q)]

- faq_educators_answer = [hoc_s(:hoc_faq_what_is_hoc_a_markdown, markdown: :inline, locals:{tutorials: resolve_url("/learn"), partners: resolve_url("/partners")}), hoc_s(:hoc_faq_why_cs_a_markdown, markdown: :inline, locals: {stats_url: resolve_url("/promote/stats")}), hoc_s(:hoc_faq_how_participate_a_markdown, markdown: :inline, locals: {howto: resolve_url("/how-to/events")})]

%section.faq.bg-neutral-light
  .wrapper
    .flex-container
      %h2
        =hoc_s(:heading_faq)
      %a.link-button.secondary{href: resolve_url("/faq")}
        =hoc_s(:call_to_action_view_faqs)
    - faq_educators_index.times do |index|
      %details
        %summary
          = faq_eduactors_question[index]
        %p
          = faq_educators_answer[index]
