- faq_educators_index = 2

- faq_eduactors_question = [hoc_s(:hoc_how_to_faq_question_prerequisites), hoc_s(:hoc_how_to_faq_question_devices)]

- faq_educators_answer = [hoc_s(:hoc_how_to_faq_answer_prerequisites), hoc_s(:hoc_how_to_faq_answer_devices_01)]

%section.faq.bg-neutral-light
  .wrapper
    .flex-container
      %h2
        =hoc_s(:heading_faq)
      %a.link-button.secondary{href: resolve_url("/faq")}
        =hoc_s(:call_to_action_view_faqs)
    - faq_educators_index.times do |index|
      %details
        %summary
          = faq_eduactors_question[index]
        %p
          = faq_educators_answer[index]
        - if index === 1
          %ul
            %li
              =hoc_s(:device_tablet)
            %li
              =hoc_s(:device_laptop)
            %li
              =hoc_s(:device_desktop_computer)
            %li
              =hoc_s(:device_mobile_device)
          %p
            =hoc_s(:hoc_how_to_faq_answer_devices_02, markdown: :inline, locals: {pair_url: "https://www.youtube.com/watch?v=q7d_JtyCq1A", unplugged_url: "/learn?platform=no-computers"})
