%section.faq.bg-neutral-light
  .wrapper
    .flex-container
      %h2
        =hoc_s(:heading_faq)
      %a.link-button.secondary{href: resolve_url("/faq")}
        =hoc_s(:call_to_action_view_faqs)
    %details
      %summary=hoc_s(:hoc_how_to_faq_question_when_company_host)
      %p=hoc_s(:hoc_how_to_faq_answer_when_company_host, markdown: :inline, locals:{campaign_date: campaign_date("full")})
