#visualization {
  background-color: white; }

/* Sprited icons. */
.icon21 {
  height: 21px;
  width: 21px;
  background-image: url("/blockly/media/turtle/icons.png"); }

.code {
  background-position: -42px 0px; }

.link {
  background-position: -21px 0px; }

.run {
  background-position: -63px -21px;
  margin-right: 3px; }

.stop {
  background-position: -63px 0px;
  margin-right: 3px; }

.calcHeader {
  font-size: 25px; }

.highlightedParen {
  fill: white; }

.exprMistake {
  fill: red; }

.expr {
  font-size: 20px; }
