#svgStudio {
  overflow: hidden; }

/* Sprited icons. */
.icon21 {
  height: 21px;
  width: 21px;
  background-image: url("/blockly/media/studio/icons.png"); }

.code {
  background-position: -21px 0px; }

.link {
  background-position: 0px 0px; }

.run {
  background-position: 0px -21px;
  margin-right: 3px; }

.stop {
  background-position: -21px -21px;
  margin-right: 3px; }

.left-btn {
  background-position: -21px -42px;
  margin-right: 3px; }

.right-btn {
  background-position: -21px -63px;
  margin-right: 3px; }

.up-btn {
  background-position: 0px -63px;
  margin-right: 3px; }

.down-btn {
  background-position: 0px -42px;
  margin-right: 3px; }

button.arrow {
  border: 1px solid #ffa000;
  background-color: #ffa000;
  color: white;
  margin-left: 5px;
  margin-right: 0px;
  display: none; }

button.arrow > img {
  opacity: 1;
  vertical-align: text-bottom; }

button.arrow:focus {
  outline-style: none; }

#soft-buttons {
  display: inline-block;
  vertical-align: top;
  margin-left: -5px; }
  #soft-buttons.soft-buttons-none {
    display: none; }

.soft-buttons-1 {
  display: table-cell;
  vertical-align: top;
  min-width: 51px; }

.soft-buttons-2 {
  display: table-cell;
  vertical-align: top;
  min-width: 102px; }

.soft-buttons-3 {
  display: table-cell;
  vertical-align: top;
  min-width: 153px; }

.soft-buttons-4 {
  display: table-cell;
  vertical-align: top;
  min-width: 204px; }

#share-cell {
  display: inline-block;
  vertical-align: top; }
  #share-cell.share-cell-none {
    display: none; }

.studio-speech-bubble {
  fill: black;
  font-size: 16px;
  text-anchor: middle;
  cursor: default; }

.studio-speech-bubble-path {
  fill: white;
  stroke: black;
  stroke-width: 3;
  opacity: 0.9; }

.studio-score {
  text-anchor: middle;
  font-size: xx-large;
  font-weight: bold;
  fill: white;
  stroke: black;
  stroke-width: 2;
  cursor: default; }

.studio-ts-title {
  text-anchor: middle;
  font-size: xx-large;
  font-weight: bold;
  fill: white;
  stroke: black;
  stroke-width: 2;
  cursor: default; }

.studio-ts-text {
  text-anchor: middle;
  font-size: 20px;
  font-weight: bold;
  fill: white;
  stroke: black;
  stroke-width: 1;
  cursor: default; }

.studio-ts-text-rect {
  stroke: white;
  stroke-width: 3;
  fill: none; }
