div#visualization {
  height: 600px; }

/* Shrink the visualization area on small displays. */
@media screen and (min-width: 1101px) and (max-width: 1150px) {
  div#visualization.responsive {
    max-height: 525px; } }

@media screen and (min-width: 1051px) and (max-width: 1100px) {
  div#visualization.responsive {
    max-height: 450px; } }

@media screen and (min-width: 1001px) and (max-width: 1050px) {
  div#visualization.responsive {
    max-height: 375px; } }

@media screen and (max-width: 1000px) {
  div#visualization.responsive {
    max-height: 300px; } }

#divWebapp {
  overflow: hidden;
  position: relative;
  z-index: 1;
  width: 400px;
  height: 600px;
  background-color: white;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

#divWebapp canvas {
  position: absolute;
  overflow: hidden;
  top: 0px;
  left: 0px;
  z-index: -1; }

#divWebapp img {
  opacity: 1; }

#divWebapp div {
  overflow: hidden; }

.debug-console {
  dispay: block; }

.debug-console * {
  font-family: monospace;
  font-size: 12px; }

.debug-input-prompt {
  max-height: 0px;
  display: block; }

.debug-input, .debug-output {
  width: 100%;
  border-width: 0px;
  padding: 0px;
  outline: none; }

.debug-output textarea[disabled], textarea[readonly] {
  height: 100px;
  resize: none;
  margin-bottom: -1px;
  overflow: auto;
  background-color: white;
  line-height: normal;
  cursor: text; }

.debug-input {
  max-height: 14px;
  height: 14px;
  background-color: white;
  text-indent: 14.5px;
  overflow: hidden;
  margin-top: -3px;
  padding-top: 6px; }

/* Slider. */
.sliderContainer {
  float: left; }

.sliderTrack {
  stroke: #aaaaaa;
  stroke-width: 6px;
  stroke-linecap: round; }

.sliderKnob {
  fill: #dddddd;
  stroke: #bbbbcc;
  stroke-width: 1px;
  stroke-linejoin: round; }

.sliderKnob:hover {
  fill: #eeeeee; }

#pauseButton {
  min-width: 111px;
  margin-right: 10px; }

/* Sprited icons. */
.icon21 {
  height: 21px;
  width: 21px;
  background-image: url("/blockly/media/webapp/icons.png"); }

.code {
  background-position: -21px 0px; }

.link {
  background-position: 0px 0px; }

.run {
  background-position: 0px -21px;
  margin-right: 3px; }

.stop {
  background-position: -21px -21px;
  margin-right: 3px; }

.left-btn {
  background-position: -21px -42px;
  margin-right: 3px; }

.right-btn {
  background-position: -21px -63px;
  margin-right: 3px; }

.up-btn {
  background-position: 0px -63px;
  margin-right: 3px; }

.down-btn {
  background-position: 0px -42px;
  margin-right: 3px; }

button.arrow {
  border: 1px solid #ffa000;
  background-color: #ffa000;
  color: white;
  margin-left: 5px;
  margin-right: 0px;
  display: none; }

button.arrow > img {
  opacity: 1;
  vertical-align: text-bottom; }

button.arrow:focus {
  outline-style: none; }

#soft-buttons {
  display: inline-block;
  vertical-align: top;
  margin-left: -5px; }
  #soft-buttons.soft-buttons-none {
    display: none; }

.soft-buttons-1 {
  display: table-cell;
  vertical-align: top;
  min-width: 51px; }

.soft-buttons-2 {
  display: table-cell;
  vertical-align: top;
  min-width: 102px; }

.soft-buttons-3 {
  display: table-cell;
  vertical-align: top;
  min-width: 153px; }

.soft-buttons-4 {
  display: table-cell;
  vertical-align: top;
  min-width: 204px; }

#share-cell {
  display: inline-block;
  vertical-align: top; }
  #share-cell.share-cell-none {
    display: none; }
