---
title: Code.org District Partners
theme: responsive_full_width
---

%link{href: "/css/generated/design-system-pegasus.css", rel: "stylesheet"}

%section
  .wrapper
    %h1=hoc_s(:districts_page_top_heading)
    %p.body-one{style: "margin-bottom: 3rem;"}
      =hoc_s(:districts_page_top_desc)
    = view :district_partners_list

= view :section_divider_line

%section
  .wrapper
    %h2=hoc_s(:districts_page_join_heading)
    %p=hoc_s(:districts_page_join_heading)
    %a.link-button{href: "/districts"}
      =hoc_s(:call_to_action_discover_district_program)
