---
title: Certificate for Completion of One Hour of Code
layout: none
theme: none
---
- cert_script = params[:s]

%img{src:"/images/#{certificate_template_for(cert_script)}", alt:"Certificate for Completion of One Hour of Code", width:'100%'}
