---
title: Certificate for Completion of One Hour of Code
layout: page_print
theme: none
---

%img{src:'/images/hour_of_code_certificate.jpg', alt:"Certificate for Completion of One Hour of Code", width:'100%'}
