---
title: Certificate for Completion of One Hour of Code
layout: none
theme: none
---
-session = File.basename(request.path_info)
-row = DB[:hoc_activity].where(session:session).first 
-if row && !row[:name].blank?
  %img{src:"/api/hour/certificate/#{session}.jpg", alt:"Certificate for #{row[:name]}", width:"100%"}
-else
  %img{src:'/images/hour_of_code_certificate.jpg', alt:"Certificate for Completion of One Hour of Code", width:'100%'}
