# Sample secrets.yml file.
# Top-level key is secret name, second-level key is environment name.
# (`base` is an alias for staging, test, levelbuilder, and production.)
# The value is the secret string.
# (Complex objects will be converted to JSON.)
---
foo:
  base: bar # staging, test, levelbuilder and production
  production: baz
qux:
  development:
    qux: quux
  staging:
    qux: quuz
  test:
    qux: quuz
  production:
    qux: quuz
