:css
  #hoc_features input {margin-top: 15px}
  #hoc_features td {vertical-align: top}
  #hoc_features h3 {margin: 0px; padding: 0px}
  #hoc_features p {
    font-size: 110%;
  }
  #hoc_features tr.normal:hover {
    background-color: #f5fff5
  }
  #hoc_features tr.scale:hover {
    background-color: #fffff5
  }
  #hoc_features tr.emergency:hover {
    background-color: #fff5f5
  }


%h1 HOC tutorial features

= form_tag(method: :post) do
  %table{id: 'hoc_features', cellpadding: '8'}
    - ['normal', 'scale', 'emergency'].each do |level|
      %tr{class: level}
        %td
          = radio_button 'features', 'level', level, {id: level}
        %td
          %label{for: level}
            %h3{class: @features.level == level ? 'selected' : ''}
              = level.capitalize
            - case level
              - when 'normal'
                %p All features enabled.
              - when 'scale'
                %p Progress saved only on sharable levels.
                %p Puzzle rating and hints disabled.
                %p Sampled hoc_activity logging (10%).
                %p Longer page caching.
              - when 'emergency'
                %p Same as High-scale, plus sharing disabled.
    %tr
      %td
      %td
        = submit_tag
