.dropdown {
  display: block;
  box-sizing: border-box;
  font-size: medium;
  height: 34px;
  padding-left: 5px;
  padding-right: 5px;
  width: 300px;
}

div .skeletonDropdown {
  border-radius: 4px;
  height: 34px;
  margin-bottom: 10px;
  padding: 4px 6px;
  vertical-align: middle;
}