---
title: Dig Deeper into AP Computer Science
theme: responsive
social:
  og:title: Dig Deeper into AP Computer Science
  og:description: View data about the AP Computer Science exam by state
  og:image:width: '1920'
  og:image:height: '1080'
  twitter:card: player
  twitter:site: "@codeorg"
  twitter:url: https://code.org/promote/ap
  twitter:title: Dig Deeper into AP Computer Science
  twitter:description: View data about the AP Computer Science exam by state
---

<%
  @header["social"]["og:image"] = 'https://' + request.host + '/images/middleschool.png'
  @header["social"]["twitter:image:src"] = 'https://' + request.host + '/images/middleschool.png'
%>

# Dig Deeper into AP Computer Science

The AP Computer Science exams are widely accepted by the computer science education community as one of the most reliable measures of high school computer science course-taking patterns. The College Board’s rigorous methodology and data gathering has enabled us to see trends in AP Computer Science A exam-taking over time, by state, by gender, and by racial/ethnic group; as well as the impact of AP Computer Science Principles course, which launched in the 2016-17 school year. This page contains a summary of that data.

This data comes directly from the public spreadsheets available on a per-state basis from the [College Board](https://research.collegeboard.org/programs/ap/data).

## AP Computer Science Over Time


<script type='text/javascript'>
    var divElement = document.getElementById('viz1488497776361');
    var vizElement = divElement.getElementsByTagName('object')[0];
    vizElement.style.width = '804px';
    vizElement.style.height = '695px';
    var scriptElement = document.createElement('script');
    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
    vizElement.parentNode.insertBefore(scriptElement, vizElement);
</script>

<div class='tableauPlaceholder' id='viz1608215757001' style='position: relative'>
	<noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;AP&#47;APDashboard_16082156888020&#47;ExamsYOY&#47;1_rss.png' style='border: none' /></a></noscript>
	<object class='tableauViz'  style='display:none;'>
		<param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> 
		<param name='embed_code_version' value='3' /> <param name='site_root' value='' />
		<param name='name' value='APDashboard_16082156888020&#47;ExamsYOY' />
		<param name='tabs' value='no' />
		<param name='toolbar' value='yes' />
		<param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;AP&#47;APDashboard_16082156888020&#47;ExamsYOY&#47;1.png' /> 
		<param name='animate_transition' value='yes' />
		<param name='display_static_image' value='yes' />
		<param name='display_spinner' value='yes' />
		<param name='display_overlay' value='yes' />
		<param name='display_count' value='yes' />
		<param name='language' value='en' />
	</object>
</div>                
<script type='text/javascript'>                    
	var divElement = document.getElementById('viz1608215757001');                    	var vizElement = divElement.getElementsByTagName('object')[0];                    if ( divElement.offsetWidth > 800 ) { vizElement.style.width='1000px';vizElement.style.height='1827px';} else if ( divElement.offsetWidth > 500 ) { vizElement.style.width='1000px';vizElement.style.height='1827px';} else { vizElement.style.width='100%';vizElement.style.height='1877px';}                     var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    
vizElement.parentNode.insertBefore(scriptElement, vizElement);                
</script>



_When evaluating data and trends, it is important to recognize that for the 2020 exam data, COVID-19 likely impacted AP test taking in significant ways that we do not yet completely understand._

_Change in race/ethnicity categories: In 2016, the College Board changed the race/ethnicity categories that they report. Prior to 2016, they reported on “American Indian” students; we include this data under the current category of American Indian/Alaska Native (labeled in our chart as Native American/Alaskan). Prior to 2016, they also reported on Mexican American, Puerto Rican, and Other Hispanic students; we include this data under the current category of Hispanic/Latino/Latina. The racial group of Native Hawaiian/Other Pacific Islander was added after 2016._

In order to download the raw data, click the download icon (a square with an arrow pointing downward) in the bottom right corner of the figure. Be sure to click somewhere on the figure before clicking this icon -- otherwise, the "Data" option will be grayed out. Click "Data," then select the "Full data" tab. Click "Download all rows as text file" to download the data as a CSV.


## 2020 Outcomes

### General

#### _The total <strong>number of exams taken in CS increased</strong> as compared to 2019:_
* CS A: +803 exams, or +1%
* CS P: +19,828 exams, or +21%
* All CS Exams: +20,631 exams, or +13%

#### _<strong> 42 states</strong> saw an increase in the number of total CS exams</strong> taken in 2019 (except AL, AK, ME, MS, MT, NV, OK, VA):_
* CS A: 22 states saw a decrease in CS A exams
* CS P: 7 states saw a decrease in CS P exams

### Female student participation

#### _<strong>Female student participation in CS increased</strong> as compared to 2019:_
* CS A: +547 exams, or +3%
* CS P: +7,777 exams, or +25%
* All CS Exams: +8,324 exams, or +18%

#### _<strong>CSA passing rates (score 3+) were lower for female students than male students but CS P passing rates were higher for female students than male students.</strong>_
* CS A: female student passing rate was 69% (-1% as compared to males). This is a smaller gap than in 2019. 
* CS P: female student passing rate was 76% (+6% as compared to males). This is the first year that female students had a higher passing rate than male students.
* All CS Exams: female student passing rate was 74% (higher than male students by +4%)


### Underrepresented student participation

For 2020 College Board data, we consider the following racial/ethnic group categories to be underrepresented groups in CS: Native American/Alaskan, Black/African American, Hispanic/Latino/Latina, and Native Hawaiian/Pacific Islander. (Other categories reported by the College Board are Asian, white, two or more races, other, and no response.) Note that until 2016, the College Board reported demographics using different categories; for those years, the following racial/ethnic group categories are considered to be underrepresented groups: American Indian, Black, Mexican American, Puerto Rican, and Other Hispanic. (Other ethnic categories reported by the College Board include Asian, white, other, and not stated.) The majority is defined as White and Asian students.

#### _<strong>Native American/Alaskan student participation in CS increased</strong> as compared to 2019:_
* CS A: 85 exams, or +83%
* CS P: 385 exams, or +153%, CS P has the highest rate of Native American student participation across STEM AP exams
* All CS Exams: 470 exams, or +133%

#### _<strong>Black/African American student participation in CS increased</strong> as compared to 2019, however Black/African American student participation decreased in CSA:_
* CS A: -275 exams, or -11%
* CS P: 1,358 exams, or +21%, CS P has the highest rate of Black student participation across STEM AP exams
* All CS Exams: 1,083 exams, or +12%

#### _<strong>Hispanic/Latino/Latina student participation in CS increased</strong> as compared to 2019, however Hispanic/Latino/Latina student participation decreased in CSA:_
* CS A: -509 exams, or -7%
* CS P:  2,388 exams, or +13%, CS P has the 2nd highest rate of Hispanic/Latino/Latina student participation across STEM AP exams
* All CS Exams: 1,879  exams, or +7%

#### _<strong>Native Hawaiian/Pacific Island student participation in CS increased</strong> as compared to 2019, however Native Hawaiian/Pacific Island student participation decreased in CSA:_
* CS A: -9 exams, or -13%
* CS P:  +45 exams, or +31%, CS P has the highest rate of Native Hawaiian/Pacific Island student participation across STEM AP exams
* All CS Exams: +36  exams, or 17%


### Deep Historical Analysis of State Data by Barb Ericson

* Barb Ericson at the University of Michigan has been doing much deeper analyses of these AP Computer Science exam data for many years. If you're interested in the *really* deep dive, check out her [AP Data Page](http://cs4all.home.blog).

## Downloads

* Download the state-by-state data over time powering the map above: In order to download the raw data, click the download icon (a square with an arrow pointing downward) in the bottom right corner of the figure. Be sure to click somewhere on the figure before clicking this icon -- otherwise, the "Data" option will be grayed out. Click "Data," then select the "Full data" tab. Click "Download all rows as text file" to download the data as a CSV.




Code.org performed calculations and analysis on the data as provided on the public [College Board AP data reports](https://research.collegeboard.org/programs/ap/data).
