---
title: Dig Deeper into AP Computer Science
theme: responsive
social:
  og:title: Dig Deeper into AP Computer Science
  og:description: View data about the AP Computer Science exam by state
  og:image:width: '1920'
  og:image:height: '1080'
  twitter:card: player
  twitter:site: "@codeorg"
  twitter:url: https://code.org/promote/ap
  twitter:title: Dig Deeper into AP Computer Science
  twitter:description: View data about the AP Computer Science exam by state
---

<%
  @header["social"]["og:image"] = 'https://' + request.host + '/images/middleschool.png'
  @header["social"]["twitter:image:src"] = 'https://' + request.host + '/images/middleschool.png'
%>

# Dig Deeper into AP Computer Science

The AP Computer Science exams are widely accepted by the computer science education community as one of the most reliable measures of high school computer science course-taking patterns. The College Board’s rigorous methodology and data gathering has enabled us to see trends in AP Computer Science A exam-taking over time, by state, by gender, and by ethnic group; as well as the impact of AP Computer Science Principles course, which launched in the 2016-17 school year. This page contains a summary of that data.

This data comes directly from the public spreadsheets available on a per-state basis from the [College Board](https://research.collegeboard.org/programs/ap/data).

## AP Computer Science Over Time


<div class='tableauPlaceholder' id='viz1488497776361' style='position: relative'>
   <noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;AP&#47;APassessmentdatadraft&#47;Byminoritystatus&#47;1_rss.png' style='border: none' /></a></noscript>
   <object class='tableauViz'  style='display:none;'>
      <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
      <param name='site_root' value='' />
      <param name='name' value='APassessmentdatadraft&#47;Byminoritystatus' />
      <param name='tabs' value='yes' />
      <param name='toolbar' value='yes' />
      <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;AP&#47;APassessmentdatadraft&#47;Byminoritystatus&#47;1.png' />
      <param name='animate_transition' value='yes' />
      <param name='display_static_image' value='yes' />
      <param name='display_spinner' value='yes' />
      <param name='display_overlay' value='yes' />
      <param name='display_count' value='yes' />
   </object>
</div>

<script type='text/javascript'>
    var divElement = document.getElementById('viz1488497776361');
    var vizElement = divElement.getElementsByTagName('object')[0];
    vizElement.style.width = '804px';
    vizElement.style.height = '695px';
    var scriptElement = document.createElement('script');
    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
    vizElement.parentNode.insertBefore(scriptElement, vizElement);
</script>



_Change in ethnic group categories: In 2016, the College Board changed the ethnic group categories that they report. Prior to 2016, we considered the following to be underrepresented minority groups: American Indian, Black, Mexican American, Puerto Rican, and Other Hispanic. After 2016, we considered the following categories: American Indian/Alaska Native, Black, Hispanic/Latino, and Native Hawaiian/Other Pacific Islander._

In order to download the raw data, click the download icon (a square with an arrow pointing downward) in the bottom right corner of the figure. Be sure to click somewhere on the figure before clicking this icon -- otherwise, the "Data" option will be grayed out. Click "Data", then select the "Full data" tab. Click "Download all rows as text file" to download the data as a CSV.


## 2019 Outcomes

### General

#### _The total <strong>number of exams taken in CS increased</strong> as compared to 2018:_
* CS A: +4,157 exams, or +7%
* CS P: +23,496 exams, or +33%
* All CS Exams: +27,653 exams, or +21%

#### _<strong>Female student participation in CS increased</strong> as compared to 2018:_
* CS A: +1,310 exams, or +9%
* CS P: +8,575 exams, or +38%
* All CS Exams: +9,885 exams, or +21%

#### _<strong>Underrepresented minority student participation in CS increased</strong> as compared to 2018:_
* CS A: +1,096 exams, or +12%
* CS P: +6,325 exams, or +33%
* All CS Exams: +7,421 exams, or +26%

#### _<strong>CS passing rates (score 3+) were lower for female and underrepresented minority students</strong> in 2019. Biggest performance gaps seen in underrepresented minority students._
* All CS Exams: female student passing rate was 68% (-3% as compared to males). Same gap as in 2018.
* All CS Exams: underrepresented minority student passing rate was 49% (-27% as compared to the majorities). Same gap as in 2018.

#### _<strong>47 states</strong> saw an increase in the number of total CS exams taken in 2018 (except AR, ME, VT_
* CS A: 14 states and D.C. saw a decrease in CS A exams
* CS P: 2 states saw a decrease in CS P exams

### Female student participation

#### _Female students <strong>comprised a low percent of AP CS exams</strong>:_
* CS A: 24% of exams were taken by female students. This is an increase of 0.5% from 2018.
* CS P: 33% of exams were taken by female students. This is an increase of 1% from 2018.
* All CS Exams: 29% of all CS exams were taken by female students. This is an increase of 1% from 2017.

#### _Female student <strong>passing rate was lower than male students</strong>:_
* CS A: female student passing rate was 67% of exams (lower than male students by -3% and a mean score difference of -0.16).
* CS P: female student passing rate was 69% of exams (lower than male students by -3% and a mean score difference of -0.09).
* All CS Exams: female student passing rate of exams was 68% (lower than male students by -3% passing rate).


### Underrepresented minority student participation

For 2019 College Board data, we consider the following ethnic group categories to be underrepresented minorities: American Indian/Alaska Native, Black, Hispanic/Latino, and Native Hawaiian/Other Pacific Islander. (Other categories reported by the College Board are Asian, White, Two or more races, Other, and No response.) Note that until 2016, the College Board reported demographics using different categories; for those years, the following ethnic group categories are considered to be underrepresented minorities: American Indian, Black, Mexican American, Puerto Rican, and Other Hispanic. (Other ethnic categories reported by the College Board include Asian, White, Other, and Not stated.) The majority is defined as White and Asian students.

#### _Underrepresented minority students <strong>comprised a low percent of AP CS exams</strong>:_
* CS A: 16% of exams were taken by underrepresented minority students. This is the same percent as 2018. CS A is the 8th lowest rate of participation for any AP exam (calculus, physics and languages have lower rates) and 4th lowest in AP STEM exams.
* CS P: 27% of exams were taken by underrepresented minority students. This is the same percent as 2018. CS P is the 2nd highest rate of underrepresented minority students participation across STEM AP exams (Environmental Science is higher at 28%). Same as 2018.
* All CS Exams: 24% of all CS exams were taken by underrepresented minority students. This is an increase of 1% from 2018.

#### _Underrepresented minority student <strong>passing rate was lower than the students in the majority</strong>:_
* CS A: underrepresented minority student passing rate was 45% of exams (lower than the students in the majority by -29%, both the minority passing rate and the gap between minority and majority increased by 1% from 2018).
* CS P: underrepresented minority student passing rate was 51% of exams (+1% more than the percent passing in 2018, and lower than the students in the majority by -29%).
* All CS Exams: underrepresented minority student passing rate of exams was 49% (-27% as compared to the students in the majority).


### 2019 State-level highlights

#### _<strong>47 states</strong> and DC saw an increase in the number of total CS exams taken in 2018 (except ID, ND, SD, UT)_

#### _CS A: <strong>36 states saw an increase in CS A exams</strong> (down by 3 states from 2018)._
* Highest percent growth as compared to 2018 were in:
  * Alaska: +35 exams, 130% increase from 2018
  * Mississippi: +18 exams, 200% increase from 2018
  * Nebraska: +52 exams, 55% increase from 2018
* Lowest percent growth as compared to 2018 were in:
  * Alabama: -122 exams, 30% decrease from 2018
  * Montana: -14 exams, 47% decrease from 2018
  * North Dakota: -20 exams, 37% decrease from 2018

#### _CS P: <strong>47 states saw an increase in CS P exams. There were 8 states that saw a growth of at least 1000 CS P exams as compared to 2017</strong> (TX, IL, NC, PA, NV, NY, FL, CA)._
* Highest percent growth of CS P exams from their state total were in:
  * Montana: +26 exams, 260% increase from 2018
  * North Dakota: +35 exams, 233% increase from 2018
  * Wyoming: +48 exams, 178% increase from 2018

#### _All CS Exams: <strong>9 states had increases of at least 50% in overall CS exams.</strong>_
* Highest percent growth as compared to 2018 were in:
  * South Dakota: +16 exams, 84% increase from 2018
  * Wyoming: +50 exams, 132% increase from 2018
  * Nevada: +1,338 exams, 153% increase from 2018
* 3 states and D.C. showed decreases in growth as compared to 2018:
  * Vermont: -18 exams, 14% decrease from 2018
  * District of Columbia: -16 exams, 4% decrease from 2018
  * Maine: -11 exams, 3% decrease from 2018
  * Arkansas: -15 exams, 1% decrease from 2018

### Deep Historical Analysis of State Data by Barb Ericson

* Barb Ericson at Georgia Tech has been doing much deeper analyses of these AP Computer Science A Exam data for many years. If you're interested in the *really* deep dive, check out her [AP Data Page](http://cs4all.home.blog).

## Downloads

* Download the state-by-state data over time powering the map above: In order to download the raw data, click the download icon (a square with an arrow pointing downward) in the bottom right corner of the figure. Be sure to click somewhere on the figure before clicking this icon -- otherwise, the "Data" option will be grayed out. Click "Data", then select the "Full data" tab. Click "Download all rows as text file" to download the data as a CSV.




Code.org performed calculations and analysis on the data as provided on the public [College Board AP data reports](https://research.collegeboard.org/programs/ap/data).
