---
title: Dig Deeper into AP Computer Science
theme: responsive
social:
  og:title: Dig Deeper into AP Computer Science
  og:description: View data about the AP Computer Science exam by state
  og:image:width: '1920'
  og:image:height: '1080'
  twitter:card: player
  twitter:site: "@codeorg"
  twitter:url: https://code.org/promote/ap
  twitter:title: Dig Deeper into AP Computer Science
  twitter:description: View data about the AP Computer Science exam by state
---

<%
  @header["social"]["og:image"] = 'https://' + request.host + '/images/middleschool.png'
  @header["social"]["twitter:image:src"] = 'https://' + request.host + '/images/middleschool.png'
%>

# Dig Deeper into AP Computer Science

<div class='tableauPlaceholder' id='viz1729613258547' style='position: relative'>
   <noscript><a href='#'><img alt='AP Results ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Na&#47;NationalAPCSExamsOverTime_17292717975330&#47;APResults&#47;1_rss.png' style='border: none' /></a></noscript>
   <object class='tableauViz'  style='display:none;'>
      <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
      <param name='embed_code_version' value='3' />
      <param name='site_root' value='' />
      <param name='name' value='NationalAPCSExamsOverTime_17292717975330&#47;APResults' />
      <param name='tabs' value='no' />
      <param name='toolbar' value='yes' />
      <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Na&#47;NationalAPCSExamsOverTime_17292717975330&#47;APResults&#47;1.png' />
      <param name='animate_transition' value='yes' />
      <param name='display_static_image' value='yes' />
      <param name='display_spinner' value='yes' />
      <param name='display_overlay' value='yes' />
      <param name='display_count' value='yes' />
      <param name='language' value='en-US' />
   </object>
</div>

<script type='text/javascript'>
  var divElement = document.getElementById('viz1729613258547');
  var vizElement = divElement.getElementsByTagName('object')[0];
  if ( divElement.offsetWidth > 800 ) { 
    vizElement.style.width='1000px';
    vizElement.style.height='1627px';
  } else if ( divElement.offsetWidth > 500 ) {
    vizElement.style.width='1000px';
    vizElement.style.height='1627px';
  } else { 
    vizElement.style.width='100%';
    vizElement.style.height='1477px';
  }
  var scriptElement = document.createElement('script');
  scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
  vizElement.parentNode.insertBefore(scriptElement, vizElement);
</script>

