---
title: Diversity of students using Code.org courses
theme: responsive
social:
  og:title: Diversity of students using Code.org courses
  og:description: Our courses are designed to enable all students to participate.
  og:image:width: '1920'
  og:image:height: '1080'
  twitter:card: player
  twitter:site: "@codeorg"
  twitter:url: https://code.org/promote/codeorg
  twitter:title: Diversity of students using Code.org courses
  twitter:description: Our courses are designed to enable all students to participate.
---

<%
  @header["social"]["og:image"] = 'https://' + request.host + '/images/middleschool.png'
  @header["social"]["twitter:image:src"] = 'https://' + request.host + '/images/middleschool.png'
%>

# Diversity in Code.org courses across grades K-12

Addressing diversity and equity issues is core to Code.org’s work, and is woven throughout our programs – from curriculum to teacher professional learning to advocacy to marketing. We focus not only on gender and socioeconomic diversity, but also on increasing participation among students from underrepresented racial and ethnic groups: Black, Hispanic/Latino, Native American, and Pacific Islander.

Because computer science is a foundational subject, Code.org courses are designed to enable every student to participate — with no prerequisite knowledge or background with technology. We also aim to introduce students to learning computer science at an early age, before stereotypes influence their decisions.

We increase diversity in computer science by reaching students of all backgrounds where they are — at their skill level, in their schools — and in ways that inspire them to keep learning. When our teachers integrate computer science into classrooms that all students attend, we have an immediate impact on diversity.
## Student diversity on Code.org:

<div class='tableauPlaceholder' id='viz1685042126901' style='position: relative'><noscript><a href='#'><img alt='Diversity Dashboard ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Pu&#47;PublicPlatformDiversityPageDisagg_16660286975050&#47;DiversityDashboard&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='PublicPlatformDiversityPageDisagg_16660286975050&#47;DiversityDashboard' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Pu&#47;PublicPlatformDiversityPageDisagg_16660286975050&#47;DiversityDashboard&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='language' value='en-US' /><param name='filter' value='publish=yes' /></object></div>

<script type='text/javascript'>
  var divElement = document.getElementById('viz1685042126901');
  var vizElement = divElement.getElementsByTagName('object')[0];
  if ( divElement.offsetWidth > 800 ) { vizElement.style.width='1000px';vizElement.style.height='2027px';}
  else if ( divElement.offsetWidth > 500 ) { vizElement.style.width='1000px';vizElement.style.height='2027px';}
  else { vizElement.style.width='100%';vizElement.style.height='3527px';}
  var scriptElement = document.createElement('script');
  scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
  vizElement.parentNode.insertBefore(scriptElement, vizElement);
</script>
