%footer#codeprojects_pagefooter
  .codeprojects_pagefooter_content
    %a.codeprojects_pagefooter_link{:href=>studio_url()} Built on Code Studio
    .codeprojects_pagefooter_dim &nbsp; | &nbsp;
    %a.codeprojects_pagefooter_link{:href=>studio_url("report_abuse"), :target=>"blank"} Report Abuse
    .codeprojects_pagefooter_dim &nbsp; | &nbsp;
    %a.codeprojects_pagefooter_link{:href=>studio_url("projects/weblab"), :id=>"pagefooter_view_code"} View Code
    .codeprojects_pagefooter_dim &nbsp; | &nbsp;
    %a.codeprojects_pagefooter_link{:href=>code_org_url("tos")} Terms of Service
    .codeprojects_pagefooter_dim &nbsp; | &nbsp;
    %a.codeprojects_pagefooter_link{:href=>code_org_url("privacy")} Privacy Policy
    .codeprojects_pagefooter_dim &nbsp; | &nbsp;
    %a.codeprojects_pagefooter_link="&copy; Code.org, #{Time.now.year}.".html_safe
