@import "color";

.tooltip {
  display: flex;
  width: fit-content;
  padding: 0.5rem 1rem;
  align-items: center;
  gap: 0.375rem;
  background-color: $light_gray_900;
  color: $light_white;
}

// Direction
.tooltip-onTop {
  display: flex;
}

.tooltip-onRight {
  display: flex;
}

.tooltip-onBottom {
  display: flex;
}

.tooltip-onLeft {
  display: flex;
}

// Sizes
.tooltip-l {
  display: flex;
}

.tooltip-m {
  display: flex;
}

.tooltip-s {
  display: flex;
}

.tooltip-xs {
  display: flex;
}
