@import 'color.scss';

.main {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
  white-space: nowrap;
}

.arrowContainer {
  display: inline-block;
  position: relative;
  top: 10px;
}

.leftArrow {
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 17px 20px 17px;
  border-color: transparent $cyan transparent transparent;
}

.focusArea {
  display: inline-block;
  background-color: $cyan;
  color: white;
  height: 34px;
  line-height: 34px;
  position: relative;
  top: -3px;
}

.text {
  display: inline-block;
}

.focusAreaIcon {
  display: inline-block;
  color: white;
  line-height: 13px;
  padding: 5px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 4px;

  &:hover {
    background-color: $default_blue;
  }
}
