@import 'color.scss';
@import 'font.scss';

.levelPill {
  @include main-font-semi-bold;
  text-align: center;
  justify-content: center;
  border-width: 2px;
  border-style: solid;
  border-color: $lighter_gray;
  color: $charcoal;
  display: flex;
  font-size: 16px;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
  min-width: 70px;
  line-height: 18px;
  margin-top: 3px;
  margin-bottom: 3px;
  position: relative;
}

.text {
  @include main-font-semi-bold;
  display: inline-block;
  letter-spacing: -0.12px;
}

.textProgressStyle {
  @include main-font-semi-bold;
  display: inline-block;
  font-size: 12px;
  letter-spacing: -0.12px;
  width: 120px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.iconMargin {
  margin-left: 10px;
}

.iconMarginRTL {
  margin-right: 10px;
}
