@import 'color';

.progress-bubble {
  &.enabled {
    transition: background-color 0.2s ease-out, border-color 0.2s ease-out,
      color 0.2s ease-out;
    &:hover {
      text-decoration: none;
      color: $white !important;
      border-color: $level_current !important;
      background-color: $level_current !important;
    }
  }
}

a.progress-bubble-link {
  display: inline-block;
  &:hover {
    text-decoration: none;
  }
}

table.progress-legend {
  margin-top: 60px;
  margin-bottom: 20px;
  &:nth-of-type(2) {
    margin-top: 0px;
  }
  &:only-of-type {
    width: 100%;
  }
}
.progress-legend {
  text-align: center;
  td {
    padding: 10px;
  }
  tr {
    border: 2px solid $lightest_gray;
    background-color: $white;
  }
  thead {
    color: $charcoal;
    tr {
      background-color: $lightest_gray;
      &:first-of-type {
        background-color: $white;
        border: none;
        td {
          font-weight: bold;
          font-size: 18px;
        }
      }
      div:nth-of-type(2) {
        font-size: 10px;
      }
    }
  }
  tbody {
    td:first-of-type {
      border-inline-end: 2px solid $lightest_gray;
    }
  }
  div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .level-details {
    padding: 10px 0px;
    white-space: nowrap;
    div:nth-of-type(2) {
      padding-top: 16px;
    }
    i {
      margin-inline-end: 5px;
    }
  }
  .end-border {
    border-inline-end: 2px solid $lightest_gray;
  }
}
