.outer {
  display: table-cell;
  vertical-align: top;
  width: 200px;
  height: 100%;
  border-radius: 2px;
}

.inner {
  height: 100%;
  border: 1px solid var(--borders-info-primary);
  background-color: var(--background-info-extra-light);
  text-align: center;
}
