.preview_evaluation {
  display: flex;

  .module_type_section {
    width: 50%;
    padding: 1em;
  }

  #confirm_assignments {
    margin-top: 24px;
  }
}

#submit_tag_container {
  margin: 20px 0 0 50%;
}
