$root: '/blockly/media/turtle/'; //TODO: Parameterize for asset pipeline

#visualization {
  background-color: #fff;
}

/* Sprited icons. */
.icon21 {
  height: 21px;
  width: 21px;
  background-image: url("#{$root}icons.png");
}
.code {
 background-position: -42px 0px;
}
.link {
  background-position: -21px 0px;
}
.run {
  background-position: -63px -21px;
  margin-right: 3px;
}
.stop {
  background-position: -63px 0px;
  margin-right: 3px;
}
.calcHeader {
  font-size: 25px;
}

.markedToken {
  fill: white;
}

.errorToken {
  fill: red;
}

.expr {
  font-size: 20px;
}

#netsim_rightcol {
  float: right;
  width: 300px;
}

#netsim_leftcol {
  margin-right: 320px;
}

#netsim_lobby_list {
  background-color: white;
  padding: 0.5em;
  border: inset darkslategray thin;
  list-style: none;

  li {
    background-color: white;
    padding: 0.3em;
  }

  .own_row {
    font-weight: bold;
    background-color: lightcyan;
  }

  .user_row {

  }

  .router_row {
    cursor: pointer;
  }
  .router_row:hover {
    color: black;
    background-color: rgba(255, 140, 0, 0.21);
  }

  .selected_row {
    color: white;
    background-color: darkorange;
  }
  .selected_row:hover {
    background-color: darkorange;
  }
}

.netsim_log_widget {
  border: solid darkgray thin;
  margin: 0.5em;
  padding: 0.5em;

  #scroll_area {
    border: inset darkgray 2px;
    background-color: white;
    height: 100px;
    width: 400px;
    overflow: scroll;
  }
}

.netsim_send_widget {
  border: solid darkgray thin;
  margin: 0.5em;
  padding: 0.5em;
}