-# CSEdWeek Callout
%aside.announcement.cs-ed-week
  %div
    %img{src: "/images/csedweek-logo.svg", alt: "CSEdWeek logo"}
    %p
      Celebrate progress and take action to expand access to computer science.
    %a{href: "https://www.csedweek.org/", target: "_blank", rel: "noopener noreferrer"}
      %button
        I'm in!
  %img{src: "/images/csedweek-globe.svg", alt: "Globe illustration with opening and closing bracket icons in speech bubbles"}
