-# HoC 2022 - CS Leaders Prize million dollar promo code starts below.

%aside.cs-leaders-prize
  %h1
    Expand access to CS at your school, win $10,000!
  %img{src: "/images/hoc2022-cs-leaders-prize-money-bag.png", alt:"Icon of a green bag with a purple dollar sign on it surrounded by gold coins"}
  %a{href: "https://code.org/prize", target: "_blank", rel: "noopener noreferrer"}
    %button
      Learn more
