-# HoC 2022 - CS Leaders Prize million dollar promo code starts below.
%aside.announcement.cs-leaders-prize
  %h1
    Expand access to CS at your school, win $10,000!
  %img{src: "/images/hoc2022-cs-leaders-prize-money-bag.png", alt:"Icon of a green bag with a purple dollar sign on it surrounded by gold coins"}
  %a{href: "https://code.org/prize", target: "_blank", rel: "noopener noreferrer"}
    %button
      Learn more

-# CSEdWeek Callout
%aside.announcement.cs-ed-week
  %div
    %img{src: "/images/csedweek-logo.svg", alt: "CSEdWeek logo"}
    %p
      Celebrate progress and take action to expand access to computer science.
    %a{href: "https://csedweek.org/post/what-to-expect-during-csedweek-2022", target: "_blank", rel: "noopener noreferrer"}
      %button
        I'm in!
  %img{src: "/images/csedweek-globe.svg", alt: "Globe illustration with opening and closing bracket icons in speech bubbles"}
