:ruby
  providers = []

  providers << {id: "sphero", url: "https://sphero.com"}
  providers << {id: "iRobot", url: "https://root.irobot.com"}
  providers << {id: "microbit", url: "https://microbit.org"}
  providers << {id: "Makeblock", url: "https://www.makeblock.com"}

#joindescription
  #calltoaction
    %h2.join-us-header=hoc_s(:front_join_us_robotics)
    .robotics-providers
      .announcements-body
        =hoc_s(:front_join_us_robotics_link)
      - providers.each do |provider|
        %a.category-link.robotics-provider{href: provider[:url], target: "_blank"}
          %img{style: "width: 100%; margin-bottom: 20px", src: "/images/fit-200/robotics/hoc2019/#{provider[:id].downcase}-logo.png"}
          %img{style: "width: 100%", src: "/images/fit-200/robotics/hoc2019/#{provider[:id].downcase}-image.png"}
    .clear
