-# The HoC 2022 CS Leaders Prize promo submissions end as of 11/21/22
-# Hiding this box for now — we'll use similar code again in the future
  %aside.announcement.cs-leaders-prize
    %h1
      Expand access to computer science at your school, win $10,000!
    %img{src: "/images/hoc2022-cs-leaders-prize-money-bag.png", alt:"Icon of a green bag with a purple dollar sign on it surrounded by gold coins"}
    %a{href: "https://code.org/prize", target: "_blank", rel: "noopener noreferrer"}
      %button
        Learn more

-# CSEdWeek Callout
%aside.announcement.cs-ed-week
  %div
    %img{src: "/images/csedweek-logo.svg", alt: "CSEdWeek logo"}
    %p
      Celebrate progress and take action to expand access to computer science.
    %a{href: "https://www.csedweek.org/", target: "_blank", rel: "noopener noreferrer"}
      %button
        I'm in!
  %img{src: "/images/csedweek-globe.svg", alt: "Globe illustration with opening and closing bracket icons in speech bubbles"}
