.pagination{id: carousel_id}
%button.carousel__prev{id: "prev_#{carousel_index}"}
  %img{src: "//code.org/images/carousel/prev.svg", alt: "previous"}
%button.carousel__next{id: "next_#{carousel_index}"}
  %img{src: "//code.org/images/carousel/next.svg", alt: "next"}
