:ruby
  how_many_questions = [
    {
      id: "hoc-how-much",
      name: "how_many_do_hoc",
      label: hoc_s(:census_how_many_hoc)
    },
    {
      id: "after-school-how-much",
      name: "how_many_after_school",
      label: hoc_s(:census_how_many_after_school)
    },
    {
      id: "ten-hour-how-much",
      name: "how_many_10_hours",
      label: hoc_s(:census_how_many_ten_hours)
    },
    {
      id: "twenty-hour-how-much",
      name: "how_many_20_hours",
      label: hoc_s(:census_how_many_twenty_hours)
    }
  ]

.form-group
  %label.control-label=hoc_s(:census_connection)
  %select#role.form-control{name: "role_s", type: "select"}
    %option{value: "", selected: true, disabled: true}
    %option{value: "TEACHER"}=hoc_s(:teacher)
    %option{value: "ADMINISTRATOR"}=hoc_s(:administrator)
    %option{value: "PARENT"}=hoc_s(:parent)
    %option{value: "VOLUNTEER"}=hoc_s(:volunteer_or_advocate)
    %option{value: "OTHER"}=hoc_s(:other)

.form-group#how-much-cs
  .census_heading
    Please share how much <b>coding/computer programming</b> is taught at this school. Assume for the purposes of the following questions that coding/computer programming does <b>not include HTML/CSS</b>, Web design, or how to use apps.
    %br
    %br
  - how_many_questions.each do |question|
    %label.control-label=question[:label]
    %select.form-control{name: question[:name], type: "select", id: "#{question[:id]}"}
      %option{value: "", selected: true, disabled: true}
      %option{value: "NONE"}=hoc_s(:none)
      %option{value: "SOME"}=hoc_s(:some)
      %option{value: "ALL"}=hoc_s(:all)
      %option{value: "I DON'T KNOW"}=hoc_s(:dont_know)
    %br

  #followup_questions{style: "display: none;"}
    =view :census_questions_followup

  .form-group#pledge{style: "display: none;"}
    .checkbox
      %label
        %input{name: "pledged", type: "checkbox", value: "1"}/
        =hoc_s(:census_pledge)
