.form-group
  %label.control-label Your school offers a semester or year-long computer science class! What topics does this course include?
  .checkbox
    %label
      %input#block{name: "topic_blocks_b", type: "checkbox", value: "1"}/
      Block-based programming
  .checkbox
    %label
      %input#block{name: "topic_text_b", type: "checkbox", value: "1"}/
      Text-based programming in a language such as Java, JavaScript, Python, C++, etc. (Excluding HTML or CSS)
  .checkbox
    %label
      %input#block{name: "topic_robots_b", type: "checkbox", value: "1"}/
      Physical computing/robotics
  .checkbox
    %label
      %input#block{name: "topic_internet_b", type: "checkbox", value: "1"}/
      Internet and networking
  .checkbox
    %label
      %input#block{name: "topic_security_b", type: "checkbox", value: "1"}/
      Cybersecurity
  .checkbox
    %label
      %input#block{name: "topic_data_b", type: "checkbox", value: "1"}/
      Data analysis
  .checkbox
    %label
      %input#block{name: "topic_web_design_b", type: "checkbox", value: "1"}/
      Web design using HTML and CSS
  .checkbox
    %label
      %input#block{name: "topic_game_design_b", type: "checkbox", value: "1"}/
      Game design using game layout tools without coding or computer programming
  .checkbox
    %label
      %input#block{name: "topic_other_b", type: "checkbox", value: "1"}/
      Other (please describe below)
  .checkbox
    %label
      %input#block{name: "topic_dont_know_b", type: "checkbox", value: "1"}/
      I don't know

.form-group
  %label.control-label How often per week does this class meet?
  %select#frequency.form-control{name: "followup_frequency_s", type: "select", required: true}
    %option{value: "", selected: true, disabled: true}
    %option{value: "less_than_one"} < 1 hour per week
    %option{value: "one_to_three"} 1-3 hours per week
    %option{value: "three_plus"} 3+ hours per week
    %option{value: "dont_know"} I don't know

.form-group
  %label.control-label{for: "followup_more"}
    Please tell us more about this course. For example, name of the class, how often it meets, description of what is taught.
  %div
    %input#followup-more.form-control{name: "followup_more_s", type: "text_area"}
