- beyond_categories = []
- beyond_categories << {tag:"es", name: "For Elementary School"}
- beyond_categories << {tag:"ms", name: "For Middle School"}
- beyond_categories << {tag:"hs", name: "For High School and Beyond"}

%div{style: "clear:both"}

-tutorials = Tutorials.new(variation=='learn' ? :tutorials : :beyond_tutorials)

- @variation = variation

#all-tutorials{style: 'visibility:hidden;'}
  - beyond_categories.each do |category|
    - id = "collection-" + category[:tag]
    = view :course_carousel, heading: category[:name], gradelevel: category[:tag], tutorials: tutorials, id: id, shuffle: true

:javascript

  var ua = navigator.userAgent;

  // International
  var pegasusLocale = "#{request.locale}";

  if (pegasusLocale.substring(0,2) == "en")
  {
    $('#all-tutorials').show();
    $('#all-tutorials').css('visibility', 'visible');
  }
  else
  {
    $('#carousel-international').show();
    $('#all-tutorials').css('height', '0');
  }

  function toggle_visibility()
  {
    var e = document.getElementById('all-tutorials');
    if ( e.style.visibility == 'visible' )
    {
      $('#all-tutorials').css('height', '0');
      $('#all-tutorials').css('visibility', 'hidden');
    }
    else
    {
      $('#all-tutorials').css('height', '100%');
      $('#all-tutorials').css('visibility', 'visible');
    }
  }
