%div.resources-navigation
  %div.nav-header Events
  %div.nav-item
    %a.nav-link{href: resolve_url('/events/all')}
      = hoc_s(:events_nav_all)
  %div.nav-item
    %a.nav-link{href: resolve_url('/events/schools')}
      = hoc_s(:events_nav_whole_schools)
  %div.nav-item
    %a.nav-link{href: resolve_url('/events/special')}
      Special events

= view :resources_nav