#blurb.col-mobile-56.mobile-pad-right
  %br.desktop-feature

  .count{:style=>'font-size: 32px; line-height: 32px; font-weight:500' }
    =hoc_s(:front_join_us_heading)
    %h4.desktop-feature{style: 'font-size: 22px;'}=hoc_s(:front_join_us_description)
  %br

#getstarted.col-mobile-44
  #largegap.mobile-show-medium
  %a{:href=>'#signup'}
    %button.btn.btn-default
      =hoc_s(:front_join_us_button)

%br
.count{:style=>'font-size: 32px; line-height: 32px; font-weight:500' }
  %a{:href=>'#faq'}
    %h4.desktop-feature{style: 'font-size: 18px;'}=hoc_s(:hoc_faq_what_is_hoc_q) 

