:ruby
  list_item = [
    {
      icon: "fa fa-child",
      audience_heading: hoc_s(:for_students),
      url_primary: resolve_url("/learn"),
      button_label_primary: hoc_s(:call_to_action_explore_activities),
    },
    {
      icon: "fa fa-chalkboard-user",
      audience_heading: hoc_s(:for_educators),
      url_primary: resolve_url("/how-to"),
      button_label_primary: hoc_s(:call_to_action_host_hoc),
    },
  ]

.side-by-side-cta-wrapper
  - list_item.each do |list_item|
    .flex-container
      %h3.heading-sm
        %i{class: "#{list_item[:icon]}"}
        = list_item[:audience_heading]
      %a.link-button.white{href: list_item[:url_primary]}
        = list_item[:button_label_primary]
