:ruby
  highlights = [
    {
      id: 64,
      heading_s: hoc_s(:highlights_constant_trudeau_heading),
      short_heading_s: hoc_s(:highlights_constant_trudeau_short_heading),
      image_url_s: "hoc-trudeau.jpg",
      link_text_s: hoc_s(:highlights_watchvideo),
      url_s: "https://www.youtube.com/watch?v=8QwT58VTj_g"
    },
    {
      id: 63,
      heading_s: hoc_s(:highlights_constant_ny_heading),
      short_heading_s: hoc_s(:highlights_constant_ny_short_heading),
      image_url_s: "chicago-2.png",
      link_text_s: hoc_s(:highlights_readmore),
      url_s: "http://www.brooklynpaper.com/stories/39/5/dtg-hour-of-code-challenge-2016-01-29-bk.html"
    },
    {
      id: 66,
      heading_s: hoc_s(:highlights_constant_malala_heading),
      short_heading_s: hoc_s(:highlights_constant_malala_short_heading),
      image_url_s: "video-malala.png",
      link_text_s: hoc_s(:highlights_watchvideo),
      url_s: "https://youtu.be/cFdncBMDtP8"
    }
  ]

.highlights-column
  .highlight-tiles
    - highlights.each do |item|
      = view :highlight_item, item: item
  %a{href: resolve_url("/highlights")}
    =hoc_s(:highlights_see_more)
