:ruby
  stat_item = [
    {
      stat: "1.8B",
      caption: hoc_s("hoc_homepage.global.stats.served")
    },
    {
      stat: "180+",
      caption: hoc_s("hoc_homepage.global.stats.countries")
    },
  ]

.stats-wrapper
  - stat_item.each do |stat_item|
    .stat-item
      %p.stat
        = stat_item[:stat]
      %p.body-two.white.no-margin-bottom
        = stat_item[:caption]
