-# During Hour of Code season, show signup form and, unless it's pre-hoc, announcements. When it's not Hour of Code, hide signup form and announcements. Show "Sign Up is closed" message.
-# We are hiding announcements in 2020
- showAnnouncements = false
%a#hocsignupform{name: 'signup'}
#join
  %h1#join-us-header=hoc_s(:front_join_us_button)
  -if ["post-hoc", false].include?(hoc_mode)
    #signup-closed
      !=hoc_s(:signup_registration_not_required_markdown, markdown: :inline, locals: {hoc_activities_url: resolve_url('/learn'), howto_guide_url: resolve_url('/how-to')})
      =hoc_s(:signup_registration_closed)
    =view :index_video
  -else
    %h1#thanks-header{style: "display:none;"}=hoc_s(:census_thanks)
    %div
      .row
        .col-md-6
          =view :signup_form
        .col-md-6
          %br
          =view :index_video
          %br

          -if showAnnouncements && hoc_mode != "pre-hoc"
            =view :announcements
