:ruby
  stat_item = [
    {
      image: "/images/hoc-stats-languages.png",
      caption: hoc_s(:hoc_stat_languages)
    },
    {
      image: "/images/hoc-stats-hours-served.png",
      caption: hoc_s(:hoc_stat_hours_served)
    },
    {
      image: "/images/hoc-stats-females.png",
      caption: hoc_s(:hoc_stat_females)
    },
  ]

.stats-wrapper
  - stat_item.each do |stat_item|
    %figure
      %img{src: stat_item[:image], alt: ""}
      %figcaption.body-two
        = stat_item[:caption]
