-# During Hour of Code season, show signup form and, unless it's pre-hoc, announcements. When it's not Hour of Code, hide signup form and announcements. Show "Sign Up is closed" message.
-# Show the accouncements box in 2022 for the CS Leaders Prize million dollar promo.
- showAnnouncements = true
%a#hocsignupform{name: 'signup'}
#join-us-header=hoc_s(:front_join_us_button)
- if ["actual-hoc", "post-hoc", false].include?(hoc_mode)
  %p.signup-closed=hoc_s(:signup_registration_closed_2022_markdown, markdown: :inline, locals: {hoc_activities_url: resolve_url('/learn')})
- else
  %h1#thanks-header{style: "display:none;"}=hoc_s(:census_thanks)
  %div
    .row
      .col-md-6
        =view :signup_form
      - if showAnnouncements && @country == "us" && hoc_mode != "pre-hoc"
        .col-md-6
          =view :announcements
