-# Show alternate promo video for LATAM Hour of Code.
- latam_language_codes = ["la", "es", "pt", "po"]
- video_link = latam_language_codes.include?(@language) ? "EGgdCryC8Uo" : "ybBUd9-0ZJQ"

%figure.video-responsive
  %div
    %iframe{allowFullScreen: 'true', frameborder: '0', src: "https://www.youtube-nocookie.com/embed/#{video_link}?iv_load_policy=3&rel=0&autohide=1&cc_load_policy=1"}
