:ruby
  latam_language_codes = ["la", "es", "pt", "po"]

-# If language Spanish or Portuguese, show alternate
-# promo video for LATAM Hour of Code.
- if latam_language_codes.include?(@language)
  #homepage-video.video-responsive
    %iframe{allowFullScreen: 'true', frameborder: '0', src: "https://www.youtube-nocookie.com/embed/EGgdCryC8Uo?iv_load_policy=3&rel=0&autohide=1&showinfo=0&cc_load_policy=1"}
- else
  #homepage-video.video-responsive
    %iframe{allowFullScreen: 'true', frameborder: '0', src: "https://www.youtube-nocookie.com/embed/KsOIlDT145A?iv_load_policy=3&rel=0&autohide=1&showinfo=0&cc_load_policy=1"}
