#joindescription
  #calltoaction
    %h2{:style=>"margin-top: 0px"}
      =hoc_s(:front_join_us_header)
  #calltoaction
    %div

      %a.category-link{:href=>resolve_url('/resources/how-to')}
        %div.category-button{:style=>"background-color: #59b9dc"}
          %b.category-header=hoc_s(:front_join_us_teacher)
          %span=hoc_s(:front_join_us_teacher_link)
      %a.category-link{:href=>resolve_url('/resources/promote#sample-emails')}
        %div.category-button
          %b.category-header=hoc_s(:front_join_us_parent)
          %span=hoc_s(:front_join_us_parent_link)
      %a.category-link{:href=>resolve_url('/resources/promote')}
        %div.category-button{:style=>"background-color: #d1d567"}
          %b.category-header=hoc_s(:front_join_us_computer_science)
          %span=hoc_s(:front_join_us_spread_word)
      -if chapter_partner?
        %a.category-link{:href=>resolve_url('https://code.org')}
          %div.category-button{:style=>"background-color: #ffc459"}
            %span=hoc_s(:front_join_us_code_info)
