#joindescription
  #calltoaction
    %h2{:style=>"margin-top: 0px"}
      =hoc_s(:front_join_us_header)
  #calltoaction
    %ul{:style=>"line-height:28px"}
      %li
        %b=hoc_s(:front_join_us_teacher)
        =hoc_s(:front_join_us_inspire)
        %a{href:resolve_url('/resources/how-to')}
          =hoc_s(:front_join_us_inspire_link)
      %li
        %b=hoc_s(:front_join_us_parent)
        %a{href:resolve_url('/resources')}
          =hoc_s(:front_join_us_ask_link)
        =hoc_s(:front_join_us_ask)
      %li
        %a{href:resolve_url('/resources')}
          =hoc_s(:front_join_us_help_promote)
      -if chapter_partner?
        %li=hoc_s(:front_join_us_more_info).gsub('code.org', resolve_url('code.org'))
