#joindescription
  #calltoaction
    %h2{:style=>"margin-top: 0px"}
      =hoc_s(:front_join_us_header)
  #calltoaction
    %ul{:style=>"line-height:28px"}
      %li
        %b.category-header=hoc_s(:front_join_us_teacher)
        =hoc_s(:front_join_us_teacher_link).gsub('/resources/how-to', resolve_url('/resources/how-to'))
      %li
        %b.category-header=hoc_s(:front_join_us_parent)
        =hoc_s(:front_join_us_parent_link).gsub('/resources/promote#sample-emails', resolve_url('/resources/promote#sample-emails'))
      %li
        %b.category-header=hoc_s(:front_join_us_computer_science)
        =hoc_s(:front_join_us_spread_word).gsub('/resources/promote', resolve_url('/resources/promote'))
      -if chapter_partner?
        %li=hoc_s(:front_join_us_more_info).gsub('code.org', resolve_url('code.org'))
