#joindescription
  #calltoaction
    %h2{:style=>"margin-top: 0px"}
      -if @country == 'uk'
        =hoc_s(:front_join_us_header_uk)
      -else
        =hoc_s(:front_join_us_header)

  #calltoaction
    %ul{:style=>"line-height:28px"}
      %li
        %b=hoc_s(:front_join_us_teacher)
        =hoc_s(:front_join_us_inspire)
        %a{href:hoc_uri('/resources/how-to')}
          =hoc_s(:front_join_us_inspire_link)
      %li

        %b=hoc_s(:front_join_us_parent)
        %a{href:hoc_uri('/resources')}
          =hoc_s(:front_join_us_ask_link)
        =hoc_s(:front_join_us_ask)
      %li

        %b=hoc_s(:front_join_us_computer_science)
        %a{href:hoc_uri('/resources')}
          =hoc_s(:front_join_us_spread)
        =hoc_s(:front_join_us_organize)