#joindescription
  #calltoaction
    %h2{:style=>"margin-top: 0px"}
      =hoc_s(:front_join_us_volunteer_header)
    %a.category-link{:href=>resolve_url('https://code.org/volunteer/local')}
      %div.category-button.cyan-background
        %b.category-header=hoc_s(:front_join_us_teacher)
        %span=hoc_s(:front_join_us_teacher_volunteer)
    %a.category-link{:href=>resolve_url('https://code.org/volunteer')}
      %div.category-button.green-background
        %b.category-header=hoc_s(:front_join_us_cs_volunteer)
        %span=hoc_s(:front_join_us_sign_up_volunteer)
