.row
  .col-md-8
    %br/
    %h2
      Hour of Code Highlights
    %a.twitter-grid{data: {tweet: {limit: "1"}, chrome: "noheader nofooter"}, href: "https://twitter.com/codeorg/timelines/1299406095904116742"}
      Hour of Code Highlights
    %script{async: "", charset: "utf-8", src: "//platform.twitter.com/widgets.js"}
