- beyond_categories = []
- beyond_categories << {tag:"es", name: "For Elementary School"}
- beyond_categories << {tag:"ms", name: "For Middle School"}
- beyond_categories << {tag:"hs", name: "For High School and Beyond"}

%div{style: "clear:both"}

-tutorials = Tutorials.new(variation=='learn' ? :tutorials : :beyond_tutorials)

- @variation = variation

#all-tutorials{:style=>'visibility:hidden; overflow:hidden;'}
  - beyond_categories.each do |category|
    - id = "collection-" + category[:tag]
    = view :learn_carousel, :heading=>category[:name], :gradelevel=>category[:tag], :tutorials=>tutorials, :id=>id, :shuffle=>true

- if request.locale == "en-US"
  %br
  %br
  - unless variation == "university"
    .footer-banner
      != I18n.t(:learn_footer_all_tutorials)

:javascript

  // Older systems
  var ua = navigator.userAgent;

  //
  // references:
  //  https://developer.mozilla.org/en-US/docs/Browser_detection_using_the_user_agent
  //  http://www.useragentstring.com/pages/useragentstring.php
  //  http://www.oldapps.com/mac/netscape.php
  //

  var is_safari4 = ua.indexOf("Safari/") != -1 && ua.indexOf("Version/4.") != -1 && ua.indexOf("Chrome") == -1 && ua.indexOf("Chromium") == -1;
  var is_netscape7 = ua.indexOf("Netscape/7.") != -1;
  var is_ie5 = ua.indexOf("MSIE 5.") != -1;

  //if (!window.mobilecheck() && (is_ie8 || is_safari4 || is_netscape7 || is_ie5))
  //{
  //  $('#carousel-ie8').show();
  //}

  // International
  var pegasusLocale = "#{request.locale}";

  if (pegasusLocale.substring(0,2) == "en")
  {
    $('#all-tutorials').show();
    $('#all-tutorials').css('visibility', 'visible');
  }
  else
  {
    $('#carousel-international').show();
    $('#all-tutorials').css('height', '0');
  }

  function toggle_visibility()
  {
    var e = document.getElementById('all-tutorials');
    if ( e.style.visibility == 'visible' )
    {
      $('#all-tutorials').css('height', '0');
      $('#all-tutorials').css('visibility', 'hidden');
    }
    else
    {
      $('#all-tutorials').css('height', '100%');
      $('#all-tutorials').css('visibility', 'visible');
    }
  }

%script{:src=>'/js/jquery.carouFredSel-6.2.1-packed.js'}
%script{:src=>'/js/jquery.touchSwipe.min.js'}
:javascript

  // enable swipe on links by removing 'a' from excludedElements.
  $.fn.swipe.defaults.excludedElements = "label, button, input, select, textarea, .noSwipe";

  $(document).ready(function() {
    createCarousels();
    setupScratBlinking();
  });

  function createCarousels()
  {
    // Look for carousels and loop through them.
    $.each($('.course-carousel'), function() {
      // Get the ID of the carousel.
      var id = '#' + $(this).attr('id');

      // Define the carousel using the ID.
      $(id + ' .slides').carouFredSel({
        auto  : false,
        responsive : true,
        prev  : id + ' .slide-prev',
        next  : id + ' .slide-next',
        pagination : '#pagination-' + $(this).attr('id'),
        swipe : {
          onTouch : true,
          onMouse : false
        },
        items :  {
          visible : 1,
          height: "variable"
        },
        onCreate: function() {
          var match = id + " .slide.clear"
          $(match).show();
          $(id).fadeTo(500, 1.0);
        }
      });
    });
  }

  $(window).load(function(){
    $(window).trigger('resize');
  })

  function showScratBlink(blink) {
    $(".scrat-standing").css('opacity', blink ? 0 : 1);
    $(".scrat-standing-blink").css('opacity', blink ? 1 : 0);
  }

  function setupScratBlinking() {
    setTimeout(function() {
      showScratBlink(true);
      setTimeout(function() {
        showScratBlink(false);
        setupScratBlinking();
      }, 200);
    }, 4000);
  }

