.wrapper
  %p.hoc-label
    =hoc_s(:hour_of_code)
  %h1=hoc_s(:hoc2023_header)
  %p.hero-desc
    =hoc_s(:hoc2023_hero_desc_learn_page)
  %p!= hoc_s(:learn_banner_beyond_markdown, markdown: :inline, locals: {url: "/beyond"})
  %p
    %i{:class=>"fa fa-graduation-cap", :style=>"font-size: larger"}
    != hoc_s(:learn_banner_teachers_markdown, markdown: :inline, locals: {host_url: "/events", howto_url: "/how-to"})
