- hoc_mode = DCDO.get("hoc_mode", CDO.default_hoc_mode)

#maparea.full-width{style: "margin-top: 2rem"}
  -# Show a picture of the map unless it is currently the week of HOC, or the user is located in Morocco (border disputes misrepresented in map)
  -if hoc_mode == "actual-hoc" || @country == 'ma'
    %a{href: resolve_url('/map')}
      %img{src: '/images/fit-2276/map.jpg', style: 'width: 100%;'}
    .footnote!=hoc_s(:hoc_live_map_and_events_message, markdown: :inline, locals: {map_url: resolve_url('/map'), events_url: resolve_url('/events/all')})
  -else
    = view :hoc_events_map
    -# .footnote!=hoc_s(:map_view_all_events, markdown: :inline, locals: {events_url: resolve_url('/events/all')})
