= inline_css "/generated/interest-form.css"

%div.interest-form{style: "display: block; margin-bottom: 8rem"}
  .text-wrapper
    %h2
      =hoc_s(:hoc_interest_form_header)
    %p.body-two
      =hoc_s(:hoc_interest_form_desc)
    %p.body-three
      %em=hoc_s(:subscribe_form_section_unsubscribe)
  %figure
    %iframe{allowtransparency: "true", frameborder: "0", height: "325px", src: "https://go.pardot.com/l/153401/2024-01-03/pqtwb6", style: "border: 0", type: "text/html", width: "100%"}
