%section.no-padding-bottom
  .wrapper.centered
    %p.body-two
      =hoc_s(:hoc_homepage_organized_by, markdown: :inline, locals: {codeorg_url: resolve_url("https://code.org")})
    %a{href: "https://code.org"}
      %img{src: '/images/code-dot-org-logo-40x40.svg'}
