#prizes
  %h2.prizes-header=hoc_s(:prizes_header)
  %ul
    -if @country == 'us'
      %li=hoc_s(:prizes_10k_past)
    %li=hoc_s(:prizes_gift_cards)
    %li
      %a{href: resolve_url('/prizes')}
        =hoc_s(:prizes_more)
  %img.giftcard{src: "../images/amazon_giftcards.jpg"}
  %img.giftcard{src: "../images/apple_giftcards.png"}
  %img.microsoft{src: "../images/microsoft_giftcards.jpg"}
