%div.resources-navigation
  %a.nav-link{href: resolve_url('/prizes')}
    %div.nav-header= hoc_s(:prizes_nav_title)
  %div.nav-item
    %a.nav-link{href: resolve_url('/prizes')}
      = hoc_s(:prizes_nav_home)
  %div.nav-item
    %a.nav-link{href: resolve_url('/prizes/terms')}
      = hoc_s(:prizes_nav_terms)
= view :resources_nav
