.prizes-logo
  %img{:src=>"/images/fit-200/amazon.jpg"}
.prizes-logo
  %img{:src=>"/images/fit-110/itunes.png"}
.prizes-logo
  %img{:src=>"/images/fit-150/microsoft.jpg"}
.prizes-logo
  %img{:src=>"/images/fit-150/dropbox.png"}

%p{:style=>"clear:both"}
