#whats_next
  %h2{style: 'margin-top: 25px; margin-bottom: 10px;'}=hoc_s(:prizes_header)
  %div=hoc_s(:prizes_description)
  %img{src: "../images/apple.png", style: "width: 100px;"}
  %img{src: "../images/amazon.jpg", style: "width: 190px; padding-top: 16px;"}
