%h2=hoc_s(:prizes_all)
%ul
  %li=hoc_s(:prizes_every_organizer)
  -if @country == 'us'
    %li=hoc_s(:prizes_technology)
    %li=hoc_s(:prizes_tech_chats)
  %li 
    %a{href:hoc_uri("/prizes")}=hoc_s(:prizes_details)