%a{:href => localized_file('/files/poster_steph.pdf')}
  %img{:src => localized_image('/images/fit-250/poster_steph.png')}
  &nbsp;&nbsp;&nbsp;
%a{:href => localized_file('/files/poster_malala.pdf')}
  %img{:src => localized_image('/images/fit-250/poster_malala.png')}
  &nbsp;&nbsp;&nbsp;
%a{:href => localized_file('/files/poster_hadi.pdf')}
  %img{:src => localized_image('/images/fit-250/poster_hadi.png')}
  &nbsp;&nbsp;&nbsp;
%br
%br
%a{:href => localized_file('/files/poster_mary.pdf')}
  %img{:src => localized_image('/images/fit-250/poster_mary.png')}
  &nbsp;&nbsp;&nbsp;
%a{:href => localized_file('/files/poster_satya.pdf')}
  %img{:src => localized_image('/images/fit-250/poster_satya.png')}
  &nbsp;&nbsp;&nbsp;
%a{:href => localized_file('/files/poster_shakira.pdf')}
  %img{:src => localized_image('/images/fit-250/poster_shakira.png')}
  &nbsp;&nbsp;&nbsp;
