:scss
  div.posters {
    justify-content: start;
    flex-wrap: wrap;
    gap: 1rem;

    a {
      width: 150px;
    }
  }

%div.posters.flex-container
  %a{href: "//downloads.code.org/posters/poster_minecraft.pdf"}
    %img{src: "/images/poster_minecraft.png"}
  %a{href: "//downloads.code.org/posters/poster_dance_ai_01.pdf"}
    %img{src: "/images/poster_dance_ai_01.png"}
  %a{href: "//downloads.code.org/posters/poster_dance_ai_02.pdf"}
    %img{src: "/images/poster_dance_ai_02.png"}
  %a{href: "//downloads.code.org/posters/poster_oceans_01.pdf"}
    %img{src: "/images/poster_oceans_01.png"}
  %a{href: "//downloads.code.org/posters/poster_oceans_02.pdf"}
    %img{src: "/images/poster_oceans_02.png"}
  %a{href: "//downloads.code.org/posters/poster_steph.pdf"}
    %img{src: "/images/poster_steph.png"}
  %a{href: "//downloads.code.org/posters/poster_malala.pdf"}
    %img{src: "/images/poster_malala.png"}
  %a{href: "//downloads.code.org/posters/poster_hadi.pdf"}
    %img{src: "/images/poster_hadi.png"}
  %a{href: "//downloads.code.org/posters/poster_mary.pdf"}
    %img{src: "/images/poster_mary.png"}
  %a{href: "//downloads.code.org/posters/poster_satya.pdf"}
    %img{src: "/images/poster_satya.png"}
  %a{href: "//downloads.code.org/posters/poster_shakira.pdf"}
    %img{src: "/images/poster_shakira.png"}
