%a{:href => localized_file('/files/malala-yousafzai-poster.pdf')}
  %img{:src => localized_image('/images/fit-260/malala-yousafzai.png')}
%a{:href => localized_file('/files/sheryl-sandberg-poster.pdf')}
  %img{:src => localized_image('/images/fit-260/sheryl-sandberg.png')}
%a{:href => localized_file('/files/barack-obama-poster-new.pdf')}
  %img{:src => localized_image('/images/fit-260/barack-obama-new.png')}
%a{:href => localized_file('/files/mark-zuckerberg-poster.pdf')}
  %img{:src => localized_image('/images/fit-260/mark-zuckerberg.png')}
%a{:href => localized_file('/files/marissa-mayer-poster.pdf')}
  %img{:src => localized_image('/images/fit-260/marissa-mayer.png')}
%a{:href => localized_file('/files/susan-wojcicki-poster.pdf')}
  %img{:src => localized_image('/images/fit-260/susan.png')}
%a{:href => localized_file('/files/chris-bosh-poster.pdf')}
  %img{:src => localized_image('/images/fit-260/chris-bosh.png')}
%a{:href => localized_file('/files/barack-obama-poster.pdf')}
  %img{:src => localized_image('/images/fit-260/barack-obama.png')}
%a{:href => localized_file('/files/ashton-kutcher-poster.pdf')}
  %img{:src => localized_image('/images/fit-260/ashton-kutcher.png')}
