- if @country == 'ca'
  - hoc_one_pager = "/files/hoc-one-pager-canada.pdf"
  - schools_handout = "/files/schools-handout-canada.pdf"
- else
  - hoc_one_pager = localized_file('/files/hoc-one-pager.pdf')
  - schools_handout = localized_file('/files/schools-handout.pdf')

%h2.handouts-header= hoc_s(:handouts_section)

%a{:id => "onepager"}
%div.handout.col-50
  .handout-text= hoc_s(:handouts_onepager)
  %a{:href => hoc_one_pager}
    %img{:src => localized_image('/images/fit-250/one-pager.png')}

%a{:id => "participationguide"}
%div.handout.col-50
  .handout-text= hoc_s(:handouts_participationguide)
  %a{:href => localized_file('/files/participation-guide.pdf')}
    %img{:src => localized_image('/images/fit-250/participation-guide.png')}

%div{:style => 'clear:both'}
