%a{:href => localized_file('/files/malala-yousafzai-poster.pdf')}
  %img{:src => localized_image('/images/fit-260/malala-yousafzai.png')}
%a{:href => localized_file('/files/sheryl-sandberg-poster.pdf')}
  %img{:src => localized_image('/images/fit-260/sheryl-sandberg.png')}
%a{:href => localized_file('/files/barack-obama-poster-new.pdf')}
  %img{:src => localized_image('/images/fit-260/barack-obama-new.png')}
%a{:href => localized_file('/files/mark-zuckerberg-poster.pdf')}
  %img{:src => localized_image('/images/fit-260/mark-zuckerberg.png')}
-# %a{:href => localized_file('/files/marissa-mayer-poster.pdf')}
  %img{:src => localized_image('/images/fit-260/marissa-mayer.png')}
%a{:href => localized_file('/files/susan-wojcicki-poster.pdf')}
  %img{:src => localized_image('/images/fit-260/susan.png')}
%a{:href => localized_file('/files/chris-bosh-poster.pdf')}
  %img{:src => localized_image('/images/fit-260/chris-bosh.png')}
%a{:href => localized_file('/files/barack-obama-poster.pdf')}
  %img{:src => localized_image('/images/fit-260/barack-obama.png')}
%a{:href => localized_file('/files/ashton-kutcher-poster.pdf')}
  %img{:src => localized_image('/images/fit-260/ashton-kutcher.png')}
%br
%br
%a{:href => localized_file('/files/javier-aguera.pdf')}
  %img{:src => localized_image('/images/fit-260/poster_thumbnail_javier_aguera.jpg')}
%a{:href => localized_file('/files/maddy-maxey.pdf')}
  %img{:src => localized_image('/images/fit-260/poster_thumbnail_maddy_maxey.jpg')}
%a{:href => localized_file('/files/nidhi-and-erin.pdf')}
  %img{:src => localized_image('/images/fit-260/poster_thumbnail_nidhi_erin.jpg')}
%a{:href => localized_file('/files/rory-and-kieran.pdf')}
  %img{:src => localized_image('/images/fit-260/poster_thumbnail_rory_kieran.jpg')}
