:css
  a.poster {
    display: inline-block;
  }

  a.poster img {
    margin: 0 .5em .75em 0;
  }

%a.poster{:href => '//downloads.code.org/posters/poster_steph.pdf'}
  %img{:src => localized_image('/images/fit-250/poster_steph.png')}
%a.poster{:href => '//downloads.code.org/posters/poster_malala.pdf'}
  %img{:src => localized_image('/images/fit-250/poster_malala.png')}
%a.poster{:href => '//downloads.code.org/posters/poster_hadi.pdf'}
  %img{:src => localized_image('/images/fit-250/poster_hadi.png')}
%a.poster{:href => '//downloads.code.org/posters/poster_mary.pdf'}
  %img{:src => localized_image('/images/fit-250/poster_mary.png')}
%a.poster{:href => '//downloads.code.org/posters/poster_satya.pdf'}
  %img{:src => localized_image('/images/fit-250/poster_satya.png')}
%a.poster{:href => '//downloads.code.org/posters/poster_shakira.pdf'}
  %img{:src => localized_image('/images/fit-250/poster_shakira.png')}
