%a{:id => "onepager"}
%div.handout.col-50
  %h2= hoc_s(:handouts_onepager)
  %a{:href => localized_file('/files/hoc-one-pager.pdf')}
    %img{:src => localized_image('/images/fit-250/one-pager.png')}

%a{:id => "brochure"}
%div.handout.col-50
  %h2= hoc_s(:handouts_brochure)
  %a{:href => localized_file('/files/schools-handout.pdf')}
    %img{:src => localized_image('/images/fit-350/schools-handout.png')}

%div{:style => 'clear:both'}
