%div{style: "margin-top: 10px;"}
  %a{href: resolve_url('/promote')}
    %div{style: "overflow: hidden; margin: 10px 0px;"}
      %img{src: "/images/flyers.png", style: "width: 100%;"}
      %div{style: "padding: 10px; text-align: center;"} Check out the promo materials
  %a{href: resolve_url('https://code.org/learn')}
    %div{style: "margin: 10px 0px; overflow: hidden; background-color: #5b6770; color: white;"}
      %img{src: "/images/codehoc3.png", style: "width: 100%;"}
      %div{style: "padding: 0px 10px 10px 10px; text-align: center;"}
        %button Try tutorials
  %a{href: resolve_url('/how-to/how-to-promote')}
    %div{style: "background-color: rgba(0,0,0,0.02); overflow: hidden; margin: 10px 0px;"}
      %img{src: "/images/event-map.png", style: "width: 100%;"}
      %div{style: "padding: 10px; text-align: center;"} How to spread the word