%div{style: "margin-top: 10px;"}
  %a{href: resolve_url('/resources/promote#onepager')}
    %div{style: "background-color: blue; height: 100px; margin: 10px 0px;"}
      Promo materials link
  %a{href: resolve_url('code.org/learn')}
    %div{style: "background-color: green; height: 100px; margin: 10px 0px;"}
      Try tutorials
  %a{href: resolve_url('/thanks')}
    %div{style: "background-color: pink; height: 100px; margin: 10px 0px;"}
      Spread the word