%div.resources-nav
  %a{href: resolve_url('/promote/resources')}
    %div.display-link
      %img.display-img{src: localized_image("/images/fit-500/flyers.jpg")}
      %div.link-text.display-purple= hoc_s(:header_menu_resources)
  %a{href: resolve_url('/learn')}
    %div.display-link
      %img.display-img{src: localized_image("/images/fit-500/try_tutorials.jpg")}
      %div.link-text.display-blue= hoc_s(:resources_nav_tutorials)
  %a{href: resolve_url('/promote')}
    %div.display-link
      %img.display-img{src: localized_image("/images/fit-500/hourofcode-2015-video-thumbnail-cropped.jpg")}
      %div.link-text.display-green= hoc_s(:resources_nav_spread_word)
