%div.resources-nav
  %a{href: resolve_url('/promote')}
    %div.display-link
      %img.display-img{src: localized_image("/images/flyers.jpg")}
      %div.link-text.display-purple= hoc_s(:resources_nav_promote)
  %a{href: resolve_url('https://code.org/learn')}
    %div.display-link
      %img.display-img{src: localized_image("/images/try_tutorials.jpg")}
      %div.link-text.display-blue= hoc_s(:resources_nav_tutorials)
  %a{href: resolve_url('/how-to/promote')}
    %div.display-link
      %img.display-img{src: localized_image("/images/hour-of-code-2014-video-cropped.jpg")}
      %div.link-text.display-green= hoc_s(:resources_nav_spread_word)
