%div{style: "margin-top: 10px;"}
  %a{href: resolve_url('/promote')}
    %div{style: "border: 1px solid rgb(101, 101, 101); overflow: hidden; margin: 10px 0px;"}
      %img{src: "/images/schools-handout.png", style: "width: 100%;"}
      %div{style: "padding: 10px;"} Check out the promo materials
  %a{href: resolve_url('https://code.org/learn')}
    %div{style: "border: 1px solid rgb(101, 101, 101); margin: 10px 0px; overflow: hidden;"}
      %img{src: "/images/codehoc3.png", style: "width: 100%;"}
      %div{style: "padding: 10px;"} Try tutorials
  %a{href: resolve_url('/how-to/how-to-promote')}
    %div{style: "border: 1px solid rgb(101, 101, 101); overflow: hidden; margin: 10px 0px;"}
      %img{src: "/images/boy-certificate.png", style: "width: 100%;"}
      %div{style: "padding: 10px;"} Get others involved