%div{style: "margin-top: 10px;"}
  %a{href: resolve_url('/promote')}
    %div.display-link
      %img.display-img{src: "/images/flyers.png"}
      %div.link-text.display-purple Promotional materials
  %a{href: resolve_url('https://code.org/learn')}
    %div.display-link
      %img.display-img{src: "/images/try_tutorials.png"}
      %div.link-text.display-blue Try tutorials
  %a{href: resolve_url('/how-to/how-to-promote')}
    %div.display-link
      %img.display-img{src: "/images/hour-of-code-2014-video-cropped.jpg"}
      %div.link-text.display-green How to get involved
