- facebook = {:u=>"http://#{request.host}/us"}
- twitter = {:url=>"http://hourofcode.com", :related=>'codeorg', :hashtags=>'', :text=>hoc_s(:twitter_donor_text_2019).gsub(/%{random_donor}/, get_random_donor_twitter)}
- twitter[:hashtags] = 'HourOfCode' unless hoc_s(:twitter_donor_text_2019).include? '#HourOfCode'
= view :share_buttons, facebook:facebook, twitter:twitter
