%a{:href => localized_image('/images/malala-yousafzai.png')}
  %img{:src => localized_image('/images/fit-250/malala-yousafzai.png')}
%a{:href => localized_image('/images/sheryl-sandberg.png')}
  %img{:src => localized_image('/images/fit-250/sheryl-sandberg.png')}
%a{:href => localized_image('/images/barack-obama-new.png')}
  %img{:src => localized_image('/images/fit-250/barack-obama-new.png')}
%a{:href => localized_image('/images/mark.jpg')}
  %img{:src => localized_image('/images/fit-250/mark.jpg')}
%a{:href => localized_image('/images/susan.png')}
  %img{:src => localized_image('/images/fit-250/susan.png')}
%a{:href => localized_image('/images/chris.jpg')}
  %img{:src => localized_image('/images/fit-250/chris.jpg')}
-# %a{:href => localized_image('/images/marissa.jpg')}
  %img{:src => localized_image('/images/fit-250/marissa.jpg')}
%a{:href => localized_image('/images/barack.jpg')}
  %img{:src => localized_image('/images/fit-250/barack.jpg')}
%a{:href => localized_image('/images/ashton.jpg')}
  %img{:src => localized_image('/images/fit-250/ashton.jpg')}
%br
%br
%a{:href => localized_image('/images/poster_thumbnail_javier_aguera.jpg')}
  %img{:src => localized_image('/images/fit-250/poster_thumbnail_javier_aguera.jpg')}
%a{:href => localized_image('/images/poster_thumbnail_maddy_maxey.jpg')}
  %img{:src => localized_image('/images/fit-250/poster_thumbnail_maddy_maxey.jpg')}
%a{:href => localized_image('/images/poster_thumbnail_nidhi_erin.jpg')}
  %img{:src => localized_image('/images/fit-250/poster_thumbnail_nidhi_erin.jpg')}
%a{:href => localized_image('/images/poster_thumbnail_rory_kieran.jpg')}
  %img{:src => localized_image('/images/fit-250/poster_thumbnail_rory_kieran.jpg')}
