- if value == 'None' || prize_available?(value)

  / everything before the '.', i.e. 'Amazon.US' -> 'Amazon'
  - base_value = value.partition('.').first
  %label{class: "radio-inline"}
    %input{type: "radio", id: "prize-choice-#{base_value.downcase}", name: "prize_choice_s", value: value}
      - case base_value
        - when 'Microsoft'
          $10.00 Windows Store credit
        - when 'Apple'
          $10.00 iTunes credit
        - when 'Amazon'
          $10.00 Amazon.com credit
        - when 'dropbox'
          10 GB of Dropbox space
        - when 'None'
          No prize

