%script{src:'/js/jquery.min.js'}
%script{type: "text/javascript", src: "/js/sifter.min.js"}
%script{type: "text/javascript", src: "/js/microplugin.min.js"}
%script{type: "text/javascript", src: "/js/selectize.min.js"}
%script{type: "text/javascript", src: "/js/selectize-fast-click.js"}

:javascript
  $(function() {
    selectize = $('#language-dropdown select').selectize({
      plugins: ['fast_click']
    });
    $('#language-dropdown').attr('style', 'visibility: visible;');
  });

  $(document).ready(function() {
    // When nav hamburger is clicked, toggle responsive menu
    $('#hoc-nav-hamburger').click(function(e){
        $('#hoc-nav ul').toggleClass('hide-responsive-menu');
        e.preventDefault();
    });

    // When clicking anywhere outside the responsive menu, dismiss the menu
    $(document).click(function(e) {
      if(!$(e.target).closest('#hoc-nav-hamburger').length) {
        $('#hoc-nav ul').addClass('hide-responsive-menu');
      }
    });
  });
