:javascript
  $(function() {
    selectize = $('#language-dropdown select').selectize({
      plugins: ['fast_click']
    });
    $('#language-dropdown').attr('style', 'visibility: visible;');

    // When nav hamburger is clicked, toggle responsive menu
    $('#hoc-nav-hamburger').click(function(e){
        $('#hoc-nav ul').toggleClass('hide-responsive-menu');
        e.preventDefault();
    });

    // When footer chevron is clicked, toggle responsive menu
    $('#footer-toggle').click(function(e){
        $('#footer-links ul').toggleClass('hide-responsive-footer-menu');
        e.preventDefault();
    });

    // When clicking anywhere outside the responsive menus, dismiss them
    $(document).click(function(e) {
      if(!$(e.target).closest('#hoc-nav-hamburger').length) {
        $('#hoc-nav ul').addClass('hide-responsive-menu');
      }
      if(!$(e.target).closest('#footer-toggle').length) {
        $('#footer-links ul').addClass('hide-responsive-footer-menu');
      }
    });
  });

