#video-chat-speakers
  %figure
    %img{:src=>"/images/fit-120/JR-Hildebrand-headshot.png"}
    %figcaption JR Hildebrand <br/> (NASCAR Racecar Driver)
  
  %figure
    %img{:src=>"/images/fit-120/Bill-Gates-headshot.jpg"}
    %figcaption Bill Gates <br/> (Microsoft founder)
  
  %figure
    %img{:src=>"/images/fit-120/Usher-headshot.jpg"}
    %figcaption Usher <br/> (Recording artist)
  
  %figure
    %img{:src=>"/images/fit-120/Sheryl-Sandberg-headshot.jpg"}
    %figcaption Sheryl Sandberg <br/> (Facebook COO)
  
  %figure
    %img{:src=>"/images/fit-120/Jack-Dorsey-headshot.jpg"}
    %figcaption Jack Dorsey <br/> (Twitter & Square co-founder)
  
  %figure
    %img{:src=>"/images/fit-120/Hadi-Partovi-headshot.jpg"}
    %figcaption Hadi Partovi <br/> (Code.org co-founder)
  
  %figure
    %img{:src=>"/images/fit-120/Ashton-Kutcher-headshot.jpg"}
    %figcaption Ashton Kutcher <br/> (Actor and tech investor)
  
  %figure
    %img{:src=>"/images/fit-120/Clara-Shih-headshot.jpg"}
    %figcaption Clara Shih <br/> (Hearsay Social CEO)
  
  %figure
    %img{:src=>"/images/fit-120/Lyndsey-Scott-headshot.jpg"}
    %figcaption Lyndsey Scott <br/> (App developer and model)
  
  %figure
    %img{:src=>"/images/fit-120/Karlie-Kloss-headshot.jpg"}
    %figcaption Karlie Kloss <br/> (supermodel, learning to code)
  
  %figure
    %img{:src=>"/images/fit-120/Jess-Lee-headshot.jpg"}
    %figcaption Jess Lee <br/> (Polyvore CEO)
  
  %figure
    %img{:src=>"/images/fit-120/David-Karp-headshot.png"}
    %figcaption David Karp <br/> (Tumblr founder)
  
  %figure
    %img{:src=>"/images/fit-120/Cory-Booker-headshot.jpg"}
    %figcaption Cory Booker <br/> (US Senator of New Jersey)

:css
  #video-chat-speakers figure {
    display: inline-block;
    text-align: center;
    width: 220px;
    margin-top: 20px;
  }

  #video-chat-speakers img {
    margin-bottom: 5px;
  }