#video-chat-speakers
  %figure
    %img{:src=>"/images/fit-175/Kevin_Systrom.png"}
    .figcaption 
      Kevin Systrom
      %br (co-founder and CEO of Instagram)
      %br 
        %a{href: "https://plus.google.com/events/cpt85j7p1ohaqu5e86m272aukn4"}
          Watch live Dec. 9, 11 am PST
  
  %figure
    %img{:src=>"/images/fit-175/Dao_Nguyen.jpg"}
    .figcaption 
      Dao Nguyen
      %br (Publisher, Buzzfeed)
      %br 
        %a{href: "https://plus.google.com/events/cag6mbpocahk8h8qr3hrd7h0skk"}
          Watch live Dec. 7, 12 pm PST

  %figure
    %img{:src=>"/images/fit-175/Aloe_Blacc.jpg"}
      .figcaption 
      Aloe Blacc
      %br (Recording artist)
      %br 
        %a{href: "https://plus.google.com/events/clir8qtd7t2fhh33n8d9o2m389g"}
          Watch live Dec. 8, 3 pm PST 

  %figure
    %img{:src=>"/images/fit-175/Hadi-Partovi.jpg"}
    .figcaption 
      Hadi Partovi
      %br (Code.org co-founder and CEO)
      %br 
        %a{href: "https://plus.google.com/events/c2e67fd7el3es36sits1fd67prc"}
          Watch live Dec. 11, 10 am PST

  %figure
    %img{:src=>"/images/fit-175/Julie_Larson-Green.jpg"}
    .figcaption 
      Julie Larson-Green
      %br (Chief Experience Officer, Microsoft)
      %br Dec. 8, 2 pm PST

:css
  #video-chat-speakers figure {
    display: inline-block;
    text-align: center;
    width: 270px;
    margin-top: 25px;
    margin-bottom: 25px;
  }

  #video-chat-speakers img {
    margin-bottom: 5px;
  }

  #video-chat-speakers figcaption {
    font-size: 13.4px;
  }