#video-chat-speakers
  %figure
    %img{:src=>"/images/fit-120/Kevin_Systrom.png"}
    %figcaption Kevin Systrom <br/> (co-founder and CEO of Instagram)
  
  %figure
    %img{:src=>"/images/fit-120/Dao_Nguyen.jpg"}
    %figcaption Dao Nguyen <br/> (Publisher, Buzzeed)
  
  %figure
    %img{:src=>"/images/fit-120/Aloe_Blacc.jpg"}
    %figcaption Aloe Blacc <br/> (Recording artist)

  %figure
    %img{:src=>"/images/fit-120/Julie_Larson-Green.jpg"}
    %figcaption Julie Larson-Green <br/> (Chief Experience Officer, Microsoft)

  %figure
    %img{:src=>"/images/fit-120/Hadi-Partovi.jpg"}
    %figcaption Hadi Partovi <br/> (Code.org co-founder)

:css
  #video-chat-speakers figure {
    display: inline-block;
    text-align: center;
    width: 208.7px;
    margin-top: 25px;
    margin-bottom: 25px;
  }

  #video-chat-speakers img {
    margin-bottom: 5px;
  }

  #video-chat-speakers figcaption {
    font-size: 13.4px;
  }