#video-chat-speakers
  %figure
    %img{:src=>"/images/fit-120/JR-Hildebrand-headshot.png"}
    %figcaption <a href="https://www.youtube.com/watch?v=DfhAdnosy58">JR Hildebrand</a> <br/> (IndyCar Racecar Driver)
  
  %figure
    %img{:src=>"/images/fit-120/Bill-Gates-headshot.jpg"}
    %figcaption <a href="https://www.youtube.com/user/CodeOrg">Bill Gates</a> <br/> (Microsoft founder)
  
  %figure
    %img{:src=>"/images/fit-120/Usher-headshot.jpg"}
    %figcaption <a href= "http://www.youtube.com/watch?v=xvQSSaCD4yw">Usher</a> <br/> (Recording artist)
  
  %figure
    %img{:src=>"/images/fit-120/Sheryl-Sandberg-headshot.jpg"}
    %figcaption <a href= "https://www.youtube.com/user/CodeOrg">Sheryl Sandberg</a> <br/> (Facebook COO)
  
  %figure
    %img{:src=>"/images/fit-120/Jack-Dorsey-headshot.jpg"}
    %figcaption <a href= "http://www.youtube.com/watch?v=PBGJfpbSWjY">Jack Dorsey</a> <br/> (Twitter & Square co-founder)
  
  %figure
    %img{:src=>"/images/fit-120/Hadi-Partovi-headshot.jpg"}
    %figcaption <a href= "http://www.youtube.com/watch?v=PDnjt6iIBzo">Hadi Partovi</a> <br/> (Code.org co-founder)
  
  %figure
    %img{:src=>"/images/fit-120/Ashton-Kutcher-headshot.jpg"}
    %figcaption <a href= "http://www.youtube.com/watch?v=d1LuhJPJP9s">Ashton Kutcher</a> <br/> (Actor and tech investor)
  
  %figure
    %img{:src=>"/images/fit-120/Clara-Shih-headshot.jpg"}
    %figcaption <a href= "http://www.youtube.com/watch?v=2p7uhb1qulA"> Clara Shih</a> <br/> (Hearsay Social CEO)
  
  %figure
    %img{:src=>"/images/fit-120/Lyndsey-Scott-headshot.jpg"}
    %figcaption <a href= "http://www.youtube.com/watch?v=6s5oxGmbXy4"> Lyndsey Scott</a> <br/> (App developer and model)
  
  %figure
    %img{:src=>"/images/fit-120/Karlie-Kloss-headshot.jpg"}
    %figcaption <a href= "https://www.youtube.com/watch?v=oN9fWEEAnxQ"> Karlie Kloss</a> <br/> (model, Kode with Karlie founder)
  
  %figure
    %img{:src=>"/images/fit-120/Jess-Lee-headshot.jpg"}
    %figcaption <a href= "http://www.youtube.com/watch?v=wXKPrtfaoi8">Jess Lee</a> <br/> (Polyvore CEO)
  
  %figure
    %img{:src=>"/images/fit-120/David-Karp-headshot.png"}
    %figcaption <a href= "http://www.youtube.com/watch?v=1tVei0jOyVQ">David Karp</a> <br/> (Tumblr founder)
  
  %figure
    %img{:src=>"/images/fit-120/Cory-Booker-headshot.jpg"}
    %figcaption <a href= "http://www.youtube.com/watch?v=wD0Heuvv87I">Cory Booker</a> <br/> (US Senator of New Jersey)
    
  %figure
    %img{:src=>"/images/fit-120/Jessica-Alba-headshot.jpg"}
    %figcaption <a href= "http://youtu.be/m4oEbAQbWCE">Jessica Alba</a> <br/> (Actress, activist, entrepreneur)

:css
  #video-chat-speakers figure {
    display: inline-block;
    text-align: center;
    width: 208.7px;
    margin-top: 20px;
  }

  #video-chat-speakers img {
    margin-bottom: 5px;
  }

  #video-chat-speakers figcaption {
    font-size: 13.4px;
  }
