#video-chat-speakers
  %figure
    %img{:src=>"/images/fit-150/Kevin_Systrom.png"}
    .figcaption 
      Kevin Systrom
      %br (co-founder and CEO of Instagram)
      %br 
        %a{href: "https://www.youtube.com/watch?v=2O1cKfH8Vck"}
          Watch the recording
  
  %figure
    %img{:src=>"/images/fit-150/Dao_Nguyen.jpg"}
    .figcaption 
      Dao Nguyen
      %br (Publisher, Buzzfeed)
      %br 
        %a{href: "https://www.youtube.com/watch?v=aa7-OIGb4jo"}
          Watch the recording

  %figure
    %img{:src=>"/images/fit-150/Aloe_Blacc.jpg"}
      .figcaption 
      Aloe Blacc
      %br (Recording artist)
      %br 
        %a{href: "https://www.youtube.com/watch?v=9SJyLRIB6YE"}
          Watch the recording

  %figure
    %img{:src=>"/images/fit-150/Hadi-Partovi.jpg"}
    .figcaption 
      Hadi Partovi
      %br (Code.org co-founder and CEO)
      %br 
        %a{href: "https://www.youtube.com/watch?v=LM9bDFcGbow"}
          Watch the recording

:css
  #video-chat-speakers figure {
    display: inline-block;
    text-align: center;
    width: 270px;
    margin-top: 25px;
    margin-bottom: 25px;
  }

  #video-chat-speakers img {
    margin-bottom: 5px;
  }

  #video-chat-speakers figcaption {
    font-size: 13.4px;
  }
