#whats_next{:style=>'margin:20px'}
  %h2{:style=>'margin-top:0px'}=hoc_s(:whats_next_header)
  %p=hoc_s(:whats_next_description)
  %p=hoc_s(:whats_next_try)
  %p=hoc_s(:whats_next_how)
  %p=hoc_s(:whats_next_promote)