#whats_next
  %h2{:style=>'margin-top:25px'}=hoc_s(:whats_next_header)
  %p=hoc_s(:whats_next_description)
  %ul{:style=>"line-height:28px"}
    %li=hoc_s(:whats_next_how_to)
    %li=hoc_s(:whats_next_promote)