#whats_next
  %h2{:style=>'margin-top:25px'}=hoc_s(:whats_next_header)
  %ul{:style=>"line-height:28px"}
    %li=hoc_s(:whats_next_how_to).gsub('/resources/how-to', resolve_url('/resources/how-to'))
    %li=hoc_s(:whats_next_how_to_promote).gsub('/resources/promote', resolve_url('/resources/promote'))
    %li=hoc_s(:whats_next_try).gsub('https://code.org/learn', resolve_url('https://code.org/learn'))
