@import "color";

#animations-column, #frames-column, #editor-column {
  display: flex;
  flex-direction: column;
}

#animations-column {
  min-width: 150px;
  max-width: 300px;
}

#frames-column {
  min-width: 150px;
  max-width: 300px;
  border: solid thin $light_purple;
  border-right: none;
}

#editor-column {
  border: solid thin $light_purple;
}

.animation-list {
  border: solid thin $light_purple;
  border-right: none;
  background-color: $white;
}

.animation-frame-list {
  background-color: $white;
}
