$root: '/blockly/media/gamelab/'; //TODO: Parameterize for asset pipeline

@import 'font';
@import 'color';
@import "../JsDebuggerUi.scss";

#divGameLab {
  overflow: hidden;
  outline: none;
  -webkit-touch-callout: none;

  position: relative;
  z-index: 1;
  background-color: white;

  // was: @include user-select(none); TODO(bjordan/bbuchanan): fix sprockets?
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

/* Sprited icons. */
.icon21 {
  height: 21px;
  width: 21px;
  background-image: url("#{$root}icons.png");
  background-size: 42px 147px;
  margin-bottom: -3px;
}
.code {
  background-position: -21px 0px;
}
.link {
  background-position: 0px 0px;
}
.run {
  background-position: 0px -21px;
  margin-right: 3px;
}
.stop {
  background-position: -21px -21px;
  margin-right: 3px;
}
.left-btn {
  background-position: -21px -42px;
  margin-right: 3px;
}
.right-btn {
  background-position: -21px -63px;
  margin-right: 3px;
}
.up-btn {
  background-position: 0px -63px;
  margin-right: 3px;
}
.down-btn {
  background-position: 0px -42px;
  margin-right: 3px;
}

#share-cell {
  display: inline-block;
  vertical-align: top;
  &.share-cell-none {
    display: none;
  }
}
