// Section common styles
.section {
  display: block;
  box-sizing: border-box;
  padding-inline: 1.5rem;
  width: 100%;

  .container {
    position: relative;
    max-width: 960px;
    margin: 0 auto;
    z-index: 2;
  }
}

// Section background color
.section-background {
  &-primary {
    background-color: var(--background-neutral-primary);
  }

  &-secondary {
    background-color: var(--background-neutral-secondary);
  }

  &-dark,
  &-patternDark {
    background-color: var(--background-neutral-black-fixed);
  }

  &-brandLightPrimary {
    background-color: var(--background-brand-teal-extra-light);
  }

  &-brandLightSecondary {
    background-color: var(--background-brand-purple-extra-light);
  }

  &-patternPrimary {
    background-color: var(--brand-teal-50);
  }
}

// Section padding
.section-padding {
  &-m {
    padding-block: 2.5rem;
  }

  &-l {
    padding-block: 4rem;
  }
}

// Section divider
.hasDivider {
  padding-bottom: 0;

  .container {
    margin-bottom: 4rem;
  }

  hr {
    max-width: 960px;
  }
}
