@import 'color.scss';

.snapshotContainer {
  min-width: 700px;
  padding-bottom: 3rem;
}

.widgetGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 200px;
  gap: 12px;
  width: 100%;
}
