%link{href: asset_path('css/lessons.css'), rel: 'stylesheet', type: 'text/css'}
%script{src: webpack_asset_path('js/lessons/edit.js'),
        data: {lesson: @lesson_data.to_json, relatedLessons: @related_lessons.to_json, searchOptions: @search_options.to_json}}

= form_for @lesson, {url: script_lesson_path(@lesson.script, @lesson)} do |f|
  #edit-container

= link_to t('crud.show'), script_lesson_path(@lesson.script, @lesson)
