- video_item_index = 9

- video_embed_link = ["X-AWdfSFCHQ", "X994dDnmRmY", "Ok-xpKjKp2g", "OeU5m6vRyCk", "x2mRoFNm22g", "JrXazCEACVo", "2hXG8v8p0KM", "tJQSyzBUAew", "zNxw5gJtHLc"]

- video_caption = [hoc_s(:ai_vid_chatbots_caption), hoc_s(:ai_vid_creativity_caption), hoc_s(:ai_vid_intro_caption), hoc_s(:ai_vid_mlintro_caption), hoc_s(:ai_vid_trainingdata_caption), hoc_s(:ai_vid_neuralnetworks_caption), hoc_s(:ai_vid_computervision_caption), hoc_s(:ai_vid_ethics1_caption), hoc_s(:ai_vid_ethics2_caption)]

.carousel-wrapper#how_ai_works_video_series
  .carousel.videos
    .slides
      - video_item_index.times do |index|
        .slide
          .slide-content
            %figure.video-responsive.video-wrapper
              %div.video-container
                %iframe{allowfullscreen: "", frameborder: "0", src: "https://www.youtube-nocookie.com/embed/#{video_embed_link[index]}"}
              %figcaption
                = video_caption[index]

  = view :carousel_pagination, carousel_id: "how_ai_works_video_series-pagination", carousel_index: "1"
