---
title: "Volunteer Guide"
theme: responsive
---

# Volunteer Opportunities

Thank you for your interest in volunteering to inspire students about computer science! Below are the current volunteer opportunities:

- **[Volunteer in a Classroom during the Hour of Code](#hocvolunteer)**
	- Although most popular during Computer Science Education week in December, this is a year round opportunity
- **[Volunteer at TEALS](#teals)**

## <a name="hocvolunteer"></a>Sign up to volunteer
Anyone passionate about computer science education and careers in tech can be a volunteer. We want volunteers of all ages, backgrounds and experience levels who have a passion for increasing diversity in tech. The Hour of Code has a large variety of tutorials for all ages and skill levels so you don’t need to be an expert to volunteer!

Volunteers are most needed during the Hour of Code, but if you're also interested in a year-round commitment teachers are constantly looking for professionals and students alike to inspire their students. Sign up to volunteer at [code.org/volunteer](/volunteer).

The more information you provide, the more likely a teacher will contact you. It's also helpful if you:

* Add your company and use your company email. **Your email address will never be shared**.
* Select the checkbox to "I’m interested in volunteering year-round" if you want to volunteer throughout the year, outside of the Hour of Code. If you do not select this checkbox, you will only be displayed on the map during September-December for the Hour of Code.
* All professionals are welcome to volunteer! We want students to learn about all career paths in tech. Please provide a short description at the bottom of the form about your connection to computer science and careers in tech.

## Why volunteer?
Check out some testimony from past volunteers:

* “The best part of my experience was that the entire class were women and people of color. It bodes well for the future of our industry to have a chance to reach and excite these kids.”
* “Especially enjoyed getting to encourage young girls in technology. Felt like I was helping the next generation in my local area.”
* “I LOVED seeing how excited the kids were. One amazing thing was that the teachers noticed that some of the students who didn’t do as well academically were excelling at thinking like a developer and helping others are them - giving them a place to feel confident.”

## How you get selected:
* Teachers will be searching for volunteers on our [volunteer map](/volunteer/local) 
* Teachers will be reviewing your profiles on the map, so try to make your profile as complete as possible to increase the chance that a teacher will select you.
* A teacher will contact you through this form (your email address will never be shared with the teacher). 
	* If you are receiving too many requests from teachers, you can always update your preferences by clicking the link to edit your information or unsubscribe, provided at the bottom of any email from a teacher. 

## How to prepare: 
Try out tutorials before heading to the classroom by going to https://code.org/learn
Prepare an intro:
Get the students excited! Pick out a video to show to help focus the class and get them excited to do an Hour of Code.

* Watch this year's Volunteer Training [webinar](https://www.youtube.com/watch?v=2DcZePOIxOs) and [slide deck](https://docs.google.com/presentation/d/1-SRpceNbw3c-BtGYXKC3tTw3JSJ-5OZg6Ay4XFh7h50/edit?usp=sharing).
* Check out the [Hour of Code Volunteer Toolkit](/files/hoc-volunteer-toolkit.pdf) which includes all the preparation and marketing material you need to be ready for your volunteer experience!
* If you're going to be doing a tutorial during your session, spend 30 minutes trying at least one [Hour of Code tutorial](/learn).
* If you're visiting a school, complete any background checks or required paperwork.
* [Review these tips](https://code.org/files/CSTT_Volunteers.pdf) about how to interact with students.
* Prepare an intro:
	* Share an inspirational story: How you got involved in a career in tech or why tech is important to you.
	* Get the students excited! Pick out a video to show to help focus the class and get them excited to do an Hour of Code.
* Join the conversation on FB, Twitter, Instagram, Tumblr with #HourOfCode.
* Connect with the teacher to discuss what you plan to speak about during your session.
* If you are a virtual volunteer, test A/V and screen sharing capabilities beforehand.


## Volunteering during the Hour of Code FAQ

### **I haven't been contacted by a teacher yet. How can I still volunteer?**
Try searching for local schools and call the principal/teacher/front office and ask how you can help.

### **How long do classroom visits last for?**
An in-person classroom visit usually lasts 60-90 minutes while a virtual classroom visit usually lasts 20-30 minutes

### **What age group is the Hour of Code tutorial appropriate for?**
Code.org designs the Hour of Code tutorials as games and puzzles to engage students of all grade levels (K-12), boys and girls, from all backgrounds. Everyone, even adults can have fun playing our tutorials!


## <a name="teals"></a>Volunteer at TEALS

If you are a software engineer who is available for a bigger commitment, consider volunteering with TEALS. [TEALS](https://www.tealsk12.org/) (Technology Education and Literacy in Schools) brings together hundreds of software engineers and teachers to help build sustainable CS classes across the country. You can make an impact in local schools by helping teachers teach Intro and AP CS classes 2 days a week.

[<button>Learn more</button>](https://www.tealsk12.org/)

<%= view :three_circles, circles: [
{img: '/images/teals/fit-150/atul-hatalkar.jpg', text: '"Yes, teaching in my living room helps young people. But TEALS has enabled me to make an even larger impact on the kids in my town." - Atul Hatalkar, Principal Engineer'},
{img: '/images/teals/fit-150/basis-chandler.jpg', text: '"Every day I feel more blessed to be part of TEALS, to give something fruitful back to the community. Every day I teach kids I feel more grateful for my life." - Silvia Doomra, Program Manager'},
{img: '/images/teals/fit-150/leonardo-souza.jpg', text: '"It’s not just me teaching computer science; I’m also helping a teacher learn to teach computer science so they can be self-sufficient." - Leonardo Souza, Senior Software Engineer'}] %>
