.outputContainer {
  display: flex;
  grid-area: output;
  width: 100%;
  overflow: hidden;

  &.vertical {
    flex-direction: column;
  }

  &.horizontal {
    flex-direction: row;
  }
}

.growAndShrink {
  flex: 1 1 auto;
}
