@use '@cdo/apps/mixins.scss' as mixins;
@use '@cdo/apps/lab2/views/components/layout/variables.scss' as variables;

.workspace {
  color: var(--text-neutral-primary);
  overflow: hidden;
}

.workspaceContainer {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.workspaceToggleButtonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--background-neutral-primary);
  border-inline-end: variables.$default-border;

  &:not(.withFileBrowser) {
    width: 42px;
  }
}

.workspaceToggleButtonContainer.withFileBrowser {
  background-color: var(--background-neutral-secondary);
  justify-content: space-between;
  padding-inline: 0.75rem 0.25rem;
}

.fileBrowserHeaderText {
  color: var(--text-neutral-tertiary);
  font-weight: 500;
}

.fileBrowserHeaderButtons {
  display: flex;
  flex-direction: row;
  gap: 0.125rem;

  // Flip icons for RTL languages
  :global(html[dir='rtl']) & i {
    transform: scaleX(-1);
  }
}

.workplaceEditorWrapper {
  overflow: hidden;
  flex: 1;
  grid-column: span 2;

  @include mixins.focus-styles($outline-offset: -2px);
}

.workplaceEditorWrapper.withFileBrowser {
  grid-column: auto;
}

.workspaceWorkarea {
  display: grid;
  grid-template-columns: 34px auto;
  grid-auto-rows: 40px 1fr auto;
  overflow: hidden;
  flex: 1;
}

.workspaceWorkarea.withFileBrowser {
  grid-template-columns: 164px auto;
}

.workspaceWarningArea {
  grid-column: span 2;
}

.workspaceHeader {
  border-bottom: 1px solid var(--borders-neutral-primary);
  height: 2rem;
  min-height: 2rem;
}

.centerHeaderContent {
  @include mixins.center-header-content(true);
}

.lockedFilesBanner {
  margin-bottom: 4px;
}

.rightHeaderButtons {
  display: flex;
  justify-content: flex-end;
  gap: 4px;
}

.buttonSkip {
  flex-shrink: 1;
  white-space: nowrap;
  overflow: hidden;

  span {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

// Overrides styles for the Alert component to
// make it fit better in the Workspace area
.previousVersionBanner {
  border-bottom: variables.$default-border;
  border-radius: 0;
  padding-block: 0;
  height: 39px;
}
