---
title: Haqqında
theme: responsive
video_player: true
---
# Bizim Haqqımızda

<div class="col-60">
  Code.org® məktəblərdə informatikaya müraciətin genişləndirilməsinə və qadın və azlıqların qoşulmasını artırmağa həsr edilmiş qeyri-kommersiya təşkilatıdır. İstəyimiz, hər bir məktəbdəki hər bir şagirdin biologiya, kimya və ya cəbr öyrəndiyi kimi informatikanı öyrənmə imkanına da sahib olmasıdır. Orta məktəbdə informatikanın tədrisi üçün ən geniş istifadə olunan tədris proqramını təqdim edirik və həmçinin hər il dünyadakı bütün şagirdlərin 10%-ni əhatə edən <a href="hourofcode.com">Kod Saatı</a> kampaniyasını təşkil edirik. Code.org Amazon, Facebook, Google, Infosys Foundation, Microsoft və <a href="/about/donors">digərləri</a> daxil olmaqla bir çox səxavətli ianəçilər tərəfindən dəstəklənir.
</div>

[col-40]

<div style="background-color:#7665a0;height:190px;padding:25px;display:flex;justify-content:center;flex-direction:column">
  
  <font size="4" color="#FFFFFF"><b>Code.org kursları dünyanın hər yerində on milyonlarla şagird və bir milyon müəllim tərəfindən istifadə olunur.</b></font>
 
</div>

[/col-40]

<div style="clear:both"></div>

## Tarixçə

Code.org 2013-cü ildə Hadi və Ali Partovi əkiz qardaşları tərəfindən [kompüter elmlərini tanıdan bir video](https://www.youtube.com/watch?v=nKIu9yen5nc) ilə başladıldı. Bu video bir günlük YouTube-da 1. yerdə oldu və 15,000 məktəb kömək üçün bizə müraciət etdi. O vaxtdan bəri, dünya miqyaslı bir hərəkəti dəstəkləyən tam bir təşkilat qurmaq üçün könüllülər heyətindən genişləndik. Keyfiyyətli kompüter elmləri təhilinin uşaqların sadəcə bir qismi üçün deyil hamısı üçün mümkün olduğuna inanırıq. <br /> <iframe width="560" height="315" src="https://www.youtube.com/embed/nKIu9yen5nc" frameborder="0" allowfullscreen mark="crwd-mark"></iframe> 

## Biz Nə Edirik

Təhsil spektorunda işləyirik: [öz kurslarımızı](https://studio.code.org/courses) dizayn etmək və ya başqaları ilə əməkdaşlıq etmək, müəllimlərə təlim keçmək, böyük rayon məktəbləri ilə əməkdaşlıq etmək, hökümət siyasətlərinin dəyişdirilməsinə kömək etmək, tərəfdaşlıq yolu ilə beynəlxalq səviyyədə genişləndirir və stereotipləri qırmaq üçün marketinqlik edir. Our work builds on decades of effort, by countless organizations and individuals who have helped establish, fund, and spread computer science education. We're grateful for the tireless work of the broader computer science education community, and we thank all the partners and individuals who have expanded our impact over the years.

## Code.org's International Reach

Over 40% of our website traffic comes from outside of the United States and that number continues to climb. In order to expand global access to computer science, our team works closely with [more than 100 international partners](/about/partners), helping them to promote the Hour of Code, advocate for policy change, and train teachers. We are making computer science part of the international education discourse by partnering with ministries of education from around the world and working with international organizations like the Organisation for Economic Co-operation and Development and the United Nations Educational, Scientific and Cultural Organization.

<img alt="Code.org International Partners" src="/images/international/international_partners.jpg" width="100%" />

## Translation

Want to have a direct impact on students in your country? Help us make Code.org content available in their native language! If you volunteer to help translate our tutorials and lessons, you'll be joining a community of more than 7,000 translators who help bring computer science education to students around the world. Take a look at our [translation guide](/translate) for more information.

## Our commitment to free curriculum and open source technology

All curriculum resources and tutorials we create will forever be free to use and openly licensed under a [Creative Commons](http://creativecommons.org/licenses/by-nc-sa/4.0/) license, allowing others to make derivative education resources for non-commercial purposes. If you are interested in licensing our materials for commercial purposes, [contact us](/contact). Our courses are translated for worldwide use or by speakers of different languages. Our technology is developed as an [open source project](https://github.com/code-dot-org/code-dot-org).

<img alt="Students with a laptop" src="/images/international/group_computer.jpg" width="100%" />

## Bizi izləyin

[Sign up to receive status updates](/about/hear-from-us) about progress in the K-12 computer science movement and about the work of Code.org. Or follow Code.org on social media:

<%= view :social_media, facebook: "Code.org", twitter: "codeorg", instagram: "codeorg" %>