---
title: Go Beyond One Hour
theme: responsive
---

%link{href: "/css/learn_tabs.css", rel: "stylesheet"}

%h1{:style=>"margin-bottom: 0px;"}
  The Hour of Code is coming - December 8-14!
%h2{:style=>"margin-top: 10px;"}
  Sign up to participate during CS Education Week
  %a{:href=>'http://www.hourofcode.com'}
    %button
      Learn More

= view :learn_carousels, variation:'beyond'
