---
title: Go Beyond One Hour
theme: responsive
---

%link{href: "/css/learn_tabs.css", rel: "stylesheet"}

- if request.locale == 'en-US'
  %h1{:style=>"margin-bottom: 0px;"}
    = I18n.t(:code_hoc_coming)
  %h2{:style=>"margin-top: 10px;"}
    = I18n.t(:code_sign_up)
    %a{:href=>'http://www.hourofcode.com'}
      %button
        = I18n.t(:learn_more)

= view :learn_carousels, variation:'beyond'
