---
title: Learn
theme: responsive
social:
  "og:description": "Anyone can learn the basic concepts of Computer Science. Choose an intro activity to start learning."
  "og:image": "http://code.org/images/fit-520/codehoc3.jpg"
  "og:image:width": 520
  "og:image:height": 391
  "og:video": ""
  "og:video:width": ""
  "og:video:height": ""
  "og:video:type": ""
---

%link{href: "/css/learn_tabs.css", rel: "stylesheet"}

%h1{:style=>"margin-bottom: 0px;"}
  The Hour of Code is coming - December 8-14!
%h2{:style=>"margin-top: 10px;"}
  Sign up to participate during CS Education Week
  %a{:href=>'http://www.hourofcode.com'}
    %button
      Learn More

= view :learn_carousels, variation:'learn'
