---
title: Bring computer science to your classroom with Code.org and Amazon Future Engineer
theme: responsive
---

# Bring computer science to your classroom with Code.org and Amazon Future Engineer

<img src="/images/marketing/afe-2020.jpg" style="width:45%; float:right; margin-left:25px; margin-bottom:10px">

Computer science is a foundational subject for a 21st century education. Students who study CS [perform better in other subjects, excel at problem solving, and are 17% more likely to attend college](https://medium.com/@codeorg/cs-helps-students-outperform-in-school-college-and-workplace-66dd64a69536). By offering CS to your students, you’re helping create new opportunities for them!

Code.org has partnered with Amazon Future Engineer to offer middle and high school teachers at underserved schools a growing number of resources and benefits at no cost!

**The Amazon Future Engineer program is offered to schools with:**
* **Title 1 status OR**
* **Enrollment of more than 40% underrepresented minority students OR**
* **Enrollment of more than 40% students who qualify for free or reduced lunch**

Scroll down to learn more about what Code.org and Amazon Future Engineer have to offer and the benefits of participating, or if you’re ready, fill out the short form below to see if your school is eligible!

<a name="check-eligibility-form"></a>

<%= view :amazon_future_engineer_eligibility %>

## The Code.org program
Code.org provides a complete CS program combining [open source K-12 curriculum](https://studio.code.org/courses?view=teacher) with [professional learning](https://code.org/educate/professional-learning/middle-high).

### Engaging curriculum designed to support beginners and challenge students of all levels
Our team designed our courses to support students and teachers new to the discipline, and to engage and challenge students of all levels. Every lesson plan and activity is tested by a diverse mix of classrooms around the country to make sure it’s appropriate and engaging for all students. Both courses we offer for middle and high school students are mapped to the newly revised 2017 CSTA standards.

**Our curriculum and platform are free for anyone, anywhere, to use - always.**

[col-50]
### [CS Discoveries (Grades 6-10)](/educate/csd)

<div style="width: 96%;">
<%=view :display_video_thumbnail, id: "intro_csd", video_code: "uQim0hBHco0", play_button: 'center', letterbox: "false" %>

* <a href="https://code.org/educate/csd">An introductory computer science course</a> that empowers students to create authentic artifacts and engage with computer science as a medium for creativity, communication, problem solving, and fun
* Can be taught as a 1 or 2 semester course (or 50+ course hours)

</div>

[/col-50]

[col-50]
### [CS Principles (Grades 9-12)](/educate/csp)

<div style="width: 96%;">
<%=view :display_video_thumbnail, id: "intro_csp", video_code: "DMr1iFYacGQ", play_button: 'center', letterbox: "false" %>

* <a href="https://code.org/educate/csp">A higher level introductory course</a> that introduces the foundational concepts of computer science while challenging students to explore how computing and technology can impact the world
* Can be taught as an AP or non-AP class
* Requires a full year to teach (or 100+ course hours)

</div>

[/col-50]

<div style="clear: both;"></div>

<br>

<div class="breakoutquote">
    <div class="col-25">
        <p><img src="/images/fit-150/AR2019/2019-ar-joseph-ramos.jpg" style="max-width: 100%"></p>
    </div>
    <div class="col-75">
        <p>“Having Code.org in our school has been a priceless commodity! Being a Title I school, a lot of our students don't have access to personal computers or laptops, so they can end up falling behind in terms of technology. We do our best to keep them motivated and show them the potential that learning how to code has on their future.”</p>
        <p><em>-Joseph Ramos, Texas</em></p>
    </div>
    <div class="clearboth"></div>
</div>

<br>

### Extensive teacher resources
You don’t have to be a software developer to teach CS. Our program is uniquely designed to support teachers new to CS while offering the flexibility to evolve lessons to fit student needs.

[col-33]

[<center><img src="/images/csp/csp-crop-cover-20-21.png" style="width:300px">](https://docs.google.com/document/d/1KXRZhIWSgKHg458_Hfgii7Fuq8AarmYOOfJI1V47DWU/preview)</center>

<div style="margin-left: 15px; margin-top: 5px;">Our curriculum team has created guides for each course, designed to help support new and veteran teachers.</div>

[/col-33]

[col-33]

[<center><img src="/images/animated-examples/lessonplans.png" style="width:300px">](https://curriculum.code.org/csp-20)</center>

<div style="margin-left: 15px; margin-top: 5px;">Teachers have access to daily lesson plans for each course. Along with integrated discussion goals, teaching tips, and assessment opportunities, our lesson plans come with detailed pacing instructions, activity guides, exemplar projects, sample marked rubrics, and more!</div>

[/col-33]

[col-33]

[<center><img src="/images/teacher_dashboard.png" style="width:300px">](https://studio.code.org/home)</center>

<div style="margin-left: 15px; margin-top: 31px;">Our Teacher Dashboard makes it easy for teachers to create and manage classroom sections, check student progress, administer assessments, and integrate with Google or Clever classroom. (Sign in required.)</div>

[/col-33]

<p style="clear:both">&nbsp;</p>

### Professional development
The Code.org Professional Learning Program is hosted by our Regional Partners across the country, and is designed to prepare teachers before and during their first year teaching CS Discoveries or CS Principles. Applications are open now for middle and high school teachers - [join us](https://code.org/educate/professional-learning/middle-high)!

<img src="/images/teacherconatlbrighter.png" style="float:right; width:35%; margin-left:25px">

**More than 100,000 teachers have participated** in the Code.org Professional Learning program, and the majority of attendees rank it the best professional development ever! Over 90% of attendees would recommend our program to another teacher.

**No experience needed!** Whether you are new to teaching computer science (CS) or have experience teaching other CS courses, the Code.org Professional Learning Program offers year round support. We’ve designed this program to promote growth by providing space for you to become comfortable with curricular materials, CS content, and pedagogy.

**Over a third of schools use Code.org's curriculum**, including the largest school districts in the U.S., such as LAUSD, Broward, and Dallas ISD. And, over a quarter of our teachers come from rural schools.

**Every Student Succeeds Act**. The Code.org program meets the six key criteria for professional development outlined in the Every Student Succeeds Act (ESSA). Learn more in our [Program Brochure](https://code.org/files/programs/codeorg-program-brochure.pdf).

To learn more about our Professional Learning Program, [click here](https://code.org/educate/professional-learning/middle-high).

## Additional Amazon Future Engineer benefits
In addition to the Code.org platform and curricula, Amazon Future Engineer provides:
* Paid Computer Science Teachers Association Plus (CSTA+) level membership. Includes access to Amazon expert-led webinars and other exclusive content. Visit [csteachers.org](https://csteachers.org/) for more details.
* Eligibility for Amazon Future Engineer’s $25,000 teacher of the year award. [Details are here](https://blog.aboutamazon.com/community/amazon-announces-teacher-of-the-year-award-recipients).
* Inspiration kit with posters and stickers to help promote computer science to students and parents
* Free membership to Amazon Web Services Educate to access free content and cloud computing credits to help students learn to build in the cloud

<span style="font-size: large">[Click here](#check-eligibility-form) to see if you are eligible.</span>
