---
title: Bring computer science to your classroom with Code.org and Amazon Future Engineer
theme: responsive_full_width
---

%link{href: "/css/generated/design-system-pegasus.css", rel: "stylesheet"}
%link{href: "/css/generated/page/afe.css", rel: "stylesheet"}

%section.top
  .wrapper
    %h1=hoc_s(:afe_page_heading)
    %p
      =hoc_s(:afe_page_top_desc, markdown: :inline, locals: {afe_url: "https://www.amazonfutureengineer.com/"})
    %div.content-wrapper.flex-container.justify-space-between.wrap-reverse
      .text-wrapper.col-60
        %ul.clear-styles
          %li
            %p=hoc_s(:afe_page_top_list_01, markdown: :inline)
          %li
            %p=hoc_s(:afe_page_top_list_02, markdown: :inline)
          %li
            %p=hoc_s(:afe_page_top_list_03, markdown: :inline)
          %li{style: "margin-bottom: 1rem"}
            %p=hoc_s(:afe_page_top_list_04, markdown: :inline)
        %a.link-button{href: "#eligibility"}
          =hoc_s(:call_to_action_get_started)
      %figure.col-36
        %img.rounded-corners{src: "/images/afe-page-logos.png", alt: "", style: "position: relative; width: 100%; margin-bottom: 1rem"}

%section#eligibility.bg-neutral-light
  .wrapper.flex-container.justify-space-between.wrap
    %div.form
      = view :amazon_future_engineer_eligibility
    %div.requirements
      %h3.heading-sm
        =hoc_s(:afe_page_eligibility_heading)
      %p.body-three
        =hoc_s(:afe_page_eligibility_list_01)
      .or-divider
        %p=hoc_s(:module_label_or)
      %p.body-three
        =hoc_s(:afe_page_eligibility_list_02)
      .or-divider
        %p=hoc_s(:module_label_or)
      %p.body-three
        =hoc_s(:afe_page_eligibility_list_03)
      %p.body-three.has-external-link
        =hoc_s(:afe_page_eligibility_disclaimer, markdown: :inline, locals: {nces_url: "https://nces.ed.gov/ccd/schoolsearch/"})


%section
  .wrapper
    %h2=hoc_s(:afe_page_programs_heading)
    = view :amazon_future_engineer_programs
