---
title: Bring computer science to your classroom with Code.org and Amazon Future Engineer
theme: responsive
---

<link rel="stylesheet" type="text/css" href="/css/afe.css"></link>

# Bring computer science to your classroom with Code.org and Amazon Future Engineer

<section class="flex-container">
  <div class="col-60">
    <p class="no-margin-bottom body-one">Code.org has partnered with <a href="https://www.amazonfutureengineer.com/" target="_blank">Amazon Future Engineer</a> to offer teachers at underserved schools a growing number of resources and benefits at no cost!</p>
  </div>
  <figure class="col-33 flex-container">
    <a href="https://www.amazonfutureengineer.com/" target="_blank">
      <img class="afe-logo" src="/images/marketing/afe-logo.svg" alt="Amazon Future Engineer logo"/>
    </a>
    <img class="cdo-logo" src="/images/logo.svg" alt="Code.org logo">
  </figure>
  <div class="clearfix"></div>
</section>

<hr />

<section class="flex-container">
  <div class="col-50">
    <h2>Amazon Future Engineer benefits</h2>
    <p class="body-one">Amazon Future Engineer provides Code.org teachers at eligible schools the following benefits:</p>
    <ul>
      <li>Paid Computer Science Teachers Association Plus (CSTA+) level membership. Includes access to expert-led webinars and other exclusive content. Visit <a href="https://csteachers.org/" target="_blank">csteachers.org</a> for more details.</li>
      <li>Eligibility for Amazon Future Engineer's $30,000 teacher of the year award. <a href="https://www.amazonfutureengineer.com/teacher-of-the-year" target="_blank">See details here</a>.</li>
      <li>Amazon Future Engineer Inspiration kit with posters and stickers to help promote computer science to students.</li>
      <li>First access and opportunities to pilot cutting edge career and computer science exploration offerings from AFE. <a href="https://www.amazonfutureengineer.com/real-world-exploration" target="_blank">See details here</a>.</li></li>
    </ul>
  </div>
  <figure class="col-50">
    <img src="/images/marketing/AFE-El-Paso-4.jpg" alt="Teacher wearing an AFE t-shirt helping student at a computer"/>
  </figure>
  <div class="clearfix"></div>
</section>

<hr />

<section class="flex-container">
  <div class="col-75">
    <%= view :amazon_future_engineer_eligibility %>
  </div>
  <div class="col-25">
    <h3>School eligibility requirements:</h3>
    <ul>
      <li>Title 1 and/or > 40% Free/Reduced Lunch (FRL) student enrollment OR</li>
      <li>>30% Black/Latino/Native American (BLNA) student enrollment OR</li>
      <li>Rural school</li>
    </ul>
    <p>Eligibility requirements verified using <a href="https://nces.ed.gov/ccd/schoolsearch/" target"_blank">NCES data</a></p>
  </div>
  <div class="clearfix"></div>
</section>

<hr />

<section class="afe-programs">
  <h2>More Amazon Future Engineer programs & opportunites</h2>
  <p class="body-one">All schools can take advantage of these AFE programs and opportunities that bring the real world into the classroom in fun and meaningful ways.</p>
  <ul class="flex-container">
    <li class="col-33">
      <img src="/images/marketing/afe-alexa-space.png" alt="An astronaut in a space shuttle looking at a screen interface" />
      <h4>Alexa for Astronauts</h4>
      <p>Learn how to program Alexa with skills that could help astronauts solve problems in space and communities at home.</p>
      <a href="https://www.amazonfutureengineer.com/alexa-skill-building" target="_blank"><button>Learn more</button></a>
    </li>
    <li class="col-33">
      <img src="/images/marketing/afe-class-chats.png" alt="A chat bubble graphic that reads Class Chats" />
      <h4>Class Chats</h4>
      <p>Have an Amazon professional share their personal career story, insights into work in tech, and answer your students' career questions.</p>
      <a href="https://www.amazonfutureengineer.com/classchats" target="_blank"><button>Learn more</button></a>
    </li>
    <li class="col-33 no-margin-bottom">
      <img src="/images/marketing/afe-voice-is-power.png" alt="Your Voice is Power graphic with a photo of the singer Pharrell" />
      <h4>Your Voice is Power</h4>
      <p>Students will code and compete to learn how entrepreneurship, coding, and music can intersect for positive change.</p>
      <a href="https://www.amazonfutureengineer.com/YourVoiceIsPower" target="_blank"><button>Learn more</button></a>
    </li>
  </ul>
  <ul class="flex-container">
    <li class="col-33">
      <img src="/images/marketing/afe-scholarships.png" alt="A high school student working on a computer" />
      <h4>Scholarship and Internships</h4>
      <p>Supporting students after high school is imperative to bringing the Amazon Future Engineer mission full circle for all of our scholars.</p>
      <a href="https://www.amazonfutureengineer.com/scholarships" target="_blank"><button>Learn more</button></a>
    </li>
    <li class="col-33">
      <img src="/images/marketing/afe-robotics-tour.png" alt="A package moving down conveyor belt in an Amazon factory" />
      <h4>Robotics Fulfillment Center Tour</h4>
      <p>Discover how computer science, state-of-the-art engineering, and incredible people deliver customer orders at Amazon.</p>
      <a href="https://www.amazonfutureengineer.com/fctours" target="_blank"><button>Learn more</button></a>
    </li>
    <li class="col-33 no-margin-bottom">
      <img src="/images/marketing/afe-robotics.png" alt="An Amazon fulfillment center robot" />
      <h4>Cyber Robotics Challenge</h4>
      <p>A 3-hour coding adventure where students learn computer science by programming a Hercules fulfillment center robot.</p>
      <a href="https://www.amazonfutureengineer.com/amazon-cyber-robotics-challenge" target="_blank"><button>Learn more</button></a>
    </li>
  </ul>
  <div class="clearfix"></div>
</section>
