---
title: Code.org and Amazon Future Engineer in India
theme: responsive
---

# Code.org and Amazon Future Engineer are working together to reach more students in India

<img src="/images/marketing/HoC-2015-ACE-HS--42.jpg" style="width:45%; float:right; margin-left:25px; margin-bottom:10px">

Computer science is a foundational subject for a 21st century education. Students who study CS [perform better in other subjects, excel at problem solving, and are 17% more likely to attend college](https://medium.com/@codeorg/cs-helps-students-outperform-in-school-college-and-workplace-66dd64a69536). By offering CS to more students, we’re helping create new opportunities for them.

Code.org has partnered with Amazon Future Engineer in India to reach students from underserved and underrepresented communities. Amazon Future Engineer is a comprehensive childhood-to-career community program providing students early exposure and access to CS education through online and blended learning formats. 

Scroll down to learn more about what Code.org and Amazon Future Engineer are doing together!

## A deep partner network

Code.org and Amazon have partnered with multiple education-focused organizations to provide high-quality CS education to students in government schools across the states of Karnataka, Delhi, Haryana, Maharashtra, Tamil Nadu, Odisha, and Telangana. The initiative will primarily focus on students in grades 6-12, and will also train teachers and educators to teach computer science in a more engaging way. Here are the specific partners that will be using Code.org materials as part of their programs:

* [American India Foundation](https://aif.org/)
* [Educational Initiatives](https://www.ei-india.com/)
* [Learning Links Foundation](https://www.learninglinksindia.org/)
* [Leadership for Equity](https://www.leadershipforequity.org/) and [Pi Jam Foundation](https://www.thepijam.org/)
* [Peepul](https://www.peepulindia.org/)

## The Code.org program
Code.org provides a complete CS program designed around our [open source curriculum](https://studio.code.org/catalog).

### Engaging curriculum designed to support beginners and challenge students of all levels
Our team designed our courses to support students and teachers new to the discipline, and to engage and challenge students of all levels. Every lesson plan and activity is tested by classrooms of teachers and students to make sure it’s appropriate and engaging for all students.

**Our curriculum and platform are free for anyone, anywhere, to use - always.**

### Content available in Indian languages

We are working to make more of our content available in local Indian languages. Thanks to the support of Amazon, we've already been able to translate resources into Hindi, Marathi, Tamil, and Telugu. Our team will continue to make our resources available in other languages including Bengali, Kannada, and Urdu. 

### Hour of Code tutorials

[col-50]
### [Dance Party](/dance)

<div style="width: 96%;">
    <a href="/dance"><img alt="Dance Party tutorial thumbnail" src="/images/fill-480x360/tutorials/hoc2019/dance-2019.jpg" style="width:96%"></a>
    <p style="margin-top:10px">Code a Dance Party to share with your friends. Featuring Katy Perry, Shawn Mendes, Panic! At The Disco, Lil Nas X, Jonas Brothers, Nicki Minaj, and 34 more!</p>
    <ul>
        <li><a href="https://studio.code.org/s/dance-2019/reset/lang/hi">Try it in Hindi</a></li>
        <li><a href="https://studio.code.org/s/dance/reset/lang/mr">Try it in Marathi</a></li>
        <li><a href="https://studio.code.org/s/dance/reset/lang/ta">Try it in Tamil</a></li>
        <li><a href="https://studio.code.org/s/dance/reset/lang/te">Try it in Telugu</a></li>
    </ul>
</div>

[/col-50]

[col-50]
### [AI for Oceans](/oceans)

<div style="width: 96%;">
    <a href="/oceans"><img alt="AI for Oceans tutorial thumbnail" src="/images/fill-480x360/tutorials/hoc2019/oceans.jpg" style="width:96%"></a>
    <p style="margin-top:10px">Learn about artificial intelligence (AI), machine learning, training data, and bias, while exploring ethical issues and how AI can be used to address world problems.</p>
    <ul>
        <li><a href="https://studio.code.org/s/oceans/reset/lang/hi">Try it in Hindi</a></li>
        <li><a href="https://studio.code.org/s/oceans/reset/lang/mr">Try it in Marathi</a></li>
        <li><a href="https://studio.code.org/s/oceans/reset/lang/ta">Try it in Tamil</a></li>
        <li><a href="https://studio.code.org/s/oceans/reset/lang/te">Try it in Telugu</a></li>
    </ul>
</div>

[/col-50]

<div style="clear: both;"></div>

### How It Works video series

Watch our three [educational video series](/videos) to learn how AI, computers, and the internet work. These videos all have subtitles in Hindi, Marathi, Tamil, and Telugu. 

[col-33]

[<center><img alt="How AI Works thumbnail" src="//i.ytimg.com/vi/OeU5m6vRyCk/mqdefault.jpg" style="height:168.75px;width:300px">](https://www.youtube.com/watch?v=Ok-xpKjKp2g&list=PLzdnOPI1iJNeehd1RXhnVMBFi1WhWLx_Y)</center>

[/col-33]

[col-33]

[<center><img alt="How Computers Work thumbnail" src="//i.ytimg.com/vi/mCq8-xTH7jA/0.jpg" style="height:168.75px;width:300px;object-fit:cover">](https://www.youtube.com/watch?v=OAx_6-wdslM&list=PLzdnOPI1iJNcsRwJhvksEo1tJqjIqWbN-)</center>

[/col-33]

[col-33]

[<center><img alt="How the Internet Works thumbnail" src="//i.ytimg.com/vi/Dxcc6ycZ73M/0.jpg" style="height:168.75px;width:300px;object-fit:cover">](https://www.youtube.com/watch?v=Dxcc6ycZ73M&list=PLzdnOPI1iJNfMRZm5DDxco3UdsFegvuB7)</center>

[/col-33]

<div style="clear: both;"></div>

### Extensive teacher resources
You don’t have to be a software developer to teach CS. Our program is uniquely designed to support teachers new to CS while offering the flexibility to evolve lessons to fit student needs.

[col-33]

[<center><img src="/images/csf/csf-crop-cover-21-22.png" style="width:300px">](https://docs.google.com/document/d/19BIaGVliOZCciSDmuezFFUhhCjhrB2oXpVLn0cJAibc/preview)</center>

<div style="margin-left: 15px; margin-top: 5px;">Our curriculum team has created guides for each course, designed to help support new and veteran teachers.</div>

[/col-33]

[col-33]

[<center><img src="/images/animated-examples/lessonplans.png" style="width:300px">](/educate/curriculum/csf)</center>

<div style="margin-left: 15px; margin-top: 5px;">Teachers have access to daily lesson plans for each course. Along with integrated discussion goals, teaching tips, and assessment opportunities, our lesson plans come with detailed pacing instructions, activity guides, exemplar projects, sample marked rubrics, and more!</div>

[/col-33]

[col-33]

[<center><img src="/images/teacher_dashboard.png" style="width:300px">](https://studio.code.org/home)</center>

<div style="margin-left: 15px; margin-top: 31px;">Our Teacher Dashboard makes it easy for teachers to create and manage classroom sections, check student progress, administer assessments, and integrate with Google or Clever classroom. (Sign in required.)</div>

[/col-33]

<p style="clear:both">&nbsp;</p>