---
title: Bring computer science to your classroom with Code.org and Amazon Future Engineer
theme: responsive
---

<link rel="stylesheet" type="text/css" href="/css/afe.css"></link>

# Bring computer science to your classroom with Code.org and Amazon Future Engineer

<section class="flex-container">
  <div class="col-66">
    <h3 class="no-margin-bottom">Code.org has partnered with <a href="https://www.amazonfutureengineer.com/" target="_blank">Amazon Future Engineer</a> to offer middle and high school teachers at underserved schools a growing number of resources and benefits at no cost!</h3>
  </div>
  <figure class="col-33" style="text-align: center">
    <a href="https://www.amazonfutureengineer.com/" target="_blank"><img src="/images/marketing/afe-logo.svg" alt="Amazon Future Engineer logo"/></a>
  </figure>
  <div class="clearfix"></div>
</section>

<hr />

<section class="flex-container">
  <div class="col-50">
    <h2>Amazon Future Engineer benefits</h2>
    <h3>In addition to the Code.org platform and curricula, Amazon Future Engineer provides:</h3>
    <ul>
      <li>Paid Computer Science Teachers Association Plus (CSTA+) level membership. Includes access to expert-led webinars and other exclusive content. Visit <a href="https://csteachers.org/" target="_blank">csteachers.org</a> for more details.</li>
      <li>Eligibility for Amazon Future Engineer's $30,000 teacher of the year award. <a href="https://blog.aboutamazon.com/community/amazon-announces-teacher-of-the-year-award-recipients" target="_blank">See details here</a>.</li>
      <li>Amazon Future Engineer Inspiration kit with posters and stickers to help promote computer science to students.</li>
      <li>First access and opportunities to pilot cutting edge career and computer science exploration offerings from AFE.</li>
    </ul>
  </div>
  <figure class="col-50">
    <img src="/images/marketing/AFE-El-Paso-4.jpg" alt="Teacher wearing an AFE t-shirt helping student at a computer"/>
  </figure>
  <div class="clearfix"></div>
</section>

<hr />

<section class="flex-container">
  <div class="col-50">
    <%= view :amazon_future_engineer_eligibility %>
  </div>
  <div class="col-40">
    <h3 style="width: 92%;">The Amazon Future Engineer program is offered to schools with:</h3>
    <ul>
      <li>Title 1 and/or > 40% Free/Reduced Lunch (FRL) student enrollment, verified by federal or other reputable data OR</li>
      <li>> 30% Black/Latino/Native American (BLNA) student enrollment, verified by federal or other reputable data OR</li>
      <li>Rural school, verified by federal or other reputable data</li>
    </ul>
  </div>
  <div class="clearfix"></div>
</section>
