---
title: Amazon Future Engineer Successful Submit
theme: responsive_full_width
---

%link{href: "/css/generated/design-system-pegasus.css", rel: "stylesheet"}

%section
  .wrapper
    %h1=hoc_s(:afe_page_success_heading)
    %p=hoc_s(:afe_page_success_desc)
    %a.link-button{href: "/teach"}
      =hoc_s(:call_to_action_view_teach_with_cdo)

= view :section_divider_line

%section
  .wrapper
    = view :resources_for_educators
