---
title: Bring computer science to your classroom with Code.org and Amazon Future Engineer
theme: responsive
---

<link rel="stylesheet" type="text/css" href="/css/afe.css"></link>

# Bring computer science to your classroom with Code.org and Amazon Future Engineer

<section>
  <div class="col-66">
    <h3>Code.org has partnered with Amazon Future Engineer to offer middle and high school teachers at underserved schools a growing number of resources and benefits at no cost!</h3>
  </div>
  <div class="col-33" style="text-align: center">
    <img src="/images/marketing/afe-logo.svg" alt="Amazon Future Engineer logo"/>
  </div>
  <div class="clearfix"></div>
</section>



<img src="/images/fit-500/marketing/AFE-El-Paso-4.jpg" alt="Teacher wearing an AFE t-shirt helping student at a computer"/>
<div class="clearfix"></div>


## Amazon Future Engineer benefits
In addition to the Code.org platform and curricula, Amazon Future Engineer provides:
* Paid Computer Science Teachers Association Plus (CSTA+) level membership. Includes access to expert-led webinars and other exclusive content. Visit [csteachers.org](https://csteachers.org/) for more details.
* Eligibility for Amazon Future Engineer's $30,000 teacher of the year award. [Details are here](https://blog.aboutamazon.com/community/amazon-announces-teacher-of-the-year-award-recipients).
* Amazon Future Engineer Inspiration kit with posters and stickers to help promote computer science to students
* First access and opportunities to pilot cutting edge career and computer science exploration offerings from AFE.

<div class="clearfix"></div>


<div class="col-50">
<h3 style="width: 92%;"><strong>The Amazon Future Engineer program is offered to schools with:</strong></h3>
  <ul>
    <li>Title 1 and/or > 40% Free/Reduced Lunch (FRL) student enrollment, verified by federal or other reputable data OR</li>
    <li>> 30% Black/Latino/Native American (BLNA) student enrollment, verified by federal or other reputable data OR</li>
    <li>Rural school, verified by federal or other reputable data</li>
  </ul>
</div>

<div class="col-50">
<%= view :amazon_future_engineer_eligibility %>
</div>
<div class="clearfix"></div>


## The Code.org program
Code.org provides a complete CS program combining [open source K-12 curriculum](https://studio.code.org/courses?view=teacher) with [professional learning](https://code.org/educate/professional-learning/middle-high).

### Engaging curriculum designed to support beginners and challenge students of all levels
Our team designed our courses to support students and teachers new to the discipline, and to engage and challenge students of all levels. Every lesson plan and activity is tested by a diverse mix of classrooms around the country to make sure it’s appropriate and engaging for all students. Both courses we offer for middle and high school students are mapped to the newly revised 2017 CSTA standards.

**Our curriculum and platform are free for anyone, anywhere, to use - always.**

[col-50]
### [CS Discoveries (Grades 6-10)](/educate/csd)

<div style="width: 96%;">
<%=view :display_video_thumbnail, id: "intro_csd", video_code: "uQim0hBHco0", play_button: 'center', letterbox: "false" %>

* <a href="https://code.org/educate/csd">An introductory computer science course</a> that empowers students to create authentic artifacts and engage with computer science as a medium for creativity, communication, problem solving, and fun
* Can be taught as a 1 or 2 semester course (or 50+ course hours)

</div>

[/col-50]

[col-50]
### [CS Principles (Grades 9-12)](/educate/csp)

<div style="width: 96%;">
<%=view :display_video_thumbnail, id: "intro_csp", video_code: "DMr1iFYacGQ", play_button: 'center', letterbox: "false" %>

* <a href="https://code.org/educate/csp">A higher level introductory course</a> that introduces the foundational concepts of computer science while challenging students to explore how computing and technology can impact the world
* Can be taught as an AP or non-AP class
* Requires a full year to teach (or 100+ course hours)

</div>

[/col-50]

<div class="clearfix"></div>

<br>

<div class="breakoutquote">
    <div class="col-25">
        <p><img src="/images/fit-150/AR2019/2019-ar-joseph-ramos.jpg" style="max-width: 100%"></p>
    </div>
    <div class="col-75">
        <p>“Having Code.org in our school has been a priceless commodity! Being a Title I school, a lot of our students don't have access to personal computers or laptops, so they can end up falling behind in terms of technology. We do our best to keep them motivated and show them the potential that learning how to code has on their future.”</p>
        <p><em>-Joseph Ramos, Texas</em></p>
    </div>
    <div class="clearfix"></div>
</div>

<br>

### Extensive teacher resources
You don’t have to be a software developer to teach CS. Our program is uniquely designed to support teachers new to CS while offering the flexibility to evolve lessons to fit student needs.

[col-33]

[<center><img src="/images/csp/csp-crop-cover-20-21.png" style="width:300px">](https://docs.google.com/document/d/1KXRZhIWSgKHg458_Hfgii7Fuq8AarmYOOfJI1V47DWU/preview)</center>

<div style="margin-left: 15px; margin-top: 5px;">Our curriculum team has created guides for each course, designed to help support new and veteran teachers.</div>

[/col-33]

[col-33]

[<center><img src="/images/animated-examples/lessonplans.png" style="width:300px">](https://studio.code.org/courses/csp)</center>

<div style="margin-left: 15px; margin-top: 5px;">Teachers have access to daily lesson plans for each course. Along with integrated discussion goals, teaching tips, and assessment opportunities, our lesson plans come with detailed pacing instructions, activity guides, exemplar projects, sample marked rubrics, and more!</div>

[/col-33]

[col-33]

[<center><img src="/images/teacher_dashboard.png" style="width:300px">](https://studio.code.org/home)</center>

<div style="margin-left: 15px; margin-top: 31px;">Our Teacher Dashboard makes it easy for teachers to create and manage classroom sections, check student progress, administer assessments, and integrate with Google or Clever classroom. (Sign in required.)</div>

[/col-33]

<div class="clearfix"></div>

### Professional development
The Code.org Professional Learning Program is hosted by our Regional Partners across the country, and is designed to prepare teachers before and during their first year teaching CS Discoveries or CS Principles. Applications are open now for middle and high school teachers - [join us](https://code.org/educate/professional-learning/middle-high)!

<img src="/images/teacherconatlbrighter.png" style="float:right; width:35%; margin-left:25px">

**More than 100,000 teachers have participated** in the Code.org Professional Learning program, and the majority of attendees rank it the best professional development ever! Over 90% of attendees would recommend our program to another teacher.

**No experience needed!** Whether you are new to teaching computer science (CS) or have experience teaching other CS courses, the Code.org Professional Learning Program offers year round support. We’ve designed this program to promote growth by providing space for you to become comfortable with curricular materials, CS content, and pedagogy.

**Over a third of schools use Code.org's curriculum**, including the largest school districts in the U.S., such as LAUSD, Broward, and Dallas ISD. And, over a quarter of our teachers come from rural schools.

**Every Student Succeeds Act**. The Code.org program meets the six key criteria for professional development outlined in the Every Student Succeeds Act (ESSA). Learn more in our [Program Brochure](https://code.org/files/programs/codeorg-program-brochure.pdf).

To learn more about our Professional Learning Program, [click here](https://code.org/educate/professional-learning/middle-high).



<span style="font-size: large">[Click here](#check-eligibility-form) to see if you are eligible.</span>

<hr>

<a name="urg"></a>
*Students who are Black/African American, Hispanic/Latino/Latina/Latinx, Native American/Alaskan, and Native Hawaiian/Pacific Islander
