:ruby
  steps_nav_index = 8

  steps_nav_tag = [hoc_s("hoc_how_to.label.before_hoc"), "", "", "", "", hoc_s("hoc_how_to.label.day_of_hoc"), "", hoc_s("hoc_how_to.label.after_hoc")]

  steps_nav_number = [hoc_s(:step_01), hoc_s(:step_02), hoc_s(:step_03), hoc_s(:step_04), hoc_s(:step_05), hoc_s(:step_06), hoc_s(:step_07), hoc_s(:step_08)]

  steps_nav_label = [
    hoc_s("hoc_how_to.label.register"),
    hoc_s("hoc_how_to.label.choose"),
    hoc_s("hoc_how_to.label.plan_event"),
    hoc_s("hoc_how_to.label.plan_hour"),
    hoc_s("hoc_how_to.label.spread_word"),
    hoc_s("hoc_how_to.label.get_coding"),
    hoc_s("hoc_how_to.label.celebrate"),
    hoc_s("hoc_how_to.label.beyond")
  ]

%nav.steps-nav{"aria-label": hoc_s(:hoc_how_to_nav_sidebar_aria_label)}
  %ul
    - steps_nav_index.times do |index|
      - if index === 0 || index === 5 || index === 7
        %p.tag
          = steps_nav_tag[index]
      %li
        %a{href: "#step-0#{index + 1}"}
          %p.overline-one
            = steps_nav_number[index]
          %p.body-two
            = steps_nav_label[index]
