:ruby
  steps_nav_index = 6

  steps_nav_tag = [hoc_s(:before_hoc), "", "", hoc_s(:day_of_hoc), "", hoc_s(:after_hoc)]

  steps_nav_number = [hoc_s(:step_01), hoc_s(:step_02), hoc_s(:step_03), hoc_s(:step_04), hoc_s(:step_05), hoc_s(:step_06), hoc_s(:step_07), hoc_s(:step_08)]

  steps_nav_label = [
    hoc_s(:hoc_how_to_step_label_inspire_employees),
    hoc_s(:hoc_how_to_step_label_encourage_employees),
    hoc_s(:hoc_how_to_step_label_plan_internal_event),
    hoc_s(:hoc_how_to_step_label_choose_activities),
    hoc_s(:hoc_how_to_step_label_help_spread_word),
    hoc_s(:hoc_how_to_step_label_beyond_hoc),
  ]

%nav.steps-nav{"aria-label": hoc_s(:hoc_how_to_nav_sidebar_aria_label)}
  %ul
    - steps_nav_index.times do |index|
      - if index === 0 || index === 3 || index === 5
        %p.tag
          = steps_nav_tag[index]
      %li
        %a{href: "#step-0#{index + 1}"}
          %p.overline-one
            = steps_nav_number[index]
          %p.body-two
            = steps_nav_label[index]
