%ul.steps-nav
  %a.selected{href: "#step-1"}
    %li
      %p.tag
        Before Hour of Code
      %p.overline-one
        Step 1
      %p.body-two
        Plan where and when you will do your Hour of Code
  %a{href: "#step-2"}
    %li
      %p.overline-one
        Step 2
      %p.body-two
        Choose your activity
  %a{href: "#step-3"}
    %li
      %p.overline-one
        Step 3
      %p.body-two
        Test out your activity
  %a{href: "#step-4"}
    %li
      %p.overline-one
        Step 4
      %p.body-two
        Register your event
  %a{href: "#step-5"}
    %li
      %p.overline-one
        Step 5
      %p.body-two
        Tell your students, school, and community
  %a{href: "#step-6"}
    %li
      %p.tag
        Day of Hour of Code
      %p.overline-one
        Step 6
      %p.body-two
        Get coding!
  %a{href: "#step-7"}
    %li
      %p.overline-one
        Step 7
      %p.body-two
        Celebrate
  %a{href: "#step-7"}
    %li
      %p.tag
        After Hour of Code
      %p.overline-one
        Step 8
      %p.body-two
        Beyond Hour of Code
