---
title: Educator Resources
theme: responsive
social:
  'og:title' : 'The %{XX} Hour of Code is coming'
  'og:description' : "For every student and classroom: learn how fun coding is in just one hour March 3 - 9."
  'og:image' : ""
  'og:image:width' : ""
  'og:image:height' : ""
  "og:video": ""
  "og:video:width": ""
  "og:video:height": ""
  "og:video:type": ""
---

%link{href: "/css/learn_tabs.css", rel: "stylesheet"}

= view :learn_notes
