%h1= I18n.t('maker.google_oauth.login_with_google')

%p= I18n.t('maker.google_oauth.copy_code')

%input#maker-code{:type=>"text", :readonly=>true, :value=>@secret_code}

%button#btn-copy{ type: 'copy' }= I18n.t(:copy)

:javascript
  $(document).ready(function() {
    $('#btn-copy').click(function() {
      $('#maker-code').select();
      document.execCommand("copy");
    });
  });
