%h1= 'Login to the Maker App with Google'

%p Please enter the code provided when you logged in via Google on your default browser


= form_tag('/users/auth/maker_google_oauth2') do
  = text_field_tag :uid
  = button_tag "Submit", class: "btn-submit"
