%h1= I18n.t('maker.google_oauth.login_with_google')

%p= I18n.t('maker.google_oauth.enter_code')

%input#input-text{:type=>"text"}

%button#btn-submit{ type: 'submit' }= I18n.t(:submit)

:javascript
  $(document).ready(function() {
    $('#btn-submit').click(function() {
      // ToDo: send submitted value to endpoint to validate login
      console.log("Submitted: " + $('#input-text').val());
    });
  });
