-# Explicitly load the applab i18n strings here, so we can organize the
-# relevant strings on this page into the applab bucket.
%script{src: webpack_asset_path("js/#{js_locale}/applab_locale.js")}
%script{src: webpack_asset_path('js/maker/setup.js')}

- @page_title = I18n.t('maker.setup_page_title')
- content_for :head do
  %meta{:name => "description", :content => I18n.t('maker.setup_page_title')}

:css
  .main {
    width: 80%;
    max-width: 800px;
  }
  .validation-children div > p {
    font-size: 14px;
  }

<div id="maker-setup"/>
