$container-width: 309px;

:global(#curriculum-catalog-container) {
  background-color: var(--background-neutral-secondary);
}

.catalogContentContainer {
  max-width: 60em;
  margin: 0 auto 1em auto;
}

.catalogContentCards {
  display: grid;
  grid-template-columns: repeat(auto-fill, $container-width);
  justify-content: center;
  grid-gap: 1em;
}

.assignSuccessMessageContainer {
  display: flex;
  min-width: 250px;
  background-color: var(--background-success-light);
  text-align: center;
  border-radius: 5px;
  border-color: var(--borders-success-light);
  position: fixed;
  z-index: 4;
  top: 70px;

  p {
    margin: 16px;
    color: var(--text-success-secondary);
  }
}

.curriculumCatalogHeroBanner {
 figure img {
   height: 185px;
 }
}

.assignSuccessMessageCenter {
  display: flex;
  justify-content: center;
}
