@use "color.scss";

.catalogFiltersContainer {
  display: flex;
  align-items: center;
  gap: 16px;
  max-width: 60em;
  margin: 1em auto;

  button {
    margin: 0;
  }
}

button.catalogClearFiltersButton {
  font-size: 16px;
  margin-left: auto;
}

.catalogContentContainer {
  max-width: 60em;
  margin: 1em auto;
}

.catalogContentCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
}

.catalogContentNoResults {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin: 3em auto;
  text-align: justify;
}

.noResultsImage {
  display: block;
  margin: auto;
  width: 5em;
}

.noResultsHeading {
  color: color.$teal;
  margin: 1em 0 0 0;
}

.noResultsBody {
  margin: 1em;
}
