@import "phase1-design-system";

.curriculumCatalogCardContainer {
  display: flex;
  flex-flow: column;
  background-color: $neutral_light;
  border-color: $neutral_dark20;
  border-radius: 4px;
  height: 384px;
  width: 309px;

  img {
    height: 140px;
    object-fit: cover;
    border-radius: 4px 4px 0 0;
  }

  .curriculumInfoContainer {
    margin: 20px 16px;
    height: 100%;
    display: flex;
    flex-flow: column;

    .overline {
      color: $brand_primary_default;
      margin: 0 0 8px 0;
    }

    h4 {
      margin-bottom: 12px;
      color: $neutral_dark;
    }

    .iconWithDescription {
      display: flex;
      font-size: 14px;
      color: $neutral_dark80;
      margin: 0 0 8px 0;
      align-items: center;

      .iconDescription {
        margin: 0 0 0 8px;
        color: $neutral_dark;
      }
    }

    .buttonsContainer {
      display: flex;
      justify-content: space-between;
      margin-top: auto;

      button {
        height: 40px;
        margin: 0;
        min-width: 132px; // calculated: (totalContainerWidth - 2*padding - minimumSpaceBetweenButtons) / 2
        font-size: 16px;
      }
    }
  }
}
