@use 'color.scss';

$container-width: 309px;

.catalogContentContainer {
  max-width: 60em;
  margin: 0 auto 1em auto;
}

.catalogContentCards {
  display: grid;
  grid-template-columns: repeat(auto-fill, $container-width);
  justify-content: center;
  grid-gap: 1em;
}

.catalogContentNoResults {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin: 3em auto;
  text-align: justify;
}

.noResultsImage {
  display: block;
  margin: auto;
  width: 5em;
}

.noResultsHeading {
  color: color.$teal;
  margin: 1em 0 0 0;
}

.noResultsBody {
  margin: 1em;
}

.assignSuccessMessageContainer {
  display: flex;
  min-width: 250px;
  margin-left: -125px;
  background-color: color.$bootstrap_success_background;
  text-align: center;
  border-radius: 5px;
  border-color: color.$bootstrap_success_border;
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 70px;

  button {
    max-height: 1.5em;
    margin: 3px 6px;
    padding: 0;
    background-color: transparent;
    border: none;
    font-size: 12px;
  }
}

.assignSuccessMessage {
  margin: 16px;
  color: color.$bootstrap_success_text;
}
