@use "color.scss";

.catalogFiltersContainer {
  display: flex;
  align-items: baseline;
  gap: 16px;
  max-width: 60em;
  margin: 1em auto;

  button {
    margin: 0;
  }
}

.catalogLanguageFilterRow {
  display: flex;
  justify-content: space-between;
  max-width: 60em;
  margin: 1em auto;

  p {
    margin: 1em 0;
  }

  i {
    margin: auto 0.25em;
    font-size: 1.75em;
  }

  span {
    font-size: 16px;
  }
}

.catalogLanguageFilterRowNumAvailable {
  display: flex;
  flex: start;
}

button.catalogClearFiltersButton {
  font-size: 16px;
  margin-left: auto;
}

.catalogContentContainer {
  max-width: 60em;
  margin: 1em auto;
}

.catalogContentCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
}

.catalogContentNoResults {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin: 3em auto;
  text-align: justify;
}

.noResultsImage {
  display: block;
  margin: auto;
  width: 5em;
}

.noResultsHeading {
  color: color.$teal;
  margin: 1em 0 0 0;
}

.noResultsBody {
  margin: 1em;
}

.assignSuccessMessageContainer {
  display: flex;
  min-width: 250px;
  margin-left: -125px;
  background-color: color.$bootstrap_success_background;
  text-align: center;
  border-radius: 5px;
  border-color: color.$bootstrap_success_border;
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 70px;

  button {
    max-height: 1.5em;
    margin: 3px 6px;
    padding: 0;
    background-color: transparent;
    border: none;
    font-size: 12px;
  }
}

.assignSuccessMessage {
  margin: 16px;
  color: color.$bootstrap_success_text;
}
