@import "codemirror/lib/codemirror";
@import "codemirror-spell-checker/src/css/spell-checker";
@import 'json_editor';
@import 'plc/content_creation';
@import 'plc/common';

.CodeMirror {
  border: 1px solid #eee;
  height: auto;
}
.CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
}
.CodeMirror-matchingtag {
  background: rgba(255, 150, 0, .3);
}

.cm-trailingspace {
  border-bottom: 1px dotted #c00;
}

.contract-editor-config td {
  text-align: center;
}

table.checkboxes {
  td, th {
    padding: 0 0.5em;
    vertical-align: top;
  }

  label {
    font-size: 13px;
    font-weight: bold;
  }
}

#grid {
  .label { background-color: black }
  .border { background-color: dimgray !important }
  .path { background-color: darkgreen !important }
  .start { background-color: firebrick !important }
  .end { background-color: lime !important }
  .obstacle { background-color: gold !important }
  .dirt { background-color: #d1d567 !important }
  .conditional { background-color: green !important }
  td {
    width: 40px;
    border: 1px solid #CCC;
    padding: 0 4px 0 4px;
    vertical-align: top;
    overflow: hidden;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    text-shadow: -1px -1px 0 #FFF, 1px -1px 0 #FFF, -1px 1px 0 #FFF, 1px 1px 0 #FFF;

    &.highlighted {
      border-color: yellow;
    }
    &.selected {
      border-color: cyan;
    }
    &.start {
      background-image: url('/blockly/media/skins/birds/small_static_avatar.png');
      background-size: 100% 100%;
    }
    &.end {
      background-image: url('/blockly/media/skins/birds/goal.png');
      background-size: 100% 100%;
      background-repeat: no-repeat;
    }
    &.obstacle {
      background-image: url('/blockly/media/skins/birds/obstacle.png');
      background-size: 100% 100%;
    }
    &.dirt {
      background-image: url('/blockly/media/skins/farmer/dirt.png');
      background-size: 1100px 100%;
    }
    &.conditional {
      background-size: 100% 100%;
    }
    &.flower {
      background-image: url('/blockly/media/skins/bee/redFlower.png');
    }
    &.hive {
      background-image: url('/blockly/media/skins/bee/honey.png');
    }
    &.flower-or-nothing {
      background-image: url('/assets/editor/flower-or-nothing.png');
    }
    &.hive-or-nothing {
      background-image: url('/assets/editor/hive-or-nothing.png');
    }
    &.flower-or-hive {
      background-image: url('/assets/editor/hive-or-flower.png');
    }
    &.flower-hive-or-nothing {
      background-image: url('/assets/editor/flower-hive-or-nothing.png');
    }
    &.playlab {
      &.none {
        background-color: #e7e8ea !important;
      }
      &.goal {
        background-color: #b9bf15 !important;
        background-image: url('/blockly/media/skins/studio/goal.png');
        background-size: contain;
        background-position: center;
      }
      &.sprite {
        background-color: #0094ca !important;
        background-size: 1200% 100%;
      }
    }
  }
  tr {
    height: 40px;
  }
  .htInvalid { background-color: orangered !important}
  .htNumeric { text-shadow: -1px -1px 0 #FFF, 1px -1px 0 #FFF, -1px 1px 0 #FFF, 1px 1px 0 #FFF }
  table {
    border-collapse: separate;
    table-layout: fixed;
    width: 0;
  }
}
