@import "codemirror/lib/codemirror";
@import "codemirror-spell-checker/src/css/spell-checker";
@import 'json_editor';
@import 'plc/content_creation';
@import 'plc/common';

.CodeMirror {
  border: 1px solid #eee;
  height: auto;
}
.CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
}
.CodeMirror-matchingtag {
  background: rgba(255, 150, 0, .3);
}

.cm-trailingspace {
  border-bottom: 1px dotted #c00;
}

.contract-editor-config td {
  text-align: center;
}

table.checkboxes {
  td, th {
    padding: 0 0.5em;
    vertical-align: top;
  }

  label {
    font-size: 13px;
    font-weight: bold;
  }
}
