@use '@cdo/apps/lab2/views/components/layout/variables.scss' as variables;
@import '@code-dot-org/component-library-styles/mixins';
@import 'color.scss';

.topContainer {
  display: flex;
  padding: 8px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

label.typographyLabelTwo {
  @include label-two;
  margin-bottom: 0;
}

.resourceLinkInput {
  width: 100%;

  input {
    width: 100%;
  }
}

.feedbackTextBoxWrapper {
  width: 100%;
}

.alertBox {
  width: calc(100% - 30px);
}

.inputWrapper {
  position: relative;
  background-color: white;
  border-radius: 4px;
  padding: 8px 10px 10px 10px;
  border: 1px solid var(--borders-neutral-strong, #b7c1cb);

  /* Body/Body 4 */
  font-family: var(--font-family-body, Figtree);
  font-size: var(--font-size-body-xs, 12px);
  font-style: normal;
  font-weight: 400;
  line-height: var(--font-line-height-body-xs, 19.68px); /* 164% */
}

.inputBox {
  width: calc(100% - 10px);
  font-size: 14px;
  border: none !important;
  box-shadow: none !important;

  &:focus {
    border-color: var(--borders-brand-teal-primary) !important;
    box-shadow: 0 0 0 2px var(--brand-teal-50) !important;
  }
}

.feedbackInputBox {
  width: calc(100% - 10px) !important;
  font-size: 14px;
  resize: none !important;
}

.resourcePopUpDivider {
  margin: 16px 0 !important;
}

.resourceLinkPopUpButtons {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  margin-top: 12px;
}

.popUpContainer {
  padding: 8px 16px;
}

.recommendedActionContainer {
  width: 100%;
}

.actionButtons {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  width: 100%;
}

.fileTab {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.375rem;
  height: 24px;
  width: fit-content;
  padding-block: 0;
  padding-inline: 0.5rem;
  cursor: pointer;
  white-space: nowrap;
  background-color: var(--background-neutral-secondary);
  border-radius: variables.$default-border-radius;
  transition: all 0.2s ease-in-out;

  &:hover:not(.active) {
    background-color: var(--background-neutral-tertiary);
  }
}

.label {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  p {
    color: var(--text-neutral-tertiary);
  }
}

.active {
  background-color: var(--background-brand-teal-primary);
  color: var(--text-neutral-white-fixed);

  p,
  i {
    color: var(--text-neutral-white-fixed);
  }
}
