- content_for(:head) do
  = stylesheet_link_tag 'css/pd', media: 'all'

%h1 Attendance recorded

.workshop-attendance-recorded
  .left
    .fa.fa-check-square-o.checkmark

  .right
    .paragraph
      We’ve recorded that you were here on #{@session.start_date_us_format}.

    .paragraph
      Thank you for attending Code.org professional development.

    .paragraph
      If your workshop is multiple days, you must record attendance each day.

    .paragraph
      %a{href: '/home'}
        %button
          Continue
