- content_for(:head) do
  = stylesheet_link_tag 'css/pd', media: 'all'

%h2 Please Verify Your Workshop Registration
%h3 We don't recognize your email address in our roster. Please choose your name.

#application-container.container

  - if flash[:error]
    .alert.alert-danger{role: 'alert'}
      = flash[:error]

  .row
    .col-lg-12
      - @safe_names.each do |safe_name|
        - route_options = {action: :select_enrollment, method: :post, params: {safe_name: safe_name[0], enrollment_code: safe_name[1].code}}
        = button_to safe_name[0], route_options, form_class: 'form-inline', class: 'btn btn-gray'

  .row
    .col-lg-12
      - join_route_options = {controller: 'pd/workshop_enrollment', action: 'join_session', session_code: @session.code}
      = link_to join_route_options do
        %button{class: "btn btn-primary", style: "font-size: 18px"}
          My name is not on this list
