%h2 Workshop Attendance Error
%p
  We don't recognize your email address in our roster. In order to mark attendance you must be signed into an account
  that is associated with your workshop enrollment. If you have not enrolled in the workshop yet
  = " "
  %a{href: CDO.studio_url("/pd/workshops/#{@session.workshop.id}/enroll"), target: "_blank"}> click here to enroll
  = "."
