Attendance for this workshop is currently closed. You can mark yourself as attended only on the day of your workshop. If you think you are seeing this message in error, please confirm your attendance link with your workshop organizer or email
= link_to 'support@code.org', 'mailto:support@code.org'
for assistance.
