#mimeo_redirect
  %form{method: 'post', action: @endpoint}
    - @fields.each do |name, value|
      %input{type: 'hidden', name: name, value: value}

  %h3
    Redirecting to Mimeo
    %i.fa.fa-spinner.fa-pulse

  :javascript
    window.onload = function() {
      document.forms[0].submit();
    }
