%h2 Unable to redirect to Mimeo

%p
  = @message

%p
  Error Code:
  = @code

%p
  = link_to 'Try Again', action: 'authenticate_and_redirect', enrollment_code: params[:enrollment_code]

%p
  = link_to 'Contact Support', 'https://support.code.org'
