= view :display_video_thumbnail, id: "blockchain_05", video_code: "d9rKkk3oVdY", caption: hoc_s(:blockchain_video_title_05), play_button: "center", letterbox: "false", download_path: "//videos.code.org/blockchain/Blockchain_5_Marketplaces.mp4"
