= view :display_video_thumbnail, id: "blockchain_02", video_code: "10wYLCnDHao", caption: hoc_s(:blockchain_video_title_02), play_button: "center", letterbox: "false", download_path: "//videos.code.org/blockchain/Blockchain_2_Why_Blockchain.mp4"
