= view :display_video_thumbnail, id: "blockchain_03", video_code: "It_Ivgm5wQA", caption: hoc_s(:blockchain_video_title_03), play_button: "center", letterbox: "false", download_path: "//videos.code.org/blockchain/Blockchain_3_Under_the_Hood.mp4"
