= view :display_video_thumbnail, id: "blockchain_04", video_code: "3EwkfUz_BPs", caption: hoc_s(:blockchain_video_title_04), play_button: "center", letterbox: "false", download_path: "//videos.code.org/blockchain/Blockchain_4_Beyond_Currencies.mp4"
