= view :display_video_thumbnail, id: "blockchain_06", video_code: "WzxbwEQRJPo", caption: hoc_s(:blockchain_video_title_06), play_button: "center", letterbox: "false", download_path: "//videos.code.org/blockchain/Blockchain_6_Societal_Impacts_01.mp4"
