= view :display_video_thumbnail, id: "blockchain_01", video_code: "MjibPL4tGqo", caption: hoc_s(:blockchain_video_title_01), play_button: "center", letterbox: "false", download_path: "//videos.code.org/blockchain/Blockchain_1_Intro.mp4"
