= view :display_video_thumbnail, id: "blockchain_07", video_code: "C3C_JfG8cNg", caption: hoc_s(:blockchain_video_title_07), play_button: "center", letterbox: "false", download_path: "//videos.code.org/blockchain/Blockchain_7_Societal_Impacts_02.mp4"
