.new_link {
  margin-top: 24px;
}

#evaluationTable {
  width: 100%;

  tbody {
    border-bottom: solid grey 2px;

    tr {
      border-bottom: solid lightgrey 1px;
    }

    td {
      padding: 5px;
    }

    input, select {
      margin: auto;
      width: 90%;
    }

    .cloneableAnswerRow, .cloneableQuestionRow {
      display: none
    }
  }
}

#toggleIconLibrary {
  margin-left: 20px;
}

#previewIcon {
  font-size: 24px;
  vertical-align: middle;
}

.required {
  padding: 2px;
  color: red;
  border: 1px solid red;
  border-radius: 5px
}
