---
title: Find a workshop
theme: responsive
---
# Professional development workshops for elementary teachers
Sign-up for our inspiring, high quality [CS Fundamentals](https://curriculum.code.org/csf) professional development workshops with experienced facilitators. A teacher who attended an Intro workshop left saying "This will totally change my curriculum. I love how the lessons are prepared and aligned to the **Common Core and Next Generation Science Standards**." We couldn't be more proud! Through our network of Regional Partners and generous grants from our [donors](/about/donors), these workshops are offered at fully to partially discounted rates.

<img src="/images/teacherconatlbrighter.png" style="float:right; width:35%; padding-left:15px; margin-top:45px">
## Teachers love our professional learning!

Join the over 100,000 teachers who have participated in our workshops. The majority of our workshop attendees say, <b>'It's the best professional development I've ever attended.'</b> In fact, 90% of attendees would recommend our program to other teachers.

## Proven results

[Six different studies show](https://medium.com/@codeorg/cs-helps-students-outperform-in-school-college-and-workplace-66dd64a69536): children who study computer science perform better in other subjects, excel at problem-solving, and are 17% more likely to attend college.

Recent research also demonstrates positive links between learning computer science *with CS Fundamentals* and reading comprehension, problem-solving, and planning skills. Students with resourceful teachers [scored higher on standardized reading comprehension exams](https://medium.com/@codeorg/code-org-resourceful-teachers-higher-student-achievement-8be1efdec06e) when they did extra CS Fundamentals activities. CS Fundamentals students also [outperformed other STEM students at problem-solving executive function and planning skills](https://www.sciencedirect.com/science/article/abs/pii/S0360131520300099?dgcid=author).

## What can you expect at a workshop?

Click on the features below to learn more about what our elementary professional learning workshops have to offer!

<details>
  <summary>**Gain new teaching strategies**</summary>
  <p>
  <br/>
Participants explore the curriculum and learning tools, discuss classroom management and teaching strategies, and build a community of teachers. With a focus on a customized experience, participants will develop skills while working in small groups to deepen their understanding of the materials.
</p>
</details>

<details>
  <summary>**Experience curriculum loved by students**</summary>
  <p>
  <br/>
Participants will engage with the curriculum both as instructors and as learners. By experiencing the course content as an active learner, participants will gain important, concrete insight into the perspective their students will have during the academic year. By interacting with curriculum content as instructors, participants will learn how to plan and deliver lessons.
</p>
</details>

<details>
  <summary>**Get peer support through a participant-centric approach**</summary>
  <p>
  <br/>
Teachers and facilitators will have the opportunity to share their expertise from the field and collaborate on strategies to bring to the classroom, giving participants a chance to learn from everyone in the room. Facilitators model pedagogical strategies and participants share their own approaches by planning and delivering lessons. ​
​</p>
​</details>

<details>
  <summary>**Learn and navigate our cohesive curriculum**</summary>
  <p>
  <br/>
Our professional learning and curriculum flow seamlessly together, empowering teachers to deliver the course with confidence. In-person workshops combine with online tools to provide participants with a broad selection of resources to help them plan ahead for implementing the course in their classrooms, while also collaborating with other educators.
</p>
</details>

<details>
  <summary>**Join an active community of CS educators**</summary>
  <p>
  <br/>
All teachers have access to the Code.org forum, an online professional learning community that offers continued support with tools and content, introduces new and helpful resources for teaching the course, and lets teachers continue to explore the curriculum.
  </p>
  </details>


  Check out our [professional learning values](/educate/professional-learning/values) for more information about our goals and approach to professional learning.

Administrator Information: Share [this flyer](/files/csfadminbrochure2019.pdf) with your principal or administrators to encourage their support for your professional learning and expanding computer science opportunities at your school.

## Two workshop options to meet your needs

###  <span style="color:#7665a0;font-weight:bold;">Never taught CS Fundamentals?</span>

<details>
  <summary style="color:#00adbc">**Join us for the Intro workshop!**</summary>
  <div>
    <br/>
    <p>The Intro workshop is designed for elementary educators new to teaching computer science who want to explore how to begin teaching the CS Fundamentals curriculum. Over 85,000 teachers have participated in our original workshop! Join your peers and experienced facilitators to get a hand on intro to computer science, pedagogy, overviews of the online curriculum and teacher dashboard, as well as strategies for teaching “unplugged” classroom activities.</p>
    <p>At the end of the workshop, teachers will have:</p>
    <ul>
      <li>A plan of of action to start teaching CS Fundamentals.</li>
      <li>An implementation plan for teaching two CS Fundamentals lessons</li>
      <li>Goals for how deep into the course they would like to try to get.</li>
      <li>Strategies for teaching CS Fundamentals lessons.</li>
      <li>A connection to the community of CS Fundamentals teachers.</li>
      <li>A printed curriculum guide with pedagogy, tips, and best practices.</li>
      <li>A certificate of attendance</li>
      <li>Swag!</li>
    </ul>
  </div>
</details>

<a href="#workshopmap">Register today!</a>

<a name="deep-dive"></a>
### <span style="color:#7665a0;font-weight:bold;">Already teaching CS Fundamentals?</span>

<details>
  <summary style="color:#00adbc">**Join us for the Deep Dive workshop!**</summary>
  <div>
    <br/>
    <p>The Deep Dive is designed for elementary educators who have started teaching CS Fundamentals but want to more deeply understand Code.org’s approach to teaching CS and need strategies to fully implement the curriculum. Developed with Code.org’s professional learning values in mind, the 7-hour Deep Dive workshop provides teachers with a hands-on learning experience with other like-minded teachers. Teachers are given the space to work through the individual challenges in carefully crafted sessions led by experienced facilitators,</p>
    <p>The Intro workshop is not a prerequisite for the Deep Dive, but participants should have started teaching CS Fundamentals before attending. If you’d like to take both workshops, we recommend scheduling them at least a month apart so you have time to try out a few lessons in your classroom before attending this workshop.</p>
    <div>At the end of the workshop, teachers will have:</div>
    <ul>
      <li>A plan for offering more of the  CS Fundamentals course.</li>
      <li>Strategies for addressing roadblocks to implementation, including any specific issues experienced in lessons taught thus far.</li>
      <li>Ideas for fostering and developing a strong classroom rapport that nurtures learners of all types through equitable approaches.</li>
      <li>A deepened sense of community with CS Fundamentals teachers and a plan for keeping in touch with other teachers in the future.</li>
      <li>A printed curriculum guide with pedagogy, tips, and best practices.</li>
      <li>A certificate of attendance.</li>
      <li>Swag!</li>
    </ul>
  </div>
</details>

<a href="#workshopmap">Register today!</a>

<table style="border-style:none;">
  <tr>
    <th style="background-color:#696969;color:white;border-style:none;">
      “It was great to put myself in situations that my students might face. Talking with others about our lessons was super helpful because we could bounce ideas off of one another.”<br/>
      - Daphne Wright, music teacher
      </th>
    <th style="background-color:#696969;border-style:none;"">
      <img src="/images/fit-200/daphnewright.jpg">
      </th>
    </tr>
  </table>



<h2 id="workshopmap"> Register for a nearby workshop </h2>
Use the map below to find the next upcoming CS Fundamentals workshop in your region. Because CS Fundamentals courses can be implemented at any point in the school year, workshops are available year round!

*Note*: a star icon indicates that a Deep Dive workshop is available.

<%= view :workshop_search %>

## Looking for a different date or location?

If you can’t find a workshop at a convenient date or location, and you’re in the U.S., contact the Code.org [Regional Partner](educate/professional-learning/about-partners) in your area. They may already have a private workshop set up near your area that you can join, or can set up a workshop.

<%= view :professional_development_workshops_regional_partner_search %>

## Want to set up a private workshop?

Support all your teachers with a private group workshop on a day convenient for your staff. Our Regional Partners can come to your school to help your teachers work together to understand the implementation challenges they face in teaching CS Fundamentals.
If you’d like to set up a private workshop and you’re in the U.S., contact your Regional Partner through the button above.

## Can't attend a workshop, or outside of the United States?

Unfortunately, we do not currently offer professional development workshops outside of the U.S. If you are outside of the U.S., or you are a U.S. teacher but cannot attend a workshop, you can take a look at our [our self-paced online workshop](/educate/professional-development-online) to get started at no cost. And, the curriculum, lesson plans, tools, and support are also available at no cost worldwide. [Join our forums](https://forum.code.org/) to connect with other teachers for support, teaching tips, and best practices.

## Benefits beyond the workshop

[col-20]

<img style="margin-top:-20px;margin-bottom:-30px" src="/images/avatars/fit-200/iste.png"/>

[/col-20]

Code.org and ISTE are partnering to expand teacher community and learning opportunities beyond Code.org’s professional learning. Through this partnership, we’re excited to offer a $10 discount on a <a href="https://www.iste.org/membership/code-org" target="_blank">first time ISTE membership</a>.

Check out these 3 key benefits of ISTE membership:

- Professional Learning Networks made up of peer experts, including computer science educators.
- Hundreds of webinar and ISTE Conference & Expo recordings on coding and other edtech topics.
- Empowered Learner, ISTE’s print and online magazine for members covering the most important topics in edtech ($49 retail value).

## Recommended courses from 3rd parties

If you want to go even further with your students, or you're looking for other options, check out our [recommended third party resources](https://code.org/educate/curriculum/3rd-party) for additional courses in programming, game design, and more!

<%= view :answerdash %>
