---
title: Find a workshop
theme: responsive
---
# Professional development workshops for elementary teachers
Sign-up for our inspiring, high quality [CS Fundamentals](https://curriculum.code.org/csf) professional development workshops with experienced facilitators. A teacher who attended an Intro workshop left saying "This will totally change my curriculum. I love how the lessons are prepared and aligned to the **Common Core and Next Generation Science Standards**." We couldn't be more proud! Through our network of Regional Partners and generous grants from our [donors](code.org/about/donors), these workshops are offered at fully to partially discounted rates.

<div class="col-50" style="padding-right: 25px;">
  <br>
 <h2> Teachers love our professional learning!</h2>

  Join the over 80,000 teachers who have participated in our workshops. The majority of our workshop attendees say, <b>'It's the best professional development I've ever attended.'</b> In fact, 98% of attendees would recommend our program to other teachers.
</div>
<div class="col-50">
  <img src="/images/fill-400x200/teacherconatlbrighter.png" style="padding-top:25px;">
  <figcaption> Tens of thousands of teachers have participated and rate our workshops 4.8 out of 5.
</div>

<div style="clear: both;"></div>

## What can you expect at a workshop?

Click on the features below to learn more about what our elementary professional learning workshops have to offer!

<details>
  <summary>**Gain new teaching strategies**</summary>
  <p>
  <br/>
Participants explore the curriculum and learning tools, discuss classroom management and teaching strategies, and build a community of teachers. With a focus on a customized experience, participants will develop skills while working in small groups to deepen their understanding of the materials.
</p>
</details>

<details>
  <summary>**Experience curriculum loved by students**</summary>
  <p>
  <br/>
Participants will engage with the curriculum both as instructors and as learners. By experiencing the course content as an active learner, participants will gain important, concrete insight into the perspective their students will have during the academic year. By interacting with curriculum content as instructors, participants will learn how to plan and deliver lessons.
</p>
</details>

<details>
  <summary>**Get peer support through a participant-centric approach**</summary>
  <p>
  <br/>
Teachers and facilitators will have the opportunity to share their expertise from the field and collaborate on strategies to bring to the classroom, giving participants a chance to learn from everyone in the room. Facilitators model pedagogical strategies and participants share their own approaches by planning and delivering lessons. ​
​</p>
​</details>

<details>
  <summary>**Learn and navigate our cohesive curriculum**</summary>
  <p>
  <br/>
Our professional learning and curriculum flow seamlessly together, empowering teachers to deliver the course with confidence. In-person workshops combine with online tools to provide participants with a broad selection of resources to help them plan ahead for implementing the course in their classrooms, while also collaborating with other educators.
</p>
</details>

<details>
  <summary>**Join an active community of CS educators**</summary>
  <p>
  <br/>
All teachers have access to the Code.org forum, an online professional learning community that offers continued support with tools and content, introduces new and helpful resources for teaching the course, and lets teachers continue to explore the curriculum.
  </p>
  </details>


  Check out our [professional learning values](code.org/educate/professional-learning/values) for more information about our goals and approach to professional learning.

Administrator Information: Share [this flyer](https://docs.google.com/presentation/d/1hISLWJWXAvS2bNWB-kqrOyaA6U1ImiYZk5228ZOktQ4/edit#slide=id.g54497bb914_0_120) with your principal or administrators to encourage their support for your professional learning and expanding computer science opportunities at your school.

## Two workshop options to meet your needs

###  <span style="color:#7665a0;font-weight:bold;">Never taught CS Fundamentals?</span>

<details>
  <summary style="color:#00adbc">**Join us for the Intro workshop!**</summary>
  <div>
    <br/>
    <p>The Intro workshop is designed for elementary educators new to teaching computer science who want to explore how to begin teaching the CS Fundamentals curriculum. Over 85,000 teachers have participated in our original workshop! Join your peers and experienced facilitators to get a hand on intro to computer science, pedagogy, overviews of the online curriculum and teacher dashboard, as well as strategies for teaching “unplugged” classroom activities.</p>
    <p>At the end of the workshop, teachers will have:</p>
    <ul>
      <li>A plan of of action to start teaching CS Fundamentals.</li>
      <li>An implementation plan for teaching two CS Fundamentals lessons</li>
      <li>Goals for how deep into the course they would like to try to get.</li>
      <li>Strategies for teaching CS Fundamentals lessons.</li>
      <li>A connection to the community of CS Fundamentals teachers.</li>
      <li>A printed curriculum guide with pedagogy, tips, and best practices.</li>
      <li>A certificate of attendance</li>
      <li>Swag!</li>
    </ul>
  </div>
</details>

<a href="#workshopmap">Register today!</a>

### <span style="color:#7665a0;font-weight:bold;">Already teaching CS Fundamentals?</span>

<details>
  <summary style="color:#00adbc">**Join us for the Deep Dive workshop!**</summary>
  <div>
    <br/>
    <p>The Deep Dive is designed for elementary educators who have started teaching CS Fundamentals but want to more deeply understand Code.org’s approach to teaching CS and need strategies to fully implement the curriculum. Developed with Code.org’s professional learning values in mind, the 7-hour Deep Dive workshop provides teachers with a hands-on learning experience with other like-minded teachers. Teachers are given the space to work through the individual challenges in carefully crafted sessions led by experienced facilitators,</p>
    <p>The Intro workshop is not a prerequisite for the Deep Dive, but participants should have started teaching CS Fundamentals before attending. If you’d like to take both workshops, we recommend scheduling them at least a month apart so you have time to try out a few lessons in your classroom before attending this workshop.</p>
    <div>At the end of the workshop, teachers will have:</div>
    <ul>
      <li>A plan for offering more of the  CS Fundamentals course.</li>
      <li>Strategies for addressing roadblocks to implementation, including any specific issues experienced in lessons taught thus far.</li>
      <li>Ideas for fostering and developing a strong classroom rapport that nurtures learners of all types through equitable approaches.</li>
      <li>A deepened sense of community with CS Fundamentals teachers and a plan for keeping in touch with other teachers in the future.</li>
      <li>A printed curriculum guide with pedagogy, tips, and best practices.</li>
      <li>A certificate of attendance.</li>
      <li>Swag!</li>
    </ul>
  </div>
</details>

<a href="#workshopmap">Register today!</a>

<table style="border-style:none;">
  <tr>
    <th style="background-color:#696969;color:white;border-style:none;">
      “It was great to put myself in situations that my students might face. Talking with others about our lessons was super helpful because we could bounce ideas off of one another.”<br/>
      - Daphne Wright, music teacher
      </th>
    <th style="background-color:#696969;border-style:none;"">
      <img src="/images/fit-200/daphnewright.jpg">
      </th>
    </tr>
  </table>



<h2 id="workshopmap"> Register for a nearby workshop </h2>
Use the map below to find the next upcoming CS Fundamentals workshop in your region. Because CS Fundamentals courses can be implemented at any point in the school year, workshops are available year round!

<%= view :workshop_search %>

## Looking for a different date or location?

If you can’t find a workshop at a convenient date or location, and you’re in the U.S., contact the Code.org [Regional Partner](https://code.org/educate/regional-partner/partners) in your area. They may already have a private workshop set up near your area that you can join, or can set up a workshop.

<%= view :professional_development_workshops_regional_partner_search %>

## Want to set up a private workshop?

Support all your teachers with a private group workshop on a day convenient for your staff. Our Regional Partners can come to your school to help your teachers work together to understand the implementation challenges they face in teaching CS Fundamentals.
If you’d like to set up a private workshop and you’re in the U.S., contact your Regional Partner through the button above.

## Can't attend a workshop, or outside of the United States?

Unfortunately, we do not currently offer professional development workshops outside of the U.S. If you are outside of the U.S., or you are a U.S. teacher but cannot attend a workshop, you can take a look at our [our self-paced online workshop](/educate/professional-development-online) to get started at no cost. And, the curriculum, lesson plans, tools, and support are also available at no cost worldwide. [Join our forums](https://forum.code.org/) to connect with other teachers for support, teaching tips, and best practices.

## Benefits beyond the workshop

[col-20]

<img style="margin-top:-20px;margin-bottom:-30px" src="/images/avatars/fit-200/iste.png"/>

[/col-20]

Code.org and ISTE are partnering to expand teacher community and learning opportunities beyond Code.org’s professional learning. Through this partnership, we can offer a <a href="https://www.iste.org/membership/code-org" target="_blank">first time ISTE membership</a> exclusively to Code.org teachers at the special price of $99 (regularly $125).

Check out these 3 key benefits of ISTE membership:

- Professional Learning Networks made up of peer experts, including computer science educators.
- Hundreds of webinar and ISTE Conference & Expo recordings on coding and other edtech topics.
- Empowered Learner, ISTE’s print and online magazine for members covering the most important topics in edtech ($49 retail value).

[solid-block-header]

Recommended courses from 3rd parties

[/solid-block-header]

<!--- If you update the resources here, don't forget to also update /educate/curriculum/3rdparty -->

| Organization | Curriculum | Professional Development |
|--------------|------------|---------------|---------------|
| [BootUp PD](https://bootuppd.org/) | FREE project-based, interest-driven K-6 teacher lesson plans featuring block-based programming languages in Scratch and ScratchJr. BootUp's entire curriculum, with 100 lesson plans, is FREE. | 50+ hours of on-site professional development, model teaching, and coaching. |
| [Carnegie Learning](https://www.carnegielearning.com/zulama/) | Zulama is a standards-aligned K-12 curriculum that gives students a strong digital foundation. Students ideate, research, prototype, and program their own computational apps, games, and simulations. Our courses were written by faculty at Carnegie Mellon and MIT. All content is fully customizable, including assessments. Our content is rigorous yet fun, and includes assessments, lesson plans, and more. | Included with student curriculum: Engaging, immersive, self-guided online professional learning courses that get teachers started on our platform; self-guided online tutorials that correspond to each student course; coding coaches are available through live chat during regular business hours (EST); online teachers forum, video library, and FAQs. |
| [Code Avengers](https://www.codeavengers.com/edu) | Over 100 interactive junior lessons that teach computer science through storytelling. They weave in science, math and social studies to build broad and deep understanding of computational thinking and coding.  $12.50 - $25/student. Bulk discounts available. | Free onboarding PD session with any school license purchase. Self-directed professional development modules on how to teach computer science included with Teacher License. Additional PD Training Session USD $200 per teacher per half day session delivered via video conference. |
| [Code Monkey](https://www.playcodemonkey.com/) | More than 10 game and project-based courses that teach text-based coding in CoffeeScript and Python. Includes freestyle game and challenge-creation platforms as well as game design, cross-curricular and Hour of Code courses. Complimentary demos and teacher resources (including fully-detailed lessons). Starts at $10/student. Bulk-discounts available. | Complimentary demos, webinars, on-site visits (based on availability) and MOOC instructor course available with subscription. |
| [Code Red Education](http://www.coderededucation.com) | 150 lessons over 7 modules, $3500/site | Online PD included with site fee |
| [Codesters](https://codehs.com) | 3-lesson intro and project platform, FREE, 2 40-hr Intro. to Python courses and a 20-hr Intro to Game Design course, $20/student for the bundle (Python 1, Python 2, and Game Design) or a la carte pricing | FREE 30 min. teacher webinars, Half day, 1-day, and 3-day workshops available, $500-$2,000 per teacher depending on length and location. |
| [Kodable](https://www.kodable.com/) | More than 150 easy to follow lessons that foster creativity and include gamified practice and creative design from Sequence to JavaScript and Swift. Teacher videos and resources explain new concepts before each unit. Progress tracking allows teachers to monitor CS standards and outcomes with weekly updates and reports. Pricing begins at $1,250/site and $30/student for classroom pricing. District Discounts available. | One free 30-minute PD session with any School plan purchase. Additional PD offerings include online and in person options. Customized to meet needs and goals, costs start at $1,500. Bi-Annual webinars for free users and School customers. |
| [Parallax Inc.](https://www.parallax.com/education/teach/program-options/elementary-school) | Pre-programmed and re-programmable educational robot that fits into a wide variety of program formats. Uses the visual BlocklyProp programming tool. Curriculum is FREE. Robot purchase required. | FREE in-person immersive single day trainings. Occasional live webinars. |
| [Project Lead The Way](https://www.pltw.org/our-programs/pltw-launch) | 6 10-hour computer science modules, $750/school  | Face-to-face and online, $700 for school-level lead teacher |
| [ScratchEd](http://scratched.gse.harvard.edu/guide) | A 6-unit intro to Scratch, FREE | In-person educator meet-ups and online MOOC, FREE |
| [Tynker](https://www.tynker.com/) | 1 FREE Starter course, 6 Visual Coding courses, 1 Lego WeDo coding course, 6 STEM courses. Each visual coding course has around 16 1-hour lessons. STEM courses include coding projects and quizzes in English, Math, Science, and Social Studies. Prices vary, district pricing available. | Free 1-hour online PD; custom online training solutions for schools and districts; $2,000/day for in-person PD. |
| [UC Davis C-STEM Center](http://c-stem.ucdavis.edu/) | Integrating coding into math education. Coding, robotics, math activities, and teaching resources for grades 1-6. Coding in Blockly and user-friendly C/C++ Interpreter Ch. Free teaching resources available including PDF textbooks.  School site licenses $600. | Nearly 100 free interactive and video tutorials. $150/day training held at UC Davis campus and nationwide. Costs vary for custom-tailored on-site training. |
| [Vidcode](https://www.vidcode.com/) | First course and teacher resources are free. Over 12 creative coding courses, 10 hours each, that teach JavaScript and computational thinking. Includes cross-disciplinary, interaction design, and game design courses. Unlimited classroom accounts starting at $299/year [https://www.vidcode.com/pay](https://www.vidcode.com/pay) | Free onboarding call, animated online PD course, $250/webinar, $3500/onsite PD |
| [Wonder Workshop](https://www.makewonder.com/classroom/curriculum/) | The Learn to Code curriculum for K-5 contains 6 levels. Each level has five 50-minute lessons and one Assessment lesson that is 2 hours for the first 2 levels and 2 days for the other levels. The Applied Robotics curriculum for K-8 contains 3 units. Each unit has 10 lessons that range from 40-60 minutes. Learn to Code Challenge Cards + Curriculum Guide: $99.99. Cue Applied Robotics Curriculum Guide: $79.99. Student Design Process Notebooks: $16.99. Code to Learn Cross-Curricular Library Subscription: $60 | Introduction to Coding and Robotics with Dash & Dot: $200. Introduction to Coding and Robotics with Cue: $200. Webinars: free |
<br />

<%= view :answerdash %>
