---
http_interactions:
- request:
    method: post
    uri: https://dynamodb.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"TableName":"test_tables","IndexName":"channel_id-table_name-index","KeyConditions":{"channel_id":{"AttributeValueList":[{"N":"1"}],"ComparisonOperator":"EQ"}},"AttributesToGet":["table_name"]}'
    headers:
      X-Amz-Target:
      - DynamoDB_20120810.Query
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - CD8JHJPDCO0NKUKI2DAU26QLUBVV4KQNSO5AEMVJF66Q9ASUAAJG
      X-Amz-Crc32:
      - '8729940'
      Content-Type:
      - application/x-amz-json-1.0
    body:
      encoding: UTF-8
      string: '{"Count":6,"Items":[{"table_name":{"S":"_testTable"}},{"table_name":{"S":"_testTable"}},{"table_name":{"S":"table1"}},{"table_name":{"S":"table1"}},{"table_name":{"S":"table2"}},{"table_name":{"S":"table2"}}],"ScannedCount":6}'
  recorded_at: Tue, 19 Jan 2016 00:10:39 GMT
recorded_with: VCR 3.0.0
