@import 'color.scss';

.summaryContainer {
  max-width: 970px;
  margin: auto;
}

.navLinks {
  padding-top: 12px;
  padding-bottom: 12px;

  a {
    text-decoration: underline;
  }

  a.navLinkLeft {
    float: left;
  }

  a.navLinkRight {
    float: right;
  }
}

h1,
h2 {
  color: $neutral_dark;
  margin-top: 32px;
  margin-bottom: 0.5em;
  line-height: 1.2;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 34px;
  border-bottom: 1px solid $neutral_dark20;
}

/* stylelint-disable selector-pseudo-class-no-unknown */
:global(.multi) h1,
:global(.multi) h2 {
  text-align: start;
}

.levelTitle,
.markdown h1,
.markdown h2,
:global(.markdown-container) h1,
:global(.markdown-container) h2,
:global(h1.no-underline),
:global(h2.no-underline) {
  border-bottom: unset;
}
/* stylelint-enable selector-pseudo-class-no-unknown */

p,
label,
ul,
ol,
li,
textarea {
  color: $neutral_dark;
  font-size: 16px;
  line-height: 24px;
}

label.sectionSelector {
  display: inline-block;
}

.toggleContainer {
  float: right;
}

[dir='rtl'] .toggleContainer {
  float: left;
}

.correctAnswersContainer {
  background: $neutral_light;
  border: 2px solid $neutral_dark20;
  border-radius: 4px;
  padding: 24px;
  margin-bottom: 24px;
}

.headerContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.studentName {
  min-height: 24px;
  margin: 0;
  font-size: 14px;
  font-weight: bold;

  p {
    margin: 0;
  }
}

.studentResponses {
  select {
    display: block;
  }

  .studentResponsesContent {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .studentResponseBlock {
    margin-bottom: 22px;
    // inline-block is necessary to prevent boxes from splitting across columns.
    display: inline-block;
    width: 100%;
  }

  .studentResponsesColumns {
    width: 100%;
    columns: 2 auto;
    column-gap: 48px;
    padding-top: 40px;
    padding-bottom: 12px;

  }

  .pinResponsesSection {
    display: flex;
    flex-direction: column;
  }

  .pinnedResponsesColumns {
    width: 100%;
    columns: 2 auto;
    column-gap: 48px;
    padding-bottom: 4px;
    border-bottom: 1px solid $light_gray_200;
  }

  .pinnedResponse {
    background-color: $light_secondary_500;
    p {
      color: $light_white;
    }
  }

  .pinResponsesHeader {
    display: flex;
    flex-direction: row;
    height: 42px;
    margin-bottom: 20px;
    margin-top: 20px;
    align-items: center;

    h3 {
      margin: 0;
      margin-inline-end: auto;
    }

    .pinHeaderIcon {
      color: $light_secondary_500;
      margin-inline-end: 8px;
      font-size: 20px;
    }
  }

  .unpinnedResponse {
    background-color: #F6EDFD;
  }

  .studentAnswer {
    width: 100%;
    box-sizing: border-box;
    border-radius: 4px;

    .studentAnswerInterior {
      padding: 12px;
      border-radius: 4px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 4px;
    }

    p {
      margin: 0;
    }

    .studentAnswerMenuButton {
      width: 26px;
      height: 26px;
    }

    .studentAnswerMenuButtonPinned {
      color: $light_white;

      &:hover {
        background-color: $light_secondary_700;
      }
    }

    .studentAnswerMenuDropdownContainer {
      position: relative;
      margin-inline-start: 8px;
    }

    .studentAnswerMenuDropdown {
      position: absolute;
      bottom: auto;
      right: 0;
      z-index: 1000;
      display: block;
      float: left;
      margin: 0.25rem 0;
      list-style: none;
      background-color: $light_white;
      border: 1px solid rgba(0 0 0 / 0.15);
      border-radius: 4px;
      -webkit-box-shadow: 0 6px 12px rgba(20 16 16 / 0.175);
      box-shadow: 0 6px 12px rgba(0 0 0 / 0.175);
      background-clip: padding-box;
      padding: 0.25rem 0 0.25rem;

      ul {
        margin: 0;
      }
    }

    & .dropdownOption {
      /* Reset's every elements apperance */
      background: none repeat scroll 0 0 transparent;
      border: none !important;
      border-radius: 2px;
      border-spacing: 0;
      margin: 0;
      text-decoration: none;
      text-indent: 0;
      box-shadow: none;
      width: 100%;
      padding: 5px 10px 5px 0;
      white-space: nowrap;

      display: flex;
      align-items: center;
      cursor: pointer;

      &:hover {
        background-color: $light_secondary_100;
      }

      &:focus-visible {
        outline: 2px solid $light_primary_500;
        outline-offset: -2px;
      }

      i {
        display: inline-block;
        min-width: 20px;
        max-width: 20px;
        margin: 0 8px;
      }
    }

    ul {
      li {
        list-style-type: none;
        display: flex;
        align-items: flex-end;
        align-self: stretch;
      }
    }
  }

  %students-submitted {
    height: 40px; // h2 line-height
    line-height: 40px; // h2 line-height
    position: relative;
    margin-top: -56px; // h2 height+margins
  }

  .studentsSubmittedLeft {
    @extend %students-submitted;
    float: left;
  }

  .studentsSubmittedRight {
    @extend %students-submitted;
    float: right;
  }

  .studentsSubmittedLeft span,
  .studentsSubmittedRight span {
    vertical-align: middle;
    line-height: 40px; // h2 line-height
  }

  /* stylelint-disable selector-pseudo-class-no-unknown */
  .studentsSubmittedLeft :global(.fa),
  .studentsSubmittedRight :global(.fa) {
    vertical-align: middle;
    padding: 0 8px;
    font-size: 24px;
    color: $brand_primary_default;
  }
  /* stylelint-enable selector-pseudo-class-no-unknown */
}

.multiChart {
  margin-bottom: 48px;
  clear: both;
}

// Hack to fix the annotation text color inside google charts.
// https://github.com/google/google-visualization-issues/issues/2103#issuecomment-1076466289
svg text[fill] {
  fill: $neutral_dark;
}

.predictMultipleChoiceLetter {
  font-weight: bold;
  margin-left: 4px;
  margin-right: 6px;
}
