-fb_acct = 'needcodeeu'
%iframe{allowtransparency: "true", frameborder: "0", scrolling: "no", src: "//www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2F#{fb_acct}&width&height=290&colorscheme=light&show_faces=true&header=true&stream=false&show_border=true&appId=500177453358606", style: "border:none; overflow:hidden; height:290px; margin-top: 40px;"}
