%footer#pagefooter
  .content
    %div{:style=>"float:left"}
      &copy; Code.org, 2014
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      -@config[:footer_links].each_with_index do |(title, link), index|
        - if index != 0
          &nbsp; &nbsp; | &nbsp; &nbsp;
        %a.whitefooterlink{:href=>link}= title
    %div{:style=>"float:right"}
      %a.whitefooterlink{:href=>"http://code.org/"}= @config[:us_site]