@import 'color.scss';
@import '@code-dot-org/component-library-styles/colors';
@import '@code-dot-org/component-library-styles/variables.scss';

.lessonDetailsWidget {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0.5rem;
  width: 100%;

  .lessonDetail {
    display: flex;
    flex-direction: row;
    flex-basis: 0%;
    flex-grow: 1;
    align-items: center;
    padding: 0.5rem;
    background-color: var(--background-neutral-primary);
    border-radius: $regular-border-radius;
    border-color: var(--borders-neutral-primary);

    i {
      font-size: 30px;
      padding-left: 0.25rem;
      padding-right: 0.75rem;
    }

    .lessonDetailLabelAndInfo {
      display: flex;
      flex-direction: column;
      justify-content: center;

      p {
        color: var(--text-neutral-tertiary);
      }

      .classAvgInfo {
        display: flex;
        flex-direction: row;
        gap: 0.25rem;
        align-items: center;

        i {
          padding-top: 2px;
          font-size: 12.5px;
        }
      }

      .aboveClassAvg > i {
        color: var(--sentiment-success-50);
      }

      .belowClassAvg > i {
        color: var(--sentiment-error-50);
      }
    }
  }
}

.greenCompletedText {
  h4 {
    color: var(--text-success-primary);
  }
}
