@import 'color.scss';

$preview-size: 280px;

.previewVisualization {
  width: $preview-size;
  height: $preview-size;
  background-color: $neutral_white;
}

:export {
  previewSize: $preview-size;
}
