@import 'color.scss';

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// Fade in for 1 seconds after a 1 second delay.
@keyframes appear1 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes center-to-left {
  0% {
    left: 50%;
  }
  100% {
    left: 5%;
  }
}

.dialog {
  max-width: initial !important;
  width: 800px !important;
  height: 380px;

  .innerArea {
    width: 100%;
    height: 100%;
    position: relative;
    user-select: none;

    .textArea {
      position: absolute;
      width: 100%;
      height: 20px;
      top: 10px;
      left: 0;
      text-align: center;
      font-size: 24px;
    }

    .inputsArea {
      position: absolute;
      width: calc(100% - 170px);
      height: 190px;
      top: 72px;
      left: 170px;

      .itemContainer {
        background-color: $neutral_dark10;
        border-radius: 4px;
        padding: 12px;
        height: 166px;
        animation: appear1 2s;

        .item {
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          width: 40px;
          height: 40px;
          margin: 8px;
          float: left;
          opacity: 0.3;

          &Available {
            cursor: pointer;
            opacity: 1;
          }
        }
      }
    }

    .promptArea {
      position: absolute;
      width: 100%;
      height: 70px;
      top: 260px;
      left: 0;
      pointer-events: none;

      .prompt {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        margin-top: 14px;

        .inputContainer {
          position: relative;
          margin: 0 4px;

          .arrowDown {
            position: absolute;
            top: -14px;
            margin-left: 18px;
            width: 0;
            height: 0;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-top: 14px solid $neutral_dark10;

            &FirstAppear {
              animation: appear1 2s;
            }
          }

          .inputBackground {
            background-color: $neutral_dark10;
            border-radius: 4px;
            width: 56px;
            height: 56px;
          }

          .inputItem {
            position: absolute;
            top: 0;
            left: 0;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            width: 40px;
            height: 40px;
            margin: 8px;
            pointer-events: all;
          }
        }
      }
    }

    .botArea {
      position: absolute;
      width: 100%;
      height: 200px;
      top: 60px;
      left: 0;
      pointer-events: none;

      .botContainer {
        flex: 0 0 140px;

        .bot {
          width: 110px;
          position: absolute;
          transform: translateX(-50%);

          &AppearCentered {
            left: 50%;
            animation: appear 2s;
          }

          &CenterToLeft {
            animation: center-to-left 1.75s;
            left: 5%;
          }

          &Left {
            left: 5%;
          }
        }

        .botBeam {
          top: 140px;
          left: 50%;
          width: 100px;
          position: absolute;
          transform: translateX(-50%);
        }
      }

      .spinner {
        position: absolute;
        top: 60px;
        left: calc(50% + 100px);
      }
    }

    .outputsArea {
      position: absolute;
      width: calc(100% - 340px);
      margin-left: 120px;
      height: 270px;
      top: 60px;
      left: 0;

      .pre {
        white-space: pre-wrap;
        word-break: initial;
        overflow: scroll;
        font-size: 14px;
      }

      .code {
        max-height: 80px;
      }

      .explanation {
        max-height: 60px;
      }
    }

    .previewArea {
      position: absolute;
      height: 100%;
      right: 0;
      display: flex;
      align-items: center;
      margin-top: 10px;
    }

    .buttonsArea {
      height: 44px;
      margin-top: auto;
      display: flex;
      align-items: flex-end;
      flex-direction: column;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;

      .button {
        font-size: 16px;
      }
    }
  }
}
