@import 'color.scss';
@import '../../mixins.scss';

$ai-block-color: rgb(86 96 101);
$ai-block-border-color: rgb(121 124 128);
$ai-block-inputs-color: rgb(63 68 75);
$ai-block-inputs-border-color: rgba(255 255 255 / 0.6);
$ai-modal-header-height: 50px;
$ai-modal-border-width: 8px;
$result-green: rgb(86 197 104);
$result-red: rgb(235 87 87);

@keyframes preview-right-to-normal {
  0% {
    left: 52%;
  }
  100% {
    left: 50%;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// Bot head opens for 1 second after a 1 second delay.
@keyframes bot-head-open {
  0%, 50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-60deg);
  }
}

// Bot head closes for 1 second after a 1 second delay.
@keyframes bot-head-close {
  0%, 50% {
    transform: rotate(-60deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

// Emoji moves across linearly but downwards with acceleration.
@keyframes flying-emoji-x {
  0% {
    left: 150px;
  }
  100% {
    left: 100px;
  }
}

@keyframes flying-emoji-y {
  0% {
    top: 0;
  }
  100% {
    top: 100px;
  }
}

// Fade in for 1 seconds after a 1 second delay.
@keyframes appear1 {
  0%,
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes center-to-left {
  0% {
    left: 50%;
  }
  100% {
    left: 10%;
  }
}

// 0.5 second pause, then scan over 2.5 seconds
@keyframes scan-left-to-right {
  0%,
  16.6% {
    left: calc(50% - 65px);
  }
  100% {
    left: calc(50% + 65px);
  }
}

@keyframes center-to-left {
  0% {
    left: calc(50% + 65px);
  }
  100% {
    left: 10%;
  }
}

@keyframes right-to-center {
  0% {
    left: 83%;
  }
  100% {
    left: 45%;
  }
}

.modalBackdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $black;
  opacity: 0.3;
  z-index: 1250;
}

.dialog {
  max-width: initial !important;
  width: 824px !important;
  height: 454px;
  padding: 0 !important;
  background-color: $ai-block-color !important;
  border: solid 1px $ai-block-border-color;

  .headerArea {
    width: calc(100% - 2 * $ai-modal-border-width);
    height: 50px;
    background-color: $ai-block-color;
    color: white;
    font-size: 16px;
    display: flex;
    align-items: center;
    padding: 0 $ai-modal-border-width;
    margin-top: $ai-modal-border-width;

    .botImage {
      width: 24px;
      margin: 0 18px 0 12px;
    }

    .inputsContainer {
      display: flex;
      padding: 5px;
      border-radius: 4px;
      gap: 6px;
      margin: 0 10px;
      background-color: $ai-block-inputs-color;
      border: solid 2px $ai-block-inputs-border-color;
      cursor: pointer;

      .emojiSlot {
        width: 35px;
        height: 35px;
        margin-right: 6px;

        &Icon {
          width: 35px;
          height: 35px;
          margin: 0;
        }
      }
    }

    &Right {
      margin-left: auto;

      .closeButton {
        background-color: initial;
        color: white;
        border: initial;

        &:hover {
          box-shadow: initial;
        }
      }
    }
  }

  .innerArea {
    margin: $ai-modal-border-width;
    // There is a border on the left and right.
    width: calc(100% - 2 * $ai-modal-border-width);
    // There is a border at the top and bottom, and a third between the header
    // and the inner area.
    height: calc(100% - $ai-modal-header-height - 3 * $ai-modal-border-width);
    position: relative;
    user-select: none;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: white;

    .toggleArea  {
      position: absolute;
      width: 40%;
      height: 100px;
      top: 10px;
      left: 50%;
      text-align: center;
      transform: translateX(-50%);
    }

    .textArea {
      position: absolute;
      width: 100%;
      height: 20px;
      bottom: 14px;
      left: 0;
      text-align: center;
      font-size: 18px;
    }

    .inputsArea {
      position: absolute;
      width: 305px;
      height: 190px;
      top: 22px;
      left: 320px;

      .item {
        opacity: 0.3;

        &Available {
          cursor: pointer;
          opacity: 1;
        }
      }
    }

    .botArea {
      position: absolute;
      width: 260px;
      height: 280px;
      top: 50px;
      left: 0;
      pointer-events: none;
      z-index: 1;

      .flyingEmoji {
        position: absolute;
        left: 110px;
        top: 100px;

        animation: flying-emoji-x 0.4s linear, flying-emoji-y 0.4s ease-in;
      }

      .botContainer {
        height: 260px;

        .botHead {
          width: 115px;
          left: 72px;
          position: absolute;
          top: 23px;
          transform-origin: bottom left;
          transition: transform 0.5s;
          transform: rotate(0deg);

          &Open {
            transform: rotate(-60deg);
          }
        }

        .botBody {
          width: 130px;
          transform: translateX(-50%);
          left: 50%;
          position: absolute;
          top: 100px;
        }

        animation: appear 0.5s;
        pointer-events: auto;

        &:hover {
          transform: scale(1.03, 1.03);
          transition: 0.1s ease-in-out;
        }
      }

      .score {
        position: absolute;
        left: 40px;
        top: 200px;

        .barContainer {
          background-color: rgb(56 55 55);
          width: 80px;
          height: 20px;
          position: relative;

          .barFill {
            position: absolute;
            top: 0;
            left: 0;
            height: 20px;
            background-color: rgb(16 189 233);
            transition: width 0.4s;
          }
        }

        .text {
          font-size: 24px;
          margin-top: 10px;
        }
      }
    }

    .outputsArea {
      position: absolute;
      display: flex;
      justify-content: center;
      width: 100%;
      height: 270px;
      top: 40px;
      left: 0;

      .blockPreview {
        position: absolute;
        transform: translateX(-50%);
        left: 45%;
        top: 60px;
        backface-visibility: hidden;
        transition: transform 0.8s;

        &Right {
          left: 83%;
        }

        &RightToCenter {
          animation: right-to-center 2s;
          left: 45%;
        }

        &Hide {
          transform: rotateY(180deg);
        }
      }
    }

    .previewArea {
      position: absolute;
      width: 500px;
      height: 280px;
      top: 40px;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      align-items: center;
      margin-top: 10px;
      animation: appear 0.7s, preview-right-to-normal 0.7s;

      .flipCard {
        position: absolute;
        top: 0;
        perspective: 1400px;
        width: 100%;
        height: 100%;

        &Inner {
          position: relative;
          width: 100%;
          height: 100%;
          transition: transform 0.8s;
          transform-style: preserve-3d;

          &Flipped {
            transform: rotateY(180deg);
          }
        }

        &Front, &Back {
          position: absolute;
          backface-visibility: hidden;
          left: 50%;
        }

        &Front {
          transform: translateX(-50%);
        }

        &Back {
          transform: rotateY(180deg) translateX(50%);
        }
      }
    }

    .explanationArea {
      position: absolute;
      display: flex;
      justify-content: center;
      width: 100%;
      height: 280px;
      top: 5px;
      left: 0;
    }

    .buttonsArea {
      height: 44px;
      margin-top: auto;
      display: flex;
      justify-content: flex-end;
      flex-direction: row;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;

      &Left {
        margin-right: auto;
      }
    }

    .buttonsAreaTop {
      position: absolute;
      top: 0;
      right: 0;
      width: 30%;
      display: flex;
      justify-content: flex-end;
    }
  }

  .button {
    font-size: 16px;

    &:disabled {
      pointer-events: none;
    }

    &NoMargin {
      margin: 0;
    }

    &SmallText {
      font-size: 12px;
    }

    &Icon {
      margin-right: 10px;
    }
  }
}

.emojiIcon {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: 40px;
  margin: 8px;

  &Button {
    @include remove-button-styles;
    width: 52px;
    height: 52px;
    margin: 4px;
    background-size: 40px;
    background-color: $neutral_light;
    border-radius: 4px;
    cursor: pointer;

    &Highlighted {
      background-color: $teal;
    }
  }
}
