@import 'color.scss';
@import '../../mixins.scss';

$ai-block-color: rgb(86 96 101);
$ai-block-border-color: rgb(121 124 128);
$ai-block-inputs-color: rgb(63 68 75);
$ai-block-inputs-border-color: rgba(255 255 255 / 0.6);;
$ai-modal-header-height: 50px;
$ai-modal-border-width: 8px;

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// Fade in for 1 seconds after a 1 second delay.
@keyframes appear1 {
  0%,
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes center-to-left {
  0% {
    left: 50%;
  }
  100% {
    left: 10%;
  }
}

// 0.5 second pause, then scan over 2.5 seconds
@keyframes scan-left-to-right {
  0%,
  16.6% {
    left: calc(50% - 65px);
  }
  100% {
    left: calc(50% + 65px);
  }
}

@keyframes center-to-left {
  0% {
    left: calc(50% + 65px);
  }
  100% {
    left: 10%;
  }
}

@keyframes right-to-center {
  0% {
    left: 83%;
  }
  100% {
    left: 45%;
  }
}

.modalBackdrop {
  background-color: initial;
}

.dialog {
  max-width: initial !important;
  width: 824px !important;
  height: 454px;
  padding: 0 !important;
  background-color: $ai-block-color !important;
  border: solid 1px $ai-block-border-color;

  .headerArea {
    width: calc(100% - 2 * $ai-modal-border-width);
    height: 50px;
    background-color: $ai-block-color;
    color: white;
    font-size: 16px;
    display: flex;
    align-items: center;
    padding: 0 $ai-modal-border-width;
    margin-top: $ai-modal-border-width;

    .botImage {
      width: 24px;
      margin: 0 18px 0 12px;
    }

    .inputsContainer {
      display: flex;
      padding: 5px;
      border-radius: 4px;
      gap: 6px;
      background-color: $ai-block-inputs-color;
      border: solid 2px $ai-block-inputs-border-color;

      .emojiSlot {
        width: 35px;
        height: 35px;
        margin-right: 6px;
      }
    }

    &Right {
      margin-left: auto;

      .closeButton {
        background-color: initial;
        color: white;
        border: initial;

        &:hover {
          box-shadow: initial;
        }
      }
    }
  }

  .innerArea {
    margin: $ai-modal-border-width;
    // There is a border on the left and right.
    width: calc(100% - 2 * $ai-modal-border-width);
    // There is a border at the top and bottom, and a third between the header
    // and the inner area.
    height: calc(100% - $ai-modal-header-height - 3 * $ai-modal-border-width);
    position: relative;
    user-select: none;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: white;

    .toggleArea  {
      position: absolute;
      width: 40%;
      height: 100px;
      top: 10px;
      left: 50%;
      text-align: center;
      transform: translateX(-50%);
    }

    .textArea {
      position: absolute;
      width: 100%;
      height: 20px;
      bottom: 14px;
      left: 0;
      text-align: center;
      font-size: 18px;
    }

    .inputsArea {
      position: absolute;
      width: 550px;
      height: 190px;
      top: 22px;
      left: 170px;

      .itemContainer {
        background-color: $neutral_dark10;
        border-radius: 4px;
        padding: 12px;
        height: 166px;
        animation: appear1 2s;

        .item {
          @include remove-button-styles;
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          width: 40px;
          height: 40px;
          margin: 8px;
          float: left;
          opacity: 0.3;

          &Available {
            cursor: pointer;
            opacity: 1;
          }
        }
      }
    }

    .promptArea {
      position: absolute;
      width: 100%;
      height: 70px;
      top: 210px;
      left: 0;
      pointer-events: none;

      .prompt {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        margin-top: 14px;

        .inputContainer {
          position: relative;
          margin: 0 4px;

          .arrowDown {
            position: absolute;
            top: -14px;
            margin-left: 18px;
            width: 0;
            height: 0;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-top: 14px solid $neutral_dark10;

            &FirstAppear {
              animation: appear1 2s;
            }
          }

          .inputBackground {
            background-color: $neutral_dark10;
            border-radius: 4px;
            width: 56px;
            height: 56px;
          }

          .inputItem {
            position: absolute;
            top: 0;
            left: 0;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            width: 40px;
            height: 40px;
            margin: 8px;
            pointer-events: all;
          }
        }
      }
    }

    .botArea {
      position: absolute;
      width: 100%;
      height: 200px;
      top: 10px;
      left: 0;
      pointer-events: none;
      z-index: 1;

      .botContainer {
        flex: 0 0 140px;

        .bot {
          position: absolute;
          transform: translateX(-50%);

          &AppearCentered {
            left: calc(50% - 65px);
            animation: appear 2s;
          }

          &ScanLeftToRight {
            animation: scan-left-to-right 3s;
            left: calc(50% + 65px);
          }

          &CenterToLeft {
            animation: center-to-left 1.75s;
            left: 10%;
          }

          &Left {
            left: 10%;
          }

          .image {
            position: relative;
            width: 110px;
            animation: appear1 0.5s;
            pointer-events: auto;

            &:hover {
              transform: scale(1.03, 1.03);
              transition: 0.1s ease-in-out;
            }
          }

          .beamImage {
            top: 140px;
            left: 50%;
            width: 100px;
            position: absolute;
            transform: translateX(-50%);
            animation: appear1 0.25s;
            display: none;

            &Visible {
              display: block;
            }
          }

          .sideBeamImage {
            top: 0;
            left: 90%;
            width: 100px;
            position: absolute;
            animation: appear1 .25s;
            rotate: 270deg;
          }
        }
      }
    }

    .outputsArea {
      position: absolute;
      display: flex;
      justify-content: center;
      width: 100%;
      height: 270px;
      top: 40px;
      left: 0;

      .blockPreview {
        position: absolute;
        transform: translateX(-50%);
        left: 45%;
        top: 60px;
        backface-visibility: hidden;
        transition: transform 0.8s;

        &Right {
          left: 83%;
        }

        &RightToCenter {
          animation: right-to-center 2s;
          left: 45%;
        }

        &Hide {
          transform: rotateY(180deg);
        }
      }
    }

    .previewArea {
      position: absolute;
      height: 280px;
      top: 40px;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      align-items: center;
      margin-top: 10px;
      animation: appear1 2s;
      backface-visibility: hidden;
      transition: transform 0.8s;

      &Hide {
        transform: rotateY(180deg);
      }

      .score {
        padding: 20px;

        .barContainer {
          background-color: rgb(56 55 55);
          width: 20px;
          height: 80px;
          position: relative;

          .barFill {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 20px;
            background-color: rgb(16 189 233);
          }
        }

        .text {
          font-size: 24px;
          margin-top: 10px;
        }
      }
    }

    .explanationArea {
      position: absolute;
      display: flex;
      justify-content: center;
      width: 100%;
      height: 280px;
      top: 5px;
      left: 0;
    }

    .buttonsArea {
      height: 44px;
      margin-top: auto;
      display: flex;
      justify-content: flex-end;
      flex-direction: row;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;

      &Left {
        margin-right: auto;
      }
    }

    .buttonsAreaTop {
      position: absolute;
      top: 0;
      right: 0;
      width: 30%;
      display: flex;
      justify-content: flex-end;
    }
  }

  .button {
    font-size: 16px;

    &NoMargin {
      margin: 0;
    }

    &SmallText {
      font-size: 12px;
    }
  }
}
