%ul#navigation
  %li
    %a{href:'/'} Home
    -if user
      %li
        %a{href:'/users'} Users
      %li
        %a{href:'/settings'} Settings
      %li
        %a{href:'/signout'} Sign out
    -else
      %li
        %a{href:'/signin'} Sign in
