%input
%div#pasteTarget{style:"width: 200px; height: 200px; background: grey"}
  Click and paste an image here.

:javascript
  $(document).ready(function() {
    $("#pasteTarget")[0].addEventListener("paste", handlePaste)
  });
  
  function handlePaste(e) {
    if(e.srcElement.id == 'pasteTarget') {
      for(var i = 0 ; i < e.clipboardData.items.length ; i++) {
        var item = e.clipboardData.items[i];
        console.log("Item type: " + item.type);
        if (item.type.indexOf("image") != -1) {
          uploadFile(item.getAsFile());
        } else {
          console.log("Discarding non-image paste data");
        }
      }
    
      e.preventDefault();
    }
  };

  function uploadFile(file) {
    var reader = new FileReader();
    reader.onload = function(event) {
      var data_url = event.target.result;
      console.log('url(' + data_url + ')');
      $("#pasteTarget").css('background-image', 'url(' + data_url + ')');
    }; // data url!
    reader.readAsDataURL(file);
  
    /*
    var xhr = new XMLHttpRequest();

    xhr.upload.onprogress = function(e) {
      var percentComplete = (e.loaded / e.total) * 100;
      console.log("Uploaded: " + percentComplete + "%");
    };

    xhr.onload = function() {
      if (xhr.status == 200) {
        alert("Sucess! Upload completed");
      } else {
        alert("Error! Upload failed");
      }
    };

    xhr.onerror = function() {
      alert("Error! Upload failed. Can not connect to server.");
    };

    xhr.open("POST", "FileUploader", true);
    xhr.setRequestHeader("Content-Type", file.type);
    xhr.send(file);
    */
  };
  