%table
  %tr
    %th
      %h3 Pivotal Tracker
    %td
      -if pivotaltracker_integrated?
        %p
          %a{href:'/disintegrate/pivotaltracker'} Disconnect
      -else
        %p
          %a{href:'/integrate/pivotaltracker'} Connect to Pivotal Tracker