-row = database[:users].where(email:email.to_s.downcase.strip).first
-pass unless row
-profile = JSON.parse(row[:google_oauth2])['info']
-image = profile['image'] || '/images/user_default_image.jpg'

%img{src:image}
%h2= profile['name']
%p= profile['email']
