%h2= heading
%p= desc
.action-block__wrapper.action-block__wrapper--three-col
  .action-block.action-block--one-col.secondary.flex-space-between
    .content-wrapper
      %h3=hoc_s(:pl_self_paced_learning_heading)
      %p=hoc_s(:pl_self_paced_learning_desc)
    .content-footer
      %a.link-button.secondary{href: "/educate/professional-development-online"}
        =hoc_s(:call_to_action_explore_self_paced_learning)
  .action-block.action-block--one-col.secondary.flex-space-between
    .content-wrapper
      %h3=hoc_s(middle_high ? :pl_elementary_workshops_heading : "pl_page_k5.additional_offerings.workshop_6_12.title")
      %p=hoc_s(middle_high ? :pl_elementary_workshops_desc : "pl_page_k5.additional_offerings.workshop_6_12.desc")
    .content-footer
      %a.link-button.secondary{href: middle_high ? "/professional-learning/elementary" : "/educate/professional-learning/middle-high"}
        =hoc_s(middle_high ? :call_to_action_explore_k_5_workshops : "pl_page_k5.additional_offerings.workshop_6_12.button")
  .action-block.action-block--one-col.secondary.flex-space-between
    .content-wrapper
      %h3=hoc_s(:pl_outside_us_heading)
      %p=hoc_s(:pl_outside_us_desc)
    .content-footer
      %a.link-button.secondary{href: "/professional-learning/international"}
        =hoc_s(:call_to_action_for_intl_educators)
