- intl_partners = DB[:cdo_international_professional_learning_partners].all

.table-wrapper
  %table
    %thead
      %tr
        %th=hoc_s("intl_pl_partners_page.table.country")
        %th=hoc_s("intl_pl_partners_page.table.organization")
        %th=hoc_s("intl_pl_partners_page.table.description")
        %th=hoc_s("intl_pl_partners_page.table.contact")
    %tbody
      - intl_partners.each do |value|
        %tr
          %td=value[:country_s]
          %td=value[:organization_s]
          %td=value[:description_t]
          %td
            - if value[:url_email_s]
              %a{href: value[:url_email_s]}
                = value[:url_email_s]
            - if value[:url_site_s]
              %a{href: value[:url_site_s]}
                = value[:url_site_s]
