:scss
  p.body-three a {
    color: var(--neutral_white);
    &:hover { color: var(--neutral_dark10); }
  }

%div.subscribe-form.no-bg.flex-container.justify-space-between.align-items-center.wrap{style: "padding: 0"}
  .text-wrapper
    %h2=hoc_s("intl_pl_page.subscribe.heading")
    %p=hoc_s("intl_pl_page.subscribe.desc")
    %p.body-three
      %em
        =hoc_s("intl_pl_page.subscribe.disclaimer")
  %figure.col-50
    %iframe{allowtransparency: "true", frameborder: "0", height: "400", src: "https://go.pardot.com/l/153401/2018-07-20/lfw71d", style: "border: 0", type: "text/html", width: "100%"}
