:ruby
  block_items = [
    {
      overline: hoc_s("pl_page_k5.workshops.intro.overline"),
      title: hoc_s("pl_page_k5.workshops.intro.title"),
      desc: hoc_s("pl_page_k5.workshops.intro.desc"),
    },
    {
      overline: hoc_s("pl_page_k5.workshops.deep_dive.overline"),
      title: hoc_s("pl_page_k5.workshops.deep_dive.title"),
      desc: hoc_s("pl_page_k5.workshops.deep_dive.desc"),
    },
  ]

.action-block__wrapper.action-block__wrapper--two-col
  - block_items.each do |block_item|
    .action-block.action-block--one-col.flex-space-between.white
      .content-wrapper
        %p.overline
          = block_item[:overline]
        %h3
          = block_item[:title]
        %p
          = block_item[:desc]
