- list_k_5 = [hoc_s("pl_page.journey.led_by_facilitator"), hoc_s("pl_page.journey.engage_with_peers"), hoc_s("pl_page.journey.options"), hoc_s("pl_page.journey.one_day_workshop"), hoc_s("pl_page.journey.us_only")]

- list_6_12 = [hoc_s("pl_page.journey.led_by_facilitator"), hoc_s("pl_page.journey.engage_with_peers"), hoc_s("pl_page.journey.options"), hoc_s("pl_page.journey.year_long"), hoc_s("pl_page.journey.us_only")]

- self_paced_list = [hoc_s("pl_page.journey.free"), hoc_s("pl_page.journey.own_pace"), hoc_s("pl_page.journey.online_modules"), hoc_s("pl_page.journey.available_everywhere")]

.journey-wrapper.flex-container.gap-1
  .facilitator-led-wrapper
    %h3.heading-xs
      =hoc_s("pl_page.journey.facilitator_led")
    .flex-container
      = view :"professional_learning/pl_page_journey_block", wrapper_class: "k-5", title: hoc_s("pl_page.journey.k_5.title"), desc: hoc_s("pl_page.journey.k_5.desc"), list: list_k_5, button_url: "/professional-development-workshops", button_label: hoc_s("pl_page.journey.button_k_5")

      = view :"professional_learning/pl_page_journey_block", wrapper_class: "mid-high", title: hoc_s("pl_page.journey.mid_high.title"), desc: hoc_s("pl_page.journey.mid_high.desc"), list: list_6_12, button_url: "/educate/professional-learning/middle-high", button_label: hoc_s("pl_page.journey.button_6_12")

  .self-paced-wrapper.flex-container.flex-direction-column
    %h3.heading-xs
      =hoc_s("pl_page.journey.self_paced")
    = view :"professional_learning/pl_page_journey_block", wrapper_class: "self-paced justify-space-between", title: hoc_s("pl_page.journey.online.title"), desc: hoc_s("pl_page.journey.online.desc"), list: self_paced_list, button_url: "/educate/professional-development-online", button_label: hoc_s("pl_page.journey.button_self_paced")

%p.body-three{style: "max-width: 95%;"}
  %strong *
  =hoc_s("pl_page.journey.disclaimer", markdown: :inline, locals: {learn_more_url: "professional-learning/international-partners"})
