:ruby
  card_item = [
    {
      image: "/images/editorial-card-intl.png",
      title: hoc_s("pl_page.resources.intl.title"),
      desc: hoc_s("pl_page.resources.intl.desc"),
      url: "/professional-learning/international",
      button_label: hoc_s("pl_page.resources.intl.button"),
    },
    {
      image: "/images/editorial-card-teacher-forum.png",
      title: hoc_s("pl_page.resources.community.title"),
      desc: hoc_s("pl_page.resources.community.desc"),
      url: "https://forum.code.org",
      button_label: hoc_s("pl_page.resources.community.button"),
    },
    {
      image: "/images/editorial-card-support.png",
      title: hoc_s("pl_page.resources.support.title"),
      desc: hoc_s("pl_page.resources.support.desc"),
      url: "https://support.code.org",
      button_label: hoc_s("pl_page.resources.support.button"),
    },
  ]

%div.editorial-cards-wrapper
  - card_item.each do |card_item|
    .flex-container.justify-space-between.align-content-baseline.wrap
      .content-wrapper
        %img{src: card_item[:image], alt: "", style: "margin-bottom: 1.5rem"}
        %h3.heading-sm
          = card_item[:title]
        %p.no-margin-bottom
          = card_item[:desc]
      .content-footer
        %a.link-button{href: card_item[:url]}
          = card_item[:button_label]
