-# FontAwesome icons
- icon_check = "fa-solid fa-check-circle"

:ruby
  list_item = [hoc_s("pl_page.top_list_01"), hoc_s("pl_page.top_list_02"), hoc_s("pl_page.top_list_03"), hoc_s("pl_page.top_list_04")]

%ul.clear-styles
  - list_item.each do |item|
    %li
      %p.heading-xs
        %i{class: "#{icon_check}"}
        = item
