%h2=hoc_s(:heading_have_questions)
.action-block.action-block--two-col
  .text-wrapper.col-50
    %p=hoc_s(:pl_regional_partner_desc)
    = view :professional_development_workshops_regional_partner_search
    %a.link-button.secondary.has-external-link{href: "https://support.code.org/", target: "_blank", rel: "noopener noreferrer"}
      =hoc_s(:call_to_action_visit_support_center)
  .media-wrapper.right.col-50
    %img{src: "/images/professional-learning/pl-teachers-talking.png", alt: ""}
.clear
