%script{src: webpack_asset_path("js/#{js_locale}/common_locale.js")}
%script{src: webpack_asset_path('js/certificates/batch.js'), data: {certificate: @certificate_data.to_json}}
%link{href: asset_path('css/certificates.css'), rel: 'stylesheet', type: 'text/css'}

#certificate-batch
