/*
 * ==========================================================
 * Grid
 * ==========================================================
 */

.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, 
.grid-11, .grid-12, .grid-13, .grid-14, .grid-15, .grid-16, .grid-17, .grid-18, .grid-19, 
.grid-20, .grid-21, .grid-22, .grid-23, .grid-24 {
  float: right;
}

/*
 * ==========================================================
 * Alpha - Omega
 * ==========================================================
 */

.omega {
  margin-right: 10px;
  margin-left: 0 !important;
}

.alpha {
  margin-left: 10px;
  margin-right: 0 !important;
}

/*
 * ==========================================================
 * Container
 * ==========================================================
 */

.container-24 .prefix-1 {
  padding-left: 0;
  padding-right: 50px;
}

.container-24 .prefix-2 {
  padding-left: 0;
  padding-right: 100px;
}

.container-24 .prefix-3 {
  padding-left: 0;
  padding-right: 150px;
}

.container-24 .prefix-4 {
  padding-left: 0;
  padding-right: 200px;
}

.container-24 .prefix-5 {
  padding-left: 0;
  padding-right: 250px;
}

.container-24 .prefix-6 {
  padding-left: 0;
  padding-right: 300px;
}

.container-24 .prefix-7 {
  padding-left: 0;
  padding-right: 350px;
}

.container-24 .prefix-8 {
  padding-left: 0;
  padding-right: 400px;
}

.container-24 .prefix-9 {
  padding-left: 0;
  padding-right: 450px;
}

.container-24 .prefix-10 {
  padding-left: 0;
  padding-right: 500px;
}

.container-24 .prefix-11 {
  padding-left: 0;
  padding-right: 550px;
}

.container-24 .prefix-12 {
  padding-left: 0;
  padding-right: 600px;
}

.container-24 .prefix-13 {
  padding-left: 0;
  padding-right: 650px;
}

.container-24 .prefix-14 {
  padding-left: 0;
  padding-right: 700px;
}

.container-24 .prefix-15 {
  padding-left: 0;
  padding-right: 750px;
}

.container-24 .prefix-16 {
  padding-left: 0;
  padding-right: 800px;
}

.container-24 .prefix-17 {
  padding-left: 0;
  padding-right: 850px;
}

.container-24 .prefix-18 {
  padding-left: 0;
  padding-right: 900px;
}

.container-24 .prefix-19 {
  padding-left: 0;
  padding-right: 950px;
}

.container-24 .prefix-20 {
  padding-left: 0;
  padding-right: 1000px;
}

.container-24 .prefix-21 {
  padding-left: 0;
  padding-right: 1050px;
}

.container-24 .prefix-22 {
  padding-left: 0;
  padding-right: 1100px;
}

.container-24 .prefix-23 {
  padding-left: 0;
  padding-right: 1150px;
}

/*
 * ==========================================================
 * Container
 * ==========================================================
 */

.container-24 .suffix-1 {
  padding-right: 0;
  padding-left: 50px;
}

.container-24 .suffix-2 {
  padding-right: 0;
  padding-left: 100px;
}

.container-24 .suffix-3 {
  padding-right: 0;
  padding-left: 150px;
}

.container-24 .suffix-4 {
  padding-right: 0;
  padding-left: 200px;
}

.container-24 .suffix-5 {
  padding-right: 0;
  padding-left: 250px;
}

.container-24 .suffix-6 {
  padding-right: 0;
  padding-left: 300px;
}

.container-24 .suffix-7 {
  padding-right: 0;
  padding-left: 350px;
}

.container-24 .suffix-8 {
  padding-right: 0;
  padding-left: 400px;
}

.container-24 .suffix-9 {
  padding-right: 0;
  padding-left: 450px;
}

.container-24 .suffix-10 {
  padding-right: 0;
  padding-left: 500px;
}

.container-24 .suffix-11 {
  padding-right: 0;
  padding-left: 550px;
}

.container-24 .suffix-12 {
  padding-right: 0;
  padding-left: 600px;
}

.container-24 .suffix-13 {
  padding-right: 0;
  padding-left: 650px;
}

.container-24 .suffix-14 {
  padding-right: 0;
  padding-left: 700px;
}

.container-24 .suffix-15 {
  padding-right: 0;
  padding-left: 750px;
}

.container-24 .suffix-16 {
  padding-right: 0;
  padding-left: 800px;
}

.container-24 .suffix-17 {
  padding-right: 0;
  padding-left: 850px;
}

.container-24 .suffix-18 {
  padding-right: 0;
  padding-left: 900px;
}

.container-24 .suffix-19 {
  padding-right: 0;
  padding-left: 950px;
}

.container-24 .suffix-20 {
  padding-right: 0;
  padding-left: 1000px;
}

.container-24 .suffix-21 {
  padding-right: 0;
  padding-left: 1050px;
}

.container-24 .suffix-22 {
  padding-right: 0;
  padding-left: 1100px;
}

.container-24 .suffix-23 {
  padding-right: 0;
  padding-left: 1150px;
}

/*
 * ==========================================================
 * Container
 * ==========================================================
 */

.container-24 .push-1 {
  right: 50px;
}

.container-24 .push-2 {
  right: 100px;
}

.container-24 .push-3 {
  right: 150px;
}

.container-24 .push-4 {
  right: 200px;
}

.container-24 .push-5 {
  right: 250px;
}

.container-24 .push-6 {
  right: 300px;
}

.container-24 .push-7 {
  right: 350px;
}

.container-24 .push-8 {
  right: 400px;
}

.container-24 .push-9 {
  right: 450px;
}

.container-24 .push-10 {
  right: 500px;
}

.container-24 .push-11 {
  right: 550px;
}

.container-24 .push-12 {
  right: 600px;
}

.container-24 .push-13 {
  right: 650px;
}

.container-24 .push-14 {
  right: 700px;
}

.container-24 .push-15 {
  right: 750px;
}

.container-24 .push-16 {
  right: 800px;
}

.container-24 .push-17 {
  right: 850px;
}

.container-24 .push-18 {
  right: 900px;
}

.container-24 .push-19 {
  right: 950px;
}

.container-24 .push-20 {
  right: 1000px;
}

.container-24 .push-21 {
  right: 1050px;
}

.container-24 .push-22 {
  right: 1100px;
}

.container-24 .push-23 {
  right: 1150px;
}

/*
 * ==========================================================
 * Container
 * ==========================================================
 */

.container-24 .pull-1 {
  right: -50px;
}

.container-24 .pull-2 {
  right: -100px;
}

.container-24 .pull-3 {
  right: -150px;
}

.container-24 .pull-4 {
  right: -200px;
}

.container-24 .pull-5 {
  right: -250px;
}

.container-24 .pull-6 {
  right: -300px;
}

.container-24 .pull-7 {
  right: -350px;
}

.container-24 .pull-8 {
  right: -400px;
}

.container-24 .pull-9 {
  right: -450px;
}

.container-24 .pull-10 {
  right: -500px;
}

.container-24 .pull-11 {
  right: -550px;
}

.container-24 .pull-12 {
  right: -600px;
}

.container-24 .pull-13 {
  right: -650px;
}

.container-24 .pull-14 {
  right: -700px;
}

.container-24 .pull-15 {
  right: -750px;
}

.container-24 .pull-16 {
  right: -800px;
}

.container-24 .pull-17 {
  right: -850px;
}

.container-24 .pull-18 {
  right: -900px;
}

.container-24 .pull-19 {
  right: -950px;
}

.container-24 .pull-20 {
  right: -1000px;
}

.container-24 .pull-21 {
  right: -1050px;
}

.container-24 .pull-22 {
  right: -1100px;
}

.container-24 .pull-23 {
  right: -1150px;
}
