/*
 * ==========================================================
 * Grid
 * ==========================================================
 */

.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, 
.grid-11, .grid-12, .grid-13, .grid-14, .grid-15, .grid-16 {
  display: inline;
  float: left;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
}

.push-1, .pull-1, .push-2, .pull-2, .push-3, .pull-3, .push-4, .pull-4,
.push-5, .pull-5, .push-6, .pull-6, .push-7, .pull-7, .push-8, .pull-8,
.push-9, .pull-9, .push-10, .pull-10, .push-11, .pull-11, .push-12, .pull-12,
.push-13, .pull-13, .push-14, .pull-14, .push-15, .pull-15, .push-16, .pull-16 {
  position: relative;
}

/*
 * ==========================================================
 * Alpha - Omega
 * ==========================================================
 */

.alpha {
  margin-left: 0;
}

.omega {
  margin-right: 0;
}

/*
 * ==========================================================
 * Container
 * ==========================================================
 */

body {
  min-width: 1200px;
}

.container-16 {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
}

/*
 * ==========================================================
 * Columns
 * ==========================================================
 */

.container-16 .grid-1 {
  width: 55px;
}

.container-16 .grid-2 {
  width: 130px;
}

.container-16 .grid-3 {
  width: 205px;
}

.container-16 .grid-4 {
  width: 280px;
}

.container-16 .grid-5 {
  width: 355px;
}

.container-16 .grid-6 {
  width: 430px;
}

.container-16 .grid-7 {
  width: 505px;
}

.container-16 .grid-8 {
  width: 580px;
}

.container-16 .grid-9 {
  width: 655px;
}

.container-16 .grid-10 {
  width: 730px;
}

.container-16 .grid-11 {
  width: 805px;
}

.container-16 .grid-12 {
  width: 880px;
}

.container-16 .grid-13 {
  width: 955px;
}

.container-16 .grid-14 {
  width: 1030px;
}

.container-16 .grid-15 {
  width: 1105px;
}

.container-16 .grid-16 {
  width: 1180px;
}

/*
 * ==========================================================
 * Prefix
 * ==========================================================
 */

.container-16 .prefix-1 {
  padding-left: 75px;
}

.container-16 .prefix-2 {
  padding-left: 150px;
}

.container-16 .prefix-3 {
  padding-left: 225px;
}

.container-16 .prefix-4 {
  padding-left: 300px;
}

.container-16 .prefix-5 {
  padding-left: 375px;
}

.container-16 .prefix-6 {
  padding-left: 450px;
}

.container-16 .prefix-7 {
  padding-left: 525px;
}

.container-16 .prefix-8 {
  padding-left: 600px;
}

.container-16 .prefix-9 {
  padding-left: 675px;
}

.container-16 .prefix-10 {
  padding-left: 750px;
}

.container-16 .prefix-11 {
  padding-left: 825px;
}

.container-16 .prefix-12 {
  padding-left: 900px;
}

.container-16 .prefix-13 {
  padding-left: 975px;
}

.container-16 .prefix-14 {
  padding-left: 1050px;
}

.container-16 .prefix-15 {
  padding-left: 1125px;
}

/*
 * ==========================================================
 * Suffix
 * ==========================================================
 */

.container-16 .suffix-1 {
  padding-right: 75px;
}

.container-16 .suffix-2 {
  padding-right: 150px;
}

.container-16 .suffix-3 {
  padding-right: 225px;
}

.container-16 .suffix-4 {
  padding-right: 300px;
}

.container-16 .suffix-5 {
  padding-right: 375px;
}

.container-16 .suffix-6 {
  padding-right: 450px;
}

.container-16 .suffix-7 {
  padding-right: 525px;
}

.container-16 .suffix-8 {
  padding-right: 600px;
}

.container-16 .suffix-9 {
  padding-right: 675px;
}

.container-16 .suffix-10 {
  padding-right: 750px;
}

.container-16 .suffix-11 {
  padding-right: 825px;
}

.container-16 .suffix-12 {
  padding-right: 900px;
}

.container-16 .suffix-13 {
  padding-right: 975px;
}

.container-16 .suffix-14 {
  padding-right: 1050px;
}

.container-16 .suffix-15 {
  padding-right: 1125px;
}

/*
 * ==========================================================
 * Push
 * ==========================================================
 */

.container-16 .push-1 {
  left: 75px;
}

.container-16 .push-2 {
  left: 150px;
}

.container-16 .push-3 {
  left: 225px;
}

.container-16 .push-4 {
  left: 300px;
}

.container-16 .push-5 {
  left: 375px;
}

.container-16 .push-6 {
  left: 450px;
}

.container-16 .push-7 {
  left: 525px;
}

.container-16 .push-8 {
  left: 600px;
}

.container-16 .push-9 {
  left: 675px;
}

.container-16 .push-10 {
  left: 750px;
}

.container-16 .push-11 {
  left: 825px;
}

.container-16 .push-12 {
  left: 900px;
}

.container-16 .push-13 {
  left: 975px;
}

.container-16 .push-14 {
  left: 1050px;
}

.container-16 .push-15 {
  left: 1125px;
}

/*
 * ==========================================================
 * Pull
 * ==========================================================
 */

.container-16 .pull-1 {
  left: -75px;
}

.container-16 .pull-2 {
  left: -150px;
}

.container-16 .pull-3 {
  left: -225px;
}

.container-16 .pull-4 {
  left: -300px;
}

.container-16 .pull-5 {
  left: -375px;
}

.container-16 .pull-6 {
  left: -450px;
}

.container-16 .pull-7 {
  left: -525px;
}

.container-16 .pull-8 {
  left: -600px;
}

.container-16 .pull-9 {
  left: -675px;
}

.container-16 .pull-10 {
  left: -750px;
}

.container-16 .pull-11 {
  left: -825px;
}

.container-16 .pull-12 {
  left: -900px;
}

.container-16 .pull-13 {
  left: -975px;
}

.container-16 .pull-14 {
  left: -1050px;
}

.container-16 .pull-15 {
  left: -1125px;
}
