@import "../responsive-visualization";

#codeWorkspace .injectionDiv {
  position: absolute;
  top: 30px;
  right: 0;
  bottom: 0;
  left: 0;
  height: calc(100% - 30px);
}

#headers #toolbox-header {
  width: 250px;
}

@mixin visualization-width($width) {
  @include visualization-width-height-original($width, 0.75 * $width, 480px);
}

@media screen and (min-width: 1151px) {
  @include visualization-width(480px);
}

@media screen and (min-width: 1101px) and (max-width: 1150px) {
  @include visualization-width(420px);
}

@media screen and (min-width: 1051px) and (max-width: 1100px) {
  @include visualization-width(360px);
}

@media screen and (min-width: 1001px) and (max-width: 1050px) {
  @include visualization-width(300px);
}

@media screen and (max-width: 1000px) {
  @include visualization-width(240px);
}

.scratchCategoryMenu {
  background-color: rgba(221, 221, 221, 0.8);
  .categorySelected {
    background-color: #57e;
    color: #fff;
  }
  .categorySelected:hover {
    color: #fff !important;
  }
}
