.container {
  // Align the top of the buttons with the top of the SectionAssigner dropdown
  // to its left.
  padding-top: 38px;
}

.infoTipIcon {
  cursor: pointer;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 18px;
  vertical-align: middle;
  color: gray;
}
