%h3 COVID-19 precautions

%p
  In light of the global situation surrounding the COVID-19 virus, we understand that traveling and
  gathering for a workshop may be cause for anxiety or concern for teachers registered for upcoming
  Code.org workshops. We encourage you to refer to the
  = link_to 'Centers for Disease Control and Prevention', 'https://www.cdc.gov/', target: '_blank', rel: "noopener noreferrer"
  (CDC) for the most up-to-date recommendations. Your regional partner will do the same when
  evaluating whether to host your workshops as planned.

%p
  Our workshops are highly interactive. If you are feeling ill, or show any flu-like symptoms such
  as a fever or cough, please inform your Regional Partner.
