%h4
  Check out the CS Discoveries Curriculum Guide (20 mins)
%p
  The
  = link_to 'Curriculum Guide for CS Discoveries', 'https://docs.google.com/document/d/19Hne2rEZrvWA8OcsLpt9ShpkPzKKlxYnj-_cIfLwHwI/edit', target: '_blank'
  is an important resource for this
  course that contains information about the classroom and student practices that flow
  throughout the course, overviews of each unit, descriptions of the tools used
  throughout the course, implementation considerations, and more! To prepare for your
  workshop, we recommend that you review the following sections:

%ul
  %li
    %b Code.org Values and Philosophy
    — Our values permeate and drive the creation of every lesson we write.
    When we design learning experiences, we draw from a variety of teaching and learning
    strategies all with the goal of constructing an equitable and engaging learning
    environment.
  %li
    %b Instructional Strategies
    — We believe the instructional strategies listed in this section lead to
    positive classroom culture and ultimately student learning.
  %li
    %b Problem Solving Process
    — Our Problem Solving Process is a tool for structured problem solving that
    we have woven throughout the entire course to promote student growth and development.
  %li
    %b Curriculum Overview and Goals
    — Learn more about what’s going on in the curriculum and what we hope
    your students will learn throughout the year.
