%h4
  Check out the CS Discoveries Curriculum (optional)
%p
  If you want to begin exploring CS Discoveries, you’re welcome to
  = link_to 'check out the curriculum.', 'https://studio.code.org/courses/csd', target: '_blank', rel: "noopener noreferrer"
%p
  There is no requirement that you are familiar with the course before you join the workshop
  – we will walk you through what you need to know in our time together.
