%p
  Please remember that this workshop is for educators who are already using the CS Fundamentals curriculum in their classroom.
  If you have not used CS Fundamentals with students yet, or don’t plan to do so before this workshop, please sign up for a
  = link_to 'CS Fundamentals Intro workshop', 'https://code.org/professional-development-workshops'
  to help you get started.
