%h4
  Check out the CS Principles Curriculum Guide (15 mins)
%p
  The 2018-19 Curriculum Guide for CS Principles is an important resource for this
  course that contains information about the classroom and student practices that flow
  throughout the course, overviews of each unit, descriptions of the tools used
  throughout the course, implementation considerations, and more! To prepare for your
  workshop, we recommend that you review the following sections:
%ul
  %li
    = link_to 'Code.org Values and Philosophy', 'https://docs.google.com/document/d/1COu_fLJmAB4TAwvz1OC8G6mezYQ4T3Oift1pARKIs90/edit#heading=h.mtkek5anu06r', target: "_blank"
    (pages 2-3) — Our values permeate and drive the creation of every lesson we write.
    When we design learning experiences, we draw from a variety of teaching and learning
    strategies all with the goal of constructing an equitable and engaging learning
    environment.
  %li
    = link_to 'Instructional Strategies', 'https://docs.google.com/document/d/1COu_fLJmAB4TAwvz1OC8G6mezYQ4T3Oift1pARKIs90/edit#heading=h.xbvgs2732c34', target: "_blank"
    (pages 4-9) — We believe the instructional strategies listed in this section lead to
    positive classroom culture and ultimately student learning.
  %li
    = link_to 'Curriculum Overview and Goals', 'https://docs.google.com/document/d/1COu_fLJmAB4TAwvz1OC8G6mezYQ4T3Oift1pARKIs90/edit#heading=h.121itm2pggif', target: "_blank"
    (page 11) — Learn more about what’s going on in the curriculum and what we hope your
    students will learn throughout the year.

%h4
  Dive into AP CS Principles! (45 mins)
%p
  Watch this required
  = link_to 'series of videos', 'http://apcentral.collegeboard.com/apc/public/courses/231569.html', target: "_blank"
  from the College Board for useful context about how AP CS Principles came to be,
  the goals of the course, and how it was constructed.
  %i
    If you don’t plan to teach this as an AP course, that’s ok! We still recommend
    watching most of the videos, and skipping sections 3 (Assessment) and 5 (AP Course
    Audit).
