%h4
  Teaching CS Principles as an AP course?  Complete the audit! (45 min)
%p
  If you are teaching the course as an AP course,
  =link_to 'click here', 'https://docs.google.com/document/d/16NUJI14JUw3fMDBS2FpiKWwlu9bFBE86BkvNz2SEh6Y/edit', target: '_blank', rel: "noopener noreferrer"
  for step-by-step instructions to guide you through the College Board’s Course Audit process.
%p
  Be sure to also check out the College Board’s AP Classroom Teacher Tutorials. To explore these
  materials, log into your AP Classroom, then click on the "Help" drop down, where you’ll find FAQs,
  the Educator Guides, and video tutorials.
%p
  %strong Not sure if you are teaching CS Principles as an AP class?
  That’s totally fine! Feel free to wait to complete this pre-work until you have a chance to learn more
  or talk with other teachers and facilitators about the decision. You may complete this work at a later time also.

%h4
  Check out the CS Principles Curriculum (optional)
%p
  If you want to begin exploring CS Principles, you’re welcome to
  = link_to 'check out the curriculum.', 'https://studio.code.org/courses/csp', target: '_blank', rel: "noopener noreferrer"
%p
  There is no requirement that you are familiar with the course before you join the workshop
  – we will walk you through what you need to know in our time together.
