%h3
  Technology Requirements

%p
  This workshop requires you to bring your own laptop. Review
  = link_to 'this page', Pd::WorkshopMailer::SUPPORTED_TECH_URL
  for more information regarding compatible operating systems and browsers.
  Please also bring your curriculum guide and journal.
