%h3
  If you can't make it, let us know

%p
  I know things come up and you may need to cancel. Please click this link to
  = link_to 'cancel your registration', @cancel_url, target: "_blank"
  if you aren't going to be able to make it. Workshop materials and food are ordered based on enrollment numbers.
