%h3
  How to cancel your registration

%p
  If you are unable to attend the workshop, please
  = link_to 'cancel your registration', @cancel_url, target: "_blank"
  in advance so the facilitator can plan accordingly.
