%h3
  If you can't make it, let us know

%p
  I know things come up and you may need to cancel. Please click this link to
  = link_to 'cancel your registration', @cancel_url, target: "_blank"
  if you aren’t going to be able to make it so we can continue to offer this workshop without enrollment fees and open up your spot to other interested educators. Workshop materials and food are ordered based on enrollment numbers. We’re grateful that we can offer this workshop at no cost thanks to our generous donors and local Regional Partners.
