%p
  =link_to 'Code.org', 'http://www.code.org'
  and the International Society for Technology in Education (ISTE) have partnered to give
  teachers a special opportunity to keep the learning going. ISTE provides ongoing support
  for teaching computer science and effectively using technology throughout your teaching
  practice.

%p
  We’re excited to offer ISTE membership and a gift exclusively to Code.org teachers at
  the special price of $99. ISTE provides virtual on-demand professional learning,
  in-person events and a vibrant online community of educators around the world.
  =link_to 'Join today!', 'https://www.iste.org/membership/code-org'
