%p
  =link_to 'Code.org', 'http://www.code.org'
  and the International Society for Technology in Education (ISTE) have partnered to give
  teachers a special opportunity to keep the learning going. ISTE provides ongoing support
  for teaching computer science and effectively using technology throughout your teaching
  practice.

%p
  We’re excited to offer a $10 discount on first-time ISTE membership. ISTE provides
  virtual on-demand professional learning, in-person events and a vibrant online community
  of educators around the world.
  =link_to 'Join today!', 'https://www.iste.org/membership/code-org'
