- survey_link = link_to '2 question survey', @pre_workshop_survey_url
%h3
  Pre-Workshop Survey

%p
  To help your facilitators plan for this workshop, we request that you take this
  = survey_link
  to tell them how far along you are in the curriculum, as well as the area(s) in which you would like support.
  Please submit your pre-survey by
  = "#{@workshop.sessions.first.start.to_date - 1.week}."
