%h3
  Pre-order workshop materials

%p
  You're attending a virtual workshop this summer, which means your Regional Partner and facilitators
  won’t be able to provide you with Code.org materials in person. You may find it helpful to have physical
  copies during your workshop and would like to ship directly to you at an address that’s most convenient.

%p
  Things to note:
  %ul
    %li
      Your order will arrive via FedEx approximately 3-weeks from when you press submit.
    %li
      If you’re late submitting the form less than 3-weeks prior to your workshop, don’t worry!
      Digital versions are available for you to reference during your workshop.
    %li
      The materials are available at no cost to you and include the Code.org curriculum guide and swag.
%p
  = link_to 'Click here', 'https://studio.code.org/form/virtual_order_form', target: "_blank", rel: "noopener noreferrer"
  to provide Code.org with your shipping address
  %strong (NOTE: we're unable to deliver to PO boxes).
  If you prefer to reference digital versions of the materials, you can skip this step!
