%h3
  Pre-Course Survey

%p
  Before starting your summer workshop,
  = link_to "please take this survey", @pre_survey_url, target: "_blank"
  about your thoughts on computer science, teaching, and learning.

%p
  Your anonymized responses will be used by Code.org, our Regional Partners, and our
  facilitators for program improvement. It should take no more than 20 minutes to
  complete.

%p
  This survey is really important for a few reasons:
  %ol
    %li
      It’s not just a satisfaction survey: it’s important for evaluation and research
      purposes that ultimately affect you and your students.
    %li
      It helps you in the short term: we take the results and make modifications to the
      course and ongoing professional learning based on your needs.
    %li
      It will help you in the long term: with your input, we can produce strong evidence
      about what makes for effective professional learning and curriculum for computer
      science. Imagine being able to say,
      %b
        %i
          I know this works, and here’s the evidence!

%p
  Thank you in advance for taking the time to do this!
