%h3
  Pre-Course Survey

%p
  Before starting your workshop,
  = link_to "please take this survey", @pre_workshop_survey_url, target: "_blank", rel: "noopener noreferrer"
  = '(' + @pre_workshop_survey_url + ')'
  about your thoughts on computer science, teaching, and learning.

%p
  Your anonymized responses will be used by Code.org, our Regional Partners, and our
  facilitators for program improvement. It should take no more than 10 minutes to
  complete.

%p
  We use your responses for evaluation and research purposes to identify what works
  and what changes we should make to the course and to ongoing professional learning.

%p
  Your input helps us develop strong evidence about what makes for effective
  professional learning and curriculum for computer science!

%p
  Thank you in advance for taking the time to do this!
