%h3
  What to Bring

%p
  Please bring the following with you on the day of your workshop to
  ensure you are able to participate fully.

%ul
  %li Laptop
  %li Laptop Charger
  %li Headphones or Earphones
  - unless @workshop.course == Pd::Workshop::COURSE_CSF
    %li Code.org Curriculum Guide
  - if @workshop.course == Pd::Workshop::COURSE_CSP
    %li AP CS Principles College Board Guide
