%h3
  What to Bring

%p
  Please bring the following with you on the day of your workshop to
  ensure you are able to participate fully.

%ul
  %li Curriculum Guide (aka Teal Book)
  - if @workshop.course == Pd::Workshop::COURSE_CSP
    %li Course and Exam Description (aka Purple Book)
  %li Your journal
  %li Laptop
  %li Laptop Charger
