%h3
  Tips for a better virtual experience

%p
  Please bring the following with you on the day of your workshop to ensure you are able to participate fully.
  %ul
    %li
      Make sure your computer can support the workshop’s video conferencing tool. Practice using that tool ahead of time, specifically focusing on key features such as screen sharing, muting yourself, using the chat and other features.
    %li
      Plan to work in a quiet location with a strong, reliable internet connection. Double check your wifi strength or your wired internet connection. If you’re not certain about your connectivity, consider having an ethernet cable on standby.
    %li
      Check your webcam and audio capabilities. To cut down on ambient sounds, consider using wired headphones with an attached microphone so you can participate when called on. Try arriving on the call early to check your audio and webcam before the event starts.
    %li
      Prepare as if you were attending an in-person workshop. If possible, make a plan for child care, pet care, etc., and let the folks in your household know what to expect of you during that time.
    %li
      Get comfortable! Have your favorite snacks, beverages, etc. at hand, and think about your physical comfort: Is your desk chair comfortable? Will you want to stand?
