%h3
  Tips for a better virtual experience

%p
  Workshops are interactive. To obtain the greatest benefit from the experience,
  come prepared to engage with others. Additional tips for a better virtual
  experience include:

%ul
  %li
    %strong
      Test
    your virtual tools ahead of time - screen sharing, muting yourself, using
    the chat and other features.
  %li
    %strong
      Plan
    to work in a quiet location with a strong, reliable internet connection.
  %li
    %strong
      Prepare
    as if you were attending an in-person workshop. Try to have your camera as much as possible. It helps people feel safe sharing ideas.
  %li
    %strong
      Get comfortable!
