.iconButton {
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  background-color: transparent;
  font-size: 13px;

  &:hover {
    box-shadow: none;
  }

  &:active {
    border: none !important;
  }
}

.icon {
  color: var(--neutral-gray-50);
}
