@import 'color.scss';

%message-container {
  display: flex;
  align-items: center;
  border-radius: 4px;
  padding: 5px 10px;
  margin: 3px 0;
}

.messageContainerPublishOk {
  @extend %message-container;
  background-color: $light_affirmative_100;
}

.messageContainerAlert {
  @extend %message-container;
  background-color: #FEF7DF;
}

.messageTextContainer {
  margin: 0 10px;
}

.check {
  color: $light_affirmative_500;
  font-size: 16px;
}

.alert {
  color: $light_caution_500;
  font-size: 16px;
}
