@import 'color';
@import '../../../mixins.scss';

.itemContainer {
  display: flex;
}

.removeItemIcon {
  color: $light_gray_500;
}

.itemText {
  background-color: $light_gray_50;
  flex: 1;
  margin: 5px;
  padding: 5px;
  border-radius: 4px;
}

.removeItemButton {
  @include remove-button-styles;
}

.addItemContainer {
  display: flex;
  flex-direction: row-reverse;
}
