- if !!DCDO.get("music-lab-launch-2024", false)
  %link{href: "/css/generated/music-lab-skinny-banner.css", rel: "stylesheet"}

  %aside.music-lab-skinny-banner
    .wrapper.flex-container.justify-space-between.align-items-center.wrap
      .text-wrapper
        %h5.white
          =hoc_s("music_lab.introducing_music_lab")
        %p.white
          =hoc_s("music_lab.banner.desc")
        .afe.flex-container.align-items-baseline.wrap
          %p.body-three.no-margin-bottom.white
            =hoc_s("music_lab.in_partnership_with")
          %figure
            %img{src: "/images/avatars/amazon_future_engineer_light.png", alt: hoc_s("music_lab.amazon_future_engineer")}
      %img{src:"/images/music-lab/music-lab-banner-graphic.png", alt: ""}
      %a.link-button.white{href: "/music"}
        =hoc_s("music_lab.button.try_music_lab")
