- artist_index = 4

- artist_photo = ["/images/music-lab/tinashe.png", "/images/music-lab/aloe-blacc.png", "/images/music-lab/rosa-linn.png", "/images/music-lab/chainsmokers.png"]

- artist_alt_text = ["Tinashe", "Aloe Blacc", "Rosa Linn", "The Chainsmokers"]

%ul.featured-artists.clear-styles.flex-container.justify-space-between.wrap
  - artist_index.times do |index|
    %li
      %img{src: artist_photo[index], alt: artist_alt_text[index]}
