- artist_index = 5

- artist_photo = ["/images/music-lab/chainsmokers.png", "/images/music-lab/rosa-linn.png", "/images/music-lab/carly-rae-jepson.png", "/images/music-lab/dove-cameron.png", "/images/music-lab/aloe-blacc.png"]

- artist_alt_text = ["The Chainsmokers", "Rosa Linn", "Carly Rae Jepson", "Dove Cameron", "Aloe Blacc"]

%ul.featured-artists.clear-styles.flex-container.justify-space-between.wrap
  - artist_index.times do |index|
    %li
      %img{src: artist_photo[index], alt: artist_alt_text[index]}
