:ruby
  # FontAwesome icon
  icon_check = "fa-solid fa-check-circle"
  embed_src = CDO.studio_url("/musiclab/embed?channels=#{request.params['channels']}&library=#{request.params['library']}", CDO.default_scheme)
  list_items = [hoc_s("music_lab.student_projects.list_create"), hoc_s("music_lab.student_projects.list_artist"),  hoc_s("music_lab.student_projects.list_share")]

.grid-container.gap-2
  %iframe.rounded-corners.box-shadow-primary{width: "100%", height: 300, src: embed_src}
  .text-wrapper.rounded-corners
    %h3.heading-sm
      =hoc_s("music_lab.student_projects.subheading")
    %p.body-two
      =hoc_s("music_lab.student_projects.desc")
    %ul.clear-styles
      - list_items.each do |item|
        %li
          %p
            %i{class: "#{icon_check}"}
            = item
    %a.link-button.no-margin-bottom{href: CDO.studio_url("/s/music-intro-2024/reset")}
      =hoc_s("music_lab.button.try_music_lab")
