/* Primitive colors */
:root {
    /* color */
    --accent-aqua-aqua-10: #ebfffe;
    --accent-aqua-aqua-100: #005552;
    --accent-aqua-aqua-20: #bffffc;
    --accent-aqua-aqua-30: #94fffb;
    --accent-aqua-aqua-40: #68fff9;
    --accent-aqua-aqua-50: #3cfff7;
    --accent-aqua-aqua-60: #29ddd6;
    --accent-aqua-aqua-70: #19bbb5;
    --accent-aqua-aqua-80: #0d9994;
    --accent-aqua-aqua-90: #047773;
    --accent-orange-orange-10: #fff6e5;
    --accent-orange-orange-100: #5c3b00;
    --accent-orange-orange-20: #ffe5b7;
    --accent-orange-orange-30: #ffd58a;
    --accent-orange-orange-40: #ffc55c;
    --accent-orange-orange-50: #ffb42e;
    --accent-orange-orange-60: #ffa400;
    --accent-orange-orange-70: #d68a00;
    --accent-orange-orange-80: #ad7000;
    --accent-orange-orange-90: #855500;
    --accent-strawberry-strawberry-10: #ffe3e3;
    --accent-strawberry-strawberry-100: #430d0d;
    --accent-strawberry-strawberry-20: #ffcdcd;
    --accent-strawberry-strawberry-30: #ffabab;
    --accent-strawberry-strawberry-40: #f88585;
    --accent-strawberry-strawberry-50: #ed6060;
    --accent-strawberry-strawberry-60: #cb4a4a;
    --accent-strawberry-strawberry-70: #a93737;
    --accent-strawberry-strawberry-80: #872626;
    --accent-strawberry-strawberry-90: #651818;
    --brand-purple-purple-10: #e2d4ee;
    --brand-purple-purple-100: #2f1c3e;
    --brand-purple-purple-20: #decaee;
    --brand-purple-purple-30: #d0b6e5;
    --brand-purple-purple-40: #b592d2;
    --brand-purple-purple-5: #f6edfd;
    --brand-purple-purple-50: #8c52ba;
    --brand-purple-purple-60: #7f4aa9;
    --brand-purple-purple-70: #6c468a;
    --brand-purple-purple-80: #5c3778;
    --brand-purple-purple-90: #46295c;
    --brand-teal-teal-10: #bfe4e8;
    --brand-teal-teal-100: #00383f;
    --brand-teal-teal-20: #aed8dc;
    --brand-teal-teal-30: #85cad1;
    --brand-teal-teal-40: #50b2bd;
    --brand-teal-teal-5: #e0f8f9;
    --brand-teal-teal-50: #0093a4;
    --brand-teal-teal-60: #008493;
    --brand-teal-teal-70: #007785;
    --brand-teal-teal-80: #00636e;
    --brand-teal-teal-90: #004b54;
    --neutral-base-neutral-black: #292f36;
    --neutral-base-neutral-white: #fff;
    --neutral-black-alpha-alpha-black-10: #292f361a;
    --neutral-black-alpha-alpha-black-20: #292f3633;
    --neutral-black-alpha-alpha-black-30: #292f364d;
    --neutral-black-alpha-alpha-black-40: #292f3666;
    --neutral-black-alpha-alpha-black-5: #292f360d;
    --neutral-black-alpha-alpha-black-50: #292f3680;
    --neutral-black-alpha-alpha-black-60: #292f3699;
    --neutral-black-alpha-alpha-black-70: #292f36b2;
    --neutral-black-alpha-alpha-black-80: #292f36cc;
    --neutral-black-alpha-alpha-black-90: #292f36e5;
    --neutral-black-alpha-alpha-black-95: #292f36f2;
    --neutral-gray-neutral-10: #e4e6e9;
    --neutral-gray-neutral-20: #d1d4d8;
    --neutral-gray-neutral-30: #bec2c7;
    --neutral-gray-neutral-40: #abb0b6;
    --neutral-gray-neutral-5: #f7f8fa;
    --neutral-gray-neutral-50: #989ea5;
    --neutral-gray-neutral-60: #858c94;
    --neutral-gray-neutral-70: #727a83;
    --neutral-gray-neutral-80: #5f6872;
    --neutral-gray-neutral-90: #4c5661;
    --neutral-gray-neutral-95: #394450;
    --neutral-white-alpha-alpha-white-10: #ffffff1a;
    --neutral-white-alpha-alpha-white-20: #fff3;
    --neutral-white-alpha-alpha-white-30: #ffffff4d;
    --neutral-white-alpha-alpha-white-40: #fff6;
    --neutral-white-alpha-alpha-white-5: #ffffff0d;
    --neutral-white-alpha-alpha-white-50: #ffffff80;
    --neutral-white-alpha-alpha-white-60: #fff9;
    --neutral-white-alpha-alpha-white-70: #ffffffb2;
    --neutral-white-alpha-alpha-white-80: #fffc;
    --neutral-white-alpha-alpha-white-90: #ffffffe5;
    --neutral-white-alpha-alpha-white-95: #fffffff2;
    --sentiment-error-error-10: #ffe1dd;
    --sentiment-error-error-100: #480e07;
    --sentiment-error-error-20: #ffbfb6;
    --sentiment-error-error-30: #ff8677;
    --sentiment-error-error-40: #f95d4a;
    --sentiment-error-error-50: #e5311a;
    --sentiment-error-error-60: #c12814;
    --sentiment-error-error-70: #aa2513;
    --sentiment-error-error-80: #842418;
    --sentiment-error-error-90: #6a1b11;
    --sentiment-information-info-10: #dceffb;
    --sentiment-information-info-100: #0b2946;
    --sentiment-information-info-20: #bde0fa;
    --sentiment-information-info-30: #83c7f6;
    --sentiment-information-info-40: #40aaf0;
    --sentiment-information-info-50: #1892e3;
    --sentiment-information-info-60: #0b71be;
    --sentiment-information-info-70: #0a5a9a;
    --sentiment-information-info-80: #0d4d7f;
    --sentiment-information-info-90: #10416a;
    --sentiment-success-success-10: #e2f6e2;
    --sentiment-success-success-100: #0e360f;
    --sentiment-success-success-20: #c7ecc6;
    --sentiment-success-success-30: #9adc99;
    --sentiment-success-success-40: #66c365;
    --sentiment-success-success-50: #3ea33e;
    --sentiment-success-success-60: #308930;
    --sentiment-success-success-70: #286d29;
    --sentiment-success-success-80: #245724;
    --sentiment-success-success-90: #1f4820;
    --sentiment-warning-warning-10: #fefce8;
    --sentiment-warning-warning-100: #5e330f;
    --sentiment-warning-warning-20: #fef8c3;
    --sentiment-warning-warning-30: #fded8b;
    --sentiment-warning-warning-40: #fcdc48;
    --sentiment-warning-warning-50: #f9cb28;
    --sentiment-warning-warning-60: #e9ae09;
    --sentiment-warning-warning-70: #c88504;
    --sentiment-warning-warning-80: #a05f08;
    --sentiment-warning-warning-90: #806319;
}

/* Semantic colors, light theme is a default one */
:root, [data-theme="Light"] {
    /* color */
    --background-brand-aqua-bg-brand-aqua-light: var(--accent-aqua-aqua-10);
    --background-brand-aqua-bg-brand-aqua-primary: var(--accent-aqua-aqua-50);
    --background-brand-aqua-bg-brand-aqua-strong: var(--accent-aqua-aqua-70);
    --background-brand-purple-bg-brand-purple-hover: var(--brand-purple-purple-10);
    --background-brand-purple-bg-brand-purple-light: var(--brand-purple-purple-10);
    --background-brand-purple-bg-brand-purple-primary: var(--brand-purple-purple-50);
    --background-brand-purple-bg-brand-purple-strong: var(--brand-purple-purple-70);
    --background-brand-teal-bg-brand-teal-primary: var(--brand-teal-teal-50);
    --background-brand-teal-bg-brand-teal-secondary: var(--brand-teal-teal-10);
    --background-brand-teal-bg-brand-teal-tertiary: var(--brand-teal-teal-70);
    --background-error-bg-error-light: var(--sentiment-error-error-10);
    --background-error-bg-error-primary: var(--sentiment-error-error-50);
    --background-error-bg-error-strong: var(--sentiment-error-error-70);
    --background-info-bg-info-light: var(--sentiment-information-info-10);
    --background-info-bg-info-primary: var(--sentiment-information-info-50);
    --background-info-bg-info-strong: var(--sentiment-information-info-70);
    --background-neutral-bg-neutral-disabled: var(--neutral-gray-neutral-20);
    --background-neutral-bg-neutral-inverse: var(--neutral-base-neutral-black);
    --background-neutral-bg-neutral-octonary: var(--neutral-gray-neutral-80);
    --background-neutral-bg-neutral-primary: var(--neutral-base-neutral-white);
    --background-neutral-bg-neutral-quaternary: var(--neutral-gray-neutral-20);
    --background-neutral-bg-neutral-quinary: var(--neutral-gray-neutral-30);
    --background-neutral-bg-neutral-secondary: var(--neutral-gray-neutral-5);
    --background-neutral-bg-neutral-senary: var(--neutral-gray-neutral-50);
    --background-neutral-bg-neutral-septenary: var(--neutral-gray-neutral-70);
    --background-neutral-bg-neutral-tertiary: var(--neutral-gray-neutral-10);
    --background-success-bg-success-light: var(--sentiment-success-success-10);
    --background-success-bg-success-primary: var(--sentiment-success-success-50);
    --background-success-bg-success-strong: var(--sentiment-success-success-70);
    --background-warning-bg-warning-light: var(--sentiment-warning-warning-10);
    --background-warning-bg-warning-primary: var(--sentiment-warning-warning-50);
    --background-warning-bg-warning-strong: var(--sentiment-warning-warning-70);
    --borders-brand-aqua-border-brand-aqua-light: var(--accent-aqua-aqua-10);
    --borders-brand-aqua-border-brand-aqua-primary: var(--accent-aqua-aqua-50);
    --borders-brand-aqua-border-brand-aqua-strong: var(--accent-aqua-aqua-70);
    --borders-brand-purple-border-brand-purple-light: var(--brand-purple-purple-10);
    --borders-brand-purple-border-brand-purple-primary: var(--brand-purple-purple-50);
    --borders-brand-purple-border-brand-purple-strong: var(--brand-purple-purple-70);
    --borders-brand-teal-border-brand-teal-light: var(--brand-teal-teal-10);
    --borders-brand-teal-border-brand-teal-primary: var(--brand-teal-teal-50);
    --borders-brand-teal-border-brand-teal-strong: var(--brand-teal-teal-70);
    --borders-error-border-error-light: var(--sentiment-error-error-10);
    --borders-error-border-error-primary: var(--sentiment-error-error-50);
    --borders-error-border-error-strong: var(--sentiment-error-error-70);
    --borders-info-border-info-light: var(--sentiment-information-info-10);
    --borders-info-border-info-primary: var(--sentiment-information-info-50);
    --borders-info-border-info-strong: var(--sentiment-information-info-70);
    --borders-neutral-border-neutral-disabled: var(--neutral-gray-neutral-20);
    --borders-neutral-border-neutral-light: var(--neutral-gray-neutral-10);
    --borders-neutral-border-neutral-primary: var(--neutral-gray-neutral-20);
    --borders-neutral-border-neutral-solid: var(--neutral-base-neutral-black);
    --borders-neutral-border-neutral-strong: var(--neutral-gray-neutral-50);
    --borders-success-border-success-light: var(--sentiment-success-success-10);
    --borders-success-border-success-primary: var(--sentiment-success-success-50);
    --borders-success-border-success-strong: var(--sentiment-success-success-70);
    --borders-warning-border-warning-light: var(--sentiment-warning-warning-10);
    --borders-warning-border-warning-primary: var(--sentiment-warning-warning-50);
    --borders-warning-border-warning-strong: var(--sentiment-warning-warning-70);
    --text-brand-aqua-text-brand-aqua-primary: var(--accent-aqua-aqua-50);
    --text-brand-aqua-text-brand-aqua-secondary: var(--accent-aqua-aqua-70);
    --text-brand-purple-text-brand-purple-primary: var(--brand-purple-purple-50);
    --text-brand-purple-text-brand-purple-secondary: var(--brand-purple-purple-70);
    --text-brand-teal-text-brand-teal-primary: var(--brand-teal-teal-50);
    --text-brand-teal-text-brand-teal-secondary: var(--brand-teal-teal-70);
    --text-error-text-error-primary: var(--sentiment-error-error-50);
    --text-error-text-error-secondary: var(--sentiment-error-error-60);
    --text-info-text-info-primary: var(--sentiment-information-info-50);
    --text-info-text-info-secondary: var(--sentiment-information-info-70);
    --text-neutral-text-neutral-black: var(--neutral-base-neutral-black);
    --text-neutral-text-neutral-disabled: var(--neutral-gray-neutral-20);
    --text-neutral-text-neutral-disabled-inverse: var(--neutral-base-neutral-white);
    --text-neutral-text-neutral-inverse: var(--neutral-base-neutral-white);
    --text-neutral-text-neutral-placeholder: var(--neutral-gray-neutral-40);
    --text-neutral-text-neutral-primary: var(--neutral-base-neutral-black);
    --text-neutral-text-neutral-secondary: var(--neutral-gray-neutral-80);
    --text-neutral-text-neutral-tertiary: var(--neutral-gray-neutral-50);
    --text-neutral-text-neutral-white: var(--neutral-base-neutral-white);
    --text-success-text-success-primary: var(--sentiment-success-success-50);
    --text-success-text-success-secondary: var(--sentiment-success-success-70);
    --text-warning-text-warning-primary: var(--sentiment-warning-warning-50);
    --text-warning-text-warning-secondary: var(--sentiment-warning-warning-70);
}

[data-theme="Dark"] {
    /* color */
    --background-brand-aqua-bg-brand-aqua-light: var(--accent-aqua-aqua-90);
    --background-brand-aqua-bg-brand-aqua-primary: var(--accent-aqua-aqua-50);
    --background-brand-aqua-bg-brand-aqua-strong: var(--accent-aqua-aqua-70);
    --background-brand-purple-bg-brand-purple-hover: var(--background-neutral-bg-neutral-tertiary);
    --background-brand-purple-bg-brand-purple-light: var(--brand-purple-purple-90);
    --background-brand-purple-bg-brand-purple-primary: var(--brand-purple-purple-50);
    --background-brand-purple-bg-brand-purple-strong: var(--brand-purple-purple-70);
    --background-brand-teal-bg-brand-teal-primary: var(--brand-teal-teal-50);
    --background-brand-teal-bg-brand-teal-secondary: var(--brand-teal-teal-90);
    --background-brand-teal-bg-brand-teal-tertiary: var(--brand-teal-teal-70);
    --background-error-bg-error-light: var(--sentiment-error-error-90);
    --background-error-bg-error-primary: var(--sentiment-error-error-50);
    --background-error-bg-error-strong: var(--sentiment-error-error-70);
    --background-info-bg-info-light: var(--sentiment-information-info-90);
    --background-info-bg-info-primary: var(--sentiment-information-info-50);
    --background-info-bg-info-strong: var(--sentiment-information-info-70);
    --background-neutral-bg-neutral-disabled: var(--neutral-gray-neutral-80);
    --background-neutral-bg-neutral-inverse: var(--neutral-base-neutral-white);
    --background-neutral-bg-neutral-octonary: var(--neutral-gray-neutral-20);
    --background-neutral-bg-neutral-primary: var(--neutral-base-neutral-black);
    --background-neutral-bg-neutral-quaternary: var(--neutral-gray-neutral-80);
    --background-neutral-bg-neutral-quinary: var(--neutral-gray-neutral-70);
    --background-neutral-bg-neutral-secondary: var(--neutral-gray-neutral-95);
    --background-neutral-bg-neutral-senary: var(--neutral-gray-neutral-50);
    --background-neutral-bg-neutral-septenary: var(--neutral-gray-neutral-30);
    --background-neutral-bg-neutral-tertiary: var(--neutral-gray-neutral-90);
    --background-success-bg-success-light: var(--sentiment-success-success-90);
    --background-success-bg-success-primary: var(--sentiment-success-success-50);
    --background-success-bg-success-strong: var(--sentiment-success-success-70);
    --background-warning-bg-warning-light: var(--sentiment-warning-warning-90);
    --background-warning-bg-warning-primary: var(--sentiment-warning-warning-50);
    --background-warning-bg-warning-strong: var(--sentiment-warning-warning-70);
    --borders-brand-aqua-border-brand-aqua-light: var(--borders-neutral-border-neutral-primary);
    --borders-brand-aqua-border-brand-aqua-primary: var(--borders-neutral-border-neutral-solid);
    --borders-brand-aqua-border-brand-aqua-strong: var(--borders-neutral-border-neutral-strong);
    --borders-brand-purple-border-brand-purple-light: var(--borders-neutral-border-neutral-primary);
    --borders-brand-purple-border-brand-purple-primary: var(--borders-neutral-border-neutral-solid);
    --borders-brand-purple-border-brand-purple-strong: var(--borders-neutral-border-neutral-strong);
    --borders-brand-teal-border-brand-teal-light: var(--brand-teal-teal-90);
    --borders-brand-teal-border-brand-teal-primary: var(--brand-teal-teal-50);
    --borders-brand-teal-border-brand-teal-strong: var(--brand-teal-teal-70);
    --borders-error-border-error-light: var(--borders-neutral-border-neutral-primary);
    --borders-error-border-error-primary: var(--borders-neutral-border-neutral-solid);
    --borders-error-border-error-strong: var(--borders-neutral-border-neutral-strong);
    --borders-info-border-info-light: var(--borders-neutral-border-neutral-primary);
    --borders-info-border-info-primary: var(--borders-neutral-border-neutral-solid);
    --borders-info-border-info-strong: var(--borders-neutral-border-neutral-strong);
    --borders-neutral-border-neutral-disabled: var(--neutral-gray-neutral-80);
    --borders-neutral-border-neutral-light: var(--neutral-gray-neutral-90);
    --borders-neutral-border-neutral-primary: var(--neutral-gray-neutral-80);
    --borders-neutral-border-neutral-solid: var(--neutral-base-neutral-white);
    --borders-neutral-border-neutral-strong: var(--neutral-gray-neutral-60);
    --borders-success-border-success-light: var(--borders-neutral-border-neutral-primary);
    --borders-success-border-success-primary: var(--borders-neutral-border-neutral-solid);
    --borders-success-border-success-strong: var(--borders-neutral-border-neutral-strong);
    --borders-warning-border-warning-light: var(--borders-neutral-border-neutral-primary);
    --borders-warning-border-warning-primary: var(--borders-neutral-border-neutral-solid);
    --borders-warning-border-warning-strong: var(--borders-neutral-border-neutral-strong);
    --text-brand-aqua-text-brand-aqua-primary: var(--text-neutral-text-neutral-primary);
    --text-brand-aqua-text-brand-aqua-secondary: var(--text-neutral-text-neutral-tertiary);
    --text-brand-purple-text-brand-purple-primary: var(--text-neutral-text-neutral-primary);
    --text-brand-purple-text-brand-purple-secondary: var(--text-neutral-text-neutral-tertiary);
    --text-brand-teal-text-brand-teal-primary: var(--text-neutral-text-neutral-primary);
    --text-brand-teal-text-brand-teal-secondary: var(--text-neutral-text-neutral-tertiary);
    --text-error-text-error-primary: var(--text-neutral-text-neutral-primary);
    --text-error-text-error-secondary: var(--text-neutral-text-neutral-tertiary);
    --text-info-text-info-primary: var(--text-neutral-text-neutral-primary);
    --text-info-text-info-secondary: var(--text-neutral-text-neutral-tertiary);
    --text-neutral-text-neutral-black: var(--neutral-base-neutral-black);
    --text-neutral-text-neutral-disabled: var(--neutral-gray-neutral-80);
    --text-neutral-text-neutral-disabled-inverse: var(--neutral-base-neutral-black);
    --text-neutral-text-neutral-inverse: var(--neutral-base-neutral-black);
    --text-neutral-text-neutral-placeholder: var(--neutral-gray-neutral-60);
    --text-neutral-text-neutral-primary: var(--neutral-base-neutral-white);
    --text-neutral-text-neutral-secondary: var(--neutral-gray-neutral-20);
    --text-neutral-text-neutral-tertiary: var(--neutral-gray-neutral-40);
    --text-neutral-text-neutral-white: var(--neutral-base-neutral-white);
    --text-success-text-success-primary: var(--text-neutral-text-neutral-white);
    --text-success-text-success-secondary: var(--text-neutral-text-neutral-tertiary);
    --text-warning-text-warning-primary: var(--text-neutral-text-neutral-primary);
    --text-warning-text-warning-secondary: var(--text-neutral-text-neutral-tertiary);
}