@import "primitiveColors";

/* Semantic Colors */
$themes: (
        Light: (
          /* color */
                $background-brand-aqua-bg-brand-aqua-light: $accent-aqua-10,
                $background-brand-aqua-bg-brand-aqua-primary: $accent-aqua-aqua-50,
                $background-brand-aqua-bg-brand-aqua-strong: $accent-aqua-aqua-70,
                $background-brand-purple-bg-brand-purple-hover: $brand-purple-purple-10,
                $background-brand-purple-bg-brand-purple-light: $brand-purple-purple-10,
                $background-brand-purple-bg-brand-purple-primary: $brand-purple-purple-50,
                $background-brand-purple-bg-brand-purple-strong: $brand-purple-purple-70,
                $background-brand-teal-bg-brand-teal-primary: $brand-teal-teal-50,
                $background-brand-teal-bg-brand-teal-secondary: $brand-teal-teal-10,
                $background-brand-teal-bg-brand-teal-tertiary: $brand-teal-teal-70,
                $background-error-bg-error-light: $sentiment-error-error-10,
                $background-error-bg-error-primary: $sentiment-error-error-50,
                $background-error-bg-error-strong: $sentiment-error-error-70,
                $background-info-bg-info-light: $sentiment-information-info-10,
                $background-info-bg-info-primary: $sentiment-information-info-50,
                $background-info-bg-info-strong: $sentiment-information-info-70,
                $background-neutral-bg-neutral-disabled: $neutral-gray-neutral-20,
                $background-neutral-bg-neutral-inverse: $neutral-base-neutral-black,
                $background-neutral-bg-neutral-octonary: $neutral-gray-neutral-80,
                $background-neutral-bg-neutral-primary: $neutral-base-neutral-white,
                $background-neutral-bg-neutral-quaternary: $neutral-gray-neutral-20,
                $background-neutral-bg-neutral-quinary: $neutral-gray-neutral-30,
                $background-neutral-bg-neutral-secondary: $neutral-gray-neutral-5,
                $background-neutral-bg-neutral-senary: $neutral-gray-neutral-50,
                $background-neutral-bg-neutral-septenary: $neutral-gray-neutral-70,
                $background-neutral-bg-neutral-tertiary: $neutral-gray-neutral-10,
                $background-success-bg-success-light: $sentiment-success-success-10,
                $background-success-bg-success-primary: $sentiment-success-success-50,
                $background-success-bg-success-strong: $sentiment-success-success-70,
                $background-warning-bg-warning-light: $sentiment-warning-warning-10,
                $background-warning-bg-warning-primary: $sentiment-warning-warning-50,
                $background-warning-bg-warning-strong: $sentiment-warning-warning-70,
                $borders-brand-aqua-border-brand-aqua-light: $accent-aqua-aqua-10,
                $borders-brand-aqua-border-brand-aqua-primary: $accent-aqua-aqua-50,
                $borders-brand-aqua-border-brand-aqua-strong: $accent-aqua-aqua-70,
                $borders-brand-purple-border-brand-purple-light: $brand-purple-purple-10,
                $borders-brand-purple-border-brand-purple-primary: $brand-purple-purple-50,
                $borders-brand-purple-border-brand-purple-strong: $brand-purple-purple-70,
                $borders-brand-teal-border-brand-teal-light: $brand-teal-teal-10,
                $borders-brand-teal-border-brand-teal-primary: $brand-teal-teal-50,
                $borders-brand-teal-border-brand-teal-strong: $brand-teal-teal-70,
                $borders-error-border-error-light: $sentiment-error-error-10,
                $borders-error-border-error-primary: $sentiment-error-error-50,
                $borders-error-border-error-strong: $sentiment-error-error-70,
                $borders-info-border-info-light: $sentiment-information-info-10,
                $borders-info-border-info-primary: $sentiment-information-info-50,
                $borders-info-border-info-strong: $sentiment-information-info-70,
                $borders-neutral-border-neutral-disabled: $neutral-gray-neutral-20,
                $borders-neutral-border-neutral-light: $neutral-gray-neutral-10,
                $borders-neutral-border-neutral-primary: $neutral-gray-neutral-20,
                $borders-neutral-border-neutral-solid: $neutral-base-neutral-black,
                $borders-neutral-border-neutral-strong: $neutral-gray-neutral-50,
                $borders-success-border-success-light: $sentiment-success-success-10,
                $borders-success-border-success-primary: $sentiment-success-success-50,
                $borders-success-border-success-strong: $sentiment-success-success-70,
                $borders-warning-border-warning-light: $sentiment-warning-warning-10,
                $borders-warning-border-warning-primary: $sentiment-warning-warning-50,
                $borders-warning-border-warning-strong: $sentiment-warning-warning-70,
                $text-brand-aqua-text-brand-aqua-primary: $accent-aqua-aqua-50,
                $text-brand-aqua-text-brand-aqua-secondary: $accent-aqua-aqua-70,
                $text-brand-purple-text-brand-purple-primary: $brand-purple-purple-50,
                $text-brand-purple-text-brand-purple-secondary: $brand-purple-purple-70,
                $text-brand-teal-text-brand-teal-primary: $brand-teal-teal-50,
                $text-brand-teal-text-brand-teal-secondary: $brand-teal-teal-70,
                $text-error-text-error-primary: $sentiment-error-error-50,
                $text-error-text-error-secondary: $sentiment-error-error-60,
                $text-info-text-info-primary: $sentiment-information-info-50,
                $text-info-text-info-secondary: $sentiment-information-info-70,
                $text-neutral-text-neutral-black: $neutral-base-neutral-black,
                $text-neutral-text-neutral-disabled: $neutral-gray-neutral-20,
                $text-neutral-text-neutral-disabled-inverse: $neutral-base-neutral-white,
                $text-neutral-text-neutral-inverse: $neutral-base-neutral-white,
                $text-neutral-text-neutral-placeholder: $neutral-gray-neutral-40,
                $text-neutral-text-neutral-primary: $neutral-base-neutral-black,
                $text-neutral-text-neutral-secondary: $neutral-gray-neutral-80,
                $text-neutral-text-neutral-tertiary: $neutral-gray-neutral-50,
                $text-neutral-text-neutral-white: $neutral-base-neutral-white,
                $text-success-text-success-primary: $sentiment-success-success-50,
                $text-success-text-success-secondary: $sentiment-success-success-70,
                $text-warning-text-warning-primary: $sentiment-warning-warning-50,
                $text-warning-text-warning-secondary: $sentiment-warning-warning-70,
        ),
        Dark:

        (
          /* color */
                $background-brand-aqua-bg-brand-aqua-light: $accent-aqua-aqua-90,
                $background-brand-aqua-bg-brand-aqua-primary: $accent-aqua-aqua-50,
                $background-brand-aqua-bg-brand-aqua-strong: $accent-aqua-aqua-70,
                $background-brand-purple-bg-brand-purple-hover: $background-neutral-bg-neutral-tertiary,
                $background-brand-purple-bg-brand-purple-light: $brand-purple-purple-90,
                $background-brand-purple-bg-brand-purple-primary: $brand-purple-purple-50,
                $background-brand-purple-bg-brand-purple-strong: $brand-purple-purple-70,
                $background-brand-teal-bg-brand-teal-primary: $brand-teal-teal-50,
                $background-brand-teal-bg-brand-teal-secondary: $brand-teal-teal-90,
                $background-brand-teal-bg-brand-teal-tertiary: $brand-teal-teal-70,
                $background-error-bg-error-light: $sentiment-error-error-90,
                $background-error-bg-error-primary: $sentiment-error-error-50,
                $background-error-bg-error-strong: $sentiment-error-error-70,
                $background-info-bg-info-light: $sentiment-information-info-90,
                $background-info-bg-info-primary: $sentiment-information-info-50,
                $background-info-bg-info-strong: $sentiment-information-info-70,
                $background-neutral-bg-neutral-disabled: $neutral-gray-neutral-80,
                $background-neutral-bg-neutral-inverse: $neutral-base-neutral-white,
                $background-neutral-bg-neutral-octonary: $neutral-gray-neutral-20,
                $background-neutral-bg-neutral-primary: $neutral-base-neutral-black,
                $background-neutral-bg-neutral-quaternary: $neutral-gray-neutral-80,
                $background-neutral-bg-neutral-quinary: $neutral-gray-neutral-70,
                $background-neutral-bg-neutral-secondary: $neutral-gray-neutral-95,
                $background-neutral-bg-neutral-senary: $neutral-gray-neutral-50,
                $background-neutral-bg-neutral-septenary: $neutral-gray-neutral-30,
                $background-neutral-bg-neutral-tertiary: $neutral-gray-neutral-90,
                $background-success-bg-success-light: $sentiment-success-success-90,
                $background-success-bg-success-primary: $sentiment-success-success-50,
                $background-success-bg-success-strong: $sentiment-success-success-70,
                $background-warning-bg-warning-light: $sentiment-warning-warning-90,
                $background-warning-bg-warning-primary: $sentiment-warning-warning-50,
                $background-warning-bg-warning-strong: $sentiment-warning-warning-70,
                $borders-brand-aqua-border-brand-aqua-light: $borders-neutral-border-neutral-primary,
                $borders-brand-aqua-border-brand-aqua-primary: $borders-neutral-border-neutral-solid,
                $borders-brand-aqua-border-brand-aqua-strong: $borders-neutral-border-neutral-strong,
                $borders-brand-purple-border-brand-purple-light: $borders-neutral-border-neutral-primary,
                $borders-brand-purple-border-brand-purple-primary: $borders-neutral-border-neutral-solid,
                $borders-brand-purple-border-brand-purple-strong: $borders-neutral-border-neutral-strong,
                $borders-brand-teal-border-brand-teal-light: $brand-teal-teal-90,
                $borders-brand-teal-border-brand-teal-primary: $brand-teal-teal-50,
                $borders-brand-teal-border-brand-teal-strong: $brand-teal-teal-70,
                $borders-error-border-error-light: $borders-neutral-border-neutral-primary,
                $borders-error-border-error-primary: $borders-neutral-border-neutral-solid,
                $borders-error-border-error-strong: $borders-neutral-border-neutral-strong,
                $borders-info-border-info-light: $borders-neutral-border-neutral-primary,
                $borders-info-border-info-primary: $borders-neutral-border-neutral-solid,
                $borders-info-border-info-strong: $borders-neutral-border-neutral-strong,
                $borders-neutral-border-neutral-disabled: $neutral-gray-neutral-80,
                $borders-neutral-border-neutral-light: $neutral-gray-neutral-90,
                $borders-neutral-border-neutral-primary: $neutral-gray-neutral-80,
                $borders-neutral-border-neutral-solid: $neutral-base-neutral-white,
                $borders-neutral-border-neutral-strong: $neutral-gray-neutral-60,
                $borders-success-border-success-light: $borders-neutral-border-neutral-primary,
                $borders-success-border-success-primary: $borders-neutral-border-neutral-solid,
                $borders-success-border-success-strong: $borders-neutral-border-neutral-strong,
                $borders-warning-border-warning-light: $borders-neutral-border-neutral-primary,
                $borders-warning-border-warning-primary: $borders-neutral-border-neutral-solid,
                $borders-warning-border-warning-strong: $borders-neutral-border-neutral-strong,
                $text-brand-aqua-text-brand-aqua-primary: $text-neutral-text-neutral-primary,
                $text-brand-aqua-text-brand-aqua-secondary: $text-neutral-text-neutral-tertiary,
                $text-brand-purple-text-brand-purple-primary: $text-neutral-text-neutral-primary,
                $text-brand-purple-text-brand-purple-secondary: $text-neutral-text-neutral-tertiary,
                $text-brand-teal-text-brand-teal-primary: $text-neutral-text-neutral-primary,
                $text-brand-teal-text-brand-teal-secondary: $text-neutral-text-neutral-tertiary,
                $text-error-text-error-primary: $text-neutral-text-neutral-primary,
                $text-error-text-error-secondary: $text-neutral-text-neutral-tertiary,
                $text-info-text-info-primary: $text-neutral-text-neutral-primary,
                $text-info-text-info-secondary: $text-neutral-text-neutral-tertiary,
                $text-neutral-text-neutral-black: $neutral-base-neutral-black,
                $text-neutral-text-neutral-disabled: $neutral-gray-neutral-80,
                $text-neutral-text-neutral-disabled-inverse: $neutral-base-neutral-black,
                $text-neutral-text-neutral-inverse: $neutral-base-neutral-black,
                $text-neutral-text-neutral-placeholder: $neutral-gray-neutral-60,
                $text-neutral-text-neutral-primary: $neutral-base-neutral-white,
                $text-neutral-text-neutral-secondary: $neutral-gray-neutral-20,
                $text-neutral-text-neutral-tertiary: $neutral-gray-neutral-40,
                $text-neutral-text-neutral-white: $neutral-base-neutral-white,
                $text-success-text-success-primary: $text-neutral-text-neutral-white,
                $text-success-text-success-secondary: $text-neutral-text-neutral-tertiary,
                $text-warning-text-warning-primary: $text-neutral-text-neutral-primary,
                $text-warning-text-warning-secondary: $text-neutral-text-neutral-tertiary,
        ),
);