%h1 Directory for Workshop Admins

%h3 Regional Partners
= link_to RegionalPartner do
  Manage Regional Partners, Program Managers, and Mappings

%br

%h3 Facilitators
= link_to pd_facilitator_courses_path do
  Manage a Facilitator's Courses
