%p
  As a reminder, all participants in the Professional Learning Program are committing
  to the yearlong program which includes:
  %ul
    %li
      Attending a multi-day summer workshop
    %li
      Attending the academic year workshops scheduled throughout the academic year
    %li
      Planning to teach
      = @application.course_name
      in the
      = @application.year
      school year (If this has changed since you first applied, please let me know
      as soon as possible so we can evaluate your application again.)
