%p
  As a reminder, all participants in the Professional Learning Program are asked
  to commit to the year-long program as well as:
  %ul
    %li
      Attend their assigned summer workshop
    %li
      Attend their assigned academic year workshops
    %li
      Intend to teach
      = @application.course_name
      this school year
      (If this has changed since you first applied, please let me know
      as soon as possible so we can evaluate your application again).
