%p
  As a reminder, all participants in the Professional Learning Program are asked
  to commit to the yearlong program as well as:
  %ul
    %li
      Attend 5-day assigned summer workshop
    %li
      Attend four 1-day assigned academic year workshops
    %li
      Intend to teach
      = @application.course_name
      this school year (If this has changed since you first applied, please let me know
      as soon as possible.)
