%p
  As a reminder, all participants in the Professional Learning Program are required
  to commit to the yearlong program which includes:
  %ul
    %li
      Attending a multi-day summer workshop
    %li
      Attending Academic Year Workshops
      = "(" + @application.effective_regional_partner_name
      will share additional information on the frequency and timing of these workshops shortly)
    %li
      Planning to teach
      = @application.course_name
      in the
      = @application.year
      school year (If this has changed since you first applied, please let me know
      as soon as possible.)
