%p
  Dear
  = @application.first_name + ','

%p
  Your Administrator/School Leader has approved your application. Your application
  is now considered complete and we will review it and get back to you in 2-4 weeks.

%p
  If your school or district is interested in having other teachers attend our
  Professional Learning Program, please have them apply at
  = link_to 'https://code.org/apply', 'https://code.org/apply'
  or reach out to me directly for additional information.

%p
  Best,

%p
  = render partial: 'partner_signature'
