- registration_url = "https://studio.code.org/pd/application/teacher"

%p
  - if !!@application.first_name&.present?
    Hello
    = @application.first_name + ","
  - else
    Hello,

%p
  We are excited you are interested in the Code.org Professional Learning Program!

%p
  We noticed that you have not completed your application. To be considered
  for one of the spots in your region's Professional Learning program, you need to
  complete and submit your application. Applications are accepted on a rolling basis,
  so we suggest you get your application in early to have the best shot at taking part
  in the program.

%p
= link_to('Click here to finish your application', registration_url) + '.'

%p
  If you have any questions,
  please reach out to us at
  = mail_to 'teacher@code.org' + '.'

%p
  We look forward to receiving your application soon,

%p
  Nikki Navta
  %br
  K12 Adoption Lead
  %br
  Code.org
