- registration_url = "https://studio.code.org/pd/application/teacher"

%p
  - if !!@application.first_name&.present?
    Hello
    = @application.first_name + ","
  - else
    Hello,

%p
  We noticed that you still have not completed your application.
  Is there any support we can offer as you decide which professional learning
  program is right for you?

%p
  To be considered for one of the spots in your region's Professional
  Learning program, you need to complete and submit your application. Applications are accepted
  on a rolling basis, so we suggest you get your application in early to have the best shot at
  taking part in the program.

%p
= link_to('Click here to finish your application', registration_url) + '.'

%p
  Nikki Navta
  %br
  = mail_to 'teacher@code.org'
  %br
  K12 Adoption Lead
  %br
  Code.org
