%p
  Dear
  = @application.principal_greeting + ','

%p
  Thank you for completing the principal approval form.
  = @application.first_name + "'s"
  application is now considered complete and we will review it soon.

%p
  If your school or district is interested in having other teachers
  attend our Professional Learning Program, please have them apply at
  = link_to 'code.org/apply', 'https://code.org/apply'
  or reach out to me directly for additional information.

%p
  Best,

%p
  = render partial: 'partner_signature'
