---
title: Creativity with AI | Hour of Code
layout: wide_index
---

%link{href: "/css/generated/hoc-banner.css", rel: "stylesheet", type: "text/css"}
%link{href: '/css/full-width-section.css', rel:'stylesheet', type:'text/css'}
%link{href: "/css/generated/page/ai.css", rel: "stylesheet", type: "text/css"}

#fullwidth
  = view :header

  %section.banner
    .wrapper
      %h1
        =hoc_s(:hoc2023_header)
      %p.body-one
        =hoc_s(:hoc_ai_top_desc)
