---
title: Beyond an Hour of Code
layout: wide_index
---

%link{href: "/css/generated/hoc-banner.css", rel: "stylesheet", type: "text/css"}
%link{href: '/css/full-width-section.css', rel:'stylesheet', type:'text/css'}
%link{href: "/css/generated/beyond-carousel.css", rel: "stylesheet", type: "text/css"}

#fullwidth
  = view :header

  %section.banner
    .wrapper
      %h1
        =hoc_s(:beyond_an_hour)
      %p.body-one
        =hoc_s(:hoc_beyond_hero_description)

%section
  .wrapper
    .section-intro.centered
      %h2 
        =hoc_s(:hoc_beyond_for_teachers_section_title)
      %p.body-two
        =hoc_s(:hoc_beyond_for_teachers_section_description)
    .action-block__wrapper.action-block__wrapper--two-col
      .action-block.action-block--one-col.flex-space-between
        .content-wrapper
          %h3
            =hoc_s(:hoc_beyond_for_teachers_course_title_1)
          %img{src: "/images/beyond-teach.png", alt: ""}
          %p
            =hoc_s(:hoc_beyond_for_teachers_course_description_1)
        .content-footer
          %a.link-button{href: "code.org/teach", target: "_blank", rel: "noopener noreferrer"}
            =hoc_s(:hoc_beyond_for_teachers_course_link_1)
      .action-block.action-block--one-col.flex-space-between
        .content-wrapper
          %h3
            =hoc_s(:hoc_beyond_for_teachers_course_title_2)
          %img{src: "/images/beyond-courses.png", alt: ""}
          %p
            =hoc_s(:hoc_beyond_for_teachers_course_description_2)
        .content-footer
          %a.link-button{href: "https://code.org/educate/curriculum/3rd-party", target: "_blank", rel: "noopener noreferrer"}
            =hoc_s(:hoc_beyond_for_teachers_course_link_2)
%section.bg-neutral-light
  .wrapper
    = view :learn_carousels, variation:'beyond'
%section{style: "text-align: center"}
  %h3 
    =hoc_s(:hoc_beyond_end_section_label, markdown: :inline, locals: {home_page: "https://code.org/"})
  %a{href: "https://code.org/"}
    %img{:src=>'/images/logo.svg'}
%script{:src=>'/js/jquery.carouFredSel-6.2.1-packed.js'}
%script{:src=>'/js/jquery.touchSwipe.min.js'}
%script{:src=>'/js/page/ai.js'}
