:css

  .half-resource-block {
    width: 472px;
    float: left;
    margin-bottom: 30px;
  }
  .description-area {
    padding: 20px 30px;
    background-color: #00adbc;
    color: #fff;
    height: 165px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .top-image {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .full-resource-block {
    width: 100%;
    margin-bottom: 30px;
    height: 244px;
  }
  .description {
    padding-bottom: 10px;
    color: #fff;
  }
  .resource-title {
    padding: 0px;
    margin: 0px;
    font-size: 24px;
    color: #FFFFFF;
    padding-bottom: 10px;
  }
  .side-image {
    width: 485px;
    height: 244px;
    float: left;
  }
  .side-image.right, .side-description-area.right {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .side-image.left, .side-description-area.left {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  .side-description-area {
    float: left;
    width: 485px;
    height: 100%;
    background-color: #00adbc;
    padding: 30px 30px;
  }
  .gray-button {
    background-color: #e7e8ea;
    border-color: #c6cacd;
    color: #5b6770;
    text-decoration: none;
  }
  .orange-button {
    text-decoration: none;
    background-color: #ffa400;
  }
  .scroll-nav {
    padding: 15px;
    width: 100%;
    height: 70px;
    background-color: #00adbc;
    border-radius: 5px;
    color: white;
    text-align: center;
  }
  .teal-button {
    background-color: #078f9a;
    border-color: #088f9a;
    height: 40px;
  }

%h1 Beyond an Hour of Code

.scroll-nav
  %span Go beyond an Hour of Code!
  &nbsp;&nbsp;
  %a{href: "#teacher-section"}
    %button.teal-button For teachers
  &nbsp;&nbsp;
  %a{href: "#student-section"}
    %button.teal-button For students

%h1#student-section For students
%h2 Find a local class
.full-resource-block{style: "margin-top: 20px;"}
  %img.side-image.left{src: "/images/beyond-local-map.png"}
  .side-description-area.right
    .description
      %h2.resource-title{style: "padding-bottom: 10px;"} Local classes
      Find a local workshop, school, or summer camp to learn in a classroom.
    %a{href: "https://code.org/learn/local"}
      %button.gray-button Find a class

%h2 Online tutorials
%div
  = view :learn_carousels, variation:'beyond'

%h1#teacher-section For teachers
.half-resource-block{style: "margin-right: 20px;"}
  %img.top-image{src: "/images/beyond-teacher.jpg"}
  .description-area
    .description 
      %h2.resource-title Teach courses by Code.org
      Code.org offers a full K-12 course pathway and professional learning workshops for teachers, free of charge.
    %a{href: "https://code.org/educate/curriculum/elementary-school"}
      %button.gray-button Elementary
    &nbsp;&nbsp;
    %a{href: "https://code.org/educate/curriculum/middle-school"}
      %button.gray-button Middle
    &nbsp;&nbsp;
    %a{href: "https://code.org/educate/curriculum/high-school"}
      %button.gray-button High

.half-resource-block
  %img.top-image{src: "/images/beyond-courses.png"}
  .description-area
    .description 
      %h2.resource-title Teach courses by other providers
      Compare options by different partners, organized by grade band.
    %a{href: "https://code.org/educate/curriculum/3rd-party"}
      %button.gray-button Explore
