---
title: Code.org Cookie Notice
layout: wide
---

%link{ :href => "/css/cookies.css", :rel => "stylesheet" }

= render inline: File.read(deploy_dir('shared/partials/cookie_notice.partial')), type: :partial
