---
layout: wide
---

:ruby
  @header["title"] = hoc_s(:footer_menu_cookie)

%link{ :href => "/css/cookies.css", :rel => "stylesheet" }

= render inline: File.read(deploy_dir('shared/partials/cookie_notice.partial')), type: :partial
