---
title: Aprende a programar con la Hora del Código En Vivo
layout: wide
social:
  "og:title": "Hora del Código En Vivo"
  "og:description": "Learn CS with Hadi Partovi and the team at Code.org with a live weekly webcast and weekly challenges for students of all abilities"
  "og:image": "http://code.org/images/marketing/hocbanner2.jpg"
  "og:image:width": 850
  "og:image:height": 502
  "og:video": ""
  "og:video:width": ""
  "og:video:height": ""
  "og:video:type": ""
---

- video_title_styles = "background: var(--brand_primary_default); color: var(--neutral_white); padding: 0.75rem 1rem; margin-bottom: 1rem"

%div{style: "background-color: #00adbc; padding: 1rem; margin-top: 4rem;"}
  %img{src: "/images/hocbanner2.jpg", style: "max-width: 100%"}

%h1 Hora del Código En Vivo

%section.col-sm-8{style: "padding: 0"}
  %p ¡Aprender a programar puede ser muy divertido! Con estos <a href="#activities">episodios y actividades</a> para elegir, puedes aprender sobre inteligencia artificial con Eduardo España, programar tu propia fiesta de baile con Erika de la Vega, o crear tu propia app con Simón Borrero.
  %p Cada episodio es presentado por el Vicepresidente de Alianzas Internacionales, <a href="https://code.org/about/leadership/leonardo_ortiz_villacorta">Leonardo Ortiz Villacorta</a>, y Directora de Alianzas Internacionales para las Américas, Lara Sepúlveda Machado, quienes enseñan conceptos de ciencias de computación acompañados de diversos invitados especiales.

  %h2 Regístrate para participar
  %p Los invitamos a participar en un episodio especial de la Hora del Código En Vivo con el productor <a href="https://miamiart.house">Julio Reyes Copello</a> y la cantante <a href="https://twitter.com/solamentejoy"> Joy</a>. Este episodio es el primero de una serie especial en torno a la creatividad, la música y la programación. ¡No te lo pierdas!

  %figure.col-sm-9{style: "padding: 0"}
    %a{href: "https://www.youtube.com/watch?v=T8Qzo3YfxwI&t=1283s"}
      %img{src: "/images/hdcenvivo_joy.png", alt: "", style: "margin: 1rem 0"}
    %p
      Síguenos en <a href="http://facebook.com/code.org">Facebook</a> o en <a href="http://twitter.com/codeorg">Twitter</a>.

%aside.col-sm-3{style: "border: solid 1px var(--neutral_dark40); border-radius: 4px; overflow: hidden; position: relative; float: right; padding: 0;"}
  %img{src: "/images/code-break-callout-episode-0.jpg", style: "max-width:100%"}
  %a#signup
  %div{style: "padding: 1rem;"}
    %p{style: ""}
      ¡Manténgase informado! Únase a nuestra lista de distribución para recibir noticias de Code.org y para ser el primero en conocer sobre recursos para continuar el aprendizaje en casa.
    %iframe{allowtransparency: "true", frameborder: "0", height: "305", src: "http://go.pardot.com/l/153401/2020-09-30/nwvb6j", style: "overflow:hidden", type: "text/html", width: "100%"}
%div{style: "clear: both;"}

%a#activities
%section
  %h2 Divertido y fundacional
  %p Las ciencias de computación es <i>súper divertido</i>  porque es una actividad creativa y lúdica. Ya sea que estés resolviendo un rompecabezas, programando arte, o diseñando un aplicativo, los estudiantes prefieren aprender mejor mientras exploran en vez de memorizar. <a href="https://code.org/promote">Ciencias de computación</a> es una de las materias preferidas de los estudiantes sólo después de sus clases de arte, música y danza.
  %p Las ciencias de computación son <a href="/promote">fundacionales</a> para todos los ámbitos de estudio, pero como muchas escuelas aún no las ofrecen, esta es una oportunidad única para apoyar a sus hijos, estudiantes o familiares a que aprendan algo nuevo. Adicionalmente, <a href="https://medium.com/@codeorg/cs-helps-students-outperform-in-school-college-and-workplace-66dd64a69536">estudios recientes demuestran</a>: que los niños y jóvenes que estudian ciencias de computación se desempeñan mejor en otras materias, se destacan en resolución de problemas, <font color="00adbc"><b>y el 17% es más probable que ingrese a la universidad</b></font>.

%hr{style: "margin: 3rem 0"}

%section
  %h2.heading-xxl Episodios de la Hora del Código En Vivo

  %a#episode1
  %h3.heading-xl
    Episodio 1
  %div
    %h4.heading-lg{style: video_title_styles}
      Algoritmos con Nashla Aguilar e Ilona Bodnar
    .col-sm-6{style: "padding: 0"}
      %a{href: "https://www.youtube.com/watch?v=NvAxi3xg-Qc&list=PLzdnOPI1iJNfSMYuR-d7C1wRhluXX7j7v&index=1"}
        %img.responsive{src: "/images/HDCENVIVO_1.jpeg", style: "max-width: 100%"}
    .col-sm-5
      %p La actriz Nashla Aguilar y la ingeniera y Technolochica Ilona Bodnar participan en el primer episodio de la Hora del Código En Vivo. Aprendemos sobre algoritmos a través de un divertido ejercicio 'desenchufado', seguido de una programación en vivo de código artístico!
      %p <a href="https://www.youtube.com/watch?v=NvAxi3xg-Qc&list=PLzdnOPI1iJNfSMYuR-d7C1wRhluXX7j7v&index=1"><i>Ver en Youtube</a></i> I <i><a href="https://www.facebook.com/309754825787494/videos/2807659212815074">Ver en Facebook</i></a>
  .clear

  %a#episode2
  %h3.heading-xl{style: "margin-top: 4rem"}
    Episodio 2
  %div
    %h4.heading-lg{style: video_title_styles}
      Inteligencia Artificial con Eduardo España y Alejandra Flores
    .col-sm-6{style: "padding: 0"}
      %a{href: "https://www.youtube.com/watch?v=hLd1KhhMzUQ&list=PLzdnOPI1iJNfSMYuR-d7C1wRhluXX7j7v&index=2"}
        %img.responsive{src: "/images/HDCENVIVO_2.jpg", style: "max-width: 100%"}
    .col-sm-5
      %p El actor y comediante Eduardo España y la Gerente de Producto en Amazon, Alejandra Flores, nos ayudan a explicar qué es la inteligencia artificial y discutimos lo importante que es usar la tecnología para el bien.
      %p <a href="https://www.youtube.com/watch?v=hLd1KhhMzUQ&list=PLzdnOPI1iJNfSMYuR-d7C1wRhluXX7j7v&index=2"><i>Ver en Youtube</i></a> I <a href="https://www.facebook.com/309754825787494/videos/350445992897892"><i>Ver en Facebook</i></a>
  .clear

  %a#episode3
  %h3.heading-xl{style: "margin-top: 4rem"}
    Episodio 3
  %div
    %h4.heading-lg{style: video_title_styles}
      Información Digital con Simón Borrero y Vicky Ricaurte
    .col-sm-6{style: "padding: 0"}
      %a{href: "https://www.youtube.com/watch?v=kINgMoz7pzo&list=PLzdnOPI1iJNfSMYuR-d7C1wRhluXX7j7v&index=3"}
        %img.responsive{src: "/images/HDCENVIVO_3.jpg", style: "max-width: 100%"}
    .col-sm-5
      %p El CEO y Co-Fundador de Rappi, Simón Borrero, y la CEO y Co-Fundadora de Arukay, Vicky Ricaurte, nos ayudan a explicar qué es la información digital, comenzando con una actividad 'desenchufada' para aprender sobre pixeles, seguido de una programación en vivo para crear tu propia app.
      %p <a href="https://www.youtube.com/watch?v=kINgMoz7pzo&list=PLzdnOPI1iJNfSMYuR-d7C1wRhluXX7j7v&index=3"><i>Ver en Youtube</i></a> I <a href="https://www.facebook.com/309754825787494/videos/379058319913083"><i>Ver en Facebook</i></a>
  .clear

  %a#episode4
  %h3.heading-xl{style: "margin-top: 4rem"}
    Episodio 4
  %div
    %h4.heading-lg{style: video_title_styles}
      Eventos con Erika de la Vega
    .col-sm-6{style: "padding: 0"}
      %a{href: "https://www.youtube.com/watch?v=tTtOVA1g2BU&list=PLzdnOPI1iJNfSMYuR-d7C1wRhluXX7j7v&index=4"}
        %img.responsive{src: "/images/HDCENVIVO_4.jpg", style: "max-width: 100%"}
    .col-sm-5
      %p La productora, comediante y actriz, Erika De la Vega, nos acompaña en este episodio para ayudarnos a explicar eventos en programación, los cuales son comandos que causan una acción.
      %p <a href="https://www.youtube.com/watch?v=tTtOVA1g2BU&list=PLzdnOPI1iJNfSMYuR-d7C1wRhluXX7j7v&index=4"><i>Ver en Youtube</i></a> I <i><a href="https://www.facebook.com/309754825787494/videos/817015702468291">Ver en Facebook</a></i>
  .clear

  %a#episode5
  %h3.heading-xl{style: "margin-top: 4rem"}
    Episodio 5
  %div
    %h4.heading-lg{style: video_title_styles}
      Internet con Daniel Rabinovich y la Dra. Yuly Fuentes-Medel
    .col-sm-6{style: "padding: 0"}
      %a{href: "https://www.youtube.com/watch?v=ULlZRADiFjA&list=PLzdnOPI1iJNfSMYuR-d7C1wRhluXX7j7v&index=5"}
        %img.responsive{src: "/images/HDCENVIVO_5.jpg", style: "max-width: 100%"}
    .col-sm-5
      %p Daniel Rabinovich, COO de Mercado Libre, y la Dra. Yuly Fuentes-Medel, Directora de Programas en el Massachusetts Institute of Technology (MIT), nos ayudan a explicar cómo funciona el internet y la importancia de los protocolos.
      %p <a href="https://www.youtube.com/watch?v=ULlZRADiFjA&list=PLzdnOPI1iJNfSMYuR-d7C1wRhluXX7j7v&index=5"><i>Ver en Youtube</i></a> I <i><a href="https://www.facebook.com/309754825787494/videos/3239283816183563">Ver en Facebook</a></i>
  .clear

  %a#episode6
  %h3.heading-xl{style: "margin-top: 4rem"}
    Episodio 6
  %div
    %h4.heading-lg{style: video_title_styles}
      Encriptación con Juan Pablo Consuegra y la Dra. Liza Videla
    .col-sm-6{style: "padding: 0"}
      %a{href: "https://www.youtube.com/watch?v=2zx1VWGqlzc&list=PLzdnOPI1iJNfSMYuR-d7C1wRhluXX7j7v&index=6"}
        %img.responsive{src: "/images/HDCENVIVO_6.jpg", style: "max-width: 100%"}
    .col-sm-5
      %p Juan Pablo Consuegra, Director para la Región Andina en Facebook, y la Dra. Liza Videla Altieri, Astrónoma del Observatorio ALMA nos acompañan para ayudarnos a explicar la encriptación.
      %p <a href="https://www.youtube.com/watch?v=2zx1VWGqlzc&list=PLzdnOPI1iJNfSMYuR-d7C1wRhluXX7j7v&index=6"><i>Ver en Youtube</i></a> I <i><a href="https://www.facebook.com/309754825787494/videos/195391355536902">Ver en Facebook</a></i>
  .clear

%hr{style: "margin: 3rem 0"}

%div.centered
  %img{src: "/images/unescovid19.png", alt: "", style: "width: 350px"}
