---
title: FAQ | Hour of Code
layout: wide
---

%link{href: '/css/full-width-section.css', rel:'stylesheet', type:'text/css'}
%link{rel: "stylesheet", type: "text/css", href: "/css/generated/faq.css"}

%main
  %section
    .wrapper
      =view :faq
