---
layout: wide
---

%link{href: '/css/full-width-section.css', rel:'stylesheet', type:'text/css'}
%link{rel: "stylesheet", type: "text/css", href: "/css/generated/faq.css"}

:ruby
  @header["title"] = hoc_s("hoc_faq.heading")

%main
  %section
    .wrapper
      =view :faq
