---
layout: wide
---

:ruby
  @header["title"] = hoc_s(:highlights_title)

#signup-button{style: 'margin-right: 40px;'}
  = view :signup_button

%link{href: "/css/highlights.css", rel: "stylesheet", id: "highlight-styles"}

%h1= hoc_s(:highlights_header)
%h3= hoc_s(:highlights_description)

.highlights-content
  - DB[:cdo_highlights].limit(100).reverse_each do |item|
    = view :highlight_item, item: item

:javascript
  $(function() {
    $('.highlight-item').mouseover(function() {
      var caption = $(this).find('.highlight-caption');
      caption.fadeIn();
    });

    $('.highlight-item').mouseleave(function() {
      var caption = $(this).find('.highlight-caption');
      caption.fadeOut();
    });
  });
