---
title: Highlights
layout: wide
---

%link{href: "/css/highlights.css", rel: "stylesheet", id: "highlight-styles"}

%h1 Hour of Code Highlights
%h3 Some of our favorite moments of the Hour of Code campaign.

.highlights-content
  - tag = 'highlight'
  - DB[:cdo_news_items].where(tag_s:tag).limit(100).each do |item|
    = view :highlight_item, item: item


:javascript
  $(function() {
    $('.highlight-item').mouseover(function() {
      var caption = $(this).find('.highlight-caption');
      caption.fadeIn();
    });

    $('.highlight-item').mouseleave(function() {
      var caption = $(this).find('.highlight-caption');
      caption.fadeOut();
    });
  });
