---
layout: wide_index
---

:ruby
  @header["title"] = hoc_s(:map_title)

%script{type: "text/javascript", src: "/js/jquery.geocomplete.min.js"}

  = view :header
%h2.center-text= view :hoc_events_counter
= view :hoc_events_map
.footnote!=hoc_s(:map_warning_markdown, markdown: :inline, locals:{events_url: resolve_url('/events')})
