---
layout: wide_index
---
- hoc_mode = DCDO.get("hoc_mode", CDO.default_hoc_mode)

:ruby
  @header["title"] = hoc_s(:map_title)

%script{src:'https://api.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.js'}
:javascript
  mapboxgl.accessToken = "#{CDO.mapbox_access_token}";

%script{type: "text/javascript", src: "/js/jquery.geocomplete.min.js"}

  = view :header
%h2.center-text= view :hoc_events_counter

#maparea.full-width{style: "margin-top: 2rem"}
  -# Show a picture of the map unless the user is located in Morocco (border disputes misrepresented in map)
  -if @country == 'ma'
    %img{src: '/images/fit-2276/map.jpg', style: 'width: 100%;'}
  -else
    = view :hoc_events_map
  .footnote!=hoc_s(:map_warning_markdown, markdown: :inline, locals:{events_url: resolve_url('/events')})
