---
title: Resources | Hour of Code
layout: wide_index
---

%link{href: '/css/full-width-section.css', rel:'stylesheet', type:'text/css'}
%link{href: '/css/generated/page/resources-styles.css', rel:'stylesheet', type:'text/css'}

#fullwidth
  = view :header

  %section.banner.bg-neutral-light
    .wrapper.centered
      %h1.no-margin-top
        =hoc_s("hoc_resources.heading")
      %p.body-two.wrap-balance
        =hoc_s("hoc_resources.desc", markdown: :inline, locals:{how_to_url: resolve_url('/how-to')})
      = view :"resources/resources_page_nav"

%main
  -# Handouts
  %section#handouts
    .wrapper
      %h2.overline-one.centered
        =hoc_s("hoc_resources.sections.handouts")
      %h3.heading-xl.centered
        =hoc_s("hoc_resources.handouts.heading")
      %p.body-two.centered
        =hoc_s("hoc_resources.handouts.desc")

  -# Stickers
  %section#stickers.bg-neutral-dark
    .wrapper
      %h2.white
        =hoc_s("hoc_resources.stickers.heading")
      %p.body-two.white
        =hoc_s("hoc_resources.stickers.desc")

  -# Videos
  %section#videos
    .wrapper
      %h2.overline-one.centered
        =hoc_s("hoc_resources.sections.videos")
      %h3.heading-xl.centered
        =hoc_s("hoc_resources.videos.heading")
      %p.body-two.centered
        =hoc_s("hoc_resources.videos.desc")

  -# Posters
  %section#posters.bg-neutral-light
    .wrapper
      %h2.overline-one.centered
        =hoc_s("hoc_resources.sections.posters")
      %h3.heading-xl.centered
        =hoc_s("hoc_resources.posters.heading")
      %p.body-two.centered
        =hoc_s("hoc_resources.posters.desc")

  -# Emails
  %section#sample-emails
    .wrapper
      %h2.overline-one.centered
        =hoc_s("hoc_resources.sections.emails")
      %h3.heading-xl.centered
        =hoc_s("hoc_resources.emails.heading")
      %p.body-two.centered
        =hoc_s("hoc_resources.emails.desc")

  -# Logos
  %section#logo.bg-neutral-dark
    .wrapper
      %h2.white
        =hoc_s("hoc_resources.logos.heading")
      %p.body-two.white
        =hoc_s("hoc_resources.logos.desc")

  -# Organized by Code.org
  = view :organized_by_cdo
