.codebridgeContainer {
  height: 100%;
  width: 100%;

  // Chrome(>=v121), Edge and Firefox use scrollbar-color.
  scrollbar-color: var(--background-neutral-senary) var(--background-neutral-secondary);

  // webkit-scrollbar is used by Safari. 
  ::-webkit-scrollbar {
    background: var(--background-neutral-secondary);
    width: 10px;
    height: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background: var(--background-neutral-senary);
    border-radius: 10px;
  }
  ::-webkit-scrollbar-corner {
    background: var(--background-neutral-secondary);
  }

  span, p {
    // We set this to auto so it will inherit the user-select value from the parent.
    // When we are resizing, we set user-select to none so that the user does not accidentally
    // select text while resizing.
    user-select: auto;
  }
}
