.not-found-page.deprecated-course-page
  .error-parent
    .deprecated-course-child
      %img{src: '/shared/images/happy_penguin.png', alt: 'A happy cartoon penguin'}
      .error-message
        %h1.deprecated-course-heading= I18n.t('course_deprecated.title')
        %a{href: '/'}
          %button.deprecated-course-button= I18n.t('course_deprecated.button')
          // update href (a tag surrounding button invalid? should just be a tag)
