.not-found-page.deprecated-course-page
  .error-parent
    .deprecated-course-child
      %img{src: '/shared/images/happy_penguin.png', alt: 'A happy cartoon penguin'}
      - if request.path.include?('/projects/')
        %p= I18n.t('course_deprecated.title', path_type: I18n.t('course_deprecated.project_type'))
        %a.design-system-btn{href: '/projects'}
          = I18n.t('course_deprecated.projects_button')
      - else
        %p= I18n.t('course_deprecated.title', path_type: I18n.t('course_deprecated.curriculum'))
      %a.design-system-btn{href: 'https://support.code.org/hc/en-us/articles/16268528601101-List-of-Deprecated-or-Non-Supported-Code-org-Courses'}
        = I18n.t('course_deprecated.button')
