.not-found-page.deprecated-course-page
  .error-parent
    .deprecated-course-child
      %img{src: '/shared/images/happy_penguin.png', alt: 'A happy cartoon penguin'}
      %p= I18n.t('course_deprecated.title')
      %a.design-system-btn{href: 'https://support.code.org/hc/en-us/articles/16268528601101-List-of-Deprecated-or-Non-Supported-Code-org-Courses'}
        = I18n.t('course_deprecated.button')
