%h1 500! Internal Server Error detected.
%img(src="/failure_avatar.png")
%p{style: 'font-size: 1.5em; line-height: 1.5em;'} Something unexpected have happened. Keep calm and carry on by following Mr. Bee's links from the list below.
%ul{style: 'font-size: 1.25em; line-height: 1.5em; min-height: 240px;'}
  %li<
    %a{href: '/courses'} Courses from Code Studio
  %li<
    %a{href: '/projects/public'} Project Gallery
  %li<
    %a{href: '/s/frozen'} Code with Anna and Elsa
  %li<
    %a{href: '/gallery'} Student Gallery
  %li<
    %a{href: 'https://support.code.org'} Help and Support
  %li<
    %a{href: 'https://medium.com/@codeorg'} Code.org’s blog
