%h1 422! The change you wanted was rejected
%p{style: 'font-size: 1.5em; line-height: 1.5em;'} Maybe you tried to change something you didn't have access to.
%p{style: 'font-size: 1.5em; line-height: 1.5em;'} Keep calm and carry on by following the link from the list below.
%ul{style: 'font-size: 1.25em; line-height: 1.5em; min-height: 240px;'}
  %li<
    %a{href: '/courses'} Courses from Code Studio
  %li<
    %a{href: '/projects/public'} Project Gallery
  %li<
    %a{href: '/s/frozen'} Code with Anna and Elsa
  %li<
    %a{href: '/gallery'} Student Gallery
  %li<
    %a{href: 'https://support.code.org'} Help and Support
  %li<
    %a{href: 'https://medium.com/@codeorg'} Code.org’s blog
