.backpackPanelWithFiles {
  display: flex;
  padding: var(--padding-p-xxs, 8px);
  flex-direction: column;
  align-items: flex-start;
  flex: 1 0 0;
  align-self: stretch;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: border-box;
}

.fileListContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  flex: 1;
  overflow-y: auto;
  padding-right: 8px;
}

.saveButton {
  margin-top: auto;
  width: 100%;
}

.backpackDivider {
  display: flex;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  text-align: center;
  margin-bottom: 0;
  color: var(--text-neutral-quaternary);

  // Horizontal line on either side of lab name
  &::before,
  &::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid var(--borders-neutral-primary);
  }
}

.secondaryFileList {
  display: flex;
  flex-direction: column;
  gap: 8px;
}