@import "color.scss";
@import "./theme/tokens-dark";

.controlsContainer {
  display: flex;
  justify-content: center;
  background-color: $gray-800;
  z-index: 70;
  border-radius: 4px;
  margin: 5px 0;
}

.controlButtons {
  color: $white;
  margin: 5px 15px;
  text-align: center;

  &.center {
    flex: 1;
  }

  &.side {
    flex: 0;
  }

  &.hide {
    opacity: 0;
    pointer-events: none;
  }
}

.iconButton {
  cursor: pointer;
}
