@import "./theme/tokens-dark";
@import "./music.module.scss";

.instructions {
  background-color: $gray-900;
  width: 100%;
  height: 100%;
  border-radius: $default-border-radius;
  background-size: 100% 200%;
  padding: 10px;
  box-sizing: border-box;
  position: relative;
  font-size: 14px;
  line-height: 1.5;
  display: flex;

  &.vertical {
    flex-direction: column;
  }

  .item {
    display: flex;
    pointer-events: auto;
    flex: 1;
    opacity: 1;

    &.itemVertical {
      flex-direction: column;
      overflow: auto;
    }

    .itemTitle {
      font-size: 18px;
      text-align: left;
      overflow-wrap: break-word;
      padding: 5px;

      &Horizontal {
        max-width: 140px;
      }
    }

    .imageContainer {
      text-align: center;

      &.horizontal {
        text-align: left;
        width: 140px;
      }

      .image {
        cursor: pointer;
        max-height: 120px;

        &.fixedHeight {
          height: 70px;
        }
      }

      .bigImage {
        position: absolute;
        width: 440px;
        text-align: left;
        top: 0;
        left: 0;

        &.bigImageRight {
          left: auto;
          right: 0;
        }

        img {
          width: 100%;
          position: absolute;
          border: 10px black solid;
          border-radius: $default-border-radius;
          z-index: 80;
          cursor: pointer;
        }
      }
    }

    .text {
      flex: 1;
      overflow-y: auto;

      &.textVertical {
        padding: 0 10px;
        margin: 10px 0;
      }
    }
  }

  .bottom {
    text-align: right;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-content: center;

    .progressText {
      font-size: 12px;
      margin: 0 10px;
      color: $gray-400;
    }

    .button {
      font-size: 13px;
      padding: 4px 8px;
      opacity: 0;
      pointer-events: none;

      &.buttonActive {
        opacity: 1;
        pointer-events: auto;
      }
    }
  }
}
