@import "color.scss";
@import "./theme/tokens-dark";

.soundsPanel {
  user-select: none;
}

.folder {
  background-color: $gray-900;
  overflow: hidden;
  border-radius: 4px;
  padding: 6px;
  &:first-child {
    margin-top: 0;
  }
  &:not(:first-child) {
    margin-top: 6px;
  }
}

.folderName {
  font-size: 18px;
  padding: 6px 0;
  margin-bottom: 6px;
  border-bottom: solid 1px $gray-800;
  margin-right: 12px;
}

.soundRow {
  overflow: hidden;
  padding: 4px 0;
  &:hover {
    background-color: $gray-800;
  }
  &Selected {
    background-color: $gray-700;
  }
}

.soundRowLeft {
  width: 15px;
  margin: 0 4px;
  float: left;
}

.icon-beat {
  color: #fc55ff;
}

.icon-bass {
  color: #00c0ff;
}

.icon-lead {
  color: #00ff02;
}

.icon-fx {
  color: #ff0;
}

.soundRowMiddle {
  width: calc(100% - 23px - 30px);
  float: left;
}

.soundRowRight {
  float: right;
  width: 15px;
  margin-right: 15px;
  font-size: 16px;
}

.preview {
  color: $gray-300;

  &Playing {
    color: $gray-600;
    cursor: default;
  }
}
