#parental-permission-modal-container
  %script{src: webpack_asset_path('js/policy_compliance/parental_permission/_modal.js'),
          data: {studentUuid: student_uuid, lockoutDate: lockout_date, forceDisplay: force_display}.transform_values(&:to_json)}
