---
title: Curriculum for K-1
---

%h1 Curriculum for K-1

-content = Course.new("k-1")
-content.get_lessons.each do |lesson|
  %a{:href=>lesson.url}
    Lesson #{lesson.number}: #{lesson.title}
    %br
