---
title: Curriculum for Middle School Science
---

%h1 Curriculum for Middle School Science

-content = Course.new("mss")
-content.get_units.each do |unit|
  %h2
    Unit #{unit.number}: #{unit.title}
  -content.get_lessons_for_unit(unit.number).each do |lesson|
    %a{:href=>lesson.url}
      Lesson #{lesson.number}: #{lesson.title}
      %br
