@import "color.scss";
@import "font.scss";
@import "@cdo/apps/componentLibrary/typography/typography.module";

// Tags common styles
.tags {
  display: flex;
  column-gap: 0.5em;
  height: 1.5em;

  > div {
    // font styles
    @include main-font-semi-bold;
    font-size: 0.75em;
    line-height: 0.875em;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $neutral-dark;

    // label styles
    padding: 0.6em 0.75em 0 0.75em;
    background-color: $brand_primary_light;
    border-radius: 1em;

    // ellipsis overflow
    max-width: 15em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &.disabledTag {
      color: $light_white;
      background-color: $light_gray_200;
    }
  }
}

.tagTooltip {
  opacity: 1;
  margin-bottom: 0.75em;
  pointer-events: none;

  :global(.tooltip-inner) { /* stylelint-disable-line selector-pseudo-class-no-unknown */
    border-radius: 5px;
    color: #fff;
    background-color: #222;

    p {
      color: #fff;
      margin: 0;
    }
  }

  :global(.tooltip-arrow) { /* stylelint-disable-line selector-pseudo-class-no-unknown */
    left: 50%;
    bottom: 0;
    border: 15px solid transparent;
    border-top: 15px solid #222;
    transform: translate(-50%, calc(100% - 8px));
  }
}

// Sizes
.tags-l {
  > div {
    @include overline-one;
  }
}

.tags-m {
  > div {
    @include overline-two;
  }
}

.tags-s {
  > div {
    @include overline-three;
  }
}
