@import "color.scss";
@import "font.scss";
@import "@cdo/apps/componentLibrary/typography/typography.module";

// Tags common styles
.tags {
  display: flex;
  column-gap: 0.5em;

  > div {
    display: flex;
    align-items: baseline;
    gap: 2px;
    color: $neutral-dark;
    padding: 0.13rem 0.5rem;
    background-color: $brand_primary_light;
    border-radius: 6.25rem;;
    max-width: 15em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &.disabledTags {
    > div {
      color: $light_white;
      background-color: $light_gray_200;
    }
  }
}

.tagTooltip {
  opacity: 1;
  margin-bottom: 0.75em;
  pointer-events: none;

  :global(.tooltip-inner) { /* stylelint-disable-line selector-pseudo-class-no-unknown */
    border-radius: 5px;
    color: #fff;
    background-color: #222;

    p {
      color: #fff;
      margin: 0;
    }
  }

  :global(.tooltip-arrow) { /* stylelint-disable-line selector-pseudo-class-no-unknown */
    left: 50%;
    bottom: 0;
    border: 15px solid transparent;
    border-top: 15px solid #222;
    transform: translate(-50%, calc(100% - 8px));
  }
}

// Sizes
.tags-l {
  > div {
    @include overline-one;
    margin-bottom: 0;
  }
}

.tags-m {
  > div {
    @include overline-two;
    margin-bottom: 0;
  }
}

.tags-s {
  > div {
    @include overline-three;
    margin-bottom: 0;
  }
}
