.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.optInSection {
  min-width: 0;
  margin: 0;
  padding: 10px;
  border: 1px solid var(--borders-neutral-strong);
  background-color: var(--background-neutral-secondary);
}

.optInHeading {
  padding-bottom: 10px;
  border-bottom: 1px solid var(--borders-neutral-strong);
}

.optInBody {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding-top: 10px;
}

.optInDescription {
  margin: 0;
}

.radioGroup {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.status {
  margin-top: 0.5rem;
  text-align: right;
}
