.container {
  padding-top: 20px;
}

.hint {
  margin-top: 10px;
  margin-bottom: 10px;
}

.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.statusText {
  padding-left: 10px;
  padding-right: 10px;
  font-style: italic;
}

.errorText {
  color: var(--text-error-primary);
}
