%p This is a writing task

= form_for(@enrollment_task_assignment, url: plc_enrollment_task_assignment_path(@enrollment_task_assignment)) do |f|
  %p
    %strong Assignment description:
    %p
      Level #{@enrollment_task_assignment.plc_task.level_id}
  %p
    = f.label :writing
    -# TODO: render FreeResponse

  .actions
    = f.submit 'Submit'
