---
title: About the Regional Partner Program
video_player: true
theme: responsive
---

<style>
  details summary {
    cursor: pointer;
  }
</style>

# About the Code.org Regional Partner Program

Code.org partners with United States based organizations such as regional education units, nonprofits and universities who serve as K-12 computer science hubs in each region.

**Professional Learning Programs**

Our Regional Partners run the Professional Learning Programs locally. They host high quality  workshops for K-12 teachers with our experienced Code.org-accredited facilitators. 

**Administrators and District Partnerships**

Regional Partners work with local districts and schools to help bring computer science courses to schools, particularly schools without computer science offerings. 

**Community**

Regional Partners provide opportunities for teachers to be part of a local community of computer science educators (or join an existing community).

## Where does Code.org have partners?

We are proud to partner with organizations from Alaska to Florida and almost every state in between! Click on a pin for more information about the region and the Regional Partner who serves that area.
<br>

<iframe src="https://www.google.com/maps/d/u/0/embed?mid=1dKLjL6y3AKo45c7weK__JI3sxijfbmzq" width="640" height="480"></iframe>

## <a name="questions"></a>Have questions?

<%= view :professional_learning_regional_partner_mini_contact, source_page_id: "middle-high" %>