---
title: Professional Learning Program Details
video_player: true
theme: responsive
---

%link{href: "/shared/css/phase1-design-system.css", rel: "stylesheet"}
%link{href: "/css/video-responsive.css", rel: "stylesheet"}
%link{href: "/css/generated/middle-high.css", rel: "stylesheet"}

%section
  .wrapper
    %h1 Code.org Professional Learning</h1>
    %h2 Help today's students become tomorrow's superheroes.</p>
    %p Find your local professional learning workshops for middle and high school and apply today!</p>

%section
  .wrapper
    .text-wrapper.col-50
      %h2 Why Code.org professional learning?
      %p Our engaging workshops are for new and experienced computer science teachers! In this program, you will:
      %ul
        %li Explore the curriculum and learning tools
        %li Experience the course as a teacher and a learner
        %li Collaborate with fellow teachers
      %a{href: CDO.hourofcode_url('/pd/application/teacher'), class: 'button'} Apply
    %figure.video-responsive
      %div
        %iframe{src: 'https://www.youtube.com/embed/dScOdk0yY38', title: 'YouTube video player', allowfullscreen: 'true'}

%section
  .wrapper
    %h2 Carousel

%section
  .wrapper
    %h2 Professional learning programs specific to the course
    %p Join one of our professional learning programs in your area. The programs are designed to prepare you before and during your first year teaching <a href="/educate/csd">CS Discoveries</a>, <a href="/educate/csp">CS Principles</a>, or <a href="/educate/csa">CSA</a>.
    TBD - partials?

%section
  .wrapper
    %h2 Program design
    %p The yearlong professional learning programs all follow a similar design. Regional Partners across the country provide our programs and offer local workshops led by trained facilitators.
    %ul
      %li
        %h5 Summer Workshops
        %p Attend a 5 day summer workshop to get familiar with the curriculum and prepare for the school year.
      %li
        %h5 Academic Year Workshops
        %p Attend workshops during the year to receive support as you teach the curriculum
      %li
        %h5 Community Support
        %p Collaborate with your regional cohort of teachers and get the support of a nationwide online teacher community
    %a{href: '/educate/professional-learning/program-information'} Find out more about the program specifics in your region.

%section
  .wrapper
    %h2 How does the application process work?
    %ul
      %li
        %span 1
        %h5 Apply
        %p Fill out an application with information about you, your school and the course you’re teaching
      %li
        %span 2
        %h5 Application Review
        %p In some regions you will need to get approval from a school administrator in order to get accepted into the program
      %li
        %span 3
        %h5 Acceptance
        %p If accepted, you will be notified of your acceptance by your Regional Partner 2-4 weeks after applying
      %li
        %span 4
        %h5 Enroll
        %p Sign up for the summer workshop in your region and get ready to start the yearlong program!

%section
  .wrapper
    %img{src: '', alt: ''}
    .text-wrapper
      %h2 What does the program cost?
      %p The cost of the program varies by region. You may be eligible for a scholarship to cover the cost of your program.
      %a{href: '/educate/professional-learning/program-information', class:'button'} Learn more about the program in your region

%section
  .wrapper
    %h2 Additional programs to meet diverse teacher needs
    %p In addition to our in-person facilitator led options for middle and high school teachers we have several other programs to meet the diverse needs of our teachers.
    TBD - partials?

%section
  .wrapper
    %h2 Have questions?
    %p Your local Code.org Regional Partner provides high quality Code.org professional learning to teachers, and can help guide your school or district on implementation, certification, funding, and more. They are happy to answer any questions you may have about the program!
    %a{href: '', class: 'button'}
