---
title: Program Outcomes
video_player: true
theme: responsive
---

<%=view :solid_block_header, :title=>"Measuring the Professional Learning Program" %>

<link href="/shared/css/course-blocks.css", type="text/css", rel="stylesheet"></link>

<link href="/css/educate.css" rel="stylesheet">

<style>
  details summary {
    cursor: pointer;
  }
</style>

<br>

<div class="col-50" style="padding-right: 20px">

<%=view :display_video_thumbnail, id: "intro_csp", video_code: "9VvuRiFQv10", play_button: 'center', letterbox: 'false' %>

</div>

<div class="col-50">

<p>The Code.org Professional Learning Program is hosted by our Regional Partners across the country, and prepares teachers to teach our courses.</p>

<p><strong>More than 100,000 teachers have participated in the Code.org Professional Learning program</strong>, and the majority of attendees rank it the best professional development ever! Over 90% of attendees would recommend our program to another teacher.</p>

<p>
<a href="https://code.org/educate/professional-learning", target=_"blank"><button>Learn more about  professional learning</button></a>
<p>

</div>

<div style="clear:both"></div>

<a name="research"></a>
## Our program is backed by research

<div class="col-50">
<p>Compared with similarly-situated schools, <a href="http://www.westcoastanalytics.com/uploads/6/9/6/7/69675515/wca_code_final_report_2018.pdf">a school's participation in the Code.org program causes an estimated five-fold increase</a> in the number of students that take, and earn qualifying scores on the AP Computer Science Principles exam.</p>

<p>Why is that significant? <a href="https://medium.com/@codeorg/cs-helps-students-outperform-in-school-college-and-workplace-66dd64a69536">Six different studies show</a>: students who study computer science perform better in other subjects, excel at problem-solving, and are more likely to attend college.</p>

<p>Students who take AP Computer Science Principles, in particular, are <a href="https://medium.com/@codeorg/study-computer-science-students-much-more-likely-to-enroll-in-college-faca65b1476d", target=_"blank">12% more likely to enroll in college</a> compared to similarly-situated peers, and students who take AP exams are <a href="https://files.eric.ed.gov/fulltext/ED519365.pdf", target=_"blank">more likely to graduate 4-year college</a>, regardless of their score on the exam. AP computer science students also earn <a href="https://blog.code.org/post/125429946375/cs-other-subjects", target=_"blank">better AP Calculus scores</a> than comparable students who don’t take AP computer science.</p>

<p><a href="https://code.org/research", target=_"blank"><button>Learn more about research at Code.org</button></a>
</div>

<div class="col-50" style="text-align:center">
<a href="http://www.westcoastanalytics.com/uploads/6/9/6/7/69675515/wca_code_final_report_2018.pdf", target=_"blank"><img src="/images/csp-brown-study.png" style="width:90%"></a> 
</div>

<div style="clear: both;"></div>

<a name="outcomes"></a>
## We know our program works

Code.org relies on surveys as a crucial tool through which we remain connected to teachers, and to give them the opportunity to provide feedback about our curriculum and their teaching experience, as well as to improve our programs. 

Here's what we've learned from the hundreds of teachers who participated in <a href="https://code.org/professional-development-workshops#deep-dive", target=_"blank">CS Fundamentals Deep Dive workshops</a>:

[col-50]

### Teachers like our PD.

<div style="width 86%;">
<img src="/images/professional-learning/teacher-results-1.png">

</div>

[/col-50]

[col-50]

### Teachers feel prepared and connected to others.

<div style="width 86%;">
<img src="/images/professional-learning/teacher-results-2.png">

</div>
<div style="clear: both;"></div>

[/col-50]

<br>
<br>

### Teachers gain important skills for teaching coding and computer science.

For the following questions, we ask teachers to rate their skill level on a 7 point scale for teaching practices and strategies that are important for ensuring a rigorous, engaging and equitable computer science classroom. 

<div style="width 96%;">
<img src="/images/professional-learning/teacher-results-3.png">
</div>

<br>

<!--
Here's what we've learned from the thousands of teachers who have participated in Code.org workshops:

<a name="evaluation"></a>
## How we measure our progress

_Blurb from Baker about survey implements_
-->

