@use '@code-dot-org/component-library-styles/mixins.scss' as mixins;

$mobileBreakpoint: 900px;

// ActionBlock common styles
.actionBlock {
  @include mixins.regular-border-styles;
  max-width: 100%;
  text-align: initial;
  padding: 1.25rem;

  figure {
    align-self: flex-start;
    aspect-ratio: 16 / 9;
    width: 100%;
    margin: 0 0 1rem 0;
  }

  .textWrapper {
    display: flex;
    flex-direction: column;

    .overline {
      color: var(--text-brand-teal-primary);
      margin-top: 0;
    }

    p {
      margin-block: 0 1rem;
    }
  }

  .buttonWrapper {
    margin-top: 0.25rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }

  // Action block layout styles
  &.isFullWidth {
    @media (min-width: $mobileBreakpoint) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1.5rem;

      figure {
        margin-bottom: 0;
      }

      .buttonWrapper > a {
        width: fit-content;
      }
    }
  }

  &:not(.isFullWidth) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

// Action block background styles
.actionBlock-background {
  &-primary {
    background-color: var(--background-neutral-secondary);
  }

  &-secondary {
    background-color: var(--background-neutral-primary);
  }
}
