/*
 * ==========================================================
 * Grid
 * ==========================================================
 */

.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, 
.grid-11, .grid-12 {
  display: inline;
  float: left;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
}

.push-1, .pull-1, .push-2, .pull-2, .push-3, .pull-3, .push-4, .pull-4,
.push-5, .pull-5, .push-6, .pull-6, .push-7, .pull-7, .push-8, .pull-8,
.push-9, .pull-9, .push-10, .pull-10, .push-11, .pull-11, .push-12, .pull-12 {
  position: relative;
}

/*
 * ==========================================================
 * Alpha - Omega
 * ==========================================================
 */

.alpha {
  margin-left: 0;
}

.omega {
  margin-right: 0;
}

/*
 * ==========================================================
 * Container
 * ==========================================================
 */

body {
  min-width: 720px;
}

.container-12 {
  margin-left: auto;
  margin-right: auto;
  width: 720px;
}

/*
 * ==========================================================
 * Columns
 * ==========================================================
 */

.container-12 .grid-1 {
  width: 40px;
}

.container-12 .grid-2 {
  width: 100px;
}

.container-12 .grid-3 {
  width: 160px;
}

.container-12 .grid-4 {
  width: 220px;
}

.container-12 .grid-5 {
  width: 280px;
}

.container-12 .grid-6 {
  width: 340px;
}

.container-12 .grid-7 {
  width: 400px;
}

.container-12 .grid-8 {
  width: 460px;
}

.container-12 .grid-9 {
  width: 520px;
}

.container-12 .grid-10 {
  width: 580px;
}

.container-12 .grid-11 {
  width: 640px;
}

.container-12 .grid-12 {
  width: 700px;
}

/*
 * ==========================================================
 * Prefix
 * ==========================================================
 */

.container-12 .prefix-1 {
  padding-left: 60px;
}

.container-12 .prefix-2 {
  padding-left: 120px;
}

.container-12 .prefix-3 {
  padding-left: 180px;
}

.container-12 .prefix-4 {
  padding-left: 240px;
}

.container-12 .prefix-5 {
  padding-left: 300px;
}

.container-12 .prefix-6 {
  padding-left: 360px;
}

.container-12 .prefix-7 {
  padding-left: 420px;
}

.container-12 .prefix-8 {
  padding-left: 480px;
}

.container-12 .prefix-9 {
  padding-left: 540px;
}

.container-12 .prefix-10 {
  padding-left: 600px;
}

.container-12 .prefix-11 {
  padding-left: 660px;
}

/*
 * ==========================================================
 * Suffix
 * ==========================================================
 */

.container-12 .suffix-1 {
  padding-right: 60px;
}

.container-12 .suffix-2 {
  padding-right: 120px;
}

.container-12 .suffix-3 {
  padding-right: 180px;
}

.container-12 .suffix-4 {
  padding-right: 240px;
}

.container-12 .suffix-5 {
  padding-right: 300px;
}

.container-12 .suffix-6 {
  padding-right: 360px;
}

.container-12 .suffix-7 {
  padding-right: 420px;
}

.container-12 .suffix-8 {
  padding-right: 480px;
}

.container-12 .suffix-9 {
  padding-right: 540px;
}

.container-12 .suffix-10 {
  padding-right: 600px;
}

.container-12 .suffix-11 {
  padding-right: 660px;
}

/*
 * ==========================================================
 * Push
 * ==========================================================
 */

.container-12 .push-1 {
  left: 60px;
}

.container-12 .push-2 {
  left: 120px;
}

.container-12 .push-3 {
  left: 180px;
}

.container-12 .push-4 {
  left: 240px;
}

.container-12 .push-5 {
  left: 300px;
}

.container-12 .push-6 {
  left: 360px;
}

.container-12 .push-7 {
  left: 420px;
}

.container-12 .push-8 {
  left: 480px;
}

.container-12 .push-9 {
  left: 540px;
}

.container-12 .push-10 {
  left: 600px;
}

.container-12 .push-11 {
  left: 660px;
}

/*
 * ==========================================================
 * Pull
 * ==========================================================
 */

.container-12 .pull-1 {
  left: -60px;
}

.container-12 .pull-2 {
  left: -120px;
}

.container-12 .pull-3 {
  left: -180px;
}

.container-12 .pull-4 {
  left: -240px;
}

.container-12 .pull-5 {
  left: -300px;
}

.container-12 .pull-6 {
  left: -360px;
}

.container-12 .pull-7 {
  left: -420px;
}

.container-12 .pull-8 {
  left: -480px;
}

.container-12 .pull-9 {
  left: -540px;
}

.container-12 .pull-10 {
  left: -600px;
}

.container-12 .pull-11 {
  left: -660px;
}
