/*
 * ==========================================================
 * Grid
 * ==========================================================
 */

.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, 
.grid-11, .grid-12 {
  float: right;
}

/*
 * ==========================================================
 * Alpha - Omega
 * ==========================================================
 */

.omega {
  margin-left: 10px;
  margin-left: 0 !important;
}

.alpha {
  margin-left: 10px;
  margin-right: 0 !important;
}

/*
 * ==========================================================
 * Prefix
 * ==========================================================
 */

.container-12 .prefix-1 {
  padding-left: 0;
  padding-right: 60px;
}

.container-12 .prefix-2 {
  padding-left: 0;
  padding-right: 120px;
}

.container-12 .prefix-3 {
  padding-left: 0;
  padding-right: 180px;
}

.container-12 .prefix-4 {
  padding-left: 0;
  padding-right: 240px;
}

.container-12 .prefix-5 {
  padding-left: 0;
  padding-right: 300px;
}

.container-12 .prefix-6 {
  padding-left: 0;
  padding-right: 360px;
}

.container-12 .prefix-7 {
  padding-left: 0;
  padding-right: 420px;
}

.container-12 .prefix-8 {
  padding-left: 0;
  padding-right: 480px;
}

.container-12 .prefix-9 {
  padding-left: 0;
  padding-right: 540px;
}

.container-12 .prefix-10 {
  padding-left: 0;
  padding-right: 600px;
}

.container-12 .prefix-11 {
  padding-left: 0;
  padding-right: 660px;
}

/*
 * ==========================================================
 * Suffix
 * ==========================================================
 */

.container-12 .suffix-1 {
  padding-right: 0;
  padding-left: 60px;
}

.container-12 .suffix-2 {
  padding-right: 0;
  padding-left: 120px;
}

.container-12 .suffix-3 {
  padding-right: 0;
  padding-left: 180px;
}

.container-12 .suffix-4 {
  padding-right: 0;
  padding-left: 240px;
}

.container-12 .suffix-5 {
  padding-right: 0;
  padding-left: 300px;
}

.container-12 .suffix-6 {
  padding-right: 0;
  padding-left: 360px;
}

.container-12 .suffix-7 {
  padding-right: 0;
  padding-left: 420px;
}

.container-12 .suffix-8 {
  padding-right: 0;
  padding-left: 480px;
}

.container-12 .suffix-9 {
  padding-right: 0;
  padding-left: 540px;
}

.container-12 .suffix-10 {
  padding-right: 0;
  padding-left: 600px;
}

.container-12 .suffix-11 {
  padding-right: 0;
  padding-left: 660px;
}

/*
 * ==========================================================
 * Push
 * ==========================================================
 */

.container-12 .push-1 {
  right: 60px;
}

.container-12 .push-2 {
  right: 120px;
}

.container-12 .push-3 {
  right: 180px;
}

.container-12 .push-4 {
  right: 240px;
}

.container-12 .push-5 {
  right: 300px;
}

.container-12 .push-6 {
  right: 360px;
}

.container-12 .push-7 {
  right: 420px;
}

.container-12 .push-8 {
  right: 480px;
}

.container-12 .push-9 {
  right: 540px;
}

.container-12 .push-10 {
  right: 600px;
}

.container-12 .push-11 {
  right: 660px;
}

/*
 * ==========================================================
 * Pull
 * ==========================================================
 */

.container-12 .pull-1 {
  right: -60px;
}

.container-12 .pull-2 {
  right: -120px;
}

.container-12 .pull-3 {
  right: -180px;
}

.container-12 .pull-4 {
  right: -240px;
}

.container-12 .pull-5 {
  right: -300px;
}

.container-12 .pull-6 {
  right: -360px;
}

.container-12 .pull-7 {
  right: -420px;
}

.container-12 .pull-8 {
  right: -480px;
}

.container-12 .pull-9 {
  right: -540px;
}

.container-12 .pull-10 {
  right: -600px;
}

.container-12 .pull-11 {
  right: -660px;
}
