/*
 * ==========================================================
 * Grid
 * ==========================================================
 */

.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, 
.grid-11, .grid-12, .grid-13, .grid-14, .grid-15, .grid-16 {
  float: right;
}

/*
 * ==========================================================
 * Alpha - Omega
 * ==========================================================
 */

.omega {
  margin-right: 10px;
  margin-left: 0 !important;
}

.alpha {
  margin-left: 10px;
  margin-right: 0 !important;
}

/*
 * ==========================================================
 * Prefix
 * ==========================================================
 */

.container-16 .prefix-1 {
  padding-left: 0;
  padding-right: 45px;
}

.container-16 .prefix-2 {
  padding-left: 0;
  padding-right: 90px;
}

.container-16 .prefix-3 {
  padding-left: 0;
  padding-right: 135px;
}

.container-16 .prefix-4 {
  padding-left: 0;
  padding-right: 180px;
}

.container-16 .prefix-5 {
  padding-left: 0;
  padding-right: 225px;
}

.container-16 .prefix-6 {
  padding-left: 0;
  padding-right: 270px;
}

.container-16 .prefix-7 {
  padding-left: 0;
  padding-right: 315px;
}

.container-16 .prefix-8 {
  padding-left: 0;
  padding-right: 360px;
}

.container-16 .prefix-9 {
  padding-left: 0;
  padding-right: 405px;
}

.container-16 .prefix-10 {
  padding-left: 0;
  padding-right: 450px;
}

.container-16 .prefix-11 {
  padding-left: 0;
  padding-right: 495px;
}

.container-16 .prefix-12 {
  padding-left: 0;
  padding-right: 540px;
}

.container-16 .prefix-13 {
  padding-left: 0;
  padding-right: 585px;
}

.container-16 .prefix-14 {
  padding-left: 0;
  padding-right: 630px;
}

.container-16 .prefix-15 {
  padding-left: 0;
  padding-right: 675px;
}

/*
 * ==========================================================
 * Suffix
 * ==========================================================
 */

.container-16 .suffix-1 {
  padding-right: 0;
  padding-left: 45px;
}

.container-16 .suffix-2 {
  padding-right: 0;
  padding-left: 90px;
}

.container-16 .suffix-3 {
  padding-right: 0;
  padding-left: 135px;
}

.container-16 .suffix-4 {
  padding-right: 0;
  padding-left: 180px;
}

.container-16 .suffix-5 {
  padding-right: 0;
  padding-left: 225px;
}

.container-16 .suffix-6 {
  padding-right: 0;
  padding-left: 270px;
}

.container-16 .suffix-7 {
  padding-right: 0;
  padding-left: 315px;
}

.container-16 .suffix-8 {
  padding-right: 0;
  padding-left: 360px;
}

.container-16 .suffix-9 {
  padding-right: 0;
  padding-left: 405px;
}

.container-16 .suffix-10 {
  padding-right: 0;
  padding-left: 450px;
}

.container-16 .suffix-11 {
  padding-right: 0;
  padding-left: 495px;
}

.container-16 .suffix-12 {
  padding-right: 0;
  padding-left: 540px;
}

.container-16 .suffix-13 {
  padding-right: 0;
  padding-left: 585px;
}

.container-16 .suffix-14 {
  padding-right: 0;
  padding-left: 630px;
}

.container-16 .suffix-15 {
  padding-right: 0;
  padding-left: 675px;
}

/*
 * ==========================================================
 * Push
 * ==========================================================
 */

.container-16 .push-1 {
  right: 45px;
}

.container-16 .push-2 {
  right: 90px;
}

.container-16 .push-3 {
  right: 135px;
}

.container-16 .push-4 {
  right: 180px;
}

.container-16 .push-5 {
  right: 225px;
}

.container-16 .push-6 {
  right: 270px;
}

.container-16 .push-7 {
  right: 315px;
}

.container-16 .push-8 {
  right: 360px;
}

.container-16 .push-9 {
  right: 405px;
}

.container-16 .push-10 {
  right: 450px;
}

.container-16 .push-11 {
  right: 495px;
}

.container-16 .push-12 {
  right: 540px;
}

.container-16 .push-13 {
  right: 585px;
}

.container-16 .push-14 {
  right: 630px;
}

.container-16 .push-15 {
  right: 675px;
}

/*
 * ==========================================================
 * Pull
 * ==========================================================
 */

.container-16 .pull-1 {
  right: -45px;
}

.container-16 .pull-2 {
  right: -90px;
}

.container-16 .pull-3 {
  right: -135px;
}

.container-16 .pull-4 {
  right: -180px;
}

.container-16 .pull-5 {
  right: -225px;
}

.container-16 .pull-6 {
  right: -270px;
}

.container-16 .pull-7 {
  right: -315px;
}

.container-16 .pull-8 {
  right: -360px;
}

.container-16 .pull-9 {
  right: -405px;
}

.container-16 .pull-10 {
  right: -450px;
}

.container-16 .pull-11 {
  right: -495px;
}

.container-16 .pull-12 {
  right: -540px;
}

.container-16 .pull-13 {
  right: -585px;
}

.container-16 .pull-14 {
  right: -630px;
}

.container-16 .pull-15 {
  right: -675px;
}
