<h1 class="minecraft-big-yellow-header" id="getting-started-header">Let's build a house.</h1>

<h2 id="select-house-text">Choose the floor plan for your house.</h2>

<div id="choose-house-container">
  <div class="minecraft-house" id="choose-house-a">
    <h1 class="minecraft-big-yellow-header">Easy</h1>
    <div class="house-outline-container">
      <div class="house-photo" id="house-a-picture"></div>
    </div>
    <div class="choose-house-button">Select</div>
  </div>
  <div class="minecraft-house" id="choose-house-b">
    <h1 class="minecraft-big-yellow-header">Medium</h1>
    <div class="house-outline-container">
      <div class="house-photo" id="house-b-picture"></div>
    </div>
    <div class="choose-house-button">Select</div>
  </div>
  <div class="minecraft-house" id="choose-house-c">
    <h1 class="minecraft-big-yellow-header">Hard</h1>
    <div class="house-outline-container">
      <div class="house-photo" id="house-c-picture"></div>
    </div>
    <div class="choose-house-button">Select</div>
  </div>
</div>

<div id="close-house-select"></div>
