<h1 class="minecraft-big-yellow-header" id="getting-started-header">Let's get started.</h1>

<h2 id="select-character-text">Choose your character.</h2>

<div id="choose-character-container">
  <div class="minecraft-character" id="choose-steve">
    <h1 class="minecraft-big-yellow-header">Steve</h1>
    <div class="character-portrait" id="steve-portrait"></div>
    <div class="choose-character-button" id="choose-steve-select">Select</div>
  </div>
  <div class="minecraft-character" id="choose-alex">
    <h1 class="minecraft-big-yellow-header">Alex</h1>
    <div class="character-portrait" id="alex-portrait"></div>
    <div class="choose-character-button" id="choose-alex-select">Select</div>
  </div>
</div>

<div id="close-character-select"></div>
