%h1 NPS Survey

%p This page allows an admin to update the audience of an NPS survey.

%h2 Survey Audience

= form_tag({controller: 'admin_nps', action: 'nps_update', method: "post"}, style: 'margin: 5px;') do
  %select{:name => "audience"}
    %option{:value => "all"} all teachers
    %option{:value => "even"} even ID teachers
    %option{:value => "odd"} odd ID teachers
    %option{:value => "none"} no teachers
  %button.btn{type: 'submit'}= "Save"
