#codeApp{style: "position: absolute; top: 60px; bottom: 10px; left: 10px; right: 10px"}
  #musiclab-container{style: "height: 100%"}

- content_for(:head) do
  %script{src: webpack_asset_path('js/googleblockly.js')}
  %script{src: webpack_asset_path('js/musiclab/index.js'), data: {channelid: @channel_id}}
