%p This is a Script Completion Task

- script = @task.script_id ? Script.find(@task.script_id) : nil
- if script
  %p
    The user is expected to the do the script
    = link_to script.name, script
- else
  %p But there is no script assigned here right now
