%h1 Minecraft Hour of Code Tutorials
%div{style: "clear:both"}
.mc-container
  .mc-tutorials
    .tutorial-box
      .img-container
        %img.mc-img{:src => 'assets/tutorial-landing/mc_landing_2016.jpg'}
      .mc-tutorial-info
        %h2.mc-h1-second-box 2016 Minecraft Hour of Code Designer
        %p.mc-tutorial-description Program animals and enemies in your own version of Minecraft.
        %p.mc-tutorial-specs Many languages | Modern browsers and tablets | Ages 6-106
        %a{:href => CDO.studio_url('/s/mc/reset'), :target=>'_self'}
          %button.primary Try now
    .tutorial-box
      .img-container
        %img.mc-img{:src => 'assets/tutorial-landing/mc_landing_2015.jpg'}
      .mc-tutorial-info
        %h2.mc-h1-second-box 2015 Minecraft Hour of Code
        %p.mc-tutorial-description Use code to take Alex or Steve on an adventure.
        %p.mc-tutorial-specs Many languages | Modern browsers and tablets | Ages 6-106
        %a{:href => CDO.studio_url('/s/mc/reset'), :target=>'_self'}
          %button.primary Try now
