:css
  .white-text {
    color: white;
  }

%h1 Minecraft Hour of Code Tutorials
%p Many languages | Modern browsers and tablets | Grades 2+
%div{style: "clear:both"}
.mc-container
  .mc-tutorials
    .tutorial-box{style: "margin-right: 14px;"}
      .img-container
        %img.mc-img{:src => 'assets/tutorial-landing/mc_landing_2016.jpg'}
      .mc-tutorial-info
        %h1.new-mc New!
        %h2.mc-h1-second-box Minecraft Designer
        %p.mc-tutorial-description Program animals and enemies in your own version of Minecraft.
        %a{:href => CDO.studio_url('/s/mc/reset'), :target=>'_self'}
          %button.primary Try 2016 now
    .tutorial-box
      .img-container
        %img.mc-img{:src => 'assets/tutorial-landing/mc_landing_2015.jpg'}
      .mc-tutorial-info
        %h2.mc-h1-second-box Minecraft Adventurer
        %p.mc-tutorial-description Use code to take Alex or Steve on an adventure.
        %a{:href => CDO.studio_url('/s/mc/reset'), :target=>'_self'}
          %button.primary Try 2015 now

.clear
%br
%h2.mc-header2
  Don't have Internet?
  %a{href: CDO.studio_url("/download/mc")} Download the offline version.
%br

%div{style: 'width: 45%; height: 200px; background-color: #0094ca; color: white; float: left; padding: 0 20px;'}
  %h2.white-text Microsoft Store Hour of Code Camps
  Sign up for free Hour of Code camps at the Microsoft Store and learn how to combine your creativity with coding.
  %br
  %br
  %a{href: 'https://www.microsoft.com/youthsparkprograms'}
    %button.primary{style: 'background-color: #59b9dc; border-color: white;'}
      Sign up

%div{style: 'width: 45%; height: 200px; background-color: #b9bf15; color: white; float: right; padding: 0 20px;'}
  %h2.white-text Host an Hour of Code Minecraft Event
  Anyone, anywhere can host their own Hour of Code Minecraft event. Download everything you need right here!
  %br
  %br
  %a{href: 'https://docs.com/hourofcode2016'}
    %button.primary{style: 'background-color: #d1d567; border-color: white;'}
      Download

.clear

%div{style: 'width: 45%; height: 230px; background-color: #7665a0; color: white; float: left; padding: 0 20px; margin-top: 20px;'}
  %h2.white-text Join Facilitator Training
  Join Microsoft and Minecraft for an Hour of Code Facilitator Training. Training will be held online from November 22 to 29, to be conducted in English only.
  %br
  %br
  %a{href: 'https://aka.ms/vir748pal-register', style: 'font-family: "Gotham 4r", sans-serif;'}
    %div{style: 'width: 25%; height: 50px; background-color: #a69bc1; color: white; float: left; padding: 10px; border: 1px solid white; border-radius: 5px;'}
      November 22
      %br
      7:00 - 8:00 AM Pacific
  %a{href: 'https://aka.ms/vir748pal2-register', style: 'font-family: "Gotham 4r", sans-serif;'}
    %div{style: 'width: 25%; height: 50px; background-color: #a69bc1; color: white; float: left; padding: 10px; border: 1px solid white; border-radius: 5px; margin-left: 10px;'}
      November 22
      %br
      5:00 - 6:00 PM Pacific
  %a{href: 'https://aka.ms/vir748pal3-register', style: 'font-family: "Gotham 4r", sans-serif;'}
    %div{style: 'width: 25%; height: 50px; background-color: #a69bc1; color: white; float: left; padding: 10px; border: 1px solid white; border-radius: 5px; margin-left: 10px;'}
      November 29
      %br
      3:00 - 4:00 PM Pacific

%div{style: 'width: 45%; height: 230px; background-color: #ffa400; color: white; float: right; padding: 0 20px; margin-top: 20px;'}
  %h2.white-text Explore Microsoft YouthSpark
  Whatever you’re passionate about, you can use computer science to imagine, create, and make a future that’s yours. Microsoft YouthSpark provides free tools and resources to pursue your passion.
  %br
  %br
  %a{href: 'https://www.microsoft.com/about/philanthropies/youthspark/youthsparkhub'}
    %button.primary{style: 'background-color: #ffc459; border-color: white;'}
      Explore

.clear
