-# Expected params: name, label

%label.control-label{for: name}
  = label
  %span.form-required-field *
%div
  %table.table.table-bordered
    %thead
      - PdWorkshopSurvey::AGREE_SCALE_OPTIONS.map do |option|
        %td
          = option
    %tbody
      %tr
        - PdWorkshopSurvey::AGREE_SCALE_OPTIONS.map do |option|
          %td
            %label{style: 'cursor:pointer; width:100%; height:100%;'}
              %input{type: 'radio', name: name, value: option}
