-# Expected params: name, label

%div.form-group{for: name}
  %label.control-label{for: name}
    = label
  %span.form-required-field *
  - PdWorkshopSurvey::options_for(name).map do |option|
    .checkbox
      %label{style: 'font-family: inherit'}
        %input{name: name, type: 'checkbox', value: option}
        = option
