-# Expected params: name, label, form

%div.form-group{for: name}
  %label.control-label{for: name}
    = label
    %span.form-required-field *
  - form.options_for(name).map do |option|
    .radio
      %label{style: 'font-family: inherit'}
        %input{name: name, type: 'radio', value: option}
        = option
