%table.users{style: 'width: 100%'}
  %tr
    - ['ID', 'Name', 'Email', 'Provider', 'Can Share?', 'Deleted At', 'Undelete', 'Delete'].each do |field|
      %th
        %span= field
  - users.each do |user|
    %tr
      - [:id, :name, :email, :provider].each do |field|
        %td
          - if field == :name
            =link_to user.name, find_student_path(user_id: user.id)
          - else
            %span= user[field]
      %td
        %span= !user.sharing_disabled?
      - if user.deleted?
        %td
          %span= user[:deleted_at]
        %td
          =link_to 'Undelete User', undelete_user_path(user_id: user[:id]), method: :post, class: "btn", data: {confirm: "Are you sure?"}
      - else
        %td
        %td
        %td
          =link_to delete_user_path(user_id: user[:id]), method: :post, class: "btn", data: {confirm: "Are you sure you want to DELETE this user?"} do
            %i.fa.fa-trash
            Delete User
