<h2>Apps:</h2>
<ul>
  <li><a href="/maze?locale=en_us&dir=ltr&level=2_1&skin=pvz">Maze</a></li>
  <li><a href="/maze?locale=en_us&dir=ltr&level=k1_demo&skin=pvz">Maze K1</a></li>
  <li><a href="/turtle?locale=en_us&dir=ltr&level=1_1&skin=artist">Turtle</a></li>
  <li><a href="/turtle?locale=en_us&dir=ltr&level=k1_demo&skin=artist">Turtle K1</a></li>
  <li><a href="/bounce?locale=en_us&dir=ltr&level=12&skin=bounce">Bounce</a></li>
  <li><a href="/flappy?locale=en_us&dir=ltr&level=11&skin=flappy">Flappy</a></li>
  <li><a href="/flappy?locale=en_us&dir=ltr&level=k1&skin=flappy">Flappy K1</a></li>
  <li><a href="/studio?locale=en_us&dir=ltr&level=full_sandbox&skin=studio">Studio</a></li>
  <li><a href="/jigsaw?locale=en_us&dir=ltr&level=1&skin=jigsaw">Jigsaw</a></li>
  <li><a href="/calc?locale=en_us&dir=ltr&level=example1&skin=calc">Calc</a></li>
</ul>
