%p
  Thank you for applying to join Code.org’s Professional Learning Program! We
  have received your application, and we look forward to reviewing it over the
  next few weeks. As a reminder, please make sure your principal has received and
  completed the approval form.

%p
  We are reviewing applications on a rolling basis, and will follow-up with you
  within a few weeks.
  We won’t be able to provide individual updates before that time, but please contact
  %a{href:"mailto:teacher@code.org"}teacher@code.org
  if you need to make a change to your application.

%p
  In the meantime, we invite you to visit
  %a{href:"https://code.org/educate"}https://code.org/educate
  for additional resources and opportunities to connect with other computer science
  educators. Thank you for supporting computer science for all!

%p
  Sarah Fairweather
  %br
  Teacher Development Program Manager
