%p
  Hello
  = "#{@teacher_first_name}!"
%p
  We have received your principal’s approval form for your application to
  join Code.org’s Professional Learning Program. Your application is now
  considered complete, so we will review it over the next few weeks.
%p
  We are reviewing applications on a rolling basis, and will follow-up with you
  within a few weeks.
  In the meantime, don’t forget to check some
  %a{href:"https://code.org/educate/resources/videos"} great resources
  you can put to use today!
%p
  Thank you,
%p
  Sarah Fairweather
  %br
  Teacher Development Program Manager
