---
http_interactions:
- request:
    method: post
    uri: https://dynamodb.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"TableName":"test_properties","Item":{"hash":{"S":"1:"},"name":{"S":"key"},"updated_at":{"S":"2016-03-03T22:51:49-08:00"},"updated_ip":{"S":"127.0.0.1"},"value":{"S":"\"value\""}}}'
    headers:
      X-Amz-Target:
      - DynamoDB_20120810.PutItem
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 6J715LG8J383U1M9LL37HNS3DNVV4KQNSO5AEMVJF66Q9ASUAAJG
      X-Amz-Crc32:
      - '2745614147'
      Content-Type:
      - application/x-amz-json-1.0
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Fri, 04 Mar 2016 06:51:49 GMT
[...]
- request:
    method: post
    uri: https://dynamodb.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"TableName":"test_properties","Key":{"hash":{"S":"1:"},"name":{"S":"key"}}}'
    headers:
      X-Amz-Target:
      - DynamoDB_20120810.GetItem
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - N0NN7U7Q5KI06VH3OJSQV4MSTNVV4KQNSO5AEMVJF66Q9ASUAAJG
      X-Amz-Crc32:
      - '2831922964'
      Content-Type:
      - application/x-amz-json-1.0
    body:
      encoding: UTF-8
      string: '{"Item":{"hash":{"S":"1:"},"value":{"S":"\"value\""},"updated_ip":{"S":"127.0.0.1"},"name":{"S":"key"},"updated_at":{"S":"2016-03-03T22:51:49-08:00"}}}'
  recorded_at: Fri, 04 Mar 2016 06:51:50 GMT
[...]
- request:
    method: post
    uri: https://dynamodb.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"TableName":"test_properties","Key":{"hash":{"S":"1:"},"name":{"S":"key"}}}'
    headers:
      X-Amz-Target:
      - DynamoDB_20120810.GetItem
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - SSR23GVH7C4JIN6SUNNUDHJNFBVV4KQNSO5AEMVJF66Q9ASUAAJG
      X-Amz-Crc32:
      - '2831922964'
      Content-Type:
      - application/x-amz-json-1.0
    body:
      encoding: UTF-8
      string: '{"Item":{"hash":{"S":"1:"},"value":{"S":"\"value\""},"updated_ip":{"S":"127.0.0.1"},"name":{"S":"key"},"updated_at":{"S":"2016-03-03T22:51:49-08:00"}}}'
  recorded_at: Fri, 04 Mar 2016 06:51:51 GMT
recorded_with: VCR 3.0.0
