---
http_interactions:
- request:
    method: post
    uri: https://dynamodb.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"TableName":"test_properties","Item":{"hash":{"S":"1:"},"name":{"S":"key"},"updated_at":{"S":"2016-03-04T17:15:53-08:00"},"updated_ip":{"S":"127.0.0.1"},"value":{"S":"\"value\""}}}'
    headers:
      X-Amz-Target:
      - DynamoDB_20120810.PutItem
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - LHRFI9J1US6BC9EQRMBIH6PIMVVV4KQNSO5AEMVJF66Q9ASUAAJG
      X-Amz-Crc32:
      - '2745614147'
      Content-Type:
      - application/x-amz-json-1.0
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Sat, 05 Mar 2016 01:15:53 GMT
[...]
- request:
    method: post
    uri: https://dynamodb.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"TableName":"test_properties","Key":{"hash":{"S":"1:"},"name":{"S":"key"}}}'
    headers:
      X-Amz-Target:
      - DynamoDB_20120810.GetItem
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - V0O2PUBK7S0DNPO1E9VREJIDKJVV4KQNSO5AEMVJF66Q9ASUAAJG
      X-Amz-Crc32:
      - '2487667577'
      Content-Type:
      - application/x-amz-json-1.0
    body:
      encoding: UTF-8
      string: '{"Item":{"hash":{"S":"1:"},"value":{"S":"\"value\""},"updated_ip":{"S":"127.0.0.1"},"name":{"S":"key"},"updated_at":{"S":"2016-03-04T17:15:54-08:00"}}}'
  recorded_at: Sat, 05 Mar 2016 01:15:54 GMT
[...]
- request:
    method: post
    uri: https://dynamodb.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"TableName":"test_properties","Key":{"hash":{"S":"1:"},"name":{"S":"key"}}}'
    headers:
      X-Amz-Target:
      - DynamoDB_20120810.GetItem
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - RLHKTC2A5532R5IQ8ONAN1C4DVVV4KQNSO5AEMVJF66Q9ASUAAJG
      X-Amz-Crc32:
      - '2487667577'
      Content-Type:
      - application/x-amz-json-1.0
    body:
      encoding: UTF-8
      string: '{"Item":{"hash":{"S":"1:"},"value":{"S":"\"value\""},"updated_ip":{"S":"127.0.0.1"},"name":{"S":"key"},"updated_at":{"S":"2016-03-04T17:15:54-08:00"}}}'
  recorded_at: Sat, 05 Mar 2016 01:15:55 GMT
recorded_with: VCR 3.0.0
