---
http_interactions:
- request:
    method: post
    uri: https://dynamodb.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"TableName":"test_tables","KeyConditions":{"hash":{"AttributeValueList":[{"S":"1:stub_rack_attack_table:"}],"ComparisonOperator":"EQ"}},"AttributesToGet":["row_id"],"Limit":1,"ScanIndexForward":false}'
    headers:
      X-Amz-Target:
      - DynamoDB_20120810.Query
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - DQPQCGDMP2IOLQV3UNULN6VF4FVV4KQNSO5AEMVJF66Q9ASUAAJG
      X-Amz-Crc32:
      - '2258603475'
      Content-Type:
      - application/x-amz-json-1.0
    body:
      encoding: UTF-8
      string: '{"Count":1,"Items":[{"row_id":{"N":"16"}}],"LastEvaluatedKey":{"row_id":{"N":"16"},"hash":{"S":"1:stub_rack_attack_table:"}},"ScannedCount":1}'
  recorded_at: Sat, 05 Mar 2016 01:14:26 GMT
- request:
    method: post
    uri: https://dynamodb.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"TableName":"test_tables","Item":{"hash":{"S":"1:stub_rack_attack_table:"},"channel_id":{"N":"1"},"table_name":{"S":"stub_rack_attack_table"},"row_id":{"N":"17"},"updated_at":{"S":"2016-03-04T17:14:26-08:00"},"updated_ip":{"S":"127.0.0.1"},"value":{"S":"{\"name\":\"Alice\",\"age\":7}"}},"Expected":{"row_id":{"Value":{"N":"17"},"ComparisonOperator":"NE"}}}'
    headers:
      X-Amz-Target:
      - DynamoDB_20120810.PutItem
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - QCU0GL8RUQRNTQU3L2EQJFMCM7VV4KQNSO5AEMVJF66Q9ASUAAJG
      X-Amz-Crc32:
      - '2745614147'
      Content-Type:
      - application/x-amz-json-1.0
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Sat, 05 Mar 2016 01:14:26 GMT
- request:
    method: post
    uri: https://dynamodb.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"TableName":"test_table_metadata","ConsistentRead":true,"Key":{"hash":{"S":"1:stub_rack_attack_table:shared:metadata"}}}'
    headers:
      X-Amz-Target:
      - DynamoDB_20120810.GetItem
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - E6QRIJ73LC0AKU2V302H8TR133VV4KQNSO5AEMVJF66Q9ASUAAJG
      X-Amz-Crc32:
      - '3065187367'
      Content-Type:
      - application/x-amz-json-1.0
    body:
      encoding: UTF-8
      string: '{"Item":{"channel_id":{"N":"1"},"hash":{"S":"1:stub_rack_attack_table:shared:metadata"},"table_name":{"S":"stub_rack_attack_table"},"updated_at":{"S":"2016-03-03T22:19:34-08:00"},"column_list":{"S":"[\"name\",\"age\"]"}}}'
  recorded_at: Sat, 05 Mar 2016 01:14:26 GMT
[...]
- request:
    method: post
    uri: https://dynamodb.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"TableName":"test_tables","Key":{"hash":{"S":"1:stub_rack_attack_table:"},"row_id":{"N":"17"}},"Expected":{"row_id":{"Value":{"N":"17"},"ComparisonOperator":"EQ"}}}'
    headers:
      X-Amz-Target:
      - DynamoDB_20120810.DeleteItem
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - J2JI843H7M57NIV99QSTDCR3SNVV4KQNSO5AEMVJF66Q9ASUAAJG
      X-Amz-Crc32:
      - '2745614147'
      Content-Type:
      - application/x-amz-json-1.0
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Sat, 05 Mar 2016 01:14:27 GMT
recorded_with: VCR 3.0.0
