---
http_interactions:
- request:
    method: post
    uri: https://dynamodb.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"TableName":"test_tables","ConsistentRead":true,"KeyConditions":{"hash":{"AttributeValueList":[{"S":"1:stub_rack_attack_table:"}],"ComparisonOperator":"EQ"}}}'
    headers:
      X-Amz-Target:
      - DynamoDB_20120810.Query
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 3S4G2RD2C3QD7IDQFCSM4S6NGBVV4KQNSO5AEMVJF66Q9ASUAAJG
      X-Amz-Crc32:
      - '2249549080'
      Content-Type:
      - application/x-amz-json-1.0
    body:
      encoding: UTF-8
      string: '{"Count":16,"Items":[{"value":{"S":"{\"name\":\"Alice\",\"age\":7}"},"hash":{"S":"1:stub_rack_attack_table:"},"row_id":{"N":"1"},"channel_id":{"N":"1"},"updated_ip":{"S":"127.0.0.1"},"table_name":{"S":"stub_rack_attack_table"},"updated_at":{"S":"2016-03-03T22:19:33-08:00"}},{"value":{"S":"{\"name\":\"Alice\",\"age\":7}"},"hash":{"S":"1:stub_rack_attack_table:"},"row_id":{"N":"2"},"channel_id":{"N":"1"},"updated_ip":{"S":"127.0.0.1"},"table_name":{"S":"stub_rack_attack_table"},"updated_at":{"S":"2016-03-03T22:22:23-08:00"}},{"value":{"S":"{\"name\":\"Alice\",\"age\":7}"},"hash":{"S":"1:stub_rack_attack_table:"},"row_id":{"N":"3"},"channel_id":{"N":"1"},"updated_ip":{"S":"127.0.0.1"},"table_name":{"S":"stub_rack_attack_table"},"upda[...]
[...]
