.alpha-notice {
  border: #EEDD55 1px solid;
  margin: 6px 0 30px 0;
  padding: 10px;
  color: #884400;
}
 
div.vertical-tabs .vertical-tabs-panes .vertical-tabs-pane fieldset {
  border: 1px solid #ccc;
  margin: 1em 0;
  padding: 2.5em 0 0;
}

div.vertical-tabs .vertical-tabs-panes .vertical-tabs-pane fieldset legend {
  display: inline-block;
}

#edit-styles-narrow,
#edit-styles-normal,
#edit-styles-wide,
.form-item-alpha-responsive-narrow-media,
.form-item-alpha-responsive-normal-media,
.form-item-alpha-responsive-wide-media {
  margin-left: 20px !important;
}

.alpha-inline .form-item {
  padding-top: 5px;
  margin-right: 20px !important;
  float: left;
}

.alpha-inline .form-type-checkbox {
  float: none;
}

.alpha-media-query {
  width: 95%;
}

fieldset fieldset {
  background-color: #F6F6F6;
}

fieldset fieldset fieldset {
  background-color: #FFFFFF;
}

fieldset fieldset fieldset fieldset {
  background-color: #F6F6F6;
}
