Dear Educator,
\
Congratulations on leading 15 or more students through our K-8 Intro to Computer Science course! We hope it was a big hit in your classroom. 
\
At this time, we’ve given out all of the DonorsChoose.org credits for U.S. public school teachers. Please see this FAQ if you have any questions regarding the end of this promotion:
http://code.org/faq
\
Also, please keep a look out for our new K-5 curriculum, which consists of 3 new grade-banded courses, which will be debuting this summer:
http://code.org/educate/curriculum
\
Thanks,
The Code.org Team
