Congratulations!
\
At least 15 of your students have collected all of the concept trophies in Code.org's K-8 Intro to Computer Science Course. In addition, 7 or more of these students are girls. As a result, you have earned a bonus prize of $250 in DonorsChoose.org credits!
\
To redeem your prize, click the link below:
#{my_prizes_url}
\
Thanks
The Code.org Team
\
NOTE: Prizes are for U.S. public school teachers only
