- content_for(:head) do
  = stylesheet_link_tag 'css/pd', media: 'all'
  %script{src: webpack_asset_path('js/pd/application_dashboard/index.js'), data: @script_data}

#application-container
  -# populated by React
