.pickerContainer {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(2, 1fr);
}

// Ensures the dialog and overlay are on top of other Python Lab elements.
div.dialogContainer > div[role='presentation'] {
  z-index: 5;
}

.pickerDialog {
  padding: 24px 32px;
}
