@import 'color';

.getStartedPage {
  background: linear-gradient(180deg, $light_gray_950 0%, $light_black 100%);
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
}

.getStartedContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px;
  height: calc(100% - 40px);
}

.getStartedTop {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: center;
}


.botScanning {
  width: 140px;
  height: 370px;
  object-fit: cover;
  object-position: top left;
  align-self: center;
}

.getStartedTitle {
  color: $light_white;
  font-weight: 500;
  margin-bottom: 10px;
}

.getStartedSubtitle {
  color: var(--brand-aqua-50, #3CFFF7)
}

.selectOption {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.selectOptionPage {
  display: flex;
  flex-direction: column;
  margin: 48px 56px 20px 56px;
  align-items: center;
}

.selectOptionSubtitle {
  color: $light_gray_800
}

.skipLink {
  align-self: end;
  margin-top: 4px;
  cursor: pointer;
  margin-bottom: 8px;
}

.bottomButtons {
  display: flex;
  flex-direction: column;
  width: calc(100% - 40px);
  text-align: end;
  align-self: center;
}

.optionRow {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0;
  border-radius: 4px;
  border: 2px solid $light_gray_200;
  margin: 16px 0 0 0;
  background-color: inherit;

  &:active {
    border: 2px solid $light_gray_200 !important;
  }
}

.optionRowWithPic {
  flex-direction: column;
}

.ai101Thumbnail {
  margin: 0 12px 12px 12px;
  border-radius: 4px;
}

.optionIcon {
  font-size: 24px;
  margin-top: 10px;
  width: 54px;
  min-width: 54px;
  display: flex;
  justify-content: center;

  --fa-primary-color: var(--light-aqua-70, #19BBB5);
  --fa-secondary-color: var(--light-aqua-700, #30CCC6);
}

.optionText {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
  margin-top: 12px;
  margin-right: 12px;
  margin-bottom: 12px;
  gap: 8px;
}

.optionWithPicTop {
  width: 100%;
  margin-top: 12px;
  margin-right: 12px;
  margin-bottom: 12px;
  display: flex;
}

.optionTitle {
  margin-bottom: 0;
}

.optionDescription {
  margin-bottom: 0;
}

.selectedOption {
  border: 4px solid #3CFFF7;
  width: calc(100% + 8px);

  &:active {
    border: 4px solid #3CFFF7 !important;
  }
}

.practicePage {
  height: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  align-content: stretch;
}

.endPage {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 32px 20px 20px 20px;
}

.endPageTop {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 36px 36px 36px;
}

.endPageSubTitle {
  margin-top: 16px;
  color: $neutral_dark80;
}

.botConfetti {
  width: 132px;
}

.endPage a {
  text-decoration: none !important;
}
