- @page_title = 'Code.org TeacherCon Registration for Facilitators'
- content_for(:head) do
  = stylesheet_link_tag 'css/pd', media: 'all'

%p
  This Code Studio account is not linked to a current facilitator. If you are a
  Code.org facilitator, please confirm you are using the correct Code Studio
  account.

%p
  If you have any questions, please contact
  %a{href:'mailto:facilitators@code.org'}facilitators@code.org.
