$min-message-editor-height: 42px;
$max-message-editor-height: 250px;

.textArea {
    width: 80%;
    box-sizing: border-box;
    resize: vertical;
    min-height: $min-message-editor-height;
    max-height: $max-message-editor-height;
    margin: 0;
    flex: 1;
}

.editorContainer {
    padding: 10px;
    display: flex;
    width: 100%;
    box-sizing: border-box;
    gap: 5px;
}

.bottomSingleItemContainer {
    display: flex;
    justify-content: center;
    align-items: end;
}
