#styleguide-app
%script{src: minifiable_asset_path('js/marked/marked.js')}
%script{src: minifiable_asset_path('js/essential.js')}
%script{src: minifiable_asset_path('js/code-studio-common.js')}
%script{src: minifiable_asset_path('js/common.js')}
%script{src: asset_path("js/#{js_locale}/common_locale.js")}
%script{src: minifiable_asset_path('js/styleguide.js')}
