@use '../layout/variables.scss' as variables;

$top-position: 62px;
$bottom-position: 20px;
$gap-height: 43px;

@keyframes slide-up {
  from {
    opacity: 0;
    margin-top: 40px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}

@keyframes slide-down {
  from {
    opacity: 0;
    margin-bottom: 40px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}

.guideContainerModal {
  background-color: rgba(0 0 0 / .3);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 71;

  &Gap {
    top: $gap-height;
  }
}

.guide {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 32px;
  border-radius: 14px;
  padding: 24px;
  border: 1px solid var(--borders-neutral-primary);
  filter: drop-shadow(0 0 0.75rem black);
  z-index: variables.$z-index-floating-ui;
  background: var(--background-neutral-secondary);
  box-shadow: 0 6px 18px 0 rgba(0 0 0 / 0.30);
  font-size: 16px;
  line-height: 1.5;
  gap: 16px;
  container-type: inline-size;

  &NormalWidth {
    width: 40%;
  }

  &NarrowWidth {
    width: 20%;
  }

  &NormalPosition {
    top: $top-position;
    animation: 0.75s ease 1.5s backwards slide-up;
  }

  &BottomPosition {
    bottom: $bottom-position;
    animation: 0.75s ease 1.5s backwards slide-down;
  }

  &Gap {
    top: $top-position - $gap-height;
  }
}

.markdown {
  p, li, h1, h2, h3, h4 {
    font-size: 16px;
    line-height: 1.5;
  }
}
