%h1 New plc_task

= render 'form'

- if @task.plc_learning_modules.size == 1
  = link_to 'Back to Learning Module', plc_learning_module_path(@task.plc_learning_modules.first)
- else
  = link_to 'Back to Content Creation', plc_content_creator_show_courses_and_modules_path
