<% var msg = require('../../locale/current/common') %>

<% if (finishButton) { %>
  <div id="share-cell" class="share-cell-none">
    <button id="finishButton" class="share">
      <img src="<%= assetUrl('media/1x1.gif') %>"><%= msg.finish() %>
    </button>
  </div>
<% } %>
