@import "color.scss";
@import "font.scss";

.multiSelectGroup {
  fieldset div {
    display: inline-block;
    margin: 0 4px;
  }

  fieldset div:nth-of-type(1) {
    margin-left: 0;
  }

  fieldset div label {
    display: inline-block;
    background-color: $neutral_white;
    border: 1px solid $neutral_dark;
    color: $neutral_dark;
    min-width: 30px;
    text-align: center;
    border-radius: 25px;
    white-space: nowrap;
    margin: 4px 0;
    padding: 8px 12px;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
  }

  // TODO: once we agree and receive a final approve on what styles of typography
  //  are and the Label styles added to Typography Elements - remove and rewrite labels with typography elements.
  label.typographyLabel {
    @include main-font-semi-bold;
    color: $neutral_dark;
    font-size: 16px;
  }

  fieldset div input[type="checkbox"] {
    position: absolute;
    opacity: 0;
  }

  fieldset div input[type="checkbox"]:hover + label {
    background-color: $neutral_dark10;
  }

  fieldset div input[type="checkbox"]:focus + label {
    outline: 2px solid $brand_primary_default;
    outline-offset: 2px;
  }

  fieldset div input[type="checkbox"]:checked + label {
    border: 1px solid $brand_primary_default;
    background-color: $brand_primary_default;
    color: $neutral_white;
  }

  fieldset div input[type="checkbox"]:checked:focus + label {
    outline: 2px solid $brand_primary_default;
    outline-offset: 2px;
  }

  fieldset div input[type="checkbox"]:checked:hover + label {
    background-color: $brand_primary_dark;
  }
}
