@import "color.scss";

.navContainer {
  background-color: $neutral_dark;
  display: flex;
  margin-bottom: 24px;
  position: relative;
  padding-left: 8px;
  overflow-x: scroll;

  a.linkContainer {
    white-space: nowrap;
    text-decoration: none;
    background-color: $neutral_dark70;
    color: $neutral_white;
    font-size: 16px;
    font-weight: 600;
    margin: 10px 8px 0 0;
    padding: 0 10px;
    border-radius: 4px 4px 0px 0px;
  }

  a.activeLinkContainer {
    background-color: $neutral_light;
    color: #007785;
  }

  .link {
    height: 40px;
    display: flex;
    align-items: center;
    text-align: center;
  }
}


