@import 'color.scss';
@import 'font';
@import 'style-constants';

.pageContainer {
  display: flex;
  min-height: 100vh;
}

.content {
  margin-left: 242px;
  height: 100vh;
}

.navContainer {
  background-color: $neutral_dark;
  display: flex;
  position: relative;
  padding-left: 64px;
  overflow-x: auto;

  a.linkContainer {
    white-space: nowrap;
    text-decoration: none;
    background-color: $neutral_dark70;
    color: $neutral_white;
    font-size: 16px;
    font-weight: 600;
    margin: 10px 8px 0 0;
    padding: 0 10px;
    border-radius: 4px 4px 0 0;
  }

  a.activeLinkContainer {
    background-color: $neutral_white;
    color: #007785;
  }

  .link {
    height: 40px;
    display: flex;
    align-items: center;
    text-align: center;
  }
}

.dashboardPage {
  max-width: $content-width;
  padding: 10px 64px 64px 64px;
}

.text {
  font-style: italic;
  text-align: center;
  padding-top: 10px;
}

.emptyClassroom {
  text-align: center;
  max-width: 538px;
  margin: 104px auto 82px auto;
}

.emptyClassroomProgress {
  text-align: center;
  max-width: 538px;
  margin: auto;
}

.emptyClassroomDiv {
  margin: 24px 64px 82px 64px;
}

.header {
  display: flex;
  justify-content: space-between;

  &Container {
    padding: 0 64px;

    & h1 {
      font-family: $barlowSemiCondensed-medium;
      font-weight: 600;
      font-size: 34px;
      color: $darkest_gray;
      line-height: 42px;
      margin-top: 18px;
    }
  }

  &Link {
    margin-top: 12px;

    &Chevron {
      margin-inline-end: 8px;
      color: $light_secondary_500;

      &:hover,
      :active,
      :visited,
      :focus-visible {
        color: $light_secondary_500;
      }
    }
  }

  &Curriculum {
    margin-bottom: 8px;
  }

  &RightColumn {
    display: flex;
    flex-direction: column-reverse;
  }

  &ButtonSection {
    display: flex;
    margin-bottom: 5px;
  }
}

.navLink {
  display: inline-block;
  background-color: $purple;
  color: $white;
  text-align: center;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  height: auto;
  line-height: 24px;
  font-weight: 600;

  &:hover {
    background-color: $brand_secondary_dark;
    color: $white;
    text-decoration: none;
  }

  &:focus {
    outline: $brand_primary_default solid 2px;
    outline-offset: 2px;
    color: $white;
    text-decoration: none;
  }
}

.topPadding {
  padding-top: 24px;
}
