@import 'color.scss';

.dashboardPage {
  background-color: $white;
  width: 100%;
}

.dashboardPageContent {
  max-width: 970px;
}

.text {
  font-style: italic;
  text-align: center;
  padding-top: 10px;
}
