---
title: CS in Algebra Curriculum
---

%link(rel='stylesheet' type='text/css' href='/shared/css/course-blocks.css')

%h1 Computer Science in Algebra
%h3 Powered by Bootstrap, Preferred Provider for Professional Development

= partial('_additional/_additional')

-content = CurriculumCourse.new("algebra")
-content.get_lessons.each do |lesson|
  %a{:href=>lesson.url}
    Lesson #{lesson.number}: #{lesson.title}
    %br

= partial('_additional/_additional2')
