.sketchlabContainer {
  width: 100%;
  height: 100%;
  display: flex;
}

:global(.excalidraw .dropdown-menu) {
  display: block;
}


:global(.excalidraw .popover) {
  display: block;
}

:global(.excalidraw .Toast) {
  background-color: var(--background-error-primary);

  p {
    color: var(--text-error-primary);
  }
}
