@import "color";
@import "@cdo/apps/componentLibrary/common/styles/mixins";
@import "@cdo/apps/componentLibrary/typography/typography.module";

// TextField common styles
.textField {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.125rem;
  min-width: 18.75rem;
  margin: 0;

  input {
    margin-bottom: 0;
    border-radius: 0.25rem;
    border: 1px solid unset;
    caret-color: $light_primary_500;

    &:focus-visible {
      outline: 2px solid $light_primary_500;
      outline-offset: 2px;
      box-shadow: none;
    }
  }

  .textFieldHelperSection {
    display: flex;
    align-items: baseline;
    align-self: stretch;
  }
}

// TextField colors
.textField.textField-black, .textField.textField-gray {
  .textFieldLabel {
    color: $light-black;
  }

  input {
    border-color: $light_black;
    background: $light_white;

    &::placeholder {
      color: $light_gray_400;
    }

    &:focus-visible {
      border-color: $light_black;
    }
  }

  .textFieldHelperSection {
    color: $light_black;
  }

  .textFieldErrorSection {
    color: $light_negative_500;
  }

  // Disabled styles
  &:has(input:disabled) {
    .textFieldLabel {
      color: $light_gray_200;
    }

    input {
      border-color: $light_gray_200;
      color: $light_gray_200;
    }

    .textFieldHelperSection, .textFieldErrorSection {
      color: $light_gray_200;
    }
  }

  // Read Only styles
  &:has(input:read-only) {
    input {
      border-color: $light_gray_200;
      background-color: $light_gray_50;
    }
  }
}

.textField.textField-gray {
  input {
    border-color: $light_gray_400;

    &:focus-visible {
      border-color: $light_gray_400;
    }
  }
}

.textField.textField-white {
  .textFieldLabel {
    color: $light_white;
  }

  input {
    border-color: $light_white;
    background: $light_black;
    color: $light_white;

    &::placeholder {
      color: $light_gray_600;
    }

    &:focus-visible {
      border-color: $light_white;
    }
  }

  .textFieldHelperSection, .textFieldErrorSection {
    color: $light_white;
  }

  // Disabled styles
  &:has(input:disabled) {
    .textFieldLabel {
      color: $light_gray_700;
    }

    input {
      border-color: $light_gray_800;
      color: $light_gray_800;
    }

    .textFieldHelperSection, .textFieldErrorSection {
      color: $light_gray_700;
    }
  }

  // Read Only styles
  &:has(input:read-only) {
    input {
      border-color: $light_gray_200;
      background-color: $light_gray_900;
    }
  }
}

// TextField sizes
.textField-l {
  .textFieldLabel {
    @include label-one;
    margin-bottom: 0;
  }

  input {
    @include body-one;
    padding: 0.625rem 0.875rem;
    margin-bottom: 0;
  }

  .textFieldHelperSection {
    @include body-two;
    margin-bottom: 0;
    gap: 0.375rem;
  }
}

.textField-m {
  .textFieldLabel {
    @include label-two;
    margin-bottom: 0;
  }

  input {
    @include body-two;
    padding: 0.5rem 0.75rem;
    margin-bottom: 0;

    &::placeholder {
      color: $light_gray_400;
    }
  }

  .textFieldHelperSection {
    @include body-three;
    margin-bottom: 0;
    gap: 0.375rem;
  }
}

.textField-s {
  .textFieldLabel {
    @include label-three;
    margin-bottom: 0;
  }

  input {
    @include body-three;
    padding: 0.3125rem 0.625rem;
    margin-bottom: 0;

    &::placeholder {
      color: $light_gray_400;
    }
  }

  .textFieldHelperSection {
    @include body-four;
    margin-bottom: 0;
    gap: 0.25rem;
  }
}
