.imageGrid {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(100px, 1fr)
  ); 
  gap: 10px; 
}

.imagePreview {
  width: 100%; /* Makes image fully occupy its cell */
  height: auto; /* Keeps the aspect ratio of the image */
}
.saveButton {
  width: 200px;
  margin-bottom: 12px;
}
.topContainer {
  margin-left: 30px;
}
.contentContainer {
  display: flex;
  flex-direction: column;
}
.spinner {
  font-size: 24;
  padding: 8;
}
.tableContainer {
  display: flex;
  gap: 16px;
  align-items: center;

  .imageContainer {
    width: 100px;

    img {
      max-width: 100px;
      max-height: 100px;
      margin: 8px;
    }
  }
}
