.admin {
  border: 2px solid #888;
  padding: 10px;
  background: #ccc;
  position: fixed;
  bottom: 0;
  right: 0;
  h4 {
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 5px 0;
  }
  opacity: 0.75;
  color: black;

  /* don't take over the whole window*/
  max-height: 50%;
  /* only display scrollbars when needed */
  overflow: auto;
  /* admin box appears in front of the rest of the level */
  z-index: 1;
}
