/* This file generates CSS that will be used to animate the Blockly blocks
 * in the DanceAiModal's UI.  We need it to be CSS so that the styling can
 * be applied to Blockly blocks that we are embedding.  The CSS selectors
 * are highly-specific to the current version of Blockly, and to the blocks
 * that we are embedding, and will likely need to be updated in case any of
 * these things change.
 */

// Create an animation that delays for $delay seconds and then fades from
// $start_opacity to $end_opacity over $duration seconds.
@mixin fade($delay, $duration, $start_opacity, $end_opacity) {
  $name: fade-#{$delay}-#{$start_opacity}-#{$end_opacity};

  $start_percent: #{100 * ($delay / ($delay + $duration))};

  @keyframes #{$name} {
    0%, #{$start_percent}% {
      opacity: $start_opacity;
    }
    100% {
      opacity: $end_opacity;
    }
  }

  animation: #{$name} #{$delay + $duration}s;
}

@mixin appear($delay) {
  @include fade($delay, 1, 0, 1);
}

@mixin disappear($delay) {
  @include fade($delay, 1, 1, 0);
}

#ai-modal-inner-area {
  .generating {
    // AI block
    .blocklyBlockCanvas > g:nth-of-type(3) {
      opacity: 0;
    }

    // First block
    .blocklyWorkspace .blocklyPath {
      @include appear(0);
    }

    // First block's text
    .blocklyBlockCanvas g .blocklyNonEditableText:nth-of-type(3) {
      @include appear(1);
    }

    // Second block
    .blocklyBlockCanvas g g .blocklyPath {
      @include appear(2);
    }

    // Second block's first text
    .blocklyBlockCanvas g .blocklyNonEditableText {
      @include appear(3);
    }

    // Second block's second text
    .blocklyBlockCanvas g .blocklyNonEditableText:nth-of-type(4) {
      @include appear(4);
    }
  }

  .generating, .results {
    // AI block
    .blocklyBlockCanvas > g:nth-of-type(3) {
      opacity: 0;
    }
  }

  .leaving {
    // AI block
    .blocklyBlockCanvas > g:nth-of-type(3) {
      @include fade(0, 3, 0, 1);
    }

    // non-AI blocks
    .blocklyBlockCanvas > g:nth-of-type(2) {
      @include fade(0, 3, 1, 0);
      opacity: 0;
    }
  }

  .arriving {
    // AI block
    .blocklyBlockCanvas > g:nth-of-type(3) {
      @include fade(0, 3, 1, 0);
      opacity: 0;
    }

    // non-AI blocks
    .blocklyBlockCanvas > g:nth-of-type(2) {
      @include fade(0, 3, 0, 1);
    }
  }

  #preview-area {
    #defaultCanvas1 {
      width: 100% !important;
      height: 100% !important;
    }
  }
}
