@import "color";

.k5pd {
  $page_width: 800px;

  width: $page_width;
  margin-left: auto;
  margin-right: auto;

  a:not(.btn) {
    text-decoration: underline;
    color: #3f98ce;
    &:visited {
      color: #3f98ce;
    }
    &:hover {
      color: blue;
      background-color: transparent;
    }
  }
}
