@import "color";

.projects-page {
  h1 {
    text-align: center;
  }
  .level_link,.level_link:link, .level_link:visited {
    background-color: $purple;
    border-color: $purple;
    font-size: 14px;
    padding: 5px 10px;
    color: $white;
    &:hover {
      background-color: $level_current;
      border-color: $level_current;
      text-decoration: none;
    }
  }
}
