@import "color";
$transparency: rgba(0, 0, 0, 0.5);

.tutorial-box {
  position: relative;
  float: left;
}

.mc-tutorial-info {
  background-color: $transparency;
  width: 250px;
  padding: 10px;
  position: absolute;
  left: 193px;
  top: 0;
  height: 278px;
}

.mc-h1-second-box, .mc-tutorial-description, .mc-tutorial-specs {
  color: $white;
}

.new-mc {
  color: $white;
  background-color: $purple;
  width: 260px;
  margin: -10px;
  padding: 5px;
  text-align: center;
}
