@import "color";
@import "font";

.teacher-panel {
  position: fixed;
  top: 85px;
  bottom: 20px;
  right: 0;
  width: 200px;
  transition: right 0.5s;

  background: $lightest_cyan;

  opacity: 0.9;

  border: 5px solid $cyan;
  border-right: none;
  border-radius: 10px 0 0 10px;

  /* Must appear in front of <Overlay/>, whose z-index is 1020. */
  z-index: 1021;

  .hide-handle,
  .show-handle {
    cursor: pointer;
    transition: right 0.5s;
    position: absolute;
    right: 200px;
    top: 50%;
    border-radius: 10px 0 0 10px;
    color: $white;
    background: $cyan;
    height: 30px;
    width: 25px;
    i {
      line-height: 30px;
      padding-left: 5px;
      font-size: 20px;
    }
  }

  .hide-handle {
    display: block;
  }

  .show-handle {
    display: none;
  }

  h3 {
    padding: 5px;
    font-size: 18px;
    font-family: $gotham-extra-bold;
    font-weight: normal;
    color: $white;
    background: $cyan;
    margin: 0;
  }

  h4 {
    font-family: $gotham-extra-bold;
    font-weight: normal;
    text-align: center;
    margin: 5px 0;
  }

  .students {
    padding: 0 5px;
    a {
      width: 100%;
      text-align: center;
      font-size: 17.5px;
      overflow: hidden;
      text-overflow: ellipsis;
      max-height: 2em;
      display: block;
    }
  }

  &.hidden {
    right: -195px;
    .hide-handle {
      right: 200px;
      display: none;
    }
    .show-handle {
      right: 200px;
      display: block;
    }
  }

  .user_level {
    padding: 0 5px;

    .level_link {
      margin: 0 auto;
      border-radius: 40px;
      width: 44px;
      min-width: 44px;
      line-height: 44px;
      font-size: 32px;
      border-width: 4px;
      display: block;
      img {
        width: 32px;
        height: 32px;
      }
    }
  }

  .level {
    text-align: center;
    margin: 10px 0;
  }

  .section {
    padding: 0 5px;

    h4 {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .section-students {
    &,
    tr {
      border: 1px solid $lighter_cyan;
      border-collapse: collapse;
    }

    td {
      padding: 2.5px;
    }

    .section-student {
      background-color: $lightest_gray;
      opacity: 1;

      .level_link {
        padding: 5px;
      }
      .name a {
        display: block;
        width: 146px;
        line-height: 34px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-decoration: none;
        .pair-programming-icon {
          float: right;
          line-height: 34px;
        }
      }

      .navigator a {
        color: $light_gray;
      }

      &:hover {
        background-color: $lighter_cyan;
        font-family: $gotham-extra-bold;
        font-weight: normal;
        a {
          color: $white;
        }
      }
      &.active {
        background-color: $light_cyan;
        font-family: $gotham-extra-bold;
        font-weight: normal;
        a {
          color: $white;
        }
        .navigator a {
          color: $lightest_gray;
        }
      }
    }
  }
  .scrollable-wrapper {
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0 5px;
  }

  select {
    width: 190px;
    display: block;
    margin: 5px;
  }
}
