---
http_interactions:
- request:
    method: post
    uri: https://dynamodb.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"TableName":"test_tables","KeyConditions":{"hash":{"AttributeValueList":[{"S":"1:_testTable:"}],"ComparisonOperator":"EQ"}},"AttributesToGet":["row_id"]}'
    headers:
      X-Amz-Target:
      - DynamoDB_20120810.Query
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 3JVVL3N0GKAHNUTL3P9G0KUKGVVV4KQNSO5AEMVJF66Q9ASUAAJG
      X-Amz-Crc32:
      - '3413411624'
      Content-Type:
      - application/x-amz-json-1.0
    body:
      encoding: UTF-8
      string: '{"Count":0,"Items":[],"ScannedCount":0}'
  recorded_at: Mon, 18 Jan 2016 21:28:41 GMT
- request:
    method: post
    uri: https://dynamodb.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"TableName":"test_tables","KeyConditions":{"hash":{"AttributeValueList":[{"S":"1:_testTable:"}],"ComparisonOperator":"EQ"}},"AttributesToGet":["row_id"],"Limit":1,"ScanIndexForward":false}'
    headers:
      X-Amz-Target:
      - DynamoDB_20120810.Query
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - RNL3CC7ED1H0ECU4M1OCV3HMSVVV4KQNSO5AEMVJF66Q9ASUAAJG
      X-Amz-Crc32:
      - '3413411624'
      Content-Type:
      - application/x-amz-json-1.0
    body:
      encoding: UTF-8
      string: '{"Count":0,"Items":[],"ScannedCount":0}'
  recorded_at: Mon, 18 Jan 2016 21:28:41 GMT
- request:
    method: post
    uri: https://dynamodb.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"TableName":"test_tables","Item":{"hash":{"S":"1:_testTable:"},"channel_id":{"N":"1"},"table_name":{"S":"_testTable"},"row_id":{"N":"1"},"updated_at":{"S":"2016-01-18T13:28:41-08:00"},"updated_ip":{"S":"127.0.0.1"},"value":{"S":"{\"name\":\"trevor\",\"age\":30}"}},"Expected":{"row_id":{"Value":{"N":"1"},"ComparisonOperator":"NE"}}}'
    headers:
      X-Amz-Target:
      - DynamoDB_20120810.PutItem
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 4C18PPVK3BFJAC373DT56M7OCBVV4KQNSO5AEMVJF66Q9ASUAAJG
      X-Amz-Crc32:
      - '2745614147'
      Content-Type:
      - application/x-amz-json-1.0
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Mon, 18 Jan 2016 21:28:41 GMT
[...]
- request:
    method: post
    uri: https://dynamodb.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"TableName":"test_tables","ConsistentRead":true,"KeyConditions":{"hash":{"AttributeValueList":[{"S":"1:_testTable:"}],"ComparisonOperator":"EQ"}}}'
    headers:
      X-Amz-Target:
      - DynamoDB_20120810.Query
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - DA441LT3FDLNMSUTN3R9S0C2SJVV4KQNSO5AEMVJF66Q9ASUAAJG
      X-Amz-Crc32:
      - '3666895406'
      Content-Type:
      - application/x-amz-json-1.0
    body:
      encoding: UTF-8
      string: '{"Count":2,"Items":[{"value":{"S":"{\"name\":\"trevor\",\"age\":30}"},"hash":{"S":"1:_testTable:"},"row_id":{"N":"1"},"channel_id":{"N":"1"},"updated_ip":{"S":"127.0.0.1"},"table_name":{"S":"_testTable"},"updated_at":{"S":"2016-01-18T13:28:41-08:00"}},{"value":{"S":"{\"name\":\"mitra\",\"age\":29}"},"hash":{"S":"1:_testTable:"},"row_id":{"N":"2"},"channel_id":{"N":"1"},"updated_ip":{"S":"127.0.0.1"},"table_name":{"S":"_testTable"},"updated_at":{"S":"2016-01-18T13:28:42-08:00"}}],"ScannedCount":2}'
  recorded_at: Mon, 18 Jan 2016 21:28:42 GMT
[...]
- request:
    method: post
    uri: https://dynamodb.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"TableName":"test_tables","ConsistentRead":true,"KeyConditions":{"hash":{"AttributeValueList":[{"S":"1:_testTable:"}],"ComparisonOperator":"EQ"}}}'
    headers:
      X-Amz-Target:
      - DynamoDB_20120810.Query
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - NRHMUI9K3T73CU0CLF8VONH66FVV4KQNSO5AEMVJF66Q9ASUAAJG
      X-Amz-Crc32:
      - '3405949770'
      Content-Type:
      - application/x-amz-json-1.0
    body:
      encoding: UTF-8
      string: '{"Count":2,"Items":[{"value":{"S":"{\"name\":\"trevor\"}"},"hash":{"S":"1:_testTable:"},"row_id":{"N":"1"},"channel_id":{"N":"1"},"updated_ip":{"S":"127.0.0.1"},"table_name":{"S":"_testTable"},"updated_at":{"S":"2016-01-18T13:28:42-08:00"}},{"value":{"S":"{\"name\":\"mitra\"}"},"hash":{"S":"1:_testTable:"},"row_id":{"N":"2"},"channel_id":{"N":"1"},"updated_ip":{"S":"127.0.0.1"},"table_name":{"S":"_testTable"},"updated_at":{"S":"2016-01-18T13:28:43-08:00"}}],"ScannedCount":2}'
  recorded_at: Mon, 18 Jan 2016 21:28:43 GMT
recorded_with: VCR 3.0.0
