---
http_interactions:
- request:
    method: post
    uri: https://dynamodb.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"TableName":"test_tables","KeyConditions":{"hash":{"AttributeValueList":[{"S":"1:_testTable:"}],"ComparisonOperator":"EQ"}},"AttributesToGet":["row_id"]}'
    headers:
      X-Amz-Target:
      - DynamoDB_20120810.Query
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 21TB0OP5GMNHKF86BRKRLH48QBVV4KQNSO5AEMVJF66Q9ASUAAJG
      X-Amz-Crc32:
      - '3413411624'
      Content-Type:
      - application/x-amz-json-1.0
    body:
      encoding: UTF-8
      string: '{"Count":0,"Items":[],"ScannedCount":0}'
  recorded_at: Fri, 26 Feb 2016 07:11:30 GMT
- request:
    method: post
    uri: https://dynamodb.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"TableName":"test_tables","KeyConditions":{"hash":{"AttributeValueList":[{"S":"1:_testTable:"}],"ComparisonOperator":"EQ"}},"AttributesToGet":["row_id"],"Limit":1,"ScanIndexForward":false}'
    headers:
      X-Amz-Target:
      - DynamoDB_20120810.Query
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - NUPJ29SUHT4O62UHMR3RLUTHHJVV4KQNSO5AEMVJF66Q9ASUAAJG
      X-Amz-Crc32:
      - '3413411624'
      Content-Type:
      - application/x-amz-json-1.0
    body:
      encoding: UTF-8
      string: '{"Count":0,"Items":[],"ScannedCount":0}'
  recorded_at: Fri, 26 Feb 2016 07:11:31 GMT
- request:
    method: post
    uri: https://dynamodb.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"TableName":"test_tables","Item":{"hash":{"S":"1:_testTable:"},"channel_id":{"N":"1"},"table_name":{"S":"_testTable"},"row_id":{"N":"1"},"updated_at":{"S":"2016-02-25T23:11:31-08:00"},"updated_ip":{"S":"127.0.0.1"},"value":{"S":"{\"name\":\"trevor\",\"age\":30}"}},"Expected":{"row_id":{"Value":{"N":"1"},"ComparisonOperator":"NE"}}}'
    headers:
      X-Amz-Target:
      - DynamoDB_20120810.PutItem
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - FIMCOO3BQP50QJUN261GT2KIARVV4KQNSO5AEMVJF66Q9ASUAAJG
      X-Amz-Crc32:
      - '2745614147'
      Content-Type:
      - application/x-amz-json-1.0
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Fri, 26 Feb 2016 07:11:32 GMT
- request:
    method: post
    uri: https://dynamodb.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"TableName":"test_table_metadata","ConsistentRead":true,"Key":{"hash":{"S":"1:_testTable::metadata"}}}'
    headers:
      X-Amz-Target:
      - DynamoDB_20120810.GetItem
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 3C9GGVBJCHFN2GRDB5AJJ9KH6JVV4KQNSO5AEMVJF66Q9ASUAAJG
      X-Amz-Crc32:
      - '2745614147'
      Content-Type:
      - application/x-amz-json-1.0
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Fri, 26 Feb 2016 07:11:32 GMT
[...]
- request:
    method: post
    uri: https://dynamodb.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"TableName":"test_table_metadata","Item":{"hash":{"S":"1:_testTable::metadata"},"channel_id":{"N":"1"},"table_name":{"S":"_testTable"},"column_list":{"S":"[\"name\",\"age\"]"},"updated_at":{"S":"2016-02-25T23:11:33-08:00"}}}'
    headers:
      X-Amz-Target:
      - DynamoDB_20120810.PutItem
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - ML828HMHSF0DL8OR7CS4PBBANJVV4KQNSO5AEMVJF66Q9ASUAAJG
      X-Amz-Crc32:
      - '2745614147'
      Content-Type:
      - application/x-amz-json-1.0
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Fri, 26 Feb 2016 07:11:34 GMT
[...]
- request:
    method: post
    uri: https://dynamodb.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"RequestItems":{"test_tables":[{"DeleteRequest":{"Key":{"hash":{"S":"1:_testTable:"},"row_id":{"N":"0.1E1"}}}},{"DeleteRequest":{"Key":{"hash":{"S":"1:_testTable:"},"row_id":{"N":"0.2E1"}}}}]}}'
    headers:
      X-Amz-Target:
      - DynamoDB_20120810.BatchWriteItem
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 30TG2J6RKK6UJD7OIQ8C5NDCLVVV4KQNSO5AEMVJF66Q9ASUAAJG
      X-Amz-Crc32:
      - '4185382651'
      Content-Type:
      - application/x-amz-json-1.0
    body:
      encoding: UTF-8
      string: '{"UnprocessedItems":{}}'
  recorded_at: Fri, 26 Feb 2016 07:11:37 GMT
[...]
- request:
    method: post
    uri: https://dynamodb.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"TableName":"test_tables","ConsistentRead":true,"KeyConditions":{"hash":{"AttributeValueList":[{"S":"1:_testTable:"}],"ComparisonOperator":"EQ"}}}'
    headers:
      X-Amz-Target:
      - DynamoDB_20120810.Query
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - QRB7OUCEMUBSA4QRIETR01R31BVV4KQNSO5AEMVJF66Q9ASUAAJG
      X-Amz-Crc32:
      - '3413411624'
      Content-Type:
      - application/x-amz-json-1.0
    body:
      encoding: UTF-8
      string: '{"Count":0,"Items":[],"ScannedCount":0}'
  recorded_at: Fri, 26 Feb 2016 07:11:39 GMT
recorded_with: VCR 3.0.0
