---
http_interactions:
- request:
    method: post
    uri: https://dynamodb.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"TableName":"test_tables","KeyConditions":{"hash":{"AttributeValueList":[{"S":"1:_testTable:"}],"ComparisonOperator":"EQ"}},"AttributesToGet":["row_id"]}'
    headers:
      X-Amz-Target:
      - DynamoDB_20120810.Query
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - OIFNK975SF6L2S4AIOAVSAOUTBVV4KQNSO5AEMVJF66Q9ASUAAJG
      X-Amz-Crc32:
      - '266774047'
      Content-Type:
      - application/x-amz-json-1.0
    body:
      encoding: UTF-8
      string: '{"Count":1,"Items":[{"row_id":{"N":"1"}}],"ScannedCount":1}'
  recorded_at: Mon, 14 Mar 2016 22:04:35 GMT
- request:
    method: post
    uri: https://dynamodb.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"RequestItems":{"test_tables":[{"DeleteRequest":{"Key":{"hash":{"S":"1:_testTable:"},"row_id":{"N":"0.1E1"}}}}]}}'
    headers:
      X-Amz-Target:
      - DynamoDB_20120810.BatchWriteItem
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 6NK4NUR4D71TS7KUNBCPNEGAH7VV4KQNSO5AEMVJF66Q9ASUAAJG
      X-Amz-Crc32:
      - '4185382651'
      Content-Type:
      - application/x-amz-json-1.0
    body:
      encoding: UTF-8
      string: '{"UnprocessedItems":{}}'
  recorded_at: Mon, 14 Mar 2016 22:04:35 GMT
[...]
- request:
    method: post
    uri: https://dynamodb.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"TableName":"test_tables","KeyConditions":{"hash":{"AttributeValueList":[{"S":"1:_testTable:"}],"ComparisonOperator":"EQ"}},"AttributesToGet":["row_id"],"Limit":1,"ScanIndexForward":false}'
    headers:
      X-Amz-Target:
      - DynamoDB_20120810.Query
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - O5F6O6C7N3NCFSE61Q3NS8QAHVVV4KQNSO5AEMVJF66Q9ASUAAJG
      X-Amz-Crc32:
      - '3413411624'
      Content-Type:
      - application/x-amz-json-1.0
    body:
      encoding: UTF-8
      string: '{"Count":0,"Items":[],"ScannedCount":0}'
  recorded_at: Mon, 14 Mar 2016 22:04:36 GMT
- request:
    method: post
    uri: https://dynamodb.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"TableName":"test_tables","Item":{"hash":{"S":"1:_testTable:"},"channel_id":{"N":"1"},"table_name":{"S":"_testTable"},"row_id":{"N":"1"},"updated_at":{"S":"2016-03-14T15:04:36-07:00"},"updated_ip":{"S":"127.0.0.1"},"value":{"S":"{\"name\":\"test1\",\"age\":7,\"male\":false}"}},"Expected":{"row_id":{"Value":{"N":"1"},"ComparisonOperator":"NE"}}}'
    headers:
      X-Amz-Target:
      - DynamoDB_20120810.PutItem
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - BDEE56POI7KROQ4O40EIQO8TDFVV4KQNSO5AEMVJF66Q9ASUAAJG
      X-Amz-Crc32:
      - '2745614147'
      Content-Type:
      - application/x-amz-json-1.0
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Mon, 14 Mar 2016 22:04:36 GMT
[...]
- request:
    method: post
    uri: https://dynamodb.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"TableName":"test_tables","KeyConditions":{"hash":{"AttributeValueList":[{"S":"1:_testTable:"}],"ComparisonOperator":"EQ"}},"AttributesToGet":["row_id"],"Limit":1,"ScanIndexForward":false}'
    headers:
      X-Amz-Target:
      - DynamoDB_20120810.Query
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - V29UQ2R2G2K60V5LV9A1ELPF4NVV4KQNSO5AEMVJF66Q9ASUAAJG
      X-Amz-Crc32:
      - '1363202853'
      Content-Type:
      - application/x-amz-json-1.0
    body:
      encoding: UTF-8
      string: '{"Count":1,"Items":[{"row_id":{"N":"2"}}],"LastEvaluatedKey":{"row_id":{"N":"2"},"hash":{"S":"1:_testTable:"}},"ScannedCount":1}'
  recorded_at: Mon, 14 Mar 2016 22:04:37 GMT
[...]
- request:
    method: post
    uri: https://dynamodb.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"TableName":"test_tables","Item":{"hash":{"S":"1:_testTable:"},"channel_id":{"N":"1"},"table_name":{"S":"_testTable"},"row_id":{"N":"11"},"updated_at":{"S":"2016-03-14T15:04:41-07:00"},"updated_ip":{"S":"127.0.0.1"},"value":{"S":"{\"name\":\"now
        there is room\"}"}},"Expected":{"row_id":{"Value":{"N":"11"},"ComparisonOperator":"NE"}}}'
    headers:
      X-Amz-Target:
      - DynamoDB_20120810.PutItem
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - GLA234FPTIJ69FQP04OO67Q5R3VV4KQNSO5AEMVJF66Q9ASUAAJG
      X-Amz-Crc32:
      - '2745614147'
      Content-Type:
      - application/x-amz-json-1.0
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Mon, 14 Mar 2016 22:04:41 GMT
recorded_with: VCR 3.0.0
