- content_for(:head) do
  %script{ src: webpack_asset_path('js/courses/edit.js'), data: {course_editor: @unit_group_data.to_json}}
= form_for(@unit_group, {url: course_path(@unit_group)}) do |f|
  #course_editor
