- unit_group = local_assigns[:unit_group]
- course_editor_data = {course_summary: unit_group.summarize,
                        script_names: Script.all.map(&:name),
                        course_families: UnitGroup.family_names,
                        version_year_options: UnitGroup.get_version_year_options}
- content_for(:head) do
  %script{ src: webpack_asset_path('js/courses/edit.js'), data: {course_editor: course_editor_data.to_json}}
= form_for(unit_group, {url: course_path(unit_group)}) do |f|
  #course_editor
