%h1= "New Course"
%script{src: webpack_asset_path('js/courses/new.js'), data: {families: UnitGroup.family_names.to_json, versionYearOptions: UnitGroup.get_version_year_options.to_json}}
#form
= link_to t('crud.back'), courses_path

- unit_group = local_assigns[:unit_group]

- if unit_group && unit_group.errors.any?
  #error_explanation
    %h2
      = pluralize(unit_group.errors.count, 'error')
      prohibited this course from being saved:
    %ul
      - unit_group.errors.full_messages.each do |msg|
        %li= msg
