- course = local_assigns[:course]

- data = {}
- data[:course_summary] = course.summarize(@current_user)
- data[:sections] = @sections_with_assigned_info || []
- data[:is_teacher] = @current_user.try(:teacher?) || false
- data[:is_verified_teacher] = @current_user.try(:authorized_teacher?) || false
- data[:hidden_scripts] = @current_user.try(:get_hidden_script_ids, course)
- data[:show_version_warning] = course.has_older_version_progress?(@current_user) && !course.has_dismissed_version_warning?(@current_user)
- data[:show_redirect_warning] = redirect_warning
- data[:redirect_to_course_url] = course.redirect_to_course_url(@current_user)
- data[:user_id] = @current_user.try(:id)

- content_for(:head) do
  %script{ src: webpack_asset_path('js/courses/show.js'), data: {courses_show: data.to_json}}

#course_overview
