- course = local_assigns[:course]

- data = {}
- data[:course_summary] = course.summarize(@current_user)
- data[:sections] = @current_user.try{|u| u.sections.where(hidden: false).select(:id, :name)} || []
- data[:is_teacher] = @current_user.try(:teacher?) || false
- data[:is_verified_teacher] = @current_user.try(:authorized_teacher?) || false
- data[:hidden_scripts] = @current_user.try(:get_hidden_script_ids, course)
- data[:show_version_warning] = course.has_older_version_progress?(@current_user) && !course.has_dismissed_version_warning?(@current_user)

- content_for(:head) do
  %script{ src: minifiable_asset_path('js/courses/show.js'), data: {courses_show: data.to_json}}

#course_overview
