- data = {}
- data[:course_summary] = @course_summary

- content_for(:head) do
  %link{href: asset_path('css/rollups.css'), rel: 'stylesheet', type: 'text/css'}
  %script{ src: webpack_asset_path('js/courses/vocab.js'), data: {courses_rollup: data.to_json}}

  = render partial: 'shared/emulate_print_media'

#roll_up
