---
title: Review Hour of Code special events
---
:ruby
  dont_cache
  authentication_required!
  forbidden! unless dashboard_user[:user_type] == 'teacher'

  require pegasus_dir 'helper_modules/hoc_event_review'
  countries = HocEventReview.event_counts_by_country(reviewed: false, special_events_only: true)
  states = HocEventReview.event_counts_by_state(reviewed: false, special_events_only: true)

%h1 Review Hour of Code special events

%h3
  Please read
  %a{href: "https://docs.google.com/document/d/1cwUdqdPW7CF0d7DfWTqmCkMjjylfZ5sdrLS6-jGgPzY/edit?usp=sharing"}
    this rubric
  for event approval before reviewing.

%a{href: "/teacher-dashboard/review-hociyskvuwa/all"} View all events

%ul
  %li{class: "hoc-event-country"}
    %a{href: "/teacher-dashboard/review-hociyskvuwa/us"}
      %span{style: "font-weight: bold;"} United States
    %ul{style: "margin-top: 0; margin-bottom: 0;"}
      -states.each do |state|
        %li{class: "hoc-event-state"}
          %a{href: "/teacher-dashboard/review-hociyskvuwa/us/#{state[:state_code].downcase}"}
            = state[:state_code]

%ul
  -countries.each do |country|
    %li{class: "hoc-event-country"}
      %a{href: "/teacher-dashboard/review-hociyskvuwa/#{country[:country_code].downcase}"}
        = country_name_from_code country[:country_code]
