---
title: Hour of Code Teacher Resources
theme: responsive_full_width
---
%link{href: "/css/generated/hoc-2023.css", rel: "stylesheet", type: "text/css"}
%link{href: "/css/generated/design-system-pegasus.css", rel: "stylesheet"}
%section.hero-banner-basic.overlay{style: "overflow: visible"}
  .wrapper{style: "margin-top: 130px;"}
    %h2.hero-title{style: "color: white; font-size: 2.125rem"}
      =hoc_s(:hc_2023_main_under_title)
    %h1.hero-title{style: "color: #3CFFF8;"}
      =hoc_s(:hc_2023_main_title)
    
      
