---
title: Hour of Code Teacher Resources
theme: responsive_full_width
---
%link{href: "/css/generated/hoc-2023.css", rel: "stylesheet", type: "text/css"}
%link{href: "/css/generated/design-system-pegasus.css", rel: "stylesheet"}

%section.hero-banner-basic.overlay{style: "overflow: visible"}
  .wrapper{style: "margin-top: 130px;"}
    %h2.hero-title{style: "color: white; font-size: 2.125rem"}
      =hoc_s(:hc_2023_main_under_title)
    %h1.hero-title{style: "color: #3CFFF8;"}
      =hoc_s(:hc_2023_main_title)
    
%section.top.bg-neutral-light{style: "margin-top: 50px;"}
  .wrapper
    .text-wrapper.col-50
      %h1=hoc_s(:hc_2023_hourofcode_title)
      %p.svg-link
        =hoc_s(:hc_2023_hourofcode_description_1, markdown: :inline, locals: {hoc_url: "https://hourofcode.com/us"})
      %p.body-three
        =hoc_s(:hc_2023_hourofcode_description_2)
      %p.body-three{style: "font-weight: bold"}
        =hoc_s(:hc_2023_hourofcode_description_3)
    %figure.col-45{style: "float: right; margin-top: 1.25rem;"}
      %img{src: "/images/teach-page-top.png", alt: "", style: "position: relative; width: 100%;"}
      %a.body-three{href: "/educate/resources/videos"}
        =hoc_s(:cta_see_more_video)
    .clear
= view :ai_pl_skinny_banner

%section 
  .wrapper
    %h2
      =hoc_s(:hc_2023_lead_activity_title)
    %p.svg-link 
      =hoc_s(:hc_2023_lead_activity_description, markdown: :inline, locals: {register_activity: "https://hourofcode.com/us#join"})
    .action-block__wrapper.action-block__wrapper--three-col
      .action-block.action-block--one-col.flex-space-between
        .content-wrapper
          %p.overline
            =hoc_s(:module_age_11)
          %h3
            =hoc_s(:hc_2023_lead_activity_card_title_1)
          %img{src: "/images/introduction-game-lab-banner.png", alt: ""}
          %p
            =hoc_s(:hc_2023_lead_activity_card_description_1)
        .content-footer
          %a.link-button{href: "https://studio.code.org/s/csd3-virtual", target: "_blank", rel: "noopener noreferrer"}
            =hoc_s(:hc_2023_lead_activity_card_link_1)
      .action-block.action-block--one-col.flex-space-between
        .content-wrapper
          %p.overline
            =hoc_s(:module_age_13)
          %h3
            =hoc_s(:hc_2023_lead_activity_card_title_2)
          %img{src: "/images/turtle-programming-banner.png", alt: ""}
          %p
            =hoc_s(:hc_2023_lead_activity_card_description_2)
        .content-footer
          %a.link-button{href: "https://studio.code.org/s/csp3-virtual", target: "_blank", rel: "noopener noreferrer"}
            =hoc_s(:hc_2023_lead_activity_card_link_2)
      .action-block.action-block--one-col.flex-space-between
        .content-wrapper
          %p.overline
            =hoc_s(:module_age_13)
          %h3
            =hoc_s(:hc_2023_lead_activity_card_title_3)
          %img{src: "/images/event-driven-programming-banner.png", alt: ""}
          %p
            =hoc_s(:hc_2023_lead_activity_card_description_3)
        .content-footer
          %a.link-button{href: "https://studio.code.org/s/csp5-virtual", target: "_blank", rel: "noopener noreferrer"}
            =hoc_s(:hc_2023_lead_activity_card_link_3)
    .ending-link
      %a.link-button.secondary.centered{href: CDO.studio_url("/catalog?marketingInitiative=hoc")}
        =hoc_s(:call_to_action_explore_all_hoc_activities)
= view :section_divider_line

%section
  .wrapper
    %h2=hoc_s(:csa_ai_page_learn_more_section_title)
    .action-block.action-block--two-col
      %img{src: "/shared/images/social-media/ai-101-social.png", alt: "", class: "col-50"}
      .text-wrapper.col-50
        %h3.heading-sm
          =hoc_s(:csa_ai_page_learn_more_title)
        %p=hoc_s(:csa_ai_page_learn_more_description)
        %a.link-button{href: "/ai/pl/101"}
          =hoc_s(:csa_ai_page_learn_more_link)

= view :section_divider_line

%section
  .wrapper
    %h2=hoc_s(:csa_ai_page_learn_more_section_title)
    .action-block.action-block--two-col
      %img{src: "/shared/images/social-media/ai-101-social.png", alt: "", class: "col-50"}
      .text-wrapper.col-50
        %h3.heading-sm
          =hoc_s(:csa_ai_page_learn_more_title)
        %p=hoc_s(:csa_ai_page_learn_more_description)
        %a.link-button{href: "/ai/pl/101"}
          =hoc_s(:csa_ai_page_learn_more_link)
= view :section_divider_line
