---
title: Hour of Code
theme: responsive_full_width
---

:ruby
  hoc_mode = DCDO.get('hoc_mode', CDO.default_hoc_mode)

%link{href: "/css/generated/design-system-pegasus.css", rel: "stylesheet"}
%link{href: "/css/generated/page/hour-of-code-styles.css", rel: "stylesheet", type: "text/css"}

-# TODO - clean up soon-hoc logic once this is launched
-# Show 2024 HOC banner if hoc_mode is "soon-hoc", otherwise show 2023 banner
- if hoc_mode == "soon-hoc"
  %section.hero-banner-basic.hoc-2024
    .wrapper.centered.flex-container.align-items-center.flex-direction-column.gap-2
      %figure
        %img{src: "/images/banners/banner-hoc-2024.png", alt: ""}
      .text-wrapper
        %h1=hoc_s("hoc_2024.header")
        %a.link-button.black.has-external-link{href: "https://hourofcode.com/events", target: "_blank", rel: "noopener noreferrer"}
          =hoc_s("hoc_2024.button_host_an_event")
- else
  %section.hero-banner-basic
    .wrapper.centered
      %p.hoc-label
        =hoc_s(:hour_of_code)
      %h1=hoc_s(:hoc2023_header)

%section.bg-neutral-light
  .wrapper
    %h2=hoc_s("hoc_page.what_is_hoc.heading")
    .flex-container.justify-space-between.wrap.gap-1
      .text-wrapper.col-50
        %p.body-three.has-external-link
          =hoc_s("hoc_page.what_is_hoc.desc_01", markdown: :inline, locals:{hoc_url: "https://hourofcode.com"})
        - if hoc_mode == "soon-hoc"
          %p.body-three
            =hoc_s("hoc_page.what_is_hoc.desc_02", markdown: :inline)
        - else
          %p.body-three
            =hoc_s(:hoc_page_desc_2023)
      %figure.col-45
        %img{src: "/images/hoc-page-kids-computer.png", alt: "", style: "width: 100%"}

%section
  .wrapper
    %h2=hoc_s("hoc_page.activities.heading")
    %p.has-external-link
      =hoc_s("hoc_page.activities.desc", markdown: :inline, locals:{register_url: "https://hourofcode.com/events"})
    = view :hoc_activites_featured
    .centered{style: "margin-top: 3rem"}
      %hr
      %h3=hoc_s(:call_to_action_explore_all_hoc_activities)
      .see-all-activities.flex-container.align-items-center.wrap.gap-1
        %img{src: "/images/tutorials/hoc2019/oceans.jpg", alt: ""}
        %img{src: "/images/tutorials/resubmission/flappy.jpg", alt: ""}
        %img{src: "/images/tutorials/resubmission/frozen.jpg", alt: ""}
        %img{src: "/images/tutorials/hoc2021/poem_art.jpg", alt: ""}
        %img{src: "/images/tutorials/resubmission/starwars.jpg", alt: ""}
      %a.link-button.secondary{href: CDO.studio_url("/catalog?marketingInitiative=hoc")}
        =hoc_s(:call_to_action_explore_activities)

%section.bg-neutral-light
  .wrapper.centered
    %h2=hoc_s("hoc_page.beyond.heading")
    = view :hoc_page_beyond

= view :analytics_event_log_helper, event_name: AnalyticsConstants::HOC_LANDING_PAGE_VISITED
