---
title: Hour of Code Teacher Resources
theme: responsive
---
%link{href: "/css/student.css", rel: "stylesheet"}
%link{href: "/css/tools.css", rel: "stylesheet"}
%link{href: "/shared/css/course-blocks.css", rel: "stylesheet", type: "text/css"}
%script{type: "text/javascript", src: "/js/hoc-overview.js"}

%h1 Hour of Code for all ages

The
%a{href:"https://hourofcode.com"} Hour of Code
is a global movement reaching tens of millions of students in 180+ countries. Anyone, anywhere can organize an Hour of Code event or try any of the over 200+ one-hour tutorials, available in over 45 languages.

#resources.tile-container-responsive
  = view :top_hoc_tutorials
.clear

.full-resource-block
  %img{src: "/images/hoc2018.png"}
  .description
    %h2.resource-title More Activities from Partners
    The Hour of Code website has over 100 computer science activities for all ages and experience levels, developed by Code.org and partners.
    %div
      %a{href: "/learn"}
        %button.tutorial-gray{style: "margin-top: 15px;"} View Activities

.hoc-tiles-container
