.filePreview {
  height: 100%;
  background-color: var(--background-neutral-primary);
  color: var(--text-neutral-primary);
}

.iframePreview {
  border: 2px solid var(--borders-neutral-primary);
}

.previewContainer {
  position: relative;
  width: 100%;
  height: 100%;
}
