@use '@code-dot-org/component-library-styles/mixins.scss' as mixins;

.previewContainer {
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 40px 1fr;
}

.previewWrapper {
  position: relative;
  flex: 1;
  
  &:focus {
    @include mixins.focus-styles;
    outline-offset: 0;
  }
  
  &:focus-visible {
    @include mixins.focus-styles;
    outline-offset: 0;
  }
}

.previewIframe{
  width: 100%;
  height: 100%;
  background-color: white;
  padding: 5px;
  box-sizing: border-box;
}
