---
title: About Us
nav: alt-about_nav
video_player: true
theme: responsive
style_min: true
---
<div style="margin-top:40px;">
  <img src="/images/alt-about/alt-about-header.jpg" style="width: 100%">
</div>
<h1 style="margin-top:20px; margin-bottom:20px">About Us</h1>

Code.org&reg; is a nonprofit dedicated to expanding access to computer science in schools and increasing participation by women and underrepresented youth. Our vision is that <u><b>every student in every school has the opportunity to learn computer science</b></u>, just like biology, chemistry or algebra. Code.org provides the leading curriculum for K-12 computer science in the largest school districts in the United States and Code.org also organizes the annual <a href="http://hourofcode.com"> Hour of Code</a> campaign which has engaged more than 15% of all students in the world. Code.org is supported by generous donors including Amazon, Facebook, Google, the Infosys Foundation, Microsoft, and <a href="/about/donors">many more</a>.

<div style="clear: both;"></div>

## The majority of our students are girls or underrepresented minorities</h2>

<img src="/images/AR2019/fit-700/2019-annual-report-diversity.png" class ="col-95">

Code.org increases diversity in computer science by reaching students of all backgrounds where they are — at their skill-level, in their schools, and in ways that inspire them to keep learning. 

For the fourth year in a row, underrepresented minorities make up half of students in our courses. Increasing diversity in computer science is foundational to our work, and <a href="/diversity">we encourage you to read more about our efforts</a>. 

<br />

## More information, history, and philosophy
In 2013, Code.org was launched by twin brothers [Hadi](/about/leadership/hadi_partovi) and [Ali Partovi](https://www.crunchbase.com/person/ali-partovi#/entity) with a [video](https://www.youtube.com/watch?v=nKIu9yen5nc) promoting computer science. This video became #1 on YouTube for a day, and 15,000 schools reached out to us for help. Since then, we've expanded from a bootstrapped staff of volunteers to build a full organization supporting a worldwide movement. We believe that a quality computer science education should be available to every child, not just a lucky few.

To support our goal, we do work across the education spectrum: designing our own courses or partnering with others, training teachers, partnering with large school districts, helping change government policies, expanding internationally via partnerships, and marketing to break stereotypes.

Our work builds upon [decades of effort, by countless organizations and individuals](https://docs.google.com/document/d/1rdEUqAkYtKPMD4UeEmpZCAau4_AdIOGbZDqLkePAQrY/pub) who have helped establish, fund, and spread computer science education. We're thankful to benefit from the tireless help of the broader computer science education community, and [we thank all the partners and individuals who have supported our impact over the years](https://medium.com/@codeorg/dedicating-our-5-year-anniversary-to-our-partners-b57368a92924).

- [Code.org 2019 Annual Report](/about/2019) (Past reports: [2018](/about/2018), [2017](/about/2017), [2016](/about/2016), [2015](/about/2015), [2014](/about/2014))
- [Our core values and messaging guidelines](/about/values)
- [Our curriculum and pedagogy philosophy](/educate/curriculum/values)
- [TEDx talk by our founder Hadi Partovi about why computer science is for all (VIDEO)](https://www.youtube.com/watch?v=m-U9wzC9xLk)

## Our commitment to free curriculum and open source technology
All curriculum resources and tutorials we author will forever be free to use and openly licensed under a [Creative Commons](http://creativecommons.org/licenses/by-nc-sa/4.0/) license, allowing others to make derivative education resources for non-commercial purposes. If you are interested in licensing our materials for commercial purposes, [contact us](/contact). Our courses are translated for worldwide use or by speakers of different languages. Our technology is developed as an [open source project](https://github.com/code-dot-org/code-dot-org).

<hr/>


## Follow us
[Sign up to receive status updates](/about/hear-from-us) about progress in the K-12 computer science movement and about the work of Code.org. Or follow Code.org on social media:

<%= view :social_media, facebook: "Code.org", twitter: "codeorg", instagram: "codeorg" %>

<hr/>

<a href="http://www.guidestar.org/organizations/46-0858543/code-org.aspx" target="_blank">
    <img src="https://widgets.guidestar.org/gximage2?o=9218725&l=v3" />
</a> [![image](/images/fit-150/student_privacy_pledge.png)](http://studentprivacypledge.org/)
