---
title: About Us
nav: alt-about_nav
video_player: true
theme: responsive
style_min: true
---
<a id="top"></a>
<div style="margin-top:40px;">
  <img src="/images/alt-about/alt-about-header.jpg" style="width: 100%">
</div>
<h1 style="margin-top:30px; margin-bottom:20px">About Us</h1>

Code.org&reg; is a nonprofit dedicated to expanding access to computer science in schools and increasing participation by women and underrepresented youth. Our vision is that <u><b>every student in every school has the opportunity to learn computer science</b></u>, just like biology, chemistry or algebra. Code.org provides the leading curriculum for K-12 computer science in the largest school districts in the United States and Code.org also organizes the annual <a href="http://hourofcode.com"> Hour of Code</a> campaign which has engaged more than 15% of all students in the world. Code.org is supported by generous donors including Amazon, Facebook, Google, the Infosys Foundation, Microsoft, and <a href="/about/donors">many more</a>.

<div style="clear: both; margin-bottom: 20px"></div>
<div class="col-100" style="text-align:center">
  <a href="#impact">Our Impact</a>  |  <a href="#work">Our Work</a>     |     <a href="#values">Our Values</a>      |     <a href="#history">History and Philosophy</a>     |     <a href="#more">More</a>
</div>

<a id="impact"></a>
## Our Impact

<div class="col-25" style="padding-right: 15px;">
    <img src="/images/alt-about/photo.png" style="width: 100%">
    <p style="text-align: center">46 million students are or have enrolled in courses on Code.org. Nearly half the US students using Code.org are in <a href="https://code.org/diversity">high-needs schools</a>.</p>
</div>

<div class="col-25" style="padding-right: 15px;">
    <img src="/images/alt-about/photo.png" style="width: 100%">
    <p style="text-align: center">More than 100,000 teachers have taken our <a href="https://code.org/educate/professional-learning">professional development workshops</a>, and 98% of them would recommend our workshops to another teacher.</p>
</div>

<div class="col-25" style="padding-right: 15px;">
    <img src="/images/alt-about/photo.png" style="width: 100%">
    <p style="text-align: center">In large part thanks to the Code.org Advocacy Coalition, all 50 US states (plus Washington DC) and more than 50 countries have <a href="https://advocacy.code.org/">passed or implemented policies</a> that give students more access to CS education.</p>
</div>

<div class="col-25" style="padding-right: 15px;">
    <img src="/images/alt-about/photo.png" style="width: 100%">
    <p style="text-align: center">Our nationwide network of <a href="https://code.org/educate/regional-partner">Regional Partners</a> are establishing regional computer science hubs, expanding CS access and opportunities to more people than ever before.</p>
</div>

<div style="clear: both; margin-bottom: 20px"></div>
<br>
<strong>To learn more about the impacts our programs have had on students and teachers, visit our <a href="https://code.org/our-impact">Impact</a> page, or take a look at our <a href="https://code.org/about/2019">Annual Report</a>.</strong>
<p><a href="#top">[Back to top]</a></p>

<hr/>

<a id="work"></a>
## Our Work
<p>Expanding access to computer science for all students takes effort on multiple fronts. To support this goal, we do work across the education spectrum: designing our own courses or partnering with others, training teachers, partnering with large school districts, helping change government policies, expanding internationally via partnerships, and marketing to break stereotypes.</p>
<p>Our work builds upon <a href="https://docs.google.com/document/d/1rdEUqAkYtKPMD4UeEmpZCAau4_AdIOGbZDqLkePAQrY/pub">decades of effort, by countless organizations and individuals</a> who have helped establish, fund, and spread computer science education. We're thankful to benefit from the tireless help of the broader computer science education community, and <a href="https://medium.com/@codeorg/dedicating-our-5-year-anniversary-to-our-partners-b57368a92924">we thank all the partners and individuals who have supported our impact over the years</a>.</p>
<br>

<div class="col-50">
  <div class="tutorial-tile" style="padding-right:20px">
      <a href="/dance">
        <img class="tutorial-tile-img" src="/images/alt-about/placeholder.jpg" style="max-width:100%; border: 1px solid #808080; border-radius: 25px 25px 0 0">
      </a>
    <div class="tutorial-info" style="background-color: #b9bf15; border-radius: 0 0 25px 25px; padding: 15px 15px 15px 15px">
      <span>
        <h3 class="tutorial-info-h" style="color: white; text-align: center; margin-top:10px"><strong>Advocacy</strong></h3>
        <div class="smalltext" style="color: white; text-align: center">Bringing together more than 70 industry, nonprofit, and advocacy organizations, the Code.org Advocacy Coalition is growing the movement to make Computer Science a fundamental part of K-12 education. See what’s happening <a href="https://advocacy.code.org/" style="text-decoration: underline; color: white;">in your state</a>.</div>
    </span>
  </div>
</div>
</div>

<div class="col-50">
  <div class="tutorial-tile" style="padding-right:20px">
      <a href="/dance">
        <img class="tutorial-tile-img" src="/images/alt-about/placeholder.jpg" style="max-width:100%; border: 1px solid #808080; border-radius: 25px 25px 0 0">
      </a>
    <div class="tutorial-info" style="background-color: #0094ca; border-radius: 0 0 25px 25px; padding: 15px 15px 15px 15px">
      <span>
        <h3 class="tutorial-info-h" style="color: white; text-align: center; margin-top: 10px"><strong>Curriculum and Tools</strong></h3>
        <div class="smalltext" style="color: white; text-align: center">From Computer Science Fundamentals to Computer Science Principles, Code.org is creating curriculum and tools for every K-12 student. The best part? They'll always be free. Learn more about what we offer at <a href="https://code.org/educate" style="text-decoration: underline; color: white;">code.org/educate</a>.</div>
    </span>
  </div>
</div>
</div>

<div style="clear: both; margin-bottom: 20px"></div>

<div class="col-50">
  <div class="tutorial-tile" style="padding-right:20px">
      <a href="/dance">
        <img class="tutorial-tile-img" src="/images/alt-about/placeholder.jpg" style="max-width:100%; border: 1px solid #808080; border-radius: 25px 25px 0 0">
      </a>
    <div class="tutorial-info" style="background-color: #00adbc; border-radius: 0 0 25px 25px; padding: 15px 15px 15px 15px">
      <span>
        <h3 class="tutorial-info-h" style="color: white; text-align: center; margin-top: 10px"><strong>Professional Development</strong></h3>
        <div class="smalltext" style="color: white; text-align: center">We work with a network of 65 Regional Partners to offer professional development to teachers of all grades who want to bring CS to their students. Previous CS experience is not required. See workshops available in your area <a href="https://code.org/educate/professional-learning" style="text-decoration: underline; color: white;">here</a>.</div>
    </span>
  </div>
</div>
</div>

<div class="col-50">
  <div class="tutorial-tile" style="padding-right:20px">
      <a href="/dance">
        <img class="tutorial-tile-img" src="/images/dance_party_2019.gif" style="max-width:100%; border: 1px solid #808080; border-radius: 25px 25px 0 0">
      </a>
    <div class="tutorial-info" style="background-color: #7665a0; border-radius: 0 0 25px 25px; padding: 15px 15px 15px 15px">
      <span>
        <h3 class="tutorial-info-h" style="color: white; text-align: center; margin-top: 10px"><strong>Hour of Code</strong></h3>
        <div class="smalltext" style="color: white; text-align: center">The Hour of Code is the largest educational event in history, with tens of millions of students participating since it launched in 2013. With <a href="https://hourofcode.com/us/learn" style="text-decoration: underline; color: white;">hundreds of fun, engaging tutorials available</a>, it’s an easy way to introduce students to computer science.</div>
    </span>
  </div>
</div>
</div>

<div style="clear: both; margin-bottom: 20px"></div>
<p><a href="#top">[Back to top]</a></p>

<hr/>

<a id="values"></a>
## Our Values

<div class="col-33" style="padding-right: 15px; text-align: center">
    <img src="/images/alt-about/photo.png" style="width: 75%">
    <h3 style="margin-top:5px"><strong>We believe computer science is foundational for all students</strong></h3>  
</div>

<div class="col-33" style="padding-right: 15px; text-align: center">
    <img src="/images/alt-about/photo.png" style="width: 75%">
    <h3 style="margin-top:5px"><strong>We are committed to equity, access, and opportunity</strong></h3>
</div>

<div class="col-33" style="padding-right: 15px; text-align: center">
    <img src="/images/alt-about/photo.png" style="width: 75%">
    <h3 style="margin-top:5px"><strong>We believe in the power of a collaborative education community</strong></h3>
</div>

<div style="clear: both; margin-bottom: 20px"></div>

<div class="col-33" style="padding-right: 15px; text-align: center">
    <img src="/images/alt-about/photo.png" style="width: 75%">
    <h3 style="color:#00adbc; margin-top:10px"><strong>We are agile and responsive to feedback</strong></h3>
</div>

<div class="col-33" style="padding-right: 15px; text-align: center">
    <img src="/images/alt-about/photo.png" style="width: 75%">
    <h3 style="color:#00adbc; margin-top:10px"><strong>We act with integrity and transparency</strong></h3>
</div>

<div class="col-33" style="padding-right: 15px; text-align: center">
    <img src="/images/alt-about/photo.png" style="width: 75%">
    <h3 style="color:#00adbc; margin-top:10px"><strong>We believe broad impact requires thinking big and acting holistically</strong></h3>
</div>

<div style="clear: both; margin-bottom: 20px"></div>
<p><strong>Read more about our values and core beliefs <a href="https://code.org/alt-about/values">here</a>.</strong></p>
<p><a href="#top">[Back to top]</a></p>

<hr/>

<a id="history"></a>
## Our History and Philosophy

<div style="padding-right: 20px; float: left; margin-top: 10px">
  <%= view :display_video_thumbnail, id: 'teach_cs', video_code: 'nKIu9yen5nc', play_button: 'center', letterbox: 'false'%>
</div>
  <p>In 2013, Code.org was launched by twin brothers <a href="https://code.org/about/leadership/hadi_partovi">Hadi</a> and <a href="https://www.crunchbase.com/person/ali-partovi#/entity">Ali Partovi</a> with a <a href="https://www.youtube.com/watch?v=nKIu9yen5nc">video</a> promoting computer science. This video became #1 on YouTube for a day, and 15,000 schools reached out to us for help. Since then, we've expanded from a bootstrapped staff of volunteers to build a full organization supporting a worldwide movement. We believe that a quality computer science education should be available to every child, not just a lucky few.</p>
  <p>To support our goal, we do work across the education spectrum: designing our own courses or partnering with others, training teachers, partnering with large school districts, helping change government policies, expanding internationally via partnerships, and marketing to break stereotypes.</p>
  <p>Our work builds upon <a href="https://docs.google.com/document/d/1rdEUqAkYtKPMD4UeEmpZCAau4_AdIOGbZDqLkePAQrY/pub">decades of effort, by countless organizations and individuals</a> who have helped establish, fund, and spread computer science education. We're thankful to benefit from the tireless help of the broader computer science education community, and <a href="https://medium.com/@codeorg/dedicating-our-5-year-anniversary-to-our-partners-b57368a92924">we thank all the partners and individuals who have supported our impact over the years</a>.</p>
  <ul>
    <li><a href="https://code.org/about/2019">Code.org 2019 Annual Report</a> (Past reports: <a href="https://code.org/about/2018">2018</a>, <a href="https://code.org/about/2017">2017</a>, <a href="https://code.org/about/2016">2016</a>, <a href="https://code.org/about/2015">2015</a>, <a href="https://code.org/about/2014">2014</a>)</li>
    <li><a href="https://code.org/about/values">Our core values and messaging guidelines</a></li>
    <li><a href="https://code.org/educate/curriculum/values">Our curriculum and pedagogy philosophy</a></li>
    <li><a href="https://www.youtube.com/watch?v=m-U9wzC9xLk">TEDx talk by our founder Hadi Partovi about why computer science is for all (VIDEO)</a></li>
  </ul>
<p><a href="#top">[Back to top]</a></p>

<hr/>
<a id="more"></a>
## More Information about Code.org

### Our commitment to free curriculum and open source technology
All curriculum resources and tutorials we author will forever be free to use and openly licensed under a [Creative Commons](http://creativecommons.org/licenses/by-nc-sa/4.0/) license, allowing others to make derivative education resources for non-commercial purposes. If you are interested in licensing our materials for commercial purposes, [contact us](https://code.org/contact). Our courses are translated for worldwide use or by speakers of different languages. Our technology is developed as an [open source project](https://github.com/code-dot-org/code-dot-org).

### K-12 Computer Science Framework
Code.org is a member of the steering committee that helped establish the [K-12 Computer Science Framework](http://k12cs.org/) - a high-level guide for states, districts, and organizations implementing computer science education. The Framework has won the support of hundreds of academics, K-12 educators, software companies, nonprofits, and states.

<p><a href="#top">[Back to top]</a></p>

<hr/>

## Follow us
[Sign up to receive status updates](/about/hear-from-us) about progress in the K-12 computer science movement and about the work of Code.org. Or follow Code.org on social media:

<%= view :social_media, facebook: "Code.org", twitter: "codeorg", instagram: "codeorg" %>

<hr/>

<%= view :about_seals %>

<p><a href="#top">[Back to top]</a></p>
