---
title: Our Impact
nav: alt-about_nav
video_player: true
theme: responsive
style_min: true
---

<a id="top"></a>

<div style="margin-top:40px;">
  <img src="/images/alt-about/our-impact.png" style="width: 100%">
</div>
<h1 style="margin-top:30px; margin-bottom:20px">Our Impact</h1>

Whether it’s organizing the worldwide Hour of Code, advocating for policy change in statehouses across the US, developing curriculum, or preparing teachers to bring CS into their classrooms, Code.org has impacted [every part of the education system](/alt-about#work) in its mission to get computer science access to all students. Below is a high-level overview--you can go deeper with our [Annual Report](/about/2019), or see all the stats and research on our [Research](/alt-about/research) page.

<hr/>

<a id="overview"></a>

## At a Glance

<div class="col-33" style="padding-right: 15px; text-align: center">
    <img src="/images/alt-about/photo.png" style="width: 75%">
    <p>Tens of millions of students have tried an Hour of Code, and research shows the Hour of Code positively impacts attitudes toward and self-efficacy with computer science. Go deeper with our <a href="https://code.org/files/HourOfCodeImpactStudy_Jan2017.pdf">impact study</a>.</p>
</div>

<div class="col-33" style="padding-right: 15px; text-align: center">
    <img src="/images/alt-about/photo.png" style="width: 75%">
    <p>46 million students are or have enrolled in courses on Code.org. Nearly half the US students using Code.org are in <a href="https://code.org/diversity">high-needs schools</a>.</p>
</div>

<div class="col-33" style="padding-right: 15px; text-align: center">
    <img src="/images/alt-about/photo.png" style="width: 75%">
    <p><a href="https://medium.com/@codeorg/cs-helps-students-outperform-in-school-college-and-workplace-66dd64a69536">Six different studies show</a>: students who study computer science perform better in other subjects, excel at problem-solving, and are more likely to attend college.</p>
</div>

<div style="clear: both; margin-bottom: 20px"></div>

<div class="col-33" style="padding-right: 15px; text-align: center">
    <img src="/images/alt-about/photo.png" style="width: 75%">
    <p>More than 100,000 teachers have taken our <a href="https://code.org/educate/professional-learning">professional development workshops</a>, and 98% of them would recommend our workshops to another teacher.</p>
</div>

<div class="col-33" style="padding-right: 15px; text-align: center">
    <img src="/images/alt-about/photo.png" style="width: 75%">
    <p>In large part thanks to the Code.org Advocacy Coalition, all 50 US states (plus Washington DC) and more than 50 countries have <a href="https://advocacy.code.org/">passed or implemented policies</a> that give students more access to CS education.</p>
</div>

<div class="col-33" style="padding-right: 15px; text-align: center">
    <img src="/images/alt-about/photo.png" style="width: 75%">
    <p>Our nationwide network of <a href="https://code.org/educate/regional-partner">Regional Partners</a> are establishing regional computer science hubs, expanding CS access and opportunities to more people than ever before.</p>
</div>

<div style="clear: both; margin-bottom: 10px"></div>

<div class="solid-block-header" style="background-color:#00adbc; border-radius: 10px">
    <p style="font-size:14px; margin-bottom: 5px"><strong>Looking for ways to bring computer science to your school or district?</strong>
    <a href="/yourschool"><button class="educate-button" style="float:right; background-color: #ffa400; color: #fff; margin-top: 0; margin-right: 10px">Learn more</button></a></p>
</div>

<p><a href="#top">[Back to top]</a></p>

<hr/>

<a id="students"></a>

## Expanding student access and boosting achievement

<div class="col-25" style="padding-right: 20px;">
  <img src="/images/alt-about/photo.png" style="width: 100%">
</div>
<div class="col-75">
  <p style="margin-top:10px">Since 2013, the percentage of young women and students from underrepresented racial and ethnic groups in Code.org classrooms has increased by xxxxx%, nearly matching US demographics. And because Code.org classrooms represent around 40% of all CS classrooms in the US, percentages overall have increased, too!</p>
</div>
<div style="clear: both; margin-bottom: 10px"></div>
<div class="col-25" style="padding-right: 20px;">
  <img src="/images/alt-about/photo.png" style="width: 100%">
</div>
<div class="col-75">
  <p style="margin-top:10px">Among young women and students from underrepresented racial and ethnic groups, participation in AP Computer Science Principles has grown ten-fold since our launch six years ago! Learn more at <a href="https://code.org/diversity">code.org/diversity</a>.</p>
</div>
<div style="clear: both; margin-bottom: 10px"></div>
<div class="col-25" style="padding-right: 20px;">
  <img src="/images/alt-about/photo.png" style="width: 100%">
</div>
<div class="col-75">
  <p style="margin-top:10px">Recent research demonstrates that students who learn CS with Code.org are 18% likelier than other students to go to college. Code.org students also <a href="https://www.sciencedirect.com/science/article/abs/pii/S0360131520300099?dgcid=author">outperform other STEM students at reading comprehension and problem-solving</a>. Find more results on our <a href="/alt-about/research">Research</a> page.</p>
</div>
<div style="clear: both; margin-bottom: 10px"></div>

<div class="solid-block-header" style="background-color:#00adbc; border-radius: 10px">
    <p style="font-size:14px; margin-bottom: 5px"><strong>Encourage students to learn computer science!</strong>
    <a href="/recruit"><button class="educate-button" style="float:right; background-color: #ffa400; color: #fff; margin-top: 0; margin-right: 10px">Learn more</button></a></p>
</div>

<p><a href="#top">[Back to top]</a></p>

<hr/>

<a id="teachers"></a>

## Empowering teachers to bring CS to their classrooms

<div class="col-25" style="padding-right: 20px;">
  <img src="/images/alt-about/photo.png" style="width: 100%">
</div>
<div class="col-75">
  <p style="margin-top:10px">More than a million teachers have signed up to teach with Code.org (all curriculum is forever free to use), and more than 100,000 have taken the next step with our Professional Learning Program. 98% of workshop attendees would recommend our program to another teacher, and more than ### have gone on to become workshop facilitators.</p>
</div>
<div style="clear: both; margin-bottom: 10px"></div>
<div class="col-25" style="padding-right: 20px;">
  <img src="/images/alt-about/photo.png" style="width: 100%">
</div>
<div class="col-75">
  <p style="margin-top:10px">Research demonstrates that our Professional Learning Program has a significant impact on student success: teachers who attend our workshops have <a href="http://www.westcoastanalytics.com/uploads/6/9/6/7/69675515/wca_code_final_report_2018.pdf">more students take and pass the AP Computer Science Principles exam</a>. These increases were even greater for young women and students from underrepresented racial and ethnic groups.</p>
</div>
<div style="clear: both; margin-bottom: 10px"></div>
<div class="col-25" style="padding-right: 20px;">
  <img src="/images/alt-about/photo.png" style="width: 100%">
</div>
<div class="col-75">
  <p style="margin-top:10px">Diverse teachers means diverse classrooms: <a href="https://code.org/files/associations-teacher-student-demographics-in-csp.pdf">Our own research</a> demonstrates that female and URM teachers of Code.org’s CS Principles course have higher proportions of female and URM students in their classes than male and white teachers, respectively.</p>
</div>
<div style="clear: both; margin-bottom: 10px"></div>

<div class="solid-block-header" style="background-color:#00adbc; border-radius: 10px">
    <p style="font-size:14px; margin-bottom: 5px"><strong>Interested in our curriculum or professional development programs?</strong>
    <a href="/professional-learning"><button class="educate-button" style="float:right; background-color: #ffa400; color: #fff; margin-top: 0; margin-right: 10px">Learn more</button></a></p>
</div>

<p><a href="#top">[Back to top]</a></p>

<hr/>

<a id="advocacy"></a>

## Changing education policies around the country

<div class="col-25" style="padding-right: 20px;">
  <img src="/images/alt-about/photo.png" style="width: 100%">
</div>
<div class="col-75">
  <p style="margin-top:10px"><a href="https://advocacy.code.org/current-legislation">45 states passed new policies or initiatives</a> to help expand computer science education in 2019. All fifty US states (plus Washington DC) have now <a href="/advocacy/landscape.pdf">adopted one or more of the nine policies for CS education</a> promoted by the Code.org Advocacy Coalition.</p>
</div>
<div style="clear: both; margin-bottom: 10px"></div>
<div class="col-25" style="padding-right: 20px;">
  <img src="/images/alt-about/photo.png" style="width: 100%">
</div>
<div class="col-75">
  <p style="margin-top:10px">Our research demonstrates that states that adopt more of the policies have higher rates of teaching computer science. More policies also correlates with higher rates of young women and students from underrepresented racial and ethnic groups taking computer science classes.</p>
</div>
<div style="clear: both; margin-bottom: 10px"></div>
<div class="col-25" style="padding-right: 20px;">
  <img src="/images/alt-about/photo.png" style="width: 100%">
</div>
<div class="col-75">
  <p style="margin-top:10px">Since the Code.org Advocacy Coalition began its work in 2014, states have allocated more than $150 million in funding to computer science education.</p>
</div>
<div style="clear: both; margin-bottom: 10px"></div>

<div class="solid-block-header" style="background-color:#00adbc; border-radius: 10px">
    <p style="font-size:14px; margin-bottom: 5px"><strong>See how your state is doing.</strong>
    <a href="https://advocacy.code.org/"><button class="educate-button" style="float:right; background-color: #ffa400; color: #fff; margin-top: 0; margin-right: 10px">Learn more</button></a></p>
</div>

<p><a href="#top">[Back to top]</a></p>

<hr/>

## Follow us

[Sign up to receive status updates](/about/hear-from-us) about progress in the K-12 computer science movement and about the work of Code.org. Or follow Code.org on social media:

<%= view :social_media, facebook: "Code.org", twitter: "codeorg", instagram: "codeorg" %>

<hr/>

<%= view :about_seals %>

<p><a href="#top">[Back to top]</a></p>
