- content_for(:head) do
  = stylesheet_link_tag 'css/pd', media: 'all'

%p
  Invalid Application

%p
  This does not appear to be a link for a teacher application; if you applied
  both as a facilitator and a teacher, please make sure you have followed the
  correct link.
