= stylesheet_link_tag 'css/pd', media: 'all'
%script{src: minifiable_asset_path('js/pd/teachercon1819_registration/new.js'), data: @script_data}

%h1
  2018-19 TeacherCon Application

#application-container
  -# populated by React
