%p
  If you are a Regional Partner registering for TeacherCon, please sign into your Regional
  Partner account then come back to this page. If you are a teacher registering for
  TeacherCon, please contact  <a href="mailto:teacher@code.org">teacher@code.org</a> for
  your registration link. If you are a facilitator registering for TeacherCon, please
  contact <a href="mailto:facilitators@code.org">facilitators@code.org</a>.
