- content_for(:head) do
  = stylesheet_link_tag 'css/pd', media: 'all'

%p
  This Code.org account is not linked to a current teacher. If you are a teacher
  who has been accepted to TeacherCon, please confirm that you're using the same
  Code.org account you used to submit your teacher application. Please
  email <a href="mailto:teacher@code.org">teacher@code.org</a> for support.
