@use 'variables.scss' as variables;

.layoutContainer {
  overflow: hidden;
  grid-area: content;
  display: flex;
  flex-direction: row;
}

.defaultContainer .layoutContainer {
  width: 100%;
  height: 100%;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.shrinkAndGrow {
  flex: 1 1 auto;
}

.flexShrink0 {
  flex-shrink: 0;
}

.defaultContainer {
  height: 100%;
  width: 100%;
}

.rightmostColumn {
  background-color: var(--neutral-base-black);
  border-inline-start: variables.$default-border;

  .inside {
    height: calc(100% - 30px);
  }
}

.resizingPanel {
  pointer-events: none;
  user-select: none;
}
