.shareContainer {
  display: inline-grid;
  grid-template-columns: 150px 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "sidebar preview";
  color: var(--text-neutral-primary);
  height: 100%;
  width: 100%;
}

.sidebar {
  grid-area: sidebar;
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 20px;
  gap: 8px;
}

.previewContainer {
  grid-area: preview;
  width: auto;
}

.consoleToggle {
  margin-left: 8px;
  margin-bottom: 8px;
}
