@import '@code-dot-org/component-library-styles/colors';
@import '@code-dot-org/component-library-styles/primitiveColors';
@import '@code-dot-org/component-library-styles/variables.scss';
@import 'breakpoints';

$card-width: 309px;

.selfPacedPLCatalog {
  background-color: var(--background-neutral-secondary);

  h1, h2, p {
    margin: 0;
  }

  section {
    padding-block: 4rem;
  }

  .headerContainer {
    background-color: var(--brand-teal-5);

    .headerContent {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      gap: 30px;
      max-width: 60em;
      margin: 0 auto;
    }
  }

  .bodyContainer {
    background-color: var(--neutral-base-white);

    .catalogFiltersContainer {
      .catalogDropdownFiltersTopRow {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        max-width: 60em;
        margin: 0 auto;
        padding: 1em 0 0 0;

        button {
          background-color: var(--neutral-base-white);
          color: var(--brand-purple-50);
        }
      }

      .catalogDropdownFilters {
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        gap: 16px;
        max-width: 60em;
        margin: 0 auto;
        padding: 0 0 1em 0;

        .dropdownButton {
          background-color: var(--neutral-base-white);
        }
      }

      button {
        margin: 0;
      }
    }

    .catalogContentNoResults {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 70%;
      margin: 3em auto;
      text-align: justify;
    }

    .catalogContentCards {
      display: grid;
      grid-template-columns: repeat(auto-fill, $card-width);
      justify-content: center;
      grid-gap: 1em;
      max-width: 60em;
      margin: 0 auto 1em auto;

      .cardContainer {
        display: flex;
        flex-flow: column;
        background-color: var(--neutral-gray-5);
        border: 1px solid var(--neutral-gray-20);
        border-radius: $regular-border-radius;
        width: $card-width;
        height: 25em;

        .curriculumInfoContainer {
          display: flex;
          flex-flow: column;
          padding: 1.25em 1em;

          .csTopicLabels {
            display: flex;
            column-gap: 0.25em;
            justify-content: space-between;
            margin-bottom: 0.5em;
            height: 1.5em;

            i {
              font-size: 1.5em;
            }
          }

          i {
            color: var(--neutral-gray-80);
          }

          h4 {
            margin-bottom: 0.75em;
            color: var(--neutral-base-black);
          }
        }

        .buttonsContainer {
          display: flex;
          flex-wrap: wrap;
          margin-top: auto;

          button,
          a,
          a:link,
          a:visited {
            margin: 0;
            height: 40px;
            font-size: 1em;
            line-height: 38px;
          }
        }

        img {
          height: 140px;
          object-fit: cover;
          border-radius: $regular-border-radius $regular-border-radius 0 0;
        }
      }

      .cardContainer:nth-child(3n + 1) .centerExpandedCard {
        justify-content: flex-start;
      }

      .cardContainer:nth-child(3n + 2) .centerExpandedCard {
        justify-content: center;
      }

      .cardContainer:nth-child(3n + 3) {
        .centerExpandedCard {
          justify-content: flex-end;
        }

        .arrowContainer:before {
          background: var(--neutral-gray-5);
        }
      }

      button.buttonFlex {
        flex: 1;
      }

      .arrowContainer {
        position: relative;
        max-width: 600px;
        height: auto;
        border: 1px solid var(--neutral-base-white);
        padding-top: 16px;
        box-sizing: border-box;
      }

      .arrowContainer::before {
        position: absolute;
        width: 20px;
        height: 20px;
        border-top: 1px solid var(--neutral-base-black);
        border-left: 1px solid var(--neutral-base-black);
        top: 100%;
        left: 54.5%;
        margin-left: -25px;
        content: '';
        transform: rotate(45deg);
        margin-top: -9px;
        background: var(--neutral-base-white);
        z-index: 1;
      }

      .centerExpandedCard {
        display: flex;
      }

      .iconWithDescription {
        margin: 0 0 0.5em 0;
      }

      .horizontalDivider {
        border-top: 1px solid var(--neutral-gray-20);
      }

      .expandedCardContainer {
        .flexDivider {
          display: flex;

          .plCourseOfferingContainer {
            width: 736px;
            padding: 16px 32px 16px 16px;
            box-sizing: border-box;

            > h3 {
              margin-bottom: 8px;
            }

            .infoContainer {
              display: flex;
              column-gap: 20px;
            }

            .centerContentContainer {
              display: flex;
              column-gap: 48px;

              .descriptionContentContainer {
                width: 440px;

                .descriptionContainer {
                  margin-bottom: 20px;

                  > p {
                    font-size: 0.875em;
                  }
                }

                .mediaContainer {
                  display: flex;
                  justify-content: center;

                  .videoContainer {
                    height: 246.5px;
                    width: 100%;
                  }

                  .imageContainer {
                    height: 166px;

                    img {
                      height: 100%;
                    }
                  }
                }
              }
            }
          }

          .sideBar {
            background-color: var(--neutral-gray-5);
            width: 224px;
            padding: 16px;
            border-radius: 0 4px 4px 0;

            .closeButtonContainer {
              display: flex;
              justify-content: end;
              line-height: normal;

              button.closeButton {
                background: none;
                border: none;
                padding: 0;
                margin: 0;
                outline: none;
                height: auto;
              }

              button:active {
                border: none !important;
              }

              button:hover {
                background-color: transparent;
              }

              i {
                text-decoration: none;
                color: var(--neutral-gray-80);
                font-size: 20px;
              }
            }
          }
        }
      }
    }
  }
}
