{
  "env": {
    "test": {
      "plugins": [ "istanbul" , {
        "include": [
          "./src"
        ],
        "exclude": [
          // we need to turn off instrumentation for this file because we have tests that actually
          // make assertions about the contents of the compiled version of this file :(
          "./src/flappy/levels.js"
        ]
      }]
    }
  },
  "presets": ["env", "react" ],
  "plugins": [
    "add-module-exports",
    "syntax-async-functions",
    "syntax-dynamic-import",
    "transform-object-rest-spread",
    "transform-class-properties",
    ["transform-regenerator", {"async": true, "asyncGenerators": true}],
    // needed for IE 9/10 support
    ["transform-es2015-classes", {"loose": true}]
  ]
}
