{
  "presets": ["@babel/preset-env", "@babel/preset-react" ],
  "plugins": [
    "add-module-exports",
    "syntax-async-functions",
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-proposal-class-properties",
    ["@babel/plugin-transform-regenerator", {"async": true, "asyncGenerators": true}],
    // needed for IE 9/10 support
    ["@babel/plugin-transform-classes", {"loose": true}]
  ],
  "env": {
    "test": {
      "plugins": [
        // make dynamic imports work in unit tests
        "dynamic-import-node"
      ]
    }
  }
}
