src/**/*.min.js*
src/hammer.js
src/lodash.js
src/canvg/*.js
src/calc/js-numbers/js-numbers.js
src/ResizeSensor.js
src/applab/colpick.js

# disabled because it uses spread operator
src/templates/ProtectedStatefulDiv.jsx

lib
build
node_modules
