---
title: Thank you for joining the movement
theme: responsive
social:
  "og:title": "Does your school teach computer science?"
  "og:description": "Expand computer science at your school or district. Join the thousands of schools who have already incorporated high quality computer science education into their curriculum and provide opportunities for the students in your local area."
---
- facebook = {:u=>'https://code.org/yourschool'}
- twitter = {:url=>'https://code.org/yourschool', :related=>'codeorg', :text=>'Does your school teach computer science? Expand computer science at your school or district. @codeorg'}

- js_locale = request.locale.to_s.downcase.tr('-', '_')
%script{src: webpack_asset_path("js/#{js_locale}/common_locale.js")}
%script{src: webpack_asset_path('js/code.org/public/yourschool/thankyou.js')}

%h1 Thank you for telling us about your school
You should see your school
%a{href: '/yourschool'}
  on the map
in the next 24-48 hours.

%br
%br
Tell your friends and coworkers and encourage them to join too!
= view :share_buttons, facebook:facebook, twitter:twitter

%h2 Here is what you can do to help expand computer science in your school or district.
#thankyou
