- @page_title = "Satisfaction Survey for Code.org's TeacherCon"

- content_for(:head) do
  = stylesheet_link_tag 'css/pd', media: 'all'
  %script{src: webpack_asset_path('js/pd/teachercon_survey/new.js'), data: @script_data}

%h1
  = @page_title

#application-container
  -# populated by React
