---
title: State advocacy sheet
chart: true
<%
  if request.params["pdf_version"]
%>
layout: page_print
theme: pdf
<%
  end
%>
---

%h1 Support K-12 Computer Science Education in [New Jersey]:

%div Computer science drives job growth and innovation throughout our economy and society. Computing occupations make up two-thirds of all projected new jobs in STEM fields, making Computer Science one of the most in-demand college degrees. And computing is used all around us and in virtually every field. It’s foundational knowledge that all students need. But computer science is marginalized throughout education. 75 percent of U.S. schools don’t even offer computer science and only 8% of STEM graduates study it. We need to improve access for all students, including groups who have traditionally been underrepresented.
%br

%div
  %h3 Chart 1 US Wide
  = view :display_chart, id: "chart2", type: "PieChart", query_url: "https://docs.google.com/spreadsheets/d/1PWmXjxuN2oC-baFAe4UjL_d0s1Fu-2Vb30k7ymCxRFM/gviz/tq?gid=0&range=A1:C4&headers=1", width: 800, height: 480
  %h3 Chart 2 US Wide
  = view :display_chart, id: "chart3", type: "PieChart", query_url: "https://docs.google.com/spreadsheets/d/1PWmXjxuN2oC-baFAe4UjL_d0s1Fu-2Vb30k7ymCxRFM/gviz/tq?gid=0&range=A1:C4&headers=1", width: 800, height: 480

%div
  9 in 10 parents want their students to learn computer science, but only 1 in 4 schools teaches it.
  %br
  %h2 Computer science in [New Jersey]
  %ul
    %li 23,663 open computing jobs (4.6 times the average demand rate in NJ). 
    %li The average salary for a computing occupation in NJ is $97,957, which is significantly higher than the average salary in the state ($53,983). 
    %li 1,535 computer science graduates in 2015; only 23% were female.
    %li 1,986 high school students took the AP Computer Science exam in 2014; only 20% were female; only 143 were Hispanic; only 65 were black.
    %li Only 139 schools in NJ (29% of NJ schools with AP programs) offered the AP Computer Science course in 2013-2014. 

%div
  %h3 Stem Subject Exams in 2014 in New Jersey
  =view :display_chart, id: "chart1", type: "ColumnChart", query_url: "https://docs.google.com/spreadsheets/d/1PWmXjxuN2oC-baFAe4UjL_d0s1Fu-2Vb30k7ymCxRFM/gviz/tq?gid=0&range=A1:C4&headers=1", width: 800, height: 480

%div
  %h2 What can you do to improve K-12 CS education? 
  %ol
    %li Call on your school to expand computer science offerings at every grade level.
    %li Ask your local school district to allow computer science courses to satisfy a core math or science requirement.
    %li Visit [www.code.org/promote/nj] to learn more about supporting computer science in your state.

%div
  %h2 Code.org Impact in [State Name]
  %ul
    %li Code.org has partnered with [Creskill Public Schools][school district partners/no school districts]. 
    %li [2] Code.org affiliates offering professional development for elementary teachers in [New Jersey] have already trained  [320] elementary teachers.
    %li Code.org has trained [x] middle school teachers and [x] high school teachers in [New Jersey] to teach computer science. 
  %p About [4,966,000]  people in [New Jersey] have completed an Hour of Code! 

%center
  %h3 “Computer Science is a liberal art: it’s something that everybody should be exposed to and everyone should have a mastery of to some extent.” 
  %p —Steve Jobs

%div
  %p
    %h2 What can your state do to improve computer science education?
    Here are 8 key policies that help to provide all students with access to computer science.
  %ol
    %li [state name] has established rigorous K-12 computer science standards.
    %li [state name] does not have rigorous computer science standards. Computer science has often been confused with broader technology education in schools. States should adopt discrete standards for computer science focused on both the creation and use of software and computing technologies at all levels of K-12 education. The Computer Science Teachers Association has model K-12 CS standards.  

    %li [state name] has allocated funding for rigorous computer science professional development and course support.
    %li [state name] does not provide funding for rigorous computer science professional development and course support. States should provide professional development resources by creating matching fund opportunities to bring computer science to school districts.

    %li [state name] has clear certification pathways for computer science teachers. 
    %li [state name] does not have clear certification pathways for computer science teachers. The expansion of K-12 computer science education is hampered by the lack of qualified computer science teachers. We can grow their ranks by creating clear, navigable, and rewarding professional paths for computer science teachers. 

    %li [state name] has established incentives at institutions of higher education to offer computer science to pre-service teachers.
    %li [state name] has no incentives for institutions of higher education to offer computer science to pre-service teachers. The computer science teacher shortage can be addressed by exposing more pre-service teachers to computer science during their required coursework or by creating specific pathways for computer science teachers. 

    %li [state name] has dedicated computer science positions in state and local education authorities. 
    %li [state name] does not have dedicated computer science positions in state and local education authorities. Creating a statewide computer science leadership position within the state education authority will oversee state-level implementation of computer science education  initiatives. Similar positions at the local level could support districts’ expansion of course offerings and professional development. 

    %li [state name] requires that all secondary schools offer computer science. 
    %li [state name] does not require that all secondary schools offer computer science. States should adopt policies that require schools to offer a computer science course based on rigorous standards, with appropriate implementation timelines and allowing for remote and/or in-person courses. 

    %li [state name] allows computer science to count for a core mathematics or science graduation requirement. 
    %li [state name] does not allow computer science to count for a core mathematics or science graduation requirement. States that count computer science as a core graduation requirement see 50% more enrollment in their AP Computer Science courses and increased participation from underrepresented minorities. 

    %li [state name] allows computer science to count as a mathematics or science admission requirement at institutions of higher education. 
    %li [state name] does not allow computer science to count as a mathematics or science admission requirement at institutions of higher education.  Admission policies that do not include rigorous computer science courses as meeting the mathematics or science entrance requirements discourage students from taking such courses in secondary education. State leaders can work with institutions of higher education to ensure credit and articulation policies align with secondary school graduation requirements.

  %p Read more about these 8 policy ideas.

%div
  %h3 Follow us! 
  %p Join our efforts to give every student in every school the opportunity to learn computer science. Learn more at code.org, or follow us on Facebook and Twitter.
  %p Code.org, a public 501c3 nonprofit, also organizes Computer Science Education Week (CSEdWeek), which is the awareness-building activity of the computer science education community. Code.org’s corporate sponsors include Microsoft, Google, Infosys, Amazon, Disney, Facebook, Salesforce, Expedia, Juniper Networks, Workday, Bestbuy, JP Morgan Chase, and Symantec. A list of all supporters can be found at code.org/about/donors.
  %p Data is from the Conference Board, the Bureau of Labor Statistics, the College Board, the National Science Foundation, the National Center for Education Statistics, and the Gallup research study Searching for Computer Science: Access and Barriers in K-12 Education. 

