/* 100-900 Normal */
@font-face {
  font-family: 'Geist';
  font-style: normal;
  font-weight: 100 900;
  src: url('/fonts/Geist/Geist-VariableFont_wght.ttf') format('truetype');
}

/* 100-900 Italic */
@font-face {
  font-family: 'Geist';
  font-style: italic;
  font-weight: 100 900;
  src: url('/fonts/Geist/Geist-Italic-VariableFont_wght.ttf') format('truetype');
}
