/* 100-900 Normal */
@font-face {
  font-family: 'Geist';
  font-style: normal;
  font-weight: 100 900;
  src: url('/fonts/Geist/Geist.woff2') format('woff2');
}

/* 100-900 Italic */
@font-face {
  font-family: 'Geist';
  font-style: italic;
  font-weight: 100 900;
  src: url('/fonts/Geist/Geist-Italic.woff2') format('woff2');
}
