---
title: Promote Computer Science
layout: none
template: none
theme: none
---
-state = File.basename(request.path_info)
-raise Sinatra::NotFound unless state.downcase == state
-unless state == 'thanks'
  -state.upcase!
  -raise Sinatra::NotFound unless us_state_code?(state)

:javascript
  var petitionIncluded = false;
  var promoteIncluded = false;

%script{:src=>"/js/jquery.placeholder.js"}

#promote-page
  -if state.nil_or_empty?
    #petition-section.section.clear
      = view :petition
    :javascript
      petitionIncluded = true;
  -elsif state == "thanks"
    #thanks-section.section.clear
      %p Thank you for your support. Please help us spread the word.
  -else
    #state-section.clear
      = view :promote_state, state:state
    :javascript
      promoteIncluded = true;

= view 'popup_window.js'

:javascript
  var petition;
  var promote;

  $(document).ready()
  {
    if (petitionIncluded)
      petition = new Petition();

    if (promoteIncluded)
      promote = new Promote();
  }
