---
title: Promote Computer Science
layout: none
template: none
theme: none
---
-require 'state_abbr'
-state = File.basename(request.path_info)
-raise Sinatra::NotFound unless state.downcase == state
-unless state == 'thanks'
  -state.upcase!
  -raise Sinatra::NotFound unless us_state_with_dc_abbr?(state)

#promote-page
  -if state.nil_or_empty?
    #petition-section.section.clear
      = view :petition
  -elsif state == "thanks"
    #thanks-section.section.clear
      %p{:style=>"font-size:18px;"}
        Computer science drives innovation in the US economy and society. Despite growing demand for jobs in the field, it remains marginalized throughout the US K-12 education system.
      %p{:style=>"font-size:18px;"}
        Currently,
        %strong
          =credit_count()
        states allow students to count computer science courses toward high school graduation.
  -else
    #state-section.clear
      = view :promote_state, state:state
