@import '../../../mixins.scss';
@import 'color.scss';

$scale-factor: 0.5;
$full-width: 1920px;
$full-height: 1080px;

.container {
  display: flex;
  flex-direction: column;
}

.panelsContainer {
  position: relative;
  height: $full-height * $scale-factor;
  width: $full-width * $scale-factor;
  background-color: #121212;
  margin-bottom: 25px;
}

.fullSizeContainer {
  position: relative;
  width: $full-width;
  height: $full-height;
  transform: scale($scale-factor) translateX(-50%) translateY(-50%);
}

.panelEditors {
  overflow-y: scroll;
  padding: 20px;
  border-radius: 4px;
  margin-bottom: 25px;
  resize: vertical;
  height: 300px;
  background-color: rgba($neutral_dark10, 0.5);
}

.panelEditor {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.fieldRow {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 20px;
  margin-bottom: 10px;
}

.textarea {
  flex: 1;
}

.imageUrlInput {
  width: 700px;
}

.panelHeader {
  margin: 0;
}

.addButtonContainer {
  display: flex;
  justify-content: center;
}

%button,
.button {
  @include remove-button-styles;
  transition: color 0.1s ease;

  &:hover {
    color: $neutral_dark40;
  }
}

.deleteButton {
  @extend %button;
  &:hover {
    color: $product_negative_default;
  }
}

.addPanelButton {
  @extend %button;
  margin: auto;
}

@keyframes fade-out-toast {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.toastOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
}

.toast {
  margin: 100px auto auto auto;
  z-index: 100;
  opacity: 0;
  background-color: $brand_primary_default;
  border: 2px $brand_primary_light solid;
  border-radius: 4px;
  padding: 10px;

  &Show {
    animation: fade-out-toast 3s;
  }
}

.toastMessage {
  color: $neutral_light;
  margin-bottom: 0;
}
