@use '../../layout/variables.scss' as variables;
@use '../../../../../mixins.scss' as mixins;

.resourcePanel {
  display: flex;
  background-color: var(--background-neutral-primary);
  height: 100%;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .tabs {
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    border-top: variables.$default-border;
  }

  // Doubling class name to increase specificity and override default button styles.
  .tabButton.tabButton {
    height: 3.5rem;
    width: 3.5rem;
    min-width: 2rem;
    border-bottom: variables.$default-border;
    border-top: 0;
    border-inline: 0;
    border-radius: 0;
    background-color: var(--background-neutral-secondary);

    &.selected {
      background-color: var(--background-neutral-primary);
      position: relative;
      z-index: 2;

      i {
        color: var(--text-brand-teal-primary);
      }

      // Extend the background to cover the border between selected tab and resource panel.
      &::after {
        content: '';
        position: absolute;
        inset-inline-end: -1px;
        top: 0;
        height: 100%;
        width: 1px;
        background-color: var(--background-neutral-primary);
      }
    }

    i {
      color: var(--text-neutral-quaternary);
      font-size: 1.25rem;
    }

    &:hover:not(.selected) {
      background-color: var(--background-neutral-primary);

      i {
        color: var(--text-neutral-tertiary);
      }
    }

    // Override default active state borders to prevent jumping when clicking a tab
    &:active {
      border-bottom: variables.$default-border !important;
      border-top: none !important;
      border-inline: none !important;
    }

    @include mixins.focus-styles(var(--borders-brand-teal-primary), -2px);
  }

  .bottomTabs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
    padding: 8px 0;
  }

  // Doubling class name to increase specificity and override default button styles.
  .bottomButton.bottomButton {
    height: 2rem;
    width: 2rem;
    min-width: 2rem;

    i {
      font-size: 14px;
    }
  }
}

.panels {
  display: flex;
  opacity: 1;
  flex-direction: column;
  flex: 1;
  min-width: 0;
  border-inline-start: variables.$default-border;
}

.panelContent {
  background-color: var(--background-neutral-primary);
  height: 100%;
}

.tabContentContainer {
  position: relative;
  width: 100%;
  height: 100%;

  .tabContent {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &Hidden {
      opacity: 0;
      pointer-events: none;
    }
  }
}

.navigationFooter {
  padding: 10px;
  background-color: var(--background-neutral-secondary)
}
