%h1 What's Next?

%h3 Code.org recommends these third party courses:  

%div{:style=>"background:#fff5e0; border-radius:10px; float:none; height:360px; padding:15px;"}
  %img{:src=>"https://code.org/next/images/scratch.png", :style=>"float:left; border: 2px solid white; width:300px; margin-right:20px; border-radius:10px;"}
  %div
    With Scratch, you can program your own interactive stories, games, and animations and share your creations with others in the online community.  
    %p
    Scratch helps young people learn to think creatively, reason systematically, and work collaboratively — essential skills for life in the 21st century.
    %p
    %br
    Scratch is available on the web.
    
    %p{:style=>"padding-top:15px;"}
      %a{:href=>"http://scratched.gse.harvard.edu/guide/files/CreativeComputing20141015.pdf"}
        %button Download Scratch Curriculum
    %p
      %a{:href=>"http://scratched.gse.harvard.edu/discussions"}
        %button Scratch Educator Forum
    %p
      %a{:href=>"https://scratch.mit.edu/"}
        %button Visit Scratch

%br
%div{:style=>"background:#fff5e0; border-radius:10px; float:none; height:360px; padding:15px;"}
  %img{:src=>"https://code.org/next/images/lightbot.png", :style=>"float:left; border: 2px solid white; width:300px; margin-right:20px; border-radius:10px;"}
  %div
    In Lightbot, students must program a robot with commands to solve puzzles. Students may play the game in the Browser (requires Flash Player), or on Android or iOS devices.  
    %p
    Students play the initial set of “Basic” levels in Lightbot. They will learn how to tell a computer what to do with a series of basic commands and gain the general process by which computer programs are written. 
    %p
    %br
    Lightbot is available on the web, iPad, and Android-based tablets. 
    
    %p{:style=>"padding-top:15px;"}
      %a{:href=>"http://lightbot.com/Lightbot_BasicProgramming.pdf"}
        %button Download Lightbot Curriculum
    %p
      %a{:href=>"http://lightbot.com/index.html"}
        %button Visit Lightbot


%br
%h3 Other third party recommendations:

%table
  %thead
    %th Organization
    %th Curriculum
    %th Pricing
  %tr
    %td 
      %a{:href=>"http://www.cs-first.com/materials"} CS First
    %td More than 40 lessons, geared toward grades 4-8
    %td Free
  %tr
    %td 
      %a{:href=>"https://www.tynker.com"} Tynker
    %td Dozens of lessons for all grades K-8
    %td Free to try, $399/classroom
