%h1 What's Next?

%h3 Code.org highly recommends these third party applications:  

%div{:style=>"background:#fff5e0; border-radius:10px; float:none; height:360px; padding:15px;"}
  %img{:src=>"https://staging.code.org/next/images/khan.png", :style=>"float:left; width:300px; margin-right:20px; border-radius:10px;"}
  %div
    Learn how to program drawings, animations, and games using JavaScript & ProcessingJS, or learn how to create webpages with HTML & CSS. You can share whatever you create, explore what others have created and learn from each other!
    
    %p{:style=>"padding-top:15px;"}
      %a{:href=>"http://www.appinventor.org/content/CourseInABox/Intro/courseinabox"}
      %button Download App Inventor 2 Curriculum
    %p
      %a{:href=>"https://groups.google.com/forum/#!forum/mitappinventortest"}
      %button App Inventor 2 Forum
    %p
      %a{:href=>"http://ai2.appinventor.mit.edu/"}
      %button Visit App Inventor 2

%br
%div{:style=>"background:#fff5e0; border-radius:10px; float:none; height:360px; padding:15px;"}
  %img{:src=>"https://staging.code.org/next/images/appI2.png", :style=>"float:left; width:300px; margin-right:20px; border-radius:10px;"}
  %div
    MIT App Inventor is a block-based programming tool that allows everyone, even novices, to start programming and build fully functional apps for Android devices. Newcomers to App Inventor can have their first app up and running in an hour or less, and can program more complex apps in significantly less time than with more traditional, text-based languages. 
    
    %p{:style=>"padding-top:15px;"}
      %a{:href=>"http://www.appinventor.org/content/CourseInABox/Intro/courseinabox"}
      %button Download App Inventor 2 Curriculum
    %p
      %a{:href=>"https://groups.google.com/forum/#!forum/mitappinventortest"}
      %button App Inventor 2 Forum
    %p
      %a{:href=>"http://ai2.appinventor.mit.edu/"}
      %button Visit App Inventor 2


%br
%h3 Other third party recommendations:

%table
  %thead
    %th Organization
    %th Curriculum
    %th Pricing
  %tr
    %td 
      %a{:href=>"http://www.cs-first.com/materials"} CS First
    %td More than 40 lessons, geared toward grades 4-8
    %td Free
  %tr
    %td 
      %a{:href=>"https://scratch.mit.edu"} Scratch
    %td About 20 lessons, geared toward grades 2-8
    %td Free
  %tr
    %td 
      %a{:href=>"http://www.cs-first.com/materials"} Lightbot
    %td Between 10 & 15 lessons, geared toward grades 2-8
    %td Free to try, $2.99/Download
  %tr
    %td 
      %a{:href=>"https://code.org/educate/k5"} Tynker
    %td Dozens of lessons for all grades K-8
    %td Free to try, $399/classroom
