%h1 What's Next?

%h3 Code.org recommends these third party courses:  

%div{:style=>"background:#fff5e0; border-radius:10px; float:none; height:360px; padding:15px;"}
  %img{:src=>"https://code.org/next/images/khan.png", :style=>"float:left; border: 2px solid white; width:300px; margin-right:20px; border-radius:10px;"}
  %div
    Learn how to program drawings, animations, and games using JavaScript & ProcessingJS, or learn how to create webpages with HTML & CSS. You can share whatever you create, explore what others have created and learn from each other!
    %p
    %br
    Khan Academy is available on the web.
    
    %p{:style=>"padding-top:15px;"}
      %a{:href=>"https://www.khanacademy.org/computing/computer-programming"}
        %button Learn CS with Khan Academy
    %p
      %a{:href=>"https://www.khanacademy.org/computing/computer-programming/d"}
        %button Khan Academy CS Forum


%br
%div{:style=>"background:#fff5e0; border-radius:10px; float:none; height:360px; padding:15px;"}
  %img{:src=>"https://code.org/next/images/appI2.png", :style=>"float:left; width:300px; border: 2px solid white; margin-right:20px; border-radius:10px;"}
  %div
    MIT App Inventor is a block-based programming tool that allows everyone, even novices, to start programming and build fully functional apps for Android devices. Newcomers to App Inventor can have their first app up and running in an hour or less, and can program more complex apps in significantly less time than with more traditional, text-based languages. 
    %p
    %br
    App Inventor 2 is available on the web for use on Android platforms.
    
    %p{:style=>"padding-top:15px;"}
      %a{:href=>"http://www.appinventor.org/content/CourseInABox/Intro/courseinabox"}
      %button Download App Inventor 2 Curriculum
    %p
      %a{:href=>"https://groups.google.com/forum/#!forum/mitappinventortest"}
        %button App Inventor 2 Forum
    %p
      %a{:href=>"http://ai2.appinventor.mit.edu/"}
        %button Visit App Inventor 2


%br
%h3 Other third party recommendations:

%table
  %thead
    %th Organization
    %th Curriculum
    %th Pricing
  %tr
    %td 
      %a{:href=>"https://gamestarmechanic.com/"} Gamestar Mechanic
    %td Between 10 & 15 lessons, geared toward grades 3-12
    %td Free to try, $2/student
  %tr
    %td 
      %a{:href=>"https://www.codecombat.com"} Code Combat
    %td From 25 - 40 lessons, intended for grades 3-12
    %td Free to try, $9.99/month
  %tr
    %td 
      %a{:href=>"https://scratch.mit.edu"} Scratch
    %td About 20 lessons, geared toward grades 2-8
    %td Free
  %tr
    %td 
      %a{:href=>"https://www.tynker.com"} Tynker
    %td Dozens of lessons for all grades K-8
    %td Free to try, $399/classroom
