%h1 What's Next?

%h3 Code.org recommends these third party courses:  

%div{:style=>"background:#fff5e0; border-radius:10px; float:none; height:360px; padding:15px;"}
  %img{:src=>"https://code.org/next/images/codeHS.png", :style=>"float:left; border: 2px solid white; width:300px; margin-right:20px; border-radius:10px;"}
  %div
    CodeHS introduces the building blocks of programming with short videos, example code, and lots of programming exercises that make coding fun and accessible for beginners.
    %p
    With CodeHS, you can get the help that every new programmer needs to work through problems and keep learning. Our tutors are everywhere!
    %p
    %br
    CodeHS is available on the web. 
    %p{:style=>"padding-top:15px;"}
      %a{:href=>"https://codehs.com/course/info/introcs"}
        %button Try CodeHS Intro to Computer Science
    %p
      %a{:href=>"https://codehs.com/demos"}
        %button Visit the CodeHS Demos


%br
%div{:style=>"background:#fff5e0; border-radius:10px; float:none; height:360px; padding:15px;"}
  %img{:src=>"https://code.org/next/images/codecademy.png", :style=>"float:left; width:300px; border: 2px solid white; margin-right:20px; border-radius:10px;"}
  %div
    We are rethinking education from the bottom up. The web has rethought nearly everything - commerce, social networking, healthcare, and more. We are building the education the world needs - the first truly net native education.
    %p
    %br
    Codecademy is available on the web. 
    %p{:style=>"padding-top:15px;"}
      %a{:href=>"https://www.codecademy.com/schools/curriculum/resources"}
        %button Download Codecademy Curriculum
    %p
      %a{:href=>"https://www.codecademy.com/"}
        %button Visit Codecademy


%br
%h3 Other third party recommendations:

%table
  %thead
    %th Organization
    %th Curriculum
    %th Pricing
  %tr
    %td 
      %a{:href=>"https://www.khanacademy.org/computing/computer-programming"} Khan Academy
    %td Between 7 & 22 lessons, geared toward grades 5-12
    %td Free
  %tr
    %td 
      %a{:href=>"http:/ai2.appinventor.mit.edu/"} App Inventor 2
    %td More than 20 lessons, geared toward grades 4-12
    %td Free
  %tr
    %td 
      %a{:href=>"https://www.codecombat.com"} Code Combat
    %td From 25 - 40 lessons, intended for grades 3-12
    %td Free to try, $9.99/month
