---
title: Curriculum for 2-3
---

%h1 Curriculum for 2-3

-content = Course.new("2-3")
-content.get_lessons.each do |lesson|
  %a{:href=>lesson.url}
    Lesson #{lesson.number}: #{lesson.title}
    %br
