- script_data = {}
- script_data[:authenticityToken] = form_authenticity_token
- inaccuracy_reports = Census::CensusSubmission.left_joins(:census_inaccuracy_investigations).where(inaccuracy_reported: true).where('census_inaccuracy_investigations.id is null')
- script_data[:reportsToReview] = inaccuracy_reports.map(&:inaccuracy_review_data).flatten.compact.map(&:to_json)
%script{src: minifiable_asset_path('js/census_reviewers/review_reported_inaccuracies.js'), data: {props: script_data.to_json}}

#application-container
  -# populated by React
