---
title: Vaya m치s all치 de La Hora de Program.AR
theme: responsive
social:
  'og:title' : 'La Hora de Program.AR est치 llegando'
  'og:description' : "Enterate, en s칩lo una hora, lo divertido que es programar computadoras."
  'og:image' : ""
  'og:image:width' : ""
  'og:image:height' : ""
  "og:video": ""
  "og:video:width": ""
  "og:video:height": ""
  "og:video:type": ""
---

%link{href: "/css/learn_tabs.css", rel: "stylesheet"}

= view :learn_carousels, variation:'beyond'
