:ruby
  additional_resources = [
    {
      title: hoc_s('poetry_page.additional_resources.try_hoc.title'),
      image: "/images/try-hour-of-code-card.png",
      desc: hoc_s('poetry_page.additional_resources.try_hoc.desc'),
      url: CDO.code_org_url("/hourofcode"),
      button_label: hoc_s('poetry_page.additional_resources.try_hoc.button_label'),
    },
    {
      title: hoc_s('poetry_page.additional_resources.NAIPI.title'),
      image: "/images/naipi_card.png",
      desc: hoc_s('poetry_page.additional_resources.NAIPI.desc'),
      url: CDO.code_org_url("/naipi"),
      button_label: hoc_s('poetry_page.additional_resources.NAIPI.button_label'),
    },
    {
      title: hoc_s('poetry_page.additional_resources.curriculum_catalog.title'),
      image: "/images/course-catalog-illustration.png",
      desc: hoc_s('poetry_page.additional_resources.curriculum_catalog.desc'),
      url: CDO.studio_url("/catalog"),
      button_label: hoc_s('poetry_page.additional_resources.curriculum_catalog.button_label'),
    }
  ]

.action-block__wrapper.action-block__wrapper--three-col
  - additional_resources.each do |additional_resource|
    .action-block.action-block--one-col.flex-space-between
      .content-wrapper
        %h3
          = additional_resource[:title]
        %img{src: additional_resource[:image], alt: ""}
        %p
          = additional_resource[:desc]
      .content-footer
        %a.link-button{href: "#{additional_resource[:url]}"}
          = additional_resource[:button_label]
