#ani-gif-preview-wrapper {
  vertical-align: top;
}

$ani-gif-preview-width: 80px;
$ani-gif-preview-height: 60px;
#ani-gif-preview {
  display: table-cell;
  background-size: $ani-gif-preview-width $ani-gif-preview-height;
  // background-image set via javascript
  width: $ani-gif-preview-width;
  height: $ani-gif-preview-height;
  vertical-align: middle;
  text-align: center;
  border-radius: 12px;

  #play-button {
    clear: both;
    height: 40px;
    position: relative;
  }
}

/* Place ani-gif next to text for column width 300px or wider. */
@media screen and (min-width: 1051px) {
  #prompt-table.with-ani-gif {
    margin-right: $ani-gif-preview-width;
    padding-right: 5px;
  }

  #ani-gif-preview-wrapper {
    position: absolute;
    right: 0;
    top: 0;
  }
}
