@import "color";
@import "font";
@import "style-constants";
@import "responsive-visualization";

$common_root: '/blockly/media/common_images/';

@mixin fill-container {
  height: 100%;
  width: auto;
}
@mixin font {
  font-family: $gotham-regular, sans-serif;
  font-weight: normal;
}

@mixin no-transform {
  -moz-transform: none;
  -webkit-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
}

@mixin horizontal-flip {
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

@keyframes wiggle {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(-20deg); }
  75% { transform: rotate(20deg); }
  100% { transform: rotate(0deg); }
}

.animate-hint {
  animation-name: wiggle;
  animation-duration: 200ms;
  transform-origin: 50% 50%;
  animation-iteration-count: 3;
}


body {
  @include font;
  background-color: #F2F2F2;
  font-weight: normal;
  margin-top: 0;
}
h1 {
  font-family: $gotham-extra-bold, sans-serif;
  font-weight: normal;
  font-size: 140%;
}
h2 {
  font-family: $gotham-bold, sans-serif;
  font-weight: normal;
}
a {
  color: $link_color;
  &:hover {
    color: $link_color;
    background: none;
  }
}
strong {
  font-family: $gotham-extra-bold, sans-serif;
  font-weight: normal;
}

em {
  font-family: $gotham-italics, sans-serif;
  font-style: normal;
}

strong em,
em strong {
  font-family: $gotham-extra-bold-italics, sans-serif;
}

.clear {
  clear: both;
}

html[dir='rtl'] #visualizationColumn {
  right: 0px;
}

#visualizationColumn {
  position: relative;
  top: 0px;
  left: 0px;
  overflow: visible;
}

#visualizationColumn.pin_bottom {
  position: absolute;
  bottom: 0px;

  #belowVisualization {
    position: absolute;
    overflow: auto;
  }
}

div.droplet-palette-group-header {
  @include font;
  line-height: 24px;
}

div.droplet-palette-header-row {
  height: 24px;
}

div.droplet-palette-group-header:active {
  color: $black;
}

div.droplet-palette-group-header-selected {
  font-weight: 400;
  color: $black;
}

div.droplet-palette-group-header.yellow {
  border-left: 10px solid $droplet_yellow;
}

div.droplet-palette-group-header-selected.yellow {
  background-color: $droplet_yellow;
}

div.droplet-palette-group-header.red {
  border-left: 10px solid $droplet_red;
}

div.droplet-palette-group-header-selected.red {
  background-color: $droplet_red;
}

div.droplet-palette-group-header.cyan {
  border-left: 10px solid $droplet_cyan;
}

div.droplet-palette-group-header-selected.cyan {
  background-color: $droplet_cyan;
}

div.droplet-palette-group-header.pink {
  border-left: 10px solid $droplet_pink;
}

div.droplet-palette-group-header-selected.pink {
  background-color: $droplet_pink;
}

div.droplet-palette-group-header.lightgreen {
  border-left: 10px solid $droplet_light_green;
}

div.droplet-palette-group-header-selected.lightgreen {
  background-color: $droplet_light_green;
}

div.droplet-palette-group-header.purple {
  border-left: 10px solid $droplet_purple;
}

div.droplet-palette-group-header-selected.purple {
  background-color: $droplet_purple;
}

div.droplet-palette-group-header.blue {
  border-left: 10px solid $droplet_blue;
}

div.droplet-palette-group-header-selected.blue {
  background-color: $droplet_blue;
}

div.droplet-palette-group-header.green {
  border-left: 10px solid $droplet_green;
}

div.droplet-palette-group-header-selected.green {
  background-color: $droplet_green;
}

div.droplet-palette-group-header.orange {
  border-left: 10px solid $droplet_orange;
}

div.droplet-palette-group-header-selected.orange {
  background-color: $droplet_orange;
}

.droplet-wrapper-div {
  overflow: hidden;
  outline-style: none;
}

#show-code-button {
  @media screen and (max-device-width: 540px) {
    display: none;
  }

  background-color: $green;
  border-color: $green;
  padding: 2px 8px;
  margin: -5px 0 0 6px;
  font-size: small;
  color: white;
}

.share-code-spacer {
  clear: both;
  min-height: 25px;
}

button.arrow {
  border: 1px solid #FFA000;
  background-color: #FFA000;
  color: #fff;
  margin-left: 9px;
  margin-right: 0px;
  display: none;
}
button.arrow>img {
  opacity: 1;
  vertical-align: text-bottom;
}
button.arrow:focus {
  outline-style: none;
}
button.arrow:disabled {
  border: 1px solid #C7C7C7;
  background-color: #C7C7C7;
}

#soft-buttons {
  display: inline-block;
  vertical-align: top;
  margin-left: -9px;
  -webkit-touch-callout: none;
  &.soft-buttons-compact {
    margin: 0;
    button {
      margin: 0 4px 0 0;
    }
  }
}

.soft-buttons-1 {
  display: table-cell;
  vertical-align: top;
  min-width: 51px;
}
.soft-buttons-2 {
  display: table-cell;
  vertical-align: top;
  min-width: 102px;
}
.soft-buttons-3 {
  display: table-cell;
  vertical-align: top;
  min-width: 153px;
}
.soft-buttons-4 {
  display: table-cell;
  vertical-align: top;
  min-width: 204px;
}

/* Set z-index to one here so that .droplet-dropdown (z-index 500) appears in front of
 * other droplet elements, but behind anything with z-index > 1 outside of #codeTextbox,
 * such as dialogs. */
#codeTextbox {
  position: absolute;
  left: 0px;
  right: 0px;
  top: $workspace-headers-height;
  bottom: 0px;
  font-size: 14px;
  min-height: calc(50% - #{($workspace-headers-height / 2) + 1}) !important;
  direction: ltr;
  z-index: 1;
}

#codeTextbox.pin_bottom {
  border: 1px solid #ddd;
}

html[dir='rtl'] .editor-column {
   right: 400px;
}

.editor-column {
  left: 400px
}

#codeWorkspace.pin_bottom {
  border: none;
  border-top: 1px solid #ddd;
}

// #codeWorkspace.readonly is used when we are displaying a workspace but it
// is not editable (like someone else project), or when app is running
#codeWorkspace.readonly, #codeWorkspace.dimmed, .libraryCodeViewerContainer {
  // special cases for:
  .blocklySvg, // blockly
  .droplet-main-scroller, // droplet block view
  .ace_scroller, { // droplet code view
    background-color: rgba(0, 0, 0, 0.1);
  }
  // Note: We do something similar in our DesignModeBox React component's
  // transparency layer. These two should be kept in sync as much as possible
}

.ace-chrome .ace_marker-layer .ace_error {
  background: rgb(232, 47, 25);
}

.ace_marker-layer .ace_error {
  position: absolute;
  z-index: 3;
}

// By defining the rule for pause icons first, the warning and error icons will take priority over showing the pause
// icon.
.ace_gutter-cell.ace_breakpoint, .droplet-gutter-line.droplet_breakpoint {
  background-image: url('#{$common_root}gutterPause.png');
  background-size: 16px 16px;
  background-repeat: no-repeat;
  border-radius: 15px 0 0 15px;
  background-color: rgba(0, 0, 255, 0.5);
  color: white;
}

.droplet-gutter-line.droplet_breakpoint {
  background-position: 4px 4px;
}

.ace_gutter-cell.ace_error, .droplet-gutter-line.droplet_error {
  background-image: url('#{$common_root}gutterError.png');
  background-size: 16px 16px;
  background-repeat: no-repeat;
}

.droplet-gutter-line.droplet_error, .droplet-gutter-line.droplet_warning {
  background-position: 2px center;
}

.ace_gutter-cell.ace_warning, .droplet-gutter-line.droplet_warning {
  background-image: url('#{$common_root}gutterWarn.png');
  background-size: 16px 16px;
  background-repeat: no-repeat;
}

.ace_gutter-cell.ace_error, .ace_gutter-cell.ace_warning {
  background-position: 2px 0;
}

.droplet-gutter-line.droplet_warning {
  background-position: 2px 2px;
}

#visualizationResizeBar {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 15px;
  left: 400px;
  cursor: ew-resize;
  text-align: center;
  color: $lighter_gray;
  font-size: 24px;
  line-height: 400px;
}

html[dir='rtl'] div#visualizationResizeBar {
  right: 400px;
}

#visualization {
  position: relative;
  height: 400px;
  margin-bottom: 5px;
}

.karel-counter-text {
  text-anchor: end;
  font-size: 16px;
  font-family: Verdana, Geneva, sans-serif;
  font-weight: bold;
  fill: white;
  stroke: black;
  stroke-width: 1;
  cursor: default;

  html[dir='RTL'] & {
    text-anchor: start;
  }
}

/* Shrink the visualization area on small displays. */

#visualization.responsive > * {
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;

  html[dir="RTL"] & {
    -webkit-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    transform-origin: 100% 0;
  }
}

#studio-dpad-container.responsive > * {
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;

  html[dir="RTL"] & {
    -webkit-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    transform-origin: 100% 0;
  }
}

/* Make buttons, videos, etc. clickable. Otherwise, the scaled svg/canvas
 * obscures clicks on its original, unscaled position.  */
#belowVisualization {
  z-index: 1;
  position: relative;
}

@mixin visualization-width($width) {
  @include visualization-width-height-original($width, $width, 400px);
}

@mixin studio-dpad-container-width($width) {
  $scale: $width / 400px;
  #studio-dpad-container.responsive > * {
    -webkit-transform: scale($scale);
    -ms-transform: scale($scale);
    transform: scale($scale);
  }
}

@mixin karel-counter($font-size, $stroke-width) {
  .karel-counter-text {
    font-size: $font-size;
    stroke-width: $stroke-width;
  }
}

@media screen and (min-width: 1101px) and (max-width: 1150px),
       screen and (min-height: 801px) and (max-height: 900px) {
  @include visualization-width(350px);
  @include studio-dpad-container-width(350px);
  @include karel-counter(20px, 1.2px);
}

@media screen and (min-width: 1051px) and (max-width: 1100px),
       screen and (min-height: 701px) and (max-height: 800px) {
  @include visualization-width(300px);
  @include studio-dpad-container-width(300px);
  @include karel-counter(24px, 1.4px);
}

@media screen and (min-width: 1001px) and (max-width: 1050px),
       screen and (min-height: 601px) and (max-height: 700px) {
  @include visualization-width(250px);
  @include studio-dpad-container-width(250px);
  @include karel-counter(28px, 1.6px);
}

@media screen and (max-width: 1000px),
       screen and (max-height: 600px) {
  @include visualization-width(200px);
  @include studio-dpad-container-width(200px);
  @include karel-counter(32px, 2px);

  #soft-buttons {
    margin: 5px -8px 0 0;
    button {
      margin: 0 4px 0 0;
    }
  }
  .small-footer-base.responsive {
    small {
      float: left;
    }
  }
}

/* Buttons */
button, label.img-upload {
  margin: 5px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
  font-size: large;
  background-color: #eee;
  color: $black;
}
button.launch {
  border: 1px solid $orange;
  background-color: $orange;
  color: $white;
  font-size: large;
  min-width: 96px;
  margin-left: 0px;
  margin-right: 10px;
  /* Can't use "text-align: start" due to IE. */
  text-align: left;
}
button.launch[disabled] {
  pointer-events: none;
}
html[dir="RTL"] button.launch {
  text-align: right;
}
button.launch>img {
  opacity: 1;
  vertical-align: text-bottom;
}
button.blocklyLaunch {
  display: inline-block;
  &.hide {
    display: none;
  }
  border: 1px solid $orange;
  background-color: $orange;
  @media screen and (min-width: 1051px) {
    min-width: 111px;
  }
  padding: 7px 10px 7px 6px;
  /* Can't use "text-align: start" due to IE. */
  text-align: left;
  img {
    float: left;
    margin-top: 0px;
    margin-left: 6px;
  }
  div {
    text-align: left;
    margin-top: 3px;
    margin-right: 4px;
    float: right;
    padding: 0px;
    margin-left: 6px;
    @media screen and (min-width: 1051px) {
      min-width: 45px;
    }
  }
  html[dir="RTL"] & {
    margin-right: 0px;
  }
  &#resetButton {
    border: 1px solid $cyan;
    background-color: $cyan;
  }

  &.hideText {
    width: 42px;
    height: 42px;
    min-width: 0;
    padding: 7px;

    img {
      margin-left: 2px;
      margin-top: -2px;
    }
  }

}

button.share {
  border: 1px solid #FFA000;
  background-color: #FFA000;
  color: $white;
  margin-left: 0px;
  margin-right: 0px;
}
button.share:focus {
  outline-style: none;
}
button:hover>img {
  opacity: 1;
}
button:active {
  border: 1px solid #888 !important;
}
button:hover {
  box-shadow: 2px 2px 5px $shadow;
}
button.disabled, button[disabled=disabled], button:disabled {
  border: 1px solid #C7C7C7;
  background-color: #C7C7C7;
  box-shadow: none;
  &:hover {
    box-shadow: none;
  }
}
button.disabled:hover>img {
  opacity: 0.6;
}
button.disabled {
  display: none;
}
button.notext {
  font-size: 10%;
}
label.img-upload {
  display: inline-block;
  vertical-align: middle;
}
input[type="radio"] {
  margin-left: 40px;
  margin-right: 10px;
}
@media screen and (max-width: 1050px) {
  #stepButton {
    min-width: 0;
  }
}

#learn {
  h1 {
    margin: 20px 0px 0px 0px;
  }
  img {
    margin-bottom: 5px;
  }
  a {
    display: block;
  }
}

#make-your-own-button {
  margin: 5px 0px 5px 0px;
}

#open-workspace {
  margin: 5px 0px 5px 0px;
}

#gameButtons {
  position: relative;
  margin-bottom: 10px;
  width: 100%;

  text-align: justify;
  -ms-text-justify: distribute-all-lines;
  text-justify: distribute-all-lines;
}

#gameButtons:after{
  content: '';
  display: inline-block;
  width: 100%;
  height: 0;
  font-size:0;
  line-height:0;
}

#slider-cell {
  display: inline-block;
  vertical-align: top;
  touch-action: none;
  -ms-touch-action: none;
}

#slider {
  display: inline-block;
  vertical-align: middle;
}

#spinner {
  display: inline-block;
  vertical-align: middle;
}

/* Dialogs */
#help {
  padding: 0 10px;
  display: none;
}
#dialog {
  visibility: hidden;
  background-color: $white;
  color: $black;
  border: 1px solid $black;
  position: absolute;
  border-radius: 8px;
  box-shadow: 5px 5px 5px $shadow;
  padding: 10px;
  z-index: 20000;
}
#dialogBorder {
  visibility: hidden;
  position: absolute;
  background-color: $white;
  color: $black;
  border-radius: 6px;
  box-shadow: 5px 5px 5px $shadow;
}
#dialogShadow {
  @include fill-container;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $black;
  opacity: 0.3;
  z-index: 1;
}
.dialogAnimate {
  transition-property: width height left top opacity;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}
.dialogHiddenContent {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
#dialog button {
  min-width: 4em;
}
.feedback {
  font-size: 30px;
  margin: 20px 0px 20px 0px;
  line-height: 28px;
  color: #7E5BA0;
  font-family: $gotham-extra-bold;
  font-weight: normal;

}

#show-code {
  margin-bottom: 5px;
}
#hint {
  color: $white;
  padding: 5px 1em;
  font-size: large;
}

#puzzleRatingButtons {

  $red: #FF3014;
  $dark-red: $dark_red;
  $dark-blue: $dark_blue;
  $gray: #333333;
  $dark-gray: #4D4D4D;
  $light-gray: $light_gray;

  hr {
    border-top: 2px solid #ccc;
  }

  p {
    float: left;
    font-size: 16px;
    color: $light-gray;
    margin-right: 10px;
  }

  svg {
    pointer-events: none;
  }

  .puzzle-rating-btn {
    fill: $light-gray;
    padding: 0 5px;
    cursor: pointer;
    display: inline-block;

    &#like {
      &:hover {
        fill: $gray;
      }
      &.enabled {
        fill: $red;
      }
      &.enabled:hover {
        fill: $dark-red;
      }
    }

    &#dislike {
      &:hover {
        fill: $dark-gray;
      }
      &.enabled {
        fill: $cyan;
      }
      &.enabled:hover {
        fill: $dark-blue;
      }
    }
  }

}

/* Instructions. Not netsim-bubbles are styled in JSX */
#bubble.netsim-bubble {
  color: $black;
  margin-bottom: 10px;
  position: relative;
  cursor: pointer;
}

#prompt-table {
  display: inline-block;
  vertical-align: top;
}

.prompt-icon-cell {
  vertical-align: top;
  width: 50px;
  padding-right: 10px;
  padding-bottom: 10px;
  height: auto;

  /* authored hints */
  &.authored_hints {
    width: 80px;

    #prompt-icon {
      padding-top: 20px;
    }

    #lightbulb {
      position: absolute;
      left: 40px;
    }
  }
}

html[dir="RTL"] .prompt-icon-cell {
  padding-right: 0px;
  padding-left: 10px;
  &.authored_hints {
    #lightbulb {
      right: 40px;
      left: auto;
    }
  }
}

.qtip.cdo-qtips.qtip-authored-hint {
  .qtip-content {
    font-family: $gotham-regular;
    padding: 10px 10px 0 10px;
    color: $charcoal;

    h3 {
      margin-top: 0;
      font-family: $gotham-extra-bold;
      font-weight: normal;
      font-size: 18px;
      line-height: 20px;
    }
  }
}

#prompt-cell {
  vertical-align: top;
}

#prompt2 {
  font-size: 12px;
  color: $charcoal;
}

.authored-hints {

  h1, p, pre {
    color: $charcoal;
    font-size: 18px;
    line-height: 20px;
  }

  #hint-button {
    margin-left: 35px;
  }

  ol {
    counter-reset: list;
    margin: 0 0 35px 35px;

    li {
      list-style: none;
      position: relative;
      &:before {
        content: counter(list, decimal) ") ";
        counter-increment: list;
        position: absolute;
        left: -35px;
        font-size: 18px;
      }
    }
  }
}

#ani-gif-preview-wrapper {
  vertical-align: top;
}

$aniGifPreviewWidth: 80px;
$aniGifPreviewHeight: 60px;
#ani-gif-preview {
  display: table-cell;
  background-size: $aniGifPreviewWidth $aniGifPreviewHeight;
  // background-image set via javascript
  width: $aniGifPreviewWidth;
  height: $aniGifPreviewHeight;
  vertical-align: middle;
  text-align: center;
  border-radius: 12px;

  #play-button {
    clear: both;
    height: 40px;
    position: relative;
  }
}

/* Place ani-gif next to text for column width 300px or wider. */
@media screen and (min-width: 1051px) {
  #prompt-table.with-ani-gif {
    margin-right: $aniGifPreviewWidth;
    padding-right: 5px;
  }

  #ani-gif-preview-wrapper {
    position: absolute;
    right: 0px;
    top: 0px;
  }
}

.workspace-header {
  text-align: center;
  white-space: nowrap;
  overflow-x: hidden;
  height: $workspace-headers-height;
  color: white;
  .workspace-header-clickable:hover {
    cursor: pointer;
    color: $yellow;
  }
  span {
    line-height: $workspace-headers-height;
  }
  .fa {
    font-size: 18px;
  }
}

$workspace-header-button-height: 24px;
$workspace-header-button-margin: ($workspace-headers-height - $workspace-header-button-height) / 2;
.workspace-header-button {
  cursor: pointer;
  float: right;
  overflow: hidden;
  background-color: $light_purple;
  margin-top: $workspace-header-button-margin;
  margin-bottom: $workspace-header-button-margin;
  margin-right: $workspace-header-button-margin;
  margin-left: 0;
  height: $workspace-header-button-height;
  border-radius: 4px; // TODO: Make mixin
  font-family: $gotham-bold;
  &:hover {
    background-color: $cyan;
  }
  span {
    padding: 0 12px;
    line-height: $workspace-header-button-height;
  }
  .fa {
    line-height: $workspace-header-button-height;
    padding-right: 8px;
    font-size: 15px;
  }
}

#versions-header {
  display: none;
}

#design-headers {
  height: $workspace-headers-height;
  background-color: $purple;
  overflow-y: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.readonly {
  #headers,
  #design-headers {
    background-color: $charcoal;
  }
}

#headers, .purple-header {
  #show-toolbox-icon, #hide-toolbox-icon {
    position: absolute;
    top: 0;
    left: 8px;
    line-height: $workspace-headers-height;
    color: $lighter_purple;
    cursor: pointer;
    &:hover.fa {
      color: $white;
    }
  }

  #hide-toolbox-icon {
    @include horizontal-flip;
  }

  #toolbox-header {
    width: 270px;
    border-right: 1px solid gray;
    float: left;
  }
  #show-toolbox-header {
    border: 0;
    float: left;
    padding: 0 10px;
    cursor: pointer;
    #show-toolbox-click-target:hover  .fa {
      color: $white;
    }

    & > span {
      margin: auto auto auto 18px;
    }
  }
  #blockCounter, #blockUsed {
    display: inline-block;
  }

  #clear-puzzle-header:hover {
    background-color: $red;
  }
  .block-counter-overflow {
    color: $yellow;
  }
  &.is-running {
    .block-counter-overflow {
      color: $dark_orange;
    }
  }
}

#headers[dir=rtl] {
  div {
    margin-right: 0;
  }

  #show-toolbox-icon, #hide-toolbox-icon {
    left: auto;
    right: 8px;
  }

  #show-toolbox-icon {
    @include horizontal-flip;
  }

  #hide-toolbox-icon {
    @include no-transform;
  }

  #toolbox-header {
    border-right: 0;
    border-left: 1px solid gray;
    float: right;
  }
  #show-toolbox-header {
    float: right;
  }
  .workspace-header-button {
    margin-left: $workspace-header-button-margin;
    margin-right: 0;
    float: left;

    .fa {
      padding-right: 0;
      padding-left: 8px;
    }
    .blocks-glyph {
      @include horizontal-flip;
      padding-right: 0;
      padding-left: 8px;
    }
  }
}

#showVersionsModal {
  width: 700px;
  margin-left: -350px;
  h1 {
    border-bottom: solid 1px;
  }
  p {
    font-size: 14px;
    margin: 0;
  }
  td {
    vertical-align: middle;
  }
  tr:nth-child(even){
    background-color: $lightest_purple;
  }
}

.blocklyText, .blocklyMenuText, .blocklyTreeLabel, .blocklyHtmlInput,
    .blocklyIconMark, .blocklyTooltipText, .goog-menuitem-content {
  @include font;
}

.blocklyRectangularDropdownMenu {
  .goog-menuitem-highlight, .goog-menuitem-hover {
    background-color: rgba(255, 255, 255, 0.35);
  }
  &:not(.blocklyGridDropdownMenu) {
    border-color: rgb(84, 84, 84) !important;
  }
  &.blocklyGridDropdownMenu {
    background-color: white !important;
    padding-top: 5px !important;

    .goog-menuitem {
      display: inline-block;
      margin-left: 4px;
      margin-top: 4px;
    }

    .goog-menuitem-highlight, .goog-menuitem-hover {
      margin: -4px -4px 0 0 !important
    }
  }
}

.modal-content {
  .show-code {
    summary {
      color: $charcoal;
      font-family: $gotham-bold;
    }

    .generated-code-container {
      margin: 25px 10px 25px -80px;
    }
  }

  &.no-modal-icon {
    .show-code {
      .generated-code-container {
        margin-left: 0px;
      }
    }
  }
}

.generated-code-container {
  margin-top: 10px;
  .generatedCodeMessage {
    p {
      font-size: 14px;
      line-height: inherit;
      color: $charcoal;
      margin-bottom: 10px;

      a {
        font-family: $gotham-extra-bold;
        font-weight: normal;
        color: $purple;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  .generatedCode {
    font-size: 14px;
    overflow: scroll;
    max-height: 400px;
  }
}

.light-yellow-background {
  background-color: $lightest_yellow;
}

.white-background {
  background-color: white;
}

.arrow-container {
  background-color: white !important;
}

.arrow-container.arrow-left {
  float: left;
}

.arrow-container.arrow-right {
  float: right;
}

.arrow-head, .arrow-text {
  float: left;
  line-height: normal;
  margin-bottom: 25px;
  cursor: pointer;
}

.arrow-right .arrow-head {
  float: right;
}

.arrow-left .arrow-head {
  margin-right: -10px;
}

.arrow-left .arrow-text {
  border-radius: 0 8px 8px 0;
  padding: 10px 14px 10px 0;
  background-color: #babf33;
}
.arrow-right .arrow-text {
  margin-right: -10px;
  border-radius: 8px 0 0 8px;
  padding: 10px 0 10px 14px;
  background-color: #ffbb00;
}

.arrow-text {
  color: white;
  font-size: 35px;
  margin-top: 35px;
  height: 44px;
}

#again-button:not(.arrow-container) {
  background-color: $green;
  border: 1px solid $green;
  color: white;
  margin-left: 0px;
  margin-right: 10px;
  text-align: center;
}

#continue-button:not(.arrow-container), #confirm-button:not(.arrow-container) {
  background-color: $orange;
  border: 1px solid $orange;
  color: white;
  margin-left: 0px;
  margin-right: 10px;
  text-align: center;
}

.hide {
  display: none;
}
.invisible {
  visibility: hidden;
}
.hide-source {
  #visualization {
    display: inline-block;
  }
  #belowVisualization {
    display: inline-block;
    vertical-align: top;
  }
  #bubble {
    display: none;
  }
}

#sharing {
  clear: both;
  margin-top: 25px;
  font-size: 18px;
  color: $charcoal;

  $image-width: 180px;
  $image-height: $image-width;

  .feedback-image {
    width: $image-width;
    height: $image-height;
    margin: 0;
    float: left;
    border: $lighter_gray;
    border-style: solid
  }

  div {
    margin: 10px 0;
    &.sharing-content {
      margin-left: $image_width + 15px;
      margin-right: 25px;
      &.no-image {
        margin-left: 0;
      }
    }
  }

  label {
    margin-top: 15px;
    font-size: 16px;
  }

  .social-buttons {
    a,
    a:hover,
    a:link,
    a:visited {
      background-color: transparent;
      text-decoration: none;
      color: white;
    }
  }

  button {
    background-color: $purple;
    color: white;
    font-size: 14px;
    min-width: 40px;
    text-align: center;
    margin: 2px 0;

    .disabled,
    &[disabled=disabled],
    &:disabled {
      border: 1px solid $purple;
      background-color: $lighter_gray;
      box-shadow: none;
    }
  }

  #send-to-phone {
    clear: both;
  }

  #send-to-phone-left {
    float: left;
    width: 65%;
    padding-right: 20px;
    box-sizing: border-box;
  }

  #send-to-phone-right {
    float: left;
    width: 35%;
    margin-bottom: 0px;
  }

  #send-to-phone-qr-code {
    margin-bottom: 0px;
  }

  button.saved-to-gallery {
    font-family: "Gotham 4i";
  }

  #sharing-input {
    margin: 0;
    width: 100%;
    padding: 10px;
    cursor: text;
  }

  #copy-button {
    max-width: 100px;
  }

  #sharing-phone i.fa {
    font-size: 24px;
  }

  input#phone {
    height: 30px;
    padding: 5px;
    margin: 5px 0;
    font-size: 20px;
    width: 10em;
    font-family: sans-serif;
  }

  div#phone-charges {
    font-size: 10px;
    margin-top: 0px;
    color: $red;
  }
}

// icon26 run26 and reset26 are currently only used by blockly-core
// Includes an icon at position x, y (starting from top-left)
@mixin icon26($x, $y) {
  $x-offset: $x * 26px;
  $y-offset: $y * 26px;
  width: 26px;
  height: 26px;
  background: url("#{$common_root}shared-sprites-26x26.png") $x-offset $y-offset;
}

.run26 {
   @include icon26(0, 0);
}

.reset26 {
  @include icon26(0, 1);
}

#stepButton {
  margin-right: 0;
  text-align: center;
}

#share-fail-explanation {
  font-size: 20px;
}

.share-fail-excerpt .generatedCode {
  font-size: 14px;
}

// body.readonly is used in cases where we are just displaying uneditable blocks (like feedback dialogs) with no workspace

body.readonly {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparent;
}

body.readonly #codeWorkspace {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
  border: none;
}

body.readonly #codeWorkspace>svg {
  background-color: transparent;
  border: none;
}

body.readonly.embed-block #codeWorkspace .userHidden {
  display: none;
}

// Droplet block tooltips configuration
$parameterColor: $light_yellow;
$linkColor: $white;
$tooltipBackground: $cyan;
$text-color: $white;
$tooltip-border-radius: 14px;
$tooltip-shadow-color: $shadow;
$see-examples-font-weight: bold;

$tooltip-font: $gotham-regular;
$function-name-font: $code-font;
$examples-link-font: $gotham-extra-bold;

$see-examples-thick-underline-color: $yellow;

.tooltip-example-link,
.tooltip-choose-link,
.tooltip-code-link {
  margin-top: 5px;
  float: right;
}

.tooltip-example-link > a,
.tooltip-choose-link > a,
.tooltip-code-link > a {
  &:hover,
  &:link,
  &:active,
  &:visited {
    border-bottom: 3px solid $see-examples-thick-underline-color;
    color: white;
    font-family: $gotham-bold;
  }
}

.tooltip-choose-link {
  float: left;
}

.function-name {
  font-family: $function-name-font;
  font-size: 16px;
  margin-top: 3px;
  margin-bottom: 7px;
}

.current-tooltip-parameter-name {
  border-bottom: 3px solid $yellow;
}

// Tooltipster theme class
.droplet-block-tooltipster {
  border-radius: $tooltip-border-radius;
  border: none;
  background: $tooltipBackground;
  color: $text-color;
  -webkit-box-shadow: 5px 5px 5px 0 $tooltip-shadow-color;
  -moz-box-shadow: 5px 5px 5px 0 $tooltip-shadow-color;
  box-shadow: 5px 5px 5px 0 $tooltip-shadow-color;
}

.droplet-block-tooltipster .tooltipster-content {
  font-family: $tooltip-font;
  font-size: 12px;
  line-height: 16px;
  padding: 8px 10px;
  overflow: hidden;
  font-weight: normal;
}

.droplet-hover-div {
  max-width: 100% !important;
}

.WireframeButtons_container {
  display: flex;
}

.WireframeButtons_containerLeft {
  flex: 1 1 372px;
  overflow: hidden;
  padding-top: 20px;
  padding-right: 20px;
}

.wrapper.withWireframeButtons {
  flex: 0 0 auto;
  margin-bottom: 0;
}

.WireframeButtons_containerRight {
  flex: 1 0 372px;
  overflow: hidden;
  padding-top: 20px;
  padding-right: 20px;
  text-align: right;
}

@media (max-width: 845px) {
  .WireframeButtons_containerRight {
    flex: 1 1 372px;
  }

  .WireframeButtons_containerLeft {
    flex: 1 1 auto;
  }
}

a.WireframeButtons_button {
  background-color: $purple;
  border-radius: 5px;
  color: $white;
  cursor: pointer;
  font-size: 0.8em;
  line-height: 3;
  margin: 5px;
  padding: 8px;
  text-decoration: none;
  white-space: nowrap;
}

a.WireframeButtons_active {
  cursor: pointer;
  text-decoration: none;
  white-space: nowrap;
}

div.WireframeButtons_active {
  cursor: default;
  display: inline-block;
}

a.WireframeButtons_active, div.WireframeButtons_active {
  background-color: $lightest-purple;
  border-radius: 5px;
  color: $dark-charcoal;
  font-size: 0.8em;
  line-height: 3em;
  margin: 5px;
  padding: 8px;
}

#visualizationColumn.wireframeShare {
  background: url("#{$common_root}phone_wireframe.png") center center no-repeat;
  background-size: 432px 757px;
}

@media screen and (max-height: 780px) {
  .legacy-share-view {
    div#visualizationColumn.wireframeShare {
      width: 402px !important;
      height: 602px !important;
      background-size: 402px 602px;

      div#phoneFrameScreen {
        border-width: 1px;
        border-color: gray;
        top: 0;
        left: 0;
      }
    }
  }
}

.legacy-share-view {
  overflow: hidden;

  &.legacy-share-view-mobile {
    position: fixed;
  }

  #belowVisualization, .hide-source #belowVisualization {
    display: none;
  }

  #visualizationColumn{
    margin: 0 auto;
    #phoneFrameScreen {
      overflow: hidden;
      #visualizationContainer {
        display: inline-block;
        #visualization {
          overflow: hidden;
        }
      }
    }
  }

  #visualizationColumn.wireframeShare {
    width: 432px !important;
    height: 757px !important;
    margin: 0 auto;
    padding: 20px 0;
    overflow: hidden;

    #phoneFrameScreen {
      position: relative;
      top: 78px;
      left: 16px;
      border: solid thin #202b34;
      background-color: #202b34;
      width: 400px;
      height: 600px;
    }
  }

  #gameButtons {
    width: auto;
    padding: 4px 5%;
    #right-button-cell {
      display: none; /* don't show Finish button in share view */
    }
    #soft-buttons button {
        margin: 5px 1px;
      }
    }

  .small-footer-base {
    left: 0;
    right: 0;
    width: auto !important;
  }

  #more-menu, #copyright-flyout {
    border-top: solid thin #202b34;
    left: 0;
    right: 0;
    width: auto !important;
  }

  .full_container {
    padding: 0;
  }

  .admin {
    display: none;
  }
}

.embedded_iframe {
  #visualizationColumn.wireframeShare {
    padding: 0;
  }
}

#manageAssetsModal {
  width: 800px;
  margin-left: -400px;
}

@import "RotateContainer";
@import "HideToolbarHelper";
