$root: '/blockly/media/turtle/'; //TODO: Parameterize for asset pipeline

#visualization {
  background-color: #fff;
}

/* Sprited icons. */
.icon21 {
  height: 21px;
  width: 21px;
  background-image: url("#{$root}icons.png");
}
.code {
 background-position: -42px 0px;
}
.link {
  background-position: -21px 0px;
}
.run {
  background-position: -63px -21px;
  margin-right: 3px;
}
.stop {
  background-position: -63px 0px;
  margin-right: 3px;
}
#answer {
  opacity: 0.2;
}
