// Style rules associated with the HideToolbarHelper popup

.hide_toolbar_helper {
  position: fixed;
  top: 22px;
  left: 6%;
  background-color: $white;
  color: $black;
  z-index: 1040;
  padding: 20px 40px 20px 20px;
  max-width: 40%;
  border-radius: 5px;
  background: #fff;
  border: 1px solid #000;

  em {
    font-size: 70%;
    font-family: inherit;
  }

  p {
    font-size: 16px;
    margin-bottom: 0px;
  }
}

.hide_toolbar_helper:after, .hide_toolbar_helper:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.hide_toolbar_helper:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #fff;
  border-width: 20px;
  margin-left: -20px;
}

.hide_toolbar_helper:before {
  border-color: rgba(0, 0, 0, 0);
  border-bottom-color: #000;
  border-width: 21px;
  margin-left: -21px;
}
