// Style rules associated with our visual debugger for the JSInterpreter.
@import "color";
@import "mixins";
@import "style-constants";

#debugResizeBar {
  width: 100%;
  height: $resize-bar-width;
  line-height: $resize-bar-width;
  color: $lighter_gray;
  font-size: 24px;
  text-align: center;
  cursor: ns-resize;
  white-space: nowrap;
}

#debug-buttons {
  display: inline;
  white-space: normal;
}

.debugger_button {
  border: 1px solid $cyan;
  background-color: $cyan;
  color: #fff;
  margin-left: 0px;
  margin-right: 3px;
  padding: 3px 6px;
  font-size: 14px;
  min-width: 120px;
}

#continueButton {
  border-color: $orange;
  background-color: $orange;
}

.debugger_button:focus {
  outline-style: none;
}

.debugger_button > img {
  float: left;
  opacity: 1;
}

$debug-area-initial-height: 43px;
#debug-area {
  position: absolute;
  bottom: 0;
  height: $debug-area-initial-height;
  left: 0;
  right: 0;
  max-height: calc(50% - #{($workspace-headers-height / 2) + 1}) !important;
}

// Make sure the workspace default lines up with the debug area default
#codeTextbox.pin_bottom {
  bottom: $debug-area-initial-height;
}

$debug-commands-column-width: 270px;
$debug-console-min-column-width: 130px;
$debug-watch-max-column-width: 200px;
$debug-header-border-width: 1px;

#debug-commands-header {
  width: $debug-commands-column-width;
  float: left;
  border-right: $debug-header-border-width solid gray;

  .fa {
    margin: 0 0.25em;
  }
}

#debug-watch-header {
  width: $debug-watch-max-column-width + $debug-header-border-width;
  float: right;
  border-left: $debug-header-border-width solid gray;
}

#watchersResizeBar {
  height: 100%;
  width: $resize-bar-width;
  cursor: ew-resize;
  position: absolute;
  right: $debug-watch-max-column-width - 0.5 * $resize-bar-width;
  z-index: 1;
  top: $resize-bar-width;
}

.debug-commands, .debug-console, .debug-watch {
  display: block;
  background-color: $white;
  border: 1px solid #ddd;
  position: absolute;
  top: $resize-bar-width + $workspace-headers-height;
  bottom: 0;
}

.debug-commands {
  left: 0;
  width: $debug-commands-column-width;
  text-align: center;
}

.debug-watch {
  &.no-commands {
    max-width: calc(100% - #{$debug-console-min-column-width});
  }
  right: 0;
  width: $debug-watch-max-column-width;
  overflow-y: scroll;
}

.debug-watch *, .debug-watch input {
  font-family: monospace;
  font-size: 12px;
}

.debug-watch-item {
  margin: 0;
  line-height: 14px;
  clear: both;
  margin-bottom: 1px;

  .watch-variable, .watch-separator {
    color: purple;
  }
  .watch-unavailable {
    color: red;
  }
}

.debug-console {
  &.no-commands {
    left: 0;
  }
  &.no-watch {
    right: 0;
  }
  left: $debug-commands-column-width;
  right: $debug-watch-max-column-width;
  min-width: $debug-console-min-column-width;
}

.debug-console *, .debug-console input {
  font-family: monospace;
  font-size: 12px;
}

#slider-cell {
  float: left;
  cursor: default;
}

/* Slider. */
.sliderContainer {
  float: left
}
.sliderTrack {
  stroke: $lightest_purple;
  stroke-width: 4px;
  stroke-linecap: round;
}
.sliderKnob {
  fill: #ddd;
  stroke: #bbc;
  stroke-width: 1px;
  stroke-linejoin: round;
}
.sliderKnob:hover {
  fill: #eee;
}

/* Sprited icons. */
.pause-btn {
  background-position: 0px -84px;
  margin-right: 3px;
}
.continue-btn {
  background-position: -21px -84px;
  margin-right: 3px;
}
.step-in-btn {
  background-position: 0px -105px;
  margin-right: 3px;
}
.step-out-btn {
  background-position: -21px -105px;
  margin-right: 3px;
}
.step-over-btn {
  background-position: 0px 21px;
  margin-right: 3px;
}

.Select-input {
  height: 28px !important;
}

.Select-arrow-zone {
  display: none !important;
}
