// Style rules associated with our visual debugger for the JSInterpreter.
@import "color";
@import "mixins";
@import "style-constants";

#debugResizeBar {
  width: 100%;
  height: $resize-bar-width;
  line-height: $resize-bar-width;
  color: $lighter_gray;
  font-size: 24px;
  text-align: center;
  cursor: ns-resize;
  white-space: nowrap;
}

#debug-buttons {
  display: inline;
  white-space: normal;
}

img#turtleImage {
  position: absolute;
  height: 24px;
  margin: 0px;
}

.debugger_button {
  border: 1px solid $cyan;
  background-color: $cyan;
  color: #fff;
  margin-left: 0px;
  margin-right: 3px;
  padding: 3px 6px;
  font-size: 14px;
  min-width: 120px;
}

#continueButton {
  border-color: $orange;
  background-color: $orange;
}

.debugger_button:focus {
  outline-style: none;
}

.debugger_button > img {
  float: left;
  opacity: 1;
}

$debug-area-initial-height: 120px;
#debug-area {
  position: absolute;
  bottom: 0;
  height: $debug-area-initial-height;
  left: 0;
  right: 0;
  max-height: calc(50% - #{($workspace-headers-height / 2) + 1}) !important;
}

// Make sure the workspace default lines up with the debug area default
#codeTextbox.pin_bottom {
  bottom: $debug-area-initial-height;
}

#debug-area-header {
  position: absolute;
  top: $resize-bar-width;
  height: $workspace-headers-height;
  left: 0;
  right: 0;
  background-color: $lighter_purple;
  text-align: center;

  & > span {
    line-height: $workspace-headers-height;
  }

  & > span, .workspace-header {
    color: $dark_charcoal;
  }

  .workspace-header-button {
    background-color: $lightest_purple;
    color: $charcoal;

    &:hover {
      background-color: $cyan;
      color: $white;
    }
  }

  span {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  #show-hide-debug-icon {
    position: absolute;
    top: 0;
    left: 8px;
    margin: 0;
    line-height: $workspace-headers-height;
    font-size: 18px;

    &:hover {
      cursor: pointer;
      color: white;
    }
  }
}

$debug-commands-column-width: 270px;

#debug-commands-header {
  width: $debug-commands-column-width;
  float: left;
  border-right: 1px solid gray;

  .fa {
    margin: 0 0.25em;
  }
}

.debug-commands, .debug-console {
  display: block;
  background-color: $white;
  border: 1px solid #ddd;
  position: absolute;
  top: $resize-bar-width + $workspace-headers-height;
  bottom: 0;
}

.debug-commands {
  left: 0;
  width: $debug-commands-column-width;
  text-align: center;
}

.debug-console {
  &.full {
    left: 0;
  }
  left: $debug-commands-column-width;
  right: 0;
}

.debug-console * {
  font-family: monospace;
  font-size: 12px;
}

$debug-console-left-padding: 3px;
$debug-prompt-width: 15px;
$debug-input-height: 16px;

.debug-input-prompt {
  position: absolute;
  bottom: 0;
  height: $debug-input-height;
  display: block;
  left: $debug-console-left-padding;
  width: $debug-prompt-width;
}

.debug-input, .debug-output {
  position: absolute;
  border-width: 0px;
  padding: 0px;
  outline: none;
  @include user-selects(text);
}

.debug-output {
  top: 0;
  bottom: $debug-input-height;
  left: $debug-console-left-padding;
  right: 0;
  overflow: auto;
  line-height: normal;
  cursor: text;
  white-space: pre-wrap;
}

.debug-input {
  bottom: 0;
  max-height: $debug-input-height;
  height: $debug-input-height;
  left: $debug-console-left-padding + $debug-prompt-width;
  right: 0;
  margin-top: -3px;
}

#slider-cell {
  float: left;
  cursor: default;
}

/* Slider. */
.sliderContainer {
  float: left
}
.sliderTrack {
  stroke: $lightest_purple;
  stroke-width: 4px;
  stroke-linecap: round;
}
.sliderKnob {
  fill: #ddd;
  stroke: #bbc;
  stroke-width: 1px;
  stroke-linejoin: round;
}
.sliderKnob:hover {
  fill: #eee;
}

/* Sprited icons. */
.pause-btn {
  background-position: 0px -84px;
  margin-right: 3px;
}
.continue-btn {
  background-position: -21px -84px;
  margin-right: 3px;
}
.step-in-btn {
  background-position: 0px -105px;
  margin-right: 3px;
}
.step-out-btn {
  background-position: -21px -105px;
  margin-right: 3px;
}
.step-over-btn {
  background-position: 0px 21px;
  margin-right: 3px;
}
