#codeWorkspace .injectionDiv {
  position: absolute;
  top: 30px;
  right: 0;
  bottom: 0;
  left: 0;
  height: calc(100% - 30px);
}

.scratchCategoryMenu {
  background-color: rgba(221, 221, 221, 0.8);
  .categorySelected {
    background-color: #57e;
    color: #fff;
  }
  .categorySelected:hover {
    color: #fff !important;
  }
}
