---
title: The Hour of Code
tagline: ''
theme: responsive
responsivePadMobile: yes
social:
  'og:title' : 'Her çocuk bir fırsatı hak eder.'
  'og:description' : "Öğrenciler ve Sınıflar; Kod Saatine sadece bir saatinizi ayırarak programlamanın ne kadar eğlenceli olduğunu keşfedin"
  'og:image' : "http://<%=request.host%>/images/ogimage.png"
  "og:image:width": 1705
  "og:image:height": 949
  "og:url": "http://tr.code.org"
  "og:video": ""
  "og:video:width": ""
  "og:video:height": ""
  "og:video:type": ""
---

#top{:style=>"margin-top: 40px;"}
  #video.col-63.desktop-pad-right
    = view :hocvideo, id:"r990CWYtx_o"

  #start.col-36{:style=>'text-align:center;'}
    %h2{:style=>"font-size: 36px; line-height: 36px; font-weight: 600; margin-top: 5px; margin-bottom: 0;"}<
      Türkiye’de
      =format_integer_with_commas(fetch_hoc_metrics['countries']['Turkey'].to_i).to_s
      kişi
    %h1{:style=>"font-size: 56px; line-height: 56px; margin-top: 10px; margin-bottom: 0px"}<
      Kod Saati’ni
    %h2{:style=>"font-size: 36px; line-height: 36px; font-weight: 600; margin-top: 5px; margin-bottom: 0;"}<
      denedi.
    %h3{:style=>"font-size: 26px; line-height: 26px; font-weight: 400; margin-top: 10px; margin-bottom: 0;"}<
      Herkes öğrenebilir.
    %a{:href=>'/learn', :style=>"text-decoration: none;"}
      %button{:style=>"font-size: 19px; font-weight: 500; height: 50px;margin-top: 10px;"}
        Başla
    %br

%div{:style=>'clear:both'}

%br
%br

#partner{:style=>"text-align:center;"}
  RobinCode, Türkiye’de çocukların hayallerini kodlaması için çalışıyor. Ve artık RobinCode -  Code.org’un Türkiye sorumlusu ve partneri.
  %a{:href=>"http://www.robincode.org/", :title=>'RobinCode', :target=>"_blank"}
    %img{:src=>"/images/robincode.png"}
