%h1 Invalid Enrollment Code
%p
  You have provided an invalid enrollment code. Please ensure you are logged in with the correct account.
%p
  If you are still experiencing issues, please ask your workshop organizer for assistance or email
  = mail_to('support@code.org', 'support@code.org') + '.'
