%script{src: minifiable_asset_path('js/jotformLoader.js')}
= jotform_iframe @form_id, @form_params
%script{src: minifiable_asset_path('js/jotformEmbed.js'), id: "jotform-embed", data: {formId: @form_id}}
