%h1 Not Enrolled
%p
  You need to be enrolled in a workshop before completing this survey.
%p
  Please ask your workshop organizer for assistance or email
  = mail_to('support@code.org', 'support@code.org') + '.'
