#thanks
  %h1 Thank you for submitting today’s survey.
  %p
    Have more to share?
    Don’t hesitate to let your workshop organizer or facilitator know.
  %p
    If you have other feedback you’d like to share with Code.org, please email
    = mail_to('teacher@code.org', 'teacher@code.org') + '.'
