%h1 The survey has closed
%p
  The survey for today’s session of your workshop is now closed.
  If you’d like to share feedback, please don’t hesitate to share with your workshop organizer or facilitator.
