@import 'color.scss';

.collapsiblefieldSection {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  .fieldRow {
    padding: 10px;
  }

  .bubbleChoiceDescriptionPreview {
    border: 5px solid $cyan;
    background-color: $lightest_cyan;
    padding: 10px;
  }

  .bubbleChoiceSublevelMarkdown {
    border: 5px solid gray;
    border-radius: 5px;
    padding: 10px;
  }

  .successMessage {
    background-color: #dff0d8; // Light green background
    color: #3c763d; // Dark green text
    border: 1px solid #d6e9c6; // Light green border
    padding: 10px; // Padding around the message
    margin: 10px 0; // Margin to separate from other elements
    border-radius: 4px; // Rounded corners
    font-size: 16px; // Font size
    text-align: center; // Centered text
  }