- artist_index = 6

- artist_photo = ["/images/dance-hoc/dance-party-artist-miley-cyrus.png", "/images/dance-hoc/dance-party-artist-bts.png", "/images/dance-hoc/dance-party-artist-lil-nas-x.png", "/images/dance-hoc/dance-party-artist-harry-styles.png", "/images/dance-hoc/dance-party-artist-nicki-minaj.png", "/images/dance-hoc/dance-party-artist-rosalia.png"]

- artist_alt_text = ["Miley Cyrus", "BTS", "Lil Nas X", "Harry Styles", "Nicki Minaj", "Rosalia"]

%ul.featured-artists.clear-styles.flex-container.justify-space-between.wrap
  - artist_index.times do |index|
    %li
      %img{src: artist_photo[index], alt: artist_alt_text[index]}

%p.heading-sm
  Miley Cyrus, BTS, Lil Nas X, Harry Styles, Nicki Minaj, Rosalía
  %a{href: "#artist-list"}
    %span.and-more
      =hoc_s(:dance_and_more)
