- video_index = 11

- video_code = ["VYqHGIR7a_k", "ip051U7Rvds", "NYzN0a1U8mI", "QvyTEx1wyOY", "mFPg96gdPkc", "_IiPLtP-jm8", "nKIu9yen5nc", "6XvmhE1J9PY", "FC5FbmsH4fw", "qYZF6oIZtfc", "rqU8eNJ-SS0"]

- video_download = ["", "//videos.code.org/social/athletes-hour-of-code.mp4", "//videos.code.org/social/athlete-steph-curry.mp4", "//videos.code.org/social/cs-is-everything.mp4", "//videos.code.org/social/ChangeTheWorld_v5.mp4", "", "//videos.code.org/social/what-most-schools-dont-teach.mp4", "//videos.code.org/2015/social/president_obama_asks_america.mp4", "", "//videos.code.org/social/codeorg-60sec.mp4", "//videos.code.org/social/my-name-is-aracely.mp4"]

- video_caption = [I18n.t(:hoc2018_dance_video_title_what_is_creativity), I18n.t(:sports_og_title), I18n.t(:video_title_steph_curry), I18n.t(:video_title_cs_is_everything), I18n.t(:video_title_inspire_girl), I18n.t(:video_title_cs_intro), I18n.t(:video_title_schools_dont_teach), I18n.t(:video_title_obama), I18n.t(:video_title_hoc_is_here), I18n.t(:video_title_anybody_can_learn), I18n.t(:video_title_my_name_is_aracely)]

.carousel-wrapper.video-carousel
  %swiper-container.two-col{navigation: "true", "navigation-next-el": ".swiper-nav-next", "navigation-prev-el": ".swiper-nav-prev", pagination: "true", init: "false", "allow-touch-move": "false"}
    - video_index.times do |index|
      %swiper-slide
        %figure
          = view :video_with_fallback, video_code: video_code[index], download_path: video_download[index]
          %figcaption.no-margin-bottom
            = video_caption[index]

  %button.swiper-nav-prev
  %button.swiper-nav-next

= view :swiper
