- video_index = 11

- video_id = ["creativity_is", "athletes", "steph_curry", "cs_changing_everything", "girlpower", "csintro", "dontteach", "obama", "hochere", "learn", "aracely"]

- video_code = ["VYqHGIR7a_k", "ip051U7Rvds", "NYzN0a1U8mI", "QvyTEx1wyOY", "mFPg96gdPkc", "_IiPLtP-jm8", "nKIu9yen5nc", "6XvmhE1J9PY", "FC5FbmsH4fw", "qYZF6oIZtfc", "rqU8eNJ-SS0"]

- video_caption = [I18n.t(:hoc2018_dance_video_title_what_is_creativity), I18n.t(:sports_og_title), I18n.t(:video_title_steph_curry), I18n.t(:video_title_cs_is_everything), I18n.t(:video_title_inspire_girl), I18n.t(:video_title_cs_intro), I18n.t(:video_title_schools_dont_teach), I18n.t(:video_title_obama), I18n.t(:video_title_hoc_is_here), I18n.t(:video_title_anybody_can_learn), I18n.t(:video_title_my_name_is_aracely)]

.carousel-wrapper#dance_party_inspirational_videos
  .carousel.videos
    .slides.flex-container
      - video_index.times do |index|
        .slide
          .slide-content
            %figure.video-wrapper.video-wrapper--one-col
              = view :display_video_thumbnail, id: video_id[index], video_code: video_code[index], play_button: 'center', letterbox: 'false', caption: video_caption[index]

  = view :carousel_pagination, carousel_id: "dance_party_inspirational_videos-pagination", carousel_index: "1"

%script{:src=>'/js/jquery.carouFredSel-6.2.1-packed.js'}
%script{:src=>'/js/jquery.touchSwipe.min.js'}
%script{:src=>'/js/dance_inspirational_videos.js'}
