@import 'color';
@import 'font';

#us-state-column-bulk-set-modal {
  font-weight: $medium-font-weight;

  & #ui-close-dialog {
    outline: none;
  }

  & a {
    color: $default_text;
    text-decoration: underline;
  }

  & hr {
    border-color: $border_gray;
    margin: 15px 0;
  }

  & .form-group {
    margin-bottom: 5px;

    .control-label {
      font-weight: $semi-bold-font-weight;
    }
  }

  &-footer {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }
};
