@import "color.scss";
@import "font";

.nav-bar {
  @include main-font-bold;

  margin-right: 5px;
  min-width: 200px;
  font-size: 14px;

  .category {
    padding-left: 10px;
    width: 200px;
    height: auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .title {
      padding: 16px 0;
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      cursor: pointer;
    }

    .nav-link {
      background-color: $white;
      padding: 8px;
      border-bottom: 2px solid $lightest_gray;
      display: none;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &.open .nav-link {
      display: block;
    }
    .link {
      color: $light_gray;
    }
    .active .link {
      color: $light_teal;
    }
    .link:hover {
      color: $lightish_teal;
    }
  }
}
