@import 'color.scss';

.fieldSection {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.fieldRow {
  display: flex;
  flex-direction: row;
}

.inlineLabel {
  margin-right: 10px;
}

%field-value,
.field-value {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  flex: 1;
}

.model-card-fields {
  @extend %field-value;
  border: 1px dashed $neutral_dark;
  border-radius: 5px;
  padding: 15px;
}

.textarea {
  width: 100%;
  box-sizing: border-box;
}
