@import 'color.scss';
@import '@cdo/apps/mixins.scss';

.fieldSection {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.fieldRow {
  display: flex;
  flex-direction: row;
}

.inlineLabel {
  margin-right: 10px;
}

%field-value,
.field-value {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  flex: 1;
}

.model-card-fields {
  @extend %field-value;
  border: 1px dashed $neutral_dark;
  border-radius: 5px;
  padding: 15px;
}

.textarea {
  width: 100%;
  box-sizing: border-box;
}

.multiItemContainer {
  display: flex;
  flex-direction: column;
}

.multiItemInput {
  display: flex;
  flex-wrap: wrap;

  &Multiline {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

.buttonsRow {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.plusMinusButton {
  @include remove-button-styles;
  border: 1px solid $neutral_dark;
  border-radius: 5px;
  padding: 5px;
  margin-right: 10px;
}
