---
title: CS Fundamentals for grades K-5
video_player: true
theme: responsive
style_min: true
---

<link href="/shared/css/course-blocks.css", type="text/css", rel="stylesheet"></link>

[solid-block-header]

Elementary School

[/solid-block-header]

<div class="col-45" style="padding-right: 10px;">

<img src="/images/fit-400/marketing/student-tatiana.jpg">

</div>

<div class="col-55">
<br>

Our six Computer Science Fundamentals courses are flexibly designed for teachers new to CS who want to offer accessible and equitable introductory CS courses to their students. How it’s implemented is up to you - teach CS Fundamentals during a science unit, use it to support math and language arts standards, add technology time once a week, or go deeper with extension activities and projects!

</div>

<div style="clear: both;"></div>

[solid-block-header]

Support for teachers

[/solid-block-header]

<div class="col-60" style="padding-right: 25px;">
<br>

New to teaching computer science? No worries! Most of our teachers have never taught computer science before. Join local teachers for inspiring and hands-on support to implement computer science in your classroom.

Our Regional Partners offer high-quality, one-day Code.org workshops for individual teachers or for schoolwide PD. Sign up for a professional development workshop near you!
<br/>
<a href="/professional-development-workshops" style='text-decoration:none'>
  <button>Find a workshop</button>
</a>

</div>

<div class="col-40">

<img src="/images/fit-390/teacherconatl.jpg">

</div>

<div style="clear: both;"></div>

[solid-block-header]

Why CS Fundamentals?

[/solid-block-header]

## It's relevant.

Our curriculum was created with the 2017 Computer Science Teachers Association (CSTA) standards</a> in mind, but also includes opportunities to support national Math, English Language Arts, and Science standards. In fact, <a href="https://medium.com/@codeorg/code-org-resourceful-teachers-higher-student-achievement-8be1efdec06e", target=_"blank">a recent research study</a> found that classrooms with resourceful teachers see higher scores on English, math, and science standardized tests after teaching these lessons. Click <a href="https://curriculum.code.org/csf-19/standards/", target=_"blank">here</a> to see how CS Fundamentals lessons support standards.

### Supported Standards

* <a href="https://www.csteachers.org/page/standards", target=_"blank">Computer Science Teachers Association (CSTA)</a>
* <a href="http://www.corestandards.org/ELA-Literacy/" target=_"blank">Common Core English Language Arts</a>
* <a href="http://www.corestandards.org/Math/",  target=_"blank">Common Core Math</a>
* <a href="http://www.nextgenscience.org/next-generation-science-standards" target=_"blank">Next Generation Science</a>

Administrators can learn more about how CS Fundamentals is a complete solution to bring CS to their elementary school at code.org/administrators.

## It's easy to get started.

The courses include daily lesson plans, student activities, and answer keys for teachers. You don't even need a user account to try it out. Once you get a feel for the courses, <a href="https://studio.code.org/users/sign_up", target=_"blank">sign up as a teacher</a> to see the lesson plans, join the teacher forums, and get access to all the resources you need. Next, quickly set up a classroom section from your roster or sync with tools like Clever or Google Classroom to view your students' progress and manage their accounts. Then celebrate your students' learning by printing certificates they can bring home when they finish the course.


## And, did we mention that it's fun!?

Your students will create their own games, art, and digital stories that they can share - all while developing problem-solving, collaboration, persistence, and computational thinking skills. Do your students love to get up and move around? Half of the lessons are "unplugged" activities that teach computational thinking and digital citizenship skills without computers. See some awesome student creations below!

[col-33]

<center><img src="/images/animated-examples/artist-game-space.gif" width="90%"></center>

<div style="margin-top: 5px;">In this puzzle, the student created a honeycomb pattern.</div>

[/col-33]

[col-33]

<center><img src="/images/animated-examples/play-lab-game-space.gif" width="90%"></center>

<div style="margin-left: 15px; margin-top: 5px;">This student created a game with multiple levels in which you play against different characters. Game on!</div>

[/col-33]

[col-33]

<center><img src="/images/animated-examples/flappy-game-space.gif" width="90%"></center>

<div style="margin-left: 15px; margin-top: 5px;">This student created a Flappy Bird game.</div>

[/col-33]

<p>style="clear:both">&nbsp;</p>

# Selecting the right course for your class

<table style="border-color:black; width:100%">
  <tr style="border-color:black;"">
      <th style="background-color:#ff9900; text-align:center;"">
        <a href="https://curriculum.code.org/csf/coursea/" style="font-weight:bold; color:white;" target="_blank">Course A</a><br/>
        <i>Kindergarten</i>
          </th>
      <th style="background-color:#f1c232; text-align:center;"">
        <a href="https://curriculum.code.org/csf/courseb/" style="font-weight:bold; color:white;" target="_blank">Course B</a><br/>
        <i>1st Grade</i>
          </th>
      <th style="background-color:#b8bf0d; text-align:center;"">
        <a href="https://curriculum.code.org/csf/coursec/" style="font-weight:bold; color:white;" target="_blank">Course C</a><br/>
            <i>2nd Grade</i>
          </th>
        <th style="background-color:#53bac2; text-align:center;"">
          <a href="https://curriculum.code.org/csf/coursed/" style="font-weight:bold; color:white;" target="_blank">Course D</a><br/>
            <i>3rd Grade</i>
          </th>
        <th style="background-color:#0094ca; text-align:center;"">
          <a href="https://curriculum.code.org/csf/coursee/" style="font-weight:bold; color:white;" target="_blank">Course E</a><br/>
            <i>4th Grade</i>
          </th>
        <th style="background-color:#7664a0; text-align:center;"">
          <a href="https://curriculum.code.org/csf/coursef/" style="font-weight:bold; color:white;" target="_blank">Course F</a><br/>
            <i>5th Grade</i>
          </th>
    </tr>
    <tr>
      <td style="background-color:#f9cb9c; color:black">12 lessons, ~12 hours to complete</td>
      <td style="background-color:#ffe599; color:black">12 lessons, ~12 hours to complete</td>
      <td style="background-color:#d2da0e; color:black">18 lessons, ~18 hours to complete</td>
      <td style="background-color:#68ebf5; color:black">18 lessons, ~18 hours to complete</td>
      <td style="background-color:#9ed7ed; color:black">18 lessons, ~18-20 hours to complete</td>
      <td style="background-color:#c9c1e9; color:black">18 lessons, ~20-22 hours to complete</td>
    </tr>
    <tr>
      <td style="text-align:center;width:96%;background-color:#d9d9d9;color:black"">Concepts</td>
    </tr>
    <tr>
      <td style="background-color:#f9cb9c; color:black">
        <i>-Digital Citizenship<br/>
          -Sequencing<br/>
          -Loops<br/>
          -Events
        </i>
        </td>
      <td style="background-color:#ffe599; color:black">
        <i>-Digital Citizenship<br/>
          -Sequencing<br/>
          -Loops<br/>
          -Impacts of Computing<br/>
          -Events
        </i>
        </td>
      <td style="background-color:#d2da0e; color:black">
        <i>-Digital Citizenship<br/>
          -Sequencing<br/>
          -Binary<br/>
          -Loops<br/>
          -Events<br/>
          -Data
        </i>
        </td>
      <td style="background-color:#68ebf5; color:black">
        <i>-Sequencing<br/>
          -Events<br/>
          -Loops<br/>
          -Conditionals<br/>
          -Binary<br/>
          -Digital Citizenship
        </i>
        </td>
      <td style="background-color:#9ed7ed; color:black">
        <i>-Sprites<br/>
          -Digital Citizenship<br/>
          -Impacts of Computing<br/>
          -Nested Loops<br/>
          -Functions
        </i>
        </td
      <td style="background-color:#c9c1e9; color:black">
        <i>-Sprites<br/>
          -Digital Citizenship<br/>
          -Impacts of Computing<br/>
          -Nested Loops<br/>
          -Functions
          </i>
          </td
      </tr>
      <tr>
        <td style="background-color:#FFE0A5; color:black">Pre-Reader Express Course</td>
        <td style="background-color:#A6E3E8; color:black">Express Course</td>
      </tr>
  </table>


The progression of Courses A-F build upon each other to ensure continuing students stay interested and learn new things. This allows you to use the same course at any grade level for all students, regardless of their experience. Explore the lesson plans and download [the curriculum guide for Courses A-F here](https://curriculum.code.org/csf). All courses make suitable entry points for students. Later courses feature “ramp up” lessons which are intended to introduce or review important concepts from previous courses at an accelerated pace.

(add testimonial)

# Looking for unplugged activities?

Go ahead, cut the cord (for awhile)! CS education does not always need to be in front of a screen and you don’t need to make device access a barrier to learning computer science concepts.  Each course contains multiple unplugged lessons that can either be used alone or with other computer science lessons on related concepts.

<a href="https://code.org/curriculum/unplugged"><button>View unplugged lessons</button></a>

# No time? No problem!

<div class="col-50" style="padding-right: 10px;">
  <a href="<%= CDO.studio_url('/s/pre-express-2019') %>"><img src="/images/curriculum/course-tile-pre-reader-express.png" style="max-width:100%"></a>
  <br>
  <br>
  <a href="<%= CDO.studio_url('/s/express-2019') %>"><img src="/images/curriculum/course-tile-express.png" style="max-width:100%"></a>
</div>

[col-50]

We believe that classroom teachers serve a critical role in ensuring an equitable classroom experience for students. However, we understand that CS Fundamentals is not always taught as a full-classroom experience  which is why, In addition to courses A-F, CS Fundamentals offers two self-paced express courses. Both are designed for situations where the teacher is not able to play an active role in engaging students. Express courses do not have unplugged lessons and instead focus on covering content from A-F counterparts in a way that can be delivered without a teacher.

[/col-50]

<div style="clear:both"></div>

# Non-English speaker? Try courses 1-4 or the accelerated course

Thanks to a global community of volunteer translators, Courses A-F and the Express Course are being translated into languages other than English. In the meantime, we recommend using Courses 1-4 and the Accelerated Course. These courses cover the same basic concepts and have already been translated into 25+ languages.

<a href="/educate/curriculum/cs-fundamentals-international"><button>View Courses 1-4</button></a>
&nbsp;&nbsp;
<a href="/educate/curriculum/cs-fundamentals-international"><button>View Accelerated Course</button></a>

If you've been teaching Courses 1-4 and want to know how to transition to teaching Courses A-F, check out our [Transition Guide](https://docs.google.com/document/d/1dFgrHiW-ERpNGey7yrNcoxU0LEfH9kFbdeLJn2QyJTA/edit?usp=sharing).
