---
title: CS Curriculum for Grades K-5
video_player: true
theme: responsive
style_min: true
---

[solid-block-header]

Elementary School

[/solid-block-header]

Our curriculum is available at [no cost](/commitment) for anyone, anywhere to teach. You can read more about our [curriculum values here](/educate/curriculum/values).

 <%= view :professional_learning_apply_banner, :link_suffix => "program-information" %>

<hr>

<a name="csd"></a>

Did you know that computer science fosters creativity and <a href="https://code.org/educate/curriculum/elementary-school#research">teaches students critical thinking skills</a> to become proactive learners? That’s why elementary school is the ideal time for students to be introduced to CS! <a href="https://medium.com/@codeorg/cs-helps-students-outperform-in-school-college-and-workplace-66dd64a69536">Six different studies show:</a> children who study computer science perform better in other subjects, excel at problem-solving, and are 17% more likely to attend college.

# Computer Science Fundamentals 

<div class="col-50" style="padding-right: 20px; float: left; margin-top: 10px">

<% facebook = {:u=>'https://youtu.be/rNIM1fzJ8u0'} %>
<% twitter = {:url=>'https://youtu.be/rNIM1fzJ8u0', :related=>'codeorg', :text=>"Introduction to CS Fundamentals. (Thanks #{get_random_donor_twitter} for supporting @codeorg)"} %>
<%=view :display_video_thumbnail, id: "introK5", video_code: "rNIM1fzJ8u0", play_button: 'center', facebook: facebook, twitter: twitter, letterbox: 'false' %>

<a href="https://code.org/professional-development-workshops"><button>Learn about professional learning!</button></a>
<a href="https://code.org/educate/curriculum/csf"><button>View full curriculum</button></a> 
</div>


<div class="col-50" style="margin-top: 10px">
<div>
Designed to be fun and engaging, <a href="https://code.org/educate/csf">Computer Science Fundamentals</a> courses blend online and "unplugged" non-computer activities to teach students computational thinking, problem solving, programming concepts and digital citizenship. The six courses are optimized for grades K-5 and each include 10-25 hours of instructed learning over several lessons. Students will create their own games, art, and digital stories that they can share.<br>
<br>
Our six Computer Science Fundamentals courses are flexibly designed for teachers new to CS who want to offer accessible and equitable introductory CS courses to their students.
<br>
<br>
How you teach these courses is up to you - as part of your classroom schedule, weekly lab or library time, supporting lessons for math and language arts, or to make creative projects.
</div>
</div>
<div style="clear: both;"></div>

# Computer Science Connections

<div class="col-50" style="padding-right: 20px; float: left; margin-top: 10px">
<img src="/images/csc/csc_elementary.png" alt="CS Connections" width="450">
</div>


<div class="col-50" style="margin-top: 10px">
<div>
This curriculum allows students to learn computer science concepts at the same time as learning other subjects like language arts, math, and science — with more to come. Through <a href="https://code.org/educate/csc">CS Connections</a>,  K-12 classrooms can explore their usual subjects in exciting new ways! <br>
<br>
The curriculum has options for teachers  who’d like to incorporate computer science into their lesson plans for other subjects, as well as CS educators who want to reinforce what students are learning in other subjects. <br>
<br>
<a href="https://code.org/educate/csc"><button>Learn more</button></a> 
</div>
</div>
<div style="clear: both;"></div>



## Looking for more news, tips, or support for teaching CS in elementary school?

<div class="col-33" style="padding-right: 20px;">

<h4>Get support and share your feedback!</h4>

We are always looking for ways to improve our courses – and we're here to help. If something's not quite working, or you have ideas about features that you'd like to see, we'd love to hear from you!
<br>

<a href="mailto:support@code.org"><button>Contact us</button></a>

</div>

<div class="col-33" style="padding-right: 20px;">

<h4> Subscribe for the latest news </h4>

Sign up for our monthly emails, which contain the latest news about tools, videos, and other important updates.

<br><br>

<a href="/educate/curriculum/elementary-sign-up"> <button>Sign up</button> </a>

</div>


<div style="clear:both"></div>



