---
title: Computer Science Fundamentals Express
nav: educate_nav
theme: responsive
social:
  "og:description": "Computer Science Fundamentals Express is a free course that aims to demystify computer science and show students that it’s fun, collaborative, and creative."
  "og:image": "http://code.org/images/20-hour-banner.jpg"
  "og:image:width": 830
  "og:image:height": 330
  "og:video": ""
  "og:video:width": ""
  "og:video:height": ""
  "og:video:type": ""
---
# Computer Science Fundamentals - Express

Computer Science Fundamentals Express is a 30+ hour course designed for 9-18 year old students (with an [option for pre-readers](https://studio.code.org/s/pre-express)). It can be taught once a week in a tech class or an after school club, integrated as a unit in a longer technology class, or used as an intro unit in a computer science class. Students learn to create computer programs that will help them learn to collaborate with others, develop problem-solving skills, and persist through difficult tasks. They will study programming concepts, computational thinking, digital citizenship, and develop interactive games or stories they can share. 

<br>
<center><a href="<%= CDO.studio_url('/s/express') %>"><img src="/images/curriculum/course-tile-express.png"></a></center>
<br>
<br>

The course teaches the foundational concepts of programming using drag and drop blocks rather than a programming language such as JavaScript or Python. Blocks are an easier way to get started and many top Universities today begin their classes with block based programming.

The Express Course combines the concepts taught in our [elementary school courses](/educate/curriculum/elementary-school) in an accelerated fashion designed for older students. You can download the [CS Fundamentals curriculum guide here](/files/CSF_CoursesA-F_Curriculum_Guide.pdf).

<a id="info-sessions"></a>
# <strong>New to teaching computer science?</strong>

No worries! Most of our teachers have never taught computer science before. 

Try one of our courses yourself to learn ahead of your students. Sign up as a teacher to see the lesson plans, join the teacher forums, and get access to all the resources you need.

We also offer [free, online, self-paced professional development for teachers.](/educate/professional-development-online)


# <strong>Looking for a translated course?</strong>

We are working on translating the Computer Science Fundamentals Express course to languages beyond English. In the meantime, we recommend using Computer Science Fundamentals Accelerated. This shorter version of the Express course has already been translated into 25+ languages.

<a href="https://studio.code.org/s/20-hour"><button>View Accelerated</button></a>

# <strong>Examples of student creations</strong>

[col-33]

<center><img src="/images/animated-examples/artist-game-space.gif" width="90%"></center>

<div style="margin-top: 5px;">In this puzzle, the student created a honeycomb pattern.</div>

[/col-33]

[col-33]

<center><img src="/images/animated-examples/play-lab-game-space.gif" width="90%"></center>

<div style="margin-left: 15px; margin-top: 5px;">This student created a game with multiple levels in which you play against different characters. Game on!</div>

[/col-33]

[col-33]

<center><img src="/images/animated-examples/flappy-game-space.gif" width="90%"></center>

<div style="margin-left: 15px; margin-top: 5px;">This student created a Flappy Bird game.</div>

[/col-33]

<p style="clear:both">&nbsp;</p>



