---
title: Computer Science Fundamentals Express
nav: educate_nav
theme: responsive
social:
  "og:description": "Computer Science Fundamentals Express is a free course that aims to demystify computer science and show students that it’s fun, collaborative, and creative."
  "og:image": "http://code.org/images/20-hour-banner.jpg"
  "og:image:width": 830
  "og:image:height": 330
  "og:video": ""
  "og:video:width": ""
  "og:video:height": ""
  "og:video:type": ""
---
# Computer Science Fundamentals - Express
<p>If you are a teacher or parent who wants to support students in learning computer science concepts at home, we offer two self-paced express courses for beginning students of all ages, even pre-readers! These courses provide a fun, engaging way for students to learn basic computer science concepts.</p>
<p>Express courses are completed entirely on the computer and can be delivered with or without a teacher or parent (though all students can use encouragement and support--and you don’t need to be a computer science expert to provide it!) Students learn programming concepts, computational thinking, and develop problem-solving skills and persistence. Along the way, they create computer programs including interactive games and creative projects they can share.</p>
<br>
<div class="col-50" style="padding-right: 20px; padding-bottom:35px">

<a href="https://studio.code.org/s/express"><img src="/images/curriculum/course-tile-express.png" style="width: 100%"></a><br/><a href="https://code.org/educate/curriculum/express-course">Express Course</a>

</div>

<div class="col-50" style="padding-right: 20px; padding-bottom:35px">

<a href="https://studio.code.org/s/pre-express"><img src="/images/curriculum/course-tile-pre-reader-express.png" style="width: 100%"></a><br><a href="https://studio.code.org/s/pre-express-2019">Express Course for pre-readers</a>

</div>
<div style="clear: both"></div>

<p>These courses teach the foundational concepts of programming using drag and drop blocks rather than a text language such as JavaScript or Python. Blocks are an easier way to get started and even top universities today begin their classes with block-based programming.</p>

<a id="info-sessions"></a>
# <strong>New to teaching computer science?</strong>
<p>No worries! Most of our teachers have never taught computer science before. Try one of our courses yourself and you’ll see that anyone can learn!</p>
<p>We also offer <a href="/educate/professional-development-online">free, online, self-paced professional development for teachers</a>. There, you'll learn the basics of computer science concepts, review the curriculum and resources, as well as plan to implement the course in your class. If you are interested in in-person workshops for teachers, learn more about our workshops <a href="/professional-development-workshops">here</a>.</p>
<p>If you are a parent, see our suggestions for being a “lead learner” in <a href="https://support.code.org/hc/en-us/articles/360041788871-How-can-I-help-my-child-learn-computer-science-when-I-don-t-know-how-to-code-">this support article</a>.</p>
<p>Anyone with a free teacher account can also view lesson plans, join our teacher forums, and get access to even more resources.</p>

# <strong>Need a translated course?</strong>
<p>Express courses are currently only available in English, Hindi, Italian, and Spanish. For other languages, we recommend our 20-hour <a href="https://studio.code.org/s/20-hour">Accelerated Course</a>. To see what's available in your language, visit our <a href="https://studio.code.org/courses">course catalog</a>.</p>

# <strong>Examples of student creations</strong>

[col-33]

<center><img src="/images/animated-examples/dance-express.gif" width="90%"></center>

<div style="margin-top: 5px;">This student created an interactive dance party.</div>

[/col-33]

[col-33]

<center><img src="/images/animated-examples/artist-express.gif" width="90%"></center>

<div style="margin-left: 15px; margin-top: 5px;">This student created a spiraling pattern with the Artist.</div>

[/col-33]

[col-33]

<center><img src="/images/animated-examples/fish-tank-express.gif" width="90%"></center>

<div style="margin-left: 15px; margin-top: 5px;">This student animated his own fish tank using Sprite Lab.</div>

[/col-33]

<p style="clear:both">&nbsp;</p>



