---
title: CS Curriculum for grades 6-8
video_player: true
theme: responsive
---

[solid-block-header]

Middle School

[/solid-block-header]

Our middle school curriculum focuses on a broad introduction to computer science topics. Our curriculum is available at [no cost](/commitment) for anyone, anywhere to teach. You can read more about our [curriculum values here](/educate/curriculum/values). 

<br>
<hr>

<a name="csd"></a>
# Computer Science Discoveries

<div class="col-40" style="padding-right: 10px;">

<% facebook = {:u=>'https://youtu.be/2-QpgNHknds'} %>
<% twitter = {:url=>'https://youtu.be/2-QpgNHknds', :related=>'codeorg', :text=>"Computer Science Discoveries. (Thanks #{get_random_donor_twitter} for supporting @codeorg)"} %>
<%=view :display_video_thumbnail, id: "intro_csd", video_code: "2-QpgNHknds", play_button: 'center', letterbox: 'false', twitter: twitter, facebook: facebook%>

</div>

[col-60]

Computer Science Discoveries is appropriate for 6-10th grade students and can be taught as a semester or year long introductory course (3-5 hours per week of instruction for 9+ weeks). The course takes a wide lens on computer science by covering topics such as programming, physical computing, HTML/CSS, and data. Students engage with computer science as a medium for creativity, communication, problem solving, and fun. The course inspires students as they build their own websites, apps, games, and physical computing devices.

[<button>Learn more about curriculum</button>](/educate/csd)&nbsp;&nbsp;[<button>Learn about professional learning</button>](/educate/professional-learning/middle-high)

[/col-60]

<div style="clear: both;"></div>

<br>
<hr>

<a name="express"></a>

# Computer Science Fundamentals - Express

<div class="col-40" style="padding-right: 10px;">

<img src="/images/fill-380x215/code20hr.jpg" style="max-width: 100%">

</div>

[col-60]

For a lightweight option that can be integrated as a unit in an existing technology or programming class, or as a middle school after-school program, Code.org offers the the 30-hour Express Course. This course covers all the core concepts from the elementary school curriculum [Computer Science Fundamentals](/educate/curriculum/elementary-school), but at an accelerated pace designed for students ages 10-18.

[<button>Learn more about curriculum</button>](/educate/curriculum/express-course)

[/col-60]

<div style="clear: both;"></div>

<br>
<hr>

# For Science Classrooms

<div class="col-40" style="padding-right: 10px;">

<img src="<%= CDO.shared_image_url("courses/logo_science.png") %>" style="max-width: 100%">

</div>

[col-60]

Code.org has partnered with the award-winning [Project GUTS](http://www.projectguts.org/) (Growing Up Thinking Scientifically) to help science teachers introduce computer science as a tool to teach modeling and simulation. This curriculum teaches computer science practices and concepts in the context of life, physical and earth sciences. CS in Science is based on a crosswalk identifying areas of overlap between the NGSS and Computer Science Teachers Association K-12 Computer Science Standards.

[<button>Learn more about curriculum</button>](/curriculum/science)

[/col-60]

<div style="clear: both;"></div>

<br>
<hr>

# For Algebra Classrooms

Code.org has partnered with [Bootstrap](http://www.bootstrapworld.org) to adapt their algebra aligned curriculum to a block based course which teaches algebraic and geometric concepts through computer programming. The lessons focus on concepts like order of operations, the Cartesian plane, function composition and definition, and solving word problems - all within the context of video game design. 

[<button>Learn more about curriculum</button>](/educate/algebra)

<br>
<hr>

# Computer science lessons in other subjects

Are you interested in a few lessons to demonstrate how computer science can be used in another subject area? Partners have created introductory tutorials as part of the Hour of Code. These provide an ideal way for a math, history, or other teacher to supplement their curriculum and let students explore the cross disciplinary aspects of computer science. Available for [science](https://hourofcode.com/learn?grade=6-8&subject=science), [math](https://hourofcode.com/learn?grade=6-8&subject=math), [social studies](https://hourofcode.com/learn?grade=6-8&subject=history), [language arts](https://hourofcode.com/learn?grade=6-8&subject=la), and [art/media/music](https://hourofcode.com/learn?grade=6-8&subject=art) classes.

<br>
<hr>

[solid-block-header]

Recommended courses from 3rd parties

[/solid-block-header]

<a name="thirdparty"></a>

<!--- If you update the resources here, don't forget to also update /educate/curriculum/3rdparty -->

| Organization | Curriculum | Professional Development |
|--------------|------------|---------------|--------------------------|------|
| [Bootstrap](http://www.bootstrapworld.org/) | 4 research-based curricular modules for grades 6-12(Algebra, Reactive, Data Science, & Physics) that can be integrated into Social Studies, Science, Math, Intro and even AP CS Principles courses. Materials reinforce core concepts from mainstream subjects, enabling non-CS teachers to adopt our introductory materials while delivering rigorous and engaging computing content. | 3-day workshops for schools and districts. Fees range |
| [Carnegie Learning](https://www.carnegielearning.com/zulama/) | Zulama is a standards-aligned K-12 curriculum that gives students a strong digital foundation. Students ideate, research, prototype, and program their own computational apps, games, and simulations. Our courses were written by faculty at Carnegie Mellon and MIT. All content is fully customizable, including assessments. Our content is rigorous yet fun, and includes assessments, lesson plans, and more. | Included with student curriculum: Engaging, immersive, self-guided online professional learning courses that get teachers started on our platform; self-guided online tutorials that correspond to each student course; coding coaches are available through live chat during regular business hours (EST); online teachers forum, video library, and FAQs. |
| [Code Avengers](https://www.codeavengers.com/edu) | Over 50 hours of lessons including level 3 junior courses to build fundamental understanding of computer science and a range of intro coding courses from the PRO platform including web design and game design.  $12.50 - $25/student. Bulk discounts available. | Free onboarding PD session with any school license purchase. Self-directed professional development modules on how to teach computer science included with Teacher License. Additional PD Training Session USD $200 per teacher per half day session delivered via video conference. |
| [Code Monkey](https://www.playcodemonkey.com/) | Over 300 story modes & skill mode challenges. Can be taught full year, 1/2 year, or quarterly. $10/student | Free online course, $250/webinar, $3500/onsite PD |
| [CodeCombat](https://codecombat.com/) | 11 game-based courses teaching Python and JavaScript. Includes 5 game and web development courses. First course and teacher resources are free. School site licenses start at $2500 | Free onboarding call, $500/online PD |
| [CodeHS](https://codehs.com) | 6th-12th grade CS pathway. All curriculum is FREE! Middle school courses include Web Design, Cybersecurity, Computing Ideas,  Coding with Karel the Dog (JavaScript), Coding with Tracy the Turtle (Python), and more. Pro plans for schools start at $2500. | Online PD courses are available for $1500. In-person PD workshops are available for schools and districts. Free summer workshops in select cities. For more information, visit codehs.com/pd. |
| [Codesters](https://www.codesters.com/) | Three course options, pricing varies. Intro to Codesters: 5 project-based lessons. Intro to Python 1: 20 project-based lessons. Intro to Python 2: 20 project based lessons. Each lesson takes approximately two 45-minute class periods. | Online PD consists of two 1-hour web-based learning sessions with asynchronous coursework to be completed between sessions. Half day, 1-day, and 3-day workshops available, pricing varies. Follow-on support via email/phone through implementation. |
| [Edhesive](https://edhesive.com/) | Each a full-year blended course, Explorations in Coding I and II cover foundational concepts and skills of C and build understanding of programming through coding explorations, practices and projects in block-based and text-based Python. Supplemental online and unplugged activities. Starts at $500/site for up to 50 students; unlimited school license available. | 10-hour, online support professional development course. $500-$1,000 |
| [NCLab](https://nclab.com/solutions/schools/) | Karel Coding, 3D Modeling, and Python Courses | NCLab includes setup and support with all subscriptions. Teachers can request access to courses for their own self-paced learning. PD webinars and live trainings focus on concept development; use of courses, the student management system and supporting materials; context building; and application of skills to projects. |
| [Parallax Inc.](https://www.parallax.com/education/teach/program-options/middle-school) | Line of educational robotics and electronics kits and tutorials. Platforms feature open breadboards for building, prototyping, and customizing with real circuits. Offers the BlocklyProp visual programming tool. Curriculum is FREE. Robot purchase required. | FREE in-person immersive single day trainings. Occasional live webinars. |
| [Project Lead The Way](https://www.pltw.org/our-programs/pltw-gateway-curriculum) | 2 intro courses, $750/school | Online, in-person PD at 60 universities, average $1200/teacher |
| [Scalable Game Design](http://scalablegamedesign.cs.colorado.edu/) | Introduction to Game Design: 25 hours, Advanced Game Design (3D): 16 hours, Introduction to Simulation Design: 25 hours. FREE. | In-person, online, or blended. No cost to schools participating in National Science Foundation research. For other schools: $1900 for a 3-day Game Design workshop per teacher. Travel costs not included. |
| [ScratchEd](http://scratched.gse.harvard.edu/guide/) | 6-unit course, FREE | In-person educator meet-ups and online MOOC, FREE|
| [Tynker](https://www.tynker.com/) | 1 FREE Starter Course, 4 Visual Coding Courses, 2 Text Coding Courses, 1 drone coding course, 6 STEM courses. Each coding course has around 16 1-hour lessons. STEM courses include coding projects and quizzes in English, Math, Science, and Social Studies. Courses are aligned with Common Core ELA and Math, CSTA K-8 and NGSS standards. Pricing varies, district pricing available. | In-person one-day workshop available year round for; additional days can be added. $2,000/day. Online PD: free and premium online PD, one hour long. Can be booked at [https://www.tynker.com/training](https://www.tynker.com/training) |
| [UC Davis C-STEM Center](http://c-stem.ucdavis.edu/) | 5 year-long CS,  robotics,  math 7  with computing and robotics, math 8 with computing and robotics, Arduino courses for grades 7-8. Coding in Blockly and user-friendly C/C++ Interpreter Ch.  Free teaching resources available  including PDF textbooks.  School site licenses  only $800. | Nearly 100 free interactive and video tutorials. $150/day training held at UC Davis campus and nationwide. Costs vary for custom-tailored on-site training. |
| [Vidcode](https://www.vidcode.com/) | First course and teacher resources are free. Over 12 creative coding courses, 10 hours each, that teach JavaScript and computational thinking. Includes cross-disciplinary, interaction design, and game design courses. Unlimited classroom accounts starting at $299/year [https://www.vidcode.com/pay](https://www.vidcode.com/pay) | Free onboarding call, animated online PD course, $250/webinar, $3500/onsite PD |

<br>
<a target="_blank" href="https://docs.google.com/spreadsheets/d/1-lbIKCkcVWWTFhcmpZkw8AcGv0iPj-hEqvO0Eu0N1hU/pubhtml?gid=1162176811&single=true"><button>See full details and comparison</button></a>

