.actionRow {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  flex-wrap: wrap;

  .teacherResources {
    margin-left: 10px;
    margin-bottom: 10px;
  }

  .studentResources {
    margin-left: 10px;
    margin-bottom: 10px;
  }

  .assignButton {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
  }
}