- content_for(:head) do
  = stylesheet_link_tag 'css/levelbuilder', media: 'all'

%p Hello #{@user_course_enrollment.user.name}, here is your progress for #{@user_course_enrollment.plc_course.name}

%p Actually, we won't show anything for the time being while we put together course units

= link_to 'Back', plc_user_course_enrollments_path
