.odometerParent {
  border-radius: 8px;
  overflow: hidden;
}

.odometer {
  height: 40px;
  overflow: hidden;
  font: 32px monospace;
  line-height: 32px;
  color: #fff;
  text-shadow: 0 0 2px #000;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0) 40%, rgba(50, 50, 50, 0) 50%, rgba(0, 0, 0, 0.6) 100%);
  border-collapse: collapse;
}

.odometer .digit {
  white-space: pre;
  position: relative;
  display: table-cell;
  padding: 4px 3px;
  width: 20px;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}
