$root: '/blockly/media/applab/'; //TODO: Parameterize for asset pipeline

// ** START OF RULES THAT ARE MODIFIED AT RUNTIME IN adjustAppSizeStyles() **

div#visualization {
  height: 400px;
  width: 400px;
}

/* Shrink the visualization area on small displays. */

@media screen and (min-width: 1151px) {
  div#visualization.responsive {
    max-height: 400px;
    max-width: 400px;
  }
  div#visualizationColumn.responsive {
    max-width: 400px;
  }
  div#visualization.responsive > * {
    -webkit-transform: scale(1.0);
    -ms-transform: scale(1.0);
    transform: scale(1.0);
  }
}

@media screen and (min-width: 1101px) and (max-width: 1150px) {
  div#visualization.responsive {
    max-height: 350px;
    max-width: 350px;
  }
  div#visualizationColumn.responsive {
    max-width: 350px;
  }
  div#visualization.responsive > * {
    -webkit-transform: scale(0.875);
    -ms-transform: scale(0.875);
    transform: scale(0.875);
  }
}

@media screen and (min-width: 1051px) and (max-width: 1100px) {
  div#visualization.responsive {
    max-height: 300px;
    max-width: 300px;
  }
  div#visualizationColumn.responsive {
    max-width: 300px;
  }
  div#visualization.responsive > * {
    -webkit-transform: scale(0.75);
    -ms-transform: scale(0.75);
    transform: scale(0.75);
  }
}

@media screen and (min-width: 1001px) and (max-width: 1050px) {
  div#visualization.responsive {
    max-height: 250px;
    max-width: 250px;
  }
  div#visualizationColumn.responsive {
    max-width: 250px;
  }
  div#visualization.responsive > * {
    -webkit-transform: scale(0.625);
    -ms-transform: scale(0.625);
    transform: scale(0.625);
  }
}

@media screen and (max-width: 1000px) {
  div#visualization.responsive {
    max-height: 200px;
    max-width: 200px;
  }
  div#visualizationColumn.responsive {
    max-width: 200px;
  }
  div#visualization.responsive > * {
    -webkit-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
  }
}

// ** END OF RULES THAT ARE MODIFIED AT RUNTIME IN adjustAppSizeStyles() **

#divApplab {
  overflow: hidden;
  position: relative;
  z-index: 1;
  background-color: white;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#divApplab canvas {
  position: absolute;
  overflow: hidden;
  top: 0px;
  left: 0px;
  z-index: -1;
}

#divApplab img {
  opacity: 1.0;
}

#divApplab div {
  overflow: hidden;
}

img#turtleImage {
  position: relative;
  height: 45px;
}

.debug-console {
  dispay: block;
}

.debug-console * {
  font-family: monospace;
  font-size: 12px;
}

.debug-input-prompt {
  max-height: 0px;
  display: block;
}

.debug-input, .debug-output {
  width: 100%;
  border-width: 0px;
  padding: 0px;
  outline: none;
}

.debug-output textarea[disabled], textarea[readonly] {
  height: 100px;
  resize: none;
  margin-bottom: -1px;
  overflow: auto;
  background-color: white;
  line-height: normal;
  cursor: text;
}

.debug-input {
  max-height: 14px;
  height: 14px;
  background-color: white;
  text-indent: 14.5px;
  overflow: hidden;
  margin-top: -3px;
  padding-top: 6px;
}

/* Slider. */
.sliderContainer {
  float: left
}
.sliderTrack {
  stroke: #aaa;
  stroke-width: 6px;
  stroke-linecap: round;
}
.sliderKnob {
  fill: #ddd;
  stroke: #bbc;
  stroke-width: 1px;
  stroke-linejoin: round;
}
.sliderKnob:hover {
  fill: #eee;
}

#pauseButton {
  min-width: 111px;
  margin-right: 10px;
}

/* Sprited icons. */
.icon21 {
  height: 21px;
  width: 21px;
  background-image: url("#{$root}icons.png");
}
.code {
  background-position: -21px 0px;
}
.link {
  background-position: 0px 0px;
}
.run {
  background-position: 0px -21px;
  margin-right: 3px;
}
.stop {
  background-position: -21px -21px;
  margin-right: 3px;
}
.left-btn {
  background-position: -21px -42px;
  margin-right: 3px;
}
.right-btn {
  background-position: -21px -63px;
  margin-right: 3px;
}
.up-btn {
  background-position: 0px -63px;
  margin-right: 3px;
}
.down-btn {
  background-position: 0px -42px;
  margin-right: 3px;
}

button.arrow {
  border: 1px solid #FFA000;
  background-color: #FFA000;
  color: #fff;
  margin-left: 5px;
  margin-right: 0px;
  display: none;
}
button.arrow>img {
  opacity: 1;
  vertical-align: text-bottom;
}
button.arrow:focus {
  outline-style: none;
}
#soft-buttons {
  display: inline-block;
  vertical-align: top;
  margin-left: -5px;
  &.soft-buttons-none {
    display: none;
  }
}
.soft-buttons-1 {
  display: table-cell;
  vertical-align: top;
  min-width: 51px;
}
.soft-buttons-2 {
  display: table-cell;
  vertical-align: top;
  min-width: 102px;
}
.soft-buttons-3 {
  display: table-cell;
  vertical-align: top;
  min-width: 153px;
}
.soft-buttons-4 {
  display: table-cell;
  vertical-align: top;
  min-width: 204px;
}

#share-cell {
  display: inline-block;
  vertical-align: top;
  &.share-cell-none {
    display: none;
  }
}
