@import "color";
@import "mixins";
@import "style-constants";
@import "../JsDebuggerUi.scss";
@import "skins/base.scss";
@import "skins/modern.scss";

$root: '/blockly/media/applab/'; //TODO: Parameterize for asset pipeline

// ** START OF RULES THAT ARE MODIFIED AT RUNTIME IN adjustAppSizeStyles() **

div#visualization {
  height: 400px;
  width: 400px;
}

div#visualization.with_padding {
  border: 1px solid #ddd;
}

div#visualizationResizeBar {
  top: $workspace-headers-height;
}

#playSpaceHeader > div {
  height: $workspace-headers-height;
}

/* Shrink the visualization area on small displays. */

@media screen and (min-width: 1151px), screen and (min-height: 601px) {
  $width: 400px;
  $colWidth: $width + 2;
  div#visualization.responsive {
    max-height: $width;
    max-width: $width;
  }
  div#visualizationColumn.responsive {
    max-width: $width;
  }
  div#visualizationColumn.responsive.with_padding {
    max-width: $colWidth;
  }
  .small-footer-base.responsive {
    max-width: $width;
  }
  div.workspace-right {
    left: $width;
  }
  html[dir='rtl'] div#codeWorkspace {
    right: $width;
  }
  div#visualizationResizeBar {
    left: $width;
    line-height: $width;
  }
  html[dir='rtl'] div#visualizationResizeBar {
    right: $width;
  }
  div#visualization.responsive > * {
    -webkit-transform: scale(1.0);
    -ms-transform: scale(1.0);
    transform: scale(1.0);
  }
}

@media screen and (min-width: 1101px) and (max-width: 1150px), screen and (min-height: 551px) and (max-height: 600px) {
  $width: 350px;
  $colWidth: $width + 2;
  div#visualization.responsive {
    max-height: $width;
    max-width: $width;
  }
  div#visualizationColumn.responsive {
    max-width: $width;
  }
  div#visualizationColumn.responsive.with_padding {
    max-width: $colWidth;
  }
  .small-footer-base.responsive {
    max-width: $width;
  }
  div.workspace-right {
    left: $width;
  }
  html[dir='rtl'] div#codeWorkspace {
    right: $width;
  }
  div#visualizationResizeBar {
    left: $width;
    line-height: $width;
  }
  html[dir='rtl'] div#visualizationResizeBar {
    right: $width;
  }
  div#visualization.responsive > * {
    -webkit-transform: scale(0.875);
    -ms-transform: scale(0.875);
    transform: scale(0.875);
  }
}

@media screen and (min-width: 1051px) and (max-width: 1100px), screen and (min-height: 501px) and (max-height: 550px) {
  $width: 300px;
  $colWidth: $width + 2;
  div#visualization.responsive {
    max-height: $width;
    max-width: $width;
  }
  div#visualizationColumn.responsive {
    max-width: $width;
  }
  div#visualizationColumn.responsive.with_padding {
    max-width: $colWidth;
  }
  .small-footer-base.responsive {
    max-width: $width;
  }
  div.workspace-right {
    left: $width;
  }
  html[dir='rtl'] div#codeWorkspace {
    right: $width;
  }
  div#visualizationResizeBar {
    left: $width;
    line-height: $width;
  }
  html[dir='rtl'] div#visualizationResizeBar {
    right: $width;
  }
  div#visualization.responsive > * {
    -webkit-transform: scale(0.75);
    -ms-transform: scale(0.75);
    transform: scale(0.75);
  }
}

@media screen and (min-width: 1001px) and (max-width: 1050px), screen and (min-height: 451px) and (max-height: 500px) {
  $width: 250px;
  $colWidth: $width + 2;
  div#visualization.responsive {
    max-height: $width;
    max-width: $width;
  }
  div#visualizationColumn.responsive {
    max-width: $width;
  }
  div#visualizationColumn.responsive.with_padding {
    max-width: $colWidth;
  }
  .small-footer-base.responsive {
    max-width: $width;
  }
  div.workspace-right {
    left: $width;
  }
  html[dir='rtl'] div#codeWorkspace {
    right: $width;
  }
  div#visualizationResizeBar {
    left: $width;
    line-height: $width;
  }
  html[dir='rtl'] div#visualizationResizeBar {
    right: $width;
  }
  div#visualization.responsive > * {
    -webkit-transform: scale(0.625);
    -ms-transform: scale(0.625);
    transform: scale(0.625);
  }
}

@media screen and (max-width: 1000px), screen and (max-height: 450px) {
  $width: 200px;
  $colWidth: $width + 2;
  div#visualization.responsive {
    max-height: $width;
    max-width: $width;
  }
  div#visualizationColumn.responsive {
    max-width: $width;
  }
  div#visualizationColumn.responsive.with_padding {
    max-width: $colWidth;
  }
  .small-footer-base.responsive {
    max-width: $width;
  }
  div.workspace-right {
    left: $width;
  }
  html[dir='rtl'] div#codeWorkspace {
    right: $width;
  }
  div#visualizationResizeBar {
    left: $width;
    line-height: $width;
  }
  html[dir='rtl'] div#visualizationResizeBar {
    right: $width;
  }
  div#visualization.responsive > * {
    -webkit-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
  }
}

// ** END OF RULES THAT ARE MODIFIED AT RUNTIME IN adjustAppSizeStyles() **

#visualizationColumn.wireframeShare {
  max-width: none !important;
  width: 352px;
  height: 612px;
  margin: 0 auto;
  padding: 20px 0;

  #playSpaceHeader, #gameButtons {
    display: none;
  }

  #visualization {
    top: 68px;
    left: 16px;
    border: 0;
  }
}

#visualizationColumn.chromelessShare {
  #playSpaceHeader, #gameButtons {
    display: none;
  }
}

#divApplab, #designModeViz, #visualizationOverlay {
  overflow: hidden;
  outline: none;
  -webkit-touch-callout: none;

  @include user-selects(none);
}

#divApplab {
  position: relative;
  z-index: 1;
  background-color: white;
}

#visualizationOverlay {
  position: absolute;
  top: 0;
  left: 0;
  // layer 1 is design mode/div applab
  // layer 2 is items being dragged out from toolbox
  // layer 3 is overlay
  z-index: 3;
  pointer-events: none;
  // This is a hack that enables pointer-events: none on this absolutely-
  // positioned SVG element in IE9.
  filter: progid:DXImageTransform.Microsoft.Blur(pixelradius=0);
}

.crosshair-overlay {
  line {
    stroke: #aaa;
    stroke-width: 1.8px;
    stroke-dasharray: 6.5px;
  }

  rect {
    stroke: #bdc3c7;
    stroke-width: 2px;
    fill: rgba(255,255,255,0.8);
  }

  text {
    text-anchor: middle;
  }
}

#divApplab canvas, #designModeViz canvas {
  position: absolute;
  overflow: hidden;
  top: 0px;
  left: 0px;
  z-index: -1;
}

/* When not running, show default arrow cursor for all UI elements
   so that they do not look active. */
#divApplab.notRunning {
  button, label, select, input, img, div.chart, canvas, div[contenteditable=true] {
    cursor: default;
  }
}

#divApplab.notRunning.withCrosshair {
  cursor: crosshair;
  button, label, select, input, img, div.chart, canvas, div[contenteditable=true] {
    cursor: crosshair;
  }
}

/* In design mode, show grab/grabbing cursor for all UI elements
 * so that they look draggable. */
#designModeViz {
  button, label, select, input, img, div.chart, canvas, div[contenteditable=true] {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    &:active {
      cursor: grabbing;
      cursor: -moz-grabbing;
      cursor: -webkit-grabbing;
    }
  }

  &.withCrosshair {
    cursor: crosshair;
  }
}

#visualizationResizeBar {
  margin-left: 2px;
  width: $resize-bar-width;
}

#runButton, #resetButton {
  margin-right: 0;
  outline-style: none;
}

/* Sprited icons. */
.icon21 {
  height: 21px;
  width: 21px;
  background-image: url("#{$root}icons.png");
  background-size: 42px 147px;
  margin-bottom: -3px;
}
.code {
  background-position: -21px 0px;
}
.link {
  background-position: 0px 0px;
}
.run {
  background-position: 0px -21px;
  margin-right: 3px;
}
.stop {
  background-position: -21px -21px;
  margin-right: 3px;
}
.left-btn {
  background-position: -21px -42px;
  margin-right: 3px;
}
.right-btn {
  background-position: -21px -63px;
  margin-right: 3px;
}
.up-btn {
  background-position: 0px -63px;
  margin-right: 3px;
}
.down-btn {
  background-position: 0px -42px;
  margin-right: 3px;
}

#share-cell {
  display: inline-block;
  vertical-align: top;
  &.share-cell-none {
    display: none;
  }
}

#submitButton {
  border-color: $purple;
  background-color: $purple;
  color: white;
}

#unsubmitButton {
  border-color: $light_purple;
  background-color: $light_purple;
  color: white;
}

#manageAssetsModal {
  width: 800px;
  margin-left: -400px;
}

.assetRow {
  border-bottom: 1px solid #999;
}

.assetRow:last-child {
  border-bottom: none;
}

.assetRow:hover {
  background: $lighter_purple;
}

.no-outline:focus {
  outline: none;
}

.justify-contents {
  text-align: justify;
  line-height: 0;
  &:after {
    content: '';
    width: 100%;
    display: inline-block;
  }
}

.rightalign-contents {
  text-align: right;
  line-height: 0;
  &:after {
    content: '';
    width: 100%;
    display: inline-block;
  }
}


.hover-pointer:hover {
  cursor: pointer;
}

.chooseAssetDropdownOption {
  color: $link_color;
  text-decoration: underline;
}

.droplet-dropdown {
  z-index: 500 !important;
}

// We don't want -webkit-user-select: none for our contenteditable div, otherwise
// we're unable to add text to the div in Safari.
*[contenteditable] {
  -webkit-user-select: auto !important;
}

// TODO(dave): move these styles into DesignToolboxElement
// once we are done experimenting with them.
.design-element-image {
  width: 72px; // 60% of 120px, which is the original image width.
}

.rainbow-gradient {
  background: -webkit-linear-gradient(to bottom right, red, orange, yellow, green, blue); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(to bottom right, red, orange, yellow, green, blue); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(to bottom right, red, orange, yellow, green, blue); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, red, orange, yellow, green, blue); /* Standard syntax */
}

// TODO - figure out final name of this
.CollapserIcon_showHideButton {
  &:hover {
    cursor: pointer;
    color: white;
  }
}
