%p
  Hello
  = "#{@form[:first_name]}" + ','

= render partial: 'thank_you'

Below is a confirmation of the information you submitted to us.

= render partial: 'form_body'

%p
  Best,
  %br
  Tanya Parker
  %br
  Product Manager, Code.org
