%p
  The following person has requested to connect with their local Code.org Regional Partner
  = link_to('through this form,', 'https://studio.code.org/pd/regional_partner_contact/new')
  - if @matched_but_no_pms
    but the Regional Partner does not have any program managers.
  - else
    but we were unable to match them with a Regional Partner.
  Please follow up with them directly at your convenience.

= render partial: 'form_body'
