---
title: A Hora do Código do Brasil - para o Ano do Código
tagline: ''
theme: responsive
responsivePadMobile: yes
social:
  'og:title' : 'A Hora do Código do Brasil está chegando'
  'og:description' : "Para todos os alunos e salas de aula do Brasil: veja como é divertido aprender programação em apenas uma hora, de 8 a 14 de dezembro."
  'og:image' : "http://br.code.org/images/ogimage.png"
  'og:image:width' : ""
  'og:image:height' : ""
  "og:video": ""
  "og:video:width": ""
  "og:video:height": ""
  "og:video:type": ""
---

#top{:style=>"margin-top: 40px;"}
  #video.col-63.desktop-pad-right
    = view :hocvideo, id:"r990CWYtx_o"

  #start.col-36{:style=>'text-align:center; margin-top: 0'}
    .count{:style=>'font-size: 42px; line-height: 42px; font-weight:500' }
      %h1{:style=>"font-size: 56px; line-height: 56px; margin: 0;"}<
        =format_integer_with_decimals(fetch_hoc_metrics['started']).to_s
      %h3{:style=>"font-size: 26px; line-height: 26px; font-weight: 400; margin-top: 5px; margin-bottom: 0;"}<
        participaram da
      %h2{:style=>"font-size: 36px; line-height: 36px; font-weight: 600; margin-top: 5px; margin-bottom: 0;"}<
        Hora do Código
      %h4.desktop-feature{:style=>"font-size: 26px; line-height: 26px; font-weight: 400; margin-top: 15px;"}<
        no mundo todo
    %a{:href=>'/learn', :style=>"text-decoration: none;"}
      %button{:style=>"font-size: 19px; font-weight: 500; height: 50px;margin-top: 10px;"}
        Comece agora mesmo

    %br

    %ul
      %li Não é necessário experiência prévia
      %li Também não são necessários computadores
      %li Podem participar pessoas de 4 a 104 anos de idade

%div{:style=>'clear:both'}

%br A Hora do Código contou com a participação de quase 40 milhões de pessoas nos Estados Unidos. O resultado disso? Veja o que estudantes, professores e pais têm a dizer sobre a experiência:
%ul
  %li "Eu não vi uma lâmpada acesa sobre a cabeça dos meus alunos, mas fogos de artifício." - Professor
  %li "O melhor produto educacional que já vi." - Pai/empresário
  %li "Eu nunca vi meus alunos tão animados para aprender alguma coisa." - Professor
  %li "Uma das melhores coisas que aconteceram em 2013." - Aluno do 2º ano
  %li "Eu vi que esta era uma oportunidade única de aprender programação." - Aluno do 5º ano
  %li "Agora estou tentando convencer outras escolas a ensinar programação, porque foi uma experiência realmente incrível." - Aluno do 5º ano
  %li "As crianças ficaram muito animadas e algumas até obcecadas." - Professor
  %li "Hoje eles correram para a minha sala antes mesmo de a aula começar. Fiquei impressionado com o entusiamos e a curiosidade dos alunos pela programação." - Professor
  %li "Meus três filhos chegaram da escola ontem eufóricos, contando sobre a Hora do Código. O de seis anos de idade me contava como programar o Angry Birds, o de 10 anos proclamava 'Eu vou ser um engenheiro de software. É o trabalho perfeito para mim. É o meu destino!'" - Pai
