- content_for(:head) do
  %script{src: webpack_asset_path('js/foorm/editor/index.js'), data: @script_data}
  = stylesheet_link_tag 'css/foorm', media: 'all'

#editor-container
  -# populated by React
