@import "color.scss";
@import "font.scss";

.inputBox {
    width: 225;
}

.cautionButton {
  background-color: transparent;
  box-shadow: none;
  outline: none;
  border: none;
  padding: 6px;
  margin-right: 16px;
  cursor: pointer;
}

.cautionButton:hover {
  background-color: $product_negative_light;
  box-shadow: none;
}

.cautionIcon {
  color: $red;
  font-size: 1rem;
}

.cautionButton:hover .cautionIcon {
  color: $product_negative_default;
}
