@import "color.scss";
@import "font.scss";

.infoButton {
  background-color: transparent;
  box-shadow: none;
  outline: none;
  border: none;
  cursor: pointer;
  margin-left: 7px;
  padding: 1px;
}

.infoButton:hover {
  box-shadow: none;
}

.infoButton:focus {
  border: solid;
}

.infoIcon {
  color: $neutral_dark60 !important;
  font-size: 1rem;  
}

.infoIcon:hover {
  color: $neutral_dark90 !important;
  font-size: 1rem;  
}

.inputBox {
  width: 200px;
}

