@import 'font.scss';

.card {
  border: 1px solid var(--borders-neutral-strong);
  border-radius: 2px;
  width: 214px;
  background-color: var(--background-neutral-secondary);

  a.link {
    text-decoration: none;
  }
}

.lastEdit {
  @include main-font-regular;
  padding-left: 15px;
  padding-right: 10px;
  padding-bottom: 10px;
  font-size: 0.6875rem;
  color: var(--text-neutral-primary);
}

.ageRange {
  @include main-font-regular;
  padding-left: 10px;
  padding-top: 5px;
  font-size: 0.6875rem;
  color: var(--text-neutral-primary);
}

.firstInitial {
  @include main-font-regular;
  padding-top: 5px;
  font-size: 0.6875rem;
  padding-left: 15px;
  padding-right: 15px;
  color: var(--text-neutral-primary);
}

.image {
  flex-shrink: 0;
  width: 100%;
}

.bold {
  @include main-font-semi-bold;
}

.title {
  @include main-font-semi-bold;
  padding: 18px 10px 5px 15px;
  font-size: 16px;
  color: var(--text-neutral-primary);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 18px;
  box-sizing: content-box;
}

.thumbnail {
  width: 214px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.fullThumbnail {
  height: 214px;
}

.noTime {
  padding-bottom: 10px;
}
