@import "color.scss";
@import "font.scss";

.card {
  border: 1px solid $border_gray;
  border-radius: 2px;
  width: 214px;
  background-color: $neutral-light;
}

.lastEdit {
  @include main-font-regular;
  padding-left: 15px;
  padding-right: 10px;
  padding-bottom: 10px;
  font-size: 0.6875rem;
  color: $neutral-dark;
}

.ageRange {
  @include main-font-regular;
  padding-left: 10px;
  padding-top: 5px;
  font-size: 0.6875rem;
  color: $neutral-dark;
}

.firstInitial {
  @include main-font-regular;
  padding-top: 5px;
  font-size: 0.6875rem;
  padding-left: 15px;
  padding-right: 15px;
  color: $neutral-dark;
}

.image {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
}

.bold {
  @include main-font-semi-bold;
}