@import "color.scss";
@import "font.scss";

.reportAbusePopUp {
  width: 410px !important;
}

.cautionButton {
  background-color: transparent;
  box-shadow: none;
  outline: none;
  border: none;
  padding: 6px;
  margin-right: 16px;
  cursor: pointer;
}

.cautionButton:hover {
  background-color: $product_negative_light;
  box-shadow: none;
}

.cautionIcon {
  color: $neutral_dark60;
  font-size: 1rem;
}

.cautionButton:hover .cautionIcon {
  color: $product_negative_default;
}

.xButton {
  box-shadow: none;
  outline: none;
  border: none;
  cursor: pointer;
  background: none;
  width: 24px;
  height: 24px;
  font-size: 1rem;
  padding: 5px;
}

.xButton:hover {
  box-shadow: none;
  outline: none;
}

.card {
  border: 1px solid $border_gray;
  border-radius: 2px;
  width: 214px;
  background-color: $neutral-light;
}

.lastEdit {
  padding-left: 15px;
  padding-right: 10px;
  padding-bottom: 10px;
  font-size: 0.6875rem;
  font-family: $gotham-regular;
  color: $neutral-dark;
}

.ageRange {
  padding-left: 10px;
  padding-top: 5px;
  font-size: 0.6875rem;
  font-family: $gotham-regular;
  color: $neutral-dark;
}

.firstInitial {
  padding-top: 5px;
  font-size: 0.6875rem;
  padding-left: 15px;
  padding-right: 15px;
  font-family: $gotham-regular;
  color: $neutral-dark;
}

.image {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
}

.bold {
  font-family: $gotham-bold;
}

.popUpLines {
  border-color: $neutral_dark20;
  width: 400px;
  height: 1px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 5px;
  margin-left: 5px;
}

.popUpBody {
  font-family: $gotham-regular;
  color: $darkest_gray;
  font-size: 0.875rem;
}

.submitConfirmation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.submitConfirmation > * {
  margin: 10px;
}

.popUpTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popUpButtonHolder {
  display: flex;
  justify-content: flex-end;
}

.reported {
  margin: auto;
  color: $product_negative_default;
  font-family: $gotham-bold;
  font-size: 0.75rem;
}