@import 'color.scss';
@import 'font.scss';

.popUp {
  width: 410px !important;
}

.submitConfirmation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.submitConfirmation > * {
  margin: 10px;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lines {
  border-color: $neutral_dark20;
  width: 400px;
  height: 1px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 5px;
  margin-left: 5px;
}

.body {
  font-family: $gotham-regular;
  color: $darkest_gray;
  font-size: 0.875rem;
}

.buttonHolder {
  display: flex;
  justify-content: flex-end;
}

.submitButton {
  outline: none;
}

.xButton {
  box-shadow: none;
  outline: none;
  border: none;
  cursor: pointer;
  background: none;
  width: 24px;
  height: 24px;
  font-size: 1rem;
  padding: 5px;
}

.xButton:hover {
  box-shadow: none;
  outline: none;
}

.xIcon {
  color: $neutral_dark20;
}
