.filterWrapper {
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  height: 24px;
  float: right;
}

.filterLabel {
  display: inline-flex;
  align-items: center;
  float: right;
}

.filterLabelText {
  margin: 0 8px 0 0;
  color: rgb(91, 103, 112);
  font-weight: 600;
  font-size: 16px;
}
