
function createVideoWithFallback(options, width, height) {
  var video = createVideo(options);
  video.width(width).height(height);
  setupVideoFallback(options, width, height);
  return video;
}

function createVideo(options) {
  return $('<iframe id="video"/>').addClass('video-player').attr({
    src: options.src,
    scrolling: 'no'
  });
}

// Options include:
//   src - the url to the video
//   key - an uid.
//   name - a string.
//   redirect - the redirect page after the video is dismissed.
function showVideoDialog(options) {
  var widthRatio = .8;
  var heightRatio = .8;
  var aspectRatio = 16 / 9;

  var body = $('<div/>');
  var content = $('#notes-content').contents().clone();
  content.find('.video-name').text(options.name);
  body.append(content);

  var video = createVideo(options);
  body.append(video);

  var notesDiv = $('<div id="notes-outer"><div id="notes"/></div>');
  body.append(notesDiv);
  getShowNotes(options.key, notesDiv.children('#notes'));

  var dialog = new Dialog({ body: body, redirect : options.redirect });
  $div = $(dialog.div);
  $div.addClass('video-modal');

  var tabHandler = function(event, ui) {
    var tab = ui.tab || ui.newTab;  // Depends on event.
    var videoElement = $('#video');
    if (tab.find('a').attr('href') === "#video") {
      // If it is the video page, restore the src
      videoElement.attr('src', options.src);
    } else {
      videoElement.attr('src', '');
      stopTrackingVideoJSProgress();
    }
    // Remember which tab is selected.
    var selected = tab.parents('.ui-tabs').tabs('option', 'active');
    try {
      window.sessionStorage.setItem('lastTab', selected);
    } catch (exc) {
      console.log('Caught exception in sessionStorage.setItem: ', exc);
    }
  };

  var lastTab = window.sessionStorage.getItem('lastTab');
  body.tabs({
    event : 'click touchend',
    activate: tabHandler,
    create: tabHandler,
    active: (lastTab !== null) ? lastTab : 0  // Set starting tab.
  });

  var download = $('<a/>').append($('<img src="<%= asset_path 'download_button.png' %>"/>'))
      .addClass('download-video')
      .attr('href', options.download);
  var nav = $('.ui-tabs-nav');
  nav.append(download);

  // Resize modal to fit constraining dimension.
  var height = $(window).height() * widthRatio,
      width = $(window).width() * heightRatio;

  if (height * aspectRatio < width) {
    $div.height(height);
    $div.width(height * aspectRatio);
  } else {
    $div.height(width / aspectRatio);
    $div.width(width);
  }

  // Standard css hack to center a div within the viewport.
  $div.css({
    top: '50%',
    left: '50%',
    marginTop: ($div.height() / -2) + 'px',
    marginLeft: ($div.width() / -2) + 'px'
  });

  var divHeight = $div.innerHeight() - nav.outerHeight();
  $(video).height(divHeight);

  notesDiv.height(divHeight);

  dialog.show();

  // Don't add fallback player if a video modal has closed
  var shouldStillAdd = true;
  $('.video-modal').one('hidden.bs.modal', function(){
    shouldStillAdd = false;
  });

  setupVideoFallback(options, $div.width(), divHeight, function(){
    return shouldStillAdd;
  });
}

/**
 * When hidden quickly after being shown, the videojs flash player progress tracker
 * starts looping out read property 'length' of undefined errors. Since we don't currently
 * use this progress tracking, disable it
 */
function stopTrackingVideoJSProgress() {
  if (!$('.video-js').length) {
    return;
  }

  var fallbackPlayer = vjs($('.video-js')[0]);
  fallbackPlayer.stopTrackingProgress();
  fallbackPlayer.stopTrackingCurrentTime();
}

function setupVideoFallback(videoInfo, playerWidth, playerHeight, shouldStillAddCallback) {
  shouldStillAddCallback = shouldStillAddCallback || function() { return true };

  if (!videoInfo['enable_fallback']) {
    return;
  }

  if (videoInfo['force_fallback']) {
    addFallbackVideoPlayer(videoInfo, playerWidth, playerHeight);
    return;
  }

  onYouTubeBlocked(function() {
    if (!shouldStillAddCallback()) {
      return;
    }
    addFallbackVideoPlayer(videoInfo, playerWidth, playerHeight);
  });
}

function onYouTubeBlocked(callback) {
  onURLBlocked(youTubeAvailabilityEndpointURL(), callback);
}

function youTubeAvailabilityEndpointURL() {
  if (window.document.URL.toString().indexOf('force_youtube_fallback') >= 0) {
    return 'http://unreachable-test-subdomain.example.com/favicon.ico'
  }
  return "https://www.youtube.com/favicon.ico";
}

function addFallbackVideoPlayer(videoInfo, playerWidth, playerHeight) {
  var fallbackPlayerID = 'fallbackPlayer' + Date.now();
  var playerCode =
      '<div><video id="'+ fallbackPlayerID +'" ' +
      'width="' + playerWidth + '" height="' + playerHeight + '" ' +
      (videoInfo.autoplay ? 'autoplay ' : '') +
      'class="video-js vjs-default-skin vjs-big-play-centered" ' +
      'controls preload="auto" ' +
      'poster="' + videoInfo.thumbnail + '">' +
      '<source src="' + videoInfo.download + '" type="video/mp4"/>' +
      '</video></div>';

  // Swap current #video with new code
  replaceWithElement('video', playerCode);

  videojs.options.flash.swf = "<%= asset_path("video-js.swf") %>";
  videojs.options.techOrder = ["flash", "html5"];

  var videoPlayer = videojs(fallbackPlayerID, {}, function() {
    var $fallbackPlayer = $('#' + fallbackPlayerID);
    var showingErrorMessage = $fallbackPlayer.find('p').length > 0;
    if (showingErrorMessage) {
      $fallbackPlayer.addClass('fallback-video-player-failed');
      if (hasNotesTab()) {
        openNotesTab();
      }
    }
    // Properly dispose of video.js player instance when hidden
    $fallbackPlayer.parents('.modal').one('hidden.bs.modal', function(){
      videoPlayer.dispose();
    });
  });
}

function hasNotesTab() {
  return $('.dash_modal_body a[href="#notes-outer"]').length > 0;
}

function openNotesTab() {
  var notesTabIndex = $('.dash_modal_body a[href="#notes-outer"]').parent().index();
  $('.ui-tabs').tabs('option', 'active', notesTabIndex);
}

function getShowNotes(key, container) {
  var callback = function(data) {
    container.html(data);
  };

  $.ajax({
    url: '/notes/' + key,
    success: callback
  });
}
