
function createVideoWithFallback(parentElement, options, width, height) {
  upgradeInsecureOptions(options);
  var video = $("<div id='video'/>");
  video.width(width).height(height);
  if(parentElement) {
    parentElement.append(video);
  }
  loadYouTubeVideo(options, width, height, function() {
    addFallbackVideoPlayer(video, options, width, height);
  });
  return video;
}

function loadYouTubeVideo(options, width, height, failureCallback) {
  if (!options['enable_fallback']) {
    failureCallback = function(){};
  }
  if (options['force_fallback'] || window.document.URL.toString().indexOf('force_youtube_fallback') >= 0) {
    failureCallback();
  }
  if (!window.youTubeAPIReady) {
    // Use the official YouTube IFrame Player API to load the YouTube video.
    // Ref: https://developers.google.com/youtube/iframe_api_reference#Getting_Started
    var tag = document.createElement('script');
    tag.onerror = failureCallback;
    tag.src = "https://www.youtube.com/iframe_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
    var player;
    window.onYouTubeIframeAPIReady = function() {
      window.youTubeAPIReady = true;
      startYouTubePlayer(options, width, height);
    };
  } else {
    startYouTubePlayer(options, width, height);
  }
  function startYouTubePlayer(options, width, height) {
    new YT.Player('video', {
      width: width,
      height: height,
      videoId: options.youtube_id,
      events: {
        'onReady': function (event) {
          event.target.playVideo();
        },
        'onError': function(event) {
          console.log('YT Player Error: ' + event.data);
          failureCallback();
        }
      }
    });
  }
}
// Options include:
//   src - the url to the video
//   key - an uid.
//   name - a string.
//   redirect - the redirect page after the video is dismissed.
function showVideoDialog(options) {
  upgradeInsecureOptions(options);
  var widthRatio = .8;
  var heightRatio = .8;
  var aspectRatio = 16 / 9;

  var body = $('<div/>');
  var content = $('#notes-content').contents().clone();
  content.find('.video-name').text(options.name);
  body.append(content);

  var video = $("<div id='video'/>");
  body.append(video);

  var notesDiv = $('<div id="notes-outer"><div id="notes"/></div>');
  body.append(notesDiv);
  getShowNotes(options.key, notesDiv.children('#notes'));

  var dialog = new Dialog({ body: body, redirect : options.redirect });
  $div = $(dialog.div);
  $div.addClass('video-modal');

  var tabHandler = function(event, ui) {
    var tab = ui.tab || ui.newTab;  // Depends on event.
    var videoElement = $('#video');
    if (tab.find('a').attr('href') === "#video") {
      // If it is the video page, restore the src
      videoElement.attr('src', options.src);
    } else {
      videoElement.attr('src', '');
      stopTrackingVideoJSProgress();
    }
    // Remember which tab is selected.
    var selected = tab.parents('.ui-tabs').tabs('option', 'active');
    try {
      window.sessionStorage.setItem('lastTab', selected);
    } catch (exc) {
      console.log('Caught exception in sessionStorage.setItem: ', exc);
    }
  };

  var lastTab = window.sessionStorage.getItem('lastTab');
  body.tabs({
    event : 'click touchend',
    activate: tabHandler,
    create: tabHandler,
    active: (lastTab !== null) ? lastTab : 0  // Set starting tab.
  });

  var download = $('<a/>').append($('<img src="<%= asset_path 'download_button.png' %>"/>'))
      .addClass('download-video')
      .attr('href', options.download);
  var nav = $div.find('.ui-tabs-nav');
  nav.append(download);

  // Resize modal to fit constraining dimension.
  var height = $(window).height() * widthRatio,
      width = $(window).width() * heightRatio;

  if (height * aspectRatio < width) {
    $div.height(height);
    $div.width(height * aspectRatio);
  } else {
    $div.height(width / aspectRatio);
    $div.width(width);
  }

  // Standard css hack to center a div within the viewport.
  $div.css({
    top: '50%',
    left: '50%',
    marginTop: ($div.height() / -2) + 'px',
    marginLeft: ($div.width() / -2) + 'px'
  });

  var divHeight = $div.innerHeight() - nav.outerHeight();
  video.height(divHeight);

  notesDiv.height(divHeight);

  dialog.show();

  // Don't add fallback player if a video modal has closed
  var shouldStillAdd = true;
  $('.video-modal').one('hidden.bs.modal', function(){
    shouldStillAdd = false;
  });

  loadYouTubeVideo(options, $div.width(), divHeight, function() {
    if (shouldStillAdd) {
      addFallbackVideoPlayer(video, options, $div.width(), divHeight);
    }
  });
}

/**
 * When hidden quickly after being shown, the videojs flash player progress tracker
 * starts looping out read property 'length' of undefined errors. Since we don't currently
 * use this progress tracking, disable it
 */
function stopTrackingVideoJSProgress() {
  if (!$('.video-js').length) {
    return;
  }

  var fallbackPlayer = vjs($('.video-js')[0]);
  fallbackPlayer.stopTrackingProgress();
  fallbackPlayer.stopTrackingCurrentTime();
}

function addFallbackVideoPlayer(oldElement, options, width, height) {
  var fallbackPlayerID = 'fallbackPlayer' + Date.now();
  var playerCode =
    '<div><video id="'+ fallbackPlayerID +'" ' +
    'width="' + width + '" height="' + height + '" ' +
    (options.autoplay ? 'autoplay ' : '') +
    'class="video-js vjs-default-skin vjs-big-play-centered" ' +
    'controls preload="auto" ' +
    'poster="' + options.thumbnail + '">' +
    '<source src="' + options.download + '" type="video/mp4"/>' +
    '</video></div>';

  // Swap old video element with new code
  oldElement.replaceWith(playerCode);

  videojs.options.flash.swf = "<%= asset_path("video-js.swf") %>";
  videojs.options.techOrder = ["flash", "html5"];

  var videoPlayer = videojs(fallbackPlayerID, {}, function() {
    var $fallbackPlayer = $('#' + fallbackPlayerID);
    var showingErrorMessage = $fallbackPlayer.find('p').length > 0;
    if (showingErrorMessage) {
      $fallbackPlayer.addClass('fallback-video-player-failed');
      if (hasNotesTab()) {
        openNotesTab();
      }
    }
    // Properly dispose of video.js player instance when hidden
    $fallbackPlayer.parents('.modal').one('hidden.bs.modal', function(){
      videoPlayer.dispose();
    });
  });
}

function hasNotesTab() {
  return $('.dash_modal_body a[href="#notes-outer"]').length > 0;
}

function openNotesTab() {
  var notesTabIndex = $('.dash_modal_body a[href="#notes-outer"]').parent().index();
  $('.ui-tabs').tabs('option', 'active', notesTabIndex);
}

function getShowNotes(key, container) {
  var callback = function(data) {
    container.html(data);
  };

  $.ajax({
    url: '/notes/' + key,
    success: callback
  });
}

// Convert http:// video urls to protocol-relative // urls to prevent mixed-content loads on https pages.
function upgradeInsecureOptions(options) {
  if(options.src) {
    options.src = options.src.replace(/^http:\/\//, '//');
  }
  if (options.download) {
    options.download = options.download.replace(/^http:\/\//, '//');
  }
}
