---
http_interactions:
- request:
    method: post
    uri: https://dynamodb.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"TableName":"test_properties","Item":{"hash":{"S":"1:"},"name":{"S":"k"},"updated_at":{"S":"2016-01-18T12:55:29-08:00"},"updated_ip":{"S":"127.0.0.1"},"value":{"S":"\"v\""}}}'
    headers:
      X-Amz-Target:
      - DynamoDB_20120810.PutItem
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - OUTVV5TNENFA6E29FV3CMM6RUFVV4KQNSO5AEMVJF66Q9ASUAAJG
      X-Amz-Crc32:
      - '2745614147'
      Content-Type:
      - application/x-amz-json-1.0
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Mon, 18 Jan 2016 20:55:29 GMT
- request:
    method: post
    uri: https://dynamodb.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"TableName":"test_properties","KeyConditions":{"hash":{"AttributeValueList":[{"S":"1:"}],"ComparisonOperator":"EQ"}},"AttributesToGet":["name","value"]}'
    headers:
      X-Amz-Target:
      - DynamoDB_20120810.Query
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - OR2NV76FMOOE9OQIHLTQFJ9V9NVV4KQNSO5AEMVJF66Q9ASUAAJG
      X-Amz-Crc32:
      - '2204839772'
      Content-Type:
      - application/x-amz-json-1.0
    body:
      encoding: UTF-8
      string: '{"Count":1,"Items":[{"name":{"S":"k"},"value":{"S":"\"v\""}}],"ScannedCount":1}'
  recorded_at: Mon, 18 Jan 2016 20:55:30 GMT
- request:
    method: post
    uri: https://dynamodb.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"TableName":"test_properties","Key":{"hash":{"S":"1:"},"name":{"S":"k"}},"Expected":{"name":{"Value":{"S":"k"},"ComparisonOperator":"EQ"}}}'
    headers:
      X-Amz-Target:
      - DynamoDB_20120810.DeleteItem
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - BI3RCA9NIL98NT5JNCRHKO1MSVVV4KQNSO5AEMVJF66Q9ASUAAJG
      X-Amz-Crc32:
      - '2745614147'
      Content-Type:
      - application/x-amz-json-1.0
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Mon, 18 Jan 2016 20:55:30 GMT
recorded_with: VCR 3.0.0
