---
http_interactions:
- request:
    method: post
    uri: https://dynamodb.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"TableName":"test_properties","Item":{"hash":{"S":"1:"},"name":{"S":"_testKey"},"updated_at":{"S":"2016-01-18T12:55:30-08:00"},"updated_ip":{"S":"127.0.0.1"},"value":{"S":"\"one\""}}}'
    headers:
      X-Amz-Target:
      - DynamoDB_20120810.PutItem
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 777SQ56P4OAREJB7HBL843M70VVV4KQNSO5AEMVJF66Q9ASUAAJG
      X-Amz-Crc32:
      - '2745614147'
      Content-Type:
      - application/x-amz-json-1.0
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Mon, 18 Jan 2016 20:55:31 GMT
- request:
    method: post
    uri: https://dynamodb.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"TableName":"test_properties","Key":{"hash":{"S":"1:"},"name":{"S":"_testKey"}}}'
    headers:
      X-Amz-Target:
      - DynamoDB_20120810.GetItem
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 66BPDURKVBDVAOENLDDO103CRVVV4KQNSO5AEMVJF66Q9ASUAAJG
      X-Amz-Crc32:
      - '1450006398'
      Content-Type:
      - application/x-amz-json-1.0
    body:
      encoding: UTF-8
      string: '{"Item":{"hash":{"S":"1:"},"value":{"S":"\"one\""},"updated_ip":{"S":"127.0.0.1"},"name":{"S":"_testKey"},"updated_at":{"S":"2016-01-18T12:55:30-08:00"}}}'
  recorded_at: Mon, 18 Jan 2016 20:55:31 GMT
[...]
- request:
    method: post
    uri: https://dynamodb.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"TableName":"test_properties","Key":{"hash":{"S":"1:"},"name":{"S":"_testKey"}},"Expected":{"name":{"Value":{"S":"_testKey"},"ComparisonOperator":"EQ"}}}'
    headers:
      X-Amz-Target:
      - DynamoDB_20120810.DeleteItem
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 5CDHMF8LI1DK5OTRQPUE9DESHRVV4KQNSO5AEMVJF66Q9ASUAAJG
      X-Amz-Crc32:
      - '2745614147'
      Content-Type:
      - application/x-amz-json-1.0
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Mon, 18 Jan 2016 20:55:33 GMT
- request:
    method: post
    uri: https://dynamodb.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"TableName":"test_properties","Key":{"hash":{"S":"1:"},"name":{"S":"_testKey"}}}'
    headers:
      X-Amz-Target:
      - DynamoDB_20120810.GetItem
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - FOIJA2C04MS291OFAOIG5NS7AVVV4KQNSO5AEMVJF66Q9ASUAAJG
      X-Amz-Crc32:
      - '2745614147'
      Content-Type:
      - application/x-amz-json-1.0
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Mon, 18 Jan 2016 20:55:33 GMT
recorded_with: VCR 3.0.0
