---
http_interactions:
- request:
    method: post
    uri: https://dynamodb.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"TableName":"test_properties","KeyConditions":{"hash":{"AttributeValueList":[{"S":"1:"}],"ComparisonOperator":"EQ"}},"AttributesToGet":["name","value"]}'
    headers:
      X-Amz-Target:
      - DynamoDB_20120810.Query
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - F9N728V9O0QM7U7J6M5HNOLGSVVV4KQNSO5AEMVJF66Q9ASUAAJG
      X-Amz-Crc32:
      - '3413411624'
      Content-Type:
      - application/x-amz-json-1.0
    body:
      encoding: UTF-8
      string: '{"Count":0,"Items":[],"ScannedCount":0}'
  recorded_at: Mon, 18 Jan 2016 20:55:34 GMT
- request:
    method: post
    uri: https://dynamodb.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"TableName":"test_properties","Item":{"hash":{"S":"1:"},"name":{"S":"a"},"updated_at":{"S":"2016-01-18T12:55:34-08:00"},"updated_ip":{"S":"127.0.0.1"},"value":{"S":"1"}}}'
    headers:
      X-Amz-Target:
      - DynamoDB_20120810.PutItem
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - VV8MM3GHGARVSF1URP3C9UJU8FVV4KQNSO5AEMVJF66Q9ASUAAJG
      X-Amz-Crc32:
      - '2745614147'
      Content-Type:
      - application/x-amz-json-1.0
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Mon, 18 Jan 2016 20:55:34 GMT
[...]
- request:
    method: post
    uri: https://dynamodb.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"TableName":"test_properties","Key":{"hash":{"S":"1:"},"name":{"S":"a"}}}'
    headers:
      X-Amz-Target:
      - DynamoDB_20120810.GetItem
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 40OH1BF12RQ1QELF1KTV08SFD7VV4KQNSO5AEMVJF66Q9ASUAAJG
      X-Amz-Crc32:
      - '197602545'
      Content-Type:
      - application/x-amz-json-1.0
    body:
      encoding: UTF-8
      string: '{"Item":{"hash":{"S":"1:"},"value":{"S":"1"},"updated_ip":{"S":"127.0.0.1"},"name":{"S":"a"},"updated_at":{"S":"2016-01-18T12:55:34-08:00"}}}'
  recorded_at: Mon, 18 Jan 2016 20:55:35 GMT
[...]
- request:
    method: post
    uri: https://dynamodb.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"TableName":"test_properties","Key":{"hash":{"S":"1:"},"name":{"S":"c"}}}'
    headers:
      X-Amz-Target:
      - DynamoDB_20120810.GetItem
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 0JSQ83LOATO0IKUV6G21TO3N9NVV4KQNSO5AEMVJF66Q9ASUAAJG
      X-Amz-Crc32:
      - '3869233249'
      Content-Type:
      - application/x-amz-json-1.0
    body:
      encoding: UTF-8
      string: '{"Item":{"hash":{"S":"1:"},"value":{"S":"\"yo\""},"updated_ip":{"S":"127.0.0.1"},"name":{"S":"c"},"updated_at":{"S":"2016-01-18T12:55:38-08:00"}}}'
  recorded_at: Mon, 18 Jan 2016 20:55:40 GMT
recorded_with: VCR 3.0.0
