@import 'color';

#lti-early-access-banner {
  &.alert {
    font-size: initial;
    line-height: inherit;
    text-shadow: none;
    color: unset;
    background-color: $light_secondary_100;
    border-color: $light_secondary_100;
    border-radius: 0;
    margin: 0;
    padding-top: 12px;
    padding-bottom: 12px;

    & .close {
      font-size: 1.4rem;
      margin: 0;
    }

    & a {
      color: $brand_secondary_default;
      text-decoration: underline;

      &:hover {
        color: $brand_secondary_dark;
      }
    }

    & button {
      box-shadow: none;
      text-shadow: none;
    }

    & p {
      all: unset;
    }
  }
}
