- content_for(:head) do
  %script{src: webpack_asset_path('js/foorm/libraries/editor.js'), data: @script_data}
  = stylesheet_link_tag 'css/foorm_editor', media: 'all'

#editor-container
  -# populated by React
