!!! 5
%html
  %head
    =view :theme_common_head_before

    %link{rel:'stylesheet', type:'text/css', href:'/css/common.css'}
    %link{rel:'stylesheet', type:'text/css', href:'/css/brstrap-nonresponsive.css'}

    =view :theme_common_head_after
  %body
    =body
    =view :theme_common_body_after
