!!! 5
%html
  %head
    = render inline: File.read(deploy_dir('shared/haml/hoc_onetrust_cookie_scripts.haml')), type: :haml

    =view :theme_common_head_before

    -unless page_translated?
      %link{rel:'stylesheet', type:'text/css', href:'/css/common.css'}
    -else
      %link{rel:'stylesheet', type:'text/css', href:'/css/common-international.css'}
    %link{rel:'stylesheet', type:'text/css', href: '/shared/css/warning-banner.css'}
    -# Stylesheet specific to banner shared by the homepage, /learn and How-to guide pages
    %link{href: "/css/generated/hoc-banner.css", rel: "stylesheet", type: "text/css"}
    -# Stylesheet specific to How-to guide pages
    %link{href: '/css/full-width-section.css', rel:'stylesheet', type:'text/css'}
    %link{href: "/css/generated/page/how-to.css", rel: "stylesheet", type: "text/css"}
    %link{href: "/css/faq.css", rel: "stylesheet", type: "text/css"}

    %meta{:'http-equiv'=>'X-UA-Compatible', content:'IE=8'}

    =view :theme_common_head_after
  %body
    =body
    =view :cookie_banner
    =view :footer
    =view :theme_common_body_after
    -# JavaScript used on How-to guide pages
    %script{src: "/js/how-to.js"}
