@import '../../../mixins.scss';

.row {
  display: flex;
  align-items: baseline;
  padding-bottom: 10px;
}

.validation {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 4px;
  margin: 20px 0;
  padding: 20px 10px;

  .validationTitle {
    padding-bottom: 10px;
    padding-right: 10px;
  }
}

.message {
  width: 90%;
}

.callout {
  width: 70%;
}

.label {
  padding-right: 10px;
}

.conditionNameDropdown {
  margin-right: 10px;
}

.addConditionButton {
  font-size: 14px;
  background-color: var(--background-brand-teal-primary);
  color: var(--text-neutral-white-fixed);
}

.addValidationButton {
  font-size: 14px;
  background-color: var(--background-brand-purple-primary);
  color: var(--text-neutral-white-fixed);
}

%icon-button {
  @include remove-button-styles;
  font-size: 12px;
  margin: 0 4px;
  border-radius: 4px;
  height: 24px;
  width: 24px;
}

%delete-button {
  @extend %icon-button;
  background-color: var(--background-error-primary);
  color: var(--text-neutral-white-fixed);
}

.deleteConditionButton {
  @extend %delete-button;
  margin: 0 10px;
}

.deleteValidationButton {
  @extend %delete-button;
}

.moveValidationButton {
  @extend %icon-button;
  background-color: var(--background-neutral-octonary);
  color: var(--text-neutral-white-fixed);
}

.duplicateValidationButton {
  @extend %icon-button;
  background-color: var(--background-neutral-octonary);
  color: var(--text-neutral-white-fixed);
}

.conditionValueInputNumber {
  width: 50px;
}

.valueInputsWrapper {
  display: flex;
  gap: 0.5rem;
}
