/*
 *= require codemirror
 *= require_self
 *= require_directory .
 */
.CodeMirror {
  border: 1px solid #eee;
  height: auto;
}
.CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
}
.CodeMirror-matchingtag {
  background: rgba(255, 150, 0, .3);
}
