---
title: Pagina non trovata
view: none
nav: blank
rightbar: blank
---
%h1 La pagina che cercavi non esiste
%p{style: 'font-size: 1.5em; line-height: 1.5em;'} Controlla meglio l'indirizzo oppure prova una di queste pagine del progetto "Programma il Futuro".
%ul{style: 'font-size: 1.25em; line-height: 1.5em; min-height: 240px;'}
  %li<
    %a{href: 'http://programmailfuturo.it/progetto'} Descrizione del progetto
  %li<
    %a{href: 'http://programmailfuturo.it/chi'} Chi pu&ograve; partecipare
  %li<
    %a{href: 'http://programmailfuturo.it/perche'} Perch&eacute; partecipare
  %li<
    %a{href: 'http://programmailfuturo.it/come'} Come partecipare
