#pageheader
  .content{:style=>"overflow:visible"}
    #left
      %a{:href=>"/"}
        %img#logo-it{:src=>'/images/logos.gif'}

    #right

      %a{:href=>"http://facebook.com/programmailfuturo", :title=>'Seguici su Facebook', :target=>"_blank", :style=>"text-decoration:none"}
        %img{:src=>"/images/facebook_purple.png"}
      %a{:href=>"http://twitter.com/ProgrammaFuturo", :title=>'Seguici su Twitter', :target=>"_blank", :style=>"text-decoration:none"}
        %img{:src=>"/images/tumblr_purple.png"}
      %a{:href=>"//programmailfuturo.it/partner", :title=>'Sostieni il progetto', :style=>"text-decoration:none"}
        %img{:src=>"/images/donate_normal.png"}
      #sign_in_or_user{:style=>'width:550px; display:inline'}
      %br
      %br
      %br
      -@config[:header_links].each_pair do |title, link|
        %a.headerlink{href:link}= title.upcase

      #padding{:style => 'height: 10px'}

  #clear{:style=>'clear:both'}

  .desktop-feature
    -if request.path_info == "/"
      = view :hoc_count

:javascript
  $ = jQuery;
  $(document).ready(function() {
    $.ajax({
      type: "GET",
      url: '/dashboardapi/user_menu',
      //data: "id=" + id, // appears as $_GET['id'] @ ur backend side
      success: function(data) {
        // data is ur summary
        $('#sign_in_or_user').html(data);
      }
    });
  });