-# The Crowdin In-Context tool (https://crowdin.com/project/codeorg/settings#in-context) allows
-# us to view original & translated strings in Crowdin.
-# "in-TL" is a pseudo-language locale where the Crowdin strings are stored
- if request.locale === "in-TL"
  :javascript
    var _jipt = [];
    _jipt.push(['project', 'codeorg']);
    _jipt.push(['escape', function() {
      window.location.href = `${window.location.pathname}/lang/en-us`;
    }]);
  %script{type: "text/javascript", src: "//cdn.crowdin.com/jipt/jipt.js"}
