= view :"how-to/how_to_guide_nav", nav_current: hoc_s(:school_assemblies_label), nav_url: ["/how-to"], nav_aria_label: [hoc_s(:aria_label_call_to_action_hoc_how_to_educators)], nav_label: [hoc_s(:educators_label)]
