= view :"how-to/how_to_guide_nav", nav_current: hoc_s(:educators_label), nav_url: ["/how-to/events"], nav_aria_label: [hoc_s(:aria_label_call_to_action_hoc_how_to_school_assemblies)], nav_label: [hoc_s(:school_assemblies_label)]
