---
title: Go Beyond One Hour
theme: responsive
social:
  'og:title' : 'The EU Hour of Code is coming'
  'og:description' : "For every student: learn how fun coding is in just one hour, December 8-14."
  "og:image": "http://<%=request.host%>/images/hour-of-code-2014-video-thumbnail.jpg"
  "og:image:width": 1705
  "og:image:height": 949
  "og:url": "http://eu.code.org"
  "og:video": ""
  "og:video:width": ""
  "og:video:height": ""
  "og:video:type": ""
---

%link{href: "/css/learn_tabs.css", rel: "stylesheet"}

#learn-tabs{style: "padding-top:20px; padding-left:20px; padding-right:20px; background-color:white; background-color: rgb(219, 219, 219); overflow: hidden; margin-bottom: 10px;"}
  .content
    %ul.nav.nav-tabs
      %li{:class=>(request.path_info == '/students') ? 'active tab' : 'tab'}<
        %a{:href=>'/students'} Learn an Hour of Code
      %li{:class=>(request.path_info == '/students/beyond') ? 'active tab' : 'tab'}<
        %a{:href=>'/students/beyond'} Beyond One Hour
      %li{:class=>(request.path_info == '/students/codingclubs') ? 'active tab' : 'tab'}<
        %a{:href=>'/students/codingclubs'} Coding Clubs
        
= view :learn_carousels, variation:'beyond'
