---
title: Coding Clubs
theme: responsive
social:
  'og:title' : 'The EU Hour of Code is coming'
  'og:description' : "For every student: learn how fun coding is in just one hour, December 8-14."
  "og:image": "http://<%=request.host%>/images/hour-of-code-2014-video-thumbnail.jpg"
  "og:image:width": 1705
  "og:image:height": 949
  "og:url": "http://eu.code.org"
  "og:video": ""
  "og:video:width": ""
  "og:video:height": ""
  "og:video:type": ""
---

%link{href: "/css/learn_tabs.css", rel: "stylesheet"}

#learn-tabs{style: "padding-top:20px; padding-left:20px; padding-right:20px; background-color:white; background-color: rgb(219, 219, 219); overflow: hidden; margin-bottom: 10px;"}
  .content
    %ul.nav.nav-tabs
      %li{:class=>(request.path_info == '/students') ? 'active tab' : 'tab'}<
        %a{:href=>'/students'} Learn an Hour of Code
      %li{:class=>(request.path_info == '/students/beyond') ? 'active tab' : 'tab'}<
        %a{:href=>'/students/beyond'} Beyond One Hour
      %li{:class=>(request.path_info == '/students/codingclubs') ? 'active tab' : 'tab'}<
        %a{:href=>'/students/codingclubs'} Coding Clubs

%h1 Coding Clubs 
 
%h2 What is a CoderDojo? 
CoderDojo is the world's largest community of independent, free, programming clubs for young people. Clubs (Dojos) run all over the world on a weekly/bi-weekly basis, giving young people between the ages of 7 and 17 the opportunity to learn how to develop computer code, websites, apps, programs, games, and to explore and create with technology. In addition to hard technology skills, young people experience a fun, collaborative, high energy learning environment, while building complementary soft skills of creativity, innovation, communication, collaboration, teamwork and leadership. To date there are 500+ Dojos spread across 48 countries, impacting thousands of children on a weekly basis. 

%br
%br
%img{:src=>"/images/coder-dojo.png", style: "width:80%; height:80%;"}

%h2 How to find your local Dojo?
If you are interested in finding your local Dojo so you can start learning code or to mentor then <a href='http://zen.coderdojo.com/' target='_blank'>visit here</a> and enter your address. No Dojo in your area? Why not start one!

%h2 How to start a Dojo?
A CoderDojo Champion is a volunteer organiser who takes charge of setting up, running and maintaining a Dojo and following the CoderDojo ethos to facilitate young people to learn computer programming. 

There are five key steps to getting a Dojo up and running 
%ol 
  %li Become a CoderDojo Champion
  %li Gather your Team - Recruit a few technical/non technical volunteers
  %li Set a Date to Aim For 
  %li Find a Venue - schools, offices, libraries all make great Dojos
  %li Promote your Dojo - to friends, schools, social media 

%br
%b Put your community on the map by starting a Dojo today!

%img{:src=>"/images/map.png", style: "width:80%; height:80%;"}

%h2 What resources are available to get started?
If you are looking for information on getting a Dojo up and running, or for suggested content to use in your Dojo <a href='http://kata.coderdojo.com/' target='_blank'>check out Kata</a>, the open source wiki for the CoderDojo Community. 

The CoderDojo Foundation run monthly facilitated group calls, one-on-one calls among other supports for Dojo organisers. For more information visit <a href='http://coderdojo.org/' target='_blank'>their website</a> and don’t forget to sign up to the monthly newsletter. 
