.h2 {
  color: #5b6770; /* charcoal */
  padding: 10px 0;
}

.btn {
  color: #fff; /* white */
  background-color: #c6cacd; /* lighter_gray */
  border-color: #c6cacd; /* lighter_gray */
}

.btnOrange {
  background-color: #ffa400; /* orange */
  border-color: #ffa400; /* orange */
}

.cards {
  display: flex;
  flex-wrap: wrap;
}
