---
title: What's the impact of the Hour of Code?
nav: about_nav
social:
  "og:description": "We want to celebrate the efforts of all our partners by sharing some ways we measure the impact of this grassroots campaign."
  "og:image": "/images/2015AR/volunteers.png"
  "og:image:width": 1025
  "og:image:height": 601
  "og:video": ""
  "og:video:width": ""
  "og:video:height": ""
  "og:video:type": ""
theme: responsive
---

# What's the impact of the Hour of Code?

![image](/images/fit-375/hoc-certificates.jpg)&nbsp;&nbsp;&nbsp;
![image](/images/fit-375/hoc-girls.jpg)

**February, 2017**

At Code.org, we’re big believers in metrics. As you can see on our [About page](/about) or our [2016 Annual Report](/about/2016), we publish many of the metrics we use to track progress across all our programs, and there are hundreds of other smaller ways we make sure our work is moving the needle.

Given the hundreds of global partners and 198,000 organizers who support the Hour of Code campaign for CS Education Week, we want to celebrate *your* efforts by sharing some ways this grassroots campaign is changing the world.

*Looking for international stats on this year's Hour of Code? Check out [our blog](https://medium.com/anybody-can-learn/the-hour-of-code-an-international-movement-66702e388d35) about how countries around the world participated in 2016!*

<%= view :three_circles, circles: [
{img: '/images/2015AR/fit-150/circles1.jpg', text: '"Our students asked to have an hour every week." &mdash; Corinthia Azaniah Carter, Brooklyn, NY'},
{img: '/images/2015AR/fit-150/circles3.jpg', text: '"I feel that I\'m a part of spreading something big. This is going to make the future." &mdash; Nicholas Gallimore'},
{img: '/images/2015AR/fit-150/circles2.jpg', text: '"The best 3 days of my 30 year teaching career." &mdash; Sandra Taylor'}] %>


## The goal: breaking stereotypes and opening doors
The Hour of Code is at its core not about learning a brand new skill in just one hour. One hour isn’t enough to learn how to code. It's about increasing access to computer science by breaking stereotypes and opening doors.  Somebody may learn programming concepts like loops, conditionals, or basic debugging through the Hour of Code. But a much more important goal is for students and teachers to learn that computer science is fun — you can start at any age, in any classroom, even if you don’t have a computer.

**The Hour of Code is not limited to one hour of coding.** Thousands of the events during Computer Science Education Week go beyond one hour, and involve activities other than coding, all under the umbrella celebration of Hour of Code.


## The Hour of Code Impact Study
In early 2017 we released the results of a new study, conducted by our own evaluation team, that sought to measure the student impact of an Hour of Code. We surveyed students on their attitudes and confidence towards computer science, both before they did an Hour of Code and directly after.

At a high level, after just one Hour of Code:

- More students reported liking computer science
- More students reported feeling they are able to learn computer science, and
- More students reported feeling they are better at computer science than their peers

These findings were especially true for female students, which is particularly important, given Code.org’s mission to broaden participation in computer science among girls and underrepresented minorities.

For example, look at the change in attitudes among female high school students with no prior experience in computer science:

<p align="center"><img src="/images/high-school-girls-like-CS.jpg" width="60%"/></p>

It’s too early to tell whether this shift in perception will lead to more girls majoring in computer science in college or pursuing a career in it. But these results show how just one positive experience can dramatically transform one’s attitude toward an academic subject. It is often assumed that it’s more difficult to change the minds of students as they get older; this suggests that students should be exposed to computer science at all grade levels.

Read the entire [Hour of Code impact study here](https://code.org/files/HourOfCodeImpactStudy_Jan2017.pdf).

<br/>

[breakoutquote]

"I loved it, purely and wholly. It was fun to do, I want to just do that over and over again because I really enjoyed what I could do with it. I enjoyed its interactivity and how it felt to control what happened, it felt really satisfying to me. I wish we could do it every day."
<br/>
<br/>

— a middle school student on the Hour of Code Nampa, Idaho

[/breakoutquote]

<hr/>

## Survey of participating educators

We conduct a survey every year after the Hour of Code to discover rough participation demographics, how event organizers experienced the campaign, and more. The results for 2016 are in, and we’ve shared some interesting stats below.

Over 15,000 organizers who participated in Hour of Code 2016 completed our survey and shared their experiences. The survey was in English only and does not measure the experience of non-English-speaking organizers. The survey was also only sent to event organizers and classroom teachers who registered on the Hour of Code website. Many students or adults engage with the Hour of Code on their own, and their experience is not measured by this survey.

### Q: What were the demographics of the participating students?

#### A: Internationally: 48% female. Among U.S. participants: 38% underrepresented students of color

*Why is this important?* We’re trying to break stereotypes that limit participation in computer science by girls and underrepresented minorities. The first step in that process is just getting them to try an Hour of Code to see if they like it.

<img src="/images/hourofcodesurvey/female-male-URMs.png" width="90%">

*Note: Percentages are calculated based on the participating educators’ reports of total student participation by demographic. Underrepresented minorities are only reported among U.S. participants and include African American, Hispanic/Latino/Latina, Pacific Islander, or Native American/Alaskan Native students.*

### Q: Overall, how would you rate your Hour of Code experience?

#### A: 98.1% rated their experience as Good or Great.

*Why is this important?* We want to know that teachers enjoy their Hour of Code experience. We respect teachers’ time, and know how hard it is to try something new in the classroom.

<img src="/images/hourofcodesurvey/howwouldyourate.png" width="50%">

### Q: Where was your Hour of Code event?

#### A: Events were mostly held in public schools

*Why is this important?* Public schools in particular reach disadvantaged and underrepresented students who might not otherwise ever try computer science. While anyone can do an Hour of Code anywhere, at any time, we’re pleased to see such widespread adoption within public education—not only in the US, but around the world.

<img src="/images/hourofcodesurvey/wherewasyourevent.png" width="70%">

### Q: Does your school already teach/offer a computer science class that includes programming or coding?

#### A: 50.6% reported that their school doesn’t offer such a course.

*Why is this important?* While the number of schools that offer computer science has increased in the last few years, the Hour of Code remains a great introduction for those schools who haven’t been able to support an entire course yet. Roughly half of the teachers who took our survey don’t get any other opportunities to expose their students to computer science.

<img src="/images/hourofcodesurvey/alreadyteach.png" width="70%">


### Q: How has your experience with the Hour of Code affected your interest in teaching computer science?

#### A: 88.1% said they were"more interested" in teaching CS.

*Why is this important?* The Hour of Code isn’t just about breaking stereotypes for students—we want to make computer science approachable to teachers, too! Anybody can learn code, and any educator can learn how to teach it.

<img src="/images/hourofcodesurvey/affectedyourinterest.png" width="65%">


### Q: If given the opportunity, would you continue teaching coding or computer science beyond just one hour?

#### A: 60% said they would teach computer science if given the opportunity (and 21.7% already started teaching it after a previous Hour of Code).

*Why is this important?* Most of the Hour of Code organizers are not computer science teachers. In fact, only 15% this year had taught it before the Hour of Code. We’re seeing many teachers from all sorts of backgrounds beginning to teach computer science.

<img src="/images/hourofcodesurvey/wouldyoucontinueteaching.png" width="80%">


### Q: Did any of your students do coding for longer than one hour?

#### A: 87% of organizers said their students coded for more than one hour

*Why is this important?* One Hour of Code isn’t enough for a student to really learn any computer science. We just want students to do enough to learn if they like it. And it looks like they do! 87% of teachers said their students went beyond an Hour of Code!

<img src="/images/hourofcodesurvey/longerthanonehour.png" width="55%">


## Selected Teacher Testimonials

- “My class loved it - they wanted more!”<br><br>
- “This is my third year doing it with my students, and watching their growth is phenomenal. I love what you are doing and I love being able to inspire and support my female students and my students of color. I love the role models that you provide in the inspirational and instructional videos. Students see themselves in your resources, and that is perfect. Thank you.”<br><br>

<p align="center"><img src="/images/hourofcodesurvey/students2.jpg" width="80%"/></p>

- “I believe that this Hour of Code concept is truly amazing. I teach a class with some students with special needs and they flourish in this type of learning. I am impressed with their ability to stay focused and control their behavior while completing the Hour of Code.”<br><br>
- “Make it a month instead of an Hour of Code :)”<br><br>
- “This year was the best year ever. We went to our Statehouse and had legislators and community partners involved. The website that was created with multiple activities gave students many more options than in the past and was fantastic. It was SO INCREDIBLY helpful to have a clearinghouse page of multiple activities, every student was able to find something they liked.”

<p align="center"><img src="/images/hourofcodesurvey/students1.jpg" width="80%"/></p>

- “I LOVE getting students excited about the possibilities with computer science, especially the younger ones and the girls. It's like opening up a whole new magic world to them.”<br><br>
- “It was fun to watch the kids succeed. Even those who didn't think they were good at math or logic were able to work through the exercise because they're presented as fun puzzles, not tedious work.”<br><br>
- “I don't know enough about computer science, but it was so amazing it brought tears to my eyes. It was amazing to hear parents telling me stories about their students going home and coding MORE. I LOVE this movement. I will never be a computer oriented person, I joke that I should've been born in the 1800's but I understand and appreciate the need and demand for computer science. Thank you!!!”




