.panels {
  display: flex;

  &.vertical {
    flex-direction: column;
  }

  .panel {
    flex: 1;
  }
}

.weightInput {
  width: 25px;
}

.instructions {
  max-height: 100px;
  overflow-y: scroll;
  border: 1px solid gray;
}

.console {
  height: 100px;
  overflow-y: scroll;
}
