@import 'color.scss';

$default-border-radius: 0;

.sidePanel {
  display: flex;
  color: $neutral_light;
  background-color: $dark_black;
  border-radius: $default-border-radius;
  padding: 0;
  box-sizing: border-box;
  flex-direction: column;
  height: 100%;
  width: 20%;
}
