<% var msg = require('../locale') %>

<div id="right-button-cell">
  <button id="rightButton" class="share">
    <img src="<%= assetUrl('media/1x1.gif') %>"><%= msg.finish() %>
  </button>
</div>

<!-- This is a comment unique to Craft -->
