<% var msg = require('../locale') %>

<div id="right-button-cell">
  <button id="rightButton" class="share mc-share-button">
    <div><%= msg.finish() %></div>
  </button>
</div>

<!-- This is a comment unique to Craft -->
