.feature-csedweek {
  display: none
}

.h0 {
  color: #555;
  font-size: 44px;
  font-family: Gotham\ 4r, sans-serif;
  margin-top: 50px;
  margin-bottom: 30px;
  line-height: 1.2em
}

.btn-gray-override {
  display: inline-block;
  font-size: 12px;
  font-family: "Gotham 4r",sans-serif;
  border-style: solid;
  border-width: 1px;
  text-decoration: none;
  border-color: rgb(187, 187, 187);
  box-sizing: border-box;
  overflow: hidden;
  white-space: nowrap;
  color: rgb(91, 103, 112);
  background-color: rgb(231, 232, 234);
  box-shadow: rgba(255, 255, 255, 0.73) 0px 2px 0px 0px inset;
  height: 34px;
  padding-left: 24px;
  padding-right: 24px;
  border-radius: 0px;
}

.breakoutquote {
  background-color: #586771;
  color: #fff;
  padding: 35px;
  font-size: 18px
}

.breakoutquote a:active, .breakoutquote a:hover, .breakoutquote a:link, .breakoutquote a:visited {
  color: #fff;
  text-decoration: underline
}

.clearboth {
  clear: both
}

blockquote {
  border-left: 0;
  padding-left: 0;
  margin: 0 0 20px
}

blockquote p {
  color: #ff8a00;
  line-height: 1.8
}

em strong, strong em {
  font-family: Gotham\ 7i, sans-serif
}

/*This can be removed when Bootstrap is updated, as they've addressed
the bug in the newest version. As-is, this overrides the display:block
setting that removes our triangle dropdowns on list items.*/
summary {
  display: list-item;
}

th a:active, th a:hover, th a:link, th a:visited {
  color: #fff
}

#zone-heading-banner-wrapper {
  background: #ffa400 url(/images/hour-of-code-banner-bg.png) 0 0 repeat-x
}

#zone-heading-banner-wrapper img {
  width: 100%
}

#index #gap {
  height: 20px
}

#index #top {
  background-color: #00b2c0;
  padding: 20px
}

#index #video {
  float: left
}

#index #start {
  float: left;
  text-align: center
}

#index .count {
  color: #fff;
  line-height: 1em
}

#index .beyond {
  color: #fff
}

#index .count h1 {
  font-size: 40px;
  line-height: 40px;
  margin: 0;
  margin-top: 0;
  margin-bottom: 0
}

#index .count h1, #index .count h2 {
  font-family: Gotham\ 5r, sans-serif;
  color: #fff;
  font-weight: 400
}

#index .count h2 {
  font-size: 48px;
  line-height: 48px
}

#index .count h2, #index .count h3 {
  margin-top: 5px;
  margin-top: 0;
  margin-bottom: 0
}

#index .count h3 {
  font-size: 32px;
  line-height: 56px
}

#index .count h3, #index .count h4 {
  font-family: Gotham\ 5r, sans-serif;
  color: #fff;
  font-weight: 400
}

#index .count h4 {
  font-size: 26px;
  line-height: 26px;
  margin-top: 15px
}

#index #twentyhour {
  background-color: #7e5ca2;
  color: #fff;
  padding: 20px;
  overflow: hidden
}

#index #twentyhour a {
  color: #fff
}

#index #twentyhour #left {
  text-align: center
}

#index #twentyhour #right {
  text-align: right
}

#index #twentyhour #heading {
  font-family: Gotham\ 5r, sans-serif;
  font-size: 21px;
  font-weight: 400;
  padding-bottom: 14px
}

#index #twentyhour #text {
  font-size: 18px
}

#oldindex #gap {
  height: 20px
}

#oldindex #top {
  background-color: #00b2c0;
  padding: 20px
}

#oldindex #video {
  float: left
}

#oldindex #start {
  float: left;
  text-align: center
}

#oldindex .count {
  color: #fff;
  line-height: 1em
}

#oldindex .beyond {
  color: #fff
}

#oldindex .count h1 {
  font-size: 56px;
  line-height: 56px;
  margin: 0
}

#oldindex .count h1, #oldindex .count h2 {
  font-family: Gotham\ 5r, sans-serif;
  color: #fff;
  font-weight: 400
}

#oldindex .count h2 {
  font-size: 36px;
  line-height: 36px;
  margin-top: 5px;
  margin-bottom: 0
}

#oldindex .count h3 {
  font-family: Gotham\ 5r, sans-serif;
  color: #fff;
  font-size: 32px;
  line-height: 32px;
  font-weight: 400;
  margin-top: 5px;
  margin-bottom: 0
}

#oldindex .count h4 {
  color: #fff;
  font-size: 26px;
  line-height: 26px;
  font-weight: 400;
  margin-top: 15px
}

.donor_column {
  width: 250px;
  padding: 25px;
  border: 2px solid #f2f2f2;
  text-align: center;
  float: left
}

.platinum_donor_column {
  width: 395px;
  height: 175px;
  padding: 40px;
  border: 2px solid #f2f2f2;
  float: left
}

.greybox ul li:before {
  color: #fff
}

.tight-heading h1 {
  margin-top: 30px;
  margin-bottom: 15px
}

.mainbar {
  padding-right: 40px
}

.mainbar h2 {
  margin-topp: 30px
}

.mainbar h3 {
  margin-left: 10px
}

.mainbar p {
  margin-left: 30px
}

.sidebar {
  background-color: #eee;
  margin-top: 30px;
  padding: 30px;
  border-radius: 5px
}

.sidebar h2 {
  margin-top: 0
}

.sidebar h3 {
  font-family: Gotham\ 4r, sans-serif;
  font-size: 18px
}

.sidebar p {
  margin-left: 20px
}

.courseblock {
  background-color: #eee;
  margin-top: 20px;
  padding: 20px;
  border-radius: 5px
}

.courseblock a {
  text-decoration: none;
  font-weight: 400;
  color: dimgray;
  font-family: Gotham\ 4r, sans-serif
}

.courseblock h3 {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 24px
}

.courseblock img {
  float: left;
  text-align: right;
  margin-right: 20px;
  padding-bottom: 10px;
  max-height: 150px;
  width: auto
}

.teacher-button {
  background-color: #59b9dc;
  border-color: #59b9dc
}

.district-button {
  background-color: #a69bc1;
  border-color: #a69bc1
}

#hoc2014 {
  font-size: 18px;
  color: #fff;
  font-family: Gotham\ 5r, sans-serif;
  line-height: 32px
}

#hoc2014 #heading {
  font-size: 26px
}

#hoc2014 #heading a, #hoc2014 a {
  color: #fff
}

#hoc2014 .optionleft {
  width: 44%;
  float: left;
  height: 60px;
  padding-right: 5px;
  padding-top: 6px;
  text-align: right
}

#hoc2014 .optionright {
  width: 56%;
  float: left;
  text-align: left
}

#hoc2014 .optionbutton {
  font-size: 18px;
  font-family: Gotham\ 5r, sans-serif;
  height: 40px
}

#hoc2014 .whatishoc {
  font-size: 14px;
  font-family: Gotham\ 5r, sans-serif
}

.studiobar h1 {
  color: #586771;
  margin: 0;
  padding: 0;
  padding-bottom: 5px;
  margin-top: 26px
}

.studiobar a:active, .studiobar a:hover, .studiobar a:link, .studiobar a:visited {
  text-decoration: none;
  color: #586771
}

.studiobar .outerblock {
  width: 223px;
  margin-bottom: 36px
}

.studiobar .innerblock {
  background-color: rgba(88, 103, 113, .1)
}

.studiobar .title {
  font-size: 20px;
  font-family: Gotham\ 5r, sans-serif;
  padding-left: 10px;
  padding-right: 10px;
  border-width: 0 1px;
  padding-top: 10px
}

.studiobar .body, .studiobar .title {
  border-color: #ddd;
  border-style: none
}

.studiobar .body {
  font-family: Gotham\ 4r, sans-serif;
  padding: 10px;
  padding-top: 4px;
  line-height: 18px;
  border-width: 0 1px 1px
}

.learnpage .grey_hr_fine {
  height: 1px;
  margin-top: 1px;
  margin-bottom: 1px;
  border: 0;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #ccc
}

#congrats .input_error {
  border: 2px solid red
}

#congrats .grey_hr {
  height: 2px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 0;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #ccc
}

#congrats .grey_hr_fine {
  height: 1px;
  margin-top: 1px;
  margin-bottom: 1px;
  border: 0;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #ccc
}

#congrats .special_heading {
  border-bottom-color: #b7c500;
  border-bottom-style: solid;
  border-bottom-width: 5px;
  margin-right: 40px;
  color: #7e5ca2;
  font-size: 16px
}

#congrats .button_disabled {
  background-color: #e1e0e0 !important;
  border-color: #e1e0e0 !important;
  color: #c1c1c1 !important
}

#congrats .button_enabled {
  background-color: #ffa400 !important;
  border-color: #ffa400 !important;
  color: #fff !important;
  margin-top: 0
}

#congrats .color_boys {
  color: #00b1c0
}

#congrats .color_girls {
  color: #ffa000
}

#congrats .backgroundcolor_boys {
  background-color: #00b1c0
}

#congrats .backgroundcolor_girls {
  background-color: #ffa000
}

.warning {
  color: #fff;
  background-color: #b9bf15;
  padding: 30px;
  margin-top: 10px;
  margin-bottom: 10px
}

.button_disabled {
  background-color: #e1e0e0 !important;
  border-color: #e1e0e0 !important;
  color: #c1c1c1 !important
}

.btn-white {
  color: #333;
  background-color: #fff;
  border-color: #ccc
}

.slide div.slide-participants-count {
  color: #d1d566
}

.btn-carousel-slide {
  background: #ffa401
}

.course-carousel .slide-next, .course-carousel .slide-prev {
  background-color: #7765a1
}

.container_nonresponsive {
  width: 970px;
  margin: 0 auto;
  max-width: none !important
}

.lines_of_code_header {
  width: 100%;
  color: #fff;
  text-align: center;
  font-size: 30px
}

a.lines_of_code_link {
  color: grey;
  text-decoration: none;
  font-family: Gotham\ 4r, sans-serif
}

.show-film .show-film-content {
  float: left;
  width: 300px;
  margin: 0 25px 0 0;
  text-align: center
}

.show-film .show-film-content.last {
  margin-right: 0
}

.show-film h3 {
  font-size: 1.25em;
  font-family: Gotham\ 4r, sans-serif;
  text-align: center;
  color: #7c7c7c;
  margin: 1em 0 .5em
}

a.btn-default:active, a.btn-default:hover, a.btn-default:link, a.btn-default:visited {
  color: #fff
}

.assign-confirm-modal h2 {
  margin-top: 10px
}

.assign-confirm-modal .close {
  margin-top: -10px
}

.assign-confirm-modal .modal-buttons {
  margin-top: 15px
}

.hidden-label {
  position: fixed;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}