-if @stats.present?
  %ul
    %li 
      Accounts
      %ul
        %li 
          Users:
          =@stats['accounts']['users']
        %li 
          Students:
          =@stats['accounts']['students']
        %li
          Teachers:
          =@stats['accounts']['teachers']
    %li
      Born Accounts
      %ul
        %li 
          Users:
          =@stats['born_accounts']['users']
        %li 
          Students:
          =@stats['born_accounts']['students']
        %li 
          Female Students:
          =@stats['born_accounts']['female_students']
        %li 
          Male Students:
          =@stats['born_accounts']['male_students']
        %li 
          Teachers:
          =@stats['born_accounts']['teachers']
        %li 
          Female Teachers:
          =@stats['born_accounts']['female_teachers']
        %li 
          Male Teachers:
          =@stats['born_accounts']['male_teachers']
    %li
      Actives
      %ul
        %li 
          7-Day Students:
          =@stats['actives']['seven_day_students']
        %li 
          7-Day Female Students:
          =@stats['actives']['seven_day_female_students']
        %li 
          7-Day Male Students:
          =@stats['actives']['seven_day_male_students']
        %li 
          30-Day Students:
          =@stats['actives']['thirty_day_students']
        %li 
          30-Day Female Students:
          =@stats['actives']['thirty_day_female_students']
        %li 
          30-Day Male Students:
          =@stats['actives']['thirty_day_male_students']
  % li
    Retention
    %ul
      %li
        

  =link_to 'View Level Progress (slow query) >>', admin_progress_path
  %br
  =link_to 'View Concept Completions (slow query) >>', admin_concepts_path
  %br
  =link_to 'View Level Completion stats >>', level_completions_path
  %br
  =link_to 'View Monthly Metrics >>', reports_path(action: 'monthly_metrics')
- else
  %h2 Error: @stats is nil.
