@use '@code-dot-org/component-library-styles/font.scss' as font;
@use '@code-dot-org/component-library-styles/variables.scss' as variables;
@use '@code-dot-org/component-library-styles/cms/variables.scss' as cmsVars;

.yourSchool {
  width: 100%;
  z-index: variables.$zindex-fixed;

  label {
    width: 100%;
    min-width: 100px;

    &:has(:required) {
      span:first-child::after,
      :has(> [type='checkbox']) span:last-child::after {
        content: ' *';
      }
    }

    &:has(input[type='checkbox']) {
      align-items: flex-start;

      input,
      i {
        flex-shrink: 0;
        margin-top: 0.15rem;
      }
    }

    input:not([type='checkbox']),
    select,
    div:has(> select) {
      width: 100%;
      height: 2.5rem;
    }
  }

  i {
    text-align: center;
  }

  .yourSchoolNotice {
    max-width: 43rem;
    padding: 1.5rem 2rem;

    img {
      background: none;
      height: auto;
    }

    .yourSchoolNoticeContent {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .yourSchoolNoticeDesc {
        color: var(--text-neutral-tertiary);
      }

      .yourSchoolNoticeButtons {
        display: flex;
        width: 100%;
        justify-content: space-between;
        gap: 0.75rem;
      }
    }
  }

  .yourSchoolMapSection {
    .yourSchoolMapHeading,
    .yourSchoolMapParagraph {
      text-align: center;
    }

    .yourSchoolMapContainer {
      background-color: var(--background-neutral-primary);
      border: 1px solid var(--borders-neutral-primary);
      border-radius: 0.25rem;

      .yourSchoolMapSearchFieldset {
        display: flex;
        border: none;
        margin: 0;
        padding: 1rem 1.25rem;
        gap: 1rem;
        width: 100%;
      }

      .yourSchoolMapSources {
        display: flex;
        padding: 0.75rem 1.25rem;

        .yourSchoolMapData,
        .yourSchoolMapPartner {
          margin: 0;
        }

        .yourSchoolMapPartner {
          margin-inline-start: auto;

          .yourSchoolMapPartnerText {
            display: inline-block;
            margin: 0;

            &::after {
              content: '';
              display: inline-block;
              width: 0.75rem;
            }
          }

          .yourSchoolMapPartnerImg {
            display: inline-block;
            vertical-align: top;
            width: 4.5rem;
            height: 1.25rem;
          }
        }
      }
    }
  }

  .yourSchoolFormSection {
    .yourSchoolFormHeading,
    .yourSchoolFormParagraph {
      text-align: center;
    }

    .yourSchoolFormContainer {
      background-color: var(--background-neutral-primary);
      border: 1px solid var(--borders-neutral-primary);
      border-radius: 0.25rem;
      padding: 1.88rem;

      .yourSchoolFormSubmitted {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 0.75rem;

        .yourSchoolFormSubmittedIcon {
          color: var(--text-success-primary);
          font-size: 2rem;
        }
      }

      .yourSchoolForm {
        display: flex;
        flex-direction: column;
        gap: 1.88rem;

        .yourSchoolFormFieldset {
          display: flex;
          flex-direction: column;
          gap: 1rem;
          border: none;
          margin: 0;
          padding: 0;
          width: 100%;

          textarea {
            border-radius: 0.25rem;
            resize: none;
            width: 100%;
            height: 6.25rem;
            padding: 0.5rem 0.75rem;
          }

          .yourSchoolFormFieldsetTitle {
            @include font.main-font-semi-bold;
            display: flex;
            gap: 0.625rem;
            font-size: 1.25rem;
            line-height: 1.4;
            margin: 0 0 1.25rem;

            .yourSchoolFormFieldsetIcon {
              color: var(--text-brand-teal-primary);
              flex-shrink: 0;
              line-height: 1.4;
              margin-inline-start: -2px;
            }
          }

          .yourSchoolFormFieldsetDesc {
            margin: 0;
          }

          .yourSchoolFormFieldsetRow {
            display: flex;
            gap: 1rem;
            border: none;
            margin: 0;
            padding: 0;
          }

          .yourSchoolFormDropdownRow {
            span:first-child::after {
              content: none;
            }
          }

          .yourSchoolFormFieldsetChips {
            label {
              margin: 0;

              input {
                width: auto;
                height: auto;
              }
            }
          }

          .yourSchoolFormFollowUp {
            display: flex;
            flex-direction: column;
            background-color: var(--background-neutral-secondary);
            border-radius: 0.25rem;
            gap: 1rem;
            padding: 1rem;

            fieldset {
              display: flex;
              flex-direction: column;
              gap: 1rem;
              border: none;
              margin: 0;
              padding: 0;

              legend {
                @include font.main-font-semi-bold;
                font-size: 0.875rem;
                line-height: 1.54;
                margin-bottom: 0.5rem;
              }
            }

            .yourSchoolFormFollowUpRow {
              display: flex;
              gap: 1rem;

              & > * {
                width: auto;
                min-width: 0;
              }
            }
          }
        }

        .yourSchoolFormSubmit {
          display: flex;
          align-items: center;
          gap: 1.25rem;

          .yourSchoolFormError {
            color: var(--text-error-primary);
            margin: 0;
          }
        }
      }

      .yourSchoolFormBottomText {
        margin: 0;
      }
    }
  }
}

@media screen and (min-width: cmsVars.$mobile-breakpoint + 1px) {
  .yourSchool {
    .yourSchoolFormSection {
      .yourSchoolFormContainer {
        .yourSchoolForm {
          .yourSchoolFormFieldset {
            .yourSchoolFormDropdownRow {
              display: grid;
              grid-template-columns: 1fr 9.375rem;
              align-items: center;
              column-gap: 1rem;

              *:not(:first-child) {
                grid-column: 2;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: cmsVars.$mobile-breakpoint) {
  .yourSchool {
    .yourSchoolMapSearchFieldset {
      flex-direction: column;
    }

    .yourSchoolMapSection {
      .yourSchoolMapContainer {
        .yourSchoolMapSources {
          border-top: 1px solid var(--borders-neutral-primary);

          .yourSchoolMapData {
            display: none;
          }

          .yourSchoolMapPartner {
            margin: 0 auto;
          }
        }
      }
    }

    .yourSchoolFormSection {
      .yourSchoolFormContainer {
        .yourSchoolForm {
          .yourSchoolFormFieldset {
            .yourSchoolFormFieldsetRow {
              flex-direction: column;
            }
          }

          .yourSchoolFormSubmit {
            flex-direction: column-reverse;

            .yourSchoolFormButton,
            .yourSchoolFormError {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
