:ruby
  block_item = [
    {
      title: hoc_s("app_lab_page.projects.slider_sketch.title"),
      image: "/images/app-lab/slider-sketch.png",
      desc: hoc_s("app_lab_page.projects.slider_sketch.desc"),
      url: CDO.studio_url("/projects/applab/JNbplBXMisx2aMefUkh39g/remix"),
      aria_label: hoc_s("app_lab_page.projects.slider_sketch.aria_label"),
    },
    {
      title: hoc_s("app_lab_page.projects.landmark_flashcards.title"),
      image: "/images/app-lab/landmark-flashcards.png",
      desc: hoc_s("app_lab_page.projects.landmark_flashcards.desc"),
      url: CDO.studio_url("/projects/applab/sNZOTB_PiXAHt3Q5h_aRgQ/remix"),
      aria_label: hoc_s("app_lab_page.projects.landmark_flashcards.aria_label"),
    },
    {
      title: hoc_s("app_lab_page.projects.choose_adventure.title"),
      image: "/images/app-lab/milk-adventure.png",
      desc: hoc_s("app_lab_page.projects.choose_adventure.desc"),
      url: CDO.studio_url("/projects/applab/nI9iumSHbTn5mHBXl-wxMw/remix"),
      aria_label: hoc_s("app_lab_page.projects.choose_adventure.aria_label"),
    },
    {
      title: hoc_s("app_lab_page.projects.poke_pig.title"),
      image: "/images/app-lab/poke-pig.png",
      desc: hoc_s("app_lab_page.projects.poke_pig.desc"),
      url: CDO.studio_url("/projects/applab/r469vc1FFSOxOlUruTFlUA/remix"),
      aria_label: hoc_s("app_lab_page.projects.poke_pig.aria_label"),
    },
    {
      title: hoc_s("app_lab_page.projects.pet_poll.title"),
      image: "/images/app-lab/pet-data.png",
      desc: hoc_s("app_lab_page.projects.pet_poll.desc"),
      url: CDO.studio_url("/projects/applab/TjHfwdUd3ENlyImb7VX5Cg/remix"),
      aria_label: hoc_s("app_lab_page.projects.pet_poll.aria_label"),
    },
    {
      title: hoc_s("app_lab_page.projects.pensive_painter.title"),
      image: "/images/app-lab/pensive-painter.png",
      desc: hoc_s("app_lab_page.projects.pensive_painter.desc"),
      url: CDO.studio_url("/projects/applab/IAK_Qyc23QrkAB61KGvn1g/remix"),
      aria_label: hoc_s("app_lab_page.projects.pensive_painter.aria_label"),
    },
  ]

.action-block__wrapper.action-block__wrapper--three-col
  - block_item.each do |block_item|
    .action-block.action-block--one-col.flex-space-between
      .content-wrapper
        %h3
          = block_item[:title]
        %img{src: block_item[:image], alt: ""}
        %p
          = block_item[:desc]
      .content-footer
        %a.link-button{href: "#{block_item[:url]}", "aria-label": "#{block_item[:aria_label]}"}
          =hoc_s("app_lab_page.projects.button")
