:ruby
  videos = [
    {
      download: "//videos.code.org/applab-hoc/applab-intro-gettingstarted.mp4",
      code: "wAuYr1IntQs",
      caption: hoc_s("app_lab_page.videos.captions.getting_started"),
    },
    {
      download: "//videos.code.org/applab-hoc/applab-intro-events.mp4",
      code: "fypSGGZZfzM",
      caption: hoc_s("app_lab_page.videos.captions.interactive"),
    },
    {
      download: "//videos.code.org/applab-hoc/applab-intro-share.mp4",
      code: "EWWXjOI8MNE",
      caption: hoc_s("app_lab_page.videos.captions.share"),
    },
    {
      download: "//videos.code.org/applab-hoc/applab-intro-designmode.mp4",
      code: "ILtK0xEsoPs",
      caption: hoc_s("app_lab_page.videos.captions.design"),
    },
    {
      download: "//videos.code.org/applab-hoc/applab-intro_imagesandsounds.mp4",
      code: "SGQayvro64w",
      caption: hoc_s("app_lab_page.videos.captions.image"),
    },
    {
      download: "//videos.code.org/applab/how-to-introduction.mp4",
      code: "xlbRL5eOgkI",
      caption: hoc_s("app_lab_page.videos.captions.intro"),
    },
    {
      download: "//videos.code.org/applab/how-to-make-an-app.mp4",
      code: "tDnoxkOSfQw",
      caption: hoc_s("app_lab_page.videos.captions.simple"),
    },
    {
      download: "//videos.code.org/applab/whack-e-moji.mp4",
      code: "WZVAA3ajZxc",
      caption: hoc_s("app_lab_page.videos.captions.emoji"),
    },
    {
      download: "//videos.code.org/applab/how-to-choose-your-own-adventure.mp4",
      code: "ZhgBSYKWL2A",
      caption: hoc_s("app_lab_page.videos.captions.how_to"),
    },
  ]

.carousel-wrapper.video-carousel
  %swiper-container.applab-videos{navigation: "true", "navigation-next-el": ".nav-next-applab-videos", "navigation-prev-el": ".nav-prev-applab-videos", pagination: "true", init: "false", "allow-touch-move": "false"}
    - videos.each do |video|
      %swiper-slide
        %figure
          = view :video_with_fallback, video_code: video[:code], download_path: video[:download]
          %figcaption.no-margin-bottom
            = video[:caption]

  %button.swiper-nav-prev.nav-prev-applab-videos
  %button.swiper-nav-next.nav-next-applab-videos
