:ruby
  videos = [
    {
      id: "getting_started",
      code: "wAuYr1IntQs",
      caption: hoc_s("app_lab_page.videos.captions.getting_started"),
    },
    {
      id: "interactive",
      code: "fypSGGZZfzM",
      caption: hoc_s("app_lab_page.videos.captions.interactive"),
    },
    {
      id: "share",
      code: "EWWXjOI8MNE",
      caption: hoc_s("app_lab_page.videos.captions.share"),
    },
    {
      id: "design",
      code: "ILtK0xEsoPs",
      caption: hoc_s("app_lab_page.videos.captions.design"),
    },
    {
      id: "image",
      code: "SGQayvro64w",
      caption: hoc_s("app_lab_page.videos.captions.image"),
    },
    {
      id: "intro",
      code: "xlbRL5eOgkI",
      caption: hoc_s("app_lab_page.videos.captions.intro"),
    },
    {
      id: "simple",
      code: "tDnoxkOSfQw",
      caption: hoc_s("app_lab_page.videos.captions.simple"),
    },
    {
      id: "emoji",
      code: "WZVAA3ajZxc",
      caption: hoc_s("app_lab_page.videos.captions.emoji"),
    },
    {
      id: "how_to",
      code: "ZhgBSYKWL2A",
      caption: hoc_s("app_lab_page.videos.captions.how_to"),
    },
  ]

.video-series
  - videos.each do |video|
    %figure
      = view :display_video_thumbnail, id: video[:id], video_code: video[:code], caption: video[:caption], play_button: 'center', letterbox: 'false'

