%link{href: asset_path('css/curriculum_table_styling.css'), rel: 'stylesheet', type: 'text/css'}
%script{src: webpack_asset_path('js/reference_guides/new.js'),
        data: {baseUrl: @base_url.to_json}}
#form

