---
title: Workshop statistics
---
%h1 Workshop statistics
%ul
  %li
    %a{href: "workshop-stats/workshop-creation-counts"} Workshop creation counts
  %li
    %a{href: "workshop-stats/workshop-signup-counts"} Workshop signup counts
