---
title: Workshop creation counts
---
- total_count = DB[:forms].where(kind:'ProfessionalDevelopmentWorkshop').count
- recent_count = DB.fetch("SELECT count(*) AS count FROM forms WHERE kind='ProfessionalDevelopmentWorkshop' AND DATE_SUB(CURDATE(),INTERVAL 2 WEEK) <= created_at")

%h1 Workshop creation counts

%ul
  %li Total workshop count: #{total_count}
  %li Workshops created over the past two weeks: #{recent_count.first[:count]}
