---
title: Workshop signup counts
---
- total_count = DB[:forms].where(kind:'ProfessionalDevelopmentWorkshopSignup').count
- recent_count = DB.fetch("SELECT count(*) AS count FROM forms WHERE kind='ProfessionalDevelopmentWorkshopSignup' AND DATE_SUB(CURDATE(),INTERVAL 2 WEEK) <= created_at")

%h1 Workshop creation counts

%ul
  %li Total workshop signup count: #{total_count}
  %li Workshop signups over the past two weeks: #{recent_count.first[:count]}
