!!! 5
%html
  %head
    %link{:rel=>'stylesheet', :type=>'text/css', :href=>'/css/common.css'}
    %link{:rel=>'stylesheet', :type=>'text/css', :href=>'/css/font-awesome.min.css'}
    - if header['chart']
      %script{src:'https://www.google.com/jsapi'}
    - if header['state-facts']
      %link{:rel=>'stylesheet', :type=>'text/css', :href=>'/css/state-facts-print.css'}
      %link{:rel=>'stylesheet', :type=>'text/css', :href=>'/css/state-facts.css'}
  %body
    = body
