name: Check for manual deployment requirements

on:
  pull_request:
    types: [opened, synchronize]

jobs:
  add-comment:
    runs-on: ubuntu-latest

    steps:
    - name: Check for file changes that must be deployed manually
      id: check_files
      uses: actions/github-script@v7
      with:
        script: |
          const prFiles = await github.rest.pulls.listFiles({
            owner: context.repo.owner,
            repo: context.repo.repo,
            pull_number: context.issue.number
          });

          const dmsTasksModified = prFiles.data.some(file => file.filename === 'aws/dms/tasks.yml');

          if (dmsTasksModified) {
            const dmsComment = "This PR modifies the `aws/dms/tasks.yml` file. These changes must be deployed manually by @code-dot-org/infrastructure before merging.";
            const comments = await github.rest.issues.listComments({
              owner: context.repo.owner,
              repo: context.repo.repo,
              issue_number: context.issue.number
            });

            const commentExists = comments.data.some(comment => comment.body.includes(dmsComment));

            if (!commentExists) {
              await github.rest.issues.createComment({
                issue_number: context.issue.number,
                owner: context.repo.owner,
                repo: context.repo.repo,
                body: dmsComment
              });
            }
          }
