# This workflow uses actions that are not certified by GitHub.  They are
# provided by a third-party and are governed by separate terms of service,
# privacy policy, and support documentation.
#
# This workflow will install a prebuilt Ruby version, install dependencies, and
# run tests and linters.
name: "Ruby on Rails CI"
on:
  push:
    branches: [ "staging" ]
  pull_request:
    branches: [ "staging" ]
jobs:
  test:
    runs-on: ubuntu-latest
    env:
      CI: true
      RAILS_ENV: test
      RACK_ENV: test
      DISABLE_SPRING: 1
    container:
      image: codedotorg/code-dot-org:1.3
      volumes:
        - rbenv:/home/circleci/.rbenv
        - mysql:/var/lib/mysql
    steps:
      - name: Start MySQL
        run: sudo /etc/init.d/mysql start
    
      #- name: Set mysql root password
      #  run: echo "ALTER USER 'root'@'localhost' IDENTIFIED WITH mysql_native_password BY '';" | sudo mysql -uroot -proot
    
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 200
        
      - name: Setup locals
        run: |
          chmod +x docker/setup_unit_tests_locals.sh
          ./docker/setup_unit_tests_locals.sh 
        
      - name: Install Ruby and gems
        uses: ruby/setup-ruby@8f312efe1262fb463d906e9bf040319394c18d3e # v1.92
        with:
          ruby-version: 2.5
          bundler-cache: true
        
      - name: Rake Install
        run: bundle exec rake install
      
     # Infer node version from .nvmrc, courtesy of https://github.com/actions/setup-node/issues/32#issuecomment-539794249
      - name: Read .nvmrc
        run: echo ::set-output name=NODE_VERSION::$(cat .nvmrc)
        id: nvm
      - name: Use Node.js ${{ steps.nvm.outputs.NODE_VERSION }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ steps.nvm.outputs.NODE_VERSION }}

      - name: Rake Build
        run: bundle exec rake build
        
      - name: Run tests
        run: bundle exec rake test:all
