@import 'color.scss';

@mixin controlButton {
  float: left;
  font-size: 15px;
  width: 140px;
  background-color: $orange;
  border-color: $orange;
  font-family: "Gotham 5r";
  padding: 5px 12px;
  margin: 5px 0 5px 5px;
  justify-content: center;

  &:hover {
    color: $white;
    box-shadow: none;
  }
}

.button {
  &Orange {
    @include controlButton;
  }

  &Blue {
    @include controlButton;
    background-color: $cyan;
    border-color: $cyan;
  }

  &White {
    @include controlButton;
    background-color: $white;
    border-color: $dark_charcoal;
    color: $dark_charcoal;

    &:hover {
      color: $dark_charcoal;
    }
  }
}

// for JavalabSettings (selected, main, dropdown)
.selected {
  background-color: $lightest_gray;
  border-color: $lightest_gray;
  color: $dark_charcoal;
}

.main {
  display: inline-block;
  float: left;
}

.dropdown {
  bottom: 40px;
  margin-left: 5px;
}

.leftButtons {
  float: left;
}

.rightButtons {
  float: right;
}
