@use 'control-buttons.module';
@import 'color.scss';

.selected {
  background-color: $lightest_gray;
  border-color: $lightest_gray;
  color: $dark_charcoal;
}

.main {
  display: inline-block;
  float: left;
}

.dropdown {
  bottom: 40px;
  margin-left: 5px;
}
