%p
  Hi
  = @application.first_name + ","

%p
  Thank you for joining an interview for Code.org's facilitator program. Our
  team appreciated the opportunity to review your application, and learn about
  your commitment to Computer Science education. I'm writing to let you know
  that all seats in the program have been filled, so we are currently unable to
  offer you a space in the Facilitator Development Program this year.

%p
  Please don't hesitate to continue to access all of our free resources and
  materials for educators at code.org/educate. We wish you the best this year!

%p
  Sarah Fairweather
  %br
  Education Team Program Manager
  %br
  Code.org
