%p
  Hi
  = @application.first_name + ","

%p
  Thank you for joining an interview for Code.org's facilitator program. Our
  team appreciated the chance to talk with you and learn more about your
  interest in this program. I'm writing to let you know that all seats in the
  program have been filled, so we are currently unable to offer you a space in
  the Facilitator Development Program this year. However, we would like to offer
  you a space on our waitlist should a space become available.

%p
  Please respond to this message to let us know if you would like to join the
  waitlist, or if you would like to withdraw your application from
  consideration.

%p
  Thank you,
%p
  Sarah Fairweather
  %br
  Education Team Program Manager
  %br
  Code.org
