-# FontAwesome icons
- icon_user = "fa-solid fa-user"
- icon_arrow_up_wide_short = "fa-solid fa-arrow-up-wide-short"
- icon_paintbrush = "fa-solid fa-paintbrush"
- icon_desktop = "fa-solid fa-desktop"
- icon_globe = "fa-solid fa-globe"
- icon_language = "fa-solid fa-language"
- icon_universal_access = "fa-solid fa-universal-access"

- items_index = 7
- icons = [icon_user, icon_arrow_up_wide_short, icon_paintbrush, icon_desktop, icon_globe, icon_language, icon_universal_access]
- labels = [hoc_s("tools_pages_shared.glance.titles.ages"), hoc_s("tools_pages_shared.glance.titles.level"), hoc_s("tools_pages_shared.glance.titles.make"), hoc_s("tools_pages_shared.glance.titles.devices"), hoc_s("tools_pages_shared.glance.titles.browsers"), hoc_s("tools_pages_shared.glance.titles.languages"), hoc_s("tools_pages_shared.glance.titles.accessibility")]
- descriptions = [ages, level, make, devices, browsers, languages, accessibility]

.at-a-glance{style: "margin-block: 2rem"}
  %ul.two-col
    - items_index.times do |index|
      - unless descriptions[index].nil?
        %li
          %i{class: "#{icons[index]}"}
          %p
            %strong
              = labels[index]
            #{descriptions[index]}
