:ruby
  block_items = [
    {
      overline: hoc_s("teach_labs_section.musiclab.overline"),
      title: hoc_s("teach_labs_section.musiclab.title"),
      what_you_can_make: hoc_s("teach_labs_section.musiclab.what_you_can_make"),
      experience: hoc_s("teach_labs_section.musiclab.experience"),
      img: "images/action-blocks/action-block-music-lab.png",
      primary_label: hoc_s("teach_labs_section.musiclab.call_to_action_learn_more"),
      primary_url: "/music",
      primary_aria_label: hoc_s("teach_labs_section.musiclab.aria_label_learn_more"),
      secondary_label: hoc_s("teach_labs_section.musiclab.call_to_action_try"),
      secondary_url: CDO.studio_url("/s/music-intro-2024/reset"),
      secondary_aria_label: hoc_s("teach_labs_section.musiclab.call_to_action_try"),
    },
    {
      overline: hoc_s("teach_labs_section.spritelab.overline"),
      title: hoc_s("teach_labs_section.spritelab.title"),
      what_you_can_make: hoc_s("teach_labs_section.spritelab.what_you_can_make"),
      experience: hoc_s("teach_labs_section.spritelab.experience"),
      img: "images/build-your-way-spritelab.png",
      primary_label: hoc_s("teach_labs_section.spritelab.call_to_action_learn_more"),
      primary_url: "/educate/spritelab",
      primary_aria_label: hoc_s("teach_labs_section.spritelab.aria_label_learn_more"),
      secondary_label: hoc_s("teach_labs_section.spritelab.call_to_action_try"),
      secondary_url: CDO.studio_url("/projects/spritelab/new"),
      secondary_aria_label: hoc_s("teach_labs_section.spritelab.call_to_action_try"),
    },
    {
      overline: hoc_s("teach_labs_section.gamelab.overline"),
      title: hoc_s("teach_labs_section.gamelab.title"),
      what_you_can_make: hoc_s("teach_labs_section.gamelab.what_you_can_make"),
      experience: hoc_s("teach_labs_section.gamelab.experience"),
      img: "images/game-lab-banner.png",
      primary_label: hoc_s("teach_labs_section.gamelab.call_to_action_learn_more"),
      primary_url: "/educate/gamelab",
      primary_aria_label: hoc_s("teach_labs_section.gamelab.aria_label_learn_more"),
      secondary_label: hoc_s("teach_labs_section.gamelab.call_to_action_try"),
      secondary_url: CDO.studio_url("/projects/gamelab/new"),
      secondary_aria_label: hoc_s("teach_labs_section.gamelab.call_to_action_try"),
    },
    {
      overline: hoc_s("teach_labs_section.applab.overline"),
      title: hoc_s("teach_labs_section.applab.title"),
      what_you_can_make: hoc_s("teach_labs_section.applab.what_you_can_make"),
      experience: hoc_s("teach_labs_section.applab.experience"),
      img: "/images/build-your-way-applab.png",
      primary_label: hoc_s("teach_labs_section.applab.call_to_action_learn_more"),
      primary_url: "/educate/applab",
      primary_aria_label: hoc_s("teach_labs_section.applab.aria_label_learn_more"),
      secondary_label: hoc_s("teach_labs_section.applab.call_to_action_try"),
      secondary_url: CDO.studio_url("/projects/applab/new"),
      secondary_aria_label: hoc_s("teach_labs_section.applab.call_to_action_try"),
    },
    {
      overline: hoc_s("teach_labs_section.weblab.overline"),
      title: hoc_s("teach_labs_section.weblab.title"),
      what_you_can_make: hoc_s("teach_labs_section.weblab.what_you_can_make"),
      experience: hoc_s("teach_labs_section.weblab.experience"),
      img: "images/web-lab-banner.png",
      primary_label: hoc_s("teach_labs_section.weblab.call_to_action_learn_more"),
      primary_url: "/educate/weblab",
      primary_aria_label: hoc_s("teach_labs_section.weblab.aria_label_learn_more"),
      secondary_label: hoc_s("teach_labs_section.weblab.call_to_action_try"),
      secondary_url: CDO.studio_url("/p/weblab"),
      secondary_aria_label: hoc_s("teach_labs_section.weblab.call_to_action_try"),
    },
  ]

