.container {
  display: inline-flex;
  flex-direction: column;
  gap: 0.5rem;
}

.fileList {
  display: flex;
  flex-direction: column;
  gap: 0.375rem;
}

.buttonContainer {
  display: flex;
  gap: 8px;
}

.actionButton {
  flex: 1;
}

