---
title: Code.org Regional Partner Program
nav: plc_regional_partner_nav
---

# Regional Partner Program

## About the Program

Code.org partners with select United States-based organizations to help spread computer science in a local, sustainable fashion. Our network of Regional Partners are working towards the goal that every student in every school should have the opportunity to learn computer science. As an established K-12 computer science hub for their region, Regional Partners offer professional learning opportunities for teachers and building a strong local community.

The current network includes 57 partners representing 49 states. 

<div style="clear: both;"></div>

## What do Regional Partners do?
- Serve as their region’s hub for K-12 computer science
- Build partnerships with local districts and schools to increase student access to computer science courses
- Organize and host quality, local workshops for teachers implementing Code.org’s high school and middle school programs, with Code.org-trained facilitators
- Provide tools and resources to local school administrators and counselors, through specialized workshops
- Establish, grow, and sustain a local community of computer science educators through computer science fairs and community events

<a name="locations"></a>
## Where does Code.org have partners?

Click on a location for more information on the region and the Regional Partner who serves that area. 
<br>
[Complete this form to contact your Regional Partner](/educate/professional-learning/contact-regional-partner).
<br>

<iframe src="https://www.google.com/maps/d/u/0/embed?mid=1dKLjL6y3AKo45c7weK__JI3sxijfbmzq" width="640" height="480"></iframe>
