---
title: Regional Partner Virtual Playbook
theme: responsive
noindex: true
---

%script{src: webpack_asset_path('js/code.org/public/educate/regional-partner/playbook.js')}

#regional-partner-playbook
