=form_for(@task, url: plc_task_path(@task)) do |f|
  .field
    = render partial: 'plc/tasks/edit/common_editable', locals: {f: f}
    = f.label :assignment_description
    = f.text_area :assignment_description, rows: 10, style: 'width: 100%'

  .actions
    = f.submit 'Save'
