-# This is the entry-point for the old teacher dashboard served from pegasus.
-# It now redirects all users to the new teacher dashboard served from dashboard.
- data = {}
- data[:studio_url] = CDO.studio_url('', CDO.default_scheme)
%script{src: webpack_asset_path('js/code.org/public/teacher-dashboard/index.js'), data: {teacherdashboard: data.to_json}}
