---
layout: none
theme: none
content-type: text/ng-template
---

#nav{"ng-show"=>"section.id"}
  #goback{style: "float:left"}
    %div
      %span{style: "color: #00adbc; font-size: 25px; font-weight: 700; margin-right: 8px; line-height: 25px;"} &#8249;
      %a{"ng-href" => CDO.studio_url("/home/#classroom-sections"), style:"color:#00adbc;font-size:14px;font-family:'Gotham 4r';font-weight: 700; line-height: 25px; text-decoration: none"}=I18n.t('view_all_sections')
      %div{style: "font-size: 24px; font-weight: 'bolder'; padding: 12px;"}= '{{section.name}}'

  .section-select{style: "float:right"}
    = I18n.t('dashboard_sections_switch_section')
    %select{ 'ng-model' => 'selectedSection',
             'ng-options' => 'section as section.name for section in sections | filter:{hidden:false}',
             'ng-change' => 'sectionNavigate(selectedSection)'}

  %br/
  %br/

  #learn-tabs{"ng-show"=>"section.id", "ng-hide"=>"!section || section.login_type === 'email' && section.students.length <= 0", style: "padding-top:5px; padding-left:20px; padding-right:20px; background-color:white; background-color: rgb(219, 219, 219); overflow: hidden; margin-bottom: 10px;"}
    %ul.nav.nav-tabs{style: "float: left;"}
      %li{'ng-show' => 'section && section.students.length > 0 && !editingAll(section.students)',
          'ng-class' => 'tab == "progress" ? "active tab" : "tab"'}
        %a{'ng-href' => "#/sections/{{section.id}}/progress"}= I18n.t('dashboard_navigation_view_progress')

      %li{'ng-show' => 'section && section.students.length > 0 && !editingAll(section.students)',
          'ng-class' => 'tab == "responses" ? "active tab" : "tab"'}
        %a{'ng-href' => "#/sections/{{section.id}}/responses"}= I18n.t('dashboard_navigation_view_text_responses')

      %li{'ng-show' => 'section && section.students.length > 0 && !editingAll(section.students)',
          'ng-class' => 'tab == "assessments" ? "active tab" : "tab"'}
        %a{'ng-href' => "#/sections/{{section.id}}/assessments"}= I18n.t('dashboard_navigation_view_assessments_surveys')

      %li{'ng-show' => 'section && section.students.length > 0 && !editingAll(section.students)',
          'ng-class' => 'tab == "projects" ? "active tab" : "tab"'}
        %a{'ng-href' => "#/sections/{{section.id}}/projects"}= 'Projects'

      %li{'ng-show' => 'section && section.students.length > 0 && !editingAll(section.students)',
          'ng-class' => 'tab == "stats" ? "active tab" : "tab"'}
        %a{'ng-href' => "#/sections/{{section.id}}/stats"}= I18n.t('dashboard_navigation_view_stats')

      %li{'ng-show' => 'section && !editingAll(section.students)',
          'ng-class' => 'tab == "manage" ? "active tab" : "tab"'}
        %a{'ng-href' => "#/sections/{{section.id}}/manage"}= I18n.t('dashboard_navigation_manage_students')

      %div{'ng-show' => 'section && editingAll(section.students)', style: "height:40px"}
        -# Just an invisible element for some padding to keep things looking good when we're not showing tabs.
        &nbsp;

  .managebuttons{style: "margin-bottom: 9px;", "ng-if" => "tab == 'manage' && teacher_managed_section(section)"}
    %button.btn.btn-gray-override{"ng-click" => "showModal()", "ng-controller" => "MovingStudentsController"}= I18n.t('dashboard_sections_move_students')

.clear

:javascript
  $(
    $("#section_id").change(function() {
      var section_id = $("#section_id").val();
      var section_url = "/sections/" + section_id;
      window.location.href = section_url;
      //$("#learn-tabs").hide().fadeIn();
    })
  );
