---
layout: none
theme: none
---
%div{"ng-controller" => "PlanDetailController"}

  %div
    %br/
    %a{href: '/teacher-dashboard#/'}= I18n.t('dashboard_navigation_home_page')
    %span{style: "opacity:0.5"} &nbsp; &#9654; &nbsp;
    %b{style: "color: #ff8b02;"}= I18n.t('dashboard_navigation_all_sections')
    %br/


  %div{style: "clear:both"}

  = view :teacher_notices