---
layout: none
theme: none
content-type: text/ng-template
---

%div
  %br/
  %div{"teacher-nav" => ""}
  %div{"ng-include"=>"", "ng-if" => "tab == 'manage'", src: "'teacher-dashboard/section_manage'"}
  %div{"ng-include"=>"", "ng-if" => "tab == 'progress'", src: "'teacher-dashboard/section_progress'"}
  %div{"ng-include"=>"", "ng-if" => "tab == 'stats'", src: "'teacher-dashboard/section_stats'"}
  %div{"ng-include"=>"", "ng-if" => "tab == 'responses'", src: "'teacher-dashboard/section_responses'"}
  %div{"ng-include"=>"", "ng-if" => "tab == 'assessments'", src: "'teacher-dashboard/section_assessments'"}

  -#
    .debug
      %h2 DEBUG
      %pre
        {{section | json}}
