---
layout: none
theme: none
content-type: text/ng-template
---

%div
  %br/
  #goback{style: "float:left"}
    %div
      %span{style: "color: #00adbc; font-size: 18px; font-weight: 'bold';"} &nbsp; &#8249; &nbsp;
      %a{"ng-href" => CDO.studio_url("/home/#classroom-sections"), style:"color:#00adbc;font-size:14px;font-family:'Gotham 4r';font-weight:'bold';"}=I18n.t('view_all_sections')
      %span{style: "color: #00adbc; font-size: 18px; font-weight: 'bold';"} &nbsp; &#8249; &nbsp;
      %a{href: '/teacher-dashboard#/sections/{{section.id}}', style:"color:#00adbc;font-size:14px;font-family:'Gotham 4r';font-weight:'bold';"}= I18n.t('view_named_section', section_name: '{{section.name}}')

%h1= I18n.t('dashboard_progress_student_in_script', student_name: '{{progress.student.name}}', script_name: '{{progress.script.name}}')

%div
  = I18n.t('dashboard_progress_view')
  %select{"id" => "course-dropdown", "ng-model" => "script_id", "ng-options"=>"script.id as script.name group by script.category for script in script_list | orderBy:['category_priority', 'category', 'position', 'name']", 'ng-change' => 'changeProgress(script_id)'}
%br

%div{'ng-bind-html' => 'progress.progressHtml | htmlSafe'}
